﻿<div ng-controller="BoxContentController" class="box-content">
    <div class="in-progress-tb">
        <div class="in-progress-tb-top">
            <label>
                {{content.Header}} <span ng-click="Reload()">
                    <i ng-class="{'fa fa-refresh fa-spin fa-fw margin-bottom':!documents,'fa fa-refresh  fa-fw margin-bottom':documents}"></i>
                </span>
            </label>

            <div class="inprogress-search">
                <!--<input type="text" class="form-control" placeholder="Search . . ." ng-model="formData.searchKeyword" />-->
                <div class="input-group">
                    <input type="hidden" ng-model="filtered">
                    <input type="text" class="form-control" placeholder="{{Text['BE_EDUCATIONALLOWANCE'].SEARCH_DATA}} . . ." ng-model="filtered">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="body_content" style="margin-bottom:0px;">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" style="overflow-x:hidden; padding-bottom:4rem;">
            <div class="-pad10"></div>
            <!-- warning text -->
            <div class="row timedetail_item" ng-show="showWarning">
                <div class="col-sm-11 -col_centered detail_item-fyi -tab-org">
                    <div class="row">
                        <div class="col-xs-1 -pad0"> <span style="font-size:26px;" class="glyphicon glyphicon-info-sign -txt-white"></span></div>
                        <div class="col-md-11 col-xs-9 -padleft0">
                            <p style="font-size:14px;" class="-txt-white">{{ getWarningText(Text['SYSTEM'].PLESE_SELECT_MASSPROCESS) }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- !warning text -->
            <!--<div class="bar-content" ng-hide="Actions.length == 1 && Actions[0].ActionCode == 'ALL'">
                <div class="row" ng-show="CheckRequestType() && Actions.length > 0" style="overflow:hidden;margin-bottom: 15px;">
                    <div class="col-md-2">
                        <div class="bar_left bar-content-checkbox-appove ">
                            <div class="checkbox">
                                <input id="chkRequestAll" class="styled" type="checkbox" ng-model="selectRequest.All" />
                                <label for="chkRequestAll" style="color: #333;margin-top: 6px;">
                                    {{ Text['SYSTEM']['SELECTALL']}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="bar_right" style="padding:0px;" ng-if="Actions.length>1">
                            <div class="item-btn" style="height: 55px; text-align: center; line-height: 56px;">
                                <div class="itemin_btn " style="width: 80px;" ng-click="ActionFromDocument()"> {{ Text['SYSTEM']['MASSPROCESS']}}</div>
                            </div>
                        </div>
                        <div class="bar_right float-right" style="padding:0px;" ng-if="Actions.length==1">
                            <div class="item-btn center" style="height: 50px; text-align: center;">
                                <div class="itemin_btn " style="width: 75px;height: 42px;line-height: 1;border-radius: 5px;" ng-click="ActionFromDocument()"> {{ Actions[0].ActionText}}</div>
                            </div>
                        </div>
                        <div class="bar_right barright_dropdown" style="padding:0;" ng-if="Actions.length > 1">
                            <div class="dropdown">
                                <select ng-model="Action"
                                        ng-options="t.ActionText for t in Actions"
                                        ng-change="filterDocumentByAction()"
                                        class="form-control btn btnd btn-default dropdown-toggle dropdown_login"
                                        style="margin:0;"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--<pre>{{Actions |json}}</pre>-->
            <div class="bar-content" style="margin-bottom:10px;">
                <div class="row" ng-if=" Actions[0].ActionCode == 'APPROVE' && Actions.length > 1">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <span class="span_name">{{ Text['SYSTEM'].POSITION }}</span>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div style="position:relative;">
                            <md-autocomplete class="blocked-cross-btn" theme="bootstrap" style="font-size:16px;"
                                             ng-click="tryToSelect_Position(auto_complete.ap_pdr_Position,-1)"
                                             ng-blur="checkText_Position(auto_complete.ap_pdr_Position,-1)"
                                             md-no-cache="true"
                                             md-search-text="auto_complete.ap_pdr_Position"
                                             md-selected-itemd="selected_position"
                                             md-selected-item-change="selectedItemPositionChange(item,-1)"
                                             md-items="item in querySearchPosition(auto_complete.ap_pdr_Position,-1)"
                                             md-item-text="item.PositionName"
                                             md-min-length="0"
                                             placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">
                                <md-item-template>
                                    <span md-highlight-text="auto_complete.ap_pdr_Position" md-highlight-flags="^i">{{item.PositionID}} : {{item.PositionName}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No states matching "{{auto_complete.ap_pdr_Position}}" was found.
                                </md-not-found>
                            </md-autocomplete>
                            <i class="caret pull-right" style=" position: absolute; right: 12px; top: 20px;color:black;"></i>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <span class="span_name" style="margin-left:15px;">{{ Text['SYSTEM'].POSITION }}</span>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div style="position:relative;">
                            <md-autocomplete class="blocked-cross-btn" theme="bootstrap" style="font-size:16px;"
                                             ng-click="tryToSelect_Position(auto_complete.ap_pdr_Position,-1)"
                                             ng-blur="checkText_Position(auto_complete.ap_pdr_Position,-1)"
                                             md-no-cache="true"
                                             md-search-text="auto_complete.ap_pdr_Position"
                                             md-selected-itemd="selected_position"
                                             md-selected-item-change="selectedItemPositionChange(item,-1)"
                                             md-items="item in querySearchPosition(auto_complete.ap_pdr_Position,-1)"
                                             md-item-text="item.PositionName"
                                             md-min-length="0"
                                             placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">
                                <md-item-template>
                                    <span md-highlight-text="auto_complete.ap_pdr_Position" md-highlight-flags="^i">{{item.PositionName}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No states matching "{{auto_complete.ap_pdr_Position}}" was found.
                                </md-not-found>
                            </md-autocomplete>
                            <i class="caret pull-right" style=" position: absolute; right: 12px; top: 20px;color:black;"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bar-content" ng-hide="Actions.length == 1 && Actions[0].ActionCode == 'ALL'" style="margin-bottom:10px;">
                <div class="row" ng-show="CheckRequestType() && Actions.length > 0">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="bar_left bar-content-checkbox-appove">
                            <div class="checkbox">
                                <input id="chkRequestAll" class="styled" type="checkbox" ng-model="selectRequest.All" />
                                <label for="chkRequestAll" style="color: #333;">
                                    {{ Text['SYSTEM']['SELECTALL']}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3" ng-if="Actions.length > 1">
                        <select ng-model="Action"
                                ng-options="t.ActionText for t in Actions"
                                ng-change="filterDocumentByAction()"
                                class="form-control"
                                style="margin:0;"></select>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3" ng-if="Actions.length > 1">
                        <button class="btn btn-primary"  ng-click="ActionFromDocument()">{{Text['SYSTEM']['MASSPROCESS']}}</button>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3" ng-if="Actions.length == 1">
                        <button class="btn btn-primary"  ng-click="ActionFromDocument()">{{ Actions[0].ActionText}}</button>
                    </div>
                </div>
            </div>

            <div class="body_content">
                <!--<div ng-if=" Actions[0].ActionCode == 'APPROVE' && Actions.length > 1">
                    <div class="row itemlist_block">
                        <div>
                            <div class="itemlist">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <span class="span_name">{{ Text['SYSTEM'].POSITION }}</span>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div style="position:relative;">
                                            <md-autocomplete class="blocked-cross-btn" theme="bootstrap" style="font-size:16px;"
                                                             ng-click="tryToSelect_Position(auto_complete.ap_pdr_Position,-1)"
                                                             ng-blur="checkText_Position(auto_complete.ap_pdr_Position,-1)"
                                                             md-no-cache="true"
                                                             md-search-text="auto_complete.ap_pdr_Position"
                                                             md-selected-itemd="selected_position"
                                                             md-selected-item-change="selectedItemPositionChange(item,-1)"
                                                             md-items="item in querySearchPosition(auto_complete.ap_pdr_Position,-1)"
                                                             md-item-text="item.PositionName"
                                                             md-min-length="0"
                                                             placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">
                                                <md-item-template>
                                                    <span md-highlight-text="auto_complete.ap_pdr_Position" md-highlight-flags="^i">{{item.PositionID}} : {{item.PositionName}}</span>
                                                </md-item-template>
                                                <md-not-found>
                                                    No states matching "{{auto_complete.ap_pdr_Position}}" was found.
                                                </md-not-found>
                                            </md-autocomplete>
                                            <i class="caret pull-right" style=" position: absolute; right: 12px; top: 20px;color:black;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="body_content " style="border-top-left-radius: 4px;border-top-right-radius: 4px;">

                    <!--<div class="row itemlist_block" style="position: relative; padding-top: 25px; border-top-style: solid; background: #289efe;" ng-if="Actions.length > 1 && Actions[0].ActionCode == 'ALL'">
                        <div>
                            <div class="itemlist">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <span class="span_name" style="color: white;">{{ Text['SYSTEM'].POSITION }}</span>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div style="position:relative;">
                                            <md-autocomplete class="blocked-cross-btn" theme="bootstrap" style="font-size:16px;"
                                                             ng-click="tryToSelect_Position(auto_complete.ap_pdr_Position,-1)"
                                                             ng-blur="checkText_Position(auto_complete.ap_pdr_Position,-1)"
                                                             md-no-cache="true"
                                                             md-search-text="auto_complete.ap_pdr_Position"
                                                             md-selected-itemd="selected_position"
                                                             md-selected-item-change="selectedItemPositionChange(item,-1)"
                                                             md-items="item in querySearchPosition(auto_complete.ap_pdr_Position,-1)"
                                                             md-item-text="item.PositionName"
                                                             md-min-length="0"
                                                             placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">
                                                <md-item-template>
                                                    <span md-highlight-text="auto_complete.ap_pdr_Position" md-highlight-flags="^i">{{item.PositionName}}</span>
                                                </md-item-template>
                                                <md-not-found>
                                                    No states matching "{{auto_complete.ap_pdr_Position}}" was found.
                                                </md-not-found>
                                            </md-autocomplete>
                                            <i class="caret pull-right" style=" position: absolute; right: 12px; top: 20px;color:black;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <div class="row list-box-item ViewContent_block" style="position: relative; padding-top: 25px;" ng-repeat="document in genDatas(filtered)" ng-style="!CheckRequestType() ? { 'padding-top':'25px' } : ''">
                        <div class="fag_floating" style=" position: absolute; top: 0; left: 0; z-index: 1;">
                            <i class="fa fa-bookmark" aria-hidden="true" style="font-size: 25px; margin-left: 2px; " ng-repeat="fag in searchOption" ng-style="{color: fag.Color}" ng-if="checkContainFag(document,fag)">
                                <md-tooltip md-direction="bottom" class="em-font" style="font-size:17px">
                                    {{fag.FlagName}}
                                </md-tooltip>
                            </i>
                        </div>
                        <div class="col-md-12">
                            <div class="itemlist clickable" style="outline:none;" ng-click="openRequest(document.RequestNo,document.RequestorCompanyCode, document.KeyMaster, document.IsOwnerView, document.IsDataOwnerView, requestType)">
                                <div class="row align-items-center">
                                    <div class="col-lg-8">
                                        <div class="checkbox" ng-show="CheckRequestType();" style="display:inline-block;" ng-click="$event.stopPropagation()">
                                            <input id="chk{{$index + 1}}" class="styled" type="checkbox" value="{{document.RequestNo + ',' + document.KeyMaster+ ','+document.RequestorCompanyCode+','+document.ReceipientCode }}" ng-checked="selectRequest.All" requestdoc-isselect />
                                            <label for="">
                                            </label>
                                        </div>
                                        <span class="itemin_sortnum" style="color:black"> {{ (pagin.currentPage-1) * pagin.itemPerPage + ($index + 1)}}  / {{iDocLength}} </span><!--{{genDatas(filtered).length}}-->
                                        <p class="itemin_nametask">{{document.Summary}}</p>
                                    </div>

                                    <div class="col-lg-4 date_time">
                                        <div ng-if="document.LastActionText" style="color:black" ng-click="openRequest(document.RequestNo,document.RequestorCompanyCode, document.KeyMaster, document.IsOwnerView, document.IsDataOwnerView, requestType)">
                                            <span class="icon-pencil_line ico_edit"></span>{{document.LastActionDate | date:'d/M/yyyy H:mm'}}
                                        </div>
                                        <div ng-if="!document.LastActionText" style="color:black" ng-click="openRequest(document.RequestNo,document.RequestorCompanyCode, document.KeyMaster, document.IsOwnerView, document.IsDataOwnerView, requestType)">
                                            <span class="icon-pencil_line ico_edit"></span>{{document.LastActionDate | date:'d/M/yyyy H:mm'}}
                                        </div>
                                    </div>
                                </div>

                                <div class="row align-items-center">
                                    <div class="col-lg-12">
                                        <div class="item-name">
                                            <!--<span class="itemin_nameid" style="color:black">{{document.RequestorNo}} - {{document.RequestorName}} ({{document.CompanyShortName}}) ({{document.OrgName}})</span>-->
                                            <span class="itemin_nameid" style="color:black">{{document.RequestorNo}} - {{document.RequestorName}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row align-items-center">
                                    <div class="col-lg-12">
                                        <span class="PositionName">{{ Text['SYSTEM'].POSITION }} : {{document.RequestorPositionName}}</span>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-lg-12">
                                        <span class="PositionName">{{document.CompanyShortName}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="line"></div>
                                    </div>
                                </div>

                                <div class="row align-items-center">
                                    <div class="col-lg-12">
                                        <div class="item-desc">
                                            <span class="itemin_desc" style="color:black">{{document.RequestNo}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-status">
                            <div class="itemin_tabstatus {{document.ColorCode}}" style="width: 12rem; padding: 3px 3px 3px 3px;"><span>{{document.Status}}</span></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- No data -->
            <div ng-if="data.length == 0 || genDatas(filtered).length == 0" class="body_content" style="border-top-left-radius: 4px;border-top-right-radius: 4px;padding:5px;">
                <div class="col-md-12">
                    <div class="itemlist">
                        <div class=" item-name">
                            <p class="itemin_nametask" style="line-height:3;">{{ Text['SYSTEM']['NO_DATA'] }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Loading data -->
            <div ng-if="!documents" class="body_content" style="border-top-left-radius: 4px;border-top-right-radius: 4px;padding:15px 5px 15px 5px;">
                <div class="col-md-12">
                    <div class="itemlist">
                        <div class=" item-name">
                            <p class="itemin_nametask" style="line-height:3;">
                                <img src="images/loading_small.gif" style="margin-right:10px" /> {{ Text['SYSTEM']['LOADING'] }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>


        </div>
        <div class="row contentPagination" style="position:absolute;" id="paggingWidth" ng-show="genDatas(filtered).length > 0">
            <div class="col-md-12 -col_centered contentPagein">

                <div style="outline:none;" class="page-prev " ng-if="pagin.currentPage > 1" ng-click="changePageBack(pagin.currentPage-1)"><a><span class="icon-arrow_line_left"></span></a></div>
                <div style="outline:none;" class="page-prev " ng-if="pagin.currentPage <= 1"><a></a></div>

                <div class="page-pagenum" style="    margin-top: -2px;">
                    <ul>
                        <li ng-if="pagin.currentPage > view_pages_setting" ng-click="backStep()"style="margin-left:10px;">...</li>
                        <li ng-repeat="page in pages" ng-click="changePage(page)" style="margin-left:10px;" class="{{pagin.currentPage == page ? 'page-current' : ''}}">{{page}}</li>
                        <li ng-hide="pages.length < view_pages_setting" ng-click="nextStep()" style="margin-left:10px;">...</li>
                    </ul>
                </div>

                <div style="outline:none;" class="page-next" ng-if="pagin.currentPage  < pagin.numPage" ng-click="changePageNext(pagin.currentPage+1)"> <a><span class="icon-arrow_line_right"></span></a></div>
                <div style="outline:none;" class="page-next " ng-if="pagin.currentPage  >= pagin.numPage"><a></a></div>
            </div>
        </div>

    </div>
</div>
<style>

    /* with flag
            .bar_searchactive {
            margin-top: 0 !important;
            height: 16rem !important;
        }*/
    /* without falg*/
    .bar_searchactive {
        margin-top: 0 !important;
        height: 5rem !important;
    }

    .bar_search {
        height: 7rem;
        margin-top: -7rem;
    }

    .option-item {
        text-align: center;
    }

    .faa-shake.animated {
        -webkit-animation: none !important;
        animation: none !important;
    }

    @media only screen and (max-width: 990px) {
        .bar_search {
            height: 6rem;
            margin-top: -6rem;
        }

        /*with flag
                .bar_searchactive {
                margin-top: 0 !important;
                height: 19rem !important;
            }*/
        /* without falg*/
        .bar_searchactive {
            margin-top: 0 !important;
            height: 5rem !important;
        }

        .option-item {
            text-align: left;
        }
    }
</style>
