﻿<div ng-controller="DxCareSSOController" ng-init="init()"style="text-align: center;padding: 100px;font-size: 38px;">

    DxCare Will open in a new tab
   
</div>
<div  style="text-align: center;padding: 100px;font-size: 20px; color:red;">

       Please make sure that your pop-up blocker is allow for this website.

</div>