﻿<div ng-controller="CremationViewerController" ng-init="init();">

    <!-- After -->
    <!-- การเบิกเงินช่วยเหลืองานฌาปนกิจสงเคราะห์ -->
    <div class="content-by-ayodia margin-b20">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['BE_CREMATION'].T_DEADINFO}}
            </div>
        </div>
        <div class="ayodia-body-content">

            <!-- วันที่ถึงแก่กรรม -->
            <div class="row">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['BE_CREMATION'].T_DEADDAY}}:
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input">{{document.Additional.BEBereavementInfo.BereavementDate}}</div>
                </div>
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['BE_CREMATION'].T_RESPONSIBLEPERSON}}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input">
                        <span ng-if="document.Additional.BEBereavementInfo.ResponsibleFuneral == 1">{{Text['BE_CREMATION'].T_RESPONSIBLEPERSON1}}</span>
                        <span ng-if="document.Additional.BEBereavementInfo.ResponsibleFuneral == 2">{{Text['BE_CREMATION'].T_RESPONSIBLEPERSON2}}</span>
                        <span ng-if="document.Additional.BEBereavementInfo.ResponsibleFuneral == 3">{{Text['BE_CREMATION'].T_RESPONSIBLEPERSON3}}</span>
                    </div>
                </div>
            </div>


            <!--ข้อมูลผู้เสียชีวิต-->
            <div class="row show-pc">
                <div class="col-sm-12 margin-b10">
                    <div class="text-basic-md-center-input color-main">
                        รายละเอียดผู้เสียชีวิต
                    </div>
                </div>
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center">ลำดับที่</th>
                            <th class="text-center" width="400px;">{{Text['BE_CREMATION'].T_DEADNAME}}</th>
                            <th class="text-center">{{Text['BE_CREMATION'].T_AMOUNT}}</th>
                            <th class="text-center">{{Text['BE_CREMATION'].T_COMMUTATION}}</th>
                            <th class="text-center">{{Text['BE_CREMATION'].T_TOTAL}}</th>
                            <th class="text-center" ng-if="document.Additional.BEBereavementInfo.RoleAdmin == 1">เสียชีวิตจาการทำงาน</th>
                        </tr>
                        <tr class="t-body" ng-repeat="item in CremationInfo">
                            <td class="font-16 text-center">{{$index + 1}}</td>
                            <td class="font-16 text-center">
                                <select class="form-control" disabled ng-show="document.Additional.FamilyData.length > 0">
                                    <option>{{item.FirstName}}&nbsp;{{item.LastName}}</option>
                                </select>
                            </td>
                            <td class="font-16 text-center">
                                <input class="form-control" type="text" readonly value="{{item.SubsidyAmount | number}}" />
                            </td>
                            <td class="font-16 text-center">
                                <input class="form-control" type="text" readonly value="{{item.PaymentFuneralAmount | number}}" />

                            </td>
                            <td class="font-16 text-center">
                                <input class="form-control" type="text" readonly value="{{item.Amount | number}}" />
                            </td>
                            <td class="font-16 text-center" ng-if="document.Additional.BEBereavementInfo.RoleAdmin == 1">
                                <input type="checkbox"
                                       disabled
                                       ng-if="item.BereavementType == 0"
                                       ng-model="item.DeceasedInDuty" />
                            </td>
                        </tr>
                        <tr style="font-weight:bold;">
                            <td colspan="4" class="font-16 text-right" style="padding:15px 5px;">จำนวนเงินรวม</td>
                            <td class="font-16 text-center" style="padding:15px 5px;">
                                <input class="form-control" readonly value="{{document.Additional.BEBereavementInfo.TotalAmount | number}}" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="show-tablet">
                <div class="row margin-b-5">
                    <div class="col-xs-12">
                        <span class="text-basic-md-center-input color-main">{{Text['BE_CREMATION'].T_DEADINFO}}: <span style="color:red;">*</span></span>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="col-xs-12">
                        <table class="w-100 table-style-1 margin-b10 ">
                            <tr class="t-header">
                                <th class="text-center" style="padding: 7px;">ลำดับ</th>
                                <th class="text-center" style="padding: 7px;">{{Text['BE_CREMATION']['T_DEADNAME']}}</th>
                                <th class="text-center" style="padding: 7px;"></th>
                            </tr>
                            <tbody class="t-body-title" ng-repeat="item in CremationInfo" ng-init="item.open = false;">
                                <tr class="tb-m-padding-d-2 tb-style-m-1">
                                    <td class="text-center">
                                        <span class="font-14">1</span>
                                    </td>
                                    <td class="text-center">
                                        <select class="form-control font-14" disabled ng-show="document.Additional.FamilyData.length > 0">
                                            <option>{{item.FirstName}}&nbsp;{{item.LastName}}</option>
                                        </select>
                                    </td>
                                    <td class="font-12 text-center">
                                        <i class="fa fa-angle-down" ng-show="item.open == true" ng-click="item.open = false"></i>
                                        <i class="fa fa-angle-up" ng-show="item.open == false" ng-click="item.open = true"></i>
                                    </td>
                                </tr>
                                <tr class="tb-style-m-1 tb-m-padding-d" ng-if="item.open">
                                    <td class="" colspan="3">
                                        <div class="row margin-b-5">
                                            <div class="col-xs-4 text-center lr-3"><div class="w-100" style="background-color:#DDC1A6;">เงินที่ได้รับ</div> </div>
                                            <div class="col-xs-4 text-center lr-3"><div class="w-100" style="background-color:#DDC1A6;">เงินชดเชย</div> </div>
                                            <div class="col-xs-4 text-center lr-3"><div class="w-100" style="background-color:#DDC1A6;">รวม</div> </div>
                                        </div>
                                        <div class="row  margin-b10">
                                            <div class="col-xs-4 text-center lr-3 ">
                                                <div class="w-100 bg-13">
                                                    <input type="text" class="w-100 input-box font-14 mb-0 text-center" disabled value="{{item.SubsidyAmount | number}}">
                                                </div>
                                            </div>
                                            <div class="col-xs-4 text-center lr-3 ">
                                                <div class="w-100 bg-13">
                                                    <input type="text" class="w-100 input-box font-14 mb-0 text-center" disabled value="{{item.PaymentFuneralAmount | number}}">
                                                </div>
                                            </div>
                                            <div class="col-xs-4 text-center lr-3 ">
                                                <div class="w-100 bg-13">
                                                    <input type="text" class="w-100 input-box font-14 mb-0 text-center" disabled value="{{item.Amount | number}}">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tr style="font-weight:bold;">
                                <td colspan="3">
                                    <div class="col-xs-6 text-right margin-t10">จำนวนเงินรวม</div>
                                    <div class="col-xs-6" style="padding:10px;">
                                        <input class="form-control" readonly value="{{document.Additional.BEBereavementInfo.TotalAmount | number}}" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ข้อมูลการประกอบพิธีกรรมทางศาสนา -->
    <div class="content-by-ayodia margin-b20">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['BE_CREMATION'].T_RELIGIOUSINFO}}
            </div>
        </div>
        <div class="ayodia-body-content">

            <!-- ศาสนา -->
            <div class="row">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        ศาสนา
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input">
                        <span ng-if="document.Additional.BEBereavementInfo.ReligionId">{{Text['RELIGION']['document.Additional.BEBereavementInfo.ReligionId']}}</span>
                        <span ng-if="!document.Additional.BEBereavementInfo.ReligionId">-</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['BE_CREMATION'].T_FUNERALTYPE}}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input">
                        <span ng-if="document.Additional.BEBereavementInfo.FuneralType == 1">{{Text['BE_CREMATION'].T_FUNERAL1}}</span>
                        <span ng-if="document.Additional.BEBereavementInfo.FuneralType == 2">{{Text['BE_CREMATION'].T_FUNERAL2}}</span>
                    </div>
                </div>
            </div>

            <!-- วันที่ / เวลา -->
            <div class="row">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['BE_CREMATION'].T_BEGINDATE}}:
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input">
                        {{document.Additional.BEBereavementInfo.FuneralDate}}
                    </div>
                </div>
                <div class="col-sm-2">
                    <!-- กำนหวดสวดอภิธรรม -->
                    <div class="text-basic-md-center-input color-main">
                        {{Text['BE_CREMATION'].T_FUNERALPRAYER}}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input">
                        {{document.Additional.BEBereavementInfo.FuneralBeginDate}} - {{document.Additional.BEBereavementInfo.FuneralEndDate}}
                    </div>
                </div>
            </div>

            <!-- รายละเอียดสถานที่ -->
            <div class="row">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['BE_CREMATION'].T_LOCATION}}:
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input">{{document.Additional.BEBereavementInfo.PlaceDetail}}</div>
                </div>
            </div>

        </div>
    </div>

    <!-- กําหนดการฌาปนกิจ -->
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['BE_CREMATION'].T_DEFINECREMATION}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <!-- กําหนดการ: -->
            <div class="row">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['BE_CREMATION'].T_FUNERALTYPE}}:
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input">
                        <span ng-if="document.Additional.BEBereavementInfo.CremationType == 1">{{Text['BE_CREMATION'].T_DEFINECREMATION1}}</span>
                        <span ng-if="document.Additional.BEBereavementInfo.CremationType == 2">{{Text['BE_CREMATION'].T_DEFINECREMATION2}}</span>
                        <span ng-if="document.Additional.BEBereavementInfo.CremationType == 3">{{Text['BE_CREMATION'].T_DEFINECREMATION3}}</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        <!-- วันที่/เวลา -->
                        {{Text['BE_CREMATION'].T_BEGINDATE}}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input">
                        {{document.Additional.BEBereavementInfo.CremationDate}}
                    </div>
                </div>
            </div>

            <!-- รายละเอียดสถานที่ -->
            <div class="row">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['BE_CREMATION'].T_LOCATION}}:
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input">{{document.Additional.BEBereavementInfo.CremationPlace}}</div>
                </div>
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['BE_CREMATION'].T_WANTTOPR}}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input" ng-if="document.Additional.BEBereavementInfo.IsAllowPR == 1">{{Text['BE_CREMATION'].T_WANTTOPR1}}</div>
                    <div class="text-basic-md-center-input" ng-if="document.Additional.BEBereavementInfo.IsAllowPR == 2">{{Text['BE_CREMATION'].T_WANTTOPR2}}</div>
                </div>
            </div>

        </div>
    </div>

    <!-- ร่วมทำบุญได้ที่ (ส่วนนี้เฉพาะ GPSC เท่านั้น) -->
    <div class="content-by-ayodia margin-b20">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['BE_CREMATION'].T_BENEFACTION}} <span style="color:red;">{{Text['BE_CREMATION'].T_GPSCONLY}}</span>
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        <!-- เจ้าภาพแจ้งงดรับพวงหรีดดอกไม้: -->
                        {{Text['BE_CREMATION'].T_WREATH1}}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input" ng-if="document.Additional.BEBereavementInfo.Wreath == 1">{{Text['BE_CREMATION'].T_WREATH1}}</div>
                    <div class="text-basic-md-center-input" ng-if="document.Additional.BEBereavementInfo.Wreath == 2">{{Text['BE_CREMATION'].T_WREATH2}}</div>
                </div>
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        <!-- หน่วยงาน: -->
                        {{Text['BE_CREMATION'].T_DEPARTMENT}}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input">{{document.Additional.BEBereavementInfo.PresidentDepartment}}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        <!-- เป็นเจ้าภาพสวดพระอภิธรรม ในวันที่: -->
                        {{Text['BE_CREMATION'].T_LITURGYDAY}}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input">{{document.Additional.BEBereavementInfo.PresidentDate}}</div>
                </div>
            </div>

            <!-- ทั้งนี้ สามารถฝากเงินร่วมทําบุญให้กับเจ้าภาพ ได้ที่ -->
            <div class="row">
                <div class="col-sm-5">
                    <div class="text-basic-md-center-input" style="font-weight:bold;">
                        {{Text['BE_CREMATION'].T_DONATEPER}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['BE_CREMATION'].T_NAME}}:
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input" ng-if="document.Additional.BEBereavementInfo.ResponsibleName == null">-</div>
                    <div class="text-basic-md-center-input" ng-if="document.Additional.BEBereavementInfo.ResponsibleName != null">{{document.Additional.BEBereavementInfo.ResponsibleName}}</div>
                </div>
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['BE_CREMATION'].T_PART}}:
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input" ng-if="document.Additional.BEBereavementInfo.ResponsibleDepartment == null">-</div>
                    <div class="text-basic-md-center-input" ng-if="document.Additional.BEBereavementInfo.ResponsibleDepartment != null">{{document.Additional.BEBereavementInfo.ResponsibleDepartment}}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['BE_CREMATION'].T_TEL}}:
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input" ng-if="document.Additional.BEBereavementInfo.ResponsiblePhone == null">-</div>
                    <div class="text-basic-md-center-input" ng-if="document.Additional.BEBereavementInfo.ResponsiblePhone != null">{{document.Additional.BEBereavementInfo.ResponsiblePhone}}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5">
                    <div class="text-basic-md-center-input color-main" style="font-weight:bold;">
                        {{Text['BE_CREMATION'].T_ATTACHDOCUMENT}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<pre>{{document.Additional | json}}</pre>-->
</div>
