﻿<div ng-controller="CremationEditorController">

    <script type="text/ng-template" id="errorExportPdf.ng-popup.html">
        <div class="modal-body alert1">
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="text-center font-18">
                        <svg xmlns="http://www.w3.org/2000/svg" width="57" height="57" viewBox="0 0 57 57">
                            <rect style="fill: #ed2f2f;opacity:0;" width="57" height="57" />
                            <path style="fill: #ed2f2f;" d="M25.75,2A23.75,23.75,0,1,0,49.5,25.75,23.75,23.75,0,0,0,25.75,2Zm0,42.75a19,19,0,1,1,19-19A19,19,0,0,1,25.75,44.75Z" transform="translate(2.75 2.75)" />
                            <path style="fill: #ed2f2f;" d="M22.569,9.7a2.375,2.375,0,0,0-3.373,0l-3.064,3.088L13.069,9.7A2.385,2.385,0,0,0,9.7,13.069l3.087,3.064L9.7,19.2a2.385,2.385,0,1,0,3.372,3.373l3.064-3.088L19.2,22.569A2.385,2.385,0,1,0,22.569,19.2l-3.088-3.064,3.088-3.064a2.375,2.375,0,0,0,0-3.372Z" transform="translate(12.367 12.367)" />
                        </svg>
                    </div>
                    <div class="text-center font-18">
                        เลือกผู้เสียชีวิตซ้ำ
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer padding-t-none">
            <a class="m-btn-co btn-s-md" ng-click="closeModal()">
                <span class="">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ปิด&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </a>
        </div>
    </script>

    <!-- After -->
    <h1>สร้างรายการใหม่</h1>
    <!-- การเบิกเงินช่วยเหลืองานฌาปนกิจสงเคราะห์ -->
    <div class="content-by-ayodia margin-b20">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['BE_CREMATION'].T_CREMATION}}
            </div>
        </div>
        <div class="ayodia-body-content">

            <!-- วันที่ถึงแก่กรรม -->
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-3">
                        <div class="text-basic-md-center-input color-main">
                            {{Text['BE_CREMATION'].T_DEADDAY}}: <span style="color:red;">*</span>
                        </div>
                    </div>
                    <div class="col-sm-5 margin-b20">
                        <div class="datepicker-height-set" style="position:relative; width: 200px; height:40px;">
                            <datepicker date-limit-from-api="true" date-limit-from-api-mode="afterHire" callback-on-change="setSelectedDOB_BereavementDate(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.BEBereavementInfo.BereavementDate}}">
                                <input name="DOB" class="form-control clickable datepicker" type="text" readonly required placeholder="{{Text['BE_CREMATION'].T_DEADDAY}}" />
                            </datepicker>
                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12  margin-b20">
                    <div class="line-under "></div>
                </div>
            </div>

            <!--ข้อมูลผู้เสียชีวิต-->
            <div class="row show-pc">
                <div class="col-sm-12 margin-b10">
                    <div class="pull-left">
                        <span class="text-basic-md-center-input color-main">{{Text['BE_CREMATION'].T_DEADINFO}}: <span style="color:red;">*</span></span>
                    </div>
                    <div class="pull-right">
                        <a class="m-btn-c2 btn-s-md" ng-click="addCountFam()">
                            <span>
                                <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;เพิ่มรายการ
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center">ลำดับที่</th>
                            <th class="text-center" width="400px;">{{Text['BE_CREMATION'].T_DEADNAME}}</th>
                            <th class="text-center">{{Text['BE_CREMATION'].T_AMOUNT}}</th>
                            <th class="text-center">{{Text['BE_CREMATION'].T_COMMUTATION}}</th>
                            <th class="text-center">{{Text['BE_CREMATION'].T_TOTAL}}</th>
                            <th class="text-center" ng-if="document.Additional.BEBereavementInfo.RoleAdmin == 1">เสียชีวิตจาการทำงาน</th>
                            <th class="text-center"></th>
                        </tr>
                        <tr class="t-body" ng-repeat="item in document.Additional.BEBereavementItemData">
                            <td class="font-16 text-center">{{$index + 1}}</td>
                            <td class="font-16 text-center">
                                <select class="form-control" ng-model="item.Id" ng-change="newCalAmount(item)" ng-show="document.Additional.FamilyData.length > 0">
                                    <option value="-1">{{Text['BE_BEREAVEMENT'].PLEASE_SELECT}}</option>
                                    <option ng-if="document.Additional.BEBereavementInfo.RoleAdmin == 1"
                                            ng-repeat="itemData in document.Additional.FamilyData" value="{{itemData.UniqueBereavementId}}">
                                        {{itemData.Name+' '+ itemData.Surname}} ({{FAMILYMEMBER[itemData.FamilyMember]}})
                                    </option>
                                    <option ng-if="document.Additional.BEBereavementInfo.RoleAdmin != 1 && item.FamilyMember != 0"
                                            ng-repeat="itemData in document.Additional.FamilyData" value="{{itemData.UniqueBereavementId}}">
                                        {{itemData.Name+' '+itemData.Surname}} ({{FAMILYMEMBER[itemData.FamilyMember]}})
                                    </option>
                                    <!--<option ng-if="(document.Additional.BEBereavementInfo.RoleAdmin == 1
                                            || (document.Additional.BEBereavementInfo.RoleAdmin != 1 && item.FamilyMember != 0 ))
                                            && (((item.FamilyMember+item.ChildNo) != document.Additional.BsEBereavementItemData[0].BereavementType
                                            && (item.FamilyMember+item.ChildNo) != document.Additional.BEBereavementItemData[0].BereavementType
                                            && (item.FamilyMember+item.ChildNo) != document.Additional.BEBereavementItemData[1].BereavementType
                                            && (item.FamilyMember+item.ChildNo) != document.Additional.BEBereavementItemData[2].BereavementType
                                            && (item.FamilyMember+item.ChildNo) != document.Additional.BEBereavementItemData[3].BereavementType)
                                            || (item.FamilyMember+item.ChildNo) == document.Additional.BEBereavementItemData[index-1].BereavementType )"
                                            ng-repeat="item in document.Additional.FamilyData" value="{{item.FamilyMember}}">
                                        {{item.Name+' '+item.Surname}} ({{FAMILYMEMBER[item.FamilyMember]}})
                                    </option>-->
                                    <!--value="{{item.FamilyMember + item.ChildNo}}"-->
                                </select>
                            </td>
                            <td class="font-16 text-center">
                                <input class="form-control" type="text" readonly value="{{item.SubsidyAmount | number}}" />
                            </td>
                            <td class="font-16 text-center">
                                <input class="form-control" type="text" readonly value="{{item.PaymentFuneralAmount | number}}" />

                            </td>
                            <td class="font-16 text-center">
                                <input class="form-control" type="text" readonly value="{{item.Amount | number}}" />
                            </td>
                            <td class="font-16 text-center" ng-if="document.Additional.BEBereavementInfo.RoleAdmin == 1">
                                <input type="checkbox"
                                       ng-if="item.BereavementType == 0"
                                       ng-model="item.DeceasedInDuty" />
                            </td>
                            <td class="text-center">
                                <a ng-click="deleteCountFam($index)"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        <tr style="font-weight:bold;">
                            <td colspan="4" class="font-16 text-right" style="padding:15px 5px;">จำนวนเงินรวม</td>
                            <td class="font-16 text-center" style="padding:15px 5px;">
                                <input class="form-control" readonly value="{{document.Additional.BEBereavementInfo.TotalAmount | number}}" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="show-tablet">
                <div class="row margin-b-5">
                    <div class="col-xs-12">
                        <span class="text-basic-md-center-input color-main">{{Text['BE_CREMATION'].T_DEADINFO}}: <span style="color:red;">*</span></span>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="col-xs-12">
                        <table class="w-100 table-style-1 margin-b10 ">
                            <tr class="t-header">
                                <th class="text-center" style="padding: 7px;">ลำดับ</th>
                                <th class="text-center" style="padding: 7px;">{{Text['BE_CREMATION']['T_DEADNAME']}}</th>
                                <th class="text-center" style="padding: 7px;"></th>
                            </tr>
                            <tbody class="t-body-title" ng-repeat="item in document.Additional.BEBereavementItemData" ng-init="item.open = false;">
                                <tr class="tb-m-padding-d-2 tb-style-m-1">
                                    <td class="text-center">
                                        <span class="font-14">{{$index +1}}</span>
                                    </td>
                                    <td class="text-center">
                                        <select class="form-control font-14" ng-model="item.Id" ng-change="newCalAmount(item)" ng-show="document.Additional.FamilyData.length > 0">
                                            <option value="-1">{{Text['BE_BEREAVEMENT'].PLEASE_SELECT}}</option>
                                            <option ng-if="document.Additional.BEBereavementInfo.RoleAdmin == 1"
                                                    ng-repeat="itemData in document.Additional.FamilyData" value="{{itemData.UniqueBereavementId}}">
                                                {{itemData.Name+' '+ itemData.Surname}} ({{FAMILYMEMBER[itemData.FamilyMember]}})
                                            </option>
                                            <option ng-if="document.Additional.BEBereavementInfo.RoleAdmin != 1 && item.FamilyMember != 0"
                                                    ng-repeat="itemData in document.Additional.FamilyData" value="{{itemData.UniqueBereavementId}}">
                                                {{itemData.Name+' '+item.Surname}} ({{FAMILYMEMBER[item.FamilyMember]}})
                                            </option>
                                        </select>
                                    </td>
                                    <td class="font-12 text-center">
                                        <i class="fa fa-angle-down" ng-show="item.open == true" ng-click="item.open = false"></i>
                                        <i class="fa fa-angle-up" ng-show="item.open == false" ng-click="item.open = true"></i>
                                    </td>
                                </tr>
                                <tr class="tb-style-m-1 tb-m-padding-d" ng-if="item.open">
                                    <td class="" colspan="3">
                                        <div class="row margin-b-5">
                                            <div class="col-xs-4 text-center lr-3"><div class="w-100" style="background-color:#DDC1A6;">เงินที่ได้รับ</div> </div>
                                            <div class="col-xs-4 text-center lr-3"><div class="w-100" style="background-color:#DDC1A6;">เงินชดเชย</div> </div>
                                            <div class="col-xs-4 text-center lr-3"><div class="w-100" style="background-color:#DDC1A6;">รวม</div> </div>
                                        </div>
                                        <div class="row  margin-b10">
                                            <div class="col-xs-4 text-center lr-3 ">
                                                <div class="w-100 bg-13">
                                                    <input type="text" class="w-100 input-box font-14 mb-0 text-center" disabled value="{{item.SubsidyAmount | number}}">
                                                </div>
                                            </div>
                                            <div class="col-xs-4 text-center lr-3 ">
                                                <div class="w-100 bg-13">
                                                    <input type="text" class="w-100 input-box font-14 mb-0 text-center" disabled value="{{item.PaymentFuneralAmount | number}}">
                                                </div>
                                            </div>
                                            <div class="col-xs-4 text-center lr-3 ">
                                                <div class="w-100 bg-13">
                                                    <input type="text" class="w-100 input-box font-14 mb-0 text-center" disabled value="{{item.Amount | number}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row margin-b10" ng-if="document.Additional.BEBereavementInfo.RoleAdmin == 1">
                                            <div class="col-xs-6 text-center lr-3">
                                                <div class="font-12">เสียชีวิตจาการทำงาน</div>
                                            </div>
                                            <div class="col-xs-4 text-left lr-3">
                                                <input type="checkbox"
                                                       ng-if="item.BereavementType == 0"
                                                       ng-model="item.DeceasedInDuty" />
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tr style="font-weight:bold;">
                                <td colspan="3">
                                    <div class="col-xs-6 text-right margin-t10">จำนวนเงินรวม</div>
                                    <div class="col-xs-6" style="padding:10px;">
                                        <input class="form-control" readonly value="{{document.Additional.BEBereavementInfo.TotalAmount | number}}" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row margin-b20">
                    <div class="col-xs-12">
                        <div class="pull-left">
                            <a class="m-btn-c2 btn-s-md" ng-click="addCountFam()">
                                <span>
                                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;เพิ่มรายการ
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12  margin-b20">
                    <div class="line-under "></div>
                </div>
            </div>

            <!-- ผู้รับผิดชอบจัดงานศพ -->
            <div class="row" ng-if="document.Additional.BEBereavementItemData[0].BereavementType==0||document.Additional.BEBereavementItemData[1].BereavementType==0||document.Additional.BEBereavementItemData[2].BereavementType==0||document.Additional.BEBereavementItemData[3].BereavementType==0">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <div class="text-basic-md-center-input color-main">
                            {{Text['BE_CREMATION'].T_RESPONSIBLEPERSON}}: <span style="color:red;"> *</span>
                        </div>
                    </div>
                    <div class="col-sm-5 margin-b20">
                        <select ng-change="CalAmount_All()" ng-model="document.Additional.BEBereavementInfo.ResponsibleFuneral" class="form-control">
                            <option value="0"> {{Text['BE_BEREAVEMENT'].PLEASE_SELECT}} </option>
                            <option value="1"> {{Text['BE_CREMATION'].T_RESPONSIBLEPERSON1}} </option>
                            <option value="2"> {{Text['BE_CREMATION'].T_RESPONSIBLEPERSON2}} </option>
                            <option value="3"> {{Text['BE_CREMATION'].T_RESPONSIBLEPERSON3}} </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ข้อมูลการประกอบพิธีกรรมทางศาสนา -->
    <div class="content-by-ayodia margin-b20">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['BE_CREMATION'].T_RELIGIOUSINFO}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input color-main">
                        <!-- ศาสนา -->
                        ศาสนา:<span style="color:red;">*</span>
                    </div>
                </div>
                <div class="col-sm-5 margin-b20">
                    <select class="form-control" ng-model="document.Additional.BEBereavementInfo.ReligionId">
                        <option value="0">กรุณาเลือก</option>
                        <option ng-repeat="item in listReligion" value="{{item.ReligionKey}}">{{item.ReligionName}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b20">
                    <div class="line-under "></div>
                </div>
            </div>

            <!-- กําหนดการพระราชทานนํ้าหลวงอาบศพ  -->
            <div class="row">
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['BE_CREMATION'].T_FUNERALTYPE}}:
                    </div>
                </div>
                <div class="col-sm-5 margin-b20">
                    <label class="radio-inline">
                        <input type="radio" ng-model="document.Additional.BEBereavementInfo.FuneralType" value="1"> {{Text['BE_CREMATION'].T_FUNERAL1}}
                    </label>
                    &nbsp;&nbsp;
                    <label class="radio-inline">
                        <input type="radio" ng-model="document.Additional.BEBereavementInfo.FuneralType" value="2"> {{Text['BE_CREMATION'].T_FUNERAL2}}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b20">
                    <div class="line-under"></div>
                </div>
            </div>

            <!-- วันที่/เวลา -->
            <div class="row">
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['BE_CREMATION'].T_BEGINDATE}}:
                    </div>
                </div>
                <div class="col-sm-5 margin-b20">
                    <div class="datepicker-height-set" style="position:relative; width: 200px; height:40px;">
                        <datepicker date-limit-from-api="true" date-min-limit2="{{getMinLimit()}}" date-limit-from-api-mode="afterHire" callback-on-change="setSelectedDOB_FuneralDate(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.BEBereavementInfo.FuneralDate}}">
                            <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                        </datepicker>
                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b20">
                    <div class="line-under "></div>
                </div>
            </div>

            <!-- กําหนดการสวดพระอภิธรรม -->
            <div class="row show-pc">
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['BE_CREMATION'].T_FUNERALPRAYER}}:
                    </div>
                </div>
                <div class="col-sm-5 lr-0 margin-b20">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <div class="datepicker-height-set" style="position:relative; width: 200px; height:40px;">
                                    <datepicker date-limit-from-api="true" date-limit-from-api-mode="afterHire" date-min-limit2="{{getMinLimit()}}" callback-on-change="setSelectedDOB_FuneralBeginDate(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.BEBereavementInfo.FuneralBeginDate}}">
                                        <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                    </datepicker>
                                    <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 text-center font-16">ถึง</div>
                        <div class="col-sm-5">
                            <div class="datepicker-height-set" style="position:relative; width: 200px; height:40px;">
                                <datepicker date-limit-from-api="true" date-limit-from-api-mode="afterHire" date-min-limit2="{{getMinLimit()}}" callback-on-change="setSelectedDOB_FuneralEndDate(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.BEBereavementInfo.FuneralEndDate}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="show-tablet">
                <div class="row margin-b-5">
                    <div class="col-xs-12">
                        <div class="text-basic-md-center-input color-main">
                            {{Text['BE_CREMATION'].T_FUNERALPRAYER}}:
                        </div>
                    </div>
                </div>
                <div class="row margin-b10">
                    <div class="col-xs-5 text-center">
                        <div class="datepicker-height-set" style="position:relative; width: 210px; height:40px;">
                            <datepicker date-limit-from-api="true" date-limit-from-api-mode="afterHire" date-min-limit2="{{getMinLimit()}}" callback-on-change="setSelectedDOB_FuneralDate(newDate)" date-format="d/M/yyyy" date-set="">
                                <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                            </datepicker>
                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                        </div>
                    </div>
                    <div class="col-xs-2 text-center">ถึง</div>
                    <div class="col-xs-5 text-center">
                        <div class="datepicker-height-set" style="position:relative; width: 210px; height:40px;">
                            <datepicker date-limit-from-api="true" date-limit-from-api-mode="afterHire" date-min-limit2="{{getMinLimit()}}" callback-on-change="setSelectedDOB_FuneralDate(newDate)" date-format="d/M/yyyy" date-set="">
                                <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                            </datepicker>
                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b20">
                    <div class="line-under "></div>
                </div>
            </div>

            <!-- รายละเอียดสถานที่ -->
            <div class="row">
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input color-main">

                        {{Text['BE_CREMATION'].T_LOCATION}}:
                    </div>
                </div>
                <div class="col-sm-5 margin-b20">
                    <div class="form-group">
                        <input ng-model="document.Additional.BEBereavementInfo.PlaceDetail" type="text" class="form-control" />
                    </div>
                    <span style="color:red;">{{Text['BE_CREMATION'].T_TEXTNOTE}}</span><br>
                    <span style="color:red;">{{Text['BE_CREMATION'].T_TEXTATTACHMENT}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b20">
                    <div class="line-under "></div>
                </div>
            </div>

        </div>
    </div>

    <!-- กําหนดการฌาปนกิจ -->
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['BE_CREMATION'].T_DEFINECREMATION}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <!-- กําหนดการ: -->
            <div class="row">
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['BE_CREMATION'].T_FUNERALTYPE}}:
                    </div>
                </div>
                <div class="col-sm-5 margin-b20">
                    <div class="show-pc">
                        <label class="radio-inline"><input type="radio" ng-model="document.Additional.BEBereavementInfo.CremationType" value="1"> {{Text['BE_CREMATION'].T_DEFINECREMATION1}}</label>
                        &nbsp;&nbsp;
                        <label class="radio-inline"><input type="radio" ng-model="document.Additional.BEBereavementInfo.CremationType" value="2"> {{Text['BE_CREMATION'].T_DEFINECREMATION2}}</label>
                        &nbsp;&nbsp;
                        <label class="radio-inline"><input type="radio" ng-model="document.Additional.BEBereavementInfo.CremationType" value="3"> {{Text['BE_CREMATION'].T_DEFINECREMATION3}}</label>
                    </div>
                    <div class="show-tablet">
                        <label class="radio-inline margin-b-5"><input type="radio" ng-model="document.Additional.BEBereavementInfo.CremationType" value="1"> {{Text['BE_CREMATION'].T_DEFINECREMATION1}}</label>
                        <br />
                        <label class="radio-inline margin-b-5"><input type="radio" ng-model="document.Additional.BEBereavementInfo.CremationType" value="2"> {{Text['BE_CREMATION'].T_DEFINECREMATION2}}</label>
                        <br />
                        <label class="radio-inline"><input type="radio" ng-model="document.Additional.BEBereavementInfo.CremationType" value="3"> {{Text['BE_CREMATION'].T_DEFINECREMATION3}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b20">
                    <div class="line-under "></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input color-main">
                        <!-- วันที่/เวลา -->
                        {{Text['BE_CREMATION'].T_BEGINDATE}}:
                    </div>
                </div>
                <div class="col-sm-5 margin-b20">
                    <div class="datepicker-height-set" style="position:relative; width: 140px; height:40px;">
                        <datepicker date-limit-from-api="true" date-limit-from-api-mode="afterHire" date-min-limit2="{{getMinLimit()}}" callback-on-change="setSelectedDOB_CremationDate(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.BEBereavementInfo.CremationDate}}">
                            <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                        </datepicker>
                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b20">
                    <div class="line-under "></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input color-main">
                        <!-- วันที่/เวลา -->
                        {{Text['BE_CREMATION'].T_LOCATION}}:
                    </div>
                </div>
                <div class="col-sm-5 margin-b20">
                    <div class="form-group">
                        <input ng-model="document.Additional.BEBereavementInfo.CremationPlace" type="text" class="form-control" />
                    </div>
                    <span style="color:red;">{{Text['BE_CREMATION'].T_TEXTNOTE}}</span><br>
                    <span style="color:red;">{{Text['BE_CREMATION'].T_TEXTATTACHMENT}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b20">
                    <div class="line-under "></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input color-main">
                        <!-- ประสงค์ให้ออก PR -->
                        {{Text['BE_CREMATION'].T_WANTTOPR}}:
                    </div>
                </div>
                <div class="col-sm-5 margin-b20">
                    <input type="radio" ng-model="document.Additional.BEBereavementInfo.IsAllowPR" value="1"> {{Text['BE_CREMATION'].T_WANTTOPR1}}
                    &nbsp;&nbsp;
                    <input type="radio" ng-model="document.Additional.BEBereavementInfo.IsAllowPR" value="2"> {{Text['BE_CREMATION'].T_WANTTOPR2}}
                </div>
            </div>
        </div>
    </div>

    <!-- ร่วมทำบุญได้ที่ (ส่วนนี้เฉพาะ GPSC เท่านั้น) -->
    <div class="content-by-ayodia margin-b20" ng-if="document.Additional.BEBereavementInfo.RoleAdmin == 1">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['BE_CREMATION'].T_BENEFACTION}} <span style="color:red;">{{Text['BE_CREMATION'].T_GPSCONLY}}</span>
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input color-main">
                        <!-- เจ้าภาพแจ้งงดรับพวงหรีดดอกไม้: -->
                        {{Text['BE_CREMATION'].T_WREATH1}}:
                    </div>
                </div>
                <div class="col-sm-5 margin-b20">
                    <div class="show-pc">
                        <input type="radio" ng-model="document.Additional.BEBereavementInfo.Wreath" value="1"> {{Text['BE_CREMATION'].T_WREATH1}}
                        &nbsp;&nbsp;
                        <input type="radio" ng-model="document.Additional.BEBereavementInfo.Wreath" value="2"> {{Text['BE_CREMATION'].T_WREATH2}}
                    </div>
                    <div class="show-tablet">
                        <label class="radio-inline margin-b-5">
                            <input type="radio" ng-model="document.Additional.BEBereavementInfo.Wreath" value="1"> {{Text['BE_CREMATION'].T_WREATH1}}
                        </label>
                        <br />
                        <label class="radio-inline">
                            <input type="radio" ng-model="document.Additional.BEBereavementInfo.Wreath" value="2"> {{Text['BE_CREMATION'].T_WREATH2}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b20">
                    <div class="line-under "></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input color-main">
                        <!-- หน่วยงาน: -->
                        {{Text['BE_CREMATION'].T_DEPARTMENT}}:
                    </div>
                </div>
                <div class="col-sm-5 margin-b20">
                    <input ng-model="document.Additional.BEBereavementInfo.PresidentDepartment" type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b20">
                    <div class="line-under "></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input color-main">
                        <!-- เป็นเจ้าภาพสวดพระอภิธรรม ในวันที่: -->
                        {{Text['BE_CREMATION'].T_LITURGYDAY}}:
                    </div>
                </div>
                <div class="col-sm-5 margin-b20">
                    <div class="datepicker-height-set" style="position:relative; width: 200px; height:40px;">
                        <datepicker date-limit-from-api="true" date-limit-from-api-mode="afterHire" date-min-limit2="{{getMinLimit()}}" callback-on-change="setSelectedDOB_PresidentDate(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.BEBereavementInfo.PresidentDate}}">
                            <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                        </datepicker>
                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b20">
                    <div class="line-under "></div>
                </div>
            </div>

            <!-- ทั้งนี้ สามารถฝากเงินร่วมทําบุญให้กับเจ้าภาพ ได้ที่ -->
            <div class="row">
                <div class="col-sm-5">
                    <div class="text-basic-md-center-input color-main" style="font-weight:bold;">
                        {{Text['BE_CREMATION'].T_DONATEPER}}
                    </div>
                </div>
            </div>
            <div class="row margin-b10">
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['BE_CREMATION'].T_NAME}}:
                    </div>
                </div>
                <div class="col-sm-5">
                    <input ng-model="document.Additional.BEBereavementInfo.ResponsibleName" type="text" class="form-control" />
                </div>
            </div>
            <div class="row margin-b10">
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['BE_CREMATION'].T_PART}}:
                    </div>
                </div>
                <div class="col-sm-5">
                    <input ng-model="document.Additional.BEBereavementInfo.ResponsibleDepartment" type="text" class="form-control" />
                </div>
            </div>
            <div class="row margin-b10">
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['BE_CREMATION'].T_TEL}}:
                    </div>
                </div>
                <div class="col-sm-5 margin-b20">
                    <input ng-model="document.Additional.BEBereavementInfo.ResponsiblePhone" type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="text-basic-md-center-input color-main" style="font-weight:bold;">
                        {{Text['BE_CREMATION'].T_ATTACHDOCUMENT}}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Before -->
    <!--<div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">
        <div class="bar_bottom">
            <div class="bar_bottomlist">
                <div class="bar-content">
                    <div class="row bar_title">
                        <div class="col-md-12">
                            <div class="bar_left bar_left_single_line">
                                <div class="bar_left-title ng-binding">
                                    {{Text['BE_CREMATION'].T_CREMATION}}
                                    <div style="display:none;">{{document.Additional.BEBereavementInfo.CreateBy = document.ActionBy.EmployeeID}}</div>

                                    <input type="hidden" value="{{document.Additional.BEBereavementInfo.ErrorText = document.ErrorText}}" />
                                    <input type="hidden" value="{{document.Additional.BEBereavementInfo.RequestNo = document.RequestNo}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                        <div class="col-md-10 col-sm-10 col-xs-12 ">

                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-12">
                                    <h1> {{Text['BE_CREMATION'].T_DEADINFO}}</h1>
                                </div>
                            </div>

                            <div class="healthinsurance">
                                <div class="col-md-12" style="width:815px;margin-bottom:25px;">
                                    <table>
                                        <tr>
                                            <th>
                                                <span class="">
                                                    {{Text['BE_CREMATION'].T_DEADNAME}}
                                                </span>
                                            </th>
                                            <th>
                                                <span class="">
                                                    {{Text['BE_CREMATION'].T_AMOUNT}}
                                                </span>
                                            </th>
                                            <th>
                                                <span class="">
                                                    {{Text['BE_CREMATION'].T_COMMUTATION}}
                                                </span>
                                            </th>
                                            <th>
                                                <span class="">
                                                    {{Text['BE_CREMATION'].T_TOTAL}}

                                                </span>
                                            </th>

                                        </tr>

                                        <tr ng-repeat="index in CountFam">

                                            <td class="text-center">
                                                <select class="form-control" ng-change="CalAmount(index-1)" ng-model="document.Additional.BEBereavementItemData[index-1].BereavementType" ng-show="document.Additional.FamilyData.length > 0">
                                                    <option value="" selected>{{Text['BE_BEREAVEMENT'].PLEASE_SELECT}}</option>
                                                    <option ng-if="(document.Additional.BEBereavementInfo.RoleAdmin==1||(document.Additional.BEBereavementInfo.RoleAdmin!=1&&item.FamilyMember!=0 ))&&(((item.FamilyMember+item.ChildNo)!=document.Additional.BEBereavementItemData[0].BereavementType&&(item.FamilyMember+item.ChildNo)!=document.Additional.BEBereavementItemData[0].BereavementType&&(item.FamilyMember+item.ChildNo)!=document.Additional.BEBereavementItemData[1].BereavementType&&(item.FamilyMember+item.ChildNo)!=document.Additional.BEBereavementItemData[2].BereavementType&&(item.FamilyMember+item.ChildNo)!=document.Additional.BEBereavementItemData[3].BereavementType)||(item.FamilyMember+item.ChildNo)==document.Additional.BEBereavementItemData[index-1].BereavementType )" ng-repeat="item in document.Additional.FamilyData" value="{{item.FamilyMember+item.ChildNo}}">{{item.Name+' '+item.Surname}} ({{FAMILYMEMBER[item.FamilyMember]}}) </option>
                                                </select>
                                            </td>

                                            <td class="text-center">
                                                <input class="form-control" type="text" readonly value="{{document.Additional.BEBereavementItemData[index-1].SubsidyAmount | number}}" />
                                            </td>

                                            <td class="text-center">
                                                <input class="form-control" type="text" readonly value="{{document.Additional.BEBereavementItemData[index-1].PaymentFuneralAmount | number}}" />

                                            </td>

                                            <td class="text-center">

                                                <input class="form-control" type="text" readonly value="{{document.Additional.BEBereavementItemData[index-1].Amount | number}}" />
                                            </td>
                                        </tr>

                                        <tr>

                                            <td class="text-center"></td>

                                            <td class="text-center"></td>

                                            <td class="text-center"></td>

                                            <td class="text-center">
                                                <input class="form-control" type="text" readonly value="{{document.Additional.BEBereavementInfo.TotalAmount | number}}" />

                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-4">
                                    <span class="span_name">
                                        {{Text['BE_CREMATION'].T_DEADDAY}}: <span style="color:red;"> *</span>
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <div class="datepicker-height-set" style="position:relative; width: 140px; height:40px;">
                                            <datepicker callback-on-change="setSelectedDOB_BereavementDate(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.BEBereavementInfo.BereavementDate}}">
                                                <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                            </datepicker>
                                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ng-if="document.Additional.BEBereavementItemData[0].BereavementType==0||document.Additional.BEBereavementItemData[1].BereavementType==0||document.Additional.BEBereavementItemData[2].BereavementType==0||document.Additional.BEBereavementItemData[3].BereavementType==0" class="row" style="padding-top: 15px;">
                                <div class="col-sm-4">
                                    <span class="span_name">
                                        {{Text['BE_CREMATION'].T_RESPONSIBLEPERSON}}: <span style="color:red;"> *</span>
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <select ng-change="CalAmount_All()" ng-model="document.Additional.BEBereavementInfo.ResponsibleFuneral" class="form-control">
                                            <option value="0" selected> {{Text['BE_BEREAVEMENT'].PLEASE_SELECT}} </option>
                                            <option value="1"> {{Text['BE_CREMATION'].T_RESPONSIBLEPERSON1}} </option>
                                            <option value="2"> {{Text['BE_CREMATION'].T_RESPONSIBLEPERSON2}} </option>
                                            <option value="3"> {{Text['BE_CREMATION'].T_RESPONSIBLEPERSON3}} </option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-12">
                                    <h1>{{Text['BE_CREMATION'].T_RELIGIOUSINFO}}</h1>
                                </div>
                            </div>


                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-4">
                                    <span class="span_name">
                                        {{Text['BE_CREMATION'].T_FUNERALTYPE}}:
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <input type="radio" ng-model="document.Additional.BEBereavementInfo.FuneralType" value="1"> {{Text['BE_CREMATION'].T_FUNERAL1}}
                                        <input type="radio" ng-model="document.Additional.BEBereavementInfo.FuneralType" value="2"> {{Text['BE_CREMATION'].T_FUNERAL2}}
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-4">
                                    <span class="span_name">
                                        {{Text['BE_CREMATION'].T_BEGINDATE}}:
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <div class="datepicker-height-set" style="position:relative; width: 140px; height:40px;">
                                            <datepicker callback-on-change="setSelectedDOB_FuneralDate(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.BEBereavementInfo.FuneralDate}}">
                                                <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                            </datepicker>
                                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-12">
                                    <span class="span_name">
                                        {{Text['BE_CREMATION'].T_FUNERALPRAYER}}
                                    </span>
                                </div>
                            </div>


                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-4">
                                    <span class="span_name">
                                        {{Text['BE_CREMATION'].T_BEGINDATE}}:
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <div class="datepicker-height-set" style="position:relative; width: 140px; height:40px;">
                                            <datepicker callback-on-change="setSelectedDOB_FuneralBeginDate(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.BEBereavementInfo.FuneralBeginDate}}">
                                                <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                            </datepicker>
                                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-4">
                                    <span class="span_name">
                                        {{Text['BE_CREMATION'].T_ENDDATE}}:
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <div class="datepicker-height-set" style="position:relative; width: 140px; height:40px;">
                                            <datepicker callback-on-change="setSelectedDOB_FuneralEndDate(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.BEBereavementInfo.FuneralEndDate}}">
                                                <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                            </datepicker>
                                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-4">
                                    <span class="span_name">
                                        {{Text['BE_CREMATION'].T_LOCATION}}:
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <input ng-model="document.Additional.BEBereavementInfo.PlaceDetail" type="text" class="form-control" />
                                    </div>
                                    <span style="color:red;">{{Text['BE_CREMATION'].T_TEXTNOTE}}</span><br>
                                    <span style="color:red;">{{Text['BE_CREMATION'].T_TEXTATTACHMENT}}</span>
                                </div>
                            </div>


                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-12">
                                    <h1>{{Text['BE_CREMATION'].T_DEFINECREMATION}}</h1>
                                </div>
                            </div>


                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-4">
                                    <span class="span_name">
                                        {{Text['BE_CREMATION'].T_FUNERALTYPE}}:
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <input type="radio" ng-model="document.Additional.BEBereavementInfo.CremationType" value="1"> {{Text['BE_CREMATION'].T_DEFINECREMATION1}}
                                        <input type="radio" ng-model="document.Additional.BEBereavementInfo.CremationType" value="2"> {{Text['BE_CREMATION'].T_DEFINECREMATION2}}
                                        <input type="radio" ng-model="document.Additional.BEBereavementInfo.CremationType" value="3"> {{Text['BE_CREMATION'].T_DEFINECREMATION3}}
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-4">
                                    <span class="span_name">
                                        {{Text['BE_CREMATION'].T_BEGINDATE}}:
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <div class="datepicker-height-set" style="position:relative; width: 140px; height:40px;">
                                            <datepicker callback-on-change="setSelectedDOB_CremationDate(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.BEBereavementInfo.CremationDate}}">
                                                <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                            </datepicker>
                                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-4">
                                    <span class="span_name">
                                        {{Text['BE_CREMATION'].T_LOCATION}}:
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <input ng-model="document.Additional.BEBereavementInfo.CremationPlace" type="text" class="form-control" />
                                    </div>
                                    <span style="color:red;">{{Text['BE_CREMATION'].T_TEXTNOTE}}</span><br>
                                    <span style="color:red;">{{Text['BE_CREMATION'].T_TEXTATTACHMENT}}</span>
                                </div>
                            </div>


                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-4">
                                    <span class="span_name">
                                        {{Text['BE_CREMATION'].T_WANTTOPR}}: <span style="color:red;"> *</span>
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <input type="radio" ng-model="document.Additional.BEBereavementInfo.IsAllowPR" value="1"> {{Text['BE_CREMATION'].T_WANTTOPR1}}
                                        <input type="radio" ng-model="document.Additional.BEBereavementInfo.IsAllowPR" value="2"> {{Text['BE_CREMATION'].T_WANTTOPR2}}
                                    </div>
                                </div>
                            </div>


                            <div ng-if="document.Additional.BEBereavementInfo.RoleAdmin==1">
                                <div class="row" style="padding-top: 15px;">
                                    <div class="col-sm-12">
                                        <h1>{{Text['BE_CREMATION'].T_BENEFACTION}} <span style="color:red;">{{Text['BE_CREMATION'].T_GPSCONLY}} </span></h1>
                                    </div>
                                </div>


                                <div class="row" style="padding-top: 15px;">
                                    <div class="col-sm-4">
                                        <span class="span_name">
                                            {{Text['BE_CREMATION'].T_WREATH1}}:
                                        </span>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <input type="radio" ng-model="document.Additional.BEBereavementInfo.Wreath" value="1"> {{Text['BE_CREMATION'].T_WREATH1}}
                                            <input type="radio" ng-model="document.Additional.BEBereavementInfo.Wreath" value="2"> {{Text['BE_CREMATION'].T_WREATH2}}
                                        </div>
                                    </div>
                                </div>


                                <div class="row" style="padding-top: 15px;">
                                    <div class="col-sm-4">
                                        <span class="span_name">
                                            {{Text['BE_CREMATION'].T_DEPARTMENT}}:
                                        </span>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <input ng-model="document.Additional.BEBereavementInfo.PresidentDepartment" type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>


                                <div class="row" style="padding-top: 15px;">
                                    <div class="col-sm-4">
                                        <span class="span_name">
                                            {{Text['BE_CREMATION'].T_LITURGYDAY}}
                                        </span>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <div class="datepicker-height-set" style="position:relative; width: 140px; height:40px;">
                                                <datepicker callback-on-change="setSelectedDOB_PresidentDate(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.BEBereavementInfo.PresidentDate}}">
                                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                                </datepicker>
                                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row" style="padding-top: 15px;">
                                    <div class="col-sm-12">
                                        <span class="span_name">
                                            {{Text['BE_CREMATION'].T_DONATEPER}}
                                        </span>
                                    </div>
                                </div>


                                <div class="row" style="padding-top: 15px;">
                                    <div class="col-sm-4">
                                        <span class="span_name">
                                            {{Text['BE_CREMATION'].T_NAME}}
                                        </span>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <input ng-model="document.Additional.BEBereavementInfo.ResponsibleName" type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>


                                <div class="row" style="padding-top: 15px;">
                                    <div class="col-sm-4">
                                        <span class="span_name">
                                            {{Text['BE_CREMATION'].T_PART}}:
                                        </span>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <input ng-model="document.Additional.BEBereavementInfo.ResponsibleDepartment" type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>


                                <div class="row" style="padding-top: 15px;">
                                    <div class="col-sm-4">
                                        <span class="span_name">
                                            {{Text['BE_CREMATION'].T_TEL}}:
                                        </span>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <input ng-model="document.Additional.BEBereavementInfo.ResponsiblePhone" type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-12">
                                    <span class="span_name" style="color:red;">
                                        {{Text['BE_CREMATION'].T_ATTACHDOCUMENT}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="-pad10"></div>
            </div>
        </div>
    </div>-->
    <!-- ณ วัด -->
    <!--<div class="row" style="padding-top: 15px;">
        <div class="col-sm-4">
            <span class="span_name">
                {{Text['BE_CREMATION'].T_TEMPLE}}:
            </span>
        </div>
        <div class="col-sm-7">
            <div class="form-group">
                <input ng-model="document.Additional.BEBereavementInfo.Place" type="text" class="form-control" />
            </div>
        </div>
    </div>-->
    <!-- ศาลา -->
    <!--<div class="row" style="padding-top: 15px;">
        <div class="col-sm-4">
            <span class="span_name">
                {{Text['BE_CREMATION'].T_PAVILION}}:
            </span>
        </div>
        <div class="col-sm-7">
            <div class="form-group">
                <input ng-model="document.Additional.BEBereavementInfo.Pavilion" type="text" class="form-control" />
            </div>
        </div>
    </div>-->

    <style>
        .add-padding {
            padding-left: 35px !important;
        }

        .mainBlock .contentBody .contentBodyin {
            padding-top: 1.5rem;
            margin-top: 25px;
        }

        .bdc204 {
            width: inherit;
            border-color: rgb(204, 204, 204);
        }
    </style>

    <!--<pre>{{document.Additional | json}}</pre>-->

</div>