﻿<div ng-controller="EducationAllowanceViewerController" ng-init="init();">
    <div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">
        <div class="bar_bottom">

            <div class="bar_bottomlist">
                <div class="bar-content">
                    <div class="row bar_title">
                        <div class="col-md-12">
                            <div class="bar_left bar_left_single_line">
                                <div class="bar_left-title ng-binding">
                                    {{Text['BE_EDUCATIONALLOWANCE'].EDUCATION_TITLE}}
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                        <div class="col-md-10 col-sm-10 col-xs-12 ">

                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].CHILD_NAME}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <!--ชื่อ-นามสกุล-->
                                    <div class="breakword-100px em-font-15" ng-repeat="Item_data in document.Additional.ChildData | filter : { ChildNo: document.Additional.EducationAllowanceData.ChildNo }">{{Item_data.Name}} {{Item_data.Surname}} ({{Text['BE_EDUCATIONALLOWANCE'].AGE_TEXT}} {{Item_data.Age}} {{Text['BE_EDUCATIONALLOWANCE'].YEAR_TEXT}}) </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].EDUCATION_LEVEL}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <!--ระดับการศึกษา-->
                                    <div class="breakword-100px em-font-15" ng-repeat="Item_Level in EducationAllowanceList">
                                        <span ng-if="employeeData.Language == 'TH'">{{Item_Level.BE_Level_TH}}</span>
                                        <span ng-if="employeeData.Language == 'EN'">{{Item_Level.BE_Level_EN}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].YEAR_CLASS}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{document.Additional.EducationAllowanceData.EducationClass}}</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].EDUCATION_YEAR}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <!--ปีการศึกษา-->
                                    <div class="breakword-100px em-font-15">{{document.Additional.EducationAllowanceData.EducationYear}}</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].SCHOOL_NAME}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <!--ชื่อสถานศึกษา-->
                                    <div class="breakword-100px em-font-15">{{document.Additional.EducationAllowanceData.Academy}}</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].SCHOOL_CATE}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <!--ประเภทสถานศึกษา-->
                                    <div class="breakword-100px em-font-15" ng-if="document.Additional.EducationAllowanceData.AcademyType == 1">{{Text['BE_EDUCATIONALLOWANCE'].GOVERNMENT}}</div>
                                    <div class="breakword-100px em-font-15" ng-if="document.Additional.EducationAllowanceData.AcademyType == 2">{{Text['BE_EDUCATIONALLOWANCE'].PRIVATE}}</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].REIMBURSEMENT_TYPE}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <!--ประเภทการเบิก-->
                                    <div class="breakword-100px em-font-15" ng-if="document.Additional.EducationAllowanceData.WithdrawType == 1">{{Text['BE_EDUCATIONALLOWANCE'].PAY_PACKAGES}}</div>
                                    <div class="breakword-100px em-font-15" ng-if="document.Additional.EducationAllowanceData.WithdrawType == 2">{{Text['BE_EDUCATIONALLOWANCE'].PAY_REAL}}</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].AMOUNT_TEXT}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <!--จำนวนเงิน-->
                                    <div class="breakword-100px em-font-15" ng-repeat="Item in EducationAllowanceList | filter : { RequestNo: document.RequestNo }">{{Item.Amount | currency : "": 2}} {{Text['BE_EDUCATIONALLOWANCE'].BAHT}}</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].AMOUNTREIMBURSE_TEXT}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <!--ยอดเงินที่เบิกได้จริง-->
                                    <div class="breakword-100px em-font-15" ng-repeat="Item in EducationAllowanceList | filter : { RequestNo: document.RequestNo }">{{Item.AmountReimburse | currency : "": 2}} {{Text['BE_EDUCATIONALLOWANCE'].BAHT}}</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].PAY_DATE}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <!--วันที่ชำระเงิน-->
                                    <div class="breakword-100px em-font-15">{{(document.Additional.EducationAllowanceData.PayDate | date:"dd/MM/yyyy")}}</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].PAY_ID}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <!--เลขที่ใบเสร็จ-->
                                    <div class="breakword-100px em-font-15" ng-repeat="Item in EducationAllowanceList | filter : { RequestNo: document.RequestNo }">{{Item.ReceiptNumber}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- bar_bottomlist -->
                </div>
                <div class="-pad10"></div>
            </div>
        </div>


        <style>
            .add-padding {
                padding-left: 35px !important;
            }

            .mainBlock .contentBody .contentBodyin {
                padding-top: 1.5rem;
                margin-top: 25px;
            }
        </style>
    </div>
</div>