﻿<div ng-controller="EducationAllowanceEditorController" ng-init="init();">
    <div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">
        <!-- itemlist_block -->
        <div class="bar_bottom">
            <!-- bar_bottom-expandlist -->
            <div class="bar_bottomlist">
                <div class="bar-content">
                    <div class="row bar_title">
                        <div class="col-md-12">
                            <div class="bar_left bar_left_single_line">
                                <div class="bar_left-title ng-binding">
                                    {{Text['BE_EDUCATIONALLOWANCE'].EDUCATION_TITLE}}
                                    
                                    <input type="hidden" value="{{document.Additional.EducationAllowanceData.ErrorText = document.ErrorText}}" />
                                    <input type="hidden" value="{{document.Additional.EducationAllowanceData.RequestNo = document.RequestNo}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
 
                <div>
                    <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                        <div class="col-md-10 col-sm-10 col-xs-12 ">

                            <!--MOVEJOB ADMIN-->
                            <div class="row" style="padding-top: 15px;" ng-if="document.Additional.EducationAllowanceData.RoleAdmin === 1 && document.RequestNo == 'DUMMY'">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].OFFICE}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"
                                                   ng-model="document.Additional.EducationAllowanceData.MoveStatus"
                                                   ng-true-value="1"
                                                   ng-false-value="0">{{Text['BE_EDUCATIONALLOWANCE'].MOVEJOB}}
                                        </label>
                                        <input type="hidden" ng-if="!document.Additional.EducationAllowanceData.MoveStatus" ng-model="document.Additional.EducationAllowanceData.MoveStatus = 0">
                                        <input type="hidden" ng-model="document.Additional.EducationAllowanceData.CreateBy =  document.ActionBy.EmployeeID">
                                        <input type="hidden" ng-model="document.Additional.EducationAllowanceData.UpdateBy = document.ActionBy.EmployeeID">
                                    </div>
                                    <p style="color:red;">{{Text['BE_EDUCATIONALLOWANCE'].MOVEJOB_TEXT}}</p>
                                </div>
                            </div>

                            <!--MOVEJOB USER-->
                            <div class="row" style="padding-top: 15px;" ng-if="document.Additional.EducationAllowanceData.MoveStatus === 1 && document.Additional.EducationAllowanceData.RoleAdmin === 0">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].OFFICE}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <input type="text" class="form-control" disabled value="{{Text['BE_EDUCATIONALLOWANCE'].MOVEJOB}}" />
                                    </div>
                                </div>
                            </div>

                            <!--MOVEJOB ADMIN-->
                            <div class="row" style="padding-top: 15px;" ng-if="document.Additional.EducationAllowanceData.MoveStatus === 1 && document.Additional.EducationAllowanceData.RoleAdmin === 1 && document.RequestNo != 'DUMMY'">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].OFFICE}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <input type="text" class="form-control" disabled value="{{Text['BE_EDUCATIONALLOWANCE'].MOVEJOB}}" />
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].CHILD_NAME}}<span style="color:red;"> *</span>
                                    </span>
                                </div>
                                <div class="col-sm-7">

                                    <div class="form-group">
                                        <select class="form-control" ng-model="document.Additional.EducationAllowanceData.ChildNo" ng-show="document.Additional.ChildData.length > 0">
                                            <option ng-if="!document.Additional.EducationAllowanceData.ChildNo" value="" disabled selected>{{Text['BE_EDUCATIONALLOWANCE'].PLEASE_SELECT}}</option>
                                            <option ng-repeat="item in document.Additional.ChildData" value="{{item.ChildNo}}">{{item.Name+' '+item.Surname+' '}} ({{Text['BE_EDUCATIONALLOWANCE'].AGE_TEXT}} {{item.Age}} {{Text['BE_EDUCATIONALLOWANCE'].YEAR_TEXT}}) </option>
                                        </select>

                                        <select class="form-control" ng-model="document.Additional.EducationAllowanceData.ChildNo" ng-show="document.Additional.ChildData.length === 0" disabled>
                                            <option ng-if="!document.Additional.EducationAllowanceData.ChildNo" value="" disabled selected>{{ Text['SYSTEM']['NO_DATA'] }}</option>
                                            <option ng-repeat="item in document.Additional.ChildData" value="{{item.ChildNo}}">{{item.Name+' '+item.Surname}}</option>
                                        </select>

                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].EDUCATION_LEVEL}}<span style="color:red;"> *</span>
                                    </span>
                                </div>

                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <input ng-model="document.Additional.EducationAllowanceData.EducationLevel" type="hidden">
                                        <select ng-model="document.Additional.EducationAllowanceData.EducationLevel_String" class="form-control" id="sel1">
                                            <option ng-if="!document.Additional.EducationAllowanceData.EducationLevel_String" value="" disabled selected>{{Text['BE_EDUCATIONALLOWANCE'].PLEASE_SELECT}}</option>
                                            <option ng-if="employeeData.Language == 'TH'" ng-repeat="item in document.Additional.EducationLevelData" value="{{item.BE_ConfigID}}">
                                                {{item.BE_Level_TH}} ({{item.Quota|number}} {{Text['BE_EDUCATIONALLOWANCE'].BAHT}})
                                            </option>
                                            <option ng-if="employeeData.Language == 'EN'" ng-repeat="item in document.Additional.EducationLevelData" value="{{item.BE_ConfigID}}">
                                                {{item.BE_Level_EN}} ({{item.Quota| number}} {{Text['BE_EDUCATIONALLOWANCE'].BAHT}})
                                            </option>
                                        </select>
                                    </div>
                                    <p ng-show="document.Additional.EducationAllowanceData.EducationLevel_String === '8'" style="color:red;">{{Text['BE_EDUCATIONALLOWANCE'].VALIDATE_DEGREE}}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].YEAR_CLASS}}<span style="color:red;"> *</span>
                                    </span>
                                </div>
                                <div class="col-sm-7">

                                    <div class="form-group">
                                        <select ng-model="document.Additional.EducationAllowanceData.EducationClass" class="form-control" id="sel1">
                                            <option ng-if="!document.Additional.EducationAllowanceData.EducationClass" value="" disabled selected>{{Text['BE_EDUCATIONALLOWANCE'].PLEASE_SELECT}}</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].EDUCATION_YEAR}}<span style="color:red;"> *</span>
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">

                                        <input ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" ng-model="document.Additional.EducationAllowanceData.EducationYear" type="text" ng-max="100000" maxlength="4" max="9000" ng-maxlength="4" class="form-control" onkeypress="return isNumberKey(event);">
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].SCHOOL_NAME}}<span style="color:red;"> *</span>
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <input ng-model="document.Additional.EducationAllowanceData.Academy" type="text" class="form-control" id="usr">
                                </div>
                            </div>
                            <div class="row" style="padding-top: 20px;">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].SCHOOL_CATE}}<span style="color:red;"> *</span>
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <label class="radio-inline"><input type="radio" ng-model="document.Additional.EducationAllowanceData.AcademyType" value="1">{{Text['BE_EDUCATIONALLOWANCE'].GOVERNMENT}}</label>
                                    <label class="radio-inline"><input type="radio" ng-model="document.Additional.EducationAllowanceData.AcademyType" value="2">{{Text['BE_EDUCATIONALLOWANCE'].PRIVATE}}</label>
                                </div>
                            </div>

                            <div class="row" style="padding-top: 20px;">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].REIMBURSEMENT_TYPE}}<span style="color:red;"> *</span>
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <label class="radio-inline"><input type="radio" ng-model="document.Additional.EducationAllowanceData.WithdrawType" value="1">{{Text['BE_EDUCATIONALLOWANCE'].PAY_PACKAGES}}</label>
                                    <label class="radio-inline"><input type="radio" ng-model="document.Additional.EducationAllowanceData.WithdrawType" value="2">{{Text['BE_EDUCATIONALLOWANCE'].PAY_REAL}}</label>
                                </div>
                            </div>

                            <div class="row" style="padding-top: 15px;" ng-if="document.Additional.EducationAllowanceData.WithdrawType == 2">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].AMOUNT_TEXT}}<span style="color:red;"> *</span>
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <input ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" ng-model="document.Additional.EducationAllowanceData.Amount_String" type="number" placeholder="0" class="form-control">
                                </div>
                            </div>

                            <!--ADD-->
                            <!--<div ng-if="document.Additional.EducationAllowanceData.WithdrawType == 1">
                                <input ng-model="document.Additional.EducationAllowanceData.Amount_String" type="hidden">
                            </div>-->

                            <input ng-model="document.Additional.EducationAllowanceData.Amount" type="hidden">

                            <!--ยอดที่เบิกได้จริง-->
                            <div class="row" style="padding-top: 15px;" ng-if="document.Additional.EducationAllowanceData.WithdrawType !=''">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].AMOUNTREIMBURSE_TEXT}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <input readonly ng-model="document.Additional.EducationAllowanceData.AmountReimburse" type="number" placeholder="0" class="form-control">
                                </div>
                            </div>




                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].PAY_DATE}}<span style="color:red;"> *</span>
                                    </span>
                                </div>
                                <div class="col-sm-9 detaildate_leave">
                                    <div class="datepicker-height-set" style="position:relative; width: 270px; height:40px;">
                                        <datepicker date-min-limit="{{document.Additional.EducationAllowanceData.PayDate| date:'yyyy'}}-01-01" date-max-limit="{{dateNow}}" callback-on-change="setSelectedDOB(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.EducationAllowanceData.PayDate}}">
                                            <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                        </datepicker>
                                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="padding-top: 15px;" ng-if="document.Additional.EducationAllowanceData.WithdrawType == 2">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text['BE_EDUCATIONALLOWANCE'].PAY_ID}}<span style="color:red;"> *</span>
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <input ng-model="document.Additional.EducationAllowanceData.ReceiptNumber" type="text" class="form-control" id="usr">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- bar_bottomlist -->
                </div>
                <div class="-pad10"></div>
            </div>
        </div>
    </div>


    <style>
        .add-padding {
            padding-left: 35px !important;
        }

        .mainBlock .contentBody .contentBodyin {
            padding-top: 1.5rem;
            margin-top: 25px;
        }

        .bdc204 {
            width: inherit;
            border-color: rgb(204, 204, 204);
        }
    </style>
</div>


<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        return !(charCode > 31 && (charCode < 48 || charCode > 57));
    }
</script>