﻿
<div ng-controller="FitnessAllowanceEditorController">

    <!--Check File-->
    <input type="hidden" value="{{document.Additional.BEFitnessAllowanceData.Attachments_num = document.FileSet.Attachments.length}}" />

    
    <div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">
        <!-- itemlist_block -->
        <div class="bar_bottom">
            <!-- bar_bottom-expandlist -->
            <div class="bar_bottomlist">
                <div class="bar-content">
                    <div class="row bar_title">
                        <div class="col-md-12">
                            <div class="bar_left bar_left_single_line">
                                <div class="bar_left-title ng-binding">
                                    {{Text['BE_FITNESSALLOWANCE'].F_FITNESSALLOWANCE_TITLE}}

                                    <input type="hidden" value="{{document.Additional.BEFitnessAllowanceData.ErrorText = document.ErrorText}}" />
                                    <input type="hidden" value="{{document.Additional.BEFitnessAllowanceData.RequestNo = document.RequestNo}}" />
                                    <div style="display:none;">{{document.Additional.BEHealthInsAllowanceData.CreateBy = document.ActionBy.EmployeeID}}</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                        <div class="col-md-12 col-sm-12 col-xs-12 ">

                            <!--<div class="row" style="padding-top: 15px;">
                                <div class="col-sm-2">
                                    <span class="span_name">
                                        {{Text['BE_FITNESSALLOWANCE'].F_YEAR}}<span style="color:red;"> *</span>
                                    </span>
                                </div>
                                <div class="col-sm-4">

                                    <div class="form-group">
                                        <select class="form-control" ng-model="document.Additional.BEFitnessAllowanceData.Year">
                                            <option ng-if="!document.Additional.BEFitnessAllowanceData.Year" value="" disabled selected>{{Text['BE_FITNESSALLOWANCE'].PLEASE_SELECT}}</option>
                                            <option ng-repeat="item in document.Additional.YearData" value="{{item.YearName}}">{{item.YearName}} </option>
                                        </select>
                                    </div>
                                </div>
                            </div>-->




                            <div class="healthinsurance" style="overflow-x:auto;overflow-y: hidden; ">
                                <div class="col-md-12" style="width:1082px;margin-bottom:250px;">
                                    <table>
                                        <tr>
                                            <th>
                                                <span class="">
                                                    {{Text['BE_FITNESSALLOWANCE'].F_SEQUENCE}}
                                                </span>
                                            </th>
                                            <th>
                                                <span class="">
                                                    {{Text['BE_FITNESSALLOWANCE'].F_INSTITUTION_NAME}}
                                                </span>
                                            </th>
                                            <th>
                                                <span class="">
                                                    {{Text['BE_FITNESSALLOWANCE'].F_ReceiptNumber}}
                                                </span>
                                            </th>
                                            <th>
                                                <span class="">
                                                    {{Text['BE_FITNESSALLOWANCE'].F_RecieptDate}}

                                                </span>
                                            </th>
                                            <th>
                                                <span class="">
                                                    {{Text['BE_FITNESSALLOWANCE'].F_AmountExcludeVAT}}
                                                </span>
                                            </th>
                                            <th>
                                                <span class="">
                                                    {{Text['BE_FITNESSALLOWANCE'].F_IFVAT}}
                                                </span>
                                            </th>
                                            <th>
                                                <span class="">
                                                    {{Text['BE_FITNESSALLOWANCE'].F_SUMTOTALAMOUNT}}
                                                </span>
                                            </th>
                                        </tr>

                                        <tr ng-repeat="index in CountVendor">

                                            <td class="text-center">
                                                <span>
                                                    {{index}}
                                                </span>
                                            </td>
                                            <td>
                                                <span class="">
                                                    <input ng-model="document.Additional.BEFitnessAllowanceItemData[index-1].VendorName" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" aria-invalid="false">
                                                </span>
                                            </td>
                                            <td>
                                                <span class="">
                                                    <input ng-model="document.Additional.BEFitnessAllowanceItemData[index-1].ReceiptNumber" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" aria-invalid="false">
                                                </span>
                                            </td>
                                            <td>
                                                <div class="datepicker-height-set" style="position:relative; width: 140px; height:40px;">
                                                    <datepicker date-min-limit="{{document.Additional.BEFitnessAllowanceItemData[index-1].RecieptDate| date:'yyyy'}}-01-01" date-max-limit="{{dateNow}}" callback-on-change="setSelectedDOB(newDate,(index-1))" date-format="d/M/yyyy" date-set="{{document.Additional.BEFitnessAllowanceItemData[index-1].RecieptDate}}">
                                                        <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                                    </datepicker>
                                                    <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="">
                                                    <input  ng-change="CalTotalVat(index-1)" ng-model="document.Additional.BEFitnessAllowanceItemData[index-1].AmountExcludeVAT" type="number" class="form-control ng-pristine ng-untouched ng-valid ng-empty" aria-invalid="false">
                                                </span>
                                            </td>
                                            <td>
                                                <span class="">
                                                    <input  ng-change="CalTotalVat(index-1)" ng-model="document.Additional.BEFitnessAllowanceItemData[index-1].VAT" type="number" class="form-control ng-pristine ng-untouched ng-valid ng-empty" aria-invalid="false">
                                                </span>
                                            </td>
                                            <td class="CalTotalAmount">
                                                <span class="">
                                                    <input readonly onkeypress="return isNumberKey(event);" ng-change="CalTotalAmount()" ng-model="document.Additional.BEFitnessAllowanceItemData[index-1].TotalAmount" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" aria-invalid="false">
                                                </span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <span class="">
                                                    {{Text['BE_FITNESSALLOWANCE'].F_SUMALL_TOTALAMOUNT}}
                                                </span>
                                            </td>
                                            <td>
                                                <span class="">
                                                    <input readonly ng-model="document.Additional.BEFitnessAllowanceData.TotalAmount" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" aria-invalid="false">
                                                </span>
                                            </td>


                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <span class="">
                                                    {{Text['BE_FITNESSALLOWANCE'].F_PAYMENTAMOUNT}}
                                                </span>
                                            </td>
                                            <td>
                                                <span class="">
                                                    <input readonly ng-model="document.Additional.BEFitnessAllowanceData.PaymentAmount" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" aria-invalid="false">
                                                </span>
                                            </td>


                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- bar_bottomlist -->
                </div>
                <div class="-pad10"></div>
            </div>
        </div>
    </div>


</div>

<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        return !(charCode > 31 && (charCode < 48 || charCode > 57));
    }
</script>