﻿<div class="TravelExManPage delegation-page box-content" ng-controller="HealthInsuranceViewerController" ng-init="init();">

    <!--{{document.Additional.BEHealthInsAllowanceItemData}} {{document.Additional.BEHealthInsAllowanceData}}-->

    <div class="body_content" style="margin-bottom:0px;">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" style="overflow-x:hidden; padding-bottom:4rem;">
            <div class="-pad10"></div>
            <div class="body_content">

                <h2>{{Text['BE_HEALTHIANSALLOWANCE'].H_FULLNAME}} : <span style="color: #867353;">{{GetFullName}} ({{FAMILYMEMBER[FamilyMember]}})</span></h2>
                <div class="leavetableBlock leavetableBlock_create">
                    <div class="bar-content" id="sticky_main_bar">
                        <div class="row bar_title">
                            <div class="col-md-12">
                                <div class="bar_left ng-binding">{{Text['BE_HEALTHIANSALLOWANCE'].H_HEALTHIANSALLOWANCE}}</div> <!--การเบิกเงินช่วยเหลือค่ารักษาพยาบาลบุพการี-->
                            </div>
                        </div>
                    </div>

                    <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll;margin-top: -15px;">
                        <div class="row itemlist">
                            <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                    <thead>
                                        <tr style="vertical-align:middle; text-align:center;">
                                            <td>{{Text['BE_HEALTHIANSALLOWANCE'].H_SEQUENCE}}</td> <!--ลำดับที่-->
                                            <td>{{Text['BE_HEALTHIANSALLOWANCE'].H_INSTITUTION_NAME}}</td> <!--ชื่อสถานประกอบการ-->
                                            <td>{{Text['BE_HEALTHIANSALLOWANCE'].H_ReceiptNumber}}</td> <!--เลขที่ใบเสร็จรับเงิน-->
                                            <td>{{Text['BE_HEALTHIANSALLOWANCE'].H_RecieptDate}}</td> <!--วันที่ใบเสร็จ-->
                                            <td>{{Text['BE_HEALTHIANSALLOWANCE'].H_AmountExcludeVAT}}</td> <!--จำนวนเงินก่อน VAT (บาท)-->
                                            <td>{{Text['BE_HEALTHIANSALLOWANCE'].H_VAT}}</td> <!-- VAT (บาท)-->
                                            <td>{{Text['BE_HEALTHIANSALLOWANCE'].H_SUMTOTALAMOUNT}}</td> <!-- จำนวนเงินรวม (บาท)-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--กรณีมีข้อมูล-->
                                        <tr ng-show="HealthInsAllowanceItemList.length > 0" ng-repeat="item in HealthInsAllowanceItemList">
                                            <td>{{($index + 1)}}</td>
                                            <td>{{ item.VendorName }}</td>
                                            <td>{{ item.ReceiptNumber }}</td>
                                            <td>{{ item.RecieptDate | date:"dd/MM/yyyy"}}</td>
                                            <td>{{ item.AmountExcludeVAT| currency : "": 2 }}</td>
                                            <td>{{ item.VAT | currency : "": 2}}</td>
                                            <td>{{ item.TotalAmount | currency : "": 2}}</td>
                                        </tr>

                                        <tr ng-show="HealthInsAllowanceItemList.length > 0">
                                            <td colspan="6">{{Text['BE_HEALTHIANSALLOWANCE'].H_SUMALL_TOTALAMOUNT}}</td> <!--ยอดเงินรวมสุทธิ (บาท)-->
                                            <td>{{ getTotal() | currency : "": 2 }}</td>
                                        </tr>

                                        <tr ng-show="HealthInsAllowanceItemList.length > 0">
                                            <td colspan="6">{{Text['BE_HEALTHIANSALLOWANCE'].H_PAYMENTAMOUNT}}</td> <!--ยอดเงินที่เบิกได้จริง (บาท)-->
                                            <td>{{ PaymentAmount | currency : "": 2 }}</td>
                                        </tr>

                                        <!--กรณีไม่มีข้อมูล-->
                                        <tr ng-show="HealthInsAllowanceItemList.length === 0">
                                            <td colspan="7" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

