﻿<div class="TravelExManPage delegation-page box-content" ng-controller="RegistorHealthInsuranceViewerController" ng-init="init();">

    <input type="hidden" value="{{document.Additional.BEHealthInsAllowanceData.Attachments_num = document.FileSet.Attachments.length}}" />
    <div class="body_content" style="margin-bottom:0px;">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" style="overflow-x:hidden; padding-bottom:4rem;">
            <div class="-pad10"></div>
            <div class="body_content">
                <div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">
                    <!-- itemlist_block -->
                    <div class="bar_bottom">
                        <!-- bar_bottom-expandlist -->
                        <div class="bar_bottomlist">
                            <div class="bar-content">
                                <div class="row bar_title">
                                    <div class="col-md-12">
                                        <div class="bar_left bar_left_single_line">
                                            <div class="bar_left-title ng-binding">
                                                {{Text['BE_HEALTHINSURANCEREGISTER'].HEALTHINSURANCEREGISTERINFO}}
                                                <div style="display:none;">{{document.Additional.BEHealthInsAllowanceData.CreateBy = document.ActionBy.EmployeeID}}</div>

                                                <input type="hidden" value="{{document.Additional.BEHealthInsAllowanceData.ErrorText = document.ErrorText}}" />
                                                <input type="hidden" value="{{document.Additional.BEHealthInsAllowanceData.RequestNo = document.RequestNo}}" />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                                    <div class="col-md-12 col-sm-12 col-xs-12 ">


                                        <div class="row" style="padding-top: 15px;">
                                            <div class="col-sm-2">
                                                <span class="span_name">
                                                    {{Text['BE_HEALTHINSURANCEREGISTER'].NAME}}
                                                </span>
                                            </div>
                                            <div class="col-sm-3">

                                                <div class="form-group">
                                                    <input readonly ng-model="Fullname" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty">

                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <span class="span_name">
                                                    {{Text['BE_HEALTHINSURANCEREGISTER'].WORKSTARTDATE}}
                                                </span>
                                            </div>
                                            <div class="col-sm-3">

                                                <div class="datepicker-height-set">
                                                    <datepicker date-format="d/M/yyyy" date-set="{{BeginDate}}" data-id="">
                                                        <input ng-disabled="true" name="Startdate" class="form-control clickable datepicker" type="text" />
                                                    </datepicker>
                                                    <i class="icon-calendar ico_datestart -txt-blue" style="z-index:99;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="padding-top: 15px;">
                                            <div class="col-sm-2">
                                                <span class="span_name">
                                                    {{Text['BE_HEALTHINSURANCEREGISTER'].REGISTORDATE}}
                                                </span>
                                            </div>
                                            <div class="col-sm-3">

                                                <div class="datepicker-height-set">
                                                    <datepicker date-format="d/M/yyyy" date-set="{{RegistorDate}}" data-id="">
                                                        <input ng-disabled="true" name="Enddate" class="form-control clickable datepicker" type="text" />
                                                    </datepicker>
                                                    <i class="icon-calendar ico_datestart -txt-blue" style="z-index:99;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row" style="padding-top: 15px;">
                                            <div class="col-sm-2">
                                                <span class="span_name">
                                                    {{Text['BE_HEALTHINSURANCEREGISTER'].CHOOSE}}<span style="color:red;"> *</span>
                                                </span>
                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll;margin-top: -15px;">
                                                <div class="row itemlist">
                                                    <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                                        <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                            <thead>
                                                                <tr style="vertical-align:middle; text-align:center;">
                                                                    <td>{{Text['BE_HEALTHINSURANCEREGISTER'].SELECT}}</td> <!--ลำดับที่-->
                                                                    <td>{{Text['BE_HEALTHINSURANCEREGISTER'].NO}}</td> <!--เลขที่ขอเบิก-->
                                                                    <td>{{Text['BE_HEALTHINSURANCEREGISTER'].RELETION}}</td> <!--วันที่เบิก-->
                                                                    <td>{{Text['BE_HEALTHINSURANCEREGISTER'].NAMEINFO}}</td> <!--ชื่อบุพการี-->
                                                                    <td>{{Text['BE_HEALTHINSURANCEREGISTER'].BIRTHDAY}}</td> <!--จำนวนเงิน (บาท)-->
                                                                    <td>{{Text['BE_HEALTHINSURANCEREGISTER'].AGE}}</td> <!--จำนวนเงิน (บาท)-->


                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <!--กรณีมีข้อมูล History-->
                                                                <tr ng-repeat="Item in document.Additional.FamilyData |filter: filtered"
                                                                    ng-show="document.Additional.FamilyData.length > 0 ">
                                                                    <td class="font-16 text-center"><input type="checkbox" ng-disabled="true" ng-model="Item.Ischeck" /></td>
                                                                    <td class="font-16 text-center">{{($index + 1)}}</td>
                                                                    <td class="font-16 text-center">{{FAMILYMEMBER[Item.FamilyMember]}}</td>
                                                                    <td class="font-16 text-left">{{TITLENAME[Item.TitleName]}}{{Item.Name}} {{Item.Surname}}</td>
                                                                    <td class="font-16 text-center">{{getDateFormat(Item.BirthDate)}}</td>
                                                                    <td class="font-16 text-center">{{Item.Age}} ปี</td>
                                                                </tr>

                                                                <!--กรณีไม่มีข้อมูล Quota-->
                                                                <tr ng-show="FamilyMemberList.length == 0 || (FamilyMemberList | filter:filtered).length == 0">
                                                                    <td colspan="4" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                                                </tr> <!--HEALTHINS-->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <!-- bar_bottomlist -->
                            </div>
                            <div class="-pad10"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

