﻿<div class="TravelExManPage delegation-page" ng-controller="LetterViewerController">

    <!-- Ayodia -->

    <!--<div class="ayodia-style">
        <div class="row margin-b10">
            <div class="col-sm-10 lr-0">
                <div class="title-top-page">ทดสอบระบบ</div>
            </div>
        </div>
    </div>-->

    <!-- Before -->
    <div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">
        <div class="bar_bottom">
            <div class="bar_bottomlist">
                <div class="bar-content">
                    <div class="row bar_title">
                        <div class="col-md-12">
                            <div class="bar_left bar_left_single_line">
                                <div class="bar_left-title ng-binding">
                                    {{Text[Textcategory].LETTERDETAIL}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ag-flex-row ag-align-center" style="    padding-top: 1rem; padding-bottom: 1rem;">
                        <div class="col-md-10 col-sm-10 col-xs-12 ">

                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].LETTERTYPE}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15"> {{TextLetterType[Letter[0].LetterTypeID]}}</div>
                                </div>
                            </div>

                            <!--VACATION OLD-->
                            <!--<div class="row" ng-if="EnabledVacation">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].VACATIONTO}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15"> {{Letter[0].EmbassyName}}</div>
                                </div>
                            </div>

                            <div class="row" ng-if="EnabledVacation">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].VACATIONBEGIN}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15"> {{Letter[0].VacationBegin | date:"dd/MM/yyyy"}}</div>
                                </div>
                            </div>
                            <div class="row" ng-if="EnabledVacation">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].VACATIONEND}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15"> {{Letter[0].VacationEnd | date:"dd/MM/yyyy"}}</div>
                                </div>
                            </div>-->


                            <div class="row" ng-if="EnabledVacation">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].VACATION1}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15"> {{Letter[0].EmbassyName}}</div>
                                </div>
                            </div>

                            <div class="row" ng-if="EnabledVacation">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].VACATIONBEGIN1}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15"> {{Letter[0].VacationBegin | date:"dd/MM/yyyy"}}</div>
                                </div>
                            </div>
                            <div class="row" ng-if="EnabledVacation">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].VACATIONEND}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15"> {{Letter[0].VacationEnd | date:"dd/MM/yyyy"}}</div>
                                </div>
                            </div>


                            <div class="row" ng-if="EnabledVacation && Letter[0].EmbassyID2 != 0">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].VACATION2}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15"> {{Letter[0].EmbassyName2}}</div>
                                </div>
                            </div>

                            <div class="row" ng-if="EnabledVacation && Letter[0].EmbassyID2 != 0">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].VACATIONBEGIN2}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15"> {{Letter[0].VacationBegin2 | date:"dd/MM/yyyy"}}</div>
                                </div>
                            </div>
                            <div class="row" ng-if="EnabledVacation && Letter[0].EmbassyID2 != 0">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].VACATIONEND}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15"> {{Letter[0].VacationEnd2 | date:"dd/MM/yyyy"}}</div>
                                </div>
                            </div>



                            <div class="row" ng-if="EnabledVacation && Letter[0].EmbassyID3 != 0">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].VACATION3}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15"> {{Letter[0].EmbassyName3}}</div>
                                </div>
                            </div>

                            <div class="row" ng-if="EnabledVacation && Letter[0].EmbassyID3 != 0">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].VACATIONBEGIN3}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15"> {{Letter[0].VacationBegin3 | date:"dd/MM/yyyy"}}</div>
                                </div>
                            </div>
                            <div class="row" ng-if="EnabledVacation && Letter[0].EmbassyID3 != 0">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].VACATIONEND}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15"> {{Letter[0].VacationEnd3 | date:"dd/MM/yyyy"}}</div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].SIGN}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15"> {{Letter[0].SignName}}</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].REASON}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15"> {{Letter[0].Reason}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="-pad10"></div>

                <div class="bar-content" ng-if="EnabledLetterAdminPrint">
                    <div class="row bar_title">
                        <div class="col-md-12">
                            <div class="bar_left bar_left_single_line">
                                <div class="bar_left-title ng-binding">
                                    {{Text[Textcategory].PRINTDETAIL}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="EnabledLetterAdminPrint">
                    <div class="ag-flex-row ag-align-center" style="    padding-top: 1rem; padding-bottom: 1rem;">
                        <div class="col-md-10 col-sm-10 col-xs-12 ">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div style="text-align:left">
                                        <i class="fas fa-print" ng-click="PrintLetter(Letter[0].EmployeeID + '|' +  document.RequestNo,'EXCEL')"> {{Text[Textcategory].PRINT}}</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <style>
        .add-padding {
            padding-left: 35px !important;
        }

        .mainBlock .contentBody .contentBodyin {
            padding-top: 1.5rem;
            margin-top: 25px;
        }
    </style>
</div>
