﻿<div ng-controller="PFPercentageViewerController">

    <div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">
        <div class="bar_bottom">
            <div class="bar_bottomlist">
                <div class="bar-content">
                    <div class="row bar_title">
                        <div class="col-md-12">
                            <div class="bar_left bar_left_single_line">
                                <div class="bar_left-title ng-binding">
                                    <!--ข้อมูลเกี่ยวกับกองทุนสำรองเลี้ยงชีพ-->
                                    {{Text['PROVIDENTFUND'].PROVIDENTFUNDINFO}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <!--รายละเอียดกองทุน-->
                    <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                        <div class="col-md-10 col-sm-10 col-xs-12 ">

                            <div class="row">
                                <div class="col-sm-12">
                                    <h2>
                                        <!--วันที่ข้อมูลมีผล ณ วันที่-->
                                        วันที่ข้อมูลมีผล ณ วันที่  {{document.Additional.PF_PeriodSetting[0].EffectiveDate| date:"dd/MM/yyyy"}}
                                    </h2>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-4">
                                    <span class="span_name">
                                        <!--รูปแบบการลงทุน-->
                                        {{Text['PROVIDENTFUND'].FUND}}
                                    </span>
                                </div>
                                <div class="col-sm-8">
                                    <div class="breakword-100px em-font-15" ng-hide="document.Additional.PF_ProvidentFundLog.FundID == document.Additional.OldProvidentFundData.ProvidentFundNumber"><span class="red_text"><strike>{{Text['PROVIDENTFUND']['FUND_' + document.Additional.OldProvidentFundData.ProvidentFundNumber]}}</strike></span> >> <span class="blue_text">{{Text['PROVIDENTFUND']['FUND_' + document.Additional.PF_ProvidentFundLog.FundID]}}</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="document.Additional.PF_ProvidentFundLog.FundID == document.Additional.OldProvidentFundData.ProvidentFundNumber">{{Text['PROVIDENTFUND']['FUND_' + document.Additional.PF_ProvidentFundLog.FundID]}}</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <span class="span_name">
                                        <!--% เงินสะสมของพนักงาน-->
                                        {{Text['PROVIDENTFUND'].EMPLOYEEPERCENTAGE}}
                                    </span>
                                </div>
                                <div class="col-sm-8">
                                    <div class="breakword-100px em-font-15" ng-hide="document.Additional.PF_ProvidentFundLog.EmployeeSavingText == document.Additional.OldProvidentFundData.EmployeePercentage"><span class="red_text"><strike>{{document.Additional.OldProvidentFundData.EmployeePercentage | number : 2}} %</strike></span> >> <span class="blue_text">{{document.Additional.PF_ProvidentFundLog.EmployeeSavingText | number : 2}} %</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="document.Additional.PF_ProvidentFundLog.EmployeeSavingText == document.Additional.OldProvidentFundData.EmployeePercentage">{{document.Additional.PF_ProvidentFundLog.EmployeeSavingText | number : 2}} %</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <span class="span_name">
                                        <!--% เงินสมทบของบริษัท-->
                                        {{Text['PROVIDENTFUND'].EMPLOYERPERCENTAGE}}
                                    </span>
                                </div>
                                <div class="col-sm-8">
                                    <div class="breakword-100px em-font-15">{{document.Additional.ProvidentFundData.EmployerPercentage | number : 2}} %</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="-pad10"></div>
            </div>
        </div>

        <style>
            .add-padding {
                padding-left: 35px !important;
            }

            .mainBlock .contentBody .contentBodyin {
                padding-top: 1.5rem;
                margin-top: 25px;
            }
        </style>
    </div>
</div>