﻿<div ng-controller="PFPercentageEditorController">

        <div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">
            <!-- itemlist_block -->
            <div class="bar_bottom">
                <!-- bar_bottom-expandlist -->
                <div class="bar_bottomlist">
                    <div class="bar-content">
                        <div class="row bar_title">
                            <div class="col-md-12">
                                <div class="bar_left bar_left_single_line">
                                    <div class="bar_left-title ng-binding">
                                        {{Text['PROVIDENTFUND'].PROVIDENTFUNDINFO}}
                                        <!--ข้อมูลเกี่ยวกับกองทุนสำรองเลี้ยงชีพ-->

                                        <input type="hidden" value="{{document.Additional.PF_ProvidentFundLog.ErrorText = document.ErrorText}}" />
                                        <input type="hidden" value="{{document.Additional.PF_ProvidentFundLog.CreateBy =  document.ActionBy.EmployeeID}}">
                                        <input type="hidden" value="{{document.Additional.PF_ProvidentFundLog.EmpGroup = requesterData.EmpGroup}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                            <div class="col-md-10 col-sm-10 col-xs-12 ">


                                <div class="row" style="padding-top: 15px;">
                                    <div class="col-sm-4">
                                        <span class="span_name">
                                            {{Text['PROVIDENTFUND'].EFFECTIVEDATE}}
                                        </span>
                                    </div>
                                    <div class="col-sm-7">

                                        <div class="form-group">
                                            <span class="span_name">{{document.Additional.PF_PeriodSetting[0].EffectiveDate| date:"dd/MM/yyyy"}} </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="padding-top: 15px;">
                                    <div class="col-sm-4">
                                        <span class="span_name">
                                            <!--รูปแบบการลงทุน-->
                                            {{Text['PROVIDENTFUND'].FUND}}
                                        </span>
                                    </div>
                                    <div class="col-sm-8">

                                        <div class="form-group">

                                            <span class="span_name"> {{Text['PROVIDENTFUND']['FUND_'+document.Additional.PF_ProvidentFundLog.FundID]}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 15px;">
                                    <div class="col-sm-4">
                                        <span class="span_name">
                                            <!--% เงินสะสมของพนักงาน-->
                                            {{Text['PROVIDENTFUND'].EMPLOYEEPERCENTAGE}}<span style="color:red;"> *</span>
                                        </span>
                                    </div>
                                    <div class="col-sm-7">

                                        <div class="form-group">
                                            <select type="number" class="form-control" ng-model="document.Additional.PF_ProvidentFundLog.EmployeeSavingText">
                                                <option ng-repeat="item2 in document.Additional.PF_Percentage" value="{{item2.ValueText}}">{{item2.ValueText}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>



                                <div class="row" style="padding-top: 15px;">
                                    <div class="col-sm-4">
                                        <span class="span_name">
                                            <!--% เงินสมทบของบริษัท-->
                                            {{Text['PROVIDENTFUND'].EMPLOYERPERCENTAGE}}
                                        </span>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <span class="span_name">{{document.Additional.ProvidentFundData.EmployerPercentage|number:2}}</span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- bar_bottomlist -->
                    </div>
                    <div class="-pad10"></div>
                </div>
            </div>
        </div>


        <style>
            .add-padding {
                padding-left: 35px !important;
            }

            .mainBlock .contentBody .contentBodyin {
                padding-top: 1.5rem;
                margin-top: 25px;
            }

            .bdc204 {
                width: inherit;
                border-color: rgb(204, 204, 204);
            }
        </style>
    </div>


    <script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        return !(charCode > 31 && (charCode < 48 || charCode > 57));
    }
    </script>

