﻿<div ng-controller="ProvidentMemberEditorController">
    <!--TAB2-->
    <!--รายละเอียดผู้รับผลประโยชน์-->
    <div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">
        <div class="bar_bottom">
            <div class="bar_bottomlist">
                <div class="bar-content">
                    <div class="row bar_title">
                        <div class="col-md-12">
                            <div class="bar_left bar_left_single_line">
                                <div class="bar_left-title ng-binding">
                                    {{Text['PROVIDENTFUND'].PROVIDENTMEMBERDATA}}
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <input type="hidden" value="{{document.Additional.ErrorText = document.ErrorText}}" />
                <input type="hidden" value="{{document.Additional.EmpGroup = requesterData.EmpGroup}}" />
                <div class="body_content" style="background:white;">
                    <div class="bar_bottom layout-padding-md">
                        <div class="bar_bottom layout-padding-md">

                            <div class="row">
                                <div class="col-md-6 p-0 mt-2">
                                    <div class="item-btn mobile-text-center">
                                        <a ng-click="AddMember()">
                                            <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                                                <span class="icon-doc_plus" aria-hidden="true"></span> {{Text['PROVIDENTFUND'].ADD}}
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <md-tabs md-selected="selectedIndex" class="personal_family_Content" md-stretch-tabs="always" md-swipe-content="false" md-no-pagination="false" md-border-bottom="true" md-dynamic-height="true">
                                <!--1 person-->

                                <div id="tab_{{member.ChildNo}}" ng-repeat="member in document.Additional.ProvidentFundMember">
                                    <md-tab class="mt-1" label="{{Text['FAMILY'].PROVIDENTFUNDMEMBER}} {{member.ChildNo}}">
                                        <div class="body_content" style="background:white;">
                                            <div class="leavetableBlock leavetableBlock_create">

                                                <!--button delete-->
                                                <div class="item-btn mobile-text-center" style="text-align:right; margin-bottom: 5px; margin-right: 15px;padding-top:5px;">

                                                    <a ng-click="RemoveMember(member)" aria-label="ลบ" md-labeled-by-tooltip="md-tooltip-105">
                                                        <div class="itemin_btn ng-binding -tab-red" style="min-width: 100px;text-align: center;">
                                                            <span class="icon-doc_x" aria-hidden="true"></span> {{Text['PY_PROVIDENTFUND_MEMBER'].DELETE}}
                                                        </div>

                                                    </a>
                                                </div>
                                                <!--end button delete-->

                                                <div class="row itemlist_block">
                                                    <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">{{Text[Textcategory].TITLENAME}}<span style="color:red;"> *</span></span>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <select class="form-control" ng-model="member.TitleName" placeholder="">
                                                                        <option value="" selected>{{Text['PROVIDENTFUND'].PLEASE_SELECT}}</option>
                                                                        <option value="{{item.Key}}" ng-repeat="item in Title" ng-if="item.Key!=0">{{item.Description}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">{{Text[Textcategory].NAME}}<span style="color:red;"> *</span></span>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <input type="text" class="form-control" ng-model="member.Name">
                                                                </div>

                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].SURNAME}}<span style="color:red;"> *</span>
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <input type="text" class="form-control" ng-model="member.Surname">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].BIRTHDATE}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <div class="datepicker-height-set" style="position:relative; width: 140px; height:40px;">
                                                                        <datepicker callback-on-change="setSelectedDOB(newDate,member)" date-format="d/M/yyyy" date-set="{{member.BirthDate}}">
                                                                            <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                                                        </datepicker>
                                                                        <!-- <datepicker date-limit-from-api="true" date-limit-from-api-mode="beforeHire" callback-on-change="setSelectedDOB(newDate,member)" date-format="d/M/yyyy" date-set="{{member.BirthDate}}">
                                                                            <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                                                        </datepicker> -->
                                                                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].COUNTRYBIRTH}}<span style="color:red;"> *</span>
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-5">

                                                                    <select class="form-control" ng-model="member.CityOfBirth">
                                                                        <option value="" selected>{{Text['PROVIDENTFUND'].PLEASE_SELECT}}</option>
                                                                        <option value="{{item.CountryCode}}" ng-repeat="item in Country">{{item.CountryName}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <!--<div class="row">
                                       <div class="col-sm-5">
                                           <span class="span_name">
                                               {{Text[Textcategory].BIRTHPLACE}}
                                           </span>
                                       </div>
                                       <div class="col-sm-5">
                                           <select class="form-control" ng-model="member.BirthPlace" placeholder="">
                                               <option value="{{item.ProvinceName}}" ng-repeat="item in Province">{{item.ProvinceName}}</option>
                                           </select>
                                       </div>
                                    </div>-->

                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].NATIONALITY}}<span style="color:red;"> *</span>
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <select class="form-control" ng-model="member.Nationality">
                                                                        <option value="" selected>{{Text['PROVIDENTFUND'].PLEASE_SELECT}}</option>
                                                                        <option value="{{item.Key}}" ng-repeat="item in Nationality">{{item.Name}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].FamAddress}}
                                                                    </span>
                                                                </div>

                                                                <div class="col-sm-5">
                                                                    <input type="text" class="form-control" ng-model="member.Address">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].FamStreet}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <input type="text" class="form-control" ng-model="member.Street">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].FamDistrict}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <input type="text" class="form-control" ng-model="member.District">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].FamCity}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <input type="text" class="form-control" ng-model="member.City">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].FamPostcode}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <input type="text" class="form-control" ng-model="member.Postcode">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].FamCountry}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-5">

                                                                    <select class="form-control" ng-model="member.Country">
                                                                        <option value="" selected>{{Text['PROVIDENTFUND'].PLEASE_SELECT}}</option>
                                                                        <option value="{{item.CountryCode}}" ng-repeat="item in Country">{{item.CountryName}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].FamTelNo}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <input type="text" class="form-control" ng-model="member.TelephoneNo">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].PERCENTBENEFIT}}<span style="color:red;"> *</span>
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <input onkeypress="return isNumberKey(event);" type="text" class="form-control" ng-model="member.Employer">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </md-tab>
                                </div>
                            </md-tabs>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

<style>
    .row {
        margin-top: 0px !important;
    }
</style>


            <script>
                function isNumberKey(evt) {
                    var charCode = (evt.which) ? evt.which : evt.keyCode
                    return !(charCode > 31 && (charCode < 48 || charCode > 57));
                }
            </script>
