﻿<div ng-controller="ProvidentMemberViewerController" ng-init="init();">
    <div class="body_content" style="background:white;" ng-show="document.Additional.ProvidentFundMember.length > 0">
        <div class="bar_bottom layout-padding-md">
            <div class="bar_bottom layout-padding-md">
                <md-tabs class="personal_family_Content" md-stretch-tabs="always" md-swipe-content="false" md-no-pagination="false" md-border-bottom="true" md-dynamic-height="true">
                    <md-tab class="mt-1" label="{{Text[Textcategory].PROVIDENTFUNDMEMBER}} {{member.ChildNo}}" ng-repeat="member in document.Additional.ProvidentFundMember">
                        <div class="body_content" style="background:white;">
                            <div class="leavetableBlock leavetableBlock_create">
                                <div class="row itemlist_block">
                                    <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <span class="span_name">{{Text[Textcategory].TITLENAME}}</span>
                                                </div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.TitleName">{{TITLENAME[member.TitleName]}}</div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.TitleName">-</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <span class="span_name">{{Text[Textcategory].NAME}}</span>
                                                </div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.Name">{{member.Name}}</div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.Name">-</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <span class="span_name">
                                                        {{Text[Textcategory].SURNAME}}
                                                    </span>
                                                </div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.Surname">{{member.Surname}}</div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.Surname">-</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <span class="span_name">
                                                        {{Text[Textcategory].BIRTHDATE}}
                                                    </span>
                                                </div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.BirthDate">{{(member.BirthDate | date:"dd/MM/yyyy")}}</div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.BirthDate">-</div>
                                            </div>
                                            <!--<div class="row">
                                                <div class="col-sm-5">
                                                    <span class="span_name">
                                                        {{Text[Textcategory].BIRTHPLACE}}
                                                    </span>
                                                </div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.BirthPlace">{{member.BirthPlace}}</div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.BirthPlace">-</div>
                                            </div>-->
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <span class="span_name">
                                                        {{Text[Textcategory].COUNTRYBIRTH}}
                                                    </span>
                                                </div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.CityOfBirth">{{COUNTRY[member.CityOfBirth]}}</div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.CityOfBirth">-</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <span class="span_name">
                                                        {{Text[Textcategory].NATIONALITY}}
                                                    </span>
                                                </div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.Nationality">{{NATIONALITY[member.Nationality]}}</div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.Nationality">-</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <span class="span_name">
                                                        {{Text[Textcategory].FamAddress}}
                                                    </span>
                                                </div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.Address">{{member.Address}}</div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.Address">-</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <span class="span_name">
                                                        {{Text[Textcategory].FamStreet}}
                                                    </span>
                                                </div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.Street">{{member.Street}}</div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.Street">-</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <span class="span_name">
                                                        {{Text[Textcategory].FamDistrict}}
                                                    </span>
                                                </div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.District">{{member.District}}</div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.District">-</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <span class="span_name">
                                                        {{Text[Textcategory].FamCity}}
                                                    </span>
                                                </div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.City">{{member.City}}</div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.City">-</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <span class="span_name">
                                                        {{Text[Textcategory].FamPostcode}}
                                                    </span>
                                                </div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.Postcode">{{member.Postcode}}</div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.Postcode">-</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <span class="span_name">
                                                        {{Text[Textcategory].FamCountry}}
                                                    </span>
                                                </div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.Country">{{COUNTRY[member.Country]}}</div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.Country">-</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <span class="span_name">
                                                        {{Text[Textcategory].FamTelNo}}
                                                    </span>
                                                </div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.TelephoneNo">{{member.TelephoneNo}}</div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.TelephoneNo">-</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <span class="span_name">
                                                        {{Text[Textcategory].PERCENTBENEFIT}}
                                                    </span>
                                                </div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.Employer">{{member.Employer}}</div>
                                                <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.Employer">0</div>
                                            </div>

                                            <div class="row" ng-if="DictFileAttachmentList[member.FamilyMember+member.ChildNo].length > 0">
                                                <div class="document-attachment">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            {{Text['SYSTEM']['ATTACHMENT']}}
                                                        </div>
                                                        <div class="panel-body document-heading-description" style="word-wrap: break-word;">
                                                            <div ng-repeat="attachment in DictFileAttachmentList[member.FamilyMember+member.ChildNo]" style="line-height:30px">
                                                                <a style="cursor:pointer" ng-click="getFileAttach(attachment.FileSetID, attachment.FileID)" ng-if="attachment.FilePath == null">{{$index + 1}}. {{attachment.FileName}}</a>
                                                                <a style="cursor:pointer" ng-click="getFileFromPath(attachment)" ng-if="attachment.FilePath != null">{{$index + 1}}. {{attachment.FileName}}</a>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </div>
</div>

<style>
    .row {
        margin-top: 0px !important;
    }
</style>