﻿<div ng-controller="TaxAllowanceViewerController">
    
    <div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">
        <div class="bar_bottom">
            <!-- bar_bottom-expandlist -->
            <div class="bar_bottomlist">
                <div class="bar-content">
                    <div class="row bar_title">
                        <div class="col-md-12">
                            <div class="bar_left bar_left_single_line">
                                <div class="bar_left-title ng-binding">
                                    {{Text[Textcategory].TAXALLOWANCE}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ag-flex-row ag-align-center" style="    padding-top: 1rem; padding-bottom: 1rem;">
                        <div class="col-md-10 col-sm-10 col-xs-12 ">

                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].CLAIMTYPE}}<!---สถานภาพสมรส-->
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-hide="TaxAllowance.SpouseAllowance==TaxAllowanceOld.SpouseAllowance"><span class="red_text"><strike>[{{ClaimTypeNameOld}}]</strike></span> >> <span class="blue_text">[{{ClaimTypeName}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="TaxAllowance.SpouseAllowance==TaxAllowanceOld.SpouseAllowance">{{ClaimTypeName}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].CHDALLOW}} <!--- จำนวนบุตรที่ขอลดหย่อนภาษี-->
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-hide="TaxAllowance.ChdAllow==TaxAllowanceOld.ChdAllow">
                                        <span class="red_text"><strike>[{{TaxAllowanceOld.ChdAllow}}]</strike></span> >> <span class="blue_text">[{{TaxAllowance.ChdAllow}}]</span>
                                    </div>
                                    <div class="breakword-100px em-font-15" ng-show="TaxAllowance.ChdAllow==TaxAllowanceOld.ChdAllow">{{TaxAllowance.ChdAllow}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].CHDDISALLOW}} <!--- จำนวนบุตรพิการที่ขอลดหย่อนภาษี-->
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-hide="TaxAllowance.ChdDisAllow==TaxAllowanceOld.ChdDisAllow"><span class="red_text"><strike>[{{TaxAllowanceOld.ChdDisAllow}}]</strike></span> >> <span class="blue_text">[{{TaxAllowance.ChdDisAllow}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="TaxAllowance.ChdDisAllow==TaxAllowanceOld.ChdDisAllow">{{TaxAllowance.ChdDisAllow}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].SPOUSEINS}} <!--- เบี้ยประกันชีวิตคู่สมรส-->
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-hide="TaxAllowance.SpouseIns==TaxAllowanceOld.SpouseIns"><span class="red_text"><strike>[{{TaxAllowanceOld.SpouseIns | number : 2}}]</strike></span> >> <span class="blue_text">[{{TaxAllowance.SpouseIns | number : 2}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="TaxAllowance.SpouseIns==TaxAllowanceOld.SpouseIns">{{TaxAllowance.SpouseIns | number : 2}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].PENSIONFUNDINVESTMENT}}  <!--- เงินกองทุนบำนาญ-->
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-hide="TaxAllowance.PensionFundInvestment==TaxAllowanceOld.PensionFundInvestment"><span class="red_text"><strike>[{{TaxAllowanceOld.PensionFundInvestment  | number : 2}}]</strike></span> >> <span class="blue_text">[{{TaxAllowance.PensionFundInvestment  | number : 2}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="TaxAllowance.PensionFundInvestment==TaxAllowanceOld.PensionFundInvestment">{{TaxAllowance.PensionFundInvestment  | number : 2}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].MORTGAGE}}  <!--- ดอกเบี้ยเช่าซื้อที่อยู่อาศัย-->
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-hide="TaxAllowance.Mortgage==TaxAllowanceOld.Mortgage"><span class="red_text"><strike>[{{TaxAllowanceOld.Mortgage  | number : 2}}]</strike></span> >> <span class="blue_text">[{{TaxAllowance.Mortgage  | number : 2}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="TaxAllowance.Mortgage==TaxAllowanceOld.Mortgage">{{TaxAllowance.Mortgage | number : 2}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].MFUND}}  <!--- กองทุนเพื่อการเลี้ยงชีพ RMF-->
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-hide="TaxAllowance.MFund==TaxAllowanceOld.MFund"><span class="red_text"><strike>[{{TaxAllowanceOld.MFund  | number : 2}}]</strike></span> >> <span class="blue_text">[{{TaxAllowance.MFund  | number : 2}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="TaxAllowance.MFund==TaxAllowanceOld.MFund">{{TaxAllowance.MFund | number : 2}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].CHARITY}} <!---  เงินบริจาค-->
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-hide="TaxAllowance.Charity==TaxAllowanceOld.Charity"><span class="red_text"><strike>[{{TaxAllowanceOld.Charity  | number : 2}}]</strike></span> >> <span class="blue_text">[{{TaxAllowance.Charity  | number : 2}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="TaxAllowance.Charity==TaxAllowanceOld.Charity">{{TaxAllowance.Charity | number : 2}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].CHARITYEDU}} <!--- เงินบริจาคเพื่อการศึกษา-->
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-hide="TaxAllowance.CharityEdu==TaxAllowanceOld.CharityEdu"><span class="red_text"><strike>[{{TaxAllowanceOld.CharityEdu  | number : 2}}]</strike></span> >> <span class="blue_text">[{{TaxAllowance.CharityEdu  | number : 2}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="TaxAllowance.CharityEdu==TaxAllowanceOld.CharityEdu">{{TaxAllowance.CharityEdu | number : 2}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].LIFEINS}} <!--- เบี้ยประกันชีวิต-->
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-hide="TaxAllowance.LifeIns==TaxAllowanceOld.LifeIns"><span class="red_text"><strike>[{{TaxAllowanceOld.LifeIns  | number : 2}}]</strike></span> >> <span class="blue_text">[{{TaxAllowance.LifeIns  | number : 2}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="TaxAllowance.LifeIns==TaxAllowanceOld.LifeIns">{{TaxAllowance.LifeIns | number : 2}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].LONGTERM}} <!--- เปลี่ยนจาก LTF เป็น SSF -->
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-hide="TaxAllowance.LongTerm==TaxAllowanceOld.LongTerm"><span class="red_text"><strike>[{{TaxAllowanceOld.LongTerm  | number : 2}}]</strike></span> >> <span class="blue_text">[{{TaxAllowance.LongTerm  | number : 2}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="TaxAllowance.LongTerm==TaxAllowanceOld.LongTerm">{{TaxAllowance.LongTerm | number : 2}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].ALLOWFATHER}} <!--- ลดหย่อนเลี้ยงดูบิดา-->
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-hide="TaxAllowance.AllowFather==TaxAllowanceOld.AllowFather"><span class="red_text"><strike>[{{TaxAllowanceOld.AllowFather  | number : 2}}]</strike></span> >> <span class="blue_text">[{{TaxAllowance.AllowFather  | number : 2}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="TaxAllowance.AllowFather==TaxAllowanceOld.AllowFather">{{TaxAllowance.AllowFather | number : 2}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].ALLOWMOTHER}}  <!---ลดหย่อนเลี้ยงดูมารดา-->
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-hide="TaxAllowance.AllowMother==TaxAllowanceOld.AllowMother"><span class="red_text"><strike>[{{TaxAllowanceOld.AllowMother  | number : 2}}]</strike></span> >> <span class="blue_text">[{{TaxAllowance.AllowMother  | number : 2}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="TaxAllowance.AllowMother==TaxAllowanceOld.AllowMother">{{TaxAllowance.AllowMother | number : 2}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].SPALLOWFATHER}}  <!--- ลดหย่อนเลี้ยงดูบิดาคู่สมรส-->
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-hide="TaxAllowance.SpAllowFather==TaxAllowanceOld.SpAllowFather"><span class="red_text"><strike>[{{TaxAllowanceOld.SpAllowFather  | number : 2}}]</strike></span> >> <span class="blue_text">[{{TaxAllowance.SpAllowFather  | number : 2}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="TaxAllowance.SpAllowFather==TaxAllowanceOld.SpAllowFather">{{TaxAllowance.SpAllowFather | number : 2}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].SPAlLOWMOTHER}} <!---ลดหย่อนเลี้ยงดูมารดาคู่สมรส-->
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-hide="TaxAllowance.SpAllowMother==TaxAllowanceOld.SpAllowMother"><span class="red_text"><strike>[{{TaxAllowanceOld.SpAllowMother  | number : 2}}]</strike></span> >> <span class="blue_text">[{{TaxAllowance.SpAllowMother  | number : 2}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="TaxAllowance.SpAllowMother==TaxAllowanceOld.SpAllowMother">{{TaxAllowance.SpAllowMother | number : 2}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].FATHERINS}} <!--- ลดหย่อนเบี้ยประกันบิดา-->
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-hide="TaxAllowance.FatherIns==TaxAllowanceOld.FatherIns"><span class="red_text"><strike>[{{TaxAllowanceOld.FatherIns  | number : 2}}]</strike></span> >> <span class="blue_text">[{{TaxAllowance.FatherIns  | number : 2}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="TaxAllowance.FatherIns==TaxAllowanceOld.FatherIns">{{TaxAllowance.FatherIns | number : 2}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].MOTHERINS}} <!--- ลดหย่อนเบี้ยประกันมารดา-->
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-hide="TaxAllowance.MotherIns==TaxAllowanceOld.MotherIns"><span class="red_text"><strike>[{{TaxAllowanceOld.MotherIns  | number : 2}}]</strike></span> >> <span class="blue_text">[{{TaxAllowance.MotherIns  | number : 2}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="TaxAllowance.MotherIns==TaxAllowanceOld.MotherIns">{{TaxAllowance.MotherIns | number : 2}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].SPFATHERINS}} <!---ลดหย่อนเบี้ยประกันบิดาคู่สมรส-->
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-hide="TaxAllowance.SpFatherIns==TaxAllowanceOld.SpFatherIns"><span class="red_text"><strike>[{{TaxAllowanceOld.SpFatherIns  | number : 2}}]</strike></span> >> <span class="blue_text">[{{TaxAllowance.SpFatherIns  | number : 2}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="TaxAllowance.SpFatherIns==TaxAllowanceOld.SpFatherIns">{{TaxAllowance.SpFatherIns | number : 2}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].SPMOTHERINS}} <!--- ลดหย่อนเบี้ยประกันมารดาคู่สมรส-->
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-hide="TaxAllowance.SpMotherIns==TaxAllowanceOld.SpMotherIns"><span class="red_text"><strike>[{{TaxAllowanceOld.SpMotherIns  | number : 2}}]</strike></span> >> <span class="blue_text">[{{TaxAllowance.SpMotherIns  | number : 2}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="TaxAllowance.SpMotherIns==TaxAllowanceOld.SpMotherIns">{{TaxAllowance.SpMotherIns | number : 2}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].LIFEINSURANCEPENSION}} <!--- ประกันชีวิตแบบบำนาญ-->
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-hide="TaxAllowance.LifeInsurancePension==TaxAllowanceOld.LifeInsurancePension"><span class="red_text"><strike>[{{TaxAllowanceOld.LifeInsurancePension  | number : 2}}]</strike></span> >> <span class="blue_text">[{{TaxAllowance.LifeInsurancePension  | number : 2}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="TaxAllowance.LifeInsurancePension==TaxAllowanceOld.LifeInsurancePension">{{TaxAllowance.LifeInsurancePension | number : 2}}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- bar_bottomlist -->
                </div>
                <div class="-pad10"></div>
            </div>
        </div>
    </div>
    <style>
        .add-padding {
            padding-left: 35px !important;
        }

        .mainBlock .contentBody .contentBodyin {
            padding-top: 1.5rem;
            margin-top: 25px;
        }
    </style>
</div>