﻿<div ng-controller="TaxAllowanceEditorController">   
    <div>
        <!--<div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">-->
        <!--<div class="row contentBody forheight">-->
        <div>
            <div class="col-md-12 -col_centered forheight_sub forscroll wrapper longPage  d-clame paper ">
                <!-- itemlist_block -->
                <div class="bar_bottom">
                    <!-- bar_bottom-expandlist -->
                    <div>
                        <!--class="bar_bottomlist"-->
                        <div class="bar-content">
                            <div class="row bar_title">
                                <div class="col-md-12">
                                    <div class="bar_left bar_left_single_line">
                                        <div class="bar_left-title ng-binding">
                                            {{Text[Textcategory].EDIT}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                                <div class="col-md-10 col-sm-10 col-xs-12 ">
                                    <div class="row">
                                        <!-- row 1 สถานภาพสมรส-->
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].CLAIMTYPE}} <!---สถานภาพสมรส-->
                                            </span>
                                        </div>
                                        <div class="col-sm-7">
                                            <div style="position: relative; width:300px; height: 50px; overflow: hidden;">
                                                <input value="{{ ClaimTypeName }}"
                                                       class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                       style="opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 300px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                       aria-invalid="true">

                                                <select class="form-control" ng-model="document.Additional.TaxAllowance.SpouseAllowance" ng-change="getClaimType()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 270px; font-size: 15px; cursor: pointer; margin: 0px;">
                                                    <option value="{{item.Key}}" ng-repeat="item in ClaimType">{{item.Description}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- row 2 จำนวนบุตรที่ขอลดหย่อนภาษี-->
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].CHDALLOW}} <!---  จำนวนบุตรที่ขอลดหย่อนภาษี-->
                                            </span>
                                        </div>
                                        <div class="col-sm-7">
                                            <div style="position: relative; width: 270px; height: 50px; overflow: hidden;">
                                                <input value="{{document.Additional.TaxAllowance.ChdAllow}}"
                                                       class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                       style="opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 160px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                       aria-invalid="true">
                                                <select class="form-control" ng-model="document.Additional.TaxAllowance.ChdAllow" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 270px; font-size: 15px; cursor: pointer; margin: 0px;">
                                                    <option value="{{item}}" ng-repeat="item in ChildNoList">{{item}}</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <!-- row 3 จำนวนบุตรพิการที่ขอลดหย่อนภาษี-->
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].CHDDISALLOW}} <!--- จำนวนบุตรพิการที่ขอลดหย่อนภาษี-->
                                            </span>
                                        </div>
                                        <div class="col-sm-7">
                                            <div style="position: relative; width: 270px; height: 50px; overflow: hidden;">
                                                <input value="{{document.Additional.TaxAllowance.ChdDisAllow}}"
                                                       class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                       style="opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 160px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                       aria-invalid="true">
                                                <select class="form-control" ng-model="document.Additional.TaxAllowance.ChdDisAllow" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 270px; font-size: 15px; cursor: pointer; margin: 0px;">
                                                    <option value="{{item}}" ng-repeat="item in ChildDisNoList">{{item}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- row 4-->
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].SPOUSEINS}}<!--- เบี้ยประกันชีวิตคู่สมรส-->
                                            </span>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" style="position:relative; width: 270px;" name="SpouseIns" class="bdc204 btn form-control text-left" value="{{ document.Additional.TaxAllowance.SpouseIns }}" ng-model="document.Additional.TaxAllowance.SpouseIns" ng-trim="false" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].PENSIONFUNDINVESTMENT}} <!--- เงินกองทุนบำนาญ-->
                                            </span>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" style="position:relative; width: 270px;" name="PensionFundInvestment" class="bdc204 btn form-control text-left" value="{{ document.Additional.TaxAllowance.PensionFundInvestment }}" ng-model="document.Additional.TaxAllowance.PensionFundInvestment" ng-trim="false" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].MORTGAGE}} <!--- ดอกเบี้ยเช่าซื้อที่อยู่อาศัย-->
                                            </span>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" style="position:relative; width: 270px;" name="Mortgage" class="bdc204 btn form-control text-left" value="{{ document.Additional.TaxAllowance.Mortgage }}" ng-model="document.Additional.TaxAllowance.Mortgage" ng-trim="false" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].MFUND}} <!--- กองทุนเพื่อการเลี้ยงชีพ RMF-->
                                            </span>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" style="position:relative; width: 270px;" name="MFund" class="bdc204 btn form-control text-left" value="{{ document.Additional.TaxAllowance.MFund }}" ng-model="document.Additional.TaxAllowance.MFund" ng-trim="false" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].CHARITY}} <!---  เงินบริจาค-->
                                            </span>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" style="position:relative; width: 270px;" name="Charity" class="bdc204 btn form-control text-left" value="{{ document.Additional.TaxAllowance.Charity }}" ng-model="document.Additional.TaxAllowance.Charity" ng-trim="false" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].CHARITYEDU}} <!--- เงินบริจาคเพื่อการศึกษา-->
                                            </span>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" style="position:relative; width: 270px;" name="CharityEdu" class="bdc204 btn form-control text-left" value="{{ document.Additional.TaxAllowance.CharityEdu }}" ng-model="document.Additional.TaxAllowance.CharityEdu" ng-trim="false" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].LIFEINS}} <!--- เบี้ยประกันชีวิต-->
                                            </span>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" style="position:relative; width: 270px;" name="LifeIns" class="bdc204 btn form-control text-left" value="{{ document.Additional.TaxAllowance.LifeIns }}" ng-model="document.Additional.TaxAllowance.LifeIns" ng-trim="false" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].LONGTERM}} <!--- เปลี่ยนจาก LTF เป็น SSF -->
                                            </span>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" style="position:relative; width: 270px;" name="LongTerm" class="bdc204 btn form-control text-left" value="{{ document.Additional.TaxAllowance.LongTerm }}" ng-model="document.Additional.TaxAllowance.LongTerm" ng-trim="false" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].ALLOWFATHER}} <!--- ลดหย่อนเลี้ยงดูบิดา-->
                                            </span>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" style="position:relative; width: 270px;" name="AllowFather" class="bdc204 btn form-control text-left" value="{{ document.Additional.TaxAllowance.AllowFather }}" ng-model="document.Additional.TaxAllowance.AllowFather" ng-trim="false" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].ALLOWMOTHER}} <!---ลดหย่อนเลี้ยงดูมารดา-->
                                            </span>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" style="position:relative; width: 270px;" name="AllowMother" class="bdc204 btn form-control text-left" value="{{ document.Additional.TaxAllowance.AllowMother }}" ng-model="document.Additional.TaxAllowance.AllowMother" ng-trim="false" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].SPALLOWFATHER}} <!--- ลดหย่อนเลี้ยงดูบิดาคู่สมรส-->
                                            </span>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" style="position:relative; width: 270px;" name="SpAllowFather" class="bdc204 btn form-control text-left" value="{{ document.Additional.TaxAllowance.SpAllowFather }}" ng-model="document.Additional.TaxAllowance.SpAllowFather" ng-trim="false" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].SPAlLOWMOTHER}} <!---ลดหย่อนเลี้ยงดูมารดาคู่สมรส-->
                                            </span>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" style="position:relative; width: 270px;" name="SpAllowMother" class="bdc204 btn form-control text-left" value="{{ document.Additional.TaxAllowance.SpAllowMother }}" ng-model="document.Additional.TaxAllowance.SpAllowMother" ng-trim="false" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].FATHERINS}} <!--- ลดหย่อนเบี้ยประกันบิดา-->
                                            </span>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" style="position:relative; width: 270px;" name="FatherIns" class="bdc204 btn form-control text-left" value="{{ document.Additional.TaxAllowance.FatherIns }}" ng-model="document.Additional.TaxAllowance.FatherIns" ng-trim="false" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].MOTHERINS}} <!--- ลดหย่อนเบี้ยประกันมารดา-->
                                            </span>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" style="position:relative; width: 270px;" name="MotherIns" class="bdc204 btn form-control text-left" value="{{ document.Additional.TaxAllowance.MotherIns }}" ng-model="document.Additional.TaxAllowance.MotherIns" ng-trim="false" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].SPFATHERINS}} <!---ลดหย่อนเบี้ยประกันบิดาคู่สมรส-->
                                            </span>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" style="position:relative; width: 270px;" name="SpFatherIns" class="bdc204 btn form-control text-left" value="{{ document.Additional.TaxAllowance.SpFatherIns }}" ng-model="document.Additional.TaxAllowance.SpFatherIns" ng-trim="false" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].SPMOTHERINS}} <!--- ลดหย่อนเบี้ยประกันมารดาคู่สมรส-->
                                            </span>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" style="position:relative; width: 270px;" name="SpMotherIns" class="bdc204 btn form-control text-left" value="{{ document.Additional.TaxAllowance.SpMotherIns }}" ng-model="document.Additional.TaxAllowance.SpMotherIns" ng-trim="false" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].LIFEINSURANCEPENSION}} <!--- ประกันชีวิตแบบบำนาญ-->
                                            </span>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" style="position:relative; width: 270px;" name="LifeInsurancePension" class="bdc204 btn form-control text-left" value="{{ document.Additional.TaxAllowance.LifeInsurancePension }}" ng-model="document.Additional.TaxAllowance.LifeInsurancePension" ng-trim="false" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- bar_bottomlist -->
                        </div>
                        <!--<div class="-pad10"></div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .add-padding {
            padding-left: 35px !important;
        }

        .mainBlock .contentBody .contentBodyin {
            padding-top: 1.5rem;
            margin-top: 25px;
        }
    </style>
</div>
