﻿<!--<div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll announcement_block" style="display:block">
    <div class="body_content" >


        <div ng-controller="AnnouncementController" class="annoucement-ctrl">
            <div class="row announcelist_block" ng-repeat="item in announcements" style=" border-top-style: solid;">
                <div ng-if="item.Image">
                    <img ng-src="{{ item.Image }}" class="img-responsive" />
                </div>
                <div style=" padding: 0;" ng-class="{'col-md-12 content-border-top' : item.Image == null ,'col-md-12' : item.Image != null }">
                    <div class="itemlist" style=" padding-left: 10px;  padding-right: 10px;">


                        <div class="item-desc -settxt-center padding-1-5-sm-0">

                            <div class="itemin_desc" ng-bind-html="item.Content"></div>
                        </div>

                    </div>
                </div>
                <style>

                    .contentBodyin {
                        border-top: 5px solid rgb(19, 58, 73);
                        margin-top: 2rem;
                        position: relative;
                        width: 100%;
                        max-width: 1200px;
                        padding: 1rem;
                        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
                    }

                    @media only screen and (max-width: 1200px) {
                        .contentBodyin {
                            margin-top: 0rem;
                            display: flex;
                        }
                    }

                    .annoucement-ctrl .box-content {
                        margin-bottom: 10px;
                        margin-top: 10px;
                        padding-bottom: 0;
                    }

                    .annoucement-ctrl .item-name-topic {
                        width: 100%;
                        text-align: left;
                        margin-bottom: 5px;
                        font-size: 22px;
                    }

                    .annoucement-ctrl ul {
                        margin-top: 10px;
                        padding-left: 2rem;
                        text-align: left;
                        margin-bottom: 1rem;
                        list-style-type: circle !important;
                    }

                        .annoucement-ctrl ul:last-child {
                            margin-bottom: 0rem;
                        }

                    .annoucement-ctrl li {
                        list-style-type: circle !important;
                        padding-left: 20px;
                        font-size: 20px;
                    }

                        .annoucement-ctrl li :hover {
                            text-decoration: underline !important;
                            color: #289efe;
                        }

                        .annoucement-ctrl li.none-link :hover {
                            text-decoration: none !important;
                            color: rgb(127, 127, 127) !important;
                            cursor: none !important;
                        }

                        .annoucement-ctrl li a {
                            font-size: 20px;
                            line-height: 30px;
                        }

                    .annoucement-ctrl .bar_expandlist {
                        margin-top: 2rem;
                    }

                    .annoucement-ctrl .detaildate_leave {
                        margin-left: 0px;
                        box-sizing: border-box;
                        padding-left: 2rem;
                        padding-right: 2rem;
                    }

                    .annoucement-ctrl .itemlist_block {
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                    }

                    .annoucement-ctrl .img-div {
                        text-align: right;
                        position: absolute;
                        top: 10px;
                        left: 45px;
                    }


                        .annoucement-ctrl .img-div img {
                            width: 90px;
                        }



                    @keyframes slidein {
                        0% {
                            left: -820px;
                            opacity: 0;
                        }

                        20% {
                            left: -820px;
                            opacity: 1;
                        }

                        35% {
                            left: 170px;
                            opacity: 1;
                        }

                        100% {
                            left: 170px;
                        }
                    }

                    .annoucement-ctrl .text-godji-speak {
                        text-align: right;
                        position: absolute;
                        top: 10px;
                        left: 170px;
                        max-width: 220px;
                        animation: slidein 7s;
                        animation-iteration-count: 1;
                    }

                    .padding-1-5-sm-0 {
                        padding: 1.5rem;
                    }

                    @keyframes fontbulger {
                        0%; {
                            top: 10px;
                        }

                        50% {
                            top: -20px;
                        }

                        55% {
                            top: -20px;
                            -ms-transform: rotate(7deg); /* IE 9 */
                            -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
                            transform: rotate(7deg);
                        }

                        60% {
                            top: -20px;
                            -ms-transform: rotate(0deg); /* IE 9 */
                            -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
                            transform: rotate(0deg);
                        }

                        100% {
                            top: 10px;
                        }
                    }

                    .god-ji-dok-dik {
                        -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
                        transition-timing-function: ease-in-out;
                        animation: fontbulger 2s infinite;
                    }

                    @keyframes netflix_style {
                        0% {
                            text-shadow: makelongshadow(100,1);
                            color: #f3f3f3;
                            transform: scale(1.5, 1.5);
                        }

                        10% {
                            text-shadow: makelongshadow(100,1.5);
                            color: #f3f3f3;
                            transform: scale(1.5, 1.5);
                        }

                        15% {
                            color: #f3f3f3;
                        }

                        20% {
                            color: #e90418;
                            text-shadow: none;
                            transform: scale(1.1, 1.1);
                        }

                        75% {
                            opacity: 1;
                        }

                        80% {
                            opacity: 0.5;
                            color: #e90418;
                            transform: scale(0.85, 0.9);
                        }

                        100% {
                            opacity: 0.25;
                        }
                    }


                    .txt-new-animate {
                        text-align: center;
                        font-size: 20px;
                        font-weight: 700;
                        animation: netflix_style 1.5s infinite;
                        outline: none;
                        white-space: nowrap;
                    }

                    .annoucement-ctrl .amp-green {
                        color: #2f8825 !important;
                    }

                    .annoucement-ctrl .form-group {
                        margin-bottom: 0px;
                    }

                    .annoucement-ctrl .bar_expandlist {
                        text-align: left;
                    }

                    .item-name-topic.-txt-red {
                        font-size: 15px;
                    }

                    @media only screen and (max-width: 769px) {
                        .annoucement-ctrl .img-div {
                        }

                        .annoucement-ctrl .detaildate_leave {
                            padding-left: 1rem;
                            padding-right: 1rem;
                        }

                        .annoucement-ctrl .col-sm-12.detaildate_leave {
                            padding: 0;
                            margin-left: 5px;
                        }

                        .padding-1-5-sm-0 {
                            padding: 0px;
                        }

                        .annoucement-ctrl li {
                            padding-left: 5px;
                        }

                        .annoucement-ctrl .img-div {
                            text-align: right;
                            position: absolute;
                            top: 10px;
                            left: 15px;
                        }

                            .annoucement-ctrl .img-div img {
                                width: 60px;
                            }

                        @keyframes slidein {
                            0% {
                                left: -820px;
                                opacity: 0;
                            }

                            20% {
                                left: -820px;
                                opacity: 1;
                            }

                            35% {
                                left: 100px;
                                opacity: 1;
                            }

                            100% {
                                left: 100px;
                            }
                        }

                        .annoucement-ctrl .text-godji-speak {
                            text-align: right;
                            z-index: 5;
                            position: absolute;
                            top: 10px;
                            left: 100px;
                            max-width: 220px;
                            animation: slidein 7s;
                            animation-iteration-count: 1;
                        }
                    }
                </style>



                <div class="item-publish_date">
                    <span>UPDATE {{item.BeginDate | date:'d/M/yyyy'}}</span>
                </div>
            </div>
        </div>
    </div>
</div>-->

<style>
    .mainBlock .contentBlock {
        background: none;
    }

    #main_scroll {
        /*background: url('images/dasboard-bg.png');*/
        background-position: top;
        background-repeat: repeat;
        overflow: hidden;
        background-size: cover;
    }

    @media only screen and (max-width : 992px) {
        .mainBlock {
            background: none;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    @font-face {
        font-family: fontBirthDayCard;
        src: url('font/FontDollynDEMO/DollynDEMO.ttf');
    }

    .font-birthday-card {
        font-family: fontBirthDayCard;
    }
</style>
<div class="TravelExManPage delegation-page box-content col-sm-12" ng-controller="AnnouncementController">


    <script type="text/ng-template" id="openBirthDayCard.ng-popup.html">
        <div class="modal-body" style="padding:0px;">
            <div class="row">
                <div>
                    <img src="./images/background/bgBirthDay.jpg" />
                    <div class="text-birthday-card font-birthday-card">{{name_birthday}}</div>
                    <button type="button" class="close custom"
                            style="position: absolute;
                                    top: 1%;
                                    right: 0%;
                                    font-size:45px;
                                    opacity:2; padding:0px 10px;"
                            ng-click="closeModal()">
                        &times;
                    </button>
                </div>
            </div>
        </div>
    </script>

    <div class="row">
        <!--<h1>Home</h1>-->
        <div class="row  mb-50">
            <div class="w-100 f-c">
                <div class="ayodia-main-menu-1 ">

                    <a class="i-main-menu" ng-click="next_page(11);">
                        <div style="position: relative;">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="70" viewBox="0 0 512 512">
                                <defs>
                                    <filter id="Path_2030" x="85" y="33" width="316.933" height="430.74" filterUnits="userSpaceOnUse">
                                        <feOffset dx="3" dy="3" input="SourceAlpha" />
                                        <feGaussianBlur stdDeviation="3" result="blur" />
                                        <feFlood flood-color="#0136a1" flood-opacity="0.2" />
                                        <feComposite operator="in" in2="blur" />
                                        <feComposite in2="SourceGraphic" />
                                    </filter>
                                </defs>
                                <g id="icon_docApprove" transform="translate(16520 8773)">
                                    <rect id="Rectangle_3947" data-name="Rectangle 3947" width="512" height="512" transform="translate(-16520 -8773)" fill="none" opacity="0" />
                                    <g id="Group_289" data-name="Group 289" transform="translate(-16429 -8734)">
                                        <g id="docs" transform="translate(0 0)">
                                            <g transform="matrix(1, 0, 0, 1, -91, -39)" filter="url(#Path_2030)">
                                                <path id="Path_2030-2" data-name="Path 2030" d="M369.522,113.048v273.1a26.593,26.593,0,0,1-26.589,26.589H97.178a26.586,26.586,0,0,1-26.589-26.589V26.589A26.585,26.585,0,0,1,97.178,0h159.3Z" transform="translate(20.41 39)" fill="#00adee" />
                                            </g>
                                            <g id="Group_266" data-name="Group 266" transform="translate(74.812 252.171)">
                                                <rect id="Rectangle_3927" data-name="Rectangle 3927" width="152.864" height="16.986" transform="translate(0 0)" fill="#fcfeff" />
                                                <rect id="Rectangle_3928" data-name="Rectangle 3928" width="152.864" height="16.986" transform="translate(0 37.936)" fill="#fcfeff" />
                                                <rect id="Rectangle_3929" data-name="Rectangle 3929" width="108.711" height="16.986" transform="translate(0 75.872)" fill="#fcfeff" />
                                            </g>
                                            <path id="Path_2031" data-name="Path 2031" d="M320.31,133.848l97.625,40.219V136.3l-55.35-16.343Z" transform="translate(-119.001 -23.256)" fill="#1e325a" />
                                            <path id="Path_2032" data-name="Path 2032" d="M414.225,113.048h-86.46A26.585,26.585,0,0,1,301.177,86.46V0Z" transform="translate(-115.292)" fill="#008cc1" />
                                        </g>
                                        <g id="Group_270" data-name="Group 270" transform="translate(104.323 116.81)">
                                            <ellipse id="Ellipse_2118" data-name="Ellipse 2118" cx="47.195" cy="49.141" rx="47.195" ry="49.141" transform="translate(0 3.853)" fill="#fff" />
                                            <path id="Path_2013" data-name="Path 2013" d="M116.8,331.208a9.294,9.294,0,0,1-6.573-2.723L82.343,300.6l13.146-13.146,20.788,20.788,49.241-57.447,14.115,12.1L123.86,327.962a9.293,9.293,0,0,1-6.7,3.238C117.041,331.208,116.919,331.208,116.8,331.208Z" transform="translate(-63.69 -250.793)" fill="#1e325a" />
                                        </g>
                                        <g id="Group_269" data-name="Group 269" transform="translate(233.872 305.316)">
                                            <path id="Path_2009" data-name="Path 2009" d="M251.118,138.717h-5.363V156.26a30.86,30.86,0,0,1-10.2,22.915l-9.076,8.16a6.7,6.7,0,0,0,0,9.962l9.076,8.17a30.846,30.846,0,0,1,10.2,22.915v17.542h5.363a5.359,5.359,0,1,1,0,10.718H165.363a5.363,5.363,0,0,1,0-10.725h5.363V228.371a30.861,30.861,0,0,1,10.2-22.913L190,197.3a6.7,6.7,0,0,0,0-9.962l-9.076-8.168a30.848,30.848,0,0,1-10.2-22.915V138.709h-5.363a5.355,5.355,0,1,1,0-10.71h85.763a5.359,5.359,0,1,1-.008,10.718Zm0,0" transform="translate(-160 -128)" fill="#ffc94a" />
                                            <path id="Path_2010" data-name="Path 2010" d="M213.328,294.321a14.669,14.669,0,0,0,4.319,10.428l14.278,14.278a4.022,4.022,0,0,0,5.684,0l14.278-14.278a14.657,14.657,0,0,0,4.318-10.428v-17H213.328Zm0,0" transform="translate(-186.528 -266.601)" fill="#ffeab9" />
                                            <path id="Path_2033" data-name="Path 2033" d="M0,17A14.668,14.668,0,0,0,4.319,27.425L18.6,41.7a4.021,4.021,0,0,0,5.684,0L38.559,27.425A14.656,14.656,0,0,0,42.877,17V0H0Zm0,0" transform="translate(69.676 118.253) rotate(180)" fill="#ffeab9" />
                                        </g>
                                    </g>
                                </g>
                            </svg>


                            <svg height="30" width="30" class="ay-alert-number pulse-svg">
                                <circle cx="15" cy="14" fill="red" r="12" class=""></circle>
                                <text dy=".3em" fill="white" font-family="Arial" font-size="13px" font-style="normal" text-anchor="middle" x="50%" y="50%" dx="0em">{{count_document}}</text>
                            </svg>
                        </div>
                        <div class="main-menu-d  text-center">{{Text['APPLICATION']['WAIT_FOR_APPROVE_BOX']}}</div>
                    </a>

                    <a class="i-main-menu" ng-click="next_page(31);">
                        <div style="position: relative;">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="70" viewBox="0 0 512 512">
                                <defs>
                                    <filter id="Union_31" x="23" y="50" width="472.899" height="418.272" filterUnits="userSpaceOnUse">
                                        <feOffset dx="3" dy="3" input="SourceAlpha" />
                                        <feGaussianBlur stdDeviation="3" result="blur" />
                                        <feFlood flood-color="#0136a1" flood-opacity="0.2" />
                                        <feComposite operator="in" in2="blur" />
                                        <feComposite in2="SourceGraphic" />
                                    </filter>
                                </defs>
                                <g id="icon_mydoc" transform="translate(15927 8773)">
                                    <rect id="Rectangle_3948" data-name="Rectangle 3948" width="512" height="512" transform="translate(-15927 -8773)" fill="none" opacity="0" />
                                    <g id="Group_290" data-name="Group 290" transform="translate(-15898.001 -8717.001)">
                                        <g id="folder_1_" data-name="folder (1)" transform="translate(0.001 0.001)">
                                            <g transform="matrix(1, 0, 0, 1, -29, -56)" filter="url(#Union_31)">
                                                <path id="Union_31-2" data-name="Union 31" d="M397.623,400.268H84.1a45.338,45.338,0,0,1-44.478-36.553L.859,201.48a45.345,45.345,0,0,1,44.482-54.126H83.195V92.22a48.135,48.135,0,0,1,48.117-48.128h78.653a45.3,45.3,0,0,0,29.767-11.14l25.06-21.812A45.343,45.343,0,0,1,294.555,0H406.771A48.133,48.133,0,0,1,454.9,48.132V343.689a56.629,56.629,0,0,1-39.2,53.861v0a56.679,56.679,0,0,1-17.352,2.72C398.105,400.272,397.865,400.271,397.623,400.268Zm-3.3-.138-.033,0Zm-.165-.012a56.712,56.712,0,0,1-22.717-6.631A56.492,56.492,0,0,0,394.163,400.118Zm-22.783-6.666-.009-.005ZM293.842,182.246l49.422,174.5a56.59,56.59,0,0,0,26.691,35.908l0,0v0a56.59,56.59,0,0,1-26.691-35.908l-49.422-174.5a45.343,45.343,0,0,0-44.115-34.891h-.007A45.348,45.348,0,0,1,293.842,182.246ZM105.869,147.355a35.509,35.509,0,0,1,35.5-35.514h9.839a36.272,36.272,0,0,1,36.271-36.268H369.96a45.2,45.2,0,0,1,32.057,13.278A45.191,45.191,0,0,0,369.956,75.57H187.478a36.272,36.272,0,0,0-36.271,36.271h-9.839a35.509,35.509,0,0,0-35.5,35.514Z" transform="translate(29 56)" fill="#80daff" />
                                            </g>
                                            <path id="Path_2034" data-name="Path 2034" d="M34.59,103.1H208a45.339,45.339,0,0,1,45.34,45.34V383.917a56.718,56.718,0,0,0,45.738,4.9l-.4-1.213V112.172a45.339,45.339,0,0,0-45.339-45.34H70.862A36.273,36.273,0,0,0,34.59,103.1Zm0,0" transform="translate(116.619 8.739)" fill="#80daff" />
                                            <path id="Path_2035" data-name="Path 2035" d="M419.876,375.463a56.581,56.581,0,0,1-26.69-35.909l-49.422-174.5a45.35,45.35,0,0,0-44.117-34.89H95.261a45.344,45.344,0,0,0-44.48,54.124L89.544,346.523a45.339,45.339,0,0,0,44.481,36.555H448.236a56.5,56.5,0,0,1-28.359-7.616Zm0,0" transform="translate(-49.916 17.193)" fill="#00adee" />
                                            <path id="Path_2036" data-name="Path 2036" d="M0,92.384v55.134h22.67A35.508,35.508,0,0,1,58.172,112H68.01a36.273,36.273,0,0,1,36.272-36.272H286.76a45.339,45.339,0,0,1,45.339,45.34V396.5l.4,1.213A56.623,56.623,0,0,0,371.7,343.85V48.293A48.131,48.131,0,0,0,323.576.164H211.361A45.331,45.331,0,0,0,181.6,11.3L156.537,33.115a45.3,45.3,0,0,1-29.767,11.14H48.116A48.131,48.131,0,0,0,0,92.384Zm0,0" transform="translate(83.2 -0.161)" fill="#1e325a" />
                                            <path id="Path_2037" data-name="Path 2037" d="M74.942,134.346H218.8a45.35,45.35,0,0,1,44.117,34.89l49.422,174.5a56.58,56.58,0,0,0,26.69,35.909V144.172a45.339,45.339,0,0,0-45.339-45.34H110.443a35.508,35.508,0,0,0-35.5,35.514Zm0,0" transform="translate(30.929 13.01)" fill="#eef1f6" />
                                        </g>
                                        <g id="account" transform="translate(93.91 191.262)">
                                            <path id="Union_30" data-name="Union 30" d="M66.221,158.154A79.008,79.008,0,0,1,0,79.984V25.8a5.163,5.163,0,0,1,5.163-5.154c24.4,0,41.249-7.908,59.043-19.77A5.179,5.179,0,0,1,67.066.01V0a5.152,5.152,0,0,1,2.86.864c17.8,11.872,34.656,19.77,59.052,19.77a5.177,5.177,0,0,1,5.163,5.163V79.984a79.008,79.008,0,0,1-66.221,78.17,5.4,5.4,0,0,1-1.7,0Z" transform="translate(0 0)" fill="#ffc94a" />
                                            <path id="Union_28" data-name="Union 28" d="M46.432,92.863A46.432,46.432,0,1,1,92.863,46.432,46.48,46.48,0,0,1,46.432,92.863Z" transform="translate(20.642 30.951)" fill="#ffc94a" />
                                            <path id="Union_29" data-name="Union 29" d="M36.057,67.066A46.358,46.358,0,0,1,0,49.858a46.358,46.358,0,0,1,24.732-15.8,18.921,18.921,0,1,1,22.64,0,46.418,46.418,0,0,1,24.742,15.8A46.373,46.373,0,0,1,36.057,67.066Z" transform="translate(31.017 56.756)" fill="#fff" />
                                        </g>
                                    </g>
                                </g>
                            </svg>

                            <svg height="30" width="30" class="ay-alert-number pulse-svg">
                                <circle cx="15" cy="14" fill="red" r="12" class=""></circle>
                                <text dy=".3em" fill="white" font-family="Arial" font-size="13px" font-style="normal" text-anchor="middle" x="50%" y="50%" dx="0em">{{count_document_wait}}</text>
                            </svg>
                        </div>
                        <div class="main-menu-d  text-center">{{Text['APPLICATION']['RECALLED_BOX']}}</div>
                    </a>

                    <a class="i-main-menu" ng-click="CreateNew('1','')">
                        <div style="position: relative;">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="70" viewBox="0 0 512 512">
                                <defs>
                                    <filter id="Path_1979" x="49" y="78.694" width="419.323" height="398.263" filterUnits="userSpaceOnUse">
                                        <feOffset dx="3" dy="3" input="SourceAlpha" />
                                        <feGaussianBlur stdDeviation="3" result="blur" />
                                        <feFlood flood-color="#0136a1" flood-opacity="0.2" />
                                        <feComposite operator="in" in2="blur" />
                                        <feComposite in2="SourceGraphic" />
                                    </filter>
                                    <filter id="Path_1980" x="49" y="62.525" width="419.323" height="93.091" filterUnits="userSpaceOnUse">
                                        <feOffset dx="3" dy="3" input="SourceAlpha" />
                                        <feGaussianBlur stdDeviation="3" result="blur-2" />
                                        <feFlood flood-color="#0136a1" flood-opacity="0.2" />
                                        <feComposite operator="in" in2="blur-2" />
                                        <feComposite in2="SourceGraphic" />
                                    </filter>
                                </defs>
                                <g id="icon_Leave" transform="translate(15329 8773)">
                                    <rect id="Rectangle_3949" data-name="Rectangle 3949" width="512" height="512" transform="translate(-15329 -8773)" fill="none" opacity="0" />
                                    <g id="calendar" transform="translate(-15274 -8726)">
                                        <g transform="matrix(1, 0, 0, 1, -55, -47)" filter="url(#Path_1979)">
                                            <path id="Path_1979-2" data-name="Path 1979" d="M358.683,26.972H54.543A48.592,48.592,0,0,0,5.951,75.564V358.643a48.592,48.592,0,0,0,48.592,48.592h304.14a48.592,48.592,0,0,0,48.592-48.592V75.564a48.591,48.591,0,0,0-48.592-48.592Z" transform="translate(49.05 57.72)" fill="#eef1f6" />
                                        </g>
                                        <g transform="matrix(1, 0, 0, 1, -55, -47)" filter="url(#Path_1980)">
                                            <path id="Path_1980-2" data-name="Path 1980" d="M407.274,90.493v-26.5A48.592,48.592,0,0,0,358.683,15.4H54.543A48.592,48.592,0,0,0,5.951,63.994v26.5Z" transform="translate(49.05 53.12)" fill="#008cc1" />
                                        </g>
                                        <path id="Path_1981" data-name="Path 1981" d="M407.274,129.255V75.564a48.592,48.592,0,0,0-48.592-48.592H54.543A48.592,48.592,0,0,0,5.951,75.564v53.691Z" transform="translate(-5.951 10.723)" fill="#00adee" />
                                        <path id="Path_1982" data-name="Path 1982" d="M67.726,45.645A16.959,16.959,0,1,0,84.684,62.6,16.959,16.959,0,0,0,67.726,45.645Z" transform="translate(11.866 18.146)" fill="#008cc1" />
                                        <path id="Path_1983" data-name="Path 1983" d="M65.483,0A9.074,9.074,0,0,0,56.41,9.073v70.69a9.073,9.073,0,0,0,18.146,0V9.073A9.073,9.073,0,0,0,65.483,0Z" transform="translate(14.109)" fill="#1e325a" />
                                        <path id="Path_1984" data-name="Path 1984" d="M125.479,45.645A16.959,16.959,0,1,0,142.437,62.6,16.959,16.959,0,0,0,125.479,45.645Z" transform="translate(34.826 18.146)" fill="#008cc1" />
                                        <path id="Path_1985" data-name="Path 1985" d="M123.236,0a9.074,9.074,0,0,0-9.073,9.073v70.69a9.073,9.073,0,0,0,18.146,0V9.073A9.074,9.074,0,0,0,123.236,0Z" transform="translate(37.069)" fill="#1e325a" />
                                        <path id="Path_1986" data-name="Path 1986" d="M183.232,45.645A16.959,16.959,0,1,0,200.19,62.6,16.959,16.959,0,0,0,183.232,45.645Z" transform="translate(57.786 18.146)" fill="#008cc1" />
                                        <path id="Path_1987" data-name="Path 1987" d="M180.989,0a9.074,9.074,0,0,0-9.073,9.073v70.69a9.073,9.073,0,1,0,18.146,0V9.073A9.074,9.074,0,0,0,180.989,0Z" transform="translate(60.029)" fill="#1e325a" />
                                        <path id="Path_1988" data-name="Path 1988" d="M240.985,45.645A16.959,16.959,0,1,0,257.943,62.6,16.959,16.959,0,0,0,240.985,45.645Z" transform="translate(80.746 18.146)" fill="#008cc1" />
                                        <path id="Path_1989" data-name="Path 1989" d="M238.741,0a9.074,9.074,0,0,0-9.073,9.073v70.69a9.073,9.073,0,1,0,18.146,0V9.073A9.073,9.073,0,0,0,238.741,0Z" transform="translate(82.989)" fill="#1e325a" />
                                        <g id="Group_256" data-name="Group 256" transform="translate(79.592 207.114)">
                                            <path id="Path_1990" data-name="Path 1990" d="M111.907,148.2h36.679v36.679H111.907Z" transform="translate(-43.42 -148.197)" fill="#00adee" />
                                            <path id="Path_1991" data-name="Path 1991" d="M160.911,148.2H197.59v36.679H160.911Z" transform="translate(-23.938 -148.197)" fill="#00adee" />
                                            <path id="Path_1992" data-name="Path 1992" d="M209.916,148.2h36.679v36.679H209.916Z" transform="translate(-4.456 -148.197)" fill="#00adee" />
                                            <path id="Path_1993" data-name="Path 1993" d="M62.9,189.34H99.581v36.679H62.9Z" transform="translate(-62.902 -131.84)" fill="#00adee" />
                                            <path id="Path_1994" data-name="Path 1994" d="M111.907,189.34h36.679v36.679H111.907Z" transform="translate(-43.42 -131.84)" fill="#ffc94a" />
                                            <path id="Path_1995" data-name="Path 1995" d="M160.911,189.34H197.59v36.679H160.911Z" transform="translate(-23.938 -131.84)" fill="#00adee" />
                                            <path id="Path_1996" data-name="Path 1996" d="M209.916,189.34h36.679v36.679H209.916Z" transform="translate(-4.456 -131.84)" fill="#00adee" />
                                            <path id="Path_1997" data-name="Path 1997" d="M62.9,230.483H99.581v36.679H62.9Z" transform="translate(-62.902 -115.484)" fill="#00adee" />
                                            <path id="Path_1998" data-name="Path 1998" d="M111.907,230.483h36.679v36.679H111.907Z" transform="translate(-43.42 -115.484)" fill="#00adee" />
                                            <path id="Path_1999" data-name="Path 1999" d="M160.911,230.483H197.59v36.679H160.911Z" transform="translate(-23.938 -115.484)" fill="#00adee" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="main-menu-d  text-center">{{Text['HRTMABSENCE']['CREATE_ABSENCE']}}</div>
                    </a>

                    <a class="i-main-menu" ng-click="CreateNew('913','')">
                        <div style="position: relative;">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="70" viewBox="0 0 512 512">
                                <defs>
                                    <filter id="Path_1966" x="39" y="39.007" height="295.588" filterUnits="userSpaceOnUse">
                                        <feOffset dx="3" dy="3" input="SourceAlpha" />
                                        <feGaussianBlur stdDeviation="3" result="blur" />
                                        <feFlood flood-color="#0136a1" flood-opacity="0.2" />
                                        <feComposite operator="in" in2="blur" />
                                        <feComposite in2="SourceGraphic" />
                                    </filter>
                                    <filter id="Path_1967" x="91.875" y="39" width="335.25" height="348.469" filterUnits="userSpaceOnUse">
                                        <feOffset dx="3" dy="3" input="SourceAlpha" />
                                        <feGaussianBlur stdDeviation="3" result="blur-2" />
                                        <feFlood flood-color="#0136a1" flood-opacity="0.2" />
                                        <feComposite operator="in" in2="blur-2" />
                                        <feComposite in2="SourceGraphic" />
                                    </filter>
                                    <filter id="Path_1971" x="39" y="224.063" width="441" height="255.938" filterUnits="userSpaceOnUse">
                                        <feOffset dx="3" dy="3" input="SourceAlpha" />
                                        <feGaussianBlur stdDeviation="3" result="blur-3" />
                                        <feFlood flood-color="#0136a1" flood-opacity="0.2" />
                                        <feComposite operator="in" in2="blur-3" />
                                        <feComposite in2="SourceGraphic" />
                                    </filter>
                                </defs>
                                <g id="icon_confirm" transform="translate(14736 8773)">
                                    <rect id="Rectangle_3950" data-name="Rectangle 3950" height="512" transform="translate(-14736 -8773)" fill="none" opacity="0" />
                                    <g id="email" transform="translate(-14691 -8728)">
                                        <g transform="matrix(1, 0, 0, 1, -45, -45)" filter="url(#Path_1966)">
                                            <path id="Path_1966-2" data-name="Path 1966" d="M423,146.7v38.361L211.5,277.6,0,185.064V146.7A26.489,26.489,0,0,1,12.241,124.39L204.494,2.011a13.256,13.256,0,0,1,14.012,0L410.76,124.39A26.489,26.489,0,0,1,423,146.7Z" transform="translate(45 45)" fill="#1e325a" />
                                        </g>
                                        <g transform="matrix(1, 0, 0, 1, -45, -45)" filter="url(#Path_1967)">
                                            <path id="Path_1967-2" data-name="Path 1967" d="M354.813,0H90.438A26.481,26.481,0,0,0,64,26.438V317.25a13.224,13.224,0,0,0,13.219,13.219H368.031A13.224,13.224,0,0,0,381.25,317.25V26.438A26.464,26.464,0,0,0,354.813,0Z" transform="translate(33.88 45)" fill="#eef1f6" />
                                        </g>
                                        <g id="Group_245" data-name="Group 245" transform="translate(105.75 52.875)">
                                            <path id="Path_1968" data-name="Path 1968" d="M141.219,90.438H326.281a13.219,13.219,0,1,0,0-26.438H141.219a13.219,13.219,0,0,0,0,26.438Z" transform="translate(-128 -64)" fill="#90a4ae" />
                                            <path id="Path_1969" data-name="Path 1969" d="M326.281,128H141.219a13.219,13.219,0,0,0,0,26.438H326.281a13.219,13.219,0,1,0,0-26.438Z" transform="translate(-128 -75.125)" fill="#90a4ae" />
                                            <path id="Path_1970" data-name="Path 1970" d="M246.969,192H141.219a13.219,13.219,0,1,0,0,26.437h105.75a13.219,13.219,0,1,0,0-26.437Z" transform="translate(-128 -86.25)" fill="#90a4ae" />
                                        </g>
                                        <g transform="matrix(1, 0, 0, 1, -45, -45)" filter="url(#Path_1971)">
                                            <path id="Path_1971-2" data-name="Path 1971" d="M423,224V435.5a26.515,26.515,0,0,1-26.438,26.438H26.438A26.515,26.515,0,0,1,0,435.5V224l211.5,92.531Z" transform="translate(45 6.06)" fill="#00adee" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="main-menu-d  text-center">{{Text['REQUESTTYPE']['LETTER']}}</div>
                    </a>

                    <a class="i-main-menu" ng-click="next_page(906);">
                        <div style="position: relative;">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="70" viewBox="0 0 512 512">
                                <defs>
                                    <filter id="Path_2000" x="124.201" y="343.952" width="326.544" height="136.048" filterUnits="userSpaceOnUse">
                                        <feOffset dx="3" dy="3" input="SourceAlpha" />
                                        <feGaussianBlur stdDeviation="3" result="blur" />
                                        <feFlood flood-color="#0136a1" flood-opacity="0.102" />
                                        <feComposite operator="in" in2="blur" />
                                        <feComposite in2="SourceGraphic" />
                                    </filter>
                                    <filter id="Path_2001" x="159.55" y="139.945" width="208.467" height="208.47" filterUnits="userSpaceOnUse">
                                        <feOffset dx="3" dy="3" input="SourceAlpha" />
                                        <feGaussianBlur stdDeviation="3" result="blur-2" />
                                        <feFlood flood-color="#0136a1" flood-opacity="0.102" />
                                        <feComposite operator="in" in2="blur-2" />
                                        <feComposite in2="SourceGraphic" />
                                    </filter>
                                    <filter id="Path_2004" x="247.728" y="39" width="32.107" height="99.117" filterUnits="userSpaceOnUse">
                                        <feOffset dx="3" dy="3" input="SourceAlpha" />
                                        <feGaussianBlur stdDeviation="3" result="blur-3" />
                                        <feFlood flood-color="#0136a1" flood-opacity="0.2" />
                                        <feComposite operator="in" in2="blur-3" />
                                        <feComposite in2="SourceGraphic" />
                                    </filter>
                                    <filter id="Path_2005" x="300.63" y="74.269" width="32.107" height="63.849" filterUnits="userSpaceOnUse">
                                        <feOffset dx="3" dy="3" input="SourceAlpha" />
                                        <feGaussianBlur stdDeviation="3" result="blur-4" />
                                        <feFlood flood-color="#0136a1" flood-opacity="0.2" />
                                        <feComposite operator="in" in2="blur-4" />
                                        <feComposite in2="SourceGraphic" />
                                    </filter>
                                    <filter id="Path_2006" x="194.824" y="74.269" width="32.107" height="63.849" filterUnits="userSpaceOnUse">
                                        <feOffset dx="3" dy="3" input="SourceAlpha" />
                                        <feGaussianBlur stdDeviation="3" result="blur-5" />
                                        <feFlood flood-color="#0136a1" flood-opacity="0.2" />
                                        <feComposite operator="in" in2="blur-5" />
                                        <feComposite in2="SourceGraphic" />
                                    </filter>
                                    <filter id="Path_2007" x="68" y="333.808" width="77.313" height="142.276" filterUnits="userSpaceOnUse">
                                        <feOffset dx="3" dy="3" input="SourceAlpha" />
                                        <feGaussianBlur stdDeviation="3" result="blur-6" />
                                        <feFlood flood-color="#0136a1" flood-opacity="0.102" />
                                        <feComposite operator="in" in2="blur-6" />
                                        <feComposite in2="SourceGraphic" />
                                    </filter>
                                </defs>
                                <g id="icon_salary" transform="translate(14110 8773)">
                                    <rect id="Rectangle_3951" data-name="Rectangle 3951" width="512" height="512" transform="translate(-14110 -8773)" fill="none" opacity="0" />
                                    <g id="save-money" transform="translate(-14036 -8728)">
                                        <g transform="matrix(1, 0, 0, 1, -74, -45)" filter="url(#Path_2000)">
                                            <path id="Path_2000-2" data-name="Path 2000" d="M272.948,392.342l61.9-29.234a28.617,28.617,0,0,1,37.817,11.469L246.851,455.96a86.457,86.457,0,0,1-53.98,6.11L106.1,437.716a32.127,32.127,0,0,0-23.841,2.61l-18.144,9.709,2.442-88.5.723.017a84.887,84.887,0,0,1,88.223-6.172l5.194,2.69a60.621,60.621,0,0,0,26.231,6.771l51.008,1.409a37.94,37.94,0,0,1,35.01,26.089Zm0,0" transform="translate(66.08 4.09)" fill="#f7caa5" />
                                        </g>
                                        <g transform="matrix(1, 0, 0, 1, -74, -45)" filter="url(#Path_2001)">
                                            <path id="Path_2001-2" data-name="Path 2001" d="M294.673,209.723a95.233,95.233,0,1,1-95.235-95.235A95.236,95.236,0,0,1,294.673,209.723Zm0,0" transform="translate(61.34 31.46)" fill="#ffc94a" />
                                        </g>
                                        <path id="Path_2002" data-name="Path 2002" d="M208.174,205.968a16.012,16.012,0,1,1,16.012-16.012,7.054,7.054,0,1,0,14.107,0,30.162,30.162,0,0,0-23.947-29.479v-6.423a7.054,7.054,0,1,0-14.107,0v6.854a30.116,30.116,0,0,0,7.935,59.167,16.007,16.007,0,0,1,.589,32.007,6.8,6.8,0,0,0-2.4-.09,15.93,15.93,0,0,1-14.2-15.895,7.054,7.054,0,1,0-14.107,0,29.994,29.994,0,0,0,22.184,29.058V272.2a7.054,7.054,0,0,0,14.107,0v-6.627a30.124,30.124,0,0,0-6.172-59.608Zm0,0" transform="translate(-21.393 -17.389)" fill="#1e325a" />
                                        <path id="Path_2003" data-name="Path 2003" d="M274.3,411.317H274.1l-83.841-2.311a7.053,7.053,0,0,1,.386-14.1L266.633,397a29.767,29.767,0,0,0-.906-3.4,30.94,30.94,0,0,0-28.5-21.247l-51.012-1.412a68.012,68.012,0,0,1-29.279-7.56l-5.19-2.686a77.53,77.53,0,0,0-80.9,5.659,7.055,7.055,0,1,1-8.17-11.5,91.587,91.587,0,0,1,95.552-6.682l5.194,2.687A53.881,53.881,0,0,0,186.6,356.84l51.012,1.409a44.96,44.96,0,0,1,43.738,46.207,7.049,7.049,0,0,1-7.054,6.861Zm0,0" transform="translate(-7.393 -39.959)" fill="#edb288" />
                                        <g id="Group_257" data-name="Group 257" transform="translate(126.825)">
                                            <g transform="matrix(1, 0, 0, 1, -200.82, -45)" filter="url(#Path_2004)">
                                                <path id="Path_2004-2" data-name="Path 2004" d="M211.269,81.117a7.054,7.054,0,0,1-7.054-7.054V7.054a7.054,7.054,0,1,1,14.107,0v67.01A7.054,7.054,0,0,1,211.269,81.117Zm0,0" transform="translate(49.51 45)" fill="#00adee" />
                                            </g>
                                            <g transform="matrix(1, 0, 0, 1, -200.82, -45)" filter="url(#Path_2005)">
                                                <path id="Path_2005-2" data-name="Path 2005" d="M271.268,85.849a7.054,7.054,0,0,1-7.053-7.054V47.054a7.054,7.054,0,1,1,14.107,0V78.8A7.054,7.054,0,0,1,271.268,85.849Zm0,0" transform="translate(42.41 40.27)" fill="#00adee" />
                                            </g>
                                            <g transform="matrix(1, 0, 0, 1, -200.82, -45)" filter="url(#Path_2006)">
                                                <path id="Path_2006-2" data-name="Path 2006" d="M151.269,85.849a7.054,7.054,0,0,1-7.054-7.054V47.054a7.054,7.054,0,1,1,14.107,0V78.8A7.054,7.054,0,0,1,151.269,85.849Zm0,0" transform="translate(56.61 40.27)" fill="#00adee" />
                                            </g>
                                        </g>
                                        <g transform="matrix(1, 0, 0, 1, -74, -45)" filter="url(#Path_2007)">
                                            <path id="Path_2007-2" data-name="Path 2007" d="M56.577,448.675l-.276,9.961L.375,457.1,3.754,334.36,59.687,335.9l-.668,24.282Zm0,0" transform="translate(73.62 5.45)" fill="#00adee" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="main-menu-d  text-center">{{Text['APPLICATION']['PAYSLIP']}}</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="TravelExManPage delegation-page box-content" id="home-notice">
            <div class="content-by-ayodia margin-b20">
                <div class="ayodia-header-content news-page" ng-click="slideText()">
                    <div class="ayodia-title w-100">
                        {{Text['AdminAnnouncementPublicRelations']['Home']}}
                    </div>
                </div>
                <div class="ayodia-body-content">
                    <div class="mb-50-pc clearfix">
                        <div class="carousel-ayodia mb-50">
                            <div class="ayodia-slider" ng-if="slides != null">
                                <div ng-repeat="item in slides">
                                    <a ng-if="item.link" class="image-popup-no-margins" href="{{item.image}}" ng-click="openlink(item.link);">
                                        <img class="d-block w-100" ng-src="{{item.image}}">
                                    </a>
                                    <a ng-if="!item.link" class="image-popup-no-margins" href="{{item.image}}">
                                        <img class="d-block w-100" ng-src="{{item.image}}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="list_text.length > 0">
                        <div class="col-md-12 media-padding-col">
                            <div class="ayodia-ez-accordion margin-b20" ng-repeat="item in list_text">
                                <button class="ez-accordion" ng-class="{'active': item.tab == true}" ng-click="item.tab = !item.tab">
                                    <span ng-show="profile.Language == 'TH'">{{item.Title_TH}}</span>
                                    <span ng-show="profile.Language == 'EN'">{{item.Title_EN}}</span>
                                    <svg class="i-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"> <path d="M19,13H5a1,1,0,0,1,0-2H19a1,1,0,0,1,0,2Z" /></svg>
                                    <svg class="i-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                                        <defs>
                                            <style>
                                                .aaa {
                                                    fill: #fff;
                                                    stroke: #707070;
                                                }

                                                .bbb {
                                                    clip-path: url(#aaa);
                                                }

                                                .ccc {
                                                    opacity: 0;
                                                }
                                            </style>
                                            <clipPath id="aaa"><rect class="aaa" width="24" height="24" transform="translate(1320 462)" /></clipPath>
                                        </defs>
                                        <g class="bbb" transform="translate(-1320 -462)"><g transform="translate(1320 462)"><rect class="ccc" width="24" height="24" transform="translate(24 24) rotate(180)" /><path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z" /></g></g>
                                    </svg>
                                </button>
                                <div class="ez-accordion-panel" ng-class="{'active': item.tab == true}">
                                    <div class="row margin-b20">
                                        <div class="" ng-show="profile.Language == 'TH'">
                                            <div ng-bind-html="renderHtml(item.Description_TH)"></div>
                                        </div>
                                        <div class="" ng-show="profile.Language == 'EN'">
                                            <div ng-bind-html="renderHtml(item.Description_EN)"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="pull-right font-weight-bold font-18">
                                                {{item.UpdateDate | date: 'd/M/y'}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
    <!--<pre>{{slides | json}}</pre>-->
</div>