﻿<div class="row navProfileCenter" ng-controller="ProfileController">
    <div class="col-xs-12 p-0">
        <div class="row">
            <div class="ProfileBlock">

                <div class="BGProfileBlock">
                </div>
                <div class="profile_img" style=" width: 170px; height: 170px; background: #9fc3ff;">
                    <!--<img style="" class="-img_circle -center-y profile-img" fallback-src="{{CONFIG_SERVER}}/Client/images/p180.png" ng-src="{{ profile.ImageUrl == null ? 'images/p180.png' : getImageProxy(profile.ImageUrl) }}" alt="profileImg">-->
                    <div style="position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; text-align: center; padding-top: 4px; " class="-img_circle -center-y">
                        <i class="fa fa-user" style=" color: #4274e0; font-size: 180px;" aria-hidden="true"></i>
                    </div>
                    <div style=" position: absolute; left: 0; top: 0; z-index: 2; width: 100%; height: 100%;">
                        <img style=" position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; " class="-img_circle -center-y profile-img" src="{{getImageProxy(profile.ImageUrl)}}" onerror="this.style.display='none'" onload="this.style.display = 'inherit'">
                    </div>
                </div>
                <!--<pre>{{profile.ImageUrl | json}}</pre>-->

                <p class="profile-id" style=" font-size: 20px;">{{ profile.EmployeeID }}</p>
                <p class="profile-name " style="margin-top: 5px;">{{ profile.Name }}</p>


                <div class="expandDetail_02" style="margin: auto; max-width: 1200px;">
                    <ul class="itemlist_table-res -resultblue">
                        <li ng-show="profile.AllPosition.length <=1" style="">
                            <p class="exman-res_titletable" style="text-align: right; padding-right: 10px; color: rgb(178, 178, 178);  font-size:19px;">{{Text['SYSTEM'].POSITION}} : </p>
                            <p class="exman-res_detailtable em-font-15" style=" text-align: left; color: black; color: #787878;">{{ profile.Position }}</p>
                        </li>
                        <li ng-show="profile.AllPosition.length >1" style="">
                            <p class="exman-res_titletable" style="text-align: right; padding-right: 10px;">{{Text['SYSTEM'].POSITION}} : </p>
                            <div class="exman-res_detailtable">
                                <div class="" style=" text-align: left; width: 100%;">
                                    <ui-select ng-model="profile.PositionID" theme="bootstrap" on-select="setPosition($select.selected.ObjectID);" ng-change="profile.PositionID = $select.selected.ObjectID">
                                        <ui-select-match placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">{{ $select.selected.ObjectID + ' : ' + $select.selected.Text }}</ui-select-match>
                                        <ui-select-choices repeat="x.ObjectID as x in profile.AllPosition | propsFilter: {ObjectID: $select.search, Text: $select.search}">
                                            <div ng-bind-html="x.ObjectID + ' : ' + x.Text | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                        </li>
                        <li style="">
                            <p class="exman-res_titletable" style="text-align: right; padding-right: 10px;">{{Text['SYSTEM'].UnitCode}} : </p>
                            <!--<p class="exman-res_detailtable em-font-15" style=" text-align: left; color: #787878;">{{ profile.OrgUnit }} </p>-->
                            <p class="exman-res_detailtable em-font-15" style=" text-align: left; color: #787878;">{{ Orgsettings.OrgUnit }} </p>
                        </li>
                        <li style="">
                            <p class="exman-res_titletable" style="text-align: right; padding-right: 10px;">{{Text['SYSTEM'].ORGANIZATION}} : </p>
                            <!--<p class="exman-res_detailtable em-font-15" style=" text-align: left; color: #787878;">{{ profile.OrgUnitName }} &nbsp; {{Orgsettings.OrgUnitShortText}}</p>-->
                            <p class="exman-res_detailtable em-font-15" style=" text-align: left; color: #787878;">{{ Orgsettings.OrgUnitName }} &nbsp; {{Orgsettings.OrgUnitShortText}}</p>
                        </li>
                        <li style="">
                            <p class="exman-res_titletable" style="text-align: right; padding-right: 10px;">{{Text['SYSTEM'].EmployeeCostCenterCode}} : </p>
                            <p class="exman-res_detailtable em-font-15" style=" text-align: left; color: #787878;">{{ profile.CostCenter }}</p>
                        </li>
                        <!--<li style="">
                            <p class="exman-res_titletable" style="text-align: right; padding-right: 10px;"></p>
                            <p class="exman-res_detailtable em-font-15" style=" text-align: left; color: #787878;">{{Orgsettings.OrgUnitShortText}}</p>
                        </li>-->
                        <li>
                            <p class="exman-res_titletable" style="text-align: right; padding-right: 10px;">{{Text['SYSTEM'].COMPANY}} : </p>
                            <p class="exman-res_detailtable em-font-15" ng-show="profile.Language == 'TH'" style=" text-align: left; color: #787878;">{{ profile.CompanyDetail.FullNameTH }}</p>
                            <p class="exman-res_detailtable em-font-15" ng-show="profile.Language == 'EN'" style=" text-align: left; color: #787878;">{{ profile.CompanyDetail.FullNameEN }}</p>
                        </li>
                    </ul>
                </div>

                <!--
                <div class="profile-rank" ng-show="profile.AllPosition.length <=1">
                    <div class="col-sm-6 text-right" style="line-height:37px;">
                        {{Text['SYSTEM'].POSITION}}:
                    </div>
                    <div class="col-sm-6 text-left" style="line-height:37px;">
                        {{ profile.Position }}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="profile-rank" ng-show="profile.AllPosition.length >1">
                    <div class="col-sm-6 text-right" style="line-height:37px;">
                        {{Text['SYSTEM'].POSITION}}:
                    </div>
                    <div class="col-sm-4 text-left">
                        <ui-select ng-model="profile.PositionID" theme="bootstrap" on-select="setPosition($select.selected.ObjectID);" ng-change="profile.PositionID = $select.selected.ObjectID">
                            <ui-select-match placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">{{ $select.selected.ObjectID + ' : ' + $select.selected.Text }}</ui-select-match>
                            <ui-select-choices repeat="x.ObjectID as x in profile.AllPosition | propsFilter: {ObjectID: $select.search, Text: $select.search}">
                                <div ng-bind-html="x.ObjectID + ' : ' + x.Text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-sm-2">&nbsp;</div>
                    <div class="clearfix"></div>
                </div>
                <div class="profile-agency">
                    <div class="col-sm-6 text-right" style="line-height:37px;">
                        {{Text['SYSTEM'].ORGANIZATION}}:
                    </div>
                    <div class="col-sm-6 text-left" style="line-height:37px;">
                        {{ profile.OrgUnitName }}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="profile-agency">
                    <div class="col-sm-6 text-right" style="line-height:37px;">
                        {{Text['SYSTEM'].COMPANY}}:
                    </div>
                    <div ng-show="profile.Language == 'TH'" class="col-sm-6 text-left" style="line-height:37px;">
                        {{ profile.CompanyDetail.FullNameTH }}
                    </div>
                    <div ng-show="profile.Language == 'EN'" class="col-sm-6 text-left" style="line-height:37px;">
                        {{ profile.CompanyDetail.FullNameEN }}
                    </div>
                    <div class="clearfix"></div>
                </div>
                -->

            </div>
        </div>
    </div>
    <!--<pre>{{profile | json}}</pre>-->
    <!--<pre>{{Text | json}}</pre>-->
</div>
<style>
    input.form-control.ui-select-search.ng-pristine {
        height: 24px;
    }

    .exman-res_titletable, .exman-res_detailtable {
        font-size: 19px;
    }

    .exman-res_detailtable {
        margin-top: 7px !important;
    }
</style>