﻿<div ng-controller="SettingController" ng-init="init()">
    <div class="content_notscroll">
        <div class="contentHead">
            <div class="bar-content">
                <div class="row bar_title">
                    <div class="col-md-12">
                        <div class="bar_left visible-md-block visible-lg-block"><i class="fa fa-cog" aria-hidden="true" style=" margin-right: 10px;"></i>{{Text[Textcategory].SETTING}}</div>

                        <div class="bar_left clickable hidden-md hidden-lg" ng-click="goBack()">
                            <span class="glyphicon glyphicon-chevron-left back-icon">
                                <md-tooltip class="em-font-15" md-direction="bottom">
                                    {{Text['SYSTEM']['back_to_page']}}
                                </md-tooltip>
                            </span>
                            <span class="back-text"><i class="fa fa-cog" aria-hidden="true" style=" margin-right: 10px;"></i>{{Text[Textcategory].SETTING}}</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content bar -->
    </div>
    <div class="row contentBody forheight setting-body" style=" margin-top: 40px;">
        <blockquote>
            <label class="span_name">
                <i class="fal fa-language" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                {{Text[Textcategory].LANGUAGE }} 
            </label>

            <div style=" display: flex; margin-left: 20px; margin-top: 20px;">     
                <div style="position: relative; width: 250px;  height: 50px; overflow: hidden; ">
                    <select class="form-control" ng-change="languageChange()" ng-model="oLanguageSelected" title="{{Text[Textcategory].LANGUAGE }}" style="width:200px;">
                        <option value="EN">{{Text[Textcategory].LANGUAGEEN}}</option>
                        <option value="TH">{{Text[Textcategory].LANGUAGETH}}</option>
                    </select>
                </div>
            </div>
        </blockquote>
        <blockquote>
            <label class="span_name" style="position: relative;" >
                <i class="fal fa-envelope" aria-hidden="true" style=" font-size: 25px; margin-right: 10px; color: #289efe;"></i>
                {{Text[Textcategory].MAIL}}
                <i style="position: absolute; top: 4px; right: -30px;" ng-if="status.settingL">
                    <md-progress-circular class="md-hue-2" md-diameter="20px"></md-progress-circular>
                </i>

            </label>
            <div style="display: flex; margin-left: 20px;">
                <!--<i class="fa fa-envelope-o" aria-hidden="true" style="margin-top: 18px; font-size: 25px; margin-right: 20px; color: #289efe;"></i>-->
                <md-switch class="md-primary" ng-model="isReceive" ng-change="emailStatusChange()" ng-disabled="status.settingL">

                    <span ng-if="isReceive" ng-class="{'disable_item':status.settingL }">&nbsp;{{Text[Textcategory].MAILYES}}</span>
                    <span ng-if="!isReceive" ng-class="{'disable_item':status.settingL }">&nbsp;{{Text[Textcategory].MAILNO}}</span>
                    <md-tooltip md-direction="bottom" class="em-font-15">
                        {{Text[Textcategory].MAIL}}
                    </md-tooltip>
                </md-switch>
            </div>
        </blockquote>
        <blockquote>
            <label class="span_name">
                <i class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                {{Text[Textcategory].USERMANUAL}}
            </label>
            <div style=" display: flex; margin-left: 40px; margin-top: 20px;">
                <ul>
                    <li><a ng-href={{Text[Textcategory].LINKUSERMANUAL1}} target="_blank" style="text-decoration:underline">{{Text[Textcategory].USERMANUALSUB1 }}</a></li>
                    <li><a ng-href={{Text[Textcategory].LINKUSERMANUAL2}} target="_blank" style="text-decoration:underline">{{Text[Textcategory].USERMANUALSUB2 }}</a></li>
                    <li><a ng-href={{Text[Textcategory].LINKUSERMANUAL3}} target="_blank" style="text-decoration:underline">{{Text[Textcategory].USERMANUALSUB3 }}</a></li>
                    <li><a ng-href={{Text[Textcategory].LINKUSERMANUAL4}} target="_blank" style="text-decoration:underline">{{Text[Textcategory].USERMANUALSUB4 }}</a></li>
                    <li><a ng-href={{Text[Textcategory].LINKUSERMANUAL5}} target="_blank" style="text-decoration:underline">{{Text[Textcategory].USERMANUALSUB5 }}</a></li>
                    <li><a ng-href={{Text[Textcategory].LINKUSERMANUAL6}} target="_blank" style="text-decoration:underline">{{Text[Textcategory].USERMANUALSUB6 }}</a></li>
                    <li><a ng-href={{Text[Textcategory].LINKUSERMANUAL7}} target="_blank" style="text-decoration:underline">{{Text[Textcategory].USERMANUALSUB7 }}</a></li>
                    <li><a ng-href={{Text[Textcategory].LINKUSERMANUAL8}} target="_blank" style="text-decoration:underline">{{Text[Textcategory].USERMANUALSUB8 }}</a></li>
                    <li><a ng-href={{Text[Textcategory].LINKUSERMANUAL9}} target="_blank" style="text-decoration:underline">{{Text[Textcategory].USERMANUALSUB9 }}</a></li>
                    <li><a ng-href={{Text[Textcategory].LINKUSERMANUAL10}} target="_blank" style="text-decoration:underline">{{Text[Textcategory].USERMANUALSUB10 }}</a></li>
                </ul>
            </div>
        </blockquote>

        <!--<div class="item-btn text-center">
            <div class="itemin_btn btn-big md-whiteframe-4dp" ng-click="changeAll()">
                <span class="icon-check_large" style="margin-top:10px;display:block;"></span>
                <p style="margin:0;padding:6px 15px;">{{Text[Textcategory].SAVE}}</p>
                <md-tooltip md-direction="bottom" class="em-font-15">
                    {{Text[Textcategory].SAVE}}
                </md-tooltip>
            </div>
        </div>-->
    </div>
</div>
<style>

    .disable_item {
        color: #afafaf !important;
    }
</style>