﻿<div class="panel panel-primary">
    <div class="panel-heading text-center">
        <h3 class="panel-title">ประกาศ</h3>
    </div>
    <div class="panel-body">
        <img src="resources/images/main-news.jpg" class="img-responsive" />
        <div class="bs-callout bs-callout-info"><h3>เปิดตัว ESS mobile version</h3></div>
        <p>วันที่ 1 เมษายน 2559 เตรียมพบกับการเปิดตัว ESS mobile version ซึ่งถูกซุ่มพัฒนาอย่างเงียบๆ</p>
    </div>
</div>