﻿<div style="margin: 2rem 1rem 1rem 1rem;">
    <div class="wrapper longPage travel_Ex_Man_41322 copKPIEditor" ng-controller="IDPPlaneScController" ng-init="init()">
        <div ng-hide="data.TravelSeqEdit || data.TravelPersonalEdit" class="travelexblock itemlist travel_elm2 travelExBlock">
            <div class="body_content">
                <div class="bar_expandlist">
                    
                    <div class="bar_expand-status accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsTravelRequest" ng-init="expanded = false;" ng-click="expanded =!expanded">
                        <div class="bar_statusword">
                            {{Text[Textcategory].TITLE}} 
                        </div>
                        <div class="bar_right-icon">
                            <span class="icon-arrow_line_down" ng-show="expanded"></span>
                            <span class="icon-arrow_line_up" ng-show="!expanded"></span>
                        </div>
                    </div>
                    <div class="body_content panel-collapse collapse in" id="collapsTravelRequest">
                        <div class="row itemlist_block">

                            
                            <md-input-container style="margin-bottom:1rem; max-width: 270px; padding-left: 1rem; font-size: 20px;  color: #717171; padding-bottom: 1rem;">

                                <md-select ng-model="data.selectYear" ng-change="changeYear()">
                                    <md-option ng-repeat="item in year_select_list" ng-value="item" ng-selected="$last">ปีแผนการประเมิณ {{item}}</md-option>
                                </md-select>
                            </md-input-container>
                            <div class="col-sm-12" style="margin-bottom:1rem;">
                                <div class="item-btn mobile-text-center">
                                    <a>
                                        <div class="itemin_btn ng-binding" ng-click="CreateNew(204,{})" style="min-width: 165px;text-align: center;">
                                            <span class="icon-doc_plus" aria-hidden="true"></span>
                                            {{Text[Textcategory].ADD_ITEM}}
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div style=" padding-right: 1px;overflow-x: scroll; padding-left: 1rem;">
                                <!-- Duo display: Desktop, Moblie -->
                                <div class="due-table" layout="column" layout-padding="0px" style=" display:inline-block; margin-bottom: 20px; background: #f7f7f7;">
                                    <div class="table-column-name row-items border-left hidden-xs" layout="row" style="padding-left:0px;padding-right:0px;">
                                        <div layout="row" ng-style="{ 'width' : ch.width}" layout-align="center center" ng-repeat="ch in column_header">
                                            <span>{{ch.text}}</span>
                                        </div>
                                    </div>
                                    <div class="bar_expandlist mo-duo border-bottom " style="padding: 0px; " ng-repeat="r in data.IDP_Plan_List">
                                        <div class="bar_expand-status mo-duo visible-xs width-ctrl-xs">
                                            <div class="bar_left-icon mo-duo " style="">
                                                <div class="dummy"> <span class="icon-arrow_line_down"></span></div>
                                            </div>
                                            <div class="bar_statusword">
                                                <a href="#" class="ng-binding -txt-blue" style=" font-size:16px;">{{r.PlanRequestNo}}</a>
                                            </div>
                                        </div>
                                        <div class="bar_expand-expandDetail mo-duo">
                                            <div style="background:#f7f7f7;">
                                                <!--Repeat Data here -->
                                                <div class="row-items" style="padding:0; position : relative;" layout="row" layout-padding="10px;">
                                                    <div layout="column" ng-style="{ 'width' : column_header[0].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[0].text}}</span>
                                                        </div>
                                                        <span class="align-res-ctrl">{{$index+1}}</span>
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[1].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[1].text}}</span>
                                                        </div>
                                                        <span class="align-res-ctrl -txt-blue">{{r.PlanRequestNo}}</span>
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[2].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[2].text}}</span>
                                                        </div>
                                                        <span class="align-res-ctrl">{{getDateFormate(r.PlanDate)}}</span>
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[3].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[3].text}}</span>
                                                        </div>
                                                        <span class="align-res-ctrl left">{{r.PlanName}}</span>
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[4].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[4].text}}</span>
                                                        </div>
                                                        <span class="align-res-ctrl">{{ Text['STATUS'][r.StatusCode]}}</span>
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[5].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[5].text}}</span>
                                                        </div>
                                                        <div class="xs-align-left align-res-ctrl layout-row">
                                                            <!--Display Document not status completed-->
                                                            <div class="icon-fn-doc view_color" layout="row" l ng-if="r.StatusCode && r.StatusCode != 'COMPLETED'" title="{{Text['STATUS'][r.StatusCode]}}" ng-click="openRequest(r.PlanRequestNo,userData.CompanyCode,null, false, false, false, '')">
                                                                <i class="btn icon-doc_dots" style="font-size:30px; padding: 0px;"></i>
                                                            </div>
                                                            <!--Dispaly Document Status Completed-->
                                                            <div class="icon-fn-doc view_color" layout="row" l ng-if="r.StatusCode == 'COMPLETED'" title="{{Text['STATUS'][r.StatusCode]}}" ng-click="openRequest(r.PlanRequestNo,userData.CompanyCode,null, false, false, false, '')">
                                                                <i class="btn icon-doc_check " style="font-size:30px; padding: 0px;"></i>
                                                            </div>
                                                            <!--Edit Document-->
                                                            <div class="icon-fn-doc edit_color" layout="row" l ng-if="r.StatusCode =='DRAFT'" title="{{Text['STATUS'][r.StatusCode]}}" ng-click="openRequest(r.PlanRequestNo,userData.CompanyCode,null, false, false, false, '')">
                                                                <i class="btn icon-doc_pencilp_line" style="font-size:30px; padding: 0px;"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Table-->

                </div>
            </div>
        </div>
    </div>
</div>