﻿<div class="wrapper etc-payment-page LeaveModulePage TravelPage TravelPage01 longPage" ng-controller="KPIContentController" ng-init="InitialConfig();">
    <div class="content_notscroll">
        <div class="contentHead">
            <div class="bar-content">
                <div class="row bar_title" style="overflow:hidden;">
                    <div class="col-md-12">
                        <div class="bar_left">{{HeaderText}}</div>
                        <div class="bar_right forsearch" ng-class="formData.IsSearchClick == true ? 'forsearch_active':''" ng-click="formData.IsSearchClick = !formData.IsSearchClick"><span class="icon-magnify_glass"></span></div>
                    </div>
                </div>
                <div class="row bar_search" ng-class="formData.IsSearchClick == true ? 'bar_searchactive':''">
                    <div class="col-xs-10 -col_centered search-visible-xs -pad10">
                        <div class="input-group search_block">
                            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">{{Text['SYSTEM'].SEARCH }}</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-4 -col_centered search-visible-xs ">
                        <div class="input-group search_block -mrg_top0">
                            <span class="input-group-btn">
                                <button class="btn btn-default high-lvl-search" type="button">{{Text['SYSTEM'].ADVANCED_SEARCH}} <span class="glyphicon glyphicon-play"></span></button>
                            </span>
                        </div>
                        <div class="-pad5"></div>
                    </div>
                    <!-- Normal Search -->
                    <div class="row itemlist search_block search-hide-xs -mrg_top-5">
                        <div class="itemlist">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <div class="input-group_inlblock">
                                        <label for="" class="-widthfull">&nbsp;</label>
                                        <div class="input-group span_name">
                                            <input ng-model="formData.IsAdvancedSearch" ng-init="formData.IsAdvancedSearch=false" id="check-search-option" class="checkbox-custom" type="checkbox">
                                            <label for="check-search-option" class="checkbox-custom-label" ng-bind="Text['SYSTEM'].ADVANCED_SEARCH"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-4" ng-hide="formData.IsAdvancedSearch">
                            <label for="">{{ Text['SYSTEM'].YEAR }}</label>
                            <select ng-model="formData.SelYear" class="form-control" style="min-width:100px;">
                                <option ng-repeat="option in SearchYear" value="{{ option }}">{{ option }}</option>
                            </select>
                        </div>
                        <div class="col-sm-4 col-xs-8" ng-hide="formData.IsAdvancedSearch">
                            <label for="">{{ Text['SYSTEM'].MONTH }}</label>
                            <select ng-model="formData.SelMonth" class="form-control">
                                <option ng-repeat="option in SearchMonth" value="{{ option.Key }}">{{ option.Value }}</option>
                            </select>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12" ng-hide="formData.IsAdvancedSearch">
                            <label for="" class="-widthfull">{{Text[Textcategory].WITHDRAWTYPE}}</label>
                            <!--<div class="col-md-4"><span ng-bind="Text[Textcategory].WITHDRAWTYPE"></span></div>-->
                            <select ng-model="formData.SelRequestType" class="form-control"
                                    ng-options="wthdraw.Value for wthdraw in SearchRequestType track by wthdraw.Key"></select>

                        </div>
                        <!-- !Normal Search -->
                        <!-- Advanced Search -->

                        <div ng-show="formData.IsAdvancedSearch">
                            <!--<label for="" class="-widthfull">&nbsp;</label>-->
                            <div class="itemlist datepick">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <label for="">{{ Text[Textcategory].DOCUMENTNO }}</label>
                                        <!--<div class="col-sm-5 col-md-5 col-lg-5">
                                            <span ng-bind="Text[Textcategory].DOCUMENTNO"></span>
                                        </div>-->

                                        <input type="text" id="txtDocumentNo" ng-model="formData.SelDocumentNo" class="form-control" placeholder="{{ Text[Textcategory].DOCUMENTNO }}" />

                                    </div>
                                    <div class="col-sm-4 datepick">
                                        <label for="">{{ Text[Textcategory].PERIOD }}</label>
                                        <div class="datepicker-height-set" ng-class="{'overlinecss-text-color-blue': !formData.SelBeginDate}">
                                            <datepicker callback-on-change="setSelectedBeginDate(newDate)" date-max-limit="{{ formData.SelEndDate }}" date-format="d/M/yyyy" date-set="{{ formData.SelBeginDate }}">
                                                <input class="form-control clickable datepicker" type="text" placeholder="" readonly />
                                            </datepicker>
                                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 datepick">
                                        <label for="" class="-widthfull">&nbsp;</label>
                                        <div class="datepicker-height-set" ng-class="{'overlinecss-text-color-blue': !formData.SelEndDate}">
                                            <datepicker callback-on-change="setSelectedEndDate(newDate)" date-min-limit="{{ formData.SelBeginDate }}" date-format="d/M/yyyy" date-set="{{ formData.SelEndDate }}">
                                                <input class="form-control clickable datepicker" type="text" placeholder="" readonly />
                                            </datepicker>
                                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;"></i>
                                        </div>
                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <label for="">{{ Text[Textcategory].TRAVELTYPE }}</label>
                                        <select ng-model="formData.SelTravelType" class="form-control"
                                                ng-options="traveltype.TravelTypeName for traveltype in SearchTravelType track by traveltype.TravelTypeID"></select>

                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <label for="">{{ Text[Textcategory].COUNTRY }}</label>
                                        <select ng-model="formData.SelCountry" class="form-control"
                                                ng-options="country.CountryName for country in SearchCountry track by country.CountryCode"></select>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- !Advanced Search -->
                    </div>

                    <div class="col-sm-3 -col_centered search-hide-xs -settxt-center">
                        <div class="input-group search_block -pad5">
                            <span class="input-group-btn">

                                <button type="button" class="btn btn-default btn-white" ng-if="formData.SelRequestType" ng-init="SearchTravelExpense();" ng-click="SearchTravelExpense();SearchCreditCardByEmployeeID();formData.IsSearchClick=true;">{{ Text[Textcategory].SEARCH }}</button>
                                <button ng-click="clearInput()" class="btn btn-default btn-white" style="position: relative; width: 40px; color: white; margin-left: 10px; height: 40px; text-align: center; background: #1c90ed; padding: 4px; " type="button">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    <md-tooltip md-direction="bottom">
                                        Clear
                                    </md-tooltip>
                                </button>
                            </span>
                        </div>
                        <div class="-pad10"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content bar -->
    </div>

    <!-- New Design-->
    <div class="row contentBody forheight">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll">
            <div class="view_info_btn -spacetop">
                <div class="body_content">
                    <div class="row itemlist_block">
                        <div class="col-md-12">
                            <div class="itemlist">
                                <div class="item-title">
                                    <p class="itemin_nametask">{{Text[Textcategory].CREATEDOC_TITLE}}</p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="item-btn">
                                            <a ng-click="CreateNew('201')">
                                                <div class="itemin_btn longbtn">
                                                    <span class="icon-doc_plus"></span>
                                                    <p class="itemin_btn_txt">KPI Setting</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                    

                                <div style="padding-left:1rem;padding-right:1rem;">
                                    <!-- Duo display: Desktop, Moblie -->
                                    <div layout="column" layout-padding="10px" style="padding-top:0; padding-bottom: 0; margin-bottom: 20px; background: #f7f7f7;">
                                        <div class="table-column-name row-items border-left hidden-xs" layout="row" style="padding-left:0px;padding-right:0px;">
                                            <div layout="row" layout-align="center center" ng-repeat="ch in column_header">
                                                <span>{{ch}}</span>
                                            </div>
                                            
                                        </div>
                                        <div class="bar_expandlist mo-duo" style="padding: 0px; margin-bottom: 10px; " ng-repeat="r in KPIConsole">
                                            <div class="bar_expand-status mo-duo visible-xs">
                                                <div class="bar_left-icon mo-duo " style="height:35.1px;">
                                                    <div class="dummy"> <span class="icon-arrow_line_down"></span></div>
                                                </div>
                                                <div class="bar_statusword">
                                                    <a href="#" class="ng-binding" style=" font-size: 16px;">{{r.title}}</a>
                                                </div>
                                            </div>
                                            <div class="bar_expand-expandDetail mo-duo">
                                                <div style="background:#f7f7f7;">
                                                    <div class="row-items" style=" padding-top: 0; padding-left: 0; padding-bottom: 0; position: relative;" layout="row" layout-padding="10px;">
                                                        <div layout="column" layout-align="center center">
                                                            <div class="visible-xs table-column-name">
                                                                <span>{{column_header[0]}}</span>
                                                            </div>
                                                            <span>{{r.DurationTime}}</span>
                                                        </div>
                                                        <div layout="column" layout-align="center center">
                                                            <div class="visible-xs table-column-name">
                                                                <span>{{column_header[2]}}</span>
                                                            </div>
                                                            <span>{{r.Activities}}</span>
                                                        </div>
                                                        <div layout="column">
                                                            <div class="visible-xs table-column-name">
                                                                <span>{{column_header[3]}}</span>
                                                            </div>
                                                            <span>{{r.Status}}</span>
                                                        </div>
                                                        <div layout="column">
                                                            <div class="visible-xs table-column-name">
                                                                <span>{{column_header[3]}}</span>
                                                            </div>
                                                            <span>{{r.FileType}} {{r.TypeCreate}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                


                            </div>
                        </div>
                    </div>
                    <!-- itemlist -->
                </div>
            </div>
            <div class="view_info_btn">

            </div>
            <!-- body_content desktop & tablet -->
        </div>
    </div>
    <style>
        .etc-payment-page .bar_searchactive {
            overflow: visible;
        }

        .etc-payment-page .btn.active, .etc-payment-page .btn:active {
            background-image: none;
            outline: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    </style>

    <style>
        .icon_btn {
            position: absolute;
            right: 5px;
            background: #289efe;
            height: 27px;
            width: 27px;
            line-height: 33px;
            color: white;
            font-size: 20px;
            outline: none;
            padding-left: 6px;
        }

        .table-column-name span {
            font-family: rsu_l;
            font-size: 16px;
            border: none;
            color: #7F7F7F;
        }

        .table-column-name > div {
            border-bottom: solid 1px #a9a9a9;
            padding-bottom: 0.5rem;
        }

        .row-items > div {
            min-width: 150px;
            padding: 5px;
            position: relative;
            cursor: pointer;
        }

        .row-items.border-left > div {
            border-right: solid 1px #dadada;
        }

        .input-text_ {
            padding: 0.25rem;
            font-size: 14px !important;
        }

        .row-items > div.-p10 {
            min-width: 10%;
        }

        .mo-duo md-select, md-input-container {
            margin: 0;
        }

        .align-res-ctrl {
            text-align: center;
            font-size: 15px;
        }

            .align-res-ctrl.left {
                text-align: left;
            }

        .bar_expand-status.mo-duo {
            background: #f7f7f7 !important;
            max-width: 486px;
        }

            .bar_expand-status.mo-duo span, .bar_expand-status.mo-duo a {
                color: black;
            }

        .box-perdiem {
            background: #f7f7f7;
        }

        .bar_left-icon.mo-duo {
            background: #E5E5E5;
        }

            .bar_left-icon.mo-duo:hover {
                background: #CBCBCB !important;
            }
        /*not moblie */
        @media only screen and (min-width: 769px) {
            .bar_expand-expandDetail.mo-duo {
                background: #E5E5E5;
                display: block !important;
            }
        }
        /*moblie*/
        @media only screen and (max-width: 769px) {
            .bar_expand-expandDetail.mo-duo {
                max-width: 486px;
            }

            .box-perdiem {
                background: white;
            }

            .row-items {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                flex-direction: column;
                box-sizing: border-box;
                display: -webkit-box;
                display: -webkit-flex;
                display: flex;
            }

            .align-res-ctrl {
                text-align: start;
            }
        }
    </style>
</div>