﻿<div>
    <div class="wrapper longPage travel_Ex_Man_41322" ng-controller="PerformaneScCtrl" ng-init="init()">
        <div class="travelexblock itemlist travel_elm2 travelExBlock">
            <div class="body_content" style="padding:1rem;">
                <br />

                <div class="bar_expandlist">
                    <div class="bar_expand-status accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsTravelRequest" ng-init="expanded = false;" ng-click="expanded =!expanded">
                        <div class="bar_statusword">
                            {{Text[Textcategory].TABLE_STATUS}}
                        </div>
                        <div class="bar_right-icon">
                            <span class="icon-arrow_line_down" ng-show="expanded"></span>
                            <span class="icon-arrow_line_up" ng-show="!expanded"></span>
                        </div>
                    </div>
                    <div class="body_content panel-collapse collapse in" id="collapsTravelRequest">
                        <div class="row itemlist_block">
                            <div class="row" style="margin-bottom:1rem;  padding-left:1rem; padding-right:1rem;">
                                <md-input-container style="min-width:130px; margin-top:1rem;">
                                    <md-select ng-model="SessionID">
                                        <md-option ng-repeat="activities in MasterActivitiesGroup" value="{{activities.ActivityGroupID}}" ng-click="SearchConsole(activities)">{{activities.Name}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <div class="due-table" style="padding-left:1rem;padding-right:1rem;">
                                <!-- Duo display: Desktop, Moblie -->
                                <div layout="column" style="padding-top:0; padding-bottom: 0; overflow-x: scroll; margin-bottom: 20px; background: #f7f7f7;">
                                    <div class="table-column-name row-items border-left hidden-xs" layout="row" style="padding-left:0px;padding-right:0px;">
                                        <div layout="row" ng-style="{ 'width' : ch.width}" layout-align="center center" ng-repeat="ch in column_header">
                                            <span>{{ch.text}}</span>
                                        </div>
                                    </div>
                                    <div class="bar_expandlist mo-duo" style=" " ng-repeat="r in ActivitiesConsole">
                                        <div class="bar_expand-status mo-duo visible-xs">
                                            <div class="bar_left-icon mo-duo " style="height:35.1px;">
                                                <div class="dummy"> <span class="icon-arrow_line_down"></span></div>
                                            </div>
                                            <div class="bar_statusword">
                                                <a href="#" class="ng-binding" style="font-size: 16px;">{{r.ActivityName}} : ({{r.ActivityTypeName}})</a>
                                            </div>
                                        </div>
                                        <div class="bar_expand-expandDetail mo-duo">
                                            <div style="background:#f7f7f7;">
                                                <!--Repeat Data here -->
                                                <div class="row-items" style=" padding-top: 0; padding-left: 0; padding-bottom: 0; position: relative;" layout="row" layout-padding="10px;">
                                                    <div layout="column" ng-style="{ 'width' : column_header[0].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[0].text}}</span>
                                                        </div>
                                                        <span>{{r.BeginDate | date:'dd/MM/yyyy'}} - {{r.EndDate | date:'dd/MM/yyyy'}} {{r.ActivityName}}</span>
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[1].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[1].text}}</span>
                                                        </div>
                                                        <span class="align-res-ctrl">{{r.ActivityTypeName}}</span>
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[2].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[2].text}}</span>
                                                        </div>
                                                        <span class="align-res-ctrl" style="color: #038d30;" ng-if="!r.StatusID">-</span>
                                                        <span class="align-res-ctrl" style="color: #289efe;" ng-if="r.StatusID == 'COMPLETED'">{{r.StatusText}}</span>
                                                        <span class="align-res-ctrl" style="color: #ff6a00;" ng-if="r.StatusID == 'DRAFT'">{{r.StatusText}}</span>
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[3].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[3].text}}</span>
                                                        </div>
                                                        <div class="xs-align-left align-res-ctrl" layout="row">
                                                            <!--Create Document CorpKPI-->
                                                            <div class="icon-fn-doc add_color" layout="row" l ng-if="!r.StatusID" ng-click="CreateNew(r.RequestTypeID,OtherParam(r))">
                                                                <i class="btn icon-doc_plus" style="font-size:30px"></i>
                                                            </div>
                                                            <!--Display Document not status completed-->
                                                            <div class="icon-fn-doc view_color" layout="row" l ng-if="r.StatusID && r.StatusID != 'COMPLETED'" title="{{Text['STATUS'][r.StatusCode]}}" ng-click="ViewObj(r.RequestNo,requesterData.CompanyCode)">
                                                                <i class="btn icon-doc_dots" style="font-size:30px"></i>
                                                            </div>
                                                            <!--Dispaly Document Status Completed-->
                                                            <div class="icon-fn-doc view_color" layout="row" l ng-if="r.StatusID == 'COMPLETED'" title="{{Text['STATUS'][r.StatusCode]}}" ng-click="ViewObj(r.RequestNo,requesterData.CompanyCode)">
                                                                <i class="btn icon-doc_check " style="font-size:30px"></i>
                                                            </div>
                                                            <!--Edit Document-->
                                                            <div class="icon-fn-doc edit_color" layout="row" l ng-if="r.StatusID =='DRAFT'" title="{{Text['STATUS'][r.StatusCode]}}" ng-click="openRequest(r.RequestNo,requesterData.CompanyCode,r.KeyMaster, false, false, false, '')">
                                                                <i class="btn icon-doc_pencilp_line" style="font-size:30px"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .btn {
        padding:0px
    }
</style>