﻿<div class="TravelExManPage delegation-page" ng-controller="AbsAttReportViewerForTimeAdminController" ng-init="init();">

    <script type="text/ng-template" id="ModalWarningReportViewerForAbsence.ng-popup.html">
        <div class="modal-body alert1">
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="text-center font-18">
                        <svg xmlns="http://www.w3.org/2000/svg" width="57" height="57" viewBox="0 0 57 57">
                            <rect style="fill: #ed2f2f;opacity:0;" width="57" height="57" />
                            <path style="fill: #ed2f2f;" d="M25.75,2A23.75,23.75,0,1,0,49.5,25.75,23.75,23.75,0,0,0,25.75,2Zm0,42.75a19,19,0,1,1,19-19A19,19,0,0,1,25.75,44.75Z" transform="translate(2.75 2.75)" />
                            <path style="fill: #ed2f2f;" d="M22.569,9.7a2.375,2.375,0,0,0-3.373,0l-3.064,3.088L13.069,9.7A2.385,2.385,0,0,0,9.7,13.069l3.087,3.064L9.7,19.2a2.385,2.385,0,1,0,3.372,3.373l3.064-3.088L19.2,22.569A2.385,2.385,0,1,0,22.569,19.2l-3.088-3.064,3.088-3.064a2.375,2.375,0,0,0,0-3.372Z" transform="translate(12.367 12.367)" />
                        </svg>
                    </div>
                    <div class="text-center font-18">
                        <span ng-show="error == 1">{{Text['ABSATTREPORT']['ABSENCE_TYPE_IS_NOT_SELECTED']}}</span>
                        <span ng-show="error == 2">{{Text['OTLOGREPORT']['EXEPTION_ORG_NULL']}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer padding-t-none">
            <a class="m-btn-co btn-s-md" ng-click="closeModal()">
                <span class="">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Text['ACTION']['CANCEL']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </a>
        </div>
    </script>


    <div class="row margin-b10">
        <div class="col-sm-10">
            <h1>{{Text['APPLICATION']['ABSATTREPORT4ADMIN']}}</h1>
        </div>
        <div class="col-sm-2">
            <a class="m-btn-c2 btn-s-md text-center" style="margin-top:10px;" ng-click="back()">
                <span>
                    {{Text['SYSTEM']['BACK']}}
                </span>
            </a>
        </div>
    </div>

    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['APPLICATION']['ABSATTREPORT4ADMIN']}}
            </div>
        </div>

        <div class="ayodia-body-content">
            <div class="row margin-b20" ng-hide="isHideMultiCompany">
                <div class="col-sm-1">
                    <div class="text-basic-md-center-input color-main">{{Text['SYSTEM']['COMPANY']}}</div>
                </div>
                <div class="col-sm-2">
                    <div class="datepicker-height-set" style="position:relative;height:40px;">
                        <select class="form-control" ng-model="selectCompanyCode" ng-change="changeCompany()">
                            <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row" ng-hide="isHideMultiCompany">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <div class="row margin-b20">
                <div class="col-sm-1">
                    <div class="text-basic-md-center-input color-main">ตั้งแต่วันที่</div>
                </div>
                <div class="col-sm-2">
                    <div class="datepicker-height-set" style="position:relative;height:40px;">
                        <datepicker callback-on-change="setBeginDate(newDate)" date-format="d/M/yyyy" date-set="{{model.StartDate}}">
                            <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                        </datepicker>
                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="text-basic-md-center-input color-main">ถึงวันที่</div>
                </div>
                <div class="col-sm-2">
                    <div class="datepicker-height-set" style="position:relative;height:40px;">
                        <datepicker callback-on-change="setEndDate(newDate)" date-min-limit-for-range="{{model.StartDate}}" date-format="d/M/yyyy" date-set="{{model.EndDate}}">
                            <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                        </datepicker>
                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <!-- ประเภทการลา -->
            <div class="row margin-b20">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['ABSENCETYPE']}}</div>
                    <div>
                        <md-checkbox ng-click="checkall(this.value);">{{Text['SYSTEM']['SELECTALL']}}</md-checkbox>
                        <!--<a class="text-basic-md-center-input color-main" style="font-weight:bold;" ng-click="checkall(this.value);">{{Text['SYSTEM']['SELECTALL']}}</a>-->
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="col-sm-4" ng-if="listAbsenceType.length > 0" ng-repeat="item in listAbsenceType">
                        <md-checkbox ng-model="item.IsChecked">{{Text['ABSENCETYPE'][item.AbsAttGrouping + '#'+ item.Key]}}</md-checkbox>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <!-- Tree Org -->
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text['PAYROLLREPORTFORADMIN']['ORGANIZATION']}}</div>
                    </div>
                    <div class="col-sm-10">
                        <div class="text-basic-md-center-input color-main">
                            <div class="modal-body">
                                <div class="pa-modal-data" ng-repeat="OrgLV1 in TreeOrganization">
                                    <div class="ag-expad-able-div-box" ng-click="OrgLV1.IsExpanding = !OrgLV1.IsExpanding">
                                        <i ng-show="OrgLV1.IsExpanding && OrgLV1.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                        <i ng-show="!OrgLV1.IsExpanding && OrgLV1.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                    </div>
                                    <md-checkbox ng-click="selectOrgLV1(OrgLV1.OrgChild,OrgLV1)"> </md-checkbox>
                                    {{ OrgLV1.OrgUnitName}}
                                    <div class="ag-expad-able-div-container" ng-class="{'hidden':OrgLV1.IsExpanding}">
                                        <div class="ag-expad-able-div" ng-repeat="OrgLV2 in OrgLV1.OrgChild">

                                            <div class="ag-expad-able-div-box" ng-click="OrgLV2.IsExpanding = !OrgLV2.IsExpanding">
                                                <i ng-show="OrgLV2.IsExpanding && OrgLV2.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                                <i ng-show="!OrgLV2.IsExpanding && OrgLV2.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                            </div>
                                            <md-checkbox ng-click="selectOrgLV2(OrgLV2.OrgChild,OrgLV2)" ng-checked="OrgLV2.Selected" ng-disabled="OrgLV2.GroupDisable"> </md-checkbox>
                                            {{ OrgLV2.OrgUnitName}}
                                            <div class="ag-expad-able-div-container" ng-class="{'hidden':OrgLV2.IsExpanding}">
                                                <div class="ag-expad-able-div" ng-repeat="OrgLV3 in OrgLV2.OrgChild">
                                                    <div class="ag-expad-able-div-box" ng-click="OrgLV3.IsExpanding = !OrgLV3.IsExpanding">
                                                        <i ng-show="OrgLV3.IsExpanding && OrgLV3.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                                        <i ng-show="!OrgLV3.IsExpanding && OrgLV3.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                                    </div>
                                                    <md-checkbox ng-disabled="OrgLV3.Disable" ng-click="selectOrgLV3(OrgLV3.OrgChild,OrgLV3)" ng-checked="OrgLV3.Selected"> </md-checkbox>
                                                    {{OrgLV3.OrgUnitName}}
                                                    <div class="ag-expad-able-div-container" ng-class="{'hidden':OrgLV3.IsExpanding}">
                                                        <div class="ag-expad-able-div" ng-repeat="OrgLV4 in OrgLV3.OrgChild">
                                                            <div class="ag-expad-able-div-box" ng-click="OrgLV4.IsExpanding = !OrgLV4.IsExpanding">
                                                                <i ng-show="OrgLV4.IsExpanding && OrgLV4.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                                                <i ng-show="!OrgLV4.IsExpanding && OrgLV4.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                                            </div>
                                                            <md-checkbox ng-disabled="OrgLV4.Disable" ng-click="selectOrgLV4(OrgLV4.OrgChild,OrgLV4)" ng-checked="OrgLV4.Selected"> </md-checkbox>
                                                            {{OrgLV4.OrgUnitName}}
                                                            <div class="ag-expad-able-div-container" ng-class="{'hidden':OrgLV4.IsExpanding}">
                                                                <div class="ag-expad-able-div" ng-repeat="OrgLV5 in OrgLV4.OrgChild">
                                                                    <div class="ag-expad-able-div-box" ng-click="OrgLV5.IsExpanding = !OrgLV5.IsExpanding">
                                                                        <i ng-show="OrgLV5.IsExpanding && OrgLV5.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                                                        <i ng-show="!OrgLV5.IsExpanding && OrgLV5.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                                                    </div>
                                                                    <md-checkbox ng-disabled="OrgLV5.Disable" ng-click="selectOrgLV5(OrgLV5.OrgChild,OrgLV5)" ng-checked="OrgLV5.Selected"> </md-checkbox>
                                                                    {{OrgLV5.OrgUnitName}}


                                                                    <div class="ag-expad-able-div-container" ng-class="{'hidden':OrgLV5.IsExpanding}">
                                                                        <div class="ag-expad-able-div" ng-repeat="OrgLV6 in OrgLV5.OrgChild">
                                                                            <div class="ag-expad-able-div-box" ng-click="OrgLV6.IsExpanding = !OrgLV6.IsExpanding">
                                                                                <i ng-show="OrgLV6.IsExpanding && OrgLV6.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                                                                <i ng-show="!OrgLV6.IsExpanding && OrgLV6.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                                                            </div>
                                                                            <md-checkbox ng-disabled="OrgLV6.Disable" ng-click="selectOrgLV6(OrgLV6.OrgChild,OrgLV6)" ng-checked="OrgLV6.Selected"> </md-checkbox>
                                                                            {{OrgLV6.OrgUnitName}}

                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <a class="m-btn-c2 btn-s-md text-center" ng-click="exportReport()">
                        <span>
                            <i class="fa fa-search">&nbsp;&nbsp;&nbsp;</i>{{Text['PAYROLLREPORTFORADMIN']['VIEWREPORT']}}
                        </span>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <!--<pre>{{listAbsenceType | json}}</pre>-->
</div>

