﻿<div class="TravelExManPage delegation-page" ng-controller="AttendanceMonthlyReportController" ng-init="init();">

    <!--After-->
    <div class="row margin-b10">
        <div class="col-sm-10">
            <h1>{{Text['APPLICATION']['AttendanceMonthlyReport']}}</h1>
        </div>
        <div class="col-sm-2">
            <a class="m-btn-c2 btn-s-md text-center" style="margin-top:10px;" ng-click="back()">
                <span>
                    {{Text['SYSTEM']['BACK']}}
                </span>
            </a>
        </div>
    </div>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['APPLICATION']['AttendanceMonthlyReport']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">

                <div class="row" ng-hide="isHideMultiCompany">
                    <div class="col-sm-12">
                        <div class="line-under margin-b20 "></div>
                    </div>
                </div>
                <div class="row" ng-hide="isHideMultiCompany">
                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2">
                            <div class="text-basic-md-center-input color-main">{{Text['SYSTEM']['COMPANY']}} :</div>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control w-100 margin-b20" ng-model="ddlCompany" ng-change="changeCompany(ddlCompany)">
                                <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" ng-hide="isHideMultiCompany">
                    <div class="col-sm-12">
                        <div class="line-under margin-b20 "></div>
                    </div>
                </div>

                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text['AttendanceMonthlyReport']['SELECT']}} :</div>
                    </div>
                    <div class="col-xs-6 col-sm-2 margin-b10">
                        <div class="text-basic-md-center-input color-main margin-b20">
                            <div class="radio style2 radio-inline">
                                <input type="radio" name="group" id="radio_org" value="1" ng-model="rdoSelected" ng-change="changeRadioSelected()" required />
                                <label for="radio_org" class="black-color">{{Text['AttendanceMonthlyReport']['ORGANIZATION']}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 margin-b10">
                        <div class="text-basic-md-center-input color-main margin-b20">
                            <div class="radio style2 radio-inline">
                                <input type="radio" name="group" id="radio_emp" value="2" ng-model="rdoSelected" ng-change="changeRadioSelected()" required />
                                <label for="radio_emp" class="black-color">{{Text['AttendanceMonthlyReport']['BYEMPLOYEE']}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>
            <!--หน่วยงาน-->
            <div class="row" ng-if="rdoSelected == '1'">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text['AttendanceMonthlyReport']['ORGANIZATION']}} :</div>
                    </div>
                    <div class="col-sm-10">
                        <div class="text-basic-md-center-input color-main">
                            <div class="modal-body">
                                <div class="pa-modal-data" ng-repeat="OrgLV1 in TreeOrganization">
                                    <div class="ag-expad-able-div-box" ng-click="OrgLV1.IsExpanding = !OrgLV1.IsExpanding">
                                        <i ng-show="OrgLV1.IsExpanding && OrgLV1.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                        <i ng-show="!OrgLV1.IsExpanding && OrgLV1.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                    </div>
                                    <md-checkbox ng-click="selectOrgLV1(OrgLV1.OrgChild,OrgLV1)"> </md-checkbox>
                                    {{ OrgLV1.OrgUnitName}}
                                    <div class="ag-expad-able-div-container" ng-class="{'hidden':OrgLV1.IsExpanding}">
                                        <div class="ag-expad-able-div" ng-repeat="OrgLV2 in OrgLV1.OrgChild">

                                            <div class="ag-expad-able-div-box" ng-click="OrgLV2.IsExpanding = !OrgLV2.IsExpanding">
                                                <i ng-show="OrgLV2.IsExpanding && OrgLV2.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                                <i ng-show="!OrgLV2.IsExpanding && OrgLV2.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                            </div>
                                            <md-checkbox ng-click="selectOrgLV2(OrgLV2.OrgChild,OrgLV2)" ng-checked="OrgLV2.Selected" ng-disabled="OrgLV2.GroupDisable"> </md-checkbox>
                                            {{ OrgLV2.OrgUnitName}}
                                            <div class="ag-expad-able-div-container" ng-class="{'hidden':OrgLV2.IsExpanding}">
                                                <div class="ag-expad-able-div" ng-repeat="OrgLV3 in OrgLV2.OrgChild">
                                                    <div class="ag-expad-able-div-box" ng-click="OrgLV3.IsExpanding = !OrgLV3.IsExpanding">
                                                        <i ng-show="OrgLV3.IsExpanding && OrgLV3.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                                        <i ng-show="!OrgLV3.IsExpanding && OrgLV3.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                                    </div>
                                                    <md-checkbox ng-disabled="OrgLV3.Disable" ng-click="selectOrgLV3(OrgLV3.OrgChild,OrgLV3)" ng-checked="OrgLV3.Selected"> </md-checkbox>
                                                    {{OrgLV3.OrgUnitName}}
                                                    <div class="ag-expad-able-div-container" ng-class="{'hidden':OrgLV3.IsExpanding}">
                                                        <div class="ag-expad-able-div" ng-repeat="OrgLV4 in OrgLV3.OrgChild">
                                                            <div class="ag-expad-able-div-box" ng-click="OrgLV4.IsExpanding = !OrgLV4.IsExpanding">
                                                                <i ng-show="OrgLV4.IsExpanding && OrgLV4.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                                                <i ng-show="!OrgLV4.IsExpanding && OrgLV4.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                                            </div>
                                                            <md-checkbox ng-disabled="OrgLV4.Disable" ng-click="selectOrgLV4(OrgLV4.OrgChild,OrgLV4)" ng-checked="OrgLV4.Selected"> </md-checkbox>
                                                            {{OrgLV4.OrgUnitName}}
                                                            <div class="ag-expad-able-div-container" ng-class="{'hidden':OrgLV4.IsExpanding}">
                                                                <div class="ag-expad-able-div" ng-repeat="OrgLV5 in OrgLV4.OrgChild">
                                                                    <div class="ag-expad-able-div-box" ng-click="OrgLV5.IsExpanding = !OrgLV5.IsExpanding">
                                                                        <i ng-show="OrgLV5.IsExpanding && OrgLV5.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                                                        <i ng-show="!OrgLV5.IsExpanding && OrgLV5.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                                                    </div>
                                                                    <md-checkbox ng-disabled="OrgLV5.Disable" ng-click="selectOrgLV5(OrgLV5.OrgChild,OrgLV5)" ng-checked="OrgLV5.Selected"> </md-checkbox>
                                                                    {{OrgLV5.OrgUnitName}}

                                                                    <div class="ag-expad-able-div-container" ng-class="{'hidden':OrgLV5.IsExpanding}">
                                                                        <div class="ag-expad-able-div" ng-repeat="OrgLV6 in OrgLV5.OrgChild">
                                                                            <div class="ag-expad-able-div-box" ng-click="OrgLV6.IsExpanding = !OrgLV6.IsExpanding">
                                                                                <i ng-show="OrgLV6.IsExpanding && OrgLV6.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                                                                <i ng-show="!OrgLV6.IsExpanding && OrgLV6.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                                                            </div>
                                                                            <md-checkbox ng-disabled="OrgLV6.Disable" ng-click="selectOrgLV6(OrgLV6.OrgChild,OrgLV6)" ng-checked="OrgLV6.Selected"> </md-checkbox>
                                                                            {{OrgLV6.OrgUnitName}}

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="MsgValidate!=''">
                            <div class="col-sm-12"><span style="font-weight: 600; color:red;">{{MsgValidate}}</span></div>
                        </div>
                    </div>


                </div>
            </div>

            <!-- ระบุพนักงานรายบุคคล -->
            <div class="row" ng-if="rdoSelected == '2'">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text['AttendanceMonthlyReport']['EMPLOYEE']}} :</div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">

                            <button class="btn btn-primary btn-sm" ng-click="openModalSearchCustomer();">{{Text['AttendanceMonthlyReport']['SELECTEMPLOYEE']}}</button>
                            <button class="btn btn-danger btn-sm" ng-click="clearDataCustomer();">{{Text['AttendanceMonthlyReport']['Cancel']}}</button>
                        </div>

                        <div class="row" ng-if="MsgValidate!=''">
                            <div class="col-sm-12"><span style="font-weight: 600; color:red;">{{MsgValidate}}</span></div>
                        </div>

                        <div class="row" ng-show="SelectedEmployeeName">
                            <div class="col-sm-3">
                                <div class="text-basic-md-center-input color-main">{{Text['BE_EDUCATIONALLOWANCE']['FULL_NAME']}}</div>
                            </div>
                            <div class="col-sm-9">
                                <div class="text-basic-md-center-input color-main">{{SelectedEmployeeID}}&nbsp;&nbsp;{{SelectedEmployeeName}}</div>
                            </div>
                        </div>
                        <div class="row" ng-show="SelectedPositionName">
                            <div class="col-sm-3">
                                <div class="text-basic-md-center-input color-main">{{Text['AttendanceMonthlyReport']['POSITION']}}</div>
                            </div>
                            <div class="col-sm-9">
                                <div class="text-basic-md-center-input color-main">{{SelectedPositionID}}&nbsp;&nbsp;{{SelectedPositionName}}</div>
                            </div>
                        </div>
                        <div class="row" ng-show="SelectedOrgUnitName">
                            <div class="col-sm-3">
                                <div class="text-basic-md-center-input color-main">{{Text['AttendanceMonthlyReport']['ORGANIZE']}}</div>
                            </div>
                            <div class="col-sm-9">
                                <div class="text-basic-md-center-input color-main">{{SelectedOrgUnitID}}&nbsp;&nbsp;{{SelectedOrgUnitName}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!--<div class="row">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">ตั้งแต่วันที่ :</div>
                    </div>
                    <div class="col-sm-2">
                        <div class="datepicker-height-set" style="position:relative;height:40px;">
                            <datepicker callback-on-change="setBeginDate(newDate)" date-format="d/M/yyyy" date-set="{{model.StartDate}}">
                                <input name="dStartDate" class="form-control clickable datepicker" type="text" readonly required />
                            </datepicker>
                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="datepicker-height-set" style="position:relative;height:40px;">
                            <datepicker callback-on-change="setEndDate(newDate)" date-format="d/M/yyyy" date-set="{{model.EndDate}}">
                                <input name="dEndDate" class="form-control clickable datepicker" type="text" readonly required />
                            </datepicker>
                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                        </div>
                    </div>
                </div>
            </div>-->


            <div class="row margin-b20">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['AttendanceMonthlyReport']['DATEFROM']}} :</div>
                </div>
                <div class="col-sm-2">
                    <div class="datepicker-height-set" style="position:relative;height:40px;">
                        <datepicker callback-on-change="setBeginDate(newDate)" date-format="d/M/yyyy" date-set="{{model.StartDate}}">
                            <input name="dStartDate" class="form-control clickable datepicker" type="text" readonly required />
                        </datepicker>
                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="text-basic-md-center-input color-main">{{Text['AttendanceMonthlyReport']['DATETO']}}</div>
                </div>
                <div class="col-sm-2">
                    <div class="datepicker-height-set" style="position:relative;height:40px;">
                        <datepicker callback-on-change="setEndDate(newDate)" date-min-limit-for-range="{{model.StartDate}}" date-format="d/M/yyyy" date-set="{{model.EndDate}}">
                            <input name="dEndDate" class="form-control clickable datepicker" type="text" readonly required />
                        </datepicker>
                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                    </div>
                </div>
            </div>


            <!-- ออกรายงาน -->
            <div class="row margin-b20">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-2">
                    <a class="m-btn-c2 btn-s-md text-center" ng-click='GetReport("RDLC")'>
                        <span>
                            <i class="fa fa-search">&nbsp;&nbsp;&nbsp;</i>{{Text['AttendanceMonthlyReport']['VIEWREPORT']}}
                        </span>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="m-btn-c2 btn-s-md text-center" ng-click='GetReport("EXCEL")'>
                        <span>
                            <i class="fas fa-file-excel"></i> <span>{{Text['BENEFITREPORT']['DOWNLOADEXCLE']}}</span> <!--ดาวน์โหลดไฟล์ EXCIL-->
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<script type="text/ng-template" id="errorExportPdf.ng-popup.html">
    <div class="modal-body alert1">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <div class="text-center font-18">
                    <svg xmlns="http://www.w3.org/2000/svg" width="57" height="57" viewBox="0 0 57 57">
                        <rect style="fill: #ed2f2f;opacity:0;" width="57" height="57" />
                        <path style="fill: #ed2f2f;" d="M25.75,2A23.75,23.75,0,1,0,49.5,25.75,23.75,23.75,0,0,0,25.75,2Zm0,42.75a19,19,0,1,1,19-19A19,19,0,0,1,25.75,44.75Z" transform="translate(2.75 2.75)" />
                        <path style="fill: #ed2f2f;" d="M22.569,9.7a2.375,2.375,0,0,0-3.373,0l-3.064,3.088L13.069,9.7A2.385,2.385,0,0,0,9.7,13.069l3.087,3.064L9.7,19.2a2.385,2.385,0,1,0,3.372,3.373l3.064-3.088L19.2,22.569A2.385,2.385,0,1,0,22.569,19.2l-3.088-3.064,3.088-3.064a2.375,2.375,0,0,0,0-3.372Z" transform="translate(12.367 12.367)" />
                    </svg>
                </div>
                <div class="text-center font-18">
                    {{Text['AttendanceMonthlyReport']['NotFound_PDF']}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer padding-t-none">
        <a class="m-btn-co btn-s-md" ng-click="closeModal()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ปิด&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>

<script type="text/ng-template" id="modalSearchCustomerAttendanceMonthly.ng-popup.html">
    <div class="modal-header">
        <h3 class="modal-title custom font-b font-18">{{text_db['AttendanceMonthlyReport']['ListEmployee']}}</h3>
        <button type="button" class="close custom" ng-click="closeModal()">&times;</button>
    </div>


    <div class="modal-body alert2 scrollbar-2 popup-scroll">
        <div class="row">
            <div class="col-sm-8">
                <input type="text" class="w-50 input-box font-16" placeholder="{{text_db['AttendanceMonthlyReport']['SearchEmployee']}}"
                       ng-model="modelTextSearch.TextData"
                       ng-model-options="{ debounce: 1000 }"
                       ng-change="searchEmployee(modelTextSearch.TextData);">
            </div>
        </div>
        <div class="row">
            <div class="row margin-b10 show-pc lr-0">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center">{{text_db['ACCOUNT_SETTING']['EMPLOYEE_ID']}}</th>
                            <th class="text-center">{{text_db['BE_EDUCATIONALLOWANCE']['FULL_NAME']}}</th>
                            <th class="text-center">{{text_db['HRTMABSENCE']['DELEGATE_POSITION']}}</th>
                            <th class="text-center">{{text_db['HRTMABSENCE']['DELEGATE_ORGANIZE']}}</th>
                            <th class="text-center">{{text_db['AttendanceMonthlyReport']['EMPLOYEE']}}</th>
                        </tr>

                        <tr class="t-body" ng-if="list_emp.length > 0" ng-repeat="employeeData in list_emp">
                            <td class="font-16 v-top">
                                <p class="margin-none">{{employeeData.EmployeeID}}</p>
                            </td>
                            <td class="font-16 v-top">
                                <p class="margin-none">{{employeeData.Name}}</p>
                            </td>
                            <td class="font-16 text-center v-top">
                                {{employeeData.PositionName}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{employeeData.OrgUnitName}}
                            </td>
                            <td class="font-16 text-center v-top">
                                <button class="btn btn-primary btn-sm" ng-click="selectEmployee(employeeData);">{{text_db['AttendanceMonthlyReport']['SELECT']}}</button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="row margin-b10 show-tablet lr-0">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">

                        <tr class="t-header">
                            <th class="text-center" colspan="2">{{text_db['ACCOUNT_SETTING']['DETAIL']}}</th>
                        </tr>

                        <tr class="t-body" ng-repeat="employeeData in list_emp">
                            <td class="font-14 v-top">
                                <p class="margin-none"> {{employeeData.EmployeeID}} {{employeeData.EmployeeName}}</p>
                                <p class="margin-none"> {{employeeData.PositionName}}</p>
                                <p class="margin-none"> {{employeeData.OrgUnitName}} </p>
                            </td>
                            <td class="font-14 lr-0 v-top text-center">
                                <button class="btn btn-primary btn-sm" ng-click="selectEmployee(employeeData);">{{text_db['AttendanceMonthlyReport']['SELECT']}}</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>




