﻿<div class="TravelExManPage delegation-page" ng-controller="OTSummaryByHourController" ng-init="init();">

    <div class="row margin-b10">
        <div class="col-sm-10">
            <h1>{{Text['APPLICATION']['REPORT_OT_SUMMARYBYHOUR']}}</h1>
        </div>
        <div class="col-sm-2">
            <a class="m-btn-c2 btn-s-md text-center" style="margin-top:10px;" ng-click="back()">
                <span>
                    {{Text['SYSTEM']['BACK']}}
                </span>
            </a>
        </div>
    </div>
    <div class="content-by-ayodia margin-b20 ">

        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['APPLICATION']['REPORT_OT_SUMMARYBYHOUR']}}
            </div>
        </div>

        <div class="ayodia-body-content" style="min-height:500px;">
            <div class="row margin-b20" ng-hide="isHideMultiCompany">
                <div class="col-sm-1">
                    <div class="text-basic-md-center-input color-main">{{Text['SYSTEM']['COMPANY']}}</div>
                </div>
                <div class="col-sm-3">
                    <div class="datepicker-height-set" style="position:relative;height:40px;">
                        <select class="form-control" ng-model="selectCompanyCode" ng-change="changeCompany()">
                            <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="isHideMultiCompany">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <div class="row margin-b20">
                <div class="col-sm-1">
                    <div class="text-basic-md-center-input color-main">ปี</div>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="model.Year">
                        <option value="0">เลือกปี</option>
                        <option ng-repeat="item in list_year" value="{{item}}">{{item}}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <a class="m-btn-c2 btn-s-md text-center" ng-click="exportReport()">
                        <span>
                            <i class="fa fa-search">&nbsp;&nbsp;&nbsp;</i>{{Text['PAYROLLREPORTFORADMIN']['VIEWREPORT']}}
                        </span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

