﻿<div class="TravelExManPage delegation-page" ng-controller="DetailWelfareController" ng-init="init();">

    <script type="text/ng-template" id="welfareErrorMessageController.ng-popup.html">
        <div class="modal-body alert1">
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="text-center font-18">
                        <svg xmlns="http://www.w3.org/2000/svg" width="57" height="57" viewBox="0 0 57 57">
                            <rect style="fill: #ed2f2f;opacity:0;" width="57" height="57" />
                            <path style="fill: #ed2f2f;" d="M25.75,2A23.75,23.75,0,1,0,49.5,25.75,23.75,23.75,0,0,0,25.75,2Zm0,42.75a19,19,0,1,1,19-19A19,19,0,0,1,25.75,44.75Z" transform="translate(2.75 2.75)" />
                            <path style="fill: #ed2f2f;" d="M22.569,9.7a2.375,2.375,0,0,0-3.373,0l-3.064,3.088L13.069,9.7A2.385,2.385,0,0,0,9.7,13.069l3.087,3.064L9.7,19.2a2.385,2.385,0,1,0,3.372,3.373l3.064-3.088L19.2,22.569A2.385,2.385,0,1,0,22.569,19.2l-3.088-3.064,3.088-3.064a2.375,2.375,0,0,0,0-3.372Z" transform="translate(12.367 12.367)" />
                        </svg>
                    </div>
                    <div class="text-center font-18">
                        {{txt_warnig}}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer padding-t-none">
            <a class="m-btn-co btn-s-md" ng-click="closeModal()">
                <span class="">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Text['ACTION']['CANCEL']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </a>
        </div>
    </script>

    <div class="row margin-b10">
        <div class="col-sm-10">
            <h1>{{Text['APPLICATION']['REPORT_WELFARE_DETAIL']}}</h1>
        </div>
        <div class="col-sm-2">
            <a class="m-btn-c2 btn-s-md text-center" style="margin-top:10px;" ng-click="back()">
                <span>
                    {{Text['SYSTEM']['BACK']}}
                </span>
            </a>
        </div>
    </div>
    <div class="content-by-ayodia margin-b20 ">

        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['APPLICATION']['REPORT_WELFARE_DETAIL']}}
            </div>
        </div>

        <div class="ayodia-body-content" style="min-height:500px;">
            <div class="row margin-b20" ng-hide="isHideMultiCompany">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['SYSTEM']['COMPANY']}}</div>
                </div>
                <div class="col-sm-2">
                    <div class="datepicker-height-set" style="position:relative;height:40px;">
                        <select class="form-control" ng-model="selectCompanyCode" ng-change="changeCompany(selectCompanyCode)">
                            <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="isHideMultiCompany">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <div class="row margin-b20">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['OTLOGREPORT']['From']}}</div>
                </div>
                <div class="col-sm-2">
                    <div class="datepicker-height-set" style="position:relative;height:40px;">
                        <datepicker callback-on-change="setBeginDate(newDate)" date-format="d/M/yyyy" date-set="{{model.StartDate}}">
                            <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                        </datepicker>
                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main text-center">{{Text['OTLOGREPORT']['To']}}</div>
                </div>
                <div class="col-sm-2">
                    <div class="datepicker-height-set" style="position:relative;height:40px;">
                        <datepicker callback-on-change="setEndDate(newDate)" date-min-limit-for-range="{{model.StartDate}}" date-format="d/M/yyyy" date-set="{{model.EndDate}}">
                            <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                        </datepicker>
                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <!--<div class="text-basic-md-center-input color-main">{{Text['OTLOGREPORT']['STATUS']}}</div>-->
                    <div class="text-basic-md-center-input color-main">{{Text['REPORT_WELFARE_DETAIL']['WELFARE_TYPE']}}</div>
                    <div>
                        <md-checkbox ng-click="checkall(this.value);">{{Text['SYSTEM']['SELECTALL']}}</md-checkbox>
                        <!--<a class="text-basic-md-center-input color-main" style="font-weight:bold;" ng-click="checkall(this.value);">{{Text['SYSTEM']['SELECTALL']}}</a>-->
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="col-sm-4" ng-repeat="item in list_category">
                        <md-checkbox ng-model="item.isCheck">
                            {{Text['BENEFITREPORT']['CATEGORY' + item.name]}}
                        </md-checkbox>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <a class="m-btn-c2 btn-s-md text-center" ng-click="exportReport()">
                        <span>
                            <i class="fa fa-search">&nbsp;&nbsp;&nbsp;</i>{{Text['PAYROLLREPORTFORADMIN']['VIEWREPORT']}}
                        </span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

