﻿<div class="TravelExManPage delegation-page box-content" ng-controller="HealthInsAllowanceReportForAdminContentController" ng-init="init();">

    <div class="row">
        <div class="col-sm-10">
            <h1>{{Text['APPLICATION']['HEALTH_REPORT']}}</h1>
        </div>
        <div class="col-sm-2">
            <a class="m-btn-c2 btn-s-md text-center" style="margin-top:10px;" ng-click="back()">
                <span>
                    {{Text['SYSTEM']['BACK']}}
                </span>
            </a>
        </div>
    </div>

    <div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{Text['APPLICATION']['HEALTH_REPORT']}}sss</div> <!--รายงานสรุปการเบิกสวัสดิการ-->
                </div>
            </div>
        </div>
    </div>

    <div class="body_content" style="margin-bottom:0px;">
        <div class="col-md-12 forheight_sub" style="background: white;margin-top: 0 !important; min-height: 500px;">
            <div class="-pad10"></div>
            <div class="body_content">
                <div class="row">
                    <div class="row" ng-hide="isHideMultiCompany">
                        <div class="col-sm-12">
                            <div class="line-under margin-b20 "></div>
                        </div>
                    </div>
                    <div class="row" ng-hide="isHideMultiCompany">
                        <div class="col-sm-12 lr-0">
                            <div class="col-sm-2">
                                <div class="text-basic-md-center-input color-main">{{Text['SYSTEM']['COMPANY']}} :</div>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control w-100 margin-b20" ng-model="ddlCompany" ng-change="changeCompany(ddlCompany)">
                                    <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                                </select>
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-1">
                                <span class="span_name" style="line-height: 2 !important;">
                                    {{ Text['SYSTEM']['YEAR'] + " : " }}
                                </span>
                            </div>

                            <div class="col-sm-2 detaildate_leave">
                                <select class="form-control w100px-desktop" style="width:100%;" ng-model="ddlYear">
                                    <option value="{{item}}" ng-repeat="item in YearList">{{item}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-hide="isHideMultiCompany">
                        <div class="col-sm-12">
                            <div class="line-under margin-b20 "></div>
                        </div>
                    </div>

                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2">
                            <div class="text-basic-md-center-input color-main">{{Text['PAYROLLREPORTFORADMIN']['SELECT']}} :</div>
                        </div>
                        <div class="col-xs-6 col-sm-2 margin-b10">
                            <div class="text-basic-md-center-input color-main margin-b20">
                                <div class="radio style2 radio-inline">
                                    <input type="radio" name="group" id="radio_org" value="1" ng-model="rdoSelected" ng-change="changeRadioSelected()" required />
                                    <label for="radio_org" class="black-color">{{Text['PAYROLLREPORTFORADMIN']['ORGANIZATION']}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-2 margin-b10">
                            <div class="text-basic-md-center-input color-main margin-b20">
                                <div class="radio style2 radio-inline">
                                    <input type="radio" name="group" id="radio_emp" value="2" ng-model="rdoSelected" ng-change="changeRadioSelected()" required />
                                    <label for="radio_emp" class="black-color">{{Text['PAYROLLREPORTFORADMIN']['BYEMPLOYEE']}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-1">
                            <span class="span_name" style="line-height: 2 !important;">
                                {{ Text['BE_HEALTHINSURANCEREGISTER']['STATUS'] + " : " }}
                            </span>
                        </div>

                        <div class="col-sm-2 detaildate_leave">
                            <select class="form-control w100px-desktop" style="width:100%;" ng-model="ddlYear">
                                <option value="{{item}}" ng-repeat="item in YearList">{{item}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="line-under margin-b20 "></div>
                    </div>
                </div>
                <!--หน่วยงาน-->
                <div class="row" ng-if="rdoSelected == '1'">
                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2">
                            <div class="text-basic-md-center-input color-main">{{Text['PAYROLLREPORTFORADMIN']['ORGANIZATION']}} :</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="text-basic-md-center-input color-main">
                                <div class="modal-body">
                                    <div class="pa-modal-data" ng-repeat="OrgLV1 in TreeOrganization">
                                        <div class="ag-expad-able-div-box" ng-click="OrgLV1.IsExpanding = !OrgLV1.IsExpanding">
                                            <i ng-show="OrgLV1.IsExpanding && OrgLV1.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                            <i ng-show="!OrgLV1.IsExpanding && OrgLV1.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                        </div>
                                        <md-checkbox ng-click="selectOrgLV1(OrgLV1.OrgChild,OrgLV1)"> </md-checkbox>
                                        {{ OrgLV1.OrgUnitName}}
                                        <div class="ag-expad-able-div-container" ng-class="{'hidden':OrgLV1.IsExpanding}">
                                            <div class="ag-expad-able-div" ng-repeat="OrgLV2 in OrgLV1.OrgChild">

                                                <div class="ag-expad-able-div-box" ng-click="OrgLV2.IsExpanding = !OrgLV2.IsExpanding">
                                                    <i ng-show="OrgLV2.IsExpanding && OrgLV2.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                                    <i ng-show="!OrgLV2.IsExpanding && OrgLV2.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                                </div>
                                                <md-checkbox ng-click="selectOrgLV2(OrgLV2.OrgChild,OrgLV2)" ng-checked="OrgLV2.Selected" ng-disabled="OrgLV2.GroupDisable"> </md-checkbox>
                                                {{ OrgLV2.OrgUnitName}}
                                                <div class="ag-expad-able-div-container" ng-class="{'hidden':OrgLV2.IsExpanding}">
                                                    <div class="ag-expad-able-div" ng-repeat="OrgLV3 in OrgLV2.OrgChild">
                                                        <div class="ag-expad-able-div-box" ng-click="OrgLV3.IsExpanding = !OrgLV3.IsExpanding">
                                                            <i ng-show="OrgLV3.IsExpanding && OrgLV3.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                                            <i ng-show="!OrgLV3.IsExpanding && OrgLV3.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                                        </div>
                                                        <md-checkbox ng-disabled="OrgLV3.Disable" ng-click="selectOrgLV3(OrgLV3.OrgChild,OrgLV3)" ng-checked="OrgLV3.Selected"> </md-checkbox>
                                                        {{OrgLV3.OrgUnitName}}
                                                        <div class="ag-expad-able-div-container" ng-class="{'hidden':OrgLV3.IsExpanding}">
                                                            <div class="ag-expad-able-div" ng-repeat="OrgLV4 in OrgLV3.OrgChild">
                                                                <div class="ag-expad-able-div-box" ng-click="OrgLV4.IsExpanding = !OrgLV4.IsExpanding">
                                                                    <i ng-show="OrgLV4.IsExpanding && OrgLV4.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                                                    <i ng-show="!OrgLV4.IsExpanding && OrgLV4.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                                                </div>
                                                                <md-checkbox ng-disabled="OrgLV4.Disable" ng-click="selectOrgLV4(OrgLV4.OrgChild,OrgLV4)" ng-checked="OrgLV4.Selected"> </md-checkbox>
                                                                {{OrgLV4.OrgUnitName}}
                                                                <div class="ag-expad-able-div-container" ng-class="{'hidden':OrgLV4.IsExpanding}">
                                                                    <div class="ag-expad-able-div" ng-repeat="OrgLV5 in OrgLV4.OrgChild">
                                                                        <div class="ag-expad-able-div-box" ng-click="OrgLV5.IsExpanding = !OrgLV5.IsExpanding">
                                                                            <i ng-show="OrgLV5.IsExpanding && OrgLV5.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                                                            <i ng-show="!OrgLV5.IsExpanding && OrgLV5.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                                                        </div>
                                                                        <md-checkbox ng-disabled="OrgLV5.Disable" ng-click="selectOrgLV5(OrgLV5.OrgChild,OrgLV5)" ng-checked="OrgLV5.Selected"> </md-checkbox>
                                                                        {{OrgLV5.OrgUnitName}}

                                                                        <div class="ag-expad-able-div-container" ng-class="{'hidden':OrgLV5.IsExpanding}">
                                                                            <div class="ag-expad-able-div" ng-repeat="OrgLV6 in OrgLV5.OrgChild">
                                                                                <div class="ag-expad-able-div-box" ng-click="OrgLV6.IsExpanding = !OrgLV6.IsExpanding">
                                                                                    <i ng-show="OrgLV6.IsExpanding && OrgLV6.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                                                                    <i ng-show="!OrgLV6.IsExpanding && OrgLV6.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                                                                </div>
                                                                                <md-checkbox ng-disabled="OrgLV6.Disable" ng-click="selectOrgLV6(OrgLV6.OrgChild,OrgLV6)" ng-checked="OrgLV6.Selected"> </md-checkbox>
                                                                                {{OrgLV6.OrgUnitName}}

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="row">
                            <div class="col-sm-12 lr-0">
                                <div class="col-sm-2">
                                    <div class="text-basic-md-center-input color-main">{{Text['PAYROLLREPORTFORADMIN']['EMPLOYEE']}} :</div>
                                </div>
                                <div class="col-sm-4">
                                    <md-autocomplete class="blocked-cross-btn" theme="bootstrap" style="font-size:16px;"
                                                     ng-click="tryToSelect_cc(ap_pdr_text.cc,-1)"
                                                     ng-blur="checkText_cc(ap_pdr_text.cc,-1)"
                                                     md-no-cache="true"
                                                     md-search-text="ap_pdr_text.cc"
                                                     md-selected-item-change="selectedItemListEmpChange(item,-1)"
                                                     md-items="item in querySearchListEmp(ap_pdr_text.cc,-1)"
                                                     md-item-text="item.EmployeeID1+' : '+item.EmployeeName1"
                                                     md-min-length="0"
                                                     placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">
                                        <md-item-template>
                                            <span md-highlight-text="ap_pdr_text.cc" md-highlight-flags="g">{{item.EmployeeID1}} : {{item.EmployeeName1}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No states matching "{{ap_pdr_text.cc}}" was found.
                                        </md-not-found>
                                    </md-autocomplete>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>

                <!-- ระบุพนักงานรายบุคคล -->
                <div class="row" ng-if="rdoSelected == '2'">
                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2">
                            <div class="text-basic-md-center-input color-main">{{Text['PAYROLLREPORTFORADMIN']['EMPLOYEE']}} :</div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <!--<div class="col-sm-12">
                                    <ui-select ng-model="model.SelectEmployee" ng-change="getSelectedEmployee(model.SelectEmployee)" theme="selectize" class="margin-b20 custom-ui-select">
                                        <ui-select-match placeholder="เลือกพนักงาน">{{$select.selected.EmployeeID1 + ':' + $select.selected.EmployeeName1}}</ui-select-match>
                                        <ui-select-choices repeat="data in ListEmp | propsFilter: {EmployeeName1: $select.search, EmployeeID1: $select.search}">
                                            <span ng-bind-html="data.EmployeeID1 + ' : ' + data.EmployeeName1 | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>-->
                                <!--ng-click="getSelectedEmployee(Emp.EmployeeID2,Emp.EmployeeName2,Emp.PositionID2,Emp.PositionName2)"-->
                                <button class="btn btn-primary btn-sm" ng-click="openModalSearchCustomer();">{{Text['PAYROLLREPORTFORADMIN']['SELECTEMPLOYEE']}}</button>
                                <button class="btn btn-danger btn-sm" ng-click="clearDataCustomer();">{{Text['PAYROLLREPORTFORADMIN']['Cancel']}}</button>
                            </div>

                            <div class="row" ng-if="MsgValidate!=''">
                                <div class="col-sm-12"><span style="font-weight: 600; color:red;">{{MsgValidate}}</span></div>
                            </div>

                            <div class="row" ng-show="SelectedEmployeeName">
                                <div class="col-sm-3">
                                    <div class="text-basic-md-center-input color-main">{{Text['BE_EDUCATIONALLOWANCE']['FULL_NAME']}}</div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="text-basic-md-center-input color-main">{{SelectedEmployeeID}}&nbsp;&nbsp;{{SelectedEmployeeName}}</div>
                                </div>
                            </div>
                            <div class="row" ng-show="SelectedPositionName">
                                <div class="col-sm-3">
                                    <div class="text-basic-md-center-input color-main">{{Text['PAYROLLREPORTFORADMIN']['POSITION']}}</div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="text-basic-md-center-input color-main">{{SelectedPositionID}}&nbsp;&nbsp;{{SelectedPositionName}}</div>
                                </div>
                            </div>
                            <div class="row" ng-show="SelectedOrgUnitName">
                                <div class="col-sm-3">
                                    <div class="text-basic-md-center-input color-main">{{Text['PAYROLLREPORTFORADMIN']['ORGANIZE']}}</div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="text-basic-md-center-input color-main">{{SelectedOrgUnitID}}&nbsp;&nbsp;{{SelectedOrgUnitName}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row margin-b20">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text['OTLOGREPORT']['From']}}</div>
                    </div>
                    <div class="col-sm-2">
                        <div class="datepicker-height-set" style="position:relative;height:40px;">
                            <datepicker callback-on-change="setBeginDate(newDate)" date-format="d/M/yyyy" date-set="{{model.StartDate}}">
                                <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                            </datepicker>
                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main text-center">{{Text['OTLOGREPORT']['To']}}</div>
                    </div>
                    <div class="col-sm-2">
                        <div class="datepicker-height-set" style="position:relative;height:40px;">
                            <datepicker callback-on-change="setEndDate(newDate)" date-min-limit-for-range="{{model.StartDate}}" date-format="d/M/yyyy" date-set="{{model.EndDate}}">
                                <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                            </datepicker>
                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                        </div>
                    </div>
                </div>

                <!-- ออกรายงาน -->
                <div class="row margin-b20">
                    <div class="col-sm-12">
                        <div class="line-under margin-b20 "></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <a class="m-btn-c2 btn-s-md text-center" ng-click="get_report()">
                            <span>
                                <i class="fa fa-eye">&nbsp;&nbsp;&nbsp;</i>{{Text['PAYROLLREPORTFORADMIN']['VIEWREPORT']}}
                            </span>
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a class="m-btn-c2 btn-s-md text-center" ng-click="onViewReport()">
                            <span>
                                <i class="fa fa-repeat">&nbsp;&nbsp;&nbsp;</i>{{Text['BENEFITREPORT']['RESETREPORT']}}
                            </span>
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a class="m-btn-c2 btn-s-md text-center w240px-desktop" ng-click="exportReport()">
                            <span>
                                <i class="fa fa-file-excel-o">&nbsp;&nbsp;&nbsp;</i>{{Text['BENEFITREPORT']['DOWNLOADEXCLE']}}
                            </span>
                        </a>
                    </div>
                </div>






            </div>
        </div>
        <div class="body_content" style="margin-bottom:0px;" ng-show="data.length > 0">
            <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" style="overflow-x:hidden; padding-bottom:4rem;">
                <div class="body_content">
                    <div class="body_content" style="background:white;">
                        <div class="leavetableBlock leavetableBlock_create">
                            <div class="row itemlist_block">
                                <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                    <div class="row itemlist">
                                        <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                            <div style="font-size: 2.0em;text-align: center;margin-top: 35px;">{{Text['APPLICATION']['HEALTH_REPORT']}}</div>
                                            <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                <thead>
                                                    <tr style="vertical-align:middle; text-align:center;">
                                                        <td>{{Text['BENEFITREPORT']['T_NO']}}</td> <!-- ลำดับที่ -->
                                                        <td>{{Text['REPORT_FILTER']['ORGANIZATION']}}</td> <!-- หน่วยงาน -->
                                                        <td>{{Text['BENEFITREPORT']['T_EMPLOYEEID']}}</td> <!-- รหัสพนักงาน -->
                                                        <td>{{Text['BENEFITREPORT']['T_FULLNAME']}}</td> <!-- ชื่อ-นามสกุล -->
                                                        <td>{{Text['FAMILY']['SEX']}}</td> <!-- เพศ -->
                                                        <td>{{Text['BENEFITREPORT']['T_IDCARD']}}</td> <!-- เลขบัตรประจำตัวประชาชน -->
                                                        <td>{{Text['BENEFITREPORT']['T_BIRTHDATE']}}</td> <!-- ว/ด/ป เกิด -->
                                                        <td>{{Text['BENEFITREPORT']['T_INOUT']}}</td> <!-- เข้า-ออก-เปลี่ยนแผน -->
                                                        <td>{{Text['BENEFITREPORT']['T_SSTATUS']}}</td> <!-- สถานภาพ/Status -->
                                                        <td>{{Text['BENEFITREPORT']['T_EFFECTIVE_DATE']}}</td> <!-- วันที่มีผลบังคับ -->
                                                        <td>{{Text['BENEFITREPORT']['T_INSURANCE_PLAN']}}</td> <!-- แผนประกัน -->
                                                        <td>{{Text['BENEFITREPORT']['T_BANK_TRANSFER']}}</td> <!-- กรณีโอนเครมเข้าชื่อธนาคาร -->
                                                        <td>{{Text['BENEFITREPORT']['T_BANK_NO']}}</td> <!-- เลขที่ธนาคาร -->
                                                        <td>{{Text['COMMUNICATION']['EMAIL']}}</td> <!-- อีเมล์ -->
                                                        <td>{{Text['BE_CREMATION']['T_TEL']}}</td> <!-- เบอร์โทรศัพท์ -->
                                                        <td>{{Text['BENEFITREPORT']['POSTMESSAGE']}}</td> <!-- หมายเหตุ -->
                                                        <td>{{Text['DutyTrackingStatusReport']['COL_DocumentStatus']}}</td> <!-- สถานะเอกสาร -->
                                                        <td>{{Text['BE_HEALTHINSURANCEREGISTER']['RELETION']}}</td> <!-- ความสัมพันธ์ -->
                                                        <td>{{Text['BENEFITREPORT']['T_PERMISSION_TYPE']}}</td> <!-- ประเภทสิทธิ์ -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!--กรณีมีข้อมูล History-->
                                                    <tr ng-show="data.length > 0" ng-repeat="item in genDatas(filtered)">
                                                        <td>{{ (pagin.currentPage-1) * pagin.itemPerPage + ($index + 1)}}</td>
                                                        <td>{{item.DepartmentName }}</td>
                                                        <td>{{item.EmployeeID }}</td>
                                                        <td>{{item.EmployeeName }}</td>
                                                        <td>{{item.RequestNo }}</td>
                                                        <td>{{item.Sex }}</td>
                                                        <td>{{item.IDCard }}</td>
                                                        <td>{{item.BirthDate }}</td>
                                                        <td>{{item.Age }}</td>
                                                        <td>{{item.InOut }}</td>
                                                        <td>{{item.Status }}</td>
                                                        <td>{{item.EffectiveDate }}</td>
                                                        <td>{{item.InsurancePlan }}</td>
                                                        <td>{{item.BankName }}</td>
                                                        <td>{{item.BankNo }}</td>
                                                        <td>{{item.Email }}</td>
                                                        <td>{{item.Mobile }}</td>
                                                        <td>{{item.Remark }}</td>
                                                        <td>{{item.DocumentStatus }}</td>
                                                        <td>{{item.Relationship }}</td>
                                                        <td>{{item.PermissionType }}</td>
                                                    </tr>

                                                    <!--กรณีไม่มีข้อมูล History-->
                                                    <tr ng-show="data.length <= 0">
                                                        <td colspan="10" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row contentPagination" style="position:absolute;" id="paggingWidth" ng-show="data.length > 0">
                            <div class="col-md-12 -col_centered contentPagein">

                                <div style="outline:none;" class="page-prev " ng-if="pagin.currentPage > 1" ng-click="changePage(pagin.currentPage-1)"><a><span class="icon-arrow_line_left"></span></a></div>
                                <div style="outline:none;" class="page-prev " ng-if="pagin.currentPage <= 1"><a></a></div>

                                <div class="page-pagenum" style="    margin-top: -2px;">
                                    <ul>
                                        <li ng-repeat="page in getPages()" ng-click="changePage(page)" style="margin-left:10px;" class="{{pagin.currentPage == page ? 'page-current' : ''}}">{{page}}</li>
                                    </ul>
                                </div>

                                <div style="outline:none;" class="page-next" ng-if="pagin.currentPage  < pagin.numPage" ng-click="changePage(pagin.currentPage+1)"> <a><span class="icon-arrow_line_right"></span></a></div>
                                <div style="outline:none;" class="page-next " ng-if="pagin.currentPage  >= pagin.numPage"><a></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="errorExportPdf.ng-popup.html">
    <div class="modal-body alert1">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <div class="text-center font-18">
                    <svg xmlns="http://www.w3.org/2000/svg" width="57" height="57" viewBox="0 0 57 57">
                        <rect style="fill: #ed2f2f;opacity:0;" width="57" height="57" />
                        <path style="fill: #ed2f2f;" d="M25.75,2A23.75,23.75,0,1,0,49.5,25.75,23.75,23.75,0,0,0,25.75,2Zm0,42.75a19,19,0,1,1,19-19A19,19,0,0,1,25.75,44.75Z" transform="translate(2.75 2.75)" />
                        <path style="fill: #ed2f2f;" d="M22.569,9.7a2.375,2.375,0,0,0-3.373,0l-3.064,3.088L13.069,9.7A2.385,2.385,0,0,0,9.7,13.069l3.087,3.064L9.7,19.2a2.385,2.385,0,1,0,3.372,3.373l3.064-3.088L19.2,22.569A2.385,2.385,0,1,0,22.569,19.2l-3.088-3.064,3.088-3.064a2.375,2.375,0,0,0,0-3.372Z" transform="translate(12.367 12.367)" />
                    </svg>
                </div>
                <div class="text-center font-18">
                    Data not found
                    <!--{{Text['PAYROLLREPORTFORADMIN']['NotFound_PDF']}}-->
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer padding-t-none">
        <a class="m-btn-co btn-s-md" ng-click="closeModal()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ปิด&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>

<script type="text/ng-template" id="modalSearchCustomer.ng-popup.html">
    <div class="modal-header">
        <h3 class="modal-title custom font-b font-18">{{text_db['PAYROLLREPORTFORADMIN']['ListEmployee']}}</h3>
        <button type="button" class="close custom" ng-click="closeModal()">&times;</button>
    </div>


    <div class="modal-body alert2 scrollbar-2 popup-scroll">
        <div class="row">
            <div class="col-sm-8">
                <input type="text" class="w-50 input-box font-16" placeholder="{{text_db['PAYROLLREPORTFORADMIN']['SearchEmployee']}}"
                       ng-model="modelTextSearch.TextData"
                       ng-model-options="{ debounce: 1000 }"
                       ng-change="searchEmployee(modelTextSearch.TextData);">
            </div>
        </div>
        <div class="row">
            <div class="row margin-b10 show-pc lr-0">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center">{{text_db['ACCOUNT_SETTING']['EMPLOYEE_ID']}}</th>
                            <th class="text-center">{{text_db['BE_EDUCATIONALLOWANCE']['FULL_NAME']}}</th>
                            <th class="text-center">{{text_db['HRTMABSENCE']['DELEGATE_POSITION']}}</th>
                            <th class="text-center">{{text_db['HRTMABSENCE']['DELEGATE_ORGANIZE']}}</th>
                            <th class="text-center">{{text_db['PAYROLLREPORTFORADMIN']['EMPLOYEE']}}</th>
                        </tr>

                        <tr class="t-body" ng-if="list_emp.length > 0" ng-repeat="employeeData in list_emp">
                            <td class="font-16 v-top">
                                <p class="margin-none">{{employeeData.EmployeeID}}</p>
                            </td>
                            <td class="font-16 v-top">
                                <p class="margin-none">{{employeeData.Name}}</p>
                            </td>
                            <td class="font-16 text-center v-top">
                                {{employeeData.PositionName}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{employeeData.OrgUnitName}}
                            </td>
                            <td class="font-16 text-center v-top">
                                <button class="btn btn-primary btn-sm" ng-click="selectEmployee(employeeData);">{{text_db['PAYROLLREPORTFORADMIN']['SELECT']}}</button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="row margin-b10 show-tablet lr-0">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">

                        <tr class="t-header">
                            <th class="text-center" colspan="2">{{text_db['ACCOUNT_SETTING']['DETAIL']}}</th>
                        </tr>

                        <tr class="t-body" ng-repeat="employeeData in list_emp">
                            <td class="font-14 v-top">
                                <p class="margin-none"> {{employeeData.EmployeeID}} {{employeeData.EmployeeName}}</p>
                                <p class="margin-none"> {{employeeData.PositionName}}</p>
                                <p class="margin-none"> {{employeeData.OrgUnitName}} </p>
                            </td>
                            <td class="font-14 lr-0 v-top text-center">
                                <button class="btn btn-primary btn-sm" ng-click="selectEmployee(employeeData);">{{text_db['PAYROLLREPORTFORADMIN']['SELECT']}}</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>






<!--<div class="TravelExManPage delegation-page" ng-controller="HealthInsAllowanceReportForAdminContentController" ng-init="init();">-->

    <!--After-->
<!--<div class="row margin-b10">
    <div class="col-sm-10">
        <h1>{{Text['APPLICATION']['HEALTH_REPORT']}}</h1>
    </div>
    <div class="col-sm-2">
        <a class="m-btn-c2 btn-s-md text-center" style="margin-top:10px;" ng-click="back()">
            <span>
                {{Text['SYSTEM']['BACK']}}
            </span>
        </a>
    </div>
</div>
<div class="content-by-ayodia margin-b20 ">
    <div class="ayodia-header-content">
        <div class="ayodia-title w-100">
            {{Text['APPLICATION']['HEALTH_REPORT']}}
        </div>
    </div>
    <div class="ayodia-body-content">
        <div class="row">

            <div class="row" ng-hide="isHideMultiCompany">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>
            <div class="row" ng-hide="isHideMultiCompany">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text['SYSTEM']['COMPANY']}} :</div>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control w-100 margin-b20" ng-model="ddlCompany" ng-change="changeCompany(ddlCompany)">
                            <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                        </select>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-1">
                        <span class="span_name" style="line-height: 2 !important;">
                            {{ Text['SYSTEM']['YEAR'] + " : " }}
                        </span>
                    </div>

                    <div class="col-sm-2 detaildate_leave">
                        <select class="form-control w100px-desktop" style="width:100%;" ng-model="ddlYear">
                            <option value="{{item}}" ng-repeat="item in YearList">{{item}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="isHideMultiCompany">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <div class="col-sm-12 lr-0">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['PAYROLLREPORTFORADMIN']['SELECT']}} :</div>
                </div>
                <div class="col-xs-6 col-sm-2 margin-b10">
                    <div class="text-basic-md-center-input color-main margin-b20">
                        <div class="radio style2 radio-inline">
                            <input type="radio" name="group" id="radio_org" value="1" ng-model="rdoSelected" ng-change="changeRadioSelected()" required />
                            <label for="radio_org" class="black-color">{{Text['PAYROLLREPORTFORADMIN']['ORGANIZATION']}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-2 margin-b10">
                    <div class="text-basic-md-center-input color-main margin-b20">
                        <div class="radio style2 radio-inline">
                            <input type="radio" name="group" id="radio_emp" value="2" ng-model="rdoSelected" ng-change="changeRadioSelected()" required />
                            <label for="radio_emp" class="black-color">{{Text['PAYROLLREPORTFORADMIN']['BYEMPLOYEE']}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-1">
                    <span class="span_name" style="line-height: 2 !important;">
                        {{ Text['BE_HEALTHINSURANCEREGISTER']['STATUS'] + " : " }}
                    </span>
                </div>

                <div class="col-sm-2 detaildate_leave">
                    <select class="form-control w100px-desktop" style="width:100%;" ng-model="ddlYear">
                        <option value="{{item}}" ng-repeat="item in YearList">{{item}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="line-under margin-b20 "></div>
            </div>
        </div>-->
        <!--หน่วยงาน-->
        <!--<div class="row" ng-if="rdoSelected == '1'">
            <div class="col-sm-12 lr-0">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['PAYROLLREPORTFORADMIN']['ORGANIZATION']}} :</div>
                </div>
                <div class="col-sm-10">
                    <div class="text-basic-md-center-input color-main">
                        <div class="modal-body">
                            <div class="pa-modal-data" ng-repeat="OrgLV1 in TreeOrganization">
                                <div class="ag-expad-able-div-box" ng-click="OrgLV1.IsExpanding = !OrgLV1.IsExpanding">
                                    <i ng-show="OrgLV1.IsExpanding && OrgLV1.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                    <i ng-show="!OrgLV1.IsExpanding && OrgLV1.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                </div>
                                <md-checkbox ng-click="selectOrgLV1(OrgLV1.OrgChild,OrgLV1)"> </md-checkbox>
                                {{ OrgLV1.OrgUnitName}}
                                <div class="ag-expad-able-div-container" ng-class="{'hidden':OrgLV1.IsExpanding}">
                                    <div class="ag-expad-able-div" ng-repeat="OrgLV2 in OrgLV1.OrgChild">

                                        <div class="ag-expad-able-div-box" ng-click="OrgLV2.IsExpanding = !OrgLV2.IsExpanding">
                                            <i ng-show="OrgLV2.IsExpanding && OrgLV2.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                            <i ng-show="!OrgLV2.IsExpanding && OrgLV2.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                        </div>
                                        <md-checkbox ng-click="selectOrgLV2(OrgLV2.OrgChild,OrgLV2)" ng-checked="OrgLV2.Selected" ng-disabled="OrgLV2.GroupDisable"> </md-checkbox>
                                        {{ OrgLV2.OrgUnitName}}
                                        <div class="ag-expad-able-div-container" ng-class="{'hidden':OrgLV2.IsExpanding}">
                                            <div class="ag-expad-able-div" ng-repeat="OrgLV3 in OrgLV2.OrgChild">
                                                <div class="ag-expad-able-div-box" ng-click="OrgLV3.IsExpanding = !OrgLV3.IsExpanding">
                                                    <i ng-show="OrgLV3.IsExpanding && OrgLV3.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                                    <i ng-show="!OrgLV3.IsExpanding && OrgLV3.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                                </div>
                                                <md-checkbox ng-disabled="OrgLV3.Disable" ng-click="selectOrgLV3(OrgLV3.OrgChild,OrgLV3)" ng-checked="OrgLV3.Selected"> </md-checkbox>
                                                {{OrgLV3.OrgUnitName}}
                                                <div class="ag-expad-able-div-container" ng-class="{'hidden':OrgLV3.IsExpanding}">
                                                    <div class="ag-expad-able-div" ng-repeat="OrgLV4 in OrgLV3.OrgChild">
                                                        <div class="ag-expad-able-div-box" ng-click="OrgLV4.IsExpanding = !OrgLV4.IsExpanding">
                                                            <i ng-show="OrgLV4.IsExpanding && OrgLV4.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                                            <i ng-show="!OrgLV4.IsExpanding && OrgLV4.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                                        </div>
                                                        <md-checkbox ng-disabled="OrgLV4.Disable" ng-click="selectOrgLV4(OrgLV4.OrgChild,OrgLV4)" ng-checked="OrgLV4.Selected"> </md-checkbox>
                                                        {{OrgLV4.OrgUnitName}}
                                                        <div class="ag-expad-able-div-container" ng-class="{'hidden':OrgLV4.IsExpanding}">
                                                            <div class="ag-expad-able-div" ng-repeat="OrgLV5 in OrgLV4.OrgChild">
                                                                <div class="ag-expad-able-div-box" ng-click="OrgLV5.IsExpanding = !OrgLV5.IsExpanding">
                                                                    <i ng-show="OrgLV5.IsExpanding && OrgLV5.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                                                    <i ng-show="!OrgLV5.IsExpanding && OrgLV5.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                                                </div>
                                                                <md-checkbox ng-disabled="OrgLV5.Disable" ng-click="selectOrgLV5(OrgLV5.OrgChild,OrgLV5)" ng-checked="OrgLV5.Selected"> </md-checkbox>
                                                                {{OrgLV5.OrgUnitName}}

                                                                <div class="ag-expad-able-div-container" ng-class="{'hidden':OrgLV5.IsExpanding}">
                                                                    <div class="ag-expad-able-div" ng-repeat="OrgLV6 in OrgLV5.OrgChild">
                                                                        <div class="ag-expad-able-div-box" ng-click="OrgLV6.IsExpanding = !OrgLV6.IsExpanding">
                                                                            <i ng-show="OrgLV6.IsExpanding && OrgLV6.OrgChild.length > 0" class="fa fa-plus-square"></i>
                                                                            <i ng-show="!OrgLV6.IsExpanding && OrgLV6.OrgChild.length > 0" class="fa fa-minus-square"></i>
                                                                        </div>
                                                                        <md-checkbox ng-disabled="OrgLV6.Disable" ng-click="selectOrgLV6(OrgLV6.OrgChild,OrgLV6)" ng-checked="OrgLV6.Selected"> </md-checkbox>
                                                                        {{OrgLV6.OrgUnitName}}

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

                <!--<div class="row">
                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2">
                            <div class="text-basic-md-center-input color-main">{{Text['PAYROLLREPORTFORADMIN']['EMPLOYEE']}} :</div>
                        </div>
                        <div class="col-sm-4">
                            <md-autocomplete class="blocked-cross-btn" theme="bootstrap" style="font-size:16px;"
                                             ng-click="tryToSelect_cc(ap_pdr_text.cc,-1)"
                                             ng-blur="checkText_cc(ap_pdr_text.cc,-1)"
                                             md-no-cache="true"
                                             md-search-text="ap_pdr_text.cc"
                                             md-selected-item-change="selectedItemListEmpChange(item,-1)"
                                             md-items="item in querySearchListEmp(ap_pdr_text.cc,-1)"
                                             md-item-text="item.EmployeeID1+' : '+item.EmployeeName1"
                                             md-min-length="0"
                                             placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">
                                <md-item-template>
                                    <span md-highlight-text="ap_pdr_text.cc" md-highlight-flags="g">{{item.EmployeeID1}} : {{item.EmployeeName1}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No states matching "{{ap_pdr_text.cc}}" was found.
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                    </div>
                </div>-->
            <!--</div>
        </div>-->

        <!-- ระบุพนักงานรายบุคคล -->
        <!--<div class="row" ng-if="rdoSelected == '2'">
            <div class="col-sm-12 lr-0">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['PAYROLLREPORTFORADMIN']['EMPLOYEE']}} :</div>
                </div>
                <div class="col-sm-4">
                    <div class="row">-->
                        <!--<div class="col-sm-12">
                            <ui-select ng-model="model.SelectEmployee" ng-change="getSelectedEmployee(model.SelectEmployee)" theme="selectize" class="margin-b20 custom-ui-select">
                                <ui-select-match placeholder="เลือกพนักงาน">{{$select.selected.EmployeeID1 + ':' + $select.selected.EmployeeName1}}</ui-select-match>
                                <ui-select-choices repeat="data in ListEmp | propsFilter: {EmployeeName1: $select.search, EmployeeID1: $select.search}">
                                    <span ng-bind-html="data.EmployeeID1 + ' : ' + data.EmployeeName1 | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>-->
                        <!--ng-click="getSelectedEmployee(Emp.EmployeeID2,Emp.EmployeeName2,Emp.PositionID2,Emp.PositionName2)"-->
                        <!--<button class="btn btn-primary btn-sm" ng-click="openModalSearchCustomer();">{{Text['PAYROLLREPORTFORADMIN']['SELECTEMPLOYEE']}}</button>
                        <button class="btn btn-danger btn-sm" ng-click="clearDataCustomer();">{{Text['PAYROLLREPORTFORADMIN']['Cancel']}}</button>
                    </div>

                    <div class="row" ng-if="MsgValidate!=''">
                        <div class="col-sm-12"><span style="font-weight: 600; color:red;">{{MsgValidate}}</span></div>
                    </div>

                    <div class="row" ng-show="SelectedEmployeeName">
                        <div class="col-sm-3">
                            <div class="text-basic-md-center-input color-main">{{Text['BE_EDUCATIONALLOWANCE']['FULL_NAME']}}</div>
                        </div>
                        <div class="col-sm-9">
                            <div class="text-basic-md-center-input color-main">{{SelectedEmployeeID}}&nbsp;&nbsp;{{SelectedEmployeeName}}</div>
                        </div>
                    </div>
                    <div class="row" ng-show="SelectedPositionName">
                        <div class="col-sm-3">
                            <div class="text-basic-md-center-input color-main">{{Text['PAYROLLREPORTFORADMIN']['POSITION']}}</div>
                        </div>
                        <div class="col-sm-9">
                            <div class="text-basic-md-center-input color-main">{{SelectedPositionID}}&nbsp;&nbsp;{{SelectedPositionName}}</div>
                        </div>
                    </div>
                    <div class="row" ng-show="SelectedOrgUnitName">
                        <div class="col-sm-3">
                            <div class="text-basic-md-center-input color-main">{{Text['PAYROLLREPORTFORADMIN']['ORGANIZE']}}</div>
                        </div>
                        <div class="col-sm-9">
                            <div class="text-basic-md-center-input color-main">{{SelectedOrgUnitID}}&nbsp;&nbsp;{{SelectedOrgUnitName}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row margin-b20">
            <div class="col-sm-2">
                <div class="text-basic-md-center-input color-main">{{Text['OTLOGREPORT']['From']}}</div>
            </div>
            <div class="col-sm-2">
                <div class="datepicker-height-set" style="position:relative;height:40px;">
                    <datepicker callback-on-change="setBeginDate(newDate)" date-format="d/M/yyyy" date-set="{{model.StartDate}}">
                        <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                    </datepicker>
                    <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="text-basic-md-center-input color-main text-center">{{Text['OTLOGREPORT']['To']}}</div>
            </div>
            <div class="col-sm-2">
                <div class="datepicker-height-set" style="position:relative;height:40px;">
                    <datepicker callback-on-change="setEndDate(newDate)" date-min-limit-for-range="{{model.StartDate}}" date-format="d/M/yyyy" date-set="{{model.EndDate}}">
                        <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                    </datepicker>
                    <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="line-under margin-b20 "></div>
            </div>
        </div>-->

        <!-- ออกรายงาน -->
        <!--<div class="row margin-b20">
            <div class="col-sm-12">
                <div class="line-under margin-b20 "></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <a class="m-btn-c2 btn-s-md text-center" ng-click="onViewReport()">
                    <span>
                        <i class="fa fa-eye">&nbsp;&nbsp;&nbsp;</i>{{Text['PAYROLLREPORTFORADMIN']['VIEWREPORT']}}
                    </span>
                </a>
            </div>
            <div class="col-sm-2">
                <a class="m-btn-c2 btn-s-md text-center" ng-click="onViewReport()">
                    <span>
                        <i class="fa fa-repeat">&nbsp;&nbsp;&nbsp;</i>{{Text['PAYROLLREPORTFORADMIN']['VIEWREPORT']}}
                    </span>
                </a>
            </div>
            <div class="col-sm-2">
                <a class="m-btn-c2 btn-s-md text-center" ng-click="onViewReport()">
                    <span>
                        <i class="fa fa-file-excel-o">&nbsp;&nbsp;&nbsp;</i>{{Text['PAYROLLREPORTFORADMIN']['VIEWREPORT']}}
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
</div>-->



