﻿<div class="row user-role" ng-controller="UserRoleSettingController" ng-init="init()">

    <div class="content_notscroll">
        <div class="contentHead">
            <div class="bar-content">
                <div class="row bar_title">
                    <div class="col-md-12">
                        <div class="bar_left visible-md-block visible-lg-block">{{Text['APPLICATION'].USER_ROLE_SETTNG}}</div>

                        <div class="bar_left clickable hidden-md hidden-lg">
                            <span class="glyphicon glyphicon-chevron-left back-icon"></span>
                            <span class="back-text">{{Text['SYSTEM'].SEARCH}}</span>
                            <div class="clearfix"></div>
                        </div>

                        <div class="bar_right forsearch"><span class="icon-magnify_glass"></span></div>
                    </div>
                </div>
                <div class="row bar_search">
                    <div class="col-md-8 -col_centered">
                        <div class="input-group search_block">
                            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" ng-model="formData.searchKeyword">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="searchInBox()">{{Text['SYSTEM'].SEARCH}}</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content bar -->
    </div>

    <!-- body -->
    <div class="row contentBody forheight">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll">
            <div class="-pad10"></div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row headtable_select -padtb15">
                        <div class="col-md-12 -col_centered">
                            <div class="item-btn">
                                <div class="itemin_btn btn-new" ng-model="btnCreateNew" ng-click="CreateNew()">
                                    <span class="icon-doc_plus"></span>{{Text['ACCOUNT_SETTING'].CREATE}}
                                </div>
                            </div><!-- end ngIf: employeeData.EmployeeID == employeeData.RequesterEmployeeID -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row contentBody forheight">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll">
            <div class="body_content" ng-if="documents.length > 0">
                <!--<div class="row itemlist_block ng-scope font-table" ng-repeat="userrole in documents" ng-style="$index == 0 &amp;&amp; !CheckRequestType() ? { 'border-top':'solid 1px #cbcbcb', 'border-top-left-radius':'4px', 'border-top-right-radius':'4px', 'padding':'0px' } : ''" style="border-top-width: 1px; border-top-style: solid; border-top-color: rgb(203, 203, 203); border-top-left-radius: 4px; border-top-right-radius: 4px; padding: 0px;background:white;">
                    
                </div>-->
                <table class="table table-bordered travelEx_tablesec02 not-fix-width" style=" margin-bottom:0px;background:#f7f7f7;">
                    <thead class="table-header" style="background:white;">
                        <tr>
                            <td style="color:rgb(127, 127, 127)">{{Text['EXPENSE'].EMPLOYEEID}}</td>
                            <td style="color:rgb(127, 127, 127)">{{Text['EXPENSE'].FULLNAME}}</td>
                            <td style="color:rgb(127, 127, 127)">{{Text['SYSTEM'].COMPANY}}</td>
                            <td style="color:rgb(127, 127, 127)">{{Text['APPLICATION'].USER_ROLE}}</td>
                            <td ng-hide="data.Readonly"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in documents">
                            <td class="-settxt-center" style="vertical-align:middle;">
                                <div class="input-fixed-size-3">
                                    <span class="span_name">{{row.EmployeeID}}</span>
                                </div>
                            </td>
                            <td style="vertical-align: middle">
                                <div class="input-fixed-size-3 text-left">
                                    <span class="span_name" style="text-align:left">{{row.Name}}</span>
                                </div>
                            </td>
                            <td style="vertical-align: middle;">
                                <div class="input-fixed-size-4">
                                    <span class="span_name" style="text-align:left">{{row.FullNameEN}}</span>
                                </div>
                            </td>
                            <td style="vertical-align:middle;">
                                <div class="input-fixed-size-5 text-left">
                                    <span class="span_name" style="text-align:left">{{row.Description}}</span>
                                </div>
                            </td>
                            <td style="min-width: 45px;text-align: end; vertical-align:top;" class="-settxt-center">
                                <a ng-click="Edit(row.EmployeeID,row.CompanyCode)" class="btn no-radius ico_lightaction action-edit" style="margin-right: 2px;"><span class="icon-pencil_line"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- itemlist -->
            </div>

            <!-- No data -->
            <div ng-if="documents.length <= 0" class="body_content" style="border-top-left-radius: 4px;border-top-right-radius: 4px;padding:5px;">
                <div class="col-md-12">
                    <div class="itemlist">
                        <div class=" item-name">
                            <p class="itemin_nametask" style="line-height:3;"> {{Text['SYSTEM'].NO_DATA}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

</div>
<style>
    tr > td {
        padding: 5px 10px;
    }

    radio {
        display: inline-block;
    }

    .btn {
        text-align: left;
    }

    .waring-validate {
        border-color: #a94442;
    }

    input[type=search] {
        -webkit-appearance: textfield;
        box-sizing: border-box;
        width: 100%;
        resize: none;
    }


    .user-role .table-header td {
        text-align: center;
    }

    .user-role table,
    .user-role table td {
        border: none !important;
    }

    .user-role .input-fixed-size-1 span.btn.btn-default.form-control.ui-select-toggle, .user-role .input-fixed-size-1 input.form-control.ui-select-search {
        width: 250px !important;
    }

    .user-role .input-fixed-size-2 input {
        width: 150px !important;
    }

    .user-role .input-fixed-size-3 span.btn.btn-default.form-control.ui-select-toggle, .user-role .input-fixed-size-3 input.form-control.ui-select-search {
        width: 400px !important;
    }

    .user-role .input-fixed-size-4 span.btn.btn-default.form-control.ui-select-toggle, .user-role .input-fixed-size-4 input.form-control.ui-select-search {
        width: 400px !important;
    }

    .user-role .input-fixed-size-5 span.btn.btn-default.form-control.ui-select-toggle, .user-role .input-fixed-size-5 input.form-control.ui-select-search {
        width: 400px !important;
    }

    .user-role .dropdown-menu {
        position: relative !important;
    }

    .user-role table .span_name, .user-role table tr td {
        white-space: nowrap;
    }

    .user-role .-xs_sm-only .span_name {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    }

    .user-role .-settextto-top {
        vertical-align: top !important;
    }
</style>