﻿<div ng-controller="UserRoleSettingEditorController" class="padding-breadcrumb" ng-init="init()">
    <!-- error message -->
    <div ng-if="HasError">
        <div class="alert alert-danger">
            {{ErrorText}}
        </div>
    </div>
    <!-- action --><!--<pre>{{oUserRole}}</pre>-->
    <div class="row contentBody forheight leaveBlock_detail">
        <div class="row itemlist_block forscroll" style="padding-top:0;">
            <div class="col-md-12 leavedetail">
                <div class="bar-content -spacetop">
                    <div class="row bar_title">
                        <div class="col-md-12">
                            <div class="bar_left bar_left_single_line">
                                <div class="bar_left-title">
                                    {{Text['EXPENSE'].ADD + '/' + Text['EXPENSE'].EDIT + ' ' + Text['APPLICATION'].USER_ROLE}}
                                    <i class="fa fa-spinner fa-pulse fa-fw" ng-hide="ready"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body_content" style="background:white;" ng-show="ready">
                    <div class="leavetableBlock leavetableBlock_create travelExBlock">
                        <div class="row itemlist_block">
                            <div class="-col_centered font-editor">
                                <div class="form-group row">
                                    <label class="col-sm-4 form-control-label -settxt-right">{{Text['SYSTEM'].COMPANY}}</label>
                                    <div class="col-sm-6 detaildate_leave" ng-if="itemKey == 'null'">
                                        <div style="position:relative">
                                            <md-autocomplete class="blocked-cross-btn" style="width:410px"
                                                             ng-click="tryToSelectCompany(oUserRole)"
                                                             ng-blur="checkTextCompany(oUserRole.searchCompanyText)"
                                                             theme="bootstrap"
                                                             md-no-cache="true"
                                                             md-search-text="oUserRole.searchCompanyText"
                                                             md-selected-item-change="selectedItemCompanyChange(item)"
                                                             md-items="item in querySearchCompany(oUserRole.searchCompanyText)"
                                                             md-item-text="item.Name + ' : ' + item.FullNameEN"
                                                             md-min-length="0"
                                                             placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">
                                                <md-item-template>
                                                    <span md-highlight-text="oUserRole.searchCompanyText" md-highlight-flags="^i">{{item.Name + ' : ' + item.FullNameEN}}</span>
                                                </md-item-template>
                                                <md-not-found>
                                                    No states matching "{{oUserRole.searchCompanyText}}" was found.
                                                    <a ng-click="newData(oUserRole.searchCompanyText)">Create a new one!</a>
                                                </md-not-found>
                                            </md-autocomplete>
                                            <i class="caret pull-right" style=" position: absolute; right: 100px; top: 20px; color: black;"></i>
                                        </div>
                                    </div>
                                    <label class="col-sm-4 form-control-label -settxt-left" ng-if="itemKey != 'null'" style="color:#787878">{{oUserRole.searchCompanyText}}</label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 form-control-label -settxt-right">{{Text['APPLICATION'].PERSONAL_DATA_SETTING}}</label>
                                    <div class="col-sm-6 detaildate_leave" ng-if="itemKey == 'null'">
                                        <div style="position:relative">
                                            <div ng-if="!employeeDataList" class="filter-blocker" style="width: 100%; height: 100%; z-index: 1; background: rgba(255, 0, 0, 0); position: absolute; "></div>
                                            <md-autocomplete class="blocked-cross-btn" style="width:410px" ng-disabled="!employeeDataList"
                                                             ng-click="tryToSelectEmployee(oUserRole)"
                                                             ng-blur="checkTextEmployee(oUserRole.searchEmployeeText)"
                                                             theme="bootstrap"
                                                             md-no-cache="true"
                                                             md-search-text="oUserRole.searchEmployeeText"
                                                             md-selected-item-change="selectedItemEmployeeChange(item)"
                                                             md-items="item in querySearchEmployee(oUserRole.searchEmployeeText)"
                                                             md-item-text="item.EmployeeID + ' : ' + item.Name"
                                                             md-min-length="0"
                                                             placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">
                                                <md-item-template>
                                                    <span md-highlight-text="oUserRole.searchEmployeeText" md-highlight-flags="^i">{{item.EmployeeID + ' : ' + item.Name}}</span>
                                                </md-item-template>
                                                <md-not-found>
                                                    No states matching "{{oUserRole.searchEmployeeText}}" was found.
                                                    <a ng-click="newData(oUserRole.searchEmployeeText)">Create a new one!</a>
                                                </md-not-found>
                                            </md-autocomplete>
                                            <i class="caret pull-right" style=" position: absolute; right: 100px; top: 20px; color: black;"></i>
                                        </div>
                                    </div>
                                    <label class="col-sm-4 form-control-label -settxt-left" ng-if="itemKey != 'null'" style="color:#787878">{{oUserRole.searchEmployeeText}}</label>
                                </div>
                                <div class="user-role -desk_md-only" style="padding:10px;background:#f7f7f7; max-width: 986px; margin: auto;">
                                    <div class="row itemlist" style="overflow-x: scroll; margin-bottom:0px; ">
                                        <table class="table table-bordered travelEx_tablesec02 not-fix-width" style=" margin-bottom:0px;">
                                            <thead class="table-header text-center">
                                                <tr>
                                                    <td style="color:rgb(127, 127, 127);width: 410px;">Role</td>
                                                    <td style="color:rgb(127, 127, 127);width: 410px;">Response Type</td>
                                                    <td style="color:rgb(127, 127, 127);width: 410px;">Response Code</td>
                                                    <td style="color:rgb(127, 127, 127);width: 410px;">Response Company</td>
                                                    <td></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="urr in oUserRole.UserRoleResponse" style="border: none" class="vertical-top">
                                                    <td class="input-fixed-size-1">
                                                        <div style="position:relative">
                                                            <md-autocomplete class="blocked-cross-btn" style="width: 410px;"
                                                                             ng-click="tryToSelectRole(urr)"
                                                                             ng-blur="checkTextRole(urr.searchRoleText,$index)"
                                                                             theme="bootstrap"
                                                                             md-no-cache="true"
                                                                             md-search-text="urr.searchRoleText"
                                                                             md-selected-item-change="selectedItemRoleChange(item,$index)"
                                                                             md-items="item in querySearchRole(urr.searchRoleText,$index)"
                                                                             md-item-text="item.Description"
                                                                             md-min-length="0"
                                                                             placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">
                                                                <md-item-template>
                                                                    <span md-highlight-text="urr.searchRoleText" md-highlight-flags="^i">{{item.Description}}</span>
                                                                </md-item-template>
                                                                <md-not-found>
                                                                    No states matching "{{urr.searchRoleText}}" was found.
                                                                    <a ng-click="newData(urr.searchRoleText)">Create a new one!</a>
                                                                </md-not-found>
                                                            </md-autocomplete>
                                                            <i class="caret pull-right" style=" position: absolute; right: 15px; top: 20px;"></i>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div style="position:relative">
                                                            <!--<div class="filter-blocker" style="width: 100%; height: 100%; z-index: 1; background: rgba(255, 0, 0, 0); position: absolute; "></div>-->
                                                            <md-autocomplete class="blocked-cross-btn" style="width:410px"
                                                                             theme="bootstrap"
                                                                             ng-click="tryToSelectResponseType(urr,$index)"
                                                                             ng-blur="checkTextResponseType(urr.searchResponseTypeText,$index)"
                                                                             md-no-cache="true"
                                                                             md-search-text="urr.searchResponseTypeText"
                                                                             md-selected-item-change="selectedItemResponseTypeChange(item,$index)"
                                                                             md-items="item in querySearchResponseType(urr.searchResponseTypeText,0)"
                                                                             md-item-text="item.Description"
                                                                             md-min-length="0"
                                                                             placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">
                                                                <md-item-template>
                                                                    <span md-highlight-text="urr.searchResponseTypeText" md-highlight-flags="^i">{{item.Description}}</span>
                                                                </md-item-template>
                                                                <md-not-found>
                                                                    No states matching "{{urr.searchResponseTypeText}}" was found.
                                                                    <a ng-click="newData(urr.searchResponseTypeText)">Create a new one!</a>
                                                                </md-not-found>
                                                            </md-autocomplete>
                                                            <i class="caret pull-right" style=" position: absolute; right: 15px; top: 20px;color:black;"></i>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input ng-model="urr.ResponseCode" style="width:410px" type="text" class="form-control -settxt-right" />
                                                    </td>
                                                    <td>
                                                        <div style="position:relative">
                                                            <md-autocomplete class="blocked-cross-btn" style="width:410px"
                                                                             ng-click="tryToSelectResponseCompany(urr)"
                                                                             ng-blur="checkTextResponseCompany(urr.searchResponseCompanyText,$index)"
                                                                             theme="bootstrap"
                                                                             md-no-cache="true"
                                                                             md-search-text="urr.searchResponseCompanyText"
                                                                             md-selected-item-change="selectedItemResponseCompanyChange(item,$index)"
                                                                             md-items="item in querySearchResponseCompany(urr.searchResponseCompanyText,$index)"
                                                                             md-item-text="item.Name + ' : ' + item.FullNameEN"
                                                                             md-min-length="0"
                                                                             placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">
                                                                <md-item-template>
                                                                    <span md-highlight-text="urr.searchResponseCompanyText" md-highlight-flags="^i">{{item.Name + ' : ' + item.FullNameEN}}</span>
                                                                </md-item-template>
                                                                <md-not-found>
                                                                    No states matching "{{urr.searchResponseCompanyText}}" was found.
                                                                    <a ng-click="newData(urr.searchResponseCompanyText)">Create a new one!</a>
                                                                </md-not-found>
                                                            </md-autocomplete>
                                                            <i class="caret pull-right" style=" position: absolute; right: 15px; top: 20px; color: black;"></i>
                                                        </div>
                                                    </td>
                                                    <td ng-hide="(data.Readonly && !data.IsEditTraller)">
                                                        <a ng-click="removeRow($index)" class="btn no-radius ico_lightaction action-del"><span class="icon-x_large"></span></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row" style="padding-left:27px;">
                                    <div class=" col-md-12">
                                        <button type="submit" class="btn btn_submit plus-button" ng-click="addRow($event)"><span class="icon-plus_large"></span>{{Text['SYSTEM'].ADDROW}}</button>
                                    </div>
                                </div>
                                <div class="commonbtn -settxt-center">
                                    <div class="itemlist">
                                        <div class="row">
                                            <div class="col-sm-12 -settxt-center">
                                                <button type="submit" class="btn btn-default -txt-white" ng-click="goBack()">{{Text['SYSTEM'].CANCEL}}</button>
                                                <button type="submit" class="btn btn-default btn_submit -bg-blue -txt-white" ng-click="SaveData($event)">{{Text['SYSTEM'].SAVE}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="-pad10"></div>
                            </div>
                        </div>
                    </div>
                    <!-- itemlist -->
                </div>
            </div>
        </div>
        <!-- bar_bottom -->
    </div>
</div>
<style>
    .user-role table,
    .user-role table td {
        border: none !important;
    }
</style>
