﻿<form name="OrgForm">
    <div class="-col_centered font-editor">
        <div class="form-group row" ng-show="{{ ShowEmployeeID }}">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[PATextcategory].EmployeeID }}</label>
            <div class="col-sm-6 detaildate_leave">
                <input type="text" disabled="disabled" class="btn form-control" value="{{ OrgData.EmployeeID }}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].FullName }} <span class="ico_inputordie" ng-hide="OrgData.Name.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <input type="text" disabled="disabled" class="btn form-control" value="{{ OrgData.Name }}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].Area }}
                <span class="ico_inputordie" ng-hide="OrgData.Area.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <ui-select ng-model="OrgData.Area" on-select="onSelectedArea($select.selected.ObjectID);" ng-change="OrgData.Area = $select.selected.ObjectID"  theme="bootstrap">
                    <ui-select-match placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">{{$select.selected.ObjectID + ' : ' + $select.selected.AlternativeShortName}}</ui-select-match>
                    <ui-select-choices repeat="x.ObjectID as x in AreaSelector | filter: $select.search">
                        <div ng-bind-html="x.ObjectID + ' : ' + x.AlternativeShortName | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].SubArea }}
                <span class="ico_inputordie" ng-hide="OrgData.SubArea.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <ui-select ng-model="OrgData.SubArea" ng-change="OrgData.SubArea = $select.selected.ObjectID" theme="bootstrap">
                    <ui-select-match placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">{{$select.selected.ObjectID + ' : ' + $select.selected.AlternativeShortName}}</ui-select-match>
                    <ui-select-choices repeat="x.ObjectID as x in SubAreaSelector | filter: $select.search">
                        <div ng-bind-html="x.ObjectID + ' : ' + x.AlternativeShortName | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].OrganizationName }}
                <span class="ico_inputordie" ng-hide="OrgData.OrgUnit.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <ui-select ng-model="OrgData.OrgUnit" ng-change="OrgData.OrgUnit = $select.selected.ObjectID" on-select="getPosition($select.selected.ObjectID);" theme="bootstrap">
                    <ui-select-match placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">{{$select.selected.ObjectID + ' : ' + $select.selected.AlternativeShortName}}</ui-select-match>
                    <ui-select-choices repeat="x.ObjectID as x in OrgUnitSelector | filter: $select.search">
                        <div ng-bind-html="x.ObjectID + ' : ' + x.AlternativeShortName | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].Position }}
                <span class="ico_inputordie" ng-hide="OrgData.Position.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <ui-select ng-model="OrgData.Position" ng-change="OrgData.Position = $select.selected.ObjectID" on-select="getEmpSubGroup($select.selected.ObjectID);" theme="bootstrap">
                    <ui-select-match placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">{{$select.selected.ObjectID + ' : ' + $select.selected.AlternativeShortName}}</ui-select-match>
                    <ui-select-choices repeat="x.ObjectID as x in PositionSelector | filter: $select.search">
                        <div ng-bind-html="x.ObjectID + ' : ' + x.AlternativeShortName | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <label class="col-sm-offset-4 col-sm-6" style="color:red" ng-show="OrgData.OrgUnit.trim().length > 0 && PositionSelector.length <= 0">
                {{ Text[PATextcategory].Position_Busy }}
            </label>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].CostCenter }}
                <span class="ico_inputordie" ng-hide="OrgData.CostCenter.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <ui-select ng-model="OrgData.CostCenter" ng-change="OrgData.CostCenter = $select.selected.ObjectID" theme="bootstrap">
                    <ui-select-match placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">{{$select.selected.ObjectID + ' : ' + $select.selected.AlternativeShortName}}</ui-select-match>
                    <ui-select-choices repeat="x.ObjectID as x in CostCenterSelector | filter: $select.search">
                        <div ng-bind-html="x.ObjectID + ' : ' + x.AlternativeShortName | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <label class="col-sm-offset-4 col-sm-6" style="color:red" ng-show="OrgData.OrgUnit.trim().length > 0 && CostCenterSelector.length <= 0">
                {{ Text[PATextcategory].Costcenter_No_Relation }}
            </label>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].EmpGroup }}
                <span class="ico_inputordie" ng-hide="OrgData.EmpGroup.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <select class="form-control" ng-model="OrgData.EmpGroup" name="EmpGroup">
                    <option ng-repeat="x in EmpGroup" value="{{ x.ObjectID }}">{{ x.ObjectID + " : " + x.AlternativeShortName }}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].EmpSubGroup }}
                <span class="ico_inputordie" ng-hide="OrgData.EmpSubGroup.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <select class="form-control" ng-model="OrgData.EmpSubGroup" name="EmpSubGroup">
                    <option ng-repeat="x in EmpSubGroup" value="{{ x.ObjectID }}">{{ x.AlternativeShortName }}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[PATextcategory].BeginDate }}</label>
            <div class="col-sm-6 detaildate_leave">
                <datepicker callback-on-change="setSelectedBeginDate(newDate)" date-max-limit="{{ Date(); }}" date-format="d/M/yyyy" date-set="{{ OrgData.BeginDate }}">
                    <input class="form-control clickable datepicker" ng-disabled="{{ !CanEditPeriod }}" type="text" placeholder="" readonly />
                </datepicker>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[PATextcategory].EndDate }}</label>
            <div class="col-sm-6 detaildate_leave">
                <datepicker callback-on-change="setSelectedEndDate(newDate)" date-min-limit="{{ OrgData.BeginDate }}" date-format="d/M/yyyy" date-set="{{ OrgData.EndDate }}" date-max-limit="9999-12-31">
                    <input class="form-control clickable datepicker" ng-disabled="{{ !CanEditPeriod }}" type="text" placeholder="" readonly />
                </datepicker>
            </div>
            <div class="col-sm-2 detaildate_leave">
                <div class="checkbox" style="margin-top: 10px;">
                    <input id="checkbox0" class="styled" type="checkbox" ng-checked="NoSpecify.val == true" ng-model="NoSpecify.val" ng-change="onCheckBoxChange();" />
                    <label for="checkbox0">{{ Text[PATextcategory].NoSpecify }}</label>
                </div>
            </div>
        </div>
        <div class="-pad10"></div>
    </div>
</form>
<style>
    .btn {
        text-align: left;
    }

    .waring-validate {
        border-color: #a94442;
    }

    input[type=search] {
        -webkit-appearance: textfield;
        box-sizing: border-box;
        width: 100%;
        resize: none;
    }

    input.datepicker[readonly][disabled] {
        background-color: #eee;
        opacity: .65;
    }
</style>