﻿<form name="PersonForm">
    <div class="-col_centered font-editor">
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].EmployeeID }}
                <span class="ico_inputordie" ng-hide="PersonData.EmployeeID.trim().length >= 8"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <input type="text" ng-disabled="!IsNewEmployeeID" maxlength="10" class="btn form-control" ng-model="PersonData.EmployeeID" value="{{ PersonData.EmployeeID }}" />

            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].Prefix }}
                <span class="ico_inputordie" ng-hide="PersonData.TitleID.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <select name="Prefix" class="form-control" ng-model="PersonData.TitleID" required>
                    <option ng-repeat="x in Prefix" ng-selected="{{selectedPrefix == x}}" value="{{ x.ObjectID }}">{{ x.AlternativeShortName }}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].FirstName }}
                <span class="ico_inputordie" ng-hide="PersonData.FirstName.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <input type="text" name="FirstName" class="btn form-control text-left" value="{{ PersonData.FirstName }}" ng-model="PersonData.FirstName" ng-trim="false" required />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].LastName }}
                <span class="ico_inputordie" ng-hide="PersonData.LastName.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <input name="LastName" type="text" class="btn form-control" value="{{ PersonData.LastName }}" ng-model="PersonData.LastName" ng-trim="false" required />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].FullNameEN }}
                <span class="ico_inputordie" ng-hide="PersonData.FullNameEn.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <input type="text" name="FullNameEN" class="btn form-control" value="{{ PersonData.FullNameEn }}" ng-model="PersonData.FullNameEn" placeholder="Mr.FirstName LastName" required />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].NickName }}
                <span class="ico_inputordie" ng-hide="PersonData.NickName.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <input type="text" name="NickName" class="btn form-control" value="{{ PersonData.NickName }}" ng-model="PersonData.NickName" required />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].DOB }}
                <span class="ico_inputordie" ng-hide="PersonData.DOB.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <div class="datepicker-height-set" style="position:relative; height:40px;">
                    <datepicker callback-on-change="setSelectedDOB(newDate)" date-format="d/M/yyyy" date-set="{{ PersonData.DOB }}">
                        <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                    </datepicker>
                    <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].Gender }}
            </label>
            <div class="col-sm-6 detaildate_leave">
                <div class="radio radio-inline" ng-repeat="x in Gender">
                    <input type="radio" name="radio" id="radio_{{x.ObjectID}}" value="{{ x.ObjectID }}" ng-model="PersonData.Gender" required />
                    <label class="black-color" for="radio_{{x.ObjectID}}">{{ x.AlternativeShortName }}</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].MaritalStatus }}
                <span class="ico_inputordie" ng-hide="PersonData.MaritalStatus.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <select class="form-control" name="MaritalStatus" ng-model="PersonData.MaritalStatus">
                    <option ng-repeat="x in MaritalStatus" value="{{ x.ObjectID }}">{{ x.AlternativeShortName }}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].Nationality }}
                <span class="ico_inputordie" ng-hide="PersonData.Nationality.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <select class="form-control" name="Nationality" ng-model="PersonData.Nationality">
                    <option ng-repeat="x in Nationality" value="{{ x.ObjectID }}">{{ x.AlternativeShortName }}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].Language }}
                <span class="ico_inputordie" ng-hide="PersonData.Language.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <select class="form-control" name="Language" ng-model="PersonData.Language">
                    <option ng-repeat="x in Language" value="{{ x.ObjectID }}">{{ x.AlternativeShortName }}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].Religion }}
                <span class="ico_inputordie" ng-hide="PersonData.Religion.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <select class="form-control" name="Religion" ng-model="PersonData.Religion">
                    <option ng-repeat="x in Religion" value="{{ x.ObjectID }}">{{ x.AlternativeShortName }}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[PATextcategory].BeginDate }}</label>
            <div class="col-sm-6 detaildate_leave">
                <div class="datepicker-height-set" style="position:relative; height:40px;">
                    <datepicker callback-on-change="setSelectedBeginDate(newDate)" date-max-limit="{{ Date(); }}" date-format="d/M/yyyy" date-set="{{ PersonData.BeginDate }}">
                        <input class="form-control clickable datepicker" type="text" placeholder="" ng-disabled="{{ !CanEditPeriod }}" readonly />
                    </datepicker>
                    <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[PATextcategory].EndDate }}</label>
            <div class="col-sm-6 detaildate_leave">
                <div class="datepicker-height-set" style="position:relative; height:40px;">
                    <datepicker callback-on-change="setSelectedEndDate(newDate)" date-min-limit="{{ PersonData.BeginDate }}" date-format="d/M/yyyy" date-set="{{ PersonData.EndDate }}">
                        <input class="form-control clickable datepicker" type="text" placeholder="" ng-disabled="{{ !CanEditPeriod }}" readonly />
                    </datepicker>
                    <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                </div>
            </div>
            <div class="col-sm-2 detaildate_leave" ng-show="{{ CanEditPeriod }}">
                <div class="checkbox" style="margin-top: 10px;">
                    <input id="checkbox0" class="styled" type="checkbox" ng-checked="NoSpecify.val == true" ng-model="NoSpecify.val" ng-change="onCheckBoxChange();" />
                    <label for="checkbox0">{{ Text[PATextcategory].NoSpecify }}</label>
                </div>
            </div>
        </div>
        <div class="-pad10"></div>
    </div>
</form>

<style>
    radio {
        display: inline-block;
    }

    .btn {
        text-align: left;
    }

    .waring-validate {
        border-color: #a94442;
    }

    input.datepicker[readonly][disabled] {
        background-color: #eee;
        opacity: .65;
    }
</style>