﻿<div class="TravelExManPage delegation-page box-content" ng-controller="BenefitReportController" ng-init="init();">

    <div class="row">
        <div class="col-sm-10">
            <h1>{{Text['BENEFITREPORT']['REPORTTITLE']}}</h1>
        </div>
        <div class="col-sm-2">
            <a class="m-btn-c2 btn-s-md text-center" style="margin-top:10px;" ng-click="back()">
                <span>
                    {{Text['SYSTEM']['BACK']}}
                </span>
            </a>
        </div>
    </div>

    <div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{Text['BENEFITREPORT']['REPORTTITLE']}}</div> <!--รายงานสรุปการเบิกสวัสดิการ-->
                </div>
            </div>
        </div>
    </div>

    <div class="body_content" style="margin-bottom:0px;">
        <div class="col-md-12 forheight_sub" style="background: white;margin-top: 0 !important; min-height: 500px;">
                <div class="-pad10"></div>
                <div class="body_content">

                    <div class="row" style="padding-top: 15px;" ng-hide="isHideMultiCompany">
                        <div class="col-sm-3">
                            <span class="span_name" style="line-height: 2 !important;">
                                <label>{{Text['SYSTEM']['COMPANY']}} :</label>
                            </span>
                        </div>

                        <div class="col-sm-3 detaildate_leave">
                            <div class="datepicker-height-set" style="position:relative;height:40px;">
                                <select class="form-control w100px-desktop" ng-model="ddlCompany" ng-change="changeCompany(ddlCompany)">
                                    <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                        </div>
                    </div>


                    <div class="row" style="padding-top: 15px;">
                        <div class="col-sm-3">
                            <span class="span_name" style="line-height: 2 !important;">
                                {{Text['BENEFITREPORT']['DOC_COMPLETE']}}  <!--ช่วงวันที่เอกสารสมบูรณ์:-->
                            </span>
                        </div>

                        <div class="col-sm-3 detaildate_leave">
                            <div class="datepicker-height-set" style="position:relative;height:40px;">
                                <datepicker callback-on-change="setdatefrom(newDate)" date-format="d/M/yyyy" date-set="{{date_from_select}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>

                        <div class="col-sm-1">
                            <span class="span_name" style="line-height: 2 !important;">
                                {{Text['BENEFITREPORT']['DOC_COMPLETE_TO']}}  <!--ถึง:-->
                            </span>
                        </div>

                        <div class="col-sm-3 detaildate_leave">
                            <div class="datepicker-height-set" style="position:relative;height:40px;">
                                <datepicker callback-on-change="setdateto(newDate)" date-format="d/M/yyyy" date-set="{{date_to_select}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 15px;">
                        <div class="col-sm-3">
                            <span class="span_name">
                                {{Text['BENEFITREPORT']['CATEGORYTITLE']}}  <!--ประเภทสวัสดิการ:-->
                            </span>
                        </div>
                        <div class="col-sm-9 detaildate_leave">
                            <!--<label ng-repeat="item_category in category" style="font-size: 1.1rem;margin-right: 15px;">
                        <input id="{{item_category}}" type="checkbox" value="{{item_category}}" ng-checked="selection_category.indexOf(item_category) > -1" ng-click="toggleSelection_category(item_category)" />
                        {{Text['BENEFITREPORT']['CATEGORY' + item_category]}}
                    </label>-->
                            <label style="font-size: 1.1rem;margin-right: 15px;">
                                fo
                                <input type="checkbox" ng-model="selectedAll" ng-click="selectAll() " /> {{Text['BENEFITREPORT']['SELECTALLS']}}
                            </label>
                            <label ng-repeat="item in category | orderBy:'name'" style="font-size: 1.1rem;margin-right: 15px;">
                                <input type="checkbox" ng-model="item.Selected" ng-click="checkIfAllSelected();checkboxSelected()" />
                                {{Text['BENEFITREPORT']['CATEGORY' + item.name]}}
                            </label>
                        </div>
                    </div>


                    <div class="row" style="padding-top: 15px;">
                        <div class="col-sm-3">
                            <span class="span_name">
                                {{Text['BENEFITREPORT']['STATUSTITLE']}} <!--สถานะเอกสาร:-->
                            </span>
                        </div>
                        <div class="col-sm-9 detaildate_leave">
                            <label ng-repeat="item_status in status" style="font-size: 1.1rem;margin-right: 15px;">
                                <input id="{{item_status}}" type="checkbox" value="{{item_status}}" ng-checked="selection_status.indexOf(item_status) > -1" ng-click="toggleSelection_status(item_status)" />
                                {{Text['BENEFITREPORT'][item_status]}}
                            </label>
                        </div>
                    </div>

                    <div class="item-btn mobile-text-center calendar-gap" style="margin-top:20px !important;">
                        <a ng-click='get_report()'>
                            <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;padding: 8px !important;margin-right: 10px;">
                                <i class="fas fa-eye"></i> <span>{{Text['BENEFITREPORT']['SHOWREPORT']}}</span> <!--แสดงรายงาน-->
                            </div>
                        </a>

                        <a ng-click='reset_report()'>
                            <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;padding: 8px !important;margin-right: 10px;">
                                <i class="fas fa-redo-alt"></i> <span>{{Text['BENEFITREPORT']['RESETREPORT']}}</span> <!--ล้างข้อมูล-->
                            </div>
                        </a>

                        <a ng-click='GetReport("PDF")' ng-show="data.length > 0">
                            <div class="itemin_btn ng-binding -tab-org" style="min-width: 165px;text-align: center;padding: 8px !important;margin-right: 10px;">
                                <i class="fas fa-file-pdf"></i> <span>{{Text['BENEFITREPORT']['DOWNLOADPDF']}}</span> <!--ดาวน์โหลดไฟล์ PDF-->
                            </div>
                        </a>

                        <a ng-click='GetReport("EXCEL")' ng-show="data.length > 0">
                            <div class="itemin_btn ng-binding -tab-org" style="min-width: 165px;text-align: center;padding: 8px !important;margin-right: 10px;">
                                <i class="fas fa-file-excel"></i> <span>{{Text['BENEFITREPORT']['DOWNLOADEXCLE']}}</span> <!--ดาวน์โหลดไฟล์ EXCIL-->
                            </div>
                        </a>

                    </div>
                </div>
            </div>

            <div class="body_content" style="margin-bottom:0px;" ng-show="data.length > 0">
                <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" style="overflow-x:hidden; padding-bottom:4rem;">
                    <div class="body_content">
                        <div class="body_content" style="background:white;">
                            <div class="leavetableBlock leavetableBlock_create">
                                <div class="row itemlist_block">
                                    <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                        <div class="row itemlist">
                                            <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                                <div style="font-size: 2.0em;text-align: center;margin-top: 35px;">{{Text['BENEFITREPORT']['T_TITLEREPORT']}}</div>
                                                <div style="font-size: 1.4em;text-align: center;margin-bottom: 20px;">{{Text['BENEFITREPORT']['T_DAY']}} {{date_from_select | date:"dd/MM/yyyy"}} - {{date_to_select | date:"dd/MM/yyyy"}}</div>
                                                <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                    <thead>
                                                        <tr style="vertical-align:middle; text-align:center;">
                                                            <td>{{Text['BENEFITREPORT']['T_NO']}}</td> <!-- ลำดับที่ -->
                                                            <td>{{Text['BENEFITREPORT']['T_EMPLOYEEID']}}</td> <!-- รหัสพนักงาน -->
                                                            <td>{{Text['BENEFITREPORT']['T_FULLNAME']}}</td> <!-- ชื่อ-นามสกุล -->
                                                            <td>{{Text['BENEFITREPORT']['T_REQUESTNO']}}</td> <!-- เลขที่เอกสาร -->
                                                            <td>{{Text['BENEFITREPORT']['T_CATEGORYBENEFIT']}}</td> <!-- ประเภทสวัสดิการ -->
                                                            <td>{{Text['BENEFITREPORT']['T_CREATEDATE']}}</td> <!-- วันที่ขอเบิก -->
                                                            <td>{{Text['BENEFITREPORT']['T_UPDATE']}}</td> <!-- วันที่เอกสารสมบูรณ์ -->
                                                            <td>{{Text['BENEFITREPORT']['T_AMOUNT']}}</td> <!-- จำนวนเงิน -->
                                                            <td>{{Text['BENEFITREPORT']['T_STATUS']}}</td> <!-- สถานะล่าสุด -->
                                                            <td>{{Text['BENEFITREPORT']['T_POSTSAP']}}</td> <!-- วันที่ Post SAP -->
                                                            <td>{{Text['BENEFITREPORT']['POSTMESSAGE']}}</td> <!-- หมายเหตุ -->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!--กรณีมีข้อมูล History-->
                                                        <tr ng-show="data.length > 0" ng-repeat="item in genDatas(filtered)">
                                                            <td>{{ (pagin.currentPage-1) * pagin.itemPerPage + ($index + 1)}}</td>
                                                            <td>{{item.EmployeeID }}</td>
                                                            <td>{{item.EmployeeName }}</td>
                                                            <td ng-if="item.RequestNo">{{item.RequestNo }}</td>
                                                            <td ng-if="!item.RequestNo">-</td>

                                                            <td>{{item.Type }}</td>
                                                            <td ng-if="item.CreateDate">{{item.CreateDate}}</td>
                                                            <td ng-if="!item.CreateDate">-</td>

                                                            <td ng-if="item.UpdateDate">{{item.UpdateDate}}</td>
                                                            <td ng-if="!item.UpdateDate">-</td>

                                                            <td ng-if="item.AmountReimburse">{{item.AmountReimburse | currency : "": 2}}</td>
                                                            <td ng-if="!item.AmountReimburse">-</td>

                                                            <td ng-if="item.status">{{item.status}}</td>
                                                            <td ng-if="!item.status">-</td>

                                                            <td ng-if="item.PostingDate">{{item.PostingDate}}</td>
                                                            <td ng-if="!item.PostingDate">-</td>

                                                            <td ng-if="item.PostingMessage">{{item.PostingMessage}}</td>
                                                            <td ng-if="!item.PostingMessage">-</td>
                                                        </tr>

                                                        <!--กรณีไม่มีข้อมูล History-->
                                                        <tr ng-show="data.length <= 0">
                                                            <td colspan="10" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row contentPagination" style="position:absolute;" id="paggingWidth" ng-show="data.length > 0">
                                <div class="col-md-12 -col_centered contentPagein">

                                    <div style="outline:none;" class="page-prev " ng-if="pagin.currentPage > 1" ng-click="changePage(pagin.currentPage-1)"><a><span class="icon-arrow_line_left"></span></a></div>
                                    <div style="outline:none;" class="page-prev " ng-if="pagin.currentPage <= 1"><a></a></div>

                                    <div class="page-pagenum" style="    margin-top: -2px;">
                                        <ul>
                                            <li ng-repeat="page in getPages()" ng-click="changePage(page)" style="margin-left:10px;" class="{{pagin.currentPage == page ? 'page-current' : ''}}">{{page}}</li>
                                        </ul>
                                    </div>

                                    <div style="outline:none;" class="page-next" ng-if="pagin.currentPage  < pagin.numPage" ng-click="changePage(pagin.currentPage+1)"> <a><span class="icon-arrow_line_right"></span></a></div>
                                    <div style="outline:none;" class="page-next " ng-if="pagin.currentPage  >= pagin.numPage"><a></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>