﻿<div class="TravelExManPage delegation-page" ng-controller="CremationSystemContentController" ng-init="init();">

    <!-- After -->
    <h1>{{Text['BE_CREMATION'].T_CREMATION}}</h1>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['BE_CREMATION'].T_CREMATION}}
            </div>
        </div>
        <div class="my-tab clearfix" ng-init="demo = 1">
            <a class="" style="width:50%" ng-class="demo == 1?'active':''" ng-click="demo = 1">{{Text['BE_CREMATION'].T_QUOTA}}</a>
            <a class="" style="width:50%" ng-class="demo == 2?'active':''" ng-click="demo = 2">{{Text['BE_CREMATION'].T_HISTORY}}</a>
        </div>
        <div class="ayodia-body-content" ng-if="demo == 1">
            <div class="row margin-b20">
                <div class="col-sm-12">
                    <div class="filter-items-r">
                        <a class="m-btn-c2 btn-s-md" ng-click="CreateNew('502','')">
                            <span class="">
                                <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;{{Text['HRTMSUBSTITUTION']['CREATENEW_SUBSTITUTION']}}
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row margin-b10">
                <div class="col-sm-12">
                    <img src="{{ConfigImageBereavement}}" />
                </div>
            </div>
            <div class="row margin-b10">
                <div class="col-sm-12">
                    <span class="span_name" style="color:red;">
                        {{Text['BE'].NOTE}}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        <li>
                            <i ng-if="Text['BE_CREMATION'].USERMANUALSUB1" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                            <a ng-href={{Text['BE_CREMATION'].LINKUSERMANUAL1}} target="_blank" style="text-decoration:underline">{{Text['BE_CREMATION'].USERMANUALSUB1 }}</a>
                        </li>
                        <li>
                            <i ng-if="Text['BE_CREMATION'].USERMANUALSUB2" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                            <a ng-href={{Text['BE_CREMATION'].LINKUSERMANUAL2}} target="_blank" style="text-decoration:underline">{{Text['BE_CREMATION'].USERMANUALSUB2 }}</a>
                        </li>
                        <li>
                            <i ng-if="Text['BE_CREMATION'].USERMANUALSUB3" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                            <a ng-href={{Text['BE_CREMATION'].LINKUSERMANUAL3}} target="_blank" style="text-decoration:underline">{{Text['BE_CREMATION'].USERMANUALSUB3 }}</a>
                        </li>
                        <li>
                            <i ng-if="Text['BE_CREMATION'].USERMANUALSUB4" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                            <a ng-href={{Text['BE_CREMATION'].LINKUSERMANUAL4}} target="_blank" style="text-decoration:underline">{{Text['BE_CREMATION'].USERMANUALSUB4 }}</a>
                        </li>
                        <li>
                            <i ng-if="Text['BE_CREMATION'].USERMANUALSUB5" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                            <a ng-href={{Text['BE_CREMATION'].LINKUSERMANUAL5}} target="_blank" style="text-decoration:underline">{{Text['BE_CREMATION'].USERMANUALSUB5 }}</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="ayodia-body-content" ng-if="demo == 2">

            <div class="row margin-b20">
                <div class="col-sm-12">
                    <div class="filter-items-r">
                        <a class="m-btn-c2 btn-s-md" ng-click="CreateNew('502','')">
                            <span>
                                <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;{{Text['HRTMSUBSTITUTION']['CREATENEW_SUBSTITUTION']}}
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row show-pc">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center">{{Text['BE_CREMATION'].T_REQUESTNO}}</th>
                            <th class="text-center">{{Text['BE_CREMATION'].T_DEADNAME}}</th>
                            <th class="text-center">{{Text['BE_CREMATION'].T_DEADDAY}}</th>
                            <th class="text-center">{{Text['BE_CREMATION'].T_SUBVENTION}}</th>
                            <th class="text-center">{{Text['BE_CREMATION'].T_COMMUTATION}}</th>
                            <th class="text-center">{{Text['BE_CREMATION'].T_TOTAL}}</th>
                        </tr>
                        <tr class="t-body" ng-if="CremationHistory.length > 0" ng-repeat="item in CremationHistory">
                            <td class="font-16 text-center">
                                <a ng-if="item.RequestNo" style="color: #337ab7 !important;" ng-click="openRequest(item.RequestNo,item.RequestorCompanyCode, 'false', 'false','false', '0')">
                                    {{item.RequestNo}}
                                </a>
                                <span ng-if="!item.RequestNo"> - </span>
                            </td>
                            <td class="font-16 text-center">
                                <span ng-if="item.BereavementType != 0">{{item.FirstName}} {{item.LastName}} ({{FAMILYMEMBER[item.BereavementType]}})</span>
                                <span ng-if="item.BereavementType == 0"> {{item.FirstName}} {{item.LastName}}</span>
                            </td>
                            <td class="font-16 text-center">{{item.BereavementDate | date:"dd/MM/yyyy"}}</td> <!-- วันที่ถึงแก่กรรม -->
                            <td class="font-16 text-center">{{item.SubsidyAmount | currency : "": 2}}</td> <!-- จำนวนเงินช่วยเหลือ (บาท) -->
                            <td class="font-16 text-center">{{item.PaymentFuneralAmount | currency : "": 2}}</td> <!-- จำนวนเงินชดเชย (บาท) -->
                            <td class="font-16 text-center">{{item.Amount | currency : "": 2}}</td> <!-- จำนวนเงินรวม (บาท) -->
                        </tr>
                        <tr ng-if="CremationHistory.length > 0" class="table-footer">
                            <td colspan="5" class="text-right font-16">{{Text['BE_FITNESSALLOWANCE'].F_SUMALL_TOTALAMOUNT}}</td> <!--ยอดเงินรวมสุทธิ (บาท)-->
                            <td class="text-center font-16" style="padding:15px 5px;">{{ getTotal() | currency : "": 2 }}</td>
                        </tr>
                        <tr ng-if="CremationHistory.length <= 0" class="t-body">
                            <td class="text-center font-16" colspan="6" style="color:red; font-weight:bold;">
                                ไม่พบรายการข้อมูล
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row show-tablet">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10">
                        <tr class="t-header">
                            <th class="text-center" style="width:100%">รายละเอียดการเบิก</th>
                        </tr>
                        <tr class="t-body" ng-if="CremationHistory.length > 0" ng-repeat="item in CremationHistory">
                            <td>
                                <a ng-if="item.RequestNo" style="color: #337ab7 !important;" class="font-16"
                                   ng-click="openRequest(item.RequestNo,item.RequestorCompanyCode, 'false', 'false','false', '0')">
                                    {{item.RequestNo}}
                                </a>
                                <span ng-if="!item.RequestNo" class="font-16"> - </span>
                                <br />
                                <span class="font-16">{{Text['BE_CREMATION'].T_DEADNAME}}&nbsp;:&nbsp;</span>
                                <span ng-if="item.BereavementType != 0" class="font-16">{{item.FirstName}} {{item.LastName}} ({{FAMILYMEMBER[item.BereavementType]}})</span>
                                <span ng-if="item.BereavementType == 0" class="font-16"> {{item.FirstName}} {{item.LastName}}</span>
                                <br />
                                <span class="font-16">
                                    {{Text['BE_CREMATION'].T_DEADDAY}}&nbsp;:&nbsp;
                                    {{item.BereavementDate | date:"dd/MM/yyyy"}}
                                </span>
                                <br />
                                <span class="font-16">
                                    {{Text['BE_CREMATION'].T_SUBVENTION}}&nbsp;:&nbsp;
                                    {{item.SubsidyAmount | currency : "": 2}}
                                </span>
                                <br />
                                <span class="font-16">
                                    {{Text['BE_CREMATION'].T_COMMUTATION}}&nbsp;:&nbsp;
                                    {{item.PaymentFuneralAmount | currency : "": 2}}
                                </span>
                                <br />
                                <span class="font-16">
                                    {{Text['BE_CREMATION'].T_TOTAL}}&nbsp;:&nbsp;
                                    {{item.Amount | currency : "": 2}}
                                </span>
                            </td>
                        </tr>
                        <tr ng-if="CremationHistory.length > 0" class="table-footer">
                            <td>
                                <div class="row" style="padding:15px 5px;">
                                    <div class="col-xs-6">{{Text['BE_FITNESSALLOWANCE'].F_SUMALL_TOTALAMOUNT}}</div>
                                    <div class="col-xs-6 text-right">{{ getTotal() | currency : "": 2 }}</div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="CremationHistory.length <= 0" class="t-body">
                            <td class="text-center font-16" style="color:red; font-weight:bold;">
                                ไม่พบรายการข้อมูล
                            </td>
                            <
                        </tr>
                        <
                    </table>
                </div>
            </div>

        </div>
    </div>

    <!-- ******** Editor การเบิกเงินช่วยเหลืองานฌาปนกิจสงเคราะห์  -->
    <!-- จัดการข้อมูลประกาศ -->
    <!--<h1>ข้อมูลประกาศ</h1>
    <div class="content-by-ayodia margin-b20">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                รายการข้อมูลประกาศ
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="filter-export-box clearfix margin-b20">
                        <div class="filter-items-r">
                            <a class="m-btn-c2 btn-s-md">
                                <span class="">
                                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;สร้างประกาศ
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row show-pc">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center">#</th>
                            <th class="text-center">หัวข้อข่าว</th>
                            <th class="text-center">วันที่ประกาศ</th>
                            <th class="text-center">วันที่วันที่สิ้นสุด</th>
                            <th class="text-center">คนดูข่าว</th>
                            <th style="width:60px">
                            </th>
                        </tr>
                        <tr class="t-body">
                            <td class="font-16 text-center">1</td>
                            <td class="font-16">ประกาศนโยบายเงินปรับเงินเดือนบริษัท</td>
                            <td class="font-16 text-center">14/07/2020</td>
                            <td class="font-16 text-center">31/12/2020</td>
                            <td class="font-16 text-center">100</td>
                            <td class="font-16 text-center">
                                <a><i class="fas fa-search"></i></a>
                                &nbsp;&nbsp;
                                <a><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr class="t-body">
                            <td class="font-16 text-center">2</td>
                            <td class="font-16">ประกาศปรับโครงสร้างบริษัท</td>
                            <td class="font-16 text-center">14/07/2020</td>
                            <td class="font-16 text-center">31/07/2020</td>
                            <td class="font-16 text-center">100</td>
                            <td class="font-16 text-center">
                                <a><i class="fas fa-search"></i></a>
                                &nbsp;&nbsp;
                                <a><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <h1>สร้าง / แก้ไขประกาศ</h1>
    <div class="content-by-ayodia margin-b20">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                รายการข้อมูลประกาศ
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="show-pc">
                <div class="row margin-b20">
                    <div class="col-sm-12">
                        <div class="filter-items-r">
                            <a class="m-btn-c2 btn-s-md">
                                <span class="">
                                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;สร้างประกาศ
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row margin-b20">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">
                            หัวข้อประกาศ
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <input class="form-control" />
                    </div>
                </div>
                <div class="row margin-b20">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">
                            รูปประกาศแสดงหน้าแรก
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <input type="file" id="myfile" name="myfile">
                    </div>
                    <div class="col-sm-2">
                        <input type="checkbox" />
                        &nbsp;
                        <span style="font-weight:bold;">Pin (ปัดหมุด)</span>
                    </div>
                </div>
                <div class="row margin-b20">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">
                            วันที่ประกาศ
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="datepicker-height-set" style="position:relative; width: 200px; height:40px;">
                            <datepicker callback-on-change="setSelectedDOB_FuneralDate(newDate)" date-format="d/M/yyyy" date-set="">
                                <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                            </datepicker>
                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                        </div>
                    </div>
                </div>
                <div class="row margin-b20">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">
                            วันที่สิ้นสุด
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="datepicker-height-set" style="position:relative; width: 200px; height:40px;">
                            <datepicker callback-on-change="setSelectedDOB_FuneralDate(newDate)" date-format="d/M/yyyy" date-set="">
                                <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                            </datepicker>
                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                        </div>
                    </div>
                </div>
                <div class="row margin-b20">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">
                            เนื้อหาประกาศ
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div ckeditor="options" ng-model="HtmlEditor" value="HtmlEditor"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Before -->
    <!--<div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{Text['BE_CREMATION'].T_CREMATION}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="body_content" style="margin-bottom:0px;">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" style="overflow-x:hidden; padding-bottom:4rem;">
            <div class="-pad10"></div>
            <div class="body_content">


                <div class="in-progress-tb">
                    <div class="in-progress-tb-top">
                        <div class="row">
                            <div class="col-xs-3 p-0">
                                <div class="item-btn mobile-text-center">
                                    <a ng-click="CreateNew('502','')">
                                        <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                                            <span class="icon-doc_plus" aria-hidden="true"></span> {{Text['BE_EDUCATIONALLOWANCE'].EDUCATION_ADD}}
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-9 p-0"></div>
                        </div>
                    </div>
                </div>


                <div class="bar_bottom layout-padding-md">
                    <md-tabs class="personal_education_Content" md-stretch-tabs="always" md-swipe-content="false" md-no-pagination="false" md-border-bottom="true" md-dynamic-height="true">


                        <md-tab class="mt-1" label="{{Text['BE_CREMATION'].T_QUOTA}}">

                            <div class="body_content" style="background:white;">
                                <div class="leavetableBlock leavetableBlock_create">
                                    <div class="row itemlist_block">
                                        <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                            <div class="row itemlist">
                                                <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                                    <div style="margin-top: 25px;"></div>
                                                    <img class="img_i1" src="{{ConfigImageBereavement}}" />

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </md-tab>


                        <md-tab class="mt-2" label="{{Text['BE_CREMATION'].T_HISTORY}}">

                            <div class="body_content" style="background:white;">
                                <div class="leavetableBlock leavetableBlock_create">
                                    <div class="row itemlist_block">
                                        <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                            <div class="row itemlist">
                                                <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                                    <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                        <thead>
                                                            <tr style="vertical-align:middle; text-align:center;">
                                                                <td>{{Text['BE_CREMATION'].T_REQUESTNO}}</td>
                                                                <td>{{Text['BE_CREMATION'].T_DEADNAME}}</td>
                                                                <td>{{Text['BE_CREMATION'].T_DEADDAY}}</td>
                                                                <td>{{Text['BE_CREMATION'].T_SUBVENTION}}</td>
                                                                <td>{{Text['BE_CREMATION'].T_COMMUTATION}}</td>
                                                                <td>{{Text['BE_CREMATION'].T_TOTAL}}</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr ng-show="CremationHistory.length > 0" ng-repeat="item in CremationHistory">

                                                                <td ng-if="item.RequestNo">
                                                                    <a style="color: #337ab7 !important;" ng-click="openRequest(item.RequestNo,item.RequestorCompanyCode, 'false', 'false','false', '0')">
                                                                        {{item.RequestNo}}
                                                                    </a>
                                                                </td>

                                                                <td ng-if="!item.RequestNo">-</td>
                                                                <td ng-if="item.BereavementType != 0">{{item.FirstName}} {{item.LastName}} ({{FAMILYMEMBER[item.BereavementType]}})</td>
                                                                <td ng-if="item.BereavementType == 0">{{item.FirstName}} {{item.LastName}}</td>
                                                                <td>{{item.BereavementDate | date:"dd/MM/yyyy"}}</td>
                                                                <td>{{item.SubsidyAmount | currency : "": 2}}</td>
                                                                <td>{{item.PaymentFuneralAmount | currency : "": 2}}</td>
                                                                <td>{{item.Amount | currency : "": 2}}</td>
                                                            </tr>

                                                            <tr ng-show="CremationHistory.length > 0">
                                                                <td colspan="5">{{Text['BE_FITNESSALLOWANCE'].F_SUMALL_TOTALAMOUNT}}</td>
                                                                <td>{{ getTotal() | currency : "": 2 }}</td>
                                                            </tr>


                                                            <tr ng-show="CremationHistory.length == 0">
                                                                <td colspan="6" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </md-tab>
                    </md-tabs>
                </div>

                <div class="row" style="padding-top: 15px;">
                    <div class="col-sm-12">
                        <span class="span_name" style="color:red;">
                            {{Text['BE'].NOTE}}
                        </span>
                    </div>
                </div>

                <div class="row" style="padding-top: 15px;">
                    <div class="col-sm-12">
                        <ul>
                            <li>
                                <i ng-if="Text['BE_CREMATION'].USERMANUALSUB1" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                <a ng-href={{Text['BE_CREMATION'].LINKUSERMANUAL1}} target="_blank" style="text-decoration:underline">{{Text['BE_CREMATION'].USERMANUALSUB1 }}</a>
                            </li>
                            <li>
                                <i ng-if="Text['BE_CREMATION'].USERMANUALSUB2" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                <a ng-href={{Text['BE_CREMATION'].LINKUSERMANUAL2}} target="_blank" style="text-decoration:underline">{{Text['BE_CREMATION'].USERMANUALSUB2 }}</a>
                            </li>
                            <li>
                                <i ng-if="Text['BE_CREMATION'].USERMANUALSUB3" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                <a ng-href={{Text['BE_CREMATION'].LINKUSERMANUAL3}} target="_blank" style="text-decoration:underline">{{Text['BE_CREMATION'].USERMANUALSUB3 }}</a>
                            </li>
                            <li>
                                <i ng-if="Text['BE_CREMATION'].USERMANUALSUB4" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                <a ng-href={{Text['BE_CREMATION'].LINKUSERMANUAL4}} target="_blank" style="text-decoration:underline">{{Text['BE_CREMATION'].USERMANUALSUB4 }}</a>
                            </li>
                            <li>
                                <i ng-if="Text['BE_CREMATION'].USERMANUALSUB5" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                <a ng-href={{Text['BE_CREMATION'].LINKUSERMANUAL5}} target="_blank" style="text-decoration:underline">{{Text['BE_CREMATION'].USERMANUALSUB5 }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>-->
</div>



