﻿
<div class="TravelExManPage delegation-page box-content" ng-controller="EducationAllowanceContentController" ng-init="init();">

    <div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{Text['BE_EDUCATIONALLOWANCE'].EDUCATION_TITLE}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="body_content" style="margin-bottom:0px;">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" style="overflow-x:hidden; padding-bottom:4rem;">
            <div class="-pad10"></div>
            <div class="body_content">
                <div class="in-progress-tb">
                    <div class="in-progress-tb-top">
                        <div class="row">
                            <div class="col-md-6 p-0 mt-2">
                                <!--ADD-->
                                <div class="item-btn mobile-text-center">
                                    <a ng-click="CreateNew('503',keyYear_select)">
                                        <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                                            <span class="icon-doc_plus" aria-hidden="true"></span> {{Text['BE_EDUCATIONALLOWANCE'].EDUCATION_ADD}}
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--SEARCH-->
                            <div class="col-md-6 p-0 mt-2">
                                <div class="row ">
                                    <div class="col-xs-3 float-right p-0">
                                        <select class="form-control" ng-change="filterYear(prop.value)" ng-model="prop.value" ng-options="v for v in prop.values" style="box-shadow: 0 0 0;height: 3rem;border: 2px solid #603913;"></select>
                                    </div>
                                    <div class="col-xs-9 float-right">
                                        <div class="inprogress-search">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="{{Text['BE_EDUCATIONALLOWANCE'].SEARCH_DATA}} . . ." ng-model="filtered" style="border-width: 2px !important;border: 2px solid;">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- itemlist_block -->
                <div class="bar_bottom layout-padding-md">
                    <md-tabs class="personal_education_Content" md-stretch-tabs="always" md-swipe-content="false" md-no-pagination="false" md-border-bottom="true" md-dynamic-height="true">
                        <md-tab class="mt-1" label="{{Text['BE_EDUCATIONALLOWANCE'].EDUCATION_QUOTA}}">
                            <div class="body_content" style="background:white;">
                                <div class="leavetableBlock leavetableBlock_create">
                                    <div class="row itemlist_block">
                                        <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                            <div class="row itemlist">
                                                <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                                    <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                        <thead>
                                                            <tr style="vertical-align:middle; text-align:center;">
                                                                <td>{{Text['BE_EDUCATIONALLOWANCE'].FULL_NAME}}</td>
                                                                <td>{{Text['BE_EDUCATIONALLOWANCE'].EDUCATION_LEVEL}}</td>
                                                                <td>{{Text['BE_EDUCATIONALLOWANCE'].QUOTA_ALL}} ({{Text['BE_EDUCATIONALLOWANCE'].BAHT}})</td>
                                                                <td>{{Text['BE_EDUCATIONALLOWANCE'].AMOUNTOFMONEY}} ({{Text['BE_EDUCATIONALLOWANCE'].BAHT}})</td>
                                                                <td>{{Text['BE_EDUCATIONALLOWANCE'].QUOTA_REMAIN}} ({{Text['BE_EDUCATIONALLOWANCE'].BAHT}})</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="Item_Quota in QuotaList |filter: filtered"
                                                                ng-show="QuotaList.length > 0 ">
                                                                <td>{{Item_Quota.FirstName}} {{Item_Quota.LastName}}</td>
                                                                <td>
                                                                    <span ng-if="employeeData.Language == 'TH'">{{Item_Quota.BE_Level_TH}}</span>
                                                                    <span ng-if="employeeData.Language == 'EN'">{{Item_Quota.BE_Level_EN}}</span>
                                                                </td>
                                                                <td>{{Item_Quota.QuotaAll | currency : "": 2}}</td>
                                                                <td>{{Item_Quota.AmountReimburse | currency : "": 2}}</td>
                                                                <td>{{Item_Quota.QuotaAll - Item_Quota.AmountReimburse | currency : "": 2}}</td>
                                                            </tr>

                                                            <tr ng-show="QuotaList.length == 0 || (QuotaList | filter:filtered).length == 0">
                                                                <td colspan="5" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </md-tab>

                        <md-tab class="mt-2" label="{{Text['BE_EDUCATIONALLOWANCE'].EDUCATION_HISTORY}}">
                            <div class="body_content" style="background:white;">
                                <div class="leavetableBlock leavetableBlock_create">
                                    <div class="row itemlist_block">
                                        <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                            <div class="row itemlist">
                                                <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                                    <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                        <thead>
                                                            <tr style="vertical-align:middle; text-align:center;">
                                                                <td>{{Text['BE_EDUCATIONALLOWANCE'].SEQUENCE}}</td>
                                                                <td>{{Text['BE_EDUCATIONALLOWANCE'].REQUEST_NO}}</td>
                                                                <td>{{Text['BE_EDUCATIONALLOWANCE'].PAY_DATE}}</td>
                                                                <td>{{Text['BE_EDUCATIONALLOWANCE'].FULL_NAME}}</td>
                                                                <td>{{Text['BE_EDUCATIONALLOWANCE'].EDUCATION_LEVEL}}</td>
                                                                <td>{{Text['BE_EDUCATIONALLOWANCE'].AMOUNT_TEXT}} ({{Text['BE_EDUCATIONALLOWANCE'].BAHT}})</td>
                                                                <td>{{Text['BE_EDUCATIONALLOWANCE'].AMOUNTREIMBURSE_TEXT}} ({{Text['BE_EDUCATIONALLOWANCE'].BAHT}})</td>
                                                                <td>{{Text['BE_EDUCATIONALLOWANCE'].STATUS_DATA}}</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-show="data.length > 0"
                                                                ng-repeat="item in genDatas(filtered)">

                                                                <td>{{ (pagin.currentPage-1) * pagin.itemPerPage + ($index + 1)}} </td>
                                                                <td ng-if="item.RequestNo"><a style="color: #337ab7 !important;" ng-click="openRequest(item.RequestNo,item.RequestorCompanyCode, item.KeyMaster, 'false','false', '0')">{{item.RequestNo}}</a></td>
                                                                <td ng-if="!item.RequestNo">-</td>
                                                                <td>{{item.PayDate | date:"dd/MM/yyyy"}}</td>
                                                                <td>{{item.FirstName}} {{item.LastName}}</td>
                                                                <td>
                                                                    <span ng-if="employeeData.Language == 'TH'">{{item.BE_Level_TH}}</span>
                                                                    <span ng-if="employeeData.Language == 'EN'">{{item.BE_Level_EN}}</span>
                                                                </td>
                                                                <td>{{item.Amount | currency : "": 2}}</td>
                                                                <td>{{item.AmountReimburse | currency : "": 2}}</td>
                                                                <td>
                                                                    <button ng-if="item.status == 'COMPLETED' || item.status == 'POSTED'" class="btn_COMPLETED">{{ Text['STATUS'][item.status] }}</button>
                                                                    <button ng-if="item.status == 'CANCELLED'" class="btn_CANCELLED">{{ Text['STATUS'][item.status] }}</button>
                                                                    <button ng-if="item.status != 'COMPLETED' && item.status != 'CANCELLED' && item.status != 'POSTED'" class="btn_WAITFORVERIFY">{{ Text['STATUS'][item.status] }}</button>

                                                                </td>
                                                            </tr>
                                                            <tr ng-show="data.length <= 0 || genDatas(filtered).length == 0">
                                                                <td colspan="11" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row contentPagination" style="position:absolute;" id="paggingWidth" ng-show="genDatas(filtered).length > 0">
                                    <div class="col-md-12 -col_centered contentPagein">

                                        <div style="outline:none;" class="page-prev " ng-if="pagin.currentPage > 1" ng-click="changePage(pagin.currentPage-1)"><a><span class="icon-arrow_line_left"></span></a></div>
                                        <div style="outline:none;" class="page-prev " ng-if="pagin.currentPage <= 1"><a></a></div>

                                        <div class="page-pagenum" style="    margin-top: -2px;">
                                            <ul>
                                                <li ng-repeat="page in getPages()" ng-click="changePage(page)" style="margin-left:10px;" class="{{pagin.currentPage == page ? 'page-current' : ''}}">{{page}}</li>
                                            </ul>
                                        </div>

                                        <div style="outline:none;" class="page-next" ng-if="pagin.currentPage  < pagin.numPage" ng-click="changePage(pagin.currentPage+1)"> <a><span class="icon-arrow_line_right"></span></a></div>
                                        <div style="outline:none;" class="page-next " ng-if="pagin.currentPage  >= pagin.numPage"><a></a></div>
                                    </div>
                                </div>
                            </div>
                        </md-tab>
                    </md-tabs>
                </div>

                <div class="row" style="padding-top: 15px;">
                    <div class="col-sm-12">
                        <span class="span_name" style="color:red;">
                            {{Text['BE'].NOTE}}
                        </span>
                    </div>
                </div>

                <div class="row" style="padding-top: 15px;">
                    <div class="col-sm-12">
                        <ul>
                            <li>
                                <i ng-if="Text['BE_EDUCATIONALLOWANCE'].USERMANUALSUB1" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                <a ng-href={{Text['BE_EDUCATIONALLOWANCE'].LINKUSERMANUAL1}} target="_blank" style="text-decoration:underline">{{Text['BE_EDUCATIONALLOWANCE'].USERMANUALSUB1 }}</a>
                            </li>
                            <li>
                                <i ng-if="Text['BE_EDUCATIONALLOWANCE'].USERMANUALSUB2" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                <a ng-href={{Text['BE_EDUCATIONALLOWANCE'].LINKUSERMANUAL2}} target="_blank" style="text-decoration:underline">{{Text['BE_EDUCATIONALLOWANCE'].USERMANUALSUB2 }}</a>
                            </li>
                            <li>
                                <i ng-if="Text['BE_EDUCATIONALLOWANCE'].USERMANUALSUB3" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                <a ng-href={{Text['BE_EDUCATIONALLOWANCE'].LINKUSERMANUAL3}} target="_blank" style="text-decoration:underline">{{Text['BE_EDUCATIONALLOWANCE'].USERMANUALSUB3 }}</a>
                            </li>
                            <li>
                                <i ng-if="Text['BE_EDUCATIONALLOWANCE'].USERMANUALSUB4" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                <a ng-href={{Text['BE_EDUCATIONALLOWANCE'].LINKUSERMANUAL4}} target="_blank" style="text-decoration:underline">{{Text['BE_EDUCATIONALLOWANCE'].USERMANUALSUB4 }}</a>
                            </li>
                            <li>
                                <i ng-if="Text['BE_EDUCATIONALLOWANCE'].USERMANUALSUB5" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                <a ng-href={{Text['BE_EDUCATIONALLOWANCE'].LINKUSERMANUAL5}} target="_blank" style="text-decoration:underline">{{Text['BE_EDUCATIONALLOWANCE'].USERMANUALSUB5 }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>







