﻿
<div class="TravelExManPage delegation-page box-content" ng-controller="HealthInRegistorContentController" ng-init="init();">

    <div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{Text['BE_HEALTHINSURANCEREGISTER'].REGISTERHEALTHINSURANCE}}</div> <!--การเบิกเงินช่วยเหลือค่ารักษาพยาบาลบุพการี-->
                </div>
            </div>
        </div>
    </div>

    <div class="body_content" style="margin-bottom:0px;">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" style="overflow-x:hidden; padding-bottom:4rem;">
            <div class="-pad10"></div>
            <div class="body_content">

                <!--SEARCH-->
                <div class="in-progress-tb">
                    <div class="in-progress-tb-top">
                        <div class="row">
                            <div class="col-md-6 p-0 mt-2">
                                <div class="item-btn mobile-text-center">
                                    <a ng-click="CreateNew('507',HealthConfigID)"  ng-if="IsDisabled">
                                        <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                                            <span class="icon-doc_plus" aria-hidden="true"></span> {{Text['BE_EDUCATIONALLOWANCE'].EDUCATION_ADD}}
                                        </div>
                                    </a>

                                    <!--<a ng-click="showAlertHealthInsAllowance()" ng-if="check_quota_balance == 0">
                                        <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                                            <span class="icon-doc_plus" aria-hidden="true"></span> {{Text['BE_EDUCATIONALLOWANCE'].EDUCATION_ADD}}
                                        </div>
                                    </a>-->
                                </div>
                            </div>

                            
                        </div>
                        <div class="row">
                            <div class="col-md-8 p-0 mt-2 mobile-text-center">

                                <div class="col-md-2 float-left p-0">
                                    <select class="form-control" ng-change="filterYear(prop.value)" ng-model="prop.value" ng-options="v for v in prop.values" style="box-shadow: 0 0 0;height: 3rem;border: 2px solid #603913;"></select>
                                </div>
                                <div class="col-xs-5 p-0 d-flex ">
                                <span style="margin-left: 80px;margin-top: 15px;">{{Text['BE_HEALTHINSURANCEREGISTER'].REGIS_DOCUMENT_NO}}</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!--DATA-->
                <div class="bar_bottom layout-padding-md">
                    <div class="body_content" style="background:white;">
                        <div class="leavetableBlock leavetableBlock_create">
                            <div class="row itemlist_block">
                                <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                    <div class="row itemlist">
                                        <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                            <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                <thead>
                                                    <tr style="vertical-align:middle; text-align:center;">
                                                        <td>{{Text['BE_HEALTHINSURANCEREGISTER'].YEAR}}</td> <!--ลำดับที่-->
                                                        <td>{{Text['BE_HEALTHINSURANCEREGISTER'].TRAINNINGSTARTDATE}}</td> <!--เลขที่ขอเบิก-->
                                                        <td>{{Text['BE_HEALTHINSURANCEREGISTER'].TRAINNINGSENDDATE}}</td> <!--วันที่เบิก-->
                                                        <td>{{Text['BE_HEALTHINSURANCEREGISTER'].STATUS}}</td> <!--ชื่อบุพการี-->
                                                        <td>{{Text['BE_HEALTHINSURANCEREGISTER'].REGISTORDATE}}</td> <!--จำนวนเงิน (บาท)-->
                                                        <td>{{Text['BE_HEALTHINSURANCEREGISTER'].VIEW}}</td> <!--ยอดเงินที่เบิกได้จริง (บาท)-->

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!--กรณีมีข้อมูล History-->
                                                    <tr ng-repeat="Item in HealthInsuranceConfigList |filter: filtered"
                                                        ng-show="HealthInsuranceConfigList.length > 0 ">
                                                        <td class="font-16 text-center">{{Item.Year}}</td>
                                                        <td class="font-16 text-center">{{getDateFormat(Item.BeginDate)}}</td>
                                                        <td class="font-16 text-center">{{getDateFormat(Item.EndDate)}}</td>
                                                        <td class="font-16 text-center">{{Item.Status}}</td>
                                                        <td class="font-16 text-center">{{getDateFormat(Item.CreateDate)}}</td>
                                                        <td class="font-16 text-center"><i class="fa fa-search" aria-hidden="true" ng-click="directToRequest('507','EDIT',Item.EmployeeID,Item.HealthConfigID)"></i></td>
                                                    </tr>

                                                    <!--กรณีไม่มีข้อมูล Quota-->
                                                    <tr ng-show="HealthInsuranceConfigList.length == 0 || (HealthInsuranceConfigList | filter:filtered).length == 0">
                                                        <td colspan="4" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                                    </tr> <!--HEALTHINS-->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row contentPagination" style="position:absolute;" id="paggingWidth" ng-show="genDatas(filtered).length > 0">
                            <div class="col-md-12 -col_centered contentPagein">

                                <div style="outline:none;" class="page-prev " ng-if="pagin.currentPage > 1" ng-click="changePage(pagin.currentPage-1)"><a><span class="icon-arrow_line_left"></span></a></div>
                                <div style="outline:none;" class="page-prev " ng-if="pagin.currentPage <= 1"><a></a></div>

                                <div class="page-pagenum" style="    margin-top: -2px;">
                                    <ul>
                                        <li ng-repeat="page in getPages()" ng-click="changePage(page)" style="margin-left:10px;" class="{{pagin.currentPage == page ? 'page-current' : ''}}">{{page}}</li>
                                    </ul>
                                </div>

                                <div style="outline:none;" class="page-next" ng-if="pagin.currentPage  < pagin.numPage" ng-click="changePage(pagin.currentPage+1)"> <a><span class="icon-arrow_line_right"></span></a></div>
                                <div style="outline:none;" class="page-next " ng-if="pagin.currentPage  >= pagin.numPage"><a></a></div>
                            </div>
                        </div>
                    </div>
                </div>

                
         

            </div>
        </div>
    </div>
</div>
