﻿
<div class="TravelExManPage delegation-page box-content" ng-controller="HealthInsuranceContentController" ng-init="init();">

    <div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{Text['BE_HEALTHIANSALLOWANCE'].H_HEALTHIANSALLOWANCE}}</div> <!--การเบิกเงินช่วยเหลือค่ารักษาพยาบาลบุพการี-->
                </div>
            </div>
        </div>
    </div>

    <div class="body_content" style="margin-bottom:0px;">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" style="overflow-x:hidden; padding-bottom:4rem;">
            <div class="-pad10"></div>
            <div class="body_content">

                <!--SEARCH-->
                <div class="in-progress-tb">
                    <div class="in-progress-tb-top">
                        <div class="row">
                            <div class="col-md-6 p-0 mt-2">
                                <div class="item-btn mobile-text-center">
                                    <a ng-click="CreateNew('506',keyYear_select)" ng-if="check_quota_balance > 0">
                                        <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                                            <span class="icon-doc_plus" aria-hidden="true"></span> {{Text['BE_EDUCATIONALLOWANCE'].EDUCATION_ADD}}
                                        </div>
                                    </a>

                                    <a ng-click="showAlertHealthInsAllowance()" ng-if="check_quota_balance == 0">
                                        <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                                            <span class="icon-doc_plus" aria-hidden="true"></span> {{Text['BE_EDUCATIONALLOWANCE'].EDUCATION_ADD}}
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-6 p-0 mt-2">
                                <div class="row ">
                                    <div class="col-xs-3 float-right p-0">
                                        <select class="form-control" ng-change="filterYear(prop.value)" ng-model="prop.value" ng-options="v for v in prop.values" style="box-shadow: 0 0 0;height: 3rem;border: 2px solid #603913;"></select>
                                    </div>

                                    <div class="col-xs-9 float-right">
                                        <div class="inprogress-search">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="{{Text['BE_EDUCATIONALLOWANCE'].SEARCH_DATA}} . . ." ng-model="filtered" style="border-width: 2px !important;border: 2px solid;">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--DATA-->
                <div class="bar_bottom layout-padding-md">
                    <md-tabs class="personal_education_Content" md-stretch-tabs="always" md-swipe-content="false" md-no-pagination="false" md-border-bottom="true" md-dynamic-height="true">

                        <!--QUOTA-->
                        <md-tab class="mt-1" label="{{Text['BE_HEALTHIANSALLOWANCE'].H_QUOTA_TITLE}}"> <!--โควต้าการเบิกเงินช่วยเหลือค่ารักษาพยาบาลบุพการี-->

                            <div class="body_content" style="background:white;">
                                <div class="leavetableBlock leavetableBlock_create">
                                    <div class="row itemlist_block">
                                        <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                            <div class="row itemlist">
                                                <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                                    <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                        <thead>
                                                            <tr style="vertical-align:middle; text-align:center;">
                                                                <td>{{Text['BE_HEALTHIANSALLOWANCE'].H_FULLNAME}}</td> <!--ชื่อบุพการี-->
                                                                <td>{{Text['BE_HEALTHIANSALLOWANCE'].H_QUOTAALL}}</td> <!--โควต้า (บาท)-->
                                                                <td>{{Text['BE_HEALTHIANSALLOWANCE'].H_TOTALAMOUNT}}</td> <!--จำนวนเงินที่เบิก (บาท)-->
                                                                <td>{{Text['BE_HEALTHIANSALLOWANCE'].H_BALANCE}}</td> <!--คงเหลือ (บาท)-->
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!--กรณีมีข้อมูล Quota-->
                                                            <tr ng-repeat="ItemQuota in HealthInsAllowanceQuotaList |filter: filtered"
                                                                ng-show="HealthInsAllowanceQuotaList.length > 0 ">
                                                                <td>{{ItemQuota.FirstName}} {{ItemQuota.LastName}} ({{FAMILYMEMBER[ItemQuota.RelationshipType]}})</td>
                                                                <td>{{ItemQuota.Quota_all | currency : "": 2}}</td>
                                                                <td>{{ItemQuota.TotalAmount | currency : "": 2}}</td>
                                                                <td>{{ItemQuota.Balance | currency : "": 2}}</td>
                                                            </tr>

                                                            <!--กรณีไม่มีข้อมูล Quota-->
                                                            <tr ng-show="HealthInsAllowanceQuotaList.length == 0 || (HealthInsAllowanceQuotaList | filter:filtered).length == 0">
                                                                <td colspan="4" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                                            </tr> <!--HEALTHINS-->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </md-tab>

                        <!--HISTORY-->
                        <md-tab class="mt-2" label="{{Text['BE_HEALTHIANSALLOWANCE'].H_HISTORY_TITLE}}"> <!--ประวัติการเบิกเงินช่วยเหลือค่ารักษาพยาบาลบุพการี-->
                            <div class="body_content" style="background:white;">
                                <div class="leavetableBlock leavetableBlock_create">
                                    <div class="row itemlist_block">
                                        <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                            <div class="row itemlist">
                                                <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                                    <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                        <thead>
                                                            <tr style="vertical-align:middle; text-align:center;">
                                                                <td>{{Text['BE_HEALTHIANSALLOWANCE'].H_SEQUENCE}}</td> <!--ลำดับที่-->
                                                                <td>{{Text['BE_HEALTHIANSALLOWANCE'].H_REQUESTNO}}</td> <!--เลขที่ขอเบิก-->
                                                                <td>{{Text['BE_HEALTHIANSALLOWANCE'].H_DAYAMOUNT}}</td> <!--วันที่เบิก-->
                                                                <td>{{Text['BE_HEALTHIANSALLOWANCE'].H_FULLNAME}}</td> <!--ชื่อบุพการี-->
                                                                <td>{{Text['BE_HEALTHIANSALLOWANCE'].H_AMOUNT}}</td> <!--จำนวนเงิน (บาท)-->
                                                                <td>{{Text['BE_HEALTHIANSALLOWANCE'].H_PAYMENTAMOUNT}}</td> <!--ยอดเงินที่เบิกได้จริง (บาท)-->
                                                                <td>{{Text['BE_HEALTHIANSALLOWANCE'].H_STATUS}}</td> <!--สถานะ-->
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!--กรณีมีข้อมูล History-->
                                                            <tr ng-show="data.length > 0"
                                                                ng-repeat="item in genDatas(filtered)">
                                                                <td>{{ (pagin.currentPage-1) * pagin.itemPerPage + ($index + 1)}}</td>
                                                                <!---------------------- กรณีมี RequestNo ------------------------>
                                                                <td ng-if="item.RequestNo && !item.RequestNo.includes('#SystemImport')">
                                                                    <a style="color: #337ab7 !important;"
                                                                       ng-click="openRequest(item.RequestNo,item.RequestorCompanyCode, item.KeyMaster, 'false','false', '0')">
                                                                        {{item.RequestNo}}
                                                                    </a>unt
                                                                </td>
                                                                <!---------------------- กรณีไม่มี RequestNo ------------------------>
                                                                <td ng-if="!item.RequestNo || item.RequestNo.includes('#SystemImport')">-</td>
                                                                <td>{{item.CreateDate | date:"dd/MM/yyyy"}}</td>
                                                                <td>{{item.FirstName}} {{item.LastName}}</td>
                                                                <td>{{item.TotalAmount | currency : "": 2}}</td>
                                                                <td>{{item.PaymentAmount | currency : "": 2}}</td>
                                                                <td>
                                                                    <button ng-if="item.Status == 'COMPLETED' || item.Status == 'POSTED'" class="btn_COMPLETED">{{ Text['STATUS'][item.Status] }}</button>
                                                                    <button ng-if="item.Status == 'CANCELLED'" class="btn_CANCELLED">{{ Text['STATUS'][item.Status] }}</button>
                                                                    <button ng-if="item.Status != 'COMPLETED' && item.Status != 'CANCELLED' && item.Status != 'POSTED'" class="btn_WAITFORVERIFY">{{ Text['STATUS'][item.Status] }}</button>
                                                                </td>
                                                            </tr>

                                                            <!--กรณีไม่มีข้อมูล History-->
                                                            <tr ng-show="data.length <= 0 || genDatas(filtered).length == 0">
                                                                <td colspan="7" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row contentPagination" style="position:absolute;" id="paggingWidth" ng-show="genDatas(filtered).length > 0">
                                    <div class="col-md-12 -col_centered contentPagein">

                                        <div style="outline:none;" class="page-prev " ng-if="pagin.currentPage > 1" ng-click="changePage(pagin.currentPage-1)"><a><span class="icon-arrow_line_left"></span></a></div>
                                        <div style="outline:none;" class="page-prev " ng-if="pagin.currentPage <= 1"><a></a></div>

                                        <div class="page-pagenum" style="    margin-top: -2px;">
                                            <ul>
                                                <li ng-repeat="page in getPages()" ng-click="changePage(page)" style="margin-left:10px;" class="{{pagin.currentPage == page ? 'page-current' : ''}}">{{page}}</li>
                                            </ul>
                                        </div>

                                        <div style="outline:none;" class="page-next" ng-if="pagin.currentPage  < pagin.numPage" ng-click="changePage(pagin.currentPage+1)"> <a><span class="icon-arrow_line_right"></span></a></div>
                                        <div style="outline:none;" class="page-next " ng-if="pagin.currentPage  >= pagin.numPage"><a></a></div>
                                    </div>
                                </div>
                            </div>
                        </md-tab>
                    </md-tabs>
                </div>
           
                <div class="row" style="padding-top: 15px;">
                    <div class="col-sm-12">
                        <span class="span_name" style="color:red;">
                            {{Text['BE'].NOTE}}
                        </span>
                    </div>
                </div>

                <div class="row" style="padding-top: 15px;">
                    <div class="col-sm-12">
                        <ul>
                            <li>
                                <i ng-if="Text['BE_HEALTHIANSALLOWANCE'].USERMANUALSUB1" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                <a ng-href={{Text['BE_HEALTHIANSALLOWANCE'].LINKUSERMANUAL1}} target="_blank" style="text-decoration:underline">{{Text['BE_HEALTHIANSALLOWANCE'].USERMANUALSUB1 }}</a>
                            </li>
                            <li>
                                <i ng-if="Text['BE_HEALTHIANSALLOWANCE'].USERMANUALSUB2" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                <a ng-href={{Text['BE_HEALTHIANSALLOWANCE'].LINKUSERMANUAL2}} target="_blank" style="text-decoration:underline">{{Text['BE_HEALTHIANSALLOWANCE'].USERMANUALSUB2 }}</a>
                            </li>
                            <li>
                                <i ng-if="Text['BE_HEALTHIANSALLOWANCE'].USERMANUALSUB3" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                <a ng-href={{Text['BE_HEALTHIANSALLOWANCE'].LINKUSERMANUAL3}} target="_blank" style="text-decoration:underline">{{Text['BE_HEALTHIANSALLOWANCE'].USERMANUALSUB3 }}</a>
                            </li>
                            <li>
                                <i ng-if="Text['BE_HEALTHIANSALLOWANCE'].USERMANUALSUB4" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                <a ng-href={{Text['BE_HEALTHIANSALLOWANCE'].LINKUSERMANUAL4}} target="_blank" style="text-decoration:underline">{{Text['BE_HEALTHIANSALLOWANCE'].USERMANUALSUB4 }}</a>
                            </li>
                            <li>
                                <i ng-if="Text['BE_HEALTHIANSALLOWANCE'].USERMANUALSUB5" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                <a ng-href={{Text['BE_HEALTHIANSALLOWANCE'].LINKUSERMANUAL5}} target="_blank" style="text-decoration:underline">{{Text['BE_HEALTHIANSALLOWANCE'].USERMANUALSUB5 }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
