﻿    /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@font-face {
    font-family: rsu_b;
    src: url(css/fonts/rsu_bold-webfont.eot);
    src: url(css/fonts/rsu_bold-webfont.eot?#iefix) format("embedded-opentype"),url(css/fonts/rsu_bold-webfont.woff2) format("woff2"),url(css/fonts/rsu_bold-webfont.woff) format("woff"),url(css/fonts/rsu_bold-webfont.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: rsu_l;
    src: url(css/fonts/rsu_light-webfont.eot);
    src: url(css/fonts/rsu_light-webfont.eot?#iefix) format("embedded-opentype"),url(css/fonts/rsu_light-webfont.woff2) format("woff2"),url(css/fonts/rsu_light-webfont.woff) format("woff"),url(css/fonts/rsu_light-webfont.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: rsu_r;
    src: url(css/fonts/rsu_regular-webfont.eot);
    src: url(css/fonts/rsu_regular-webfont.eot?#iefix) format("embedded-opentype"),url(css/fonts/rsu_regular-webfont.woff2) format("woff2"),url(css/fonts/rsu_regular-webfont.woff) format("woff"),url(css/fonts/rsu_regular-webfont.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: ptt_ess;
    src: url(css/fonts/ptt_ess.eot?vdcr39);
    src: url(css/fonts/ptt_ess.eot?vdcr39#iefix) format("embedded-opentype"),url(css/fonts/ptt_ess.ttf?vdcr39) format("truetype"),url(css/fonts/ptt_ess.woff?vdcr39) format("woff"),url(css/fonts/ptt_ess.svg?vdcr39#ptt_ess) format("svg");
    font-weight: 400;
    font-style: normal;
}

        body {
        font-family: rsu_l;
        font-size: 19px;
    }
        