﻿<div class="event-page">
    <div class="event-body">

        <img src="event.png" class="img_loginlogo" alt="logo" style=" max-width: 800px;">

        <div class="button-set" ng-if="!event.hiddenVisit">
            <div class="button-ep noselect" style="margin-right:10px;">VISIT</div>
        </div>
    </div>
</div>
<style>
    .event-page {
        width: 100%;
        height: 100%;
        padding: 40px 20px 20px 20px;
        text-align:center;
    }
        .event-page .event-body {
            width: 100%;
            height: 100%;
            overflow: hidden;
            text-align: center;
        }
        .event-page .button-set {
            margin-top:20px;
        }
            .event-page .button-set .button-ep {
                max-width: 100px;
                width: 100px;
                display: inline-block;
                height: 27px;
                background: #a1d7e4;
                text-align: center;
                padding-top: 4px;
                color: white;
                cursor: pointer;
                box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
            }
                .event-page .button-set .button-ep:active {
                    background: #30889e;
                    
                }

        .noselect {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Chrome/Safari/Opera */
            -khtml-user-select: none; /* Konqueror */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                      not supported by any browser */
        }
</style>