﻿<!DOCTYPE html>
<html lang="en" ng-app="ESSMobile">
<head>
    <title>GPSC-EMPPOWER</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">

    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="icon" sizes="50x50" href="images/web-icon.png">

    <!-- angular material -->
    <!--<link rel="stylesheet" href="css/angular-material/angular-material.min.css">-->
    <link rel="stylesheet" href="css/app.css" />
    <link href="css/angular-material/angular-material.min_1.1.8.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome-animation.min.css" />
    <link rel="stylesheet" href="css/bootstrap/aws_checkbox.min.css">
    <link href="css/angular-datepicker.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="css/bootstrap-daterangepicker/md-date-range-picker.min.css" />-->
    <link rel="stylesheet" href="css/bootstrap-daterangepicker/daterangepicker.css" />
    <link href="css/datatables/datatables.min.css" rel="stylesheet" />
    <link href="css/datatables/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="css/datatables/angular-datatables.min.css" rel="stylesheet" />
    <link href="css/style_atom.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css">
    <link href="css/pttict.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/ui-select/select.min.css">
    <link href="css/selectize/selectize.bootstrap3.css" rel="stylesheet" />
    <link href="css/sweetalert2.min.css" rel="stylesheet" />
    <link href="css/ess.css" rel="stylesheet" />
    <link href="css/share.css" rel="stylesheet" />
    <link href="css/ess-mainpage.css" rel="stylesheet" />
    <script src="js/modernizr.min.js"></script>


    <!--override table style-->
    <link rel="stylesheet" href="css/tables.css">

    <!-- <link rel="stylesheet" href="css/angular-pull-to-refresh.min.css">-->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"> -->
    <!--<link href="css/theme/theme_pink.css" rel="stylesheet" />-->
    <link href="css/theme/theme_dclaim.css" rel="stylesheet" />

    <!--<link href="css/daterangepicker.css" rel="stylesheet" />-->
    <!-- start component-->
    <link href="css/components/console.css" rel="stylesheet" />
    <link href="css/components/grid-box-inbox.css" rel="stylesheet" />
    <link href="css/components/smart-create-travel.css" rel="stylesheet" />
    <link href="css/components/requestType.css" rel="stylesheet" />
    <link href="css/components/fastbutton.css" rel="stylesheet" />
    <!--end  component-->
    <!-- ag-cutting -->
    <link href="css/ag-cutting.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/fontawesome-pro-5.3.1-web/css/all.css">
    <link rel="stylesheet" href="css/components/inprogressDoc.css" />
    <link href="js/angular-tour/angular-tour.css" rel="stylesheet" />
    <link href="js/guidejs/guide.css" rel="stylesheet" />

    <!-- style be_style -->
    <link href="css/be_style.css" rel="stylesheet" />


    <!-- style style_ayodia custom v2-->
    <link href="css/style_ayodia.css" rel="stylesheet" />
    <link href="css/slick.css" rel="stylesheet" />
    <link href="css/magnific-popup.css" rel="stylesheet" />

    <!-- style style_ayodia custom overide-->
    <link href="css/style_ayodia_theme.css" rel="stylesheet" />
</head>
<body ng-controller="MainController" class="custom__theme_dark_blue">
    <div id="toaster" style="position:fixed;top:auto;left:0px;"> </div>
    <!--<div ng-click="scrollToTop()" style="outline:none; width: 55px; height: 55px; text-align: center; font-size: 25px; background: rgba(0, 0, 0, 0.29); color: white; padding-top: 12px; border-radius: 50%; position: fixed; bottom: 50px; z-index: 5; right: 30px; cursor:pointer;">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
        <md-tooltip md-direction="bottom" style="margin-top:5px;">
            <span style="font-size:15px;">Top Up</span>
        </md-tooltip>

    </div>-->
    <div class="cs-loader ag-flex-column ag-align-center ag-justify-center" id="loader" ng-show=" !Text || !SystemInitialReady || loader.enable || loader.childRequestEnable">
        <!--<div class="cs-loader-inner">
            <label>	●</label>
            <label>	●</label>
            <label>	●</label>
            <label>	●</label>
            <label>	●</label>
            <label>	●</label>
        </div>-->
        <div class="lds-css ng-scope">
            <div style="width:100%;height:100%" class="lds-ripple"><div></div><div></div></div>
        </div>
    </div>

    <div ng-show="ShowTextMenu">
        <div id="main_scroll" class="wrapper MainDocPage" style="overflow-y:scroll;">

            <div ng-if="!key_lightbox">
                <!-- Head Start-->
                <!-- Header ************************** -->
                <nav>
                    <div class="row mainNav" style=" height: 100%;">
                        <div class="col-md-3 navBlock menu-left" ng-class="{'hide-left':menuCtrl.isHideMenu}" style=" height: 100%; ">
                            <div class="row nav_b1" style="pointer-events: auto;">
                                <div class="col-md-11 -setz20 ">
                                    <div ng-if="Text" ng-include="'views/common/partials/heading.html?t='+runtime"></div>
                                </div>
                            </div>
                            <!-- nav_b2 ******************-->

                            <div id="menuSection" class="row nav_b2" style="z-index: 2; height: 100%; pointer-events:auto;">
                                <div class="col-xs-11 nav-panel" style="height:100vh;overflow-y:auto;">
                                    <div class="nav-panel_list forscroll" style="background-color:#fff;padding-bottom:70px;min-height:100%;">
                                        <div class="-pad5 menu-right-border"></div>
                                        <div ng-if="Text" class="menu-right-border" ng-include="'views/common/partials/menu.html?t='+runtime"></div>
                                        <!-- task1 -->
                                    </div>
                                    <!-- nav-panel -->

                                </div>
                                <div class="row nav-control menu-right-border" style="height:52px; left:0px;">
                                    <div class="col-xs-11 profile-control" style="position:absolute;bottom:0px" ng-if="!employeeData.IsExternalUser">
                                        <div class="row fordropshadow">
                                            <div class="col-xs-6 control-sub" style="border-right: 1px solid #00032a;padding:0;line-height:52px;"><a style="display:block;" href="./index.html#!/Setting" onclick="closeMenu()"><i class="fas fa-cogs" aria-hidden="true"></i></a></div>
                                            <div class="col-xs-6 control-sub" style="padding:0;line-height:52px;"><a style="display:block;" onclick="logout()"><i class="fas fa-sign-out-alt" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-11 profile-control" style="position:absolute;" ng-if="employeeData.IsExternalUser">
                                        <div class="row fordropshadow">
                                            <div class="col-xs-12 control-sub" style="padding:0;line-height:52px;"><a style="display:block;" onclick="logout()">Log Out</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-11 nav-panel">
                                    <div class="hide-menu-btn " ng-click="toggleMenu()">
                                        <span ng-if="!menuCtrl.isHideMenu" style="font-size: 24px;"><i class="fa fa-angle-left"></i></span>
                                        <span ng-if="menuCtrl.isHideMenu" style="font-size: 24px;"><i class="fa fa-angle-right"></i></span>
                                        <md-tooltip class="em-font-15" md-direction="bottom">
                                            {{Text['SYSTEM'].HIDE_MENU}}
                                        </md-tooltip>
                                    </div>
                                </div>

                                <!-- nav-control -->
                            </div>
                            <!-- nav_b2 -->
                            <!-- navProfile **************-->
                            <div class="row navProfile">
                                <div class="col-xs-11 nav-panel" style="visibility:hidden">
                                    <div class="nav-panel_list">
                                        <div class="row">
                                            <div class="col-md-10 col-xs-10 ProfileBlock">
                                                <img class="-img_circle -center-y profile-img" src="./images/p180.png" alt="profileImg">
                                                <p class="profile-name -txt-blue">นาย</p>
                                                <p class="profile-id">99999999</p>
                                                <p class="profile-rank">ตำแหน่ง:<span></span></p>
                                                <p class="profile-agency">หน่วยงาน:<span></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- nav-control -->
                            </div>
                            <!-- navProfile -->
                        </div>
                    </div>
                </nav>

                <!-- Head End-->
                <!-- Content ********************* -->
                <div class="row mainBlock" ng-class="{'mainBlock-hide':menuCtrl.isHideMenu}">
                    <!--<div class="menu-blocking" ng-click="toggleMenu()"></div>-->
                    <div class="col-xs-3" ng-class="{'menu-ghost-hide':menuCtrl.isHideMenu}"></div>
                    <!-- <div class="col-md-9 contentBlock" style="background-color:#e6e6e6">
                        <div ng-if="Text && SystemInitialReady" ng-view></div>
                    </div> -->
                    <div class="col-md-9 contentBlock">
                        <div ng-if="Text && SystemInitialReady" ng-view></div>
                    </div>
                    <!-- End ********************* -->
                </div>
            </div>
            <div ng-if="key_lightbox">
                <!-- Content ********************* -->
                <div class="row mainBlock" ng-class="{'mainBlock-hide':menuCtrl.isHideMenu}">
                    <!--<div class="menu-blocking" ng-click="toggleMenu()"></div>-->
                    <div class="col-xs-3" ng-class="{'menu-ghost-hide':menuCtrl.isHideMenu}"></div>
                    <!-- <div class="col-md-9 contentBlock" style="background-color:#e6e6e6">
                        <div ng-if="Text && SystemInitialReady" ng-view></div>
                    </div> -->
                    <div class="col-md-9 contentBlock">
                        <div ng-if="Text && SystemInitialReady" ng-view></div>
                    </div>
                    <!-- End ********************* -->
                </div>
            </div>
        </div>
    </div>




    <!--<script src="cordova.js"></script>-->
    <!--<script src="js/jquery-3.3.1.min.js"></script>-->
    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/number/jquery.number.js"></script>
    <script src="js/datatables/jquery.dataTables.min.js"></script>
    <script src="app/notification.js"></script>
    <script src="app/codova-events.js"></script>
    <script src="js/selectize/selectize.js"></script>

    <script type="text/javascript" src="js/vendors/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/vendors/moment.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="js/angular.min.js"></script>   <!--v1.6.9-->

    <script type="text/javascript" src="js/slick.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.js"></script>
    <!-- angular material -->
    <script src="js/angular-material/angular-animate.min.js"></script>  <!--v1.6.9-->
    <script src="js/angular-material/angular-aria.min.js"></script>  <!--v1.6.9-->
    <script src="js/angular-material/angular-messages.min.js"></script>  <!--v1.6.9-->
    <!--<script src="js/angular-material/angular-material.min.js"></script>-->
    <script src="js/angular-material/angular-material.min1.1.8.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/angular-datepicker-edited.js?v=Emp34888"></script>
    <script src="js/angular-datepicker.js?v=dxcare0001"></script>



    <script src="js/angular-base64-upload.js"></script>
    <script src="js/selectize/angular-selectize.js"></script>
    <script src="js/datatables/angular-datatables.min.js"></script>
    <script src="js/ui-select/select.min.js"></script>
    <script src="js/sweetalert2.all.min.js"></script>
    <script src="js/fileSaver/FileSaver.js"></script>
    <script src="js/ng-file-upload/ng-file-upload-shim.js"></script>
    <script src="js/ng-file-upload/ng-file-upload.js"></script>

    <script src="css/ckeditor/ckeditor.js"></script>
    <script src="css/ckeditor/angular-ckeditor.min.js"></script>
    <script src="css/chart/Chart.min.js"></script>
    <script src="css/chart/angular-chart.min.js"></script>

    <!-- modal bootstrap -->
    <script src="js/ui-bootstrap-tpls-2.0.0.min.js"></script>


    <!--<script src="css/daterangepicker.min.js"></script>-->
    <!--<script src="js/bootstrap-daterangepicker/md-date-range-picker.min.js"></script>-->
    <script src="js/bootstrap-daterangepicker/angular-daterangepicker.js"></script>
    <script src="js/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!--<script src="js/angular-pull-to-refresh.min.js"></script>-->
    <script src="app/app.js?v=Emp34888"></script>
    <script src="app/route.js?v=Emp34888"></script>
    <script src="app/authentication.js?v=Emp34888"></script>
    <script src="app/MainController.js?v=Emp34888"></script>
    <!--<script src="app/notification.js"></script>-->


    <script src="app/filters/GeneralFilter.js?v=Emp34888"></script>

    <!-- <script src="js/ui-carousel.min.js?v=Emp34890"></script> -->
    <!-- Directive -->
    <script src="app/directives/ExpenseReceiptEditorDirective.js?v=Emp34888"></script>
    <script src="app/directives/ExpenseWithoutReceiptEditorDirective.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/EssExpenseReceiptViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/EssExpenseWithoutReceiptViewerController.js?v=Emp34888"></script>
    <script src="app/directives/ExpenseViewHistoryDirective.js?v=Emp34888"></script>
    <script src="app/directives/ExpenseViewHistoryBlockDirective.js?v=Emp34888"></script>
    <script src="app/directives/date-picker.js"></script>
    <!-- !Directive -->
    <script src="app/controllers/common/MenuController.js?v=Emp34888"></script>
    <script src="app/controllers/common/ContentController.js?v=Emp34888"></script>
    <script src="app/controllers/common/BoxController.js?v=Emp34888"></script>
    <script src="app/controllers/common/RequestController.js?v=Emp34888"></script>
    <script src="app/controllers/common/RequestSupportController.js?v=Emp34888"></script>
    <script src="app/controllers/common/ResultController.js?v=Emp34888"></script>
    <script src="app/controllers/common/SettingController.js?v=Emp34888"></script>
    <script src="app/controllers/common/ActionInsteadOfController.js?v=Emp34888"></script>
    <script src="app/controllers/common/partials/BarProfileController.js?v=Emp34888"></script>
    <script src="app/controllers/common/ByPassTicketController.js?v=Emp34888"></script>


    <!--Box-->

    <script src="app/controllers/wf/BoxContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/OrganizationStructure.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/Delegation.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/setting/PersonalDataSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/setting/PersonalDataSettingCreateController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/setting/PersonalDataSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/setting/PersonalDataSettingEditorForPersonalDataController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/setting/PersonalDataSettingEditorForOrganizationDataController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/setting/PersonalDataSettingEditorForContactDataController.js?v=Emp34888"></script>

    <script src="app/controllers/hr/pa/requesttype/DelegationViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/requesttype/DelegationEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/requesttype/DeleteDelegationViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/requesttype/DeleteDelegationEditorController.js?v=Emp34888"></script>

    <script src="app/controllers/hr/om/setting/ObjectSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/om/setting/ObjectSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/om/setting/RelationSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/om/setting/RelationSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/om/setting/PositionLevelController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/om/setting/PositionLevelEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/common/RequestViewerWithReSimulateController.js?v=Emp34888"></script>
    <!--<script src="app/controllers/hr/tr/requesttype/ReportWOTravelEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/ReportWOTravelViewerController.js?v=Emp34888"></script>-->
    <script src="app/controllers/hr/tr/data/CashAdvanceExistsingController.js?v=Emp34888"></script>
    <script src="app/controllers/wf/BoxContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/OrganizationStructure.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/Delegation.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/setting/PersonalDataSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/setting/PersonalDataSettingCreateController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/setting/PersonalDataSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/setting/PersonalDataSettingEditorForPersonalDataController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/setting/PersonalDataSettingEditorForOrganizationDataController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/setting/PersonalDataSettingEditorForContactDataController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/om/setting/ObjectSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/om/setting/ObjectSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/om/setting/RelationSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/om/setting/RelationSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/om/setting/PositionLevelController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/om/setting/PositionLevelEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/common/RequestViewerWithReSimulateController.js?v=Emp34888"></script>
    <!--<script src="app/controllers/hr/tr/requesttype/ReportWOTravelEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/ReportWOTravelViewerController.js?v=Emp34888"></script>-->
    <script src="app/controllers/hr/tr/data/CashAdvanceExistsingController.js?v=Emp34888"></script>

    <script src="app/controllers/wf/BoxContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/OrganizationStructure.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/Delegation.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/setting/PersonalDataSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/setting/PersonalDataSettingCreateController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/setting/PersonalDataSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/setting/PersonalDataSettingEditorForPersonalDataController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/setting/PersonalDataSettingEditorForOrganizationDataController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/setting/PersonalDataSettingEditorForContactDataController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/om/setting/ObjectSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/om/setting/ObjectSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/om/setting/RelationSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/om/setting/RelationSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/om/setting/PositionLevelController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/om/setting/PositionLevelEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/common/RequestViewerWithReSimulateController.js?v=Emp34888"></script>
    <!--<script src="app/controllers/hr/tr/requesttype/ReportWOTravelEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/ReportWOTravelViewerController.js?v=Emp34888"></script>-->
    <script src="app/controllers/hr/tr/data/CashAdvanceExistsingController.js?v=Emp34888"></script>


    <script src="app/controllers/hr/pa/CV.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/requesttype/CVErrorEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/requesttype/CVErrorViewerController.js?v=Emp34888"></script>

    <!-- TE Master Function -->
    <script src="app/controllers/hr/tr/_MasterEditRequestController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/_MasterTravelRequestController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/_MasterEditReportController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/_MasterEditGeneralExpenseController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/_MasterEditGeneralExpenseRefController.js?v=Emp34888"></script>
    <!--<script src="app/controllers/hr/tr/_MasterExpenseListReceiptViewer.js?v=Emp34888"></script>-->
    <script src="app/controllers/hr/tr/_MasterCancelRequestController.js?v=Emp34888"></script>
    <!-- Setting -->
    <script src="app/controllers/hr/tr/Setting/CarRegistrationSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/CarRegistrationSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/CarTypeSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/CarTypeSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/VATTypeSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/ExpensTypeGroupSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/ExpenseTypeSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/ExpenseRateSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/TravelTypeSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/DayFractionRoundingRuleSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/ProjectSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/CreditCardSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/VATTypeSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/ExpensTypeGroupSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/ExpenseTypeSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/ExpenseRateSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/TravelTypeSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/DayFractionRoundingRuleSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/ProjectSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/CreditCardSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/MileageRateSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/MileageRateSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/FlatRateSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/FlatRateSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/ExpenseTypeGroupCreatingRuleSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/ExpenseTypeGroupCreatingRuleSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/ExpenseTypeAmountInRightSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/Setting/ExpenseTypeAmountInRightSettingEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/wf/Setting/UserRoleSetting.js?v=Emp34888"></script>
    <script src="app/controllers/wf/Setting/UserRoleSettingEditorController.js?v=Emp34888"></script>
    <!-- Travel -->
    <script src="app/controllers/hr/tr/TravelExpenseContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/TravelRequestEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/TravelRequestViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/EditTravelGroupEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/EditTravelGroupViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/EditTravellerEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/EditTravellerViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelExpenseProjectEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelExpenseExchangeRateEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelExpenseGroupEstimateEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelExpensePersonalEstimateEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelExpenseBorrowGroupEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelExpenseBorrowPersonalEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelExpensePrettyCashDetailEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelExpenseReasonEditorController.js?v=Emp34888"></script>
    <!--<script src="app/controllers/hr/tr/data/TravelExpenseTravelSequenceController.js?v=Emp34888"></script>-->
    <script src="app/controllers/hr/tr/data/TravelExpenseTravelSequenceEditorController.js?v="></script>
    <script src="app/controllers/hr/tr/data/TravelExpenseSummaryEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelExpensePersonalCashAdvanceController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelExpenseGroupCashAdvanceController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelExpenseTravellerCashAdvanceController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelRemarkController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelExpensePaymentFlagController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelCashAdvanceReturnController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelCashAdvanceSummaryEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelExpenseNewGroupManagerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/PerdiemDistribution.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/RoomateForNone.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/ManualResponseLogController.js?v=Emp34888"></script>
    <!--Acknowledge-->
    <script src="app/controllers/hr/tr/AcknowledgeContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/GeneralExpenseContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/GeneralExpenseEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/GeneralExpensePCEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/GeneralExpenseViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/GeneralExpensePCViewerController.js?v=Emp34888"></script>

    <script src="app/controllers/hr/tr/requesttype/GeneralExpenseRefTravelEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/GeneralExpenseRefTravelViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelExpenseRefTravelEditorController.js?v=Emp34888"></script>

    <!-- Add New by Nipon Supap Travel Petty Cash Ref Travel 16-02-2017 11:42 PM-->
    <script src="app/controllers/hr/tr/requesttype/GeneralExpensePettyCashRefTravelEditor.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/GeneralExpensePettyCashRefTravelViewer.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelRequestPettyCashRefTravelController.js?v=Emp34888"></script>

    <script src="app/controllers/hr/tr/requesttype/TravelRequestCAViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/TravelRequestCAEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/CARequestEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/CARequestViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/PCRequestEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/PCRequestViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/CancelTravellerEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/CancelTravellerViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/CancelTravelGroupEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/CancelTravelGroupViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelSequentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelRequestPettyCashController.js?v=Emp34888"></script>

    <script src="app/controllers/hr/tr/MonitoringContentController.js?v=Emp34888"></script>

    <!--Travel Report-->
    <script src="app/controllers/hr/tr/requesttype/TravelReportEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/TravelReportViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/TravelReportForCorpEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/TravelReportForCorpViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/TravelReportWithPettyCashEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/TravelReportWithPettyCashViewerController.js?v=Emp34888"></script>

    <script src="app/controllers/hr/tr/data/TravelReportTravelSequenceEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelReportPersonalCashAdvanceController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelReportExchangeRateEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelReportCashAdvanceReturnController.js?v=Emp34888"></script>

    <script src="app/controllers/hr/tr/report/ApproveExpenseReportController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/report/CoverSheetController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/report/CreditCardReportController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/report/InprogressDocReportController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/report/InprogressDocByExpenseTypeReportController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/report/PettyCashStatusReportController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/report/PostDetailReportController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/report/SummaryExpenseReportController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/report/UnclearCashAdvanceReportController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/report/UnclearCashAdvanceReportForBSAController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/report/ExpenseDetailReportController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/TravelExpensePettyCashController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/TravelRequestPCEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/requesttype/TravelRequestPCViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/CashAdvanceExistsingController.js?v=Emp34888"></script>

    <!--OM-->
    <script src="app/controllers/hr/om/requesttype/ReportOMEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/om/requesttype/ReportOMViewerController.js?v=Emp34888"></script>


    <!--PA-->
    <script src="app/controllers/hr/pa/CommunicationContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/PersonalAddressContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/PersonalInformationContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/requesttype/PersonalDataEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/requesttype/PersonalDataViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/requesttype/CommunicationDataEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/requesttype/CommunicationDataViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/requesttype/AddressEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/requesttype/AddressViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/PersonalAccountContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/PersonalFamilyContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/requesttype/FamilyDataEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/requesttype/FamilyDataViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/requesttype/FamilyDataDeleteEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/requesttype/FamilyDataDeleteViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/PersonalDriverLicenseController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/AdminDriverLicenseController.js?v=Emp34888"></script>

    <script src="app/controllers/hr/pa/PersonalEducationContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/requesttype/EducationEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/pa/requesttype/EducationViewerController.js?v=Emp34888"></script>

    <!--PY-->
    <script src="app/controllers/hr/py/TaxReportContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/TaxReportPeriodSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/PinSettingContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/PaySlipContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/PaySlipPeriodSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/CreatePINCodeSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/PayrollReportForAdminContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/PFChangePlanReportController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/PFChangeRateAmountPlanReportController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/VerifyPincodeController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/Admin/ProvidentfundController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/Admin/ImportProvidentfundController.js?v=Emp34888"></script>

    <script src="app/controllers/hr/py/RoleSettingControler.js?v=Emp34888"></script>

    <!-- TM -->
    <script src="app/controllers/hr/tm/TimeSheetController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/LeaveTimeManagementSystemController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/OvertimeManagementSystemController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/DutyPaymentContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/AbsenceEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/AbsenceViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/DailyOTEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/DailyOTViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/AttendanceEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/AttendanceViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/ChangeAttendanceEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/ChangeAttendanceViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/ChangeAbsenceEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/ChangeAbsenceViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/TimesheetManagementEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/TimesheetManagementViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/ChangeWorkingTimeTypeController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/DeleteDailyOTEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/DeleteDailyOTViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/DutyPaymentMonthlyEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/DutyPaymentViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/MonthlyOTViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/MonthlyOTEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/SubstitutionViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/SubstitutionEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/SubstitutionDeleteEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/SubstitutionDeleteViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/PeriodEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/requesttype/PeriodViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/report/OTLogReportController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/report/ClockinLateClockoutEarlyController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/ReportAdminController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/SettingSystemForAdminController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/report/AbsAttReportViewerForTimeAdminController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/report/OTSummaryByHourController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/report/AbsnceSummaryWorkLocationController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/dashboard/OTSummaryByAdminAndSupervisorController.js?v=Emp34888"></script>

    <script src="app/controllers/hr/tm/report/OTTrackingStatusReportController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/report/DutyTrackingStatusReportController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/report/TimeScanReportController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/report/AttendanceMonthlyReportController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tm/report/WorkingSummaryReportController.js?v=Emp34888"></script>



    <!-- PY -->
    <script src="app/controllers/hr/py/LetterContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/LetterPrintContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/requesttype/LetterEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/requesttype/LetterViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/TaxAllowanceContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/ProvidentFundContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/requesttype/TaxAllowanceEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/requesttype/TaxAllowanceViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/ConsoleController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/tr/data/InProgressDocController.js?v=Emp34888"></script>

    <script src="app/controllers/common/components/smart-create-travel.js?v=Emp34888"></script>
    <script src="app/controllers/common/components/action-flow.js?v=Emp34888"></script>
    <script src="js/angular-tour/angular-tour-tpls.js"></script>
    <script src="js/guidejs/guide.js"></script>

    <!--BE => EducationAllowance-->
    <script src="app/controllers/hr/be/EducationAllowanceContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/be/requesttype/EducationAllowanceEditor.js?v=Emp34888"></script>
    <script src="app/controllers/hr/be/requesttype/EducationAllowanceViewer.js?v=Emp34888"></script>
    <script src="app/controllers/hr/be/report/DetailWelfareController.js?v=Emp34888"></script>


    <!--BE => HealthInsurance-->
    <script src="app/controllers/hr/be/HealthInsuranceContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/be/requesttype/HealthInsuranceViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/be/requesttype/HealthInsuranceEditorController.js?v=Emp34888"></script>

    <!--BE => FitnessAllowance-->
    <script src="app/controllers/hr/be/FitnessAllowanceContentController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/be/requesttype/FitnessAllowanceEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/be/requesttype/FitnessAllowanceViewerController.js?v=Emp34888"></script>

    <!--BE => CremationSystem-->
    <script src="app/controllers/hr/be/CremationSystemContent.js?v=Emp34888"></script>
    <script src="app/controllers/hr/be/requesttype/CremationEditor.js?v=Emp34888"></script>
    <script src="app/controllers/hr/be/requesttype/CremationViewer.js?v=Emp34888"></script>

    <!--BE => Dasbaord -->
    <script src="app/controllers/hr/be/dashboard/EmployeeWelfareController.js"></script>


    <!--script src="app/controllers/hr/be/HealthInsAllowanceReportForAdminContentController.js"></script-->
    <script src="app/controllers/hr/be/report/HealthInsAllowanceReportForAdminContentController.js"></script>

    <!--ProvidentFund-->
    <script src="app/controllers/hr/py/ProvidentFundSetting.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/TimeAwareLinkSetting.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/requesttype/ProvidentFundEditor.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/requesttype/ProvidentFundViewer.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/requesttype/ProvidentMemberEditor.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/requesttype/ProvidentMemberViewer.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/requesttype/PFPercentageEditor.js?v=Emp34888"></script>
    <script src="app/controllers/hr/py/requesttype/PFPercentageViewer.js?v=Emp34888"></script>

    <!--BenefitReport-->
    <script src="app/controllers/hr/be/BenefitReportController.js?v=Emp34888"></script>

    <!--FlexibleBenefitManagement-->
    <script src="app/controllers/hr/fb/requesttype/EnrollmentEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/fb/requesttype/EnrollmentViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/fb/requesttype/ReimburseEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/fb/requesttype/ReimburseViewerController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/fb/FlexibleBenefitManagementViewerController.js?v=Emp34888"></script>

    <script src="app/controllers/hr/fb/report/TrackingRegisterFlexBenReportController.js?v=Emp34888"></script>

    <script src="app/controllers/hr/fb/AnnouncementSettingController.js?v=Emp34888"></script>
    <script src="app/controllers/wf/DxcareSSOController.js?v=Emp34888"></script>
    <script src="app//controllers/hr/admin/groupAnnouncementController.js?v=Emp34888"></script>
    <script src="app//controllers/hr/announcementEmployee/announcementNotify/announcementNotifyListController.js?v=Emp34888"></script>
    <script src="app//controllers/hr/announcementEmployee/announcementNotify/announcementNotifyDetailController.js?v=Emp34888"></script>

    <!-- ประกาศหลัก -->
    <script src="app//controllers/hr/admin/announcement/ImportantNotice/listImportantNoticeController.js?v=Emp34888"></script>
    <script src="app//controllers/hr/admin/announcement/ImportantNotice/createImportantNoticeController.js?v=Emp34888"></script>
    <script src="app//controllers/hr/admin/announcement/ImportantNotice/editImportantNoticeController.js?v=Emp34888"></script>

    <!-- ประกาศประชาสัมพันธ์ -->
    <script src="app/controllers/hr/admin/announcement/publicRelations/listPublicRelationsController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/admin/announcement/publicRelations/createPublicRelationsController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/admin/announcement/publicRelations/editPublicRelationsController.js?v=Emp34888"></script>

    <!-- ประกาศข้อความ -->
    <script src="app/controllers/hr/admin/announcement/publicRelationsText/listPublicRelationsTextController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/admin/announcement/publicRelationsText/createPublicRelationsTextController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/admin/announcement/publicRelationsText/editPublicRelationsTextController.js?v=Emp34888"></script>

    <!-- ประกาศสวัสดิการอื่นๆ -->
    <script src="app/controllers/hr/admin/announcement/employeeWelfareOther/listEmployeeWelfareOtherController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/admin/announcement/employeeWelfareOther/createEmployeeWelfareOtherController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/admin/announcement/employeeWelfareOther/editEmployeeWelfareOtherController.js?v=Emp34888"></script>

    <!-- การตั้งคาเครื่องแต่งกาย -->

    <script src="app/controllers/hr/fb/uniFormSetting/UniFormSettingController.js?v=Emp34888"></script>

    <!-- ลงทะเบียนประกันสุขภาพ Content-->
    <script src="app/controllers/hr/be/HealthInRegistorContentController.js?v=Emp34888"></script>
    <!-- ลงทะเบียนประกันสุขภาพ RequestType -->
    <script src="app/controllers/hr/be/requesttype/RegistorHealthInsuranceEditorController.js?v=Emp34888"></script>
    <script src="app/controllers/hr/be/requesttype/RegistorHealthInsuranceViewerController.js?v=Emp34888"></script>

    <!-- ตั้งค่าเครื่องแต่งกาย -->
    <script src="app/controllers/hr/fb/uniFormSetting/UniFormSettingController.js?v=Emp34888"></script>

    <!-- ตั้งค่าลงทะเบียนประกันสุขภาพ -->
    <script src="app/controllers/hr/be/healthSetting/healthSettingController.js?v=Emp34888"></script>
    <script>
        checkAuthorize();
        setUpPushNotification();
    </script>
</body>
</html>