﻿<!DOCTYPE html>
<html lang="en">

<head>
    <title>GPSC-EMPPOWER</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="icon" sizes="50x50" href="images/web-icon.png">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="css/pttict.css" rel="stylesheet" />
    <link href="css/theme/theme_dclaim.css" rel="stylesheet" />
    <link href="css/ag-cutting.css" rel="stylesheet" />
    <!--<script src="js/jquery-3.3.1.min.js"></script>-->


</head>
<body class="loginPageBody" ng-app="LoginApp">

    <div class="wrapper loginPage" ng-controller="CompanyController" title="{{Environment}}">
        <div class="logo_left">
            <img src="images/logogpsc.png" alt="Alternate Text" />
        </div>

        <div class="bg_onlogin">
            <img src="images/bg_onlogin.png" alt="Alternate Text" />
        </div>

        <div ng-if="event.isEvent">
            <div ng-include="'event.html'" style=" position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #e6e6e6; z-index: 3;"></div>
        </div>

        <div class="box_login_right">

            <!-- Content ********************* -->
            <div class="ag-flex-column ag-align-center loginBlockin-ag-content" ng-if="!event.isEvent">
                <div class="loginBlockin-ag">
                    <div class="row login-content" ng-if="CompanyList">
                        <div id="ErrorMessage" class="alert alert-danger" style="visibility:hidden;text-align:center;">
                        </div>
                        <div class="col-md-10 col-xs-11 -col_centered">
                            <form class="-mrg_btn2" autocomplete="off" onsubmit="login()" method="post">
                                <div class="login_logo_header">
                                    <img class="login_texttop" src="images/Emppower.png" alt="login texttop" />
                                </div>
                                <div class="form-group" ng-if="CompanyList">
                                    <select id="inputCompany" class="form-control login-input" ng-model="selCompany" ng-options="c.Name for c in CompanyList track by c.CompanyCode"><option value="" disabled selected hidden>Select Company...</option></select>
                                </div>
                                <div class="form-group">
                                    <!--<input autocomplete="off" type="text" class="form-control login-input" id="inputAccount" maxlength="200" placeholder="Username" value="" onfocus="hidefooter_mobile()" onblur="showfooter_mobile()">-->
                                    <input autocomplete="off" type="text" class="form-control login-input" id="inputAccount" maxlength="200" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <!--<input autocomplete="off" type="password" class="form-control login-input" id="inputPassword" maxlength="255" placeholder="Password" onfocus="hidefooter_mobile()" onblur="showfooter_mobile()">-->
                                    <input autocomplete="off" type="password" class="form-control login-input" id="inputPassword" maxlength="255" placeholder="Password">
                                </div>
                                <!--<div class="form-group company-list" ng-if="CompanyList">
                                    <select id="inputCompany" class="form-control login-input" ng-init="selCompany = CompanyList[0]" ng-model="selCompany" ng-options="c.Name for c in CompanyList track by c.CompanyCode"><option value="" disabled selected hidden>Select Company...</option></select>
                                </div>-->


                                <div class="ag-flex-column ag-align-center check_enter">
                                    <button id="login_button" type="submit" class="btn btn-default -txt-white">
                                        <span>SIGN IN</span>
                                    </button>
                                </div>
                                
                                <div class="row" ng-hide="CompanyList">
                                    <div class="col-md-10 col-xs-11 -col_centered">
                                        <a>
                                            <p class="help-block -txt-blue text-center" style="font-size:22px;padding-left:40px;">Loading Company List ...</p>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <style>
                        @media only screen and (max-width: 769px) {
                            .image-company {
                                max-width: 85px !important;
                            }

                            .semi-background-powered-by {
                                margin-top: 2rem;
                            }

                            .semi-background-title {
                                color: #828282 !important;
                            }

                            .loginBlockin-ag {
                                position: initial !important;
                                width: 100% !important;
                                max-width: 100% !important;
                                margin-top: 0 !important;
                                min-height: 100%;
                            }

                            .login-content {
                                top: 0;
                                right: unset;
                                left: 0;
                                min-height: 100%;
                            }

                            .loginBlockin-ag-content {
                                width: 100% !important;
                                max-width: 100% !important;
                                min-height: 100%;
                            }

                            .login-content {
                                width: 100% !important;
                                max-width: 100% !important;
                                min-height: 100%;
                            }
                        }

                        .alert-danger {
                            height: 2rem;
                            position: absolute;
                            width: 100%;
                            right: 0;
                            bottom: 0;
                            line-height: 5px;
                            z-index: 1;
                            top: unset;
                            margin-bottom: 0px;
                        }

                        .image-company {
                            width: 100%;
                            max-width: 175px;
                        }

                        .semi-background-title {
                            font-size: 50px;
                            color: white;
                            font-family: unset;
                        }

                        .semi-background {
                            position: absolute;
                            top: 2rem;
                            height: 21rem !important;
                            left: 0px;
                            width: 100%;
                            height: 20px;
                            background: rgba(0, 0, 0, 0.65);
                            padding: 5rem 0rem 1rem 3rem;
                        }

                        .semi-background-powered-by {
                            color: #c1c1c1;
                            font-size: 15px;
                        }

                        .loginBlockin-ag {
                            position: relative;
                            width: 100%;
                            max-width: 780px;
                            height: 20px;
                            margin-top: 8rem;
                        }

                        .login-title {
                            font-size: 30px;
                            color: #ab9bff;
                            margin-bottom: 3rem;
                        }

                        .login-content {
                            background: white;
                            padding: 5rem 1rem 1rem 1rem;
                            box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
                            position: absolute;
                            top: 0rem;
                            right: 50px;
                            max-width: 400px;
                        }

                        #login_button {
                            margin-top: 2rem;
                            height: 40px;
                            font-size: 25px;
                            max-width: 160px;
                            background: #ab9bff !important;
                            width: 100%;
                            height: 40px;
                            line-height: 30px;
                            outline: none;
                            border: 0px !important;
                        }

                        .login-input {
                            border: 0px;
                            box-shadow: none;
                            color: #ab9bff !important;
                            border-bottom: 1px solid #ab9bff;
                            border-radius: 0px;
                            background: rgba(255, 255, 255, 0) !important;
                        }
                    </style>
                </div>

            </div>
            <div class="copyright_footer">
                <p>COPYRIGHT  © 2018</p>
                <p>BY Global Power Synergy Public Company Limited</p>
            </div>
        </div>
        <!-- End ********************* -->
        <!-- style be_style -->
        <link href="css/be_style.css" rel="stylesheet" />

        <!--<script src="js/jquery-3.3.1.min.js"></script>-->
        <script src="js/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="js/vendors/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-route.min.js"></script>
        <script src="app/app.js?v=dxcare0002"></script>
        <script src="app/route.js?v=dxcare0002"></script>
        <script src="app/authentication.js?v=dxcare0002"></script>
        <!--<script src="app/controllers/common/partials/CompanyController.js"></script>-->
    </div>
</body>

</html>
<script type="text/javascript">
    window.localStorage.removeItem("com.pttdigital.ess.authorizeUser");
    window.localStorage.removeItem("com.pttdigital.ess.announcement");
    window.localStorage.removeItem('com.pttdigital.ess.menu');


    //$(document).ready(function () {
    //    function hidefooter_mobile() {
    //        $(".copyright_footer").addClass("hidefooter");
    //        $(".logo_left").addClass("hidefooter");
    //        $(".login_logo_header").addClass("hidefooter");

    //    }

    //    function showfooter_mobile() {
    //        $(".copyright_footer").removeClass("hidefooter");
    //        $(".logo_left").removeClass("hidefooter");
    //        $(".login_logo_header").removeClass("hidefooter");

    //    }
    //});


    $(document).ready(function () {
        var _originalSize = $(window).width() + $(window).height()
        $(window).resize(function () {
            if ($(window).width() + $(window).height() != _originalSize) {
                console.log("keyboard show up");
                $(".copyright_footer").addClass("hidefooter");
                $(".logo_left").addClass("hidefooter");
                $(".login_logo_header").addClass("hidefooter");
            } else {
                $(".copyright_footer").removeClass("hidefooter");
                $(".logo_left").removeClass("hidefooter");
                $(".login_logo_header").removeClass("hidefooter");
            }
        });
    });



</script>
