﻿<div class="TravelExManPage delegation-page" ng-controller="AbsenceViewerController" ng-init="init();">

    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['HRTMABSENCE']['ABSENCEDETAIL']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-6 lr-0">
                    <div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['ABSENCETYPE']}}</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-basic-md-center-input color-main">
                            <span>{{ABSENCETYPE[textAbsenceType]}}</span>
                        </div>
                    </div>


                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-4">
                            <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['REMARK']}}</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="text-basic-md-center-input">{{document.Additional.INFOTYPE2001[0].Remark}}</div>
                        </div>
                    </div>
                    <!--<div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['ABSENCEHOURS']}}</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-basic-md-center-input">{{document.Additional.INFOTYPE2001[0].AbsenceHours}}</div>
                    </div>-->
                </div>
                <div class="col-sm-6 lr-0">
                    <div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['ABSENCEDATE']}}</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-basic-md-center-input">
                            <span ng-if="document.Additional.INFOTYPE2001[0].AllDayFlag">  {{document.Additional.INFOTYPE2001[0].BeginDate |  date:'dd-MM-yyyy'}} - {{document.Additional.INFOTYPE2001[0].EndDate |  date:'dd-MM-yyyy'}}</span>
                            <span ng-if="!document.Additional.INFOTYPE2001[0].AllDayFlag">  {{document.Additional.INFOTYPE2001[0].BeginDate |  date:'dd-MM-yyyy'}}  {{document.Additional.INFOTYPE2001[0].TimeText}} </span>
                            <!--<span ng-if="!document.Additional.INFOTYPE2001[0].AllDayFlag">  {{document.Additional.INFOTYPE2001[0].BeginDate |  date:'dd-MM-yyyy'}} ( {{document.Additional.INFOTYPE2001[0].BeginTime}} - {{document.Additional.INFOTYPE2001[0].EndTime}} )</span>-->
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['ABSENCEDAYS']}}</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-basic-md-center-input">{{document.Additional.INFOTYPE2001[0].PayrollDays}}</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="content-by-ayodia margin-b20 " ng-if="document.Additional.DELEGATEDATA[0].DelegateTo">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['HRTMABSENCE']['DELEGATEDETAIL']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-6 lr-0">
                    <div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['DELEGATE_EMPLOYEEID']}}</div>
                    </div>
                    <div class="col-sm-8">
                        <div class="s-detail font-16"> {{Text['BE_EDUCATIONALLOWANCE']['FULL_NAME']}} : {{employeeDelegateData.EmployeeID}} {{employeeDelegateData.EmployeeName}}</div>
                        <div class="s-detail font-16"> {{Text['HRTMABSENCE']['DELEGATE_POSITION']}} : {{employeeDelegateData.PositionName}}</div>
                        <div class="s-detail font-16"> {{Text['HRTMABSENCE']['DELEGATE_ORGANIZE']}} : {{employeeDelegateData.OrgUnitName}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<pre>{{document.Additional | json}}</pre>-->
</div>