﻿<div class="TravelExManPage delegation-page" ng-controller="AbsenceEditorController" ng-init="init();">

    <h1>{{Text['HRTMABSENCE']['CREATE']}}</h1>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['HRTMABSENCE']['ABSENCEDETAIL']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['ABSENCETYPE']}} :</div>
                    </div>
                    <div class="col-sm-5 margin-b20">
                        <select class="form-control w-100" ng-model="document.Additional.INFOTYPE2001[0].AbsenceType" ng-change="getAbsenceTime();">
                            <option ng-if="list_leavetype_all.length > 0"
                                    ng-repeat="item in list_leavetype_all"
                                    value="{{item.Key}}">
                                {{item.Description}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b20">
                    <div class="line-under "></div>
                </div>
            </div>

            <!-- ลาพักผ่อนประจำปี (0100) -->
            <div ng-if="document.Additional.INFOTYPE2001[0].AbsenceType == '0100'">
                <div class="row">
                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2 ">
                            <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['ABSENCEDATE']}} :</div>
                        </div>
                        <div class="col-xs-5 col-sm-2 margin-b10">
                            <div class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                                <datepicker show-holidays="true" date-limit-from-api="true" date-limit-from-api-mode="afterHire" callback-on-change="setSelectedBegin(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.INFOTYPE2001[0].BeginDate}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-1">
                            <div class="text-basic-md-center-input color-main text-center">{{Text['HRTMABSENCE']['ABSENCEDATETO']}}</div>
                        </div>
                        <div class="col-xs-5 col-sm-2">
                            <div class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                                <datepicker show-holidays="true" date-limit-from-api="true" date-limit-from-api-mode="afterHire" callback-on-change="setSelectedEnd(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.INFOTYPE2001[0].EndDate}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12  margin-b20">
                        <div class="line-under "></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2">
                            <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['GOODBYETIME']}} :</div>
                        </div>
                        <div class="col-sm-3 margin-b20">
                            <select class="form-control w-100" ng-model="document.Additional.INFOTYPE2001[0].AbsentPeriod" ng-change="choose_period(document.Additional.INFOTYPE2001[0].AbsentPeriod);">
                                <option ng-if="list_index_period.length > 0" ng-repeat="period in list_index_period" value="{{period}}">{{list_period[period]}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12  margin-b20">
                        <div class="line-under"></div>
                    </div>
                </div>
            </div>

            <!-- ลาป่วยมีใบรับรองแพทย์ (0200)
               ,ลาป่วยไม่มีใบรับรองแพทย์ (0220)
               ,ลาป่วยไม่มีใบรับรองแพทย์ (0240)
               ,ลาป่วยไม่มีใบรับรองแพทย์ (0240)
               ,ลาป่วยเนื่องจากการทำงานเกิน 180 จ่าย 60% (0250)
               ,ลากิจ (0300)
            -->
            <div ng-if="document.Additional.INFOTYPE2001[0].AbsenceType == '0200'
                 || document.Additional.INFOTYPE2001[0].AbsenceType == '0220'
                 || document.Additional.INFOTYPE2001[0].AbsenceType == '0240'
                 || document.Additional.INFOTYPE2001[0].AbsenceType == '0250'
                 || document.Additional.INFOTYPE2001[0].AbsenceType == '0300'
                 || document.Additional.INFOTYPE2001[0].AbsenceType == '0400'
                 || document.Additional.INFOTYPE2001[0].AbsenceType == '0410'
                 || document.Additional.INFOTYPE2001[0].AbsenceType == '0420'
                 || document.Additional.INFOTYPE2001[0].AbsenceType == '0500'
                 || document.Additional.INFOTYPE2001[0].AbsenceType == '0600'
                 || document.Additional.INFOTYPE2001[0].AbsenceType == '0700'">
                <div class="row">
                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2 ">
                            <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['ABSENCEDATE']}} :</div>
                        </div>
                        <div class="col-xs-5 col-sm-2 margin-b10">
                            <div class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                                <datepicker show-holidays="true" date-limit-from-api="true" date-limit-from-api-mode="afterHire" callback-on-change="setSelectedBegin(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.INFOTYPE2001[0].BeginDate}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-1">
                            <div class="text-basic-md-center-input color-main text-center">{{Text['HRTMABSENCE']['ABSENCEDATETO']}}</div>
                        </div>
                        <div class="col-xs-5 col-sm-2">
                            <div class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                                <datepicker show-holidays="true" date-limit-from-api="true" date-limit-from-api-mode="afterHire" callback-on-change="setSelectedEnd(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.INFOTYPE2001[0].EndDate}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12  margin-b20">
                        <div class="line-under "></div>
                    </div>
                </div>
            </div>

            <!-- ลาป่วย 1/2 มีใบแพทย์ (0210) ,ลาป่วย 1/2 ไม่มีใบแพทย์ (0230) , ลากิจ 1/2  (0310) -->
            <div ng-if="document.Additional.INFOTYPE2001[0].AbsenceType == '0210'
                 || document.Additional.INFOTYPE2001[0].AbsenceType == '0230'
                 || document.Additional.INFOTYPE2001[0].AbsenceType == '0310'">
                <div class="row">
                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2 ">
                            <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['ABSENCEDATE']}} :</div>
                        </div>
                        <div class="col-xs-5 col-sm-2 margin-b10">
                            <div  class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                                <datepicker show-holidays="true" date-limit-from-api="true" date-limit-from-api-mode="afterHire" callback-on-change="setSelectedBegin(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.INFOTYPE2001[0].BeginDate}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12  margin-b20">
                        <div class="line-under "></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2">
                            <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['GOODBYETIME']}} :</div>
                        </div>
                        <div class="col-sm-3 margin-b20">
                            <select class="form-control w-100" ng-model="document.Additional.INFOTYPE2001[0].AbsentPeriod" ng-change="choose_period(document.Additional.INFOTYPE2001[0].AbsentPeriod);">
                                <option ng-if="list_index_period.length > 0" ng-repeat="period in list_index_period" value="{{period}}">{{list_period[period]}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12  margin-b20">
                        <div class="line-under"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['REASON']}} :</div>
                    </div>
                    <div class="col-sm-5">
                        <textarea rows="5" class="w-100 textarea-s1" ng-model="document.Additional.INFOTYPE2001[0].Remark"
                                  maxlength="200"
                                  placeholder="{{Text['HRTM_EXCEPTION']['REASON_LIMIT_INPUT_DIGIT']}}"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-by-ayodia margin-b20" ng-show="dataTimeSheet.IsVisibleTimeElement && dataTimeSheet.IsVisibleTimePair">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['HRTMOT']['OTTIME']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row ">
                <div class="col-md-7 lr-0 show-tablet">
                    <div class="row">
                        <div class="col-md-12 media-padding-col">
                            <div class="sub-title">{{Text['APPGROUP']['TIMEREPORT']}}</div>
                        </div>
                        <div class="col-sm-12">
                            <table class="w-100 table-style-2 margin-b10 ">
                                <tr class="t-header">
                                    <th class="text-center"></th>
                                    <th class="text-center">{{Text['HRTMABSENCE']['TIMEIN']}}</th>
                                    <th class="text-center">{{Text['HRTMABSENCE']['TIMEOUT']}}</th>
                                    <!--<th class="text-center">{{Text['HRTMABSENCE']['CLOCKINLATE']}}</th>
                                    <th class="text-center">{{Text['HRTMABSENCE']['CLOCKOUTEARLY']}}</th>
                                    <th class="text-center">{{Text['HRTMABSENCE']['CLOCKABNORMAL']}}</th>-->
                                </tr>
                                <tr class="t-body" ng-repeat="timesheet in dataTimeSheet.TimeSheets">
                                    <td style="vertical-align:top">
                                        <p class="text-t-d"> {{timesheet.Date | date:'d/M/yyyy'}}</p>
                                        <p class="text-t-d"> {{timesheet.Type }}</p>
                                    </td>
                                    <td class="text-center">
                                        <p class="text-t-d">{{timesheet.ClockIn | date:'HH:mm:ss'}}</p>
                                    </td>
                                    <td class="text-center">
                                        <p class="text-t-d">{{timesheet.ClockOut | date:'HH:mm:ss'}}</p>
                                    </td>
                                    <!--<td class="text-center"><i ng-if="timesheet.ClockInLate" class="fas fa-check"></i></td>
                                    <td class="text-center"><i ng-if="timesheet.ClockoutEarly" class="fas fa-check"></i></td>
                                    <td class="text-center"><i ng-if="timesheet.ClockNoneWork" class="fas fa-check"></i></td>-->
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 lr-0 show-pc">
                    <div class="row">
                        <div class="col-md-12 media-padding-col">
                            <div class="sub-title">{{Text['HRTMABSENCE']['TIMEIN_OUT']}}</div>
                        </div>
                        <div class="col-sm-12">
                            <table class="w-100 table-style-2 margin-b10 ">
                                <tr class="t-header">
                                    <th class="text-center" style="padding:9px 10px;width:10%;">{{Text['HRTMABSENCE']['WORKDATE']}}</th>
                                    <th class="text-center" style="padding:9px 10px;">{{Text['HRTMABSENCE']['WORKSCHEDULE']}}</th>
                                    <th class="text-center" style="padding:9px 10px;width:10%;">{{Text['HRTMABSENCE']['TIMEIN']}}</th>
                                    <th class="text-center" style="padding:9px 10px;width:10%;">{{Text['HRTMABSENCE']['TIMEOUT']}}</th>
                                    <!--<th class="text-center" style="padding:9px 10px;width:7%;">{{Text['HRTMABSENCE']['CLOCKINLATE']}}</th>
                                    <th class="text-center" style="padding:9px 10px;width:7%;">{{Text['HRTMABSENCE']['CLOCKOUTEARLY']}}</th>
                                    <th class="text-center" style="padding:9px 10px;width:7%;">{{Text['HRTMABSENCE']['CLOCKABNORMAL']}}</th>-->
                                    <th class="text-center" style="padding:9px 10px;width:30%;">{{Text['HRTMABSENCE']['DESCRIPTION']}}</th>
                                </tr>
                                <tr class="t-body" ng-if="dataTimeSheet.TimeSheets.length > 0" ng-repeat="timesheet in dataTimeSheet.TimeSheets" ng-class="GetStatusClass(timesheet)">
                                    <td class="text-center" style="width:10%;">{{timesheet.Date | date:'d/M/yyyy'}}</td>
                                    <td class="text-center">{{timesheet.Type }}</td>
                                    <td class="text-center" style="width:10%;">{{timesheet.ClockIn | date:'HH:mm:ss'}}</td>
                                    <td class="text-center" style="width:10%;">{{timesheet.ClockOut | date:'HH:mm:ss'}}</td>
                                    <!--<td class="text-center" style="width:7%;"><i ng-if="timesheet.ClockInLate" class="fas fa-check"></i></td>
                                    <td class="text-center" style="width:7%;"><i ng-if="timesheet.ClockoutEarly" class="fas fa-check"></i></td>
                                    <td class="text-center" style="width:7%;"><i ng-if="timesheet.ClockNoneWork" class="fas fa-check"></i></td>-->
                                    <td class=" w-area" style="width:30%;">{{timesheet.TextDescription }}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 lr-0">
                    <div class="row">
                        <div class="col-md-12 media-padding-col">
                            <div class="sub-title">{{Text['HRTMABSENCE']['TIMEELEMENT']}}</div>
                        </div>
                        <div class="col-sm-12">
                            <table class="w-100 table-style-2  margin-b10">
                                <tr class="t-header">
                                    <th class="text-center">{{Text['HRTMABSENCE']['WORKDATE']}}-{{Text['HRTMABSENCE']['TIMEELEMENT']}}</th>
                                    <th class="text-center">{{Text['HRTMABSENCE']['CLOCKLOCATION']}}</th>
                                    <th class="text-center" style="width: 146px;">{{Text['HRTMABSENCE']['CLOCKSTATUS']}}</th>
                                </tr>

                                <tr class="t-body" ng-repeat="item in dataTimeSheet.TimeElements">
                                    <td class="text-center">{{item.EventTime | date:'d/M/yyyy HH:mm:ss'}}</td>
                                    <td class="text-center">{{item.Location}}</td>
                                    <td class="text-center" style="width: 146px;">
                                        <span ng-if="item.ItemType==0">ACCEPT</span>
                                        <span ng-if="item.ItemType==1">REAL TIME</span>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['HRTMABSENCE']['DELEGATEDETAIL']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-7 lr-0">
                    <div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['DELEGATE_EMPLOYEEID']}}</div>
                    </div>
                    <div class="col-sm-8">
                        <button class="btn btn-primary btn-sm" ng-click="openModalEmployeeSubstitute();">ค้นหาพนักงาน</button>
                        <button class="btn btn-danger btn-sm" ng-click="clearEmployeeSubstitute();">{{Text['ACTION']['CANCEL']}}</button>
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8" ng-show="showTextSubStitute">
                        <div class="s-detail font-16"> {{Text['BE_EDUCATIONALLOWANCE']['FULL_NAME']}} : {{employeeSubstitute.empId}} {{employeeSubstitute.empName}}</div>
                        <div class="s-detail font-16"> {{Text['HRTMABSENCE']['DELEGATE_POSITION']}} : {{employeeSubstitute.empPosition}}</div>
                        <div class="s-detail font-16"> {{Text['HRTMABSENCE']['DELEGATE_ORGANIZE']}} : {{employeeSubstitute.empOrganize}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<pre>{{OFFs | json}}</pre>
    <pre>{{document.Additional | json}}</pre>-->
</div>

<!--<script type="text/ng-template" id="ListEmployeeSubstitute.ng-popup.html">
    <div class="modal-header">
        <h3 class="modal-title custom font-b font-18">เลือกรายการ</h3>
        <button type="button" class="close custom" ng-click="closeModel()">&times;</button>
    </div>
    <div class="modal-body alert2 scrollbar-2 popup-scroll">
        <div class="row">
            <div class="row margin-b10 show-pc lr-0">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center" style="width:60px;"></th>
                            <th class="text-center">{{text_db['ACCOUNT_SETTING']['EMPLOYEE_ID']}}</th>
                            <th class="text-center">{{text_db['BE_EDUCATIONALLOWANCE']['FULL_NAME']}}</th>
                            <th class="text-center">{{text_db['HRTMABSENCE']['DELEGATE_POSITION']}}</th>
                            <th class="text-center">{{text_db['HRTMABSENCE']['DELEGATE_ORGANIZE']}}</th>
                        </tr>

                        <tr class="t-body" ng-if="list_emp.length > 0" ng-repeat="employeeData in list_emp">

                            <td class="font-16 v-top text-center">
                                <div class="radio style2 radio-inline">
                                    <input type="radio" name="radio" id="radio_100" value="{{employeeData.EmployeeID}}" ng-model="modelSelectCustomer.employeeId" />
                                    <label for="radio_100" class="black-color"></label>
                                </div>
                            </td>
                            <td class="font-16 v-top">
                                <p class="margin-none">{{employeeData.EmployeeID}}</p>
                            </td>
                            <td class="font-16 v-top">
                                <p class="margin-none">{{employeeData.EmployeeName}}</p>
                            </td>
                            <td class="font-16 text-center v-top">
                                {{employeeData.PositionName}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{employeeData.OrgUnitName}}
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="row margin-b10 show-tablet lr-0">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">

                        <tr class="t-header">
                            <th class="text-center" colspan="2">{{text_db['ACCOUNT_SETTING']['DETAIL']}}</th>
                        </tr>

                        <tr class="t-body" ng-repeat="employeeData in list_emp">

                            <td class="font-14 lr-0 v-top text-center">
                                <div class="radio style2 radio-inline margin-none">
                                    <input type="radio" name="radio" id="radio_100" value="{{employeeData.EmployeeID}}" ng-model="modelSelectCustomer.employeeId" />
                                    <label for="radio_100" class="black-color"></label>
                                </div>
                            </td>
                            <td class="font-14 v-top">
                                <p class="margin-none"> {{employeeData.EmployeeID}} {{employeeData.EmployeeName}}</p>
                                <p class="margin-none"> {{employeeData.PositionName}}</p>
                                <p class="margin-none"> {{employeeData.OrgUnitName}} </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer flex-end">
        <a class="m-btn-dis btn-s-md" ng-click="closeModel()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ยกเลิก&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
        <a class="m-btn-c2 btn-s-md" ng-show="list_emp.length > 0" ng-click="selectEmployee(modelSelectCustomer.employeeId)">
            <span class="">
                &nbsp;&nbsp;เพิ่ม&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>-->

<script type="text/ng-template" id="modalListEmployeeDataSubstituteAbsence.ng-popup.html">
    <div class="modal-header">
        <h3 class="modal-title custom font-b font-18">เลือกรายการ</h3>
        <button type="button" class="close custom" ng-click="closeModel()">&times;</button>
    </div>


    <div class="modal-body alert2 scrollbar-2 popup-scroll">
        <div class="row">
            <div class="col-sm-8">
                <input type="text" class="w-50 input-box font-16" placeholder="ค้นหาพนักงาน"
                       ng-model="modelTextSearch.TextData"
                       ng-model-options="{ debounce: 1000 }"
                       ng-change="searchEmployee(modelTextSearch.TextData);">
            </div>
        </div>
        <div class="row">
            <div class="row margin-b10 show-pc lr-0">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center">{{text_db['ACCOUNT_SETTING']['EMPLOYEE_ID']}}</th>
                            <th class="text-center">{{text_db['BE_EDUCATIONALLOWANCE']['FULL_NAME']}}</th>
                            <th class="text-center">{{text_db['HRTMABSENCE']['DELEGATE_POSITION']}}</th>
                            <th class="text-center">{{text_db['HRTMABSENCE']['DELEGATE_ORGANIZE']}}</th>
                            <th class="text-center">{{text_db['PAYROLLREPORTFORADMIN']['EMPLOYEE']}}</th>
                        </tr>

                        <tr class="t-body" ng-if="list_emp.length > 0" ng-repeat="employeeData in list_emp">
                            <td class="font-16 v-top">
                                <p class="margin-none">{{employeeData.EmployeeID}}</p>
                            </td>
                            <td class="font-16 v-top">
                                <p class="margin-none">{{employeeData.EmployeeName}}</p>
                            </td>
                            <td class="font-16 text-center v-top">
                                {{employeeData.PositionName}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{employeeData.OrgUnitName}}
                            </td>
                            <td class="font-16 text-center v-top">
                                <button class="btn btn-primary btn-sm" ng-click="selectEmployee(employeeData);">{{text_db['PAYROLLREPORTFORADMIN']['SELECT']}}</button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="row margin-b10 show-tablet lr-0">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">

                        <tr class="t-header">
                            <th class="text-center" colspan="2">{{text_db['ACCOUNT_SETTING']['DETAIL']}}</th>
                        </tr>

                        <tr class="t-body" ng-repeat="employeeData in list_emp">
                            <td class="font-14 v-top">
                                <p class="margin-none"> {{employeeData.EmployeeID}} {{employeeData.EmployeeName}}</p>
                                <p class="margin-none"> {{employeeData.PositionName}}</p>
                                <p class="margin-none"> {{employeeData.OrgUnitName}} </p>
                            </td>
                            <td class="font-14 lr-0 v-top text-center">
                                <button class="btn btn-primary btn-sm" ng-click="selectEmployee(employeeData);">{{text_db['PAYROLLREPORTFORADMIN']['SELECT']}}</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>
