﻿<div class="TravelExManPage delegation-page" ng-controller="AttendanceEditorController" ng-init="init();">
    <h1>{{Text['HRTMABSENCE']['CREATE']}}</h1>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['TIMEMANAGEMENT']['ATTENDANCELIST']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center" style="width:300px">{{Text['HRTMABSENCE']['ATTENDANCETYPE']}}</th>
                            <th class="text-center" style="width:250px;">{{Text['HRTMABSENCE']['DAY']}}</th>
                            <th class="text-center" style="width:200px;">{{Text['HRTMABSENCE']['ABSENCETIME']}}</th>
                            <th class="text-center" style="width:150px;">{{Text['HRTMABSENCE']['ABSENCEAMOUNT']}}</th>
                            <th class="text-center">{{Text['HRTMABSENCE']['REASON']}}</th>
                            <th style="width:60px;"></th>
                        </tr>
                        <tr class="t-body" ng-repeat="item in document.Additional.INFOTYPE2002" ng-style="{'background-color':index_edit == $index ? '#ea7171' : ''}">
                            <td class="font-16  v-top text-center">
                                {{ getTypeName(item.AttendanceType)}}
                            </td>
                            <td class="font-16 text-center">
                                {{item.BeginDate | date:'d/M/yyyy'}} - {{item.EndDate | date:'d/M/yyyy'}}
                            </td>
                            <td class="font-16 text-center">
                                <span ng-if="item.BeginTime=='00:00:00'">{{Text['HRTMABSENCE']['FULLDAY']}}  </span>
                                <span ng-if="item.BeginTime!='00:00:00'">{{item.TimeText}}</span>

                            </td>
                            <td class="font-16 text-center">
                                <!--{{item.AttendanceDays}}-->
                                {{item.PayrollDays}}
                            </td>

                            <td class="font-16 ">
                                {{item.Remark}}
                            </td>
                            <td class="font-16 text-center">
                                <a ng-hide="index_edit == $index" ng-click="editItem($index,item)"><i class="fas fa-edit"></i></a>
                                <a ng-hide="index_edit == $index" ng-click="deleteItem($index)"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        <tr class="t-body t-summary" ng-show="document.Additional.INFOTYPE2002.length>0">
                            <td class="text-center" colspan="3">{{Text['HRTMOT']['COLNUMBERTOTAL']}}</td>
                            <td class="text-center">{{document.Additional.INFOTYPE2002|sumByKey:'PayrollDays'}}</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--<pre>{{temp|json}}</pre>-->
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['HRTMABSENCE']['REMARKATTENDANCE']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['ATTENDANCETYPE']}} :</div>
                    </div>
                    <div class="col-sm-5 margin-b20">
                        <select class="form-control w-100" ng-model="temp.AttendanceType" placeholder="ผู้ประเภทการลา">
                            <option value="{{item.Key}}" ng-repeat="item in attendanceTypes">{{item.Description}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b20">
                    <div class="line-under "></div>
                </div>
            </div>
            <div ng-if="temp.AttendanceType == '2010'||temp.AttendanceType == '2020'||temp.AttendanceType == '2060'||temp.AttendanceType == '2100'">
                <div class="row show-tablet">
                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2 ">
                            <div class="text-basic-md-center-input color-main"> {{Text['HRTMABSENCE']['DAY']}} :</div>
                        </div>
                        <div class="col-xs-12 col-sm-2 margin-b10">
                            <div  class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                                <datepicker show-holidays="true" date-limit-from-api="true" date-limit-from-api-mode="afterHire" callback-on-change="setBeginDate(newDate)" date-format="d/M/yyyy" date-set="{{temp.BeginDate}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-1">
                            <div class="text-basic-md-center-input color-main text-center">{{Text['HRTMABSENCE']['ATTENDANCEDATETO']}}</div>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <div class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                                <datepicker show-holidays="true" date-limit-from-api="true" date-limit-from-api-mode="afterHire" callback-on-change="setEndDate(newDate)" date-format="d/M/yyyy" date-set="{{temp.EndDate}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row show-pc">
                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2 ">
                            <div class="text-basic-md-center-input color-main"> {{Text['HRTMABSENCE']['DAY']}} :</div>
                        </div>
                        <div class="col-xs-5 col-sm-2 margin-b10">
                            <div class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                                <!--date-min-limit="{{minlimit}}"-->
                                <datepicker show-holidays="true" date-limit-from-api="true" date-limit-from-api-mode="afterHire" callback-on-change="setBeginDate(newDate)" date-format="d/M/yyyy" date-set="{{temp.BeginDate}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-1">
                            <div class="text-basic-md-center-input color-main text-center">{{Text['HRTMABSENCE']['ATTENDANCEDATETO']}}</div>
                        </div>
                        <div class="col-xs-5 col-sm-2">
                            <div class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                                <datepicker show-holidays="true" date-limit-from-api="true" date-limit-from-api-mode="afterHire" callback-on-change="setEndDate(newDate)" date-format="d/M/yyyy" date-set="{{temp.EndDate}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12  margin-b20">
                        <div class="line-under "></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2">
                            <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['ABSENCETIME']}} :</div>
                        </div>
                        <div class="col-sm-3 margin-b20">
                            <select class="form-control w-100" ng-change="changeTime(temp.selectTime)" ng-model="temp.selectTime" placeholder="ผู้ประเภทการลา">
                                <option value="{{item.AttID}}" ng-repeat="item in attendanceTimes.objAttTime">{{item.AttName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="temp.AttendanceType == '2015'||temp.AttendanceType == '2025'||temp.AttendanceType == '2030'||temp.AttendanceType == '2035'">
                <div class="row show-pc">
                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2 ">
                            <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['DAY']}} :</div>
                        </div>
                        <div class="col-xs-5 col-sm-2 margin-b10">
                            <div class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                                <datepicker show-holidays="true" date-limit-from-api="true" date-limit-from-api-mode="afterHire" callback-on-change="setBeginDate(newDate)" date-format="d/M/yyyy" date-set="{{temp.BeginDate}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-1">
                            <div class="text-basic-md-center-input color-main text-center">{{Text['HRTMABSENCE']['ATTENDANCEDATETO']}}</div>
                        </div>
                        <div class="col-xs-5 col-sm-2">
                            <div class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                                <datepicker show-holidays="true" date-limit-from-api="true" date-limit-from-api-mode="afterHire" callback-on-change="setEndDate(newDate)" date-format="d/M/yyyy" date-set="{{temp.EndDate}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row show-tablet">
                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2 ">
                            <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['DAY']}} :</div>
                        </div>
                        <div class="col-xs-12 col-sm-2 margin-b10">
                            <div  class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                                <datepicker show-holidays="true" date-limit-from-api="true" date-limit-from-api-mode="afterHire" callback-on-change="setBeginDate(newDate)" date-format="d/M/yyyy" date-set="{{temp.BeginDate}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-1">
                            <div class="text-basic-md-center-input color-main text-center">{{Text['HRTMABSENCE']['ATTENDANCEDATETO']}}</div>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <div class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                                <datepicker show-holidays="true" date-limit-from-api="true" date-limit-from-api-mode="afterHire" callback-on-change="setEndDate(newDate)" date-format="d/M/yyyy" date-set="{{temp.EndDate}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="temp.AttendanceType == '2070'||temp.AttendanceType == '2065'||temp.AttendanceType == '2040'||temp.AttendanceType == '2050'">
                <div class="row show-pc">
                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2 ">
                            <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['DAY']}} :</div>
                        </div>
                        <div class="col-xs-5 col-sm-2 margin-b10">
                            <div class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                                <datepicker show-holidays="true" date-limit-from-api="true" date-limit-from-api-mode="afterHire" callback-on-change="setBeginDate(newDate)" date-format="d/M/yyyy" date-set="{{temp.BeginDate}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row show-tablet">
                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2 ">
                            <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['DAY']}} :</div>
                        </div>
                        <div class="col-xs-12 col-sm-2 margin-b10">
                            <div class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                                <datepicker show-holidays="true" date-limit-from-api="true" date-limit-from-api-mode="afterHire" callback-on-change="setBeginDate(newDate)" date-format="d/M/yyyy" date-set="{{temp.BeginDate}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12  margin-b20">
                        <div class="line-under "></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2">
                            <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['ABSENCETIME']}} :</div>
                        </div>
                        <div class="col-sm-3 margin-b20">
                            <select class="form-control w-100" ng-change="changeTime(temp.selectTime)" ng-model="temp.selectTime" placeholder="ผู้ประเภทการลา">
                                <option value="{{item.AttID}}" ng-repeat="item in attendanceTimes.objAttTime">{{item.AttName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="temp.AttendanceType == '2080'">
                <div class="row  show-tablet">
                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2 ">
                            <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['DAY']}} :</div>
                        </div>
                        <div class="col-xs-12 col-sm-2 margin-b10">
                            <div  class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                                <datepicker show-holidays="true" date-limit-from-api="true" date-limit-from-api-mode="afterHire" callback-on-change="setBeginDate(newDate)" date-format="d/M/yyyy" date-set="{{temp.BeginDate}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row show-pc">
                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2 ">
                            <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['DAY']}} :</div>
                        </div>
                        <div class="col-xs-5 col-sm-2 margin-b10">
                            <div class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                                <datepicker show-holidays="true" date-limit-from-api="true" date-limit-from-api-mode="afterHire" callback-on-change="setBeginDate(newDate)" date-format="d/M/yyyy" date-set="{{temp.BeginDate}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b20">
                    <div class="line-under"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['REASON']}}</div>
                    </div>
                    <div class="col-sm-5">
                        <textarea rows="5" class="w-100 textarea-s1" ng-model="temp.Remark"> </textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="clearfix margin-b20 margin-t10">
                    <div class="filter-items-r clearfix">
                        <div class="f-item">
                            <a class="m-btn-c2 btn-s-md" ng-click="validateForAdd(temp)">
                                <span class="">
                                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;{{Text['ACTION']['SAVENEXT']}}
                                </span>
                            </a>
                        </div>
                        <div class="f-item">
                            <a class="m-btn-c2 btn-s-md" ng-click="cancel(temp)">
                                <span class="">
                                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;{{Text['ACTION']['CANCEL']}}
                                </span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['HRTMABSENCE']['ATTENDANCETIME']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row ">
                <div class="col-md-7 lr-0 show-tablet">
                    <div class="row">
                        <div class="col-md-12 media-padding-col">
                            <div class="sub-title">{{Text['APPGROUP']['TIMEREPORT']}}</div>
                        </div>
                        <div class="col-sm-12">
                            <table class="w-100 table-style-2 margin-b10 ">
                                <tr class="t-header">
                                    <th class="text-center">{{Text['HRTMABSENCE']['WORKDATE']}}</th>
                                    <th class="text-center">{{Text['HRTMABSENCE']['TIMEIN']}}</th>
                                    <th class="text-center">{{Text['HRTMABSENCE']['TIMEOUT']}}</th>
                                    <!--<th class="text-center">{{Text['HRTMABSENCE']['CLOCKINLATE']}}</th>
                                    <th class="text-center">{{Text['HRTMABSENCE']['CLOCKOUTEARLY']}}</th>
                                    <th class="text-center">{{Text['HRTMABSENCE']['CLOCKABNORMAL']}}</th>-->
                                </tr>
                                <tr class="t-body" ng-class="GetStatusClass(timesheet)" ng-repeat="timesheet in archiveTimepairAttendance.TimeSheets">
                                    <td style="vertical-align:top">
                                        <p class="text-t-d"> {{timesheet.Date | date:'d/M/yyyy'}}</p>
                                        <p class="text-t-d"> {{timesheet.Type }}</p>
                                    </td>
                                    <td class="text-center">
                                        <p class="text-t-d">{{timesheet.ClockIn | date:'HH:mm:ss'}}</p>
                                    </td>
                                    <td class="text-center">
                                        <p class="text-t-d">{{timesheet.ClockOut | date:'HH:mm:ss'}}</p>
                                    </td>
                                    <!--<td class="text-center"><i ng-if="timesheet.ClockInLate" class="fas fa-check"></i></td>
                                    <td class="text-center"><i ng-if="timesheet.ClockoutEarly" class="fas fa-check"></i></td>
                                    <td class="text-center"><i ng-if="timesheet.ClockNoneWork" class="fas fa-check"></i></td>-->
                                </tr>
                                <!--<tr class="tb-m-padding-d t-summary">
                                    <td class="text-center" colspan="3">{{Text['HRTMOT']['COLNUMBERTOTAL']}}</td>
                                    <td class="text-center">{{sumCLOCKINLATE(archiveTimepairAttendance.TimeSheets);}}</td>
                                    <td class="text-center">{{sumCLOCKOUTEARLY(archiveTimepairAttendance.TimeSheets);}}</td>
                                    <td class="text-center">{{sumCLOCKABNORMAL(archiveTimepairAttendance.TimeSheets);}}</td>
                                </tr>-->
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 lr-0 show-pc">
                    <div class="row">
                        <div class="col-md-12 media-padding-col">
                            <div class="sub-title">{{Text['APPGROUP']['TIMEREPORT']}}</div>
                        </div>
                        <div class="col-sm-12">
                            <table class="w-100 table-style-2 margin-b10 ">
                                <tr class="t-header">
                                    <th class="text-center" style="padding:9px 10px;width:14%;">{{Text['HRTMABSENCE']['WORKDATE']}}</th>
                                    <th class="text-center" style="padding:9px 10px;">{{Text['HRTMABSENCE']['WORKSCHEDULE']}}</th>
                                    <th class="text-center" style="padding:9px 10px;width:10%;">{{Text['HRTMABSENCE']['TIMEIN']}}</th>
                                    <th class="text-center" style="padding:9px 10px;width:10%;">{{Text['HRTMABSENCE']['TIMEOUT']}}</th>
                                    <!--<th class="text-center" style="padding:9px 10px;width:7%;">{{Text['HRTMABSENCE']['CLOCKINLATE']}}</th>
                                    <th class="text-center" style="padding:9px 10px;width:7%;">{{Text['HRTMABSENCE']['CLOCKOUTEARLY']}}</th>
                                    <th class="text-center" style="padding:9px 10px;width:7%;">{{Text['HRTMABSENCE']['CLOCKABNORMAL']}}</th>-->
                                    <th class="text-center" style="padding:9px 10px;width:30%;">{{Text['HRTMABSENCE']['DESCRIPTION']}}</th>
                                </tr>
                                <tr class="t-body" ng-class="GetStatusClass(timesheet)" ng-repeat="timesheet in archiveTimepairAttendance.TimeSheets">
                                    <td class="text-center" style="width:14%;">{{timesheet.Date | date:'d/M/yyyy'}}</td>
                                    <td class="text-center">{{timesheet.Type }}</td>
                                    <td class="text-center" style="width:10%;">{{timesheet.ClockIn | date:'HH:mm:ss'}}</td>
                                    <td class="text-center" style="width:10%;">{{timesheet.ClockOut | date:'HH:mm:ss'}}</td>
                                    <!--<td class="text-center" style="width:7%;"><i ng-if="timesheet.ClockInLate" class="fas fa-check"></i></td>
                                    <td class="text-center" style="width:7%;"><i ng-if="timesheet.ClockoutEarly" class="fas fa-check"></i></td>
                                    <td class="text-center" style="width:7%;"><i ng-if="timesheet.ClockNoneWork" class="fas fa-check"></i></td>-->
                                    <td style="width:30%;" class="w-area">{{timesheet.TextDescription }}</td>
                                </tr>
                                <!--<tr class="t-body t-summary">
                                    <td class="text-center" colspan="4">{{Text['HRTMOT']['COLNUMBERTOTAL']}}</td>
                                    <td style="width:7%;" class="text-center">{{sumCLOCKINLATE(archiveTimepairAttendance.TimeSheets);}}</td>
                                    <td style="width:7%;" class="text-center">{{sumCLOCKOUTEARLY(archiveTimepairAttendance.TimeSheets);}}</td>
                                    <td style="width:7%;" class="text-center">{{sumCLOCKABNORMAL(archiveTimepairAttendance.TimeSheets);}}</td>
                                    <td style="width:30%;" class="text-center"></td>
                                </tr>-->
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 lr-0">
                    <div class="row">
                        <div class="col-md-12 media-padding-col">
                            <div class="sub-title">{{Text['HRTMABSENCE']['TIMEELEMENT']}}</div>
                        </div>
                        <div class="col-sm-12">
                            <table class="w-100 table-style-2 margin-b10 ">
                                <!--<thead>
                                    <tr class="t-header">
                                        <th class="text-center">{{Text['HRTMABSENCE']['WORKDATE']}}-{{Text['HRTMABSENCE']['TIMEELEMENT']}}</th>
                                        <th class="text-center">{{Text['HRTMABSENCE']['CLOCKLOCATION']}}</th>
                                        <th class="text-center" style="width: 146px;">{{Text['HRTMABSENCE']['CLOCKSTATUS']}}</th>
                                    </tr>
                                </thead>
                                <tbody class="scrollbar-2 h-500px">
                                    <tr class="t-body" ng-repeat="timeElement in archiveTimepairAttendance.TimeElements">
                                        <td class="text-center">{{timeElement.EventTime | date:'d/M/yyyy HH:mm:ss'}}</td>
                                        <td class="text-center">{{timeElement.Location}}</td>
                                        <td class="text-center" style="width: 139px;"><span ng-if="timeElement.ItemType==0">ACCEPT</span><span ng-if="timeElement.__type==1">REAL TIME</span></td>
                                    </tr>
                                </tbody>-->
                                <tr class="t-header">
                                    <th class="text-center">{{Text['HRTMABSENCE']['WORKDATE']}}-{{Text['HRTMABSENCE']['TIMEELEMENT']}}</th>
                                    <th class="text-center">{{Text['HRTMABSENCE']['CLOCKLOCATION']}}</th>
                                    <th class="text-center" style="width: 146px;">{{Text['HRTMABSENCE']['CLOCKSTATUS']}}</th>
                                </tr>
                                <tr class="t-body" ng-repeat="timeElement in archiveTimepairAttendance.TimeElements">
                                    <td class="text-center">{{timeElement.EventTime | date:'d/M/yyyy HH:mm:ss'}}</td>
                                    <td class="text-center">{{timeElement.Location}}</td>
                                    <td class="text-center" style="width: 146px;"><span ng-if="timeElement.ItemType==0">ACCEPT</span><span ng-if="timeElement.__type==1">REAL TIME</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
