﻿<div class="TravelExManPage delegation-page" ng-controller="ChangeAbsenceViewerController" ng-init="init();">

    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['HRTMABSENCE']['CANCELLED_STAMP']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="box-tooltip-error text-center">
                    {{Text['HRTMABSENCE']['CANCELLED_STAMP']}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="sub-title">{{Text['HRTMABSENCE']['ABSENCEDETAIL']}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 lr-0">
                    <div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['ABSENCETYPE']}}</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-basic-md-center-input color-main">
                            <span ng-if="document.Additional.INFOTYPE2001[0].AbsenceType =='0100'">{{Text['ABSENCETYPE']['92#0100']}}</span>
                            <span ng-if="document.Additional.INFOTYPE2001[0].AbsenceType =='0200'">{{Text['ABSENCETYPE']['92#0200']}}</span>
                            <span ng-if="document.Additional.INFOTYPE2001[0].AbsenceType =='0210'">{{Text['ABSENCETYPE']['92#0210']}}</span>
                            <span ng-if="document.Additional.INFOTYPE2001[0].AbsenceType =='0220'">{{Text['ABSENCETYPE']['92#0220']}}</span>
                            <span ng-if="document.Additional.INFOTYPE2001[0].AbsenceType =='0230'">{{Text['ABSENCETYPE']['92#0230']}}</span>
                            <span ng-if="document.Additional.INFOTYPE2001[0].AbsenceType =='0240'">{{Text['ABSENCETYPE']['92#0240']}}</span>
                            <span ng-if="document.Additional.INFOTYPE2001[0].AbsenceType =='0250'">{{Text['ABSENCETYPE']['92#0250']}}</span>
                            <span ng-if="document.Additional.INFOTYPE2001[0].AbsenceType =='0300'">{{Text['ABSENCETYPE']['92#0300']}}</span>
                            <span ng-if="document.Additional.INFOTYPE2001[0].AbsenceType =='0310'">{{Text['ABSENCETYPE']['92#0231']}}</span>
                            <span ng-if="document.Additional.INFOTYPE2001[0].AbsenceType =='0400'">{{Text['ABSENCETYPE']['92#0400']}}</span>
                            <span ng-if="document.Additional.INFOTYPE2001[0].AbsenceType =='0410'">{{Text['ABSENCETYPE']['92#0410']}}</span>
                            <span ng-if="document.Additional.INFOTYPE2001[0].AbsenceType =='0420'">{{Text['ABSENCETYPE']['92#0420']}}</span>
                            <span ng-if="document.Additional.INFOTYPE2001[0].AbsenceType =='0500'">{{Text['ABSENCETYPE']['92#0500']}}</span>
                            <span ng-if="document.Additional.INFOTYPE2001[0].AbsenceType =='0600'">{{Text['ABSENCETYPE']['26#0400']}}</span>
                            <span ng-if="document.Additional.INFOTYPE2001[0].AbsenceType =='0700'">{{Text['ABSENCETYPE']['92#0700']}}</span>
                        </div>
                    </div>

                    <!--<div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['ABSENCEHOURS']}}</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-basic-md-center-input">{{document.Additional.INFOTYPE2001[0].AbsenceHours}}</div>
                    </div>-->
                </div>
                <div class="col-sm-6 lr-0">
                    <div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['ABSENCEDATE']}}</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-basic-md-center-input">{{document.Additional.INFOTYPE2001[0].BeginDate |  date:'dd-MM-yyyy'}} - {{document.Additional.INFOTYPE2001[0].EndDate |  date:'dd-MM-yyyy'}}</div>
                    </div>
                    <!--<div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['ABSENCEDAYS']}}</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-basic-md-center-input">{{document.Additional.INFOTYPE2001[0].AbsenceDays}}</div>
                    </div>-->
                </div>
            </div>
            <!--<div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['REMARK']}}</div>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-basic-md-center-input">{{document.Additional.INFOTYPE2001[0].Remark}}</div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>

    <div class="content-by-ayodia margin-b20 " ng-if="document.Additional.DELEGATEDATA[0].DelegateTo">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['HRTMABSENCE']['DELEGATEDETAIL']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-6 lr-0">
                    <div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['DELEGATE_EMPLOYEEID']}}</div>
                    </div>
                    <div class="col-sm-8">
                        <div class="s-detail font-16"> {{Text['BE_EDUCATIONALLOWANCE']['FULL_NAME']}} : {{employeeDelegateData.EmployeeID}} {{employeeDelegateData.EmployeeName}}</div>
                        <div class="s-detail font-16"> {{Text['HRTMABSENCE']['DELEGATE_POSITION']}} : {{employeeDelegateData.PositionName}}</div>
                        <div class="s-detail font-16"> {{Text['HRTMABSENCE']['DELEGATE_ORGANIZE']}} : {{employeeDelegateData.OrgUnitName}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
