﻿<div class="TravelExManPage delegation-page" ng-controller="ChangeAttendanceViewerController" ng-init="init();">
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['HRTMABSENCE']['ATTENDANCEDETAIL']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row" style="margin-bottom:20px;">
                <div class="box-tooltip-error text-center">
                    {{Text['HRTMABSENCE']['CANCELLED_STAMP']}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center" style="width:150px">{{Text['HRTMABSENCE']['ATTENDANCETYPE']}}</th>
                            <th class="text-center" style="width:100px;">{{Text['HRTMABSENCE']['ATTENDANCEDATE']}}</th>
                            <th class="text-center" style="width:100px;">{{Text['HRTMABSENCE']['ATTENDANCETIME']}}</th>
                        </tr>
                        <tr class="t-body" ng-repeat="item in document.Additional.INFOTYPE2002">
                            <td class="font-16  v-top">
                                {{ getTypeName(item.AttendanceType)}}
                            </td>
                            <td class="font-16 text-center">
                                {{item.BeginDate | date:'d/M/yyyy'}} - {{item.EndDate | date:'d/M/yyyy'}}
                            </td>
                            <td class="font-16 text-center">
                                <span ng-if="item.BeginTime=='00:00:00'">{{Text['HRTMABSENCE']['FULLDAY']}}</span>
                                <span ng-if="item.BeginTime!='00:00:00'">{{item.BeginTime}} - {{item.EndTime}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>