﻿
<div class="TravelExManPage delegation-page" ng-controller="DailyOTEditorController" ng-init="init();">
    <h1>{{Text['ACCOUNT_SETTING']['CREATE']}}</h1>
    <!--<div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['HRTMOT']['DAILYPERIODDETAIL']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text['HRTMOT']['PERIOD']}} :</div>
                    </div>
                    <div class="col-sm-3 margin-b10">
                        <select class="form-control w-100" ng-model="selectedPeriod" placeholder="ที่">
                            <option ng-repeat="item in periodOTCreates" value="{{item.PeriodValue}}">{{item.PeriodText}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['TIMEMANAGEMENT']['OVERTIMELIST']}}
            </div>
        </div>
        <!--<pre>{{OFFs|json}}</pre>-->
        <!--<pre>{{document.Additional.InfoTable|json}}</pre>-->
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main"> {{Text['HRTMOT']['APPROVEMANAGER']}} :  </div>
                    </div>
                    <div class="col-sm-5 margin-b20">
                        <select class="form-control w-100" ng-model="selectManager" placeholder="ที่">
                            <option ng-repeat="item in managerOTCreates" value="{{item.ManagerValue}}">{{item.ManagerText}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b10">
                    <div class="line-under "></div>
                </div>
            </div>
            <div class="col-md-12 media-padding-col">
                <div class="sub-title">{{Text['HRTMOT']['OTDATE_DESC']}} : {{periodText}}</div>
            </div>
            <div class="row show-pc">
                <div class="col-sm-12">
                    <!--<pre>{{ document.Additional.InfoTable|json}}</pre>-->
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center" style="width:130px">{{Text['HRTMOT']['OTDATE']}}</th>
                            <th class="text-center" style="width:250px">{{Text['HRTMOT']['OTTIME']}}</th>
                            <th class="text-center" style="width:280px;">{{Text['HRTMOT']['OTWORKTYPE']}}</th>
                            <th class="text-center">{{Text['ACCOUNT_SETTING']['DETAIL']}}</th>
                            <th class="text-center" style="width:40px; padding:9px 20px">x1.0</th>
                            <th class="text-center" style="width:40px; padding:9px 20px">x1.5</th>
                            <th class="text-center" style="width:40px; padding:9px 20px">x3.0</th>
                            <th style="width:40px;"></th>
                        </tr>
                        <!--{{minlimit}}{{maxlimit}}-->

                        <tr class="t-body" ng-repeat="item in document.Additional.InfoTable">
                            <td class="font-16 text-center">
                                <div ng-if="temp" class="datepicker-height-set" style="position:relative;height:40px;">
                                    <datepickertwo callback-on-change="setOTDATE(newDate,$index)" date-max-limit="{{maxlimit}}" date-min-limit="{{minlimit}}" holiday-dates="{{OFFs}}" date-format="d/M/yyyy" date-set="{{item.OTDATE}}">
                                        <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                    </datepickertwo>
                                    <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                </div>
                            </td>
                            <td class="font-16 text-center">
                                <div class="w-100 margin-b10">
                                    <select style="padding:0;" class="form-control my-date-time-picker-float2" ng-change="selectTime(item)" ng-model="item.selectedBeginH">
                                        <option value="{{item}}" ng-repeat="item in hours">{{item}}</option>
                                    </select>
                                    <select style="padding:0;" class="form-control my-date-time-picker-float2" ng-change="selectTime(item)" ng-model="item.selectedBeginM">
                                        <option value="{{item}}" ng-repeat="item in minutes">{{item}}</option>
                                    </select>
                                    <div class="my-date-time-picker-title">{{Text['HRTMOT']['TO']}}</div>
                                    <select style="padding:0;" class="form-control my-date-time-picker-float2" ng-change="selectTime(item)" ng-model="item.selectedEndH">
                                        <option value="{{item}}" ng-repeat="item in hours">{{item}}</option>
                                    </select>
                                    <select style="padding:0;" class="form-control my-date-time-picker-float2" ng-change="selectTime(item)" ng-model="item.selectedEndM">
                                        <option value="{{item}}" ng-repeat="item in minutes">{{item}}</option>
                                    </select>
                                </div>
                            </td>
                            <td class="font-16 text-left">
                                <select class="form-control w-100" ng-model="item.OTTYPE" placeholder="">
                                    <option value="{{item.__otWorkTypeID}}" ng-repeat="item in oTWorkTypes">{{item.__otWorkTypeDesc}}</option>
                                </select>
                            </td>
                            <td class="font-16 text-left">
                                <input type="text" class="w-100 input-box font-16 mb-0" placeholder="{{Text['ACCOUNT_SETTING']['DETAIL']}}" name="input1" ng-model="item.description">
                            </td>
                            <td class="font-16 text-center">
                                <input type="text" class="w-100 input-box font-16 mb-0" placeholder="0" name="input1" disabled ng-value="calH(document.Additional.DailyOTLog[$index].RequestOTHour10)">
                            </td>
                            <td class="font-16 text-center">
                                <input type="text" class="w-100 input-box font-16 mb-0" placeholder="0" name="input1" disabled ng-value="calH(document.Additional.DailyOTLog[$index].RequestOTHour15)">
                            </td>
                            <td class="font-16 text-center">
                                <input type="text" class="w-100 input-box font-16 mb-0" placeholder="0" name="input1" disabled ng-value="calH(document.Additional.DailyOTLog[$index].RequestOTHour30)">
                            </td>
                            <td class="font-16 text-center">
                                <a ng-click="deleteItem($index)"><i class="fas fa-trash-alt"></i></a>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>


            <div class="row show-pc">
                <div class="col-sm-12 lr-0">
                    <div class="col-xs-12 col-sm-8 margin-b10 show-pc">
                    </div>
                    <div class="col-xs-6 col-sm-2 margin-b10">
                        <a class="m-btn-c2  btn-s-md text-center" ng-click="CalculateOT();">
                            <span class="">
                                {{Text['HRTMOT']['CALCULATE']}}
                            </span>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-2 margin-b10">
                        <a class="m-btn-c2 btn-s-md text-center show-pc" ng-click="addInfo();">
                            <span class="">
                                {{Text['SYSTEM']['ADDROW']}}
                            </span>
                        </a>
                        <!--<a class="m-btn-c2 btn-s-md text-center show-tablet" ng-click="openDaily('add',0,null);">
                            <span class="">
                                {{Text['SYSTEM']['ADDROW']}}
                            </span>
                        </a>-->
                    </div>
                </div>
            </div>
            <div class="row show-tablet">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center">{{Text['HRTMOT']['OTDATE_DESC']}}</th>
                        </tr>
                        <tr class="t-body" n ng-repeat="item in document.Additional.InfoTable">
                            <td class="font-16 text-left">
                                <p class="margin-none"> {{item.OTDATE | date:'d/M/yyyy'}}  {{item.BEGINTIME}} - {{item.ENDTIME}} </p>
                                <p class="margin-none">{{getTypeName(item.OTTYPE)}}</p>
                                <p class="margin-none"> {{item.description}}</p>
                                <p class="margin-none">  {{Text['HRTMOT']['COLNUMBER10']}} :<span ng-show="!calH(document.Additional.DailyOTLog[$index].RequestOTHour10)">-</span> <span ng-show="calH(document.Additional.DailyOTLog[$index].RequestOTHour10)">{{calH(document.Additional.DailyOTLog[$index].RequestOTHour10)}}</span></p>
                                <p class="margin-none">  {{Text['HRTMOT']['COLNUMBER15']}} : <span ng-show="!calH(document.Additional.DailyOTLog[$index].RequestOTHour15)">-</span> <span ng-show="calH(document.Additional.DailyOTLog[$index].RequestOTHour15)">{{calH(document.Additional.DailyOTLog[$index].RequestOTHour15)}}</span></p>
                                <p class="margin-none">  {{Text['HRTMOT']['COLNUMBER30']}} : <span ng-show="!calH(document.Additional.DailyOTLog[$index].RequestOTHour30)">-</span> <span ng-show="calH(document.Additional.DailyOTLog[$index].RequestOTHour30)">{{calH(document.Additional.DailyOTLog[$index].RequestOTHour30)}}</span></p>
                                <p class="margin-none"> <a ng-click="openDaily('edit',$index,item);"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a ng-click="deleteItem($index)"><i class="fas fa-trash-alt"></i></a></p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row show-tablet">
                <div class="col-sm-12 lr-0">
                    <div class="col-xs-12 col-sm-8 margin-b10">
                    </div>
                    <div class="col-xs-6 col-sm-2 margin-b10">
                        <a class="m-btn-c2  btn-s-md text-center" ng-click="CalculateOT();">
                            <span class="">
                                {{Text['HRTMOT']['CALCULATE']}}
                            </span>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-2 margin-b10">
                        <a class="m-btn-c2 btn-s-md text-center show-tablet" ng-click="openDaily('add',0,null);">
                            <span class="">
                                {{Text['SYSTEM']['ADDROW']}}
                            </span>
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script type="text/ng-template" id="dailyModal.ng-popup.html">
    <div class="modal-header">
        <h3 class="modal-title custom font-b font-18">{{Text['HRTMOT']['DAILYPERIODDETAIL']}}</h3>
        <button type="button" class="close custom" ng-click="$dismiss()">&times;</button>
    </div>
    <div class="modal-body alert2">
        <!--<pre>{{model|json}}</pre>-->
        <div class="row">
            <div class="col-md-12 lr-0 media-padding-col">
                <div class="text-basic-md-center-input">{{Text['HRTMOT']['OTDATE']}} :</div>
                <div class="datepicker-height-set" style="position:relative;height:40px;">
                    <!--<datepicker callback-on-change="setOTDATE(newDate)" date-format="d/M/yyyy" date-set="{{model.OTDATE}}">
                        <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                    </datepicker>-->
                    <datepickertwo callback-on-change="setOTDATE(newDate,$index)" date-max-limit="{{maxlimit}}" date-min-limit="{{minlimit}}" holiday-dates="{{OFFs}}" date-format="d/M/yyyy" date-set="{{model.OTDATE}}">
                        <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                    </datepickertwo>
                    <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 lr-0 media-padding-col">
                <div class="text-basic-md-center-input">{{Text['HRTMOT']['OTTIME']}} :</div>
                <div class="w-100 margin-b10">
                    <select class="form-control my-date-time-picker-float2" ng-change="selectTime(model)" ng-model="model.selectedBeginH">
                        <option value="{{item}}" ng-repeat="item in hours">{{item}}</option>
                    </select>
                    <select class="form-control my-date-time-picker-float2" ng-change="selectTime(model)" ng-model="model.selectedBeginM">
                        <option value="{{item}}" ng-repeat="item in minutes">{{item}}</option>
                    </select>
                    <div class="my-date-time-picker-title text-center">{{Text['HRTMOT']['TO']}}</div>
                    <select class="form-control my-date-time-picker-float2" ng-change="selectTime(model)" ng-model="model.selectedEndH">
                        <option value="{{item}}" ng-repeat="item in hours">{{item}}</option>
                    </select>
                    <select class="form-control my-date-time-picker-float2" ng-change="selectTime(model)" ng-model="model.selectedEndM">
                        <option value="{{item}}" ng-repeat="item in minutes">{{item}}</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 lr-0 media-padding-col">
                <div class="text-basic-md-center-input">{{Text['HRTMOT']['OTWORKTYPE']}} :</div>
                <select class="form-control w-100" ng-model="model.OTTYPE" placeholder="">
                    <option value="{{item.__otWorkTypeID}}" ng-repeat="item in oTWorkTypes">{{item.__otWorkTypeDesc}}</option>
                </select>
            </div>
        </div>

        <div class="row margin-b20">
            <div class="col-md-12 lr-0 media-padding-col">
                <div class="text-basic-md-center-input">{{Text['ACCOUNT_SETTING']['DETAIL']}} :</div>
                <input type="text" class="w-100 input-box font-16 mb-0" placeholder="{{Text['ACCOUNT_SETTING']['DETAIL']}}" name="input1" ng-model="model.description">
            </div>
        </div>
    </div>

    <div class="modal-footer padding-t-none text-center">
        <a class="m-btn-c2 btn-s-md" ng-click="save()">
            <span class="">
                &nbsp;&nbsp;{{Text['ACTION']['SAVENEXT']}}&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>
