﻿<div class="TravelExManPage delegation-page" ng-controller="DailyOTViewerController" ng-init="init();">
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['HRTMOT']['DAILYPERIODDETAIL']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="box-tooltip-error text-center" ng-show="textWarningOverQuota && document.CurrentFlowItemCode != 'COMPLETED' && document.CurrentFlowItemCode != 'CANCELLED'">
                <i class="fa fa-bell"></i>&nbsp;&nbsp;&nbsp;{{textWarningOverQuota}}
            </div>
            <!--<div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">ผู้ทำการอนุมัติ :  </div>
                    </div>
                    <div class="col-sm-5 margin-b20">
                        <div class="text-basic-md-center-input">ใช้ผู้อนุมัติคนเดียวกับสายบังคับบัญชา </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b10">
                    <div class="line-under "></div>
                </div>
            </div>

            <div class="col-md-12 media-padding-col">
                <div class="sub-title">รายละเอียดการทำงาน :</div>
            </div>-->
            <div class="col-sm-12 media-padding-col">
                <div class="sub-title">{{Text['HRTMOT']['OTDATE_DESC']}} : {{periodText}}</div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center" style="width:150px">{{Text['HRTMOT']['OTDATE']}}</th>
                            <th class="text-center" style="width:150px">{{Text['HRTMOT']['OTTIME']}}</th>
                            <th class="text-center" style="width:200px;">{{Text['HRTMOT']['OTWORKTYPE']}}</th>
                            <th class="text-center" style="width:200px;">{{Text['ACCOUNT_SETTING']['DETAIL']}}</th>
                            <th class="text-center" style="width:100px;">x1.0</th>
                            <th class="text-center" style="width:100px;">x1.5</th>
                            <th class="text-center" style="width:100px;">x3.0</th>
                        </tr>
                        <tr class="t-body" ng-init="item.select = false;" ng-repeat="item in document.Additional.InfoTable">
                            <td class="font-16 text-center v-top">
                                {{item.OTDATE | date:'d/M/yyyy'}}
                            </td>
                            <td class="font-16 text-center">
                                {{item.BEGINTIME}} - {{item.ENDTIME}}
                            </td>
                            <td class="font-16 text-left">
                                {{getTypeName(item.OTTYPE)}}
                            </td>
                            <td class="font-16 text-left">
                                {{item.description}}
                            </td>
                            <td class="font-16 text-center">
                                {{calH(document.Additional.DailyOTLog[$index].RequestOTHour10)}}
                            </td>
                            <td class="font-16 text-center">
                                {{calH(document.Additional.DailyOTLog[$index].RequestOTHour15)}}
                            </td>
                            <td class="font-16 text-center">
                                {{calH(document.Additional.DailyOTLog[$index].RequestOTHour30)}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--<pre>{{document.Additional | json}}</pre>-->

</div>