﻿<div class="TravelExManPage delegation-page" ng-controller="DeleteDailyOTViewerController" ng-init="init();">
    <div class="TravelExManPage delegation-page" ng-controller="DeleteDailyOTEditorController" ng-init="init();">
        <h1>{{Text['HRTMABSENCE']['CANCELLED_STAMP']}}</h1>
        <div class="content-by-ayodia margin-b20 ">
            <div class="ayodia-header-content">
                <div class="ayodia-title w-100">
                    {{Text['HRTMOT']['DAILYPERIODDETAIL']}}
                </div>
            </div>
            <div class="ayodia-body-content">
                <div class="row" style="margin-bottom:20px;">
                    <div class="box-tooltip-error text-center">
                        {{Text['HRTMABSENCE']['CANCELLED_STAMP']}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="w-100 table-style-1 margin-b10 ">
                            <tr class="t-header">
                                <th class="text-center" style="width:150px">{{Text['HRTMOT']['OTDATE']}}</th>
                                <th class="text-center" style="width:150px">{{Text['HRTMOT']['OTTIME']}}</th>
                                <th class="text-center" style="width:200px;">{{Text['HRTMOT']['OTWORKTYPE']}}</th>
                                <th class="text-center" style="width:200px;">{{Text['ACCOUNT_SETTING']['DETAIL']}}</th>
                                <th class="text-center" style="width:100px;">x1.0</th>
                                <th class="text-center" style="width:100px;">x1.5</th>
                                <th class="text-center" style="width:100px;">x3.0</th>
                            </tr>
                            <tr class="t-body" ng-repeat="item in document.Additional.DailyOTLog">
                                <td class="font-16 text-center v-top">
                                    {{item.BeginDate | date:'d/M/yyyy'}}
                                </td>
                                <td class="font-16 text-center">
                                    {{item.BeginDate| date:'HH:mm:ss'}} - {{item.EndDate| date:'HH:mm:ss'}}
                                </td>
                                <td class="font-16 text-left">
                                    {{getTypeName(item.OTWorkTypeID)}}
                                </td>
                                <td class="font-16 text-left">
                                    {{item.Description}}
                                </td>
                                <td class="font-16 text-center">
                                    {{calH(item.RequestOTHour10)}}
                                </td>
                                <td class="font-16 text-center">
                                    {{calH(item.RequestOTHour15)}}
                                </td>
                                <td class="font-16 text-center">
                                    {{calH(item.RequestOTHour30)}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>