﻿<div class="TravelExManPage delegation-page" ng-controller="DutyPaymentMonthlyEditorController" ng-init="init();">
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['HRTMOT']['OTDATE_DESC']}}{{Text['APPLICATION']['DUTYPAYMENT']}}
            </div>
        </div>
        <div class="ayodia-body-content ">
            <div class="col-md-12 media-padding-col">
                <div class="sub-title">{{Text['HRTMOT']['OTDATE_DESC']}} : {{text_desciption}}</div>
            </div>
            <div class="row show-tablet">
                <div class="col-sm-12">
                    <table class="w-100 table-style-2-1 sp-scroll margin-b10 ">
                        <thead>
                            <tr class="t-header">
                                <th class="text-center" style="width: 60px;"></th>
                                <th class="text-center">{{Text['HRTMOT']['SELECT']}}</th>
                                <th class="text-center">{{Text['ACCOUNT_SETTING']['LOCATION']}}</th>
                            </tr>
                        </thead>
                        <tbody class="scrollbar-2 h-500px">
                            <tr class="t-body" ng-if="list_duty_payment.objDutyPaymentTable.length > 0" ng-repeat="item_duty_payment in list_duty_payment.objDutyPaymentTable">
                                <td class="text-center" style="width: 60px;">
                                    <input type="checkbox" class="" aria-invalid="false" style="">
                                </td>
                                <td class="text-center">01/12/2019</td>
                                <td class="text-center">
                                    <select class="form-control w-100" ng-model="test" placeholder="ที่">
                                        <option value="{{item.id}}" ng-repeat="item in [{name:'TEST',id:1}]">{{item.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="t-body">
                                <td class="text-center" style="width: 60px;">
                                    <input type="checkbox" class="" aria-invalid="false" style="">
                                </td>
                                <td class="text-center">01/12/2019</td>
                                <td class="text-center">
                                    <select class="form-control w-100" ng-model="test" placeholder="ที่">
                                        <option value="{{item.id}}" ng-repeat="item in [{name:'TEST',id:1}]">{{item.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="t-body">
                                <td class="text-center" style="width: 60px;">
                                    <input type="checkbox" class="" aria-invalid="false" style="">
                                </td>
                                <td class="text-center">01/12/2019</td>
                                <td class="text-center">
                                    <select class="form-control w-100" ng-model="test" placeholder="ที่">
                                        <option value="{{item.id}}" ng-repeat="item in [{name:'TEST',id:1}]">{{item.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="t-body">
                                <td class="text-center" style="width: 60px;">
                                    <input type="checkbox" class="" aria-invalid="false" style="">
                                </td>
                                <td class="text-center">01/12/2019</td>
                                <td class="text-center">
                                    <select class="form-control w-100" ng-model="test" placeholder="ที่">
                                        <option value="{{item.id}}" ng-repeat="item in [{name:'TEST',id:1}]">{{item.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="t-body">
                                <td class="text-center" style="width: 60px;">
                                    <input type="checkbox" class="" aria-invalid="false" style="">
                                </td>
                                <td class="text-center">01/12/2019</td>
                                <td class="text-center">
                                    <select class="form-control w-100" ng-model="test" placeholder="ที่">
                                        <option value="{{item.id}}" ng-repeat="item in [{name:'TEST',id:1}]">{{item.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="t-body">
                                <td class="text-center" style="width: 60px;">
                                    <input type="checkbox" class="" aria-invalid="false" style="">
                                </td>
                                <td class="text-center">01/12/2019</td>
                                <td class="text-center">
                                    <select class="form-control w-100" ng-model="test" placeholder="ที่">
                                        <option value="{{item.id}}" ng-repeat="item in [{name:'TEST',id:1}]">{{item.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="t-body">
                                <td class="text-center" style="width: 60px;">
                                    <input type="checkbox" class="" aria-invalid="false" style="">
                                </td>
                                <td class="text-center">01/12/2019</td>
                                <td class="text-center">
                                    <select class="form-control w-100" ng-model="test" placeholder="ที่">
                                        <option value="{{item.id}}" ng-repeat="item in [{name:'TEST',id:1}]">{{item.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="t-body">
                                <td class="text-center" style="width: 60px;">
                                    <input type="checkbox" class="" aria-invalid="false" style="">
                                </td>
                                <td class="text-center">01/12/2019</td>
                                <td class="text-center">
                                    <select class="form-control w-100" ng-model="test" placeholder="ที่">
                                        <option value="{{item.id}}" ng-repeat="item in [{name:'TEST',id:1}]">{{item.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="t-body">
                                <td class="text-center" style="width: 60px;">
                                    <input type="checkbox" class="" aria-invalid="false" style="">
                                </td>
                                <td class="text-center">01/12/2019</td>
                                <td class="text-center">
                                    <select class="form-control w-100" ng-model="test" placeholder="ที่">
                                        <option value="{{item.id}}" ng-repeat="item in [{name:'TEST',id:1}]">{{item.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="t-body">
                                <td class="text-center" style="width: 60px;">
                                    <input type="checkbox" class="" aria-invalid="false" style="">
                                </td>
                                <td class="text-center">01/12/2019</td>
                                <td class="text-center">
                                    <select class="form-control w-100" ng-model="test" placeholder="ที่">
                                        <option value="{{item.id}}" ng-repeat="item in [{name:'TEST',id:1}]">{{item.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="t-body">
                                <td class="text-center" style="width: 60px;">
                                    <input type="checkbox" class="" aria-invalid="false" style="">
                                </td>
                                <td class="text-center">01/12/2019</td>
                                <td class="text-center">
                                    <select class="form-control w-100" ng-model="test" placeholder="ที่">
                                        <option value="{{item.id}}" ng-repeat="item in [{name:'TEST',id:1}]">{{item.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="t-body">
                                <td class="text-center" style="width: 60px;">
                                    <input type="checkbox" class="" aria-invalid="false" style="">
                                </td>
                                <td class="text-center">01/12/2019</td>
                                <td class="text-center">
                                    <select class="form-control w-100" ng-model="test" placeholder="ที่">
                                        <option value="{{item.id}}" ng-repeat="item in [{name:'TEST',id:1}]">{{item.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="t-body">
                                <td class="text-center" style="width: 60px;">
                                    <input type="checkbox" class="" aria-invalid="false" style="">
                                </td>
                                <td class="text-center">01/12/2019</td>
                                <td class="text-center">
                                    <select class="form-control w-100" ng-model="test" placeholder="ที่">
                                        <option value="{{item.id}}" ng-repeat="item in [{name:'TEST',id:1}]">{{item.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="t-body">
                                <td class="text-center" style="width: 60px;">
                                    <input type="checkbox" class="" aria-invalid="false" style="">
                                </td>
                                <td class="text-center">01/12/2019</td>
                                <td class="text-center">
                                    <select class="form-control w-100" ng-model="test" placeholder="ที่">
                                        <option value="{{item.id}}" ng-repeat="item in [{name:'TEST',id:1}]">{{item.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="t-body">
                                <td class="text-center" style="width: 60px;">
                                    <input type="checkbox" class="" aria-invalid="false" style="">
                                </td>
                                <td class="text-center">01/12/2019</td>
                                <td class="text-center">
                                    <select class="form-control w-100" ng-model="test" placeholder="ที่">
                                        <option value="{{item.id}}" ng-repeat="item in [{name:'TEST',id:1}]">{{item.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="t-body">
                                <td class="text-center" style="width: 60px;">
                                    <input type="checkbox" class="" aria-invalid="false" style="">
                                </td>
                                <td class="text-center">01/12/2019</td>
                                <td class="text-center">
                                    <select class="form-control w-100" ng-model="test" placeholder="ที่">
                                        <option value="{{item.id}}" ng-repeat="item in [{name:'TEST',id:1}]">{{item.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="t-body">
                                <td class="text-center" style="width: 60px;">
                                    <input type="checkbox" class="" aria-invalid="false" style="">
                                </td>
                                <td class="text-center">01/12/2019</td>
                                <td class="text-center">
                                    <select class="form-control w-100" ng-model="test" placeholder="ที่">
                                        <option value="{{item.id}}" ng-repeat="item in [{name:'TEST',id:1}]">{{item.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="t-body">
                                <td class="text-center" style="width: 60px;">
                                    <input type="checkbox" class="" aria-invalid="false" style="">
                                </td>
                                <td class="text-center">01/12/2019</td>
                                <td class="text-center">
                                    <select class="form-control w-100" ng-model="test" placeholder="ที่">
                                        <option value="{{item.id}}" ng-repeat="item in [{name:'TEST',id:1}]">{{item.name}}</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row show-pc">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center" style="width:100px">{{Text['HRTMOT']['SELECT']}}</th>
                            <th class="text-center" style="width:200px;">{{Text['DP']['DUTYDATE']}}</th>
                            <th class="text-center" style="width:20%">{{Text['DP']['DUTYTIME']}}</th>
                            <th class="text-center" style="width:20%;">{{Text['DP']['DAYTYPE']}}</th>
                            <th style="width:60px"></th>
                            <th></th>
                        </tr>
                        <tr class="t-body" ng-if="list_convert_duty_payment.length > 0" ng-repeat="item in list_convert_duty_payment">
                            <td class="font-16 text-center">
                                <input type="checkbox" class="" aria-invalid="false" ng-model="item.Ischeck" ng-change="selectTransaction();">
                            </td>
                            <td class="font-16 text-center">{{item.DutyDate | date: 'd/M/yyyy'}}</td>
                            <td class="font-16 text-center">
                                <select class="form-control w-100" placeholder="">
                                    <option ng-repeat="itemList in item.listSelect" value="{{item_detail.__dutyTimeID}}">
                                        {{itemList.__beginTime}} - {{itemList.__endTime}}
                                    </option>
                                </select>
                            </td>
                            <td class="font-16 text-center">
                                {{item.detaildailyWs.DailyWorkscheduleCode}}
                            </td>
                            <td class="text-center font-16">
                            </td>
                            <td class="font-16"></td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <!--<pre>{{list_convert_duty_payment | json}}</pre>-->

    <!--<pre>{{document.Additional | json}}</pre>-->

</div>