﻿<div class="TravelExManPage delegation-page" ng-controller="MonthlyOTViewerController" ng-init="init();">
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['HRTMOT']['PERIODDETAIL']}}
            </div>
        </div>
        <div class="ayodia-body-content">

            <div class="row">
                <div class="col-sm-7 lr-0">
                    <div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main"> {{Text['HRTMOT']['EMPLOYEE']}}</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-basic-md-center-input">{{employee}}</div>
                    </div>
                </div>
                <div class="col-sm-5 lr-0">
                    <div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main">{{Text['HRTMOT']['OTREPORT_MONTHLY']}}</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-basic-md-center-input">{{getPeriodName(document.Additional.DailyOTLog[0].period)}}</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="content-by-ayodia margin-b20 show-tablet">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['HRTMOT']['PERIODDETAIL']}}
            </div>
        </div>
        <div class="my-tab clearfix" ng-init="tab = 1">
            <a class="w-50 padding-10  font-14 line-h-14" ng-class="tab == 1?'active':''" ng-click="tab = 1">{{Text['HRTMOT']['OTLIST']}}</a>
            <a class="w-50 padding-10  font-14 line-h-14" ng-class="tab == 2?'active':''" ng-click="tab = 2">{{Text['HRTMOT']['APPROVEDOT']}}</a>
        </div>
        <div class="ayodia-body-content" ng-if="tab == 1">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clearfix margin-b20">
                        <!--<div class="filter-items-l clearfix">
                            <div class="f-item">
                                <a class="m-btn-c2 btn-s-md">
                                    <span class="">{{Text['HRTMOT']['RELOAD']}}</span>
                                </a>
                            </div>
                        </div>-->
                        <div class="row">
                            <div class="col-xs-6 lr-0">
                                <div class="f-item margin-r-5">
                                    <a class="m-btn-c-blue btn-s-md">
                                        <span class="">{{Text['HRTMOT']['LEGENDBLUE']}}</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-6 lr-0">
                                <div class="f-item">
                                    <a class="m-btn-c-red btn-s-md">
                                        <span class="">{{Text['HRTMOT']['LEGENDPINK']}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center " style="padding: 7px;"> </th>
                            <!--<input type="checkbox" class="" aria-invalid="false" style="">-->
                            <!--<th class="text-center " style="padding: 7px;">ลำดับ</th>-->
                            <th class="text-center " style="padding: 7px;">{{Text['HRTMOT']['OTDATE']}}</th>
                            <th class="text-center " style="padding: 7px;">{{Text['HRTMOT']['OTTIME']}}</th>
                            <th class="text-center " style="padding: 7px;"></th>
                        </tr>
                        <!--<tbody class="t-body-title {{item.status}}" ng-repeat="item in [{name:'2',status:'state-xxxx'},{name:'1',status:'state-xxx'},{name:'1',status:'state-blue'},{name:'1',status:'state-xxx'},{name:'1',status:'state-red'}]" ng-init="item.open = false;">-->
                        <tbody class="t-body-title {{item.status}}" ng-repeat="item in document.Additional.DailyOTLog" ng-init="item.open = false;">
                            <tr class="tb-m-padding-d-2 tb-style-m-1" ng-style="{'background-color': item.OverLimit?'#EB9D9D': item.DayOff ? '#E0EFFF' : ''}">
                                <td class="font-16 text-center ">
                                    <input disabled type="checkbox" class="" aria-invalid="false" ng-model="item.IsPayroll">
                                </td>
                                <td class="font-16 text-center  font-14">
                                    {{item.BeginDate| date:'d/M/yyyy'}}
                                </td>
                                <td class="font-16 text-center font-14">
                                    {{item.BeginDate| date:'HH:mm:ss'}} - {{item.EndDate| date:'HH:mm:ss'}}
                                </td>
                                <td class="font-16 text-center ">
                                    <i class="fa fa-angle-down" ng-show="item.open == false" ng-click="item.open = true"></i>
                                    <i class="fa fa-angle-up" ng-show="item.open == true" ng-click="item.open = false"></i>
                                </td>
                            </tr>
                            <tr class="tb-style-m-1 tb-m-padding-d" ng-if="item.open" ng-style="{'background-color': item.OverLimit?'#EB9D9D': item.DayOff ? '#E0EFFF' : ''}">
                                <td class="" colspan="5">
                                    <p class="margin-none font-14 line-h-14 color-main">{{Text['HRTMOT']['OTWORKTYPE']}}</p>
                                    <p class="margin-none padding-b-5">  {{getTypeName(item.OTWorkTypeID)}}</p>

                                    <p class="margin-none font-14 line-h-14 color-main"> {{Text['HRTMOT']['COMPUTEOT']}}</p>
                                    <div class="row margin-b-5">
                                        <div class="col-xs-4 text-center lr-3"><div class="w-100 bg-12">{{Text['HRTMOT']['OT1HOUR']}}</div> </div>
                                        <div class="col-xs-4 text-center lr-3"><div class="w-100 bg-12">{{Text['HRTMOT']['OT1_5HOUR']}}</div> </div>
                                        <div class="col-xs-4 text-center lr-3"><div class="w-100 bg-12">{{Text['HRTMOT']['OT3HOUR']}}</div> </div>
                                    </div>
                                    <div class="row  margin-b10">
                                        <div class="col-xs-4 text-center lr-3 "><div class="w-100 bg-13">{{calH(item.RequestOTHour10)}}</div>  </div>
                                        <div class="col-xs-4 text-center lr-3 "><div class="w-100 bg-13">{{calH(item.RequestOTHour15)}}</div>  </div>
                                        <div class="col-xs-4 text-center lr-3 "><div class="w-100 bg-13">{{calH(item.RequestOTHour30)}}</div> </div>
                                    </div>                                   
                                    <p class="margin-none font-14 line-h-14 color-main">{{Text['HRTMOT']['CLOCKOT']}}</p>
                                    <p class="margin-none padding-b-5">-</p>
                                    <p class="margin-none font-14 line-h-14 color-main">{{Text['HRTMOT']['FINALOT']}}</p>
                                    <div class="row margin-b-5">
                                        <div class="col-xs-4 text-center lr-3"><div class="w-100 bg-12">{{Text['HRTMOT']['OT1HOUR']}}</div> </div>
                                        <div class="col-xs-4 text-center lr-3"><div class="w-100 bg-12">{{Text['HRTMOT']['OT1_5HOUR']}}</div>  </div>
                                        <div class="col-xs-4 text-center lr-3"><div class="w-100 bg-12">{{Text['HRTMOT']['OT3HOUR']}}</div> </div>
                                    </div>
                                    <div class="row  margin-b10">
                                        <div class="col-xs-4 text-center lr-3 ">
                                            <div class="w-100 bg-13"> {{calH(item.FinalOTHour10)}}</div>
                                        </div>
                                        <div class="col-xs-4 text-center lr-3 ">
                                            <div class="w-100 bg-13"> {{calH(item.FinalOTHour15)}}</div>
                                        </div>
                                        <div class="col-xs-4 text-center lr-3 ">
                                            <div class="w-100 bg-13"> {{calH(item.FinalOTHour30)}}</div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>

                        <tr class="tb-m-padding-d t-summary">
                            <td class="text-center" colspan="2">{{Text['HRTMOT']['TOTAL']}}</td>
                            <td class="text-center">{{sumFinalOTHour()}}</td>
                            <td class="text-center"></td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
        <div class="ayodia-body-content" ng-if="tab == 2">

            <div class="row">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center " style="padding: 7px;">{{Text['HRTMOT']['OTDATE']}}</th>
                            <th class="text-center " style="padding: 7px;">{{Text['HRTMOT']['OTTIME']}}</th>
                            <th class="text-center " style="padding: 7px;"></th>
                        </tr>
                        <tbody class="t-body-title" ng-repeat="item in document.Additional.AllDailyOTLog" ng-init="item.open = false;" ng-show="item.Status == 3">
                            <tr class="tb-m-padding-d-2 tb-style-m-1">
                                <td class="font-16 text-center font-14">
                                    {{item.BeginDate| date:'d/M/yyyy'}}
                                </td>
                                <td class="font-16 text-center font-14">
                                    {{item.BeginDate| date:'HH:mm:ss'}} - {{item.EndDate| date:'HH:mm:ss'}}
                                </td>
                                <td class="font-16 text-center ">
                                    <i class="fa fa-angle-down" ng-show="item.open == false" ng-click="item.open = true"></i>
                                    <i class="fa fa-angle-up" ng-show="item.open == true" ng-click="item.open = false"></i>
                                </td>
                            </tr>
                            <tr class="tb-style-m-1 tb-m-padding-d" ng-if="item.open">
                                <td class="" colspan="5">
                                    <p class="margin-none font-14 line-h-14 color-main">{{Text['HRTMOT']['OTWORKTYPE']}}</p>
                                    <p class="margin-none padding-b-5">{{getTypeName(item.OTWorkTypeID)}}</p>

                                    <p class="margin-none font-14 line-h-14 color-main"> {{Text['HRTMOT']['COMPUTEOT']}}</p>
                                    <div class="row margin-b-5">
                                        <div class="col-xs-4 text-center lr-3"><div class="w-100 bg-12">{{Text['HRTMOT']['OT1HOUR']}}</div> </div>
                                        <div class="col-xs-4 text-center lr-3"><div class="w-100 bg-12">{{Text['HRTMOT']['OT1_5HOUR']}}</div>  </div>
                                        <div class="col-xs-4 text-center lr-3"><div class="w-100 bg-12">{{Text['HRTMOT']['OT3HOUR']}}</div> </div>
                                    </div>
                                    <div class="row  margin-b10">
                                        <div class="col-xs-4 text-center lr-3 "><div class="w-100 bg-13">    {{calH(item.RequestOTHour10)}}</div>  </div>
                                        <div class="col-xs-4 text-center lr-3 "><div class="w-100 bg-13">    {{calH(item.RequestOTHour15)}}</div>  </div>
                                        <div class="col-xs-4 text-center lr-3 "><div class="w-100 bg-13">    {{calH(item.RequestOTHour30)}}</div> </div>
                                    </div>
                                    <p class="margin-none font-14 line-h-14 color-main">{{Text['HRTMOT']['CLOCKOT']}}</p>
                                    <p class="margin-none padding-b-5">-</p>
                                    <p class="margin-none font-14 line-h-14 color-main">{{Text['HRTMOT']['FINALOT']}}</p>
                                    <div class="row margin-b-5">
                                        <div class="col-xs-4 text-center lr-3"><div class="w-100 bg-12">{{Text['HRTMOT']['OT1HOUR']}}</div> </div>
                                        <div class="col-xs-4 text-center lr-3"><div class="w-100 bg-12">{{Text['HRTMOT']['OT1_5HOUR']}}</div>  </div>
                                        <div class="col-xs-4 text-center lr-3"><div class="w-100 bg-12">{{Text['HRTMOT']['OT3HOUR']}}</div> </div>
                                    </div>
                                    <div class="row  margin-b10">
                                        <div class="col-xs-4 text-center lr-3 "><div class="w-100 bg-13">  {{calH(item.FinalOTHour10)}}</div>  </div>
                                        <div class="col-xs-4 text-center lr-3 "><div class="w-100 bg-13">  {{calH(item.FinalOTHour15)}}</div>  </div>
                                        <div class="col-xs-4 text-center lr-3 "><div class="w-100 bg-13">  {{calH(item.FinalOTHour30)}}</div> </div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>

                        <tr class="tb-m-padding-d t-summary">
                            <td class="text-center" colspan="2">{{Text['HRTMOT']['TOTAL']}}</td>
                            <td class="text-center">{{sumFinalOTHour2()}}</td>
                            <td class="text-center"></td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="content-by-ayodia margin-b20 show-pc">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['HRTMOT']['OTLIST']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clearfix margin-b20">
                        <div class="filter-items-l clearfix">
                            <div class="f-item">
                                <!--<a class="m-btn-c2 btn-s-md">
                                    <span class="">ดึงสรุปรายการใหม่</span>
                                </a>-->
                            </div>

                            <div class="f-item margin-r-5">
                                <div style="padding:9px 18px 7px 18px; display:block; background-color:#E0EFFF; color:#4D4D4D; border-radius:3px; font-size:16px;">
                                    <span class="">{{Text['HRTMOT']['LEGENDBLUE']}}</span>
                                </div>
                            </div>
                            <div class="f-item">
                                <div style="padding:9px 18px 7px 18px; display:block; background-color:#EB9D9D; color:#4D4D4D; border-radius:3px; font-size:16px;">
                                    <span class="">{{Text['HRTMOT']['LEGENDPINK']}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <!--<th class="text-center tb-pad-1" rowspan="2" style="width:60px">ลำดับที่</th>-->
                            <!--<th class="text-center tb-pad-1" rowspan="2" style="width:130px">{{Text['HRTMOT']['OTDATE']}}</th>
                            <th class="text-center tb-pad-1" rowspan="2" style="width:130px">{{Text['ACCOUNT_SETTING']['DETAIL']}}</th>
                            <th class="text-center tb-pad-1" rowspan="2" style="width:130px"> {{Text['HRTMOT']['OTWORKTYPE']}}</th>
                            <th class="text-center tb-pad-1" colspan="3" style="width:150px;">{{Text['HRTMOT']['REQUESTOT']}}</th>
                            <th class="text-center tb-pad-1" colspan="5" style="width:150px;">{{Text['HRTMOT']['SAPOT']}}</th>
                            <th class="text-center tb-pad-1" colspan="4" style="width:150px;">{{Text['HRTMOT']['FINALOT']}}</th>
                            <th class="text-center tb-pad-1" rowspan="2" style="width:60px;">{{Text['ACTION']['SUBMIT']}}  <br> {{Text['APPGROUP']['PAYROLL']}}</th>-->

                            <th class="text-center tb-pad-1" rowspan="2" style="width:100px">{{Text['HRTMOT']['OTDATE']}}</th>
                            <th class="text-center tb-pad-1" rowspan="2" style="width:180px">{{Text['ACCOUNT_SETTING']['DETAIL']}}</th>
                            <th class="text-center tb-pad-1" rowspan="2" style="width:180px"> {{Text['HRTMOT']['OTWORKTYPE']}}</th>
                            <th class="text-center tb-pad-1" colspan="3" style="width:150px">{{Text['HRTMOT']['REQUESTOT']}}</th>
                            <th class="text-center tb-pad-1" rowspan="2" style="width:100px">{{Text['HRTMOT']['CLOCKOT']}}</th>
                            <th class="text-center tb-pad-1" colspan="3" style="width:200px">{{Text['HRTMOT']['FINALOT']}}</th>
                            <th class="text-center tb-pad-1" rowspan="2" style="width:100px;">
                                {{Text['ACTION']['SUBMIT']}}
                                <br />
                                {{Text['APPGROUP']['PAYROLL']}}
                                <br />
                                <!--<input type="checkbox" class="" aria-invalid="false" ng-model="isCheckAllPayroll" ng-click="checkAllPayroll(isCheckAllPayroll)">-->
                            </th>
                        </tr>
                        <tr class="t-header">
                            <!--<th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT1HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT1_5HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT3HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:120px;">{{Text['HRTMOT']['CLOCKOT']}}</th>
                            <th class="text-center tb-pad-1" style="width:120px;">{{Text['HRTMOT']['EVALCLOCKOT']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT1HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT1_5HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT3HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:90px;">{{Text['HRTMOT']['COMPUTEOT']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT1HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT1_5HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT3HOUR']}}</th>-->

                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT1HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT1_5HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT3HOUR']}}</th>

                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT1HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT1_5HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT3HOUR']}}</th>
                        </tr>
                        <tr class="t-body" ng-init="item.select = false;" ng-style="{'background-color': item.OverLimit?'#EB9D9D': item.DayOff ? '#E0EFFF' : ''}" ng-repeat="item in document.Additional.DailyOTLog">
                            <td class="font-16  v-top">
                                {{item.BeginDate| date:'d/M/yyyy'}}
                                <br />
                                {{item.BeginDate| date:'HH:mm:ss'}} - {{item.EndDate| date:'HH:mm:ss'}}
                            </td>
                            <td class="font-16 v-top">
                                {{item.Description}}
                            </td>
                            <td class="font-16  v-top">
                                {{getTypeName(item.OTWorkTypeID)}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{calH(item.RequestOTHour10)}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{calH(item.RequestOTHour15)}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{calH(item.RequestOTHour30)}}
                            </td>
                            <td class="font-16 text-center v-top">
                                <a ng-if="item.Type != 'OFF'" ng-class="{blue: item.ColorIn == 'Blue'}">{{item.ClockIn | date:'HH:mm:ss'}}</a>
                                <a ng-if="item.Type != 'OFF'">-</a>
                                <a ng-if="item.Type != 'OFF'" ng-class="{blue: item.ColorOut == 'Blue'}">{{item.ClockOut | date:'HH:mm:ss'}}</a>
                                <a ng-if="item.Type == 'OFF'" ng-class="{blue: item.ColorIn == 'Blue'}">{{item.ClockIn | date:'HH:mm:ss'}}</a>
                                <a ng-if="item.Type == 'OFF'">-</a>
                                <a ng-if="item.Type == 'OFF'" ng-class="{blue: item.ColorOut == 'Blue'}">{{item.ClockOut | date:'HH:mm:ss'}}</a>
                            </td>
                            <!--<td class="font-16 text-center v-top">
                                -
                            </td>
                            <td class="font-16 text-center v-top">
                                {{calH(item.EvaOTHour10)}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{calH(item.EvaOTHour15)}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{calH(item.EvaOTHour30)}}
                            </td>
                            <td class="font-16 text-center v-top">
                                -
                            </td>-->
                            <td class="font-16 text-center v-top">
                                <!--{{calH(item.FinalOTHour10)}}-->
                                <a ng-class="{blue: item.FinalOTHour10 != 0 && (item._FinalOTHour10 * 60) != item.RequestOTHour10}">{{calH(item.FinalOTHour10)}}</a>
                            </td>
                            <td class="font-16 text-center v-top">
                                <!--{{calH(item.FinalOTHour15)}}-->
                                <a ng-class="{blue: item.FinalOTHour15 != 0 && (item._FinalOTHour15 * 60) != item.RequestOTHour15}">{{calH(item.FinalOTHour15)}}</a>
                            </td>
                            <td class="font-16 text-center v-top">
                                <!--{{calH(item.FinalOTHour30)}}-->
                                <a ng-class="{blue: item.FinalOTHour30 != 0 && (item._FinalOTHour30 * 60) != item.RequestOTHour30}">{{calH(item.FinalOTHour30)}}</a>
                            </td>

                            <td class="font-16 text-center  v-top">
                                <input disabled type="checkbox" style="width:20px;height:20px;" aria-invalid="false" ng-model="item.IsPayroll">
                            </td>

                        </tr>
                        <tr class="t-body t-summary">
                            <!--<td class="text-center" colspan="3">{{Text['HRTMOT']['TOTAL']}}</td>
                            <td class="text-center" colspan="3">{{sumRequestOTHour()}}</td>
                            <td class="text-center" colspan="2"></td>
                            <td class="text-center" colspan="3">{{sumEvaOTHour()}}</td>
                            <td class="text-center" colspan="1"></td>
                            <td class="text-center" colspan="3">{{sumFinalOTHour()}}</td>
                            <td class="text-center"></td>-->

                            <td class="text-center" colspan="3">{{Text['HRTMOT']['TOTAL']}}</td>
                            <td class="text-center" colspan="3">{{sumRequestOTHour()}}</td>
                            <td class="text-center" colspan="1"></td>
                            <!--<td class="text-center" colspan="3">{{sumEvaOTHour()}}</td>
                            <td class="text-center" colspan="1"></td>-->
                            <td class="text-center" colspan="3">{{sumFinalOTHour()}}</td>
                            <td class="text-center"></td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="content-by-ayodia margin-b20 show-pc ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['HRTMOT']['APPROVEDOT']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row show-pc">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <!--<th class="text-center tb-pad-1" rowspan="2" style="width:130px">{{Text['HRTMOT']['OTDATE']}}</th>
                            <th class="text-center tb-pad-1" rowspan="2" style="width:130px">{{Text['ACCOUNT_SETTING']['DETAIL']}}</th>
                            <th class="text-center tb-pad-1" rowspan="2" style="width:130px"> {{Text['HRTMOT']['OTWORKTYPE']}}</th>
                            <th class="text-center tb-pad-1" colspan="3" style="width:150px;">{{Text['HRTMOT']['REQUESTOT']}}</th>
                            <th class="text-center tb-pad-1" colspan="5" style="width:150px;">{{Text['HRTMOT']['SAPOT']}}</th>
                            <th class="text-center tb-pad-1" colspan="4" style="width:150px;">{{Text['HRTMOT']['FINALOT']}}</th>-->

                            <th class="text-center tb-pad-1" rowspan="2" style="width:100px">{{Text['HRTMOT']['OTDATE']}}</th>
                            <th class="text-center tb-pad-1" rowspan="2" style="width:180px">{{Text['ACCOUNT_SETTING']['DETAIL']}}</th>
                            <th class="text-center tb-pad-1" rowspan="2" style="width:180px"> {{Text['HRTMOT']['OTWORKTYPE']}}</th>
                            <th class="text-center tb-pad-1" colspan="3" style="width:150px">{{Text['HRTMOT']['REQUESTOT']}}</th>
                            <th class="text-center tb-pad-1" rowspan="2" style="width:100px">{{Text['HRTMOT']['CLOCKOT']}}</th>
                            <th class="text-center tb-pad-1" colspan="3" style="width:200px">{{Text['HRTMOT']['FINALOT']}}</th>
                        </tr>
                        <tr class="t-header">
                            <!--<th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT1HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT1_5HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT3HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:120px;">{{Text['HRTMOT']['CLOCKOT']}}</th>
                            <th class="text-center tb-pad-1" style="width:120px;">{{Text['HRTMOT']['EVALCLOCKOT']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT1HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT1_5HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT3HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:90px;">{{Text['HRTMOT']['COMPUTEOT']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT1HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT1_5HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT3HOUR']}}</th>-->

                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT1HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT1_5HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT3HOUR']}}</th>

                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT1HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT1_5HOUR']}}</th>
                            <th class="text-center tb-pad-1" style="width:50px">{{Text['HRTMOT']['OT3HOUR']}}</th>
                        </tr>
                        <tr class="t-body" ng-init="item.select = false;" ng-repeat="item in document.Additional.AllDailyOTLog" ng-show="item.Status == 3">
                            <td class="font-16  v-top">
                                {{item.BeginDate| date:'d/M/yyyy'}}&nbsp;{{item.BeginDate| date:'HH:mm:ss'}} - {{item.EndDate| date:'HH:mm:ss'}}
                            </td>
                            <td class="font-16 v-top">
                                {{item.Description}}
                            </td>
                            <td class="font-16  v-top">
                                {{getTypeName(item.OTWorkTypeID)}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{calH(item.RequestOTHour10)}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{calH(item.RequestOTHour15)}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{calH(item.RequestOTHour30)}}
                            </td>
                            <td class="font-16 text-center v-top">
                                <a ng-if="item.Type != 'OFF'" ng-class="{blue: item.ColorIn == 'Blue'}">{{item.ClockIn | date:'HH:mm:ss'}}</a>
                                <a ng-if="item.Type != 'OFF'">-</a>
                                <a ng-if="item.Type != 'OFF'" ng-class="{blue: item.ColorOut == 'Blue'}">{{item.ClockOut | date:'HH:mm:ss'}}</a>
                                <a ng-if="item.Type == 'OFF'" ng-class="{blue: item.ColorIn == 'Blue'}">{{item.ClockIn | date:'HH:mm:ss'}}</a>
                                <a ng-if="item.Type == 'OFF'">-</a>
                                <a ng-if="item.Type == 'OFF'" ng-class="{blue: item.ColorOut == 'Blue'}">{{item.ClockOut | date:'HH:mm:ss'}}</a>
                            </td>
                            <!--<td class="font-16 text-center v-top">
                                -
                            </td>
                            <td class="font-16 text-center v-top">
                                {{calH(item.EvaOTHour10)}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{calH(item.EvaOTHour15)}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{calH(item.EvaOTHour30)}}
                            </td>
                            <td class="font-16 text-center v-top">
                                -
                            </td>-->
                            <td class="font-16 text-center v-top">
                                {{calH(item.FinalOTHour10)}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{calH(item.FinalOTHour15)}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{calH(item.FinalOTHour30)}}
                            </td>

                        </tr>
                        <tr class="t-body t-summary">
                            <td class="text-center" colspan="3">{{Text['HRTMOT']['TOTAL']}}</td>
                            <td class="text-center" colspan="3">{{sumRequestOTHour2()}}</td>
                            <td class="text-center" colspan="1"></td>
                            <!--<td class="text-center" colspan="3">{{sumEvaOTHour2()}}</td>
                            <td class="text-center" colspan="1"></td>-->
                            <td class="text-center" colspan="3">{{sumFinalOTHour2()}}</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <!--<pre>{{document.Additional | json}}</pre>-->
    <!--<pre>{{document.Additional.DailyOTLog | json}}</pre>-->
</div>