﻿<div class="TravelExManPage delegation-page" ng-controller="PeriodViewerController" ng-init="init();">

    <h1>รายละเอียดการเพิ่ม/แก้ไขรายการ</h1>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                เพิ่ม/แก้ไขรายการตารางการทำงาน
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">จัดกลุ่มตาม :</div>
                    </div>
                    <div class="col-sm-6 margin-b20">
                        <div class="radio style2 radio-inline">
                            <input disabled type="radio" name="radio" id="radio_100" ng-model="document.Additional.PeriodGroupType" value="1" />
                            <label for="radio_100" class="black-color">วันที่เริ่มใช้งาน</label>
                        </div>
                        <div class="radio style2 radio-inline">
                            <input disabled type="radio" name="radio" id="radio_0" ng-model="document.Additional.PeriodGroupType" value="2" />

                            <label for="radio_0" class="black-color">พนักงาน</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-b20">
                <div class="col-sm-12  margin-b10">
                    <div class="line-under "></div>
                </div>
            </div>

            <div ng-show="document.Additional.PeriodGroupType == '1'" class="row" ng-repeat="groupEffectiveDate in document.Additional.PeriodGroupTypeEffectiveDates">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">วันที่เริ่มต้นใช้งานที่ {{$index+1}} :</div>
                    </div>
                    <div class="col-sm-2">
                        <div class="s-detail font-16 margin-b20">
                            {{groupEffectiveDate.EffectiveDate |  date:'dd/MM/yyyy'}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8 margin-b20">
                        <div class="show-pc">
                            <table class="w-100 table-style-1 margin-b10 ">
                                <tr class="t-header">
                                    <th class="text-center" style="width:30px">ลำดับ</th>
                                    <th class="text-center" style="width:150px">พนักงาน</th>
                                    <th class="text-center" style="width:130px">ประเภทเวลาการทำงานเดิม</th>
                                    <th class="text-center" style="width:100px;">ประเภทเวลาทำงาน</th>
                                </tr>
                                <tr class="t-body" ng-repeat="item in groupEffectiveDate.PeriodTypeGroupEffectiveDateDetails">
                                    <td class="font-16 text-center v-top">
                                        {{$index+1}}
                                    </td>
                                    <td class="font-16">
                                        {{item.EmployeeId}}&nbsp;{{item.EmployeeName}}
                                    </td>
                                    <td class="font-16 text-center">
                                        {{item.BeforeTextName}}
                                    </td>
                                    <td class="font-16 text-center">
                                        {{item.TextName}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="show-tablet">
                            <table class="w-100 table-style-1 margin-b10 ">
                                <tr class="t-header">
                                    <th class="text-center" style="width:60px">ลำดับ</th>
                                    <th class="text-center">รายละเอียด</th>
                                </tr>
                                <tr class="t-body" ng-repeat="item in groupEffectiveDate.PeriodTypeGroupEffectiveDateDetails">
                                    <td class="font-16 text-center v-top">
                                        {{$index+1}}
                                    </td>
                                    <td class="font-16">
                                        <p class="margin-none"><span>{{item.EmployeeId}}</span></p>
                                        <p class="margin-none"><span>{{item.EmployeeName}}</span></p>
                                        <p class="margin-none color-main">ประเภทเวลาการทำงาน (เดิม)</p>
                                        <p class="margin-none">
                                            <span ng-show="item.BeforeTextName != ''">{{item.BeforeTextName}}</span>
                                            <span ng-show="item.BeforeTextName == ''">ไม่พบข้อมูล</span>
                                        </p>
                                        <p class="margin-none color-main">ประเภทเวลาการทำงาน (ใหม่)</p>
                                        <p class="margin-none">{{item.TextName}}</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="document.Additional.PeriodGroupType == '2'" class="row" ng-repeat="group in document.Additional.PeriodGroupTypeEmployees">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">พนักงานคนที่ {{$index+1}} :</div>
                    </div>
                    <div class="col-sm-8 margin-b20">
                        <div class="s-detail font-16">
                            ชื่อ-นามสกุล : {{group.EmployeeId}}&nbsp;{{group.EmployeeName}}
                        </div>
                        <div class="s-detail font-16">ตำแหน่ง :&nbsp;{{group.PositionName}}</div>
                        <div class="s-detail font-16 margin-b20">หน่วยงาน :&nbsp;{{group.OrgName}} </div>

                        <div class="show-pc">
                            <table class="w-100 table-style-1 margin-b10 ">
                                <tr class="t-header">
                                    <th class="text-center" style="width:30px">ลำดับ</th>
                                    <th class="text-center" style="width:150px">วันที่เริ่มต้นใช้งาน</th>
                                    <th class="text-center" style="width:130px">ประเภทเวลาการทำงานเดิม</th>
                                    <th class="text-center" style="width:200px;">ประเภทเวลาทำงาน</th>
                                </tr>
                                <tr class="t-body" ng-repeat="item in group.EmployeeWorkingDetails">
                                    <td class="font-16 text-center v-top">
                                        {{$index+1}}
                                    </td>
                                    <td class="font-16 text-center">
                                        {{item.EffectiveDate |  date:'dd/MM/yyyy'}}
                                    </td>
                                    <td class="font-16 text-center">
                                        {{item.BeforeTextName}}
                                    </td>
                                    <td class="font-16 text-center">
                                        {{item.TextName}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="show-tablet">
                            <table class="w-100 table-style-1 margin-b10">
                                <tr class="t-header">
                                    <th class="text-center" style="width:60px">ลำดับ</th>
                                    <th class="text-center">รายละเอียด</th>
                                </tr>
                                <tr class="t-body" ng-repeat="item in group.EmployeeWorkingDetails">
                                    <td class="font-16 text-center v-top">
                                        {{$index+1}}
                                    </td>
                                    <td class="font-16">
                                        <p class="margin-none">วันที่เริ่มต้นใช้งาน :<span>{{item.EffectiveDate |  date:'dd/MM/yyyy'}}</span></p>
                                        <p class="margin-none color-main">ประเภทเวลาการทำงาน (เดิม)</p>
                                        <p class="margin-none">
                                            <span ng-show="item.BeforeTextName != ''">{{item.BeforeTextName}}</span>
                                            <span ng-show="item.BeforeTextName == ''">ไม่พบข้อมูล</span>
                                        </p>
                                        <p class="margin-none color-main">ประเภทเวลาการทำงาน (ใหม่)</p>
                                        <p class="margin-none">{{item.TextName}}</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--<pre>{{document | json}}</pre>-->
    <!--<pre>{{document.Additional | json}}</pre>-->
</div>