﻿<div class="TravelExManPage delegation-page" ng-controller="PeriodEditorController" ng-init="init();">
    <!--<pre>{{dataAreaWorkSchedule|json}}</pre>-->
    <h1>เพิ่ม/แก้ไขรายการ</h1>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                เพิ่ม/แก้ไขรายการตารางการทำงาน
            </div>
        </div>

        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">จัดกลุ่มตาม :</div>
                    </div>
                    <div class="col-sm-6 margin-b20">
                        <div class="radio style2 radio-inline">
                            <input type="radio" name="radio2" id="radio_100" ng-model="document.Additional.PeriodGroupType" value="1" ng-click="changeTypeGroupPeriod(document.Additional.PeriodGroupType)" />
                            <label for="radio_100" class="black-color">วันที่เริ่มใช้งาน</label>
                        </div>
                        <div class="radio style2 radio-inline">
                            <input type="radio" name="radio2" id="radio_0" ng-model="document.Additional.PeriodGroupType" value="2" ng-click="changeTypeGroupPeriod(document.Additional.PeriodGroupType)" />
                            <label for="radio_0" class="black-color">พนักงาน</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-xs-6 col-sm-2 margin-b10">
                        <a class="m-btn-c2 btn-s-md text-center" ng-click="addRowData(document.Additional.PeriodGroupType)">
                            <span class="">
                                เพิ่มรายการ
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row margin-b10">
                <div class="col-sm-12">
                    <div class="line-under "></div>
                </div>
            </div>

            <!-- Groupby Effective Date -->
            <div ng-show="document.Additional.PeriodGroupType == '1'" class="row show-pc" ng-repeat="group in document.Additional.PeriodGroupTypeEffectiveDates">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">วันที่เริ่มต้นใช้งานที่ {{$index+1}} :</div>
                    </div>
                    <div class="col-sm-8">
                        <div class="clearfix">
                            <div class="filter-items-l clearfix">
                                <div class="f-item">
                                    <div class="col-xs-6 col-sm-8 margin-b10">
                                        <div class="s-detail font-16">
                                            <div class="datepicker-height-set" style="position:relative;height:40px;">
                                                <!--<datepicker callback-on-change="changeDatetimeTypeEffecttiveDate(newDate,group)" date-format="d/M/yyyy" date-set="{{group.EffectiveDate}}">-->
                                                <datepicker show-holidays="false" date-limit-from-api="false" callback-on-change="changeDatetimeTypeEffecttiveDate(newDate,group)" date-format="d/M/yyyy" date-set="{{group.EffectiveDate}}">
                                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                                </datepicker>
                                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-2 margin-b10">
                                        <button class="btn btn-danger btn-sm mt-1" ng-click="deleteGroupRow(document.Additional.PeriodGroupType,0,$index);">ล้างข้อมูล</button>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-items-r">
                                <a class="m-btn-c2 btn-s-md" ng-click="addEmployeeByPeriodTypeEffectiveDate($index)">
                                    <span class="">
                                        เพิ่มพนักงาน
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8 margin-b20">
                        <div class="show-pc">
                            <table class="w-100 table-style-1 margin-b10 ">
                                <tr class="t-header">
                                    <th class="text-center" style="width:30px">ลำดับ</th>
                                    <th class="text-center" style="width:150px">พนักงาน</th>
                                    <th class="text-center" style="width:130px">ประเภทเวลาการทำงานเดิม</th>
                                    <th class="text-center" style="width:100px;">ประเภทเวลาทำงาน</th>
                                    <th style="width:60px;"></th>
                                </tr>
                                <tr class="t-body" ng-repeat="item in group.PeriodTypeGroupEffectiveDateDetails">
                                    <td class="font-16 text-center v-top">
                                        {{$index+1}}
                                    </td>
                                    <td class="font-16">
                                        <div class="clearfix">
                                            <div class="filter-items-l clearfix">
                                                <div class="f-item">
                                                    <!--{{item.EmployeeId}}&nbsp;{{item.EmployeeName}}-->
                                                    <p class="margin-none">{{item.EmployeeId}}</p>
                                                    <p class="margin-none">{{item.EmployeeName}}</p>
                                                </div>
                                            </div>
                                            <div class="filter-items-r">
                                                <button class="btn btn-primary btn-sm" ng-click="editEmploeeRowByEffectiveDate(group,$index)">แก้ไขพนักงาน</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="font-16 text-center v-top">
                                        {{item.BeforeTextName}}
                                    </td>
                                    <td class="font-16 text-center pt-0">
                                        <select class="form-control w-100" ng-model="item.AreaWorkScheduleId" ng-change="changeTextCode(item)" placeholder="ที่">
                                            <option ng-repeat="itemArea in dataAreaWorkSchedule" ng-value="itemArea.AreaWorkscheduleID">{{itemArea.TextName}}</option>
                                        </select>
                                    </td>
                                    <td class="font-16 text-center">
                                        <a ng-show="$index>=0" ng-click="deleteDetailGroupbyEffectiveDate(group,$index)"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row show-tablet margin-b10" ng-show="document.Additional.PeriodGroupType == '1'" ng-repeat="group in document.Additional.PeriodGroupTypeEffectiveDates">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="text-basic-md-center-input color-main">วันที่เริ่มต้นใช้งานที่ {{$index+1}} :</div>
                    </div>
                </div>
                <div class="row margin-b10">
                    <div class="col-xs-6">
                        <div class="datepicker-height-set" style="position:relative;height:40px;">
                            <datepicker callback-on-change="changeDatetimeTypeEffecttiveDate(newDate,group)" date-format="d/M/yyyy" date-set="{{group.EffectiveDate}}">
                                <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                            </datepicker>
                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                        </div>
                    </div>
                    <div class="col-xs-6" style="padding:10px;">
                        <a ng-show="$index>=0" ng-click="deleteGroupRow(document.Additional.PeriodGroupType,0,$index);"><i class="fas fa-trash-alt" style='font-size:18px'></i></a>
                    </div>
                </div>
                <div class="row margin-b10">
                    <div class="col-xs-6">
                        <a class="m-btn-c2 btn-s-md" ng-click="addEmployeeByPeriodTypeEffectiveDate($index)">
                            <span class="">
                                เพิ่มพนักงาน
                            </span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="w-100 table-style-1">
                            <tr class="t-header">
                                <th class="text-center" style="width:100%">รายละเอียด</th>
                            </tr>
                            <tr class="t-body" ng-repeat="item in group.PeriodTypeGroupEffectiveDateDetails">
                                <td>
                                    <div class="row margin-b-5">
                                        <div class="col-xs-8">
                                            <p class="margin-none">{{item.EmployeeId}}</p>
                                            <p class="margin-none">{{item.EmployeeName}}</p>
                                            <p class="margin-none">{{item.BeforeTextName}}</p>
                                        </div>
                                        <div class="col-xs-4">
                                            <button class="btn btn-primary btn-sm" ng-click="editEmploeeRowByEffectiveDate(group,$index)">แก้ไขพนักงาน</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-10">
                                            <select class="form-control w-100" ng-model="item.AreaWorkScheduleId" ng-change="changeTextCode(item)" placeholder="ที่">
                                                <option ng-repeat="itemArea in dataAreaWorkSchedule" ng-value="itemArea.AreaWorkscheduleID">{{itemArea.TextName}}</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-2 text-center" style="padding:5px;">
                                            <a ng-show="$index>=0" ng-click="deleteDetailGroupbyEffectiveDate(group,$index)"><i class="fas fa-trash-alt" style='font-size:18px'></i></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>


            <!-- Groupby Employee  -->
            <div ng-show="document.Additional.PeriodGroupType == '2'" class="row " ng-repeat="group in document.Additional.PeriodGroupTypeEmployees">
                <div class="col-sm-12 lr-0 show-pc">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">พนักงานคนที่ {{$index+1}} :</div>
                    </div>
                    <div class="col-sm-8 margin-b20">
                        <div class="show-pc">
                            <div class="clearfix">
                                <div class="filter-items-l clearfix">
                                    <div class="f-item">
                                        <div class="s-detail font-16">
                                            {{Text['BENEFITREPORT']['T_FULLNAME']}} : {{group.EmployeeName}}
                                            <button class="btn btn-primary btn-sm" ng-click="editEmployeeRow(document.Additional.PeriodGroupType,$index,group.EmployeeId)">ค้นหาพนักงาน</button>
                                            <button class="btn btn-danger btn-sm" ng-click="deleteGroupRow(document.Additional.PeriodGroupType,group.EmployeeId,$index);">ล้างข้อมูล</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-items-r">
                                    <a class="m-btn-c2 btn-s-md" ng-click="addRowPeriodGroupEmployee($index)">
                                        <span class="">
                                            เพิ่มวันที่เริ่มต้นใช้งาน
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="s-detail font-16">{{Text['HRTMABSENCE']['DELEGATE_POSITION']}} : {{group.PositionName}}</div>
                            <div class="s-detail font-16 margin-b20">{{Text['HRTMABSENCE']['DELEGATE_ORGANIZE']}} :{{group.OrgName}}</div>

                            <table class="w-100 table-style-1 margin-b10 ">
                                <tr class="t-header">
                                    <th class="text-center" style="width:30px">{{Text['SYSTEM']['DetailID']}}</th>
                                    <th class="text-center" style="width:150px">วันที่เริ่มต้นใช้งาน</th>
                                    <th class="text-center" style="width:130px">ประเภทเวลาการทำงานเดิม</th>
                                    <th class="text-center" style="width:200px;">ประเภทเวลาทำงาน</th>
                                    <th style="width:60px;"></th>
                                </tr>
                                <tr class="t-body" ng-repeat="item in group.EmployeeWorkingDetails">
                                    <td class="font-16 text-center v-top">
                                        {{$index+1}}
                                    </td>
                                    <td class="font-16 text-center">
                                        <div class="datepicker-height-set" style="position:relative;height:40px;">
                                            <datepicker callback-on-change="setCalendarFrom(newDate,item,group.EmployeeId)" date-format="d/M/yyyy" date-set="{{item.EffectiveDate}}">
                                                <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                            </datepicker>
                                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                        </div>
                                    </td>
                                    <td class="font-16 text-center v-top">
                                        {{item.BeforeTextName}}
                                    </td>
                                    <td class="font-16 text-center">
                                        <select class="form-control w-100" ng-model="item.AreaWorkScheduleId" ng-change="changeTextCode(item)" placeholder="ที่">
                                            <option ng-repeat="itemArea in dataAreaWorkSchedule" ng-value="itemArea.AreaWorkscheduleID">{{itemArea.TextName}}</option>
                                        </select>
                                    </td>
                                    <td class="font-16 text-center">
                                        <a ng-show="$index>=0" ng-click="deleteRowCalendarPeriodGroupEmployee(group,$index)"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="show-tablet" ng-show="document.Additional.PeriodGroupType == '2'" ng-repeat="group in document.Additional.PeriodGroupTypeEmployees">
                <div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="text-basic-md-center-input color-main">พนักงานคนที่ {{$index+1}} :</div>
                        </div>
                    </div>
                    <div class="row margin-b5">
                        <div class="col-xs-12">
                            <input class="form-control" disabled value="{{group.EmployeeId}} {{group.EmployeeName}}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="text-basic-md-center-input color-main">ตำแหน่ง :</div>
                        </div>
                    </div>
                    <div class="row margin-b5">
                        <div class="col-xs-12"><p class="margin-none">{{group.PositionName}}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="text-basic-md-center-input color-main">หน่วยงาน :</div>
                        </div>
                    </div>
                    <div class="row margin-b10">
                        <div class="col-xs-12"><p class="margin-none">{{group.OrgName}}</p></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-primary" ng-click="editEmployeeRow(document.Additional.PeriodGroupType,$index,group.EmployeeId)">แก้ไขพนักงาน</button>
                            <button class="btn btn-danger" ng-click="deleteGroupRow(document.Additional.PeriodGroupType,group.EmployeeId,$index);">ล้างข้อมูล</button>
                            <button class="btn btn-primary" style="background:#603912;" ng-click="addRowPeriodGroupEmployee_mobile($index,group.EmployeeId)">
                                เพิ่มวันที่เริ่มต้นใช้งาน
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="w-100 table-style-1">
                            <tr class="t-header">
                                <th class="text-center" width="5%">ลำดับ</th>
                                <th class="text-center" width="95%">รายละเอียด</th>
                            </tr>
                            <tr class="t-body" ng-if="group.EmployeeWorkingDetails.length > 0" ng-repeat="item in group.EmployeeWorkingDetails">
                                <td class="text-center">{{$index+1}}</td>
                                <td>
                                    <p class="margin-none color-main" >วันที่เริ่มต้นใช้งาน</p>
                                    <p class="margin-none">{{item.EffectiveDate | date:'dd/MM/yyyy' }}</p>
                                    <p class="margin-none color-main">ประเภทเวลาการทำงาน (เดิม)</p>
                                    <p class="margin-none">{{item.BeforeTextName}}</p>
                                    <p class="margin-none color-main">ประเภทเวลาการทำงาน (ใหม่)</p>
                                    <p class="margin-none">{{item.TextName}}</p>
                                    <div>
                                        <a ng-click="editRowPeriodGroupEmployee_mobile(group,$index,group.EmployeeId)"><i class='far fa-edit'></i></a>
                                        &nbsp;&nbsp;
                                        <a ng-click="deleteRowCalendarPeriodGroupEmployee(group,$index)"><i class='far fa-trash-alt'></i></a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row margin-t10" ng-show="document.Additional.PeriodGroupTypeEffectiveDates.length > 1 || document.Additional.PeriodGroupTypeEmployees.length > 1">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2"> </div>
                    <div class="col-xs-6 col-sm-2 margin-b10">
                        <a class="m-btn-c2 btn-s-md text-center" ng-click="addRowData(document.Additional.PeriodGroupType)">
                            <span class="">
                                เพิ่มรายการ
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<pre>{{document.Additional | json}}</pre>
    <pre>{{dataAreaWorkSchedule | json}}</pre>
    <pre>{{loader}}</pre>-->
</div>


<script type="text/ng-template" id="modalListEmployeeDataSubstitute.ng-popup.html">
    <div class="modal-header">
        <h3 class="modal-title custom font-b font-18">เลือกรายการ</h3>
        <button type="button" class="close custom" ng-click="closeModel()">&times;</button>
    </div>


    <div class="modal-body alert2 scrollbar-2 popup-scroll">
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <input type="text" class="w-50 input-box font-16" placeholder="ค้นหาพนักงาน"
                       ng-model="modelTextSearch.TextData"
                       ng-model-options="{ debounce: 1000 }"
                       ng-change="searchEmployee(modelTextSearch.TextData);">
            </div>
        </div>
        <div class="row">
            <div class="row margin-b10 show-pc lr-0">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center">{{text_db['ACCOUNT_SETTING']['EMPLOYEE_ID']}}</th>
                            <th class="text-center">{{text_db['BE_EDUCATIONALLOWANCE']['FULL_NAME']}}</th>
                            <th class="text-center">{{text_db['HRTMABSENCE']['DELEGATE_POSITION']}}</th>
                            <th class="text-center">{{text_db['HRTMABSENCE']['DELEGATE_ORGANIZE']}}</th>
                            <th class="text-center">{{text_db['PAYROLLREPORTFORADMIN']['EMPLOYEE']}}</th>
                        </tr>

                        <tr class="t-body" ng-if="list_emp.length > 0" ng-repeat="employeeData in list_emp">
                            <td class="font-16 v-top">
                                <p class="margin-none">{{employeeData.EmployeeID}}</p>
                            </td>
                            <td class="font-16 v-top">
                                <p class="margin-none">{{employeeData.EmployeeName}}</p>
                            </td>
                            <td class="font-16 text-center v-top">
                                {{employeeData.PositionName}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{employeeData.OrgUnitName}}
                            </td>
                            <td class="font-16 text-center v-top">
                                <button class="btn btn-primary btn-sm" ng-click="selectEmployee(employeeData);">{{text_db['PAYROLLREPORTFORADMIN']['SELECT']}}</button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="row margin-b10 show-tablet lr-0">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center" colspan="2">{{text_db['ACCOUNT_SETTING']['DETAIL']}}</th>
                        </tr>
                        <tr class="t-body" ng-repeat="employeeData in list_emp">
                            <td class="font-14 v-top">
                                <p class="margin-none"> {{employeeData.EmployeeID}} {{employeeData.EmployeeName}}</p>
                                <p class="margin-none"> {{employeeData.PositionName}}</p>
                                <p class="margin-none"> {{employeeData.OrgUnitName}} </p>
                            </td>
                            <td class="font-14 lr-0 v-top text-center">
                                <button class="btn btn-primary btn-sm" ng-click="selectEmployee(employeeData);">{{text_db['PAYROLLREPORTFORADMIN']['SELECT']}}</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--<pre>{{list_emp |json}}</pre>-->
</script>

<script type="text/ng-template" id="selectStartDate.ng-popup.html">
    <div class="modal-header">
        <h3 class="modal-title custom font-b font-18">เพิ่มรายการ</h3>
        <button type="button" class="close custom" ng-click="closeModel()">&times;</button>
    </div>
    <div class="modal-body alert2 scrollbar-2">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <div class="col-sm-4">
                    <div class="text-basic-md-center-input color-main"> วันที่เริ่มต้นใช้งาน :  </div>
                </div>
                <div class="col-sm-8 margin-b20">
                    <div class="datepicker-height-set" style="position:relative;height:40px;">

                        <datepicker show-holidays="false" date-limit-from-api="false" callback-on-change="setdatefrom(newDate)" date-format="d/M/yyyy" date-set="{{date}}">
                            <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                        </datepicker>
                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                    </div>
                    <span style="color:red;font-weight:bold;" ng-show="isShowTextWarning">{{wordText}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="clearfix margin-b20">
                <div class="filter-items-r clearfix">
                    <div class="f-item">
                        <a class="m-btn-c2 btn-s-md" ng-click="save()">
                            <span class="">
                                <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;{{Text['ACTION']['SAVENEXT']}}
                            </span>
                        </a>
                    </div>
                    <div class="f-item">
                        <a class="m-btn-c2 btn-s-md" ng-click="closeModel()">
                            <span class="">
                                <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;{{Text['ACTION']['CANCEL']}}
                            </span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="selectDateEmployeeMobile.ng-popup.html">
    <div class="modal-header">
        <h3 class="modal-title custom font-b font-18">เพิ่มรายการ</h3>
        <button type="button" class="close custom" ng-click="closeModel()">&times;</button>
    </div>
    <div class="modal-body alert2 scrollbar-2">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <div class="col-sm-4">
                    <div class="text-basic-md-center-input color-main">วันที่เริ่มต้นใช้งาน :</div>
                </div>
                <div class="col-sm-8 margin-b10">
                    <div class="datepicker-height-set" style="position:relative;height:40px;">
                        <!--<datepicker callback-on-change="setdatefrom(newDate)" date-format="d/M/yyyy" date-set="{{objEmployeeDetail.EffectiveDate}}">-->
                        <datepicker show-holidays="false" date-limit-from-api="false" callback-on-change="setdatefrom(newDate)" date-format="d/M/yyyy" date-set="{{objEmployeeDetail.EffectiveDate}}">
                            <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                        </datepicker>
                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                    </div>
                    <span style="color:red;font-weight:bold;" ng-show="isError">กรุณาเลือกวันที่เริ่มต้นใช้งาน</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 lr-0">
                <div class="col-sm-4">
                    <div class="text-basic-md-center-input color-main">ประเภทเวลาการทำงาน :</div>
                </div>
                <div class="col-sm-8 margin-b10">
                    <select class="form-control w-100" ng-model="objEmployeeDetail.AreaWorkScheduleId" ng-change="changeTextCode_mobile(objEmployeeDetail.AreaWorkScheduleId)" placeholder="ที่">
                        <option ng-repeat="itemArea in listAreaWorkingSchedule_mobile" ng-value="itemArea.AreaWorkscheduleID">{{itemArea.TextName}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <button class="btn btn-primary" style="background:#603912; border-color:#603912;" ng-click="save()">
                    ตกลง
                </button>
            </div>
        </div>
    </div>

    <!--<pre>{{objEmployeeDetail | json}}</pre>-->
</script>