﻿<div class="TravelExManPage delegation-page" ng-controller="SubstitutionDeleteEditorController" ng-init="init();">


    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['DS']['SUBSTITUTE_DETAIL']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <!--<div class="row">
                <div class="box-tooltip-error text-center">
                    ขอยกเลิกเอกสาร
                </div>
            </div>-->
            <div class="row">
                <div class="col-sm-6 lr-0">
                    <div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main">{{Text['DS']['SUBSTITUTE_WORKDATE_REQUESTOR']}}</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-basic-md-center-input">{{document.Additional.InfoTable[0].BeginDate | date:'d/M/yyyy'}}</div>
                    </div>
                    <div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main">{{Text['HRTMSUBSTITUTION']['SUBSTITUTIONWITH']}} :</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-basic-md-center-input">{{document.Additional.InfoSubstitute[0].SubstituteId}}&nbsp;{{document.Additional.InfoSubstitute[0].SubstituteName}}</div>
                    </div>
                    <div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['DELEGATE_POSITION']}} :</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-basic-md-center-input">{{document.Additional.InfoSubstitute[0].PostionName}}</div>
                    </div>
                    <div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main">{{Text['OBJECTSETTING']['Organization']}} :</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-basic-md-center-input">{{document.Additional.InfoSubstitute[0].OrganizationName}}</div>
                    </div>
                </div>
                <div class="col-sm-6 lr-0">
                    <div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main">วันที่แลกกะของผู้ทำงานแทน :</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-basic-md-center-input">{{document.Additional.InfoTable[0].EndDate | date:'d/M/yyyy'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['DS']['SUBSTITUTE_WORKSCHEDULE']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row ">

                <div class="col-md-12 lr-0 show-tablet">
                    <div class="row">
                        <div class="col-sm-12 margin-b20">
                            <table class="w-100 table-style-2 margin-b10 ">
                                <tr class="t-header">
                                    <th class="text-center">{{Text['HRTMSUBSTITUTION']['SUBSTITUTIONBYTIME']}}</th>
                                </tr>
                                <tr class="t-body">
                                    <td class="text-left">
                                        <div class="s-detail font-16 margin-b10">{{document.RequestorNo}} {{document.RequestorName}}</div>
                                        <div class="s-detail font-16 font-b">{{Text['DS']['SUBSTITUTE_TIME_FROM']}}</div>
                                        <div class="s-detail font-16  margin-b10" ng-repeat="item in document.Additional.INFOTYPE2003">{{item.BeginDate|date:'d/M/yyyy'}}&nbsp;{{item.EmpDWSCodeOld}}<span ng-if="item.WorkingEmpDWSCodeOld">&nbsp;({{item.WorkingEmpDWSCodeOld}})</span></div>
                                        <div class="s-detail font-16 font-b">{{Text['DS']['SUBSTITUTE_TIME_TO']}}</div>
                                        <div class="s-detail font-16 " ng-repeat="item in document.Additional.INFOTYPE2003">{{item.BeginDate|date:'d/M/yyyy'}}&nbsp;{{item.EmpDWSCodeNew}}<span ng-if="item.WorkingEmpDWSCodeNew">&nbsp;({{item.WorkingEmpDWSCodeNew}})</span></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-12">
                            <table class="w-100 table-style-2 margin-b10 ">
                                <tr class="t-header">
                                    <th class="text-center">{{Text['HRTMSUBSTITUTION']['SUBSTITUTIONWITHTIME']}}</th>
                                </tr>
                                <tr class="t-body">
                                    <td class="text-left">
                                        <div class="s-detail font-16  margin-b10">{{document.Additional.InfoSubstitute[0].SubstituteId}} {{document.Additional.InfoSubstitute[0].SubstituteName}}</div>
                                        <div class="s-detail font-16 font-b">{{Text['DS']['SUBSTITUTE_TIME_FROM']}}</div>
                                        <div class="s-detail font-16 " ng-repeat="item in document.Additional.INFOTYPE2003">{{item.BeginDate|date:'d/M/yyyy'}}&nbsp;{{item.SubDWSCodeOld}}<span ng-if="item.WorkingSubDWSCodeOld">&nbsp;({{item.WorkingSubDWSCodeOld}})</span></div>
                                        <div class="s-detail font-16 font-b">{{Text['DS']['SUBSTITUTE_TIME_TO']}}</div>
                                        <div class="s-detail font-16 " ng-repeat="item in document.Additional.INFOTYPE2003">{{item.BeginDate|date:'d/M/yyyy'}}&nbsp;{{item.SubDWSCodeNew}}<span ng-if="item.WorkingSubDWSCodeNew">&nbsp;({{item.WorkingSubDWSCodeNew}})</span></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-7 lr-0 show-pc">
                    <div class="row">
                        <!-- เวลาทำงานของผู้ขอแลก -->
                        <div class="col-sm-12 margin-b20">
                            <table class="w-100 table-style-2 margin-b10 ">
                                <tr class="t-header">
                                    <th class="text-center">{{Text['HRTMSUBSTITUTION']['SUBSTITUTIONBYTIME']}}</th>
                                    <th class="text-center">{{Text['DS']['SUBSTITUTE_TIME_FROM']}}</th>
                                    <th class="text-center">{{Text['DS']['SUBSTITUTE_TIME_TO']}}</th>
                                </tr>
                                <tr class="t-body">
                                    <td class="text-left v-top">{{document.RequestorNo}} {{document.RequestorName}}</td>
                                    <td class="text-left">
                                        <div ng-repeat="item in document.Additional.INFOTYPE2003">
                                            <div class="s-detail font-16">{{item.BeginDate | date: 'd/M/yyyy'}}</div>
                                            <div class="s-detail font-16">{{item.EmpDWSCodeOld}}&nbsp;<span ng-if="item.WorkingEmpDWSCodeOld">&nbsp;({{item.WorkingEmpDWSCodeOld}})</span></div>
                                        </div>
                                    </td>
                                    <td class="text-left">
                                        <div ng-repeat="item in document.Additional.INFOTYPE2003">
                                            <div class="s-detail font-16">{{item.BeginDate | date: 'd/M/yyyy'}}</div>
                                            <div class="s-detail font-16">{{item.EmpDWSCodeNew}}&nbsp;<span ng-if="item.WorkingEmpDWSCodeNew">&nbsp;({{item.WorkingEmpDWSCodeNew}})</span></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <!-- เวลาทำงานของคนแทน -->
                        <div class="col-sm-12">
                            <table class="w-100 table-style-2 margin-b10 ">
                                <tr class="t-header">
                                    <th class="text-center">{{Text['HRTMSUBSTITUTION']['SUBSTITUTIONWITHTIME']}}</th>
                                    <th class="text-center">{{Text['DS']['SUBSTITUTE_TIME_FROM']}}</th>
                                    <th class="text-center">{{Text['DS']['SUBSTITUTE_TIME_TO']}}</th>
                                </tr>
                                <tr class="t-body">
                                    <td class="text-left v-top">
                                        {{document.Additional.InfoSubstitute[0].SubstituteId}} {{document.Additional.InfoSubstitute[0].SubstituteName}}
                                    </td>
                                    <td class="text-left">
                                        <div ng-repeat="item in document.Additional.INFOTYPE2003">
                                            <div class="s-detail font-16">{{item.BeginDate | date: 'd/M/yyyy'}}</div>
                                            <div class="s-detail font-16">{{item.SubDWSCodeOld}}&nbsp;<span ng-if="item.WorkingSubDWSCodeOld">&nbsp;({{item.WorkingSubDWSCodeOld}})</span></div>
                                        </div>
                                    </td>
                                    <td class="text-left">
                                        <div ng-repeat="item in document.Additional.INFOTYPE2003">
                                            <div class="s-detail font-16">{{item.BeginDate | date: 'd/M/yyyy'}}</div>
                                            <div class="s-detail font-16">{{item.SubDWSCodeNew}}&nbsp;<span ng-if="item.WorkingSubDWSCodeNew">&nbsp;({{item.WorkingSubDWSCodeNew}})</span></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<pre>{{document.Additional | json}}</pre>-->
</div>
