﻿<div class="TravelExManPage delegation-page" ng-controller="SubstitutionEditorController" ng-init="init();">


    <h1>{{Text['DS']['SUBSTITUTE_NEW']}}</h1>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['DS']['SUBSTITUTE_DETAIL']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text['DS']['SUBSTITUTE_TYPE']}} :</div>
                    </div>
                    <div class="col-sm-3 margin-b20">
                        <input type="radio" value="false" name="periodSubtitution" ng-model="modelSubStitution.IsTypeSelectDay" ng-click="ChangeType(modelSubStitution.IsTypeSelectDay);" /> รายวัน
                        <input type="radio" value="true" name="periodSubtitution" ng-model="modelSubStitution.IsTypeSelectDay" ng-click="ChangeType(modelSubStitution.IsTypeSelectDay);" /> ช่วงวันที่
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b10">
                    <div class="line-under "></div>
                </div>
            </div>
            <div class="col-md-12 media-padding-col">
                <div class="sub-title">{{Text['HRTMABSENCE']['DELEGATEDETAIL']}}</div>
            </div>

            <div class="row margin-b10">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text['HRTMABSENCE']['DELEGATE_EMPLOYEEID']}}  :</div>
                    </div>
                    <div class="col-xs-12 col-sm-3 margin-b10">
                        <!--<input type="text" class="w-100 input-box font-16" placeholder="ค้นหาข้อมูล " name="input1"
                               ng-model="modelSubStitution.sEmpIDChange"
                               ng-model-options="{ debounce: 1000 }"
                               ng-change="searchCustomer(modelSubStitution.sEmpIDChange)">-->
                        <button class="btn btn-primary btn-sm" ng-click="openModalSearchEmployeeSubstitute();">ค้นหาพนักงาน</button>
                        <button class="btn btn-danger btn-sm" ng-click="clearEmployeeSubstitute();">{{Text['ACTION']['CANCEL']}}</button>
                    </div>
                </div>

                <!-- ชื่อ - นามสกุล -->
                <div class="col-sm-12 lr-0" ng-show="document.Additional.InfoSubstitute[0].SubstituteName">
                    <div class="col-sm-12 show-tablet">
                        <div class="text-basic-md-center-input color-main show-tablet">{{document.Additional.InfoSubstitute[0].SubstituteName}}</div>
                    </div>
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main"> {{Text['BE_EDUCATIONALLOWANCE']['FULL_NAME']}}</div>
                    </div>
                    <div class="col-sm-5 margin-10">
                        {{document.Additional.InfoSubstitute[0].SubstituteName}}
                    </div>
                </div>

                <!-- ตำแหน่ง -->
                <div class="col-sm-12 lr-0" ng-show="document.Additional.InfoSubstitute[0].PostionName">
                    <div class="col-sm-2 show-tablet">
                        <div class="text-basic-md-center-input color-main show-tablet">{{document.Additional.InfoSubstitute[0].PostionName}}</div>
                    </div>
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main"> {{Text['HRTMABSENCE']['DELEGATE_POSITION']}}</div>
                    </div>
                    <div class="col-sm-5 margin-10">
                        {{document.Additional.InfoSubstitute[0].PostionName}}
                    </div>
                </div>

                <!-- องค์กร -->
                <div class="col-sm-12 lr-0" ng-show="document.Additional.InfoSubstitute[0].OrganizationName">
                    <div class="col-sm-2 show-tablet">
                        <div class="text-basic-md-center-input color-main show-tablet">{{document.Additional.InfoSubstitute[0].OrganizationName}}</div>
                    </div>
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text['OBJECTSETTING']['Organization']}}</div>
                    </div>
                    <div class="col-sm-5 margin-10">
                        {{document.Additional.InfoSubstitute[0].OrganizationName}}
                    </div>
                </div>

            </div>

            <div class="row" ng-show="document.Additional.InfoSubstitute[0].SubstituteId">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text['DS']['SUBSTITUTE_DATE_FROM']}}  :</div>
                    </div>
                    <div class="col-sm-3 margin-b20">
                        <div ng-if="showDate" class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                            <datepicker show-holidays="true" date-limit-from-api="true" holiday-dates="OFFs" date-limit-from-api-mode="afterHire" callback-on-change="selectCalendarFirst(newDate)" callback-on-month-change="onMonthChanged(month, year,'employee','')" date-format="d/M/yyyy" date-set="{{calendarData.CalendarEmployee}}">
                                <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                            </datepicker>
                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12  margin-b10">
                    <div class="line-under "></div>
                </div>
            </div>

            <!-- Calendar คนขอแลก -->
            <div class="row" ng-show="document.Additional.InfoSubstitute[0].SubstituteId">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text['DS']['SUBSTITUTE_DATE_TO']}} :</div>
                    </div>
                    <div class="col-sm-3 margin-b20">
                        <div ng-if="showDateSubstitute" class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                            <datepicker show-holidays="true" date-limit-from-api="true" holiday-dates="OFFsSubstitute" callback-on-change="selectCalendarSecond(newDate)" callback-on-month-change="onMonthChanged(month, year,'substitute',SubstituteEmployeeId)" date-format="d/M/yyyy" date-set="{{calendarData.CalendarSubstitution}}" date-min-limit="{{minDateSubstitute}}" date-max-limit="{{maxDateSubstitute}}">
                                <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                            </datepicker>
                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<pre>{{calendarData | json}}</pre>-->
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['DS']['SUBSTITUTE_WORKSCHEDULE']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row ">
                <div class="col-md-12 lr-0 show-tablet">
                    <div class="row">
                        <div class="col-sm-12 margin-b20">
                            <table class="w-100 table-style-2 margin-b10 ">
                                <tr class="t-header">
                                    <th class="text-center">{{Text['HRTMSUBSTITUTION']['SUBSTITUTIONBYTIME']}}</th>
                                </tr>
                                <tr class="t-body">
                                    <td class="text-left">
                                        <div class="s-detail font-16 margin-b10">{{document.RequestorNo}}&nbsp;{{document.RequestorName}}</div>
                                        <div class="s-detail font-16 font-b">{{Text['DS']['SUBSTITUTE_TIME_FROM']}}</div>
                                        <div class="s-detail font-16" ng-repeat="item in document.Additional.INFOTYPE2003" ng-style="{'background-color': ( $index % 2 != 0) ? '#FFFACD' : ''}">{{item.BeginDate|date:'d/M/yyyy'}}&nbsp;{{item.EmpDWSCodeOld}}<span ng-if="item.WorkingEmpDWSCodeOld">&nbsp;({{item.WorkingEmpDWSCodeOld}})</span></div>
                                        <div class="s-detail font-16 font-b">{{Text['DS']['SUBSTITUTE_TIME_TO']}}</div>
                                        <div class="s-detail font-16 " ng-repeat="item in document.Additional.INFOTYPE2003" ng-style="{'background-color': ( $index % 2 != 0) ? '#FFFACD' : ''}">{{item.BeginDate|date:'d/M/yyyy'}}&nbsp;{{item.EmpDWSCodeNew}}<span ng-if="item.WorkingEmpDWSCodeNew">&nbsp;({{item.WorkingEmpDWSCodeNew}})</span></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-12">
                            <table class="w-100 table-style-2 margin-b10">
                                <tr class="t-header">
                                    <th class="text-center">{{Text['HRTMSUBSTITUTION']['SUBSTITUTIONWITHTIME']}}</th>
                                </tr>
                                <tr class="t-body">
                                    <td class="text-left">
                                        <div class="s-detail font-16  margin-b10">{{document.Additional.InfoSubstitute[0].SubstituteId}}&nbsp;{{document.Additional.InfoSubstitute[0].SubstituteName}}</div>
                                        <div class="s-detail font-16 font-b">{{Text['DS']['SUBSTITUTE_TIME_FROM']}}</div>
                                        <div class="s-detail font-16" ng-repeat="item in document.Additional.INFOTYPE2003" ng-style="{'background-color': ( $index % 2 != 0) ? '#FFFACD' : ''}">{{item.BeginDate|date:'d/M/yyyy'}}&nbsp;{{item.SubDWSCodeOld}}<span ng-if="item.WorkingSubDWSCodeOld">&nbsp;({{item.WorkingSubDWSCodeOld}})</span></div>
                                        <div class="s-detail font-16 font-b">{{Text['DS']['SUBSTITUTE_TIME_TO']}}</div>
                                        <div class="s-detail font-16" ng-repeat="item in document.Additional.INFOTYPE2003" ng-style="{'background-color': ( $index % 2 != 0) ? '#FFFACD' : ''}">{{item.BeginDate|date:'d/M/yyyy'}}&nbsp;{{item.SubDWSCodeNew}}<span ng-if="item.WorkingSubDWSCodeNew">&nbsp;({{item.WorkingSubDWSCodeNew}})</span></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 lr-0 show-pc">
                    <div class="row">
                        <div class="col-sm-12 margin-b20">
                            <!-- เวลาทำงานของผู้ขอแลก -->
                            <table class="w-100 table-style-2 margin-b10 ">
                                <tr class="t-header">
                                    <th class="text-center">{{Text['HRTMSUBSTITUTION']['SUBSTITUTIONBYTIME']}}</th>
                                    <th class="text-center">{{Text['DS']['SUBSTITUTE_TIME_FROM']}}</th>
                                    <th class="text-center">{{Text['DS']['SUBSTITUTE_TIME_TO']}}</th>
                                </tr>
                                <tr class="t-body">
                                    <td class="text-left v-top">{{document.RequestorNo}}&nbsp;{{document.RequestorName}}</td>
                                    <td class="text-left">
                                        <div ng-if="document.Additional.InfoTable[0].BeginDate > '0001-01-01T00:00:00' && document.Additional.InfoTable[0].EndDate > '0001-01-01T00:00:00' && document.Additional.InfoSubstitute[0].SubstituteId"
                                             ng-repeat="item in document.Additional.INFOTYPE2003" ng-style="{'background-color': ( $index % 2 != 0) ? '#FFFACD' : ''}">
                                            <div class="s-detail font-16">{{item.BeginDate | date: 'd/M/yyyy'}}</div>
                                            <div class="s-detail font-16">{{item.EmpDWSCodeOld}}&nbsp;<span ng-if="item.WorkingEmpDWSCodeOld">&nbsp;({{item.WorkingEmpDWSCodeOld}})</span></div>
                                        </div>
                                    </td>
                                    <td class="text-left">
                                        <div ng-if="document.Additional.InfoTable[0].BeginDate > '0001-01-01T00:00:00' && document.Additional.InfoTable[0].EndDate > '0001-01-01T00:00:00' && document.Additional.InfoSubstitute[0].SubstituteId"
                                             ng-repeat="item in document.Additional.INFOTYPE2003" ng-style="{'background-color': ( $index % 2 != 0) ? '#FFFACD' : ''}">
                                            <div class="s-detail font-16">{{item.BeginDate | date: 'd/M/yyyy'}}</div>
                                            <div class="s-detail font-16">{{item.EmpDWSCodeNew}}&nbsp;<span ng-if="item.WorkingEmpDWSCodeNew">&nbsp;({{item.WorkingEmpDWSCodeNew}})</span></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-12">
                            <!-- เวลาทำงานคนแทน -->
                            <table class="w-100 table-style-2 margin-b10 ">
                                <tr class="t-header">
                                    <th class="text-center">{{Text['HRTMSUBSTITUTION']['SUBSTITUTIONWITHTIME']}}</th>
                                    <th class="text-center">{{Text['DS']['SUBSTITUTE_TIME_FROM']}}</th>
                                    <th class="text-center">{{Text['DS']['SUBSTITUTE_TIME_TO']}}</th>
                                </tr>
                                <tr class="t-body">
                                    <td class="text-left v-top">
                                        {{document.Additional.InfoSubstitute[0].SubstituteId}} {{document.Additional.InfoSubstitute[0].SubstituteName}}
                                    </td>
                                    <td class="text-left">
                                        <div ng-if="document.Additional.InfoTable[0].BeginDate > '0001-01-01T00:00:00' && document.Additional.InfoTable[0].EndDate > '0001-01-01T00:00:00' && document.Additional.InfoSubstitute[0].SubstituteId" ng-repeat="item in document.Additional.INFOTYPE2003" ng-style="{'background-color': ( $index % 2 != 0) ? '#FFFACD' : ''}">
                                            <div class="s-detail font-16">{{item.BeginDate | date: 'd/M/yyyy'}}</div>
                                            <div class="s-detail font-16">{{item.SubDWSCodeOld}}&nbsp;<span ng-if="item.WorkingSubDWSCodeOld">&nbsp;({{item.WorkingSubDWSCodeOld}})</span></div>
                                        </div>
                                    </td>
                                    <td class="text-left">
                                        <div ng-if="document.Additional.InfoTable[0].BeginDate > '0001-01-01T00:00:00' && document.Additional.InfoTable[0].EndDate > '0001-01-01T00:00:00' && document.Additional.InfoSubstitute[0].SubstituteId"
                                             ng-repeat="item in document.Additional.INFOTYPE2003" ng-style="{'background-color': ( $index % 2 != 0) ? '#FFFACD' : ''}">
                                            <div class="s-detail font-16">{{item.BeginDate | date: 'd/M/yyyy'}}</div>
                                            <div class="s-detail font-16">{{item.SubDWSCodeNew}}&nbsp;<span ng-if="item.WorkingSubDWSCodeNew">&nbsp;({{item.WorkingSubDWSCodeNew}})</span></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--<pre>{{modelShowName | json}}</pre>

    <pre>{{document.Additional | json}}</pre>

    <pre>{{modelSubStitution | json}}</pre>
    <pre>{{modelshowName |json}}</pre>
    <pre>{{document | json}}</pre>-->
</div>

<script type="text/ng-template" id="ListDataEmployeeSubstitute.ng-popup.html">
    <div class="modal-header">
        <h3 class="modal-title custom font-b font-18">เลือกรายการ</h3>
        <button type="button" class="close custom" ng-click="closeModel()">&times;</button>
    </div>
    <div class="modal-body alert2 scrollbar-2 popup-scroll">
        <div class="row">
            <div class="row margin-b10 show-pc lr-0">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center" style="width:60px;"></th>
                            <th class="text-center">{{text_db['ACCOUNT_SETTING']['EMPLOYEE_ID']}}</th>
                            <th class="text-center">{{text_db['BE_EDUCATIONALLOWANCE']['FULL_NAME']}}</th>
                            <th class="text-center">{{text_db['HRTMABSENCE']['DELEGATE_POSITION']}}</th>
                            <th class="text-center">{{text_db['HRTMABSENCE']['DELEGATE_ORGANIZE']}}</th>
                        </tr>

                        <tr class="t-body" ng-if="list_emp.length > 0" ng-repeat="employeeData in list_emp">

                            <td class="font-16 v-top text-center">
                                <div class="radio style2 radio-inline">
                                    <input type="radio" name="radio" id="radio_100" value="{{employeeData.EmployeeID}}" ng-model="modelSelectCustomer.employeeId" />
                                    <label for="radio_100" class="black-color"></label>
                                </div>
                            </td>
                            <td class="font-16 v-top">
                                <p class="margin-none">{{employeeData.EmployeeID}}</p>
                            </td>
                            <td class="font-16 v-top">
                                <p class="margin-none">{{employeeData.EmployeeName}}</p>
                            </td>
                            <td class="font-16 text-center v-top">
                                {{employeeData.PositionName}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{employeeData.OrgUnitName}}
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="row margin-b10 show-tablet lr-0">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">

                        <tr class="t-header">
                            <th class="text-center" colspan="2">{{text_db['ACCOUNT_SETTING']['DETAIL']}}</th>
                        </tr>

                        <tr class="t-body" ng-repeat="employeeData in list_emp">

                            <td class="font-14 lr-0 v-top text-center">
                                <div class="radio style2 radio-inline margin-none">
                                    <input type="radio" name="radio" id="radio_100" value="{{employeeData.EmployeeID}}" ng-model="modelSelectCustomer.employeeId" />
                                    <label for="radio_100" class="black-color"></label>
                                </div>
                            </td>
                            <td class="font-14 v-top">
                                <p class="margin-none"> {{employeeData.EmployeeID}} {{employeeData.EmployeeName}}</p>
                                <p class="margin-none"> {{employeeData.PositionName}}</p>
                                <p class="margin-none"> {{employeeData.OrgUnitName}} </p>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="modal-footer flex-end">
        <a class="m-btn-dis btn-s-md" ng-click="closeModel()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ยกเลิก&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
        <a class="m-btn-c2 btn-s-md" ng-show="list_emp.length > 0" ng-click="selectEmployee(modelSelectCustomer.employeeId)">
            <span class="">
                &nbsp;&nbsp;เพิ่ม&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>

<script type="text/ng-template" id="modalSearchEmployeeSubstitute.ng-popup.html">
    <div class="modal-header">
        <h3 class="modal-title custom font-b font-18">เลือกรายการ</h3>
        <button type="button" class="close custom" ng-click="closeModel()">&times;</button>
    </div>


    <div class="modal-body alert2 scrollbar-2 popup-scroll">
        <div class="row">
            <div class="col-sm-8">
                <input type="text" class="w-50 input-box font-16" placeholder="ค้นหาพนักงาน"
                       ng-model="modelTextSearch.TextData"
                       ng-model-options="{ debounce: 1000 }"
                       ng-change="searchEmployee(modelTextSearch.TextData);">
            </div>
        </div>
        <div class="row">
            <div class="row margin-b10 show-pc lr-0">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center">{{text_db['ACCOUNT_SETTING']['EMPLOYEE_ID']}}</th>
                            <th class="text-center">{{text_db['BE_EDUCATIONALLOWANCE']['FULL_NAME']}}</th>
                            <th class="text-center">{{text_db['HRTMABSENCE']['DELEGATE_POSITION']}}</th>
                            <th class="text-center">{{text_db['HRTMABSENCE']['DELEGATE_ORGANIZE']}}</th>
                            <th class="text-center">{{text_db['PAYROLLREPORTFORADMIN']['EMPLOYEE']}}</th>
                        </tr>

                        <tr class="t-body" ng-if="list_emp.length > 0" ng-repeat="employeeData in list_emp">
                            <td class="font-16 v-top">
                                <p class="margin-none">{{employeeData.EmployeeID}}</p>
                            </td>
                            <td class="font-16 v-top">
                                <p class="margin-none">{{employeeData.EmployeeName}}</p>
                            </td>
                            <td class="font-16 text-center v-top">
                                {{employeeData.PositionName}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{employeeData.OrgUnitName}}
                            </td>
                            <td class="font-16 text-center v-top">
                                <button class="btn btn-primary btn-sm" ng-click="selectEmployee(employeeData);">{{text_db['PAYROLLREPORTFORADMIN']['SELECT']}}</button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="row margin-b10 show-tablet lr-0">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">

                        <tr class="t-header">
                            <th class="text-center" colspan="2">{{text_db['ACCOUNT_SETTING']['DETAIL']}}</th>
                        </tr>

                        <tr class="t-body" ng-repeat="employeeData in list_emp">
                            <td class="font-14 v-top">
                                <p class="margin-none"> {{employeeData.EmployeeID}} {{employeeData.EmployeeName}}</p>
                                <p class="margin-none"> {{employeeData.PositionName}}</p>
                                <p class="margin-none"> {{employeeData.OrgUnitName}} </p>
                            </td>
                            <td class="font-14 lr-0 v-top text-center">
                                <button class="btn btn-primary btn-sm" ng-click="selectEmployee(employeeData);">{{text_db['PAYROLLREPORTFORADMIN']['SELECT']}}</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>
