﻿<div class="TravelExManPage delegation-page" ng-controller="TimesheetManagementEditorController" ng-init="init();">
    <h1> {{Text['APPLICATION']['MATCHINGTIMESHEET']}} </h1>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content show-pc">
            <div class="ayodia-title w-100">
                {{Text['APPLICATION']['MATCHINGTIMESHEET']}}
            </div>
        </div>
        <div class="ayodia-body-content show-pc">
            <div class="row">
                <div class="col-sm-12">
                    <div class="filter-export-box clearfix margin-b20">
                        <div class="filter-items-l clearfix">
                            <div class="f-item">
                                <label>{{Text['HRTMOT']['PERIOD']}} : </label>
                                <select disabled class="form-control w240px-desktop" ng-model="selectedPeriodTimesheetMatching">
                                    <option ng-repeat="item in periodTimesheets" value="{{item.PeriodValue}}">{{item.PeriodText}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<pre>{{periodTimesheets | json}}</pre>-->
            <!--<pre>{{document.Additional.MasterTimePair[1]|json}}</pre>-->
            <div class="row ">
                <div class="col-md-7 lr-0 show-pc">
                    <div class="row">
                        <div class="col-md-12 media-padding-col">
                            <div class="sub-title">{{Text['APPLICATION']['TIMESHEET']}}</div>
                        </div>
                        <div class="col-sm-12">
                            <table class="w-100 table-style-2 margin-b10 ">
                                <tr class="t-header">
                                    <!--<th class="text-center">{{Text['HRTMABSENCE']['WORKDATE']}}</th>
                                    <th class="text-center">{{Text['HRTMOT']['ITEMTYPE']}}</th>
                                    <th class="text-center">{{Text['HRTMABSENCE']['TIMEIN']}}</th>
                                    <th class="text-center">{{Text['HRTMABSENCE']['TIMEOUT']}}</th>-->
                                    <th class="text-center" width="15%">{{Text['HRTMABSENCE']['WORKDATE']}}</th>
                                    <th class="text-center" width="25%">{{Text['HRTMABSENCE']['WORKSCHEDULE']}}</th>
                                    <th class="text-center" width="15%">{{Text['HRTMABSENCE']['TIMEIN']}}</th>
                                    <th class="text-center" width="15%">{{Text['HRTMABSENCE']['TIMEOUT']}}</th>
                                    <th class="text-center" width="30%">{{Text['HRTMABSENCE']['DESCRIPTION']}}</th>
                                </tr>
                                <tr ng-class="GetStatusClass(a,$index)" class="t-body" ng-repeat="a in document.Additional.TimePair">
                                    <td class="text-center" width="15%">{{a.Date | date:'d/M/yyyy'}}</td>
                                    <td class="text-center" width="25%">
                                        {{a.DWSCode}}
                                        <span ng-show="a.DWSCode!='OFF'">
                                            ({{a.DWS.WorkBeginTime| limitTo:5:0}}-{{a.DWS.WorkEndTime| limitTo:5:0}})
                                        </span>
                                    </td>
                                    <td class="text-center" width="15%" ng-style="{'background-color':(index == $index && timeType==1&& isEditMode) ? '#ea7171' : ''}">
                                        <div ng-if="!isEditMode">
                                            <a ng-disable="" class="link-blue" ng-show="a.ClockIN.EventTime==null" ng-click="edit($index,1)">No Time</a>
                                            <a class="link-blue" ng-show="a.ClockIN.EventTime!=null" ng-click="edit($index,1)">{{a.ClockIN.EventTime | date:'d/M/yyyy'}}<br />{{a.ClockIN.EventTime | date:'HH:mm:ss'}}</a>
                                        </div>
                                        <div ng-if="isEditMode">
                                            <span ng-show="a.ClockIN.EventTime==null">No Time</span>
                                            <span ng-show="a.ClockIN.EventTime!=null">{{a.ClockIN.EventTime | date:'d/M/yyyy'}}<br />{{a.ClockIN.EventTime | date:'HH:mm:ss'}}</span>
                                        </div>
                                    </td>
                                    <td class="text-center" width="15%" ng-style="{'background-color':(index == $index&& timeType==2&& isEditMode) ? '#ea7171' : ''}">
                                        <div ng-if="!isEditMode">
                                            <a class="link-blue" ng-show="a.ClockOUT.EventTime==null" ng-click="edit($index,2)">No Time</a>
                                            <a class="link-blue" ng-show="a.ClockOUT.EventTime!=null" ng-click="edit($index,2)">{{a.ClockOUT.EventTime | date:'d/M/yyyy'}}<br />{{a.ClockOUT.EventTime | date:'HH:mm:ss'}}</a>
                                        </div>
                                        <div ng-if="isEditMode">
                                            <span ng-show="a.ClockOUT.EventTime==null">No Time</span>
                                            <span ng-show="a.ClockOUT.EventTime!=null">{{a.ClockOUT.EventTime | date:'d/M/yyyy'}}<br />{{a.ClockOUT.EventTime | date:'HH:mm:ss'}}</span>
                                        </div>
                                    </td>
                                    <td width="30%">
                                        {{a.Remark}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 lr-0 show-pc">
                    <div class="row">
                        <div class="col-md-12 media-padding-col">
                            <div class="sub-title">{{Text['HRTMABSENCE']['TIMEELEMENT']}}</div>
                        </div>
                        <div class="col-sm-12 show-pc" ng-show="!isEditMode">
                            <div class="clearfix margin-b20">
                                <div class="filter-items-l clearfix">
                                    <div class="f-item">
                                        <label class="font-16">Action : </label>
                                    </div>
                                    <div class="f-item">
                                        <a class="m-btn-dis btn-s-md">
                                            <span class="">
                                                {{Text['MT']['MOVETIMEs']}}
                                            </span>
                                        </a>
                                    </div>
                                    <div class="f-item">
                                        <a class="m-btn-dis btn-s-md">
                                            <span class="">
                                                {{Text['SYSTEM']['BUTTON_OK']}}
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 show-pc" ng-show="isEditMode">
                            <div class="clearfix margin-b20">
                                <div class="filter-items-l clearfix">
                                    <div class="f-item">
                                        <label class="font-16">Action : </label>
                                    </div>
                                    <div class="f-item">
                                        <a class="m-btn-c1 btn-s-md" ng-click="cancel();">
                                            <span class="">
                                                {{Text['MT']['MOVETIMEs']}}
                                            </span>
                                        </a>
                                    </div>
                                    <div class="f-item">
                                        <a class="m-btn-c2 btn-s-md" ng-click="save()">
                                            <span class="">
                                                {{Text['SYSTEM']['BUTTON_OK']}}
                                            </span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-12">
                            <table class="w-100 table-style-2 sp-scroll margin-b10 ">
                                <thead>
                                    <tr class="t-header">
                                        <th class="text-center">{{Text['HRTMABSENCE']['WORKDATE']}}{{Text['HRTMABSENCE']['TIMEELEMENT']}}</th>
                                        <th class="text-center">{{Text['HRTMABSENCE']['CLOCKLOCATION']}}</th>
                                        <th ng-if="isEditMode" class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody class="scrollbar-2 h-500px">
                                    <tr class="t-body" ng-repeat="item in document.Additional.TimeElement">
                                        <td class="text-center">{{item.EventTime| date:'d/M/yyyy HH:mm:ss'}}</td>
                                        <td class="text-center">{{item.Location}}</td>
                                        <td ng-if="isEditMode" class="text-center">
                                            <a ng-if="checkDate(item.EventTime)" class="link-blue" ng-click="select($index,item)">
                                                {{Text['HRTMOT']['SELECT']}}
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-by-ayodia margin-b20 show-tablet">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                la
                {{Text['ACCOUNT_SETTING']['DETAIL']}}
            </div>
        </div>
        <div class="my-tab clearfix" ng-init="tab = 1">
            <a class="w-50" ng-class="tab == 1?'active':''" ng-click="tab = 1" style="padding: 15px 2px!important;">{{Text['APPLICATION']['TIMEREPORT']}}</a>
            <a class="w-50" ng-class="tab == 2?'active':''" ng-click="tab = 2" style="padding: 15px 2px!important;">{{Text['HRTMABSENCE']['TIMEELEMENT']}}</a>
        </div>
        <div class="ayodia-body-content" ng-if="tab == 1">
            <div class="row show-tablet">
                <div class="col-sm-12">
                    <table class="w-100 table-style-2 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center" width="40%"></th>
                            <th class="text-center" width="30%">{{Text['HRTMABSENCE']['TIMEIN']}}</th>
                            <th class="text-center" width="30%">{{Text['HRTMABSENCE']['TIMEOUT']}}</th>
                        </tr>
                        <tr class="t-body" ng-class="GetStatusClass(item,$index)" ng-repeat="item in document.Additional.TimePair">
                            <td style="vertical-align:top" width="40%">
                                <p class="text-t-d"> {{item.Date | date:'d/M/yyyy'}}</p>
                                <p class="text-t-d"> {{item.DWSCode}}</p>
                                <p class="text-t-d" ng-show="item.DWSCode!='OFF'">({{item.DWS.WorkBeginTime| limitTo:5:0}}-{{item.DWS.WorkEndTime| limitTo:5:0}})</p>
                                <p class="text-t-d">{{item.Remark}}</p>
                            </td>
                            <td class="text-center" width="30%">
                                <a class="link-blue" ng-show="item.ClockIN.EventTime==null" ng-click="editMobile($index,1,item)">No Time</a>
                                <a class="link-blue" ng-show="item.ClockIN.EventTime!=null" ng-click="editMobile($index,1,item)">{{item.ClockIN.EventTime | date:'d/M/yyyy'}}<br />{{item.ClockIN.EventTime | date:'HH:mm:ss'}}</a>
                            </td>
                            <td class="text-center"  width="30%">
                                <a class="link-blue" ng-show="item.ClockOUT.EventTime==null" ng-click="editMobile($index,2,item)">No Time</a>
                                <a class="link-blue" ng-show="item.ClockOUT.EventTime!=null" ng-click="editMobile($index,2,item)">{{item.ClockOUT.EventTime | date:'d/M/yyyy'}}<br />{{item.ClockOUT.EventTime | date:'HH:mm:ss'}}</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="ayodia-body-content" ng-if="tab == 2">
            <div class="row show-tablet">
                <div class="col-sm-12">
                    <table class="w-100 table-style-2 sp-scroll margin-b10 ">
                        <thead>
                            <tr class="t-header">
                                <th class="text-center">{{Text['HRTMABSENCE']['WORKDATE']}}{{Text['HRTMABSENCE']['TIMEELEMENT']}}</th>
                                <th class="text-center">{{Text['HRTMABSENCE']['CLOCKLOCATION']}}</th>
                            </tr>
                        </thead>
                        <tbody class="scrollbar-2 h-500px">
                            <tr class="t-body" ng-repeat="item in document.Additional.TimeElement">
                                <td class="text-center">{{item.EventTime| date:'d/M/yyyy HH:mm:ss'}}</td>
                                <td class="text-center">{{item.Location}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="ex2_1.ng-popup.html">
        <div class="modal-body alert1">
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="text-center font-18 margin-b20">
                        <img src="./images/1580967061551.jpg" width="60" />
                    </div>
                    <div class="text-center font-18">
                        จับคู่การบันทึกเวลาสำเร็จ
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer padding-t-none">
            <a class="m-btn-co btn-s-md" ng-click="$dismiss()">
                <span class="">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ปิด&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </a>
        </div>
    </script>
    <script type="text/ng-template" id="editTimesheet.ng-popup.html">
        <div class="modal-header">
            <h3 class="modal-title custom font-b font-18"> {{Text['APPLICATION']['MATCHINGTIMESHEET']}}</h3>
            <button type="button" class="close custom" ng-click="closeModal()">&times;</button>
        </div>
        <div class="modal-body alert2">
            <div class="row">
                <div class="col-md-12 lr-0 media-padding-col">
                    <div class="sub-title">{{Text['APPLICATION']['TIMESHEET']}}</div>
                </div>
                <div class="col-sm-12 lr-0">
                    <table class="w-100 table-style-2 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center">{{Text['MT']['SELECT_DATE']}}</th>
                            <th ng-show="timeType==1" class="text-center">{{Text['HRTMABSENCE']['TIMEIN']}}</th>
                            <th ng-show="timeType==2" class="text-center">{{Text['HRTMABSENCE']['TIMEOUT']}}</th>
                        </tr>
                        <tr class="t-body">
                            <td style="vertical-align:top">
                                <p class="text-t-d"> {{model.Date | date:'d/M/yyyy'}}</p>
                                <p class="text-t-d"> {{model.DWSCode}} <span ng-show="model.DWSCode!='OFF'">({{model.DWS.WorkBeginTime| limitTo:5:0}}-{{model.DWS.WorkEndTime| limitTo:5:0}})</span></p>
                            </td>
                            <td class="text-center" ng-show="timeType==1 && model.ClockIN==null"> No Time </td>
                            <td class="text-center" ng-show="timeType==1 && model.ClockIN!=null">  {{model.ClockIN.EventTime | date:'d/M/yyyy HH:mm:ss'}}</td>
                            <td class="text-center" ng-show="timeType==2 && model.ClockOUT==null"> No Time </td>
                            <td class="text-center" ng-show="timeType==2 && model.ClockOUT!=null"> {{model.ClockOUT.EventTime | date:'d/M/yyyy HH:mm:ss'}}</td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="col-md-12 lr-0 media-padding-col">
                <div class="sub-title">{{Text['HRTMABSENCE']['TIMEELEMENT']}}</div>
            </div>
            <div class="col-sm-12 lr-0">
                <table class="w-100 table-style-2 sp-scroll margin-b10 ">
                    <thead>
                        <tr class="t-header">
                            <th class="text-center">{{Text['HRTMABSENCE']['WORKDATE']}}{{Text['HRTMABSENCE']['TIMEELEMENT']}}</th>
                            <th class="text-center">{{Text['HRTMABSENCE']['CLOCKLOCATION']}}</th>
                            <th class="text-center" style="width: 76px;"></th>
                        </tr>
                    </thead>
                    <tbody class="scrollbar-2 h-500px">
                        <!--<tr class="t-body" ng-class="item == 2 ?'w-area':''" ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]">-->
                        <tr class="t-body" ng-repeat="item in timeElement">
                            <td class="text-center">{{item.EventTime| date:'d/M/yyyy HH:mm:ss'}}</td>
                            <td class="text-center">{{item.Location}}</td>
                            <td class="text-center" style="width: 69px;"><a ng-if="checkDate(item.EventTime)" class="link-blue" ng-click="select($index,item)">{{Text['HRTMOT']['SELECT']}}</a></td>
                        </tr>

                    </tbody>
                </table>

            </div>

        </div>

        <div class="modal-footer padding-t-none flex-end">
            <a class="m-btn-co btn-s-md" ng-click="cancel()">
                <span class="">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Text['MT']['MOVETIMEs']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </a>
            <a class="m-btn-c2 btn-s-md" ng-click="save()">
                <span class="">
                    &nbsp;&nbsp;{{Text['SYSTEM']['BUTTON_OK']}}&nbsp;&nbsp;
                </span>
            </a>
        </div>
    </script>

    <!--<pre>{{document.Additional.TimeElement | json}}</pre>-->
    <!--<pre>{{document.Additional.TimePairByUser|json}}</pre>-->
    <!--<pre>{{document.Additional.TimeElement|json}}</pre>-->
    <!--<pre>{{document.Additional.TimePair|json}}</pre>-->
    <!--<pre>{{document.Additional.MasterTimePair|json}}</pre>-->
</div>
