﻿<div class="TravelExManPage delegation-page" ng-controller="TimesheetManagementViewerController" ng-init="init();">
    <h1> {{Text['APPLICATION']['MATCHINGTIMESHEET']}} </h1>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content show-pc">
            <div class="ayodia-title w-100">
                {{Text['APPLICATION']['MATCHINGTIMESHEET']}}
            </div>
        </div>
        <div class="ayodia-body-content show-pc">
            <!--<div class="row">
                <div class="col-sm-12">
                    <div class="filter-export-box clearfix margin-b20">
                        <div class="filter-items-l clearfix">
                            <div class="f-item">
                                <label>{{Text['HRTMOT']['PERIOD']}} : </label>
                                <select disabled class="form-control w240px-desktop" ng-model="selectedPeriodTimesheetMatching">
                                    <option ng-repeat="item in periodTimesheets" value="{{item.PeriodValue}}">{{item.PeriodText}}</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>-->
            <div class="row ">
                <div class="col-md-7 lr-0 show-pc">
                    <div class="row">
                        <div class="col-md-12 media-padding-col">
                            <div class="sub-title">{{Text['APPLICATION']['TIMESHEET']}}</div>
                        </div>
                        <div class="col-sm-12">
                            <table class="w-100 table-style-2 margin-b10 ">
                                <tr class="t-header">
                                    <th class="text-center" width="15%">{{Text['HRTMABSENCE']['WORKDATE']}}</th>
                                    <th class="text-center" width="25%">{{Text['HRTMABSENCE']['WORKSCHEDULE']}}</th>
                                    <th class="text-center" width="15%">{{Text['HRTMABSENCE']['TIMEIN']}}</th>
                                    <th class="text-center" width="15%">{{Text['HRTMABSENCE']['TIMEOUT']}}</th>
                                    <th class="text-center" width="30%">{{Text['HRTMABSENCE']['DESCRIPTION']}}</th>
                                </tr>
                                <tr class="t-body" ng-class="GetStatusClass(a,$index)" ng-repeat="a in document.Additional.TimePair">
                                    <td class="text-center" width="15%">{{a.Date | date:'d/M/yyyy'}}</td>
                                    <td class="text-center" width="25%">{{a.DWSCode}} <span ng-show="a.DWSCode!='OFF'">({{a.DWS.WorkBeginTime| limitTo:5:0}}-{{a.DWS.WorkEndTime| limitTo:5:0}})</span></td>
                                    <td class="text-center" width="15%">
                                        <div>
                                            <span ng-show="a.ClockIN.EventTime==null">No Time</span>
                                            <span ng-show="a.ClockIN.EventTime!=null">{{a.ClockIN.EventTime | date:'d/M/yyyy'}}<br />{{a.ClockIN.EventTime | date:'HH:mm:ss'}}</span>
                                        </div>
                                    </td>
                                    <td class="text-center"  width="15%">
                                        <div>
                                            <span ng-show="a.ClockOUT.EventTime==null">No Time</span>
                                            <span ng-show="a.ClockOUT.EventTime!=null">{{a.ClockOUT.EventTime | date:'d/M/yyyy'}}<br />{{a.ClockOUT.EventTime | date:'HH:mm:ss'}}</span>
                                        </div>
                                    </td>
                                    <td width="30%">{{a.Remark}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 lr-0 show-pc">
                    <div class="row">
                        <div class="col-md-12 media-padding-col">
                            <div class="sub-title">{{Text['HRTMABSENCE']['TIMEELEMENT']}}</div>
                        </div>
                        <div class="col-sm-12">
                            <table class="w-100 table-style-2 sp-scroll margin-b10 ">
                                <thead>
                                    <tr class="t-header">
                                        <th class="text-center">{{Text['HRTMABSENCE']['WORKDATE']}}{{Text['HRTMABSENCE']['TIMEELEMENT']}}</th>
                                        <th class="text-center">{{Text['HRTMABSENCE']['CLOCKLOCATION']}}</th>
                                    </tr>
                                </thead>
                                <tbody class="scrollbar-2 h-500px">
                                    <tr class="t-body" ng-repeat="item in document.Additional.TimeElement">
                                        <td class="text-center">{{item.EventTime| date:'d/M/yyyy HH:mm:ss'}}</td>
                                        <td class="text-center">{{item.Location}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-by-ayodia margin-b20 show-tablet">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['ACCOUNT_SETTING']['DETAIL']}}
            </div>
        </div>
        <div class="my-tab clearfix" ng-init="tab = 1">
            <a class="w-50" ng-class="tab == 1?'active':''" ng-click="tab = 1" style="padding: 15px 2px!important;">{{Text['APPLICATION']['TIMEREPORT']}}</a>
            <a class="w-50" ng-class="tab == 2?'active':''" ng-click="tab = 2" style="padding: 15px 2px!important;">{{Text['HRTMABSENCE']['TIMEELEMENT']}}</a>
        </div>
        <div class="ayodia-body-content" ng-if="tab == 1">
            <div class="row show-tablet">
                <div class="col-sm-12">
                    <table class="w-100 table-style-2 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center" width="40%"></th>
                            <th class="text-center" width="30%">{{Text['HRTMABSENCE']['TIMEIN']}}</th>
                            <th class="text-center" width="30%">{{Text['HRTMABSENCE']['TIMEOUT']}}</th>
                        </tr>
                        <tr class="t-body" ng-class="GetStatusClass(item,$index)" ng-repeat="item in document.Additional.TimePair">
                            <td style="vertical-align:top" width="40%">
                                <p class="text-t-d"> {{item.Date | date:'d/M/yyyy'}}</p>
                                <p class="text-t-d"> {{item.DWSCode}}</p>
                                <p class="text-t-d" ng-show="item.DWSCode!='OFF'">({{item.DWS.WorkBeginTime| limitTo:5:0}}-{{item.DWS.WorkEndTime| limitTo:5:0}})</p>
                                <p class="text-t-d">{{item.Remark}}</p>
                            </td>
                            <td class="text-center" width="30%">
                                <span ng-show="item.ClockIN.EventTime==null">No Time</span>
                                <span ng-show="item.ClockIN.EventTime!=null">{{item.ClockIN.EventTime | date:'d/M/yyyy'}}<br />{{item.ClockIN.EventTime | date:'HH:mm:ss'}}</span>
                            </td>
                            <td class="text-center" width="30%">
                                <span ng-show="item.ClockOUT.EventTime==null">No Time</span>
                                <span ng-show="item.ClockOUT.EventTime!=null">{{item.ClockOUT.EventTime | date:'d/M/yyyy'}}<br />{{item.ClockOUT.EventTime | date:'HH:mm:ss'}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="ayodia-body-content" ng-if="tab == 2">
            <div class="row show-tablet">
                <div class="col-sm-12">
                    <table class="w-100 table-style-2 sp-scroll margin-b10 ">
                        <thead>
                            <tr class="t-header">
                                <th class="text-center">{{Text['HRTMABSENCE']['WORKDATE']}}{{Text['HRTMABSENCE']['TIMEELEMENT']}}</th>
                                <th class="text-center">{{Text['HRTMABSENCE']['CLOCKLOCATION']}}</th>
                            </tr>
                        </thead>
                        <tbody class="scrollbar-2 h-500px">
                            <tr class="t-body" ng-repeat="item in document.Additional.TimeElement">
                                <td class="text-center">{{item.EventTime| date:'d/M/yyyy HH:mm:ss'}}</td>
                                <td class="text-center">{{item.Location}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>