﻿<div ng-controller="ActionInsteadOfController" class="action-instead-of">


    <div class="contentBody ">
        <!-- content bar -->
        <div class="bar-content">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left">{{Text['SYSTEM']['ACTION_INSTEAD_OF']}}</div>
                </div>
            </div>
        </div>
        <div class="body_content" style="background:white;">
            <div class="-pad20">
                <!-- self action -->

                <div class="item-btn mobile-text-center float-right" style=" margin-bottom:40px; margin-left:15px">
                    <a ng-click="takeActionInsteadOf(contentId)">
                        <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                            <span class="glyphicon glyphicon-star"></span> {{Text['SYSTEM']['ACTION_INSTEAD_OF_MYSELF']}}
                        </div>
                    </a>
                </div>

                <div class="inprogress-search">
                    <div class="input-group">
                        <input type="hidden" ng-model="filtered">
                        <input class="form-control" id="findinstandofemployee" ng-model="personDetail" type="text" placeholder="Find person ..." style="border-width: 2px !important;border: 2px solid;">
                        <span class="input-group-btn">
                            <button ng-click="searchEmployee()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="-pad20">
                <!-- list of action instead of -->
                <!--<div class="bar_bottom-status" style="height: 40px;">
                    <div class="bar_statusword" style="cursor:default;">
                        <span class="glyphicon glyphicon-user"></span>{{Text['SYSTEM']['ACTION_INSTEAD_OF_OTHER']}}
                    </div>
                </div>-->


                <div class="card" ng-repeat="actionInsteadOf in actionInsteadOfList">
                    <div ng-if="actionInsteadOf.IsHeader" class="bar_bottom-status" style="margin-bottom:1px;background-color:#D7F4EE;height:43px;">
                        <div class="bar_statusword">
                            {{actionInsteadOf.OrgName}} ({{actionInsteadOf.CompanyName}})
                        </div>
                    </div>
                    <div class="card-body" ng-click="takeActionInsteadOfForWorkAcrossCompany(contentId, actionInsteadOf.EmployeeID, actionInsteadOf.PositionID, actionInsteadOf.EmployeeName,actionInsteadOf.CompanyCode)">
                        {{actionInsteadOf.EmployeeID +" : "+ actionInsteadOf.EmployeeName}}
                    </div>
                </div>
            </div>
        </div>
        </div>

    <style>
        div.search-button {
            position: absolute;
            top: 0;
            right: 0;
            width: 100px;
            background: #9ad6ca;
            text-align: center;
            padding-top: 7px;
            height: 100%;
            font-size: 20px;
            color: white;
            cursor: pointer;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
        }

            div.search-button:active {
                background: #54a595;
            }
    </style>
</div>