﻿<div ng-controller="ByPassTicketController">
   <div style="width: 100%; margin: auto; margin-top: 80px; max-width: 600px; text-align: center;">

       <img src="images/ptt_tee.png" class="img_loginlogo" alt="logo" style="max-width: 400px; width: 100%;">
           
       <div style="margin-top: 30px; height: 50px; position: relative; padding: 12px;" class="md-whiteframe-2dp">
           <div style="position: absolute; top: 0px; left: 0px; width: 50px; height: 50px; background: #8c8c8c; ">
               <i class="fa fa-info-circle" aria-hidden="true" style="font-size: 30px; margin-top: 10px; color: white;"></i>
           </div>
           <span style=" font-size: 20px;">{{ErrorMessage}}</span>
       </div>
   </div>

</div>

<style>
    md-dialog-content {
        font-size: 17px;
        max-width: 500px;
    }

    md-dialog-actions span {
        font-size: 17px;
    }
</style>