﻿<div ng-controller="RequestCreateController">
    <div class="cs-loader ag-flex-column ag-align-center ag-justify-center" id="loader_create_request"  ng-show="loader_create_enable">
        <!--<div class="cs-loader-inner">
            <label>	●</label>
            <label>	●</label>
            <label>	●</label>
            <label>	●</label>
            <label>	●</label>
            <label>	●</label>
        </div>-->
        <div class="lds-css">
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
    </div>

    <!-- error message -->
    <div style="margin:45px 20px;" ng-if="document.HasError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>

</div>