﻿<div ng-controller="RequestViewerController" class="padding-breadcrumb request-background">

    <div class="ghost-menu-space-reserving"></div>
    <!-- error message -->
    <div ng-if="document.HasError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>


    <div class="view_info_btn " ng-if="(document.RequestActionList | filter:{IsVisible:true}).length > 0" ng-hide="VIEW_DETAIL_MODE">
        <div class="">
            <div class="row " ng-class="{'view_detail_mode':VIEW_DETAIL_MODE}">
                <div class="col-md-12">
                    <div class="itemlist" style="width:100%;">
                        <div ng-if="document" ng-include="'views/common/partials/document_action.html?t='+runtime"></div>

                    </div>
                </div>
            </div>
            <!-- itemlist -->
        </div>
    </div>


    <!-- action -->
    <div class="row contentBody forheight leaveBlock_detail">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" ng-class="{'view_detail_mode':VIEW_DETAIL_MODE}" style="background: #e6e6e6;">
            <!-- warning message -->
            <div ng-if="content.isShowDocumentWarning" ng-include="'views/common/partials/document_warning.html?t='+runtime"></div>
            <!-- !warning message -->
            <div style=" border: 1px solid #e8e8e8;     border: 1px solid rgb(232, 232, 232); background-color: white; box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);" ng-if="document.HistoryList && document.HistoryList.length > 0" ng-hide="VIEW_DETAIL_MODE">
                <md-tabs md-selected="tabs.selectedIndex">
                    <md-tab>
                        <md-tab-label style=" font-size: 20px;">
                            Viewer
                        </md-tab-label>
                    </md-tab>
                    <md-tab>
                        <md-tab-label style=" font-size: 20px;">
                            History
                        </md-tab-label>
                    </md-tab>
                </md-tabs>
            </div>

            <div ng-show="tabs.selectedIndex == 0" class="d-clame paper">
                <div class="topic-section " ng-hide="VIEW_DETAIL_MODE">
                    <span>{{Text['REQUESTHEADER']['REQUESTNO']}} {{document.RequestNo}}</span>
                </div>
                <div class="">
                    <div class="leavetableBlock">
                        <div class="row itemlist_block" ng-class="{'view_detail_mode':VIEW_DETAIL_MODE}">
                            <div class="col-md-12 leavedetail">
                                <!--<div ng-include="'views/common/components/action-flow.html?t='+runtime"></div>--> <!--##HRTR NOT USE##-->
                                <div ng-if="document" ng-include="'views/common/partials/document_info.html?t='+runtime" ng-hide="VIEW_DETAIL_MODE"></div>
                                <!-- body -->
                                <div class="-pad10" ng-class="{'view_detail_mode':VIEW_DETAIL_MODE}"></div>
                                <div ng-if="document" ng-include="getRequestViewerTemplate(runtime)"></div>
                                <!-- attachment -->
                                <div ng-if="document && document.FileSet.Attachments.length > 0" ng-include="'views/common/partials/document_attachment.html?t='+runtime"></div>
                                <!-- comment -->
                                <div ng-if="document && !templateControl.isDeleteRequest && templateControl.isShowDialogComment" ng-include="'views/common/partials/document_comment.html?t='+runtime" ng-hide="VIEW_DETAIL_MODE"></div>
                            </div>
                        </div>
                        <!-- bar_bottom -->
                    </div>
                    <!-- leavetableBlock -->
                </div>
                <!-- body_content -->
                <!-- flow -->
                <div ng-if="document" ng-include="'views/common/partials/document_flow.html?t='+runtime" ng-hide="VIEW_DETAIL_MODE"></div>
            </div>

            <div ng-if="document.HistoryList && document.HistoryList.length > 0" ng-show="tabs.selectedIndex == 1">
                <div class="leaveBlock_detail">
                    <ess-expense-view-history text="Text" wizard-form-control="wizardFormControl" begin-form-wizard="beginFormWizard()" finish-form-wizard="finishFormWizard()" document="document" loader="loader"></ess-expense-view-history>
                </div>
            </div>

        </div>
    </div>
</div>
<style>
    .view_detail_mode {
    
        border:none !important;
        padding:0px;
    }
    .contentBlock {
        background: #e6e6e6 !important;
    }
</style>