﻿<div ng-controller="BoxController" class="padding-breadcrumb">
    <div class="content_notscroll">
        <div class="contentHead">
            <div class="bar-content">
                <div class="row bar_title">
                    <div class="col-md-12">
                        <div class="bar_left visible-md-block visible-lg-block">{{getBoxText()}}</div>

                        <div class="bar_left clickable hidden-md hidden-lg" ng-click="goBack()">
                            <span class="glyphicon glyphicon-chevron-left back-icon">
                                <md-tooltip class="em-font-15" md-direction="bottom">
                                    {{Text['SYSTEM']['back_to_page']}}
                                </md-tooltip>
                            </span>
                            <span class="back-text">{{getBoxText()}}</span>
                            <div class="clearfix"></div>
                        </div>

                        <div class="bar_right forsearch"><span class="icon-magnify_glass"></span></div>
                    </div>
                </div>
                <div class="row bar_search">
                    <div class="col-md-8 -col_centered">
                        <div class="input-group search_block">
                            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" ng-model="formData.searchKeyword">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="searchInBox()">{{ Text['SYSTEM'].SEARCH }}</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content bar -->
    </div>
    <div class="row contentBody forheight">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll">
            <div class="-pad10"></div>
            <!-- warning text -->
            <div class="row timedetail_item" ng-show="showWarning">
                <div class="col-sm-11 -col_centered detail_item-fyi -tab-org">
                    <div class="row">
                        <div class="col-xs-1 -pad0"> <span style="font-size:26px;" class="glyphicon glyphicon-info-sign -txt-white"></span></div>
                        <div class="col-md-11 col-xs-9 -padleft0">
                            <p style="font-size:14px;" class="-txt-white">{{ getWarningText(Text['SYSTEM'].PLESE_SELECT_MASSPROCESS) }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- !warning text -->
            <div class="bar-content">
                <div class="row bar_title" ng-show="CheckRequestType() && Actions.length > 0">
                    <div class="col-md-12">
                        <div class="bar_left">
                            <div class="checkbox">
                                <input id="chkRequestAll" class="styled" type="checkbox" ng-model="selectRequest.All" />
                                <label for="chkRequestAll">
                                    {{ Text['SYSTEM']['SELECTALL']}}
                                </label>
                            </div>
                        </div>
                        <div class="bar_right">
                            <div class="item-btn">
                                <div class="itemin_btn" ng-click="ActionFromDocument()"> {{ Text['SYSTEM']['MASSPROCESS']}}</div>
                            </div>
                        </div>
                        <div class="bar_right barright_dropdown" style="padding:0;">
                            <div class="dropdown">
                                <!--<button class="btn btnd btn-default dropdown-toggle dropdown_login" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu -widthfull" aria-labelledby="dropdownMenu1">
                                    <li ng-repeat="action in Actions" value="{{action.ActionCode}}"><a>{{action.ActionText}}</a></li>
                                </ul>-->
                                <select ng-model="Action" ng-options="t.ActionText for t in Actions" class="form-control btn btnd btn-default dropdown-toggle dropdown_login" style="margin:0;"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body_content">
                <div class="row itemlist_block" ng-repeat="document in documents" ng-style="$index == 0 && !CheckRequestType() ? { 'border-top':'solid 1px #cbcbcb', 'border-top-left-radius':'4px', 'border-top-right-radius':'4px', 'padding-top':'18px' } : ''">
                    <div class="col-md-12">
                        <div class="checkbox" ng-show="CheckRequestType();">
                            <input id="chk{{$index + 1}}" class="styled" type="checkbox" value="{{document.RequestNo + ',' + document.KeyMaster }}" ng-checked="selectRequest.All" requestdoc-isselect />
                            <label for="">
                            </label>
                        </div>
                        <div class="itemlist clickable" ng-click="openRequest(document.RequestNo, document.KeyMaster, document.IsOwnerView, document.IsDataOwnerView, requestType, document.BoxDescription)">
                            <div class="item-title">
                                <span class="itemin_sortnum">{{$index + 1}} / {{documents.length}}</span>
                                <p class="itemin_nametask">{{document.RequestNo}}</p>
                            </div>
                            <div class="item-name">
                                <span class="itemin_nameid">{{document.RequestorNo}} - {{document.RequestorName}}</span>
                            </div>
                            <div class="item-desc">
                                <span class="itemin_desc">{{document.Summary}}</span>
                            </div>
                        </div>

                    </div>
                    <div class="item-status">
                        <div class="itemin_tabstatus {{document.ColorCode}}"><span>{{document.Status}}</span></div>
                        <!-- <div class="itemin_step"><span>Step 3</span></div> -->
                    </div>
                    <div ng-if="document.LastActionText" class="item-editstatus" ng-click="openRequest(document.RequestNo, document.KeyMaster, document.IsOwnerView, document.IsDataOwnerView, requestType, document.BoxDescription)">
                        <span class="fal fa-pencil-alt ico_edit"></span>{{document.LastActionText}}
                    </div>
                    <div ng-if="!document.LastActionText" class="item-editstatus" ng-click="openRequest(document.RequestNo, document.KeyMaster, document.IsOwnerView, document.IsDataOwnerView, requestType, document.BoxDescription)">
                        <span class="fal fa-pencil-alt ico_edit"></span>{{document.LastActionDate | date:'d/M/yyyy'}}
                    </div>
                </div>
                <!-- itemlist -->
            </div>


            <!-- No data -->
            <div ng-if="documents.length <= 0" class="body_content" style="border-top-left-radius: 4px;border-top-right-radius: 4px;padding:5px;">
                <div class="col-md-12">
                    <div class="itemlist">
                        <div class=" item-name">
                            <p class="itemin_nametask" style="line-height:3;">{{ Text['SYSTEM']['NO_DATA'] }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Loading data -->
            <div ng-if="!documents" class="body_content" style="border-top-left-radius: 4px;border-top-right-radius: 4px;padding:15px 5px 15px 5px;">
                <div class="col-md-12">
                    <div class="itemlist">
                        <div class=" item-name">
                            <p class="itemin_nametask" style="line-height:3;">
                                <img src="images/loading_small.gif" style="margin-right:10px" /> {{ Text['SYSTEM']['LOADING'] }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- Pet Add End -->
</div>
<div class="-pad10"></div>