﻿<div ng-controller="FormViewContentController" class="request-background">
    <!--<div class="content_notscroll">
        <div class="contentHead">
            <div class="bar-content">
                <div class="row bar_title" ng-show="content.isShowHeader">
                    <div class="col-md-12">
                        <div class="bar_left hidden-md hidden-lg" ng-show="content.isShowHeader">
                            {{content.Header}}
                        </div>

                        <div class="bar_left visible-md-block visible-lg-block" ng-show="content.isShowHeader && !content.isShowBackIcon">
                            <span class="back-text">{{content.Header}}</span>
                            <div class="clearfix"></div>
                        </div>

                        <div class="bar_left clickable visible-md-block visible-lg-block" ng-click="goBack()" ng-show="content.isShowHeader && content.isShowBackIcon">
                            <span class="glyphicon glyphicon-chevron-left back-icon">
                                <md-tooltip class="em-font-15" md-direction="bottom">
                                    {{Text['SYSTEM']['back_to_page']}}
                                </md-tooltip>
                            </span>
                            <span class="back-text">{{content.Header}}</span>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div class="ghost-menu-space-reserving"></div>
    <!-- ActonInsteadOf -->
    <div ng-if="contentInfo && contentInfo.HaveActionInsteadOf" class="clickable btn-action-instead-of">
        <div class="btn btn-default" ng-click="showListActionInsteadOf()">
            <div class="pull-left" style="padding-top:2px;"><span class="glyphicon glyphicon-eye-open">&nbsp;</span></div>
            <div class="pull-left">{{Text['SYSTEM']['ACTION_INSTEAD_OF']}}</div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div style="background-color:#F9AF3C; " ng-if="contentInfo && contentInfo.HaveActionInsteadOf && employeeData.EmployeeID != employeeData.RequesterEmployeeID" class="profile_position">
        <div class="user-profile-content  ag-flex-row ag-small-space" style="outline:none;">
            <div class="col-lg-2 text-center">              
                <img style="width: 80%; height: 80%" class="-img_circle -center-y" src="{{getImageProxy(urlImage)}}" onerror="this.style.display='none'" onload="this.style.display = 'inherit'">
            </div>
            <div class="col-lg-10 text-left">
                <p>{{requesterData.EmployeeID}} - {{requesterName}}</p>
                <p>{{positionShortText}}</p>
            </div>
        </div>
    </div>

    <!-- Body -->
    <div ng-if="contentInfo" ng-include="getTemplate()" ng-class="{'padding-breadcrumb': contentInfo.HaveActionInsteadOf, 'padding-breadcrumb2': contentInfo.HaveActionInsteadOf && employeeData.EmployeeID != employeeData.RequesterEmployeeID}"></div>

</div>