﻿<div ng-controller="RequestViewerWithReSimulateController" class="padding-breadcrumb">
    <!--<div class="content_notscroll" ng-hide="VIEW_DETAIL_MODE">
        <div class="contentHead">
            <div class="bar-content">
                <div class="row bar_title">
                    <div class="col-md-12">
                        <div class="bar_left clickable -widthfull" ng-click="goBack()">
                            <span class="glyphicon glyphicon-chevron-left back-icon">
                                <md-tooltip class="em-font-15" md-direction="bottom">
                                    {{Text['SYSTEM']['back_to_page']}}
                                </md-tooltip>
                            </span>
                            <span class="back-text" ng-show="content.isShowHeader">{{content.Header}}</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div class="ghost-menu-space-reserving"></div>
    <!-- error message -->
    <div ng-if="document.HasError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>

    <!-- action -->
    <div class="row contentBody forheight leaveBlock_detail">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" ng-class="{'view_detail_mode':VIEW_DETAIL_MODE}">
         
            <!-- warning message -->
            <div ng-if="content.isShowDocumentWarning" ng-include="'views/common/partials/document_warning.html?t='+runtime"></div>
            <!-- !warning message -->

            <div style=" border: 1px solid #e8e8e8;" ng-if="document.HistoryList && document.HistoryList.length > 0" ng-hide="VIEW_DETAIL_MODE">
                <md-tabs md-selected="tabs.selectedIndex">
                    <md-tab>
                        <md-tab-label style=" font-size: 20px;">
                            Viewer
                        </md-tab-label>
                    </md-tab>
                    <md-tab>
                        <md-tab-label style=" font-size: 20px;">
                            History
                        </md-tab-label>
                    </md-tab>
                </md-tabs>
            </div>

            <div ng-show="tabs.selectedIndex == 0">
                <!-- body content -->
                <!--Begin Add New RequestNo by Nipon Supap 14-02-2017 13:42 PM -->
                <!--<div class="bar-content" ng-hide="VIEW_DETAIL_MODE">
                    <div class="row bar_title" style="border-radius: 0px;">
                        <div class="col-md-12">
                            <div class="bar_left">
                                <div class="bar_left-title">
                                    <div class="title_txtsmall -txt-lightblue">{{Text['REQUESTHEADER']['REQUESTNO']}}</div>{{document.RequestNo}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!--End Add New RequestNo by Nipon Supap 14-02-2017 13:42 PM -->

                <div class="bar-content" ng-hide="VIEW_DETAIL_MODE">
                    <div class="row bar_title" style="border-radius: 0px;">
                        <div class="col-md-12">
                            <div class="bar_left">
                                <div class="bar_left-title">
                                    <div class="title_txtsmall -txt-lightblue">{{Text['REQUESTHEADER']['REQUESTNO']}}</div>{{document.RequestNo}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body_content">
                    <div class="leavetableBlock">

                        <div class="row itemlist_block" ng-class="{'view_detail_mode':VIEW_DETAIL_MODE}">
                            <div class="col-md-12 leavedetail">
                                <div ng-if="document" ng-include="'views/common/partials/document_info.html?t='+runtime" ng-hide="VIEW_DETAIL_MODE"></div>

                                <!-- body -->
                                <div class="-pad10" ng-class="{'view_detail_mode':VIEW_DETAIL_MODE}"></div>
                                <div ng-if="document" ng-include="getRequestViewerTemplate(runtime)"></div>

                                <!-- attachment -->
                                <div ng-if="document && document.FileSet.Attachments.length > 0" ng-include="'views/common/partials/document_attachment.html?t='+runtime"></div>

                                <!-- comment -->
                                <div ng-if="document && !templateControl.isDeleteRequest" ng-include="'views/common/partials/document_comment.html?t='+runtime" ng-hide="VIEW_DETAIL_MODE"></div>
                            </div>
                        </div>
                        <!-- bar_bottom -->
                    </div>
                    <!-- leavetableBlock -->
                </div>
                <!-- body_content -->
                <!-- flow -->
                <div ng-if="document" ng-include="'views/common/partials/document_flow.html?t='+runtime" ng-hide="VIEW_DETAIL_MODE"></div>
            </div>

            <div ng-if="document.HistoryList && document.HistoryList.length > 0" ng-show="tabs.selectedIndex == 1">
                <div class="leaveBlock_detail">
                    <ess-expense-view-history text="Text" wizard-form-control="wizardFormControl" begin-form-wizard="beginFormWizard()" finish-form-wizard="finishFormWizard()" document="document" loader="loader"></ess-expense-view-history>
                </div>
            </div>

        </div>
    </div>
</div>
<style>
    .view_detail_mode {
    
        border:none !important;
        padding:0px;
    }
</style>