﻿<div ng-controller="ResultController">
    <!--<div class="content_notscroll">
        <div class="contentHead">
            <div class="bar-content">
                <div class="row bar_title">
                    <div class="col-md-12">
                        <div class="bar_left">{{Text['SYSTEM']['REQUEST_RESULT']}}</div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>-->
    <div class="ghost-menu-space-reserving"></div>
    <!-- ActonInsteadOf -->
    <!--<div style="background-color:#F9AF3C;margin-top:0;" ng-if="document && employeeData && employeeData.EmployeeID != employeeData.RequesterEmployeeID" class="profile_position">
        <div class="profile_position-detail">
            <p>{{requesterName}}</p>
        </div>
        <div class="clearfix"></div>
    </div>-->

    <!-- error message -->
    <!--<div ng-if="document.HasError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>-->

    <!-- flow -->
    <!--<div ng-if="document" ng-include="'views/common/partials/document_flow.html?t='+runtime"></div>-->
    <div class="row contentBody forheight leaveBlock_detail">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll">
            <div class="bar-content">
                <div class="row bar_title">
                    <div class="col-md-12">
                        <div class="bar_left">
                            <div class="bar_left-title">
                                <div class="title_txtsmall -txt-lightblue">{{Text['REQUESTHEADER']['REQUESTNO']}}</div>{{document.RequestNo}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body_content">
                <div class="leavetableBlock">

                    <div class="row itemlist_block">
                        <div class="col-md-12 leavedetail">
                            <div ng-if="document" ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
                        </div>
                    </div>
                    <!-- bar_bottom -->
                </div>
                <!-- leavetableBlock -->
            </div>
            <!-- body_content -->
            <!-- flow -->
            <div ng-if="document" ng-include="'views/common/partials/document_flow.html?t='+runtime"></div>
        </div>
    </div>
</div>
