﻿<div ng-controller="PersonalDataSettingCreateController" style="padding: 30px 5px 0px 5px;">
    <div class="bar-content">
        <div class="row bar_title">
            <div class="col-md-12">
                <div class="bar_left bar_left_single_line">
                    <div class="bar_left-title">
                        {{ Text[PATextcategory][UrlArray[count].Name] }} ({{Text[PATextcategory].AddEmployee}})
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body_content">
        <div class="leavetableBlock leavetableBlock_create">
            <div class="row itemlist_block">
                <div class=" col-md-11 ">
                    <div class="panel-body" ng-include="Path" ></div>
                </div>
                <div class="commonbtn -settxt-center">
                    <div class="itemlist">
                        <div class="row">
                            <div class=" col-sm-12 -settxt-center">
                                <div class="col-xs-4 col-md-4 " style="text-align:center;">
                                    <button class="btn btn-default btn_submit -bg-blue -txt-white " id="PreviousButton" ng-disabled="count == 0" ng-click="Previous();">{{Text[PATextcategory].Previous}}</button><!-- count == 0 -->
                                </div>
                                <div class="col-xs-4 col-md-4 " style="text-align:center;">
                                    <button type="submit" class="btn btn-default btn_submit -txt-white  ng-binding" ng-click="onClickCancel();" style="background-color: #B2B2B2;">{{ Text[PATextcategory].Cancel }}</button>
                                </div>
                                <div class="col-xs-4 col-md-4 " style="text-align:center;">
                                    <button class="btn btn-default btn_submit -bg-blue -txt-white" ng-hide="count == 2" id="NextButton" ng-click="Next();">{{Text[PATextcategory].Next}}</button>
                                    <button class="btn btn-default btn_submit -bg-blue -txt-white" ng-hide="count != 2" id="NextButton" ng-click="onClickSave($event);">{{Text[PATextcategory].Save}}</button>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- itemlist -->
    </div>
</div>
<style>
    tr > td {
        padding: 5px 10px;
    }
    .panel.panel-default{
        border:none;    
        box-shadow: none;
    }
    .panel.panel-default td{
            text-align: right;
    }
    .panel.panel-default .panel-body{
        padding:0;
        max-width: 500px;
    }
    .itemlist_block{
        padding-top: 10px;
    }
    .btn.btn-default{
        min-width: 130px;
        height: 50px;
        text-align: center;
        outline:none;
    }
    /*span, input{
        height: 35px !important;
    }*/
    span.btn.btn-default.form-control.ui-select-toggle {
        height: 35px !important;
    }

    @media only screen and (max-device-width: 480px) {
        .btn.btn-default {
            min-width: 80px;
        }
	}
    
</style>