﻿<div ng-controller="PersonalDataSettingEditorController" class="TravelExManPage personal-data-setting-editor" style="padding: 30px 5px 0px 5px;">


    <style>
        .item-btn .itemin_btn {
            min-width: 150px;
            text-align: center;
        }

        .bar_title {
            padding-left: 10px;
        }

        @media only screen and (max-width: 990px) {
            .TravelExManPage .panel-body, .leavetableBlock {
                padding: 10px 0px 0px 0px !important;
            }
        }

        .bdc204 {
            width: inherit;
            border-color: rgb(204, 204, 204);
        }
    </style>

    <div class="bar-content">
        <div class="row bar_title">
            <div class="col-md-12">
                <div class="bar_left bar_left_single_line">
                    <div class="bar_left-title" style="    padding-left: 10px;">
                        {{Text[PATextcategory].PERSONAL_ADMINISTRATION}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body_content">
        <div class="leavetableBlock leavetableBlock_create" style="padding:20px;">
            <div class="row ">
                <div class="col-md-12">
                    <div class="col-md-12 col-md-offset-0">
                        <label>{{Text[PATextcategory].PERSONAL_ADMINISTRATION}}</label><br /> <!-- fixed text -->
                    </div>
                    <div class="panel panel-default col-md-12 col-md-offset-0"><!--<pre>{{PersonData}}</pre><pre>{{OrgData}}</pre><pre>{{ContactData}}</pre><pre>{{PositionData}}</pre>-->
                        <div class="panel-body">
                            <div class="col-md-10 col-md-offset-0">
                                <label>{{ Text[PATextcategory].EmployeeID + " : " + itemKey}}</label>
                            </div>
                            
                            <div class="panel panel-default col-md-12 col-md-offset-0" ng-hide="isResign">
                                <div class="panel-body">
                                    <div class="col-md-12 col-md-offset-0">
                                        <label>{{ Text[PATextcategory].PersonalData }}</label><br />
                                    </div>
                                    <div class="panel panel-default col-md-12 col-md-offset-0">
                                        <div class="panel-body">
                                            <div class="-pad10"></div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="item-btn mobile-text-center">
                                                            <a>
                                                                <div class="itemin_btn ng-binding" ng-click="OnClickAddEmployee();">
                                                                    <span class="icon-doc_plus" style="margin-right:10px;"></span>{{ Text[PATextcategory].Add }}
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="-pad10"></div>
                                                <!-- Desktop new version table PersonData -->
                                                <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                                    <div class="row itemlist">
                                                        <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide" style="overflow: visible;">
                                                            <div id="mCSB_4" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" style="max-height: none;outline: none;" tabindex="0">
                                                                <div id="mCSB_4_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position: relative; top: 0px;" dir="ltr">
                                                                    <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                                        <thead>
                                                                            <tr>
                                                                                <td>{{ Text[PATextcategory].Prefix }}</td>
                                                                                <td>{{ Text[PATextcategory].FirstName }}</td>
                                                                                <td>{{ Text[PATextcategory].LastName }}</td>
                                                                                <td>{{ Text[PATextcategory].NickName }}</td>
                                                                                <td>{{ Text[PATextcategory].DOB }}</td>
                                                                                <td>{{ Text[PATextcategory].Gender }}</td>
                                                                                <td>{{ Text[PATextcategory].MaritalStatus }}</td>
                                                                                <td>{{ Text[PATextcategory].Nationality }}</td>
                                                                                <td>{{ Text[PATextcategory].Language }}</td>
                                                                                <td>{{ Text[PATextcategory].Religion }}</td>
                                                                                <td>{{ Text[PATextcategory].BeginDate }}</td>
                                                                                <td>{{ Text[PATextcategory].EndDate }}</td>
                                                                                <td></td>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="x in PersonData">
                                                                                <td>
                                                                                    <select name="Prefix" class="form-control" ng-model="x.TitleID" required style="width:inherit" ng-change="getTitleName($index)">
                                                                                        <option ng-repeat="pre in Prefix" ng-selected="{{selectedPrefix == pre}}" value="{{ pre.ObjectID }}">{{ pre.AlternativeShortName }}</option>
                                                                                    </select>
                                                                                    <!--<div class="breakword-100px em-font-15">{{ x.TitleID }}</div>-->
                                                                                </td>
                                                                                <td>
                                                                                    <input type="text" name="FirstName" class="bdc204 btn form-control text-left" value="{{ x.FirstName }}" ng-model="x.FirstName" ng-trim="false" required />
                                                                                    <!--<div class="breakword-100px em-font-15">{{ x.FirstName }}</div>-->
                                                                                </td>
                                                                                <td>
                                                                                    <input type="text" name="LastName" class="bdc204 btn form-control text-left" value="{{ x.LastName }}" ng-model="x.LastName" ng-trim="false" required />
                                                                                    <!--<div class="breakword-100px em-font-15">{{ x.LastName }}</div>-->
                                                                                </td>
                                                                                <td class="money">
                                                                                    <input type="text" name="NickName" class="bdc204 btn form-control text-left" value="{{ x.NickName }}" ng-model="x.NickName" ng-trim="false" required />
                                                                                    <!--<div class="breakword-100px em-font-15">{{ x.NickName }}</div>-->
                                                                                </td>
                                                                                <td class="money">
                                                                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                                                        <div style="position: relative; width: 150px; height: 50px; overflow: hidden;" ng-init="x.DOB = getDate(x.DOB)">
                                                                                            <input value="{{x.DOB | date:'dd/MM/yyyy'}}"
                                                                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                                                                   ng-click="isShowDateDOB=!isShowDateDOB"
                                                                                                   style="position: absolute; top: 0; z-index: 1; width: 150px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                                                                   aria-invalid="true">
                                                                                            <md-datepicker ng-model="x.DOB"
                                                                                                           md-hide-icons="calendar"
                                                                                                           md-is-open="isShowDateDOB"
                                                                                                           style=" width: 100px;"></md-datepicker>
                                                                                            <i class="icon-calendar ico_datestart -txt-blue" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 21px; "></i>
                                                                                        </div>
                                                                                    </div>
                                                                                    <!--<div class="breakword-100px em-font-15">{{ x.DOB | date:'dd/MM/yyyy' }}</div>-->
                                                                                </td>
                                                                                <td class="money">
                                                                                    <select name="Gender" class="form-control" ng-model="x.Gender"  required style="width:inherit">
                                                                                        <option ng-repeat="gen in Gender" ng-selected="{{selectedGender == gen}}" value="{{ gen.ObjectID }}">{{ gen.AlternativeShortName }}</option>
                                                                                    </select>
                                                                                    <!--<div class="breakword-100px em-font-15">{{ x.Gender }}</div>-->
                                                                                </td>
                                                                                <td class="money">
                                                                                    <select class="form-control" name="MaritalStatus" ng-model="x.MaritalStatus" style="width:inherit">
                                                                                        <option ng-repeat="mar in MaritalStatus" value="{{ mar.ObjectID }}">{{ mar.AlternativeShortName }}</option>
                                                                                    </select>
                                                                                    <!--<div class="breakword-100px em-font-15">{{ x.MaritalStatus }}</div>-->
                                                                                </td>
                                                                                <td class="money">
                                                                                    <select class="form-control" name="Nationality" ng-model="x.Nationality" style="width:inherit">
                                                                                        <option ng-repeat="nat in Nationality" value="{{ nat.ObjectID }}">{{ nat.AlternativeShortName }}</option>
                                                                                    </select>
                                                                                    <!--<div class="breakword-100px em-font-15">{{ x.Nationality }}</div>-->
                                                                                </td>
                                                                                <td class="money">
                                                                                    <select class="form-control" name="Language" ng-model="x.Language" style="width:inherit">
                                                                                        <option ng-repeat="lan in Language" value="{{ lan.ObjectID }}">{{ lan.AlternativeShortName }}</option>
                                                                                    </select>
                                                                                </td>
                                                                                <td class="money">
                                                                                    <select class="form-control" name="Religion" ng-model="x.Religion" style="width:inherit">
                                                                                        <option ng-repeat="rel in Religion" value="{{ rel.ObjectID }}">{{ rel.AlternativeShortName }}</option>
                                                                                    </select>
                                                                                </td>
                                                                                <td>
                                                                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                                                        <div style="position: relative; width: 150px; height: 50px; overflow: hidden;" ng-init="x.BeginDate = getDate(x.BeginDate)">
                                                                                            <input value="{{x.BeginDate | date:'dd/MM/yyyy'}}"
                                                                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                                                                   ng-click="isShowDateStart=!isShowDateStart"
                                                                                                   style="position: absolute; top: 0; z-index: 1; width: 150px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                                                                   aria-invalid="true">
                                                                                            <md-datepicker ng-model="x.BeginDate"
                                                                                                           md-hide-icons="calendar"
                                                                                                           ng-change="setPersonDataEndDate($index)"
                                                                                                           md-is-open="isShowDateStart"
                                                                                                           style=" width: 100px;"></md-datepicker>
                                                                                            <i class="icon-calendar ico_datestart -txt-blue" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 21px; "></i>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                                                        <div style="position: relative; width: 150px; height: 50px; overflow: hidden;" ng-init="x.EndDate = getDate(x.EndDate)">
                                                                                            <input value="{{x.EndDate | date:'dd/MM/yyyy'}}" ng-disabled="true"
                                                                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                                                                   ng-click="isShowDateEnd=!isShowDateEnd"
                                                                                                   style="position: absolute; top: 0; z-index: 1; width: 150px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                                                                   aria-invalid="true">
                                                                                            <md-datepicker ng-model="x.EndDate"
                                                                                                           md-hide-icons="calendar"
                                                                                                           md-is-open="isShowDateEnd"
                                                                                                           style=" width: 100px;"></md-datepicker>
                                                                                            <i class="icon-calendar ico_datestart -txt-blue" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 21px; "></i>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td style="vertical-align: middle !important; text-align: end;">
                                                                                    <!--<a ng-click="OnClickEditEmployee(x.BeginDate);" class="btn no-radius ico_lightaction action-edit"><span class="fal fa-pencil-alt"></span></a>-->
                                                                                    <a ng-click="OnClickDeleteEmployee($index);" class="btn no-radius ico_lightaction action-del"><span class="fal fa-times"></span></a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div><div id="mCSB_4_scrollbar_vertical" class="mCSB_scrollTools mCSB_4_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_4_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; top: 0px; height: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div><div id="mCSB_4_scrollbar_horizontal" class="mCSB_scrollTools mCSB_4_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_4_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 50px; display: block; width: 689px; left: 223px; max-width: 902px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-md-12 -pad10"></div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="item-btn mobile-text-center">
                                                            <a>
                                                                <div class="itemin_btn ng-binding" ng-click="OnClickAddOrganization();">
                                                                    <span class="icon-doc_plus" style="margin-right:10px;"></span>{{ Text[PATextcategory].Add }}
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="-pad10"></div>
                                                <!-- Desktop new version table OrganizationData-->
                                                <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                                    <div class="row ">
                                                        <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide" style="overflow: visible;">
                                                            <div id="mCSB_4" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" style="max-height: none;     outline: none;" tabindex="0">
                                                                <div id="mCSB_4_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position: relative; top: 0px;" dir="ltr">
                                                                    <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                                        <thead>
                                                                            <tr>
                                                                                <td>{{ Text[PATextcategory].Area }}</td>
                                                                                <td>{{ Text[PATextcategory].SubArea }}</td>
                                                                                <td>{{ Text[PATextcategory].EmpGroup }}</td>
                                                                                <td>{{ Text[PATextcategory].EmpSubGroup }}</td>
                                                                                <!--<td>{{ Text[PATextcategory].OrganizationName }}</td>-->
                                                                                <td>{{ Text[PATextcategory].CostCenter }}</td>
                                                                                <!--<td>{{ Text[PATextcategory].Position }}</td>-->
                                                                                <td>{{ Text[PATextcategory].BeginDate }}</td>
                                                                                <td>{{ Text[PATextcategory].EndDate }}</td>
                                                                                <td></td>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="x in OrgData">
                                                                                <td>
                                                                                    <select class="form-control" name="Area" ng-model="x.Area" style="width:inherit">
                                                                                        <option ng-repeat="area in AreaSelector" value="{{ area.ObjectID }}">{{ area.AlternativeShortName }}</option>
                                                                                    </select>
                                                                                </td>
                                                                                <td>
                                                                                    <select class="form-control" name="SubArea" ng-model="x.SubArea" style="width:inherit">
                                                                                        <option ng-repeat="sa in SubAreaSelector" value="{{ sa.ObjectID }}">{{ sa.AlternativeShortName }}</option>
                                                                                    </select>
                                                                                </td>
                                                                                <td>
                                                                                    <select class="form-control" name="EmpGroup" ng-model="x.EmpGroup" style="width:inherit">
                                                                                        <option ng-repeat="eg in EmpGroup" value="{{ eg.ObjectID }}">{{ eg.AlternativeShortName }}</option>
                                                                                    </select>
                                                                                </td>
                                                                                <td class="money">
                                                                                    <select class="form-control" name="EmpSubGroup" ng-model="x.EmpSubGroup" style="width:inherit">
                                                                                        <option ng-repeat="esg in EmpSubGroup" value="{{ esg.ObjectID }}">{{ esg.AlternativeShortName }}</option>
                                                                                    </select>
                                                                                </td>
                                                                                <!--<td class="money">
                                                                                    <select class="form-control" name="OrgUnit" ng-model="x.OrgUnit" style="width:inherit">
                                                                                        <option ng-repeat="ou in OrgUnitSelector" value="{{ ou.ObjectID }}">{{ ou.ObjectID + ' : ' + ou.AlternativeName }}</option>
                                                                                    </select>
                                                                                </td>-->
                                                                                <td class="money">
                                                                                    <select class="form-control" name="CostCenter" ng-model="x.CostCenter" style="width:inherit">
                                                                                        <option ng-repeat="cc in CostCenterSelector" value="{{ cc.ObjectID }}">{{ cc.ObjectID + ' : ' + cc.AlternativeName }}</option>
                                                                                    </select>
                                                                                </td>
                                                                                <!--<td class="money">
                                                                                    <select class="form-control" name="Position" ng-model="x.Position" style="width:inherit">
                                                                                        <option ng-repeat="ps in PositionSelector" value="{{ ps.ObjectID }}">{{ ps.AlternativeShortName }}</option>
                                                                                    </select>
                                                                                </td>-->
                                                                                <td>
                                                                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                                                        <div style="position: relative; width: 150px; height: 50px; overflow: hidden;" ng-init="x.BeginDate = getDate(x.BeginDate)">
                                                                                            <input value="{{x.BeginDate | date:'dd/MM/yyyy'}}"
                                                                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                                                                   ng-click="isShowDateStart=!isShowDateStart"
                                                                                                   style="position: absolute; top: 0; z-index: 1; width: 150px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                                                                   aria-invalid="true">
                                                                                            <md-datepicker ng-model="x.BeginDate"
                                                                                                           md-hide-icons="calendar"
                                                                                                           ng-change="setOrgDataEndDate($index)"
                                                                                                           md-is-open="isShowDateStart"
                                                                                                           style=" width: 100px;"></md-datepicker>
                                                                                            <i class="icon-calendar ico_datestart -txt-blue" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 21px; "></i>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                                                        <div style="position: relative; width: 150px; height: 50px; overflow: hidden;" ng-init="x.EndDate = getDate(x.EndDate)">
                                                                                            <input value="{{x.EndDate | date:'dd/MM/yyyy'}}" ng-disabled="true"
                                                                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                                                                   ng-click="isShowDateEnd=!isShowDateEnd"
                                                                                                   style="position: absolute; top: 0; z-index: 1; width: 150px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                                                                   aria-invalid="true">
                                                                                            <md-datepicker ng-model="x.EndDate"
                                                                                                           md-hide-icons="calendar"
                                                                                                           md-is-open="isShowDateEnd"
                                                                                                           style=" width: 100px;"></md-datepicker>
                                                                                            <i class="icon-calendar ico_datestart -txt-blue" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 21px; "></i>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td style="vertical-align: middle !important; text-align: right !important;">
                                                                                    <a ng-click="OnClickDeleteOrganization($index);" class="btn no-radius ico_lightaction action-del"><span class="fal fa-times"></span></a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div><div id="mCSB_4_scrollbar_vertical" class="mCSB_scrollTools mCSB_4_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_4_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; top: 0px; height: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div><div id="mCSB_4_scrollbar_horizontal" class="mCSB_scrollTools mCSB_4_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_4_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 50px; display: block; width: 689px; left: 223px; max-width: 902px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!--<pre>{{OrgSelect}}</pre>-->
                                    <div class="col-md-12 col-md-offset-0">
                                        <label>{{ Text[PATextcategory].OrganizationData }}</label><br />
                                    </div>
                                    <div class="panel panel-default col-md-12 col-md-offset-0">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="item-btn mobile-text-center">
                                                        <a>
                                                            <div class="itemin_btn ng-binding" ng-click="OnClickAddPosition();">
                                                                <span class="icon-doc_plus" style="margin-right:10px;"></span>{{ Text[PATextcategory].Add }}
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="-pad10"></div>
                                            <!-- Desktop new version table ContactData-->
                                            <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                                <div class="row ">
                                                    <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide" style="overflow: visible;">
                                                        <div id="mCSB_4" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" style="max-height: none;     outline: none;" tabindex="0">
                                                            <div id="mCSB_4_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position: relative; top: 0px;" dir="ltr">
                                                                <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                                    <thead>
                                                                        <tr>
                                                                            <td>{{ Text[PATextcategory].OrganizationName }}</td>
                                                                            <td>{{ Text[PATextcategory].Position }}</td>
                                                                            <td>{{ Text['OBJECTSETTING'].PercentValue }}</td>
                                                                            <td>{{ Text[PATextcategory].BeginDate }}</td>
                                                                            <td>{{ Text[PATextcategory].EndDate }}</td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="x in PositionData">
                                                                            <td>
                                                                                <select class="form-control" name="OrgUnit" ng-model="x.OrgUnit" style="width:inherit" ng-change="x.ObjectID = '';">
                                                                                    <option ng-repeat="ou in OrgUnitSelector" value="{{ ou.ObjectID }}">{{ ou.ObjectID + ' : ' + ou.AlternativeShortName }}</option>
                                                                                </select>
                                                                            </td>
                                                                            <td style="width:inherit">
                                                                                <select class="form-control" name="Position" ng-model="x.ObjectID" style="width:inherit">
                                                                                    <option ng-repeat="ps in OrgSelect | filter : {  NextObjectID : x.OrgUnit }" value="{{ ps.ObjectID }}">{{ ps.ObjectID + ' : ' + ps.ObjectName }}</option>
                                                                                </select>
                                                                            </td>
                                                                            <td>
                                                                                <select class="form-control" name="PercentValue" ng-model="x.PercentValue" style="width:inherit" ng-init="x.PercentValue">
                                                                                    <option value="100">{{ Text['OBJECTSETTING'][100] }}</option>
                                                                                    <option value="0">{{ Text['OBJECTSETTING'][0] }}</option>
                                                                                </select>
                                                                            </td>
                                                                            <td>
                                                                                <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                                                    <div style="position: relative; width: 150px; height: 50px; overflow: hidden;" ng-init="x.BeginDate = getDate(x.BeginDate)">
                                                                                        <input value="{{x.BeginDate | date:'dd/MM/yyyy'}}"
                                                                                               class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                                                               ng-click="isShowDateEnd=!isShowDateEnd"
                                                                                               style="position: absolute; top: 0; z-index: 1; width: 150px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                                                               aria-invalid="true">
                                                                                        <md-datepicker ng-model="x.BeginDate"
                                                                                                       md-hide-icons="calendar"
                                                                                                       md-is-open="isShowDateEnd"
                                                                                                       style=" width: 100px;"></md-datepicker>
                                                                                        <i class="icon-calendar ico_datestart -txt-blue" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 21px; "></i>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                                                    <div style="position: relative; width: 150px; height: 50px; overflow: hidden;" ng-init="x.EndDate = getDate(x.EndDate)">
                                                                                        <input value="{{x.EndDate | date:'dd/MM/yyyy'}}"
                                                                                               class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                                                               ng-click="isShowDateEnd=!isShowDateEnd"
                                                                                               style="position: absolute; top: 0; z-index: 1; width: 150px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                                                               aria-invalid="true">
                                                                                        <md-datepicker ng-model="x.EndDate"
                                                                                                       md-hide-icons="calendar"
                                                                                                       md-is-open="isShowDateEnd"
                                                                                                       style=" width: 100px;"></md-datepicker>
                                                                                        <i class="icon-calendar ico_datestart -txt-blue" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 21px; "></i>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="checkbox" style="margin-top: 10px;">
                                                                                    <input id="checkbox{{$index}}" class="styled" type="checkbox" ng-checked="x.NoSpecify == true" ng-model="x.NoSpecify" ng-change="onCheckBoxChange($index);" />
                                                                                    <label for="checkbox{{$index}}">{{ Text[PATextcategory].NoSpecify }}</label>
                                                                                </div>
                                                                            </td>
                                                                            <td style="vertical-align: middle !important; text-align: right !important;">
                                                                                <a ng-click="OnClickDeletePosition($index);" class="btn no-radius ico_lightaction action-del"><span class="fal fa-times"></span></a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div><div id="mCSB_4_scrollbar_vertical" class="mCSB_scrollTools mCSB_4_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_4_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; top: 0px; height: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div><div id="mCSB_4_scrollbar_horizontal" class="mCSB_scrollTools mCSB_4_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_4_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 50px; display: block; width: 689px; left: 223px; max-width: 902px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-md-offset-0">
                                        <label>{{ Text[PATextcategory].ContactData }}</label><br />
                                    </div>
                                    <div class="panel panel-default col-md-12 col-md-offset-0">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="item-btn mobile-text-center">
                                                        <a>
                                                            <div class="itemin_btn ng-binding" ng-click="OnClickAddContact();">
                                                                <span class="icon-doc_plus" style="margin-right:10px;"></span>{{ Text[PATextcategory].Add }}
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="-pad10"></div>
                                            <!-- Desktop new version table ContactData-->
                                            <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                                <div class="row ">
                                                    <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide" style="overflow: visible;">
                                                        <div id="mCSB_4" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" style="max-height: none;     outline: none;" tabindex="0">
                                                            <div id="mCSB_4_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position: relative; top: 0px;" dir="ltr">
                                                                <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                                    <thead>
                                                                        <tr>
                                                                            <td>{{ Text[PATextcategory].CommunicationType }}</td>
                                                                            <td>{{ Text[PATextcategory].Detail }}</td>
                                                                            <td>{{ Text[PATextcategory].BeginDate }}</td>
                                                                            <td>{{ Text[PATextcategory].EndDate }}</td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="x in ContactData">
                                                                            <td>
                                                                                <select class="form-control" name="CategoryCode" ng-model="x.CategoryCode" style="width:inherit">
                                                                                    <option ng-repeat="st in SubType" value="{{ st.ObjectID }}">{{ st.AlternativeName }}</option>
                                                                                </select>
                                                                            </td>
                                                                            <td>
                                                                                <input type="text" name="DataText" style="width:250px;font-size:15px;" class="bdc204 btn form-control text-left" value="{{ x.DataText }}" ng-model="x.DataText" ng-trim="false" required />
                                                                            </td>
                                                                            <td>
                                                                                <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                                                    <div style="position: relative; width: 150px; height: 50px; overflow: hidden;" ng-init="x.BeginDate = getDate(x.BeginDate)">
                                                                                        <input value="{{x.BeginDate | date:'dd/MM/yyyy'}}"
                                                                                               class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                                                               ng-click="isShowDateEnd=!isShowDateEnd"
                                                                                               style="position: absolute; top: 0; z-index: 1; width: 150px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                                                               aria-invalid="true">
                                                                                        <md-datepicker ng-model="x.BeginDate"
                                                                                                       md-hide-icons="calendar"
                                                                                                       md-is-open="isShowDateEnd"
                                                                                                       style=" width: 100px;"></md-datepicker>
                                                                                        <i class="icon-calendar ico_datestart -txt-blue" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 21px; "></i>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                                                    <div style="position: relative; width: 150px; height: 50px; overflow: hidden;" ng-init="x.EndDate = getDate(x.EndDate)">
                                                                                        <input value="{{x.EndDate | date:'dd/MM/yyyy'}}"
                                                                                               class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                                                               ng-click="isShowDateEnd=!isShowDateEnd"
                                                                                               style="position: absolute; top: 0; z-index: 1; width: 150px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                                                               aria-invalid="true">
                                                                                        <md-datepicker ng-model="x.EndDate"
                                                                                                       md-hide-icons="calendar"
                                                                                                       md-is-open="isShowDateEnd"
                                                                                                       style=" width: 100px;"></md-datepicker>
                                                                                        <i class="icon-calendar ico_datestart -txt-blue" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 21px; "></i>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="checkbox" style="margin-top: 10px;">
                                                                                    <input id="checkboxcon{{$index}}" class="styled" type="checkbox" ng-checked="x.NoSpecify == true" ng-model="x.NoSpecify" ng-change="onCheckBoxConChange($index);" />
                                                                                    <label for="checkboxcon{{$index}}">{{ Text[PATextcategory].NoSpecify }}</label>
                                                                                </div>
                                                                            </td>
                                                                            <td style="vertical-align: middle !important; text-align: right !important;">
                                                                                <a ng-click="OnClickDeleteContact($index);" class="btn no-radius ico_lightaction action-del"><span class="fal fa-times"></span></a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div><div id="mCSB_4_scrollbar_vertical" class="mCSB_scrollTools mCSB_4_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_4_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; top: 0px; height: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div><div id="mCSB_4_scrollbar_horizontal" class="mCSB_scrollTools mCSB_4_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_4_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 50px; display: block; width: 689px; left: 223px; max-width: 902px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="commonbtn -settxt-center">
                                <div class="itemlist">
                                    <div class="row" ng-hide="isResign">
                                        <div class=" settxt-center">
                                            <button type="submit" class="btn btn-default btn_submit -txt-white  ng-binding" style="background-color:red" ng-click="isResign=!isResign;">{{Text[PATextcategory].RESIGN}}</button>
                                            <button type="submit" class="btn btn-default btn_submit -bg-blue -txt-white  ng-binding" ng-click="onClickSave($event);">{{Text[PATextcategory].Save}}</button>
                                            <button type="submit" class="btn btn-default btn_submit  -txt-white  ng-binding" ng-click="onClickCancel();">{{Text[PATextcategory].Cancel}}</button>
                                        </div>
                                    </div>
                                    <div class="panel panel-default col-md-12 col-md-offset-0" ng-show="isResign">
                                        <div class="panel-body">
                                            <div class="-pad10"></div>
                                            <div class="col-md-12">
                                                <div class="-col_centered font-editor">
                                                    <div class="form-group row">
                                                        <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[PATextcategory].RESIGNDATE }}</label>
                                                        <div class="col-sm-6 detaildate_leave">
                                                            <datepicker callback-on-change="setSelectedResignDate(newDate)" date-max-limit="{{ Date(); }}" date-format="d/M/yyyy" date-set="{{ ResignDate }}">
                                                                <input class="form-control clickable datepicker" type="text" placeholder="" readonly />
                                                            </datepicker>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="commonbtn -settxt-center">
                                                    <div class="itemlist">
                                                        <div class="row">
                                                            <div class=" settxt-center">
                                                                <button type="submit" class="btn btn-default btn_submit -bg-blue -txt-white  ng-binding" ng-click="OnClickResignEmployee();">{{Text[PATextcategory].Save}}</button>
                                                                <button type="submit" class="btn btn-default btn_submit -txt-white  ng-binding" ng-click="isResign=!isResign;">{{Text[PATextcategory].Cancel}}</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- itemlist -->
    </div>
</div>
<style>
    .col-md-12 {
        padding-right: 3px;
        padding-left: 3px;
    }

    .TravelExManPage.personal-data-setting-editor td {
        text-align: center !important;
        vertical-align: middle !important;
    }

    .TravelExManPage.personal-data-setting-editor .exman-res_detailtable {
    }

    .exman-res_detailtable {
        margin-bottom: 10px !important;
    }

    .TravelExManPage.personal-data-setting-editor .travelEx_tablesec01 ul.itemlist_table-res {
        padding: 40px 15px 10px 15px;
    }

    .TravelExManPage.personal-data-setting-editor thead td {
        padding-top: 10px !important;
    }
</style>
