﻿<div class="ag-flex-row action-flows ag-justify-center" ng-controller="actionFlow" ng-init="init()">

    <div class="action-flow ag-flex-row ag-align-center" ng-repeat="Flow in FlowData">
        <div class="action-flow-item ag-flex-column ag-align-center" ng-show="Flow.CircleState == 'passed'">
            <div class="action-flow-item-circle ag-flex-column ag-align-center ag-justify-center passed">
                <span ng-class="Flow.IconClass"></span>
            </div>
            <b class="description">{{Flow.FlowItemCode}}</b>
            <md-tooltip md-direction="bottom" class="tooltip-multiline"><p style="font-size:20px; padding:0.5rem;">{{Flow.ActionByName}}<br>{{Flow.ActionByPositionName}}<br>{{Flow.ActionDate | date : 'dd/MM/yyyy HH:mm:ss' }}</p></md-tooltip>
        </div>
        <div class="action-flow-item ag-flex-column ag-align-center" ng-show="Flow.CircleState == 'inprogress'">
            <div class="action-flow-item-circle ag-flex-column ag-align-center ag-justify-center inprogress">
                <span ng-class="Flow.IconClass"></span>
            </div>
            <b class="description">{{Flow.FlowItemCode}}</b>
        </div>
        <div class="action-flow-item ag-flex-column ag-align-center" ng-show="Flow.CircleState == ''">
            <div class="action-flow-item-circle ag-flex-column ag-align-center ag-justify-center">
                <span ng-class="Flow.IconClass"></span>
            </div>
            <b class="description">{{Flow.FlowItemCode}}</b>
        </div>
    </div>
</div>
