﻿

<div class="datepicker-height-set none-block" ng-style="{ 'width' : width + 'px', 'position' : 'relative' }">
    <i class="icon-calendar ico_datestart -txt-blue" 
        style="z-index:3;pointer-events: none; position: absolute; right: 8px;top: 8px;font-size: 20px;"></i>
    <input date-range-picker class="form-control date-picker" type="text" ng-model="date" ng-disabled="disabled" ng-click="onClickInput()"
           min="min" max="max" options="{locale: {format: 'DD/MM/YYYY'}, singleDatePicker: true}" />
</div>
