﻿<div class="smart-create-travel" ng-controller="smartCreateTravelCtrl">

    <div class="col-sm-5 item-smart-travel">
        <div class="floting-icon">
            <i class="fal fa-map-marker-alt" aria-hidden="true"></i>
        </div>
        <md-autocomplete class="blocked-cross-btn" style="width:100%; height:100%;"
                         ng-click="tryToSelect(searchText)"
                         ng-blur="checkText(searchText)"
                         md-no-cache="true"
                         md-select-on-match="true"
                         md-selected-item="autocomplete.selectedItem"
                         md-search-text="searchText"
                         md-selected-item-change="selectedItemChange(item)"
                         md-items="item in querySearchItem(searchText)"
                         md-item-text="item.LocationNameToDisplay"
                         md-min-length="0"
                         md-autoselect="true"
                         placeholder="Select Place"
                         ng-disabled="IsEditCountry">
            <md-item-template>
                <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.LocationNameToDisplay}}</span>
            </md-item-template>
            <md-not-found>
                No states matching "{{searchText}}" was found.
            </md-not-found>
        </md-autocomplete>
    </div>
    <div class="col-sm-3   item-smart-travel">
        <div class="floting-icon">
            <i class="fal fa-calendar-alt" aria-hidden="true"></i>
        </div>
        <!--<input ng-model="InputFormTravel.BeginDateEndate" ng-change="changeDate()" type="text" name="datefilter"
       value="" style="border: 0px;width: 100%;height:58px;" placeholder="เช็คอิน - เช็คเอาท์" />-->
        <input date-range-picker class="form-control date-picker" type="text" ng-model="InputFormTravel.BeginDateEndate" ng-change="changeDate()"
               options="{locale: {format: 'DD/MM/YYYY', separator: ' - '}}" />
    </div>
    <div class="col-sm-3   item-smart-travel">
        <div class="floting-icon">
            <i class="fal fa-briefcase" aria-hidden="true"></i>
        </div>
        <md-select ng-model="InputFormTravel.TravelTypeID" placeholder="Select Type" class="md-no-underline">
            <md-option value="{{type.TravelTypeID}}" ng-repeat="type in data.TravelType" ng-selected="$first">{{type.TravelTypeName}}</md-option>
        </md-select>
    </div>
    <div class="col-sm-1   item-smart-travel" style="background:#289efe;">
        <div class="button-search" ng-click="CreateTravelRequest();"><i class=" fal fa-plus-hexagon" aria-hidden="true"></i></div>
    </div>
</div>