﻿<div class="TravelExManPage delegation-page" ng-controller="AdminDriverLicenseController">

    <div class="row margin-b10">
        <div class="col-sm-10">
            <h1>{{Text['ADMIN_DRIVER_LICENSE']['EmployeeDriverLicense']}}</h1>
        </div>
        <div class="col-sm-2">
            <a class="m-btn-c2 btn-s-md text-center" style="margin-top:10px;" ng-click="back()">
                <span>
                    {{Text['SYSTEM']['BACK']}}
                </span>
            </a>
        </div>
    </div>
    <div class="content-by-ayodia margin-b20">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['ADMIN_DRIVER_LICENSE']['EmployeeDriverLicense']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="filter-export-box clearfix margin-b20">
                        <div class="filter-items-l margin-b-5" ng-hide="isHideMultiCompany">
                            <div class="col-sm-3"><div class="text-basic-md-center-input color-main">{{Text['SYSTEM']['COMPANY']}}</div></div>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="selectCompanyCode" ng-change="changeCompany()">
                                    <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-items-r">
                            <a class="m-btn-c2 btn-s-md" ng-click="exportExcel()">
                                <span class="">
                                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;Export Excel
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row margin-b10">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <!--<th class="text-center" width="5%">ลำดับ</th>-->
                            <th class="text-center">{{Text['ADMIN_DRIVER_LICENSE']['DriverLicense']}}</th>
                            <th class="text-center">{{Text['ADMIN_DRIVER_LICENSE']['Name']}}</th>
                            <th class="text-center">{{Text['ADMIN_DRIVER_LICENSE']['DateOfIssue']}}</th>
                            <th class="text-center">{{Text['ADMIN_DRIVER_LICENSE']['DateOfExpire']}}</th>
                        </tr>
                        <tr class="t-body" ng-if="list_driver_license.length > 0" ng-repeat="item in list_driver_license">
                            <!--<td class="font-16 text-center">
                                {{$index+1}}
                            </td>-->
                            <td class="font-16 text-center">
                                {{item.LicenseID}}
                            </td>
                            <td class="font-16">
                                <span ng-show="profile.Language == 'TH'">{{item.FullNameTH}}</span>
                                <span ng-show="profile.Language == 'EN'">{{item.FullNameEN}}</span>
                            </td>
                            <td class="font-16 text-center">
                                {{item.EffectiveDate | date: 'd/M/yyyy'}}
                            </td>
                            <td class="font-16 text-center">
                                {{item.ExpireDate | date: 'd/M/yyyy'}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-right">
                        <ul uib-pagination
                            total-items="totalItem"
                            ng-model="currentPage"
                            max-size="3"
                            items-per-page="ItemPerPage"
                            class="pagination-sm"
                            boundary-links="true"
                            rotate="false"
                            ng-change="loadDriverLicense()"
                            first-text="{{firstText}}"
                            last-text="{{lastText}}"
                            previous-text="{{previousText}}"
                            next-text="{{nextText}}"></ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
