<div class="TravelExManPage delegation-page personalaccountcontent" ng-controller="CommunicationContentController">

    <!-- Body -->
    <div class="row contentBody forheight leaveBlock_detail" aria-hidden="false" style="padding: 20px 0 ">
        <div class="bar-content">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left bar_left_single_line">
                        <div class="bar_left-title ng-binding">
                            {{ Text[PATextcategory].ContactData }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
                    
        <div class="body_content" style="background:white;">
                        <div class="leavetableBlock leavetableBlock_create">
                            <div class="row itemlist_block">

                                <div ng-if="!IsViewCommunicationOnly"  class="item-btn mobile-text-center" style=" margin-bottom: 40px; margin-left: 15px">
                                    <a ng-click="CreateNew('603','')">
                                        <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                                            <span class="icon-doc_plus" aria-hidden="true"></span>   {{Text[CONTACTcategory].Edit}}
                                        </div>
                                        <md-tooltip md-direction="buttom" class="em-font-17">
                                            {{Text[CONTACTcategory].Edit}}
                                        </md-tooltip>
                                    </a>
                                </div>

                                <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-3">
                                                <span class="span_name">
                                                    {{ Text[PATextcategory].OFFICENUMBER }}
                                                </span>
                                            </div>
                                            <div class="col-lg-8 col-md-9 breakword-100px em-font-15">
                                                {{ ContactInfo.TelephoneNo }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-3 ">
                                                <span class="span_name">
                                                    {{ Text[PATextcategory].CELLPHONE }}
                                                </span>
                                            </div>
                                            <div class="col-lg-8 col-md-9 breakword-100px em-font-15">
                                                {{ ContactInfo.MobilePhone }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-3 ">
                                                <span class="span_name">
                                                    {{ Text[PATextcategory].MAIL }}
                                                </span>
                                            </div>
                                            <div class="col-lg-8 col-md-9 breakword-100px em-font-15">
                                                {{ ContactInfo.Email }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                        
                        <div ng-if="!IsViewCommunicationOnly" class="document-attachment">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    {{Text['SYSTEM']['ATTACHMENT']}}
                                </div>
                                <div class="panel-body document-heading-description" style="word-wrap: break-word;">
                                    <div ng-repeat="attachment in FileAttachmentList" style="line-height:30px">
                                        <a style="cursor:pointer" ng-click="getFileAttach(attachment.FileSetID, attachment.FileID)" ng-if="attachment.FilePath == null">{{$index + 1}}. {{attachment.FileName}}</a>
                                        <a style="cursor:pointer" ng-click="getFileFromPath(attachment)" ng-if="attachment.FilePath != null">{{$index + 1}}. {{attachment.FileName}}</a>
                                    </div>
                                    <div ng-if="FileAttachmentList.length == 0" style="line-height:30px">
                                        {{Text['SYSTEM']['NOATTACHMENT']}}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

<style>
    .box-content {
        min-height: 50px;
        border: solid 1px rgb(203, 203, 203);
        padding: 10px;
        border-radius: 2.5px;
        position: relative;
    }

    .delegation-page td {
        vertical-align: middle !important;
    }

    @media only screen and (min-width: 992px) {
        .fix-min-delegate-date-box {
            min-width: 415px;
        }
    }

    .bar_searchactive {
        margin-top: 0 !important;
    }

    .bar_search {
        height: 5rem;
        margin-top: -5rem;
    }

    md-dialog-content p {
        font-size: 20px;
    }

    .faa-shake.animated {
        -webkit-animation: none !important;
        animation: none !important;
    }
</style>
