﻿<div ng-controller="EmployeeController" class="TravelExManPage delegation-page">

    <!-- Pincode -->
    <script type="text/ng-template" id="openPincodeCv.ng-popup.html">
        <div class="modal-header">
            <h3 class="modal-title custom">PINCODE</h3>
            <button type="button" class="close custom" ng-click="closeModal()">&times;</button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <!--<input type="password" class="w-100 input-box font-16" placeholder="PINCODE" name="input1" ng-model="OldPinCode">-->
                    <input type="password" class="w-100 input-box font-16" placeholder="PINCODE" name="input1" ng-model="OldPinCode" dl-enter-key="getValidatePinCode()" auto-focus>
                    <span class="text-un color-danger pull-left">{{MsgValidate}}</span>
                    <span class="text-un color-main pull-right" ng-click="forgetPincode();">{{Text['PAYSLIPDATA']['NEWPINREQUEST']}}</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="m-btn-cw btn-s-md" ng-click="closeModal()">
                <span class="">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Text['ACTION']['CANCEL']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </a>
            <a class="m-btn-co btn-s-md" ng-click="getValidatePinCode()">
                <span class="">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Text['SYSTEM']['BUTTON_OK']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </a>
        </div>
    </script>

    <!-- เรียกดูข้อมูลประวัติพนักงาน -->
    <h1>{{ Text[APPLICATION].CV}}</h1>
    <div class="content-by-ayodia margin-b20">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{textHeader}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="filter-export-box clearfix margin-b20">
                        <div class="filter-items-l clearfix">
                            <div class="f-item" ng-show="isShowCv">
                                <a class="m-btn-c2 btn-s-md" ng-click="CreateNew('609','')">
                                    <span class="">
                                        <i class="fa fa-file-text"></i>&nbsp;&nbsp;{{Text[PATextcategory].CREATEREQUEST}}
                                    </span>
                                </a>
                            </div>
                            <div class="f-item" ng-show="!isShowCv">
                                <a class="m-btn-c2 btn-s-md" ng-click="openPincodeCV();">
                                    <span class="">
                                        <i class="fa fa-search"></i>&nbsp;&nbsp;{{Text[PATextcategory].CALLCV}}
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="filter-items-r" ng-show="isShowCv && isExportdata">
                            <a class="m-btn-c2 btn-s-md" style="background-color:#00ADEE;" ng-click="exportPPTX();">
                                <span class="">
                                    <i class="fa fa-file-powerpoint-o"></i>&nbsp;&nbsp;Export Powerpoint
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ประวัติทั่วไป -->
    <div class="content-by-ayodia margin-b20" ng-show="isShowCv">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text[PATextcategory].GENERALINFO}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text[PATextcategory]['EMPLOYEEID']}}</div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input">
                        {{CVdata.PersonData.EmployeeID}}
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text[PATextcategory]['NAME']}}</div>
                </div>
                <div class="col-sm-4">
                    <div class="text-basic-md-center-input">
                        <!--{{CVdata.PersonData.TitleID}} {{CVdata.PersonData.FirstName}} {{CVdata.PersonData.LastName}}-->
                        {{CVdata.PersonData.FullNameEn}}
                    </div>
                </div>
            </div>
            <div class="row active">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text[PATextcategory]['DOB']}}</div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input">{{CVdata.PersonData.DOB | date:'dd/MM/yyyy'}}</div>
                </div>
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main"> {{Text[PATextcategory]['AGE']}}</div>
                </div>
                <div class="col-sm-4">
                    <div class="text-basic-md-center-input">{{CVdata.period}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text[PATextcategory]['LEVEL']}}</div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input">{{CVdata.OrgData.EmpSubGroup}}</div>
                </div>
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main"> {{Text[PATextcategory]['PREWORK_BEGINDATE']}}</div>
                </div>
                <div class="col-sm-4">
                    <div class="text-basic-md-center-input">{{CVdata.HiringDate | date:'dd/MM/yyyy'}}</div>
                </div>
            </div>
            <div class="row active">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text[PATextcategory]['STARTWORKDATE_GPSCGROUP']}}</div>
                </div>
                <div class="col-sm-9">
                    <div class="text-basic-md-center-input">{{CVdata.StartWorkAge}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text[PATextcategory]['WORKAGE']}}</div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input">{{CVdata.ageOfCompany}}</div>
                </div>
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main"> {{Text[PATextcategory]['WORKLEVEL']}}</div>
                </div>
                <div class="col-sm-4">
                    <div class="text-basic-md-center-input">{{CVdata.ageOfLevel}}</div>
                </div>
            </div>
            <div class="row active">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text[PATextcategory]['EXPIREYEAR']}}</div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input">{{CVdata.RetirementDate | date:'dd/MM/yyyy'}}</div>
                </div>
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main"> {{Text[PATextcategory]['POSITIONNAME']}}</div>
                </div>
                <div class="col-sm-4">
                    <div class="text-basic-md-center-input">{{CVdata.Position}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text[PATextcategory]['SECTION']}}</div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input">{{CVdata.OrgUnitName}}</div>
                </div>
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main"> {{Text[PATextcategory]['DIVISION']}}</div>
                </div>
                <div class="col-sm-5">
                    <div class="text-basic-md-center-input">{{CVdata.Section}}</div>
                </div>
            </div>
            <!--<div class="row">
        <div class="col-sm-2">
            <div class="text-basic-md-center-input color-main">{{Text[PATextcategory]['DEPARTMENT']}}</div>
        </div>
        <div class="col-sm-3">
            <div class="text-basic-md-center-input">{{CVdata.Department}}</div>
        </div>
        <div class="col-sm-2">
            <div class="text-basic-md-center-input color-main"> {{Text[PATextcategory]['SENIORDEPARTMENT']}}</div>
        </div>
        <div class="col-sm-5">
            <div class="text-basic-md-center-input">{{CVdata.SeniorDepartment}}</div>
        </div>
    </div>-->
            <div class="row active">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text[PATextcategory]['DEPARTMENT']}}</div>
                </div>
                <div class="col-sm-9">
                    <div class="text-basic-md-center-input">{{CVdata.ConcatDepSeniorDep}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text[PATextcategory]['LINEOFWORK']}}</div>
                </div>
                <div class="col-sm-9">
                    <div class="text-basic-md-center-input">{{CVdata.ConcatLineOfWorkUnderTo}}</div>
                </div>
            </div>
            <div class="row active">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text[PATextcategory]['BELONGTO']}}</div>
                </div>
                <div class="col-sm-9">
                    <div class="text-basic-md-center-input">{{CVdata.BelongTo}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text[PATextcategory]['AGENCY']}}</div>
                </div>
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input">{{CVdata.WorkLocationName}}</div>
                </div>
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text[PATextcategory]['PROVINCE']}}</div>
                </div>
                <div class="col-sm-5">
                    <div class="text-basic-md-center-input">{{AREA[CVdata.AreaCode]}}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- ประวัติการศึกษา -->
    <div class="content-by-ayodia margin-b20" ng-show="isShowCv">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text[PATextcategory].table_educationhistory}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row show-pc">
                <table class="w-100 table-style-1 margin-b10 ">
                    <tr class="t-header">
                        <th class="text-center">{{ Text[PATextcategory].EDUCATION_BEGINDATE}}</th>
                        <th class="text-center">{{ Text[PATextcategory].EDUCATIONLEVELCODE}}</th>
                        <th class="text-center">{{ Text[PATextcategory].CERTIFICATECODE}}</th>
                        <th class="text-center">{{ Text[PATextcategory].BRANCH}}</th>
                        <th class="text-center">{{ Text[PATextcategory].INSTITUTE}}</th>
                        <th class="text-center">{{ Text[PATextcategory].GRADE}}</th>
                    </tr>
                    <tr class="t-body" ng-if="educationList.length > 0" ng-repeat="x in educationList">
                        <td class="font-16 text-center">{{x.EndDate | date:'d/M/yyyy'}}</td>
                        <td class="font-16">{{EDUCATIONLEVEL[x.EducationLevelCode]}}</td>
                        <td class="font-16">{{CERTIFICATE[x.CertificateCode]}}</td>
                        <td class="font-16 text-center">{{BRANCH[x.Branch1]}}</td>
                        <td class="font-16 text-center">{{INSTITUTE[x.InstituteCode]}}</td>
                        <td class="font-16 text-center">{{ x.Grade }}</td>
                    </tr>
                </table>
            </div>
            <div class="show-tablet">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="w-100 table-style-1 margin-b10 ">
                            <tr class="t-header">
                                <th class="text-center font-14" width="50%">{{Text[PATextcategory].EDUCATION_BEGINDATE}}</th>
                                <th class="text-center font-14" width="50%">{{Text[HRTMABSENCE].DESCRIPTION}}</th>
                            </tr>
                            <tr class="t-body" ng-if="educationList.length > 0" ng-repeat="x in educationList">
                                <td style="vertical-align:top;">
                                    <div class="text-center">
                                        {{x.EndDate | date:'d/M/yyyy'}}
                                    </div>
                                </td>
                                <td>
                                    <div>{{EDUCATIONLEVEL[x.EducationLevelCode]}}</div>
                                    <div>{{CERTIFICATE[x.CertificateCode]}}</div>
                                    <div>{{BRANCH[x.Branch1]}}</div>
                                    <div>{{INSTITUTE[x.InstituteCode]}}</div>
                                    <div>{{x.Grade}}</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<pre>{{educationList | json}}</pre>-->
    <!-- ประวัติการทำงาน (ปัจจุบัน) -->
    <div class="content-by-ayodia margin-b20" ng-show="isShowCv">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text[PATextcategory].WORKHISTORY}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="show-pc">
                <div class="row">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center">{{ Text[PATextcategory].WORK_PERIOD}}</th>
                            <th class="text-center">{{ Text[PATextcategory].POSITIONNAME}}</th>
                            <th class="text-center">{{ Text[PATextcategory].JOBGRADELEVEL}}</th>
                            <th class="text-center">{{ Text[PATextcategory].WORKDEPARTMENT}}</th>
                            <th class="text-center">{{ Text[PATextcategory].ACTION}}</th>
                            <th class="text-center">{{ Text[PATextcategory].VC}}</th>
                        </tr>
                        <tr class="t-body" ng-if="workHistoryList.length > 0" ng-repeat="x in workHistoryList">
                            <td class="font-16 text-center"> {{ x.STARTDATE | date:'d/M/yyyy' }} - {{x.ENDDATE | date:'d/M/yyyy'}}</td>
                            <td class="font-16">{{ x.POS_NAME }}</td>
                            <td class="font-16 text-center">{{ x.LEVEL }}</td>
                            <td class="font-16">{{ x.ORG_NAME }}</td>
                            <td class="font-16">{{ x.ACTION }}</td>
                            <td class="font-16 text-center">{{ x.WorkTime }}</td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <div class="pull-right">

                        <ul uib-pagination
                            total-items="totalItem"
                            ng-model="currentPage"
                            max-size="5"
                            items-per-page="8"
                            class="pagination-sm"
                            boundary-links="true"
                            rotate="false"
                            ng-change="loadHistoryWorking()"
                            first-text="{{firstText}}"
                            last-text="{{lastText}}"
                            previous-text="{{previousText}}"
                            next-text="{{nextText}}"></ul>
                    </div>
                </div>
            </div>
            <div class="show-tablet">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="w-100 table-style-1 margin-b10 ">
                            <tr class="t-header">
                                <th class="text-center font-14" width="50%">{{Text[PATextcategory].WORK_PERIOD}}</th>
                                <th class="text-center font-14" width="50%">{{Text[HRTMABSENCE].DESCRIPTION}}</th>
                            </tr>
                            <tr class="t-body" ng-if="educationList.length > 0" ng-repeat="x in workHistoryList">
                                <td style="vertical-align:top;">
                                    <div class="text-center">
                                        {{ x.STARTDATE | date:'d/M/yyyy' }}
                                        <br />
                                        {{x.ENDDATE | date:'d/M/yyyy'}}
                                    </div>
                                </td>
                                <td>
                                    <div>{{x.POS_NAME }}</div>
                                    <div>{{Text[PATextcategory].JOBGRADELEVEL}}&nbsp;{{ x.LEVEL }}</div>
                                    <div>{{x.ORG_NAME}}</div>
                                    <div>{{x.ACTION}}</div>
                                    <div>{{x.WorkTime}}</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <ul uib-pagination
                            total-items="totalItem"
                            ng-model="currentPage"
                            max-size="5"
                            items-per-page="8"
                            class="pagination-sm"
                            boundary-links="true"
                            rotate="false"
                            ng-change="loadHistoryWorking()"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ประวัติการประเมินผล -->
    <div class="content-by-ayodia margin-b20" ng-show="isShowCv">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text[PATextcategory].ESTIMATEHISTORY}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="show-pc">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="w-100 table-style-1 margin-b10 " ng-show="assessmentHistory.length > 0">
                            <tr class="t-header">
                                <th class="text-center" style="width:15%;">{{Text[PATextcategory].YEARS}}</th>
                                <th class="text-center" style="width:15%;" ng-repeat="item in assessmentHistory">{{item.Year}}</th>
                                <th></th>
                            </tr>
                            <tr class="t-body">
                                <td class="font-16 text-center">{{Text[PATextcategory].EvaluationResults}}</td>
                                <td class="font-16 text-center" ng-repeat="item in assessmentHistory">{{item.AppraisalGrade}}</td>
                                <td class="font-16 text-center"></td>
                            </tr>
                            <tr class="t-body">
                                <td class="font-16 text-center">{{Text[PATextcategory].IncreaseSalary}}</td>
                                <td class="font-16 text-center" ng-repeat="item in assessmentHistory">{{item.IncreaseSalaryPercent}}%</td>
                                <td class="font-16 text-center"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="show-tablet">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-style-responsive">
                            <table class="w-100 table-style-1 margin-b10 " ng-show="assessmentHistory.length > 0">
                                <tr class="t-header">
                                    <th class="text-center" style="width:50%;">{{Text[PATextcategory].YEARS}}</th>
                                    <th class="text-center" style="width:50%;" ng-repeat="item in assessmentHistory">{{item.Year}}</th>
                                </tr>
                                <tr class="t-body">
                                    <td class="font-16 text-center">{{Text[PATextcategory].EvaluationResults}}</td>
                                    <td class="font-16 text-center" ng-repeat="item in assessmentHistory">{{item.AppraisalGrade}}</td>
                                </tr>
                                <tr class="t-body">
                                    <td class="font-16 text-center">{{Text[PATextcategory].IncreaseSalary}}</td>
                                    <td class="font-16 text-center" ng-repeat="item in assessmentHistory">{{item.IncreaseSalaryPercent}}%</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- โครงสร้างอัตราเงินเดือนของระดับ -->
    <div class="content-by-ayodia margin-b20" ng-show="isShowCv">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text[PATextcategory].SALARYSTRUCTURE}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8 col-md-8 mb-50" ng-repeat="item in salaryRateList">
                        <div class="ayodia-progressbar">
                            <div class="ayodia-progressbar-title clearfix">
                                <div class="font-16" style="width:33.33%; text-align:left;">
                                    {{Text[PATextcategory].SalaryMin}}
                                    <br />
                                    <span style="font-weight:bold;">{{item.Minimum | number:2}}&nbsp;{{Text[PATextcategory].Baht}}</span>
                                </div>
                                <div class="font-16" style="width:33.34%; text-align:center;">
                                    {{Text[PATextcategory].SalaryMiddle}}
                                    <br />
                                    <span style="font-weight:bold;">{{item.Average | number:2}}&nbsp;{{Text[PATextcategory].Baht}}</span>
                                </div>
                                <div class="font-16" style="width:33.33%; text-align:right;">
                                    {{Text[PATextcategory].SalaryMax}}
                                    <br />
                                    <span style="font-weight:bold;">{{item.Maximum | number:2}}&nbsp;{{Text[PATextcategory].Baht}}</span>
                                </div>
                            </div>
                            <div class="ayodia-progress-item">
                                <!--{width : item.PercentageUse + '%' }-->
                                <div class="progress-bar color-company" ng-style="{width : item.PercentageSalary + '%' }">
                                    <div class="font-16 detail-bar" ng-if="item.PercentageSalary != '0%'">
                                        <div class="text-bar-detail-center">{{item.Salary | number:2}} </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<pre>{{profile | json}}</pre>-->

    <!--<pre>{{pagination | json}}</pre>-->
    <!--<pre>{{CVdata | json}}</pre>
    <pre>{{educationList | json}}</pre>
    <pre>{{workHistoryList | json}}</pre>
    <pre>{{salaryRateList | json}}</pre>
    <pre>{{assessmentHistory | json}}</pre>-->

</div>

