﻿
<div ng-controller="OrganizationStructureController" class="padding-breadcrumb" style="background:#e6e6e6;">
    <!--<h1 class="organization_header"></h1>-->
    <div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{content.Header}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row contentBody forheight leaveBlock_detail leavedetail" aria-hidden="false" style="padding: 20px 10px 10px 10px;">
        <div class="body_content" style="background:white;">
            <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll wrapper longPage  d-clame ">

                <div class="item-btn mobile-text-center" style=" margin-bottom: 40px; margin-left: 15px">
                    <a ng-click="CreateNew('0','')">
                        <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                            <span class="icon-doc_plus" aria-hidden="true"></span> {{Text['REPORTOM'].ERRORREPORT}}
                        </div>
                        <md-tooltip md-direction="buttom" class="em-font-15">
                            {{Text['REPORTOM'].ERRORREPORT}}
                        </md-tooltip>
                    </a>
                </div>

                <!--<div id="console_step_5" class="console-btn default-type console-create-btn" ng-click="CreateNew('0','')">
                    <i class="fa-2x fal fa-plus-octagon"></i>
                    <div>
                        <label>&nbsp;</label>
                        <label>Report OM</label>
                    </div>
                </div>-->
                <!-- itemlist_block -->
                <div class="bar_bottom">
                    <div class="organization_block" ng-repeat="org in OrganizationStructureList">
                        <div class="card">
                            <div class="card-body">
                                <div class="row ag-align-center m-0">
                                    <div class="col-lg-3 text-center">
                                        <img src="{{getImageProxy(org.ImageUrl)}}" />
                                    </div>
                                    <div class="col-lg-9">
                                        <h2>{{org.Manager_ID}} {{org.Manager_Name}}</h2>
                                        <div class="row p-0 m-0  ag-align-center">
                                            <div class="col-lg-3 p-0 m-0">
                                                <span>{{Text['SYSTEM']['ACTIONPOSITION']}} : </span>
                                            </div>
                                            <div class="col-lg-9 p-0 m-0">
                                                <p>{{org.Manager_PositionName}}</p>
                                            </div>
                                        </div>
                                        <div class="row p-0 m-0  ag-align-center">
                                            <div class="col-lg-3 p-0 m-0">
                                                <span>{{Text['SYSTEM']['ORGANIZATION']}} : </span>
                                            </div>
                                            <div class="col-lg-9 p-0 m-0">
                                                <p>{{org.OrgUnitName}}</p>
                                            </div>
                                        </div>

                                        <!--<div class="row p-0 m-0  ag-align-center" ng-if="employeeData.IsViewEmployeeLevel">
                                            <div class="col-lg-3 p-0 m-0">
                                                <span>{{Text['SYSTEM']['BRANDNO']}} : </span>
                                            </div>
                                            <div class="col-lg-9 p-0 m-0">
                                                <p> {{org.Manager_EmpSubgroup}}</p>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="-pad10"></div>
            </div>
        </div>
    </div>
</div>
<style>
    .add-padding {
        padding-left: 35px !important;
    }

    .mainBlock .contentBody .contentBodyin {
        padding-top: 1.5rem;
        margin-top: 25px;
    }
</style>