﻿<div ng-controller="PersonalAddressContentController">

    <!--Top bar-->
    <div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{ Text[PATextcategory].PERSONALADDRESS }}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Body -->
    <div class="row contentBody forheight leaveBlock_detail leavedetail" aria-hidden="false" style="padding: 20px 10px 10px 10px;">
        <div class="body_content" style="background:white;">
            <div class="leavetableBlock leavetableBlock_create">
                <div class="row itemlist_block">

                    <!-- itemlist_block -->
                    <div class="bar_bottom layout-padding-md">
                        <!-- bar_bottom-expandlist -->
                        <md-tabs class="personal_address_content" md-stretch-tabs="always" md-swipe-content="false" md-no-pagination="false" md-border-bottom="true" md-dynamic-height="true">
                            <md-tab class="mt-1" label=" {{ADDRESSTYPE[Addr.AddressType]}}" ng-repeat="Addr in AddressInfo">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="item-btn mobile-text-center " style="text-align:right; margin-bottom: 5px; margin-right: 15px;padding-top:5px;">
                                            <!--<a ng-click="CreateNewWithReference('602','','','AddressType|'+Addr.AddressType)">-->

                                                <a ng-click="CreateNew('602','AddressType|'+Addr.AddressType)">
                                                    <div class="itemin_btn ng-binding" style="min-width: 100px;text-align: center;">
                                                        <span class="icon-doc_pencilp_line" aria-hidden="true"></span> {{Text[PATextcategory].EDIT}}
                                                    </div>
                                                    <md-tooltip md-direction="buttom" class="em-font-15">
                                                        {{Text[PATextcategory].EDIT}}
                                                    </md-tooltip>
                                                </a>
</div>
                                    </div>
                                </div>

                                <table class="table table-responsive travelEx_tablesec02 not-fix-width pt-2">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                    <label class="span_name" style="width: 150px;font-size: 1.1rem; ">{{ Text[PATextcategory].ADDRESSNO }}</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                    <label style="width:250px;font-size: 1.1rem;">{{ Addr.AddressNo }}</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                    <label class="span_name" style="width: 150px;font-size: 1.1rem; ">{{ Text[PATextcategory].STREET }}</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                    <label style="width:250px;font-size: 1.1rem;">{{ Addr.Street }}</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                    <label class="span_name" style="width: 150px;font-size: 1.1rem; ">{{ Text[PATextcategory].DISTRICT }}</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                    <label style="width:250px;font-size: 1.1rem;">{{ Addr.District }}</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                    <label class="span_name" style="width: 150px;font-size: 1.1rem; ">{{ Text[PATextcategory].PROVINCE }}</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                    <label style="width:250px;font-size: 1.1rem;">{{ Addr.Province }}</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                    <label class="span_name" style="width: 150px;font-size: 1.1rem; ">{{ Text[PATextcategory].COUNTRY }}</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                    <label style="width:250px;font-size: 1.1rem;">{{ TEXTCOUNTRY[Addr.Country] }}</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                    <label class="span_name" style="width: 150px;font-size: 1.1rem; ">{{ Text[PATextcategory].POSTCODE }}</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                    <label style="width:250px;font-size: 1.1rem;">{{ Addr.Postcode }}</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                    <label class="span_name" style="width: 150px;font-size: 1.1rem; ">{{ Text[PATextcategory].TELEPHONE }}</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                    <label style="width:250px;font-size: 1.1rem;">{{ Addr.Telephone }}</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                                <div class="row" ng-if="DictFileAttachmentList[Addr.AddressType].length > 0">
                                    <div class="document-attachment">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                {{Text['SYSTEM']['ATTACHMENT']}}
                                            </div>
                                            <div class="panel-body document-heading-description" style="word-wrap: break-word;">
                                                <div ng-repeat="attachment in DictFileAttachmentList[Addr.AddressType]" style="line-height:30px">
                                                    <a style="cursor:pointer" ng-click="getFileAttach(attachment.FileSetID, attachment.FileID)" ng-if="attachment.FilePath == null">{{$index + 1}}. {{attachment.FileName}}</a>
                                                    <a style="cursor:pointer" ng-click="getFileFromPath(attachment)" ng-if="attachment.FilePath != null">{{$index + 1}}. {{attachment.FileName}}</a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!--<div class="document-attachment">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            {{Text['SYSTEM']['ATTACHMENT']}}
                                        </div>
                                        <div class="panel-body document-heading-description" style="word-wrap: break-word;">
                                            <div ng-repeat="attachment in FileAttachmentList" style="line-height:30px">
                                                <a style="cursor:pointer" ng-click="getFileAttach(attachment.FileSetID, attachment.FileID)" ng-if="attachment.FilePath == null">{{$index + 1}}. {{attachment.FileName}}</a>
                                                <a style="cursor:pointer" ng-click="getFileFromPath(attachment)" ng-if="attachment.FilePath != null">{{$index + 1}}. {{attachment.FileName}}</a>
                                            </div>
                                            <div ng-if="FileAttachmentList.length == 0" style="line-height:30px">
                                                {{Text['SYSTEM']['NOATTACHMENT']}}
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>-->

                            </md-tab>
                        </md-tabs>
                    </div>
                    </div>
                </div>
        </div>


    </div>
</div>


<style>
    .box-content {
        min-height: 50px;
        border: solid 1px rgb(203, 203, 203);
        padding: 10px;
        border-radius: 2.5px;
        position: relative;
    }

    .delegation-page td {
        vertical-align: middle !important;
    }

    @media only screen and (min-width: 992px) {
        .fix-min-delegate-date-box {
            min-width: 415px;
        }
    }

    .bar_searchactive {
        margin-top: 0 !important;
    }

    .bar_search {
        height: 5rem;
        margin-top: -5rem;
    }

    md-dialog-content p {
        font-size: 20px;
    }

    .faa-shake.animated {
        -webkit-animation: none !important;
        animation: none !important;
    }
</style>
