﻿
<div class="TravelExManPage delegation-page" ng-controller="PersonalEducationContentController" ng-init="init();">
    <!--Top bar-->
    <div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{Text['APPLICATION'].PA_INFO_EDUCATION}}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Body -->
    <div class="row contentBody forheight leaveBlock_detail" aria-hidden="false" style="padding: 20px 10px 10px 10px; ">
        <div class="body_content" style="background:white;">
            <div class="leavetableBlock leavetableBlock_create">
                <div class="row itemlist_block">
                    <div class="item-btn mobile-text-center" style=" margin-bottom: 15px; margin-left: 15px">
                        <a ng-click="CreateNew('607','')">
                            <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                                <span class="icon-doc_plus" aria-hidden="true"></span> {{Text[Textcategory].ADD}}
                            </div>
                            <md-tooltip md-direction="buttom" class="em-font-15">
                                {{Text[Textcategory].ADD}}
                            </md-tooltip>
                        </a>
                    </div>

                    <!-- itemlist_block -->
                    <div class="bar_bottom layout-padding-md">

                        <md-tabs class="personal_education_Content" md-stretch-tabs="always" md-swipe-content="false" md-no-pagination="false" md-border-bottom="true" md-dynamic-height="true">
                            <md-tab class="mt-1" label="{{EDUCATIONLEVEL[edu.EducationLevelCode]}}" ng-repeat="edu in EducationList">

                                <!-- bar_bottom-expandlist -->

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="item-btn mobile-text-center " style="text-align:right; margin-bottom: 5px; margin-right: 15px;padding-top:5px;">
                                            <a ng-click="CreateNew('607', 'EDIT|'+edu.EducationLevelCode+'|'+edu.BeginDate)">
                                                <div class="itemin_btn ng-binding" style="min-width: 100px;text-align: center;">
                                                    <span class="icon-doc_pencilp_line" aria-hidden="true"></span> {{Text[Textcategory].EDIT}}
                                                </div>
                                                <md-tooltip md-direction="buttom" class="em-font-15">
                                                    {{Text[Textcategory].EDIT}}
                                                </md-tooltip>
                                            </a>
                                            <!--<a ng-click="CreateNewWithReference('608','','', 'DELETE|'+member.FamilyMember+'|'+member.ChildNo)">
                                                <div class="itemin_btn ng-binding" style="min-width: 100px;text-align: center;">
                                                    <span class="icon-doc_x" aria-hidden="true"></span> {{Text[Textcategory].DELETE}}
                                                </div>
                                                <md-tooltip md-direction="buttom" class="em-font-15">
                                                    {{Text[Textcategory].DELETE}}
                                                </md-tooltip>
                                            </a>-->
                                        </div>
                                    </div>
                                </div>

                                <div class="body_content" style="background:white;">
                                    <div class="leavetableBlock leavetableBlock_create">
                                        <div class="row itemlist_block">
                                            <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <span class="span_name">
                                                                {{Text[Textcategory].EDUCATIONLEVEL}}
                                                            </span>
                                                        </div>
                                                        <div class="col-sm-7 breakword-100px em-font-15">
                                                            {{EDUCATIONLEVEL[edu.EducationLevelCode]}}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <span class="span_name">
                                                                {{Text[Textcategory].INSTITUTE}}
                                                            </span>
                                                        </div>
                                                        <div class="col-sm-7 breakword-100px em-font-15">
                                                            {{INSTITUTE[edu.InstituteCode]}}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <span class="span_name">
                                                                {{Text[Textcategory].COUNTRY}}
                                                            </span>
                                                        </div>
                                                        <div class="col-sm-7 breakword-100px em-font-15">
                                                            {{COUNTRY[edu.CountryCode]}}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <span class="span_name">
                                                                {{Text[Textcategory].CERTIFICATE}}
                                                            </span>
                                                        </div>
                                                        <div class="col-sm-7 breakword-100px em-font-15">
                                                            {{CERTIFICATE[edu.CertificateCode]}}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <span class="span_name">
                                                                {{Text[Textcategory].BEGINDATE}}
                                                            </span>
                                                        </div>
                                                        <div class="col-sm-7 breakword-100px em-font-15">
                                                            {{(edu.BeginDate | date:"dd/MM/yyyy")}}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <span class="span_name">
                                                                {{Text[Textcategory].ENDDATE}}
                                                            </span>
                                                        </div>
                                                        <div class="col-sm-7 breakword-100px em-font-15">
                                                            {{(edu.EndDate | date:"dd/MM/yyyy")}}
                                                        </div>
                                                    </div>
                                                    <!--<div class="row">
                                                        <div class="col-sm-5">
                                                            <span class="span_name">
                                                                {{Text[Textcategory].EDUCATIONGROUP}}
                                                            </span>
                                                        </div>
                                                        <div class="col-sm-7 breakword-100px em-font-15">
                                                            {{EDUCATIONGROUP[edu.EducationGroupCode]}}
                                                        </div>
                                                    </div>-->
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <span class="span_name">
                                                                {{Text[Textcategory].GRADE}}
                                                            </span>
                                                        </div>
                                                        <div class="col-sm-7 breakword-100px em-font-15">
                                                            {{edu.Grade | number : 2}}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <span class="span_name">
                                                                {{Text[Textcategory].BRANCH1}}
                                                            </span>
                                                        </div>
                                                        <div class="col-sm-7 breakword-100px em-font-15">

                                                            {{BRANCH[edu.Branch1]}}
                                                            <!--<div ng-init="bname=getBranch(edu.Branch1)">{{bname}} -- test</div>-->
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <span class="span_name">
                                                                {{Text[Textcategory].BRANCH2}}
                                                            </span>
                                                        </div>
                                                        <div class="col-sm-7 breakword-100px em-font-15">
                                                            {{BRANCH[edu.Branch2]}}

                                                        </div>
                                                    </div>



                                                    <div class="row" ng-if="DictFileAttachmentList[edu.EducationLevelCode].length > 0">
                                                        <div class="document-attachment">
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">
                                                                    {{Text['SYSTEM']['ATTACHMENT']}}
                                                                </div>
                                                                <div class="panel-body document-heading-description" style="word-wrap: break-word;">
                                                                    <div ng-repeat="attachment in DictFileAttachmentList[edu.EducationLevelCode]" style="line-height:30px">
                                                                        <a style="cursor:pointer" ng-click="getFileAttach(attachment.FileSetID, attachment.FileID)" ng-if="attachment.FilePath == null">{{$index + 1}}. {{attachment.FileName}}</a>
                                                                        <a style="cursor:pointer" ng-click="getFileFromPath(attachment)" ng-if="attachment.FilePath != null">{{$index + 1}}. {{attachment.FileName}}</a>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>



                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- bar_bottomlist -->

                            </md-tab>

                        </md-tabs>
                    </div>
                </div>


            </div>
            <div class="cs-loader ag-flex-column ag-align-center ag-justify-center" id="loader" ng-show="personalfamilyloader">
                <div class="lds-css ng-scope">
                    <div style="width:100%;height:100%" class="lds-ripple">
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .box-content {
        min-height: 50px;
        border: solid 1px rgb(203, 203, 203);
        padding: 10px;
        border-radius: 2.5px;
        position: relative;
    }

    .delegation-page td {
        vertical-align: middle !important;
    }

    @media only screen and (min-width: 992px) {
        .fix-min-delegate-date-box {
            min-width: 415px;
        }
    }

    .bar_searchactive {
        margin-top: 0 !important;
    }

    .bar_search {
        height: 5rem;
        margin-top: -5rem;
    }

    md-dialog-content p {
        font-size: 20px;
    }

    .faa-shake.animated {
        -webkit-animation: none !important;
        animation: none !important;
    }
</style>