﻿<div class="TravelExManPage delegation-page personalinformationcontent" ng-controller="PersonalInformationContentController" ng-init="init();">
    <!--Top bar-->
    <!--<div class="in-progress-tb">
        <div class="in-progress-tb-top">
            <label>
                {{Text['APPLICATION'].PA_INFO_GENERAL}}
            </label>
            <div class="clearfix"></div>
        </div>
    </div>-->

    <!-- Body -->
    <div class="row contentBody forheight leaveBlock_detail" aria-hidden="false" style="padding: 20px 10px 10px 10px; ">
        <div class="bar-content">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left bar_left_single_line">
                        <div class="bar_left-title ng-binding">
                            {{Text[Textcategory].PERSONALDATA}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="body_content" style="background:white;">
            <div class="leavetableBlock leavetableBlock_create">
                <div class="row itemlist_block">
                    <div class="item-btn mobile-text-center" style=" margin-bottom: 40px; margin-left: 15px">
                        <a ng-click="CreateNew('601','')">
                            <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                                <span class="icon-doc_plus" aria-hidden="true"></span> {{Text[Textcategory].EDIT}}
                            </div>
                            <md-tooltip md-direction="buttom" class="em-font-17">
                                {{Text[Textcategory].EDIT}}
                            </md-tooltip>
                        </a>
                    </div>

                    <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                        <div class="col-md-12 col-sm-12 col-xs-12 ">

                            <div class="row" ng-show="PAConfiguration['TitleName'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].TITLE}}
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-17">
                                    {{TitleName}}
                                </div>
                            </div>

                            <div class="row" ng-show="PAConfiguration['FirstName'].IsVisible || PAConfiguration['LastName'].IsVisible">
                                <div class="col-sm-3" ng-show="PAConfiguration['FirstName'].IsVisible">
                                    <span class="span_name">
                                        {{Text[Textcategory].FIRSTNAME}}
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-17" ng-show="PAConfiguration['FirstName'].IsVisible">
                                    {{PersonalInformation.PersonalData.FirstName}}
                                </div>

                                <div class="col-sm-3" ng-show="PAConfiguration['LastName'].IsVisible">
                                    <span class="span_name">
                                        {{Text[Textcategory].LASTNAME}}
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-17" ng-show="PAConfiguration['LastName'].IsVisible">
                                    {{PersonalInformation.PersonalData.LastName}}
                                </div>
                            </div>

                            <div class="row" ng-show="PAConfiguration['BirthDate'].IsVisible || PAConfiguration['Gender'].IsVisible">
                                <div class="col-sm-3" ng-show="PAConfiguration['BirthDate'].IsVisible">
                                    <span class="span_name">
                                        {{Text[Textcategory].BIRTHDATE}}
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-17" ng-show="PAConfiguration['BirthDate'].IsVisible">
                                    {{PersonalInformation.PersonalData.DOB | date:"dd/MM/yyyy" }}
                                </div>
                                <div class="col-sm-3" ng-show="PAConfiguration['Gender'].IsVisible">
                                    <span class="span_name">
                                        {{Text[Textcategory].GENDER}}
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-17" ng-show="PAConfiguration['Gender'].IsVisible">
                                    {{GenderName}}
                                </div>
                            </div>

                            <div class="row" ng-show="PAConfiguration['BirthCity'].IsVisible || PAConfiguration['BirthPlace'].IsVisible">
                                <div class="col-sm-3" ng-show="PAConfiguration['BirthCity'].IsVisible">
                                    <span class="span_name">
                                        {{Text[Textcategory].BIRTHCITY}}
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-17" ng-show="PAConfiguration['BirthCity'].IsVisible">
                                    {{CountryName}}
                                </div>

                                <!--<div class="col-sm-3" ng-show="PAConfiguration['BirthPlace'].IsVisible">
                                    <span class="span_name">
                                        {{Text[Textcategory].BIRTHPLACE}}
                                    </span>
                                    </div>
                                    <div class="col-sm-3 breakword-100px em-font-17" ng-show="PAConfiguration['BirthPlace'].IsVisible">
                                        {{ProvinceName}}
                                    </div>-->

                                <div class="col-sm-3">
                                        <span class="span_name">
                                            {{Text[Textcategory].PERSONALID}}
                                        </span>
                                        <br>
                                        <div style="color:red">{{Text[Textcategory].PERSONALID_REMARK}}</div>
                                    </div>
                                    <div class="col-sm-3 breakword-100px em-font-17">
                                        {{IDCardNo}}
                                    </div>

                                </div>

                            <div class="row" ng-show="PAConfiguration['Nationality'].IsVisible || PAConfiguration['Religion'].IsVisible">
                                <div class="col-sm-3" ng-show="PAConfiguration['Nationality'].IsVisible">
                                    <span class="span_name">
                                        {{Text[Textcategory].NATIONALITY}}
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-17" ng-show="PAConfiguration['Nationality'].IsVisible">
                                    {{NationalityName}}
                                </div>
                                <div class="col-sm-3" ng-show="PAConfiguration['Religion'].IsVisible">
                                    <span class="span_name">
                                        {{Text[Textcategory].RELIGION}}
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-17" ng-show="PAConfiguration['Religion'].IsVisible">
                                    {{ReligionName}}
                                </div>
                            </div>

                            <div class="row" ng-show="PAConfiguration['MaritalStatus'].IsVisible || PAConfiguration['Since'].IsVisible">
                                <div class="col-sm-3" ng-show="PAConfiguration['MaritalStatus'].IsVisible">
                                    <span class="span_name">
                                        {{Text[Textcategory].MARITALSTATUS}}
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-17" ng-show="PAConfiguration['MaritalStatus'].IsVisible">
                                    {{MaritalStatusName}} <span ng-if="PersonalInformation.PersonalData.MaritalStatus != 0 && PersonalInformation.PersonalData.MaritalEffectiveDate != '0001-01-01T00:00:00'">( {{PersonalInformation.PersonalData.MaritalEffectiveDate | date:'dd/MM/yyyy'}} )</span>
                                </div>

                                <div class="col-sm-3" ng-show="PAConfiguration['NoOfChild'].IsVisible">
                                    <span class="span_name">
                                        {{Text[Textcategory].NOOFCHILD}}
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-17" ng-show="PAConfiguration['NoOfChild'].IsVisible">
                                    {{PersonalInformation.PersonalData.NoOfChild}}
                                </div>

                                <!--<div class="col-sm-3" ng-show="PAConfiguration['Since'].IsVisible">-->
                                <div class="col-sm-3" ng-show="false">
                                    <span class="span_name">
                                        {{Text[Textcategory].SINCE}}
                                    </span>
                                </div>
                                <!--<div class="col-sm-3 breakword-100px em-font-17" ng-show="PAConfiguration['Since'].IsVisible">-->
                                <div class="col-sm-3 breakword-100px em-font-17" ng-show="false">
                                    {{PersonalInformation.PersonalData.MaritalEffectiveDate | date:"dd/MM/yyyy"}}
                                </div>
                            </div>

                            </div>
                    </div>
                </div>

                <div class="document-attachment">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{Text['SYSTEM']['ATTACHMENT']}}
                        </div>
                        <div class="panel-body document-heading-description" style="word-wrap: break-word;">
                            <div ng-repeat="attachment in FileAttachmentList" style="line-height:30px">
                                <a style="cursor:pointer" ng-click="getFileAttach(attachment.FileSetID, attachment.FileID)" ng-if="attachment.FilePath == null">{{$index + 1}}. {{attachment.FileName}}</a>
                                <a style="cursor:pointer" ng-click="getFileFromPath(attachment)" ng-if="attachment.FilePath != null">{{$index + 1}}. {{attachment.FileName}}</a>
                            </div>
                            <div ng-if="FileAttachmentList.length == 0" style="line-height:30px">
                                {{Text['SYSTEM']['NOATTACHMENT']}}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="cs-loader ag-flex-column ag-align-center ag-justify-center" id="loader" ng-show="personalinfomationloader">
                <!--<div class="cs-loader-inner">
                    <label>	●</label>
                    <label>	●</label>
                    <label>	●</label>
                    <label>	●</label>
                    <label>	●</label>
                    <label>	●</label>
                </div>-->
                <div class="lds-css ng-scope">
                    <div style="width:100%;height:100%" class="lds-ripple"><div></div><div></div></div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .box-content {
        min-height: 50px;
        border: solid 1px rgb(203, 203, 203);
        padding: 10px;
        border-radius: 2.5px;
        position: relative;
    }

    .delegation-page td {
        vertical-align: middle !important;
    }

    @media only screen and (min-width: 992px) {
        .fix-min-delegate-date-box {
            min-width: 415px;
        }
    }

    .bar_searchactive {
        margin-top: 0 !important;
    }

    .bar_search {
        height: 5rem;
        margin-top: -5rem;
    }

    md-dialog-content p {
        font-size: 20px;
    }

    .faa-shake.animated {
        -webkit-animation: none !important;
        animation: none !important;
    }
</style>
