﻿<div class="TravelExManPage delegation-page" ng-controller="PersonalFamilyContentController" ng-init="init();">
    <!--Top bar-->
    <div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{Text['HRPAPERSONALDATA'].FAMILYDATA}}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Body -->
    <div class="row contentBody forheight leaveBlock_detail" aria-hidden="false" style="padding: 20px 10px 10px 10px; ">
        <div class="body_content" style="background:white;">
            <div class="leavetableBlock leavetableBlock_create">
                <div class="row itemlist_block">
                    <div class="item-btn mobile-text-center" style=" margin-bottom: 15px; margin-left: 15px">
                        <a ng-click="CreateNew('604','')">
                            <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                                <span class="icon-doc_plus" aria-hidden="true"></span> {{Text[Textcategory].ADD}}
                            </div>
                            <md-tooltip md-direction="buttom" class="em-font-15">
                                {{Text[Textcategory].ADD}}
                            </md-tooltip>
                        </a>
                    </div>

                    <!-- itemlist_block -->
                    <div class="bar_bottom layout-padding-md">
                        <!-- bar_bottom-expandlist -->
                            <md-tabs class="personal_family_Content" md-stretch-tabs="always" md-swipe-content="false" md-no-pagination="false" md-border-bottom="true" md-dynamic-height="true">
                                <md-tab class="mt-1" label="{{FAMILYMEMBER[member.FamilyMember]}} {{((member.FamilyMember == '2' || member.FamilyMember == '7') && member.ChildNo != '') &&  (member.ChildNo | number:'0') || ''}}" ng-repeat="member in FamilyMemberList">
                                        <div class="body_content" style="background:white;">
                                            <div class="leavetableBlock leavetableBlock_create">
                                                <div class="row itemlist_block">

                                                    <div class="item-btn mobile-text-center" style="text-align:right; margin-bottom: 5px; margin-right: 15px;padding-top:5px;">
                                                        <!--<a ng-click="CreateNewWithReference('604','','', 'EDIT|'+member.FamilyMember+'|'+member.ChildNo)">-->

                                                        <a ng-click="CreateNew('604','EDIT|'+member.FamilyMember+'|'+member.ChildNo)">
                                                            <div class="itemin_btn ng-binding -tab-org" style="min-width: 100px;text-align: center;">
                                                                <span class="icon-doc_pencilp_line" aria-hidden="true"></span> {{Text[Textcategory].EDIT}}
                                                            </div>
                                                            <md-tooltip md-direction="buttom" class="em-font-17">
                                                                {{Text[Textcategory].EDIT}}
                                                            </md-tooltip>
                                                        </a>
                                                        <a ng-click="CreateNew('608','DELETE|'+member.FamilyMember+'|'+member.ChildNo)">
                                                            <div class="itemin_btn ng-binding -tab-red" style="min-width: 100px;text-align: center;">
                                                                <span class="icon-doc_x" aria-hidden="true"></span> {{Text[Textcategory].DELETE}}
                                                            </div>
                                                            <md-tooltip md-direction="buttom" class="em-font-17">
                                                                {{Text[Textcategory].DELETE}}
                                                            </md-tooltip>
                                                        </a>
                                                    </div>

                                                    <div class="ag-flex-row ag-align-center" style="    padding-top: 1rem; padding-bottom: 1rem;">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row" ng-if="PAConfiguration['FamilyMember'].IsVisible">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].FAMILYMEMBER}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px em-font-17">
                                                                    {{FAMILYMEMBER[member.FamilyMember]}}
                                                                </div>
                                                            </div>
                                                            <div class="row" ng-if="PAConfiguration['ChdNo'].IsVisible && member.ChildNo != '' && (member.FamilyMember == '2' || member.FamilyMember == '7')">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].CHILDNO}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px em-font-17">
                                                                    {{member.ChildNo | number:"0"}}
                                                                </div>
                                                            </div>
                                                            <div class="row" ng-if="PAConfiguration['TitleName'].IsVisible">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].TITLENAME}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px em-font-17">
                                                                    {{TITLENAME[member.TitleName]}}
                                                                </div>
                                                            </div>
                                                            <div class="row" ng-if="PAConfiguration['Name'].IsVisible">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].NAME}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px em-font-17">
                                                                    {{member.Name}}
                                                                </div>
                                                            </div>
                                                            <div class="row" ng-if="PAConfiguration['Surname'].IsVisible">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].SURNAME}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px em-font-17">
                                                                    {{member.Surname}}
                                                                </div>
                                                            </div>
                                                            <div class="row" ng-if="PAConfiguration['BirthDate'].IsVisible">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].BIRTHDATE}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px em-font-17">
                                                                    {{(member.BirthDate | date:"dd/MM/yyyy")}}
                                                                </div>
                                                            </div>
                                                            <div class="row" ng-if="PAConfiguration['BirthPlace'].IsVisible">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].BIRTHPLACE}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px em-font-17">
                                                                    {{member.BirthPlace}}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].AGE}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px em-font-17">
                                                                    {{member.Age}}  {{Text[Textcategory].YEAR}}
                                                                </div>
                                                            </div>
                                                            <div class="row" ng-if="PAConfiguration['CountryBirth'].IsVisible">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].COUNTRYBIRTH}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px em-font-17">
                                                                    {{COUNTRY[member.CityOfBirth]}}
                                                                </div>
                                                            </div>
                                                            <div class="row" ng-if="PAConfiguration['Nationality'].IsVisible">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].NATIONALITY}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px em-font-17">
                                                                    {{NATIONALITY[member.Nationality]}}
                                                                </div>
                                                            </div>
                                                            <div class="row" ng-if="PAConfiguration['Dead'].IsVisible">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].DEADSTATUS}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px">
                                                                    <div class="em-font-17" ng-if="member.Dead == ''">{{Text[Textcategory].DEADSTATUS0}}</div>
                                                                    <div class="em-font-17" ng-if="member.Dead == 'X'">{{Text[Textcategory].DEADSTATUS1}}</div>
                                                                </div>
                                                            </div>
                                                            <!--<div class="row" ng-if="PAConfiguration['Dead'].IsVisible" ng-if="member.Dead == 'X'">-->
                                                            <div class="row" ng-if="PAConfiguration['Dead'].IsVisible && member.Dead == 'X'">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].DEADDATE}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px em-font-17">
                                                                    {{(member.BeginDate | date:"dd/MM/yyyy")}}
                                                                </div>
                                                            </div>
                                                            <!--<div class="row" ng-if="PAConfiguration['FatherID'].IsVisible" ng-if="member.FamilyMember == '11'">-->
                                                            <div class="row" ng-if="PAConfiguration['FatherID'].IsVisible && member.FamilyMember == '11'">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].FATHERID}}
                                                                    </span>
                                                                    <br>
                                                                    <div style="color:red">{{Text['HRPAPERSONALDATA'].PERSONALID_REMARK}}</div>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px em-font-17">
                                                                    {{member.FatherID}}
                                                                </div>
                                                            </div>
                                                            <!--<div class="row" ng-if="PAConfiguration['MotherID'].IsVisible" ng-if="member.FamilyMember == '12'">-->
                                                            <div class="row" ng-if="PAConfiguration['MotherID'].IsVisible && member.FamilyMember == '12'">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].MOTHERID}}
                                                                    </span>
                                                                    <br>
                                                                    <div style="color:red">{{Text['HRPAPERSONALDATA'].PERSONALID_REMARK}}</div>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px em-font-17">
                                                                    {{member.MotherID}}
                                                                </div>
                                                            </div>
                                                            <!--<div class="row" ng-if="PAConfiguration['SpouseID'].IsVisible" ng-if="member.FamilyMember == '1'">-->
                                                            <div class="row" ng-if="PAConfiguration['SpouseID'].IsVisible && member.FamilyMember == '1'">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].SPOUSEID}}
                                                                    </span>
                                                                    <br>
                                                                    <div style="color:red">{{Text['HRPAPERSONALDATA'].PERSONALID_REMARK}}</div>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px em-font-17">
                                                                    {{member.SpouseID}}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].FamAddress}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px em-font-17">
                                                                    {{member.Address}}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].FamStreet}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px em-font-17">
                                                                    {{member.Street}}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].FamDistrict}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px em-font-17">
                                                                    {{member.District}}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].FamCity}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px em-font-17">
                                                                    {{member.City}}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].FamPostcode}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px em-font-17">
                                                                    {{member.Postcode}}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].FamCountry}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px em-font-17">
                                                                    {{COUNTRY[member.Country]}}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <span class="span_name">
                                                                        {{Text[Textcategory].FamTelNo}}
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-7 breakword-100px em-font-17">
                                                                    {{member.TelephoneNo}}
                                                                </div>
                                                            </div>
                                                            <div class="row" ng-if="DictFileAttachmentList[member.FamilyMember+member.ChildNo].length > 0">
                                                                <div class="document-attachment">
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-heading">
                                                                            {{Text['SYSTEM']['ATTACHMENT']}}
                                                                        </div>
                                                                        <div class="panel-body document-heading-description" style="word-wrap: break-word;">
                                                                            <div ng-repeat="attachment in DictFileAttachmentList[member.FamilyMember+member.ChildNo]" style="line-height:30px">
                                                                                <a style="cursor:pointer" ng-click="getFileAttach(attachment.FileSetID, attachment.FileID)" ng-if="attachment.FilePath == null">{{$index + 1}}. {{attachment.FileName}}</a>
                                                                                <a style="cursor:pointer" ng-click="getFileFromPath(attachment)" ng-if="attachment.FilePath != null">{{$index + 1}}. {{attachment.FileName}}</a>
                                                                            </div>
                                                                            <div class="clearfix"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- bar_bottomlist -->
                                        </div>
                                    </md-tab>

</md-tabs>


                    </div>


                </div>
            <div class="cs-loader ag-flex-column ag-align-center ag-justify-center" id="loader" ng-show="personalfamilyloader">
                <!--<div class="cs-loader-inner">
                    <label>	●</label>
                    <label>	●</label>
                    <label>	●</label>
                    <label>	●</label>
                    <label>	●</label>
                    <label>	●</label>
                </div>-->
                <div class="lds-css ng-scope">
                    <div style="width:100%;height:100%" class="lds-ripple"><div></div><div></div></div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .box-content {
        min-height: 50px;
        border: solid 1px rgb(203, 203, 203);
        padding: 10px;
        border-radius: 2.5px;
        position: relative;
    }

    .delegation-page td {
        vertical-align: middle !important;
    }

    @media only screen and (min-width: 992px) {
        .fix-min-delegate-date-box {
            min-width: 415px;
        }
    }

    .bar_searchactive {
        margin-top: 0 !important;
    }

    .bar_search {
        height: 5rem;
        margin-top: -5rem;
    }

    md-dialog-content p {
        font-size: 20px;
    }

    .faa-shake.animated {
        -webkit-animation: none !important;
        animation: none !important;
    }
</style>
