﻿<div class="row navProfileCenter" ng-controller="PersonalDriverLicenseController">

    <script type="text/ng-template" id="DriverLicenseError.ng-popup.html">
        <div class="modal-body alert1">
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="text-center font-18">
                        <svg xmlns="http://www.w3.org/2000/svg" width="57" height="57" viewBox="0 0 57 57">
                            <rect style="fill: #ed2f2f;opacity:0;" width="57" height="57" />
                            <path style="fill: #ed2f2f;" d="M25.75,2A23.75,23.75,0,1,0,49.5,25.75,23.75,23.75,0,0,0,25.75,2Zm0,42.75a19,19,0,1,1,19-19A19,19,0,0,1,25.75,44.75Z" transform="translate(2.75 2.75)" />
                            <path style="fill: #ed2f2f;" d="M22.569,9.7a2.375,2.375,0,0,0-3.373,0l-3.064,3.088L13.069,9.7A2.385,2.385,0,0,0,9.7,13.069l3.087,3.064L9.7,19.2a2.385,2.385,0,1,0,3.372,3.373l3.064-3.088L19.2,22.569A2.385,2.385,0,1,0,22.569,19.2l-3.088-3.064,3.088-3.064a2.375,2.375,0,0,0,0-3.372Z" transform="translate(12.367 12.367)" />
                        </svg>
                    </div>
                    <div class="text-center font-18">
                        ผู้ใช้งานไม่มีใบขับขี่อยู่ในระบบ
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer padding-t-none">
            <a class="m-btn-co btn-s-md" ng-click="closeModal()">
                <span class="">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ปิด&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </a>
        </div>
    </script>

    <div class="col-xs-12 p-0">
        <div class="row">
            <div class="ProfileBlock">

                <div class="BGProfileBlock" style="background-color:#00ADEE;">
                </div>
                <div class="profile_img" style=" width: 170px; height: 170px; background: #9fc3ff;">
                    <div style="position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; text-align: center; padding-top: 4px; " class="-img_circle -center-y">
                        <i class="fa fa-user" style=" color: #4274e0; font-size: 180px;" aria-hidden="true"></i>
                    </div>
                    <div style=" position: absolute; left: 0; top: 0; z-index: 2; width: 100%; height: 100%;">
                        <img style=" position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; " class="-img_circle -center-y profile-img" src="{{getImageProxy(profile.ImageUrl)}}" onerror="this.style.display='none'" onload="this.style.display = 'inherit'">
                    </div>
                </div>

                <p class="profile-name " style="margin-top: 5px;">{{ profile.Name }}</p>

                <div class="expandDetail_02" style="margin: auto; max-width: 700px;">
                    <ul class="itemlist_table-res -resultblue">
                        <li>
                            <p class="exman-res_titletable" style="text-align: right; padding-right: 10px; ">{{Text['SYSTEM'].COMPANY}} : </p>
                            <p class="exman-res_detailtable em-font-15" ng-show="profile.Language == 'TH'" style=" text-align: left; color: #787878;">{{ profile.CompanyDetail.FullNameTH }}</p>
                            <p class="exman-res_detailtable em-font-15" ng-show="profile.Language == 'EN'" style=" text-align: left; color: #787878;">{{ profile.CompanyDetail.FullNameEN }}</p>
                        </li>
                        <li>
                            <p class="exman-res_titletable" style="text-align: right; padding-right: 10px; ">{{Text['DRIVERLICENSE'].LICENSE_ID}} : </p>
                            <p class="exman-res_detailtable em-font-15" style=" text-align: left; color: #787878;">
                                <span ng-if="model.ItemID > 0">{{model.LicenseID}}</span>
                                <span ng-if="model.ItemID <= 0"> - </span>
                            </p>
                        </li>
                        <li>
                            <p class="exman-res_titletable" style="text-align: right; padding-right: 10px; ">{{Text['DRIVERLICENSE'].EffectiveDate}} : </p>
                            <p class="exman-res_detailtable em-font-15" style=" text-align: left; color: #787878;">
                                <span ng-if="model.ItemID > 0">{{model.EffectiveDate | date:'d/M/yyyy'}}</span>
                                <span ng-if="model.ItemID <= 0"> - </span>
                            </p>
                        </li>
                        <li>
                            <p class="exman-res_titletable" style="text-align: right; padding-right: 10px; ">{{Text['DRIVERLICENSE'].ExpireDate}} : </p>
                            <p class="exman-res_detailtable em-font-15" ng-show="profile.Language == 'TH'" style=" text-align: left; color: #787878;">
                                <span ng-if="model.ItemID > 0">{{model.ExpireDate | date:'d/M/yyyy'}}</span>
                                <span ng-if="model.ItemID <= 0"> - </span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
     
</div>


<style>

    input.form-control.ui-select-search.ng-pristine {
        height: 24px;
    }

    .exman-res_titletable, .exman-res_detailtable {
        font-size: 19px;
    }

    .exman-res_detailtable {
        margin-top: 7px !important;
    }
</style>