﻿<div class="TravelExManPage delegation-page personalaccountcontent" ng-controller="PersonalAccountContentController" ng-init="init();">
    <!--Top bar-->
    <!--<div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{Text['APPLICATION'].PA_INFO_ACCOUNT}}</div>
                </div>
            </div>
        </div>
    </div>-->

    <!-- Body -->
    <div class="row contentBody forheight leaveBlock_detail" aria-hidden="false" style="padding: 20px 0 ">
        <div class="bar-content">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left bar_left_single_line">
                        <div class="bar_left-title ng-binding">
                            {{Text['HRPAPERSONALDATA'].BANKDETAIL}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="body_content" style="background:white;">
            <div class="leavetableBlock leavetableBlock_create">
                <div class="row itemlist_block">
                    <div class="ag-flex-row ag-align-center" style="    padding-top: 1rem; padding-bottom: 1rem;">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-2 col-md-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].BANKPAYEE}} : 
                                    </span>
                                </div>
                                <div class="col-lg-10 col-md-9 breakword-100px em-font-15">
                                    {{BankDetail.AccountName}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-3 ">
                                    <span class="span_name">
                                        {{Text[Textcategory].BANKKEY}} : 
                                    </span>
                                </div>
                                <div class="col-lg-10 col-md-9 breakword-100px em-font-15">
                                    {{BankName}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-3 ">
                                    <span class="span_name">
                                        {{Text[Textcategory].BANKACCOUNT}} : 
                                    </span>
                                </div>
                                <div class="col-lg-10 col-md-9 breakword-100px em-font-15">
                                    {{BankDetail.AccountNo}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="cs-loader ag-flex-column ag-align-center ag-justify-center" id="loader" ng-show="personalaccountloader">
                <div class="lds-css ng-scope">
                    <div style="width:100%;height:100%" class="lds-ripple"><div></div><div></div></div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .box-content {
        min-height: 50px;
        border: solid 1px rgb(203, 203, 203);
        padding: 10px;
        border-radius: 2.5px;
        position: relative;
    }

    .delegation-page td {
        vertical-align: middle !important;
    }

    @media only screen and (min-width: 992px) {
        .fix-min-delegate-date-box {
            min-width: 415px;
        }
    }

    .bar_searchactive {
        margin-top: 0 !important;
    }

    .bar_search {
        height: 5rem;
        margin-top: -5rem;
    }

    md-dialog-content p {
        font-size: 20px;
    }

    .faa-shake.animated {
        -webkit-animation: none !important;
        animation: none !important;
    }
</style>
