﻿<div class="TravelExManPage delegation-page" ng-controller="CreatePINCodeSettingController" ng-init="init();">
    <div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{Text['PAYSLIPDATA']['NEWPINREQUEST']}}</div>
                </div>
            </div>
        </div>
    </div>


    <div class="body_content" style="margin-bottom:0px;">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" style="overflow-x:hidden; padding-bottom:4rem;">
            <div class="-pad10"></div>
            <div class="body_content">
                <div class="bar_bottom layout-padding-md">
                    <div class="body_content" style="background:white;overflow-y: auto;">
                        <div class="leavetableBlock leavetableBlock_create">

                            <div class="item-btn mobile-text-center" ng-show="isValidateTicket">
                                <div class="form-group" ng-if="MsgValidate!=''">
                                    <label>{{MsgValidate}}</label>
                                </div>
                                <div class="form-group" ng-if="MsgChange!=''">
                                    <label>{{MsgChange}}</label>
                                </div>
                                <div class="form-group" ng-hide="MsgChange!=''">
                                    <label style="width:150px;">{{Text['PAYSLIPDATA']['NEWPASSWORD']}} :</label>
                                    <input type="password" maxlength="20" style="width:150px;" ng-model="SetNewPinCode">
                                </div>
                                <div class="form-group" ng-hide="MsgChange!=''">
                                    <label style="width:150px;">{{Text['PAYSLIPDATA']['CONFIRMPASSWORD']}} :</label>
                                    <input type="password" maxlength="20" style="width:150px;" ng-model="ConfirmSetNewPinCode">
                                </div>
                                <a ng-click="onCreatePinCode()" ng-hide="MsgChange!=''">
                                    <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                                        <i class="fas fa-save"></i> {{Text['PAYSLIPDATA']['CREATE']}}
                                    </div>
                                </a>
                            </div>
                            <div class="item-btn mobile-text-center" ng-hide="isValidateTicket">
                                <div class="form-group">
                                    <label>{{Text['PAYSLIPDATA']['TICKETINVALID']}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

