﻿<div class="TravelExManPage delegation-page" ng-controller="LetterPrintContentController" ng-init="init();">



    <!-- After -->
    <div class="row margin-b10">
        <div class="col-sm-10 lr-0">
            <div class="title-top-page">{{Text['APPLICATION']['LETTERPRINT']}}</div>
        </div>
    </div>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['APPLICATION']['LETTERPRINT']}}
            </div>
        </div>
        <div class="ayodia-body-content">


            <div class="row" ng-hide="isHideMultiCompany">
                <div class="col-sm-12">
                    <div class="clearfix margin-b20">
                        <div class="filter-items-l clearfix">
                            <div class="f-item">
                                <label>{{Text['SYSTEM']['COMPANY']}} :</label>
                                <select class="form-control w240px-desktop" ng-model="ddlCompany" ng-change="changeCompany(ddlCompany)">
                                    <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="clearfix margin-b20">
                        <div class="filter-items-l clearfix">
                            <div class="f-item">
                                <label>เลือกดูจาก : </label>
                                <select class="form-control w240px-desktop" ng-model="ddlPeriod" ng-change="GetLetterListByPeriod()">
                                    <option value="{{item.PeriodValue}}" ng-repeat="item in ListPeriod">{{item.PeriodText}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row show-pc">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center" width="12%">{{Text['SYSTEM'].REQUESTNO}}</th>
                            <th class="text-center" width="15%">{{Text['HRLE'].LETTERTYPE}}</th>
                            <th class="text-center" width="11%">{{Text['HRLE'].REASON}}</th>
                            <th class="text-center" width="11%">{{Text['HRLE'].REQUESTDATE}}</th>
                            <th class="text-center" width="10%">{{Text['HRLE'].REQUESTER}}</th>
                            <th class="text-center" width="7%">{{Text['HRLE'].STATUS}}</th>
                            <th class="text-center" width="12%">{{Text['HRLE'].ISSUEDATE}}</th>
                            <th class="text-center" width="9%">{{Text['HRLE'].PRINTCOUNT}}</th>
                            <th class="text-center" width="8%">{{Text['HRLE'].VIEW}}</th>
                            <th class="text-center" width="5%">{{Text['HRLE'].PRINT}}</th>
                        </tr>
                        <tr class="t-body" ng-show="LetterList.length > 0" ng-repeat="Item in LetterList">
                            <td class="text-center">{{Item.requestNo}}</td>
                            <td class="text-center">{{TextLetterType[Item.letterTypeID]}}</td>
                            <td class="">{{Item.reason}}</td>
                            <td class="text-center">
                                {{Item.createdDate | date:'d/M/yyyy'}}
                            </td>
                            <td class="text-center">{{Item.employeeName}}</td>
                            <td class="text-center">
                                <div class="m-btn-green btn-s-sm text-center m-auto" ng-if="Item.status == 'COMPLETED'">
                                    <span class="">COMPLETED</span>
                                </div>
                                <div class="m-btn-red btn-s-sm text-center m-auto" ng-if="Item.status == 'CANCELLED'">
                                    <span class="">CANCELLED</span>
                                </div>

                                <div class="m-btn-blue btn-s-sm text-center m-auto" ng-if="Item.status == 'DRAFT'">
                                    <span class="">DRAFT</span>
                                </div>
                            </td>
                            <td class="text-center">{{Item.updateTime | date:'d/M/yyyy'}}</td>
                            <td class="text-center">{{Item.printingCount}}</td>
                            <td class="text-center">
                                <a ng-click="ViewLetter(Item.requestNo)">
                                    <i class="fa fa-search" style="font-size:18px"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <a ng-if="Item.status == 'COMPLETED'" ng-click="PrintLetter(Item.employeeID + '|' + Item.requestNo,'WORD')">
                                    <span><i class="fa fa-file-word-o" style="font-size:18px; color:blue;"></i></span>
                                </a>
                                &nbsp;
                                <a ng-if="Item.status == 'COMPLETED'" ng-click="PrintLetter(Item.employeeID + '|' + Item.requestNo,'PDF')">
                                    <span><i class="fa fa-file-pdf-o" style="font-size:18px; color:red;"></i></span>
                                </a>
                                &nbsp;
                                <a ng-if="Item.status == 'COMPLETED'" ng-click="PrintLetter(Item.employeeID + '|' + Item.requestNo,'EXCEL')">
                                    <span><i class="fa fa-file-excel-o" style="font-size:18px; color:green;"></i></span>
                                </a>
                            </td>
                        </tr>
                        <tr ng-show="LetterList.length == 0">
                            <td colspan="9" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row show-tablet">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th>{{Text['SYSTEM'].REQUESTNO}}</th>
                            <th>{{Text['HRLE'].STATUS}}</th>
                            <th></th>
                        </tr>
                        <tr class="t-body" ng-show="LetterList.length > 0" ng-repeat="Item in LetterList">
                            <td style="vertical-align:top">
                                <p class="text-t-1">{{Item.requestNo}}</p>
                                <p class="text-t-2">{{TextLetterType[Item.letterTypeID]}}</p>
                                <p class="text-t-3">{{Item.reason}}</p>
                                <p class="text-t-4">{{Item.createdDate | date:"dd/MM/yyyy"}}</p>
                            </td>
                            <td class="text-center" style="vertical-align:top">
                                <div class="m-btn-green btn-s-sm text-center m-auto" ng-if="Item.status == 'COMPLETED'">
                                    <span class="">COMPLETED</span>
                                </div>

                                <div class="m-btn-red btn-s-sm text-center m-auto" ng-if="Item.status == 'CANCELLED'">
                                    <span class="">CANCELLED</span>
                                </div>

                                <div class="m-btn-blue btn-s-sm text-center m-auto" ng-if="Item.status == 'DRAFT'">
                                    <span class="">DRAFT</span>
                                </div>
                            </td>
                            <td class="text-center" style="vertical-align:top">
                                <a ng-click="ViewLetter(Item.requestNo)"><i class="fa fa-search"></i></a>
                                <a ng-if="Item.status == 'COMPLETED'" ng-click="PrintLetter(Item.employeeID + '|' + Item.requestNo,'PDF')">
                                    <i class="fa fa-print"></i>
                                </a>
                            </td>
                        </tr>
                        <tr class="t-body" ng-show="LetterList.length <= 0">
                            <td colspan="3" style="text-align:center;">
                                <span style="font-weight:bold;color:red;">{{ Text['SYSTEM']['NO_DATA'] }}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!--<pre>{{LetterList |json}}</pre>-->
    <!-- before -->
    <!--<div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{Text['APPLICATION']['LETTERPRINT']}}</div>
                </div>
            </div>
        </div>
    </div>-->
    <!--<div class="body_content" style="margin-bottom:0px;">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" style="overflow-x:hidden; padding-bottom:4rem;">
            <div class="-pad10"></div>
            <div class="body_content">
                <div class="bar_bottom layout-padding-md">
                    <div class="body_content" style="background:white;min-height: 100vh;overflow-y: auto;">
                        <div class="leavetableBlock leavetableBlock_create">
                            <div class="search-years">
                                <div class="col-xs-3">

                                </div>
                                <div class="col-xs-9">
                                    <select class="form-control" ng-model="ddlPeriod" ng-change="GetLetterListByPeriod()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 150px; font-size: 15px; cursor: pointer; margin: 0px;">
                                        <option value="{{item.PeriodValue}}" ng-repeat="item in ListPeriod">{{item.PeriodText}}</option>
                                    </select>
                                </div>
                                <div style="padding: 25px;"></div>
                            </div>
                            <div class="item-btn mobile-text-center">
                            </div>
                            <br>
                            <div class="item-btn mobile-text-center" ng-if="LetterList.length > 0">

                            </div>

                            <div class="row itemlist_block">
                                <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                    <div class="row itemlist">
                                        <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                            <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                <thead>
                                                    <tr style="vertical-align:middle; text-align:center;">
                                                        <td>{{Text['SYSTEM'].REQUESTNO}}</td>
                                                        <td>{{Text['HRLE'].LETTERTYPE}}</td>
                                                        <td>{{Text['HRLE'].REASON}}</td>
                                                        <td>{{Text['HRLE'].REQUESTDATE}}</td>
                                                        <td>{{Text['HRLE'].REQUESTER}}</td>
                                                        <td>{{Text['HRLE'].STATUS}}</td>
                                                        <td>{{Text['HRLE'].ISSUEDATE}}</td>
                                                        <td>{{Text['HRLE'].PRINTCOUNT}}</td>
                                                        <td>{{Text['HRLE'].PRINT}}</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="Item in LetterList" ng-show="LetterList.length > 0">
                                                        <td style="vertical-align:middle;"><div style="text-align:center">{{Item.requestNo}}</div></td>
                                                        <td style="vertical-align:middle;"><div style="text-align:center">{{TextLetterType[Item.letterTypeID]}}</div></td>
                                                        <td style="vertical-align:middle;"><div style="text-align:center">{{Item.reason}}</div></td>
                                                        <td style="vertical-align:middle;"><div style="text-align:center">{{Item.createdDate | date:"dd/MM/yyyy"}}</div></td>
                                                        <td style="vertical-align:middle;"><div style="text-align:center">{{Item.employeeName}}</div></td>
                                                        <td style="vertical-align:middle;"><div style="text-align:center">{{Item.status}}</div></td>
                                                        <td style="vertical-align:middle;"><div style="text-align:center">{{Item.updateTime}}</div></td>
                                                        <td style="vertical-align:middle;"><div style="text-align:center">{{Item.printingCount}}</div></td>
                                                        <td style="vertical-align:middle;">
                                                            <div ng-if="Item.status == 'COMPLETED'" style="text-align:center">
                                                                <i class="fas fa-print" ng-click="PrintLetter(Item.employeeID + '|' + Item.requestNo,'PDF')"></i>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr ng-show="LetterList.length == 0">
                                                        <td colspan="4" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>




