﻿<div class="TravelExManPage delegation-page" ng-controller="PaySlipPeriodSettingController" ng-init="init();">

    <!--<div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{Text['PAYSLIPDATA']['PAYSLIPPERIODSETTING']}}</div>
                </div>
            </div>
        </div>
    </div>-->
    <!--<div class="body_content" style="margin-bottom:0px;">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" style="overflow-x:hidden; padding-bottom:4rem;">
            <div class="-pad10"></div>
            <div class="body_content">
                <div class="bar_bottom layout-padding-md">
                    <div class="body_content" style="background:white;min-height: 100vh;overflow-y: auto;">
                        <div class="leavetableBlock leavetableBlock_create">
                            <div class="search-years">
                                <div class="col-xs-3">
                                    <span style="font-weight: 600;">{{Text['PAYSLIPDATA']['YEAR']}}</span>
                                </div>
                                <div class="col-xs-9">
                                    <select class="form-control" ng-model="ddlYear" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 120px; font-size: 15px; cursor: pointer; margin: 0px;">
                                        <option value="{{item}}" ng-repeat="item in YearsList">{{item}}</option>
                                    </select>
                                </div>
                                <div style="padding: 25px;"></div>
                            </div>
                            <div class="row itemlist_block">
                                <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                    <div class="row itemlist">
                                        <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                            <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                <thead>
                                                    <tr style="vertical-align:middle; text-align:center;">
                                                        <td>{{Text['PAYSLIPDATA']['MONTH']}}</td>
                                                        <td>{{Text['PAYSLIPDATA']['ACTIVE']}}</td>
                                                        <td>{{Text['PAYSLIPDATA']['EFFECTIVEDATE']}}</td>
                                                        <td>{{Text['PAYSLIPDATA']['DRAFT']}}</td>
                                                        <td>{{Text['PAYSLIPDATA']['ISOFFCYCLE']}}</td>
                                                        <td>{{Text['PAYSLIPDATA']['OFFCYCLEDATE']}}</td>
                                                        <td><span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="addNew()"></span></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="Item in PayslipPeriodSetting | filter:{ periodYear : ddlYear } | orderBy : ['periodYear','periodMonth'] : false" ng-show="PayslipPeriodSetting.length > 0">
                                                        <td style="vertical-align:middle;">
                                                            <select ng-model="Item.periodMonth"
                                                                    ng-init="Item.periodMonth = ListMonth[getIndex(Item.periodMonth)].MonthID"
                                                                    ng-options="list.MonthID as list.MonthName for list in ListMonth"></select>
                                                        </td>


                                                        <td style="vertical-align:middle;"><input type="checkbox" ng-model="Item.active"></td>

                                                        <td style="vertical-align:middle;">
                                                            <div class="datepicker-height-set" style="width: 135px;">
                                                                <datepicker date-format="d/M/yyyy" date-set="{{Item.effectiveDate}}" data-id="{{Item.periodID}}" callback-on-change="setSelected(newDate,'effectiveDate', Item.periodID)">
                                                                    <input name="DOB" class="form-control clickable datepicker" type="text" required />
                                                                </datepicker>
                                                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:99;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                                            </div>
                                                        </td>


                                                        <td style="vertical-align:middle;"><input type="checkbox" ng-model="Item.isDraft"></td>
                                                        <td style="vertical-align:middle;"><input type="checkbox" ng-model="Item.isOffCycle"></td>
                                                        <td style="vertical-align:middle;">
                                                            <div class="datepicker-height-set" style="width: 135px;" ng-if="Item.isOffCycle">
                                                                <datepicker date-format="d/M/yyyy" date-set="{{Item.offCycleDate}}" data-id="{{Item.periodID}}" callback-on-change="setSelected(newDate,'offCycleDate', Item.periodID)">
                                                                    <input name="DOB" class="form-control clickable datepicker" type="text" required />
                                                                </datepicker>
                                                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:99;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: center !important;line-height: 2;" ng-click="remove(Item.periodID)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-if="MsgSave!=''">
                                <label>{{MsgSave}}</label>
                            </div>
                            <div class="item-btn mobile-text-center">
                                <a ng-click="onSaveSetting()">
                                    <div class="itemin_btn ng-binding">
                                        <i class="fas fa-save"></i> {{ Text['SYSTEM']['SAVE'] }}
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!--<div class="row top-to-menu show-tablet">
        <div class="col-sm-12 lr-0">
            <div class=" clearfix">
                <div class="filter-items-r pull-right">
                    <a class="m-btn-green2 btn-s-md" style="width:90px;" ng-click="addNew()">
                        <span class="">
                            {{ Text['SYSTEM']['SAVE'] }}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>-->

    <!--<div class="row margin-b10">
        <div class="col-sm-10 lr-0">
            <div class="title-top-page">{{Text['PAYSLIPDATA']['PAYSLIPPERIODSETTING']}}</div>
        </div>
    </div>-->

    <div class="row margin-b10">
        <div class="col-sm-10">
            <h1>{{Text['PAYSLIPDATA']['PAYSLIPPERIODSETTING']}}</h1>
        </div>
        <div class="col-sm-2">
            <a class="m-btn-c2 btn-s-md text-center" style="margin-top:10px;" ng-click="back()">
                <span>
                    {{Text['SYSTEM']['BACK']}}
                </span>
            </a>
        </div>
    </div>

    <div class="content-by-ayodia margin-b20 " style="min-height:750px;">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['PAYSLIPDATA']['PAYSLIPPERIODSETTING']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row show-pc">
                <div class="col-sm-12" ng-hide="isHideMultiCompany">
                    <div class="clearfix margin-b20">
                        <div class="filter-items-l clearfix">
                            <div class="f-item">
                                <label>{{Text['SYSTEM']['COMPANY']}} :</label>
                                <select class="form-control w100px-desktop" ng-model="ddlCompany" ng-change="changeCompany(ddlCompany)">
                                    <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="clearfix margin-b20">
                        <div class="filter-items-l clearfix">
                            <div class="f-item">
                                <label>{{Text['PAYSLIPDATA']['YEAR']}} :</label>
                                <select class="form-control w100px-desktop" ng-model="ddlYear">
                                    <option value="{{item}}" ng-repeat="item in YearsList">{{item}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-items-r clearfix">
                            <a class="m-btn-c2 btn-s-md" ng-click="onSaveSetting()">
                                <span class="">
                                    <i class="fas fa-save"></i>&nbsp;&nbsp;{{ Text['SYSTEM']['SAVE'] }}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="show-tablet">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="filter-export-box clearfix margin-b20">
                            <div class="filter-items-l clearfix">
                                <div class="f-item" ng-hide="isHideMultiCompany">
                                    <label>{{Text['SYSTEM']['COMPANY']}} :</label>
                                    <select class="form-control w100px-desktop" ng-model="ddlCompany" ng-change="changeCompany(ddlCompany)">
                                        <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                                    </select>
                                </div>
                                <div class="f-item">
                                    <label>{{Text['PAYSLIPDATA']['YEAR']}} :</label>
                                    <select class="form-control w100px-desktop" ng-model="ddlYear">
                                        <option value="{{item}}" ng-repeat="item in YearsList">{{item}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row show-pc">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th style="text-align:center;">{{Text['PAYSLIPDATA']['MONTH']}}</th>
                            <th style="text-align:center;">{{Text['PAYSLIPDATA']['ACTIVE']}}</th>
                            <th style="text-align:center;">{{Text['PAYSLIPDATA']['EFFECTIVEDATE']}}</th>
                            <th style="text-align:center;">{{Text['PAYSLIPDATA']['DRAFT']}}</th>
                            <th style="text-align:center;">{{Text['PAYSLIPDATA']['ISOFFCYCLE']}}</th>
                            <th style="text-align:center;">{{Text['PAYSLIPDATA']['OFFCYCLEDATE']}}</th>
                            <th style="text-align:center;">{{Text['PAYSLIPDATA']['AssessmentResults']}}</th>
                            <th style="text-align:center;"></th>
                        </tr>
                        <tr ng-repeat="Item in PayslipPeriodSetting | filter:{ periodYear : ddlYear } | orderBy : ['periodYear','periodMonth'] : false" ng-show="PayslipPeriodSetting.length > 0">
                            <td>
                                <select class="form-control margin-t10"
                                        ng-change="changeM(Item);"
                                        ng-model="Item.periodMonth"
                                        ng-options="list.MonthID as list.MonthName for list in ListMonth"></select>
                            </td>
                            <td class="text-center">
                                <input type="checkbox" ng-model="Item.active">
                            </td>

                            <td class="text-center">
                                <div class="datepicker-height-set margin-t10">
                                    <datepicker date-format="d/M/yyyy" date-set="{{Item.effectiveDate}}" data-id="{{Item.periodID}}" callback-on-change="setSelected(newDate,'effectiveDate', Item.periodID)">
                                        <input name="DOB" class="form-control clickable datepicker" type="text" required />
                                    </datepicker>
                                    <i class="icon-calendar ico_datestart -txt-blue" style="z-index:99;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                </div>
                            </td>
                            <td class="text-center"><input type="checkbox" ng-model="Item.isDraft"></td>
                            <td class="text-center"><input type="checkbox" ng-model="Item.isOffCycle"></td>
                            <!--<td class="text-center"><input type="checkbox" ng-model="Item.isOffCycle" ng-click="changeOffCycle(Item);"></td>-->
                            <td class="text-center">
                                <div class="datepicker-height-set margin-t10" ng-if="Item.isOffCycle">
                                    <datepicker date-format="d/M/yyyy" date-set="{{Item.offCycleDate}}" data-id="{{Item.periodID}}" callback-on-change="setSelected(newDate,'offCycleDate', Item.periodID)">
                                        <input name="DOB" class="form-control clickable datepicker" type="text" required />
                                    </datepicker>
                                    <i class="icon-calendar ico_datestart -txt-blue" style="z-index:5;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                </div>
                            </td>
                            <td class="text-center">
                                <input type="checkbox" name="IsEvaluationHistory" ng-model="Item.IsEvaluationHistory" ng-click="recheckData(Item.periodID,Item.IsEvaluationHistory,Item.periodYear)" />
                            </td>
                            <td style="text-align: center !important;line-height: 2;" ng-click="remove(Item.periodID)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--<pre>{{PayslipPeriodSetting | json}}</pre>-->
            <div class="row show-tablet">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th style="text-align:center;width:60px;"> <!--<input type="checkbox" ng-model="active">--></th>
                            <th style="text-align:center;">{{Text['PAYSLIPDATA']['MONTH']}}</th>
                            <th style="text-align:center;width:60px;"></th>
                            <th style="text-align:center;width:30px;"></th>
                        </tr>
                        <tbody class="t-body-title" ng-init="item.open = false" ng-repeat="item in PayslipPeriodSetting | filter:{ periodYear : ddlYear } | orderBy : ['periodYear','periodMonth'] : false" ng-show="PayslipPeriodSetting.length > 0">
                            <tr>
                                <td class="text-center">
                                    <input type="checkbox" ng-model="item.active">
                                </td>
                                <td>
                                    <select class="form-control"
                                            ng-model="item.periodMonth"
                                            ng-options="list.MonthID as list.MonthName for list in ListMonth"></select>
                                </td>
                                <td style="text-align: center !important;line-height: 2;" ng-click="remove(item.periodID)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </td>
                                <td class="font-16 text-center ">
                                    <i class="fa fa-angle-down" ng-show="item.open == false" ng-click="item.open = true"></i>
                                    <i class="fa fa-angle-up" ng-show="item.open == true" ng-click="item.open = false"></i>
                                </td>
                            </tr>
                            <tr ng-if="item.open == true">
                                <td colspan="4">
                                    <div class="row lr-0">
                                        <div class="col-xs-6 lr-0" style="padding:10px 0px 0px 20px!important">
                                            {{Text['PAYSLIPDATA']['EFFECTIVEDATE']}}
                                        </div>
                                        <div class="col-xs-6 lr-0">
                                            <div class="datepicker-height-set">
                                                <datepicker date-format="d/M/yyyy" class="r-0" date-set="{{item.effectiveDate}}" data-id="{{item.periodID}}" callback-on-change="setSelected(newDate,'effectiveDate', item.periodID)">
                                                    <input name="DOB" class="form-control clickable datepicker" type="text" required />
                                                </datepicker>
                                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:5;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row lr-0" style="padding:10px 0px 0px 20px!important">
                                        <div class="col-xs-6 lr-0">
                                            {{Text['PAYSLIPDATA']['DRAFT']}}
                                        </div>
                                        <div class="col-xs-6 lr-0">
                                            <!--<input type="checkbox" ng-model="item.isDraft" ng-click="changeOffCycle(item);">-->
                                            <input type="checkbox" ng-model="item.isDraft">
                                        </div>
                                    </div>
                                    <div class="row lr-0" style="padding:10px 0px 0px 20px!important">
                                        <div class="col-xs-6 lr-0">
                                            {{Text['PAYSLIPDATA']['ISOFFCYCLE']}}
                                        </div>
                                        <div class="col-xs-6 lr-0">
                                            <input type="checkbox" ng-model="item.isOffCycle">
                                        </div>
                                    </div>
                                    <div class="row lr-0" ng-if="item.isOffCycle" style="padding:10px 0px 0px 20px!important">
                                        <div class="col-xs-6 lr-0" style="padding: 10px 0px 0px;">
                                            {{Text['PAYSLIPDATA']['OFFCYCLEDATE']}}
                                        </div>
                                        <div class="col-xs-6 lr-0">
                                            <div class="datepicker-height-set">
                                                <datepicker date-format="d/M/yyyy" class="r-0" date-set="{{item.offCycleDate}}" data-id="{{item.periodID}}" callback-on-change="setSelected(newDate,'offCycleDate', item.periodID)">
                                                    <input name="DOB" class="form-control clickable datepicker" type="text" required />
                                                </datepicker>
                                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:5;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class=" clearfix margin-t10">
                        <div class="filter-items-r pull-right">
                            <a class="m-btn-c2 btn-s-md" style="width:150px;" ng-click="addNew()">
                                <span class="">
                                    <i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;&nbsp;{{Text['SYSTEM']['ADD']}}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<pre>{{PayslipPeriodSetting|json}}</pre>-->
</div>
<script type="text/ng-template" id="completeModalPincode.ng-popup.html">
    <div class="modal-body alert1">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <div class="text-center font-18 margin-b20">
                    <img src="./images/1580967061551.jpg" width="60" />
                </div>
                <div class="text-center font-18">
                    {{msg_result}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer padding-t-none">
        <a class="m-btn-co btn-s-md" ng-click="closeModal()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Text['SYSTEM']['CLOSE_DOWN']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>

