﻿<div class="TravelExManPage delegation-page" ng-controller="PaySlipContentController" ng-init="init();">

    <!-- ตัวอย่าง html -->
    <div class="ayodia-style">

        <!--<div class="content-by-ayodia margin-b20 ">
            <div class="ayodia-header-content">
                <div class="ayodia-title w-100">
                    รายละเอียดการขอหนังสือรับรอง
                </div>
            </div>
            <div class="ayodia-body-content">
                <div class="row">
                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2">
                            <div class="text-basic-md-center-input color-main"> ประเภทของหนังสือรับรอง : </div>
                        </div>
                        <div class="col-sm-5">
                            <select class="form-control w-100 margin-b20" ng-model="test" placeholder="ประเภทของหนังสือรับรอง">
                                <option value="{{item.id}}" ng-repeat="item in [{name:'TEST',id:1}]">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="line-under margin-b20 "></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 lr-0">
                        <div class="col-xs-9 col-sm-2">
                            <div class="text-basic-md-center-input color-main"> ประเทศที่เดินทาง 1  : </div>
                        </div>
                        <div class="col-xs-3 show-tablet">
                            <div class="text-basic-md-center-input color-danger text-right"><a>ลบ</a></div>
                        </div>
                        <div class="col-sm-5">
                            <select class="form-control w-100  margin-b10" ng-model="test" placeholder="ประเทศที่เดินทาง">
                                <option value="{{item.id}}" ng-repeat="item in [{name:'TEST',id:1}]">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-1 show-pc">
                            <div class="text-basic-md-center-input color-danger "><a>ลบ</a></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 lr-0">
                        <div class="col-sm-2 ">
                            <div class="text-basic-md-center-input color-main">วันที่เดินทางประเทศที่ 1 : </div>
                        </div>
                        <div class="col-xs-5 col-sm-2">
                            <div class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                                <datepicker callback-on-change="setdatefrom(newDate)" date-format="d/M/yyyy" date-set="{{date_from_select}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-1">
                            <div class="text-basic-md-center-input color-main text-center">ถึง</div>
                        </div>
                        <div class="col-xs-5 col-sm-2">
                            <div class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                                <datepicker callback-on-change="setdatefrom(newDate)" date-format="d/M/yyyy" date-set="{{date_from_select}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 lr-0">
                            <div class="col-sm-2">
                                <div class="text-basic-md-center-input color-main"></div>
                            </div>
                            <div class="col-sm-5 margin-b10">
                                <a class="text-basic-md-center-input color-gray ">+ เพิ่มประเทศที่เดินทาง</a>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="line-under margin-b20 "></div>
                                </div>
                            </div>
                            <div class="col-sm-12 lr-0">
                                <div class="col-sm-2">
                                    <div class="text-basic-md-center-input color-main"> ผู้ลงนามเอกสาร : </div>
                                </div>
                                <div class="col-sm-5">
                                    <select class="form-control w-100  margin-b10" ng-model="test" placeholder="ผู้ลงนามเอกสาร">
                                        <option value="{{item.id}}" ng-repeat="item in [{name:'TEST',id:1}]">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="content-by-ayodia margin-b20 ">
            <div class="ayodia-header-content">
                <div class="ayodia-title w-100">
                    เอกสารแนบ
                </div>
            </div>
            <div class="ayodia-body-content">
                <div class="row">
                    <div class="col-sm-6 lr-0">
                        <div class="col-sm-12">
                            <input type="text" class="w-100 input-box font-16" placeholder="ไม่มีเอกสารแนบ" name="input1">
                        </div>
                        <div class="col-sm-12">
                            <div class="input-icon-right ">
                                <input type="text" class="w-100 input-box font-16" placeholder="อัพโหลดเอกสาร" name="input1">
                                <span><i class="fa fa-upload"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 lr-0">
                        <div class="col-sm-12">
                            <div class="box-remark-danger">
                                <p>ข้อจำกัดการอัพโหลดไฟล์  </p>
                                <p>1. ไฟล์ต้องมีขนาดไม่เกิน 10MB ต่อ 1 ไฟล์ </p>
                                <p>2. ไฟล์ต้องมีข้อมูล (มีขนาดมากกว่า 0 KB) </p>
                                <p>3. ชื่อไฟล์ต้องไม่มีอักขระพิเศษดังต่อไปนี้ !, #, $, %, ^, &, *, <,>  , / และมีชื่อยาวไม่เกิน 50 ตัวอักษร  </p>
                                <p>4. ประเภทไฟล์ที่รองรับคือ gif, jpg, jpeg, bmp, png, pdf, doc, xls, ppt, zip, rar, docx, xlsx, txt, pptx </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="content-by-ayodia margin-b20 ">
            <div class="ayodia-header-content">
                <div class="ayodia-title w-100">
                    เหตุผล
                </div>
            </div>
            <div class="ayodia-body-content">
                <div class="row">
                    <div class="col-sm-12">
                        <textarea rows="5" class="w-100 textarea-s1"> </textarea>
                    </div>
                </div>
            </div>
        </div>-->
        <!--///////////////////////////////////////-->
        <!--///////////////////////////////////////-->
        <!--<div class="content-by-ayodia margin-b20 ">
            <div class="ayodia-header-content">
                <div class="ayodia-title w-100">
                    0245200000001-LE001
                </div>
            </div>
            <div class="ayodia-body-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="sub-title">รายละเอียด</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 lr-0">
                        <div class="col-sm-4">
                            <div class="text-basic-md-center-input color-main">ชื่อ - นามสกุล</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="text-basic-md-center-input color-main">23000028 น.ส.ธัญญะสุภางค์ จิรปรีชานนท์</div>
                        </div>
                        <div class="col-sm-4">
                            <div class="text-basic-md-center-input color-main">สร้างโดย</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="text-basic-md-center-input">23000028 น.ส.ธัญญะสุภางค์ จิรปรีชานนท์</div>
                        </div>
                        <div class="col-sm-4">
                            <div class="text-basic-md-center-input color-main">ประเภทคำขอ</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="text-basic-md-center-input">ขอหนังสือรับรอง</div>
                        </div>
                    </div>
                    <div class="col-sm-6 lr-0">
                        <div class="col-sm-4">
                            <div class="text-basic-md-center-input color-main">วันที่สร้าง</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="text-basic-md-center-input">07/01/2020 15:51 น.</div>
                        </div>
                        <div class="col-sm-4">
                            <div class="text-basic-md-center-input color-main">สถานะ</div>
                        </div>
                        <div class="col-sm-6">
                            <a class="m-btn-orange btn-s-sm text-center">
                                <span class=""><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;บันทึก </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-by-ayodia margin-b20 ">
            <div class="ayodia-header-content">
                <div class="ayodia-title w-100">
                    รายละเอียดการขอหนังสือรับรอง
                </div>
            </div>
            <div class="ayodia-body-content">
                <div class="row">
                    <div class="col-sm-12 lr-0">


                        <div class="col-sm-2">
                            <div class="text-basic-md-center-input color-main">ประเภทหนังสือรับรอง</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="text-basic-md-center-input color-main">หนังสือผ่านสิทธิ์สินเชื่อ ธนาคารออมสิน</div>
                        </div>


                        <div class="col-sm-2">
                            <div class="text-basic-md-center-input color-main">ประเทศที่เดินทาง 1</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="text-basic-md-center-input">ญี่ปุ่น</div>
                        </div>


                        <div class="col-sm-2">
                            <div class="text-basic-md-center-input color-main">วันที่เดินทางประเทศที่ 1</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="text-basic-md-center-input">01/02/2020 ถึง 03/02/2020</div>
                        </div>

                        <div class="col-sm-2">
                            <div class="text-basic-md-center-input color-main">ประเทศที่เดินทาง 2</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="text-basic-md-center-input">สหรัฐอเมริกา</div>
                        </div>


                        <div class="col-sm-2">
                            <div class="text-basic-md-center-input color-main">วันที่เดินทางประเทศที่ 2</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="text-basic-md-center-input">01/02/2020 ถึง 03/02/2020</div>
                        </div>

                        <div class="col-sm-2">
                            <div class="text-basic-md-center-input color-main">ประเทศที่เดินทาง 3</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="text-basic-md-center-input">เม็กซิโก</div>
                        </div>


                        <div class="col-sm-2">
                            <div class="text-basic-md-center-input color-main">วันที่เดินทางประเทศที่ 3</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="text-basic-md-center-input">10/02/2020 ถึง 14/02/2020</div>
                        </div>

                        <div class="col-sm-2">
                            <div class="text-basic-md-center-input color-main">ผู้ลงนามเอกสาร</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="text-basic-md-center-input">123000026 - นายสุรงค์ บูลกุล ผจ.ฝ่ายทรัพยากรบุคคลและศักยภาพองค์กร</div>
                        </div>

                        <div class="col-sm-2">
                            <div class="text-basic-md-center-input color-main">ผู้เหตุผล</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="text-basic-md-center-input">ต้องการไปยื่นประกอบ</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-by-ayodia margin-b20 ">
            <div class="ayodia-header-content">
                <div class="ayodia-title w-100">
                    เหตุผล
                </div>
            </div>
            <div class="ayodia-body-content">
                <div class="row">
                    <div class="col-sm-12">
                        <textarea rows="5" class="w-100 textarea-s1"> </textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-by-ayodia margin-b20 ">
            <div class="ayodia-header-content">
                <div class="ayodia-title w-100">
                    การขออนุมัติ
                </div>
            </div>
            <div class="ayodia-body-content">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <div class="ayodia-timeline-box">
                            <div class="ayodia-timeline-box">
                                <div class="ayodia-timeline-item state-1">
                                    <div class="icon-s-line">
                                        <i class="fas fa-search"></i>
                                    </div>
                                    <div class="detail-s-line">
                                        <div class="s-title">สร้าง</div>
                                        <div class="s-detail">23000028 น.ส.ธัญญะสุภางค์ จิรปรีชานนท์</div>
                                    </div>
                                </div>
                                <div class="ayodia-timeline-item state-1">
                                    <div class="icon-s-line">
                                        <i class="fas fa-save"></i>
                                    </div>
                                    <div class="detail-s-line">
                                        <div class="s-title">xxxxxxxxxxxxxxxxxxxx</div>

                                        <div class="s-detail">23000028 น.ส.ธัญญะสุภางค์ จิรปรีชานนท์ <span class="color-gray">- 07/01/2020 15:51:46</span></div>
                                    </div>
                                </div>
                                <div class="ayodia-timeline-item state-2">
                                    <div class="icon-s-line">
                                        <i class="fas fa-save"></i>
                                    </div>
                                    <div class="detail-s-line">
                                        <div class="s-title">รอตรวจสอบเอกสาร</div>

                                        <div class="s-detail">23000028 น.ส.ธัญญะสุภางค์ จิรปรีชานนท์ <span class="color-gray">- 07/01/2020 15:51:46</span></div>
                                        <div class="s-detail">23000028 น.ส.ธัญญะสุภางค์ จิรปรีชานนท์ <span class="color-gray">- 07/01/2020 15:51:46</span></div>
                                    </div>
                                </div>

                                <div class="ayodia-timeline-item state-2">
                                    <div class="icon-s-line">
                                        <i class="fa fa-bell" aria-hidden="true"></i>
                                    </div>
                                    <div class="detail-s-line">
                                        <div class="s-title">เอกสารสมบูรณ์</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!--///////////////////////////////////////-->
        <!--///////////////////////////////////////-->
    </div>
    <!-- After -->
    <div class="ayodia-style">
        <div class="row margin-b10">
            <div class="col-sm-10 lr-0">
                <div class="title-top-page">{{Text['PAYSLIPDATA']['PAYSLIPSELECTION']}}</div>
            </div>
        </div>
        <div class="content-by-ayodia margin-b20 ">
            <div class="ayodia-header-content">
                <div class="ayodia-title w-100">
                    {{Text['PAYSLIPDATA']['PAYSLIPSELECTION']}}
                </div>
            </div>
            <div class="ayodia-body-content">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="filter-export-box clearfix margin-b20">
                            <div class="filter-items-l clearfix">
                                <div class="f-item">
                                    <label>{{Text['PAYSLIPDATA']['YEAR']}} : </label>
                                    <select class="form-control w100px-desktop" ng-model="ddlYear" ng-change="GetListPayslipPeriodSetting()">
                                        <option value="{{item}}" ng-repeat="item in YearsList">{{item}}</option>
                                    </select>
                                </div>
                                <div class="f-item">
                                    <label>{{Text['PAYSLIPDATA']['MONTH']}} : </label>
                                    <select class="form-control w150px-desktop" ng-model="ddlPeriod" ng-change="temp_select_payslip(ddlYear,ddlPeriod)">
                                        <!--<option value="{{item.MONTH_VALUE}}" ng-repeat="item in ListPeriod">
                                            {{TextMonth["D_M"+item.MONTH_KEY]}}
                                        </option>-->
                                        <option value="{{item.MONTH_VALUE}}" ng-repeat="item in ListPeriod">
                                            {{item.MONTH_NAME}}
                                        </option>
                                    </select>
                                </div>
                                <div class="f-item">
                                    <!--<a class="m-btn-c2 btn-s-md" ng-click="onLoadPaySlip()">
                                        <span class=""><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;{{Text['PAYSLIPDATA']['VIEWPAYSLIP']}} </span>
                                    </a>-->
                                    <a class="m-btn-c2 btn-s-md" ng-click="promtDialogPincode()">
                                        <span class=""><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;{{Text['PAYSLIPDATA']['VIEWPAYSLIP']}}</span>
                                    </a>
                                </div>
                            </div>
                            <div class="filter-items-r" ng-if="PayslipData.length > 0">
                                <a class="m-btn-c1 btn-s-md" ng-click='GetPaySlipExport("PDF")'>
                                    <span class="">
                                        <i class="fa fa-download"></i>&nbsp;&nbsp;&nbsp;{{Text['BENEFITREPORT']['DOWNLOADPDF']}}
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<pre>{{ddlPeriod}}</pre>
                <pre>{{ListPeriod | json}}</pre>-->

                <div class="row" ng-if="PayslipData.length > 0">
                    <div class="col-sm-12">
                        <div class="sub-title">{{Text['PAYSLIPDATA']['YEAR']}}: {{year_display}} &nbsp;{{Text['PAYSLIPDATA']['MONTH']}}: {{monthSelect(year_month_display)}}</div>
                    </div>
                </div>

                <div class="row" ng-if="PayslipData.length > 0">
                    <div class="col-sm-12 col-md-6">
                        <table class="w-100 table-style-1 margin-b10 ">
                            <tr class="t-header">
                                <th width="20%" class="text-center">{{Text['PAYSLIPREPORT'].COLCODE}}</th>
                                <th width="43%" class="text-center">{{Text['PAYSLIPREPORT'].COLINCOME}}</th>
                                <th width="37%" class="text-center">{{Text['PAYSLIPREPORT'].COLAMOUNT}}</th>
                                <!--<th class="desktop-tb">{{Text['PAYSLIPREPORT'].COLREMARK}}</th>-->
                            </tr>
                            <tr class="t-body" ng-if="PayslipData.length > 0" ng-repeat="Item in PayslipData">
                                <td class="text-center"><span ng-if="Item.sortNumber1 != 0">{{zeroPad(Item.sortNumber1)}}</span></td>
                                <td><span ng-if="Item.sortNumber1 != 0">{{Item.wageTypeDescription1}}</span></td>
                                <td class="text-right"><span ng-if="Item.sortNumber1 != 0">{{Item.amount1 | number : 2}}</span></td>
                                <!--<td class="desktop-tb"></td>-->
                            </tr>
                            <tr ng-show="PayslipData.length == 0">
                                <td colspan="4" style="text-align:center; color:red;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-sm-12 col-md-6" ng-if="PayslipData.length > 0">
                        <table class="w-100 table-style-1 argin-b10 ">
                            <tr class="t-header">
                                <th width="9%" class="text-center">{{Text['PAYSLIPREPORT'].COLCODE}}</th>
                                <th width="45%" class="text-center">{{Text['PAYSLIPREPORT'].COLOUTCOME}}</th>
                                <th width="36%" class="text-center">{{Text['PAYSLIPREPORT'].COLAMOUNT}}</th>
                                <th width="10%" class="desktop-tb class="text-center"">{{Text['PAYSLIPREPORT'].COLREMARK}}</th>
                            </tr>
                            <tr class="t-body" ng-if="PayslipData.length > 0" ng-repeat="Item in PayslipData">
                                <td class="text-center">
                                    <span ng-if="Item.sortNumber2 != 0" style="text-align:center">{{zeroPad(Item.sortNumber2)}}</span>
                                </td>
                                <td><span ng-if="Item.sortNumber2 != 0">{{Item.wageTypeDescription2}}</span></td>
                                <td class="text-right">
                                    <span ng-if="Item.sortNumber2 != 0" style="text-align:right">{{Item.amount2 | number : 2}}</span>
                                </td>
                                <td class="desktop-tb text-center">{{Item.code}}</td>
                            </tr>
                            <tr ng-show="PayslipData.length == 0">
                                <td colspan="4" style="text-align:center; color:red;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row" ng-if="PayslipData.length > 0">
                    <div class="col-sm-12">
                        <div class="line-under margin-b20 "></div>
                    </div>
                </div>

                <div class="row" ng-if="PayslipData.length > 0">
                    <div class="col-sm-12">
                        <div class="clearfix">
                            <div class="result-table-box l50 pull-right" ng-repeat="Item in PayslipData" ng-if="$first">
                                <div class="result-item ">
                                    <div class="s-text background-2">{{Text['PAYSLIPREPORT'].COLINCOMECOLLECTION}}</div>
                                    <div class="s-result">{{Item.incomeCollection | number : 2}} {{Text['SYSTEM'].BAHT}}</div>
                                </div>
                                <div class="result-item">
                                    <div class="s-text background-2">{{Text['PAYSLIPREPORT'].COLTAXCOLLECTION}}</div>
                                    <div class="s-result">{{Item.taxCollection | number : 2}} {{Text['SYSTEM'].BAHT}}</div>
                                </div>
                                <div class="result-item">
                                    <div class="s-text background-2">{{Text['PAYSLIPREPORT'].COLPROVIDENTFUND}}</div>
                                    <div class="s-result">{{Item.providentFund | number : 2}} {{Text['SYSTEM'].BAHT}}</div>
                                </div>
                            </div>
                            <div class="result-table-box l50 pull-right" ng-repeat="Item in PayslipData" ng-if="$first">
                                <div class="result-item">
                                    <div class="s-text background-1">{{Text['PAYSLIPREPORT'].COLTOTALINCOME}}</div>
                                    <div class="s-result">{{Item.totalIncome | number : 2}} {{Text['SYSTEM'].BAHT}}</div>
                                </div>
                                <div class="result-item">
                                    <div class="s-text background-1">{{Text['PAYSLIPREPORT'].COLTOTALOUTCOME}}</div>
                                    <div class="s-result">{{Item.totalOutcome | number : 2}} {{Text['SYSTEM'].BAHT}}</div>
                                </div>
                                <div class="result-item">
                                    <div class="s-text background-1">{{Text['PAYSLIPREPORT'].COLNET}}</div>
                                    <div class="s-result">{{Item.net | number : 2}} {{Text['SYSTEM'].BAHT}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<pre>{{ListPeriod | json}}</pre>-->
    <!-- Before -->
    <!--<div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">
                        {{Text['PAYSLIPDATA']['PAYSLIPSELECTION']}}
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!--<div class="body_content" style="margin-bottom:0px;">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" style="overflow-x:hidden; padding-bottom:4rem;">
            <div class="-pad10"></div>
            <div class="body_content">
                <div class="bar_bottom layout-padding-md">
                    <div class="body_content" style="background:white;min-height: 100vh;overflow-y: auto;">
                        <div class="leavetableBlock leavetableBlock_create">
                            <div class="search-years">
                                <div class="col-xs-3">
                                    <span style="font-weight: 600;">{{Text['PAYSLIPDATA']['YEAR']}}</span>
                                </div>
                                <div class="col-xs-9">
                                    <select class="form-control" ng-model="ddlYear" ng-change="GetListPayslipPeriodSetting()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 120px; font-size: 15px; cursor: pointer; margin: 0px;">
                                        <option value="{{item}}" ng-repeat="item in YearsList">{{item}}</option>
                                    </select>
                                </div>
                                <div style="padding: 25px;"></div>
                            </div>

                            <div class="search-years">
                                <div class="col-xs-3">
                                    <span style="font-weight: 600;">{{Text['PAYSLIPDATA']['MONTH']}}</span>
                                </div>
                                <div class="col-xs-9">
                                    <select class="form-control" ng-model="ddlPeriod" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 120px; font-size: 15px; cursor: pointer; margin: 0px;">
                                        <option value="{{item.MONTH_VALUE}}" ng-repeat="item in ListPeriod">{{TextMonth["D_M"+item.MONTH_KEY]}}</option>
                                    </select>
                                </div>
                                <div style="padding: 25px;"></div>
                            </div>


                            <div class="search-years">
                                <div class="col-xs-3">
                                    <span style="font-weight: 600;">{{Text['PAYSLIPDATA']['PINCODE']}}</span>
                                </div>
                                <div class="col-xs-9">
                                    <input type="password" maxlength="20" style="width:120px;" ng-model="OldPinCode">
                                </div>
                                <div style="padding: 25px;"></div>
                            </div>
                            <div class="search-years" ng-if="MsgValidate!=''">
                                <div class="col-xs-12">
                                    <span style="font-weight: 600;">{{MsgValidate}}</span>
                                </div>
                                <div style="padding: 25px;"></div>
                            </div>
                            <div class="item-btn mobile-text-center">
                                <a ng-click="onLoadPaySlip()">
                                    <div class="itemin_btn">
                                        <i class="fas fa-search"></i> {{Text['PAYSLIPDATA']['VIEWPAYSLIP']}}
                                    </div>
                                </a>
                            </div>
                            <br>
                            <div class="item-btn mobile-text-center" ng-if="PayslipData.length > 0 && MsgValidate==''">
                                <a ng-click='GetPaySlipExport("PDF")'>
                                    <div class="itemin_btn ng-binding">
                                        <i class="fas fa-file-pdf"></i> <span>{{Text['BENEFITREPORT']['DOWNLOADPDF']}}</span>
                                    </div>
                                </a>
                            </div>

                            <div class="row itemlist_block" ng-if="PayslipData.length > 0 && MsgValidate==''">
                                <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                    <div class="row itemlist">
                                        <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                            <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                <thead>
                                                    <tr style="vertical-align:middle; text-align:center;">
                                                        <td>{{Text['PAYSLIPREPORT'].COLCODE}}</td>
                                                        <td>{{Text['PAYSLIPREPORT'].COLINCOME}}</td>
                                                        <td>{{Text['PAYSLIPREPORT'].COLAMOUNT}}</td>
                                                        <td>{{Text['PAYSLIPREPORT'].COLCODE}}</td>
                                                        <td>{{Text['PAYSLIPREPORT'].COLOUTCOME}}</td>
                                                        <td>{{Text['PAYSLIPREPORT'].COLAMOUNT}}</td>
                                                        <td>{{Text['PAYSLIPREPORT'].COLREMARK}}</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="Item in PayslipData" ng-show="PayslipData.length > 0">
                                                        <td style="vertical-align:middle;"><div ng-if="Item.sortNumber1 != 0" style="text-align:center">{{zeroPad(Item.sortNumber1)}}</div></td>
                                                        <td style="vertical-align:middle;"><div ng-if="Item.sortNumber1 != 0">{{Item.wageTypeDescription1}}</div></td>
                                                        <td style="vertical-align:middle;"><div ng-if="Item.sortNumber1 != 0" style="text-align:right">{{Item.amount1 | number : 2}}</div></td>
                                                        <td style="vertical-align:middle;"><div ng-if="Item.sortNumber2 != 0" style="text-align:center">{{zeroPad(Item.sortNumber2)}}</div></td>
                                                        <td style="vertical-align:middle;"><div ng-if="Item.sortNumber2 != 0">{{Item.wageTypeDescription2}}</div></td>
                                                        <td style="vertical-align:middle;"><div ng-if="Item.sortNumber2 != 0" style="text-align:right">{{Item.amount2 | number : 2}}</div></td>
                                                        <td style="vertical-align:middle;">{{Item.code}}</td>
                                                    </tr>
                                                    <tr ng-show="PayslipData.length == 0">
                                                        <td colspan="4" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot ng-repeat="Item in PayslipData" ng-if="$first">
                                                    <tr>
                                                        <td colspan="4" style="vertical-align:middle;background-color:white"></td>
                                                        <td style="vertical-align:middle;background-color:lightslategray">{{Text['PAYSLIPREPORT'].COLTOTALINCOME}}</td>
                                                        <td colspan="2" style="vertical-align:middle;background-color:lightslategray;text-align:right">{{Item.totalIncome | number : 2}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" style="vertical-align:middle;background-color:white"></td>
                                                        <td style="vertical-align:middle;background-color:lightslategray">{{Text['PAYSLIPREPORT'].COLTOTALOUTCOME}}</td>
                                                        <td colspan="2" style="vertical-align:middle;background-color:lightslategray;text-align:right">{{Item.totalOutcome | number : 2}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" style="vertical-align:middle;background-color:white"></td>
                                                        <td style="vertical-align:middle;background-color:lightslategray">{{Text['PAYSLIPREPORT'].COLNET}}</td>
                                                        <td colspan="2" style="vertical-align:middle;background-color:lightslategray;text-align:right">{{Item.net | number : 2}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" style="vertical-align:middle;background-color:white"></td>
                                                        <td style="vertical-align:middle;background-color:lightslategray">{{Text['PAYSLIPREPORT'].COLINCOMECOLLECTION}}</td>
                                                        <td colspan="2" style="vertical-align:middle;background-color:lightslategray;text-align:right">{{Item.incomeCollection | number : 2}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" style="vertical-align:middle;background-color:white"></td>
                                                        <td style="vertical-align:middle;background-color:lightslategray">{{Text['PAYSLIPREPORT'].COLTAXCOLLECTION}}</td>
                                                        <td colspan="2" style="vertical-align:middle;background-color:lightslategray;text-align:right">{{Item.taxCollection | number : 2}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" style="vertical-align:middle;background-color:white"></td>
                                                        <td style="vertical-align:middle;background-color:lightslategray">{{Text['PAYSLIPREPORT'].COLPROVIDENTFUND}}</td>
                                                        <td colspan="2" style="vertical-align:middle;background-color:lightslategray;text-align:right">{{Item.providentFund | number : 2}}</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</div>


<script type="text/ng-template" id="openPincode.ng-popup.html">
    <div class="modal-header">
        <h3 class="modal-title custom">PINCODE</h3>
        <button type="button" class="close custom" ng-click="closeModal()">&times;</button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <!--<input type="password" class="w-100 input-box font-16" placeholder="PINCODE" name="input1" ng-model="OldPinCode">-->
                <input type="password" class="w-100 input-box font-16" placeholder="PINCODE" name="input1" ng-model="OldPinCode" dl-enter-key="getValidatePinCode()" auto-focus>
                <span class="font-16 color-danger pull-left">{{MsgValidate}}:2</span>
                <span class="font-16 color-main pull-right" ng-click="forgetPincode();">{{Text['PAYSLIPDATA']['NEWPINREQUEST']}}:2</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="m-btn-cw btn-s-md" ng-click="closeModal()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Text['ACTION']['CANCEL']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
        <a class="m-btn-co btn-s-md" ng-click="getValidatePinCode()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Text['SYSTEM']['BUTTON_OK']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>

<!--<script type="text/ng-template" id="ex1.ng-popup.html">
    <div class="modal-header">
        <h3 class="modal-title custom">ระบุ PINCODE</h3>
        <button type="button" class="close custom" ng-click="$dismiss()">&times;</button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <input type="password" class="w-100 input-box font-16" placeholder="PINCODE" name="input1">
                <span class="text-un color-main pull-right">ลืมรหัส PINCODE ?</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="m-btn-cw btn-s-md" ng-click="$dismiss()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ยกเลิก&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
        <a class="m-btn-co btn-s-md">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ยืนยัน&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>
<script type="text/ng-template" id="ex2.ng-popup.html">
    <div class="modal-header">
        <h3 class="modal-title custom">ระบุ PINCODE</h3>
        <button type="button" class="close custom" ng-click="$dismiss()">&times;</button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <input type="password" class="w-100 input-box input-error-rq font-16" placeholder="PINCODE" name="input1">
                <span class="text-un color-danger pull-left">ระบุ PINCODE ไม่ถูกต้อง</span>
                <span class="text-un color-main pull-right">ลืมรหัส PINCODE ?</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="m-btn-cw btn-s-md" ng-click="$dismiss()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ยกเลิก&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
        <a class="m-btn-co btn-s-md">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ยืนยัน&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>
<script type="text/ng-template" id="ex3.ng-popup.html">
    <div class="modal-body alert1">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <div class="text-center font-18">
                    <svg xmlns="http://www.w3.org/2000/svg" width="57" height="57" viewBox="0 0 57 57">
                        <rect style="fill: #ed2f2f;opacity:0;" width="57" height="57" />
                        <path style="fill: #ed2f2f;" d="M25.75,2A23.75,23.75,0,1,0,49.5,25.75,23.75,23.75,0,0,0,25.75,2Zm0,42.75a19,19,0,1,1,19-19A19,19,0,0,1,25.75,44.75Z" transform="translate(2.75 2.75)" />
                        <path style="fill: #ed2f2f;" d="M22.569,9.7a2.375,2.375,0,0,0-3.373,0l-3.064,3.088L13.069,9.7A2.385,2.385,0,0,0,9.7,13.069l3.087,3.064L9.7,19.2a2.385,2.385,0,1,0,3.372,3.373l3.064-3.088L19.2,22.569A2.385,2.385,0,1,0,22.569,19.2l-3.088-3.064,3.088-3.064a2.375,2.375,0,0,0,0-3.372Z" transform="translate(12.367 12.367)" />
                    </svg>
                </div>
                <div class="text-center font-18">
                    รหัส PINCODE เก่าที่ระบุไม่ถูกต้อง
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer padding-t-none">
        <a class="m-btn-co btn-s-md" ng-click="$dismiss()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ปิด&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>
<script type="text/ng-template" id="ex4.ng-popup.html">
    <div class="modal-body alert1">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <div class="text-center font-18">
                    <svg xmlns="http://www.w3.org/2000/svg" width="57" height="57" viewBox="0 0 57 57">
                        <rect style="fill: #ed2f2f;opacity:0;" width="57" height="57" />
                        <path style="fill: #ed2f2f;" d="M25.75,2A23.75,23.75,0,1,0,49.5,25.75,23.75,23.75,0,0,0,25.75,2Zm0,42.75a19,19,0,1,1,19-19A19,19,0,0,1,25.75,44.75Z" transform="translate(2.75 2.75)" />
                        <path style="fill: #ed2f2f;" d="M22.569,9.7a2.375,2.375,0,0,0-3.373,0l-3.064,3.088L13.069,9.7A2.385,2.385,0,0,0,9.7,13.069l3.087,3.064L9.7,19.2a2.385,2.385,0,1,0,3.372,3.373l3.064-3.088L19.2,22.569A2.385,2.385,0,1,0,22.569,19.2l-3.088-3.064,3.088-3.064a2.375,2.375,0,0,0,0-3.372Z" transform="translate(12.367 12.367)" />
                    </svg>
                </div>
                <div class="text-center font-18 margin-b10">
                    รหัส PINCODE ใหม่ที่ระบุไม่ตรงตามเงื่อนไข
                </div>
                <div class="text-center font-14 color-gray">
                    โดย PINCODE จะต้องมีความยาวอย่างน้อย 6 ตัวอักษร และประกอบ ด้วยตัวอักษรพิมพ์เล็กและตัวอักษรพิมพ์ใหญ่ ตัวเลข และสัญลักษณ์
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer padding-t-none">
        <a class="m-btn-co btn-s-md" ng-click="$dismiss()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ปิด&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>
<script type="text/ng-template" id="ex5.ng-popup.html">
    <div class="modal-body alert1">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <div class="text-center font-18 margin-b20">
                    <img src="./images/1580967061551.jpg" width="60" />
                </div>
                <div class="text-center font-18">
                    เปลี่ยนรหัส PINCODE เรียบร้อย
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer padding-t-none">
        <a class="m-btn-co btn-s-md" ng-click="$dismiss()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ปิด&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>
<script type="text/ng-template" id="ex6.ng-popup.html">
    <div class="modal-body alert1">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <div class="text-center font-18">
                    <svg xmlns="http://www.w3.org/2000/svg" width="57" height="57" viewBox="0 0 57 57">
                        <rect class="a" style="fill: #00ADEE;opacity:0;" width="57" height="57" />
                        <path class="b" style="fill: #00ADEE;" d="M42.375,4H9.125A7.125,7.125,0,0,0,2,11.125v23.75A7.125,7.125,0,0,0,9.125,42h33.25A7.125,7.125,0,0,0,49.5,34.875V11.125A7.125,7.125,0,0,0,42.375,4ZM40.784,8.75,25.75,20.031,10.716,8.75Zm1.591,28.5H9.125A2.375,2.375,0,0,1,6.75,34.875V11.719L24.325,24.9a2.375,2.375,0,0,0,2.85,0L44.75,11.719V34.875A2.375,2.375,0,0,1,42.375,37.25Z" transform="translate(2.75 5.5)" />
                    </svg>
                </div>
                <div class="text-center font-18">
                    ระบบทำการส่ง Email ให้ท่านเรียบร้อย
                </div>
                <div class="text-center font-18">
                    โปรดตรวจสอบใน E-mail ของท่าน
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer padding-t-none">
        <a class="m-btn-co btn-s-md" ng-click="$dismiss()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ปิด&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>-->
