﻿<div class="TravelExManPage delegation-page" ng-controller="PFChangePlanReportController" ng-init="init();">

    <div class="row">
        <div class="col-sm-10">
            <h1>{{Text['PFPLANREPORT']['T_TITLEREPORT']}}</h1>
        </div>
        <div class="col-sm-2">
            <a class="m-btn-c2 btn-s-md text-center" style="margin-top:10px;" ng-click="back()">
                <span>
                    {{Text['SYSTEM']['BACK']}}
                </span>
            </a>
        </div>
    </div>
    <div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{ Text['PFPLANREPORT']['T_TITLEREPORT'] }}</div> <!-- รายงานสรุปการแก้ไขนโยบายการลงทุนกองทุนสำรองเลี้ยงชีพ -->
                </div>
            </div>
        </div>
    </div>
    <div class="body_content" style="margin-bottom:0px;">
        <div class="col-md-12 forheight_sub" style="background: white;margin-top: 0 !important;">
            <!--<div class="-pad10"></div>-->
            <div class="body_content">


                <div class="row" style="padding-top: 15px;"  ng-hide="isHideMultiCompany">
                    <div class="col-sm-3">
                        <span class="span_name" style="line-height: 2 !important;">
                            {{ Text['SYSTEM']['COMPANY'] + " : " }}
                        </span>
                    </div>

                    <div class="col-sm-3 detaildate_leave">
                        <select class="form-control w100px-desktop" style="width:100%;" ng-model="ddlCompany" ng-change="changeCompany(ddlCompany)">
                            <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                        </select>
                    </div>
                </div>


                <div class="row" style="padding-top: 15px;">
                    <div class="col-sm-3">
                        <span class="span_name" style="line-height: 2 !important;">
                            {{ Text['SYSTEM']['YEAR'] + " : " }}
                        </span>
                    </div>

                    <div class="col-sm-3 detaildate_leave">
                        <select class="form-control w100px-desktop" style="width:100%;" ng-model="ddlYear" ng-change="GetListEffectiveDateSetting()">
                            <option value="{{item}}" ng-repeat="item in YearList">{{item}}</option>
                        </select>
                    </div>
                </div>

                <div class="row" style="padding-top: 15px;">
                    <div class="col-sm-3">
                        <span class="span_name" style="line-height: 2 !important;">
                            {{ Text['PFPLANREPORT']['T_DAY'] + " : " }}
                        </span>
                    </div>

                    <div class="col-sm-3 detaildate_leave">
                        <select class="form-control w100px-desktop" style="width:100%;" ng-model="ddlEffectiveDate">
                            <option value="{{item}}" ng-repeat="item in EffectiveDateList">{{item | date:"dd/MM/yyyy"}}</option>
                        </select>
                    </div>
                </div>

                <div class="row" style="padding-top: 15px;">
                    <div class="col-sm-3">
                        <span class="span_name" style="line-height: 2 !important;">
                            {{ Text['PAYROLLREPORTFORADMIN']['REPORTTYPE'] + " : " }}
                        </span>
                    </div>

                    <div class="col-sm-3 detaildate_leave">
                        <select class="form-control w100px-desktop" style="width:100%;" ng-model="ddlExportType">
                            <option value="PDF">PDF</option>
                            <option value="EXCEL">EXCEL</option>
                        </select>
                    </div>
                </div>


                <div class="item-btn mobile-text-center calendar-gap" style="margin-top:20px !important;">
                    <div class="row">
                        <div class="col-sm-2">
                            <a class="m-btn-c2 btn-s-md text-center" ng-click="GetReportByType()">
                                <span>
                                    {{Text['PAYROLLREPORTFORADMIN']['VIEWREPORT']}}
                                </span>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a class="m-btn-c1 btn-s-md text-center" ng-click="reset_report()">
                                <span>
                                    {{Text['BENEFITREPORT']['RESETREPORT']}}
                                </span>
                            </a>
                        </div>
                    </div>

                    <!--<pre>{{YearList | json}}</pre>
                    <pre>{{ddlYear  | json}}</pre>
                    <pre>{{ddlEffectiveDate | json}}</pre>
                    <pre>{{EffectiveDateList | json}}</pre>-->
                    <!--<a ng-click='GetReport("PDF")'>
                        <div class="itemin_btn ng-binding -tab-org" style="min-width: 165px;text-align: center;padding: 8px !important;margin-right: 10px;">
                            <i class="fas fa-file-pdf"></i> <span>{{Text['BENEFITREPORT']['DOWNLOADPDF']}}</span>
                        </div>
                    </a>

                    <a ng-click='GetReport("EXCEL")'>
                        <div class="itemin_btn ng-binding -tab-org" style="min-width: 165px;text-align: center;padding: 8px !important;margin-right: 10px;">
                            <i class="fas fa-file-excel"></i> <span>{{Text['BENEFITREPORT']['DOWNLOADEXCLE']}}</span>
                        </div>
                    </a>-->
                </div>
            </div>
        </div>
        <!--<div class="body_content" style="margin-bottom:0px;" ng-show="data.length > 0" >
            <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" style="overflow-x:hidden; padding-bottom:4rem;">
                <div class="body_content">
                    <div class="body_content" style="background:white;">
                        <div class="leavetableBlock leavetableBlock_create">
                            <div class="row itemlist_block">
                                <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                    <div class="row itemlist">
                                        <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                            <div style="font-size: 2.0em;text-align: center;margin-top: 35px;">{{ Text['PFPLANREPORT']['T_TITLEREPORT'] }}</div>
                                            <div style="font-size: 1.4em;text-align: center;margin-bottom: 20px;">{{ Text['PFPLANREPORT']['T_DAY'] }} {{effectiveDate | date:"dd/MM/yyyy"}}</div>
                                            <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                <thead>
                                                    <tr style="vertical-align:middle; text-align:center;">
                                                        <td>{{ Text['PFPLANREPORT']['T_NO'] }}</td>
                                                        <td>{{ Text['PFPLANREPORT']['T_EMPLOYEEID'] }}</td>
                                                        <td>{{ Text['PFPLANREPORT']['T_FULLNAME'] }}</td>
                                                        <td>{{ Text['PFPLANREPORT']['T_NEWPLAN'] }}</td>
                                                        <td>{{ Text['PFPLANREPORT']['T_EMPLOYEESAVINGRATE'] }}</td>
                                                        <td>{{ Text['PFPLANREPORT']['T_COMPANYSAVINGRATE'] }}</td>
                                                        <td>{{ Text['PFPLANREPORT']['T_REQUESTNO'] }}</td>
                                                        <td>{{ Text['PFPLANREPORT']['T_REQUESTDATE'] }}</td>
                                                        <td>{{ Text['PFPLANREPORT']['T_EFFECTIVEDATE'] }}</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-show="data.length > 0" ng-repeat="item in genDatas(filtered)">
                                                        <td>{{ (pagin.currentPage-1) * pagin.itemPerPage + ($index + 1)}}</td>

                                                        <td>{{item.EmployeeID }}</td>

                                                        <td>{{item.EmployeeName }}</td>

                                                        <td ng-if="item.ProvidentFund_NewOption">{{item.ProvidentFund_NewOption }}</td>
                                                        <td ng-if="!item.ProvidentFund_NewOption">-</td>

                                                        <td ng-if="item.EmployeeSavingRate">{{item.EmployeeSavingRate }}</td>
                                                        <td ng-if="!item.EmployeeSavingRate">-</td>

                                                        <td ng-if="item.CompanySavingRate">{{item.CompanySavingRate }}</td>
                                                        <td ng-if="!item.CompanySavingRate">-</td>

                                                        <td ng-if="item.RequestNo">{{item.RequestNo }}</td>
                                                        <td ng-if="!item.RequestNo">-</td>

                                                        <td ng-if="item.RequestDate">{{item.RequestDate | date:"dd/MM/yyyy" }}</td>
                                                        <td ng-if="!item.RequestDate">-</td>

                                                        <td ng-if="item.EffectiveDate">{{item.EffectiveDate | date:"dd/MM/yyyy" }}</td>
                                                        <td ng-if="!item.EffectiveDate">-</td>
                                                    </tr>

                                                    <tr ng-show="data.length <= 0">
                                                        <td colspan="9" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row contentPagination" style="position:absolute;" id="paggingWidth" ng-show="data.length > 0">
                            <div class="col-md-12 -col_centered contentPagein">

                                <div style="outline:none;" class="page-prev " ng-if="pagin.currentPage > 1" ng-click="changePage(pagin.currentPage-1)"><a><span class="icon-arrow_line_left"></span></a></div>
                                <div style="outline:none;" class="page-prev " ng-if="pagin.currentPage <= 1"><a></a></div>

                                <div class="page-pagenum" style="    margin-top: -2px;">
                                    <ul>
                                        <li ng-repeat="page in getPages()" ng-click="changePage(page)" style="margin-left:10px;" class="{{pagin.currentPage == page ? 'page-current' : ''}}">{{page}}</li>
                                    </ul>
                                </div>

                                <div style="outline:none;" class="page-next" ng-if="pagin.currentPage  < pagin.numPage" ng-click="changePage(pagin.currentPage+1)"> <a><span class="icon-arrow_line_right"></span></a></div>
                                <div style="outline:none;" class="page-next " ng-if="pagin.currentPage  >= pagin.numPage"><a></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>
<script type="text/ng-template" id="errorModalEffectiveDate.ng-popup.html">
    <div class="modal-body alert1">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <div class="text-center font-18">
                    <svg xmlns="http://www.w3.org/2000/svg" width="57" height="57" viewBox="0 0 57 57">
                        <rect style="fill: #ed2f2f;opacity:0;" width="57" height="57" />
                        <path style="fill: #ed2f2f;" d="M25.75,2A23.75,23.75,0,1,0,49.5,25.75,23.75,23.75,0,0,0,25.75,2Zm0,42.75a19,19,0,1,1,19-19A19,19,0,0,1,25.75,44.75Z" transform="translate(2.75 2.75)" />
                        <path style="fill: #ed2f2f;" d="M22.569,9.7a2.375,2.375,0,0,0-3.373,0l-3.064,3.088L13.069,9.7A2.385,2.385,0,0,0,9.7,13.069l3.087,3.064L9.7,19.2a2.385,2.385,0,1,0,3.372,3.373l3.064-3.088L19.2,22.569A2.385,2.385,0,1,0,22.569,19.2l-3.088-3.064,3.088-3.064a2.375,2.375,0,0,0,0-3.372Z" transform="translate(12.367 12.367)" />
                    </svg>
                </div>
                <div class="text-center font-18">
                    {{msg_result}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer padding-t-none">
        <a class="m-btn-co btn-s-md" ng-click="closeModal()">
            <span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{Text}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>