﻿<div class="TravelExManPage delegation-page" ng-controller="PinSettingContentController" ng-init="init();">

    <!-- After  -->
    <div class="ayodia-style">

        <div class="row margin-b10">
            <div class="col-sm-10 lr-0">
                <div class="title-top-page"> {{Text['PAYSLIPDATA']['CHANGEPINCODE']}}   </div>
            </div>
        </div>

        <div class="content-by-ayodia margin-b20 ">
            <div class="ayodia-header-content">
                <div class="ayodia-title w-100">
                    {{Text['PAYSLIPDATA']['CHANGEPINCODE']}}
                </div>
            </div>
            <div class="ayodia-body-content">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input">{{Text['PAYSLIPDATA']['OLDPASSWORD']}} :</div>
                    </div>
                    <div class="col-sm-3">
                        <input type="password" class="w-100 input-box font-16" placeholder="{{Text['PAYSLIPDATA']['OLDPASSWORD']}}" name="input1" ng-model="SetOldPinCode" ng-change="verifyDataInput()">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12  col-md-2">
                        <div class="text-basic-md-center-input">{{Text['PAYSLIPDATA']['NEWPASSWORD']}} :</div>
                    </div>
                    <div class="col-sm-12  col-md-3">
                        <input type="password" class="w-100 input-box font-16" placeholder="{{Text['PAYSLIPDATA']['NEWPASSWORD']}}" name="input2" ng-model="SetNewPinCode" ng-change="verifyDuplicatePassword()" ng-model-options="{ debounce: 800 }">
                    </div>
                </div>
                <div class="row margin-b20">
                    <div class="col-sm-12  col-md-2">
                        <div class="text-basic-md-center-input">{{Text['PAYSLIPDATA']['CONFIRMPASSWORD']}} : </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <input type="password" class="w-100 input-box font-16 " placeholder="{{Text['PAYSLIPDATA']['CONFIRMPASSWORD']}}" name="input3" ng-model="ConfirmSetNewPinCode" ng-change="verifyDuplicatePassword()" ng-model-options="{ debounce: 800 }">

                        <!--<input type="password" class="form-control w-100 input-error-rq" placeholder="{{Text['PAYSLIPDATA']['CONFIRMPASSWORD']}}" name="input3">-->
                    </div>
                    <div class="col-sm-12 col-md-3" ng-show="isChangePasswordNoDuplicate">
                        <span style="color:red; font-weight:bold;font-size:16px;">{{Text['TAXREPORT']['PINCODE_NOT_CORRECT']}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12  col-md-3">
                        <a class="m-btn-dis btn-s-md text-center"  ng-if="!isShowSubmitPincode">
                            <span class=""><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;{{Text['PAYSLIPDATA']['CHANGE']}} PINCODE </span>
                        </a>
                        <a class="m-btn-c2 btn-s-md text-center" ng-click="onChangePinCode()" ng-if="isShowSubmitPincode">
                            <span class=""><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;{{Text['PAYSLIPDATA']['REQUEST']}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-by-ayodia margin-b20 ">
            <div class="ayodia-header-content">
                <div class="ayodia-title w-100">
                    {{Text['PAYSLIPDATA']['NEWPINREQUEST']}}
                </div>
            </div>
            <div class="ayodia-body-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-basic-md-center-input">{{Text['PAYSLIPDATA']['NEWPINDETAIL']}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12  col-md-3">
                        <a class="m-btn-c2 btn-s-md text-center" ng-click="modelForgetPincode()">
                            <span class=""><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;{{Text['PAYSLIPDATA']['REQUEST']}} </span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="completeModalPincode.ng-popup.html">
    <div class="modal-body alert1">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <div class="text-center font-18 margin-b20">
                    <img src="./images/1580967061551.jpg" width="60" />
                </div>
                <div class="text-center font-18">
                    {{msg_result}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer padding-t-none">
        <a class="m-btn-co btn-s-md" ng-click="closeModal()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Text['SYSTEM']['CLOSE_DOWN']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>

<script type="text/ng-template" id="errorModalPincode.ng-popup.html">
    <div class="modal-body alert1">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <div class="text-center font-18">
                    <svg xmlns="http://www.w3.org/2000/svg" width="57" height="57" viewBox="0 0 57 57">
                        <rect style="fill: #ed2f2f;opacity:0;" width="57" height="57" />
                        <path style="fill: #ed2f2f;" d="M25.75,2A23.75,23.75,0,1,0,49.5,25.75,23.75,23.75,0,0,0,25.75,2Zm0,42.75a19,19,0,1,1,19-19A19,19,0,0,1,25.75,44.75Z" transform="translate(2.75 2.75)" />
                        <path style="fill: #ed2f2f;" d="M22.569,9.7a2.375,2.375,0,0,0-3.373,0l-3.064,3.088L13.069,9.7A2.385,2.385,0,0,0,9.7,13.069l3.087,3.064L9.7,19.2a2.385,2.385,0,1,0,3.372,3.373l3.064-3.088L19.2,22.569A2.385,2.385,0,1,0,22.569,19.2l-3.088-3.064,3.088-3.064a2.375,2.375,0,0,0,0-3.372Z" transform="translate(12.367 12.367)" />
                    </svg>
                </div>
                <div class="text-center font-18">
                    {{msg_result}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer padding-t-none">
        <a class="m-btn-co btn-s-md" ng-click="closeModal()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Text['SYSTEM']['CLOSE_DOWN']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>

<script type="text/ng-template" id="forgetPincodeChangePincode.ng-popup.html">
    <div class="modal-body alert1">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <div class="text-center font-18">
                    <svg xmlns="http://www.w3.org/2000/svg" width="57" height="57" viewBox="0 0 57 57">
                        <rect class="a main-color-fill" style="opacity:0;" width="57" height="57" />
                        <path class="b main-color-fill" d="M42.375,4H9.125A7.125,7.125,0,0,0,2,11.125v23.75A7.125,7.125,0,0,0,9.125,42h33.25A7.125,7.125,0,0,0,49.5,34.875V11.125A7.125,7.125,0,0,0,42.375,4ZM40.784,8.75,25.75,20.031,10.716,8.75Zm1.591,28.5H9.125A2.375,2.375,0,0,1,6.75,34.875V11.719L24.325,24.9a2.375,2.375,0,0,0,2.85,0L44.75,11.719V34.875A2.375,2.375,0,0,1,42.375,37.25Z" transform="translate(2.75 5.5)" />
                    </svg>
                </div>
                <div class="text-center font-18">
                    {{Text['PAYSLIPDATA']['ACTIVATE_MAIL_SENT']}}
                </div>
                <!--<div class="text-center font-18">
                    โปรดตรวจสอบใน E-mail ของท่าน
                </div>-->
            </div>
        </div>
    </div>
    <div class="modal-footer padding-t-none">
        <a class="m-btn-co btn-s-md" ng-click="closeModal()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Text['SYSTEM']['CLOSE_DOWN']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>

