﻿<div class="TravelExManPage delegation-page" ng-controller="ProvidentFundSettingController" ng-init="init();">

    <div class="row">
        <div class="col-sm-10">
            <h1>{{Text['PROVIDENTFUND']['SETUPFUND']}}</h1>
        </div>
        <div class="col-sm-2">
            <a class="m-btn-c2 btn-s-md text-center" style="margin-top:10px;" ng-click="back()">
                <span>
                    {{Text['SYSTEM']['BACK']}}
                </span>
            </a>
        </div>
    </div>
    <div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <!--ตั้งค่ากองทุนสำรองเลี้ยงชีพ-->
                    <div class="bar_left ng-binding">{{Text['PROVIDENTFUND'].SETUPFUND}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="body_content" style="margin-bottom:0px;">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" style="overflow-x:hidden; padding-bottom:4rem;">
            <div class="-pad10"></div>
            <div class="body_content">
                <div class="bar_bottom layout-padding-md">
                    <md-tabs class="personal_education_Content" md-stretch-tabs="always" md-swipe-content="false" md-no-pagination="false" md-border-bottom="true" md-dynamic-height="true">

                        <!--TAB1-->
                        <!--จัดการข้อมูลอัตราผลตอบแทนสะสม-->
                        <md-tab class="mt-1" label="{{Text['PROVIDENTFUND'].MANAGEYIELDDATA}}">

                            <div class="body_content" style="background:white;min-height: 100vh;overflow-y: auto;">
                                <div class="leavetableBlock leavetableBlock_create">

                                    <div class="row" style="padding-top: 15px;" ng-hide="isHideMultiCompany">
                                        <div class="col-sm-2">
                                            <span class="span_name" style="line-height:3;">
                                                {{Text['SYSTEM'].COMPANY}} <span style="color:red;"> *</span>
                                            </span>
                                        </div>
                                        <div class="col-sm-4">

                                            <div class="form-group">
                                                <select class="form-control" ng-change="changeCompany(ddlCompany)" ng-model="ddlCompany" style="box-shadow: 0 0 0;height: 3rem;border: 2px solid #603913;">
                                                    <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Search-->
                                    <div class="row" style="padding-top: 15px;">
                                        <div class="col-sm-2">
                                            <span class="span_name" style="line-height:3;">
                                                {{Text['PROVIDENTFUND'].YEARS}} <span style="color:red;"> *</span>
                                            </span>
                                        </div>
                                        <div class="col-sm-4">

                                            <div class="form-group">
                                                <select class="form-control" ng-change="filterYear(prop.value)" ng-model="prop.value" ng-options="v for v in prop.values" style="box-shadow: 0 0 0;height: 3rem;border: 2px solid #603913;"></select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row itemlist_block">
                                        <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                            <div class="row itemlist">
                                                <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">

                                                    <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                        <thead>
                                                            <tr style="vertical-align:middle; text-align:center;">
                                                                <td>{{Text['PROVIDENTFUND'].PROVIDENTFUNDNAME}}</td> <!--Description-->
                                                                <td>{{Text['PROVIDENTFUND'].QUARTER1}}</td> <!--Quarter1-->
                                                                <td>{{Text['PROVIDENTFUND'].QUARTER2}}</td> <!--Quarter2-->
                                                                <td>{{Text['PROVIDENTFUND'].QUARTER3}}</td> <!--Quarter3-->
                                                                <td>{{Text['PROVIDENTFUND'].QUARTER4}}</td> <!--Quarter4-->
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="Item in FundQuarterData" ng-show="FundQuarterData.length > 0">
                                                                <td ng-model="Item.FundID">{{Text['PROVIDENTFUND']['FUND_' + Item.FundID]}}</td>
                                                                <td><input type="text" maxlength="6" class="center-block" onkeyup="checkDec(this);" ng-model="Item.Quarter1" placeholder="0.00"></td>
                                                                <td><input type="text" maxlength="6" class="center-block" onkeyup="checkDec(this);" ng-model="Item.Quarter2" placeholder="0.00"></td>
                                                                <td><input type="text" maxlength="6" class="center-block" onkeyup="checkDec(this);" ng-model="Item.Quarter3" placeholder="0.00"></td>
                                                                <td><input type="text" maxlength="6" class="center-block" onkeyup="checkDec(this);" ng-model="Item.Quarter4" placeholder="0.00"></td>
                                                            </tr>

                                                            <!--กรณีไม่มีข้อมูล-->
                                                            <tr ng-show="FundQuarterData.length == 0">
                                                                <td colspan="4" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item-btn mobile-text-center">
                                        <a ng-click="onSubmit()">
                                            <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                                                <i class="fas fa-save"></i> {{ Text['SYSTEM']['SAVE'] }}
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </md-tab>

                        <!--TAP2-->
                        <!--จัดการช่วงเวลาการเปลี่ยนแปลงกองทุน-->
                        <md-tab class="mt-2" label="{{Text['PROVIDENTFUND'].TIMEMANAGEMENTFUND}}">
                            <div class="body_content" style="background:white;min-height: 300px;">
                                <div class="leavetableBlock leavetableBlock_create" style="margin-bottom: 200px;">

                                    <div class="row" style="padding-top: 15px;" ng-hide="isHideMultiCompany">
                                        <div class="col-sm-2">
                                            <span class="span_name" style="line-height:3;">
                                                {{Text['SYSTEM'].COMPANY}} <span style="color:red;"> *</span>
                                            </span>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <select class="form-control" ng-change="changeCompany(ddlCompany)" ng-model="ddlCompany" style="box-shadow: 0 0 0;height: 3rem;border: 2px solid #603913;">
                                                    <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Search-->
                                    <div class="row" style="padding-top: 15px;">
                                        <div class="col-sm-2">
                                            <span class="span_name" style="line-height:3;">
                                                {{Text['PROVIDENTFUND'].YEARS}} <span style="color:red;"> *</span>
                                            </span>
                                        </div>
                                        <div class="col-sm-4">

                                            <div class="form-group">
                                                <select class="form-control" ng-change="filterYear(prop.value)" ng-model="prop.value" ng-options="v for v in prop.values" style="box-shadow: 0 0 0;height: 3rem;border: 2px solid #603913;"></select>
                                            </div>
                                        </div>
                                    </div>

                                    <form ng-submit="form.$valid && onSubmitPeriodSetting()" name="form">
                                        <div class="row itemlist_block">
                                            <div class="traveltableBlock -desk_md-only" style="overflow: unset !important;">
                                                <div class="row itemlist">
                                                    <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                                        <table class="table table-bordered travelEx_tablesec02 not-fix-width providenfund_table_02">
                                                            <thead>
                                                                <tr style="vertical-align:middle; text-align:center;">
                                                                    <td>{{Text['PROVIDENTFUND'].STARTDATE}}</td> <!--วันที่เริ่มต้น-->
                                                                    <td>{{Text['PROVIDENTFUND'].ENDDATE}}</td> <!--วันที่สิ้นสุด -->
                                                                    <td>{{Text['PROVIDENTFUND'].EFFECTIVEDATE}}</td> <!--วันที่ข้อมูลเริ่มมีผลใช้งาน-->
                                                                    <td ng-bind-html="Text['PROVIDENTFUND'].ENABLEFUND"></td> <!--เปิดให้แก้ไขนโยบายกองทุน-->
                                                                    <td ng-bind-html="Text['PROVIDENTFUND'].ENABLEPERCENTAGE"></td> <!--เปิดให้แก้ไขเปอร์เซ็นต์เงินสะสม-->
                                                                    <td><span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="addNew()"></span></td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="Item in FundPeriodSettingData" ng-show="FundPeriodSettingData.length > 0">
                                                                    <td>
                                                                        <div class="datepicker-height-set" style="width: 135px;">
                                                                            <datepicker date-format="d/M/yyyy" date-set="{{Item.BeginDate}}" data-id="{{Item.SettingID}}" callback-on-change="setSelected(newDate,'BeginDate',Item.SettingID)">
                                                                                <input name="DOB" class="form-control clickable datepicker" type="text" required />
                                                                            </datepicker>
                                                                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:99;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                                                        </div>
                                                                    </td> <!--วันที่เริ่มต้น-->
                                                                    <td>
                                                                        <div class="datepicker-height-set" style="width: 135px;">
                                                                            <datepicker date-format="d/M/yyyy" date-set="{{Item.EndDate}}" data-id="{{Item.SettingID}}" callback-on-change="setSelected(newDate,'EndDate',Item.SettingID)">
                                                                                <input name="DOB" class="form-control clickable datepicker" type="text" required />
                                                                            </datepicker>
                                                                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:99;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                                                        </div>
                                                                    </td> <!--วันที่สิ้นสุด -->
                                                                    <td>
                                                                        <div class="datepicker-height-set" style="width: 135px;">
                                                                            <datepicker date-format="d/M/yyyy" date-set="{{Item.EffectiveDate}}" data-id="{{Item.SettingID}}" callback-on-change="setSelected(newDate,'EffectiveDate', Item.SettingID)">
                                                                                <input name="DOB" class="form-control clickable datepicker" type="text" required />
                                                                            </datepicker>
                                                                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:99;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                                                        </div>
                                                                    </td> <!--วันที่ข้อมูลเริ่มมีผลใช้งาน-->
                                                                    <td style="text-align: center !important;line-height: 2;"><input type="checkbox" ng-model="Item.EnableOption" ng-true-value="1" ng-false-value="0"></td> <!--เปิดให้แก้ไขนโยบายกองทุน-->
                                                                    <td style="text-align: center !important;line-height: 2;"><input type="checkbox" ng-model="Item.EnablePercentage" ng-true-value="1" ng-false-value="0"></td> <!--เปิดให้แก้ไขเปอร์เซ็นต์เงินสะสม-->
                                                                    <td style="text-align: center !important;line-height: 2;" ng-click="remove(Item.SettingID)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </td> <!--ลบข้อมูล-->
                                                                </tr>

                                                                <!--กรณีไม่มีข้อมูล-->
                                                                <tr ng-show="FundPeriodSettingData.length == 0">
                                                                    <td colspan="6" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-btn mobile-text-center">
                                            <button type="submit" class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">  <i class="fas fa-save"></i> {{ Text['SYSTEM']['SAVE'] }}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </md-tab>

                        <!--TAB3-->
                        <!--จัดการ Free Text-->
                        <md-tab class="mt-3" label="{{Text['PROVIDENTFUND'].FREETEXT}}">

                            <div class="row" style="padding-top: 15px;" ng-hide="isHideMultiCompany">
                                <div class="col-sm-2">
                                    <span class="span_name" style="line-height:3;">
                                        {{Text['SYSTEM'].COMPANY}} <span style="color:red;"> *</span>
                                    </span>
                                </div>
                                <div class="col-sm-4">

                                    <div class="form-group">
                                        <select class="form-control" ng-change="changeCompany(ddlCompany)" ng-model="ddlCompany" style="box-shadow: 0 0 0;height: 3rem;border: 2px solid #603913;">
                                            <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div ckeditor="options" ng-model="HtmlEditor" value="HtmlEditor"></div>

                            <div class="-pad10"></div>
                            <div class="item-btn mobile-text-center">
                                <a ng-click="onSubmitTextEditor()">
                                    <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                                        <i class="fas fa-save"></i> {{ Text['SYSTEM']['SAVE'] }}
                                    </div>
                                </a>
                            </div>
                        </md-tab>
                    </md-tabs>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/Javascript">
    function checkDec(el) {
        var ex = /^[0-9 ()\+\-\.]+$/;
        if (ex.test(el.value) == false) {
            el.value = el.value.substring(0, el.value.length - 1);
        }
    }
</script>