﻿<div class="TravelExManPage delegation-page" ng-controller="ProvidentFundContentController" ng-init="init();">

    <div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{Text['PROVIDENTFUND'].PROVIDENTFUNDINFO}}</div> <!--ข้อมูลเกี่ยวกับกองทุนสำรองเลี้ยงชีพ-->
                </div>
            </div>
        </div>
    </div>

    <div class="body_content" style="margin-bottom:0px;">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" style="overflow-x:hidden; padding-bottom:4rem;">
            <div class="-pad10"></div>
            <div class="body_content">
                <div class="bar_bottom layout-padding-md">
                    <md-tabs class="personal_education_Content" md-stretch-tabs="always" md-swipe-content="false" md-no-pagination="false" md-border-bottom="true" md-dynamic-height="true">

                        <!--TAB1-->
                        <!--รายละเอียดกองทุน-->
                        <md-tab class="mt-1" label="{{Text['PROVIDENTFUND'].PROVIDENTFUND}}">
                            <div class="body_content" style="background:white;">
                                <div class="leavetableBlock leavetableBlock_create">


                                    <!--<div class="item-btn mobile-text-center" style="text-align: right;margin-bottom: 5px; margin-right: 15px;padding-top:5px;">
                                        <a class="mt-2" style="display:inline-block" ng-click="CreateNew('701','')" ng-show="ENABLEOPTION">
                                            <div class="itemin_btn ng-binding -tab-org" style="min-width: 100px;text-align: center;">
                                                <span class="icon-doc_pencilp_line" aria-hidden="true"></span> {{Text['PROVIDENTFUND'].EDIT_1}}
                                            </div>
                                            <md-tooltip md-direction="buttom" class="em-font-17">
                                                {{Text['PROVIDENTFUND'].EDIT_1}}
                                            </md-tooltip>
                                        </a>

                                        <a class="mt-2" style="display:inline-block" ng-click="CreateNew('703','')" ng-show="ENABLEPERCENTAGE">
                                            <div class="itemin_btn ng-binding -tab-org" style="text-align: right;min-width: 100px;text-align: center;">
                                                <span class="icon-doc_pencilp_line" aria-hidden="true"></span> {{Text['PROVIDENTFUND'].EDIT_2}}
                                            </div>
                                            <md-tooltip md-direction="buttom" class="em-font-17">
                                                {{Text['PROVIDENTFUND'].EDIT_2}}
                                            </md-tooltip>
                                        </a>
                                    </div>-->



                                    <div class="item-btn mobile-text-center" style="text-align: right;margin-bottom: 5px; margin-right: 15px;padding-top:5px;" ng-repeat="Item in CheckPeriod">
                                        <a class="mt-2" style="display:inline-block" ng-click="CreateNew('701','EDIT|'+Item.EffectiveDate)" ng-show="Item.EnableOption == 1">
                                            <div class="itemin_btn ng-binding -tab-org" style="min-width: 100px;text-align: center;">
                                                <span class="icon-doc_pencilp_line" aria-hidden="true"></span> {{Text['PROVIDENTFUND'].EDIT_1}}
                                            </div>
                                            <md-tooltip md-direction="buttom" class="em-font-17">
                                                {{Text['PROVIDENTFUND'].EDIT_1}}
                                            </md-tooltip>
                                        </a>
                                        <a class="mt-2" style="display:inline-block" ng-click="CreateNew('703','EDIT|'+Item.EffectiveDate)" ng-show="Item.EnablePercentage == 1">
                                            <div class="itemin_btn ng-binding -tab-org" style="text-align: right;min-width: 100px;text-align: center;">
                                                <span class="icon-doc_pencilp_line" aria-hidden="true"></span> {{Text['PROVIDENTFUND'].EDIT_2}}
                                            </div>
                                            <md-tooltip md-direction="buttom" class="em-font-17">
                                                {{Text['PROVIDENTFUND'].EDIT_2}}
                                            </md-tooltip>
                                        </a>
                                    </div>

                                    <div class="row itemlist_block">
                                        <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                            <div class="row itemlist">
                                                <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                                    <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                        <thead>
                                                            <tr style="vertical-align:middle; text-align:center;">
                                                                <td>{{Text['PROVIDENTFUND'].FUND}}</td> <!--นโยบายการลงทุน-->
                                                                <td>{{Text['PROVIDENTFUND'].EMPLOYEEPERCENTAGE}}</td> <!--% เงินสะสมของพนักงาน เปลี่ยนเป็น อัตราเงินสะสม-->
                                                                <td>{{Text['PROVIDENTFUND'].EMPLOYERPERCENTAGE}}</td> <!--% เงินสมทบของบริษัท-->
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>{{Text['PROVIDENTFUND'][FUNDPATTERN]}}</td>
                                                                <td>{{ProvidentFund.EmployeePercentage | number : 2}}%</td>
                                                                <td>{{ProvidentFund.EmployerPercentage | number : 2}}%</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="contentHead" ng-show="TEXTProvidentFundDetail.length > 0">
                                    <div class="bar-content" id="sticky_main_bar">
                                        <div class="row bar_title" style="background-color: #867353 !important;">
                                            <div class="col-md-12">
                                                <div class="bar_left ng-binding" style="font-size: 1.2rem;margin: .8rem auto 0 !important">{{Text['PROVIDENTFUND'].PR}}</div> <!--ประชาสัมพันธ์-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top: 25px;"></div>
                                <div ng-repeat="item in TEXTProvidentFundDetail" ng-show="TEXTProvidentFundDetail.length > 0 ">
                                    <div ng-bind-html="item.Value"></div>
                                </div>
                            </div>
                        </md-tab>

                        <!--TAB2-->
                        <!--รายละเอียดผู้รับผลประโยชน์-->
                        <md-tab class="mt-2" label="{{Text['PROVIDENTFUND'].PROVIDENTMEMBERDATA}}">

                            <div class="item-btn mobile-text-center" style="margin-bottom: 5px; margin-right: 15px;padding-top:5px;">
                                <!--Edit-->
                                <a ng-click="CreateNew('702','')" ng-show="ProvidentMemberList.length > 0">
                                    <div class="itemin_btn ng-binding -tab-org" style="min-width: 100px;text-align: center;">
                                        <span class="icon-doc_pencilp_line" aria-hidden="true"></span> {{Text['PROVIDENTFUND'].EDIT}}
                                    </div>
                                    <md-tooltip md-direction="buttom" class="em-font-17">
                                        {{Text['PROVIDENTFUND'].EDIT}}
                                    </md-tooltip>
                                </a>

                                <!--Add-->
                                <a ng-click="CreateNew('702','')" ng-show="ProvidentMemberList.length == 0">
                                    <div class="itemin_btn ng-binding" style="min-width: 100px;text-align: center;">
                                        <span class="icon-doc_pencilp_line" aria-hidden="true"></span> {{Text['PROVIDENTFUND'].ADD}}
                                    </div>
                                    <md-tooltip md-direction="buttom" class="em-font-17">
                                        {{Text['PROVIDENTFUND'].ADD}}
                                    </md-tooltip>
                                </a>
                            </div>

                            <div class="body_content" style="background:white;" ng-show="ProvidentMemberList.length > 0">
                                <div class="bar_bottom layout-padding-md">
                                    <div class="bar_bottom layout-padding-md">
                                        <md-tabs class="personal_family_Content" md-stretch-tabs="always" md-swipe-content="false" md-no-pagination="false" md-border-bottom="true" md-dynamic-height="true">
                                            <md-tab class="mt-1" label="{{Text[Textcategory].PROVIDENTFUNDMEMBER}} {{member.ChildNo}}" ng-repeat="member in ProvidentMemberList">
                                                <div class="body_content" style="background:white;">
                                                    <div class="leavetableBlock leavetableBlock_create">
                                                        <div class="row itemlist_block">
                                                            <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="row">
                                                                        <div class="col-sm-5">
                                                                            <span class="span_name">{{Text[Textcategory].TITLENAME}}</span>
                                                                        </div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.TitleName">{{TITLENAME[member.TitleName]}}</div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.TitleName">-</div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-5">
                                                                            <span class="span_name">{{Text[Textcategory].NAME}}</span>
                                                                        </div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.Name">{{member.Name}}</div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.Name">-</div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-5">
                                                                            <span class="span_name">
                                                                                {{Text[Textcategory].SURNAME}}
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.Surname">{{member.Surname}}</div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.Surname">-</div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-5">
                                                                            <span class="span_name">
                                                                                {{Text[Textcategory].BIRTHDATE}}
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.BirthDate">{{(member.BirthDate | date:"dd/MM/yyyy")}}</div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.BirthDate">-</div>
                                                                    </div>
                                                                    <!--<div class="row">
                                                                        <div class="col-sm-5">
                                                                            <span class="span_name">
                                                                                {{Text[Textcategory].BIRTHPLACE}}
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.BirthPlace">{{member.BirthPlace}}</div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.BirthPlace">-</div>
                                                                    </div>-->
                                                                    <div class="row">
                                                                        <div class="col-sm-5">
                                                                            <span class="span_name">
                                                                                {{Text[Textcategory].COUNTRYBIRTH}}
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.CityOfBirth">{{COUNTRY[member.CityOfBirth]}}</div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.CityOfBirth">-</div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-5">
                                                                            <span class="span_name">
                                                                                {{Text[Textcategory].NATIONALITY}}
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.Nationality">{{NATIONALITY[member.Nationality]}}</div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.Nationality">-</div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-5">
                                                                            <span class="span_name">
                                                                                {{Text[Textcategory].FamAddress}}
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.Address">{{member.Address}}</div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.Address">-</div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-5">
                                                                            <span class="span_name">
                                                                                {{Text[Textcategory].FamStreet}}
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.Street">{{member.Street}}</div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.Street">-</div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-5">
                                                                            <span class="span_name">
                                                                                {{Text[Textcategory].FamDistrict}}
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.District">{{member.District}}</div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.District">-</div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-5">
                                                                            <span class="span_name">
                                                                                {{Text[Textcategory].FamCity}}
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.City">{{member.City}}</div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.City">-</div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-5">
                                                                            <span class="span_name">
                                                                                {{Text[Textcategory].FamPostcode}}
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.Postcode">{{member.Postcode}}</div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.Postcode">-</div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-5">
                                                                            <span class="span_name">
                                                                                {{Text[Textcategory].FamCountry}}
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.Country">{{COUNTRY[member.Country]}}</div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.Country">-</div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-5">
                                                                            <span class="span_name">
                                                                                {{Text[Textcategory].FamTelNo}}
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.TelephoneNo">{{member.TelephoneNo}}</div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.TelephoneNo">-</div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-5">
                                                                            <span class="span_name">
                                                                                {{Text[Textcategory].PERCENTBENEFIT}}
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="member.Employer">{{member.Employer}}</div>
                                                                        <div class="col-sm-7 breakword-100px em-font-17" ng-if="!member.Employer">0</div>
                                                                    </div>

                                                                    <div class="row" ng-if="DictFileAttachmentList[member.FamilyMember+member.ChildNo].length > 0">
                                                                        <div class="document-attachment">
                                                                            <div class="panel panel-default">
                                                                                <div class="panel-heading">
                                                                                    {{Text['SYSTEM']['ATTACHMENT']}}
                                                                                </div>
                                                                                <div class="panel-body document-heading-description" style="word-wrap: break-word;">
                                                                                    <div ng-repeat="attachment in DictFileAttachmentList[member.FamilyMember+member.ChildNo]" style="line-height:30px">
                                                                                        <a style="cursor:pointer" ng-click="getFileAttach(attachment.FileSetID, attachment.FileID)" ng-if="attachment.FilePath == null">{{$index + 1}}. {{attachment.FileName}}</a>
                                                                                        <a style="cursor:pointer" ng-click="getFileFromPath(attachment)" ng-if="attachment.FilePath != null">{{$index + 1}}. {{attachment.FileName}}</a>
                                                                                    </div>
                                                                                    <div class="clearfix"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </md-tab>
                                        </md-tabs>
                                    </div>
                                </div>
                            </div>
                        </md-tab>

                        <!--TAB3-->
                        <!--อัตราผลตอบแทน-->
                        <md-tab class="mt-3" label="{{Text['PROVIDENTFUND'].REWARD}}">
                            <div class="body_content" style="background:white;">

                                <div class="search-years">
                                    <div class="col-xs-7 ">
                                        <span style="font-weight: 600;"> {{Text['PROVIDENTFUND'].REWARD}} {{Text['PROVIDENTFUND'].YEARS}}:</span>
                                    </div>
                                    <div class="col-xs-5">
                                        <select class="form-control" ng-change="filterYear(prop.value)" ng-model="prop.value" ng-options="v for v in prop.values" style="box-shadow: 0 0 0;height: 2rem;border: 2px solid #603913;"></select>
                                    </div>
                                    <div style="padding: 25px;"></div>
                                </div>

                                <!--กราฟ-->
                                <!--<div style="width: 70%;margin: 20px auto;" ng-show="FundQuarterData.length > 0 ">
                                    <canvas id="line" class="chart chart-line"
                                            chart-data="data"
                                            chart-labels="labels"
                                            chart-legend="true"
                                            chart-series="series"
                                            chart-options="options"
                                            chart-dataset-override="colors"></canvas>
                                </div>-->


                                <div class="chart_view_provident" ng-show="FundQuarterData.length > 0 ">
                                    <canvas id="line" class="chart chart-line"
                                            chart-data="data"
                                            chart-labels="labels"
                                            chart-legend="true"
                                            chart-series="series"
                                            chart-colors="colors"
                                            chart-options="options"
                                            chart-dataset-override="datasetOverride"></canvas>
                                </div>


                            </div>

                            <!--PROVIDENTFUNDNAME-->
                            <div class="body_content" style="background:white;">
                                <div class="leavetableBlock leavetableBlock_create">
                                    <div class="row itemlist_block">
                                        <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                            <div class="row itemlist">
                                                <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                                    <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                        <thead>
                                                            <tr style="vertical-align:middle; text-align:center;">
                                                                <td>{{Text['PROVIDENTFUND'].PROVIDENTFUNDNAME}}</td> <!--Description-->
                                                                <td>{{Text['PROVIDENTFUND'].QUARTER1}}</td> <!--Quarter1-->
                                                                <td>{{Text['PROVIDENTFUND'].QUARTER2}}</td> <!--Quarter2-->
                                                                <td>{{Text['PROVIDENTFUND'].QUARTER3}}</td> <!--Quarter3-->
                                                                <td>{{Text['PROVIDENTFUND'].QUARTER4}}</td> <!--Quarter4-->
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="Item in FundQuarterData track by $index" ng-show="FundQuarterData.length > 0 ">
                                                                <td><span class="circle" style="background: {{Text['PROVIDENTFUND']['COLOR'+ ($index + 1)]}};color: {{Text['PROVIDENTFUND']['COLOR'+ ($index + 1)]}};">000</span>{{Text['PROVIDENTFUND'][Item.FundID]}}</td>
                                                                <td>{{Item.Quarter1 | currency : "": 2}}</td>
                                                                <td>{{Item.Quarter2 | currency : "": 2}}</td>
                                                                <td>{{Item.Quarter3 | currency : "": 2}}</td>
                                                                <td>{{Item.Quarter4 | currency : "": 2}}</td>
                                                            </tr>

                                                            <tr ng-show="FundQuarterData.length == 0">
                                                                <td colspan="5" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </md-tab>
                    </md-tabs>


                    <div class="row" style="padding-top: 15px;">
                        <div class="col-sm-12">
                            <ul>
                                <li>
                                    <i ng-if="Text['PROVIDENTFUND'].USERMANUALSUB1" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                    <a ng-href={{Text['PROVIDENTFUND'].LINKUSERMANUAL1}} target="_blank" style="text-decoration:underline">{{Text['PROVIDENTFUND'].USERMANUALSUB1 }}</a>
                                </li>
                                <li>
                                    <i ng-if="Text['PROVIDENTFUND'].USERMANUALSUB2" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                    <a ng-href={{Text['PROVIDENTFUND'].LINKUSERMANUAL2}} target="_blank" style="text-decoration:underline">{{Text['PROVIDENTFUND'].USERMANUALSUB2 }}</a>
                                </li>
                                <li>
                                    <i ng-if="Text['PROVIDENTFUND'].USERMANUALSUB3" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                    <a ng-href={{Text['PROVIDENTFUND'].LINKUSERMANUAL3}} target="_blank" style="text-decoration:underline">{{Text['PROVIDENTFUND'].USERMANUALSUB3 }}</a>
                                </li>
                                <li>
                                    <i ng-if="Text['PROVIDENTFUND'].USERMANUALSUB4" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                    <a ng-href={{Text['PROVIDENTFUND'].LINKUSERMANUAL4}} target="_blank" style="text-decoration:underline">{{Text['PROVIDENTFUND'].USERMANUALSUB4 }}</a>
                                </li>
                                <li>
                                    <i ng-if="Text['PROVIDENTFUND'].USERMANUALSUB5" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                    <a ng-href={{Text['PROVIDENTFUND'].LINKUSERMANUAL5}} target="_blank" style="text-decoration:underline">{{Text['PROVIDENTFUND'].USERMANUALSUB5 }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


</div>

<style>
    .circle {
        margin: 5px;
        text-decoration: none;
        display: unset;
        width: 13px;
        height: 20px;
    }
</style>

