﻿
<div class="TravelExManPage delegation-page taxallowancecontent" ng-controller="TaxAllowanceContentController" ng-init="init();">
    <!--ข้อมูลลดหย่อนภาษี-->
    <!--Top bar-->
    <!--<div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{Text['APPLICATION'].PA_INFO_TAX_ALLOWANCE}}</div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Body -->
    <div class="row contentBody forheight leaveBlock_detail" aria-hidden="false" style="padding: 20px 10px 10px 10px; ">
        <div class="bar-content">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left bar_left_single_line">
                        <div class="bar_left-title ng-binding">
                            {{Text[Textcategory].TAXALLOWANCE}} <!--ข้อมูลลดหย่อนภาษี-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body_content" style="background:white;">
            <div class="leavetableBlock leavetableBlock_create">
                <div class="row itemlist_block">
                    <div ng-if="IsShowTimeAwareLink" class="item-btn mobile-text-center" style=" margin-bottom: 40px; margin-left: 15px">
                        <a ng-click="CreateNew('606','')">
                            <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                                <span class="icon-doc_plus" aria-hidden="true"></span> {{Text[Textcategory].EDIT}}
                            </div>
                            <md-tooltip md-direction="buttom" class="em-font-15">
                                {{Text[Textcategory].EDIT}}
                            </md-tooltip>
                        </a>
                    </div>
                    <div class="ag-flex-row ag-align-center" style="    padding-top: 1rem; padding-bottom: 1rem;">
                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].CLAIMTYPE}}<!---สถานภาพสมรส-->
                                    </span>
                                </div>
                                <div class="col-sm-9 breakword-100px em-font-15">
                                    {{ClaimTypeName}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].CHDALLOW}} <!--- จำนวนบุตรที่ขอลดหย่อนภาษี-->
                                    </span>
                                </div>
                                <div class="col-sm-9 breakword-100px em-font-15">
                                    {{TaxAllowanceData.ChdAllow}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].CHDDISALLOW}} <!--- จำนวนบุตรพิการที่ขอลดหย่อนภาษี-->
                                    </span>
                                </div>
                                <div class="col-sm-9 breakword-100px em-font-15">
                                    {{TaxAllowanceData.ChdDisAllow}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].SPOUSEINS}} <!--- เบี้ยประกันชีวิตคู่สมรส-->
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-15">
                                    {{TaxAllowanceData.SpouseIns | number : 2}}
                                </div>
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].PENSIONFUNDINVESTMENT}} <!--- เงินกองทุนบำนาญ-->
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-15">
                                    {{TaxAllowanceData.PensionFundInvestment |  number : 2}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].MORTGAGE}} <!--- ดอกเบี้ยเช่าซื้อที่อยู่อาศัย-->
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-15">
                                    {{TaxAllowanceData.Mortgage | number : 2}}
                                </div>
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].MFUND}} <!--- กองทุนเพื่อการเลี้ยงชีพ RMF-->
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-15">
                                    {{TaxAllowanceData.MFund | number : 2}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].CHARITY}} <!---  เงินบริจาค-->
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-15">
                                    {{TaxAllowanceData.Charity | number : 2}}
                                </div>
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].CHARITYEDU}} <!--- เงินบริจาคเพื่อการศึกษา-->
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-15">
                                    {{TaxAllowanceData.CharityEdu | number : 2}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].LIFEINS}} <!--- เบี้ยประกันชีวิต-->
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-15">
                                    {{TaxAllowanceData.LifeIns | number : 2}}
                                </div>
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].LONGTERM}} <!--- เปลี่ยนจาก LTF เป็น SSF-->
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-15">
                                    {{TaxAllowanceData.LongTerm | number : 2}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].ALLOWFATHER}} <!--- ลดหย่อนเลี้ยงดูบิดา-->
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-15">
                                    {{TaxAllowanceData.AllowFather | number : 2}}
                                </div>
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].ALLOWMOTHER}} <!---ลดหย่อนเลี้ยงดูมารดา-->
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-15">
                                    {{TaxAllowanceData.AllowMother | number : 2}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].SPALLOWFATHER}} <!--- ลดหย่อนเลี้ยงดูบิดาคู่สมรส-->
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-15">
                                    {{TaxAllowanceData.SpAllowFather | number : 2}}
                                </div>
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].SPAlLOWMOTHER}} <!---ลดหย่อนเลี้ยงดูมารดาคู่สมรส-->
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-15">
                                    {{TaxAllowanceData.SpAllowMother | number : 2}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].FATHERINS}} <!--- ลดหย่อนเบี้ยประกันบิดา-->
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-15">
                                    {{TaxAllowanceData.FatherIns | number : 2}}
                                </div>
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].MOTHERINS}} <!--- ลดหย่อนเบี้ยประกันมารดา-->
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-15">
                                    {{TaxAllowanceData.MotherIns | number : 2}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].SPFATHERINS}} <!---ลดหย่อนเบี้ยประกันบิดาคู่สมรส-->
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-15">
                                    {{TaxAllowanceData.SpFatherIns | number : 2}}
                                </div>
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].SPMOTHERINS}} <!--- ลดหย่อนเบี้ยประกันมารดาคู่สมรส-->
                                    </span>
                                </div>
                                <div class="col-sm-3 breakword-100px em-font-15">
                                    {{TaxAllowanceData.SpMotherIns | number : 2}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].LIFEINSURANCEPENSION}} <!--- ประกันชีวิตแบบบำนาญ-->
                                    </span>
                                </div>
                                <div class="col-sm-9 breakword-100px em-font-15">
                                    {{TaxAllowanceData.LifeInsurancePension | number : 2}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        <a ng-href="{{LinkTAXDEDUCTIONWEB}}" target="_blank" style="color:Blue; text-decoration:underline">{{Text[Textcategory].TAXDEDUCTION}}</a> <br />
                                    </span>
                                </div>
                                <div class="col-sm-9 breakword-100px em-font-15">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .box-content {
        min-height: 50px;
        border: solid 1px rgb(203, 203, 203);
        padding: 10px;
        border-radius: 2.5px;
        position: relative;
    }

    .delegation-page td {
        vertical-align: middle !important;
    }

    @media only screen and (min-width: 992px) {
        .fix-min-delegate-date-box {
            min-width: 415px;
        }
    }

    .bar_searchactive {
        margin-top: 0 !important;
    }

    .bar_search {
        height: 5rem;
        margin-top: -5rem;
    }

    md-dialog-content p {
        font-size: 20px;
    }

    .faa-shake.animated {
        -webkit-animation: none !important;
        animation: none !important;
    }
</style>
