﻿<div class="TravelExManPage delegation-page" ng-controller="TaxReportContentController" ng-init="init();">

    <!-- After -->
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['TAXREPORT']['TAXREPORT']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="filter-export-box clearfix margin-b20">
                        <div class="filter-items-l clearfix">
                            <div class="f-item">
                                <label>{{Text['TAXREPORT']['SELECTYEAR']}} : </label>
                                <select class="form-control w100px-desktop" ng-model="ddlYear" ng-change="GetListPayslipPeriodSetting()">
                                    <option value="{{item}}" ng-repeat="item in YearsList">{{item}}</option>
                                </select>
                            </div>

                            <div class="f-item">
                                <!--<a class="m-btn-c2 btn-s-md" ng-click="openModalPincode()">
                                    <span class=""><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;{{Text['TAXREPORT']['VIEWREPORT']}} </span>
                                </a>-->
                                <a class="m-btn-c2 btn-s-md" ng-click="promtDialogPincode()">
                                    <span class=""><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;{{Text['TAXREPORT']['VIEWREPORT']}} </span>
                                </a>
                            </div>
                        </div>
                        <div class="filter-items-r" ng-if="TaxReportData.length > 0">
                            <a class="m-btn-c1 btn-s-md" ng-click="GetTaxReportExport('PDF')">
                                <span class="">
                                    <i class="fa fa-download"></i>&nbsp;&nbsp;&nbsp;{{Text['BENEFITREPORT']['DOWNLOADPDF']}}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="TaxReportData.length > 0">
                <div class="col-sm-12">
                    <div class="sub-title">{{Text['TAXREPORT']['DESCRIPTION_TAX']}}&nbsp;({{TaxReportData[0].year}})</div>
                </div>
            </div>
            <div class="row" ng-if="TaxReportData.length > 0">
                <div class="col-sm-12 col-md-3">
                    <div class="title-header-mini color-main">{{Text['TAXREPORT']['NAME']}}</div>
                    <div class="text-basic-md">{{employeeData.Name}}</div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="title-header-mini color-main">{{Text['TAXREPORT']['ADDRESS']}}</div>
                    <div class="text-basic-md">{{TaxReportData[0].empAddress}} {{TaxReportData[0].empStreet}} {{TaxReportData[0].empProvince}} {{TaxReportData[0].empPostCode}}</div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="title-header-mini color-main">{{Text['TAXREPORT']['EMPLOYEETAXNO']}}</div>
                    <div class="text-basic-md">{{TaxReportData[0].employeeTaxNo}}</div>
                </div>
            </div>
            <div class="row" ng-if="TaxReportData.length > 0">
                <div class="col-sm-12 col-md-2">
                    <div class="title-header-mini color-main">{{Text['TAXREPORT']['TAXYEAR']}}</div>
                    <div class="text-basic-md">{{TaxReportData[0].year}}</div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="title-header-mini color-main">{{Text['TAXREPORT']['INCOME']}}</div>
                    <div class="text-basic-md">{{TaxReportData[0].income | number : 2}}</div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="title-header-mini color-main">{{Text['TAXREPORT']['TAX']}}</div>
                    <div class="text-basic-md">{{TaxReportData[0].tax | number : 2}}</div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <p class="title-header-mini color-main">{{Text['TAXREPORT']['PFAMOUNT']}}</p>
                    <div class="text-basic-md">{{TaxReportData[0].pfAmount | number : 2}}</div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="title-header-mini color-main">{{Text['TAXREPORT']['SSAMOUNT']}}</div>
                    <div class="text-basic-md">{{TaxReportData[0].ssAmount | number : 2}}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Before -->
    <!--<div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{Text['TAXREPORT']['TAXREPORT']}}</div>
                </div>
            </div>
        </div>
    </div>-->
    <!--<div class="body_content" style="margin-bottom:0px;">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" style="overflow-x:hidden; padding-bottom:4rem;">
            <div class="-pad10"></div>
            <div class="body_content">
                <div class="bar_bottom layout-padding-md">
                    <div class="body_content" style="background:white;min-height: 100vh;overflow-y: auto;">
                        <div class="leavetableBlock leavetableBlock_create">
                            <div class="search-years">
                                <div class="col-xs-3">
                                    <span style="font-weight: 600;">{{Text['TAXREPORT']['SELECTYEAR']}}</span>
                                </div>
                                <div class="col-xs-9">
                                    <select class="form-control" ng-model="ddlYear" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 120px; font-size: 15px; cursor: pointer; margin: 0px;">
                                        <option value="{{item}}" ng-repeat="item in YearsList">{{item}}</option>
                                    </select>
                                </div>
                                <div style="padding: 25px;"></div>
                            </div>


                            <div class="search-years">
                                <div class="col-xs-3">
                                    <span style="font-weight: 600;">{{Text['TAXREPORT']['PINCODE']}}</span>
                                </div>
                                <div class="col-xs-9">
                                    <input type="password" maxlength="20" style="width:120px;" ng-model="OldPinCode">
                                </div>
                                <div style="padding: 25px;"></div>
                            </div>
                            <div class="search-years" ng-if="MsgValidate!=''">
                                <div class="col-xs-12">
                                    <span style="font-weight: 600;">{{MsgValidate}}</span>
                                </div>
                                <div style="padding: 25px;"></div>
                            </div>
                            <div class="item-btn mobile-text-center">
                                <a ng-click="onLoadTaxReport()">
                                    <div class="itemin_btn ng-binding">
                                        <i class="fas fa-search"></i> {{Text['TAXREPORT']['VIEWREPORT']}}
                                    </div>
                                </a>
                            </div>
                            <br>
                            <div class="item-btn mobile-text-center" ng-if="TaxReportData.length > 0 && MsgValidate==''">
                                <a ng-click='GetTaxReportExport("PDF")'>
                                    <div class="itemin_btn ng-binding">
                                        <i class="fas fa-file-pdf"></i> <span>{{Text['BENEFITREPORT']['DOWNLOADPDF']}}</span>
                                    </div>
                                </a>
                            </div>
                            <div class="body_content" style="background:white;" ng-if="TaxReportData.length > 0 && MsgValidate==''">
                                <div class="leavetableBlock leavetableBlock_create">
                                    <div class="row itemlist_block">

                                        <div ng-if="TaxReportData.length > 0" class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                                            <div class="col-md-12 col-sm-12 col-xs-12 ">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <span class="span_name">
                                                            {{Text['TAXREPORT']['NAME']}}
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-3 breakword-100px em-font-17">
                                                        {{employeeData.Name}}
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <span class="span_name">
                                                            {{Text['TAXREPORT']['ADDRESS']}}
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-3 breakword-100px em-font-17">
                                                        {{TaxReportData[0].empAddress}} {{TaxReportData[0].empStreet}} {{TaxReportData[0].empProvince}} {{TaxReportData[0].empPostCode}}
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <span class="span_name">
                                                            {{Text['TAXREPORT']['ORDER']}}
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-3 breakword-100px em-font-17" ng-show="TaxReportData[0].order!=''">
                                                        {{TaxReportData[0].order}}
                                                    </div>
                                                    <div class="col-sm-3 breakword-100px em-font-17" ng-hide="TaxReportData[0].order!=''">
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <span class="span_name">
                                                            {{Text['TAXREPORT']['EMPLOYEETAXNO']}}
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-3 breakword-100px em-font-17">
                                                        {{TaxReportData[0].employeeTaxNo}}
                                                    </div>


                                                    <div class="col-sm-3">
                                                        <span class="span_name">
                                                            {{Text['TAXREPORT']['TAXYEAR']}}
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-3 breakword-100px em-font-17">
                                                        {{TaxReportData[0].year}}
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <span class="span_name">
                                                            {{Text['TAXREPORT']['INCOME']}}
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-3 breakword-100px em-font-17">
                                                        {{TaxReportData[0].income | number : 2}}
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <span class="span_name">
                                                            {{Text['TAXREPORT']['TAX']}}
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-3 breakword-100px em-font-17">
                                                        {{TaxReportData[0].tax | number : 2}}
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <span class="span_name">
                                                            {{Text['TAXREPORT']['PFAMOUNT']}}
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-3 breakword-100px em-font-17">
                                                        {{TaxReportData[0].pfAmount | number : 2}}
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <span class="span_name">
                                                            {{Text['TAXREPORT']['SSAMOUNT']}}
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-3 breakword-100px em-font-17">
                                                        {{TaxReportData[0].ssAmount | number : 2}}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div ng-if="TaxReportData.length == 0" class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                                            {{ Text['SYSTEM']['NO_DATA'] }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</div>

<script type="text/ng-template" id="openPincodeTaxRepor.ng-popup.html">
    <div class="modal-header">
        <h3 class="modal-title custom">PINCODE</h3>
        <button type="button" class="close custom" ng-click="closeModal()">&times;</button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <!--<input type="password" ng-class="MsgValidate == ''? 'w-100 input-box font-16': 'w-100 input-box input-error-rq font-16'" placeholder="PINCODE" name="input1" ng-model="OldPinCode">-->
                <input type="password" ng-class="MsgValidate == ''? 'w-100 input-box font-16': 'w-100 input-box input-error-rq font-16'" placeholder="PINCODE" name="input1" ng-model="OldPinCode" dl-enter-key="onRequestNEWPin()" auto-focus>
                <span class="text-un color-danger pull-left" ng-show="MsgValidate != ''">{{Text['TAXREPORT']['PINCODE_NOT_CORRECT']}}</span>
                <a class="text-un color-main pull-right" ng-click="onRequestNEWPin()">{{Text['PAYSLIPDATA']['NEWPINREQUEST']}}</a>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="m-btn-cw btn-s-md" ng-click="closeModal()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Text['ACTION']['CANCEL']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
        <a class="m-btn-co btn-s-md" ng-click="onLoadTaxReport()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Text['SYSTEM']['BUTTON_OK']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>

<script type="text/ng-template" id="alertModalSentPincode.ng-popup.html">
    <div class="modal-body alert1">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <div class="text-center font-18">
                    <svg xmlns="http://www.w3.org/2000/svg" width="57" height="57" viewBox="0 0 57 57">
                        <rect class="a main-color-fill" style="opacity:0;" width="57" height="57" />
                        <path class="b main-color-fill"  d="M42.375,4H9.125A7.125,7.125,0,0,0,2,11.125v23.75A7.125,7.125,0,0,0,9.125,42h33.25A7.125,7.125,0,0,0,49.5,34.875V11.125A7.125,7.125,0,0,0,42.375,4ZM40.784,8.75,25.75,20.031,10.716,8.75Zm1.591,28.5H9.125A2.375,2.375,0,0,1,6.75,34.875V11.719L24.325,24.9a2.375,2.375,0,0,0,2.85,0L44.75,11.719V34.875A2.375,2.375,0,0,1,42.375,37.25Z" transform="translate(2.75 5.5)" />
                    </svg>
                </div>
                <div class="text-center font-18">
                    {{Text['PAYSLIPDATA']['ACTIVATE_MAIL_SENT']}}
                </div>
                <!--<div class="text-center font-18">
                    โปรดตรวจสอบใน E-mail ของท่าน
                </div>-->
            </div>
        </div>
    </div>
    <div class="modal-footer padding-t-none">
        <a class="m-btn-co btn-s-md" ng-click="closeModal()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Text['ACTION']['CANCEL']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>


<script type="text/ng-template" id="alertModalNoData.ng-popup.html">
    <div class="modal-body alert1">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <div class="text-center font-18">
                    <svg xmlns="http://www.w3.org/2000/svg" width="57" height="57" viewBox="0 0 57 57">
                        <rect style="fill: #ed2f2f;opacity:0;" width="57" height="57" />
                        <path style="fill: #ed2f2f;" d="M25.75,2A23.75,23.75,0,1,0,49.5,25.75,23.75,23.75,0,0,0,25.75,2Zm0,42.75a19,19,0,1,1,19-19A19,19,0,0,1,25.75,44.75Z" transform="translate(2.75 2.75)" />
                        <path style="fill: #ed2f2f;" d="M22.569,9.7a2.375,2.375,0,0,0-3.373,0l-3.064,3.088L13.069,9.7A2.385,2.385,0,0,0,9.7,13.069l3.087,3.064L9.7,19.2a2.385,2.385,0,1,0,3.372,3.373l3.064-3.088L19.2,22.569A2.385,2.385,0,1,0,22.569,19.2l-3.088-3.064,3.088-3.064a2.375,2.375,0,0,0,0-3.372Z" transform="translate(12.367 12.367)" />
                    </svg>
                </div>
                <div class="text-center font-18">
                    ไม่พบข้อมูล
                </div>
                <!--<div class="text-center font-18">
                    โปรดตรวจสอบใน E-mail ของท่าน
                </div>-->
            </div>
        </div>
    </div>
    <div class="modal-footer padding-t-none">
        <a class="m-btn-co btn-s-md" ng-click="closeModal()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Text['ACTION']['CANCEL']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>








