﻿<div class="TravelExManPage delegation-page" ng-controller="TaxReportPeriodSettingController" ng-init="init();">


    <!--<div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{Text['PAYSLIPDATA']['50TAVIPERIODSETTING']}}</div>
                </div>
            </div>
        </div>
    </div>-->
    <!--<div class="body_content" style="margin-bottom:0px;">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" style="overflow-x:hidden; padding-bottom:4rem;">
            <div class="-pad10"></div>
            <div class="body_content">
                <div class="bar_bottom layout-padding-md">
                    <div class="body_content" style="background:white;min-height: 100vh;overflow-y: auto;">
                        <div class="leavetableBlock leavetableBlock_create">

                            <div class="row itemlist_block">
                                <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                    <div class="row itemlist">
                                        <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                            <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                <thead>
                                                    <tr style="vertical-align:middle; text-align:center;">
                                                        <td>{{Text['PAYSLIPDATA']['YEAR']}}</td>
                                                        <td>{{Text['PAYSLIPDATA']['ACTIVE']}}</td>
                                                        <td>{{Text['PAYSLIPDATA']['EFFECTIVEDATE']}}</td>
                                                        <td><span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="addNew()"></span></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="Item in TaxReportPeriodSetting | orderBy : ['periodID'] : false" ng-show="TaxReportPeriodSetting.length > 0">
                                                        <td style="vertical-align:middle;">
                                                            <select ng-model="Item.periodYear"
                                                                    ng-init="Item.periodYear = ListYear[getIndex(Item.periodYear)].YearID"
                                                                    ng-options="list.YearID as list.YearName for list in ListYear" style="width: 100px;"></select>

                                                        </td>
                                                        <td style="vertical-align:middle;"><input type="checkbox" ng-model="Item.isActive"></td>
                                                        <td style="vertical-align:middle;">
                                                            <div class="datepicker-height-set" style="width: 150px;">
                                                                <datepicker date-format="d/M/yyyy" date-set="{{Item.effectiveDate}}" data-id="{{Item.periodID}}" callback-on-change="setSelected(newDate,'effectiveDate', Item.periodID)">
                                                                    <input name="DOB" class="form-control clickable datepicker" type="text" required />
                                                                </datepicker>
                                                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:99;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: center !important;line-height: 2;" ng-click="remove(Item.periodID)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </td>
                                                    </tr>

                                                    <tr ng-show="TaxReportPeriodSetting.length == 0">
                                                        <td colspan="4" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-if="MsgSave!=''">
                                <label>{{MsgSave}}</label>
                            </div>
                            <div class="item-btn mobile-text-center">
                                <a ng-click="onSaveSetting()">
                                    <div class="itemin_btn ng-binding">
                                        <i class="fas fa-save"></i> {{ Text['SYSTEM']['SAVE'] }}
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!--<div class="row top-to-menu show-tablet">
        <div class="col-sm-12 lr-0">
            <div class=" clearfix">
                <div class="filter-items-r pull-right">
                    <a class="m-btn-green2 btn-s-md" style="width:90px;" ng-click="onSaveSetting()">
                        <span class="">
                            {{ Text['SYSTEM']['SAVE'] }}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>-->

    <!--<div class="row margin-b10">
        <div class="col-sm-10 lr-0">
            <div class="title-top-page">{{Text['PAYSLIPDATA']['50TAVIPERIODSETTING']}}</div>
        </div>
    </div>-->
    <div class="row margin-b10">
        <div class="col-sm-10">
            <h1>{{Text['PAYSLIPDATA']['50TAVIPERIODSETTING']}}</h1>
        </div>
        <div class="col-sm-2">
            <a class="m-btn-c2 btn-s-md text-center" style="margin-top:10px;" ng-click="back()">
                <span>
                    {{Text['SYSTEM']['BACK']}}
                </span>
            </a>
        </div>
    </div>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['PAYSLIPDATA']['50TAVIPERIODSETTING']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row show-pc">
                <div class="col-sm-12">
                    <div class="clearfix margin-b20">
                        <div class="filter-items-l clearfix" ng-hide="isHideMultiCompany">
                            <div class="f-item">
                                <label>{{Text['SYSTEM']['COMPANY']}} :</label>
                                <select class="form-control w100px-desktop" ng-model="ddlCompany" ng-change="changeCompany(ddlCompany)">
                                    <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="filter-items-r clearfix">
                            <div class="form-group" ng-if="MsgSave!=''">
                                <label>{{MsgSave}}</label>
                            </div>
                            <a class="m-btn-c2 btn-s-md" ng-click="onSaveSetting()">
                                <span class="">
                                    <i class="fas fa-save"></i>&nbsp;&nbsp;{{ Text['SYSTEM']['SAVE'] }}
                                </span>
                            </a>
                        </div>
                    </div>

                    <!--<div class="clearfix margin-b20">
                        <div class="form-group" ng-if="MsgSave!=''">
                            <label>{{MsgSave}}</label>
                        </div>
                        <div class="filter-items-r clearfix">
                            <a class="m-btn-c2 btn-s-md" ng-click="onSaveSetting()">
                                <span class="">
                                    <i class="fas fa-save"></i>&nbsp;&nbsp;{{ Text['SYSTEM']['SAVE'] }}
                                </span>
                            </a>
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="row show-pc">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th style="text-align:center; width:5%">{{Text['PAYSLIPDATA']['YEAR']}}</th>
                            <th style="text-align:center;" width="20%">{{Text['PAYSLIPDATA']['ACTIVE']}}</th>
                            <th style="text-align:center;" width="10%">{{Text['PAYSLIPDATA']['EFFECTIVEDATE']}}</th>
                            <th style="text-align:center;" width="20%">{{Text['PAYSLIPDATA']['SIGNATUREIMAGE']}}</th>
                            <th></th>
                        </tr>

                        <tr ng-repeat="Item in TaxReportPeriodSetting | orderBy : ['periodID'] : false" ng-show="TaxReportPeriodSetting.length > 0">
                            <td>
                                <select ng-model="Item.periodYear" class="form-control margin-t10"
                                        ng-init="Item.periodYear = ListYear[getIndex(Item.periodYear)].YearID"
                                        ng-options="list.YearID as list.YearName for list in ListYear" style="width: 100px;"></select>

                            </td>
                            <td style="text-align:center;"><input type="checkbox" ng-model="Item.isActive"></td>
                            <td style="vertical-align:middle; text-align: center;">
                                <div class="datepicker-height-set" style="width: 150px;">
                                    <datepicker date-format="d/M/yyyy" class="r-0" date-set="{{Item.effectiveDate}}" data-id="{{Item.periodID}}" callback-on-change="setSelected(newDate,'effectiveDate', Item.periodID)">
                                        <input name="DOB" class="form-control clickable datepicker" type="text" required />
                                    </datepicker>
                                    <i class="icon-calendar ico_datestart -txt-blue" style="z-index:5;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                </div>
                            </td>
                            <td style="text-align: center;">
                                <ng-container ng-if="Item.signatureImageBase64">
                                    <img src="{{Item.signatureImageBase64}}" style="height:40px; margin-top:5px; margin-bottom:5px;" />
                                </ng-container>
                            </td>
                            <td style="text-align: right;">
                                <ng-container ng-if="Item.signatureImageBase64">
                                    <a ng-click="reloadSelect($index)" style="margin-right:50px;"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></a>
                                </ng-container>
                                <input name="uploadInput" type="file" style="display:none;">
                                <ng-container ng-if="!Item.signatureImageBase64">
                                    <a ng-click="uploadSelect($index)" style="margin-right:50px;"><span class="glyphicon glyphicon-open" aria-hidden="true"></span></a>
                                </ng-container>
                                <ng-container ng-if="Item.signatureImageBase64">
                                    <a ng-click="downloadSelect($index)" style="margin-right:50px;"><span class="glyphicon glyphicon-save" aria-hidden="true"></span></a>
                                </ng-container>
                                <a ng-click="remove(Item.periodID)" style="margin-right:50px;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row show-tablet">
                <div class="col-sm-12">
                    <div class="clearfix margin-b20" ng-hide="isHideMultiCompany">
                        <div class="filter-items-l clearfix">
                            <div class="f-item">
                                <label>{{Text['SYSTEM']['COMPANY']}} :</label>
                                <select class="form-control w100px-desktop" ng-model="ddlCompany" ng-change="changeCompany(ddlCompany)">
                                    <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix margin-b20">
                        <div class="form-group" ng-if="MsgSave!=''">
                            <label>{{MsgSave}}</label>
                        </div>
                        <div class="filter-items-r clearfix">
                            <a class="m-btn-c2 btn-s-md" ng-click="onSaveSetting()">
                                <span class="">
                                    <i class="fas fa-save"></i>&nbsp;&nbsp;{{ Text['SYSTEM']['SAVE'] }}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row show-tablet">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">

                            <th style="width:40px;padding: 9px 10px!important;">
                                <!--<input type="checkbox">-->
                            </th>
                            <th class="text-center">{{Text['PAYSLIPDATA']['YEAR']}}</th>
                            <th class="text-center">{{Text['PAYSLIPDATA']['EFFECTIVEDATE']}}</th>
                            <th style="width:40px;padding: 9px 10px!important;"></th>
                        </tr>

                        <tr ng-repeat="Item in TaxReportPeriodSetting | orderBy : ['periodID'] : false" ng-show="TaxReportPeriodSetting.length > 0">
                            <td style="text-align:center;padding: 5px;"><input type="checkbox" ng-model="Item.isActive"></td>
                            <td style="padding: 5px;">
                                <select ng-model="Item.periodYear" class="form-control"
                                        ng-init="Item.periodYear = ListYear[getIndex(Item.periodYear)].YearID"
                                        ng-options="list.YearID as list.YearName for list in ListYear" style="width: 100px;"></select>

                            </td>

                            <td style="padding: 5px;">
                                <div class="datepicker-height-set">
                                    <datepicker date-format="d/M/yyyy" class="r-0" date-set="{{Item.effectiveDate}}" data-id="{{Item.periodID}}" callback-on-change="setSelected(newDate,'effectiveDate', Item.periodID)">
                                        <input name="DOB" class="form-control clickable datepicker" type="text" required />
                                    </datepicker>
                                    <i class="icon-calendar ico_datestart -txt-blue" style="z-index:5;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                </div>
                            </td>
                            <td style="padding: 5px;" class="text-center">
                                <a ng-click="remove(Item.periodID)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
                <div class="row" style="min-height:300px;">
                    <div class="col-sm-12">
                        <div class=" clearfix margin-t10">
                            <div class="filter-items-r pull-right">
                                <a class="m-btn-c2 btn-s-md" style="width:150px;" ng-click="addNew()">
                                    <span class="">
                                        <i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;&nbsp;{{Text['SYSTEM']['ADD']}}
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<script type="text/ng-template" id="completeModalPincode.ng-popup.html">
    <div class="modal-body alert1">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <div class="text-center font-18 margin-b20">
                    <img src="./images/1580967061551.jpg" width="60" />
                </div>
                <div class="text-center font-18">
                    {{msg_result}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer padding-t-none">
        <a class="m-btn-co btn-s-md" ng-click="closeModal()">
            <span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{Text}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>
