﻿<div class="TravelExManPage delegation-page" ng-controller="TimeAwareLinkSettingController" ng-init="init();">

    <div class="row">
        <div class="col-sm-10">
            <h1>{{Text['PROVIDENTFUND']['SETUPTIMEAWARELINK']}}</h1>
        </div>
        <div class="col-sm-2">
            <a class="m-btn-c2 btn-s-md text-center" style="margin-top:10px;" ng-click="back()">
                <span>
                    {{Text['SYSTEM']['BACK']}}
                </span>
            </a>
        </div>
    </div>

    <div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{Text['TIMEAWARELINK'].SETUPTIMEAWARELINK}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="body_content" style="margin-bottom:0px;">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" style="overflow-x:hidden; padding-bottom:4rem;">
            <div class="-pad10"></div>
            <div class="body_content">
                <div class="bar_bottom layout-padding-md">
                    <div class="body_content" style="background:white;min-height: 100vh;overflow-y: auto;">
                        <div class="leavetableBlock leavetableBlock_create">
                            <div class="row itemlist_block">
                                <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                    <div class="row itemlist">
                                        <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">

                                            <div class="col-sm-12" ng-hide="isHideMultiCompany">
                                                <div class="clearfix margin-b20">
                                                    <div class="filter-items-l clearfix">
                                                        <div class="f-item">
                                                            <label>{{Text['SYSTEM']['COMPANY']}} :</label>
                                                            <select class="form-control w100px-desktop" ng-model="ddlCompany" ng-change="changeCompany(ddlCompany)">
                                                                <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                <thead>
                                                    <tr style="vertical-align:middle; text-align:center;">
                                                        <td>{{Text['TIMEAWARELINK'].DESCRIPTION}}</td>
                                                        <td>{{Text['TIMEAWARELINK'].BEGINDATE}}</td>
                                                        <td>{{Text['TIMEAWARELINK'].ENDDATE}}</td>
                                                        <td>{{Text['TIMEAWARELINK'].LASTACTIONBY}}</td>
                                                        <td>{{Text['TIMEAWARELINK'].LASTACTIONDATE}}</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="Item in TimeAwareLinkData_New" ng-show="TimeAwareLinkData_New.length > 0">
                                                        <td ng-model="Item.LinkID" style="vertical-align:middle;">{{Item.Description}}</td>
                                                        <td><input type="text" maxlength="10" style="width:80px;" class="center-block" ng-model="Item.BeginDate"></td>
                                                        <td><input type="text" maxlength="10" style="width:80px;" class="center-block" ng-model="Item.EndDate"></td>
                                                        <td style="vertical-align:middle;">{{Item.LastActionBy}}</td>
                                                        <td style="vertical-align:middle;">{{Item.LastActionDate | date :  "dd/MM/y"}}</td>
                                                    </tr>

                                                    <!--กรณีไม่มีข้อมูล-->
                                                    <tr ng-show="TimeAwareLinkData_New.length == 0">
                                                        <td colspan="4" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item-btn mobile-text-center">
                                <a ng-click="onSubmit()">
                                    <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                                        <i class="fas fa-save"></i> {{ Text['SYSTEM']['SAVE'] }}
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/Javascript">
    function checkDec(el) {
        var ex = /^[0-9 ()\+\-\.]+$/;
        if (ex.test(el.value) == false) {
            el.value = el.value.substring(0, el.value.length - 1);
        }
    }
</script>