﻿<div class="TravelExManPage delegation-page" ng-controller="VerifyPincodeController" ng-init="init();">
    <div class="row margin-b10">
        <div class="col-sm-10 lr-0">
            <div class="title-top-page">จดหมายแจ้งผลประเมินการปฏิบัติงาน</div>
        </div>
    </div>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                จดหมายแจ้งผลประเมินการปฏิบัติงาน
            </div>
        </div>
        <!--<pre>{{link_path | json}}</pre>-->
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="filter-export-box clearfix margin-b20">
                        <div class="filter-items-l clearfix">
                            <div class="f-item">
                                <label>PINCODE : </label>
                            </div>
                            <div class="f-item">
                                <input type="password" class="form-control" ng-model="model.pinCode" />
                                <span style="font-weight:bold;color:red;">{{errorMessage}}</span>
                            </div>
                            <div class="f-item">
                                <a class="m-btn-c2 btn-s-md" ng-click="sentPincode()">
                                    <span class=""><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;ดูผลประเมิน</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-sm-12">
                    <iframe type="text/html" style="width:100%; height:600px;" ng-src="{{trustSrc(movie.src)}}" allowfullscreen frameborder="1" referrerpolicy="strict-origin-when-cross-origin"></iframe>
                </div>
            </div>-->
        </div>
    </div>
    
</div>

