﻿.fast-button {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 10;
    transition: 0.4s;
}
.fast-button.active {
    right: 100px;
    bottom: 100px;
}
.fast-button .fast-button-item.main {
    width: 65px;
    height: 65px;
    outline:none;
    z-index:3;
    border-radius: 50%;
    background: #ff6464;
    cursor: pointer;
    color: white;
    transition: 0.4s;
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
}

.fast-button.active .fast-button-item.main {
    width: 120px;
    height: 120px; 
}
.fast-button.active .fast-button-item.main i {    
    font-size: 40px !important;
}
.fast-button .fast-button-item.main:hover {
    background: #ff3a3a;
}

.fast-button .list-fast-button {
    transition: 0.4s;
    position:absolute;
    bottom:0px;
    right:0px;
    bottom:0px;
    right:0px;

}
.fast-button.active .list-fast-button  {
    bottom:0px;
    right:0px;
}


.fast-button .fast-button-item {
    width: 0px;
    height: 0px;
    overflow:hidden;
    z-index:1;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    position:absolute;
    transition: 0.4s;
    bottom:0px;
    right:0px;
    background:white;
    outline:none;
    cursor:pointer;
    opacity: 0;
    color:white;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
}
    .fast-button.active .fast-button-item {
         opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }


        .fast-button.active .fast-button-item.a {
            background: #b18ed8;
            bottom: -65px;
            right: 180px;
            width: 90px;
            height: 90px;
        }
        .fast-button.active .fast-button-item.b {
            background: #87abe0;
            bottom: 70px;
            right: 192px;
            width: 90px;
            height: 90px;
        }
        .fast-button.active .fast-button-item.c {
            background: #78c7b9;
            bottom: 180px;
            right: 105px;
            width: 90px;
            height: 90px;
        }
        .fast-button.active .fast-button-item.d {
            background: #72b377;
            bottom: 205px;
            right: -35px;
            width: 90px;
            height: 90px;
        }
.fast-button-filter {
    background: rgba(0, 0, 0, 0.23);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 9;
    display:none;
}
.fast-button-filter.active {
    background: rgba(0, 0, 0, 0.23);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 9;
    display:initial;
}
.tool-tip {
    font-size: 20px !important;
}

.fast-button-tour {
    position: fixed;
    bottom: 15px;
    right: 110px;
    width: 35px;
    background: rgb(255,128,171);
    height: 35px;
    z-index:10;
    border-radius: 100%;
    color:white;
    cursor:pointer;
}
@media only screen and (max-width : 720px) {
    .fast-button-tour {
        bottom: 0px;
        right: 60px;
        width: 30px;
        height: 30px;
    }
    .fast-button .fast-button-item {
        width: 55px;
        height: 55px;
        bottom: 0;
        right: 0;
    }
    .fast-button .fast-button-item.main {
        width: 45px;
        height: 45px;
    }
    .fast-button.active .fast-button-item.main {
        width: 60px;
        height: 60px; 
    }
    .fast-button.active .fast-button-item.main i {    
        font-size: 20px !important;
    }
    .fast-button.active {
        bottom: 15px;
        right: 15px;
    }
    .fast-button {
        right: 10px;
        bottom: 10px;
    }
    .fast-button.active .fast-button-item.a {
        bottom: -10px;
        right: 110px;
    }
    .fast-button.active .fast-button-item.b {
        bottom: 51px;
        right: 95px;
    }
    .fast-button.active .fast-button-item.c {
        bottom: 95px;
        right: 51px;
    }
    .fast-button.active .fast-button-item.d {
         bottom: 117px;
        right: -8px;

    }
    
}