﻿ /* grid-box-inbox*/
        .grid-box-inbox {
        
        }
        .grid-box-inbox .grid-box-inbox-item {
            display:flex;   
            margin-top:1rem;
            height: 75px;
        }
        .grid-box-inbox .grid-box-inbox-item .devider {
            height: 65px;
            width: 1px;
            background: #e6e6e6;
        }
        .grid-box-inbox .grid-box-inbox-item .sub {
            width: 50%;
            text-align: center;
            font-size: 20px;
            height: 60px;
            cursor:pointer;
            outline:none;
        }
        .grid-box-inbox .grid-box-inbox-item .sub.a {
            color: #ef7070;
        }
        .grid-box-inbox .grid-box-inbox-item .sub.b {
            color: #70c9ef;
        }
        .grid-box-inbox .grid-box-inbox-item .sub.c {
             color: #70efac;
        }
        .grid-box-inbox .grid-box-inbox-item .sub.d {
            color: #dae06e;
        }
        .grid-box-inbox .grid-box-inbox-item .number-inbox {
            color: #656565;
            font-size: 26px;
        }
           /* grid-box-inbox*/
