﻿.d-clame.paper {
    padding: 1rem;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    margin-bottom: 2rem;
    background: white;
}

@media only screen and (max-width: 769px) {
    .d-clame.paper {
        padding: 2px;
        padding-top: 1rem;
    }
}

.d-clame label {
}
.d-clame .topic-section {
    font-size: 24px;
    border-bottom: 2px solid #676767;
    width: 98%;
    margin-bottom: 2rem;
    margin-left: 5px;
}
.d-clame md-input-container{
    margin-top: 30px;
    width:100%;
}
.d-clame md-input-container label {
    font-size: 25px;
}
.d-clame md-select {
    font-size:20px;
}

.d-clame .md-button{
    font-size: 20px;
    width: 200px;
    color: #696969;
    margin-top:1rem;
}
