﻿.smart-create-travel {

}
    .smart-create-travel .button-search {
        /*background: #1461ad;*/
        color: white;
        text-align: center;
        padding-top: 20px;
        cursor: pointer;
        font-size: 20px;
        height: 60px;
        opacity: 1;
        transition: 0.2s opacity;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1461ad+0,947eea+100 */
        background: #1461ad; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #1461ad 0%, #947eea 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #1461ad 0%,#947eea 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #1461ad 0%,#947eea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1461ad', endColorstr='#947eea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
.smart-create-travel .button-search:hover{
    /*background: #3677b8;*/
    opacity: 0.8;
}
.smart-create-travel md-select{
    margin: 0;
    height: 60px;
    padding-left: 3rem;
    font-size: 16px !important;

}

.smart-create-travel .floting-icon {
    position: absolute;
    z-index: 1;
    color: #636363;
    font-size: 30px;
    left: 10px;
    top: 11px;
}
.smart-create-travel {
    display: table;
    width: 100%;
    margin-top: 2rem;
    background: #289efe;
    border-radius: 5px;
    border: solid 1px #289efe;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
}
.smart-create-travel .item-smart-travel{
    height:60px;
    border-radius: 5px;
    border: solid 1px #289efe;
    background: white;
    padding:0px;
    position:relative;
}

.smart-create-travel .item-smart-travel md-autocomplete-wrap {
    height:100%;
    border: 0px !important;
}
.smart-create-travel .item-smart-travel input {
    height:58px !important;
    padding-left:3rem !important;

}
.smart-create-travel .item-smart-travel:hover{
    border-radius: 5px;
    border: solid 1px #289efe;
}
.smart-create-travel  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a5a5a5;
    opacity: 1; /* Firefox */
}

    .smart-create-travel   :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #a5a5a5;
}

.smart-create-travel  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #a5a5a5;
}
.col-md-12 {

}