﻿<div class="TravelExManPage delegation-page" ng-controller="createImportantNoticeController" ng-init="init();">

    <div class="row margin-b10">
        <div class="col-sm-10">
            <h1>{{Text['APPLICATION']['AdminImportantNotice_Create']}}</h1>
        </div>
        <div class="col-sm-2">
            <a class="m-btn-c2 btn-s-md text-center" style="margin-top:10px;" ng-click="back()">
                <span>
                    {{Text['AdminImportantNotice_Create']['Back']}}
                </span>
            </a>
        </div>
    </div>

    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['APPLICATION']['AdminImportantNotice_Create']}}
            </div>
        </div>
        <div class="ayodia-body-content" style="min-height:600px;">
            <!-- ไทย -->
            <div class="row margin-b10" ng-hide="isHideMultiCompany">
                <div class="col-sm-2">
                    <div class="sub-title">{{Text['SYSTEM']['COMPANY']}}</div>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="ddlCompany" ng-change="changeCompany(ddlCompany)">
                        <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                    </select>
                </div>
            </div>

            <div class="row margin-b10">
                <div class="col-sm-12">
                    <div class="sub-title">{{Text['AdminImportantNotice_Create']['Data_TH']}}</div>
                </div>
            </div>
            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['AdminImportantNotice_Create']['Subject_TH']}}
                        &nbsp;
                        <span style="color:red; font-weight:bold;">*</span>
                    </div>
                </div>
                <div class="col-sm-10">
                    <input class="form-control" type="text" placeholder="Plase Enter Data" ng-model="model.Title_TH" />
                </div>
            </div>
            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminImportantNotice_Create']['Description']}}</div>
                </div>
                <div class="col-sm-10">
                    <div ckeditor="options" ng-model="model.Description_TH" value="HtmlEditor"></div>
                </div>
            </div>
            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminImportantNotice_Create']['Remark']}}</div>
                </div>
                <div class="col-sm-10">
                    <input class="form-control" type="text" placeholder="Plase Enter Data" ng-model="model.Remark_TH" />
                </div>
            </div>

            <!-- รุป TH 1 -->
            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminImportantNotice_Create']['FileAttach']}}</div>
                </div>
                <div class="col-sm-3">
                    <input type="file" name="file0" ngf-select="uploadFile($file,0,'TH')" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" class="form-control">
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_TH[0].FileName != ''">
                    <div class="text-basic-md-center-input color-main">ลำดับรุปภาพ</div>
                </div>
                <div class="col-sm-2" ng-show="model.ListPicture_TH[0].FileName != ''">
                    <input type="number" class="form-control text-right" ng-model="model.ListPicture_TH[0].FileSequence" />
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_TH[0].FileName != ''">
                    <div class="text-basic-md-center-input color-main">รูปภาพ</div>
                </div>
                <div class="col-sm-2" ng-show="model.ListPicture_TH[0].FileName != ''">
                    <a href="/Uploads/AnnouncementMain/{{model.ListPicture_TH[0].FileName}}" target="_blank">
                        <img src="/Uploads/AnnouncementMain/{{model.ListPicture_TH[0].FileName}}" width="40" height="35" />
                    </a>
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_TH[0].FileName != ''">
                    <div class="margin-t10"><a ng-click="deleteFile(0,'TH')"><i class="fas fa-trash-alt"></i></a></div>
                </div>
            </div>

            <!-- รุป TH 2 -->
            <div class="row margin-b10">
                <div class="col-sm-offset-2 col-sm-3">
                    <input type="file" name="file0" ngf-select="uploadFile($file,1,'TH')" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" class="form-control">
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_TH[1].FileName != ''">
                    <div class="text-basic-md-center-input color-main">ลำดับรุปภาพ</div>
                </div>
                <div class="col-sm-2" ng-show="model.ListPicture_TH[1].FileName != ''">
                    <input type="number" class="form-control text-right" ng-model="model.ListPicture_TH[1].FileSequence" />
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_TH[1].FileName != ''">
                    <div class="text-basic-md-center-input color-main">รูปภาพ</div>
                </div>
                <div class="col-sm-2" ng-show="model.ListPicture_TH[1].FileName != ''">
                    <a href="/Uploads/AnnouncementMain/{{model.ListPicture_TH[1].FileName}}" target="_blank">
                        <img src="/Uploads/AnnouncementMain/{{model.ListPicture_TH[1].FileName}}" width="40" height="35" />
                    </a>
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_TH[1].FileName != ''">
                    <div class="margin-t10"><a ng-click="deleteFile(1,'TH')"><i class="fas fa-trash-alt"></i></a></div>
                </div>
            </div>

            <!-- รุป TH 3 -->
            <div class="row margin-b10">
                <div class="col-sm-offset-2 col-sm-3">
                    <input type="file" name="file0" ngf-select="uploadFile($file,2,'TH')" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" class="form-control">
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_TH[2].FileName != ''">
                    <div class="text-basic-md-center-input color-main">ลำดับรุปภาพ</div>
                </div>
                <div class="col-sm-2" ng-show="model.ListPicture_TH[2].FileName != ''">
                    <input type="number" class="form-control text-right" ng-model="model.ListPicture_TH[2].FileSequence" />
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_TH[2].FileName != ''">
                    <div class="text-basic-md-center-input color-main">รูปภาพ</div>
                </div>
                <div class="col-sm-2" ng-show="model.ListPicture_TH[2].FileName != ''">
                    <a href="/Uploads/AnnouncementMain/{{model.ListPicture_TH[2].FileName}}" target="_blank">
                        <img src="/Uploads/AnnouncementMain/{{model.ListPicture_TH[2].FileName}}" width="40" height="35" />
                    </a>
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_TH[2].FileName != ''">
                    <div class="margin-t10"><a ng-click="deleteFile(2,'TH')"><i class="fas fa-trash-alt"></i></a></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <!--EN-->
            <div class="row margin-b10">
                <div class="col-sm-12">
                    <div class="sub-title">{{Text['AdminImportantNotice_Create']['Data_EN']}}</div>
                </div>
            </div>

            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['AdminImportantNotice_Create']['Subject_EN']}}
                        &nbsp;
                        <span style="color:red; font-weight:bold;">*</span>
                    </div>
                </div>
                <div class="col-sm-10">
                    <input class="form-control" type="text" placeholder="Plase Enter Data" ng-model="model.Title_EN" />
                </div>
            </div>

            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminImportantNotice_Create']['Description']}}</div>
                </div>
                <div class="col-sm-10">
                    <div ckeditor="options" ng-model="model.Description_EN" value="HtmlEditor2"></div>
                </div>
            </div>

            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminImportantNotice_Create']['Remark']}}</div>
                </div>
                <div class="col-sm-10">
                    <input class="form-control" type="text" placeholder="Plase Enter Data" ng-model="model.Remark_EN" />
                </div>
            </div>

            <!-- รุป EN 1 -->
            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminImportantNotice_Create']['FileAttach']}}</div>
                </div>
                <div class="col-sm-3">
                    <input type="file" name="file0" ngf-select="uploadFile($file,0,'EN')" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" class="form-control">
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_EN[0].FileName != ''">
                    <div class="text-basic-md-center-input color-main">ลำดับรุปภาพ</div>
                </div>
                <div class="col-sm-2" ng-show="model.ListPicture_EN[0].FileName != ''">
                    <input type="number" class="form-control text-right" ng-model="model.ListPicture_EN[0].FileSequence" />
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_EN[0].FileName != ''">
                    <div class="text-basic-md-center-input color-main">รูปภาพ</div>
                </div>
                <div class="col-sm-2" ng-show="model.ListPicture_EN[0].FileName != ''">
                    <a href="/Uploads/AnnouncementMain/{{model.ListPicture_EN[0].FileName}}" target="_blank">
                        <img src="/Uploads/AnnouncementMain/{{model.ListPicture_EN[0].FileName}}" width="40" height="35" />
                    </a>
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_EN[0].FileName != ''">
                    <div class="margin-t10"><a ng-click="deleteFile(0,'EN')"><i class="fas fa-trash-alt"></i></a></div>
                </div>
            </div>

            <!-- รุป EN 2 -->
            <div class="row margin-b10">
                <div class="col-sm-offset-2 col-sm-3">
                    <input type="file" name="file0" ngf-select="uploadFile($file,1,'EN')" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" class="form-control">
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_EN[1].FileName != ''">
                    <div class="text-basic-md-center-input color-main">ลำดับรุปภาพ</div>
                </div>
                <div class="col-sm-2" ng-show="model.ListPicture_EN[1].FileName != ''">
                    <input type="number" class="form-control text-right" ng-model="model.ListPicture_EN[1].FileSequence" />
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_EN[1].FileName != ''">
                    <div class="text-basic-md-center-input color-main">รูปภาพ</div>
                </div>
                <div class="col-sm-2" ng-show="model.ListPicture_EN[1].FileName != ''">
                    <a href="/Uploads/AnnouncementMain/{{model.ListPicture_EN[1].FileName}}" target="_blank">
                        <img src="/Uploads/AnnouncementMain/{{model.ListPicture_EN[1].FileName}}" width="40" height="35" />
                    </a>
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_EN[1].FileName != ''">
                    <div class="margin-t10"><a ng-click="deleteFile(1,'EN')"><i class="fas fa-trash-alt"></i></a></div>
                </div>
            </div>

            <!-- รุป EN 3 -->
            <div class="row margin-b10">
                <div class="col-sm-offset-2 col-sm-3">
                    <input type="file" name="file0" ngf-select="uploadFile($file,2,'EN')" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" class="form-control">
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_EN[2].FileName != ''">
                    <div class="text-basic-md-center-input color-main">ลำดับรุปภาพ</div>
                </div>
                <div class="col-sm-2" ng-show="model.ListPicture_EN[2].FileName != ''">
                    <input type="number" class="form-control text-right" ng-model="model.ListPicture_EN[2].FileSequence" />
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_EN[2].FileName != ''">
                    <div class="text-basic-md-center-input color-main">รูปภาพ</div>
                </div>
                <div class="col-sm-2" ng-show="model.ListPicture_EN[2].FileName != ''">
                    <a href="/Uploads/AnnouncementMain/{{model.ListPicture_EN[2].FileName}}" target="_blank">
                        <img src="/Uploads/AnnouncementMain/{{model.ListPicture_EN[2].FileName}}" width="40" height="35" />
                    </a>
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_EN[2].FileName != ''">
                    <div class="margin-t10"><a ng-click="deleteFile(2,'EN')"><i class="fas fa-trash-alt"></i></a></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminImportantNotice_Create']['EffectiveDate']}}</div>
                </div>
                <div class="col-sm-3">
                    <div class="datepicker-height-set" style="position:relative;height:40px;">
                        <datepicker callback-on-change="setEffectiveDate(newDate)" date-format="d/M/yyyy" date-set="{{model.EffectiveDate}}">
                            <input name="DOB" class="form-control clickable datepicker" type="text" />
                        </datepicker>
                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminImportantNotice_Create']['ExpireDate']}}</div>
                </div>
                <div class="col-sm-3">
                    <div class="datepicker-height-set" style="position:relative;height:40px;">
                        <datepicker callback-on-change="setExpireDate(newDate)" date-min-limit-for-range="{{model.EffectiveDate}}" date-format="d/M/yyyy" date-set="{{model.ExpireDate}}">
                            <input name="DOB" class="form-control clickable datepicker" type="text" ng-disabled="model.IsUnlimitedExpire" />
                        </datepicker>
                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="margin-t10"><md-checkbox ng-model="model.IsUnlimitedExpire">{{Text['AdminImportantNotice_Create']['IsUnlimitTimeAnnouncement']}}</md-checkbox></div>
                </div>
            </div>

            <!--<pre>{{model | json}}</pre>-->

            <div class="row">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <div class="row margin-b20">
                <div class="col-sm-offset-2 col-sm-2">
                    <a class="m-btn-c2 btn-s-md text-center" ng-click="saveAnnouncementMain()">
                        <span>
                            {{Text['AdminImportantNotice_Create']['Save']}}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
