﻿<div class="TravelExManPage delegation-page" ng-controller="listImportantNoticeController" ng-init="init();">
    <div class="row margin-b10">
        <div class="col-sm-10">
            <h1>{{Text['AdminImportantNotice']['List']}}</h1>
        </div>
        <div class="col-sm-2">
            <a class="m-btn-c2 btn-s-md text-center" style="margin-top:10px;" ng-click="back()">
                <span>
                    {{Text['SYSTEM']['BACK']}}
                </span>
            </a>
        </div>
    </div>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['AdminImportantNotice']['List']}}
            </div>
        </div>
        <div class="ayodia-body-content">

            <div class="row">
                <div class="col-sm-12">
                    <div class="filter-export-box clearfix margin-b20">
                        <div class="filter-items-l" ng-hide="isHideMultiCompany">
                            <div class="col-sm-5"><label>{{Text['SYSTEM']['COMPANY']}} :</label></div>
                            <div class="col-sm-3">
                                <select class="form-control w100px-desktop" ng-model="ddlCompany" ng-change="changeCompany(ddlCompany)">
                                    <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-items-r">
                            <a class="m-btn-c2 btn-s-md" ng-click="CreateNewMain();">
                                <span class="">
                                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;{{Text['AdminImportantNotice'].Create}}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row margin-b20">
                <div class="col-sm-12">
                    <div class="table-style-responsive">
                        <table class="w-100 table-style-1">
                            <tr class="t-header">
                                <th class="text-center" width="34%">{{Text['AdminImportantNotice'].Subject_TH}}</th>
                                <th class="text-center" width="34%">{{Text['AdminImportantNotice'].Subject_EN}}</th>
                                <th class="text-center" width="7%">{{Text['AdminImportantNotice'].EffectiveDate}}</th>
                                <th class="text-center" width="7%">{{Text['AdminImportantNotice'].ExpireDate}}</th>
                                <th class="text-center" width="10%">{{Text['AdminImportantNotice'].Status}}</th>
                                <!--<th class="text-center" width="15%">{{Text['AdminImportantNotice'].UnlimitTimeAnnouncement}}</th>-->
                                <th class="text-center" width="9%"></th>
                            </tr>
                            <tr class="t-body" ng-if="listAnnouncementMain.length > 0" ng-repeat="item in listAnnouncementMain">
                                <td class="text-left">{{item.Title_TH}}</td>
                                <td class="text-left">{{item.Title_EN}}</td>
                                <td class="text-center">{{item.EffectiveDate | date: 'd/M/y'}}</td>
                                <td class="text-center">
                                    <span ng-if="item.IsUnlimitedExpire">31/12/9999</span>
                                    <span ng-if="!item.IsUnlimitedExpire">{{item.ExpireDate | date:'d/M/yyyy'}}</span>
                                </td>
                                <td>
                                    <div class="m-btn-green btn-s-sm text-center m-auto w110px" ng-show="item.AnnouncementStatusId == 1">
                                        <span class="">{{Text['STATUS']['DisPlay_Announcement']}}</span>
                                    </div>
                                    <div class="m-btn-red btn-s-sm text-center m-auto w110px" ng-show="item.AnnouncementStatusId == 2">
                                        <span class="">{{Text['STATUS']['Hide_Announcement']}}</span>
                                    </div>
                                </td>
                                <!--<td class="text-center">
                                    <img src="./images/icon_correct.png" width="30" ng-if="item.IsUnlimitedExpire" />
                                </td>-->
                                <td class="text-center">
                                    <a ng-click="deleteAnnouncementMain(item.AnnouncementId)"><i class="fas fa-trash-alt"></i></a>
                                    &nbsp;&nbsp;
                                    <a ng-click="editAnnouncementMain(item.AnnouncementId)"><i class="fas fa-edit"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="listAnnouncementMain.length > 0">
                <div class="col-sm-12">
                    <div class="text-right">
                        <ul uib-pagination
                            total-items="totalItem"
                            ng-model="currentPage"
                            max-size="10"
                            items-per-page="ItemPerPage"
                            class="pagination-sm"
                            boundary-links="true"
                            rotate="false"
                            ng-change="loadAnnouncementMain()"
                            first-text="{{firstText}}"
                            last-text="{{lastText}}"
                            previous-text="{{previousText}}"
                            next-text="{{nextText}}"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>