﻿<div class="wrapper etc-payment-page LeaveModulePage TravelPage TravelPage01 longPage" ng-controller="EvalCombinedController" ng-init="InitialConfig();">
    <div class="content_notscroll">
        <div class="contentHead">
            <div class="bar-content">
                <div class="row bar_title" style="overflow:hidden; padding-top:0px">
                    <div class="col-md-12">
                        <div class="bar_left" style="margin-top: 1rem;">{{Header}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- New Design-->
    <div class="row contentBody forheight">
        <div class="summarize" style="padding:-10px;">
            <u style="color: #da5252;">{{Text[Textcategory].SUMARIZE}}</u><br />
            &emsp;<span>{{Text[Textcategory].PERFOMANCE_SCORE}} : <font color="blue"><u>{{document.Additional.Score.PerformanceScore | number:2}}</u></font> &emsp;{{Text[Textcategory].BEHAVIOR_SCORE}} : <font color="blue"><u>{{document.Additional.Score.BehaviorScore | number:2}}</u></font> &emsp;{{Text[Textcategory].FINAL_SCORE}} : <font color="blue"><u>{{document.Additional.Score.TotalScore | number:2}}</u></font></span>
        </div>
        <div class="col-md-12 -col_centered contentBodyin forheight_sub">
            <div class="ag-tabs">
                <div class="tab-headers-container">
                    <div class="tab-headers" layout="row">
                        <div ng-show="EnableEvalAssignment" class="tab-header" ng-class="{'active':selectTabN==0}" ng-click="selectTab(0)">
                            <span>{{Text[Textcategory].PERSONAL_INFO}}</span>
                        </div>
                        <div ng-show="EnableEvalKPI" class="tab-header" ng-class="{'active':selectTabN==1}" ng-click="selectTab(1)">
                            <span>{{Text[Textcategory].KPIEVALUATION}}</span>
                        </div>
                        <div ng-show="EnableEvalBehavior" class="tab-header" ng-class="{'active':selectTabN==2}" ng-click="selectTab(2)">
                            <span>{{Text[Textcategory].BEHAVIOR_SPIRIT}}</span>
                        </div>
                        <div ng-show="EnableEvalCompetency" class="tab-header" ng-class="{'active':selectTabN==3}" ng-click="selectTab(3)">
                            <span>{{Text[Textcategory].COMPETENCY_ASS}}</span>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom:10px;"></div>
                <div ng-show="selectTabN==0 && EnableEvalAssignment" ng-include="'views/hr/pd/requesttype/Evaluation/Part_1PersonalInfo.html?t='+runtime"></div>
                <div ng-show="selectTabN==1 && EnableEvalKPI" ng-include="'views/hr/pd/requesttype/Evaluation/Part_2KPIEvaluation.html?t='+runtime"></div>
                <div ng-show="selectTabN==2 && EnableEvalBehavior" ng-include="'views/hr/pd/requesttype/Evaluation/Part_3BehaviorSPIRIT.html?t='+runtime"></div>
                <div ng-show="selectTabN==3 && EnableEvalCompetency" ng-include="'views/hr/pd/requesttype/Evaluation/Part_4CompetencyAssessment.html?t='+runtime"></div>
            </div>
        </div>
    </div>
</div>
<style>

</style>