﻿<div class="wrapper etc-payment-page LeaveModulePage TravelPage TravelPage01 longPage" ng-controller="Part_2KPIEvaluationController" ng-init="InitialConfig();">
    <div class="row contentBody forheight">
        <div class="bar_expandlist">
            <div class="bar_expand-status accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#kipiEvaluation" ng-init="kipiEvaluation_expanded = false;" ng-click="kipiEvaluation_expanded =!kipiEvaluation_expanded">
                <div class="bar_statusword">
                    {{Text[Textcategory].KPIEVALUATION}}
                </div>
                <div class="bar_right-icon">
                    <span class="icon-arrow_line_down" ng-show="kipiEvaluation_expanded"></span>
                    <span class="icon-arrow_line_up" ng-show="!kipiEvaluation_expanded"></span>
                </div>
            </div>
            <div class="body_content panel-collapse collapse in" id="kipiEvaluation" style="margin:0">
                <div class="row itemlist_block">
                    <div class="col-sm-12" style="margin-bottom:1rem;">
                        <!-- Duo display: Desktop, Moblie -->
                        <div class="due-table" layout="column" layout-padding="10px" style="padding-top:0; padding-bottom: 0; overflow-x: scroll; margin-bottom: 20px; background: #f7f7f7; display: grid;">
                            <div class="table-column-name row-items border-left hidden-xs" layout="row" style="padding-left:0px;padding-right:0px;">
                                <div ng-if="ch.Columnwidth != '0px'" layout="row" ng-style="{ 'width' : ch.Columnwidth}" layout-align="center center" ng-repeat="ch in data.columns_perfor">
                                    <span>{{ch.ColumnName}}</span>
                                </div>
                            </div>
                            <div class="bar_expandlist mo-duo" style="padding: 0px;  " ng-repeat="r in document.Additional.KPIPerformance">
                                <div class="bar_expand-status mo-duo visible-xs">
                                    <div class="bar_left-icon mo-duo " style="height:35.1px;">
                                        <div class="dummy"> <span class="icon-arrow_line_down"></span></div>
                                    </div>
                                    <div class="bar_statusword">
                                        <a href="#" class="ng-binding" style=" font-size: 16px;">{{r.KPITypeName}} : {{r.WorkAssignment}}</a>
                                    </div>
                                </div>
                                <div class="bar_expand-expandDetail mo-duo">
                                    <div style="background:#f7f7f7;">
                                        <div class="row-items" style="padding-top: 0; padding-left: 0; padding-bottom: 0; position: relative; " layout="row" layout-padding="10px;">
                                            <div layout="column" ng-style="{ 'width' : data.columns_perfor[0].Columnwidth}">
                                                <div class="visible-xs table-column-name">
                                                    <span>{{data.columns_perfor[0].ColumnName}}</span>
                                                </div>
                                                <span class="align-res-ctrl">{{r.No}}</span>
                                            </div>
                                            <div layout="column" ng-style="{ 'width' : data.columns_perfor[1].Columnwidth}">
                                                <div class="visible-xs table-column-name">
                                                    <span>{{data.columns_perfor[1].ColumnName}}</span>
                                                </div>
                                                <span class="align-res-ctrl">{{r.KPITypeName}}</span>
                                            </div>
                                            <div layout="column" ng-style="{ 'width' : data.columns_perfor[2].Columnwidth}">
                                                <div class="visible-xs table-column-name">
                                                    <span>{{data.columns_perfor[2].ColumnName}}</span>
                                                </div>
                                                <span class="align-res-ctrl">{{r.WorkAssignment}}</span>
                                            </div>
                                            <div layout="column" ng-style="{ 'width' : data.columns_perfor[3].Columnwidth}">
                                                <div class="visible-xs table-column-name">
                                                    <span>{{data.columns_perfor[3].ColumnName}}</span>
                                                </div>
                                                <span class="align-res-ctrl">{{r.Weight}}</span>
                                            </div>

                                            <div ng-if="data.columns_perfor[4].Columnwidth != '0px'" layout="column" ng-style="{ 'width' : data.columns_perfor[4].Columnwidth}">
                                                <div class="visible-xs table-column-name">
                                                    <span>{{data.columns_perfor[4].ColumnName}}</span>
                                                </div>
                                                <input ng-show="isEditor" class="input-text_" style="text-align: center" size="5" ng-disabled="r.ScoreControl.IsDisable_data_Request && isEditor" ng-change="CalculateWeight(r,r.No,'Requestor')" ng-model="r.Performance_Request.Rating" placeholder="input text" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
                                                <span ng-show="!isEditor" class="align-res-ctrl">{{r.Performance_Request.Rating}}</span>
                                            </div>
                                            <div ng-if="data.columns_perfor[5].Columnwidth != '0px'" layout="column" ng-style="{ 'width' : data.columns_perfor[5].Columnwidth}">
                                                <div class="visible-xs table-column-name">
                                                    <span>{{data.columns_perfor[5].ColumnName}}</span>
                                                </div>
                                                <span class="align-res-ctrl">{{r.Performance_Request.WeightScore | number:2}}</span>
                                            </div>

                                            <div ng-if="data.columns_perfor[6].Columnwidth != '0px'" layout="column" ng-style="{ 'width' : data.columns_perfor[6].Columnwidth}">
                                                <div class="visible-xs table-column-name">
                                                    <span>{{data.columns_perfor[6].ColumnName}}</span>
                                                </div>
                                                <input ng-show="isEditor" class="input-text_" style="text-align: center" size="5" ng-readonly="!isEditor" ng-disabled="r.ScoreControl.IsDisable_data_Approver && isEditor" ng-change="CalculateWeight(r,r.No,'Approver')" ng-model="r.Performance_Approver.Rating" placeholder="input text" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
                                                <span ng-show="!isEditor" class="align-res-ctrl">{{r.Performance_Approver.Rating}}</span>
                                            </div>
                                            <div ng-if="data.columns_perfor[7].Columnwidth != '0px'" layout="column" ng-style="{ 'width' : data.columns_perfor[7].width}">
                                                <div class="visible-xs table-column-name">
                                                    <span>{{data.columns_perfor[7].ColumnName}}</span>
                                                </div>
                                                <span class="align-res-ctrl">{{r.Performance_Approver.WeightScore | number:2}}</span>
                                            </div>

                                            <div ng-if="data.columns_perfor[8].Columnwidth != '0px'" layout="column" ng-style="{ 'width' : data.columns_perfor[8].Columnwidth}">
                                                <div class="visible-xs table-column-name">
                                                    <span>{{data.columns_perfor[8].ColumnName}}</span>
                                                </div>
                                                <div class="input-dialog-text">
                                                    <span>{{r.Evidences}}</span>
                                                    <span ng-if="isEditor && document.Additional.OwnerLevel == '0'" class="icon_btn" ng-click="promtDialog($event,$index,data.columns_perfor[8].ColumnName,'Evidences')"><i class="fa fa-pencil"></i></span>
                                                </div>
                                            </div>
                                            <div ng-if="data.columns_perfor[9].Columnwidth != '0px'" layout="column" ng-style="{ 'width' : data.columns_perfor[9].Columnwidth}">
                                                <div class="visible-xs table-column-name">
                                                    <span>{{data.columns_perfor[9].ColumnName}}</span>
                                                </div>
                                                <div class="input-dialog-text" style="background:#99ffcc">
                                                    <span>{{r.Achievement.Situation}}</span>
                                                    <!--<span ng-if="isEditor" class="icon_btn" ng-click="promtDialogArchiement($event,$index,data.columns_perfor[9].ColumnName,'Situation',table.index,r)"><i class="fa fa-pencil"></i></span>-->
                                                </div>
                                            </div>
                                            <div ng-if="data.columns_perfor[10].Columnwidth != '0px'" layout="column" ng-style="{ 'width' : data.columns_perfor[10].Columnwidth}">
                                                <div class="visible-xs table-column-name">
                                                    <span>{{data.columns_perfor[10].ColumnName}}</span>
                                                </div>
                                                <div class="input-dialog-text" style="background:#99ffcc">
                                                    <span>{{r.Achievement.Action}}</span>
                                                    <!--<span ng-if="isEditor" class="icon_btn" ng-click="promtDialogArchiement($event,$index,data.columns_perfor[10].ColumnName,'action',table.index,r)"><i class="fa fa-pencil"></i></span>-->
                                                </div>
                                            </div>
                                            <div ng-if="data.columns_perfor[11].Columnwidth != '0px'" layout="column" ng-style="{ 'width' : data.columns_perfor[11].Columnwidth}">
                                                <div class="visible-xs table-column-name">
                                                    <span>{{data.columns_perfor[11].ColumnName}}</span>
                                                </div>
                                                <div class="input-dialog-text" style="background:#99ffcc">
                                                    <span>{{r.Achievement.Result}}</span>
                                                    <span ng-if="isEditor && document.Additional.OwnerLevel == '0'" class="icon_btn" ng-click="promtDialogArchiement($event,$index,data.columns_perfor[11].ColumnName,'result',table.index,r)"><i class="fa fa-pencil"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="-pad10"></div>
    </div>

</div>