﻿<div class="wrapper etc-payment-page LeaveModulePage TravelPage TravelPage01 longPage" ng-controller="Part_1PersonalInfoController" ng-init="InitialConfig();">
    <!-- New Design-->
    <div class="row contentBody forheight">
        <div class="bar_expandlist">
            <div class="bar_expand-status accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#directAssignment" ng-init="directAssignment_expanded = false;" ng-click="directAssignment_expanded =!directAssignment_expanded">
                <div class="bar_statusword">
                    <i class="fa fa-star spirit__p" aria-hidden="true">&nbsp; </i>{{Text[TextCategory].DIRECT_ASSIGN}}
                </div>
                <div class="bar_right-icon">
                    <span class="icon-arrow_line_down" ng-show="directAssignment_expanded"></span>
                    <span class="icon-arrow_line_up" ng-show="!directAssignment_expanded"></span>
                </div>
            </div>
            <div class="body_content panel-collapse collapse in" id="directAssignment" style="margin:0">
                <div class="row itemlist_block">
                    <div class="col-sm-12" style="margin-bottom:1rem;">
                        <textarea class="ag-textarea" ng-disabled="!isEditor" ng-model="document.Additional.Assignment.DirectAssignment"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="-pad10"></div>


        <div class="bar_expandlist">
            <div class="bar_expand-status accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#additionalAssignment" ng-init="additionalAssignment_expanded = false;" ng-click="additionalAssignment_expanded =!additionalAssignment_expanded">
                <div class="bar_statusword">
                    <i class="fa fa-star spirit__p" aria-hidden="true">&nbsp; </i>{{Text[TextCategory].ADDITIONAL_ASSIGN}}
                </div>
                <div class="bar_right-icon">
                    <span class="icon-arrow_line_down" ng-show="additionalAssignment_expanded"></span>
                    <span class="icon-arrow_line_up" ng-show="!additionalAssignment_expanded"></span>
                </div>
            </div>
            <div class="body_content panel-collapse collapse in" id="additionalAssignment">
                <div class="row itemlist_block">
                    <div class="col-sm-12" style="margin-bottom:1rem;">
                        <textarea class="ag-textarea" ng-disabled="!isEditor" ng-model="document.Additional.Assignment.AdditionalAssignment"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="-pad10"></div>
    </div>

</div>