﻿<div class="wrapper etc-payment-page LeaveModulePage TravelPage TravelPage01 longPage" ng-controller="Part_3BehaviorSPIRITController" ng-init="InitialConfig();">
    <div class="row contentBody forheight">
        <div style="    background: orange; padding: 0.25rem; color: white;">
            <i class="fa fa-info-circle" aria-hidden="true">&nbsp;</i><span>{{Text[TextCategoryCode].TextCategory}}</span>
        </div>
        <div layout="column" style="    background: #f3f3f3;  padding: 0.5rem;  border: #ffa500 solid; border-top:none;">
            <div ng-repeat="item in data.BehaviorLevelData">
                <span><b>{{item.LevelName}}</b> <i class="fa fa-caret-right" aria-hidden="true" style=" color: #ffc100;"></i> {{item.LevelDescription}}</span>
            </div>
        </div>
        <div class="-pad10"></div>

        <div class="bar_expandlist">
            <div class="bar_expand-status accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#behavior" ng-init="behavior_expanded = false;" ng-click="behavior_expanded =!behavior_expanded">
                <div class="bar_statusword">
                   Behavior
                </div>
                <div class="bar_right-icon">
                    <span class="icon-arrow_line_down" ng-show="behavior_expanded"></span>
                    <span class="icon-arrow_line_up" ng-show="!behavior_expanded"></span>
                </div>
            </div>
            <div class="body_content panel-collapse collapse in" id="behavior" style="margin:0">
                <div class="row itemlist_block">
                    <div class="col-sm-12" style="margin-bottom:1rem;">
                        <div layout="column" ng-repeat="table in document.Additional.BehaviorGroup">
                            <span><h3><b>{{table.No}}. {{table.GroupName}} &nbsp;<font color="red"> Score: {{table.MaximumScore}}</font></b></h3></span>
                            <!-- Duo display: Desktop, Moblie -->

                            <div class="due-table" layout="column" layout-padding="10px" style="padding-top:0; padding-bottom: 0; overflow-x: scroll; margin-bottom: 20px; background: #f7f7f7; display: grid;">
                                <div class="table-column-name row-items border-left hidden-xs" layout="row" style="padding-left:0px;padding-right:0px;">
                                    <div ng-if="ch.Columnwidth !='0px'" layout="row" ng-style="{ 'width' : ch.Columnwidth}" layout-align="center center" ng-repeat="ch in data.columns_behavior">
                                        <span>{{ch.ColumnName}}</span>
                                    </div>
                                </div>
                                <div class="bar_expandlist mo-duo" style="padding: 0px;" ng-repeat="r in table.Behavior">
                                    <div class="bar_expand-status mo-duo visible-xs">
                                        <div class="bar_left-icon mo-duo " style="height:35.1px;">
                                            <div class="dummy"> <span class="icon-arrow_line_down"></span></div>
                                        </div>
                                        <div class="bar_statusword">
                                            <a href="#" class="ng-binding" style=" font-size: 16px;">{{r.BehaviorName}}</a>
                                        </div>
                                    </div>
                                    <div class="bar_expand-expandDetail mo-duo">
                                        <div style="background:#f7f7f7;">
                                            <!--Repeat Data here -->
                                            <div class="row-items" style="padding-top: 0; padding-left: 0; padding-bottom: 0; position: relative; " layout="row" layout-padding="10px;">
                                                <div layout="column" ng-style="{ 'width' : data.columns_behavior[0].Columnwidth}">
                                                    <div class="visible-xs table-column-name">
                                                        <span>{{data.columns_behavior[0].ColumnName}}</span>
                                                    </div>
                                                    <span class="align-res-ctrl">{{r.No}}</span>
                                                </div>
                                                <div ng-if="data.columns_behavior[1].Columnwidth != '0px'" layout="column" ng-style="{ 'width' : data.columns_behavior[1].Columnwidth}">
                                                    <div class="visible-xs table-column-name">
                                                        <span>{{data.columns_behavior[1].ColumnName}}</span>
                                                    </div>
                                                    <span>{{r.BehaviorName}}</span>
                                                </div>
                                                <div ng-if="data.columns_behavior[2].Columnwidth != '0px'" layout="column" ng-style="{ 'width' : data.columns_behavior[2].Columnwidth}">
                                                    <div class="visible-xs table-column-name">
                                                        <span>{{data.columns_behavior[2].ColumnName}}</span>
                                                    </div>
                                                    <div class="input-dialog-text" style="background:#99ffcc">
                                                        <span>{{r.Achievement.Situation}}</span>
                                                        <!--<span ng-if="isEditor" class="icon_btn" ng-click="promtDialog($event,$index,data.columns_behavior[2].text,'Situation',table.index,r)"><i class="fa fa-pencil"></i></span>-->
                                                    </div>
                                                </div>
                                                <div ng-if="data.columns_behavior[3].Columnwidth != '0px'" layout="column" ng-style="{ 'width' : data.columns_behavior[3].Columnwidth}">
                                                    <div class="visible-xs table-column-name">
                                                        <span>{{data.columns_behavior[3].ColumnName}}</span>
                                                    </div>
                                                    <div class="input-dialog-text" style="background:#99ffcc">
                                                        <span>{{r.Achievement.Action}}</span>
                                                        <!--<span ng-if="isEditor" class="icon_btn" ng-click="promtDialog($event,$index,data.columns_behavior[3].text,'action',table.index,r)"><i class="fa fa-pencil"></i></span>-->
                                                    </div>
                                                </div>
                                                <div ng-if="data.columns_behavior[4].Columnwidth != '0px'" layout="column" ng-style="{ 'width' : data.columns_behavior[4].Columnwidth}">
                                                    <div class="visible-xs table-column-name">
                                                        <span>{{data.columns_behavior[4].ColumnName}}</span>
                                                    </div>
                                                    <div class="input-dialog-text" style="background:#99ffcc">
                                                        <span>{{r.Achievement.Result}}</span>
                                                        <span ng-if="isEditor && document.Additional.OwnerLevel == '0'" class="icon_btn" ng-click="promtDialog($event,$index,data.columns_behavior[4].text,'result',table.index,r)"><i class="fa fa-pencil"></i></span>
                                                    </div>
                                                </div>
                                
                                                <div ng-if="data.columns_behavior[5].Columnwidth != '0px'" layout="column" ng-style="{ 'width' : data.columns_behavior[5].Columnwidth}">
                                                    <div class="visible-xs table-column-name">
                                                        <span>{{data.columns_behavior[5].ColumnName}}</span>
                                                    </div>
                                                    <span class="align-res-ctrl">{{r.Score_Requester.Score}}</span>
                                                </div>
                                                <div ng-if="data.columns_behavior[6].Columnwidth != '0px'" layout="column" ng-style="{ 'width' : data.columns_behavior[6].Columnwidth}">
                                                    <div class="visible-xs table-column-name">
                                                        <span>{{data.columns_behavior[6].ColumnName}}</span>
                                                    </div>
                                                    <span ng-show="isEditor && document.Additional.OwnerLevel == '0'">
                                                        <md-select ng-model="r.Score_Requester.LevelID" required ng-change="CalculateWeight(r,'Requestor')">
                                                            <md-option ng-repeat="item in r.LevelScore" ng-value="item.LevelID" ng-selected="item.LevelID == r.Score_Requester.LevelID">{{item.LevelName}}</md-option>
                                                        </md-select>
                                                    </span>
                                                    <span ng-show="isEditor && document.Additional.OwnerLevel != '0'" class="align-res-ctrl">{{r.Score_Requester.LevelName}}</span>
                                                    <span ng-show="!isEditor" class="align-res-ctrl">{{r.Score_Requester.LevelName}}</span>
                                                </div>

                                                <div ng-if="data.columns_behavior[7].Columnwidth != '0px'" layout="column" ng-style="{ 'width' : data.columns_behavior[7].Columnwidth}">
                                                    <div class="visible-xs table-column-name">
                                                        <span>{{data.columns_behavior[7].ColumnName}}</span>
                                                    </div>
                                                    <span class="align-res-ctrl">{{r.Score_Approver.Score}}</span>
                                                </div>
                                                
                                                <div ng-if="data.columns_behavior[8].Columnwidth != '0px'" layout="column" ng-style="{ 'width' : data.columns_behavio[8].Columnwidth}">
                                                    <div class="visible-xs table-column-name">
                                                        <span>{{data.columns_behavior[8].ColumnName}}</span>
                                                    </div>
                                                    <span ng-show="isEditor">
                                                        <md-select ng-model="r.Score_Approver.LevelID" required ng-change="CalculateWeight(r,'Approver')">
                                                            <md-option ng-repeat="item in r.LevelScore" ng-value="item.LevelID" ng-selected="item.LevelID == r.Score_Approver.LevelID">{{item.LevelName}}</md-option>
                                                        </md-select>
                                                    </span>
                                                    <span ng-show="!isEditor" class="align-res-ctrl">{{r.Score_Approver.LevelName}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="-pad10"></div>
    </div>
</div>