﻿<div class="wrapper etc-payment-page LeaveModulePage TravelPage TravelPage01 longPage" ng-controller="Part_4CompetencyAssessmentController" ng-init="InitialConfig();">
    <div class="row contentBody forheight">
        <div style="background: orange; padding: 0.25rem; color: white;">
            <i class="fa fa-info-circle" aria-hidden="true">&nbsp;</i><span>{{Text[TextCaytegory].KEY_ACTION_RATING}}</span>
        </div>
        <div layout="column" style="    background: #f3f3f3;  padding: 0.5rem;  border: #ffa500 solid; border-top:none;">
            <div ng-repeat="item in data.CompetencyScaleData" layout="column">
                <div layout="row">
                    <div style="   color: white; background: #ffc100;  width: 20px; height: 20px;  text-align: center;  margin-bottom: 0.25rem;  margin-right: 0.25rem;">{{$index+1}}</div>
                    <b>{{item.ScaleDescription}}</b>
                </div>
                <div ng-repeat="item_fag in item.CompetencyScaleDesc" layout="row" style="padding-left:1.5rem">
                    <b>{{item_fag.ScaleDescription}}</b>
                </div>
            </div>
        </div>
        <div class="-pad10"></div>

        <!--New Design-->
       
        <div class="bar_expandlist" ng-repeat="category in document.Additional.Competency.Q">
            <div class="bar_expand-status accordion-toggle">
                <span class="bar_statusword"><i class="fa fa-th-large" aria-hidden="true"></i>&nbsp;{{category.No}} {{category.Name}} ({{category.ObjectID}})</span>
            </div>
            <div ng-if="category.ObjectType == 'QK'">
                <div ng-repeat="child1 in category.Child">
                    <div class="bar_expand-status">
                        <span class="bar_statusword" style="padding-left:25px;">{{category.No}}.{{child1.No}} {{child1.Name}} ({{child1.ObjectID}})</span>
                    </div>
                    <div ng-if="child1.ObjectType =='QK'">
                        <div ng-if="child1.Child[0].ObjectType == 'Q'">
                            <div class="due-table" layout="column" layout-padding="10px" style="padding-top:0; padding-bottom: 0; background: #f7f7f7;">
                                <div class="table-column-name row-items border-left hidden-xs" layout="row" style="padding-left:0px;padding-right:0px;">
                                    <div ng-if="ch.Columnwidth !='0px'" layout=" column" ng-style="{ 'width' : ch.Columnwidth}" layout-align="center center" ng-repeat="ch in data.columns_comp">
                                        <span>{{ch.ColumnName}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="due-table bar_expandlist mo-duo" style="padding: 0px; margin-bottom: 10px; " ng-repeat="child2 in child1.Child">
                                <div class="bar_expand-status mo-duo visible-xs">
                                    <div class="bar_left-icon mo-duo " style="height:35.1px;">
                                        <div class="dummy"> <span class="icon-arrow_line_down"></span></div>
                                    </div>
                                    <div class="bar_statusword">
                                        <a href="#" class="ng-binding" style=" font-size: 16px;">{{child2.Name}} ({{child2.ObjectID}})</a>
                                    </div>
                                </div>
                                <div class="bar_expand-expandDetail mo-duo">
                                    <div style="background:#f7f7f7;">
                                        <div class="row-items" style="padding-top: 0; padding-bottom: 0; position: relative; " layout="row">
                                            <div layout="column" ng-style="{ 'width' : data.columns_comp[0].Columnwidth}">
                                                <div class="visible-xs table-column-name">
                                                    <span>{{data.columns_comp[0].ColumnName}}</span>
                                                </div>
                                                <span ng-show="isEditor && document.Additional.OwnerLevel == '0'" class="text-center" style="padding-left:10px;"><md-checkbox ng-checked="child2.ItemControl.IsSelect_Checked" ng-disabled="!child2.ItemControl.IsSelect_Enable" ng-click="CheckClick(child2,category)" class="auto-algin-in-table"> </md-checkbox></span>
                                                <span ng-show="isEditor && document.Additional.OwnerLevel != '0'" class="text-center" style="padding-left:10px;"><md-checkbox ng-checked="child2.ItemControl.IsSelect_Checked" ng-disabled="child2.ItemControl.IsSelect_Enable" class="auto-algin-in-table"> </md-checkbox></span>

                                                <span ng-show="!isEditor && document.Additional.OwnerLevel == '0'" class="text-center" style="padding-left:10px;"><md-checkbox ng-checked="child2.ItemControl.IsSelect_Checked" ng-disabled="child2.ItemControl.IsSelect_Enable" class="auto-algin-in-table"> </md-checkbox></span>
                                                <span ng-show="!isEditor && document.Additional.OwnerLevel != '0'" class="text-center" style="padding-left:10px;"><md-checkbox ng-checked="child2.ItemControl.IsSelect_Checked" ng-disabled="child2.ItemControl.IsSelect_Enable" class="auto-algin-in-table"> </md-checkbox></span>
                                            </div>
                                            <div layout="column" ng-style="{ 'width' : data.columns_comp[1].Columnwidth}">
                                                <div class="visible-xs table-column-name">
                                                    <span>{{data.columns_comp[1].ColumnName}}</span>
                                                </div>
                                                <span class="align-res-ctrl" style="padding-left:10px;">{{category.No}}.{{child1.No}}.{{child2.No}}</span>
                                            </div>
                                            <div layout="column" ng-style="{ 'width' : data.columns_comp[2].Columnwidth}">
                                                <div class="visible-xs table-column-name">
                                                    <span>{{data.columns_comp[2].ColumnName}}</span>
                                                </div>
                                                <span class="align-res-ctrl-left" style="padding-left:10px;">{{child2.Name}}</span>
                                            </div>
                                            <div layout="column" ng-style="{ 'width' : data.columns_comp[3].Columnwidth}">
                                                <div class="visible-xs table-column-name">
                                                    <span>{{data.columns_comp[3].ColumnName}}</span>
                                                </div>
                                                <div class="input-dialog-text" style="background:#99ffcc">
                                                    <span>{{child2.Achievement.Situation}}</span>
                                                    <!--<span ng-show="isEditor" class="icon_btn" ng-click="promtDialog($event,$index,column_header[3].text,'Situation',table.index,child2)"><i class="fa fa-pencil"></i></span>-->
                                                </div>
                                            </div>
                                            <div layout="column" ng-style="{ 'width' : data.columns_comp[4].Columnwidth}">
                                                <div class="visible-xs table-column-name">
                                                    <span>{{data.columns_comp[4].ColumnName}}</span>
                                                </div>
                                                <div class="input-dialog-text" style="background:#99ffcc">
                                                    <span>{{child2.Achievement.Action}}</span>
                                                    <!--<span ng-show="isEditor" class="icon_btn" ng-click="promtDialog($event,$index,column_header[4].text,'action',table.index,child2)"><i class="fa fa-pencil"></i></span>-->
                                                </div>
                                            </div>
                                            <div layout="column" ng-style="{ 'width' : data.columns_comp[5].Columnwidth}">
                                                <div class="visible-xs table-column-name">
                                                    <span>{{data.columns_comp[5].ColumnName}}</span>
                                                </div>
                                                <div class="input-dialog-text" style="background:#99ffcc">
                                                    <span>{{child2.Achievement.Result}}</span>
                                                    <span ng-show="isEditor && document.Additional.OwnerLevel == '0'" class="icon_btn" ng-click="promtDialog($event,$index,column_header[5].text,'result',table.index,child2)"><i class="fa fa-pencil"></i></span>
                                                </div>
                                            </div>

                                            <div layout="column" ng-style="{ 'width' : data.columns_comp[6].Columnwidth}">
                                                <div class="visible-xs table-column-name">
                                                    <span>{{data.columns_comp[6].ColumnName}}</span>
                                                </div>
                                                <span ng-show="isEditor && child2.ItemControl.IsDefinedGap_Visible && document.Additional.OwnerLevel == '0'" class="text-center">
                                                    <md-checkbox ng-model="child2.ItemControl.IsDefinedGap_Checked" ng-enable="child2.ItemControl.IsDefinedGap_Enable " ng-selected="child2.ItemControl.IsDefinedGap_Checked" class="auto-algin-in-table"> </md-checkbox>
                                                </span>
                                                <span ng-show="isEditor && child2.ItemControl.IsDefinedGap_Visible && document.Additional.OwnerLevel != '0'" class="text-center">
                                                    <md-checkbox ng-model="child2.ItemControl.IsDefinedGap_Checked" ng-disabled="child2.ItemControl.IsDefinedGap_Enable" ng-selected="child2.ItemControl.IsDefinedGap_Checked" class="auto-algin-in-table"> </md-checkbox>
                                                </span>
                                                <span ng-show="!isEditor && child2.ItemControl.IsDefinedGap_Visible" class="align-res-ctrl"><md-checkbox ng-model="child2.ItemControl.IsDefinedGap_Checked" ng-disabled="child2.ItemControl.IsDefinedGap_Enable" ng-selected="child2.ItemControl.IsDefinedGap_Checked" class="auto-algin-in-table"> </md-checkbox></span>
                                            </div>
                                            <div layout="column" ng-style="{ 'width' : data.columns_comp[7].Columnwidth}">
                                                <div class="visible-xs table-column-name">
                                                    <span>{{data.columns_comp[7].ColumnName}}</span>
                                                </div>
                                                <div ng-show="child2.ItemControl.IsDefinedGap_Visible && child2.ScoreControl.IsVisible_data_Request && isEditor">
                                                    <md-select ng-model="child2.Score_Requester.ScaleID" required ng-change="SetScaleName(child2,'Requestor')">
                                                        <md-option ng-repeat="item in child2.Scales" ng-selected="item.ScaleID == child2.Score_Requester.ScaleID" ng-value="item.ScaleID">{{item.ScaleID}}</md-option>
                                                    </md-select>
                                                </div>
                                                <span ng-show="isEditor && child2.ItemControl.IsDefinedGap_Visible && document.Additional.OwnerLevel != '0'" class="align-res-ctrl">{{child2.Score_Requester.ScaleName}}</span>
                                                <span ng-show="!isEditor && child2.ItemControl.IsDefinedGap_Visible" class="align-res-ctrl">{{child2.Score_Requester.ScaleName}}</span>
                                            </div>
                                            <div ng-if="data.columns_comp[8].Columnwidth !='0px'" layout="column" ng-style="{ 'width' : data.columns_comp[8].Columnwidth}">
                                                <div class="visible-xs table-column-name">
                                                    <span>{{data.columns_comp[8].ColumnName}}</span>
                                                </div>
                                                <div ng-show="child2.ItemControl.IsDefinedGap_Visible && child2.ScoreControl.IsVisible_data_Approver && isEditor">
                                                    <md-select ng-model="child2.Score_Approver.ScaleID" required ng-change="SetScaleName(child2,'Approver')">
                                                        <md-option ng-repeat="item in child2.Scales" ng-selected="item.ScaleID == child2.Score_Approver.ScaleID" ng-value="item.ScaleID" )>{{item.ScaleID}}</md-option>
                                                    </md-select>
                                                </div>
                                                <span ng-show="!isEditor && child2.ItemControl.IsDefinedGap_Visible" class="align-res-ctrl">{{child2.Score_Approver.ScaleName}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div ng-if="child1.ObjectType =='Q'">
                        <div class="due-table" layout="column" layout-padding="10px" style="padding-top:0; padding-bottom: 0; background: #f7f7f7;">
                            <div class="table-column-name row-items border-left hidden-xs" layout="row" style="padding-left:0px;padding-right:0px;">
                                <div ng-if="ch.Columnwidth !='0px'" layout=" column" ng-style="{ 'width' : ch.Columnwidth}" layout-align="center center" ng-repeat="ch in data.columns_comp">
                                    <span>{{ch.ColumnName}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="due-table bar_expandlist mo-duo" style="padding: 0px; margin-bottom: 10px; " ng-repeat="child1 in category.Child">
                            <div class="bar_expand-status mo-duo visible-xs">
                                <div class="bar_left-icon mo-duo " style="height:35.1px;">
                                    <div class="dummy"> <span class="icon-arrow_line_down"></span></div>
                                </div>
                                <div class="bar_statusword">
                                    <a href="#" class="ng-binding" style=" font-size: 16px;">{{child1.Name}} ({{child1.ObjectID}})</a>
                                </div>
                            </div>
                            <div class="bar_expand-expandDetail mo-duo">
                                <div style="background:#f7f7f7;">
                                    <div class="row-items" style="padding-top: 0; padding-bottom: 0; position: relative; " layout="row">
                                        <div layout="column" ng-style="{ 'width' : data.columns_comp[0].Columnwidth}">
                                            <div class="visible-xs table-column-name">
                                                <span>{{data.columns_comp[0].ColumnName}}</span>
                                            </div>
                                            <span ng-show="isEditor && document.Additional.OwnerLevel == '0'" class="text-center" style="padding-left:10px;"><md-checkbox ng-checked="child1.ItemControl.IsSelect_Checked" ng-disabled="!child1.ItemControl.IsSelect_Enable" ng-click="CheckClick(child1,category)" class="auto-algin-in-table"> </md-checkbox></span>
                                            <span ng-show="isEditor && document.Additional.OwnerLevel != '0'" class="text-center" style="padding-left:10px;"><md-checkbox ng-checked="child1.ItemControl.IsSelect_Checked" ng-disabled="child1.ItemControl.IsSelect_Enable" class="auto-algin-in-table"> </md-checkbox></span>

                                            <span ng-show="!isEditor && document.Additional.OwnerLevel == '0'" class="text-center" style="padding-left:10px;"><md-checkbox ng-checked="child1.ItemControl.IsSelect_Checked" ng-disabled="child1.ItemControl.IsSelect_Enable" class="auto-algin-in-table"> </md-checkbox></span>
                                            <span ng-show="!isEditor && document.Additional.OwnerLevel != '0'" class="text-center" style="padding-left:10px;"><md-checkbox ng-checked="child1.ItemControl.IsSelect_Checked" ng-disabled="child1.ItemControl.IsSelect_Enable" class="auto-algin-in-table"> </md-checkbox></span>
                                        </div>
                                        <div layout="column" ng-style="{ 'width' : data.columns_comp[1].Columnwidth}">
                                            <div class="visible-xs table-column-name">
                                                <span>{{data.columns_comp[1].ColumnName}}</span>
                                            </div>
                                            <span class="align-res-ctrl" style="padding-left:10px;">{{category.No}}.{{child1.No}}</span>
                                        </div>
                                        <div layout="column" ng-style="{ 'width' : data.columns_comp[2].Columnwidth}">
                                            <div class="visible-xs table-column-name">
                                                <span>{{data.columns_comp[2].ColumnName}}</span>
                                            </div>
                                            <span class="align-res-ctrl-left" style="padding-left:10px;">{{child1.Name}}</span>
                                        </div>
                                        <div layout="column" ng-style="{ 'width' : data.columns_comp[3].Columnwidth}">
                                            <div class="visible-xs table-column-name">
                                                <span>{{data.columns_comp[3].ColumnName}}</span>
                                            </div>
                                            <div class="input-dialog-text" style="background:#99ffcc">
                                                <span>{{child1.Achievement.Situation}}</span>
                                                <!--<span ng-show="isEditor" class="icon_btn" ng-click="promtDialog($event,$index,column_header[3].text,'Situation',table.index,child2)"><i class="fa fa-pencil"></i></span>-->
                                            </div>
                                        </div>
                                        <div layout="column" ng-style="{ 'width' : data.columns_comp[4].Columnwidth}">
                                            <div class="visible-xs table-column-name">
                                                <span>{{data.columns_comp[4].ColumnName}}</span>
                                            </div>
                                            <div class="input-dialog-text" style="background:#99ffcc">
                                                <span>{{child1.Achievement.Action}}</span>
                                                <!--<span ng-show="isEditor" class="icon_btn" ng-click="promtDialog($event,$index,column_header[4].text,'action',table.index,child2)"><i class="fa fa-pencil"></i></span>-->
                                            </div>
                                        </div>
                                        <div layout="column" ng-style="{ 'width' : data.columns_comp[5].Columnwidth}">
                                            <div class="visible-xs table-column-name">
                                                <span>{{data.columns_comp[5].ColumnName}}</span>
                                            </div>
                                            <div class="input-dialog-text" style="background:#99ffcc">
                                                <span>{{child1.Achievement.Result}}</span>
                                                <span ng-show="isEditor && document.Additional.OwnerLevel == '0'" class="icon_btn" ng-click="promtDialog($event,$index,column_header[5].text,'result',table.index,child1)"><i class="fa fa-pencil"></i></span>
                                            </div>
                                        </div>

                                        <div layout="column" ng-style="{ 'width' : data.columns_comp[6].Columnwidth}">
                                            <div class="visible-xs table-column-name">
                                                <span>{{data.columns_comp[6].ColumnName}}</span>
                                            </div>
                                            <span ng-show="isEditor && child1.ItemControl.IsDefinedGap_Visible && document.Additional.OwnerLevel == '0'" class="text-center">
                                                <md-checkbox ng-model="child1.ItemControl.IsDefinedGap_Checked" ng-enable="child1.ItemControl.IsDefinedGap_Enable " ng-selected="child1.ItemControl.IsDefinedGap_Checked" class="auto-algin-in-table"> </md-checkbox>
                                            </span>
                                            <span ng-show="isEditor && child1.ItemControl.IsDefinedGap_Visible && document.Additional.OwnerLevel != '0'" class="text-center">
                                                <md-checkbox ng-model="child1.ItemControl.IsDefinedGap_Checked" ng-disabled="child1.ItemControl.IsDefinedGap_Enable" ng-selected="child1.ItemControl.IsDefinedGap_Checked" class="auto-algin-in-table"> </md-checkbox>
                                            </span>
                                            <span ng-show="!isEditor && child1.ItemControl.IsDefinedGap_Visible" class="align-res-ctrl"><md-checkbox ng-model="child1.ItemControl.IsDefinedGap_Checked" ng-disabled="child1.ItemControl.IsDefinedGap_Enable" ng-selected="child1.ItemControl.IsDefinedGap_Checked" class="auto-algin-in-table"> </md-checkbox></span>
                                        </div>
                                        <div layout="column" ng-style="{ 'width' : data.columns_comp[7].Columnwidth}">
                                            <div class="visible-xs table-column-name">
                                                <span>{{data.columns_comp[7].ColumnName}}</span>
                                            </div>
                                            <div ng-show="child1.ItemControl.IsDefinedGap_Visible && child1.ScoreControl.IsVisible_data_Request && isEditor">
                                                <md-select ng-model="child1.Score_Requester.ScaleID" required ng-change="SetScaleName(child1,'Requestor')">
                                                    <md-option ng-repeat="item in child1.Scales" ng-selected="item.ScaleID == child1.Score_Requester.ScaleID" ng-value="item.ScaleID">{{item.ScaleID}}</md-option>
                                                </md-select>
                                            </div>
                                            <span ng-show="isEditor && child1.ItemControl.IsDefinedGap_Visible && document.Additional.OwnerLevel != '0'" class="align-res-ctrl">{{child1.Score_Requester.ScaleName}}</span>
                                            <span ng-show="!isEditor && child1.ItemControl.IsDefinedGap_Visible" class="align-res-ctrl">{{child1.Score_Requester.ScaleName}}</span>
                                        </div>
                                        <div ng-if="data.columns_comp[8].Columnwidth !='0px'" layout="column" ng-style="{ 'width' : data.columns_comp[8].Columnwidth}">
                                            <div class="visible-xs table-column-name">
                                                <span>{{data.columns_comp[8].ColumnName}}</span>
                                            </div>
                                            <div ng-show="child1.ItemControl.IsDefinedGap_Visible && child1.ScoreControl.IsVisible_data_Approver && isEditor">
                                                <md-select ng-model="child1.Score_Approver.ScaleID" required ng-change="SetScaleName(child1,'Approver')">
                                                    <md-option ng-repeat="item in child1.Scales" ng-selected="item.ScaleID == child1.Score_Approver.ScaleID" ng-value="item.ScaleID" )>{{item.ScaleID}}</md-option>
                                                </md-select>
                                            </div>
                                            <span ng-show="!isEditor && child1.ItemControl.IsDefinedGap_Visible" class="align-res-ctrl">{{child1.Score_Approver.ScaleName}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="-pad10"></div>
        <div class="bar_expandlist">
            <div class="bar_expand-status accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#strength" ng-init="strength_expanded = false;" ng-click="strength_expanded =!strength_expanded">
                <div class="bar_statusword">
                    <i class="fa fa-star spirit__p" aria-hidden="true">&nbsp; </i>Strength
                </div>
                <div class="bar_right-icon">
                    <span class="icon-arrow_line_down" ng-show="strength_expanded"></span>
                    <span class="icon-arrow_line_up" ng-show="!strength_expanded"></span>
                </div>
            </div>
            <div class="body_content panel-collapse collapse in" id="strength" style="margin:0">
                <div class="row itemlist_block">
                    <div class="col-sm-12" style="margin-bottom:1rem;">
                        <textarea class="ag-textarea" ng-model="data.direct"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="-pad10"></div>
        <div class="bar_expandlist">
            <div class="bar_expand-status accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#developneed" ng-init="developneed_expanded = false;" ng-click="developneed_expanded =!developneed_expanded">
                <div class="bar_statusword">
                    <i class="fa fa-star spirit__p" aria-hidden="true">&nbsp; </i>Development Need
                </div>
                <div class="bar_right-icon">
                    <span class="icon-arrow_line_down" ng-show="developneed_expanded"></span>
                    <span class="icon-arrow_line_up" ng-show="!developneed_expanded"></span>
                </div>
            </div>
            <div class="body_content panel-collapse collapse in" id="developneed">
                <div class="row itemlist_block">
                    <div class="col-sm-12" style="margin-bottom:1rem;">
                        <textarea class="ag-textarea" ng-model="data.additional"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .align-res-ctrl-left {
        font-size: 15px;
        text-align: left;
    }
</style>