﻿<div class="TravelExManPage delegation-page"
	 ng-controller="healthSettingController"
	 ng-init="init()">
	<div class="row margin-b10">
		<div class="col-sm-10">
			<h1>ตั้งค่าลงทะเบียนประกันสุขภาพ</h1>
		</div>
		<div class="col-sm-2">
			<a class="m-btn-c2 btn-s-md text-center"
			   style="margin-top: 10px"
			   ng-click="back()">
				<span> {{Text['SYSTEM']['BACK']}} </span>
			</a>
		</div>
	</div>

	<div class="content-by-ayodia margin-b20" style="min-height: 750px">
		<div class="ayodia-header-content">
			<div class="ayodia-title w-100">ตั้งค่าลงทะเบียนประกันสุขภาพ</div>
		</div>
		<div class="ayodia-body-content">
			<div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll">
				<div class="body_content">

					<div class="clearfix margin-b20" ng-hide="isHideMultiCompany">
						<div class="filter-items-l clearfix">
							<div class="f-item">
								<label>{{Text['SYSTEM']['COMPANY']}} :</label>
								<select class="form-control w100px-desktop"
										ng-model="ddlCompany"
										ng-change="changeCompany(ddlCompany)">
									<option value="{{item.CompanyCode}}"
											ng-repeat="item in CompanyList">
										{{item.Name}}
									</option>
								</select>
							</div>
						</div>
					</div>


					<div class="bar_bottom layout-padding-md">
						<div class="body_content tab-container" style="background: white; min-height: 100vh; overflow-y: auto">
							<div class="leavetableBlock leavetableBlock_create">
								<div class="row itemlist_block">
									<div class="traveltableBlock -desk_md-only" style="overflow: unset !important;">
										<div class="row itemlist">
											<div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0 "
												 style="overflow: visible">
												<table class="w-100 table-style-1 margin-b10 ">
													<thead>
														<tr class="t-header">
															<td style="text-align:center;padding:10px">ลำดับที่</td>
															<td style="text-align:center;padding:10px">ปี</td>
															<td style="text-align:center;padding:10px">วันที่เปิดรอบ</td>
															<td style="text-align:center;padding:10px">วันที่ปิดรอบ</td>
															<td style="text-align:center;padding:10px"><span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="addNew()"></span></td>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="Item in HeathInsConfig" ng-show="HeathInsConfig.length > 0 && Item.Status !== Remove">
															<td class="text-center">{{$index+1}}</td>
															<td class="text-center">
																<select ng-model="Item.Year" class="form-control margin-t10 w-50"
																		ng-init="Item.Year = ListYear[getIndex(Item.Year)].YearID"
																		ng-options="list.YearID as list.YearName for list in ListYear"
																		ng-change="selectYear(Item , list.YearID)">
																</select>

															</td>
															<td class="text-center">
																<div class="datepicker-height-set margin-t10 w-50">
																	<datepicker date-min-limit="{{Item.Year-1}}-12-31"
																				date-max-limit="{{Item.Year}}-12-31"
																				date-format="d/M/yyyy" date-set="{{Item.BeginDate}}"
																				data-id="{{Item.HealthConfigID}}"
																				callback-on-change="setSelected(newDate,'BeginDate',Item)">
																		<input name="DOB" class="form-control clickable datepicker" type="text" required />
																	</datepicker>
																	<i class="icon-calendar ico_datestart -txt-blue" style="z-index:99;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
																</div>

															</td> <!--วันเปิดรอบ-->

															<td class="text-center">
																<div class="datepicker-height-set margin-t10 w-50">
																	<datepicker date-min-limit="{{Item.Year}}-01-01" date-max-limit="{{Item.Year}}-12-31" date-min-limit-for-range="{{Item.BeginDate}}" min="{{Item.BeginDate}}"
																				date-format="d/M/yyyy" date-set="{{Item.EndDate}}" data-id="{{Item.HealthConfigID}}" callback-on-change="setSelected(newDate,'EndDate',Item)">
																		<input name="DOB" class="form-control clickable datepicker" type="text" required />
																	</datepicker>
																	<i class="icon-calendar ico_datestart -txt-blue" style="z-index:5;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
																</div>
															</td> <!--วันปิดรอบ-->
															<td style="text-align: center !important;line-height: 2;" ng-click="remove(Item)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </td> <!--ลบข้อมูล-->

														</tr>

														<!--กรณีไม่มีข้อมูล-->
														<tr ng-show="HeathInsConfig.length == 0">
															<td colspan="4" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
														</tr>
													</tbody>
												</table>

											</div>
										</div>
									</div>
								</div>

								<div class="item-btn mobile-text-center">
									<a ng-click="onSubmit()">
										<div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
											<i class="fas fa-save"></i> {{ Text['SYSTEM']['SAVE'] }}
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.tab-container {
		background: white;
		min-height: 100vh;
		overflow-y: auto;
	}
</style>
