﻿<div>
    <div class="wrapper longPage travel_Ex_Man_41322" ng-controller="AchievementViewerController" ng-init="init()">
        <div class="travelexblock itemlist travel_elm2 travelExBlock">
            <div class="body_content">
                <div class="bar_expandlist">
                    <div class="bar_expand-status accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsArchievement" ng-init="expanded = false;" ng-click="expanded =!expanded">
                        <div class="bar_statusword">
                            {{Text[Textcategory].TITLE}}
                        </div>
                        <div class="bar_right-icon">
                            <span class="icon-arrow_line_down" ng-show="expanded"></span>
                            <span class="icon-arrow_line_up" ng-show="!expanded"></span>
                        </div>
                    </div>
                    <div class="body_content panel-collapse collapse in" id="collapsArchievement">
                        <div class="row itemlist_block">

                            <div style="padding-left:1rem;padding-right:1rem;">
                                <!-- Duo display: Desktop, Moblie -->
                                <div layout="column" layout-padding="10px" style="padding-top:0; padding-bottom: 0; overflow-x: scroll; margin-bottom: 20px; background: #f7f7f7;">
                                    <div class="table-column-name row-items border-left hidden-xs" layout="row" style="padding-left:0px;padding-right:0px;">
                                        <div layout="row" ng-style="{ 'width' : ch.width}" layout-align="center center" ng-repeat="ch in column_header">
                                            <span>{{ch.Text}}</span>
                                        </div>
                                    </div>
                                    <div class="bar_expandlist mo-duo" style="padding: 0px; " ng-repeat="r in AchievementViewer">
                                        <div class="bar_expand-status mo-duo visible-xs">
                                            <div class="bar_left-icon mo-duo " style="height:35.1px;">
                                                <div class="dummy"> <span class="icon-arrow_line_down"></span></div>
                                            </div>
                                            <div class="bar_statusword">
                                                <a href="#" class="ng-binding" style=" font-size: 16px;">{{r.title}}</a>
                                            </div>
                                        </div>
                                        <div class="bar_expand-expandDetail mo-duo">
                                            <div style="background:#f7f7f7;">
                                                <div class="row-items" style=" padding-top: 0; padding-left: 0; padding-bottom: 0; position: relative; " layout="row" layout-padding="10px;">
                                                    <div layout="column" style="position:relative;" ng-style="{ 'width' : column_header[0].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[0]}}</span>
                                                        </div>
                                                        <div layout="row" layout-align="center center">
                                                            <span class="align-res-ctrl" ng-if="item.isSelected" ng-class="item.cssClass" ng-repeat="item in r.selectedTag" title="{{item.Description}}" style="margin-right: 4px;">{{item.code}}</span>
                                                        </div>
                                                        <div class="icon-achievement-type">
                                                            <div ng-if="r.AchievementType == 'Achievement'">
                                                                <i class="fa fa-bullseye spirit__t" aria-hidden="true"></i>
                                                            </div>
                                                            <div ng-if="r.AchievementType == 'Star Achievement'">
                                                                <i class="fa fa-star spirit__p" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[1].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[1]}}</span>
                                                        </div>
                                                        <span>{{r.Situation}}</span>
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[2].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[2]}}</span>
                                                        </div>
                                                        <span>{{r.Action}}</span>
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[3].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[3]}}</span>
                                                        </div>
                                                        <span>{{r.Result}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .icon_btn{
        position: absolute;
        right: 5px;
        background: #289efe;
        height: 27px;
        width: 27px;
        line-height: 33px;
        color: white;
        font-size: 20px;
        outline:none;
        padding-left: 6px
    }
    .table-column-name span {
        font-family: rsu_l;
        font-size: 16px;
        border: none;
        color: #7F7F7F;
    }

    .table-column-name > div {
        border-bottom: solid 1px #a9a9a9;
        padding-bottom: 0.5rem;
    }

    .row-items > div {
       width: 20%;
        word-wrap: break-word;
        padding: 5px;
        position:relative;
        cursor:pointer;
    }

    .row-items.border-left > div {
        border-right: solid 1px #dadada;
    }

    .input-text_ {
        padding: 0.25rem;
        font-size: 14px !important;
    }

    .row-items > div.-p10 {
        min-width: 10%;
    }

    .mo-duo md-select, md-input-container {
        margin: 0;
    }

    .align-res-ctrl {
        text-align: center;
        font-size: 15px;
    }

        .align-res-ctrl.left {
            text-align: left;
        }

    .bar_expand-status.mo-duo {
        background: #f7f7f7 !important;
        max-width: 486px;
    }

        .bar_expand-status.mo-duo span, .bar_expand-status.mo-duo a {
            color: black;
        }

    .box-perdiem {
        background: #f7f7f7;
    }

    .bar_left-icon.mo-duo {
        background: #E5E5E5;
    }

        .bar_left-icon.mo-duo:hover {
            background: #CBCBCB !important;
        }
    /*not moblie */
    @media only screen and (min-width: 769px) {
        .bar_expand-expandDetail.mo-duo {
            background: #E5E5E5;
            display: block !important;
        }
    }
    /*moblie*/
    @media only screen and (max-width: 769px) {
        .bar_expand-expandDetail.mo-duo {
            max-width: 486px;
        }

        .box-perdiem {
            background: white;
        }

        .row-items {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            flex-direction: column;
            box-sizing: border-box;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
        }

        .align-res-ctrl {
            text-align: start;
        }
    }
</style>