﻿<div>
    <div class="wrapper longPage travel_Ex_Man_41322 copKPIEditor" ng-controller="CorpKPIEditorController" ng-init="init()">
        <div ng-hide="data.TravelSeqEdit || data.TravelPersonalEdit" class="travelexblock itemlist travel_elm2 travelExBlock">
            <div class="body_content">
                <div class="bar_expandlist">
                    <div class="bar_expand-status accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsTravelRequest" ng-init="expanded = false;" ng-click="expanded =!expanded">
                        <div class="bar_statusword">
                            {{Text[Textcategory].TITLE}} ( {{Text[Textcategory].DURATION_TIME}} {{data.Activities.BeginDate  | date:'dd MMMM yyyy'}}  - {{data.Activities.EndDate | date:'dd MMMM yyyy'}}  )
                        </div>
                        <div class="bar_right-icon">
                            <span class="icon-arrow_line_down" ng-show="expanded"></span>
                            <span class="icon-arrow_line_up" ng-show="!expanded"></span>
                        </div>
                    </div>
                    <div class="body_content panel-collapse collapse in" id="collapsTravelRequest">
                        <div class="row itemlist_block">
                            <div class="col-sm-12" style="margin-bottom:1rem;">
                                <div class="item-btn mobile-text-center">
                                    <a>
                                        <div class="itemin_btn ng-binding" ng-click="selectKPI($event)" style="min-width: 165px;text-align: center;">
                                            <span class="icon-doc_plus" aria-hidden="true"></span>
                                            {{Text[Textcategory].KPICATALOG}}
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div style="padding-left: 0rem; padding-right: 1px;overflow-x: scroll; ">
                                <!-- Duo display: Desktop, Moblie -->
                                <div class="due-table" layout="column" layout-padding="0px" style="padding-top:0; padding-bottom: 0; display:inline-block; margin-bottom: 20px; background: #f7f7f7;">
                                    <div class="table-column-name row-items border-left hidden-xs" layout="row" style="padding-left:0px;padding-right:0px;">
                                        <div layout="row" ng-style="{ 'width' : ch.width}" layout-align="center center" ng-repeat="ch in column_header">
                                            <span>{{ch.text}}</span>
                                        </div>
                                        <div layout="row" style="width:300px" layout-align="center center" ng-repeat="hr in column_header_att">
                                            <span>{{hr.TextCode}}</span>
                                        </div>
                                        <div layout="row" style="width:400px;" layout-align="center center">
                                            <span>Description of KPI</span>
                                        </div>
                                    </div>
                                    <div class="bar_expandlist mo-duo border-bottom " style="padding: 0px;" ng-repeat="r in data.selectedKPI | orderBy : ['ObjectiveID','IndicatorID'] ">
                                        <div class="bar_expand-status mo-duo visible-xs width-ctrl-xs">
                                            <div class="bar_left-icon mo-duo " style="height:35.1px;">
                                                <div class="dummy"> <span class="icon-arrow_line_down"></span></div>
                                            </div>
                                            <div class="bar_statusword">
                                                <a href="#" class="ng-binding" style=" font-size 16px;">{{r.ObjectiveName}}</a>
                                            </div>
                                        </div>
                                        <div class="bar_expand-expandDetail mo-duo">
                                            <div style="background:#f7f7f7;">
                                                <!--Repeat Data here -->
                                                <div class="row-items" style="padding:0; position : relative;" layout="row" layout-padding="10px;">
                                                    <div layout="column" ng-style="{ 'width' : column_header[0].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[0].text}}</span>
                                                        </div>
                                                        <span class="align-res-ctrl">{{$index+1}}</span>
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[1].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[1].text}}</span>
                                                        </div>
                                                        <md-select ng-model="r.Content.KPITypeID" required ng-change="getIsConfigKPI(r.Content.KPITypeID,$index)" ng-init="getIsConfigKPI(r.Content.KPITypeID,$index)">
                                                            <md-option ng-repeat="mKPI in masterKPIType" ng-value="mKPI.KPITypeID">{{mKPI.KPITypeID}} : {{mKPI.Name}}</md-option>
                                                        </md-select>
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[2].width}">
                                                        <!--ชื่อเป้าประสงค์-->
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[2].text}}</span>
                                                        </div>
                                                        <span class="align-res-ctrl left" ng-model="r.Content.ObjectiveID">{{r.ObjectiveID}} : {{r.Content.ObjectiveName}}</span>
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[3].width}">
                                                        <!--ตัวชี้วัดที่เชื่อมโยง-->
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[3].text}}</span>
                                                        </div>
                                                        <md-select ng-model="r.Content.LinkIndicatorID" required>
                                                            <md-option ng-repeat="indi in masterIndicator" ng-value="indi.IndicatorID" selected="true">{{indi.Name}}</md-option>
                                                        </md-select>
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[4].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[4].text}}</span>
                                                        </div>
                                                        <div class="input-dialog-text">
                                                            <span>{{r.ObjectiveID}}.{{r.IndicatorID}} : {{r.Content.IndicatorName}}</span>
                                                            <span class="icon_btn" ng-click="promtDialog($event,r.ObjectiveID,r.IndicatorID,'IndicatorName')"><i class="fa fa-pencil"></i></span>
                                                        </div>
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[5].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[5].text}}</span>
                                                        </div>
                                                        <input class="input-text_  text-right" ng-model="r.Content.Weight" size="10" ng-diabled="r.Content.IsWeightReadonly" placeholder="{{column_header[5]}}" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[6].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[6].text}}</span>
                                                        </div>
                                                        <input class="input-text_ text-right" ng-model="r.Content.Rating" size="10" ng-diabled="r.Content.IsRatingReadonly" placeholder="{{column_header[6]}}" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                                                    </div>
                                                    
                                                    <div layout="column" ng-repeat="co in column_header_att" style="width:300px">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{co.TextCode}}</span>
                                                        </div>
                                                        <span ng-if="co.AttributeController.ControllerType == 'LIST'">
                                                            <md-select ng-model="r.Content[co.Attribute.FieldValue]" required>
                                                                <md-option ng-repeat="type in co.AttributeController.ContollerValues" ng-value="type.ValueID">{{type.Name}}</md-option>
                                                            </md-select>

                                                        </span>
                                                        <span ng-if="co.AttributeController.ControllerType == 'TEXT'">
                                                            <input class="input-text_" size="15" ng-model="r.Content[co.Attribute.FieldValue]" placeholder="input text">
                                                        </span>
                                                    </div>
                                                    <div layout="column" style="width:400px;">
                                                        <div class="visible-xs table-column-name">
                                                            <span>Description of KPI</span>
                                                        </div>
                                                        <div class="input-dialog-text">
                                                            <span>{{r.Content.Description}}</span>
                                                            <span class="icon_btn" ng-click="promtDialog($event,r.ObjectiveID,r.IndicatorID,'Description')"><i class="fa fa-pencil"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Table-->

                </div>
            </div>
        </div>
    </div>
</div>

<style>
    
    /*not moblie */
    @media only screen and (min-width: 769px) {
       
    }
    /*moblie*/
    @media only screen and (max-width: 769px) {

        
    }
</style>