﻿<div>
    <div class="wrapper longPage travel_Ex_Man_41322 copKPIEditor" ng-controller="IDPPlanEditorController" ng-init="init()">
        <div ng-hide="data.TravelSeqEdit || data.TravelPersonalEdit" class="travelexblock itemlist travel_elm2 travelExBlock">
            <div class="body_content">
                <div class="bar_expandlist">
                    <div class="bar_expand-status accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsTravelRequest" ng-init="expanded = false;" ng-click="expanded =!expanded">
                        <div class="bar_statusword">
                            {{Text[Textcategory].TITLE}} 
                        </div>
                        <div class="bar_right-icon">
                            <span class="icon-arrow_line_down" ng-show="expanded"></span>
                            <span class="icon-arrow_line_up" ng-show="!expanded"></span>
                        </div>
                    </div>
                    <div class="body_content panel-collapse collapse in" id="collapsTravelRequest">
                        <div class="row itemlist_block">
                            <div class="col-sm-12" style="margin-bottom:1rem;">
                                <div class="item-btn mobile-text-center">
                                    <a>
                                        <div class="itemin_btn ng-binding" ng-click="selectGAP($event,null)" style="min-width: 165px;text-align: center;">
                                            <span class="icon-doc_plus" aria-hidden="true"></span>
                                            {{Text[Textcategory].ADD_GAP}}
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <md-input-container style="    margin-top: 2rem;margin-left: 1rem;max-width: 400px;width: 100%;">
                                <label>{{Text[Textcategory].PLAN_NAME}}</label>
                                <input ng-model="document.Additional.PlanName" required>
                            </md-input-container>

                            <div style="padding-left: 0rem; padding-right: 1px;overflow-x: scroll; ">
                                <!-- Duo display: Desktop, Moblie -->
                                <div class="due-table" layout="column" layout-padding="0px" style=" display:inline-block; margin-bottom: 20px; background: #f7f7f7;">
                                    <div class="table-column-name row-items border-left hidden-xs" layout="row" style="padding-left:0px;padding-right:0px;">
                                        <div layout="row" ng-style="{ 'width' : ch.width}" layout-align="center center" ng-repeat="ch in column_header">
                                            <span>{{ch.text}}</span>
                                        </div>
                                    </div>
                                    <div class="bar_expandlist mo-duo border-bottom " style="padding: 0px;" ng-repeat="r in document.Additional.PlanContent ">
                                        <div class="bar_expand-status mo-duo visible-xs width-ctrl-xs">
                                            <div class="bar_left-icon mo-duo " style="">
                                                <div class="dummy"> <span class="icon-arrow_line_down"></span></div>
                                            </div>
                                            <div class="bar_statusword">
                                                <a href="#" class="ng-binding" style=" font-size:16px;">{{r.GapName}}</a>
                                            </div>
                                            <div style="  position: absolute; top: 0; right: 0; padding: 0.5rem; background: #ffcece; width: 40px; text-align: center;">
                                                <i class="fa fa-trash" aria-hidden="true" style=" color:#FF443F;    font-size: 20px" ng-click="removeitem($index)"> </i>
                                            </div>
                                        </div>
                                        <div class="bar_expand-expandDetail mo-duo">
                                            <div style="background:#f7f7f7;">
                                                <!--Repeat Data here -->
                                                <div class="row-items" style="padding:0; position : relative;" layout="row" layout-padding="10px;">
                                                    <div layout="column" ng-style="{ 'width' : column_header[0].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[0].text}}</span>
                                                        </div>
                                                        <span class="align-res-ctrl">{{$index+1}}</span>
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[1].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[1].text}}</span>
                                                        </div>
                                                        <span>{{r.GapName}}</span>

                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[2].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[2].text}}</span>
                                                        </div>
                                                        <div>
                                                            <md-select ng-model="r.DevMethodID" ng-change="setMethodName(r)">
                                                                <md-option ng-repeat="item in data.DevMethodList" ng-value="item.DevMethodID" ng-selected="r.DevMethodID == item.DevMethodID">{{item.DevMethodName}}</md-option>
                                                            </md-select>
                                                        </div>
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[3].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[3].text}}</span>
                                                        </div>
                                                        <div class="input-dialog-text">
                                                            <span>{{r.PlanDescription}}</span>
                                                            <div>
                                                                <span class="icon_btn" ng-click="promtDialog($event,$index,column_header[3].text)"><i class="fa fa-pencil"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[4].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[4].text}}</span>
                                                        </div>
                                                        <div style="position: relative; width: 150px; height: 50px; overflow: hidden;">
                                                            <input value="{{getDateFormate(r.PlanBeginDate)}}" ng-disabled="false"
                                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                                   ng-click="isShowDateStart=!isShowDateStart"
                                                                   style="background: white; color: black; position: absolute; top: 0; z-index: 1; width: 150px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                                   aria-invalid="true">
                                                            <md-datepicker ng-model="r.PlanBeginDate" md-hide-icons="calendar" md-is-open="isShowDateStart" style=" width: 100px;" ng-change="checkMaxDate($index)"></md-datepicker>
                                                            <i class="icon-calendar ico_datestart -txt-blue" style=" z-index: 3; pointer-events: none; position: absolute; top: 7px; right: 10px; font-size: 25px; "></i>
                                                        </div>
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[5].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[5].text}}</span>
                                                        </div>
                                                        <div style="position: relative; width: 150px; height: 50px; overflow: hidden;">
                                                            <input value="{{getDateFormate(r.PlanEndDate)}}" ng-disabled="false"
                                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                                   ng-click="isShowDateEnd=!isShowDateEnd"
                                                                   style="background: white; color: black; position: absolute; top: 0; z-index: 1; width: 150px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                                   aria-invalid="true">
                                                            <md-datepicker ng-model="r.PlanEndDate" md-min-date="r.PlanBeginDate" md-hide-icons="calendar" md-is-open="isShowDateEnd" style=" width: 100px;" ng-change="checkMaxDate($index)"></md-datepicker>
                                                            <i class="icon-calendar ico_datestart -txt-blue" style=" z-index: 3; pointer-events: none; position: absolute; top: 7px; right: 10px; font-size: 25px; "></i>
                                                        </div>
                                                    </div>
                                                    <div layout="column" ng-style="{ 'width' : column_header[6].width}">
                                                        <div class="visible-xs table-column-name">
                                                            <span>{{column_header[6].text}}</span>
                                                        </div>
                                                        <div class="align-res-ctrl">
                                                            <i class="fa fa-trash" aria-hidden="true" style=" color:#FF443F;    font-size: 20px" ng-click="removeitem($index)"> </i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Table-->

                </div>
            </div>
        </div>
    </div>
</div>