﻿<div class="wrapper etc-payment-page LeaveModulePage TravelPage TravelPage01 longPage copKPIEditor" ng-controller="KPISettingViewerController" ng-init="InitialConfig();">
    <div class="travelexblock itemlist travel_elm2 travelExBlock">
        <div class="body_content">
            <div class="bar_expandlist">
                <div class="bar_expand-status accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsTravelRequest" ng-init="expanded = false;" ng-click="expanded =!expanded">
                    <div class="bar_statusword">
                        {{Text[Textcategory].TITLE}} ( {{Text[TextcategoryKPICorp].DURATION_TIME}} {{data.Activities.BeginDate  | date:'dd MMMM yyyy'}}  - {{data.Activities.EndDate | date:'dd MMMM yyyy'}}  )
                    </div>
                    <div class="bar_right-icon">
                        <span class="icon-arrow_line_down" ng-show="expanded"></span>
                        <span class="icon-arrow_line_up" ng-show="!expanded"></span>
                    </div>
                </div>

                <div class="summarize" layout="column">
                    <span style="color: #da5252;">{{Text[TextcategoryKPICorp].WEIGHT}} : {{KPIWeight}}</span>
                </div>

                <div class="body_content panel-collapse collapse in" id="collapsTravelRequest">
                    <div class="row itemlist_block">
                        <div style="padding-left: 0rem; padding-right: 1px;overflow-x: scroll;">
                            <!-- Duo display: Desktop, Moblie -->
                            <div class="due-table" layout="column" layout-padding="0px" style="padding-top:0; padding-bottom: 0; display:inline-block; margin-bottom: 20px; background: #f7f7f7;">
                                <div class="table-column-name row-items border-left hidden-xs" layout="row" style="padding-left:0px;padding-right:0px;">
                                    <div layout="row" ng-style="{ 'width' : ch.width}" layout-align="center center" ng-repeat="ch in column_header">
                                        <span>{{ch.text}}</span>
                                    </div>
                                    <div layout="row" style="width:300px" layout-align="center center" ng-repeat="hr in column_header_att">
                                        <span>{{hr.TextCode}}</span>
                                    </div>
                                    <div layout="row" style="width:400px" layout-align="center center">
                                        <span>Description</span>
                                    </div>
                                </div>
                                <div class="bar_expandlist mo-duo border-bottom " style="padding: 0px; " ng-repeat="r in data.selectedKPI | orderBy : ['ObjectiveID','IndicatorID'] ">
                                    <div class="bar_expand-status mo-duo visible-xs width-ctrl-xs">
                                        <div class="bar_left-icon mo-duo " style="height:35.1px;">
                                            <div class="dummy"> <span class="icon-arrow_line_down"></span></div>
                                        </div>
                                        <div class="bar_statusword">
                                            <a href="#" class="ng-binding" style=" font-size 16px;">{{r.ObjectiveName}}</a>
                                        </div>
                                    </div>
                                    <div class="bar_expand-expandDetail mo-duo">
                                        <div style="background:#f7f7f7;">
                                            <!--Repeat Data here -->
                                            <div class="row-items" style="padding:0; position : relative;" layout="row" layout-padding="10px;">
                                                <div layout="column" ng-style="{ 'width' : column_header[0].width}">
                                                    <div class="visible-xs table-column-name">
                                                        <span>{{column_header[0].text}}</span>
                                                    </div>
                                                    <span class="align-res-ctrl">{{$index+1}}</span>
                                                </div>
                                                <div layout="column" ng-style="{ 'width' : column_header[1].width}">
                                                    <div class="visible-xs table-column-name">
                                                        <span>{{column_header[1].text}}</span>
                                                    </div>
                                                    <span class="align-res-ctrl">{{r.Content.KPITypeName}}</span>
                                                </div>
                                                <div layout="column" ng-style="{ 'width' : column_header[2].width}">
                                                    <!--ชื่อเป้าประสงค์-->
                                                    <div class="visible-xs table-column-name">
                                                        <span>{{column_header[2].text}}</span>
                                                    </div>
                                                    <span class="align-res-ctrl">{{r.ObjectiveName}}</span>
                                                </div>
                                                <div layout="column" ng-style="{ 'width' : column_header[3].width}">
                                                    <!--ตัวชี้วัดที่เชื่อมโยง-->
                                                    <div class="visible-xs table-column-name">
                                                        <span>{{column_header[3].text}}</span>
                                                    </div>
                                                    <span class="align-res-ctrl">{{r.Content.LinkIndicatorName}}</span>
                                                </div>
                                                <div layout="column" ng-style="{ 'width' : column_header[4].width}">
                                                    <div class="visible-xs table-column-name">
                                                        <span>{{column_header[4].text}}</span>
                                                    </div>
                                                    <span class="text-left">{{r.Content.ObjectiveID}}.{{r.Content.IndicatorID}} {{r.Content.IndicatorName}}</span>
                                                </div>
                                                <div layout="column" ng-style="{ 'width' : column_header[5].width}">
                                                    <div class="visible-xs table-column-name">
                                                        <span>{{column_header[5].text}}</span>
                                                    </div>
                                                    <span class="align-res-ctrl">{{r.Content.Weight}}</span>
                                                </div>
                                                <div layout="column" ng-repeat="co in column_header_att" style="width:300px">
                                                    <div class="visible-xs table-column-name">
                                                        <span>{{co.TextCode}}</span>
                                                    </div>
                                                    <span class="align-res-ctrl">{{r.Content[co.Attribute.FieldText]}}</span>
                                                </div>
                                                <div layout="column" style="width:400px">
                                                    <div class="visible-xs table-column-name">
                                                        <span>Description</span>
                                                    </div>
                                                    <span class="align-res-ctrl">{{r.Content.Description}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    /*not moblie */
    @media only screen and (min-width: 769px) {
      
    }
    /*moblie*/
    @media only screen and (max-width: 769px) {
       



    }
</style>

