﻿<div ng-controller="ObjectSettingController" class="TravelExManPage object-setting">

    <div class="contentHead">
        <div class="bar-content" id="sticky_main_bar" style="">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{Text['APPLICATION'].OM_OBJECT_SETTING}}</div>
                    <div class="bar_right forsearch "><span class="icon-magnify_glass"></span></div>
                </div>
            </div>
            <div class="row bar_search">
                <div class=" -col_centered search-visible-xs ">
                    <div class="col-sm-2 col-xs-4 input-group search_block">

                    </div>
                    <div class="input-group search_block itemlist ">
                        <div class="row">
                            <div class="col-md-4 col-sm-12" style="height: 50px;margin-top: 13px;">
                                <select id="ObjectType" ng-model="ObjectType" class="form-control ng-pristine ng-valid ng-touched" style="min-width: 100px;" aria-invalid="false" ng-change="OnChange();">
                                    <option value="">{{ Text[OSTextcategory].All }}</option>
                                    <option value="CostCenter">{{ Text['EXPENSE'].COST_CENTER }}</option>
                                    <option value="Organize">{{ Text[OSTextcategory].Organization }}</option>
                                    <option value="Position">{{ Text[OSTextcategory].Position }}</option>
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-12 " style="height: 50px;">
                                <div class="input-group search_block bottom-content">
                                    <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" ng-model="search">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default ng-binding" type="button">{{ Text['SYSTEM'].SEARCH }}</button>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="-pad10"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bar-content" style="padding: 30px 5px 0px 5px;">
        <div class="row bar_title">
            <div class="col-md-12">
                <div class="bar_left bar_left_single_line">
                    <div class="bar_left-title">
                        {{Text[OSTextcategory].OM_OBJECT_SETTING}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="body_content" style="padding: 0px 5px 0px 5px;">
        <div class="leavetableBlock leavetableBlock_create">
            <div class="row itemlist_block" style="border-bottom:none;">
                <div class="col-md-12">
                    <div class="-pad10"></div>
                    <div class="row" style="padding-left: 30px;">
                        <div class="col-sm-12">
                            <div class="item-btn mobile-text-center">
                                <a>
                                    <div class="itemin_btn" ng-click="OnClickAdd();" style="min-width: 165px; text-align: center;">
                                        <span class="icon-doc_plus"></span>&nbsp{{ Text[OSTextcategory].Add}}
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="-pad20"></div>
                    <div>
                        <!--  <div ng-if="!loader.conetent"> -->
                        <!-- desktop version table new -->
                        <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                            <div class="row itemlist">

                                <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide" style="overflow: visible; padding:0xp;">
                                    <div id="mCSB_4" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" style="max-height: none;     outline: none;" tabindex="0">
                                        <div id="mCSB_4_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position: relative; top: 0px;" dir="ltr">
                                            <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                <thead>
                                                    <tr>
                                                        <td>{{ Text[OSTextcategory].ObjectType }}</td>
                                                        <td>{{ Text[OSTextcategory].ObjectID }}</td>
                                                        <td>{{ Text[OSTextcategory].Thai }} {{ Text[OSTextcategory].Abbreviation }}</td>
                                                        <td>{{ Text[OSTextcategory].Thai }} {{ Text[OSTextcategory].Full }}</td>
                                                        <td>{{ Text[OSTextcategory].English }} {{ Text[OSTextcategory].Abbreviation }}</td>
                                                        <td>{{ Text[OSTextcategory].English }} {{ Text[OSTextcategory].Full }}</td>
                                                        <td>{{ Text[OSTextcategory].ActiveDate }}</td>
                                                        <td></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="x in data.arrSplited[data.selectedColumn]">
                                                        <td><div class="breakword-100px em-font-15 text-left">{{ x.ObjectType }}</div></td>
                                                        <td><div class="breakword-100px em-font-15 text-left">{{ x.ObjectID }}</div></td>
                                                        <td><div class="breakword-100px em-font-15 text-left">{{ x.ShortText }}</div></td>
                                                        <td><div class="breakword-100px em-font-15 text-left">{{ x.Text }}</div></td>
                                                        <td><div class="breakword-100px em-font-15 text-left">{{ x.ShortTextEn }}</div></td>
                                                        <td class="money"><div class="breakword-100px em-font-15 text-left">{{ x.TextEn }}</div></td>
                                                        <td class="money"><div class="breakword-100px em-font-15">{{ x.BeginDate | date:"dd/MM/yyyy"}}-{{ (x.EndDate | date:"dd/MM/yyyy")}}</div></td>
                                                        <td style="vertical-align: middle !important; text-align:right !important;">
                                                            <a ng-click="OnClickCopy(x.ObjectType,x.ObjectID,x.BeginDate,x.EndDate);" class="btn no-radius ico_lightaction action-edit" style="background: #cef6ff;"><span style="color:#6e8dbc;" class="fa fa-files-o"></span></a>
                                                            <a ng-click="OnClickEdit(x.ObjectType,x.ObjectID,x.BeginDate,x.EndDate);" class="btn no-radius ico_lightaction action-edit"><span class="fal fa-pencil-alt"></span></a>
                                                            <a ng-click="OnClickDelete(x.ObjectType,x.ObjectID,x.BeginDate,x.EndDate);" class="btn no-radius ico_lightaction action-del"><span class="fal fa-times"></span></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><div id="mCSB_4_scrollbar_vertical" class="mCSB_scrollTools mCSB_4_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_4_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; top: 0px; height: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div><div id="mCSB_4_scrollbar_horizontal" class="mCSB_scrollTools mCSB_4_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_4_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 50px; display: block; width: 689px; left: 223px; max-width: 902px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div>
                                </div>
                            </div>
                        </div>



                        <!-- Moblie new version table ContactData -->
                        <div class="travelExMan_content-res -xs_sm-only travelEx_tablesec02">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="bar_expandlist" ng-repeat="x in data.arrSplited[data.selectedColumn]">
                                        <div class="bar_expand-status">
                                            <div class="bar_left-icon">
                                                <div class="dummy "> <span class="icon-arrow_line_down"></span></div>
                                            </div>
                                            <div class="bar_statusword">
                                                <a href="#">{{  x.ObjectID }}:{{x.ShortText}}</a>
                                            </div>
                                            <div class="exman-res_icoaction">
                                                <a ng-click="OnClickCopy(x.ObjectType,x.ObjectID,x.BeginDate,x.EndDate);" class="btn no-radius ico_lightaction action-edit" style="background: #cef6ff;"><span style="color:#6e8dbc;" class="fa fa-files-o"></span></a>
                                                <a ng-click="OnClickEdit(x.ObjectType,x.ObjectID,x.BeginDate,x.EndDate);" class="btn no-radius ico_lightaction action-edit"><span class="fal fa-pencil-alt"></span></a>
                                                <a ng-click="OnClickDelete(x.ObjectType,x.ObjectID,x.BeginDate,x.EndDate);" class="btn no-radius ico_lightaction action-del"><span class="fal fa-times"></span></a>
                                            </div>
                                        </div>
                                        <div class="bar_expand-expandDetail " style="display: none;">
                                            <div class="expandDetail_01">
                                                <ul class="itemlist_table-res">
                                                    <li>
                                                        <p class="exman-res_titletable">{{ Text[OSTextcategory].ObjectType }}</p>
                                                        <p class="exman-res_detailtable em-font-15 text-left"> {{ x.ObjectType }}</p>
                                                    </li>
                                                    <li>
                                                        <p class="exman-res_titletable">{{ Text[OSTextcategory].ObjectID }}</p>
                                                        <p class="exman-res_detailtable em-font-15 text-left">{{ x.ObjectID }}</p>
                                                    </li>
                                                    <li>
                                                        <p class="exman-res_titletable">{{ Text[OSTextcategory].Thai }} {{ Text[OSTextcategory].Abbreviation }}</p>
                                                        <p class="exman-res_detailtable em-font-15 text-left">{{ x.ShortText }}</p>
                                                    </li>
                                                    <li>
                                                        <p class="exman-res_titletable">{{ Text[OSTextcategory].Thai }} {{ Text[OSTextcategory].Full }}</p>
                                                        <p class="exman-res_detailtable em-font-15 text-left">{{ x.Text }}</p>
                                                    </li>
                                                    <li>
                                                        <p class="exman-res_titletable">{{ Text[OSTextcategory].English }} {{ Text[OSTextcategory].Abbreviation }}</p>
                                                        <p class="exman-res_detailtable em-font-15 text-left">{{ x.ShortTextEn }}</p>
                                                    </li>
                                                    <li>
                                                        <p class="exman-res_titletable">{{ Text[OSTextcategory].English }} {{ Text[OSTextcategory].Full }}</p>
                                                        <p class="exman-res_detailtable em-font-15 text-left">{{ x.TextEn }}</p>
                                                    </li>
                                                    <li>
                                                        <p class="exman-res_titletable">{{ Text[OSTextcategory].ActiveDate }}</p>
                                                        <p class="exman-res_detailtable em-font-15">{{ x.BeginDate | date:"dd/MM/yyyy"}}-{{ (x.EndDate | date:"dd/MM/yyyy")}}</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Moblie new version table  -->
                        <!--<div class="travelExMan_content-res -xs_sm-only">
                            <div class="traveltableBlock travelEx_tablesec01">
                                <div class="row itemlist">
                                    <div class="col-sm-12" style="padding:0;">
                                        <ul class="itemlist_table-res" ng-repeat="x in data.arrSplited[data.selectedColumn]" style="padding-top:40px;">
                                            <li>
                                                <p class="exman-res_titletable">{{ Text[OSTextcategory].ObjectType }}</p>
                                                <p class="exman-res_detailtable em-font-15"> {{ x.ObjectType }}</p>
                                            </li>
                                            <li>
                                                <p class="exman-res_titletable">{{ Text[OSTextcategory].ObjectID }}</p>
                                                <p class="exman-res_detailtable em-font-15">{{ x.ObjectID }}</p>
                                            </li>
                                            <li>
                                                <p class="exman-res_titletable">{{ Text[OSTextcategory].Thai }} {{ Text[OSTextcategory].Abbreviation }}</p>
                                                <p class="exman-res_detailtable em-font-15">{{ x.ShortText }}</p>
                                            </li>
                                            <li>
                                                <p class="exman-res_titletable">{{ Text[OSTextcategory].Thai }} {{ Text[OSTextcategory].Full }}</p>
                                                <p class="exman-res_detailtable em-font-15">{{ x.Text }}</p>
                                            </li>
                                            <li>
                                                <p class="exman-res_titletable">{{ Text[OSTextcategory].English }} {{ Text[OSTextcategory].Abbreviation }}</p>
                                                <p class="exman-res_detailtable em-font-15">{{ x.ShortTextEn }}</p>
                                            </li>
                                            <li>
                                                <p class="exman-res_titletable">{{ Text[OSTextcategory].English }} {{ Text[OSTextcategory].Full }}</p>
                                                <p class="exman-res_detailtable em-font-15">{{ x.TextEn }}</p>
                                            </li>
                                            <li>
                                                <p class="exman-res_titletable">{{ Text[OSTextcategory].ActiveDate }}</p>
                                                <p class="exman-res_detailtable em-font-15">{{ x.BeginDate | date:"dd/MM/yyyy"}}-{{ (x.EndDate | date:"dd/MM/yyyy")}}</p>
                                            </li>
                                            <li>
                                                <div class="exman-res_icoaction">
                                                    <a ng-click="OnClickCopy(x.ObjectType,x.ObjectID,x.BeginDate,x.EndDate);" class="btn no-radius ico_lightaction action-edit" style="background: #cef6ff;"><span style="color:#6e8dbc;" class="fa fa-files-o"></span></a>
                                                    <a ng-click="OnClickEdit(x.ObjectType,x.ObjectID,x.BeginDate,x.EndDate);" class="btn no-radius ico_lightaction action-edit"><span class="fal fa-pencil-alt"></span></a>
                                                    <a ng-click="OnClickDelete(x.ObjectType,x.ObjectID,x.BeginDate,x.EndDate);" class="btn no-radius ico_lightaction action-del"><span class="fal fa-times"></span></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!-- old design table
                    <div class="col-md-12">
                        <table datatable="ng" dt-options="dtOptions" class="table table-bordered">
                            <thead>
                                <tr style="background:#289EFE;">
                                    <th rowspan="2">{{ Text[OSTextcategory].ObjectType }}</th>
                                    <th rowspan="2">{{ Text[OSTextcategory].ObjectID }}</th>
                                    <th colspan="2">{{ Text[OSTextcategory].Thai }}</th>
                                    <th colspan="2">{{ Text[OSTextcategory].English }}</th>
                                    <th rowspan="2">{{ Text[OSTextcategory].ActiveDate }}</th>
                                    <th rowspan="2">{{ Text[OSTextcategory].Copy }}</th>
                                    <th rowspan="2">{{ Text[OSTextcategory].Edit }}</th>
                                    <th rowspan="2">{{ Text[OSTextcategory].Delete }}</th>
                                </tr>
                                <tr style="background:#289EFE;">
                                    <th>{{ Text[OSTextcategory].Abbreviation }}</th>
                                    <th>{{ Text[OSTextcategory].Full }}</th>
                                    <th>{{ Text[OSTextcategory].Abbreviation }}</th>
                                    <th>{{ Text[OSTextcategory].Full }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in ObjectData">
                                    <td>{{ x.ObjectType }}</td>
                                    <td>{{ x.ObjectID }}</td>
                                    <td>{{ x.ShortText }}</td>
                                    <td>{{ x.Text }}</td>
                                    <td>{{ x.ShortTextEn }}</td>
                                    <td>{{ x.TextEn }}</td>
                                    <td>{{ x.BeginDate | date:"dd/MM/yyyy"}}-{{ (x.EndDate | date:"dd/MM/yyyy") }}</td>
                                    <td>
                                        <i class="fa fa-files-o" aria-hidden="true" ng-click="OnClickCopy(x.ObjectType,x.ObjectID,x.BeginDate,x.EndDate);"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="OnClickEdit(x.ObjectType,x.ObjectID,x.BeginDate,x.EndDate);"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa fa-times" aria-hidden="true" ng-click="OnClickDelete(x.ObjectType,x.ObjectID,x.BeginDate,x.EndDate);"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    -->



                </div>
            </div>
        </div>
        <!-- itemlist -->

    </div>
    <!-- paging -->
    <div class="-pad10"></div>
    <div class="row contentPagination" style="position:absolute;" id="paggingWidth">
        <div class="col-md-12 -col_centered contentPagein">
            <div style="outline:none;" class="page-prev" ng-click="pageLeft();"><a><span class="icon-arrow_line_left"></span></a></div>
            <div class="page-pagenum">
                <ul>
                    <li ng-if="data.arrSplited.length != 0 && data.selectedColumn != 0 && data.selectedColumn != 1 && data.selectedColumn != 2" ng-click="data.selectedColumn=0">1</li>
                    <li ng-if="data.arrSplited.length != 0 && data.selectedColumn != 0 && data.selectedColumn != 1 && data.selectedColumn != 2">. . .</li>

                    <li ng-class="{pageactive:data.selectedColumn==$index}" ng-if="($index-data.selectedColumn <= 2) && (data.selectedColumn-2 <= $index)" ng-repeat="page in data.arrSplited" ng-click="data.selectedColumn=$index" style="margin-left:10px;">{{$index+1}}</li>

                    <li ng-if="(data.arrSplited.length > 5) && data.selectedColumn != data.arrSplited.length-1 && data.selectedColumn != data.arrSplited.length-2 && data.selectedColumn != data.arrSplited.length-3">. . .</li>
                    <li ng-if="(data.arrSplited.length > 5) && data.selectedColumn != data.arrSplited.length-1 && data.selectedColumn != data.arrSplited.length-2 && data.selectedColumn != data.arrSplited.length-3" ng-click="data.selectedColumn=data.arrSplited.length-1">{{data.arrSplited.length}}</li>
                </ul>
            </div>
            <div style="outline:none;" class="page-next" ng-click="pageRight();"> <a><span class="icon-arrow_line_right"></span></a></div>
        </div>
    </div>
</div>
<style>
    .bar_searchactive {
        margin-top: 0!important;
    }
    .bar_search {
        height: 7rem;
        margin-top: -7rem;
    }
    
    .faa-shake.animated {
        -webkit-animation:none !important;
        animation:none !important;
    }
        li {
            outline:none;
            font-size: 20px;
    }
    .exman-res_detailtable em-font-15{
        width:48%;
    }
    
    .exman-res_titletable {
        width: 48%;
    }

    .object-setting .exman-res_detailtable em-font-15 {
        margin-bottom: 10px !important;
    }

    .TravelExManPage.object-setting .travelEx_tablesec01 ul.itemlist_table-res {
        padding: 40px 15px 10px 15px;
    }

    .TravelExManPage.object-setting td {
        text-align: center !important;
        vertical-align: middle !important;
    }

    @media only screen and (max-width: 990px) {
        .bar_search {
                height: 5.5rem;
                margin-top: -7rem;
        } 
        .bar_search.bar_searchactive{
            height: 9.5rem;
        } 
        .travelExMan_content-res li {
            padding: 2px!important;
            font-size: 12px!important;
            
        }
    }
</style>