﻿<div ng-controller="ObjectSettingEditorController" style="padding: 30px 5px 0px 5px;">
    <div class="bar-content">
        <div class="row bar_title">
            <div class="col-md-12">
                <div class="bar_left bar_left_single_line">
                    <div class="bar_left-title">
                        แก้ไขข้อมูลตำแหน่งหน่วยงาน<!--fixed text-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body_content">
        <div class="leavetableBlock leavetableBlock_create">
            <div class="row itemlist_block">
                <div class="col-md-12">
                    <!--
                    <div class="col-md-8 col-md-offset-2">
                        <label>แก้ข้อมูลคำอธิบาย</label><br />
                    </div>-->
                    <form name="ObjectForm">
                        <div class="-col_centered font-editor">
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[OSTextcategory].ObjectType }} <span class="ico_inputordie" ng-hide="ObjectData.ObjectType.trim().length > 0"></span></label>
                                <div class="col-sm-6 detaildate_leave">
                                    <select name="ObjectType" class="form-control" ng-disabled="{{ ShowObjectID }}" ng-model="ObjectData.ObjectType" required>
                                        <option value="ORGANIZE">{{ Text[OSTextcategory].Organization }}</option>
                                        <option value="POSITION">{{ Text[OSTextcategory].Position }}</option>
                                        <!--<option value="JOB">JOB</option>-->
                                        <option value="COSTCENTER">{{ Text['PERSONALADMINISTRATION'].CostCenter }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" ng-show="{{ ShowObjectID }}">
                                <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[OSTextcategory].ObjectID }} <span class="ico_inputordie" ng-hide="ObjectData.ObjectID.trim().length > 0"></span></label>
                                <div class="col-sm-6 detaildate_leave">
                                    <input type="text" class="btn form-control" disabled="disabled" value="{{ ObjectData.ObjectID }}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[OSTextcategory].Abbreviation }}{{ Text[OSTextcategory].Thai }} <span class="ico_inputordie" ng-hide="ObjectData.ShortText.trim().length > 0"></span></label>
                                <div class="col-sm-6 detaildate_leave">
                                    <input type="text" name="ShortText" class="btn form-control text-left" value="{{ ObjectData.ShortText }}" ng-model="ObjectData.ShortText" ng-trim="false" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[OSTextcategory].Full }}{{ Text[OSTextcategory].Thai }} <span class="ico_inputordie" ng-hide="ObjectData.Text.trim().length > 0"></span></label>
                                <div class="col-sm-6 detaildate_leave">
                                    <input name="Text" type="text" class="btn form-control" value="{{ ObjectData.Text }}" ng-model="ObjectData.Text" ng-trim="false" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[OSTextcategory].Abbreviation }}{{ Text[OSTextcategory].English }} <span class="ico_inputordie" ng-hide="ObjectData.ShortTextEn.trim().length > 0"></span></label>
                                <div class="col-sm-6 detaildate_leave">
                                    <input type="text" name="ShortTextEn" class="btn form-control text-left" value="{{ ObjectData.ShortTextEn }}" ng-model="ObjectData.ShortTextEn" ng-trim="false" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[OSTextcategory].Full }}{{ Text[OSTextcategory].English }} <span class="ico_inputordie" ng-hide="ObjectData.TextEn.trim().length > 0"></span></label>
                                <div class="col-sm-6 detaildate_leave">
                                    <input name="TextEn" type="text" class="btn form-control" value="{{ ObjectData.TextEn }}" ng-model="ObjectData.TextEn" ng-trim="false" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[OSTextcategory].BeginDate }}</label>
                                <div class="col-sm-6 detaildate_leave">
                                    <div class="datepicker-height-set" style="position:relative; height:40px;">
                                        <datepicker callback-on-change="setSelectedBeginDate(newDate)" date-max-limit="{{ Date(); }}" date-format="d/M/yyyy" date-set="{{ ObjectData.BeginDate }}">
                                            <input class="form-control clickable datepicker" ng-disabled="{{ !CanEditPeriod }}" type="text" placeholder="" readonly />
                                        </datepicker>
                                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[OSTextcategory].EndDate }}</label>
                                <div class="col-sm-6 detaildate_leave">
                                    <div class="datepicker-height-set" style="position:relative; height:40px;">
                                        <datepicker callback-on-change="setSelectedEndDate(newDate)" date-min-limit="{{ ObjectData.BeginDate }}" date-format="d/M/yyyy" date-set="{{ ObjectData.EndDate }}">
                                            <input class="form-control clickable datepicker" ng-disabled="{{ !CanEditPeriod }}" type="text" placeholder="" readonly />
                                        </datepicker>
                                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                    </div>
                                    </div>
                                <div class="col-sm-2 detaildate_leave" ng-show="{{ CanEditPeriod }}">
									<div class="checkbox">
                                            <input id="checkbox0" class="styled" type="checkbox" ng-checked="{{ NoSpecify.val == true }}" ng-model="NoSpecify.val" ng-change="onCheckBoxChange();" />
                                            <label for="checkbox0">
                                                {{ Text[OSTextcategory].NoSpecify }}
                                            </label>
                                    </div>
                                </div>
                            </div>


                            <div class="-pad10"></div>
                        </div>
                    </form>
                </div>
                <div class="commonbtn -settxt-center">
                    <div class="itemlist">
                        <div class="row">
                            <div class=" col-sm-12 -settxt-center">
                                <button type="submit" class="btn btn-default btn_submit -bg-blue -txt-white  ng-binding" ng-show="!CanEditPeriod" ng-click="onClickEditSave();">{{ Text[OSTextcategory].Save }}</button>
                                <button type="submit" class="btn btn-default btn_submit -bg-blue -txt-white  ng-binding" ng-show="CanEditPeriod" ng-click="onClickAddSave();">{{ Text[OSTextcategory].Save }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- itemlist -->
    </div>
</div>
<style>
    tr > td {
        padding: 5px 10px;
    }

    radio {
        display: inline-block;
    }

    .btn {
        text-align: left;
    }

    .waring-validate {
        border-color: #a94442;
    }

    input.datepicker[readonly][disabled] {
        background-color: #eee;
        opacity: .65;
    }

    .panel.panel-default {
        border: none;
        box-shadow: none;
    }

        .panel.panel-default td {
            text-align: right;
        }

        .panel.panel-default .panel-body {
            padding: 0;
            max-width: 500px;
        }

    .itemlist_block {
        padding-top: 10px;
    }

    .btn.btn-default {
        min-width: 150px;
        height: 50px;
        text-align: center;
        outline: none;
    }

    }

    span, input {
        height: 35px !important;
    }

        span.btn.btn-default.form-control.ui-select-toggle {
            height: 35px !important;
        }
</style>
