﻿<div ng-controller="PositionLevelEditorController" style="padding: 30px 5px 0px 5px;">
    <div class="bar-content">
        <div class="row bar_title">
            <div class="col-md-12">
                <div class="bar_left bar_left_single_line">
                    <div class="bar_left-title">
                        {{Text[OSTextcategory].POSITIONLAVELTITLE}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body_content">
        <div class="leavetableBlock leavetableBlock_create">
            <div class="row itemlist_block">
                <div class="col-md-12">
                    <div class="-col_centered font-editor" ng-if="PositionDataSelector && PositionData.BeginDate">
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[OSTextcategory].ObjectID }} <span class="ico_inputordie" ng-hide="PositionData.ObjectID.trim().length > 0"></span></label>
                            <div class="col-sm-6 detaildate_leave">
                                <ui-select ng-model="PositionData.ObjectID" ng-change="PositionData.ObjectID = $select.selected.ObjectID" style="width:100%" theme="bootstrap" ng-disabled="IsEdit">
                                    <ui-select-match placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">{{$select.selected.ObjectID + ' : ' + $select.selected.AlternativeShortName}}</ui-select-match>
                                    <ui-select-choices repeat="x.ObjectID as x in PositionDataSelector | filter: $select.search">
                                        <div ng-bind-html="x.ObjectID + ' : ' + x.AlternativeShortName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[PATextcategory].EmpGroup }} <span class="ico_inputordie" ng-hide="PositionData.EmpGroup.trim().length > 0"></span></label>
                            <div class="col-sm-6 detaildate_leave">
                                <select class="form-control" ng-model="PositionData.EmpGroup" >
                                    <option ng-repeat="x in EmpGroupSelector" value="{{ x.ObjectID }}">{{ x.ObjectID + " : " + x.AlternativeShortName }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[PATextcategory].EmpSubGroup }} <span class="ico_inputordie" ng-hide="PositionData.EmpSubGroup.trim().length > 0"></span></label>
                            <div class="col-sm-6 detaildate_leave">
                                <input type="text" class="btn form-control" ng-model="PositionData.EmpSubGroup" value="{{ PositionData.EmpSubGroup }}" onkeypress="return isNumberKey(event)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[OSTextcategory].BeginDate }}</label>
                            <div class="col-sm-6 detaildate_leave">
                                <div class="datepicker-height-set" style="position:relative; height:40px;">
                                    <datepicker callback-on-change="setSelectedBeginDate(newDate)" date-max-limit="{{ Date(); }}" date-format="d/M/yyyy" date-set="{{ PositionData.BeginDate }}">
                                        <input class="form-control clickable datepicker" type="text" placeholder="" ng-disabled="{{ !CanEditPeriod }}" readonly />
                                    </datepicker>
                                    <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                </div>
                                </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[OSTextcategory].EndDate }}</label>
                            <div class="col-sm-6 detaildate_leave">
                                <div class="datepicker-height-set" style="position:relative; height:40px;">
                                    <datepicker callback-on-change="setSelectedEndDate(newDate)" date-min-limit="{{ PositionData.BeginDate }}" date-format="d/M/yyyy" date-set="{{ PositionData.EndDate }}">
                                        <input class="form-control clickable datepicker" type="text" placeholder="" ng-disabled="{{ !CanEditPeriod }}" readonly />
                                    </datepicker>
                                    <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                </div>
                            </div>
                            <div class="col-sm-2 detaildate_leave">
								<div class="checkbox">
                                            <input id="checkbox1" class="styled" type="checkbox" ng-checked="{{ NoSpecify.val == true }}" ng-model="NoSpecify.val" ng-change="onCheckBoxChange();">
                                            <label for="checkbox1">
                                                {{ Text[OSTextcategory].NoSpecify }}
                                            </label>
                                        </div>
                            </div>
                        </div>
                        <div class="-pad10"></div>
                    </div>
                </div>
                <div class="commonbtn -settxt-center">
                    <div class="itemlist">
                        <div class="row">
                            <div class=" col-sm-12 -settxt-center">
                                <button type="submit" class="btn btn-default btn_submit -bg-blue -txt-white  ng-binding" ng-show="{{ !CanEditPeriod }}" ng-click="onClickEditSave();">{{ Text[OSTextcategory].Save }}</button>
                                <button type="submit" class="btn btn-default btn_submit -bg-blue -txt-white  ng-binding" ng-show="{{ CanEditPeriod }}" ng-click="onClickAddSave();">{{ Text[OSTextcategory].Save }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- itemlist -->
    </div>
</div>
<style>
    tr > td {
        padding: 5px 10px;
    }

    radio {
        display: inline-block;
    }

    .btn {
        text-align: left;
    }

    .waring-validate {
        border-color: #a94442;
    }

    input[type=search] {
        -webkit-appearance: textfield;
        box-sizing: border-box;
        width: 100%;
        resize: none;
    }

    input.datepicker[readonly][disabled] {
        background-color: #eee;
        opacity: .65;
    }

    .panel.panel-default {
        border: none;
        box-shadow: none;
    }

        .panel.panel-default td {
            text-align: right;
        }

        .panel.panel-default .panel-body {
            padding: 0;
            max-width: 500px;
        }

    .itemlist_block {
        padding-top: 10px;
    }

    .btn.btn-default {
        min-width: 150px;
        height: 50px;
        text-align: center;
        outline: none;
    }

    }

    span, input {
        height: 35px !important;
    }

        span.btn.btn-default.form-control.ui-select-toggle {
            height: 35px !important;
        }
</style>
<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }</script>
