﻿<div ng-controller="RelationSettingEditorController" ng-init="getRelation()" style="padding: 30px 5px 0px 5px;">
    <div class="bar-content">
        <div class="row bar_title">
            <div class="col-md-12">
                <div class="bar_left bar_left_single_line">
                    <div class="bar_left-title">
                        {{Text[OSTextcategory].RELATIONTITLE}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body_content">
        <div class="leavetableBlock leavetableBlock_create">
            <div class="row itemlist_block">
                <div class="col-md-12">
                    <form name="ObjectForm">
                        <div class="-col_centered font-editor">
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[OSTextcategory].Relation }} <span class="ico_inputordie" ng-hide="RelationData.Relation.trim().length > 0"></span></label>
                                <div class="col-sm-6 detaildate_leave">
                                    <select name="Relation" class="form-control" ng-change="OnRelationChange(x.ObjectID);" ng-disabled="IsEdit" ng-model="RelationData.Relation" required>
                                        <option ng-repeat="x in RelationSelectList" value="{{ x.ObjectID }}">{{ x.Text }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[OSTextcategory].ObjectType }} <span class="ico_inputordie" ng-hide="RelationData.ObjectType.trim().length > 0"></span></label>
                                <div class="col-sm-6 detaildate_leave">
                                    <select name="ObjectType" class="form-control" ng-disabled="IsEdit" ng-change="OnObjectTypeChange();" ng-model="RelationData.ObjectType" required>
                                        <option ng-repeat="x in ObjectTypeSelectList" value="{{ x }}">{{ x }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[OSTextcategory].ObjectID }} <span class="ico_inputordie" ng-hide="RelationData.ObjectID.trim().length > 0"></span></label>
                                <div class="col-sm-6 detaildate_leave">
                                    <ui-select ng-model="RelationData.ObjectID" ng-disabled="!CanEditPeriod" ng-change="RelationData.ObjectID = $select.selected.ObjectID" theme="bootstrap">
                                        <ui-select-match placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">{{$select.selected.ObjectID + ' : ' + $select.selected.AlternativeShortName}}</ui-select-match>
                                        <ui-select-choices repeat="x.ObjectID as x in ObjectIDSelectList | filter: $select.search">
                                            <div ng-bind-html="x.ObjectID + ' : ' + x.AlternativeShortName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[OSTextcategory].ObjectType }} <span class="ico_inputordie" ng-hide="RelationData.NextObjectType.trim().length > 0"></span></label>
                                <div class="col-sm-6 detaildate_leave">
                                    <select name="NextObjectType" class="form-control" ng-disabled="IsEdit" ng-change="OnNextObjectTypeChange();" ng-model="RelationData.NextObjectType" required>
                                        <option ng-repeat="x in NextObjectTypeSelectList" value="{{ x }}">{{ x }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[OSTextcategory].ObjectID }} <span class="ico_inputordie" ng-hide="RelationData.NextObjectID.trim().length > 0"></span></label>
                                <div class="col-sm-6 detaildate_leave">
                                    <ui-select ng-model="RelationData.NextObjectID" ng-disabled="!CanEditPeriod" ng-change="RelationData.NextObjectID = $select.selected.ObjectID" theme="bootstrap">
                                        <ui-select-match placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">{{$select.selected.ObjectID + ' : ' + $select.selected.AlternativeShortName}}</ui-select-match>
                                        <ui-select-choices repeat="x.ObjectID as x in NextObjectIDSelectList | filter: $select.search">
                                            <div ng-bind-html="x.ObjectID + ' : ' + x.AlternativeShortName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[OSTextcategory].PercentValue }}</label>
                                <div class="col-sm-6 detaildate_leave">
                                    <div class="radio radio-inline">
                                        <input type="radio" name="radio" id="radio_100" value="100" ng-model="RelationData.PercentValue" required />
                                        <label for="radio_100" class="black-color">{{ Text[OSTextcategory][100] }}</label>
                                    </div>
                                    <div class="radio radio-inline">
                                        <input type="radio" name="radio" id="radio_0" value="0" ng-model="RelationData.PercentValue" required />
                                        <label for="radio_0" class="black-color">{{ Text[OSTextcategory][0] }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[OSTextcategory].BeginDate }}</label>
                                <div class="col-sm-6 detaildate_leave">
                                    <div class="datepicker-height-set" style="position:relative; height:40px;">
                                        <datepicker callback-on-change="setSelectedBeginDate(newDate)" date-max-limit="{{ Date(); }}" date-format="d/M/yyyy" date-set="{{ RelationData.BeginDate }}">
                                            <input class="form-control clickable datepicker" ng-disabled="!CanEditPeriod" type="text" placeholder="" readonly />
                                        </datepicker>
                                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[OSTextcategory].EndDate }}</label>
                                <div class="col-sm-6 detaildate_leave">
                                    <div class="datepicker-height-set" style="position:relative; height:40px;">
                                        <datepicker callback-on-change="setSelectedEndDate(newDate)" date-min-limit="{{ RelationData.BeginDate }}" date-format="d/M/yyyy" date-set="{{ RelationData.EndDate }}" date-max-limit="9999-12-31">
                                            <input class="form-control clickable datepicker" ng-disabled="!CanEditPeriod" type="text" placeholder="" readonly />
                                        </datepicker>
                                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                    </div>
                                </div>
                                <div class="col-sm-2 detaildate_leave" ng-show="CanEditPeriod">
									<div class="checkbox">
                                            <input id="checkbox0" class="styled" type="checkbox" ng-checked="{{ NoSpecify.val == true }}" ng-model="NoSpecify.val" ng-change="onCheckBoxChange();"/>
                                            <label for="checkbox0">
                                                {{ Text[OSTextcategory].NoSpecify }}
                                            </label>
                                        </div>
                                </div>
                            </div>

                            <div class="-pad10"></div>
                        </div>
                    </form>
                </div>
                <div class="commonbtn -settxt-center">
                    <div class="itemlist">
                        <div class="row">
                            <div class=" col-sm-12 -settxt-center">
                                <button type="submit" class="btn btn-default btn_submit -bg-blue -txt-white  ng-binding" ng-show="!CanEditPeriod" ng-click="onClickEditSave();">{{ Text[OSTextcategory].Save }}</button>
                                <button type="submit" class="btn btn-default btn_submit -bg-blue -txt-white  ng-binding" ng-show="CanEditPeriod" ng-click="onClickAddSave();">{{ Text[OSTextcategory].Save }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- itemlist -->
    </div>
</div>
<style>
    tr > td {
        padding: 5px 10px;
    }

    radio {
        display: inline-block;
    }

    .btn {
        text-align: left;
    }

    .waring-validate {
        border-color: #a94442;
    }

    input[type=search] {
        -webkit-appearance: textfield;
        box-sizing: border-box;
        width: 100%;
        resize: none;
    }

    input.datepicker[readonly][disabled] {
        background-color: #eee;
        opacity: .65;
    }

    .panel.panel-default {
        border: none;
        box-shadow: none;
    }

        .panel.panel-default td {
            text-align: right;
        }

        .panel.panel-default .panel-body {
            padding: 0;
            max-width: 500px;
        }

    .itemlist_block {
        padding-top: 10px;
    }

    .btn.btn-default {
        min-width: 150px;
        height: 50px;
        text-align: center;
        outline: none;
    }

    }

    span, input {
        height: 35px !important;
    }

        span.btn.btn-default.form-control.ui-select-toggle {
            height: 35px !important;
        }
</style>
