﻿<md-dialog aria-label="select KPI dialog" id="ag-select-dialog">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color:white;">Achievement Dialog</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-times" style="color: #ef7171;font-size: 25px;"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div style="font-size:20px; border-bottom: solid 1px #5f9ea0; margin-bottom: 1rem;">
                    Select Type (1/5)
                </div>
                <md-radio-group ng-model="data.Type">
                    <md-radio-button value="{{type.id}}" class="md-primary" ng-repeat="type in achivementTypes"><i ng-class="type.iconClass" aria-hidden="true"></i> {{type.text}}</md-radio-button>
                </md-radio-group>

                <md-list class="fixedRows">
                    <div style="font-size:20px; border-bottom: solid 1px cadetblue">
                        Select
                        <span class="spirit__s" style="margin-left:5px;">S</span>
                        <span class="spirit__p">P</span>
                        <span class="spirit__i">I</span>
                        <span class="spirit__r">R</span>
                        <span class="spirit__ie">I</span>
                        <span class="spirit__t">T</span>
                        <span>(2/5)</span>
                    </div>
                    <md-list-item class="md-2-line contact-item" ng-repeat="item in data.selectedTag"
                                  style="cursor:pointer;" ng-click="toggleState($index)"
                                  ng-class="{'selected':item.isSelected}">
                        <div class="code-box-icon" ng-class="item.cssClass">{{item.code}}</div>
                        <div class="md-list-item-text compact">
                            <h3>{{item.full}}</h3>
                            <p>{{item.Description}}</p>
                        </div>
                    </md-list-item>
                    <div style="font-size:20px; border-bottom: solid 1px #5f9ea0">
                        Situation (3/5)
                    </div>
                    <md-input-container class="md-block"> <!--md-maxlength="150" -->
                        <textarea ng-model="data.Situation" ng-change="CountText(data.Situation,'Situation')" maxlength="{{MaxLength}}" placeholder="" rows="3" md-select-on-focus></textarea>
                    </md-input-container>
                    <div class="text-right" style="font-size: 10px; margin-top: -20px; ">
                        <span>{{iSituation}} / {{MaxLength}}</span>
                    </div>
                    <div style="font-size:20px; border-bottom: solid 1px #5f9ea0">
                        Action (4/5)
                    </div>
                    <md-input-container class="md-block">
                        <textarea ng-model="data.Action" ng-change="CountText(data.Action,'Action')" maxlength="{{MaxLength}}" placeholder="" rows="3" md-select-on-focus></textarea>
                    </md-input-container>
                    <div class="text-right" style="font-size: 10px; margin-top: -20px;">
                        <span>{{iAction}} / {{MaxLength}}</span>
                    </div>
                    <div style="font-size:20px; border-bottom: solid 1px #5f9ea0">
                        Result (5/5)
                    </div>
                    <md-input-container class="md-block"><!--data.result-->
                        <textarea ng-model="data.Result" ng-change="CountText(data.Result,'Result')" maxlength="{{MaxLength}}" placeholder="" rows="3" md-select-on-focus></textarea>
                    </md-input-container>
                    <div class="text-right" style="font-size: 10px; margin-top: -20px;">
                        <span>{{iResult}} / {{MaxLength}}</span>
                    </div>
                </md-list>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="save(data)">
                SAVE
            </md-button>
            <md-button ng-click="cancel()">
                CANCEL
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>