﻿<md-dialog aria-label="select KPI dialog" id="ag-select-dialog">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color:white;">Achievement Select</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-times" style="color: #ef7171;font-size: 25px;"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-select ng-model="selectedIndex" style="max-width: 250px;">
                    <md-option value="{{$index}}" ng-repeat="item in data" ng-selected="$first">{{item.ActivityName}}</md-option>
                </md-select>
                <div ng-if="data[selectedIndex].Achievement.length == 0">No data found</div>

                <div ng-if="data[selectedIndex].Achievement.length > 0" class="due-table" layout="column" layout-padding="10px" style="padding-top:0; padding-bottom: 0; overflow-x: scroll; margin-bottom: 20px; background: #f7f7f7;">
                    <div class="table-column-name row-items border-left hidden-xs" layout="row" style="padding-left:0px;padding-right:0px;">
                        <div layout="row" ng-style="{ 'width' : ch.width}" layout-align="center center" ng-repeat="ch in columns">
                            <span>{{ch.Text}}</span>
                        </div>
                    </div>
                    <!--$scope.data[0].Achievement[1].AchievementType-->
                    <div class="bar_expandlist mo-duo" style="padding: 0px; margin-bottom: 10px; " ng-repeat="item in data[selectedIndex].Achievement">
                        <div class="bar_expand-expandDetail mo-duo">
                            <div style="background:#f7f7f7;">
                                <div class="row-items" style="padding-top: 0; padding-left: 0; padding-bottom: 0; position: relative; " layout="row" layout-padding="10px;">
                                    <div layout="column" ng-style="{ 'width' : columns[0].width}">
                                        <div class="visible-xs table-column-name">
                                            <span>{{column_header[0].text}}</span>
                                        </div>
                                        
                                        <span ng-if="item.AchievementType == 'Achievement'" class="align-res-ctrl" ng-class="item.cssClass"><i class="fa fa-bullseye spirit__t" aria-hidden="true"></i></span>
                                        <span ng-if="item.AchievementType == 'Star Achievement'" class="align-res-ctrl" ng-class="item.cssClass"><i class="fa fa-bullseye spirit__p" aria-hidden="true"></i></span>
                                    </div>
                                    <div layout="column" ng-style="{ 'width' : columns[1].width}">
                                        <div class="visible-xs table-column-name">
                                            <span>{{column_header[1].text}}</span>
                                        </div>
                                        <div layout="row">
                                            <span class="align-res-ctrl-left" ng-if="t.isSelected" ng-class="t.cssClass" ng-repeat="t in item.selectedTag" title="{{t.Description}}" style="margin-right: 4px;">{{t.code}}</span>
                                        </div>
                                    </div>
                                    <div layout="column" ng-style="{ 'width' : columns[2].width}">
                                        <div class="visible-xs table-column-name">
                                            <span>{{column_header[2].text}}</span>
                                        </div>
                                        <span class="align-res-ctrl-left">{{item.Situation}}</span>
                                    </div>
                                    <div layout="column" ng-style="{ 'width' : columns[3].width}">
                                        <div class="visible-xs table-column-name">
                                            <span>{{column_header[3].text}}</span>
                                        </div>
                                        <span class="align-res-ctrl-left">{{item.Action}}</span>
                                    </div>
                                    <div layout="column" ng-style="{ 'width' : columns[4].width}">
                                        <div class="visible-xs table-column-name">
                                            <span>{{column_header[4].text}}</span>
                                        </div>
                                        <span class="align-res-ctrl-left">{{item.Result}}</span>
                                    </div>
                                    <div layout="columns" ng-style="{'width':columns[5].width}">
                                        <!--ng-click="save(item)"-->
                                        <div class="visible-xs table-column-name">
                                            <span>{{column_header[4].text}}</span>
                                        </div>
                                        <span title="{{item.RequestNo}}" class="icon-fn-doc view_color text-left" ng-click="save(item)">
                                            <i class="btn btn-lg icon-doc_check " style="font-size:20px"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                CANCEL
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
<style>
    .ag-box-item-check-list-box {
        border: solid 1px #d9d9d9;
        padding: 1rem;
    }

    .ag-box-item-check-list-title {
        height: 30px;
        line-height: 30px;
        padding-left: 0.5rem;
        background: #42a5f5;
        color: white;
    }

    .ag-box-item-check-sub-list-title {
        border-bottom: solid #42a5f5 1px;
        width: fit-content;
    }

    .ag-box-item-check-text-area {
        background: #f3f3f3;
        padding: 0.5rem;
        min-height: 65px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        word-wrap: break-word;
    }

    .ag-box-item-check-list-box-content {
        margin-bottom: 10px;
        cursor: pointer;
        outline: none;
    }

    .ag-box-item-check-list-title md-checkbox .md-icon {
        border-color: rgba(255, 255, 255, 0.54) !important;
    }

    .ag-box-item-check-list-box-content:hover {
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    }
    .icon_btn {
        position: absolute;
        right: 5px;
        background: #289efe;
        height: 27px;
        width: 27px;
        line-height: 33px;
        color: white;
        font-size: 20px;
        outline: none;
        padding-left: 6px;
    }

    .table-column-name span {
        font-family: rsu_l;
        font-size: 16px;
        border: none;
        color: #7F7F7F;
    }

    .table-column-name > div {
        border-bottom: solid 1px #a9a9a9;
        padding-bottom: 0.5rem;
    }

    .row-items > div {
        width: 20%;
        word-wrap: break-word;
        padding: 5px;
        position: relative;
        cursor: pointer;
    }

    .row-items.border-left > div {
        border-right: solid 1px #dadada;
    }

    .input-text_ {
        padding: 0.25rem;
        font-size: 14px !important;
    }

    .row-items > div.-p10 {
        min-width: 10%;
    }

    .mo-duo md-select, md-input-container {
        margin: 0;
    }

    .align-res-ctrl {
        text-align: center;
        font-size: 15px;
    }

        .align-res-ctrl.left {
            text-align: left;
        }

    .bar_expand-status.mo-duo {
        background: #f7f7f7 !important;
        max-width: 486px;
    }

        .bar_expand-status.mo-duo span, .bar_expand-status.mo-duo a {
            color: black;
        }

    .box-perdiem {
        background: #f7f7f7;
    }

    .bar_left-icon.mo-duo {
        background: #E5E5E5;
    }

        .bar_left-icon.mo-duo:hover {
            background: #CBCBCB !important;
        }
    /*not moblie */
    @media only screen and (min-width: 769px) {
        .bar_expand-expandDetail.mo-duo {
            background: #E5E5E5;
            display: block !important;
        }
    }
    /*moblie*/
    @media only screen and (max-width: 769px) {
        .bar_expand-expandDetail.mo-duo {
            max-width: 486px;
        }

        .box-perdiem {
            background: white;
        }

        .row-items {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            flex-direction: column;
            box-sizing: border-box;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
        }

        .align-res-ctrl-left {
            font-size: 15px;
            text-align: left;
        }
    }
</style>