﻿<md-dialog aria-label="select KPI dialog" id="ag-select-dialog">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color:white;">KPI Content Config</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-times" style="color: #ef7171;font-size: 25px;"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="ag-expad-able-div" ng-repeat="KPI_main in params.KPIDataCheckList">

                    <div class="ag-expad-able-div-box" ng-click="KPI_main.isExpanding = !KPI_main.isExpanding">
                        <i ng-show="KPI_main.isExpanding" class="fa fa-plus-square"></i>
                        <i ng-show="!KPI_main.isExpanding" class="fa fa-minus-square"></i>
                    </div>
                    <md-checkbox ng-click="selectGroupsKPI(KPI_main.objective)" ng-checked="exists_groups(KPI_main.objective)" md-indeterminate="isIndeterminateGroupKPI(KPI_main.objective)"> </md-checkbox>
                    {{ KPI_main.Title}}
                    <div class="ag-expad-able-div-container" ng-class="{'hidden':KPI_main.isExpanding}">
                        <div class="ag-expad-able-div" ng-repeat="KPI_objective_main in KPI_main.Objective">

                            <div class="ag-expad-able-div-box" ng-click="KPI_objective_main.isExpanding = !KPI_objective_main.isExpanding">
                                <i ng-show="KPI_objective_main.isExpanding" class="fa fa-plus-square"></i>
                                <i ng-show="!KPI_objective_main.isExpanding" class="fa fa-minus-square"></i>
                            </div>
                            <md-checkbox ng-click="selectGroupKPI(KPI_objective_main.Indicator)" ng-checked="exists_group(KPI_objective_main.Indicator)" md-indeterminate="isIndeterminate(KPI_objective_main.Indicator)"> </md-checkbox>
                            {{KPI_objective_main.ObjectiveID}}.{{ KPI_objective_main.ObjectiveName}}
                            <div class="ag-expad-able-div-container" ng-class="{'hidden':KPI_objective_main.isExpanding}">
                                <div class="ag-expad-able-div" ng-repeat="KPI_objective_Indicator in KPI_objective_main.Indicator">
                                    <md-checkbox ng-disabled="KPI_objective_Indicator.Disable" ng-click="selectKPI(KPI_objective_Indicator)" ng-checked="exists(KPI_objective_Indicator)"> </md-checkbox><!---->
                                    {{KPI_objective_main.ObjectiveID}}.{{KPI_objective_Indicator.IndicatorID}} {{ KPI_objective_Indicator.IndicatorName}} : <!--{{KPI_objective_Indicator.Content.IsDefaultSelected}}: {{KPI_objective_measure.selected}}-->
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="save(selectedList)">
                SAVE
            </md-button>
            <md-button ng-click="cancel()">
                CANCEL
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>