﻿<md-dialog aria-label="select KPI dialog" id="ag-select-dialog">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color:white;">Select GAP</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-times" style="color: #ef7171;font-size: 25px;"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-select ng-model="selectedActivityIndex">
                    <md-option ng-repeat="item in params.GapList" ng-value="$index" ng-selected="$first">{{item.ActivityName}}</md-option>
                </md-select>
                <md-list class="fixedRows">
                    <div style="width:100%; border-bottom: solid 1px #e8e8e8;" ng-show="filteredItems.length"></div>
                    <md-list-item class="md-2-line contact-item" ng-repeat="item in params.GapList[selectedActivityIndex].GapContens | filter: removeSelected as filteredItems"
                                  style="cursor:pointer; border-bottom: solid 1px #e8e8e8;" ng-click="save(item)">
                        <div class="md-list-item-text compact">
                            <h3>{{item.GapName}}</h3>
                            <p>{{item.GapRequestNo}}</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line contact-item" ng-hide="filteredItems.length">
                        <div class="md-list-item-text compact">
                            <h3>No Data </h3>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            
        </md-dialog-actions>
    </form>
</md-dialog>