﻿<md-dialog aria-label="select dialog" style="width:100%">
    <form ng-cloak>
        <md-dialog-content>
           
            <div class="md-dialog-content">
                <h2 class="md-title ">PINCODE</h2>
                <md-input-container class="md-block">
                    <!--<input type="password" class="w-100 input-box font-16" placeholder="PINCODE" name="input1" ng-model="OldPinCode">-->
                    <input type="password" class="w-100 input-box font-16" placeholder="PINCODE" name="input1" ng-model="OldPinCode" autocomplete="off" dl-enter-key="save(OldPinCode)" md-autofocus>
                    <span class="font-18 color-danger pull-left">{{MsgValidate}}</span>
                    <a ng-click="forgetLikePincode()" class="font-18 color-main pull-right">{{forgetPincodeText}}</a>
                </md-input-container>
                
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <a class="m-btn-cw btn-s-md" ng-click="cancel()">
                <span class="">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{BTN_CANCEL}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="m-btn-co btn-s-md"ng-click="save(OldPinCode)">
                <span class="">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{BTN_SAVE}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </a>
        </md-dialog-actions>
    </form>
</md-dialog>