﻿<div ng-controller="AddressViewerController">
    <div class="row contentBody forheight leaveBlock_detail" aria-hidden="false" style="padding: 20px 10px 10px 10px; ">
        <div class="bar-content">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left bar_left_single_line">
                        <div class="bar_left-title ng-binding">
                            {{ ADDRESSTYPE[AddrType] }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--{{PersonalAddr}}-->

        <div class="body_content" style="background:white;">
            <div class="leavetableBlock leavetableBlock_create">
                <div class="row itemlist_block">
                    <div class="col-sm-12">
                        <div ng-repeat="AddrNew in PersonalAddrNew" ng-show="AddrNew.AddressType == AddrType" >
                            <div class="row" ng-repeat="PersonalAddr in PersonalAddr">
                                <div class="col-md-2">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <span class="span_name" style="width: 150px; ">{{ Text[PATextcategory].ADDRESSNO }}</span>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <div class="breakword-100px em-font-15" ng-hide="PersonalAddr.AddressNo==AddrNew.AddressNo"><span class="red_text"><strike>[{{PersonalAddr.AddressNo}}]</strike></span> >> <span class="blue_text">[{{AddrNew.AddressNo}}]</span></div>
                                        <div class="breakword-100px em-font-15" ng-show="PersonalAddr.AddressNo==AddrNew.AddressNo">{{AddrNew.AddressNo}}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-repeat="PersonalAddr in PersonalAddr">
                                <div class="col-md-2">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <span class="span_name" style="width: 150px;">{{ Text[PATextcategory].STREET }}</span>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <div class="breakword-100px em-font-15" ng-hide="PersonalAddr.Street==AddrNew.Street"><span class="red_text"><strike>[{{PersonalAddr.Street}}]</strike></span> >> <span class="blue_text">[{{AddrNew.Street}}]</span></div>
                                        <div class="breakword-100px em-font-15" ng-show="PersonalAddr.Street==AddrNew.Street">{{AddrNew.Street}}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-repeat="PersonalAddr in PersonalAddr">
                                <div class="col-md-2">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <span class="span_name" style="width: 150px; ">{{ Text[PATextcategory].DISTRICT }}</span>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <div class="breakword-100px em-font-15" ng-hide="PersonalAddr.District==AddrNew.District"><span class="red_text"><strike>[{{PersonalAddr.District}}]</strike></span> >> <span class="blue_text">[{{AddrNew.District}}]</span></div>
                                        <div class="breakword-100px em-font-15" ng-show="PersonalAddr.District==AddrNew.District">{{AddrNew.District}}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-repeat="PersonalAddr in PersonalAddr">
                                <div class="col-md-2">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <span class="span_name" style="width: 150px; ">{{ Text[PATextcategory].PROVINCE }}</span>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <div class="breakword-100px em-font-15" ng-hide="PersonalAddr.Province==AddrNew.Province"><span class="red_text"><strike>[{{PersonalAddr.Province}}]</strike></span> >> <span class="blue_text">[{{AddrNew.Province}}]</span></div>
                                        <div class="breakword-100px em-font-15" ng-show="PersonalAddr.Province==AddrNew.Province">{{AddrNew.Province}}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-repeat="PersonalAddr in PersonalAddr">
                                <div class="col-md-2">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <span class="span_name" style="width: 150px; ">{{ Text[PATextcategory].COUNTRY }}</span>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <div class="breakword-100px em-font-15" ng-hide="PersonalAddr.Country==AddrNew.Country"><span class="red_text"><strike>[{{ TEXTCOUNTRY[PersonalAddr.Country] }}]</strike></span> >> <span class="blue_text">[{{ TEXTCOUNTRY[AddrNew.Country] }}]</span></div>
                                        <div class="breakword-100px em-font-15" ng-show="PersonalAddr.Country==AddrNew.Country">{{ TEXTCOUNTRY[AddrNew.Country] }}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-repeat="PersonalAddr in PersonalAddr">
                                <div class="col-md-2">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <span class="span_name" style="width: 150px;">{{ Text[PATextcategory].POSTCODE }}</span>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <div class="breakword-100px em-font-15" ng-hide="PersonalAddr.Postcode==AddrNew.Postcode"><span class="red_text"><strike>[{{PersonalAddr.Postcode}}]</strike></span> >> <span class="blue_text">[{{AddrNew.Postcode}}]</span></div>
                                        <div class="breakword-100px em-font-15" ng-show="PersonalAddr.Postcode==AddrNew.Postcode">{{AddrNew.Postcode}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-repeat="PersonalAddr in PersonalAddr">
                                <div class="col-md-2">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <span class="span_name" style="width: 150px;">{{ Text[PATextcategory].TELEPHONE }}</span>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <div class="breakword-100px em-font-15" ng-hide="PersonalAddr.Telephone==AddrNew.Telephone"><span class="red_text"><strike>[{{PersonalAddr.Telephone}}]</strike></span> >> <span class="blue_text">[{{AddrNew.Telephone}}]</span></div>
                                        <div class="breakword-100px em-font-15" ng-show="PersonalAddr.Telephone==AddrNew.Telephone">{{AddrNew.Telephone}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .add-padding {
            padding-left: 35px !important;
        }

        .mainBlock .contentBody .contentBodyin {
            padding-top: 1.5rem;
            margin-top: 25px;
        }
    </style>
</div>