﻿
<div ng-controller="AddressEditorController">
    <div class="row contentBody forheight leaveBlock_detail" aria-hidden="false" style="padding: 20px 10px 10px 10px; ">
        <div class="bar-content">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left bar_left_single_line">
                        <div class="bar_left-title ng-binding">
                            {{ ADDRESSTYPE[AddrType] }}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {{ $scope.document.Additional.PersonalAddrNew}}

        <div class="body_content" style="background:white;">

            <div class="leavetableBlock leavetableBlock_create">
                <div class="row itemlist_block">
                    <div class="checkbox" style="width: 100%; display: flex; margin-left:10px; font-size: 15px" ng-show="AddrType == '3'">
                        <input type="checkbox" ng-click="CopyHomeAddress(AddrType)" />
                        <label> {{ Text[PATextcategory].COPYFROMHOMEADDRESS }}</label>
                    </div>
                </div>
                <div class="row itemlist_block" ng-show="!CopyAddress">
                    <div class="col-sm-12">
                        <div ng-repeat="AddrNew in document.Additional.PersonalAddrNew" ng-show="AddrNew.AddressType == AddrType">

                            <div class="row">
                                <div class="col-md-2">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <span class="span_name" style="width: 150px; ">{{ Text[PATextcategory].ADDRESSNO }}</span>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <input type="text" name="DataText" style="width:300px;" class="bdc204 btn form-control text-left" value="{{ AddrNew.AddressNo }}" ng-model="AddrNew.AddressNo" ng-trim="false" required />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <span class="span_name" style="width: 150px; ">{{ Text[PATextcategory].STREET }}</span>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <input type="text" name="DataText" style="width:300px;" class="bdc204 btn form-control text-left" value="{{ AddrNew.Street }}" ng-model="AddrNew.Street" ng-trim="false" required />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <span class="span_name" style="width: 150px;">{{ Text[PATextcategory].DISTRICT }}</span>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <input type="text" name="DataText" style="width:300px;" class="bdc204 btn form-control text-left" value="{{ AddrNew.District }}" ng-model="AddrNew.District" ng-trim="false" required />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <span class="span_name" style="width: 150px;">{{ Text[PATextcategory].PROVINCE }}</span>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <input type="text" name="DataText" style="width:300px;" class="bdc204 btn form-control text-left" value="{{ AddrNew.Province }}" ng-model="AddrNew.Province" ng-trim="false" required />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <span class="span_name" style="width: 150px;">{{ Text[PATextcategory].COUNTRY }}</span>
                                    </div>
                                </div>

                                <div class="col-md-10">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px" overflow: hidden;">
                                        <input value="{{TEXTCOUNTRY[AddrNew.Country]}}"
                                               class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                               style=" opacity: 0; text-align:left; width: 300px; cursor: pointer;"
                                               aria-invalid="true">
                                        <select class="form-control" ng-model="AddrNew.Country" ng-change="getCountry()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 300px; font-size: 15px; cursor: pointer; margin: 0px;">
                                            <option value="{{item.CountryCode}}" ng-repeat="item in Country">{{item.CountryName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <span class="span_name" style="width: 150px; ">{{Text[PATextcategory].POSTCODE}}</span>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <input type="text" name="DataText" style="width:300px;" class="bdc204 btn form-control text-left" value="{{ AddrNew.Postcode }}" ng-model="AddrNew.Postcode" ng-trim="false" required />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <span class="span_name" style="width: 150px; ">{{Text[PATextcategory].TELEPHONE}}</span>
                                    </div>
                                </div>

                                <div class="col-md-10">
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <input type="text" name="DataText" style="width:300px;" class="bdc204 btn form-control text-left" value="{{ AddrNew.Telephone }}" ng-model="AddrNew.Telephone" ng-trim="false" required />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" colspan="2">
                                <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div style="margin-top: 5px;">
                                                    <span class="ps_red" for="" ng-bind-html="Text['SYSTEM']['ATTACHMENT']"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div style="margin-top: 5px;">
                                                    <span class="ps_red" for="" ng-bind-html="Text[PATextcategory].FILEATTACHMENTREMARK"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .add-padding {
            padding-left: 35px !important;
        }

        .mainBlock .contentBody .contentBodyin {
            padding-top: 1.5rem;
            margin-top: 25px;
        }

        .bdc204 {
            width: inherit;
            border-color: rgb(204, 204, 204);
        }
    </style>
</div>