﻿<div ng-controller="CommunicationDataEditorController">
    <!--<pre>{{document.Additional.ContData}}</pre>-->
    <div class="row contentBody forheight leaveBlock_detail" aria-hidden="false" style="padding: 20px 10px 10px 10px; ">
        <div class="bar-content">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left bar_left_single_line">
                        <div class="bar_left-title ng-binding">
                            {{ Text[PATextcategory].ContactData }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="body_content" style="background:white;">
            <div class="leavetableBlock leavetableBlock_create">
                <div class="row itemlist_block">

                    <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                        <tbody>

                            <tr>
                                <td>
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <label style="width: 150px;font-size: 15px; ">{{ Text[PATextcategory].OFFICENUMBER }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <input type="text" name="DataText" style="width:300px;font-size:15px;" class="bdc204 btn form-control text-left" value="{{ document.Additional.ContDataNew.TelephoneNo }}" ng-model="document.Additional.ContDataNew.TelephoneNo" ng-trim="false" required />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <label style="width: 150px;font-size: 15px; ">{{ Text[PATextcategory].CELLPHONE }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <input type="text" name="DataText" style="width:300px;font-size:15px;" class="bdc204 btn form-control text-left" value="{{ document.Additional.ContDataNew.MobilePhone }}" ng-model="document.Additional.ContDataNew.MobilePhone" ng-trim="false" required />
                                    </div>
                                </td>
                            </tr>
                            <!--<tr>
                                <td>
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <label style="width: 150px;font-size: 15px; ">{{ Text[PATextcategory].HOMENUMBER }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <input type="text" name="DataText" style="width:300px;font-size:15px;" class="bdc204 btn form-control text-left" value="{{ document.Additional.ContDataNew.HomePhone }}" ng-model="document.Additional.ContDataNew.HomePhone" ng-trim="false" required />
                                    </div>
                                </td>
                            </tr>-->
                            <tr>
                                <td>
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <label style="width: 150px;font-size: 15px; ">{{ Text[PATextcategory].MAIL }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <input type="text" name="DataText" style="width:300px;font-size:15px;" class="bdc204 btn form-control text-left" value="{{ document.Additional.ContDataNew.Email }}" ng-model="document.Additional.ContDataNew.Email" ng-trim="false" required />
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <style>
        .add-padding {
            padding-left: 35px !important;
        }

        .mainBlock .contentBody .contentBodyin {
            padding-top: 1.5rem;
            margin-top: 25px;
        }

        .bdc204 {
            width: inherit;
            border-color: rgb(204, 204, 204);
        }
    </style>
</div>