﻿<div ng-controller="CommunicationDataViewerController">
    <div class="row contentBody forheight leaveBlock_detail" aria-hidden="false" style="padding: 20px 10px 10px 10px; ">
        <div class="bar-content">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left bar_left_single_line">
                        <div class="bar_left-title ng-binding">
                            {{ Text[PATextcategory].ContactData }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="body_content" style="background:white;">
            <div class="leavetableBlock leavetableBlock_create">
                <div class="row itemlist_block">
                    <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                        <tbody>
                            <tr>
                                <td>
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <label style="width: 150px;font-size: 15px; ">{{ Text[PATextcategory].OFFICENUMBER }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <div class="breakword-100px em-font-15" ng-hide="ContData.TelephoneNo==ContDataNew.TelephoneNo"><span class="red_text"><strike>[{{ContData.TelephoneNo}}]</strike></span> >> <span class="blue_text">[{{ContDataNew.TelephoneNo}}]</span></div>
                                        <div class="breakword-100px em-font-15" ng-show="ContData.TelephoneNo==ContDataNew.TelephoneNo">{{ContDataNew.TelephoneNo}}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <label style="width: 150px;font-size: 15px; ">{{ Text[PATextcategory].CELLPHONE }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <div class="breakword-100px em-font-15" ng-hide="ContData.MobilePhone==ContDataNew.MobilePhone"><span class="red_text"><strike>[{{ContData.MobilePhone}}]</strike></span> >> <span class="blue_text">[{{ContDataNew.MobilePhone}}]</span></div>
                                        <div class="breakword-100px em-font-15" ng-show="ContData.MobilePhone==ContDataNew.MobilePhone">{{ContDataNew.MobilePhone}}</div>
                                    </div>
                                </td>
                            </tr>
                            <!--<tr>
                                <td>
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <label style="width: 150px;font-size: 15px; ">{{ Text[PATextcategory].HOMENUMBER }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <label style="width:250px;font-size:15px;">{{ ContDataNew.HomePhone }}</label>
                                    </div>
                                </td>
                            </tr>-->
                            <tr>
                                <td>
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <label style="width: 150px;font-size: 15px; ">{{ Text[PATextcategory].MAIL }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                        <div class="breakword-100px em-font-15" ng-hide="ContData.Email==ContDataNew.Email"><span class="red_text"><strike>[{{ContData.Email}}]</strike></span> >> <span class="blue_text">[{{ContDataNew.Email}}]</span></div>
                                        <div class="breakword-100px em-font-15" ng-show="ContData.Email==ContDataNew.Email">{{ContDataNew.Email}}</div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
<style>
    .add-padding {
        padding-left: 35px !important;
    }

    .mainBlock .contentBody .contentBodyin {
        padding-top: 1.5rem;
        margin-top: 25px;
    }
</style>
</div>