﻿<div ng-controller="CVErrorViewerController">
    <div class="row contentBody forheight leaveBlock_detail" aria-hidden="false" style="padding: 20px 10px 10px 10px; ">
        <div class="itemlist">
            <form class="row" name="main_form">
                <div class="row itemlist">
                    <div class="col-md-12" id="request_box_5">
                        <div class="bar-content">
                            <div class="row bar_title">
                                <div class="col-md-12">
                                    <div class="bar_left bar_left_single_line">
                                        <div class="bar_left-title ng-binding">
                                            {{Text[PATextcategory].REMARK}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <md-input-container class="md-block">
                            <textarea ng-model="document.Additional.Remark" name="Remark" rows="3" readonly></textarea>
                        </md-input-container>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>