﻿<div ng-controller="CVErrorEditorController">
    <div class="row contentBody forheight leaveBlock_detail" aria-hidden="false" style="padding: 20px 0 ">
        <div class="bar-content">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left bar_left_single_line">
                        <div class="bar_left-title ng-binding">
                            {{Text[PATextcategory].CREATEREQUEST}} <!--แจ้งข้อมูลผิดพลาด-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body_content" style="background:white;">
            <div class="itemlist">
                <form class="row" name="main_form">
                    <div class="row itemlist">
                        <div class="col-md-12" id="request_box_5">
                            <md-input-container class="md-block">
                                <label style="font-size: 18px">{{Text[PATextcategory].REMARK}}</label>
                                <textarea ng-model="document.Additional.Remark" name="Remark" rows="5" md-select-on-focus required></textarea>
                                <div ng-messages="main_form.Remark.$error">
                                    <div ng-message="required" style="font-size: 18px">{{Text[PATextcategory].Required_Remark}}</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </form>
            </div>
           </div>
        </div>
    </div>