﻿<div class="TravelExManPage delegation-page" ng-controller="DeleteDelegationViewerController" ng-init="init();">
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['HRTMABSENCE']['REMARKATTENDANCE']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row" style="margin-bottom:20px;">
                <div class="box-tooltip-error text-center">
                    {{Text['HRTMABSENCE']['CANCELLED_STAMP']}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 lr-0">
                    <div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main">{{Text[PATextcategory].delegated_person}}  :</div>
                    </div>
                    <div class="col-sm-8 margin-b20">
                        <div class="col-sm-12 detaildate_leave">
                            {{document.Additional.DELEGATE[0].DelegateFrom}} - {{document.Additional.DELEGATE[0].DelegateFromName}}
                        </div>
                        <div class="col-sm-12 detaildate_leave">
                            {{document.Additional.DELEGATE[0].DelegateFromOrg}} - {{document.Additional.DELEGATE[0].DelegateFromOrgName}}
                        </div>
                        <div class="col-sm-12 detaildate_leave">
                            {{document.Additional.DELEGATE[0].DelegateFromPosition}} - {{document.Additional.DELEGATE[0].DelegateFromPositionName}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 lr-0">
                    <div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main">{{Text[PATextcategory].delegated_person}}  :</div>
                    </div>
                    <div class="col-sm-8 margin-b20">
                        <div class="col-sm-12 detaildate_leave">
                            {{document.Additional.DELEGATE[0].DelegateTo}} - {{document.Additional.DELEGATE[0].DelegateToName}}
                        </div>
                        <div class="col-sm-12 detaildate_leave">
                            {{document.Additional.DELEGATE[0].DelegateToOrg}} - {{document.Additional.DELEGATE[0].DelegateToOrgName}}
                        </div>
                        <div class="col-sm-12 detaildate_leave">
                            {{document.Additional.DELEGATE[0].DelegateToPosition}} - {{document.Additional.DELEGATE[0].DelegateToPositionName}}
                        </div>
                    </div>
                </div>
                <!--<div class="col-sm-6 lr-0 show-tablet">
                <div class="col-sm-4">
                    <div class="text-basic-md-center-input color-main">{{Text[PATextcategory].order}}  :</div>
                </div>
                <div class="col-sm-8 margin-b20">
                    <div class="col-sm-12 ng-scope" ng-repeat="doc in document.Additional.DELEGATE[0].DetailList">
                        <span class="ng-binding">{{$index+1}}.{{doc.RequestTypeName}}</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 lr-0 show-pc">
                <div class="col-sm-4">
                    <div class="text-basic-md-center-input color-main">{{Text[PATextcategory].order}}  :</div>
                </div>
                <div class="col-sm-8 margin-b20">
                    <div class="col-sm-12 ng-scope" ng-repeat="doc in document.Additional.DELEGATE[0].DetailList">
                        <span ng-if="$index%2==0" class="ng-binding">{{$index+1}}.{{doc.RequestTypeName}}</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 lr-0 show-pc">
                <div class="col-sm-8 margin-b20">
                    <div class="ng-scope" ng-repeat="doc in document.Additional.DELEGATE[0].DetailList">
                        <span ng-if="$index%2!=0" class="ng-binding">{{$index+1}}.{{doc.RequestTypeName}}</span>
                    </div>
                </div>
            </div>-->
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text[PATextcategory].duration_time}}  :</div>
                    </div>
                    <div class="col-sm-4 margin-b20">
                        <div class="col-sm-12 ng-scope">
                            <p class="exman-res_detailtable em-font-15">{{ document.Additional.DELEGATE[0].BeginDate | date:'d/M/yyyy' }} - {{document.Additional.DELEGATE[0].EndDate | date:'d/M/yyyy'}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text[PATextcategory].reason_delegation}}  :</div>
                    </div>
                    <div class="col-sm-4 margin-b20">
                        <div class="col-sm-12 ng-scope">
                            <p class="exman-res_detailtable em-font-15">{{ document.Additional.DELEGATE[0].Remark}}</p>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>