﻿<div class="TravelExManPage delegation-page" ng-controller="DelegationEditorController" ng-init="init();">
    <h1>{{Text['HRTMABSENCE']['CREATE']}}</h1>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['DELEGATION'].SUBJECT}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <!--<pre>{{document.Additional.DELEGATE[0]|json}}</pre>-->
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text[PATextcategory].delegater_person}} :</div>
                    </div>
                    <div class="col-sm-7 margin-b20">
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{Text[PATextcategory].delegater_person}}</label>
                            <div class="col-sm-6 detaildate_leave">
                                <input value="{{document.Additional.DELEGATE[0].DelegateFromName}}" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15" style="font-size: 15px !important;" type="text" id="place" required="" ng-disabled="true" aria-invalid="true">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{Text[PATextcategory].employee_id}}</label>
                            <div class="col-sm-6 detaildate_leave">
                                <input value="{{document.Additional.DELEGATE[0].DelegateFrom}}" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15" style="font-size: 15px !important;" type="text" id="place" required="" ng-disabled="true" aria-invalid="true">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{Text[PATextcategory].department}}</label>
                            <div class="col-sm-6 detaildate_leave">
                                <input value="{{document.Additional.DELEGATE[0].DelegateFromOrg}}:{{document.Additional.DELEGATE[0].DelegateFromOrgName}}" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15" style="font-size: 15px !important;" type="text" id="place" required="" ng-disabled="true" aria-invalid="true">
                            </div>
                        </div>
                        <!--<pre>{{persons|json}}</pre>-->
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{Text[PATextcategory].position_delegated}} <span class="ico_inputordie"></span></label>
                            <div class="col-sm-6 detaildate_leave">
                                <div class="dropdown">
                                    <!--<select class="form-control" ng-model="document.Additional.DELEGATE[0].DelegateFromPosition" ng-options="current.ObjectID as current.PositionName for current in persons.delegator.AllPosition"></select>-->
                                    <select class="form-control" ng-if="employeeData.Language == 'TH'" ng-model="document.Additional.DELEGATE[0].DelegateFromPosition">
                                        <option ng-repeat="item in document.Additional.DELEGATE[0].DetailPosition" value="{{item.PositionID}}">
                                            {{item.PositionID}}&nbsp;:&nbsp;{{item.PositionNameTH}}
                                        </option>
                                    </select>
                                    <select class="form-control" ng-if="employeeData.Language == 'EN'" ng-model="document.Additional.DELEGATE[0].DelegateFromPosition">
                                        <option ng-repeat="item in document.Additional.DELEGATE[0].DetailPosition" value="{{item.PositionID}}">
                                            {{item.PositionID}}&nbsp;:&nbsp;{{item.PositionNameEN}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b20">
                    <div class="line-under "></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text[PATextcategory].delegated_person}}  :</div>
                    </div>
                    <div class="col-sm-7 margin-b20">
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{Text[PATextcategory].delegated_person}} <span class="ico_inputordie"></span></label>
                            <div class="col-sm-6 detaildate_leave">
                                <div style="position:relative;">
                                    <md-autocomplete class="blocked-cross-btn"
                                                     ng-click="tryToSelect(searchText)"
                                                     ng-blur="checkText(searchText)"
                                                     md-require-match="true"
                                                     theme="bootstrap"
                                                     ng-disabled="false"
                                                     md-no-cache="true"
                                                     md-selected-item="autocomplete.selectedItem"
                                                     md-search-text-change="searchTextChange(searchText)"
                                                     md-search-text="searchText"
                                                     md-selected-item-change="selectedItemChange(item)"
                                                     md-items="item in querySearchEmployee(searchText)"
                                                     md-item-text="item.Name"
                                                     md-min-length="0"
                                                     required
                                                     md-autoselect="true"
                                                     placeholder="Select Employee">
                                        <md-item-template>
                                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.EmployeeID}}:{{item.Name}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No states matching "{{searchText}}" was found.
                                        </md-not-found>

                                    </md-autocomplete>
                                    <i class="caret pull-right" style=" position: absolute; right: 10px; top: 20px;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{Text[PATextcategory].employee_id}} </label>
                            <div class="col-sm-6 detaildate_leave">
                                <input value="{{document.Additional.DELEGATE[0].DelegateTo}}" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15" style="font-size: 15px !important;" type="text" id="place" required="" ng-disabled="true" aria-invalid="true">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{Text[PATextcategory].department}}  </label>
                            <div class="col-sm-6 detaildate_leave">
                                <input value="{{document.Additional.DELEGATE[0].DelegateToOrg}}:{{document.Additional.DELEGATE[0].DelegateToOrgName}}" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15" style="font-size: 15px !important;" type="text" id="place" required="" ng-disabled="true" aria-invalid="true">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{Text[PATextcategory].position}}</label>
                            <div class="col-sm-6 detaildate_leave">
                                <input value="{{document.Additional.DELEGATE[0].DelegateToPosition}}:{{document.Additional.DELEGATE[0].DelegateToPositionName}}" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15" style="font-size: 15px !important;" type="text" id="place" required="" ng-disabled="true" aria-invalid="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b20">
                    <div class="line-under "></div>
                </div>
            </div>
            <!-- ของเก่าไม่ได้จัดกลุ่มมอบสิทธิ์ -->
            <!--<div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-3">
                        <div class="text-basic-md-center-input color-main">{{Text[PATextcategory].order}}  :&nbsp;<span class="ico_inputordie"></span></div>
                    </div>
                    <div class="col-sm-7 margin-b20">
                        <div class="row col-sm-12">
                            <button ng-click="selectAll();">{{Text['SYSTEM'].SELECTALL}}</button>
                            <button ng-click="unSelectAll();">{{Text['SYSTEM'].UNSELECTALL}}</button>
                        </div>
                        <div class="col-sm-6">
                            <div class="ng-scope" ng-repeat="doc in document.Additional.DELEGATE[0].DetailList">
                                <label class="checkbox-custom-label" ng-if="$index%2==0">
                                    <input type="checkbox" ng-model="doc.IsCheck" class="ng-valid ng-dirty ng-valid-parse ng-touched" aria-invalid="false" style="">
                                    <span class="ng-binding">{{doc.RequestTypeName}}</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="ng-scope" ng-repeat="doc in document.Additional.DELEGATE[0].DetailList">
                                <label class="checkbox-custom-label" ng-if="$index%2!=0">
                                    <input type="checkbox" ng-model="doc.IsCheck" class="ng-valid ng-dirty ng-valid-parse ng-touched" aria-invalid="false" style="">
                                    <span class="ng-binding">{{doc.RequestTypeName}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b20">
                    <div class="line-under "></div>
                </div>
            </div>-->
            <div class="row margin-b10">
                <div class="col-sm-offset-3 col-sm-9">
                    <button ng-click="selectAllGroup();" class="btn btn-primary">{{Text['SYSTEM'].SELECTALL}}</button>
                    &nbsp;&nbsp;
                    <button ng-click="unselectAllGroup();" class="btn btn-danger">{{Text['SYSTEM'].UNSELECTALL}}</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="text-basic-md-center-input color-main">{{Text[PATextcategory].order}}  :&nbsp;<span class="ico_inputordie"></span></div>
                </div>
                <div class="col-sm-9 media-padding-col">
                    <div class="ayodia-ez-accordion  margin-b20" ng-repeat="item in document.Additional.DELEGATE[0].DetailGroup">
                        <div class="ez-accordion accordion-sm" ng-class="{'active': tab1 == true , 'accordion-style-1-active' : item.IsCheckGroupping  , 'accordion-style-1' : !item.IsCheckGroupping   }">
                            <!--<md-checkbox class="margin-none font-16" ng-model="item.IsCheckGroupping">{{Text['DELEGATION'][item.TextCodeGroupping]}}</md-checkbox>-->
                            <label>
                                <input type="checkbox" ng-model="item.IsCheckGroupping" ng-click="selectDelegateGroup(item,item.IsCheckGroupping)" style="width:17px; height:17px;">
                                <span class="ng-binding font-18 font-weight-bold" style="display:inline">{{Text['DELEGATION'][item.TextCodeGroupping]}}</span>
                            </label>
                            <svg class="i-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ng-click="tab1 = !tab1"> <path d="M19,13H5a1,1,0,0,1,0-2H19a1,1,0,0,1,0,2Z" /></svg>
                            <svg class="i-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24" ng-click="tab1 = !tab1">
                                <defs>
                                    <style>
                                        .aaa {
                                            fill: #fff;
                                            stroke: #707070;
                                        }

                                        .bbb {
                                            clip-path: url(#aaa);
                                        }

                                        .ccc {
                                            opacity: 0;
                                        }
                                    </style>
                                    <clipPath id="aaa"><rect class="aaa" width="24" height="24" transform="translate(1320 462)" /></clipPath>
                                </defs>
                                <g class="bbb" transform="translate(-1320 -462)"><g transform="translate(1320 462)"><rect class="ccc" width="24" height="24" transform="translate(24 24) rotate(180)" /><path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z" /></g></g>
                            </svg>
                        </div>
                        <div class="ez-accordion-panel" ng-class="{'active': tab1 == true}">
                            <div class="row">
                                <div class="col-sm-6 margin-b-5" ng-repeat="item2 in item.GroupDetail" ng-if="item.SequenceDetail%2 == 0">
                                    <!--<md-checkbox class="margin-none font-18" ng-model="item2.IsCheckDetailGroupping" ng-click="selectDelegateDetail(item,item2,this.value)">{{item2.RequestTypeName}}</md-checkbox>-->
                                    <label>
                                        <input type="checkbox" ng-model="item2.IsCheckDetailGroupping"
                                               ng-click="selectDelegateDetail(item,item2,item2.IsCheckDetailGroupping)"
                                               style="width:17px; height:17px;">
                                        <span class="ng-binding font-16" style="display:inline">{{item2.RequestTypeName}}</span>
                                    </label>
                                </div>
                                <div class="col-sm-6 margin-b-5" ng-repeat="item2 in item.GroupDetail" ng-if="item.SequenceDetail%2 != 0">
                                    <!--<md-checkbox class="margin-none font-18" ng-model="item2.IsCheckDetailGroupping" ng-click="selectDelegateDetail(item,item2,this.value)">{{item2.RequestTypeName}}</md-checkbox>-->
                                    <label>
                                        <input type="checkbox" ng-model="item2.IsCheckDetailGroupping"
                                               ng-click="selectDelegateDetail(item,item2,item2.IsCheckDetailGroupping)"
                                               style="width:17px; height:17px;">
                                        <span class="ng-binding font-16" style="display:inline">{{item2.RequestTypeName}}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b20">
                    <div class="line-under "></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-3">
                        <div class="text-basic-md-center-input color-main">{{Text[PATextcategory].duration_time}}  :</div>
                    </div>
                    <div class="col-sm-7 margin-b20">
                        <div class="col-xs-5 col-sm-4 margin-b10">
                            <div class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                                <datepicker show-holidays="true" date-limit-from-api="true" date-limit-from-api-mode="afterAndNow" callback-on-change="setSelectedBegin(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.DELEGATE[0].BeginDate}}">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-1">
                            <div class="text-basic-md-center-input color-main text-center">{{Text['HRTMABSENCE']['ABSENCEDATETO']}}</div>
                        </div>
                        <div class="col-xs-5 col-sm-4">
                            <div class="datepicker-height-set margin-b10" style="position:relative;height:40px;">
                                <datepicker show-holidays="true" date-limit-from-api="true" date-limit-from-api-mode="afterAndNow" date-min-limit-for-range="{{document.Additional.DELEGATE[0].BeginDate}}" callback-on-change="setSelectedEnd(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.DELEGATE[0].EndDate}}" ng-disabled="status.isView || !canSetStart">
                                    <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                </datepicker>
                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  margin-b20">
                    <div class="line-under "></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-3">
                        <div class="text-basic-md-center-input color-main">{{Text[PATextcategory].reason_delegation}}  :&nbsp;<span class="ico_inputordie"></span></div>
                    </div>
                    <div class="col-sm-7 margin-b20">
                        <div class="col-sm-12">
                            <textarea class="form-control ng-pristine ng-valid ng-touched" rows="6" ng-model="document.Additional.DELEGATE[0].Remark" aria-invalid="false" style=" min-height: 100px" ng-disabled="status.isView"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<pre>{{employeeData.Language | json}}</pre>-->
    <!--<pre>{{document.Additional.DELEGATE[0].DetailGroup | json}}</pre>-->
</div>
