﻿<div class="TravelExManPage delegation-page" ng-controller="EducationEditorController">
   <div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">
        <!-- itemlist_block -->
        <div class="bar_bottom">
            <!-- bar_bottom-expandlist -->
            <div class="bar_bottomlist">
                <div class="bar-content">
                    <div class="row bar_title">
                        <div class="col-md-12">
                            <div class="bar_left bar_left_single_line">
                                <div class="bar_left-title ng-binding">
                                    {{Text['APPLICATION'].PA_INFO_EDUCATION}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="body_content" style="background:white;">
                    <div class="leavetableBlock leavetableBlock_create">
                        <div class="row itemlist_block">
                            <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].EDUCATIONLEVEL}}
                                            </span>
                                        </div>

                                        <div class="col-sm-7">
                                            <div ng-show="document.Additional.EducationOld.EducationLevelCode==''">
                                                <div style="position: relative; width: 160px; height: 50px; overflow: hidden;">
                                                    <input value="{{EducationLevelName}}"
                                                           class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                           style=" opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 160px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                           aria-invalid="true">
                                                    <select class="form-control" ng-model="document.Additional.Education.EducationLevelCode" ng-change="getEducationLevel()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 160px; font-size: 15px; cursor: pointer; margin: 0px;">                                  
                                                        <option value="{{item.EducationLevelCode}}" ng-repeat="item in Educationlevellist">{{item.EducationLevelText}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div ng-hide="document.Additional.EducationOld.EducationLevelCode==''" class="breakword-100px em-font-15">
                                                {{EDUCATIONLEVEL[document.Additional.EducationOld.EducationLevelCode]}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].INSTITUTE}}
                                            </span>
                                        </div>

                                        <div class="col-sm-7">

                                            <div style="position: relative; width: 260px; height: 50px; overflow: hidden;">
                                                <input value="{{InstitutelistName}}"
                                                       class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                       style=" opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 260px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                       aria-invalid="true">
                                                <select class="form-control" ng-model="document.Additional.Education.InstituteCode" ng-change="getInstitutelist()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 260px; font-size: 15px; cursor: pointer; margin: 0px;">
                                                    <option value="{{item.InstituteCode}}" ng-repeat="item in Institutelist | orderBy : 'InstituteText'">{{item.InstituteText}}</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].COUNTRY}}
                                            </span>
                                        </div>

                                        <div class="col-sm-7">

                                            <div style="position: relative; width: 260px; height: 50px; overflow: hidden;">
                                                <input value="{{CountryName}}"
                                                       class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                       style=" opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 260px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                       aria-invalid="true">
                                                <select class="form-control" ng-model="document.Additional.Education.CountryCode" ng-change="getCountry()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 260px; font-size: 15px; cursor: pointer; margin: 0px;">
                                                    <option value="{{item.CountryCode}}" ng-repeat="item in Countrylist">{{item.CountryName}}</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].CERTIFICATE}}
                                            </span>
                                        </div>

                                        <div class="col-sm-7">

                                            <div style="position: relative; width: 260px; height: 50px; overflow: hidden;">
                                                <input value="{{CertificateName}}"
                                                       class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                       style=" opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 260px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                       aria-invalid="true">
                                                <select class="form-control" ng-model="document.Additional.Education.CertificateCode" ng-change="getCertificate()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 260px; font-size: 15px; cursor: pointer; margin: 0px;">
                                                    <option value="{{item.CertificateCode}}" ng-repeat="item in Certificatelist | orderBy : 'CertificateDescription'">{{item.CertificateDescription}}</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].BEGINDATE}}
                                            </span>
                                        </div>

                                        <div class="col-sm-7 detaildate_leave">
                                            <div class="datepicker-height-set" style="position:relative; width: 260px; height:50px;">
                                                <datepicker date-limit-from-api="true" date-limit-from-api-mode="beforeAndNow" callback-on-change="setSelectedBeginDate(newDate)" date-format="d/M/yyyy" date-set="{{ document.Additional.Education.BeginDate }}">
                                                    <input name="BeginDate" class="form-control clickable datepicker" type="text" readonly required />
                                                </datepicker>
                                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].ENDDATE}}
                                            </span>
                                        </div>

                                        <div class="col-sm-7 detaildate_leave">
                                            <div class="datepicker-height-set" style="position:relative; width: 260px; height:50px;">
                                                <datepicker date-limit-from-api="true" date-limit-from-api-mode="beforeAndNow" callback-on-change="setSelectedEndDate(newDate)" date-format="d/M/yyyy" date-set="{{ document.Additional.Education.EndDate }}">
                                                    <input name="EndDate" class="form-control clickable datepicker" type="text" readonly required />
                                                </datepicker>
                                                <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <!--<div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].EDUCATIONGROUP}}
                                            </span>
                                        </div>

                                        <div class="col-sm-7">

                                            <div style="position: relative; width: 260px; height: 50px; overflow: hidden;">
                                                <input value="{{EducationgroupName}}"
                                                       class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                       style=" opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 260px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                       aria-invalid="true">
                                                <select class="form-control" ng-model="document.Additional.Education.EducationGroupCode" ng-change="getEducationgroup()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 260px; font-size: 15px; cursor: pointer; margin: 0px;">
                                                    <option value="{{item.EducationGroupCode}}" ng-repeat="item in Educationgrouplist | orderBy : 'EducationGroupDesc'">{{item.EducationGroupDesc}}</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>-->
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].GRADE}}
                                            </span>
                                        </div>

                                        <div class="col-sm-7">
                                            <div style="position: relative; width: 160px; height: 50px; overflow: hidden;">
                                                <input value="{{ document.Additional.Education.Grade | number : 2 }}" ng-model="document.Additional.Education.Grade" ng-trim="false"
                                                       class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                       style="text-align:left; position: absolute; top: 0; z-index: 1; width: 160px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                       aria-invalid="true">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].BRANCH1}}
                                            </span>
                                        </div>

                                        <div class="col-sm-7">

                                            <div style="position: relative; width: 260px; height: 50px; overflow: hidden;">
                                                <input value="{{Branch1Name}}"
                                                       class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                       style=" opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 260px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                       aria-invalid="true">
                                                <select class="form-control" ng-model="document.Additional.Education.Branch1" ng-change="getBranch1()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 260px; font-size: 15px; cursor: pointer; margin: 0px;">
                                                    <option value="{{item.BranchCode}}" ng-repeat="item in Branch1list | orderBy : 'BranchText'">{{item.BranchText}}</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span class="span_name">
                                                {{Text[Textcategory].BRANCH2}}
                                            </span>
                                        </div>

                                        <div class="col-sm-7">

                                            <div style="position: relative; width: 260px; height: 50px; overflow: hidden;">
                                                <input value="{{Branch2Name}}"
                                                       class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                       style=" opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 260px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                       aria-invalid="true">
                                                <select class="form-control" ng-model="document.Additional.Education.Branch2" ng-change="getBranch2()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 260px; font-size: 15px; cursor: pointer; margin: 0px;">
                                                    <option value="{{item.BranchCode}}" ng-repeat="item in Branch2list | orderBy : 'BranchText'">{{item.BranchText}}</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- bar_bottomlist -->
                <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                    <div class="col-md-10 col-sm-10 col-xs-12 ">
                        <div class="row">
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div style="margin-top: 5px;">
                                    <span class="ps_red" for="" ng-bind-html="Text['SYSTEM']['ATTACHMENT']"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div style="margin-top: 5px;">
                                    <span class="ps_red" for="" ng-bind-html="Text[Textcategory].FILEATTACHMENTREMARK"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .add-padding {
            padding-left: 35px !important;
        }

        .mainBlock .contentBody .contentBodyin {
            padding-top: 1.5rem;
            margin-top: 25px;
        }

        .bdc204 {
            width: inherit;
            border-color: rgb(204, 204, 204);
        }
    </style>
</div>
