﻿<div class="TravelExManPage delegation-page" ng-controller="EducationViewerController">
   <div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">
        <div class="bar_bottom">
            <!-- bar_bottom-expandlist -->
            <div class="bar_bottomlist">
                <div class="bar-content">
                    <div class="row bar_title">
                        <div class="col-md-12">
                            <div class="bar_left bar_left_single_line">
                                <div class="bar_left-title ng-binding">
                                    {{Text[Textcategory].PERSONALEDUCATION}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ag-flex-row ag-align-center" style="    padding-top: 1rem; padding-bottom: 1rem;">
                        <div class="col-md-10 col-sm-10 col-xs-12 ">

                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].EDUCATIONLEVEL}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-show="EducationOld.EducationLevelCode != '' && Education.EducationLevelCode!=EducationOld.EducationLevelCode"><span class="red_text"><strike>[{{EDUCATIONLEVEL[EducationOld.EducationLevelCode]}}]</strike></span> >> <span class="blue_text">[{{EDUCATIONLEVEL[Education.EducationLevelCode]}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="EducationOld.EducationLevelCode == '' && Education.EducationLevelCode!=EducationOld.EducationLevelCode"> {{EDUCATIONLEVEL[Education.EducationLevelCode]}}</div>
                                    <div class="breakword-100px em-font-15" ng-show="Education.EducationLevelCode==EducationOld.EducationLevelCode"> {{EDUCATIONLEVEL[Education.EducationLevelCode]}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].INSTITUTE}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-show="EducationOld.InstituteCode != '' && Education.InstituteCode!=EducationOld.InstituteCode">
                                        <span class="red_text"><strike>[{{INSTITUTE[EducationOld.InstituteCode]}}]</strike></span> >> <span class="blue_text">[{{INSTITUTE[Education.InstituteCode]}}]</span>

                                    </div>
                                    <div class="breakword-100px em-font-15" ng-show="EducationOld.InstituteCode == '' && Education.InstituteCode!=EducationOld.InstituteCode">{{INSTITUTE[Education.InstituteCode]}}</div>
                                    <div class="breakword-100px em-font-15" ng-show="Education.InstituteCode==EducationOld.InstituteCode">{{INSTITUTE[Education.InstituteCode]}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].COUNTRY}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-show="EducationOld.CountryCode != '' && Education.CountryCode!=EducationOld.CountryCode"><span class="red_text"><strike>[{{COUNTRY[EducationOld.CountryCode]}}]</strike></span> >> <span class="blue_text">[{{COUNTRY[Education.CountryCode]}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="EducationOld.CountryCode == '' && Education.CountryCode!=EducationOld.CountryCode">{{COUNTRY[Education.CountryCode]}}</div>
                                    <div class="breakword-100px em-font-15" ng-show="Education.CountryCode==EducationOld.CountryCode">{{COUNTRY[Education.CountryCode]}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].CERTIFICATE}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-show="EducationOld.CertificateCode != '' && Education.CertificateCode!=EducationOld.CertificateCode"><span class="red_text"><strike>[{{CERTIFICATE[EducationOld.CertificateCode]}}]</strike></span> >> <span class="blue_text">[{{CERTIFICATE[Education.CertificateCode]}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="EducationOld.CertificateCode == '' && Education.CertificateCode!=EducationOld.CertificateCode">{{CERTIFICATE[Education.CertificateCode]}}</div>
                                    <div class="breakword-100px em-font-15" ng-show="Education.CertificateCode==EducationOld.CertificateCode">{{CERTIFICATE[Education.CertificateCode]}}</div>                                  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].BEGINDATE}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-show="EducationOld.BeginDate != '' && Education.BeginDate!=EducationOld.BeginDate"><span class="red_text"><strike>[{{EducationOld.BeginDate  |  date:"dd/MM/yyyy"}}]</strike></span> >> <span class="blue_text">[{{Education.BeginDate  |  date:"dd/MM/yyyy"}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="EducationOld.BeginDate == '' && Education.BeginDate!=EducationOld.BeginDate">{{Education.BeginDate  |  date:"dd/MM/yyyy"}}</div>
                                    <div class="breakword-100px em-font-15" ng-show="Education.BeginDate==EducationOld.BeginDate">{{Education.BeginDate  |  date:"dd/MM/yyyy"}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].ENDDATE}}
                                    </span>
                                </div>
                                <div class="col-sm-7">                                
                                    <div class="breakword-100px em-font-15" ng-show="EducationOld.EndDate != '' && Education.EndDate!=EducationOld.EndDate"><span class="red_text"><strike>[{{EducationOld.EndDate  |  date:"dd/MM/yyyy"}}]</strike></span> >> <span class="blue_text">[{{Education.EndDate  |  date:"dd/MM/yyyy"}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="EducationOld.EndDate == '' && Education.EndDate!=EducationOld.EndDate">{{Education.EndDate  |  date:"dd/MM/yyyy"}}</div>
                                    <div class="breakword-100px em-font-15" ng-show="Education.EndDate==EducationOld.EndDate">{{Education.EndDate  |  date:"dd/MM/yyyy"}}</div>
                                </div>
                            </div>
                           
                            <!--<div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].EDUCATIONGROUP}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-show="EducationOld.EducationGroupCode != '' && Education.EducationGroupCode!=EducationOld.EducationGroupCode"><span class="red_text"><strike>[{{EDUCATIONGROUP[EducationOld.EducationGroupCode]}}]</strike></span> >> <span class="blue_text">[{{EDUCATIONGROUP[Education.EducationGroupCode]}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="EducationOld.EducationGroupCode == '' && Education.EducationGroupCode!=EducationOld.EducationGroupCode">{{EDUCATIONGROUP[Education.EducationGroupCode]}}</div>
                                    <div class="breakword-100px em-font-15" ng-show="Education.EducationGroupCode==EducationOld.EducationGroupCode">{{EDUCATIONGROUP[Education.EducationGroupCode]}}</div>
                                </div>
                            </div>-->
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].GRADE}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-show="EducationOld.Grade != '' && Education.Grade!=EducationOld.Grade"><span class="red_text"><strike>[{{EducationOld.Grade | number : 2}}]</strike></span> >> <span class="blue_text">[{{Education.Grade | number : 2}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="EducationOld.Grade == '' && Education.Grade!=EducationOld.Grade">{{Education.Grade | number : 2}}</div>
                                    <div class="breakword-100px em-font-15" ng-show="Education.Grade==EducationOld.Grade">{{Education.Grade | number : 2}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].BRANCH1}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-show="EducationOld.Branch1 != '' && Education.Branch1!=EducationOld.Branch1"><span class="red_text"><strike>[{{BRANCH[EducationOld.Branch1]}}]</strike></span> >> <span class="blue_text">[{{BRANCH[Education.Branch1]}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="EducationOld.Branch1 == '' && Education.Branch1!=EducationOld.Branch1">{{BRANCH[Education.Branch1]}}</div>
                                    <div class="breakword-100px em-font-15" ng-show="Education.Branch1==EducationOld.Branch1">{{BRANCH[Education.Branch1]}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].BRANCH2}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15" ng-show="EducationOld.Branch2 != '' && Education.Branch2!=EducationOld.Branch2"><span class="red_text"><strike>[{{BRANCH[EducationOld.Branch2]}}]</strike></span> >> <span class="blue_text">[{{BRANCH[Education.Branch2]}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="EducationOld.Branch2 == '' && Education.Branch2!=EducationOld.Branch2">{{BRANCH[Education.Branch2]}}</div>
                                    <div class="breakword-100px em-font-15" ng-show="Education.Branch2==EducationOld.Branch2">{{BRANCH[Education.Branch2]}}</div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- bar_bottomlist -->
                </div>
                <div class="-pad10"></div>
            </div>
        </div>
    </div>
    <style>
        .add-padding {
            padding-left: 35px !important;
        }

        .mainBlock .contentBody .contentBodyin {
            padding-top: 1.5rem;
            margin-top: 25px;
        }
    </style>
</div>