﻿<div ng-controller="FamilyDataEditorController">
    <div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">
        <!-- itemlist_block -->
        <div class="bar_bottom">
            <!-- bar_bottom-expandlist -->
            <div class="bar_bottomlist">
                <div class="bar-content">
                    <div class="row bar_title">
                        <div class="col-md-12">
                            <div class="bar_left bar_left_single_line">
                                <div class="bar_left-title ng-binding">
                                    {{Text[Textcategory].FAMILY}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                        <div class="col-md-10 col-sm-10 col-xs-12 ">
                            <div class="row" ng-show="PAConfiguration['FamilyMember'].IsVisible">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].FAMILYMEMBER}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div ng-show="document.Additional.FamilyData_OLD.FamilyMember==''">
                                        <div style="position: relative; width: 160px; height: 50px; overflow: hidden;">
                                            <input ng-show="!PAConfiguration['FamilyMemberName'].IsEditable" value="{{FamilyMemberName}}"
                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                   style=" opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 160px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                   aria-invalid="true">
                                            <select  class="form-control" ng-disabled="!PAConfiguration['FamilyMember'].IsEditable" ng-model="document.Additional.FamilyData.FamilyMember" ng-change="getFamilyMember()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 160px; font-size: 15px; cursor: pointer; margin: 0px;">
                                                <option value="{{item.Key}}" ng-repeat="item in FamilyMember">{{item.Description}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div ng-hide="document.Additional.FamilyData_OLD.FamilyMember==''" class="breakword-100px em-font-15">
                                        {{FAMILYMEMBER[document.Additional.FamilyData_OLD.FamilyMember]}}
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['ChdNo'].IsVisible" ng-if="document.Additional.FamilyData.FamilyMember == '2'">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].CHILDNO}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div ng-show="document.Additional.FamilyData_OLD.FamilyMember==''">
                                        <div style="position: relative; width: 160px; height: 50px; overflow: hidden;">
                                            <input ng-disabled="!PAConfiguration['ChdNo'].IsEditable" value="{{document.Additional.FamilyData.ChildNo}}"
                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                   style=" opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 160px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                   aria-invalid="true">
                                            <select  class="form-control" ng-disabled="!PAConfiguration['ChdNo'].IsEditable" ng-model="document.Additional.FamilyData.ChildNo" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 160px; font-size: 15px; cursor: pointer; margin: 0px;">
                                                <option value="{{item}}" ng-repeat="item in ChildNoList">{{item}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div ng-hide="document.Additional.FamilyData_OLD.FamilyMember==''" class="breakword-100px em-font-15">
                                        {{document.Additional.FamilyData_OLD.ChildNo | number:"0"}}
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['TitleName'].IsVisible">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].TITLENAME}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div style="position: relative; width: 160px; height: 50px; overflow: hidden;">
                                        <input ng-disabled="!PAConfiguration['TitleName'].IsEditable" value="{{TitleName}}"
                                               class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                               style=" opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 160px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                               aria-invalid="true">
                                        <select  class="form-control" ng-disabled="!PAConfiguration['TitleName'].IsEditable" ng-model="document.Additional.FamilyData.TitleName" ng-change="getTitle()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 160px; font-size: 15px; cursor: pointer; margin: 0px;">
                                            <option value="{{item.Key}}" ng-repeat="item in Title">{{item.Description}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['Name'].IsVisible">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].NAME}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <input ng-disabled="!PAConfiguration['Name'].IsEditable" type="text" style="position:relative; width: 270px;" name="FirstName" class="bdc204 btn form-control text-left" value="{{ document.Additional.FamilyData.Name }}" ng-model="document.Additional.FamilyData.Name" ng-trim="false" required />
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['Surname'].IsVisible">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].SURNAME}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <input ng-disabled="!PAConfiguration['Surname'].IsEditable" type="text" style="position:relative; width: 270px;" name="LastName" class="bdc204 btn form-control text-left" value="{{ document.Additional.FamilyData.Surname }}" ng-model="document.Additional.FamilyData.Surname" ng-trim="false" required />
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['BirthDate'].IsVisible">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].BIRTHDATE}}
                                    </span>
                                </div>
                                <div class="col-sm-7 detaildate_leave">
                                    <div class="datepicker-height-set" style="position:relative; width: 270px; height:40px;">
                                        <datepicker callback-on-change="setSelectedDOB(newDate)" date-format="d/M/yyyy" date-set="{{ document.Additional.FamilyData.BirthDate }}">
                                            <input ng-disabled="!PAConfiguration['BirthDate'].IsEditable" name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                        </datepicker>
                                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['BirthPlace'].IsVisible">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].BIRTHPLACE}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <input ng-disabled="!PAConfiguration['BirthPlace'].IsEditable" type="text" style="position:relative; width: 270px;" name="BirthPlace" class="bdc204 btn form-control text-left" value="{{ document.Additional.FamilyData.BirthPlace }}" ng-model="document.Additional.FamilyData.BirthPlace" ng-trim="false" />
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['CountryBirth'].IsVisible">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].COUNTRYBIRTH}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div style="position: relative; width: 270px; height: 50px; overflow: hidden;">
                                        <input ng-disabled="!PAConfiguration['CountryBirth'].IsEditable" value="{{CityOfBirthName}}"
                                               class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                               style=" opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 270px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                               aria-invalid="true">
                                        <select  class="form-control" ng-disabled="!PAConfiguration['CountryBirth'].IsEditable" ng-model="document.Additional.FamilyData.CityOfBirth" ng-change="getCityOfBirth()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 270px; font-size: 15px; cursor: pointer; margin: 0px;">
                                            <option value="{{item.CountryCode}}" ng-repeat="item in Country">{{item.CountryName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['Nationality'].IsVisible">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].NATIONALITY}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div style="position: relative; width: 270px; height: 50px; overflow: hidden;">
                                        <input ng-disabled="!PAConfiguration['Nationality'].IsEditable" value="{{NationalityName}}"
                                               class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                               style=" opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 270px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                               aria-invalid="true">
                                        <select  class="form-control" ng-disabled="!PAConfiguration['Nationality'].IsEditable" ng-model="document.Additional.FamilyData.Nationality" ng-change="getNationality()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 270px; font-size: 15px; cursor: pointer; margin: 0px;">
                                            <option value="{{item.Key}}" ng-repeat="item in Nationality">{{item.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['Dead'].IsVisible">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].DEADSTATUS}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="radio radio-inline">
                                        <input ng-disabled="!PAConfiguration['Dead'].IsEditable" type="radio" name="radio" id="radio_alive" value="" ng-model="document.Additional.FamilyData.Dead" required />
                                        <label for="radio_alive" class="black-color">{{ Text[Textcategory].DEADSTATUS0 }}</label>
                                    </div>
                                    <div class="radio radio-inline">
                                        <input ng-disabled="!PAConfiguration['Dead'].IsEditable" type="radio" name="radio" id="radio_dead" value="X" ng-model="document.Additional.FamilyData.Dead" required />
                                        <label for="radio_dead" class="black-color">{{ Text[Textcategory].DEADSTATUS1 }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['Dead'].IsVisible" ng-if="document.Additional.FamilyData.Dead == 'X'">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].DEADDATE}}
                                    </span>
                                </div>
                                <div class="col-sm-7 detaildate_leave">
                                    <div class="datepicker-height-set" style="position:relative; width: 270px; height:40px;">
                                        <datepicker callback-on-change="setSelectedDeadDate(newDate)" date-format="d/M/yyyy" date-set="{{ document.Additional.FamilyData.BeginDate }}">
                                            <input ng-disabled="!PAConfiguration['Dead'].IsEditable" name="MaritalEffectiveDate" class="form-control clickable datepicker" type="text" readonly required />
                                        </datepicker>
                                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-show="PAConfiguration['FatherID'].IsVisible" ng-if="document.Additional.FamilyData.FamilyMember == '11'">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].FATHERID}}
                                    </span>
                                    <br>
                                    <div style="color:red">{{Text['HRPAPERSONALDATA'].PERSONALID_REMARK}}</div>
                                </div>
                                <div class="col-sm-7">
                                    <input ng-disabled="!PAConfiguration['FatherID'].IsEditable" type="text" style="position:relative; width: 270px;" name="FatherID" class="bdc204 btn form-control text-left" value="{{ document.Additional.FamilyData.FatherID }}" ng-model="document.Additional.FamilyData.FatherID" ng-trim="false" />

                                    {{ document.Additional.FamilyData.FatherID.length }}   {{Text['FAMILY'].COUNTCHARACTER}}
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['MotherID'].IsVisible" ng-if="document.Additional.FamilyData.FamilyMember == '12'">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].MOTHERID}}
                                    </span>
                                    <br>
                                    <div style="color:red">{{Text['HRPAPERSONALDATA'].PERSONALID_REMARK}}</div>
                                </div>
                                <div class="col-sm-7">
                                    <input ng-disabled="!PAConfiguration['MotherID'].IsEditable" type="text" style="position:relative; width: 270px;" name="MotherID" class="bdc204 btn form-control text-left" value="{{ document.Additional.FamilyData.MotherID }}" ng-model="document.Additional.FamilyData.MotherID" ng-trim="false" />

                                    {{ document.Additional.FamilyData.MotherID.length }}   {{Text['FAMILY'].COUNTCHARACTER}}
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['SpouseID'].IsVisible" ng-if="document.Additional.FamilyData.FamilyMember == '1'">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].SPOUSEID}}
                                    </span>
                                    <br>
                                    <div style="color:red">{{Text['HRPAPERSONALDATA'].PERSONALID_REMARK}}</div>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" style="position:relative; width: 270px;" name="SpouseID" class="bdc204 btn form-control text-left" value="{{ document.Additional.FamilyData.SpouseID }}" ng-model="document.Additional.FamilyData.SpouseID" ng-trim="false" />

                                    {{ document.Additional.FamilyData.SpouseID.length }}   {{Text['FAMILY'].COUNTCHARACTER}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].FamAddress}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" style="position:relative; width: 270px;" name="Address" class="bdc204 btn form-control text-left" value="{{ document.Additional.FamilyData.Address }}" ng-model="document.Additional.FamilyData.Address" ng-trim="false" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].FamStreet}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" style="position:relative; width: 270px;" name="Street" class="bdc204 btn form-control text-left" value="{{ document.Additional.FamilyData.Street }}" ng-model="document.Additional.FamilyData.Street" ng-trim="false" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].FamDistrict}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" style="position:relative; width: 270px;" name="District" class="bdc204 btn form-control text-left" value="{{ document.Additional.FamilyData.District }}" ng-model="document.Additional.FamilyData.District" ng-trim="false" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].FamCity}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" style="position:relative; width: 270px;" name="City" class="bdc204 btn form-control text-left" value="{{ document.Additional.FamilyData.City }}" ng-model="document.Additional.FamilyData.City" ng-trim="false" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].FamPostcode}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" style="position:relative; width: 270px;" name="Postcode" class="bdc204 btn form-control text-left" value="{{ document.Additional.FamilyData.Postcode }}" ng-model="document.Additional.FamilyData.Postcode" ng-trim="false" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].FamCountry}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div style="position: relative; width: 270px; height: 50px; overflow: hidden;">
                                        <input value="{{CountryName}}"
                                               class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                               style= opacity: 0;"text-align:left; position: absolute; top: 0; z-index: 1; width: 270px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                               aria-invalid="true">
                                        <select  class="form-control" ng-model="document.Additional.FamilyData.Country" ng-change="getCountry()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 270px; font-size: 15px; cursor: pointer; margin: 0px;">
                                            <option value="{{item.CountryCode}}" ng-repeat="item in Country">{{item.CountryName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].FamTelNo}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" style="position:relative; width: 270px;" name="TelephoneNo" class="bdc204 btn form-control text-left" value="{{ document.Additional.FamilyData.TelephoneNo }}" ng-model="document.Additional.FamilyData.TelephoneNo" ng-trim="false" />
                                </div>
                            </div>
                        </div>
                        <div class="-pad10"></div>
                        <!-- bar_bottomlist -->
                    </div>
                    <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                        <div class="col-md-10 col-sm-10 col-xs-12 ">
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <div style="margin-top: 5px;">
                                        <span class="ps_red" for="" ng-bind-html="Text['SYSTEM']['ATTACHMENT']"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <div style="margin-top: 5px;">
                                        <span class="ps_red" for="" ng-bind-html="Text[Textcategory].FILEATTACHMENTREMARK"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <style>
        .add-padding {
            padding-left: 35px !important;
        }

        .mainBlock .contentBody .contentBodyin {
            padding-top: 1.5rem;
            margin-top: 25px;
        }

        .bdc204 {
            width: inherit;
            border-color: rgb(204, 204, 204);
        }
    </style>
</div>