﻿<div ng-controller="PersonalDataViewerController">
    <div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">
        <!-- itemlist_block -->
        <div class="bar_bottom">
            <!-- bar_bottom-expandlist -->
            <div class="bar_bottomlist">
                <div class="bar-content">
                    <div class="row bar_title">
                        <div class="col-md-12">
                            <div class="bar_left bar_left_single_line">
                                <div class="bar_left-title ng-binding">
                                    {{Text[Textcategory].PERSONALDATA}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ag-flex-row ag-align-center" style="    padding-top: 1rem; padding-bottom: 1rem;">
                        <div class="col-md-10 col-sm-10 col-xs-12 ">
                            <div class="row" ng-show="PAConfiguration['TitleName'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].TITLE}}
                                    </span>
                                </div>
                                <div class="col-sm-9">
                                    <div class="breakword-100px em-font-15" ng-hide="PersonalData.TitleID==PersonalData_OLD.TitleID"><span class="red_text"><strike>[{{TitleName_OLD}}]</strike></span> >> <span class="blue_text">[{{TitleName}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="PersonalData.TitleID==PersonalData_OLD.TitleID">{{TitleName}}</div>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['FirstName'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].FIRSTNAME}}
                                    </span>
                                </div>
                                <div class="col-sm-9">
                                    <div class="breakword-100px em-font-15" ng-hide="PersonalData.FirstName==PersonalData_OLD.FirstName"><span class="red_text"><strike>[{{PersonalData_OLD.FirstName}}]</strike></span> >> <span class="blue_text">[{{PersonalData.FirstName}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="PersonalData.FirstName==PersonalData_OLD.FirstName">{{PersonalData.FirstName}}</div>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['LastName'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].LASTNAME}}
                                    </span>
                                </div>
                                <div class="col-sm-9">
                                    <div class="breakword-100px em-font-15" ng-hide="PersonalData.LastName==PersonalData_OLD.LastName"><span class="red_text"><strike>[{{PersonalData_OLD.LastName}}]</strike></span> >> <span class="blue_text">[{{PersonalData.LastName}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="PersonalData.LastName==PersonalData_OLD.LastName">{{PersonalData.LastName}}</div>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['BirthDate'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].BIRTHDATE}}
                                    </span>
                                </div>
                                <div class="col-sm-9 detaildate_leave">
                                    <div class="breakword-100px em-font-15" ng-hide="PersonalData.DOB==PersonalData_OLD.DOB"><span class="red_text"><strike>[{{ PersonalData_OLD.DOB | date:"dd/MM/yyyy"}}]</strike></span> >> <span class="blue_text">[{{ (PersonalData.DOB | date:"dd/MM/yyyy")}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="PersonalData.DOB==PersonalData_OLD.DOB">{{ (PersonalData.DOB | date:"dd/MM/yyyy")}}</div>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['Gender'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].GENDER}}
                                    </span>
                                </div>
                                <div class="col-sm-9">
                                    <div class="breakword-100px em-font-15" ng-hide="PersonalData.Gender==PersonalData_OLD.Gender"><span class="red_text"><strike>[{{GenderName_OLD}}]</strike></span> >> <span class="blue_text">[{{GenderName}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="PersonalData.Gender==PersonalData_OLD.Gender">{{GenderName}}</div>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['BirthCity'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].BIRTHCITY}}
                                    </span>
                                </div>
                                <div class="col-sm-9">
                                    <div class="breakword-100px em-font-15" ng-hide="PersonalData.BirthCity==PersonalData_OLD.BirthCity"><span class="red_text"><strike>[{{CountryName_OLD}}]</strike></span> >> <span class="blue_text">[{{CountryName}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="PersonalData.BirthCity==PersonalData_OLD.BirthCity">{{CountryName}}</div>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['BirthPlace'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].BIRTHPLACE}}
                                    </span>
                                </div>
                                <div class="col-sm-9">
                                    <div class="breakword-100px em-font-15" ng-hide="PersonalData.BirthPlace==PersonalData_OLD.BirthPlace"><span class="red_text"><strike>[{{BirthPlace_OLD}}]</strike></span> >> <span class="blue_text">[{{BirthPlace}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="PersonalData.BirthPlace==PersonalData_OLD.BirthPlace">{{BirthPlace}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].PERSONALID}}
                                    </span>
                                    <br>
                                    <div style="color:red">{{Text['HRPAPERSONALDATA'].PERSONALID_REMARK}}</div>
                                </div>
                                <div class="col-sm-9">
                                    <span class="span_name">
                                        <label class="breakword-100px em-font-15">{{IDCardNo}}</label>
                                    </span>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['Nationality'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].NATIONALITY}}
                                    </span>
                                </div>
                                <div class="col-sm-9">
                                    <div class="breakword-100px em-font-15" ng-hide="PersonalData.Nationality==PersonalData_OLD.Nationality"><span class="red_text"><strike>[{{NationalityName_OLD}}]</strike></span> >> <span class="blue_text">[{{NationalityName}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="PersonalData.Nationality==PersonalData_OLD.Nationality">{{NationalityName}}</div>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['Religion'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].RELIGION}}
                                    </span>
                                </div>
                                <div class="col-sm-9">
                                    <div class="breakword-100px em-font-15" ng-hide="PersonalData.Religion==PersonalData_OLD.Religion"><span class="red_text"><strike>[{{ReligionName_OLD}}]</strike></span> >> <span class="blue_text">[{{ReligionName}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="PersonalData.Religion==PersonalData_OLD.Religion">{{ReligionName}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].EFFECTIVEDATE}}
                                    </span>
                                </div>
                                <div class="col-sm-9 detaildate_leave">
                                    <div ng-show="PersonalData.BeginDate!=PersonalData_OLD.BeginDate && PersonalData_OLD.BeginDate != '0001-01-01'" class="breakword-100px em-font-15"><span class="red_text"><strike>[{{ PersonalData_OLD.BeginDate | date:"dd/MM/yyyy"}}]</strike></span> >> <span class="blue_text">[{{ (PersonalData.BeginDate | date:"dd/MM/yyyy")}}]</span></div>
                                    <div ng-show="PersonalData.BeginDate!=PersonalData_OLD.BeginDate && PersonalData_OLD.BeginDate == '0001-01-01'" class="breakword-100px em-font-15"><span class="red_text"><strike>[]</strike></span> >> <span class="blue_text">[{{ (PersonalData.BeginDate | date:"dd/MM/yyyy")}}]</span></div>
                                    <div ng-show="PersonalData.BeginDate==PersonalData_OLD.BeginDate" class="breakword-100px em-font-15">{{ (PersonalData.BeginDate | date:"dd/MM/yyyy")}}</div>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['MaritalStatus'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].MARITALSTATUS}}
                                    </span>
                                </div>
                                <div class="col-sm-9">
                                    <div class="breakword-100px em-font-15" ng-hide="PersonalData.MaritalStatus==PersonalData_OLD.MaritalStatus"><span class="red_text"><strike>[{{MaritalStatusName_OLD}}]</strike></span> >> <span class="blue_text">[{{MaritalStatusName}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="PersonalData.MaritalStatus==PersonalData_OLD.MaritalStatus">{{MaritalStatusName}}</div>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['NoOfChild'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].NOOFCHILD}}
                                    </span>
                                </div>
                                <div class="col-sm-9">
                                    <div class="breakword-100px em-font-15" ng-hide="PersonalData.NoOfChild==PersonalData_OLD.NoOfChild"><span class="red_text"><strike>[{{PersonalData_OLD.NoOfChild}}]</strike></span> >> <span class="blue_text">[{{PersonalData.NoOfChild}}]</span></div>
                                    <div class="breakword-100px em-font-15" ng-show="PersonalData.NoOfChild==PersonalData_OLD.NoOfChild">{{PersonalData.NoOfChild}}</div>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['Since'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].SINCE}}
                                    </span>
                                </div>
                                <div class="col-sm-9 detaildate_leave">
                                    <div ng-show="PersonalData.MaritalEffectiveDate!=PersonalData_OLD.MaritalEffectiveDate && PersonalData_OLD.MaritalEffectiveDate != '0001-01-01'" class="breakword-100px em-font-15"><span class="red_text"><strike>[{{ PersonalData_OLD.MaritalEffectiveDate | date:"dd/MM/yyyy"}}]</strike></span> >> <span class="blue_text">[{{ (PersonalData.MaritalEffectiveDate | date:"dd/MM/yyyy")}}]</span></div>
                                    <div ng-show="PersonalData.MaritalEffectiveDate!=PersonalData_OLD.MaritalEffectiveDate && PersonalData_OLD.MaritalEffectiveDate == '0001-01-01'" class="breakword-100px em-font-15"><span class="red_text"><strike>[]</strike></span> >> <span class="blue_text">[{{ (PersonalData.MaritalEffectiveDate | date:"dd/MM/yyyy")}}]</span></div>
                                    <div ng-show="PersonalData.MaritalEffectiveDate==PersonalData_OLD.MaritalEffectiveDate" class="breakword-100px em-font-15">{{ (PersonalData.MaritalEffectiveDate | date:"dd/MM/yyyy")}}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- bar_bottomlist -->
                </div>
                <div class="-pad10"></div>
            </div>
        </div>
    </div>
    <style>
        .add-padding {
            padding-left: 35px !important;
        }

        .mainBlock .contentBody .contentBodyin {
            padding-top: 1.5rem;
            margin-top: 25px;
        }
    </style>
</div>