﻿<div ng-controller="PersonalDataEditorController">
    <div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">
        <!-- itemlist_block -->
        <div class="bar_bottom">
            <!-- bar_bottom-expandlist -->
            <div class="bar_bottomlist">
                <div class="bar-content">
                    <div class="row bar_title">
                        <div class="col-md-12">
                            <div class="bar_left bar_left_single_line">
                                <div class="bar_left-title ng-binding">
                                    {{Text[Textcategory].EDIT}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                        <div class="col-md-10 col-sm-10 col-xs-12 ">
                            <div class="row" ng-show="PAConfiguration['TitleName'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].TITLE}}
                                    </span>
                                </div>
                                <div class="col-sm-9">
                                    <div style="position: relative; width: 120px; height: 50px; overflow: hidden;">

                                        <input ng-disabled="!PAConfiguration['TitleName'].IsEditable" value="{{TitleName}}"
                                               class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                               style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text" id="place" required=""
                                               aria-invalid="true">

                                        <select class="form-control" ng-disabled="!PAConfiguration['TitleName'].IsEditable" ng-model="document.Additional.PersonalData.TitleID" ng-change="getTitle()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 120px; font-size: 15px; cursor: pointer; margin: 0px;">
                                            <option value="{{item.Key}}" ng-repeat="item in Title">{{item.Description}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['FirstName'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].FIRSTNAME}}
                                    </span>
                                </div>
                                <div class="col-sm-9">
                                    <input ng-disabled="!PAConfiguration['FirstName'].IsEditable" type="text" style="position:relative; width: 270px;" name="FirstName" class="bdc204 btn form-control text-left" value="{{ document.Additional.PersonalData.FirstName }}" ng-model="document.Additional.PersonalData.FirstName" ng-trim="false" required />
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['LastName'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].LASTNAME}}
                                    </span>
                                </div>
                                <div class="col-sm-9">
                                    <input ng-disabled="!PAConfiguration['LastName'].IsEditable" type="text" style="position:relative; width: 270px;" name="LastName" class="bdc204 btn form-control text-left" value="{{ document.Additional.PersonalData.LastName }}" ng-model="document.Additional.PersonalData.LastName" ng-trim="false" required />
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['BirthDate'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].BIRTHDATE}}
                                    </span>
                                </div>
                                <div class="col-sm-9 detaildate_leave">
                                    <div class="datepicker-height-set" style="position:relative; width: 270px; height:40px;">
                                        <datepicker date-limit-from-api="true" date-limit-from-api-mode="beforeHire" callback-on-change="setSelectedDOB(newDate)" date-format="d/M/yyyy" date-set="{{ document.Additional.PersonalData.DOB }}">
                                            <input ng-disabled="!PAConfiguration['BirthDate'].IsEditable" name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                        </datepicker>
                                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['Gender'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].GENDER}}
                                    </span>
                                </div>
                                <div class="col-sm-9">
                                    <div style="position: relative; width: 120px; height: 50px; overflow: hidden;">
                                        <input ng-disabled="!PAConfiguration['Gender'].IsEditable" value="{{GenderName}}"
                                               class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                               style="opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                               aria-invalid="true">
                                        <select class="form-control" ng-disabled="!PAConfiguration['Gender'].IsEditable" ng-model="document.Additional.PersonalData.Gender" ng-change="getGender()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 120px; font-size: 15px; cursor: pointer; margin: 0px;">
                                            <option value="{{item.Key}}" ng-repeat="item in Gender">{{item.Description}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-show="PAConfiguration['BirthCity'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].BIRTHCITY}}
                                    </span>
                                </div>
                                <div class="col-sm-9">
                                    <div style="position: relative; width: 270px; height: 50px; overflow: hidden;">
                                        <input ng-disabled="!PAConfiguration['BirthCity'].IsEditable" value="{{CountryName}}"
                                               class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                               style="opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 270px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                               aria-invalid="true">
                                        <select class="form-control" ng-disabled="!PAConfiguration['BirthCity'].IsEditable" ng-model="document.Additional.PersonalData.BirthCity" ng-change="getCountry()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 270px; font-size: 15px; cursor: pointer; margin: 0px;">
                                            <option value="{{item.CountryCode}}" ng-repeat="item in Country">{{item.CountryName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['BirthPlace'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].BIRTHPLACE}}
                                    </span>
                                </div>
                                <div class="col-sm-9" ng-hide="IsVisibleProvince">
                                    <input ng-disabled="!PAConfiguration['BirthPlace'].IsEditable" type="text" name="BirthPlace" class="bdc204 btn form-control text-left" value="{{ document.Additional.PersonalData.BirthPlace }}" ng-model="document.Additional.PersonalData.BirthPlace" ng-trim="false" required />
                                </div>
                                <div class="col-sm-9" ng-show="IsVisibleProvince">
                                    <div style="position: relative; width: 270px; height: 50px; overflow: hidden;">
                                        <input ng-disabled="!PAConfiguration['BirthPlace'].IsEditable" value="{{ProvinceName}}"
                                               class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                               style="opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 270px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                               aria-invalid="true">
                                        <select class="form-control" ng-disabled="!PAConfiguration['BirthPlace'].IsEditable" ng-model="document.Additional.PersonalData.BirthPlace" ng-change="getProvince()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 270px; font-size: 15px; cursor: pointer; margin: 0px;">
                                            <option value="{{item.ProvinceCode}}" ng-repeat="item in Province">{{item.ProvinceName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].PERSONALID}}
                                    </span>
                                    <br>
                                    <div style="color:red">{{Text['HRPAPERSONALDATA'].PERSONALID_REMARK}}</div>
                                </div>
                                <div class="col-sm-9">
                                    <span class="span_name">
                                        <label class="breakword-100px em-font-15">{{IDCardNo}}</label>
                                    </span>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['Nationality'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].NATIONALITY}}
                                    </span>
                                </div>
                                <div class="col-sm-9">
                                    <div style="position: relative; width: 270px; height: 50px; overflow: hidden;">
                                        <input ng-disabled="!PAConfiguration['Nationality'].IsEditable" value="{{NationalityName}}"
                                               class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                               style="opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 270px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                               aria-invalid="true">
                                        <select class="form-control" ng-disabled="!PAConfiguration['Nationality'].IsEditable" ng-model="document.Additional.PersonalData.Nationality" ng-change="getNationality()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 270px; font-size: 15px; cursor: pointer; margin: 0px;">
                                            <option value="{{item.Key}}" ng-repeat="item in Nationality">{{item.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="PAConfiguration['Religion'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].RELIGION}}
                                    </span>
                                </div>
                                <div class="col-sm-9">
                                    <div style="position: relative; width: 120px; height: 50px; overflow: hidden;">
                                        <input ng-disabled="!PAConfiguration['Religion'].IsEditable" value="{{ReligionName}}"
                                               class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                               style="opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                               aria-invalid="true">
                                        <select class="form-control" ng-disabled="!PAConfiguration['Religion'].IsEditable" ng-model="document.Additional.PersonalData.Religion" ng-change="getReligion()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 120px; font-size: 15px; cursor: pointer; margin: 0px;">
                                            <option value="{{item.Key}}" ng-repeat="item in Religion">{{item.Description}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].EFFECTIVEDATE}}
                                    </span>
                                </div>
                                <div class="col-sm-9 detaildate_leave">

                                    <div class="datepicker-height-set" style="position:relative; width: 270px; height:40px;">
                                        <datepicker date-limit-from-api="true" date-limit-from-api-mode="afterHire" callback-on-change="setSelectedBeginDate(newDate)" date-format="d/M/yyyy" date-set="{{ document.Additional.PersonalData.BeginDate }}">
                                            <input ng-disabled="!PAConfiguration['Since'].IsEditable" name="BeginDate" class="form-control clickable datepicker" type="text" readonly required />
                                        </datepicker>
                                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                    </div>


                                </div>

                            </div>

                            <div class="row" ng-show="PAConfiguration['MaritalStatus'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].MARITALSTATUS}}
                                    </span>
                                </div>
                                <div class="col-sm-9">
                                    <div style="position: relative; width: 120px; height: 50px; overflow: hidden;">
                                        <input ng-disabled="!PAConfiguration['MaritalStatus'].IsEditable" value="{{MaritalStatusName}}"
                                               class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                               style="opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                               aria-invalid="true">
                                        <select class="form-control" ng-disabled="!PAConfiguration['MaritalStatus'].IsEditable" ng-model="document.Additional.PersonalData.MaritalStatus" ng-change="getMaritalStatus()" placeholder="" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 120px; font-size: 15px; cursor: pointer; margin: 0px;">
                                            <option value="{{item.Key}}" ng-repeat="item in MaritalStatus">{{item.Description}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-show="PAConfiguration['NoOfChild'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].NOOFCHILD}} <!---  จำนวนบุตร-->
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <input ng-disabled="!PAConfiguration['NoOfChild'].IsEditable" type="number" style="position:relative; width: 270px;" name="NoOfChild" class="bdc204 btn form-control text-left" value="{{ "document.Additional.PersonalData.NoOfChild }}" ng-model="document.Additional.PersonalData.NoOfChild" ng-trim="false" required />
                                </div>

                            </div>


                            <div class="row" ng-show="PAConfiguration['Since'].IsVisible">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text[Textcategory].SINCE}}
                                    </span>
                                </div>
                                <div class="col-sm-9 detaildate_leave">

                                    <div class="datepicker-height-set" style="position:relative; width: 270px; height:40px;" ng-show="isShowEffectiveDate">
                                        <datepicker date-limit-from-api="true" date-limit-from-api-mode="afterHire" callback-on-change="setSelectedEffectiveDate(newDate)" date-format="d/M/yyyy" date-set="{{ document.Additional.PersonalData.MaritalEffectiveDate }}">
                                            <input ng-disabled="!PAConfiguration['Since'].IsEditable" name="MaritalEffectiveDate" class="form-control clickable datepicker" type="text" readonly required />
                                        </datepicker>
                                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                    </div>

                                    <div style="margin-top:10px;">
                                        <input type="checkbox" class="" aria-invalid="false" ng-model="isCheckEffectiveDate"
                                               ng-change="checkEffectiveDate(isCheckEffectiveDate)">
                                        &nbsp;
                                        {{Text['HRPAPERSONALDATA'].NoSpecifyEffectiveDate}}
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- bar_bottomlist -->
                    <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <div style="margin-top: 5px;">
                                        <span class="ps_red" for="" ng-bind-html="Text['SYSTEM']['ATTACHMENT']"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <div style="margin-top: 5px;">
                                        <span class="ps_red" for="" ng-bind-html="Text[Textcategory].FILEATTACHMENTREMARK"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="-pad10"></div>
            </div>
        </div>
    </div>
    <style>
        .add-padding {
            padding-left: 35px !important;
        }

        .mainBlock .contentBody .contentBodyin {
            padding-top: 1.5rem;
            margin-top: 25px;
        }

        .bdc204 {
            width: inherit;
            border-color: rgb(204, 204, 204);
        }
    </style>
</div>