﻿<div class="document-body" ng-controller="TimeSheetViewerV1Controller">
    <!-- Pet Start -->
    <div class="row timedetail_item" ng-show="Text[Textcategory].REMARK_MOBILE">
        <div class="col-sm-11 -col_centered detail_item-fyi -bg-lightblue">
            <div class="row">
                <div class="col-xs-1 -pad0"> <i class="icon-bulb -txt-blue"></i></div>
                <div class="col-md-11 col-xs-9 -padleft0">
                    <p class="-txt-gray">{{ Text[Textcategory].REMARK_MOBILE }}</p>
                </div>
            </div>
            <!--<p class="-txt-blue -settxt-right"> <a href="#">เบิกค่าล่วงเวลาที่นี่ <i class="glyphicon glyphicon-calendar fa fa-angle-right"></i></a> </p>-->
        </div>
    </div>
    <div class="-pad10"></div>
    <div class="row timedetail_item">
        <div class="bar-content">
            <div class="row bar_title bar_title-small">
                <div class="col-md-12">
                    <div class="bar_left">
                        <div class="bar_left-title">
                            {{ Text[Textcategory].SUBJECT }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body_content detail_savetime">
            <div class="-pad5"></div>
            <div class="row itemlist_block ">
                <div class="col-md-5 col-sm-5">
                    <label for="">{{ Text[Textcategory].TIMESHEETID }}</label>
                    <p>{{ document.Additional.Detail[0].TimeSheetID }}</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <label for="">{{ Text[Textcategory].PERIODDATE }}</label>
                    <p> <i class="icon-calendar ico_datestart"></i> {{ document.Additional.Header[0].PeriodDate | date:'dd/MM/yyyy'}}</p>
                </div>
                <!--<div class="col-md-3 col-sm-3">
                    <div class="item-btn">
                        <a href="#">
                            <div class="itemin_btn" style="float: none;margin: 0;width: auto;">ไปหน้ารายการบันทึกเวลา <i class="glyphicon glyphicon-calendar fa fa-angle-right"></i> </div>
                        </a>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <!-- Pet End -->
    <!-- Pet Start -->
    <!-- timedetail_item -->
    <!-- table for sm size /////////////////////////-->
    <div class="row timedetail_item -xs_sm-only">
        <!-- Task -->
        <div class="col-sm-12 detail_item-tableBlock">
            <div class="row">
                <div class="col-sm-12 itemtable-title itemtable-highlight">
                    <div class="itemtxt_block">
                        <div class="itemtxt-left">
                            <div class="-set-left">
                                {{Text[Textcategory].TASK}}
                            </div>
                        </div>
                        <div class="itemtxt-right">
                            <div class="-set-right">
                                {{ Text[Textcategory].SUMMARY }} <span>{{ SumRecordHour() | number : 1 }}&nbsp;{{ Text[Textcategory].HOUR }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- itemtable-title -->
            <div class="row">
                <div class="col-sm-12 itemtable-itemres" ng-repeat="timesheet in timesheetsForMobile  | orderBy:'Date' | groupBy:['Date']" ng-if="timesheet.group_by_CHANGED">
                    <div class="itemtxt_block">
                        <div class="itemres-detail_top">
                            <div class="itemtxt-left">
                                <a class="-txt-blue" ng-class="getDayClass(timesheet.Date)">
                                    <div class="dummy"><span class="icon-arrow_line_down"></span></div>
                                    <span class="icon-calendar"></span>
                                    {{ getDayCode(timesheet.Date) }}&nbsp;{{ timesheet.Date|date:'dd/MM' }}
                                </a>
                            </div>
                            <div class="itemtxt-right">
                                <div class="-set-right">
                                    {{ Text[Textcategory].SUMMARY }} <span> {{SumRecordHour ( timesheet.Date ) | number:1 }}</span>
                                </div>
                            </div>
                        </div>
                        <div class=" row itemres-detail_intable" ng-repeat="child in timesheetsForMobile | orderBy:'Date' | filter:{Date:timesheet.Date}">
                            <div class="col-sm-12">
                                <div class="itemtxt-left">
                                    <div class="-set-left">
                                        <span class="icon-calendar"></span> {{ child.JobDesc }}
                                    </div>
                                </div>
                                <div class="itemtxt-right">
                                    <div class="-set-right">
                                        {{ child.RecordHour | number : 1 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- itemres-detail_intable -->
                    </div>
                </div>
                <!-- itemtable-itemres -->
            </div>
        </div>
        <!-- !Task -->
        <!-- OT -->
        <div class="col-sm-12 detail_item-tableBlock">
            <div class="row">
                <div class="col-sm-12 itemtable-title itemtable-highlight">
                    <div class="itemtxt_block">
                        <div class="itemtxt-left">
                            <div class="-set-left">
                                {{Text[Textcategory].OTTASK}}
                            </div>
                        </div>
                        <div class="itemtxt-right">
                            <div class="-set-right">
                                {{ Text[Textcategory].SUMMARY }} <span>{{ SumRequestOTHour() | number : 1 }}&nbsp;{{ Text[Textcategory].HOUR }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- itemtable-title -->
            <div class="row">
                <div class="col-sm-12 itemtable-itemres" ng-repeat="currentOT in document.dailyOTList">
                    <div class="itemtxt_block">
                        <div class="itemres-detail_top">
                            <div class="itemtxt-left">
                                <a ng-class="getDayClass(currentOT.BeginDate)">
                                    <div class="dummy"><span class="icon-arrow_line_down"></span></div>
                                    <span class="icon-calendar"></span>
                                    <p class="-set-inline">
                                        {{ getDayCode(currentOT.BeginDate) }}&nbsp;{{ currentOT.BeginDate | date:'dd/MM' }}
                                    </p>
                                </a>
                            </div>
                            <div class="itemtxt-right">
                                <div class="-set-right">
                                    {{ Text[Textcategory].SUMMARY }}
                                    <span> {{ SumOT(currentOT.RequestOTHour10, currentOT.RequestOTHour15, currentOT.RequestOTHour30) }}</span>
                                </div>
                            </div>
                        </div>
                        <div class=" row itemres-detail_intable" ng-if="currentOT.RequestOTHour15">
                            <div class="col-sm-12">
                                <div class="itemtxt-left">
                                    <div class="-set-left">
                                        {{ Text['TMREPORT_TIMESHEET'].REQUESTOTHOUR15 }}
                                    </div>
                                </div>
                                <div class="itemtxt-right">
                                    <div class="-set-right">
                                        {{ RequestOTHour15(currentOT.RequestOTHour15) | number : 1 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row itemres-detail_intable" ng-if="currentOT.RequestOTHour10">
                            <div class="col-sm-12">
                                <div class="itemtxt-left">
                                    <div class="-set-left">
                                        {{ Text['TMREPORT_TIMESHEET'].REQUESTOTHOUR10 }}
                                    </div>
                                </div>
                                <div class="itemtxt-right">
                                    <div class="-set-right">
                                        {{ RequestOTHour10(currentOT.RequestOTHour10) | number : 1 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row itemres-detail_intable" ng-if="currentOT.RequestOTHour30">
                            <div class="col-sm-12">
                                <div class="itemtxt-left">
                                    <div class="-set-left">
                                        {{ Text['TMREPORT_TIMESHEET'].REQUESTOTHOUR30 }}
                                    </div>
                                </div>
                                <div class="itemtxt-right">
                                    <div class="-set-right">
                                        {{ RequestOTHour30(currentOT.RequestOTHour30) | number : 1 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- itemres-detail_intable -->
                    </div>
                </div>

            </div>
        </div>
        <!-- !OT -->
    </div>
    <!-- timedetail_item -->
    <!-- table for desktop & tablet ////////////////////-->
    <div class="row timedetail_item -desk_md-only">
        <div class="col-sm-12 detail_item-tableBlock forscroll-x">
            <table class="table table-bordered table-responsive detail_item-table">
                <thead>
                    <tr class="itemtable-highlight">
                        <th>{{ Text[Textcategory].TASK }}</th>
                        <th ng-repeat="day in document.dayTemplate" ng-class="day.IsDayOff || day.IsHoliday ? 'holiday' : 'normalday'">
                            {{ day.Day_Date | date:'d' }}<br>{{ day.Day_Code }}
                        </th>
                        <th>{{ Text[Textcategory].SUMMARY }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="timesheet in timesheetsForDesktop | orderBy:'Date' | orderBy:'JobID' | groupBy:['JobID']" ng-if="timesheet.group_by_CHANGED">
                        <td>{{ timesheet.JobDesc }}</td>
                        <td ng-repeat="day in document.dayTemplate" ng-class="day.IsDayOff || day.IsHoliday ? 'holiday' : 'normalday'">
                            <span ng-repeat="child in timesheetsForDesktop | filter:{Date:day.Day_Date}  | filter:{JobID:timesheet.JobID}" ng-if="child">{{ child.RecordHour | number : 1 }}</span>
                        </td>
                        <th>{{ sumHourByJobID(timesheet.JobID) | number : 1 }}</th>
                    </tr>

                </tbody>
                <tfoot>
                    <tr class="itemtable-highlight">
                        <td>{{ Text[Textcategory].SUMMARY }}</td>
                        <td ng-repeat="day in document.dayTemplate" ng-class="day.IsDayOff || day.IsHoliday ? 'holiday' : 'normalday'">
                            {{ SumRecordHour(day.Day_Date) | number:1 }}
                        </td>
                        <td>{{ SumRecordHour() | number : 1 }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- detail_item-tableBlock -->
    </div>
    <!-- timedetail_item -->
    <div class="row timedetail_item -desk_md-only">
        <div class="col-sm-12 detail_item-tableBlock forscroll-x">
            <table class="table table-bordered table-responsive detail_item-table">
                <thead>
                    <tr class="itemtable-highlight">
                        <th>{{ Text[Textcategory].OTTASK }}</th>
                        <th ng-repeat="day in document.dayTemplate" ng-class="day.IsDayOff || day.IsHoliday ? 'holiday' : 'normalday'">
                            {{day.Day_Date | date:'d' }}<br>{{day.Day_Code}}
                        </th>
                        <th>{{ Text[Textcategory].SUMMARY }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ Text['TMREPORT_TIMESHEET'].REQUESTOTHOUR15 }}</td>
                        <td ng-repeat="day in document.dayTemplate" ng-class="day.IsDayOff || day.IsHoliday ? 'holiday' : 'normalday'">
                            <span ng-repeat="ot in document.dailyOTList | filter:{BeginDate:day.Day_Date}" ng-show="ot.RequestOTHour15 > 0">{{ RequestOTHour15(ot.RequestOTHour15) | number : 1 }}</span>
                        </td>
                        <th>{{ SumOT15() | number : 1 }}</th>
                    </tr>
                    <tr>
                        <td>{{ Text['TMREPORT_TIMESHEET'].REQUESTOTHOUR10 }}</td>
                        <td ng-repeat="day in document.dayTemplate" ng-class="day.IsDayOff || day.IsHoliday ? 'holiday' : 'normalday'">
                            <span ng-repeat="ot in document.dailyOTList | filter:{BeginDate:day.Day_Date}" ng-show="ot.RequestOTHour10 > 0">{{ RequestOTHour10(ot.RequestOTHour10) | number : 1 }}</span>
                        </td>
                        <th>{{ SumOT10() | number : 1 }}</th>
                    </tr>
                    <tr>
                        <td>{{ Text['TMREPORT_TIMESHEET'].REQUESTOTHOUR30 }}</td>
                        <td ng-repeat="day in document.dayTemplate" ng-class="day.IsDayOff || day.IsHoliday ? 'holiday' : 'normalday'">
                            <span ng-repeat="ot in document.dailyOTList | filter:{BeginDate:day.Day_Date}" ng-show="ot.RequestOTHour30 > 0">{{ RequestOTHour30(ot.RequestOTHour30) | number : 1 }}</span>
                        </td>
                        <th>{{ SumOT30() | number : 1 }}</th>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="itemtable-highlight">
                        <td>{{ Text[Textcategory].SUMMARY }}</td>
                        <td ng-repeat="day in document.dayTemplate" ng-class="day.IsDayOff || day.IsHoliday ? 'holiday' : 'normalday'">
                            {{ SumOTByDate(day.Day_Date) | number:1 }}
                        </td>
                        <td>{{ SumRequestOTHour() | number : 1 }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- detail_item-tableBlock -->
    </div>
    <!-- timedetail_item -->
    <!-- Pet End -->

</div>
