﻿<!--<div class="item-btn action_btn">
    <div class="itemin_btn btn-big btn-accept {{action.ColorClass}}" ng-repeat="action in (document.RequestActionList | filter:{IsVisible:true})" ng-click="setCurentButtonTxt(action.ActionText);doRequestAction(action.URL);">
        <span class="{{action.IconClass}}"></span>
        <p style="font-size: 18px; line-height: 20px;">{{action.ActionText}}</p>
        <md-tooltip class="em-font-15">
            {{action.ActionText}}{{Text['SYSTEM']['document']}}
        </md-tooltip>
    </div>
    <div class="clearfix"></div>

</div>-->

<div class="free-space-4rem"></div>
<div class="floting-set-button">
    <div class="floting-action itemin_btn btn-big btn-accept {{action.ColorClass}}" ng-repeat="action in (document.RequestActionList | filter:{IsVisible:true})" ng-click="setCurentButtonTxt(action.ActionText);doRequestAction(action.URL);">
        <!--<span class="{{action.IconClass}}"></span>-->
        <p >{{action.ActionText}}</p>
        <md-tooltip class="em-font-15">
            {{action.ActionText}}{{Text['SYSTEM']['document']}}  
        </md-tooltip>
    </div>
</div>

<style>
    .btn-accept {
        margin-left:0.5rem;
    }
        .btn-accept.-tab-blue {
                background: #49de9c;
        }
        .btn-accept p{
            font-size: 18px; line-height: 21px;
        }
    .floting-set-button{
        position: fixed;
        top: 7px;
        right: 7px;
        z-index: 8;
        display: flex;
    }
    .free-space-4rem {
        margin-top:4rem;
    }
    .floting-action {
        width: 80px;
        height: 50px;
        z-index: 7;
        text-align: center;
        line-height: 50px;
        color: white;
        border-radius: 5px;
    }
    .mainBlock .contentHead {
        position: fixed;
        width: 100%;
    }
    @media only screen and (max-width: 992px) {
        /*.row.bar_title {
            display:none;
        }*/
      
        
    }
      @media only screen and (max-width: 720px) {
        .floting-action {
            width: 50px;
            height: 35px;
        }
        .btn-accept p {
            font-size: 13px;
            line-height: 12px;
        }
        .floting-set-button {
            top: 61px;
            padding: 1rem 0.5rem 0.5rem 0.5rem;
            right: 0;
            border-radius: 5px;
            z-index: 1;
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
            background: white;
        }
    }


</style>
