﻿<div class="padding-breadcrumb  TravelExManPage" ng-init="LoadResponseLogPost();LoadResponseLogManual();">
    <!--ng-if="data.PostLog > 0"-->
    <div class="body_content" ng-if="PostLog.length > 0">
        <div class="bar_expandlist">
            <div class="row contentBody forheight leaveBlock_detail">
                <div class="bar_expand-status accordion-toggle" data-toggle="collapse2" data-parent="#accordion" href="#collapsPostLog" ng-init="expanded = false;" ng-click="expanded =!expanded" style="background-color: #ff8d60 !important;">

                    <div class="bar_statusword">
                        {{Text['SYSTEM'].ResponseTitle }}
                    </div>
                    <div class="bar_right-icon">
                        <span class="icon-arrow_line_down" ng-show="expanded"></span>
                        <span class="icon-arrow_line_up" ng-show="!expanded"></span>
                    </div>

                </div>
                <div class=" panel-collapse collapse in" style="background:white; overflow-y:hidden;">
                    <div class="row itemlist_block" style=" padding: 10px 10px 5px 10px !important;">
                        <div class="col-md-12 col-sm-12 -txt-bold travelExBlock forscroll-x " style="padding: 0 15px 15px 15px;  ">
                            <div data-ng-repeat="master in PostLog">
                                <div class="row">
                                    <div class="col-md-11" style="padding-left:0px;">
                                        <div class="bar_left bar_left_single_line">
                                            <div class="bar_left-title" style="color: #289efe; ">
                                                {{ master.ResponseType }} &emsp; {{ master.CreatedDate | date:'yyyy-MM-dd HH:mm:ss' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- desktop version new model-->
                                <div class="traveltableBlock -desk_md-only" style=" margin-top: 10px;">
                                    <div class="row itemlist" style="padding: 0px 10px; 0px 10px">
                                        <div class="col-sm-12" style="overflow-x: scroll; padding:0;">
                                            <table class="table table-bordered travelEx_tablesec02" style="table-layout: auto;">
                                                <thead>
                                                    <tr>
                                                        <td class="-settxt-center">{{Text['SYSTEM'].DetailID}}</td>
                                                        <td class="-settxt-center">{{Text['SYSTEM'].TxNo}}</td>
                                                        <td class="-settxt-center">{{Text['SYSTEM'].PostDocID}}</td>
                                                        <td class="-settxt-center">{{Text['SYSTEM'].ReverseDocID}}</td>
                                                        <td class="-settxt-center">{{Text['SYSTEM'].Message}}</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="detail in master.ResponseLogDetail">
                                                        <td class="-settxt-center">{{detail.DetailID}}</td>
                                                        <td class="-settxt-center">{{detail.TxNo}}</td>
                                                        <td class="-settxt-center">{{detail.PostDocID}}</td>
                                                        <td class="-settxt-center" ng-if="detail.ReverseDocID!=''">{{detail.ReverseDocID}}</td>
                                                        <td class="-settxt-center" ng-if="detail.ReverseDocID==''">-</td>
                                                        <td class="-settxt-center">{{detail.Message}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <!-- moblie view -->
                                <div class="travelExMan_content-res -xs_sm-only travelEx_tablesec02">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="bar_expandlist" ng-repeat="detail in master.ResponseLogDetail">
                                                <div class="bar_expand-status" style="    height: 35px;">
                                                    <div class="bar_left-icon">
                                                        <div class="dummy"> <span class="icon-arrow_line_down"></span></div>
                                                    </div>
                                                    <div class="bar_statusword">
                                                        <a href="#">{{ detail.Message  }}</a>
                                                    </div>
                                                    <div class="exman-res_icoaction">
                                                    </div>
                                                </div>
                                                <div class="bar_expand-expandDetail ">
                                                    <div class="expandDetail_01">
                                                        <ul class="itemlist_table-res -warp">
                                                            <li>
                                                                <p class="exman-res_titletable">{{ Text['SYSTEM'].DetailID }}</p>
                                                                <p class="exman-res_titletable">{{ detail.DetailID }}</p>
                                                            </li>
                                                            <li>
                                                                <p class="exman-res_titletable">{{ Text['SYSTEM'].TxNo }}</p>
                                                                <p class="exman-res_titletable">{{ detail.TxNo }}</p>
                                                            </li>
                                                            <li>
                                                                <p class="exman-res_titletable">{{ Text['SYSTEM'].PostDocID }}</p>
                                                                <p class="exman-res_titletable">{{ detail.PostDocID }}</p>
                                                            </li>
                                                            <li>
                                                                <p class="exman-res_titletable">{{ Text['SYSTEM'].ReverseDocID }}</p>
                                                                <p class="exman-res_titletable">{{ detail.ReverseDocID }}</p>
                                                            </li>
                                                            <li>
                                                                <p class="exman-res_titletable">{{ Text['SYSTEM'].Message }}</p>
                                                                <p class="exman-res_titletable">{{ detail.Message }}</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br />
                            </div>

                            <!-- Add by Nipon Supap 06-06-2017 เพิ่ม Manual Response Log-->
                            <br />
                            <div class="row bar_title" ng-if="data.PostLog > 0">
                                <div class="col-md-11" style="padding-left:0px;">
                                    <div class="bar_left bar_left_single_line">
                                        <div class="bar_left-title" style="color: #289efe; ">
                                            {{ Text['TRAVELREQUEST'].MANUAL_LOG }} &emsp; {{ master.CreatedDate | date:'yyyy-MM-dd HH:mm:ss' }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="traveltableBlock -desk_md-only" style=" margin-top: 10px;" ng-if="PostLogManual.length > 0">
                                <div class="row itemlist" style="padding: 0px 10px; 0px 10px">
                                    <div class="col-sm-12" style="overflow-x: scroll; padding:0;">
                                        <table class="table table-bordered travelEx_tablesec02" border="1" style="table-layout: auto;">
                                            <thead>
                                                <tr>
                                                    <td class="-settxt-center">{{Text['SYSTEM'].DetailID}}</td>
                                                    <td class="-settxt-center">{{Text['TRAVELREQUEST'].MANUAL_LOGDATE}}</td>
                                                    <td class="-settxt-left">{{Text['SYSTEM'].Message}}</td>
                                                    <td></td>
                                                    <td></td>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="detail in PostLogManual">
                                                    <td class="-settxt-center">{{detail.RowNum}}</td>
                                                    <td class="-settxt-center">{{detail.CreatedDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                                    <td class="-settxt-left" colspan="3">{{detail.Message}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="PostLog.length > 0">
        <div class="body_content" ng-if="employeeData.IsViewPost && isUserRoleAccounting && (document.Additional.ProjectCodeMode == 'AVERAGE' || document.Additional.ProjectCodeMode == 'AVERAGE')">
            <!---->
            <div class="bar_expandlist">
                <div class="row contentBody forheight leaveBlock_detail">
                    <div class="bar_expand-status accordion-toggle" data-toggle="collapse2" data-parent="#accordion" href="#collapsPostLog" ng-init="expanded = false;" ng-click="expanded =!expanded">
                        <div class="bar_statusword">
                            {{Text['SYSTEM'].ResponseTitle }}
                        </div>
                        <div class="bar_right-icon">
                            <span class="icon-arrow_line_down" ng-show="expanded"></span>
                            <span class="icon-arrow_line_up" ng-show="!expanded"></span>
                        </div>

                    </div>
                    <div class=" panel-collapse collapse in" style="background:white; overflow-y:hidden;">
                        <div class="row itemlist_block" style=" padding: 10px 10px 5px 10px !important;">
                            <div class="col-md-12 col-sm-12 -txt-bold travelExBlock forscroll-x " style="padding: 0 15px 15px 15px;  ">
                                <div class="row bar_title" ng-if="data.PostLog > 0">

                                    <!-- desktop version new model-->
                                    <div class="traveltableBlock -desk_md-only" style=" margin-top: 10px;">
                                        <div class="row itemlist" style="padding: 0px 10px; 0px 10px">
                                            <div class="col-sm-12" style="overflow-x: scroll; padding:0;">
                                                <table class="table table-bordered travelEx_tablesec02" style="table-layout: auto;">
                                                    <thead>
                                                        <tr>
                                                            <td class="-settxt-center">{{Text['SYSTEM'].DetailID}}</td>
                                                            <td class="-settxt-center">{{Text['SYSTEM'].TxNo}}</td>
                                                            <td class="-settxt-center">{{Text['SYSTEM'].PostDocID}}</td>
                                                            <td class="-settxt-center">{{Text['SYSTEM'].ReverseDocID}}</td>
                                                            <td class="-settxt-center">{{Text['SYSTEM'].Message}}</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="detail in master.ResponseLogDetail">
                                                            <td class="-settxt-center">{{detail.DetailID}}</td>
                                                            <td class="-settxt-center">{{detail.TxNo}}</td>
                                                            <td class="-settxt-center">{{detail.PostDocID}}</td>
                                                            <td class="-settxt-center" ng-if="detail.ReverseDocID!=''">{{detail.ReverseDocID}}</td>
                                                            <td class="-settxt-center" ng-if="detail.ReverseDocID==''">-</td>
                                                            <td class="-settxt-center">{{detail.Message}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- moblie view -->
                                    <div class="travelExMan_content-res -xs_sm-only travelEx_tablesec02">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="bar_expandlist" ng-repeat="detail in master.ResponseLogDetail">
                                                    <div class="bar_expand-status" style="    height: 35px;">
                                                        <div class="bar_left-icon">
                                                            <div class="dummy"> <span class="icon-arrow_line_down"></span></div>
                                                        </div>
                                                        <div class="bar_statusword">
                                                            <a href="#">{{ detail.Message }}</a>
                                                        </div>
                                                        <div class="exman-res_icoaction">
                                                        </div>
                                                    </div>
                                                    <div class="bar_expand-expandDetail ">
                                                        <div class="expandDetail_01">
                                                            <ul class="itemlist_table-res -warp">
                                                                <li>
                                                                    <p class="exman-res_titletable">{{ Text['SYSTEM'].DetailID }}</p>
                                                                    <p class="exman-res_titletable">{{ detail.DetailID }}</p>
                                                                </li>
                                                                <li>
                                                                    <p class="exman-res_titletable">{{ Text['SYSTEM'].TxNo }}</p>
                                                                    <p class="exman-res_titletable">{{ detail.TxNo }}</p>
                                                                </li>
                                                                <li>
                                                                    <p class="exman-res_titletable">{{ Text['SYSTEM'].PostDocID }}</p>
                                                                    <p class="exman-res_titletable">{{ detail.PostDocID }}</p>
                                                                </li>
                                                                <li>
                                                                    <p class="exman-res_titletable">{{ Text['SYSTEM'].ReverseDocID }}</p>
                                                                    <p class="exman-res_titletable">{{ detail.ReverseDocID }}</p>
                                                                </li>
                                                                <li>
                                                                    <p class="exman-res_titletable">{{ Text['SYSTEM'].Message }}</p>
                                                                    <p class="exman-res_titletable">{{ detail.Message }}</p>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Add by Nipon Supap 06-06-2017 เพิ่ม Manual Response Log-->
                                <br />
                                <div class="row bar_title" ng-if="employeeData.IsViewPost && isUserRoleAccounting && (document.Additional.ProjectCodeMode == 'AVERAGE' || document.Additional.ProjectCodeMode == 'AVERAGE') ">
                                    <!---->
                                    <div class="col-md-11" style="padding-left:0px;">
                                        <div class="bar_left bar_left_single_line">
                                            <div class="bar_left-title" style="color: #289efe; ">
                                                {{ Text['TRAVELREQUEST'].MANUAL_LOG }} &emsp; {{ master.CreatedDate | date:'yyyy-MM-dd HH:mm:ss' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="traveltableBlock -desk_md-only" style=" margin-top: 10px;" ng-if="PostLogManual.length > 0">
                                    <div class="row itemlist" style="padding: 0px 10px; 0px 10px">
                                        <div class="col-sm-12" style="overflow-x: scroll; padding:0;">
                                            <table class="table table-bordered travelEx_tablesec02" border="1" style="table-layout: auto;">
                                                <thead>
                                                    <tr>
                                                        <td class="-settxt-center">{{Text['SYSTEM'].DetailID}}</td>
                                                        <td class="-settxt-center">{{Text['TRAVELREQUEST'].MANUAL_LOGDATE}}</td>
                                                        <td class="-settxt-left">{{Text['SYSTEM'].Message}}</td>
                                                        <td></td>
                                                        <td></td>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="detail in PostLogManual">
                                                        <td class="-settxt-center">{{detail.RowNum}}</td>
                                                        <td class="-settxt-center">{{detail.CreatedDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                                        <td class="-settxt-left" colspan="3">{{detail.Message}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- action -->

</div>