﻿<!-- action -->
<div class="row body_content forheight leaveBlock_detail box-shadow">
    <div class="bar_expandlist accordion-toggle" style="cursor:auto" data-toggle="collapse2" data-parent="#accordion" href="#collaps_document_attachment_manager" ng-init="expanded_document_attachment_manager = false;" ng-click="expanded_document_attachment_manage =!expanded_document_attachment_manage">
        <div class="row bar_expand-status">
            <div class="bar_statusword"  >
               {{Text['SYSTEM']['ATTACHMENT']}} <span style="font-size: 20px;" ng-show="document.FileSet.Attachments && document.FileSet.Attachments.length > 0">({{ (document.FileSet.Attachments | filter:{IsDelete: false}).length }})</span>
            </div>
            <div class="bar_right-icon" style="cursor:pointer">
                <span class="fal fa-chevron-down" ng-show="expanded_document_attachment_manage"></span>
                <span class="fal fa-chevron-up" ng-show="!expanded_document_attachment_manage"></span>
            </div>
        </div>
    </div>
    <div class="panel-collapse collapse in " style="background:white;border-radius: 0 0 12px 12px">
        <!--content start-->

        <div class="itemlist">
            <div class="row itemlist_block">
                <div class="col-sm-12">
                    <div class="itemlist" style="margin-bottom: 10px;">
                        <div class="row">
                            <div class="col-lg-6 p-0">
                                <p>{{Text['SYSTEM']['EXPENSE_RECEIPT_FILE']}}</p>
                                <div ng-if="isEditor" class="document-attachment expense-attachment">
                                    <div class="panel panel-default">
                                        <div class="panel-body document-heading-description" style="word-wrap: break-word;">
                                            <div ng-repeat="attachment in document.FileSet.Attachments" style="line-height:40px">
                                                <div ng-if="!attachment.IsDelete && attachment.FileID > -1">
                                                    <a style="cursor:pointer;" ng-click="getFileAttach(document.FileSetID, attachment.FileID)"><span style="font-size: 20px;" class="fal fa-paperclip"></span> {{$index + 1}}. {{attachment.FileName}}</a>
                                                    <span ng-click="deleteFileAttach($index)" class="fa-2x fal fa-trash-alt pull-right -txt-red" style="margin-top:10px;font-size:15px;cursor:pointer;"></span>
                                                </div>
                                                <div ng-if="attachment.IsDelete && attachment.FileID > -1">
                                                    <span style="text-decoration:line-through;"><span style="font-size: 20px;" class="fal fa-paperclip"></span> {{$index + 1}}. {{attachment.FileName}}</span>
                                                    <span ng-click="recoveryFileAttach($index)" class="fa-2x fal fa-undo pull-right -txt-green" style="margin-top:10px;font-size:15px;cursor:pointer;"></span>
                                                </div>
                                                <div ng-if="!attachment.IsDelete && attachment.FileID == -1">
                                                    <span><span style="font-size: 20px;" class="fal fa-paperclip"></span> {{$index + 1}}. {{attachment.FileName}}</span>
                                                    <span ng-click="deleteFileAttach($index)" class="fa-2x fal fa-trash-alt pull-right -txt-red" style="margin-top:10px;font-size:15px;cursor:pointer;"></span>
                                                </div>
                                            </div>
                                            <div ng-if="!document.FileSet.Attachments || document.FileSet.Attachments.length == 0" style="line-height:30px">
                                                {{Text['SYSTEM']['NOATTACHMENT']}}
                                            </div>
                                            <div class="clearfix"></div>

                                        </div>
                                    </div>
                                </div>
                                <div class="input-group" style="position:relative;">
                                    <input id="attachefile_manager" style="   position: absolute;width: 100%;height: 100%;z-index: 3;opacity: 0;" id="document-attachment-file-input" type="file" ng-model="formInput.file" on-after-validate="onAfterValidateFunc" base-sixty-four-input>
                                    <input style=" background:white;" type="text" readonly="" class="form-control " id="" placeholder="">
                                    <span class="input-group-addon"><span class="fal fa-upload -txt-blue"></span></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div style="margin-top: 5px;">
                                    <span class="ps_red" for="" ng-bind-html="Text['SYSTEM']['FILE_LIMIT']"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div ng-if="!isEditor" class="document-attachment expense-attachment">
                        <div class="panel panel-default">
                            <div class="panel-body document-heading-description" style="word-wrap: break-word;">
                                <div ng-repeat="attachment in document.FileSet.Attachments" style="line-height:40px">
                                    <a style="cursor:pointer" ng-click="getFileAttach(attachment)">{{$index + 1}}. {{attachment.FileName}}</a>
                                </div>
                                <div ng-if="!document.FileSet.Attachments || document.FileSet.Attachments.length == 0" style="line-height:30px">
                                    {{Text['SYSTEM']['NOATTACHMENT']}}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--content end-->
    </div>
</div>