﻿<div class="document-attachment">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{Text['SYSTEM']['ATTACHMENT']}}
        </div>
        <div class="panel-body document-heading-description" style="word-wrap: break-word;">
            <div ng-repeat="attachment in document.FileSet.Attachments" style="line-height:30px">
                <a style="cursor:pointer" ng-click="getFileAttach(document.FileSetID, attachment.FileID)" ng-if="attachment.FilePath == null">{{$index + 1}}. {{attachment.FileName}}</a>
                <a style="cursor:pointer" ng-click="getFileFromPath(attachment)" ng-if="attachment.FilePath != null">{{$index + 1}}. {{attachment.FileName}}</a>
            </div>
            <div ng-if="document.FileSet.Attachments.length == 0" style="line-height:30px">
                {{Text['SYSTEM']['NOATTACHMENT']}}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>