﻿<!-- itemlist_block -->

<style>
    .item-flow {
        height: 60px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: solid 2px #133a49;
        font-size: 18px;
    }
        .item-flow.active-bar {
            background: #cfe3f9;
        }
        .item-flow .image-item {
            background: #a3c4ea;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 1rem;
            color: white;
        }
        .item-flow.active-bar .image-item {
            background-color: #326477;
        }

    @media only screen and (max-width: 764px) {
        .item-flow {
            height: 120px;
            font-size: 18px;
        }
            .item-flow .item-detail {
                width:100%;
            }
    }
</style>
<div class="item-flow ag-flex-row ag-align-center ag-xs-flex-column ag-xs-align-start" ng-repeat="flow in flowCurrent(document.RequestFlowList)" ng-class="flow.IsCurrentItem ? 'active-bar' : ''" >
    <div class=" ag-flex-row ag-align-center" style="margin-right:1rem;">
        <div class="image-item ag-flex-column ag-align-center ag-justify-center">
            <i class="fal fa-check" ng-if="flow.STATUS_FLOW_ITEM==0"></i>
            <i class="fal fa-user-clock" ng-if="flow.STATUS_FLOW_ITEM==1"></i>
            <i class="fal fa-alarm-clock" ng-if="flow.STATUS_FLOW_ITEM==2"></i>
            <i class="fal fa-flag-checkered" ng-if="flow.STATUS_FLOW_ITEM==3"></i>
        </div>
        <b style="cursor:default; color:#2c6ead;">{{Text['STATUS'][flow.ActionCode]}}</b>
    </div>

    <div class="ag-flex-row ag-align-center ag-xs-flex-column item-detail">
        <div ng-if="flow.Receipient" style="margin-right:1rem;">
            {{flow.Receipient}}
            <div ng-if="flow.Receipient != flow.ActionBy"><span style="color:red;">({{flow.ActionBy}} {{Text['SYSTEM']['PREDELEGATE']}}{{Text['STATUS'][flow.ActionCode]}}{{Text['SYSTEM']['DELEGATE']}})</span></div>
        </div>
        <div ng-if="!flow.Receipient" style="margin-right:1rem;" ng-bind-html="flow.ActionBy | nl2textp"></div>
        <span ng-if="flow.ActionByPosition">{{flow.ActionByPosition}}</span>
        <span ng-if="(flow.ActionDate | date:'dd/MM/yyyy') > (MinDate | date:'dd/MM/yyyy')" style="margin-left:1rem;">{{flow.ActionDate | date:"dd/MM/yyyy HH:mm:ss"}}</span>
    </div>
    
</div>



<!--<div class="bar_bottom" ng-if="document.RequestFlowList">
    <div class="bar_bottom-expandlist document-flow-all">
        <div class="bar_bottomlist" ng-repeat="flow in document.RequestFlowList">
            <div ng-class="flow.IsCurrentItem ? 'bar_bottom-status active-bar' : 'bar_bottom-status'">
                <div ng-if="!$last" class="bar_left-icon">
                    <div class="dummy"> <span class="icon-arrow_line_down"></span></div>
                </div>
                <div ng-if="$last" class="bar_left-icon" style="display:none;">
                    <div class="dummy"> <span class="icon-arrow_line_down"></span></div>
                </div>
                <div class="bar_statusword" ng-if="!flow.IsCurrentItem">
                    <span style="cursor:default;"><span class="icon-check_large"></span>{{Text['STATUS'][flow.ActionCode]}}</span>
                </div>

                <div class="bar_statusword" ng-if="flow.IsCurrentItem">
                    <div ng-if="flow.OptionalStatus == 'NULL'"><span style="cursor:default;"><span class="icon-check_large"></span>{{Text['STATUS'][flow.ActionCode]}}</span></div>
                    <div ng-if="flow.OptionalStatus != 'NULL'"><span style="cursor:default;"><span class="icon-check_large"></span>{{Text['STATUS'][flow.ActionCode]}} ({{Text['PDMS_STATUS'][flow.OptionalStatus]}})</span></div>
                </div>
                <div ng-if="$last" ng-class="$last ? 'bar_right-icon visible' : 'bar_right-icon'">
                    <div class="dummy rotate180"> <span class="icon-arrow_tail_down"></span></div>
                </div>
            </div>
            <div ng-class="flow.IsCurrentItem ? 'bar_bottom-expandDetail active-bar' : 'bar_bottom-expandDetail'">
                <div class="row">
                    <div class="col-md-10 col-sm-10 col-xs-12 -col_centered">
                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-5">
                                <span class="span_name">
                                    {{Text['SYSTEM']['ACTIONBY']}}
                                </span>
                            </div>
                            <div class="col-lg-10 col-md-9 col-sm-10 col-xs-7">
                                <div ng-if="flow.Receipient">{{flow.Receipient}}
                                    <div ng-if="flow.Receipient != flow.ActionBy"><span style="color:red;">({{flow.ActionBy}} : {{flow.ActionByPositionName}} {{Text['SYSTEM']['PREDELEGATE']}}{{Text['STATUS'][flow.ActionCode]}}{{Text['SYSTEM']['DELEGATE']}})</span></div>
                                </div>
                                <div ng-if="!flow.Receipient">{{flow.ActionBy}}</div>
                             
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-5">
                                <span class="span_name">
                                    {{Text['SYSTEM']['ACTIONPOSITION']}}
                                </span>
                            </div>
                            <div class="col-lg-10 col-md-9 col-sm-10 col-xs-7">
                                {{flow.ActionByPosition}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-5">
                                <span class="span_name">
                                    {{Text['SYSTEM']['ACTIONDATE']}}
                                </span>
                            </div>
                            <div class="col-lg-10 col-md-9 col-sm-10 col-xs-7">
                                <div ng-if="flow.ActionDate != '0001-01-01T00:00:00'"><span class="icon-calendar spanicon "></span>  {{flow.ActionDate | date:'d/M/yyyy H:mm'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-repeat="flow in document.RequestFlowList">
        <div class="bar_bottomlist document-flow-last" ng-if="flow.IsCurrentItem">
            <div class="bar_bottom-status">
                
                <div class="bar_left-icon" ng-hide="$last">
                    <div class="dummy"> <span class="icon-arrow_line_down"></span></div>
                </div>
                <div class="bar_statusword">

                    <div ng-if="flow.OptionalStatus == 'NULL'"><span style="cursor:default;"><span class="icon-check_large"></span>{{Text['STATUS'][flow.ActionCode]}}</span></div>
                    <div ng-if="flow.OptionalStatus != 'NULL'"><span style="cursor:default;"><span class="icon-check_large"></span>{{Text['STATUS'][flow.ActionCode]}} ({{Text['PDMS_STATUS'][flow.OptionalStatus]}})</span></div>

                </div>
                <div class="bar_right-icon">
                    <div class="dummy"> <span class="icon-arrow_tail_down"></span></div>
                </div>
            </div>
            <div class="bar_bottom-expandDetail active-bar-last" ng-hide="$last">
                <div class="row">
                    <div class="col-md-10 col-sm-10 col-xs-12 -col_centered">
                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-5">
                                <span class="span_name">
                                    {{Text['SYSTEM']['ACTIONBY']}}
                                </span>
                            </div>
                            <div class="col-lg-10 col-md-9 col-sm-10 col-xs-7">{{flow.ActionBy}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-5">
                                <span class="span_name">
                                    {{Text['SYSTEM']['ACTIONPOSITION']}}
                                </span>
                            </div>
                            <div class="col-lg-10 col-md-9 col-sm-10 col-xs-7">{{flow.ActionByPosition}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-5">
                                <span class="span_name">
                                    {{Text['SYSTEM']['ACTIONDATE']}}
                                </span>
                            </div>
                            <div class="col-lg-10 col-md-9 col-sm-10 col-xs-7">
                                <div ng-if="flow.ActionDate != '0001-01-01T00:00:00'"><span class="icon-calendar spanicon "></span>  {{flow.ActionDate | date:'d/M/yyyy H:mm'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<div class="-pad10"></div>