﻿<div class="padding-breadcrumb  TravelExManPage" ng-init="LoadFBCJResponseLogPost();">
    <!--ng-if="data.PostLog > 0"-->
    <div class="body_content" ng-if="FBCJPostLog">
        <div class="bar_expandlist">
            <div class="row contentBody forheight leaveBlock_detail">
                <div class="bar_expand-status accordion-toggle" data-toggle="collapse2" data-parent="#accordion" href="#collapsPostLog" ng-init="expanded = false;" ng-click="expanded =!expanded">
                    <div class="bar_statusword">
                        {{Text['SYSTEM'].ResponseTitle }}
                    </div>
                    <div class="bar_right-icon">
                        <span class="icon-arrow_line_down" ng-show="expanded"></span>
                        <span class="icon-arrow_line_up" ng-show="!expanded"></span>
                    </div>
                </div>
                <div class=" panel-collapse collapse in" style="background:white; overflow-y:hidden;">
                    <div class="row itemlist_block" style=" padding: 10px 10px 5px 10px !important;">
                        <div class="col-md-12 col-sm-12 -txt-bold travelExBlock forscroll-x " style="padding: 0 15px 15px 15px;  ">
                            <div data-ng-repeat="(name,master) in FBCJPostLog">
                                <div class="row bar_title">
                                    <div class="col-md-11" style="padding-left:0px;">
                                        <div class="bar_left bar_left_single_line">
                                            <div class="bar_left-title" style="color: #289efe; ">
                                                {{ name }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- desktop version new model-->
                                <div class="traveltableBlock -desk_md-only" style=" margin-top: 10px;">
                                    <div class="row itemlist" style="padding: 0px 10px; 0px 10px">
                                        <div class="col-sm-12" style="overflow-x: scroll; padding:0;">
                                            <table class="table table-bordered travelEx_tablesec02" style="table-layout: auto;">
                                                <thead>
                                                    <tr>
                                                        <td class="-settxt-center">{{Text['SYSTEM'].TxNo}}</td>
                                                        <td class="-settxt-center">{{Text['SYSTEM'].PostDocID}}</td>
                                                        <td class="-settxt-center">{{Text['SYSTEM'].ReturnDocNo}}</td>
                                                        <td class="-settxt-center">{{Text['SYSTEM'].ReverseDocID}}</td>
                                                        <td class="-settxt-center">{{Text['SYSTEM'].Message}}</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="detail in master">
                                                        <td class="-settxt-center">{{detail.TransactionNo}}</td>
                                                        <td class="-settxt-center">{{detail.InternalDocNo}}</td>
                                                        <td class="-settxt-center">{{detail.ReturnDocNo}}</td>
                                                        <td class="-settxt-center" ng-if="detail.ReverseDocNo!=''">{{detail.ReverseDocNo}}</td>
                                                        <td class="-settxt-center" ng-if="detail.ReverseDocNo==''">-</td>
                                                        <td class="-settxt-left">{{detail.Message}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <!-- moblie view -->
                                <div class="travelExMan_content-res -xs_sm-only travelEx_tablesec02">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="bar_expandlist" ng-repeat="detail in master">
                                                <div class="bar_expand-status" style="    height: 35px;">
                                                    <div class="bar_left-icon">
                                                        <div class="dummy"> <span class="icon-arrow_line_down"></span></div>
                                                    </div>
                                                    <div class="bar_statusword">
                                                        <a href="#">{{ detail.TransactionNo }}  : {{ detail.InternalDocNo  }}</a>
                                                    </div>
                                                    <div class="exman-res_icoaction">
                                                    </div>
                                                </div>
                                                <div class="bar_expand-expandDetail ">
                                                    <div class="expandDetail_01">
                                                        <ul class="itemlist_table-res -warp">
                                                            <li>
                                                                <p class="exman-res_titletable">{{ Text['SYSTEM'].TxNo }}</p>
                                                                <p class="exman-res_titletable">{{ detail.TransactionNo }}</p>
                                                            </li>
                                                            <li>
                                                                <p class="exman-res_titletable">{{ Text['SYSTEM'].PostDocID }}</p>
                                                                <p class="exman-res_titletable">{{ detail.InternalDocNo }}</p>
                                                            </li>
                                                            <li>
                                                                <p class="exman-res_titletable">{{ Text['SYSTEM'].ReturnDocNo }}</p>
                                                                <p class="exman-res_titletable">{{ detail.ReturnDocNo }}</p>
                                                            </li>
                                                            <li>
                                                                <p class="exman-res_titletable">{{ Text['SYSTEM'].ReverseDocNo }}</p>
                                                                <p class="exman-res_titletable">{{ detail.ReverseDocNo }}</p>
                                                            </li>
                                                            <li>
                                                                <p class="exman-res_titletable">{{ Text['SYSTEM'].Message }}</p>
                                                                <p class="exman-res_titletable -settxt-left">{{ detail.Message }}</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>