﻿<div style=" margin-top: 20px; "></div>
<div id="reasone_main_request" class="document-notice comment-box" ng-show="(document.RequestActionList | filter:{IsVisible:true}).length > 0">
    <div class="bar_bottom_reasone" style="font-size:20px;">{{Text['SYSTEM']['reason_']}}</div>
    <div class="alert" role="alert">
        <div>
            <textarea rows="4" style="width: 100%; resize: none; padding: 10px; border: 1px solid;" ng-model="document.Comment"></textarea>
        </div>
        <div class="clearfix"></div>
    </div>
    <md-tooltip class="em-font-15" md-direction="top">
        {{Text['SYSTEM']['reason_commend_']}}
    </md-tooltip>
</div>

<div class="fyi_expand" ng-if="document.RequestCommentList" ng-show="templateControl.isRequestViewerController">
    <div class=" row leavedetail_item fyi_inexpand" ng-repeat="comment in document.RequestCommentList" ng-if="$index < document.RequestCommentList.length-1">
        <div class="col-sm-11 -col_centered detail_item-fyi fyinote -bg-lightred grayscale">
            <div class="row">
                <div class="col-md-1 col-xs-1 -pad0">
                    <span class="icon-pin spanicon"></span>
                </div>
                <div class="col-md-11 col-xs-9">
                    <span class="itemfyi-des">
                        {{comment.CommentbyEmployeeName}}
                    </span>
                    <span class="itemfyi-des"><span class="icon-calendar spanicon -txt-gray"></span> {{comment.CommentDate | date:'d/M/yyyy'}}</span>
                    <span class="itemfyi-des">
                        <i class="glyphicon glyphicon-calendar fa fa-clock-o">
                        </i> {{comment.CommentDate | date:'HH:mm'}}
                    </span>
                    <p class="itemfyi-des -txt-gray">
                        {{comment.CommentText }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row leavedetail_item" ng-if="document.RequestCommentList[document.RequestCommentList.length-1]" ng-show="templateControl.isRequestViewerController">
    <div class="col-sm-11 -col_centered detail_item-fyi fyinote -bg-lightred">
        <div class="row">
            <div class="col-md-1 col-xs-1 -pad0">
                <span class="icon-pin spanicon -txt-org"></span>
            </div>
            <div class="col-md-11 col-xs-9">
                <span class="itemfyi-des">
                    {{document.RequestCommentList[document.RequestCommentList.length-1].CommentbyEmployeeName}}
                </span>
                <span class="itemfyi-des"><span class="icon-calendar spanicon -txt-org"></span> {{document.RequestCommentList[document.RequestCommentList.length-1].CommentDate | date:'d/M/yyyy'}}</span>
                <span class="itemfyi-des">
                    <i class="glyphicon glyphicon-calendar fa fa-clock-o">
                    </i> {{document.RequestCommentList[document.RequestCommentList.length-1].CommentDate | date:'HH:mm'}}
                </span>
                <p class="itemfyi-des -txt-gray">
                    {{document.RequestCommentList[document.RequestCommentList.length-1].CommentText}}
                </p>
            </div>
        </div>
        <div class=" itemfyi-icon icodown rotate180" ng-if="document.RequestCommentList.length > 1" style="top: 0; width: 37px; height: 37px; right: 0px !important; "><span class="icon-arrow_tail_down"></span></div>
    </div>
    
</div>


<style>
    .comment-box {
        transition: 2s;
        webkit-transition:  2s;
    }
    .comment-box.popup {
        position: fixed;
        z-index: 10;
        width: 100%;
        max-width: 800px;
    }

</style>


