﻿<div class="row leavedetail_item" >
    <div class="row">
        <div class="col-sm-6">
            <div class="row mb-1">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <span class="span_name detail_item-name">{{Text['REQUESTHEADER']['REQUESTOR']}}</span> <!--ผู้ขอ-->
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <span class="detail_item-des em-font"><span class="-txt-org em-font">{{document.RequestorNo}}</span> {{document.RequestorName}}</span>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <span class="span_name detail_item-name">{{Text['REQUESTHEADER']['CREATOR']}}</span> <!--สร้างโดย-->
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <span class="detail_item-des em-font"><span class="-txt-org em-font">{{document.CreatorNo}}</span> {{document.CreatorName}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <span class="span_name detail_item-name">{{Text['REQUESTHEADER']['REQUESTTYPE']}}</span> <!--ประเภทคำขอ-->
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <span class="detail_item-des -txt-blue em-font">{{document.RequestTypeSummary}}</span>
                </div>
            </div>


        </div>
        <div class="col-sm-6">
            <div class="row mb-1">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <span class="span_name detail_item-name">{{Text['REQUESTHEADER']['CREATEDDATE']}}</span> <!--วันที่สร้าง-->
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 em-font" style="display: table-cell; vertical-align: middle;">
                    <i class="icon-calendar " style=" color: #CBCBCB; font-size: 18px; "></i> {{document.CreatedDate | date:'d/M/yyyy H:mm'}} {{Text['SYSTEM']['TIME_O']}}
                </div>
            </div>
            <div class="row mb-1" ng-hide="isViewResult">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <span class="span_name detail_item-name">{{Text['REQUESTHEADER']['STATUS']}}</span> <!--สถานะ-->
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" ng-if="(document.IsCancelled == true && document.IsCompleted == true)  || (document.IsCancelled == false && document.IsCompleted == true) || document.CurrentFlowItemCode == 'POSTED'">
                    <span class="detail_item-des -txt-green em-font"><i class="icon-check_small -txt-green" aria-hidden="true"></i> {{document.Status}}</span>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" ng-if="(document.IsCancelled == true && document.IsCompleted == false) ">
                    <span class="detail_item-des -txt-green em-font" style=" color: #fe4343 !important;"><i class="fa fa-times" aria-hidden="true" style=" color: #fe4343 !important;"></i>{{document.Status}}</span>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" ng-if="(document.IsCancelled == false && document.IsCompleted == false && document.CurrentFlowItemCode != 'POSTED') ">
                    <span class="detail_item-des -txt-green em-font" style="color: #e15f00 !important;"><i class="fa fa-clock-o " aria-hidden="true" style="color: #e15f00 !important;"></i> {{document.Status}}</span>
                </div>
            </div>
        </div>
    </div>
</div>