﻿<!-- footer -->
<nav class="navbar navbar-default navbar-fixed-bottom collapse nnbbrr" id="navbar-footer">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="row">
                <div class="col-xs-4">
                    <div class="navbar-left-fixed">
                        <span class="glyphicon glyphicon-question-sign"></span> Manual
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="navbar-center-fixed">
                        <a href="#/Setting" onclick="closeMenu()"><span>Setting</span></a>                     
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="navbar-right-fixed" onclick="logout()">
                        <span class="glyphicon glyphicon-off"></span> Log Out
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>