﻿<!-- heading -->
<div class="nav-profileBar" ng-controller="BarProfileController" style="overflow: initial">
    <div class="ag-flex-row  nav-profileBar-content">
        <div class="-res-only" id="PopupDelete">
            <ul>
                <li class="profilebar-hamburger ">
                    <a>
                        <div class="hamburger" id="MenuButtonIcon" style=" margin-top: 5px;">
                            <span class="vegetable"></span>
                            <span class="vegetable"></span>
                            <span class="vegetable"></span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="profilebar-logo" style="position: absolute; right: 0px; top: 2px; padding-right: 10px; ">
            <a href="#/frmViewContent/0" id="link-index" onclick="closeMenu()">
                <img class="" ng-src="./images/CompanyLogo/{{profile.CompanyCode}}.jpg" alt="">
            </a>
        </div>

        <div class="logo-container">
            <a href="#/frmViewContent/0">
                <img class="" ng-src="./images/CompanyLogo/{{profile.CompanyCode}}.jpg" alt="">
            </a>
        </div>

        <div id="navBarRight" class="w-100 header-fx-custom">
            <div class="user-profile-content  ag-flex-row ag-small-space" ng-click="navigateTo('/frmViewContent/1')" style="outline:none;">
                <div class="img-profile ag-flex-column ag-align-center ag-justify-center">
                    <div class="cir-img-profile">
                        <img style=" position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; " class="-img_circle -center-y" src="{{getImageProxy(profile.ImageUrl)}}" onerror="this.style.display='none'" onload="this.style.display = 'inherit'">
                    </div>
                </div>
                <div class="flex-column profile-text">
                    <div ng-if="!profile.IsExternalUser" class="ag-flex-column show-pc">
                        <span>{{ profile.EmployeeID }}</span>
                        <div>{{ profile.Name }}</div>
                        <!--<div ng-show="profile.Language == 'TH'" title="{{ settings.PositionTH }}">
                            {{ settings.PositionTH | limitTo:100}}{{settings.PositionTH.length > 100 ? '...' : ''}}
                        </div>
                        <div ng-show="profile.Language == 'EN'" title="{{ settings.PositionEN }}">
                            {{ settings.PositionEN | limitTo:100}}{{settings.PositionEN.length > 100 ? '...' : ''}}
                        </div>-->
                    </div>
                    <div ng-if="profile.IsExternalUser" class="flex-column ">
                        <span style="font-size:17px;">{{ profile.Name }}</span>
                        <div title="{{ settings.PositionTH }}">
                            {{ profile.OrgUnitName | limitTo:100}}{{profile.PositionTH.length > 100 ? '...' : ''}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert-profile-content" style="outline:none;">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 30 30">
                    <path style="fill:#717171;" d="M25.461,18.766l-2.308-2.3V10.808A8.62,8.62,0,0,0,8.871,4.12a8.518,8.518,0,0,0-2.95,6.421v5.927l-2.308,2.3a2.066,2.066,0,0,0-.443,2.259A2.1,2.1,0,0,0,5.1,22.307H9.408v.432a4.9,4.9,0,0,0,5.129,4.645,4.9,4.9,0,0,0,5.129-4.645v-.432h4.308a2.1,2.1,0,0,0,1.93-1.282A2.066,2.066,0,0,0,25.461,18.766ZM17.1,22.738a2.4,2.4,0,0,1-2.564,2.107,2.4,2.4,0,0,1-2.564-2.107v-.432H17.1ZM6.216,19.769l1.513-1.5a2.526,2.526,0,0,0,.756-1.8V10.541a6.13,6.13,0,0,1,6.872-6,6.186,6.186,0,0,1,5.231,6.219v5.712a2.525,2.525,0,0,0,.744,1.8l1.526,1.5Z" transform="translate(0.463 0.308)" />
                </svg>

                <svg height="20" width="20" class="ay-alert-header">
                    <circle cx="10" cy="10" fill="red" r="9" class=""></circle>
                    <text dy=".3em" fill="white" font-family="Arial" font-size="9px" font-style="normal" text-anchor="middle" x="50%" y="50%" dx="0em">{{data_alert}}</text>
                </svg>

                <div class="dropdown-menu alert" role="menu">
                    <div class="item-alert">
                        <a class="d-flex h-card" ng-repeat="item in list_notify" ng-click="NextAnnouncementById(item.AnnouncementId);">
                            <div class="h-img" ng-style="{'background-image':'url(/Uploads/AnnouncementMain/' + item.TextFile +')' }"></div>
                            <div>
                                <p class="item-name">
                                    <span ng-show="profile.Language == 'TH'">{{item.Title_TH}}</span>
                                    <span ng-show="profile.Language == 'EN'">{{item.Title_EN}}</span>
                                </p>
                                <p class="item-time">
                                    {{item.ExpireDate | date:'d/M/y'}}
                                </p>
                            </div>
                            <div ng-show="!item.IsRead" class="pointnews"></div>
                        </a>
                        
                    </div>
                    <div class="h-footer">
                        <a ng-click="NextAnnouncementAll()"><u>{{Text['SYSTEMTEXT']['AllAnnounce']}}</u></a>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="ag-flex-column comany-logo">

        </div>-->
        <!--<div class="profilebar-img -desk-only">
            <div class="profilebar_img" style=" width: 50px; height: 50px; background: #9fc3ff; margin-top: 6px;">
                <div style="position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; text-align: center; padding-top: 7px; " class="-img_circle -center-y">
                    <i class="fa fa-user" style=" color: #4274e0; font-size: 45px;" aria-hidden="true"></i>
                </div>

                <div style=" position: absolute; left: 0; top: 0; z-index: 2; width: 100%; height: 100%;">
                    <img style=" position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; " class="-img_circle -center-y" src="{{getImageProxy(profile.ImageUrl)}}" onerror="this.style.display='none'" onload="this.style.display = 'inherit'">
                </div>
            </div>
        </div>-->
        <!--<div style="width:100%; text-align:center; height:50px;">
            <div style=" margin: 0px 75px 0px 70px;height: 48px;">
                <div class="">
                    <a href="#/frmViewContent/1" class="-txt-blue btn-profile extanding-scale" onclick="closeMenu()" style=" width: 100%;">
                        <div ng-show="!profile.IsExternalUser" class="profilebar_img-small hidden-xs hidden-sm" style="margin-right: 5px; background: #9fc3ff; width: 25px; height: 25px; ">
                            <div style="position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; text-align: center; padding-top: 4px; " class="-img_circle -center-y">
                                <i class="fa fa-user" style=" color: #4274e0; font-size: 20px;" aria-hidden="true"></i>
                            </div>
                            <div style=" position: absolute; left: 0; top: 0; z-index: 2; width: 100%; height: 100%;">
                                <img style=" position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; " class="-img_circle -center-y" src="{{getImageProxy(profile.ImageUrl)}}" onerror="this.style.display='none'" onload="this.style.display = 'inherit'">
                            </div>
                        </div>
                        <div ng-if="!profile.IsExternalUser">
                            <span>{{ profile.EmployeeID }}</span>
                            <div ng-show="profile.Language == 'TH'" title="{{ settings.PositionTH }}" style="white-space: nowrap; line-height: 15px; overflow: hidden; height: 15px; text-overflow: ellipsis; ">
                                {{ settings.PositionTH | limitTo:100}}{{settings.PositionTH.length > 100 ? '...' : ''}}
                            </div>
                            <div ng-show="profile.Language == 'EN'" title="{{ settings.PositionEN }}" style="white-space: nowrap; line-height: 15px; overflow: hidden; height: 15px; text-overflow: ellipsis; ">
                                {{ settings.PositionEN | limitTo:100}}{{settings.PositionEN.length > 100 ? '...' : ''}}
                            </div>
                        </div>
                        <div ng-if="profile.IsExternalUser" style="line-height: 24px; ">
                            <span style="font-size:17px;">{{ profile.Name }}</span>
                            <div title="{{ settings.PositionTH }}" style="white-space: nowrap; line-height: 15px; overflow: hidden; height: 15px; text-overflow: ellipsis; ">
                                {{ profile.OrgUnitName | limitTo:100}}{{profile.PositionTH.length > 100 ? '...' : ''}}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="hide-menu-btn " ng-click="toggleMenu()">
                <span ng-if="!menuCtrl.isHideMenu" style="font-size: 24px;"><i class="fa fa-angle-left"></i></span>
                <span ng-if="menuCtrl.isHideMenu" style="font-size: 24px;"><i class="fa fa-angle-right"></i></span>
                <md-tooltip class="em-font-15" md-direction="bottom">
                    ซ่อน Menu
                </md-tooltip>
            </div>
        </div>-->
        <!--<div class="hide-menu-btn " ng-click="toggleMenu()">
            <span ng-if="!menuCtrl.isHideMenu" style="font-size: 24px;"><i class="fa fa-angle-left"></i></span>
            <span ng-if="menuCtrl.isHideMenu" style="font-size: 24px;"><i class="fa fa-angle-right"></i></span>
            <md-tooltip class="em-font-15" md-direction="bottom">
                ซ่อน Menu
            </md-tooltip>
        </div>-->
    </div>

</div>
