﻿<!-- menu -->
<div ng-controller="MenuController" id="main-menu" ng-class="{'mainBlock-hide':menuCtrl.isHideMenu}">
    <div class="mini-menu">
        <div class="mini-menu-item " ng-click="toggleMenu()">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <md-tooltip md-direction="right">
                ซ่อน Menu
            </md-tooltip>
        </div>
        <div ng-repeat="menu in menus">

            <div ng-if="menu.isHeader && menu.isBox" class="mini-menu-item">

                <md-menu>
                    <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="$mdMenu.open()" style="margin-top: -8px;">
                        <i class="{{menu.icon}}" style="font-size: 21px;"></i>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="submenu in menus | filter : { groupID: menu.groupID} : true" ng-if="!submenu.isHeader">
                            <md-button md-no-ink="true;" ng-click="clickMenu(this, submenu.url)">
                                <div style="display:flex;">
                                    <div class="mini-menu-cir-num" ng-if="submenu.count>=0">{{submenu.count}}</div>
                                    <div class="mini-menu-cir-num" ng-if="submenu.count<0"><span><i class="fal fa-history" aria-hidden="true"></i></span></div>
                                    {{submenu.text}}
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>

            <div ng-if="menu.isHeader && !menu.isBox && menu.groupID != 0" class="mini-menu-item">

                <md-menu>
                    <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="$mdMenu.open()" style="margin-top: -8px;">
                        <i class="{{menu.icon}}" style="font-size: 21px;"></i>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="submenu in menus | filter : { groupID: menu.groupID} : true" ng-if="!submenu.isHeader">
                            <md-button md-no-ink="true;" ng-click="clickMenu(this, submenu.url)">
                                <div style="display:flex;">
                                    <span class="task-icon">
                                        <span class="{{submenu.icon}}"></span>
                                    </span>
                                    {{submenu.text}}
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>

            <!--ประกาศ-->
            <div ng-if="menu.groupID === 0" class="mini-menu-item" ng-click="clickMenu(this, menu.url)">
                <i class="{{menu.icon}}" style="font-size: 21px;"></i>
                <!--<i class="fa fa-home" style="font-size: 21px;"></i>-->
            </div>

            <md-tooltip md-direction="right">
                <span style="font-size:20px;"> {{menu.text}}</span>
            </md-tooltip>
        </div>

        <div class="mini-menu-item">
            <a href="./index.html#!/Setting">
                <i class="fa fa-cogs" aria-hidden="true"></i>
            </a>
            <md-tooltip md-direction="right">
                <span style="font-size:20px;">Setting</span>
            </md-tooltip>
        </div>
        <div class="mini-menu-item" onclick="logout()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <md-tooltip md-direction="right">
                <span style="font-size:20px;">Signout</span>
            </md-tooltip>
        </div>
    </div>
    <div ng-repeat="menu in menus" class="menu-list-items" ng-class="menu.isActive ? 'taskBlock menu taskactive ' + menu.groupID : 'taskBlock menu ' + menu.groupID">

        <div class="task_titlehead" ng-if="menu.isHeader && menu.isBox" data-active-menu="{{ menu.groupID }}" ng-click="clickHeadMenu(this)">
            <div class="task_inner">
                <div class="task-wait">
                    <div class="navCircle" ng-if="menu.isBox">
                        <div class="inCircle">
                            <span>{{ menu.count }}</span>
                        </div>
                    </div>
                </div>
                <div class="task-icon">
                    <span class="{{menu.icon}}"></span>
                </div>
                <div class="task-titletop">
                    {{menu.text}}
                </div>
            </div>
        </div>

        <div class="task_titlehead" ng-if="menu.isHeader && !menu.isBox && menu.groupID != 0" data-active-menu="{{ menu.groupID }}" ng-click="clickHeadMenu(this)">
            <div class="task_inner">
                <div class="task-wait">
                    <div class="navCircle" ng-if="menu.isBox">
                        <div class="inCircle">
                            <span>{{ menu.count }}</span>
                        </div>
                    </div>
                </div>
                <div class="task-icon">
                    <span class="{{menu.icon}}"></span>
                </div>
                <div class="task-titletop">
                    {{menu.text}}
                </div>
            </div>
        </div>

        <div ng-if="!menu.isHeader && menu.isBox">
            <div class="task_inner">
                <a ng-click="clickMenu(this, menu.url)" data-active-menu="{{ menu.groupID }}" ng-class="menu.isSelected ? '-task-highlight': ''" ng-style="menu.isShow? {'display':'block'}:{'display':'none'}">
                    <ul class="sub_menu">
                        <li class="task-wait"></li>
                        <li class="task-icon">

                            <div class="navCircle_list">
                                <div ng-if="menu.count >=0 && menu.MenuCode != 'ARCHIVE_BOX'" class="inCircle"><span>{{menu.count}}</span></div>
                                <div ng-if="menu.count < 0 || menu.MenuCode == 'ARCHIVE_BOX'" class="inCircle">
                                    <span><i class="fal fa-history" aria-hidden="true"></i></span>
                                </div>
                            </div>

                        </li>

                        <li class="task-title">
                            {{menu.text}}
                        </li>

                    </ul>
                </a>
            </div>
        </div>

        <div ng-if="!menu.isHeader && !menu.isBox">
            <div class="task_inner">
                <a ng-click="clickMenu(this, menu.url)" data-active-menu="{{ menu.groupID }}" ng-class="menu.isSelected ? '-task-highlight': ''" ng-style="menu.isShow? {'display':'block'}:{'display':'none'}">
                    <ul class="sub_menu">
                        <li class="task-wait"></li>
                        <li class="task-icon">

                            <div class="task-icon">
                                <span class="{{menu.icon}}"></span>
                            </div>

                        </li>

                        <li class="task-title">
                            {{menu.text}}
                        </li>

                    </ul>
                </a>
            </div>
        </div>

        <!--ประกาศ-->
        <div class="task_titlehead" ng-if="menu.groupID === 0">
            <div class="task_inner" ng-if="$first" ng-click="clickMenu(this, 'frmViewContent/0')">
                <div class="task-wait">
                    <div class="navCircle" ng-if="menu.isBox"></div>
                </div>
                <div class="task-icon">
                    <!--<span class="{{menu.icon}}"></span>-->
                    <span class="fa fa-home"></span>
                </div>
                <div class="task-titletop">
                    {{menu.text}}
                </div>
            </div>

            <div class="task_inner" ng-if="!$first && menu.url">
                <div class="task-wait">
                    <div class="navCircle" ng-if="menu.isBox">

                    </div>
                </div>
                <div class="task-icon">
                    <span class="{{menu.icon}}"></span>
                </div>
                <div class="task-titletop">
                    {{menu.text}}
                </div>
            </div>
        </div>

    </div>


    <!-- fast button -->
        <div class="fast-button" ng-class="{'active':isActiveFastButton}">

            <div class="list-fast-button">
                <!-- Travel Request -->
                <div class="fast-button-item a ag-flex-column ag-align-center ag-justify-center" ng-click="clickFastButton('0')">
                    <span class="fa-2x fal fa-globe-americas"></span>
                    <md-tooltip md-direction="left"><span class="tool-tip">Menu1</span></md-tooltip>
                </div>
                <!-- General Expense Request -->
                <div class="fast-button-item b ag-flex-column ag-align-center ag-justify-center" ng-click="clickFastButton('0')">
                    <span class="fa-2x fal fa-money-bill"></span>
                    <md-tooltip md-direction="left"><span class="tool-tip">Menu2</span></md-tooltip>
                </div>
                <!-- Dashboard -->
                <div class="fast-button-item c ag-flex-column ag-align-center ag-justify-center" ng-click="clickFastButton('0')">
                    <span class="fa-2x fal fa-home-heart"></span>
                    <md-tooltip md-direction="left"><span class="tool-tip">Menu3</span></md-tooltip>
                </div>
                <!-- Announcement -->
                <div class="fast-button-item d ag-flex-column ag-align-center ag-justify-center" ng-click="clickFastButton('0')">
                    <span class="fa-2x fal fa-bullhorn"></span>
                    <md-tooltip md-direction="left"><span class="tool-tip">Announcement</span></md-tooltip>
                </div>
                <div class="fast-button-item main ag-flex-column ag-align-center ag-justify-center" ng-click="toggleFastButton()">
                    <i class="fa-2x fal fa-stream" aria-hidden="true"></i>
                </div>
            </div>

        </div>
        <div class="fast-button-filter" ng-class="{'active':isActiveFastButton}" ng-click="toggleFastButton()">  </div>


    </div>


