﻿<div class="TravelExManPage delegation-page box-content col-sm-12" ng-controller="announcementNotifyDetailController">

    <h1>{{Text['AnnouncementNotifyListDetail']['Detail']}}</h1>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                <span ng-show="profile.Language == 'TH'">{{model.Title_TH}}</span>
                <span ng-show="profile.Language == 'EN'">{{model.Title_EN}}</span>
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row margin-b20">
                <div class="col-md-12 media-padding-col">
                    <img class="w-100 margin-b20" ng-if="model.TextFile.length > 0" ng-repeat="picture in model.TextFile" src="/Uploads/AnnouncementMain/{{picture}}">
                    <div class=" margin-b20">
                        <!--<ng-bind-html ng-show="profile.Language == 'TH'" ng-bind-html="model.Description_TH"> </ng-bind-html>
                        <ng-bind-html ng-show="profile.Language == 'EN'" ng-bind-html="model.Description_EN"> </ng-bind-html>-->
                        <ng-bind-html ng-show="profile.Language == 'TH'" ng-bind-html="renderHtml(model.Description_TH)"> </ng-bind-html>
                        <ng-bind-html ng-show="profile.Language == 'EN'" ng-bind-html="renderHtml(model.Description_EN)"> </ng-bind-html>
                    </div>
                </div>
            </div>
            <div class="row margin-b20">
                <div class="col-md-12 media-padding-col">
                    <div class=" margin-b20">
                        <div ng-show="profile.Language == 'TH' && model.Remark_TH" class="font-16">
                            <span style="font-weight:bold;">หมายเหตุ :</span>
                            &nbsp;&nbsp;
                            {{model.Remark_TH}}
                        </div>
                        <div ng-show="profile.Language == 'EN' && model.Remark_EN">
                            <span style="font-weight:bold;">Remark :</span>
                            &nbsp;&nbsp;
                            {{model.Remark_EN}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right font-18 font-weight-bold">
                        {{model.CreateDate | date: 'd/M/y'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>