﻿<div class="TravelExManPage delegation-page box-content col-sm-12" ng-controller="announcementNotifyListController">

    <h1>{{Text['AnnouncementNotifyList']['AnnouncementAll']}}</h1>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['AnnouncementNotifyList']['AnnouncementAll']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-md-12 media-padding-col">
                    <div class="table-img-ayodia">
                        <div class="item-alert">
                            <a class="d-flex h-card" ng-repeat="item in list_announcement_notify" ng-click="ViewAnnouncementDetail(item.AnnouncementId)">
                                <div class="h-img show-pc" ng-style="{'background-image':'url(/Uploads/AnnouncementMain/' + item.TextFile +')' }"></div>
                                <img class="w-100 show-tablet margin-b10" src="/Uploads/AnnouncementMain/{{item.TextFile}}">
                                <div>
                                    <div class="item-date">{{Text['AnnouncementNotifyList']['EffectiveDate']}}&nbsp;{{item.EffectiveDate | date: 'd/M/y'}}</div>
                                    <div class="item-title">
                                        <span ng-show="profile.Language == 'TH'">{{item.Title_TH}}</span>
                                        <span ng-show="profile.Language == 'EN'">{{item.Title_EN}}</span>
                                    </div>

                                    <div class="item-detail show-pc">
                                        <u class="loadmore">{{Text['AnnouncementNotifyList']['View']}}</u>
                                    </div>

                                    <div class="item-detail show-tablet">
                                        <u class="loadmore">{{Text['AnnouncementNotifyList']['View']}}</u>
                                    </div>
                                    
                                </div>
                                <div ng-show="!item.IsRead" class="pointnews"></div>
                            </a>
                        </div>
                        <div class="h-footer">
                            <!--<div>1-8 of 10 items</div>-->
                            <div></div>
                            <div>
                                <ul uib-pagination
                                    total-items="totalItem"
                                    ng-model="page"
                                    max-size="10"
                                    items-per-page="itemPerPage"
                                    class="pagination-sm"
                                    boundary-links="true"
                                    rotate="false"
                                    ng-change="loadAnnouncementMainNotify()"
                                    first-text="<<"
                                    last-text=">>"
                                    previous-text="<"
                                    next-text=">"></ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--<pre>{{list_announcement_notify | json}}</pre>-->
</div>