﻿<div class="TravelExManPage delegation-page" ng-controller="createPublicRelationsTextController" ng-init="init();">

    <div class="row margin-b10">
        <div class="col-sm-10">
            <h1>{{Text['APPLICATION']['AdminAnnouncementPublicRelationsText_Create']}}</h1>
        </div>
        <div class="col-sm-2">
            <a class="m-btn-c2 btn-s-md text-center" style="margin-top:10px;" ng-click="back()">
                <span>
                    {{Text['AdminAnnouncementPublicRelationsText_Create']['Back']}}
                </span>
            </a>
        </div>
    </div>

    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['APPLICATION']['AdminAnnouncementPublicRelationsText_Create']}}
            </div>
        </div>
        <div class="ayodia-body-content" style="min-height:600px;">

            <div class="row margin-b10" ng-hide="isHideMultiCompany">
                <div class="col-sm-2">
                    <div class="sub-title">{{Text['SYSTEM']['COMPANY']}}</div>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="ddlCompany" ng-change="changeCompany(ddlCompany)">
                        <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                    </select>
                </div>
            </div>

            <!-- ไทย -->
            <div class="row margin-b10">
                <div class="col-sm-12">
                    <div class="sub-title">{{Text['AdminAnnouncementPublicRelationsText_Create']['Data_TH']}}</div>
                </div>
            </div>
            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['AdminAnnouncementPublicRelationsText_Create']['Subject_TH']}}
                        &nbsp;
                        <span style="color:red; font-weight:bold;">*</span>
                    </div>
                </div>
                <div class="col-sm-10">
                    <input class="form-control" type="text" placeholder="Plase Enter Data" ng-model="model.Subject_TH" />
                </div>
            </div>
            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['AdminAnnouncementPublicRelationsText_Create']['Description']}}
                        &nbsp;
                        <span style="color:red; font-weight:bold;">*</span>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div ckeditor="options" ng-model="model.HtmlEditor_TH"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <!--EN-->
            <div class="row margin-b10">
                <div class="col-sm-12">
                    <div class="sub-title">
                        {{Text['AdminAnnouncementPublicRelationsText_Create']['Data_EN']}}
                    </div>
                </div>
            </div>
            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['AdminAnnouncementPublicRelationsText_Create']['Subject_EN']}}
                        &nbsp;
                        <span style="color:red; font-weight:bold;">*</span>
                    </div>
                </div>
                <div class="col-sm-10">
                    <input class="form-control" type="text" placeholder="Plase Enter Data" ng-model="model.Subject_EN" />
                </div>
            </div>
            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['AdminAnnouncementPublicRelationsText_Create']['Description']}}
                        &nbsp;
                        <span style="color:red; font-weight:bold;">*</span>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div ckeditor="options" ng-model="model.HtmlEditor_EN" value="HtmlEditor2"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <!-- Optional -->
            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncementPublicRelationsText_Create']['EffectiveDate']}}</div>
                </div>
                <div class="col-sm-3">
                    <div class="datepicker-height-set" style="position:relative;height:40px;">
                        <datepicker callback-on-change="setEffectiveDate(newDate)" date-format="d/M/yyyy" date-set="{{model.EffectiveDate}}">
                            <input name="DOB" class="form-control clickable datepicker" type="text"  />
                        </datepicker>
                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncementPublicRelationsText_Create']['ExpireDate']}}</div>
                </div>
                <div class="col-sm-3">
                    <div class="datepicker-height-set" style="position:relative;height:40px;">
                        <datepicker callback-on-change="setExpireDate(newDate)" date-min-limit-for-range="{{model.EffectiveDate}}" date-format="d/M/yyyy" date-set="{{model.ExpireDate}}">
                            <input name="DOB" class="form-control clickable datepicker" type="text" ng-disabled="model.IsUnlimitTime" />
                        </datepicker>
                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="margin-t10"><md-checkbox ng-model="model.IsUnlimitTime">{{Text['AdminAnnouncementPublicRelationsText_Create']['IsUnlimitTimeAnnouncement']}}</md-checkbox></div>
                </div>
            </div>
            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncementPublicRelationsText_Create']['Sequence']}}</div>
                </div>
                <div class="col-sm-3">
                    <input type="number" class="form-control" ng-model="model.Sequence" />
                </div>
            </div>
            <div class="row margin-b20">
                <div class="col-sm-offset-2 col-sm-2">
                    <a class="m-btn-c2 btn-s-md text-center" ng-click="createNewsText()">
                        <span>
                            {{Text['AdminAnnouncementPublicRelationsText_Create']['Save']}}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="completeSaveAnnouncementText.ng-popup.html">
    <div class="modal-body alert1">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <div class="text-center font-18 margin-b20">
                    <img src="./images/1580967061551.jpg" width="60" />
                </div>
                <div class="text-center font-18">
                    {{msg_result}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer padding-t-none">
        <a class="m-btn-co btn-s-md" ng-click="closeModal()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Text['SYSTEM']['CLOSE_DOWN']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>
