﻿<div class="TravelExManPage delegation-page" ng-controller="UniFormSettingController" ng-init="init()">
	<div class="row margin-b10">
		<div class="col-sm-10">
			<h1>ตั้งค่าเครื่องแต่งกาย</h1>
		</div>
		<div class="col-sm-2">
			<a class="m-btn-c2 btn-s-md text-center"
			   style="margin-top: 10px"
			   ng-click="back()">
				<span> {{Text['SYSTEM']['BACK']}} </span>
			</a>
		</div>
	</div>

	<div class="content-by-ayodia margin-b20" style="min-height: 750px">
		<div class="ayodia-header-content">
			<div class="ayodia-title w-100">
				ตั้งค่าเครื่องแต่งกาย
			</div>
		</div>
		<div class="ayodia-body-content">
			<div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll">
				<div class="body_content">
					<div class="clearfix margin-b20" ng-hide="isHideMultiCompany">
						<div class="filter-items-l clearfix">
							<div class="f-item">
								<label>{{Text['SYSTEM']['COMPANY']}} :</label>
								<select class="form-control w100px-desktop"
										ng-model="ddlCompany"
										ng-change="changeCompany(ddlCompany)">
									<option value="{{item.CompanyCode}}"
											ng-repeat="item in CompanyList">
										{{item.Name}}
									</option>
								</select>
							</div>
						</div>
					</div>

					<div style="height: 100%;">
						<div ng-if="ImagesChart != null">
							<img src="{{ImagesChart}}" style="height:100px; margin-top:5px; margin-bottom:5px;" alt="images" />
						</div>
						<div style="display:flex;vertical-align:central;align-items:center;text-align:center;padding-left:7px;"> <p>รูปตาราง Size : &nbsp;</p> 
							<input type="file" accept="image/png, image/jpeg" ngf-select="uploadFileSizeChart($file)">
						</div>
						
					</div>


					<div class="bar_bottom layout-padding-md">
						<md-tabs class="personal_education_Content"
								 md-stretch-tabs="always"
								 md-swipe-content="false"
								 md-no-pagination="false"
								 md-border-bottom="true"
								 md-dynamic-height="true">
							<!--ตั้งค่าประเภทชุด-->
							<md-tab class="mt-1" id="md-tab-1" label="ตั้งค่าประเภทชุด" ng-click="onClickTap('UniFormType')">
								<div class="body_content tab-container">
									<div class="leavetableBlock leavetableBlock_create">
										<div class="row itemlist_block">
											<div class="traveltableBlock -desk_md-only" style="overflow: unset !important;">
												<div class="row itemlist">
													<div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">

														<table class="table table-bordered travelEx_tablesec02 not-fix-width">
															<thead>
																<tr style="vertical-align:middle; text-align:center;">
																	<td>ลำดับที่</td> <!--Description-->
																	<td>ประเภทชุด</td> <!--Quarter1-->
																	<td>รายละเอียด</td> <!--Quarter2-->
																	<td>วันที่เริ่มต้น</td> <!--Quarter3-->
																	<td>วันที่สิ้นสุด</td> <!--Quarter4-->
																	<td><span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="addNew('UniFormType')"></span></td>
																</tr>
															</thead>
															<tbody>
																<tr ng-repeat="Item in UniFormType" ng-show="UniFormType.length > 0 && Item.Status != Remove">


																	<td style="vertical-align: middle; text-align: center;">
																		<div style="height: 100%;">
																			<span>{{$index+1}}</span>
																		</div>
																	</td>

																	<td style="vertical-align: middle; text-align: center;">
																		<div class="td-input" style="height: 100%;vertical-align: middle; text-align: center; align-items: center">
																			<input ng-model="Item.UniFormTypeName"
																				   style="margin: 0;height: 40px;width:100%"
																				   type="text"
																				   class="center-block form-control"
																				   ng-change="change('UniFormType',Item);" >
																		</div>
																	</td>

																	<td><textarea style="resize:none;width: 100%;height: 54px;" class="form-control" name="name" cols="num" rows="num" ng-model="Item.Description" ng-change="change('UniFormType',Item);"></textarea></td>

																	<td >
																		<div class="datepicker-height-set" style="width: 135px; height: 100%; margin: 0 auto;">
																			<datepicker date-format="d/M/yyyy" date-set="{{Item.StartDate}}" data-id="{{Item.UniFormTypeID}}" callback-on-change="setSelected('UinFormType' ,newDate,'StartDate',Item)">
																				<input name="DOB" class="form-control clickable datepicker" type="text" required />
																			</datepicker>
																			<i class="icon-calendar ico_datestart -txt-blue" style="z-index:99;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
																		</div>

																	</td> <!--วันที่เริ่มต้น-->

																	<td >
																		<div class="datepicker-height-set" style="width: 135px; height: 100%; margin: 0 auto;">
																			<datepicker date-format="d/M/yyyy" date-set="{{Item.EndDate}}" data-id="{{Item.UniFormTypeID}}" callback-on-change="setSelected('UinFormType' ,newDate,'EndDate',Item)">
																				<input name="DOB" class="form-control clickable datepicker" type="text" required />
																			</datepicker>
																			<i class="icon-calendar ico_datestart -txt-blue" style="z-index:99;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
																		</div>

																	</td> <!--วันที่สิ้นสุด -->

																	<td style="text-align: center !important;line-height:3" ng-click="remove('UniFormType',Item)"><span class="glyphicon glyphicon-trash"  aria-hidden="true"></span> </td> <!--ลบข้อมูล-->



																</tr>
																<!--กรณีไม่มีข้อมูล-->
																<tr ng-show="UniFormType.length == 0">
																	<td colspan="4" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>

										<div class="item-btn mobile-text-center">
											<a ng-click="onSubmit('UniFormType')">
												<div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
													<i class="fas fa-save"></i> {{ Text['SYSTEM']['SAVE'] }}
												</div>
											</a>
										</div>

									</div>
								</div>
							</md-tab>




							<!--ตั้งค่าเครื่องแต่งกาย-->
							<md-tab class="mt-2" id="md-tab-2" label="ตั้งค่าเครื่องแต่งกาย" ng-click="onClickTap('UniFormData')">
								<div class="body_content tab-container">
									<div class="leavetableBlock leavetableBlock_create">
										<form>
											<div class="row itemlist_block">
												<div class="traveltableBlock -desk_md-only" style="overflow: unset !important;">
													<div class="row itemlist">
														<div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">

															<table class="table table-bordered travelEx_tablesec02 not-fix-width">
																<thead>
																	<tr style="vertical-align:middle; text-align:center;">
																		<td>ลำดับที่</td>
																		<td style="padding-left: 60px;padding-right: 60px;">ประเภทชุด</td>
																		<td style="padding-left: 60px;padding-right: 60px;">เครื่องแต่งกาย</td>
																		<td>รายละเอียด</td>
																		<td colspan="2">รูปประกอบ</td>
																		<td>วันที่เริ่มต้น</td>
																		<td>วันที่สิ้นสุด</td>
																		<td><span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="addNew('UniFormData')"></span></td>
																	</tr>
																</thead>
																<tbody>
																	<tr ng-repeat="Item in UniFormData" ng-show="UniFormData.length > 0 && Item.Status != Remove" >
																		<td style="width:10px">
																			<div style="height: 100%; vertical-align: middle; text-align: center;">
																				<span>{{$index+1}}</span>
																			</div>
																		</td>
																		<td class="col-lg-3">
																			<div class="td-select" style="height: 100%;vertical-align: middle; text-align: center; align-items: center">
																				<select ng-model="Item.UniFormTypeID" class="form-control" ng-change="changeOptionUniForm('UniFormData',Item)">
																					<option value="{{item.UniFormTypeID}}" ng-repeat="item in UniFormType">{{item.UniFormTypeName}}</option>
																				</select>
																			</div>
																		</td>

																		<td>
																			<div class="td-input" style="height: 100%;vertical-align: middle; text-align: center; align-items: center">
																				<input style="margin: 0;height: 40px;width:100%;" type="text" class="center-block form-control"
																					   ng-model="Item.UniFormName"
																					   ng-change="change('UniFormData',Item);"
																					   placeholder=" ">
																		</td>

																		<td><textarea class="form-control" style="resize:none;width: 200px;height: 54px;" ng-model="Item.Description" ng-change="change('UniFormData',Item);" name="name" cols="num" rows="num"></textarea></td>



																		<td style="width: 50px;">
																			<div style="height: 100%;">
																				<input type="file" accept="image/png, image/jpeg" ngf-select="uploadFile($file,Item)">
																			</div>
																		</td>

																		<td style="width: 50px;">
																			<div style="height: 100%;">
																				<img src="{{Item.Images}}" style="height:40px; margin-top:5px; margin-bottom:5px;" alt="images" />
																			</div>
																		</td>

																		<td>
																			<div class="datepicker-height-set" style="width: 135px;height:100%">
																				<datepicker date-format="d/M/yyyy" date-set="{{Item.StartDate}}" data-id="{{Item.UniFormID}}" callback-on-change="setSelected('UinFormData',newDate,'StartDate',Item)">
																					<input name="DOB" class="form-control clickable datepicker" type="text" required />
																				</datepicker>
																				<i class="icon-calendar ico_datestart -txt-blue" style="z-index:99;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
																			</div>
																		</td>

																		<td>
																			<div class="datepicker-height-set" style="width: 135px;height:100%">
																				<datepicker date-format="d/M/yyyy" date-set="{{Item.EndDate}}" data-id="{{Item.UniFormID}}" callback-on-change="setSelected('UinFormData',newDate,'EndDate',Item)">
																					<input name="DOB" class="form-control clickable datepicker" type="text" required />
																				</datepicker>
																				<i class="icon-calendar ico_datestart -txt-blue" style="z-index:99;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
																			</div>
																		</td>

																		<td style="text-align: center !important;line-height: 3;" ng-click="remove('UniFormData',Item)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </td> <!--ลบข้อมูล-->
																	</tr>


																	<tr ng-show="UniFormData.length == 0">
																		<td colspan="4" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>

											<div class="item-btn mobile-text-center">
												<a ng-click="onSubmit('UniFormData')">
													<div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
														<i class="fas fa-save"></i> {{ Text['SYSTEM']['SAVE'] }}
													</div>
												</a>
											</div>
										</form>
									</div>
								</div>
							</md-tab>

							<!--ตั้งค่าขนาด (Size)-->
							<md-tab class="mt-3" id="md-tab-3" label="ตั้งค่าขนาด (Size)" ng-click="onClickTap('UniFormSize')">
								<div class="body_content tab-container">
									<div class="leavetableBlock leavetableBlock_create">
										<form>
											<div class="row itemlist_block">
												<div class="traveltableBlock -desk_md-only" style="overflow: unset !important;">
													<div class="row itemlist">
														<div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">

															<table class="table table-bordered travelEx_tablesec02 not-fix-width">
																<thead>
																	<tr style="vertical-align:middle; text-align:center;">
																		<td>ลำดับที่</td>
																		<td class="tr-td-container" style="padding-left: 60px;padding-right: 60px;">ประเภทชุด</td>
																		<td class="tr-td-container">เครื่องแต่งกาย</td>
																		<td class="tr-td-container">ขนาด (Size)</td>
																		<td class="tr-td-container">รอบอก (นิ้ว)</td>
																		<td class="tr-td-container">ความยาว (นิ้ว)</td>
																		<td class="tr-td-container">วันที่เริ่มต้น</td>
																		<td class="tr-td-container">วันที่สิ้นสุด</td>
																		<td><span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="addNew('UniFormSize')"></span></td>
																	</tr>
																</thead>
																<tbody>
																	<tr ng-repeat="Item in UniFormSize" ng-show="UniFormSize.length > 0 && Item.Status != Remove">
																		<td style="width:10px">
																			<div style="height: 100%; vertical-align: middle; text-align: center;">
																				<span>{{$index+1}}</span>
																			</div>
																		</td>

																		<td>
																			<div class="td-select">
																				<select ng-model="Item.UniFormTypeID" class="form-control" ng-change="changeOptionUniForm('UniFormSize',Item)">
																					<option value="{{item.UniFormTypeID}}" ng-repeat="item in UniFormType">{{item.UniFormTypeName}}</option>
																				</select>
																			</div>
																		</td>

																		<td>
																			<div class="td-select">
																				<select ng-model="Item.UniFormID" class="form-control" ng-change="changeOptionUniForm('UniFormSize',Item)">
																					<option value="{{item.UniFormID}}" ng-repeat="item in UniFormData">{{item.UniFormName}}</option>
																				</select>
																			</div>
																		</td>


																		<td>
																			<div class="td-input">

																				<input style="margin: 0;height: 40px;width:100%" type="text" class="center-block form-control"
																					   ng-model="Item.Size"
																					   ng-change="change('UniFormSize',Item);"
																					   placeholder=" ">
																		</td>
																		<td>
																			<div class="td-input">

																				<input style="margin: 0;height: 40px;width:100%" type="text" class="center-block form-control" ng-change="change('UniFormSize',Item);" ng-model="Item.CWLength" placeholder=" ">
																		</td>
																		<td>
																			<div class="td-input">

																				<input style="margin: 0;height: 40px;width:100%" type="text" class="center-block form-control" ng-change="change('UniFormSize',Item);" ng-model="Item.Length" placeholder=" ">
																		</td>

																		<td>
																			<div class="datepicker-height-set" style="width: 135px;height:100%">
																				<datepicker date-format="d/M/yyyy" date-set="{{Item.StartDate}}" data-id="{{Item.SizeID}}" callback-on-change="setSelected('UinFormSize' ,newDate,'StartDate',Item)">
																					<input name="DOB" class="form-control clickable datepicker" type="text" required />
																				</datepicker>
																				<i class="icon-calendar ico_datestart -txt-blue" style="z-index:99;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
																			</div>
																		</td> <!--วันที่เริ่มต้น-->

																		<td>
																			<div class="datepicker-height-set" style="width: 135px;height:100%">
																				<datepicker date-format="d/M/yyyy" date-set="{{Item.EndDate}}" data-id="{{Item.SizeID}}" callback-on-change="setSelected('UinFormSize' ,newDate,'EndDate',Item)">
																					<input name="DOB" class="form-control clickable datepicker" type="text" required />
																				</datepicker>
																				<i class="icon-calendar ico_datestart -txt-blue" style="z-index:99;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
																			</div>
																		</td> <!--วันที่สิ้นสุด -->

																		<td style="text-align: center !important;line-height: 2;" ng-click="remove('UniFormSize',Item)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </td> <!--ลบข้อมูล-->
																	</tr>



																	<tr ng-show="UniFormSize.length == 0">
																		<td colspan="4" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>

											<div class="item-btn mobile-text-center">
												<a ng-click="onSubmit('UniFormSize')">
													<div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
														<i class="fas fa-save"></i> {{ Text['SYSTEM']['SAVE'] }}
													</div>
												</a>
											</div>
										</form>
									</div>
								</div>
							</md-tab>
						</md-tabs>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<style>

	.tab-container {
		background: white;
		min-height: 100vh;
		overflow-y: auto;
	}

	#md-tab-1 .td-input {
		display: flex;
		justify-content: flex-start;
		height: 100%;
		width: auto;
	}

	#md-tab-2 .tr-td-select {
		width: 200px;
		min-width: 200px
	}

	#md-tab-2 .td-select {
		height: 100%;
		width: 200px;
		min-width: 200px
	}

	#md-tab-2 .td-input {
		height: 100%;
		display: flex;
		justify-content: flex-start;
		width: 200px;
		min-width: 200px
	}

	#md-tab-3 .tr-td-container {
		width: 150px
	}

	#md-tab-3 .td-select {
		height: 100%;
		width: 200px;
		min-width: 200px
	}

	#md-tab-3 .td-input {
		display: flex;
		justify-content: flex-start;
		height: 100%;
		width: auto;
	}
</style>
