﻿<div class="TravelExManPage delegation-page" ng-controller="ImportProvidentfundController" ng-init="init();">

    <div class="row margin-b10">
        <div class="col-sm-10">
            <h1>{{Text['APPLICATION']['ImportProvidentfundByAdmin']}}</h1>
        </div>
        <div class="col-sm-2">
            <a class="m-btn-c2 btn-s-md text-center" style="margin-top:10px;" ng-click="back()">
                <span>
                    {{Text['SYSTEM']['BACK']}}
                </span>
            </a>
        </div>
    </div>
    <div class="content-by-ayodia margin-b20 ">

        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['APPLICATION']['ImportProvidentfundByAdmin']}}
            </div>
        </div>

        <div class="ayodia-body-content">

            <div class="row margin-b20" ng-hide="isHideMultiCompany">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['SYSTEM']['COMPANY']}}</div>
                </div>
                <div class="col-sm-3">
                    <div class="datepicker-height-set" style="position:relative;height:40px;">
                        <select class="form-control" ng-model="selectCompanyCode" ng-change="changeCompany()">
                            <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="isHideMultiCompany">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <div class="row margin-b20">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">ไฟล์นำเข้าข้อมูล</div>
                </div>
                <div class="col-sm-3">
                    <input type="file" ngf-select="" ng-model="fileData" name="file" accept=".txt" ngf-pattern=".txt" class="form-control">
                    <span style="color:red;">* กรุณานำเข้าข้อมูลเฉพาะไฟล์ txt เท่านั้น</span>
                </div>
                <div class="col-sm-7">
                    <button class="btn btn-sm btn-default" style="font-size:14px;" ng-click="importProvident();">Import</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-sm btn-primary" style="font-size:14px;" ng-disabled="model_data.length == 0" ng-click="saveToDatabase();">Save To Database</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-sm btn-info" style="font-size:14px;" ng-disabled="disable_export" ng-click="exportExcelProvident();">Export Excel</button>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <div class="row margin-b20" ng-if="list_providentfund.length > 0">
                <div class="col-sm-2">
                    <div class="sub-title">ข้อมูลกองทุนสำรองเลี้ยงชีพ</div>
                </div>
                <div class="col-sm-2">
                    <label style="font-weight:bold; font-size:16px;">Fund Id</label>
                    <input class="form-control text-center" value="{{model_data.FundId}}" disabled />
                </div>
                <div class="col-sm-2">
                    <label style="font-weight:bold; font-size:16px;">Company Id</label>
                    <input class="form-control text-center" value="{{model_data.CompanyId}}" disabled />
                </div>
                <div class="col-sm-2">
                    <label style="font-weight:bold; font-size:16px;">Nav Date</label>
                    <input class="form-control text-center" value="{{model_data.NavDate | date: 'yyyy-MM-d'}}" disabled />
                </div>
                <div class="col-sm-2">
                    <label style="font-weight:bold; font-size:16px;">Nav Value</label>
                    <input class="form-control text-right" value="{{model_data.NavValue}}" disabled />
                </div>
            </div>

            <div class="row margin-b10" ng-if="list_providentfund.length > 0">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1">
                        <tr class="t-header">
                            <th class="text-center">ลำดับ</th>
                            <th class="text-center">รหัสพนักงาน</th>
                            <th class="text-center">ชื่อ - นามสกุล</th>
                            <th class="text-center">สะสมรวม (พนักงาน)</th>
                            <th class="text-center">ผลประโยชน์สะสมรวม (พนักงาน)</th>
                            <th class="text-center">สะสมรวม (บริษัท)</th>
                            <th class="text-center">ผลประโยชน์สะสมรวม (บริษัท)</th>
                            <th class="text-center">ยอดสะสมทั้งหมด (บาท)</th>
                        </tr>
                        <tr class="t-body" ng-if="list_providentfund.length > 0" ng-repeat="item in list_providentfund">
                            <td class="font-16 text-center">{{item.Order}}</td>
                            <td class="font-16 text-center">{{item.EmployeeId}}</td>
                            <td class="font-16 text-center">{{item.TitleName}}{{item.FirstName}} &nbsp;{{item.LastName}}</td>
                            <td class="font-16 text-right">{{item.Total_employee_amount | number:2}}</td>
                            <td class="font-16 text-right">{{item.Total_employee_benefit_amount | number:2}}</td>
                            <td class="font-16 text-right">{{item.Total_company_amount | number:2}}</td>
                            <td class="font-16 text-right">{{item.Total_company_benefit_amount | number:2}}</td>
                            <td class="font-16 text-right">{{item.Total_employee_amount + item.Total_employee_benefit_amount + item.Total_company_amount + item.Total_company_benefit_amount  | number:2}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row" ng-show="list_providentfund.length > 0">
                <div class="col-sm-12">
                    <div class="text-right">
                        <ul uib-pagination
                            total-items="totalItem"
                            ng-model="currentPage"
                            max-size="10"
                            items-per-page="50"
                            class="pagination-sm"
                            boundary-links="true"
                            rotate="false"
                            ng-change="nextPage()"
                            first-text="{{firstText}}"
                            last-text="{{lastText}}"
                            previous-text="{{previousText}}"
                            next-text="{{nextText}}"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<pre>{{CompanyList | json}}</pre>-->

</div>

<script type="text/ng-template" id="errorImportProvident.ng-popup.html">
    <div class="modal-body alert1">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <div class="text-center font-18">
                    <svg xmlns="http://www.w3.org/2000/svg" width="57" height="57" viewBox="0 0 57 57">
                        <rect style="fill: #ed2f2f;opacity:0;" width="57" height="57" />
                        <path style="fill: #ed2f2f;" d="M25.75,2A23.75,23.75,0,1,0,49.5,25.75,23.75,23.75,0,0,0,25.75,2Zm0,42.75a19,19,0,1,1,19-19A19,19,0,0,1,25.75,44.75Z" transform="translate(2.75 2.75)" />
                        <path style="fill: #ed2f2f;" d="M22.569,9.7a2.375,2.375,0,0,0-3.373,0l-3.064,3.088L13.069,9.7A2.385,2.385,0,0,0,9.7,13.069l3.087,3.064L9.7,19.2a2.385,2.385,0,1,0,3.372,3.373l3.064-3.088L19.2,22.569A2.385,2.385,0,1,0,22.569,19.2l-3.088-3.064,3.088-3.064a2.375,2.375,0,0,0,0-3.372Z" transform="translate(12.367 12.367)" />
                    </svg>
                </div>
                <div class="text-center font-18">
                    {{msg_result}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer padding-t-none">
        <a class="m-btn-co btn-s-md" ng-click="closeModal()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Text['SYSTEM']['CLOSE_DOWN']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>

<script type="text/ng-template" id="completeImportProvident.ng-popup.html">
    <div class="modal-body alert1">
        <div class="row">
            <div class="col-sm-12 lr-0">
                <div class="text-center font-18 margin-b20">
                    <img src="./images/1580967061551.jpg" width="60" />
                </div>
                <div class="text-center font-18">
                    {{msg_result}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer padding-t-none">
        <a class="m-btn-co btn-s-md" ng-click="closeModal()">
            <span class="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Text['SYSTEM']['CLOSE_DOWN']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </div>
</script>




