﻿<div class="TravelExManPage delegation-page" ng-controller="ProvidentfundController" ng-init="init();">

    <div class="row margin-b10">
        <div class="col-sm-10">
            <h1>{{Text['APPLICATION']['ProvidentfundByAdmin']}}</h1>
        </div>
        <!--<div class="col-sm-2">
            <a class="m-btn-c2 btn-s-md text-center" style="margin-top:10px;" ng-click="back()">
                <span>
                    {{Text['SYSTEM']['BACK']}}
                </span>
            </a>
        </div>-->
    </div>
    <div class="content-by-ayodia margin-b20 ">

        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['APPLICATION']['ProvidentfundByAdmin']}}
            </div>
        </div>

        <div class="ayodia-body-content" style="min-height:500px;">

            <div class="row">
                <div class="col-sm-12">
                    <div class="filter-export-box clearfix margin-b20">
                        <div class="filter-items-r">
                            <a class="m-btn-c2 btn-s-md" ng-click="importProvidentFund();">
                                <span class="">
                                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;{{Text['ProvidentfundByAdmin']['Import']}}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row margin-b20" ng-hide="isHideMultiCompany">
                <div class="col-sm-1">
                    <div class="text-basic-md-center-input color-main">{{Text['SYSTEM']['COMPANY']}}</div>
                </div>
                <div class="col-sm-3">
                    <div class="datepicker-height-set" style="position:relative;height:40px;">
                        <select class="form-control" ng-model="selectCompanyCode" ng-change="changeCompany()">
                            <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="isHideMultiCompany">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <div class="row margin-b20">
                <div class="col-sm-1">
                    <div class="text-basic-md-center-input color-main">ปี</div>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="model_export.Year" ng-change="loadMonth(model_export.Year);">
                        <option ng-if="provident_year.length <= 0" value="">ไม่พบรายการข้อมูล</option>
                        <option ng-if="provident_year.length > 0" ng-repeat="year in provident_year" value="{{year}}">{{year}}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <div class="row margin-b20">
                <div class="col-sm-1">
                    <div class="text-basic-md-center-input color-main">เดือน</div>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="model_export.Month">
                        <option ng-if="provident_month.length <= 0" value="">ไม่พบรายการข้อมูล</option>
                        <option ng-if="provident_month.length > 0" ng-repeat="month in provident_month" value="{{month}}">
                            {{Text['MONTH'][month.length == 1 ? '0'+month : month]}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <div class="row margin-b20">
                <div class="col-sm-1">
                    <div class="text-basic-md-center-input color-main">กองทุน</div>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="model_export.FundId">
                        <option ng-if="provident_text.length <= 0" value="">ไม่พบรายการข้อมูล</option>
                        <option ng-if="provident_text.length > 0" ng-repeat="text_provident in provident_text" value="{{text_provident.FundID}}">{{text_provident.FundID}}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <a class="m-btn-c2 btn-s-md text-center" ng-click="exportReport()">
                        <span>
                            <i class="fa fa-search">&nbsp;&nbsp;&nbsp;</i>{{Text['PAYROLLREPORTFORADMIN']['VIEWREPORT']}}
                        </span>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <!--<pre>{{model_export |json}}</pre>-->
</div>



