﻿<style>
    .mainBlock .contentBlock {
        background: none;
    }

    #main_scroll {
        background: url('images/dasboard-bg.png');
        background-position: top;
        background-repeat: repeat;
        overflow: hidden;
        background-size: cover;
    }

    @media only screen and (max-width : 992px) {
        .mainBlock {
            background: none;
        }
    }
</style>
<div class="row">

    <div class="col-md-12 text-center margin-b10">
        <div class=" text-center">
            <div style="width:100%; margin:auto">
                <canvas id="bar" class="chart chart-bar" chart-options="overtimeInYear.options"
                        chart-data="overtimeInYear.data" chart-labels="overtimeInYear.labels" chart-series="overtimeInYear.series"
                        chart-colors="overtimeInYear.colours" chart-dataset-override="overtimeInYear.datasetOverride"></canvas>
            </div>
        </div>
    </div>

    <div class="TravelExManPage delegation-page box-content col-sm-12" ng-controller="DataExample1Controller" ng-show="1">


        <div style="position:relative;">
            <md-autocomplete class="blocked-cross-btn"
                             ng-click="tryToSelect(searchText)"
                             ng-blur="checkText(searchText)"
                             md-require-match="true"
                             theme="bootstrap"
                             ng-disabled="false"
                             md-no-cache="true"
                             md-selected-item="autocomplete.selectedItem"
                             md-search-text-change="searchTextChange(searchText)"
                             md-search-text="searchText"
                             md-selected-item-change="selectedItemChange(item)"
                             md-items="item in querySearchOrgUnit(searchText)"
                             md-item-text="item.OrgDisplay"
                             md-min-length="0"
                             required
                             md-autoselect="true"
                             placeholder="Select OrgUnit">
                <md-item-template>
                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.OrgDisplay}}</span>
                </md-item-template>
                <md-not-found>
                    No states matching "{{searchText}}" was found.
                </md-not-found>
            </md-autocomplete>
            <i class="caret pull-right" style=" position: absolute; right: 10px; top: 20px;"></i>
        </div>


        <h1>OT Dashboard</h1>

        <div class="content-by-ayodia margin-b20 ">
            <div class="ayodia-header-content">
                <div class="ayodia-title w-100">
                    OT Dashboard
                </div>
            </div>
            <div class="ayodia-body-content">
                <div class="row">
                    <div class="col-md-12 media-padding-col">
                        <div style="width:600px; margin:auto">
                            <canvas id="bar" class="chart chart-bar" chart-options="overtimeInYear.options"
                                    chart-data="overtimeInYear.data" chart-labels="overtimeInYear.labels" chart-series="overtimeInYear.series"
                                    chart-colors="overtimeInYear.colours" chart-dataset-override="overtimeInYear.datasetOverride"></canvas>
                        </div>
                        <u>DEMO</u>
                        <div class="item-x-3 show-pc mb-50">
                            <div class="item-x">tab 1</div>
                            <div class="item-x item-active"> tab 2 </div>
                        </div>
                        <div class="item-x-3 show-pc  mb-50">
                            <div class="item-x item-active">Overtime (BU & OT Reasons)</div>
                            <div class="item-x"> Overtime & Salary by Month </div>
                            <div class="item-x">Summary OT & Salary (Month)</div>
                        </div>
                        <div class="item-x-3 show-pc  mb-50">
                            <div class="item-x">tab 1</div>
                            <div class="item-x item-active"> tab 2 </div>
                            <div class="item-x"> tab 3 </div>
                            <div class="item-x"> tab 4 </div>
                        </div>

                    </div>
                    <div class="col-md-12 media-padding-col">
                        <div class="ayodia-ez-accordion  margin-b20">
                            <button class="ez-accordion accordion-sm" ng-class="{'active': tab1 == true , 'accordion-style-1-active' : ch  , 'accordion-style-1' : !ch   }" ng-click="tab1 = !tab1">
                                <md-checkbox class="margin-none font-16" ng-model="ch">การรักษาพยาบาล</md-checkbox>
                                <svg class="i-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"> <path d="M19,13H5a1,1,0,0,1,0-2H19a1,1,0,0,1,0,2Z" /></svg>
                                <svg class="i-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                                    <defs>
                                        <style>
                                            .aaa {
                                                fill: #fff;
                                                stroke: #707070;
                                            }

                                            .bbb {
                                                clip-path: url(#aaa);
                                            }

                                            .ccc {
                                                opacity: 0;
                                            }
                                        </style>
                                        <clipPath id="aaa"><rect class="aaa" width="24" height="24" transform="translate(1320 462)" /></clipPath>
                                    </defs>
                                    <g class="bbb" transform="translate(-1320 -462)"><g transform="translate(1320 462)"><rect class="ccc" width="24" height="24" transform="translate(24 24) rotate(180)" /><path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z" /></g></g>
                                </svg>
                            </button>
                            <div class="ez-accordion-panel" ng-class="{'active': tab1 == true}">
                                <div class="row">
                                    <!-- <div class="col-md-3 col-md-3" ng-repeat="item in [{},{},{},{}]">
                                        <md-checkbox class="margin-none font-18" ng-model="ch">xxxxxxxxxxxxxx</md-checkbox>
                                    </div>   -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="TravelExManPage delegation-page box-content col-sm-12" ng-controller="DataExample1Controller" ng-show="1">


        <h1>ประกาศทั้งหมด</h1>
        <div class="content-by-ayodia margin-b20 ">
            <div class="ayodia-header-content">
                <div class="ayodia-title w-100">
                    ประกาศทั้งหมด
                </div>
            </div>
            <div class="ayodia-body-content">
                <div class="row">
                    <div class="col-md-12 media-padding-col">
                        <div class="table-img-ayodia">
                            <div class="item-alert">
                                <a class="d-flex h-card" ng-repeat="item in [{},{},{},{},{},{},{},{},{},{},{},{},{},{}];">
                                    <div class="h-img show-pc" ng-style="{'background-image':'url(images/16_9.png)'}">
                                    </div>
                                    <img class="w-100 show-tablet margin-b10" src="images/16_9.png">
                                    <div>
                                        <div class="item-date">วันที่ประกาศ 12/07/2020 08:00</div>
                                        <div class="item-title">หัวข้อประกาศ หัวข้อประกาศ หัวข้อประกาศ หัวข้อประกาศ</div>

                                        <div class="item-detail show-pc">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Erat imperdiet sed euismod nisi porta lorem mollis aliquam…
                                            <u class="loadmore"> ดูรายละเอียด </u>
                                        </div>

                                        <div class="item-detail show-tablet">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Erat imperdiet sed euismod nisi porta lorem mollis aliquam…
                                            <u class="loadmore show-tablet"> ดูรายละเอียด </u>
                                        </div>

                                    </div>
                                </a>
                            </div>
                            <div class="h-footer">

                                <div>1-8 of 80 items</div>
                                <div>
                                    <ul uib-pagination
                                        total-items="25"
                                        ng-model="currentPage"
                                        max-size="10"
                                        items-per-page="10"
                                        class="pagination-sm"
                                        boundary-links="true"
                                        rotate="false"
                                        ng-change="loadDriverLicense()"
                                        first-text="<<"
                                        last-text=">>"
                                        previous-text="<"
                                        next-text=">"></ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="content-by-ayodia margin-b20 ">
            <div class="ayodia-header-content">
                <div class="ayodia-title w-100">
                    หัวข้อประกาศ หัวข้อประกาศ หัวข้อประกาศ1
                </div>
            </div>
            <div class="ayodia-body-content">
                <div class="row">
                    <div class="col-md-12 media-padding-col">

                        <img class="w-100 margin-b20" src="images/16_9.png">
                        <img class="w-100 mb-50" src="images/16_9.png">
                        <div class=" margin-b20">
                            <ng-bind-html ng-bind-html="expression"> </ng-bind-html>
                        </div>
                        <div class=" margin-b20">
                            <ng-bind-html ng-bind-html="expression"> </ng-bind-html>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="TravelExManPage delegation-page box-content col-sm-12" ng-controller="DataExample1Controller" ng-show="1">

        <h1>Home</h1>
        <div class="row  mb-50">
            <div class="w-100 f-c ">
                <div class="ayodia-main-menu-1 ">

                    <a class="i-main-menu">
                        <div style="position: relative;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="67.246" height="53.333" viewBox="0 0 67.246 53.333">
                                <path style="fill:#603912;" d="M96.812,5.8H70.145V2.319A2.326,2.326,0,0,0,67.826,0H42.319A2.326,2.326,0,0,0,40,2.319v9.275H87.536a4.651,4.651,0,0,1,4.638,4.638V48.7a4.638,4.638,0,1,0,9.275,0V10.435A4.651,4.651,0,0,0,96.812,5.8Zm0,0" transform="translate(-34.203)" />
                                <path style="fill:#00ADEE;" d="M62.609,121.739H4.638A4.651,4.651,0,0,1,0,117.1V84.638A4.651,4.651,0,0,1,4.638,80h48.7a4.651,4.651,0,0,1,4.638,4.638V117.1A4.651,4.651,0,0,0,62.609,121.739Zm0,0" transform="translate(0 -68.406)" />
                                <path style="fill:#00ADEE;" d="M424,88h2.319v35.942H424Zm0,0" transform="translate(-362.551 -75.246)" />
                                <path style="fill:#fff;" d="M120.464,128.232A16.232,16.232,0,1,1,104.232,112,16.232,16.232,0,0,1,120.464,128.232Zm0,0" transform="translate(-75.246 -95.768)" />
                                <path style="fill:#d2612d;" d="M116.146,126.073A14.073,14.073,0,1,1,102.073,112,14.073,14.073,0,0,1,116.146,126.073Zm0,0" transform="translate(-73.088 -93.609)" />
                                <path style="fill:#fff;" d="M127.848,178.746,122.4,173.3l1.624-1.624,3.826,3.826,13.1-13.1,1.624,1.624Zm0,0" transform="translate(-104.66 -138.862)" />
                            </svg>

                            <svg height="20" width="20" class="ay-alert-number pulse-svg">
                                <circle cx="10" cy="10" fill="red" r="9" class=""></circle>
                                <text dy=".3em" fill="white" font-family="Arial" font-size="9px" font-style="normal" text-anchor="middle" x="50%" y="50%" dx="0em"> 3</text>
                            </svg>
                        </div>
                        <div class="main-menu-d  text-center">การศึกษาบุตร</div>
                    </a>

                    <a class="i-main-menu">
                        <div style="position: relative;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="53.333" viewBox="0 0 60 53.333">
                                <g transform="translate(0 -3)">
                                    <path style="fill:#00ADEE;" d="M42.222,33.651v4.476a1.651,1.651,0,0,1-1.651,1.651H19.429a1.651,1.651,0,0,1-1.651-1.651V33.651A1.651,1.651,0,0,0,16.127,32H.258A.258.258,0,0,0,0,32.258V50.194a2.918,2.918,0,0,0,2.918,2.917H57.083A2.918,2.918,0,0,0,60,50.193V32.258A.258.258,0,0,0,59.742,32H43.873A1.651,1.651,0,0,0,42.222,33.651Z" transform="translate(0 3.222)" />
                                    <path style="fill:#d2612d;" d="M48.889,3H11.111L0,35.222v.257a.258.258,0,0,1,.258-.257H16.127a1.651,1.651,0,0,1,1.651,1.651v4.476A1.651,1.651,0,0,0,19.429,43H40.571a1.651,1.651,0,0,0,1.651-1.651V36.873a1.651,1.651,0,0,1,1.651-1.651H59.742a.258.258,0,0,1,.258.257v-.26Z" transform="translate(0 0)" />
                                    <path style="fill:#cfd8dc;" d="M15.238,32.889a1.651,1.651,0,0,1,1.651,1.651v4.476a1.651,1.651,0,0,0,1.651,1.651H39.682a1.651,1.651,0,0,0,1.651-1.651V34.54a1.651,1.651,0,0,1,1.651-1.651h7.238V24H8v8.889Z" transform="translate(0.889 2.333)" />
                                    <rect style="fill:#b0bec5;" width="36" height="9" transform="translate(12 17)" />
                                    <rect style="fill:#98a5ac;" width="28" height="8" transform="translate(16 9)" />
                                </g>
                            </svg>


                        </div>
                        <div class="main-menu-d  text-center">เอกสารของฉัน</div>
                    </a>

                    <a class="i-main-menu">
                        <div style="position: relative;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="59.233" height="58" viewBox="0 0 59.233 58">
                                <g transform="translate(0 -5.332)">
                                    <path style="fill:#00ADEE;" d="M68.744,343.339a6.17,6.17,0,0,1-4.739,2.221H17.113a6.17,6.17,0,0,1-4.739-2.221l22.632-18.856,2.345,1.6a5.649,5.649,0,0,0,6.417,0l2.345-1.6Z" transform="translate(-10.942 -282.229)" />
                                    <path style="fill:#603912;" d="M66.449,168.026,43.472,183.747l-2.345,1.6a5.649,5.649,0,0,1-6.417,0l-2.345-1.6L9.388,168a6.2,6.2,0,0,1,5.084-2.665H61.365A6.088,6.088,0,0,1,66.449,168.026Z" transform="translate(-8.302 -141.493)" />
                                    <g transform="translate(0 26.508)">
                                        <path style="fill:#d2612d;" d="M24.064,204.123,1.432,222.979A6.142,6.142,0,0,1,0,219.03V191.882a6.081,6.081,0,0,1,1.086-3.5Z" transform="translate(0 -188.377)" />
                                        <path style="fill:#d2612d;" d="M328.065,192.07v27.149a6.143,6.143,0,0,1-1.431,3.949L304,204.311l22.978-15.721A6.061,6.061,0,0,1,328.065,192.07Z" transform="translate(-268.831 -188.565)" />
                                    </g>
                                    <path style="fill:#cfd8dc;" d="M90.794,5.336H58.709A1.234,1.234,0,0,0,57.475,6.57V20.144H43.9a1.234,1.234,0,0,0-1.234,1.234v7.4a1.234,1.234,0,0,0,.538,1.019L63.443,43.643a6.911,6.911,0,0,0,7.814,0L91.495,29.8a1.234,1.234,0,0,0,.533-1.014V6.57A1.234,1.234,0,0,0,90.794,5.336Z" transform="translate(-37.731 -0.004)" />
                                    <path style="fill:#b0bec5;" d="M59.164,5.426a1.234,1.234,0,0,0-1.345.267L43.011,20.5a1.234,1.234,0,0,0,.874,2.108H58.693a1.234,1.234,0,0,0,1.234-1.234V6.566A1.234,1.234,0,0,0,59.164,5.426Z" transform="translate(-37.714)" />
                                </g>
                            </svg>


                        </div>
                        <div class=" main-menu-d  text-center">วันลา</div>
                    </a>

                    <a class="i-main-menu">
                        <div style="position: relative;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="58.006" height="58" viewBox="0 0 58.006 58">
                                <g transform="translate(0 -0.5)">
                                    <path style="fill:#e1e6e9;" d="M45.685,58.5H2.906A2.906,2.906,0,0,1,0,55.594V3.406A2.906,2.906,0,0,1,2.906.5H45.685a2.906,2.906,0,0,1,2.906,2.906V55.594A2.906,2.906,0,0,1,45.685,58.5Zm0,0" />
                                    <path style="fill:#d2612d;" d="M0,8.558V3.406A2.906,2.906,0,0,1,2.906.5H45.685a2.906,2.906,0,0,1,2.906,2.906V8.558Zm0,0" />
                                    <path style="fill:#d2612d;" d="M92.75,132.463H59.675a1.124,1.124,0,0,1-1.125-1.124v-5.5a1.124,1.124,0,0,1,1.125-1.124H92.75a1.124,1.124,0,0,1,1.125,1.124v5.5A1.124,1.124,0,0,1,92.75,132.463Zm0,0" transform="translate(-51.917 -110.146)" />
                                    <g transform="translate(6.428 27.455)">
                                        <path style="fill:#00ADEE;" d="M146.521,437.008a.878.878,0,0,1-.809-1.215c.06-.143.119-.292.181-.444.521-1.294,1.169-2.9,2.639-3.644,1.9-.956,2.761.673,3.174,1.456a2.92,2.92,0,0,0,.508.783c.1.071.146.106.79-.324a2.67,2.67,0,0,1,2.413-.6,3.862,3.862,0,0,1,1.47.974c.5.474.636.6,1.345.331a6.555,6.555,0,0,0,1.583-1.018.877.877,0,1,1,1.081,1.381,7.971,7.971,0,0,1-2.039,1.276,2.655,2.655,0,0,1-3.176-.7,2.3,2.3,0,0,0-.821-.584c-.183-.061-.467.116-.881.393a2.27,2.27,0,0,1-2.8.283,3.835,3.835,0,0,1-1.025-1.381c-.47-.892-.5-.877-.835-.708-.878.442-1.368,1.659-1.8,2.732-.064.16-.127.316-.189.465A.877.877,0,0,1,146.521,437.008Zm0,0" transform="translate(-135.572 -409.549)" />
                                        <path style="fill:#00ADEE;" d="M59.252,240.18H57.615a.877.877,0,1,1,0-1.754h1.637a.877.877,0,1,1,0,1.754Zm0,0" transform="translate(-56.738 -238.426)" />
                                        <path style="fill:#00ADEE;" d="M124.335,240.18H107.666a.877.877,0,1,1,0-1.754h16.669a.877.877,0,0,1,0,1.754Zm0,0" transform="translate(-101.119 -238.426)" />
                                        <path style="fill:#00ADEE;" d="M79.955,271.75H57.615a.877.877,0,1,1,0-1.754H79.955a.877.877,0,0,1,0,1.754Zm0,0" transform="translate(-56.738 -266.419)" />
                                        <path style="fill:#00ADEE;" d="M59.252,313.547H57.615a.877.877,0,1,1,0-1.754h1.637a.877.877,0,0,1,0,1.754Zm0,0" transform="translate(-56.738 -303.481)" />
                                        <path style="fill:#00ADEE;" d="M124.335,313.547H107.666a.877.877,0,1,1,0-1.754h16.669a.877.877,0,0,1,0,1.754Zm0,0" transform="translate(-101.119 -303.481)" />
                                        <path style="fill:#00ADEE;" d="M197.54,376.684h-7.315a.877.877,0,1,1,0-1.754h7.315a.877.877,0,0,1,0,1.754Zm0,0" transform="translate(-174.324 -359.465)" />
                                        <path style="fill:#00ADEE;" d="M68.605,376.684H57.615a.877.877,0,1,1,0-1.754h10.99a.877.877,0,1,1,0,1.754Zm0,0" transform="translate(-56.738 -359.465)" />
                                        <path style="fill:#00ADEE;" d="M79.955,345.117H57.615a.877.877,0,1,1,0-1.754H79.955a.877.877,0,0,1,0,1.754Zm0,0" transform="translate(-56.738 -331.475)" />
                                    </g>
                                    <path style="fill:#00ADEE;" d="M319.345,226.865l-10.188-4.008a2,2,0,0,0-1.466,0L297.5,226.865a2,2,0,0,0-1.265,1.733c-.227,3.571.2,16.924,11.477,21.262a1.976,1.976,0,0,0,1.417,0c11.274-4.338,11.7-17.691,11.477-21.262A2,2,0,0,0,319.345,226.865Zm0,0" transform="translate(-262.643 -197.042)" />
                                    <path style="fill:#ffb541;" d="M346.853,261.374l-6.881-2.707a1.351,1.351,0,0,0-.99,0l-6.881,2.707a1.35,1.35,0,0,0-.855,1.171c-.154,2.412.137,11.546,7.752,14.476a1.332,1.332,0,0,0,.957,0c7.615-2.93,7.906-12.064,7.752-14.476A1.349,1.349,0,0,0,346.853,261.374Zm0,0" transform="translate(-293.696 -228.835)" />
                                    <path style="fill:#fff5f5;" d="M367.995,315.7a1.461,1.461,0,0,0,.139,2.095l2.293,1.944a1.461,1.461,0,0,0,1.972-.076l4.44-4.392a1.461,1.461,0,0,0-.071-2.143l-.138-.12a1.461,1.461,0,0,0-2.012.094l-3.082,3.217a.465.465,0,0,1-.647.024l-.833-.75A1.461,1.461,0,0,0,367.995,315.7Zm0,0" transform="translate(-325.969 -276.783)" />
                                </g>
                            </svg>

                        </div>
                        <div class="main-menu-d  text-center">สร้างหนังสือรับรอง</div>
                    </a>

                    <a class="i-main-menu">
                        <div style="position: relative;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40.42" height="58" viewBox="0 0 40.42 58">
                                <g id="salary" transform="translate(-817 -198)">
                                    <path id="Path_71" data-name="Path 71" d="M22.823,0l-10.2,10.2V55.68A2.32,2.32,0,0,0,14.942,58h35.78a2.32,2.32,0,0,0,2.32-2.32V2.32A2.32,2.32,0,0,0,50.722,0Z" transform="translate(804.378 198)" fill="#e1e6e9" />
                                    <path id="Path_45" data-name="Path 45" d="M22.823,10.2V0l-10.2,10.2Z" transform="translate(804.378 198)" fill="#d5d6db" />
                                    <path id="Shape" d="M32,40.5a1,1,0,0,0,2,0,4.655,4.655,0,0,0-4-4.409V36a1,1,0,0,0-2,0v.091a4.43,4.43,0,0,0,0,8.818v4.937A2.575,2.575,0,0,1,26,47.5a1,1,0,0,0-2,0,4.655,4.655,0,0,0,4,4.409V52a1,1,0,0,0,2,0v-.091a4.43,4.43,0,0,0,0-8.818V38.154A2.575,2.575,0,0,1,32,40.5Zm-6,0a2.575,2.575,0,0,1,2-2.346v4.692A2.575,2.575,0,0,1,26,40.5Zm6,7a2.575,2.575,0,0,1-2,2.346V45.154A2.575,2.575,0,0,1,32,47.5Z" transform="translate(817 198)" fill="#d2612d" />
                                    <path id="Shape-2" data-name="Shape" d="M11,51H8V48a1,1,0,0,0-2,0v4a1,1,0,0,0,1,1h4a1,1,0,0,0,0-2Z" transform="translate(817 198)" fill="#603912" />
                                    <path id="Shape-3" data-name="Shape" d="M7,21H34a1,1,0,0,0,0-2H7a1,1,0,0,0,0,2Z" transform="translate(817 198)" fill="#603912" />
                                    <path id="Shape-4" data-name="Shape" d="M34,25H7a1,1,0,0,0,0,2H34a1,1,0,0,0,0-2Z" transform="translate(817 198)" fill="#603912" />
                                    <path id="Shape-5" data-name="Shape" d="M34,31H7a1,1,0,0,0,0,2H34a1,1,0,0,0,0-2Z" transform="translate(817 198)" fill="#603912" />
                                    <path id="Shape-6" data-name="Shape" d="M21,37H7a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2Z" transform="translate(817 198)" fill="#603912" />
                                </g>
                            </svg>
                        </div>
                        <div class=" main-menu-d  text-center">เงินเดือน</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="TravelExManPage delegation-page box-content">
            <div class="content-by-ayodia margin-b20">
                <div class="ayodia-header-content news-page">
                    <div class="ayodia-title w-100">
                        ข่าวประชาสัมพันธ์
                    </div>
                </div>
                <div class="ayodia-body-content">


                    <div class="mb-50-pc clearfix">
                        <div class="carousel-ayodia mb-50">
                            <div class="ayodia-slider" ng-if="slides != null">
                                <div ng-repeat="item in slides">
                                    <a class="image-popup-no-margins" href="{{item.image}}">
                                        <img class="d-block w-100" src="{{item.image}}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 media-padding-col">
                            <div class="ayodia-ez-accordion margin-b20">
                                <button class="ez-accordion" ng-class="{'active': tab1 == true}" ng-click="tab1 = !tab1">
                                    หลักการคิดคำนวณค่าล่วงเวลา และลำดับการอนุมัติค่าล่วงเวลาในแต่ละกรณีบนระบบ EMPPOWER
                                    <svg class="i-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"> <path d="M19,13H5a1,1,0,0,1,0-2H19a1,1,0,0,1,0,2Z" /></svg>
                                    <svg class="i-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                                        <defs>
                                            <style>
                                                .aaa {
                                                    fill: #fff;
                                                    stroke: #707070;
                                                }

                                                .bbb {
                                                    clip-path: url(#aaa);
                                                }

                                                .ccc {
                                                    opacity: 0;
                                                }
                                            </style>
                                            <clipPath id="aaa"><rect class="aaa" width="24" height="24" transform="translate(1320 462)" /></clipPath>
                                        </defs>
                                        <g class="bbb" transform="translate(-1320 -462)"><g transform="translate(1320 462)"><rect class="ccc" width="24" height="24" transform="translate(24 24) rotate(180)" /><path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z" /></g></g>
                                    </svg>
                                </button>
                                <div class="ez-accordion-panel" ng-class="{'active': tab1 == true}">
                                    <div class="row">
                                        <div class="">
                                            <ng-bind-html ng-bind-html="expressionxxx"> </ng-bind-html>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="ayodia-ez-accordion margin-b20">

                                <button class="ez-accordion" ng-class="{'active': tab2 == true}" ng-click="tab2 = !tab2">
                                    หลักการคิดคำนวณค่าล่วงเวลา และลำดับการอนุมัติค่าล่วงเวลาในแต่ละกรณีบนระบบ EMPPOWER
                                    <svg class="i-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"> <path d="M19,13H5a1,1,0,0,1,0-2H19a1,1,0,0,1,0,2Z" /></svg>
                                    <svg class="i-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                                        <defs>
                                            <style>
                                                .aaa {
                                                    fill: #fff;
                                                    stroke: #707070;
                                                }

                                                .bbb {
                                                    clip-path: url(#aaa);
                                                }

                                                .ccc {
                                                    opacity: 0;
                                                }
                                            </style>
                                            <clipPath id="aaa"><rect class="aaa" width="24" height="24" transform="translate(1320 462)" /></clipPath>
                                        </defs>
                                        <g class="bbb" transform="translate(-1320 -462)"><g transform="translate(1320 462)"><rect class="ccc" width="24" height="24" transform="translate(24 24) rotate(180)" /><path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z" /></g></g>
                                    </svg>
                                </button>
                                <div class="ez-accordion-panel" ng-class="{'active': tab2 == true}">
                                    <div class="row">
                                        <div class="font-18">
                                            <ng-bind-html ng-bind-html="expressionxxx"> </ng-bind-html>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="ayodia-ez-accordion margin-b20">
                                <button class="ez-accordion" ng-class="{'active': tab3 == true}" ng-click="tab3 = !tab3">
                                    หลักการคิดคำนวณค่าล่วงเวลา และลำดับการอนุมัติค่าล่วงเวลาในแต่ละกรณีบนระบบ EMPPOWER
                                    <svg class="i-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"> <path d="M19,13H5a1,1,0,0,1,0-2H19a1,1,0,0,1,0,2Z" /></svg>
                                    <svg class="i-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                                        <defs>
                                            <style>
                                                .aaa {
                                                    fill: #fff;
                                                    stroke: #707070;
                                                }

                                                .bbb {
                                                    clip-path: url(#aaa);
                                                }

                                                .ccc {
                                                    opacity: 0;
                                                }
                                            </style>
                                            <clipPath id="aaa"><rect class="aaa" width="24" height="24" transform="translate(1320 462)" /></clipPath>
                                        </defs>
                                        <g class="bbb" transform="translate(-1320 -462)"><g transform="translate(1320 462)"><rect class="ccc" width="24" height="24" transform="translate(24 24) rotate(180)" /><path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z" /></g></g>
                                    </svg>
                                </button>
                                <div class="ez-accordion-panel" ng-class="{'active': tab3 == true}">
                                    <div class="row">
                                        <div class="font-18">
                                            <ng-bind-html ng-bind-html="expressionxxx"> </ng-bind-html>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="ayodia-ez-accordion margin-b20">
                                <button class="ez-accordion" ng-class="{'active': tab4 == true}" ng-click="tab4 = !tab4">
                                    หลักการคิดคำนวณค่าล่วงเวลา และลำดับการอนุมัติค่าล่วงเวลาในแต่ละกรณีบนระบบ EMPPOWER
                                    <svg class="i-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"> <path d="M19,13H5a1,1,0,0,1,0-2H19a1,1,0,0,1,0,2Z" /></svg>
                                    <svg class="i-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                                        <defs>
                                            <style>
                                                .aaa {
                                                    fill: #fff;
                                                    stroke: #707070;
                                                }

                                                .bbb {
                                                    clip-path: url(#aaa);
                                                }

                                                .ccc {
                                                    opacity: 0;
                                                }
                                            </style>
                                            <clipPath id="aaa"><rect class="aaa" width="24" height="24" transform="translate(1320 462)" /></clipPath>
                                        </defs>
                                        <g class="bbb" transform="translate(-1320 -462)"><g transform="translate(1320 462)"><rect class="ccc" width="24" height="24" transform="translate(24 24) rotate(180)" /><path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z" /></g></g>
                                    </svg>
                                </button>
                                <div class="ez-accordion-panel" ng-class="{'active': tab4 == true}">
                                    <div class="row">
                                        <div class="font-18">
                                            <ng-bind-html ng-bind-html="expressionxxx"> </ng-bind-html>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="TravelExManPage delegation-page box-content col-sm-12" ng-controller="DataExample1Controller" ng-show="1">


        <h1>{{Text['APPLICATION']['LEAVE_TIME_MANAGEMENT_SYSTEM']}}</h1>
        <div class="content-by-ayodia margin-b20 " ng-init="tabMenu = 1;">
            <div class="ayodia-header-content">
                <div class="ayodia-title w-100">
                    {{Text['APPLICATION']['LEAVE_TIME_MANAGEMENT_SYSTEM']}}
                </div>
            </div>
            <div class="ayodia-body-content-section-1 show-pc">
                <div class="row ">
                    <div class="col-sm-12">
                        <div class="filter-export-box w clearfix margin-b20">
                            <div class="filter-items-l clearfix">
                                <div class="f-item">
                                    <label>{{Text['HRTMABSENCE']['SELECT_YEAR']}} : </label>
                                    <select class="form-control w240px-desktop" ng-model="selectYearLeaveRequest" ng-change="getListAbsense(selectYearLeaveRequest);">
                                        <option ng-if="listYearLeaveRequest.length > 0" ng-repeat="year in listYearLeaveRequest" value="{{year}}">
                                            {{year}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="filter-items-r">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="ayodia-menubar-2">
                    <div class="i-menubar" ng-class="{'active': tabMenu == 1}" ng-click="tabMenu = 1;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                            <g transform="translate(-185 -272)">
                                <g transform="translate(185 272)">
                                    <path class="c" d="M23.588,8.758,22.415,7.584a1.408,1.408,0,0,0-1.989,0l-2.472,2.472V2.109A2.112,2.112,0,0,0,15.844,0H2.11A2.112,2.112,0,0,0,0,2.109V21.891A2.112,2.112,0,0,0,2.11,24H15.844a2.112,2.112,0,0,0,2.109-2.109v-5.58l5.635-5.565a1.408,1.408,0,0,0,0-1.989Zm-8.409,8.317-2.115.987.986-2.113L19.3,10.7l1.16,1.16Zm1.368,4.816a.7.7,0,0,1-.7.7H2.11a.7.7,0,0,1-.7-.7V2.109a.7.7,0,0,1,.7-.7H15.844a.7.7,0,0,1,.7.7v9.353c-3.9,3.9-3.644,3.619-3.719,3.779l-1.856,3.978a.7.7,0,0,0,.934.934L15.884,18.3c.146-.068.17-.11.663-.6ZM21.46,10.872,20.293,9.705,21.42,8.578l1.173,1.174Z" />
                                    <path class="c" d="M3.75,5.953h10.5a.7.7,0,0,0,0-1.406H3.75a.7.7,0,0,0,0,1.406Z" />
                                    <path class="c" d="M3.75,9.7H12A.7.7,0,0,0,12,8.3H3.75a.7.7,0,0,0,0,1.406Z" />
                                    <path class="c" d="M9.75,12.047h-6a.7.7,0,0,0,0,1.406h6a.7.7,0,0,0,0-1.406Z" />
                                </g>
                            </g>
                        </svg>
                        <div class="font-16 font-basic-color text-d text-center"> วันลา </div>
                    </div>
                    <div class="i-menubar" ng-class="{'active': tabMenu == 2}" ng-click="tabMenu = 2;">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                            <g transform="translate(-408 -272)">
                                <g transform="translate(408 272)">
                                    <path d="M20.1,15.38l-2.155,2.154-.829-.829a.7.7,0,0,0-.994.994l1.326,1.326a.7.7,0,0,0,.994,0L21.1,16.374a.7.7,0,0,0-.994-.994Z" />
                                    <path class="c" d="M10.249,15.16c-.109-.038-.219-.078-.33-.119V13.057a.861.861,0,0,1,.323.186.586.586,0,0,0,.88-.773,2.079,2.079,0,0,0-1.2-.616v-.323a.586.586,0,0,0-1.172,0v.388l-.124.035a2.014,2.014,0,0,0-1.381,1.579,1.787,1.787,0,0,0,.59,1.76,4.449,4.449,0,0,0,.915.534V18.4a1.843,1.843,0,0,1-.828-.348.586.586,0,0,0-.641.981,2.9,2.9,0,0,0,1.469.546v.389a.586.586,0,0,0,1.172,0v-.444a2.334,2.334,0,0,0,1.032-.553,2.447,2.447,0,0,0,.754-1.39,2.116,2.116,0,0,0-1.455-2.422ZM8.556,14.37a.641.641,0,0,1-.161-.621.906.906,0,0,1,.353-.57V14.5A2.214,2.214,0,0,1,8.556,14.37Zm1.993,3.017a1.26,1.26,0,0,1-.63.891V16.288A.95.95,0,0,1,10.549,17.387Z" />
                                    <path class="c" d="M23.3,12.281a2.318,2.318,0,0,1-2.085-1.288l-.1-.2a.7.7,0,0,0-.629-.389h-3.75a.7.7,0,0,0-.629.389l-.1.2a2.38,2.38,0,0,1-.125.22,34,34,0,0,0-2.991-3.437v-2.3A7.33,7.33,0,0,0,14.3,1.172V.7a.7.7,0,0,0-.7-.7h-.469a9.288,9.288,0,0,0-3.75,1.254A9.288,9.288,0,0,0,5.625,0H5.156a.7.7,0,0,0-.7.7v.469A7.33,7.33,0,0,0,5.859,5.478v2.3C2.928,10.789,0,14.419,0,18.609v.05A5.4,5.4,0,0,0,5.429,24h7.893a5.472,5.472,0,0,0,3.1-.966,7.275,7.275,0,0,0,1.983.937.7.7,0,0,0,.4,0A7.281,7.281,0,0,0,24,17V12.984a.7.7,0,0,0-.7-.7ZM7.266,5.953h4.219V7.359H7.266ZM9.014,2.666a.7.7,0,0,0,.721,0,9.978,9.978,0,0,1,3.15-1.246,5.849,5.849,0,0,1-1.06,3.127h-4.9A5.849,5.849,0,0,1,5.864,1.42a9.977,9.977,0,0,1,3.15,1.246ZM5.429,22.594a3.991,3.991,0,0,1-4.022-3.936v-.048c0-3.687,2.722-7.036,5.452-9.844h5.033A32.352,32.352,0,0,1,14.8,12.112a2.339,2.339,0,0,1-.876.169.7.7,0,0,0-.7.7V17a7.229,7.229,0,0,0,1.439,4.346,7.378,7.378,0,0,0,.631.741,4.064,4.064,0,0,1-1.968.51ZM22.594,17a5.836,5.836,0,0,1-3.984,5.562A5.836,5.836,0,0,1,14.625,17V13.622a3.71,3.71,0,0,0,2.537-1.81h2.895a3.71,3.71,0,0,0,2.537,1.81Z" />
                                </g>
                            </g>
                        </svg>
                        <div class="font-16 font-basic-color text-d  text-center"> กองทุนสำรอง เลี้ยงชีพ </div>
                    </div>

                    <div class="i-menubar" ng-class="{'active': tabMenu == 3}" ng-click="tabMenu = 3;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             width="24" height="24" viewBox="0 0 24 24">
                            <g transform="translate(-521 -272)">
                                <g transform="translate(521 272)"><path d="M21.844,4.124H16.4A2.625,2.625,0,0,0,12.394.768,2.1,2.1,0,0,0,12,1.331a2.1,2.1,0,0,0-.394-.563A2.625,2.625,0,0,0,7.6,4.124H2.156A2.159,2.159,0,0,0,0,6.281V7.968a2.16,2.16,0,0,0,1.5,2.054V21.843A2.159,2.159,0,0,0,3.656,24H20.344A2.159,2.159,0,0,0,22.5,21.843V10.022A2.16,2.16,0,0,0,24,7.968V6.281A2.159,2.159,0,0,0,21.844,4.124Zm-9.094,4.5h-1.5v-3h1.5Zm.176-5.135c.232-1.332.5-1.631.528-1.661A1.125,1.125,0,1,1,15.046,3.42c-.029.029-.326.295-1.649.526-.192.034-.38.062-.554.085C12.866,3.862,12.894,3.678,12.926,3.49ZM8.954,1.829a1.126,1.126,0,0,1,1.591,0c.029.029.295.326.526,1.649.034.192.062.38.085.554-.169-.023-.353-.05-.541-.083-1.332-.232-1.631-.5-1.661-.528a1.126,1.126,0,0,1,0-1.591ZM1.5,6.281a.657.657,0,0,1,.656-.656H9.75v3H2.156A.657.657,0,0,1,1.5,7.968ZM3,21.843V10.124H9.75V22.5H3.656A.657.657,0,0,1,3,21.843Zm8.25.656V10.124h1.5V22.5ZM21,21.843a.657.657,0,0,1-.656.656H14.25V10.124H21ZM22.5,7.968a.657.657,0,0,1-.656.656H14.25v-3h7.594a.657.657,0,0,1,.656.656Z" /></g>
                            </g>
                        </svg>
                        <div class="font-16 font-basic-color text-d  text-center"> สวัสดิการทางเลือก </div>
                    </div>
                    <div class="i-menubar" ng-class="{'active': tabMenu == 4}" ng-click="tabMenu = 4;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             width="24" height="24" viewBox="0 0 24 24">
                            <g transform="translate(-632 -272)">
                                <path d="M22.594,17.1V7.388l.949-.354a.7.7,0,0,0,0-1.317L12.246,1.5a.7.7,0,0,0-.492,0L.457,5.716a.7.7,0,0,0,0,1.317L5.138,8.782a13.3,13.3,0,0,0-.873,5.327.7.7,0,0,0,.964.653,10.181,10.181,0,0,1,3.255-.653,6.029,6.029,0,0,1,3.076,1.252.7.7,0,0,0,.878,0,5.885,5.885,0,0,1,3.076-1.252,10.254,10.254,0,0,1,3.254.653.7.7,0,0,0,.964-.653,13.4,13.4,0,0,0-.873-5.327l2.326-.869V17.1a2.3,2.3,0,0,0-.92,1.032,5.264,5.264,0,0,0-.486,2.3v1.406a.7.7,0,0,0,.7.7H23.3a.7.7,0,0,0,.7-.7V20.438a5.264,5.264,0,0,0-.486-2.3,2.3,2.3,0,0,0-.92-1.032ZM12,2.907l9.287,3.468L12,9.843,2.713,6.375Zm6.322,10.229a10.624,10.624,0,0,0-2.807-.432A6.847,6.847,0,0,0,12,13.948,6.847,6.847,0,0,0,8.484,12.7a10.624,10.624,0,0,0-2.807.432,11.655,11.655,0,0,1,.778-3.862l5.3,1.979a.7.7,0,0,0,.492,0l5.3-1.979a11.657,11.657,0,0,1,.778,3.862Zm4.271,8.005H21.188v-.7a3.9,3.9,0,0,1,.338-1.674c.18-.359.341-.435.365-.435s.186.076.365.435a3.9,3.9,0,0,1,.338,1.674Z" transform="translate(632 272)" />
                            </g>
                        </svg>
                        <div class="font-16 font-basic-color text-d  text-center"> การศึกษาบุตร </div>
                    </div>

                    <div class="i-menubar" ng-class="{'active': tabMenu == 5}" ng-click="tabMenu = 5;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             width="24" height="24" viewBox="0 0 24 24">
                            <g transform="translate(-744 -272)">
                                <g transform="translate(744 272)">
                                    <path d="M22.563,4.827a5.429,5.429,0,0,0-8.2,7.108l-1.081,1-2.081.577A4.632,4.632,0,0,0,9.42,9.869,4.905,4.905,0,1,0,0,7.782,13.469,13.469,0,0,0,2.162,14.47a16.789,16.789,0,0,0,6.675,6.371l.228.115.249-.058a19.539,19.539,0,0,0,6.8-3.948,30.064,30.064,0,0,0,2.77-3.021,5.431,5.431,0,0,0,3.679-9.1Zm-7.41,11.1a18.8,18.8,0,0,1-5.916,3.541C3.853,16.61,1.315,10.5,1.409,7.831h0a3.5,3.5,0,1,1,6.5,1.912l-.368.615.621.356a3.232,3.232,0,0,1,1.627,2.919,6.294,6.294,0,0,1-.1.7l-.214,1.113,4.5-1.248,1.4-1.291a5.4,5.4,0,0,0,1.81.858A26.782,26.782,0,0,1,15.153,15.924ZM22.59,8.671a4.024,4.024,0,1,1-4.025-4.189c.056,0,.112,0,.168,0A4.024,4.024,0,0,1,22.59,8.671Z" />
                                    <path class="c" d="M20.036,7.155A1.994,1.994,0,1,0,18.488,10.5l.083,0a1.994,1.994,0,0,0,1.465-3.346ZM18.968,8.939a.588.588,0,1,1-.4-1.021h.025a.588.588,0,0,1,.375,1.02Z" />
                                </g>
                            </g>
                        </svg>
                        <div class="font-16 font-basic-color text-d  text-center"> สถานออกกำลังกาย </div>
                    </div>
                    <div class="i-menubar" ng-class="{'active': tabMenu == 6}" ng-click="tabMenu = 6;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             width="24" height="24" viewBox="0 0 24 24">
                            <g transform="translate(-857 -272)">
                                <g transform="translate(857 272)">
                                    <path d="M23.462,13.454a2.112,2.112,0,0,0-.08-2.9L18.2,5.377a2.861,2.861,0,1,0-3.5-.624,5.407,5.407,0,0,0-3.164,3.982L7.732,7.7,6.479,5.5a2.862,2.862,0,1,0-3.226-.748A5.4,5.4,0,0,0,0,9.7v6.563a.7.7,0,0,0,.7.7h.542L.073,21.344a2.109,2.109,0,0,0,1.492,2.583A2.119,2.119,0,0,0,2.114,24a2.112,2.112,0,0,0,2.034-1.564L4.479,21.2l.331,1.237a2.109,2.109,0,1,0,4.075-1.092L7.5,16.174V12l3.578.976a2.113,2.113,0,0,0,.38.066v3.219a.7.7,0,0,0,.7.7h.7V23.3a.7.7,0,0,0,.7.7h3.281a.7.7,0,0,0,.7-.61l.934-7,.867-3.9.971.971a2.1,2.1,0,0,0-.536,1.4v.469a.7.7,0,0,0,1.406,0v-.469a.7.7,0,0,1,1.406,0V23.3A.7.7,0,1,0,24,23.3V14.859a2.1,2.1,0,0,0-.538-1.405ZM15.395,2.859a1.453,1.453,0,1,1,1.453,1.453A1.455,1.455,0,0,1,15.395,2.859Zm-11.457,0A1.453,1.453,0,1,1,5.391,4.313,1.455,1.455,0,0,1,3.937,2.859ZM2.789,22.072a.7.7,0,0,1-1.358-.364L2.7,16.969h.645l.406,1.514Zm4.667.17a.7.7,0,0,1-1.288-.17L4.8,16.969H6.257l1.27,4.74A.7.7,0,0,1,7.457,22.242ZM5.9,10.111a1.175,1.175,0,0,1-.732-.591L4.608,8.442a.7.7,0,0,0-1.248.648l.559,1.078a2.585,2.585,0,0,0,1.61,1.3l.564.154v3.941H1.406V9.7A3.99,3.99,0,0,1,4.994,5.738L6.655,8.646a.7.7,0,0,0,.425.329l4.737,1.292a.7.7,0,0,1-.37,1.357ZM16.232,22.594H14.27V16.969h2.713Zm.989-7.031H12.864V12.657a2.109,2.109,0,0,0,.026-3.405,4,4,0,0,1,3.677-3.523l5.821,5.821a.7.7,0,1,1-.994.994L16.408,7.558a.7.7,0,0,0-.994.994l2.754,2.754Z" />
                                </g>
                            </g>
                        </svg>
                        <div class="font-16 font-basic-color text-d  text-center"> ค่ารักษาพยาบาล บุพการี </div>
                    </div>

                    <div class="i-menubar" ng-class="{'active': tabMenu == 7}" ng-click="tabMenu = 7;">

                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             width="24" height="24" viewBox="0 0 24 24">
                            <g transform="translate(-1193 -272)">
                                <g transform="translate(1193 272)">
                                    <path d="M20.935,4.893,16.247.206A.7.7,0,0,0,15.75,0H5.438A2.581,2.581,0,0,0,2.859,2.578V21.422A2.581,2.581,0,0,0,5.438,24H18.563a2.581,2.581,0,0,0,2.578-2.578V5.391A.7.7,0,0,0,20.935,4.893ZM16.453,2.4,18.74,4.688H16.453Zm2.109,20.193H5.438a1.173,1.173,0,0,1-1.172-1.172V2.578A1.173,1.173,0,0,1,5.438,1.406h9.609V5.391a.7.7,0,0,0,.7.7h3.984V21.422A1.173,1.173,0,0,1,18.563,22.594Z" />
                                    <path class="c" d="M16.688,9.469A2.318,2.318,0,0,1,14.6,8.18l-.1-.2a.7.7,0,0,0-.629-.389h-3.75a.7.7,0,0,0-.629.389l-.1.2A2.318,2.318,0,0,1,7.313,9.469a.7.7,0,0,0-.7.7v4.012A7.281,7.281,0,0,0,11.8,21.158a.7.7,0,0,0,.4,0,7.281,7.281,0,0,0,5.189-6.974V10.172a.7.7,0,0,0-.7-.7Zm-.7,4.715A5.836,5.836,0,0,1,12,19.746a5.836,5.836,0,0,1-3.984-5.562V10.809A3.71,3.71,0,0,0,10.553,9h2.895a3.71,3.71,0,0,0,2.537,1.81Z" />
                                    <path class="c" d="M13.492,12.568l-2.154,2.154-.829-.829a.7.7,0,0,0-.994.994l1.326,1.326a.7.7,0,0,0,.994,0l2.652-2.652a.7.7,0,0,0-.994-.994Z" />
                                </g>
                            </g>
                        </svg>
                        <div class="font-16 font-basic-color text-d  text-center"> สวัสดิการอื่นๆ </div>
                    </div>
                    <div class="i-menubar" ng-class="{'active': tabMenu == 8}" ng-click="tabMenu = 8;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             width="24" height="24" viewBox="0 0 24 24">
                            <g transform="translate(-1305 -272)">
                                <g transform="translate(1305 272)">
                                    <path d="M23.984,23.44c.023-.107.015.549.015-14.44a.706.706,0,0,0-.225-.516c.013,0-.171-.131-3.571-2.6V3.61A2.112,2.112,0,0,0,18.093,1.5h-.981A2.113,2.113,0,0,0,15.094,0H5.907A2.112,2.112,0,0,0,3.8,2.11V5.884C.015,8.633.25,8.449.167,8.548a.7.7,0,0,0-.146.293C-.009,8.965,0,8.1,0,23.294a.7.7,0,0,0,.612.7C.69,24,23.349,24,23.3,24a.7.7,0,0,0,.688-.558ZM1.408,10.384l7.87,5.743-7.87,5.78ZM12,15.872l9.151,6.721H2.85Zm10.592-5.488V21.907l-7.87-5.78ZM22.1,9l-1.9,1.386V7.622ZM18.8,3.61v7.8L17.2,12.576V2.907h.891a.7.7,0,0,1,.7.7ZM5.907,1.407h9.186a.7.7,0,0,1,.7.7V13.6l-2.262,1.651-.7-.515a1.4,1.4,0,0,0-1.665,0s-.056.041-.7.515L5.2,11.413V2.11A.7.7,0,0,1,5.907,1.407ZM3.8,7.622v2.766L1.9,9l1.9-1.38Z" />
                                    <path class="c" d="M11.281,7.389a5.012,5.012,0,0,1-1.208-.557.275.275,0,0,1-.027-.216.391.391,0,0,1,.25-.309.849.849,0,0,1,.749.1A.7.7,0,0,0,12,5.375a2.288,2.288,0,0,0-.792-.427V4.89a.7.7,0,0,0-1.406,0v.1a1.761,1.761,0,0,0-.593,2.947,5.869,5.869,0,0,0,1.606.776.469.469,0,0,1,.352.561.667.667,0,0,1-.668.567A1.247,1.247,0,0,1,9.574,9.6a.7.7,0,1,0-.77,1.177A2.545,2.545,0,0,0,9.8,11.2v.068a.7.7,0,1,0,1.406,0v-.147a1.975,1.975,0,0,0,.077-3.735Z" />
                                </g>
                            </g>
                        </svg>
                        <div class="font-16 font-basic-color text-d  text-center"> เงินที่ได้จาก การปฏิบัติงาน</div>
                    </div>
                </div>
            </div>

            <div class="ayodia-body-content-section-1 show-tablet" ng-class="{'active': tabMenu == 8}" ng-click="tabMenu = 8;">
                <div class="row ">
                    <div class="margin-b20">
                        <label>เรียกดูรายการจาก : </label>
                        <select class="form-control">
                            <option> </option>
                        </select>
                    </div>
                    <div class="">
                        <label>สวัสดิการและสิทธิประโยชน์ :</label>
                        <select class="form-control">
                            <option> </option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="ayodia-body-content">
                <div class="row" ng-show="tabMenu == 1">
                    <div class="col-md-12 media-padding-col">
                        <div class="sub-title ng-binding">วันลา</div>
                    </div>
                    <div class="row row-flex-end">
                        <div class="col-sm-12 col-md-3 mb-30">
                            <div class="ayodia-progressbar">
                                <div class="ayodia-progressbar-title clearfix">
                                    <div class="font-16 pb-l"> {{DEMO.name_1}}  </div>
                                    <div class="font-16 pb-r"> {{DEMO.value_Result_1 }} / {{DEMO.value_All_1}}  </div>
                                </div>
                                <div class="ayodia-progress-item">
                                    <div class="progress-bar color-company" ng-style="{width : DEMO.value_percent_1 }"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 mb-30">
                            <div class="ayodia-progressbar">
                                <div class="ayodia-progressbar-title clearfix">
                                    <div class="font-16 pb-l"> {{DEMO.name_2}}  </div>
                                    <div class="font-16 pb-r"> {{DEMO.value_Result_2 }} / {{DEMO.value_All_2}}  </div>
                                </div>
                                <div class="ayodia-progress-item">
                                    <div class="progress-bar color-company" ng-style="{width : DEMO.value_percent_2 }"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 mb-30">
                            <div class="ayodia-progressbar">
                                <div class="ayodia-progressbar-title clearfix">
                                    <div class="font-16 pb-l"> {{DEMO.name_3}}  </div>
                                    <div class="font-16 pb-r"> {{DEMO.value_Result_3 }} / {{DEMO.value_All_3}}  </div>
                                </div>
                                <div class="ayodia-progress-item">
                                    <div class="progress-bar color-company" ng-style="{width : DEMO.value_percent_3 }"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 mb-30">
                            <div class="ayodia-progressbar">
                                <div class="ayodia-progressbar-title clearfix">
                                    <div class="font-16 pb-l"> {{DEMO.name_4}}  </div>
                                    <div class="font-16 pb-r"> {{DEMO.value_Result_4 }} / {{DEMO.value_All_4}}  </div>
                                </div>
                                <div class="ayodia-progress-item">
                                    <div class="progress-bar color-company" ng-style="{width : DEMO.value_percent_4 }"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-flex-end">
                        <div class="col-sm-12 col-md-3 mb-30">
                            <div class="ayodia-progressbar">
                                <div class="ayodia-progressbar-title clearfix">
                                    <div class="font-16 pb-l"> ลาป่วยมีใบแพทย์  </div>
                                    <div class="font-16 pb-r"> 7/10  </div>
                                </div>
                                <div class="ayodia-progress-item">
                                    <div class="progress-bar color-company" style="width: 70%;"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 mb-30">
                            <div class="ayodia-progressbar">
                                <div class="ayodia-progressbar-title clearfix">
                                    <div class="font-16 pb-l"> ลาป่วยมีใบแพทย์  </div>
                                    <div class="font-16 pb-r"> 7/10  </div>
                                </div>
                                <div class="ayodia-progress-item">
                                    <div class="progress-bar color-company" style="width: 70%;"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 mb-30">
                            <div class="ayodia-progressbar">
                                <div class="ayodia-progressbar-title clearfix">
                                    <div class="font-16 pb-l"> {{DEMO.name_5}}  </div>
                                    <div class="font-16 pb-r"> {{DEMO.value_Result_5 }} / {{DEMO.value_All_5}}  </div>
                                </div>
                                <div class="ayodia-progress-item">
                                    <div class="progress-bar color-company" ng-style="{width : DEMO.value_percent_5 }"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 mb-30">
                            <div class="ayodia-progressbar">
                                <div class="ayodia-progressbar-title clearfix">
                                    <div class="font-16 pb-l"> ลาป่วยมีใบแพทย์  </div>
                                    <div class="font-16 pb-r"> 7/10  </div>
                                </div>
                                <div class="ayodia-progress-item">
                                    <div class="progress-bar color-company" style="width: 70%;"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-flex-end">
                        <div class="col-sm-12 col-md-3 mb-30">
                            <div class="ayodia-progressbar">
                                <div class="ayodia-progressbar-title clearfix">
                                    <div class="font-16 pb-l"> ลาป่วยมีใบแพทย์  </div>
                                    <div class="font-16 pb-r"> 7/10  </div>
                                </div>
                                <div class="ayodia-progress-item">
                                    <div class="progress-bar color-company" style="width: 70%;"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 mb-30">
                            <div class="ayodia-progressbar">
                                <div class="ayodia-progressbar-title clearfix">
                                    <div class="font-16 pb-l"> ลาป่วยมีใบแพทย์  </div>
                                    <div class="font-16 pb-r"> 7/10  </div>
                                </div>
                                <div class="ayodia-progress-item">
                                    <div class="progress-bar color-company" style="width: 70%;"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 mb-30">
                            <div class="ayodia-progressbar">
                                <div class="ayodia-progressbar-title clearfix">
                                    <div class="font-16 pb-l"> ลาป่วยมีใบแพทย์  </div>
                                    <div class="font-16 pb-r"> 7/10  </div>
                                </div>
                                <div class="ayodia-progress-item">
                                    <div class="progress-bar color-company" style="width: 70%;"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 mb-30">
                            <div class="ayodia-progressbar">
                                <div class="ayodia-progressbar-title clearfix">
                                    <div class="font-16 pb-l"> ลาป่วยมีใบแพทย์  </div>
                                    <div class="font-16 pb-r"> 7/10  </div>
                                </div>
                                <div class="ayodia-progress-item">
                                    <div class="progress-bar color-company" style="width: 70%;"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="tabMenu == 2">
                    <div class="col-md-12 media-padding-col">
                        <div class="sub-title ng-binding">กองทุนสำรองเลี้ยงชีพ</div>
                    </div>
                    <div class="row row-flex-end">

                        <div class="col-sm-12 col-md-4 mb-30">
                            <div class="ayodia-box-summary">
                                <div class="ayodia-box-summary-title clearfix font-16">
                                    ยอดสมทบทั้งหมด (ส่วนของบริษัท)
                                </div>
                                <div class="ayodia-box-summary-item font-18">
                                    6,304,070.04
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 mb-30">
                            <div class="ayodia-box-summary">
                                <div class="ayodia-box-summary-title clearfix font-16">
                                    ยอดสมทบทั้งหมด (ส่วนของบริษัท)
                                </div>
                                <div class="ayodia-box-summary-item font-18">
                                    6,304,070.04
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 mb-30">
                            <div class="ayodia-box-summary">
                                <div class="ayodia-box-summary-title clearfix font-16">
                                    ยอดสมทบทั้งหมด (ส่วนของบริษัท)
                                </div>
                                <div class="ayodia-box-summary-item font-18">
                                    6,304,070.04
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 media-padding-col margin-b20">
                        <div class="mock-box">
                            <h1> เพิ่มตาราง xxxx </h1>
                            <h1>  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </h1>
                            <h1>  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </h1>
                            <h1>  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </h1>
                            <h1>  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </h1>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="tabMenu == 3">
                    <div class="col-md-12 media-padding-col">
                        <div class="sub-title">สวัสดิการทางเลือก</div>
                    </div>
                    <div class="col-md-12 media-padding-col">
                        <div class="sub-title font-18 font-basic-color ">โควตาการเบิก</div>
                    </div>
                    <div class="col-sm-4 margin-b20 ">

                        <div class="row fcc">
                            <div class="col-md-12 text-center margin-b10">
                                <div class=" text-center">

                                    <svg width="80%" height="80%" viewBox="0 0 46 46" class="chart-svg-pro c9">
                                        <circle class="my-donut-hole" cx="23" cy="23" r="15.91549430918954" fill="none"></circle>
                                        <circle class="my-donut-ring  svg-progress-1" cx="23" cy="23" r="15.91549430918954" fill="transparent" stroke="gray"
                                                stroke-width="6"></circle>



                                        <!-- <circle class="my-donut-ring  svg-progress-3" cx="23" cy="23" r="15.91549430918954" fill="transparent"   stroke="gray"
                                        stroke-width="6"
                                        stroke-dasharray="1 99"
                                        stroke-dashoffset="24.5"> -->
                                        <!-- อัพเดท chart ใส่เปอร์เซน ตรงนี้ stroke-dasharray="25 75"  -->
                                        <circle class="my-donut-ring  svg-progress-2" cx="23" cy="23" r="15.91549430918954" fill="transparent" stroke="gray"
                                                stroke-width="6"
                                                stroke-dasharray="25 75"
                                                stroke-dashoffset="25">
                                        </circle>

                                        <!-- <circle class="my-donut-ring  svg-progress-3" cx="23" cy="23" r="15.91549430918954" fill="transparent"   stroke="gray"
                                        stroke-width="6"
                                        stroke-dasharray="1 99"
                                        stroke-dashoffset="1">
                                        </circle> -->

                                        <g class="svg-text-m-chart">
                                            <text x="50%" y="50%" class="svg-header">
                                                วงเงินรวมทั้งหมด
                                            </text>
                                            <text x="50%" y="50%" class="svg-sum-number">
                                                60,000,000.00
                                            </text>
                                            <text x="50%" y="50%" class="svg-sum-text">
                                                บาท
                                            </text>
                                        </g>
                                    </svg>
                                </div>
                            </div>

                            <div class="col-md-6 text-center margin-b10 clearfix chart-svg-detail c9">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-2"></i>เบิกไปแล้ว
                                </div>
                                <div class="sub-title-2 margin-none pull-right"> 15,000,000.00 บาท</div>
                            </div>
                            <div class="col-md-6 text-center margin-b10 clearfix chart-svg-detail c9">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-1"></i>คงเหลือ
                                </div>
                                <div class="sub-title-2 margin-none pull-right">60,000,000.00 บาท</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" ng-show="tabMenu == 4">
                    <div class="col-md-12 media-padding-col">
                        <div class="sub-title ng-binding">การศึกษาบุตร</div>
                    </div>
                    <div class="row">

                        <div class="col-sm-12 col-md-6 mb-50" ng-repeat="item in DEMO2">
                            <div class="ayodia-progressbar">
                                <div class="">
                                    <div class="font-16 font-basic-color ">โควต้าการเบิก :  {{item.name}}</div>
                                </div>
                                <div class="ayodia-progressbar-title clearfix">
                                    <div class="font-16 pb-l"> {{item.value_Result}} </div>
                                    <div class="font-16 pb-r"> {{item.value_All}}  </div>
                                </div>
                                <div class="ayodia-progress-item">
                                    <div class="progress-bar color-company" ng-style="{width : item.value_percent }">
                                        <div class="font-16 detail-bar" ng-if="item.value_percent != '0%'">
                                            <div class="text-bar-detail-center">{{item.value_Result}} </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 media-padding-col margin-b20">
                            <div class="mock-box">
                                <h1> เพิ่มตาราง xxxx </h1>
                                <h1>  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </h1>
                                <h1>  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </h1>
                                <h1>  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </h1>
                                <h1>  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="tabMenu == 5">
                    <div class="col-md-12 media-padding-col">
                        <div class="sub-title ng-binding">สถานออกกำลังกาย</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 media-padding-col">
                            <div class="color-danger font-18">ท่านเลือกลงทะเบียนรับสิทธิ์สวัสดิการถูกใจแทนสิทธิ์สวัสดิการ Fitness</div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="tabMenu == 6">
                    <div class="col-md-12 media-padding-col">
                        <div class="sub-title">ค่ารักษาพยาบาลบุพการี</div>
                    </div>
                    <div class="col-sm-12 col-md-6 margin-b20 ">
                        <div class="sub-title font-18 font-basic-color ">สมชาย จิรปรีชานนท์ (บิดา)</div>
                        <div class="row fcc">
                            <div class="col-md-7 text-center margin-b10">
                                <div class=" text-center">

                                    <svg width="80%" height="80%" viewBox="0 0 46 46" class="chart-svg-pro c9">
                                        <circle class="my-donut-hole" cx="23" cy="23" r="15.91549430918954" fill="none"></circle>
                                        <circle class="my-donut-ring  svg-progress-1" cx="23" cy="23" r="15.91549430918954" fill="transparent" stroke="gray"
                                                stroke-width="6"></circle>



                                        <!-- <circle class="my-donut-ring  svg-progress-3" cx="23" cy="23" r="15.91549430918954" fill="transparent"   stroke="gray"
                                        stroke-width="6"
                                        stroke-dasharray="1 99"
                                        stroke-dashoffset="24.5"> -->

                                        <circle class="my-donut-ring  svg-progress-2" cx="23" cy="23" r="15.91549430918954" fill="transparent" stroke="gray"
                                                stroke-width="6"
                                                stroke-dasharray="55 45"
                                                stroke-dashoffset="25">
                                        </circle>

                                        <!-- <circle class="my-donut-ring  svg-progress-3" cx="23" cy="23" r="15.91549430918954" fill="transparent"   stroke="gray"
                                        stroke-width="6"
                                        stroke-dasharray="1 99"
                                        stroke-dashoffset="1">
                                        </circle> -->

                                        <g class="svg-text-m-chart">
                                            <text x="50%" y="50%" class="svg-header">
                                                วงเงินรวมทั้งหมด
                                            </text>
                                            <text x="50%" y="50%" class="svg-sum-number">
                                                60,000,000.00
                                            </text>
                                            <text x="50%" y="50%" class="svg-sum-text">
                                                บาท
                                            </text>
                                        </g>
                                    </svg>
                                </div>
                            </div>

                            <div class="col-md-6 text-center margin-b10 clearfix chart-svg-detail c9">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-2"></i>เบิกไปแล้ว
                                </div>
                                <div class="sub-title-2 margin-none pull-right"> 35,000,000.00 บาท</div>
                            </div>
                            <div class="col-md-6 text-center margin-b10 clearfix chart-svg-detail c9">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-1"></i>คงเหลือ
                                </div>
                                <div class="sub-title-2 margin-none pull-right">60,000,000.00 บาท</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 margin-b20 ">
                        <div class="sub-title font-18 font-basic-color ">สมศรี จิรปรีชานนท์ (มารดา)</div>
                        <div class="row fcc">
                            <div class="col-md-7 text-center margin-b10">
                                <div class=" text-center">

                                    <svg width="80%" height="80%" viewBox="0 0 46 46" class="chart-svg-pro c9">
                                        <circle class="my-donut-hole" cx="23" cy="23" r="15.91549430918954" fill="none"></circle>
                                        <circle class="my-donut-ring  svg-progress-1" cx="23" cy="23" r="15.91549430918954" fill="transparent" stroke="gray"
                                                stroke-width="6"></circle>



                                        <!-- <circle class="my-donut-ring  svg-progress-3" cx="23" cy="23" r="15.91549430918954" fill="transparent"   stroke="gray"
                                        stroke-width="6"
                                        stroke-dasharray="1 99"
                                        stroke-dashoffset="24.5"> -->

                                        <circle class="my-donut-ring  svg-progress-2" cx="23" cy="23" r="15.91549430918954" fill="transparent" stroke="gray"
                                                stroke-width="6"
                                                stroke-dasharray="0 100"
                                                stroke-dashoffset="25">
                                        </circle>

                                        <!-- <circle class="my-donut-ring  svg-progress-3" cx="23" cy="23" r="15.91549430918954" fill="transparent"   stroke="gray"
                                        stroke-width="6"
                                        stroke-dasharray="1 99"
                                        stroke-dashoffset="1">
                                        </circle> -->

                                        <g class="svg-text-m-chart">
                                            <text x="50%" y="50%" class="svg-header">
                                                วงเงินรวมทั้งหมด
                                            </text>
                                            <text x="50%" y="50%" class="svg-sum-number">
                                                60,000,000.00
                                            </text>
                                            <text x="50%" y="50%" class="svg-sum-text">
                                                บาท
                                            </text>
                                        </g>
                                    </svg>
                                </div>
                            </div>

                            <div class="col-md-6 text-center margin-b10 clearfix chart-svg-detail c9">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-2"></i>เบิกไปแล้ว
                                </div>
                                <div class="sub-title-2 margin-none pull-right"> 0.00 บาท</div>
                            </div>
                            <div class="col-md-6 text-center margin-b10 clearfix chart-svg-detail c9">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-1"></i>คงเหลือ
                                </div>
                                <div class="sub-title-2 margin-none pull-right">60,000,000.00 บาท</div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12 media-padding-col margin-b20">
                        <div class="mock-box">
                            <h1> เพิ่มตาราง xxxx </h1>
                            <h1>  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </h1>
                            <h1>  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </h1>
                            <h1>  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </h1>
                            <h1>  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </h1>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="tabMenu == 7">
                    <div class="col-md-12 media-padding-col">
                        <div class="sub-title ng-binding">สวัสดิการอื่นๆ</div>
                    </div>
                    <div class="col-md-12 media-padding-col">
                        <div class="ayodia-ez-accordion margin-b20">
                            <button class="ez-accordion" ng-class="{'active': tab1 == true}" ng-click="tab1 = !tab1">
                                การรักษาพยาบาล
                                <svg class="i-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"> <path d="M19,13H5a1,1,0,0,1,0-2H19a1,1,0,0,1,0,2Z" /></svg>
                                <svg class="i-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                                    <defs>
                                        <style>
                                            .aaa {
                                                fill: #fff;
                                                stroke: #707070;
                                            }

                                            .bbb {
                                                clip-path: url(#aaa);
                                            }

                                            .ccc {
                                                opacity: 0;
                                            }
                                        </style>
                                        <clipPath id="aaa"><rect class="aaa" width="24" height="24" transform="translate(1320 462)" /></clipPath>
                                    </defs>
                                    <g class="bbb" transform="translate(-1320 -462)"><g transform="translate(1320 462)"><rect class="ccc" width="24" height="24" transform="translate(24 24) rotate(180)" /><path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z" /></g></g>
                                </svg>
                            </button>
                            <div class="ez-accordion-panel" ng-class="{'active': tab1 == true}">
                                <div class="row">
                                    <div class=" margin-b20">
                                        <ng-bind-html ng-bind-html="expression"> </ng-bind-html>
                                    </div>
                                    <div class="ayodia-remark-d font-18">
                                        <div class="margin-b10">
                                            <b> หมายเหตุ : กรุณาศึกษาข้อกำหนดและแนวทางปฏิบัติก่อนทำการเบิกสวัสดิการ </b>
                                        </div>
                                        <div>
                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path style="fill:#00ADEE;" d="M15.805,6.747l-4.08-4.5A.75.75,0,0,0,11.17,2H5.92A1.9,1.9,0,0,0,4,3.875v11.25A1.9,1.9,0,0,0,5.92,17h8.16A1.9,1.9,0,0,0,16,15.125V7.25a.75.75,0,0,0-.2-.5Zm-1.568.5H11.282a.593.593,0,0,1-.533-.638V3.5h.082ZM14.08,15.5H5.92a.4.4,0,0,1-.42-.375V3.875A.4.4,0,0,1,5.92,3.5H9.25V6.612A2.092,2.092,0,0,0,11.283,8.75H14.5v6.375a.4.4,0,0,1-.42.375Z" transform="translate(-1 -0.5)" /></svg>
                                                <a class="underline">ขั้นตอนการเบิกเงิน เงินที่ได้จากการปฏิบัติงาน</a>
                                            </div>
                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path style="fill:#00ADEE;" d="M15.805,6.747l-4.08-4.5A.75.75,0,0,0,11.17,2H5.92A1.9,1.9,0,0,0,4,3.875v11.25A1.9,1.9,0,0,0,5.92,17h8.16A1.9,1.9,0,0,0,16,15.125V7.25a.75.75,0,0,0-.2-.5Zm-1.568.5H11.282a.593.593,0,0,1-.533-.638V3.5h.082ZM14.08,15.5H5.92a.4.4,0,0,1-.42-.375V3.875A.4.4,0,0,1,5.92,3.5H9.25V6.612A2.092,2.092,0,0,0,11.283,8.75H14.5v6.375a.4.4,0,0,1-.42.375Z" transform="translate(-1 -0.5)" /></svg>
                                                <a class="underline">ข้อกำหนดฯ ว่าด้วย เงินที่ได้จากการปฏิบัติงาน</a>
                                            </div>
                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path style="fill:#00ADEE;" d="M15.805,6.747l-4.08-4.5A.75.75,0,0,0,11.17,2H5.92A1.9,1.9,0,0,0,4,3.875v11.25A1.9,1.9,0,0,0,5.92,17h8.16A1.9,1.9,0,0,0,16,15.125V7.25a.75.75,0,0,0-.2-.5Zm-1.568.5H11.282a.593.593,0,0,1-.533-.638V3.5h.082ZM14.08,15.5H5.92a.4.4,0,0,1-.42-.375V3.875A.4.4,0,0,1,5.92,3.5H9.25V6.612A2.092,2.092,0,0,0,11.283,8.75H14.5v6.375a.4.4,0,0,1-.42.375Z" transform="translate(-1 -0.5)" /></svg>
                                                <a class="underline">แนวปฏิบัติกเงินที่ได้จากการปฏิบัติงาน</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ayodia-ez-accordion margin-b20">

                            <button class="ez-accordion" ng-class="{'active': tab2 == true}" ng-click="tab2 = !tab2">
                                วินัยและการร้องทุกข์
                                <svg class="i-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"> <path d="M19,13H5a1,1,0,0,1,0-2H19a1,1,0,0,1,0,2Z" /></svg>
                                <svg class="i-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                                    <defs>
                                        <style>
                                            .aaa {
                                                fill: #fff;
                                                stroke: #707070;
                                            }

                                            .bbb {
                                                clip-path: url(#aaa);
                                            }

                                            .ccc {
                                                opacity: 0;
                                            }
                                        </style>
                                        <clipPath id="aaa"><rect class="aaa" width="24" height="24" transform="translate(1320 462)" /></clipPath>
                                    </defs>
                                    <g class="bbb" transform="translate(-1320 -462)"><g transform="translate(1320 462)"><rect class="ccc" width="24" height="24" transform="translate(24 24) rotate(180)" /><path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z" /></g></g>
                                </svg>
                            </button>
                            <div class="ez-accordion-panel" ng-class="{'active': tab2 == true}">

                            </div>
                        </div>
                        <div class="ayodia-ez-accordion margin-b20">
                            <button class="ez-accordion" ng-class="{'active': tab3 == true}" ng-click="tab3 = !tab3">
                                ค่าทำศพ
                                <svg class="i-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"> <path d="M19,13H5a1,1,0,0,1,0-2H19a1,1,0,0,1,0,2Z" /></svg>
                                <svg class="i-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                                    <defs>
                                        <style>
                                            .aaa {
                                                fill: #fff;
                                                stroke: #707070;
                                            }

                                            .bbb {
                                                clip-path: url(#aaa);
                                            }

                                            .ccc {
                                                opacity: 0;
                                            }
                                        </style>
                                        <clipPath id="aaa"><rect class="aaa" width="24" height="24" transform="translate(1320 462)" /></clipPath>
                                    </defs>
                                    <g class="bbb" transform="translate(-1320 -462)"><g transform="translate(1320 462)"><rect class="ccc" width="24" height="24" transform="translate(24 24) rotate(180)" /><path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z" /></g></g>
                                </svg>
                            </button>
                            <div class="ez-accordion-panel" ng-class="{'active': tab3 == true}">

                            </div>
                        </div>
                        <div class="ayodia-ez-accordion margin-b20">
                            <button class="ez-accordion" ng-class="{'active': tab4 == true}" ng-click="tab4 = !tab4">
                                ประกันชีวิตหมู่
                                <svg class="i-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"> <path d="M19,13H5a1,1,0,0,1,0-2H19a1,1,0,0,1,0,2Z" /></svg>
                                <svg class="i-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                                    <defs>
                                        <style>
                                            .aaa {
                                                fill: #fff;
                                                stroke: #707070;
                                            }

                                            .bbb {
                                                clip-path: url(#aaa);
                                            }

                                            .ccc {
                                                opacity: 0;
                                            }
                                        </style>
                                        <clipPath id="aaa"><rect class="aaa" width="24" height="24" transform="translate(1320 462)" /></clipPath>
                                    </defs>
                                    <g class="bbb" transform="translate(-1320 -462)"><g transform="translate(1320 462)"><rect class="ccc" width="24" height="24" transform="translate(24 24) rotate(180)" /><path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z" /></g></g>
                                </svg>
                            </button>
                            <div class="ez-accordion-panel" ng-class="{'active': tab4 == true}">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="tabMenu == 8">
                    <div class="col-md-12 media-padding-col">
                        <div class="sub-title ng-binding"> เงินที่ได้จากการปฏิบัติงาน (ยอดรวมสะสม (บาท/ปี))</div>
                    </div>
                    <div class="col-md-12 media-padding-col margin-b20">
                        <div class="mock-box">
                            <h1> เพิ่มตาราง xxxx </h1>
                            <h1>  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </h1>
                            <h1>  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </h1>
                            <h1>  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </h1>
                            <h1>  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </h1>
                        </div>
                        <div class="col-md-12 media-padding-col margin-b20">
                            <div class="ayodia-remark-d font-18">
                                <div class="margin-b10">
                                    <b> หมายเหตุ : กรุณาศึกษาข้อกำหนดและแนวทางปฏิบัติก่อนทำการเบิกสวัสดิการ </b>
                                </div>
                                <div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path style="fill:#00ADEE;" d="M15.805,6.747l-4.08-4.5A.75.75,0,0,0,11.17,2H5.92A1.9,1.9,0,0,0,4,3.875v11.25A1.9,1.9,0,0,0,5.92,17h8.16A1.9,1.9,0,0,0,16,15.125V7.25a.75.75,0,0,0-.2-.5Zm-1.568.5H11.282a.593.593,0,0,1-.533-.638V3.5h.082ZM14.08,15.5H5.92a.4.4,0,0,1-.42-.375V3.875A.4.4,0,0,1,5.92,3.5H9.25V6.612A2.092,2.092,0,0,0,11.283,8.75H14.5v6.375a.4.4,0,0,1-.42.375Z" transform="translate(-1 -0.5)" /></svg>
                                        <a class="underline">ขั้นตอนการเบิกเงิน เงินที่ได้จากการปฏิบัติงาน</a>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path style="fill:#00ADEE;" d="M15.805,6.747l-4.08-4.5A.75.75,0,0,0,11.17,2H5.92A1.9,1.9,0,0,0,4,3.875v11.25A1.9,1.9,0,0,0,5.92,17h8.16A1.9,1.9,0,0,0,16,15.125V7.25a.75.75,0,0,0-.2-.5Zm-1.568.5H11.282a.593.593,0,0,1-.533-.638V3.5h.082ZM14.08,15.5H5.92a.4.4,0,0,1-.42-.375V3.875A.4.4,0,0,1,5.92,3.5H9.25V6.612A2.092,2.092,0,0,0,11.283,8.75H14.5v6.375a.4.4,0,0,1-.42.375Z" transform="translate(-1 -0.5)" /></svg>
                                        <a class="underline">ข้อกำหนดฯ ว่าด้วย เงินที่ได้จากการปฏิบัติงาน</a>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path style="fill:#00ADEE;" d="M15.805,6.747l-4.08-4.5A.75.75,0,0,0,11.17,2H5.92A1.9,1.9,0,0,0,4,3.875v11.25A1.9,1.9,0,0,0,5.92,17h8.16A1.9,1.9,0,0,0,16,15.125V7.25a.75.75,0,0,0-.2-.5Zm-1.568.5H11.282a.593.593,0,0,1-.533-.638V3.5h.082ZM14.08,15.5H5.92a.4.4,0,0,1-.42-.375V3.875A.4.4,0,0,1,5.92,3.5H9.25V6.612A2.092,2.092,0,0,0,11.283,8.75H14.5v6.375a.4.4,0,0,1-.42.375Z" transform="translate(-1 -0.5)" /></svg>
                                        <a class="underline">แนวปฏิบัติกเงินที่ได้จากการปฏิบัติงาน</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
