﻿<!--<style>
    .mainBlock .contentBlock {
    background:none;
}
#main_scroll{
    background: url('images/dasboard-bg.png');
 background-position: top;
    background-repeat: repeat;
    overflow: hidden;
    background-size: cover;
}
@media only screen and (max-width : 992px) {
    .mainBlock {
        background:none;
    }
}
</style>-->
<div class="row">
    <div class="TravelExManPage delegation-page box-content col-sm-12" ng-controller="EmployeeWelfareController">

        <script type="text/ng-template" id="openPincodeWelfare.ng-popup.html">
            <div class="modal-header">
                <h3 class="modal-title custom">PINCODE</h3>
                <button type="button" class="close custom" ng-click="closeModal()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 lr-0">
                        <!--<input type="password" class="w-100 input-box font-16" placeholder="PINCODE" name="input1" ng-model="OldPinCode">-->
                        <input id="txtPincode" type="password" class="w-100 input-box font-16" placeholder="PINCODE" name="input1" ng-model="OldPinCode" autocomplete="off" dl-enter-key="getValidatePinCode()" auto-focus>
                        <span class="text-un color-danger pull-left">{{MsgValidate}}</span>
                        <span class="text-un color-main pull-right" ng-click="forgetPincode();">{{Text['PAYSLIPDATA']['NEWPINREQUEST']}}</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="m-btn-cw btn-s-md" ng-click="closeModal()">
                    <span class="">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Text['ACTION']['CANCEL']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </a>
                <a class="m-btn-co btn-s-md" ng-click="getValidatePinCode()">
                    <span class="">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Text['SYSTEM']['BUTTON_OK']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </a>
            </div>
        </script>


        <h1>{{Text['APPLICATION']['Dashboard_Employee_Welfare']}}</h1>
        <div class="content-by-ayodia margin-b20" ng-show="!dataPincode">
            <div class="ayodia-header-content">
                <div class="ayodia-title w-100">
                    {{Text['APPLICATION']['Dashboard_Employee_Welfare']}}
                </div>
            </div>
            <div class="ayodia-body-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="filter-export-box clearfix margin-b20">
                            <div class="filter-items-l clearfix">
                                <div class="f-item">
                                    <a class="m-btn-c2 btn-s-md" ng-click="openPopupPincode();">
                                        <span class="">
                                            <i class="fa fa-search"></i>&nbsp;&nbsp;{{Text['Dashboard_Employee_Welfare']['CallEmployeeWelfare']}}
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-by-ayodia margin-b20" ng-show="dataPincode">
            <div class="ayodia-header-content">
                <div class="ayodia-title w-100">
                    {{Text['APPLICATION']['Dashboard_Employee_Welfare']}}
                </div>
            </div>
            <div class="ayodia-body-content-section-1 show-pc">
                <div class="row ">
                    <div class="col-sm-12">
                        <div class="filter-export-box w clearfix margin-b20">
                            <div class="filter-items-l clearfix">
                                <div class="f-item">
                                    <label>{{Text['Dashboard_Employee_Welfare']['Year']}}</label>
                                    <select class="form-control w240px-desktop" ng-model="selectyear" ng-show="dataPincode" ng-change="changeYear(tabMenu,selectyear);">
                                        <option ng-if="list_year.length > 0" ng-repeat="year in list_year" value="{{year}}">
                                            {{year}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ayodia-menubar-2">
                    <!-- วันลา -->
                    <div class="i-menubar" ng-class="{'active': tabMenu == '1'}" ng-click="changeTabmenu('1',selectyear)">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                            <g transform="translate(-185 -272)">
                                <g transform="translate(185 272)">
                                    <path class="c" d="M23.588,8.758,22.415,7.584a1.408,1.408,0,0,0-1.989,0l-2.472,2.472V2.109A2.112,2.112,0,0,0,15.844,0H2.11A2.112,2.112,0,0,0,0,2.109V21.891A2.112,2.112,0,0,0,2.11,24H15.844a2.112,2.112,0,0,0,2.109-2.109v-5.58l5.635-5.565a1.408,1.408,0,0,0,0-1.989Zm-8.409,8.317-2.115.987.986-2.113L19.3,10.7l1.16,1.16Zm1.368,4.816a.7.7,0,0,1-.7.7H2.11a.7.7,0,0,1-.7-.7V2.109a.7.7,0,0,1,.7-.7H15.844a.7.7,0,0,1,.7.7v9.353c-3.9,3.9-3.644,3.619-3.719,3.779l-1.856,3.978a.7.7,0,0,0,.934.934L15.884,18.3c.146-.068.17-.11.663-.6ZM21.46,10.872,20.293,9.705,21.42,8.578l1.173,1.174Z" />
                                    <path class="c" d="M3.75,5.953h10.5a.7.7,0,0,0,0-1.406H3.75a.7.7,0,0,0,0,1.406Z" />
                                    <path class="c" d="M3.75,9.7H12A.7.7,0,0,0,12,8.3H3.75a.7.7,0,0,0,0,1.406Z" />
                                    <path class="c" d="M9.75,12.047h-6a.7.7,0,0,0,0,1.406h6a.7.7,0,0,0,0-1.406Z" />
                                </g>
                            </g>
                        </svg>
                        <div class="font-16 font-basic-color text-d text-center">{{Text['Dashboard_Employee_Welfare']['Absence']}}</div>
                    </div>
                    <!-- กองทุนสำรองเลรี้ยงชีพ -->
                    <div class="i-menubar" ng-class="{'active': tabMenu == '2'}" ng-click="changeTabmenu('2',selectyear)">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                            <g transform="translate(-408 -272)">
                                <g transform="translate(408 272)">
                                    <path d="M20.1,15.38l-2.155,2.154-.829-.829a.7.7,0,0,0-.994.994l1.326,1.326a.7.7,0,0,0,.994,0L21.1,16.374a.7.7,0,0,0-.994-.994Z" />
                                    <path class="c" d="M10.249,15.16c-.109-.038-.219-.078-.33-.119V13.057a.861.861,0,0,1,.323.186.586.586,0,0,0,.88-.773,2.079,2.079,0,0,0-1.2-.616v-.323a.586.586,0,0,0-1.172,0v.388l-.124.035a2.014,2.014,0,0,0-1.381,1.579,1.787,1.787,0,0,0,.59,1.76,4.449,4.449,0,0,0,.915.534V18.4a1.843,1.843,0,0,1-.828-.348.586.586,0,0,0-.641.981,2.9,2.9,0,0,0,1.469.546v.389a.586.586,0,0,0,1.172,0v-.444a2.334,2.334,0,0,0,1.032-.553,2.447,2.447,0,0,0,.754-1.39,2.116,2.116,0,0,0-1.455-2.422ZM8.556,14.37a.641.641,0,0,1-.161-.621.906.906,0,0,1,.353-.57V14.5A2.214,2.214,0,0,1,8.556,14.37Zm1.993,3.017a1.26,1.26,0,0,1-.63.891V16.288A.95.95,0,0,1,10.549,17.387Z" />
                                    <path class="c" d="M23.3,12.281a2.318,2.318,0,0,1-2.085-1.288l-.1-.2a.7.7,0,0,0-.629-.389h-3.75a.7.7,0,0,0-.629.389l-.1.2a2.38,2.38,0,0,1-.125.22,34,34,0,0,0-2.991-3.437v-2.3A7.33,7.33,0,0,0,14.3,1.172V.7a.7.7,0,0,0-.7-.7h-.469a9.288,9.288,0,0,0-3.75,1.254A9.288,9.288,0,0,0,5.625,0H5.156a.7.7,0,0,0-.7.7v.469A7.33,7.33,0,0,0,5.859,5.478v2.3C2.928,10.789,0,14.419,0,18.609v.05A5.4,5.4,0,0,0,5.429,24h7.893a5.472,5.472,0,0,0,3.1-.966,7.275,7.275,0,0,0,1.983.937.7.7,0,0,0,.4,0A7.281,7.281,0,0,0,24,17V12.984a.7.7,0,0,0-.7-.7ZM7.266,5.953h4.219V7.359H7.266ZM9.014,2.666a.7.7,0,0,0,.721,0,9.978,9.978,0,0,1,3.15-1.246,5.849,5.849,0,0,1-1.06,3.127h-4.9A5.849,5.849,0,0,1,5.864,1.42a9.977,9.977,0,0,1,3.15,1.246ZM5.429,22.594a3.991,3.991,0,0,1-4.022-3.936v-.048c0-3.687,2.722-7.036,5.452-9.844h5.033A32.352,32.352,0,0,1,14.8,12.112a2.339,2.339,0,0,1-.876.169.7.7,0,0,0-.7.7V17a7.229,7.229,0,0,0,1.439,4.346,7.378,7.378,0,0,0,.631.741,4.064,4.064,0,0,1-1.968.51ZM22.594,17a5.836,5.836,0,0,1-3.984,5.562A5.836,5.836,0,0,1,14.625,17V13.622a3.71,3.71,0,0,0,2.537-1.81h2.895a3.71,3.71,0,0,0,2.537,1.81Z" />
                                </g>
                            </g>
                        </svg>
                        <div class="font-16 font-basic-color text-d  text-center">{{Text['Dashboard_Employee_Welfare']['ProvidentFund']}}</div>
                    </div>
                    <!--สวัสดิการทางเลือก-->
                    <div class="i-menubar" ng-show="isActiveFlexibleBenefitDashboard" ng-class="{'active': tabMenu == '3'}" ng-click="changeTabmenu('3',selectyear)">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             width="24" height="24" viewBox="0 0 24 24">
                            <g transform="translate(-521 -272)">
                                <g transform="translate(521 272)"><path d="M21.844,4.124H16.4A2.625,2.625,0,0,0,12.394.768,2.1,2.1,0,0,0,12,1.331a2.1,2.1,0,0,0-.394-.563A2.625,2.625,0,0,0,7.6,4.124H2.156A2.159,2.159,0,0,0,0,6.281V7.968a2.16,2.16,0,0,0,1.5,2.054V21.843A2.159,2.159,0,0,0,3.656,24H20.344A2.159,2.159,0,0,0,22.5,21.843V10.022A2.16,2.16,0,0,0,24,7.968V6.281A2.159,2.159,0,0,0,21.844,4.124Zm-9.094,4.5h-1.5v-3h1.5Zm.176-5.135c.232-1.332.5-1.631.528-1.661A1.125,1.125,0,1,1,15.046,3.42c-.029.029-.326.295-1.649.526-.192.034-.38.062-.554.085C12.866,3.862,12.894,3.678,12.926,3.49ZM8.954,1.829a1.126,1.126,0,0,1,1.591,0c.029.029.295.326.526,1.649.034.192.062.38.085.554-.169-.023-.353-.05-.541-.083-1.332-.232-1.631-.5-1.661-.528a1.126,1.126,0,0,1,0-1.591ZM1.5,6.281a.657.657,0,0,1,.656-.656H9.75v3H2.156A.657.657,0,0,1,1.5,7.968ZM3,21.843V10.124H9.75V22.5H3.656A.657.657,0,0,1,3,21.843Zm8.25.656V10.124h1.5V22.5ZM21,21.843a.657.657,0,0,1-.656.656H14.25V10.124H21ZM22.5,7.968a.657.657,0,0,1-.656.656H14.25v-3h7.594a.657.657,0,0,1,.656.656Z" /></g>
                            </g>
                        </svg>
                        <div class="font-16 font-basic-color text-d  text-center">{{Text['Dashboard_Employee_Welfare']['FlexibleBenefit']}}</div>
                    </div>
                    <!--การศึกษาบุตร-->
                    <div class="i-menubar" ng-class="{'active': tabMenu == '4'}" ng-click="changeTabmenu('4',selectyear)">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             width="24" height="24" viewBox="0 0 24 24">
                            <g transform="translate(-632 -272)">
                                <path d="M22.594,17.1V7.388l.949-.354a.7.7,0,0,0,0-1.317L12.246,1.5a.7.7,0,0,0-.492,0L.457,5.716a.7.7,0,0,0,0,1.317L5.138,8.782a13.3,13.3,0,0,0-.873,5.327.7.7,0,0,0,.964.653,10.181,10.181,0,0,1,3.255-.653,6.029,6.029,0,0,1,3.076,1.252.7.7,0,0,0,.878,0,5.885,5.885,0,0,1,3.076-1.252,10.254,10.254,0,0,1,3.254.653.7.7,0,0,0,.964-.653,13.4,13.4,0,0,0-.873-5.327l2.326-.869V17.1a2.3,2.3,0,0,0-.92,1.032,5.264,5.264,0,0,0-.486,2.3v1.406a.7.7,0,0,0,.7.7H23.3a.7.7,0,0,0,.7-.7V20.438a5.264,5.264,0,0,0-.486-2.3,2.3,2.3,0,0,0-.92-1.032ZM12,2.907l9.287,3.468L12,9.843,2.713,6.375Zm6.322,10.229a10.624,10.624,0,0,0-2.807-.432A6.847,6.847,0,0,0,12,13.948,6.847,6.847,0,0,0,8.484,12.7a10.624,10.624,0,0,0-2.807.432,11.655,11.655,0,0,1,.778-3.862l5.3,1.979a.7.7,0,0,0,.492,0l5.3-1.979a11.657,11.657,0,0,1,.778,3.862Zm4.271,8.005H21.188v-.7a3.9,3.9,0,0,1,.338-1.674c.18-.359.341-.435.365-.435s.186.076.365.435a3.9,3.9,0,0,1,.338,1.674Z" transform="translate(632 272)" />
                            </g>
                        </svg>
                        <div class="font-16 font-basic-color text-d  text-center">{{Text['Dashboard_Employee_Welfare']['EducationChild']}}</div>
                    </div>
                    <!--สถานออกกำลังกาย-->
                    <div class="i-menubar" ng-class="{'active': tabMenu == '5'}" ng-click="changeTabmenu('5',selectyear)">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             width="24" height="24" viewBox="0 0 24 24">
                            <g transform="translate(-744 -272)">
                                <g transform="translate(744 272)">
                                    <path d="M22.563,4.827a5.429,5.429,0,0,0-8.2,7.108l-1.081,1-2.081.577A4.632,4.632,0,0,0,9.42,9.869,4.905,4.905,0,1,0,0,7.782,13.469,13.469,0,0,0,2.162,14.47a16.789,16.789,0,0,0,6.675,6.371l.228.115.249-.058a19.539,19.539,0,0,0,6.8-3.948,30.064,30.064,0,0,0,2.77-3.021,5.431,5.431,0,0,0,3.679-9.1Zm-7.41,11.1a18.8,18.8,0,0,1-5.916,3.541C3.853,16.61,1.315,10.5,1.409,7.831h0a3.5,3.5,0,1,1,6.5,1.912l-.368.615.621.356a3.232,3.232,0,0,1,1.627,2.919,6.294,6.294,0,0,1-.1.7l-.214,1.113,4.5-1.248,1.4-1.291a5.4,5.4,0,0,0,1.81.858A26.782,26.782,0,0,1,15.153,15.924ZM22.59,8.671a4.024,4.024,0,1,1-4.025-4.189c.056,0,.112,0,.168,0A4.024,4.024,0,0,1,22.59,8.671Z" />
                                    <path class="c" d="M20.036,7.155A1.994,1.994,0,1,0,18.488,10.5l.083,0a1.994,1.994,0,0,0,1.465-3.346ZM18.968,8.939a.588.588,0,1,1-.4-1.021h.025a.588.588,0,0,1,.375,1.02Z" />
                                </g>
                            </g>
                        </svg>
                        <div class="font-16 font-basic-color text-d  text-center">{{Text['Dashboard_Employee_Welfare']['Fitness']}}</div>
                    </div>
                    <!-- ค่ารักษาพยาบาลบุพการี -->
                    <div class="i-menubar" ng-show="isActiveHealthInsuranceDashboard" ng-class="{'active': tabMenu == '6'}" ng-click="changeTabmenu('6',selectyear)">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             width="24" height="24" viewBox="0 0 24 24">
                            <g transform="translate(-857 -272)">
                                <g transform="translate(857 272)">
                                    <path d="M23.462,13.454a2.112,2.112,0,0,0-.08-2.9L18.2,5.377a2.861,2.861,0,1,0-3.5-.624,5.407,5.407,0,0,0-3.164,3.982L7.732,7.7,6.479,5.5a2.862,2.862,0,1,0-3.226-.748A5.4,5.4,0,0,0,0,9.7v6.563a.7.7,0,0,0,.7.7h.542L.073,21.344a2.109,2.109,0,0,0,1.492,2.583A2.119,2.119,0,0,0,2.114,24a2.112,2.112,0,0,0,2.034-1.564L4.479,21.2l.331,1.237a2.109,2.109,0,1,0,4.075-1.092L7.5,16.174V12l3.578.976a2.113,2.113,0,0,0,.38.066v3.219a.7.7,0,0,0,.7.7h.7V23.3a.7.7,0,0,0,.7.7h3.281a.7.7,0,0,0,.7-.61l.934-7,.867-3.9.971.971a2.1,2.1,0,0,0-.536,1.4v.469a.7.7,0,0,0,1.406,0v-.469a.7.7,0,0,1,1.406,0V23.3A.7.7,0,1,0,24,23.3V14.859a2.1,2.1,0,0,0-.538-1.405ZM15.395,2.859a1.453,1.453,0,1,1,1.453,1.453A1.455,1.455,0,0,1,15.395,2.859Zm-11.457,0A1.453,1.453,0,1,1,5.391,4.313,1.455,1.455,0,0,1,3.937,2.859ZM2.789,22.072a.7.7,0,0,1-1.358-.364L2.7,16.969h.645l.406,1.514Zm4.667.17a.7.7,0,0,1-1.288-.17L4.8,16.969H6.257l1.27,4.74A.7.7,0,0,1,7.457,22.242ZM5.9,10.111a1.175,1.175,0,0,1-.732-.591L4.608,8.442a.7.7,0,0,0-1.248.648l.559,1.078a2.585,2.585,0,0,0,1.61,1.3l.564.154v3.941H1.406V9.7A3.99,3.99,0,0,1,4.994,5.738L6.655,8.646a.7.7,0,0,0,.425.329l4.737,1.292a.7.7,0,0,1-.37,1.357ZM16.232,22.594H14.27V16.969h2.713Zm.989-7.031H12.864V12.657a2.109,2.109,0,0,0,.026-3.405,4,4,0,0,1,3.677-3.523l5.821,5.821a.7.7,0,1,1-.994.994L16.408,7.558a.7.7,0,0,0-.994.994l2.754,2.754Z" />
                                </g>
                            </g>
                        </svg>
                        <div class="font-16 font-basic-color text-d  text-center">{{Text['Dashboard_Employee_Welfare']['HeathCareParent']}}</div>
                    </div>
                    <!-- สวัสดิการอื่นๆ -->
                    <div class="i-menubar" ng-class="{'active': tabMenu == '7'}" ng-click="changeTabmenu('7',selectyear)">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             width="24" height="24" viewBox="0 0 24 24">
                            <g transform="translate(-1193 -272)">
                                <g transform="translate(1193 272)">
                                    <path d="M20.935,4.893,16.247.206A.7.7,0,0,0,15.75,0H5.438A2.581,2.581,0,0,0,2.859,2.578V21.422A2.581,2.581,0,0,0,5.438,24H18.563a2.581,2.581,0,0,0,2.578-2.578V5.391A.7.7,0,0,0,20.935,4.893ZM16.453,2.4,18.74,4.688H16.453Zm2.109,20.193H5.438a1.173,1.173,0,0,1-1.172-1.172V2.578A1.173,1.173,0,0,1,5.438,1.406h9.609V5.391a.7.7,0,0,0,.7.7h3.984V21.422A1.173,1.173,0,0,1,18.563,22.594Z" />
                                    <path class="c" d="M16.688,9.469A2.318,2.318,0,0,1,14.6,8.18l-.1-.2a.7.7,0,0,0-.629-.389h-3.75a.7.7,0,0,0-.629.389l-.1.2A2.318,2.318,0,0,1,7.313,9.469a.7.7,0,0,0-.7.7v4.012A7.281,7.281,0,0,0,11.8,21.158a.7.7,0,0,0,.4,0,7.281,7.281,0,0,0,5.189-6.974V10.172a.7.7,0,0,0-.7-.7Zm-.7,4.715A5.836,5.836,0,0,1,12,19.746a5.836,5.836,0,0,1-3.984-5.562V10.809A3.71,3.71,0,0,0,10.553,9h2.895a3.71,3.71,0,0,0,2.537,1.81Z" />
                                    <path class="c" d="M13.492,12.568l-2.154,2.154-.829-.829a.7.7,0,0,0-.994.994l1.326,1.326a.7.7,0,0,0,.994,0l2.652-2.652a.7.7,0,0,0-.994-.994Z" />
                                </g>
                            </g>
                        </svg>
                        <div class="font-16 font-basic-color text-d  text-center">{{Text['Dashboard_Employee_Welfare']['WelfareOther']}}</div>
                    </div>
                    <!--เงินที่ได้จากการปฎิบัติงาน-->
                    <div class="i-menubar" ng-class="{'active': tabMenu == '8'}" ng-click="changeTabmenu('8',selectyear)">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             width="24" height="24" viewBox="0 0 24 24">
                            <g transform="translate(-1305 -272)">
                                <g transform="translate(1305 272)">
                                    <path d="M23.984,23.44c.023-.107.015.549.015-14.44a.706.706,0,0,0-.225-.516c.013,0-.171-.131-3.571-2.6V3.61A2.112,2.112,0,0,0,18.093,1.5h-.981A2.113,2.113,0,0,0,15.094,0H5.907A2.112,2.112,0,0,0,3.8,2.11V5.884C.015,8.633.25,8.449.167,8.548a.7.7,0,0,0-.146.293C-.009,8.965,0,8.1,0,23.294a.7.7,0,0,0,.612.7C.69,24,23.349,24,23.3,24a.7.7,0,0,0,.688-.558ZM1.408,10.384l7.87,5.743-7.87,5.78ZM12,15.872l9.151,6.721H2.85Zm10.592-5.488V21.907l-7.87-5.78ZM22.1,9l-1.9,1.386V7.622ZM18.8,3.61v7.8L17.2,12.576V2.907h.891a.7.7,0,0,1,.7.7ZM5.907,1.407h9.186a.7.7,0,0,1,.7.7V13.6l-2.262,1.651-.7-.515a1.4,1.4,0,0,0-1.665,0s-.056.041-.7.515L5.2,11.413V2.11A.7.7,0,0,1,5.907,1.407ZM3.8,7.622v2.766L1.9,9l1.9-1.38Z" />
                                    <path class="c" d="M11.281,7.389a5.012,5.012,0,0,1-1.208-.557.275.275,0,0,1-.027-.216.391.391,0,0,1,.25-.309.849.849,0,0,1,.749.1A.7.7,0,0,0,12,5.375a2.288,2.288,0,0,0-.792-.427V4.89a.7.7,0,0,0-1.406,0v.1a1.761,1.761,0,0,0-.593,2.947,5.869,5.869,0,0,0,1.606.776.469.469,0,0,1,.352.561.667.667,0,0,1-.668.567A1.247,1.247,0,0,1,9.574,9.6a.7.7,0,1,0-.77,1.177A2.545,2.545,0,0,0,9.8,11.2v.068a.7.7,0,1,0,1.406,0v-.147a1.975,1.975,0,0,0,.077-3.735Z" />
                                </g>
                            </g>
                        </svg>
                        <div class="font-16 font-basic-color text-d  text-center">{{Text['Dashboard_Employee_Welfare']['AmountRevice']}}</div>
                    </div>
                </div>
            </div>

            <div class="ayodia-body-content-section-1 show-tablet">
                <div class="row ">
                    <div class="margin-b20">
                        <label class="font-16">{{Text['Dashboard_Employee_Welfare']['Year']}}</label>
                        <select class="form-control" ng-model="selectyear" ng-show="dataPincode" ng-change="changeYear(tabMenu,selectyear);">
                            <option ng-if="list_year.length > 0" ng-repeat="year in list_year" value="{{year}}">
                                {{year}}
                            </option>
                        </select>
                    </div>
                    <div>
                        <label class="font-16">{{Text['Dashboard_Employee_Welfare']['EmployeeWelfare']}} :</label>
                        <select class="form-control" ng-model="tabMenu" ng-change="changeTabmenu(tabMenu,selectyear)">
                            <option ng-repeat="item in list_all_benefit" value="{{item.TabId}}">{{Text['Dashboard_Employee_Welfare'][item.TextCode]}}</option>
                        </select>
                    </div>
                </div>
                <!--<pre>{{tabMenu | json}}</pre>
                <pre>{{selectyear | json}}</pre>-->
            </div>

            <div class="ayodia-body-content">
                <!-- วันลา -->
                <div class="row" ng-if="tabMenu == 1">
                    <div class="col-md-12 media-padding-col">
                        <div class="sub-title ng-binding">{{Text['Dashboard_Employee_Welfare']['Absence']}}</div>
                    </div>
                    <div class="row row-flex-end" ng-if="list_absence_row1.length > 0">
                        <div class="col-sm-12 col-md-3 mb-30" ng-repeat="item in list_absence_row1">
                            <div class="ayodia-progressbar">
                                <div class="ayodia-progressbar-title clearfix">
                                    <div class="font-16 pb-l"> {{Text['ABSENCEQUOTATYPE'][item.TextCodeShort]}}</div>
                                    <div class="font-16 pb-r"> {{item.ProcessApproval}} / {{item.UseAbsence }} / {{item.TotalAbsence}}  </div>
                                </div>
                                <div class="ayodia-progress-item">
                                    <div class="progress-bar color-company" ng-style="{width : item.Percent + '%' }"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-flex-end" ng-if="list_absence_row2.length > 0">
                        <div class="col-sm-12 col-md-3 mb-30" ng-repeat="item in list_absence_row2">
                            <div class="ayodia-progressbar">
                                <div class="ayodia-progressbar-title clearfix">
                                    <div class="font-16 pb-l"> {{Text['ABSENCETYPE'][item.TextCodeFull]}}</div>
                                    <div class="font-16 pb-r"> {{item.ProcessApproval}} / {{item.UseAbsence }} / {{item.TotalAbsence}}  </div>
                                </div>
                                <div class="ayodia-progress-item">
                                    <div class="progress-bar color-company" ng-style="{width : item.Percent + '%' }"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-flex-end" ng-if="list_absence_row3.length > 0">
                        <div class="col-sm-12 col-md-3 mb-30" ng-repeat="item in list_absence_row3">
                            <div class="ayodia-progressbar">
                                <div class="ayodia-progressbar-title clearfix">
                                    <div class="font-16 pb-l"> {{Text['ABSENCETYPE'][item.TextCodeFull]}}</div>
                                    <div class="font-16 pb-r"> {{item.ProcessApproval}} / {{item.UseAbsence }} / {{item.TotalAbsence}}  </div>
                                </div>
                                <div class="ayodia-progress-item">
                                    <div class="progress-bar color-company" ng-style="{width : item.Percent + '%' }"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-flex-end" ng-if="list_absence_row4.length > 0">
                        <div class="col-sm-12 col-md-3 mb-30" ng-repeat="item in list_absence_row4">
                            <div class="ayodia-progressbar">
                                <div class="ayodia-progressbar-title clearfix">
                                    <div class="font-16 pb-l"> {{Text['ABSENCETYPE'][item.TextCodeFull]}}</div>
                                    <div class="font-16 pb-r"> {{item.ProcessApproval}} / {{item.UseAbsence }} / {{item.TotalAbsence}}  </div>
                                </div>
                                <div class="ayodia-progress-item">
                                    <div class="progress-bar color-company" ng-style="{width : item.Percent + '%' }"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-flex-end" ng-if="list_absence_row5.length > 0">
                        <div class="col-sm-12 col-md-3 mb-30" ng-repeat="item in list_absence_row5">
                            <div class="ayodia-progressbar">
                                <div class="ayodia-progressbar-title clearfix">
                                    <div class="font-16 pb-l"> {{Text['ABSENCETYPE'][item.TextCodeFull]}}</div>
                                    <div class="font-16 pb-r"> {{item.ProcessApproval}} /{{item.UseAbsence }} / {{item.TotalAbsence}}  </div>
                                </div>
                                <div class="ayodia-progress-item">
                                    <div class="progress-bar color-company" ng-style="{width : item.Percent + '%' }"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="list_absence.length <= 0">
                        <div class="col-md-12 media-padding-col">
                            <div class="color-danger font-18">{{Text['Dashboard_Employee_Welfare']['TextWarning_Absence']}}</div>
                        </div>
                    </div>
                    <div class="row margin-t10" ng-if="list_absence.length > 0">
                        <div class="col-sm-12">
                            <div class="pull-left">
                                <span class="color-danger font-18">{{Text['Dashboard_Employee_Welfare']['Note_Absence']}}</span>
                            </div>
                        </div>
                    </div>
                    <!--<pre>{{list_absence | json}}</pre>-->
                </div>
                <!-- กองทุนสำรองเลี้ยงชีพ -->
                <div class="row" ng-show="tabMenu == 2">
                    <div class="col-md-12 media-padding-col">
                        <div class="sub-title ng-binding">{{Text['Dashboard_Employee_Welfare']['ProvidentFund']}}</div>
                    </div>
                    <section ng-if="model_providentfundByEmployee && model_providentfundByEmployee.IsHaveProvidentFund">

                        <div class="row row-flex-end">
                            <div class="col-sm-12 col-md-4 mb-30">
                                <div class="ayodia-box-summary">
                                    <div class="ayodia-box-summary-title clearfix font-16 font-weight-bold">
                                        {{Text['Dashboard_Employee_Welfare']['TotalContribution_Company']}}
                                    </div>
                                    <div class="ayodia-box-summary-item font-18">
                                        {{model_providentfundByEmployee.TotalContributionCompany | number:2}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 mb-30">
                                <div class="ayodia-box-summary">
                                    <div class="ayodia-box-summary-title clearfix font-16 font-weight-bold">
                                        {{Text['Dashboard_Employee_Welfare']['TotalContribution_Employee']}}
                                    </div>
                                    <div class="ayodia-box-summary-item font-18">
                                        {{model_providentfundByEmployee.TotalContributionEmployee | number:2}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 mb-30">
                                <div class="ayodia-box-summary">
                                    <div class="ayodia-box-summary-title clearfix font-16 font-weight-bold">
                                        {{Text['Dashboard_Employee_Welfare']['GrandTotalContribution']}}
                                    </div>
                                    <div class="ayodia-box-summary-item font-18">
                                        {{model_providentfundByEmployee.GrandTotal | number:2}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-b-5">
                            <div class="show-tablet">
                                <div class="col-md-12 media-padding-col mb-30" style="padding:0px 15px;">
                                    <div class="sub-title ng-binding">{{Text['Dashboard_Employee_Welfare']['Detail']}}</div>
                                </div>
                            </div>
                            <div class="show-pc">
                                <div class="col-md-12 media-padding-col mb-30">
                                    <div class="sub-title ng-binding">{{Text['Dashboard_Employee_Welfare']['Detail']}}</div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 mb-30">
                                <span class="font-16 font-weight-bold">{{Text['Dashboard_Employee_Welfare']['Age']}}</span>
                                <br />
                                <span class="font-16">{{model_providentfundByEmployee.TextWorkingAge1}}</span>
                            </div>
                            <div class="col-sm-12 col-md-4 mb-30">
                                <!--หลักเกณฑ์ % อัตราเงินสะสม-->
                                <span class="font-16 font-basic-color font-weight-bold">
                                    {{Text['Dashboard_Employee_Welfare']['ContributionRate_PTT']}}
                                </span>
                                <br />
                                <span class="font-16">{{model_providentfundByEmployee.TextContributionCompany1 | number:2}}</span>
                            </div>
                            <div class="col-sm-12 col-md-4 mb-30">
                                <span class="font-16 font-basic-color font-weight-bold">{{Text['Dashboard_Employee_Welfare']['ProvidentAmountEmployee']}}</span>
                                <br />
                                <span class="font-16">{{model_providentfundByEmployee.AmountEmployee1 | number:2}}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-4 mb-30">
                                <span class="font-16 font-basic-color font-weight-bold">{{Text['Dashboard_Employee_Welfare']['Age']}}</span>
                                <br />
                                <span class="font-16">ไม่จำกัดอายุ</span>
                            </div>
                            <div class="col-sm-12 col-md-4 mb-30">
                                <span class="font-16 font-basic-color font-weight-bold">{{Text['Dashboard_Employee_Welfare']['ContributionRate_Person']}}</span>
                                <br />
                                <span class="font-16">{{model_providentfundByEmployee.TextContributionCompany2 | number:2}}</span>
                            </div>
                            <div class="col-sm-12 col-md-4 mb-30">
                                <span class="font-16 font-basic-color font-weight-bold">{{Text['Dashboard_Employee_Welfare']['ProvidentAmountEmployee']}}</span>
                                <br />
                                <span class="font-16">{{model_providentfundByEmployee.AmountEmployee2 | number:2}}</span>
                            </div>
                        </div>

                    </section>
                    <section ng-if="model_providentfundByEmployee && !model_providentfundByEmployee.IsHaveProvidentFund">
                        <div class="row">
                            <div class="col-md-12 media-padding-col">
                                <div class="color-danger font-18">{{Text['Dashboard_Employee_Welfare']['TextWarning_Providentfund']}}</div>
                            </div>
                        </div>
                    </section>
                    <!--<pre>{{model_providentfundByEmployee | json}}</pre>-->
                </div>
                <!-- สวัสดิการทางเลือก -->
                <div class="row" ng-show="tabMenu == 3">
                    <div class="col-md-12 media-padding-col">
                        <div class="sub-title">{{Text['Dashboard_Employee_Welfare']['FlexibleBenefit']}}</div>
                    </div>
                    <section class="show-pc" ng-if="model_reimburseByEmployee && model_reimburseByEmployee.IsHaveAmountReimburseByEmployee">
                        <div class="col-md-12 media-padding-col">
                            <div class="sub-title font-18 font-basic-color ">{{Text['Dashboard_Employee_Welfare']['Quota']}}</div>
                        </div>
                        <div class="col-sm-12 margin-b20 ">
                            <div class="row fcc">
                                <div class="col-md-12 text-center margin-b10">
                                    <div class=" text-center">

                                        <svg width="20%" height="20%" viewBox="0 0 46 46" class="chart-svg-pro c9">
                                            <circle class="my-donut-hole" cx="23" cy="23" r="15.91549430918954" fill="none"></circle>
                                            <circle class="my-donut-ring  svg-progress-1" cx="23" cy="23" r="15.91549430918954" fill="transparent" stroke="gray"
                                                    stroke-width="6"></circle>

                                            <!-- อัพเดท chart ใส่เปอร์เซน ตรงนี้ stroke-dasharray="25 75"  -->
                                            <circle class="my-donut-ring  svg-progress-2" cx="23" cy="23" r="15.91549430918954" fill="transparent" stroke="gray"
                                                    stroke-width="6"
                                                    stroke-dasharray="{{model_reimburseByEmployee.PercentageUse}} {{model_reimburseByEmployee.PercentageRemain}}"
                                                    stroke-dashoffset="25">
                                            </circle>

                                            <g class="svg-text-m-chart">
                                                <text x="50%" y="50%" class="svg-header">
                                                    {{Text['Dashboard_Employee_Welfare']['FinancialAmount']}}
                                                </text>
                                                <text x="50%" y="50%" class="svg-sum-number">
                                                    {{model_reimburseByEmployee.TotalAmount | number:2}}
                                                </text>
                                                <text x="50%" y="50%" class="svg-sum-text">
                                                    {{Text['Dashboard_Employee_Welfare']['Bath']}}
                                                </text>
                                            </g>
                                        </svg>
                                    </div>
                                </div>

                                <div class="col-md-3 text-center margin-b10 clearfix chart-svg-detail c9">
                                    <div class="sub-title-2 margin-none pull-left">
                                        <i class="review-box color-2"></i>{{Text['Dashboard_Employee_Welfare']['Withdraw']}}
                                    </div>
                                    <div class="sub-title-2 margin-none pull-right">{{model_reimburseByEmployee.TotalAmountUse | number:2}} บาท</div>
                                </div>
                                <div class="col-md-3 text-center margin-b10 clearfix chart-svg-detail c9">
                                    <div class="sub-title-2 margin-none pull-left">
                                        <i class="review-box color-1"></i>{{Text['Dashboard_Employee_Welfare']['Remain']}}
                                    </div>
                                    <div class="sub-title-2 margin-none pull-right">{{model_reimburseByEmployee.TotalAmountRemain | number:2}} บาท</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12" ng-if="model_reimburseByEmployee.ListRegisterEnrollment.length > 0">
                            <table class="w-100 table-style-1 margin-b10 ">
                                <tr class="t-header">
                                    <th class="text-center" width="30%">{{Text['Dashboard_Employee_Welfare']['Subject_Benefit']}}</th>
                                    <th class="text-center" width="55%">{{Text['Dashboard_Employee_Welfare']['GetBenefit']}}</th>
                                    <th class="text-center" width="15%">{{Text['Dashboard_Employee_Welfare']['UseFinancialAmount']}}</th>
                                </tr>
                                <tr class="t-body" ng-repeat="item in model_reimburseByEmployee.ListRegisterEnrollment">
                                    <td class="text-center">{{item.TextNameEnrollment}}</td>
                                    <td ng-if="item.isMainBenefit">{{Text['SelectionItemID'][item.SelectionItemID + '_1']}}</td> <!--เลือกสวัสดิการหลัก-->
                                    <td ng-if="!item.isMainBenefit">{{Text['SelectionItemID'][item.SelectionItemID + '_0']}}</td> <!--เลือกสวัสดิการทางเลือก (รอง)-->
                                    <td class="text-center">{{item.Amount | number:2}}</td>
                                </tr>
                            </table>
                        </div>
                    </section>
                    <section class="show-tablet" ng-if="model_reimburseByEmployee && model_reimburseByEmployee.IsHaveAmountReimburseByEmployee">
                        <div class="col-md-12 media-padding-col">
                            <div class="sub-title font-18 font-basic-color ">{{Text['Dashboard_Employee_Welfare']['Quota']}}</div>
                        </div>
                        <div class="col-sm-12 margin-b20 ">
                            <div class="row fcc">
                                <div class="col-md-12 text-center margin-b10">
                                    <div class=" text-center">

                                        <svg width="100%" height="100%" viewBox="0 0 46 46" class="chart-svg-pro c9">
                                            <circle class="my-donut-hole" cx="23" cy="23" r="15.91549430918954" fill="none"></circle>
                                            <circle class="my-donut-ring  svg-progress-1" cx="23" cy="23" r="15.91549430918954" fill="transparent" stroke="gray"
                                                    stroke-width="6"></circle>

                                            <!-- อัพเดท chart ใส่เปอร์เซน ตรงนี้ stroke-dasharray="25 75"  -->
                                            <circle class="my-donut-ring  svg-progress-2" cx="23" cy="23" r="15.91549430918954" fill="transparent" stroke="gray"
                                                    stroke-width="6"
                                                    stroke-dasharray="{{model_reimburseByEmployee.PercentageUse}} {{model_reimburseByEmployee.PercentageRemain}}"
                                                    stroke-dashoffset="25">
                                            </circle>

                                            <g class="svg-text-m-chart">
                                                <text x="50%" y="50%" class="svg-header">
                                                    {{Text['Dashboard_Employee_Welfare']['FinancialAmount']}}
                                                </text>
                                                <text x="50%" y="50%" class="svg-sum-number">
                                                    {{model_reimburseByEmployee.TotalAmount | number:2}}
                                                </text>
                                                <text x="50%" y="50%" class="svg-sum-text">
                                                    {{Text['Dashboard_Employee_Welfare']['Bath']}}
                                                </text>
                                            </g>
                                        </svg>
                                    </div>
                                </div>

                                <div class="col-md-3 text-center margin-b10 clearfix chart-svg-detail c9">
                                    <div class="sub-title-2 margin-none pull-left">
                                        <i class="review-box color-2"></i>{{Text['Dashboard_Employee_Welfare']['Withdraw']}}
                                    </div>
                                    <div class="sub-title-2 margin-none pull-right">{{model_reimburseByEmployee.TotalAmountUse | number:2}} บาท</div>
                                </div>
                                <div class="col-md-3 text-center margin-b10 clearfix chart-svg-detail c9">
                                    <div class="sub-title-2 margin-none pull-left">
                                        <i class="review-box color-1"></i>{{Text['Dashboard_Employee_Welfare']['Remain']}}
                                    </div>
                                    <div class="sub-title-2 margin-none pull-right">{{model_reimburseByEmployee.TotalAmountRemain | number:2}} บาท</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12" ng-if="model_reimburseByEmployee.ListRegisterEnrollment.length > 0">
                            <table class="w-100 table-style-1 margin-b10 ">
                                <tr class="t-header">
                                    <th class="text-center" width="60%">{{Text['Dashboard_Employee_Welfare']['Subject_Benefit']}}</th>
                                    <th class="text-center" width="40%">{{Text['Dashboard_Employee_Welfare']['UseFinancialAmount']}}</th>
                                </tr>
                                <tr class="t-body" ng-repeat="item in model_reimburseByEmployee.ListRegisterEnrollment">
                                    <td>
                                        {{item.TextNameEnrollment}}
                                        <br />
                                        <span ng-if="item.isMainBenefit">{{Text['SelectionItemID'][item.SelectionItemID + '_1']}}</span>
                                        <span ng-if="!item.isMainBenefit">{{Text['SelectionItemID'][item.SelectionItemID + '_0']}}</span>
                                    </td>
                                    <td class="text-right">{{item.Amount | number:2}}</td>
                                </tr>
                            </table>
                        </div>
                    </section>
                    <section ng-if="model_reimburseByEmployee && !model_reimburseByEmployee.IsHaveAmountReimburseByEmployee">
                        <div class="col-md-12 media-padding-col">
                            <div class="color-danger font-18">{{Text['Dashboard_Employee_Welfare']['TextWarning_FlexibleBenefit']}}</div>
                        </div>
                    </section>
                    <!--<pre>{{model_reimburseByEmployee | json}}</pre>-->
                </div>
                <!-- การศึกษาบุตร -->
                <div class="row" ng-show="tabMenu == 4">
                    <section ng-if="model_ChildEducationByEmployee && model_ChildEducationByEmployee.IsHaveUseEducationChildEmployee">
                        <div class="col-md-12 media-padding-col">
                            <div class="sub-title ng-binding">{{Text['Dashboard_Employee_Welfare']['EducationChild']}}</div>
                        </div>
                        <div class="row margin-b20">
                            <div class="col-sm-12 col-md-6 mb-50" ng-repeat="item in model_ChildEducationByEmployee.ListUseEducationChild">
                                <div class="ayodia-progressbar">
                                    <div class="">
                                        <div class="font-16 font-basic-color ">
                                            <span ng-show="profile.Language == 'TH'">{{Text['Dashboard_Employee_Welfare']['Quota']}} : {{item.Fullname}} ( {{item.TextLevelTH}} )</span>
                                            <span ng-show="profile.Language == 'EN'">{{Text['Dashboard_Employee_Welfare']['Quota']}} : {{item.Fullname}} ( {{item.TextLevelEN}} )</span>
                                        </div>
                                    </div>
                                    <div class="ayodia-progressbar-title clearfix">
                                        <div class="font-16 pb-l">0.00</div>
                                        <div class="font-16 pb-r">{{item.AmountQuota | number:2}}</div>
                                    </div>
                                    <div class="ayodia-progress-item">
                                        <div class="progress-bar color-company" ng-style="{width : item.PercentageUse + '%' }">
                                            <div class="font-16 detail-bar" ng-if="item.PercentageUse != '0'">
                                                <div class="text-bar-detail-center">{{item.AmountReimburse  | number:2}} </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row show-pc">
                            <div class="col-md-12 media-padding-col">
                                <div class="sub-title font-18 font-basic-color ">{{Text['Dashboard_Employee_Welfare']['Detail']}}</div>
                            </div>
                            <div class="col-md-12 media-padding-col">
                                <table class="w-100 table-style-1">
                                    <tr class="t-header">
                                        <th class="text-center" width="30%">{{Text['Dashboard_Employee_Welfare']['ChildName']}}</th>
                                        <th class="text-center" width="20%">{{Text['Dashboard_Employee_Welfare']['UseFinancialAmount']}}</th>
                                        <th class="text-center" width="20%">{{Text['Dashboard_Employee_Welfare']['AmountReimburse']}}</th>
                                        <th class="text-center" width="20%">{{Text['Dashboard_Employee_Welfare']['AmountRemain']}}</th>
                                        <th></th>
                                    </tr>
                                    <tr class="t-body" ng-repeat="item in model_ChildEducationByEmployee.ListUseEducationChild">
                                        <td class="text-center">{{item.Fullname}}</td>
                                        <td class="text-center">{{item.AmountQuota | number:2}}</td>
                                        <td class="text-center">{{item.AmountReimburse | number:2}}</td>
                                        <td class="text-center">{{item.AmountRemain | number:2}}</td>
                                        <td></td>
                                    </tr>
                                    <tr class="tb-m-padding-d t-summary">
                                        <td class="text-right">{{Text['Dashboard_Employee_Welfare']['TotalAmountQuota']}}</td>
                                        <td class="text-center">{{model_ChildEducationByEmployee.TotalAmountQuota | number:2}}</td>
                                        <td class="text-center">{{model_ChildEducationByEmployee.TotalAmountReimburse | number:2}}</td>
                                        <td class="text-center">{{model_ChildEducationByEmployee.TotalAmountRemain | number:2}}</td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row show-tablet">
                            <div class="col-xs-12 media-padding-col margin-b-5">
                                <div class="font-12 font-basic-color">{{Text['Dashboard_Employee_Welfare']['Detail']}}</div>
                            </div>
                            <div class="col-xs-12">
                                <table class="w-100 table-style-1">
                                    <tr class="t-header">
                                        <th class="text-center" width="50%">{{Text['Dashboard_Employee_Welfare']['ChildName']}}</th>
                                        <th class="text-center" width="50%">{{Text['Dashboard_Employee_Welfare']['UseFinancialAmount']}}</th>
                                    </tr>
                                    <tr class="t-body" ng-repeat="item in model_ChildEducationByEmployee.ListUseEducationChild">
                                        <td class="font-12 text-left">{{item.Fullname}}</td>
                                        <td class="font-12 text-right">{{item.AmountQuota | number:2}}</td>
                                    </tr>
                                    <tr class="tb-m-padding-d t-summary">
                                        <td class="font-12 text-right">{{Text['Dashboard_Employee_Welfare']['TotalAmountQuota']}}</td>
                                        <td class="font-12 text-right">{{model_ChildEducationByEmployee.TotalAmountQuota | number:2}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </section>
                    <section ng-if="model_ChildEducationByEmployee && !model_ChildEducationByEmployee.IsHaveUseEducationChildEmployee">
                        <div class="col-md-12 media-padding-col">
                            <div class="sub-title ng-binding">{{Text['Dashboard_Employee_Welfare']['EducationChild']}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 media-padding-col">
                                <div class="color-danger font-18">{{Text['Dashboard_Employee_Welfare']['TextWarning_Education']}}</div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- สถานออกกำลังกาย -->
                <div class="row" ng-show="tabMenu == 5">
                    <section class="show-pc" ng-if="model_FitnessByEmployee && model_FitnessByEmployee.IsHaveUseFitness">
                        <div class="col-md-12 media-padding-col">
                            <div class="sub-title ng-binding">
                                {{Text['Dashboard_Employee_Welfare']['Fitness']}}
                            </div>
                        </div>
                        <div class="col-sm-12 margin-b20 ">
                            <div class="row fcc">
                                <div class="col-md-12 text-center margin-b10">
                                    <div class=" text-center">

                                        <svg width="20%" height="20%" viewBox="0 0 46 46" class="chart-svg-pro c9">
                                            <circle class="my-donut-hole" cx="23" cy="23" r="15.91549430918954" fill="none"></circle>
                                            <circle class="my-donut-ring  svg-progress-1" cx="23" cy="23" r="15.91549430918954" fill="transparent" stroke="gray"
                                                    stroke-width="6"></circle>

                                            <!-- อัพเดท chart ใส่เปอร์เซน ตรงนี้ stroke-dasharray="25 75"  -->
                                            <circle class="my-donut-ring  svg-progress-2" cx="23" cy="23" r="15.91549430918954" fill="transparent" stroke="gray"
                                                    stroke-width="6"
                                                    stroke-dasharray="{{model_FitnessByEmployee.PercentageUse}} {{model_FitnessByEmployee.PercentageRemain}}"
                                                    stroke-dashoffset="25">
                                            </circle>

                                            <g class="svg-text-m-chart">
                                                <text x="50%" y="50%" class="svg-header">
                                                    {{Text['Dashboard_Employee_Welfare']['FinancialAmount']}}
                                                </text>
                                                <text x="50%" y="50%" class="svg-sum-number">
                                                    {{model_FitnessByEmployee.TotalAmountQuota | number:2}}
                                                </text>
                                                <text x="50%" y="50%" class="svg-sum-text">
                                                    {{Text['Dashboard_Employee_Welfare']['Bath']}}
                                                </text>
                                            </g>
                                        </svg>
                                    </div>
                                </div>

                                <div class="col-md-3 text-center margin-b10 clearfix chart-svg-detail c9">
                                    <div class="sub-title-2 margin-none pull-left">
                                        <i class="review-box color-2"></i>{{Text['Dashboard_Employee_Welfare']['Withdraw']}}
                                    </div>
                                    <div class="sub-title-2 margin-none pull-right">{{model_FitnessByEmployee.TotalAmountUse | number:2}} {{Text['Dashboard_Employee_Welfare']['Bath']}}</div>
                                </div>
                                <div class="col-md-3 text-center margin-b10 clearfix chart-svg-detail c9">
                                    <div class="sub-title-2 margin-none pull-left">
                                        <i class="review-box color-1"></i>{{Text['Dashboard_Employee_Welfare']['Remain']}}
                                    </div>
                                    <div class="sub-title-2 margin-none pull-right">{{model_FitnessByEmployee.TotalAmountRemain | number:2}} {{Text['Dashboard_Employee_Welfare']['Bath']}}</div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="show-tablet" ng-if="model_FitnessByEmployee && model_FitnessByEmployee.IsHaveUseFitness">
                        <div class="col-md-12 media-padding-col">
                            <div class="sub-title ng-binding">
                                {{Text['Dashboard_Employee_Welfare']['Fitness']}}
                            </div>
                        </div>
                        <div class="col-sm-12 margin-b20 ">
                            <div class="row fcc">
                                <div class="col-md-12 text-center margin-b10">
                                    <div class=" text-center">

                                        <svg width="100%" height="100%" viewBox="0 0 46 46" class="chart-svg-pro c9">
                                            <circle class="my-donut-hole" cx="23" cy="23" r="15.91549430918954" fill="none"></circle>
                                            <circle class="my-donut-ring  svg-progress-1" cx="23" cy="23" r="15.91549430918954" fill="transparent" stroke="gray"
                                                    stroke-width="6"></circle>

                                            <!-- อัพเดท chart ใส่เปอร์เซน ตรงนี้ stroke-dasharray="25 75"  -->
                                            <circle class="my-donut-ring  svg-progress-2" cx="23" cy="23" r="15.91549430918954" fill="transparent" stroke="gray"
                                                    stroke-width="6"
                                                    stroke-dasharray="{{model_FitnessByEmployee.PercentageUse}} {{model_FitnessByEmployee.PercentageRemain}}"
                                                    stroke-dashoffset="25">
                                            </circle>

                                            <g class="svg-text-m-chart">
                                                <text x="50%" y="50%" class="svg-header">
                                                    {{Text['Dashboard_Employee_Welfare']['FinancialAmount']}}
                                                </text>
                                                <text x="50%" y="50%" class="svg-sum-number">
                                                    {{model_FitnessByEmployee.TotalAmountQuota | number:2}}
                                                </text>
                                                <text x="50%" y="50%" class="svg-sum-text">
                                                    {{Text['Dashboard_Employee_Welfare']['Bath']}}
                                                </text>
                                            </g>
                                        </svg>
                                    </div>
                                </div>

                                <div class="col-md-3 text-center margin-b10 clearfix chart-svg-detail c9">
                                    <div class="sub-title-2 margin-none pull-left">
                                        <i class="review-box color-2"></i>{{Text['Dashboard_Employee_Welfare']['Withdraw']}}
                                    </div>
                                    <div class="sub-title-2 margin-none pull-right">{{model_FitnessByEmployee.TotalAmountUse | number:2}} {{Text['Dashboard_Employee_Welfare']['Bath']}}</div>
                                </div>
                                <div class="col-md-3 text-center margin-b10 clearfix chart-svg-detail c9">
                                    <div class="sub-title-2 margin-none pull-left">
                                        <i class="review-box color-1"></i>{{Text['Dashboard_Employee_Welfare']['Remain']}}
                                    </div>
                                    <div class="sub-title-2 margin-none pull-right">{{model_FitnessByEmployee.TotalAmountRemain | number:2}} {{Text['Dashboard_Employee_Welfare']['Bath']}}</div>
                                </div>
                            </div>

                        </div>

                    </section>
                    <section ng-if="model_FitnessByEmployee && !model_FitnessByEmployee.IsHaveUseFitness">
                        <div class="col-md-12 media-padding-col">
                            <div class="sub-title ng-binding">
                                {{Text['Dashboard_Employee_Welfare']['Fitness']}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 media-padding-col">
                                <div class="color-danger font-18">
                                    {{Text['Dashboard_Employee_Welfare']['TextWarning_Fitness']}}
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--<section ng-if="model_FitnessByEmployee && model_FitnessByEmployee.IsHaveUseFitness && !IsEnrollment">
                        <div class="col-md-12 media-padding-col">
                            <div class="sub-title ng-binding">
                                {{Text['Dashboard_Employee_Welfare']['Fitness']}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 media-padding-col">
                                <div class="color-danger font-18">
                                    ท่านยังไม่ได้ลงทะเบียนสวัสดิการ
                                </div>
                            </div>
                        </div>
                    </section>-->
                    <!--<pre>{{model_FitnessByEmployee | json}}</pre>-->
                </div>
                <!-- ค่ารักษาพยาบาลบุพการี -->
                <div class="row" ng-show="tabMenu == 6">
                    <div class="col-md-12 media-padding-col">
                        <div class="sub-title">{{Text['Dashboard_Employee_Welfare']['HealthInsAllowance_Parent']}}</div>
                    </div>
                    <section ng-show="model_HealthParentByEmployee && model_HealthParentByEmployee.IsHaveUseHealth">
                        <div class="col-sm-12 col-md-6 margin-b20"
                             ng-if="model_HealthParentByEmployee.ListUseHealthInsAllowanceParent.length > 0"
                             ng-repeat="item in model_HealthParentByEmployee.ListUseHealthInsAllowanceParent">
                            <div class="sub-title font-18 font-basic-color ">{{item.Fullname}}</div>
                            <div class="row fcc">
                                <div class="col-md-7 text-center margin-b10">
                                    <div class=" text-center">
                                        <svg width="80%" height="80%" viewBox="0 0 46 46" class="chart-svg-pro c9">
                                            <circle class="my-donut-hole" cx="23" cy="23" r="15.91549430918954" fill="none"></circle>
                                            <circle class="my-donut-ring  svg-progress-1" cx="23" cy="23" r="15.91549430918954" fill="transparent" stroke="gray"
                                                    stroke-width="6"></circle>
                                            <!-- อัพเดท chart ใส่เปอร์เซน ตรงนี้ stroke-dasharray="25 75"  -->
                                            <circle class="my-donut-ring  svg-progress-2" cx="23" cy="23" r="15.91549430918954" fill="transparent" stroke="gray"
                                                    stroke-width="6"
                                                    stroke-dasharray="{{item.PercentageUse}} {{item.PercentageRemain}}"
                                                    stroke-dashoffset="25">
                                            </circle>
                                            <g class="svg-text-m-chart">
                                                <text x="50%" y="50%" class="svg-header">
                                                    {{Text['Dashboard_Employee_Welfare']['FinancialAmount']}}
                                                </text>
                                                <text x="50%" y="50%" class="svg-sum-number">
                                                    {{item.AmountQuota | number :2 }}
                                                </text>
                                                <text x="50%" y="50%" class="svg-sum-text">
                                                    {{Text['Dashboard_Employee_Welfare']['Bath']}}
                                                </text>
                                            </g>
                                        </svg>
                                    </div>
                                </div>

                                <div class="col-md-6 text-center margin-b10 clearfix chart-svg-detail c9">
                                    <div class="sub-title-2 margin-none pull-left">
                                        <i class="review-box color-2"></i>{{Text['Dashboard_Employee_Welfare']['Withdraw']}}
                                    </div>
                                    <div class="sub-title-2 margin-none pull-right">{{item.AmountReimburse | number :2}}&nbsp;{{Text['Dashboard_Employee_Welfare']['Bath']}}</div>
                                </div>
                                <div class="col-md-6 text-center margin-b10 clearfix chart-svg-detail c9">
                                    <div class="sub-title-2 margin-none pull-left">
                                        <i class="review-box color-1"></i>{{Text['Dashboard_Employee_Welfare']['Remain']}}
                                    </div>
                                    <div class="sub-title-2 margin-none pull-right">{{item.AmountRemain | number :2}}&nbsp;{{Text['Dashboard_Employee_Welfare']['Bath']}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row show-pc">
                            <div class="col-md-12 media-padding-col">
                                <div class="sub-title font-18 font-basic-color ">{{Text['Dashboard_Employee_Welfare']['Detail']}}</div>
                            </div>
                            <div class="col-md-12 media-padding-col">
                                <table class="w-100 table-style-1">
                                    <tr class="t-header">
                                        <th class="text-center" width="30%">{{Text['Dashboard_Employee_Welfare']['ParentName']}}</th>
                                        <th class="text-center" width="20%">{{Text['Dashboard_Employee_Welfare']['UseFinancialAmount']}}</th>
                                        <th class="text-center" width="20%">{{Text['Dashboard_Employee_Welfare']['AmountReimburse']}}</th>
                                        <th class="text-center" width="20%">{{Text['Dashboard_Employee_Welfare']['AmountRemain']}}</th>
                                        <th></th>
                                    </tr>
                                    <tr class="t-body" ng-repeat="item in model_HealthParentByEmployee.ListUseHealthInsAllowanceParent">
                                        <td class="text-center">{{item.Fullname}}</td>
                                        <td class="text-center">{{item.AmountQuota | number:2}}</td>
                                        <td class="text-center">{{item.AmountReimburse | number:2}}</td>
                                        <td class="text-center">{{item.AmountRemain | number:2}}</td>
                                        <td></td>
                                    </tr>
                                    <tr class="tb-m-padding-d t-summary">
                                        <td class="text-right">{{Text['Dashboard_Employee_Welfare']['TotalAmountQuota']}}</td>
                                        <td class="text-center">{{model_HealthParentByEmployee.TotalAmountQuota | number:2}}</td>
                                        <td class="text-center">{{model_HealthParentByEmployee.TotalAmountReimburse | number:2}}</td>
                                        <td class="text-center">{{model_HealthParentByEmployee.TotalAmountRemain | number:2}}</td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row show-tablet">
                            <div class="col-xs-12 media-padding-col margin-b-5">
                                <div class="font-16 font-basic-color">{{Text['Dashboard_Employee_Welfare']['Detail']}}</div>
                            </div>
                            <div class="col-xs-12">
                                <table class="w-100 table-style-1">
                                    <tr class="t-header">
                                        <th class="text-center" width="50%">{{Text['Dashboard_Employee_Welfare']['ParentName']}}</th>
                                        <th class="text-center" width="50%">{{Text['Dashboard_Employee_Welfare']['UseFinancialAmount']}}</th>
                                    </tr>
                                    <tr class="t-body" ng-repeat="item in model_HealthParentByEmployee.ListUseHealthInsAllowanceParent">
                                        <td class="text-center">{{item.Fullname}}</td>
                                        <td class="text-right">{{item.AmountQuota | number:2}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </section>
                    <section ng-show="model_HealthParentByEmployee && !model_HealthParentByEmployee.IsHaveUseHealth">
                        <div class="row">
                            <div class="col-md-12 media-padding-col">
                                <div class="color-danger font-18">{{Text['Dashboard_Employee_Welfare']['TextWarning_HealthParent']}}</div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- สวัสดิการอื่นๆ -->
                <div class="row" ng-show="tabMenu == 7">
                    <div class="col-md-12 media-padding-col">
                        <div class="sub-title ng-binding">{{Text['Dashboard_Employee_Welfare']['WelfareOther']}}</div>
                    </div>
                    <div class="col-md-12 media-padding-col" ng-if="model_list_annountment.length > 0">
                        <div class="ayodia-ez-accordion margin-b20" ng-repeat="item in model_list_annountment">
                            <button class="ez-accordion" ng-class="{'active': item.tab1 == true}" ng-click="item.tab1 = !item.tab1">
                                <span ng-show="profile.Language == 'TH'">{{item.Title_TH}}</span>
                                <span ng-show="profile.Language == 'EN'">{{item.Title_EN}}</span>
                                <svg class="i-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"> <path d="M19,13H5a1,1,0,0,1,0-2H19a1,1,0,0,1,0,2Z" /></svg>
                                <svg class="i-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                                    <defs>
                                        <style>
                                            .aaa {
                                                fill: #fff;
                                                stroke: #707070;
                                            }

                                            .bbb {
                                                clip-path: url(#aaa);
                                            }

                                            .ccc {
                                                opacity: 0;
                                            }
                                        </style>
                                        <clipPath id="aaa"><rect class="aaa" width="24" height="24" transform="translate(1320 462)" /></clipPath>
                                    </defs>
                                    <g class="bbb" transform="translate(-1320 -462)"><g transform="translate(1320 462)"><rect class="ccc" width="24" height="24" transform="translate(24 24) rotate(180)" /><path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z" /></g></g>
                                </svg>
                            </button>
                            <div class="ez-accordion-panel" ng-class="{'active': item.tab1 == true}">
                                <div class="row margin-b20">
                                    <div class=" margin-b20">
                                        <!--<ng-bind-html ng-show="profile.Language == 'TH'" ng-bind-html="item.Description_TH"> </ng-bind-html>
                                        <ng-bind-html ng-show="profile.Language == 'EN'" ng-bind-html="item.Description_EN"> </ng-bind-html>-->
                                        <ng-bind-html ng-show="profile.Language == 'TH'" ng-bind-html="renderHtml(item.Description_TH)"> </ng-bind-html>
                                        <ng-bind-html ng-show="profile.Language == 'EN'" ng-bind-html="renderHtml(item.Description_EN)"> </ng-bind-html>
                                    </div>
                                    <div class="ayodia-remark-d font-18">
                                        <div class="margin-b10" ng-show="item.Remark_TH">
                                            <b ng-show="profile.Language == 'TH'">{{Text['Dashboard_Employee_Welfare']['Remark']}} : {{item.Remark_TH}} </b>
                                        </div>
                                        <div class="margin-b10" ng-show="item.Remark_EN">
                                            <b ng-show="profile.Language == 'EN'">{{Text['Dashboard_Employee_Welfare']['Remark']}} : {{item.Remark_EN}}</b>
                                        </div>
                                        <div>
                                            <div ng-show="profile.Language == 'TH'" ng-repeat="file in item.ListOtherWelfareFile_TH">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path style="fill:#00ADEE;" d="M15.805,6.747l-4.08-4.5A.75.75,0,0,0,11.17,2H5.92A1.9,1.9,0,0,0,4,3.875v11.25A1.9,1.9,0,0,0,5.92,17h8.16A1.9,1.9,0,0,0,16,15.125V7.25a.75.75,0,0,0-.2-.5Zm-1.568.5H11.282a.593.593,0,0,1-.533-.638V3.5h.082ZM14.08,15.5H5.92a.4.4,0,0,1-.42-.375V3.875A.4.4,0,0,1,5.92,3.5H9.25V6.612A2.092,2.092,0,0,0,11.283,8.75H14.5v6.375a.4.4,0,0,1-.42.375Z" transform="translate(-1 -0.5)" /></svg>
                                                <a class="underline" href="/Uploads/EmployeeWelfare/{{file.NameFile}}" target="_blank">
                                                    {{Text['Dashboard_Employee_Welfare']['Document']}}&nbsp;{{$index + 1}}
                                                </a>
                                            </div>
                                            <div ng-show="profile.Language == 'EN'" ng-repeat="file in item.ListOtherWelfareFile_EN">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path style="fill:#00ADEE;" d="M15.805,6.747l-4.08-4.5A.75.75,0,0,0,11.17,2H5.92A1.9,1.9,0,0,0,4,3.875v11.25A1.9,1.9,0,0,0,5.92,17h8.16A1.9,1.9,0,0,0,16,15.125V7.25a.75.75,0,0,0-.2-.5Zm-1.568.5H11.282a.593.593,0,0,1-.533-.638V3.5h.082ZM14.08,15.5H5.92a.4.4,0,0,1-.42-.375V3.875A.4.4,0,0,1,5.92,3.5H9.25V6.612A2.092,2.092,0,0,0,11.283,8.75H14.5v6.375a.4.4,0,0,1-.42.375Z" transform="translate(-1 -0.5)" /></svg>
                                                <a class="underline" href="/Uploads/EmployeeWelfare/{{file.NameFile}}" target="_blank">
                                                    {{Text['Dashboard_Employee_Welfare']['Document']}}&nbsp;{{$index + 1}}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="pull-right">
                                            <span class="font-18 font-weight-bold">{{item.UpdateDate | date: 'd/M/y'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-if="model_list_annountment.length <= 0">
                        <div class="col-md-12 media-padding-col">
                            <div class="color-danger font-18">{{Text['Dashboard_Employee_Welfare']['TextWarning_Annountment']}}</div>
                        </div>
                    </div>
                    <!--<pre>{{model_list_annountment | json}}</pre>-->
                </div>
                <!-- เงินที่ได้จากการปฎิบัติงาน -->
                <div class="row" ng-show="tabMenu == 8">
                    <div class="col-md-12 media-padding-col">
                        <div class="sub-title ng-binding">{{Text['Dashboard_Employee_Welfare']['IncomePerYear']}}</div>
                    </div>

                    <div class="show-pc">
                        <div class="col-md-12 media-padding-col margin-b20">
                            <table class="w-100 table-style-1 margin-b20">
                                <tr class="t-header">
                                    <th class="text-center" width="40%">{{Text['Dashboard_Employee_Welfare']['TitleIncome']}}</th>
                                    <th class="text-center" width="20%">{{Text['Dashboard_Employee_Welfare']['AmountBath']}}</th>
                                    <th width="40%"></th>
                                </tr>
                                <tr class="t-body" ng-if="model_income_employee.DetailIncome && model_income_employee.DetailIncome.length > 0" ng-repeat="item in model_income_employee.DetailIncome">
                                    <td class="text-center font-16">{{item.WageTypeName}}</td>
                                    <td class="text-right font-16">{{item.TotalAmount | number:2}}</td>
                                    <td></td>
                                </tr>
                                <tr class="tb-m-padding-d t-summary font-16" ng-if="model_income_employee.DetailIncome && model_income_employee.DetailIncome.length > 0">
                                    <td class="text-right">{{Text['Dashboard_Employee_Welfare']['TotalAmountQuota']}}</td>
                                    <td class="text-right">{{model_income_employee.TotalIncome | number:2}}</td>
                                    <td></td>
                                </tr>
                            </table>

                            <div class="col-md-12 media-padding-col margin-b20">
                                <div class="ayodia-remark-d font-18">
                                    <div class="margin-b10">
                                        <b>{{Text['Dashboard_Employee_Welfare']['RemarkReceiveAmount']}}</b>
                                    </div>
                                    <div>
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path style="fill:#00ADEE;" d="M15.805,6.747l-4.08-4.5A.75.75,0,0,0,11.17,2H5.92A1.9,1.9,0,0,0,4,3.875v11.25A1.9,1.9,0,0,0,5.92,17h8.16A1.9,1.9,0,0,0,16,15.125V7.25a.75.75,0,0,0-.2-.5Zm-1.568.5H11.282a.593.593,0,0,1-.533-.638V3.5h.082ZM14.08,15.5H5.92a.4.4,0,0,1-.42-.375V3.875A.4.4,0,0,1,5.92,3.5H9.25V6.612A2.092,2.092,0,0,0,11.283,8.75H14.5v6.375a.4.4,0,0,1-.42.375Z" transform="translate(-1 -0.5)" /></svg>
                                            <a class="underline">
                                                {{Text['Dashboard_Employee_Welfare']['ProcessWithdrawAmount']}}
                                            </a>
                                        </div>
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path style="fill:#00ADEE;" d="M15.805,6.747l-4.08-4.5A.75.75,0,0,0,11.17,2H5.92A1.9,1.9,0,0,0,4,3.875v11.25A1.9,1.9,0,0,0,5.92,17h8.16A1.9,1.9,0,0,0,16,15.125V7.25a.75.75,0,0,0-.2-.5Zm-1.568.5H11.282a.593.593,0,0,1-.533-.638V3.5h.082ZM14.08,15.5H5.92a.4.4,0,0,1-.42-.375V3.875A.4.4,0,0,1,5.92,3.5H9.25V6.612A2.092,2.092,0,0,0,11.283,8.75H14.5v6.375a.4.4,0,0,1-.42.375Z" transform="translate(-1 -0.5)" /></svg>
                                            <a class="underline">
                                                {{Text['Dashboard_Employee_Welfare']['SpecificationProcessWithdrawAmount']}}
                                            </a>
                                        </div>
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path style="fill:#00ADEE;" d="M15.805,6.747l-4.08-4.5A.75.75,0,0,0,11.17,2H5.92A1.9,1.9,0,0,0,4,3.875v11.25A1.9,1.9,0,0,0,5.92,17h8.16A1.9,1.9,0,0,0,16,15.125V7.25a.75.75,0,0,0-.2-.5Zm-1.568.5H11.282a.593.593,0,0,1-.533-.638V3.5h.082ZM14.08,15.5H5.92a.4.4,0,0,1-.42-.375V3.875A.4.4,0,0,1,5.92,3.5H9.25V6.612A2.092,2.092,0,0,0,11.283,8.75H14.5v6.375a.4.4,0,0,1-.42.375Z" transform="translate(-1 -0.5)" /></svg>
                                            <a class="underline">
                                                {{Text['Dashboard_Employee_Welfare']['GuidelineProcessWithdrawAmount']}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="show-tablet">
                        <div class="col-md-12 media-padding-col margin-b20">

                            <table class="w-100 table-style-1 margin-b20">
                                <tr class="t-header">
                                    <th class="text-center" width="50%">{{Text['Dashboard_Employee_Welfare']['TitleIncome']}}</th>
                                    <th class="text-center" width="50%">{{Text['Dashboard_Employee_Welfare']['AmountBath']}}</th>
                                </tr>
                                <tr class="t-body" ng-if="model_income_employee.DetailIncome && model_income_employee.DetailIncome.length > 0" ng-repeat="item in model_income_employee.DetailIncome">
                                    <td class="text-center font-16">{{item.WageTypeName}}</td>
                                    <td class="text-right font-16">{{item.TotalAmount | number:2}}</td>
                                </tr>
                                <tr class="tb-m-padding-d t-summary font-16" ng-if="model_income_employee.DetailIncome && model_income_employee.DetailIncome.length > 0">
                                    <td class="text-left">{{Text['Dashboard_Employee_Welfare']['TotalAmountQuota']}}</td>
                                    <td class="text-right">{{model_income_employee.TotalIncome | number:2}}</td>
                                </tr>
                            </table>

                            <div class="col-md-12 media-padding-col margin-b20">
                                <div class="ayodia-remark-d font-18">
                                    <div class="margin-b10">
                                        <b> {{Text['Dashboard_Employee_Welfare']['RemarkReceiveAmount']}} </b>
                                    </div>
                                    <div>
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path style="fill:#00ADEE;" d="M15.805,6.747l-4.08-4.5A.75.75,0,0,0,11.17,2H5.92A1.9,1.9,0,0,0,4,3.875v11.25A1.9,1.9,0,0,0,5.92,17h8.16A1.9,1.9,0,0,0,16,15.125V7.25a.75.75,0,0,0-.2-.5Zm-1.568.5H11.282a.593.593,0,0,1-.533-.638V3.5h.082ZM14.08,15.5H5.92a.4.4,0,0,1-.42-.375V3.875A.4.4,0,0,1,5.92,3.5H9.25V6.612A2.092,2.092,0,0,0,11.283,8.75H14.5v6.375a.4.4,0,0,1-.42.375Z" transform="translate(-1 -0.5)" /></svg>
                                            <a class="underline">{{Text['Dashboard_Employee_Welfare']['ProcessWithdrawAmount']}}</a>
                                        </div>
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path style="fill:#00ADEE;" d="M15.805,6.747l-4.08-4.5A.75.75,0,0,0,11.17,2H5.92A1.9,1.9,0,0,0,4,3.875v11.25A1.9,1.9,0,0,0,5.92,17h8.16A1.9,1.9,0,0,0,16,15.125V7.25a.75.75,0,0,0-.2-.5Zm-1.568.5H11.282a.593.593,0,0,1-.533-.638V3.5h.082ZM14.08,15.5H5.92a.4.4,0,0,1-.42-.375V3.875A.4.4,0,0,1,5.92,3.5H9.25V6.612A2.092,2.092,0,0,0,11.283,8.75H14.5v6.375a.4.4,0,0,1-.42.375Z" transform="translate(-1 -0.5)" /></svg>
                                            <a class="underline">
                                                {{Text['Dashboard_Employee_Welfare']['SpecificationProcessWithdrawAmount']}}
                                            </a>
                                        </div>
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path style="fill:#00ADEE;" d="M15.805,6.747l-4.08-4.5A.75.75,0,0,0,11.17,2H5.92A1.9,1.9,0,0,0,4,3.875v11.25A1.9,1.9,0,0,0,5.92,17h8.16A1.9,1.9,0,0,0,16,15.125V7.25a.75.75,0,0,0-.2-.5Zm-1.568.5H11.282a.593.593,0,0,1-.533-.638V3.5h.082ZM14.08,15.5H5.92a.4.4,0,0,1-.42-.375V3.875A.4.4,0,0,1,5.92,3.5H9.25V6.612A2.092,2.092,0,0,0,11.283,8.75H14.5v6.375a.4.4,0,0,1-.42.375Z" transform="translate(-1 -0.5)" /></svg>
                                            <a class="underline">
                                                {{Text['Dashboard_Employee_Welfare']['GuidelineProcessWithdrawAmount']}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
