﻿
<div class="col-sm-4 datepick detaildate_leave">
    <label for=""> {{Text['HRTMABSENCE']['ABSENCEDATE']}}</label>
    <datepicker callback-on-change="setSelectedBeginDate(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.INFOTYPE2001[0].BeginDate}}">
        <input ng-model="startDate" class="form-control clickable datepicker" type="text" id="startDate" placeholder="Choose a date" readonly />
    </datepicker>
    <i class="icon-calendar ico_datestart"></i>
</div>
<div class="col-sm-4 datepick detaildate_leave">
    <label for=""> {{Text['HRTMABSENCE']['ABSENCEDATETO']}}</label>
    <datepicker callback-on-change="setSelectedEndDate(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.INFOTYPE2001[0].EndDate}}" date-min-limit="{{parseDate(startDate) | date:'yyyy-MM-dd'}}">
        <input ng-model="endDate" class="form-control clickable datepicker" type="text" id="endDate" placeholder="Choose a date" readonly />
    </datepicker>
    <i class="icon-calendar ico_dateend"></i>
</div>