﻿<div class="document-body" ng-controller="AbsenceListController">
        <div class="row headtable_select" style="padding:15px 0 15px 0;">
            <div class="col-md-12 -col_centered">
                <div class="dropdown_center">
                    <div class="dropdown" style="display:inline-block;margin-right:15px;">
                        <select class="btn btnd btn-default dropdown-toggle dropdown_login" aria-labelledby="dropdownMenu1" ng-model="selectedPeriod" ng-options="p as p for p in Emp_period" ng-change="doRequestAction()" style="padding-right:20px;height:42px;"></select>
                    </div>
                    <div class="item-btn" ng-if="employeeData.EmployeeID == employeeData.RequesterEmployeeID" style="display:inline-block;">
                        <div class="itemin_btn" ng-model="btnCreateNew" ng-click="CreateNew('0')" style="margin:0;padding:9px 12px 9px 10px;display:inline-block;">
                            <span class="icon-doc_plus"></span>{{Text['HRTMABSENCE']['CREATE']}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="leavetableBlock">
            <div class="row itemlist_block headtable" style="border:0px;">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 leavetable headtable">
                            <div class="leaveitem">
                                <div class="leaveitem-day">{{Text['HRTMABSENCE']['ABSENCEDATE']}}</div>
                                <div class="leaveitem-count">{{Text['HRTMABSENCE']['ABSENCEAMOUNT']}}</div>
                                <div class="leaveitem-status -settxt-center">{{Text['HRTMABSENCE']['ABSENCESTATUS']}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- itemlist headtable -->
            <div>
                <div class="row itemlist_block" ng-repeat="document in documents  | orderBy:'AbsenceType' | groupBy:'AbsenceType'" ng-show="document.group_by_CHANGED" style="border:0px;padding-bottom:26px;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12 leavetable">
                                <div class="leaveitem titletable">
                                    <div class="leaveitem-day leaveitem-day_mod">{{document.AbsenceTypeDesc}}</div>
                                    <div class="leaveitem-count ">
                                        {{(documents | filter: document.AbsenceType).length}} {{Text.ITEMS}} {{Text['HRTMABSENCE']['ITEMS']}}   {{ GetSummOfDays((documents | filter: document.AbsenceType))}} {{Text.DAYS}} {{Text['HRTMABSENCE']['DAYS']}}
                                    </div>
                                </div>
                                <div class="leaveitem" ng-repeat="child in documents | filter:{AbsenceType:document.AbsenceType} ">
                                    <div class="leaveitem-day"><span class="icon-calendar"></span>{{child.DateStr}}</div>
                                    <div class="leaveitem-count"><span class="span_name leaveword_before">{{Text['HRTMABSENCE']['ABSENCEAMOUNT']}}</span>{{child.AbsenceDays}}</div>
                                    <div ng-if="child.Status == 'INPROCESS'" class="leaveitem-status -txt-org"><span class="span_name leaveword_before">{{Text['HRTMABSENCE']['ABSENCESTATUS']}}</span>{{Text['HRTMABSENCE']['INPROCESS']}}</div>
                                    <div ng-if="child.Status == 'RECORDED'" class="leaveitem-status -txt-green"><span class="span_name leaveword_before">{{Text['HRTMABSENCE']['ABSENCESTATUS']}}</span>{{Text['HRTMABSENCE']['RECORDED']}}</div>
                                    
                                    <div ng-if="child.Status == 'INPROCESS'" class="leaveitem-icon icon_wait"><span class="icon-doc" ng-click="ViewObj(child.RequestNo)"></span></div>
                                    <div ng-if="child.Status == 'RECORDED'" class="leaveitem-icon icon_del"><span class="icon-trash_can" ng-click="DeleteObj('12', child.Itemkey)"></span></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- leavetableBlock -->

    </div>
