﻿<div class="leavetableBlock" ng-controller="AbsenceQuotaController">
    <div class="-pad10"></div>
    <!-- itemlist headtable -->
    <div class="row itemlist_block" ng-repeat="document in documents">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 leavetable">
                    <div class=" form-group">
                        <label class="col-xs-12 leaveitem titletable leaveitem-day text-primary">{{document.AbsenceType}} <span class="absence_date">{{document.DeductionStart | date : 'd/M/yyyy'}} - {{document.DeductionEnd | date : 'd/M/yyyy'}}</span></label>
                        
</div>
                    
                    <div class="form-group"><label class="col-xs-8 input-label">{{Text[Textcategory].QUOTAAMOUNT}} :</label> <label class="col-xs-4 control-label">{{document.QuotaAmount}}</label></div>
                    <div class="form-group"><label class="col-xs-8 input-label">{{Text[Textcategory].USEDAMOUNT}} :</label> <label class="col-xs-4 control-label">{{document.UsedAmount}}</label></div>
                    <div class="form-group"><label class="col-xs-8 input-label">{{Text[Textcategory].INPROCESS}} :</label> <label class="col-xs-4 control-label">{{document.InprocessAmont}}</label></div>
                    <div class="form-group"><label class="col-xs-8 input-label">{{Text[Textcategory].REMAININGAMOUNT}} :</label> <label class="col-xs-4 control-label">{{document.Remaining}}</label></div>
                </div>
            </div>
        </div>
    </div>
    <!-- itemlist -->
    <div class="-pad10"></div>
</div>