﻿<div class="col-sm-4 datepick detaildate_leave">
    <label for="">วันที่เริ่มต้น</label>
    <datepicker callback-on-change="setSelectedDate(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.INFOTYPE2001[0].BeginDate}}">
        <input ng-model="startDate" class="form-control clickable datepicker" type="text" id="startDate" placeholder="Choose a date" readonly />
    </datepicker>
    <i class="icon-calendar ico_datestart"></i>
</div>
<div class="col-sm-4 datepick detaildate_leave">
    <label for="">ช่วงเวลา</label>
    <select class="form-control" ng-model="formData.selectedDailyWorkSchedule" ng-change="halfdayChange()">
        <option ng-repeat="option in dailyWorkSchedule" value="{{option.value}}">{{option.text}}</option>
    </select>
</div>