﻿<div class="TravelExManPage delegation-page" ng-controller="EnrollmentViewerController" ng-init="init();">

    <div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{Text['FLEXIBLEBENEFIT'].FLEXIBLEBENEFIT}}</div> <!--ข้อมูลสวัสดิการทางเลือก-->
                </div>
            </div>
        </div>
    </div>


    <div class="body_content" style="margin-bottom:0px;">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" style="overflow-x:hidden;">
            <div class="body_content">
                <div class="bar_bottom">
                    <div class="body_content" style="background:white;">
                        <div class="leavetableBlock leavetableBlock_create">
                            <div class="row itemlist_block">
                                <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">

                                    <div>
                                        <div class="col-xs-12" ng-repeat="Item in EnrollmentData | limitTo:1" >
                                            <span style="font-weight: 600;font-size: 19px;color: #603913;">{{Text['FLEXIBLEBENEFIT'].YEAR}} : {{Item.BeginDate_Year}}</span>
                                        </div>
                                    </div>

                                    <div class="row itemlist">
                                        <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                            <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                <thead>
                                                    <tr style="vertical-align:middle; text-align:center;">
                                                        <!--<td>{{Text['FLEXIBLEBENEFIT'].ID}}</td>--> <!-- เลขที่การลงทะเบียน -->
                                                        <!--<td>{{Text['FLEXIBLEBENEFIT'].YEAR}}</td>--> <!-- ปี -->
                                                        <td>{{Text['FLEXIBLEBENEFIT'].TOPIC}}</td> <!-- หัวข้อสวัสดิการ -->
                                                        <td>{{Text['FLEXIBLEBENEFIT'].SELECTED}}</td> <!-- เลือกรับ -->
                                                        <td>{{Text['FLEXIBLEBENEFIT'].AMOUNT}}</td> <!-- วงเงิน (บาท) -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="Item in EnrollmentData track by $index" ng-show="EnrollmentData.length != 0">
                                                        <!---------------------- กรณีมี RequestNo ------------------------>
                                                        <!--<td ng-if="Item.RequestNo && Item.RequestNo != '//System Import'" ng-show="$index == 0">
                                                            <a style="color: #337ab7 !important;">
                                                                {{Item.RequestNo}}
                                                            </a>
                                                        </td>-->
                                                                                        <!---------------------- กรณีไม่มี RequestNo ------------------------>
                                                                                        <!--<td ng-if="!Item.RequestNo || Item.RequestNo == '//System Import'" ng-show="$index == 0">-</td>
                                                        <td ng-if="$index > 0"></td>
                                                        <td ng-if="$index == 0">{{Item.BeginDate_Year}}</td>
                                                        <td ng-if="$index > 0"></td>-->
                                                        <td>{{Item.SelectionItemText}}</td>
                                                        <td ng-if="Item.isMainBenefit">{{Text['SelectionItemID'][Item.SelectionItemID + '_1']}}</td> <!--เลือกสวัสดิการหลัก-->
                                                        <td ng-if="!Item.isMainBenefit">{{Text['SelectionItemID'][Item.SelectionItemID + '_0']}}</td> <!--เลือกสวัสดิการทางเลือก (รอง)-->
                                                        <td>{{Item.MainBenefitSelected | currency : "": 2}}</td>
                                                    </tr>

                                                    <tr ng-show="EnrollmentData.length != 0">
                                                        <td colspan="2"><span style="float: right;">{{Text['FLEXIBLEBENEFIT'].AMOUNT_ALL}}</span></td>
                                                        <td colspan="1">{{getTotal() | currency : "": 2}}</td>
                                                    </tr>

                                                    <tr ng-show="EnrollmentData.length == 0">
                                                        <td colspan="5" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>