﻿<div class="TravelExManPage" ng-controller="EnrollmentEditorController" ng-init="init();">
    <div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">
        <!-- itemlist_block -->
        <div class="bar_bottom">
            <!-- bar_bottom-expandlist -->
            <div class="bar_bottomlist">
                <div class="bar-content">
                    <div class="row bar_title">
                        <div class="col-md-12">
                            <div class="bar_left bar_left_single_line">
                                <div class="bar_left-title ng-binding">
                                    {{Text['FLEXIBLEBENEFIT'].DETAIL}}

                                    <input type="hidden" value="{{document.Additional.ErrorText = document.ErrorText}}" />
                                    <input type="hidden" value="{{document.Additional.FBEnrollmentData.CreateBy =  document.ActionBy.EmployeeID}}">
                                    <input type="hidden" value="{{document.Additional.EmpSubGroup = requesterData.EmpSubGroup}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="body_content">
                    <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                        <div class="col-md-10 col-sm-10 col-xs-12 ">



                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text['FLEXIBLEBENEFIT'].YEAR}} : {{document.Additional.Year}}
                                    </span>
                                </div>

                            </div>



                            <div ng-repeat="item in document.Additional.FBYearlySelection" class="traveltableBlock row">
                                <input type="hidden" value="{{document.Additional.FBEnrollmentSelected[$index].SelectionItemID = item.SelectionItemID}}" />
                                <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0">
                                    <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                        <thead>
                                            <tr>
                                                <td>
                                                    <span class="ng-binding">
                                                        {{SelectionItemID[item.SelectionItemID]}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="form-group">
                                                        <input ng-model="document.Additional.FBEnrollmentSelected[$index].isMainBenefit" type="radio" ng-click="CalRate()" data-ng-value="true"> {{SelectionItemID[item.SelectionItemID+"_"+1]}}
                                                        <br>
                                                        <br>
                                                        <div style="color:red" ng-if="item.SelectionItemID==2">(กรุณาเลือกประเภทและระบุ Size เครื่องแบบพนักงาน) <a style="color:red" ng-href="https://forms.gle/dFYiQPv86475CVZq8" target="_blank" style="color:Blue; text-decoration:underline"><< Click Here >></a></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-group">
                                                        <input ng-model="document.Additional.FBEnrollmentSelected[$index].isMainBenefit" type="radio" ng-click="CalRate()" ng-disabled="document.Additional.ProbationCutOff" data-ng-value="false"> {{SelectionItemID[item.SelectionItemID+"_"+0]}}
                                                        <br>
                                                        <br>
                                                        <div style="color:red" ng-if="item.SelectionItemID==2">(กรุณาเลือกประเภทและระบุ Size เครื่องแบบพนักงาน) <a style="color:red" ng-href="https://forms.gle/FdvGGNYiYQwnjZ5L8" target="_blank" style="color:Blue; text-decoration:underline"><< Click Here >></a></div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>





                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="span_name">
                                        {{Text['FLEXIBLEBENEFIT'].AMOUNT}}
                                    </span>
                                </div>
                                <div class="col-sm-3">
                                    <input ng-model="document.Additional.FBEnrollmentData.FlexPoints" class="form-control" type="text" readonly />
                                </div>
                            </div>

                            <div class="row" style="padding-top: 30px;">
                                <div class="col-sm-12">
                                    <span>
                                        {{Text['FLEXIBLEBENEFIT'].PROVISO}}
                                    </span>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <input ng-model="document.Additional.AgreeStatus" type="checkbox" value="1" /><span class="span_name" style="padding-left: 7px;"> {{Text['FLEXIBLEBENEFIT'].IUNDERSTAND}}</span>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-12" ng-bind-html="Text['FLEXIBLEBENEFIT'].COMMENT"></div>
                            </div>



                        </div>
                    </div>
                    <!-- bar_bottomlist -->
                </div>
                <div class="-pad10"></div>
            </div>
        </div>
    </div>


    <style>
        .add-padding {
            padding-left: 35px !important;
        }

        .mainBlock .contentBody .contentBodyin {
            padding-top: 1.5rem;
            margin-top: 25px;
        }

        .bdc204 {
            width: inherit;
            border-color: rgb(204, 204, 204);
        }
    </style>
</div>


<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        return !(charCode > 31 && (charCode < 48 || charCode > 57));
    }
</script>