﻿
<div ng-controller="ReimburseEditorController">

    <div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">
        <!-- itemlist_block -->
        <div class="bar_bottom">
            <!-- bar_bottom-expandlist -->
            <div class="bar_bottomlist">
                <div class="bar-content">
                    <div class="row bar_title">
                        <div class="col-md-12">
                            <div class="bar_left bar_left_single_line">
                                <div class="bar_left-title ng-binding">
                                    {{Text['FLEXIBLEBENEFIT'].LIST}}

                                    <input type="hidden" value="{{document.Additional.ErrorText = document.ErrorText}}" />
                                    <input type="hidden" value="{{document.Additional.FBReimburseData.CreateBy =  document.ActionBy.EmployeeID}}">
                                    <!--<input type="hidden" value="{{document.Additional.PF_ProvidentFundLog.EmpGroup = requesterData.EmpGroup}}" />-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="ag-flex-row ag-align-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                        <div class="col-md-10 col-sm-10 col-xs-12 ">


                          

                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-4">
                                    <span class="span_name">
                                        <!--หมวดหลัก-->
                                        {{Text['FLEXIBLEBENEFIT'].MAINCATEGORY}} <span style="color:red;"> *</span>
                                    </span>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <select class="form-control" ng-model="document.Additional.FBReimburseData.FSAList" >
                                            <option ng-value="0" selected >{{Text['FLEXIBLEBENEFIT'].PLEASE_SELECT}}</option>
                                            <option ng-repeat="item in document.Additional.FBFSAList" ng-value="item.FSAID">{{item.FSAText}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-4">
                                    <span class="span_name">
                                        <!--หมวดย่อย-->
                                        {{Text['FLEXIBLEBENEFIT'].SUBCATEGORY}} <span style="color:red;"> *</span>
                                    </span>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <select class="form-control" ng-model="document.Additional.FBReimburseData.FSASubList">
                                            <option ng-value="0" selected>{{Text['FLEXIBLEBENEFIT'].PLEASE_SELECT}}</option>
                                            <option ng-repeat="item in document.Additional.FBFSASubList | filter:{'FSAID':document.Additional.FBReimburseData.FSAList}:true" ng-value="item.FSASubID">{{item.FSASubText}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-4">
                                    <span class="span_name">
                                        <!--ชื่อสถานประกอบการ-->
                                        {{Text['FLEXIBLEBENEFIT'].PLATENAME}} <span style="color:red;"> *</span>
                                    </span>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input ng-model="document.Additional.FBReimburseData.ReceiptCompany"  type="text" class="form-control" >
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-4">
                                    <span class="span_name">
                                        <!--เลขที่ใบเสร็จ-->
                                        {{Text['FLEXIBLEBENEFIT'].RECEIPTNAME}} <span style="color:red;"> *</span>
                                    </span>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input ng-model="document.Additional.FBReimburseData.ReceiptNo" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-4">
                                    <span class="span_name">
                                        <!--วันที่ใบเสร็จ-->
                                        {{Text['FLEXIBLEBENEFIT'].RECEIPTDAY}} <span style="color:red;"> *</span>
                                    </span>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <div class="datepicker-height-set" style="position:relative; width: 270px; height:40px;">
                                            <datepicker date-limit-from-api="true" date-limit-from-api-mode="afterHireAndNewYear" callback-on-change="setSelectedDOB(newDate)" date-format="d/M/yyyy" date-set="{{document.Additional.FBReimburseData.ReceiptDate}}">
                                                <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                                            </datepicker>
                                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-4">
                                    <span class="span_name">
                                        <!--จำนวนเงินบาท-->
                                        {{Text['FLEXIBLEBENEFIT'].TOTAL_AMOUNT}} <span style="color:red;"> *</span>
                                    </span>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input  ng-model="document.Additional.FBReimburseData.Amount" type="number" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-top: 15px;">
                                <div class="col-sm-4">
                                    <span class="span_name">
                                        <!--ยอดเงินที่เบิกได้จริง (บาท)-->
                                        {{Text['FLEXIBLEBENEFIT'].F_PAYMENTAMOUNT}}
                                    </span>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input readonly ng-model="document.Additional.FBReimburseData.AmountReimburse" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- bar_bottomlist -->
                </div>
                <div class="-pad10"></div>
            </div>
        </div>
    </div>


    <style>
        .add-padding {
            padding-left: 35px !important;
        }

        .mainBlock .contentBody .contentBodyin {
            padding-top: 1.5rem;
            margin-top: 25px;
        }

        .bdc204 {
            width: inherit;
            border-color: rgb(204, 204, 204);
        }
    </style>
</div>


<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        return !(charCode > 31 && (charCode < 48 || charCode > 57));
    }
</script>

