﻿/*
    main color

    color1: #d95137;
    color2: #ff943a;
    color3: #f9d7cb;
    color4: #f2f2f4; // white

*/


.loginPage {
    background-image:url(../../images/background/background-login.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
 
}
.loginPage input,.loginPage  select {
    background: rgba(0,0,0,.075);
    color: white;
}
.company-list {
    display:none;
}
.loginPage button {
    background: rgba(0,0,0,.075) !important;
}
.nav-panel_list {
    background-color: #1461ad  !important;
}
.nav-control .control-sub,.nav-profileBar .itemlist {
    background-color: white;
    color: #1461ad ;
}
.nav-control .control-sub:active, .nav-control .control-sub:hover {
    background-color: #b4b8e0;
}
.taskactive .task_titlehead  {
    
    background-color: #1461ad ;
    color:white;
}
.taskBlock {
    color:white;
}
.bar_title,.bar_expandlist .bar_expand-status,.panel-collapse .itemin_btn,.bar_bottom-status,.md-toolbar-tools,.ag-tabs .tab-header.active,.bar_left-icon.mo-duo {
    background:#1461ad  !important;
}
    .bar_bottom-status .bar_left-icon:active, .bar_bottom-status .bar_left-icon:hover, .bar_bottom-status .bar_right-icon:active, .bar_bottom-status .bar_right-icon:hover, .bar_expandlist .bar_expand-status .bar_left-icon:active, .bar_expandlist .bar_expand-status .bar_left-icon:hover, .bar_expandlist .bar_expand-status .bar_right-icon:active, .bar_expandlist .bar_expand-status .bar_right-icon:hover,.bar_bottom-expandlist .bar_right-icon.visible:hover, .bar_bottom-expandlist .bar_right-icon.visible:active,.bar_bottom-expandlist .bar_right-icon.visible {
        background:#1461ad  !important;
    }
.ag-tabs .tab-headers{
    border-bottom: solid 2px #1461ad;
}
/*.itemlist_block,.content-border-top,.body_content {
    border: none !important;
}
.row.itemlist_block {
        border: 1px solid rgb(203, 203, 203) !important;
}*/
.bar_expand-status.mo-duo span, .bar_expand-status.mo-duo a {
    color:white;
}

.bar_searchactive, .search_block input,.contentHead .bar_right:hover{
    background: #2a2f6f !important;
}
.inCircle,.taskactive .navCircle_list .inCircle {
    border: 2px solid #ff3237 !important;
    background-color: #ff3237  !important;
}
.taskactive .navCircle_list:after, .taskactive .navCircle_list:before,.navCircle_list:after, .navCircle_list:before {
    background-color: rgba(0,0,0,.0);
}
.taskactive {
    color:white;
}
.-task-highlight {
    background: rgb(108, 108, 108) !important;
}
.nav-profileBar .itemlist{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}
.task-titletop,.task-title{
    color:white;
}
.profilebar-logo {
    display:none;
}
.profilebar_img,profilebar-img,.-img_circle, .profilebar_img > *{
    border-radius:0% !important;
    
}
.profilebar_img {
    width: 60px !important;
    height: 60px !important;
}
.nav-profileBar .profilebar-img,.nav-profileBar .profilebar-img img {
    padding:0px;
}
.itemlist .itemin_nametask,.-txt-blue {
    color: #5f6aff !important;
}
.mini-menu-item {
    color:#5f6aff !important;
}

.hide-menu-btn {
    top: 0;
    z-index: 1;
    height: 66px;
    padding-top: 17px;
    width:70px;
}

@media only screen and (max-width: 769px) {
    .loginPage .img_loginlogo {
        max-width: 140px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .loginPage .img_loginlogo {
        margin-top: 6rem;
    }
}
@media only screen and (min-width: 992px) {
    .mainBlock-hide > .menu-blocking {
        width: 70px;
    }
    .mainBlock-hide {
        padding-left: 70px;
    }
    .menu-left.hide-left {
        left: -178px;

    }
}
