﻿html, div, span, input, select, textarea, p, a, li, button {
    font-family: rsu_r;
}

.em-font {
    font-family: rsu_r !important;
}

.em-font-all > * {
    font-family: rsu_r !important;
}

.em-font-15 {
    font-family: rsu_r !important;
    font-size: 17px;
}

    .em-font-15 > * {
        font-family: rsu_r !important;
        font-size: 17px;
    }

.em-font-17 {
    font-family: rsu_r !important;
    font-size: 18px;
}

h1 {
    font-size: 22px;
    margin: .67em 0;
    font-family: rsu_b;
}

.d-clame label {
    font-family: rsu_r !important;
    font-size: 17px;
}

input {
    font-family: rsu_r !important;
}

select.form-control {
    font-family: rsu_r !important;
    font-size: 17px;
}

.img_i1 {
    margin: auto auto;
    display: block;
    max-width: 80%;
    height: auto;
}

.center-block {
    margin: auto;
    display: block;
    width: 70%;
}

.search-years {
    width: 35%;
    margin: 20px auto;
    line-height: 2;
    font-size: 1.2rem;
}

.red_text {
    color: red;
}

.blue_text {
    color: #3368FF;
}
/*พื้นหลังหน้าเข้าสู่ระบบ*/
.loginPage {
    background: url(../images/login_bg.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo_left {
    position: absolute;
    left: 25px;
    top: 25px;
    z-index: 999;
}

.bg_onlogin img {
    height: 100vh;
    position: absolute;
    right: 0;
    width: auto;
    top: 0;
}

.box_login_right {
    position: absolute;
    right: 5%;
    width: 450px;
}

li.page-current {
    background-color: #867353;
    color: #fff;
    font-weight: bold;
    cursor: default;
}

.login_texttop {
    padding-bottom: 60px;
    width: 100%;
}

/*กล่องเข้าสู่ระบบ*/
.login-content {
    background: none;
    padding: 0;
    box-shadow: 0 0 0;
    margin: 0 auto;
    margin-top: 0;
    margin-right: -25px;
    position: initial;
    border: none;
    text-align: center;
    border-radius: 12px;
    max-width: 100%;
    width: 400px;
    right: 0;
}

.login_logo_header {
    margin-bottom: 45px;
}

.login-input {
    box-shadow: none;
    color: #333 !important;
    border-bottom: 0;
    border-radius: 0px;
    background: rgba(255, 255, 255, 1) !important;
    text-align: center;
    border: 1px solid #f7f7f7;
}

    .login-input::placeholder {
        color: #777 !important;
        opacity: 1;
    }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #777 !important;
    opacity: 1;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #777 !important;
    opacity: 1;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #777 !important;
    opacity: 1;
}

:-moz-placeholder { /* Firefox 18- */
    color: #777 !important;
    opacity: 1;
}



#login_button {
    margin-top: 1rem;
    font-size: 20px;
    max-width: 100%;
    background: #d41b20 !important;
    width: 100%;
    height: 40px;
    line-height: 30px;
    outline: none;
    border: 1px solid #9e0b0f !important;
    border-radius: 0;
}

.copyright_footer {
    text-align: center;
    color: #606060;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    margin-right: -25px;
    display: block;
    width: 520px;
    line-height: 8px;
    bottom: 15px;
    margin: 0 auto;
}

/*สีพื้นหลังทั้งรายการเมนู*/
.nav-panel_list {
    background-color: #603913 !important;
}

.mini-menu .mini-menu-item {
    background-color: #603913;
}

.taskactive .task_titlehead {
    background-color: #e0ddd8;
    color: #603913;
}

    .taskactive .task_titlehead .task-titletop {
        color: #603913;
    }


/*สีพื้นหลังเมนู Active*/
.-task-highlight {
    background-color: #43280d !important;
    border-left: 8px solid #f9a97f;
}

    .-task-highlight .task-title, .-task-highlight .task-titletop {
        color: #603913;
    }

    .-task-highlight .fa {
        color: #f9a97f;
    }


    .-task-highlight .task-icon {
        color: #f9a97f;
    }
/*ระยะ Padding ของกระดาษ*/
.d-clame.paper {
    padding: 0;
    border-radius: 12px;
}

/*Barheader*/
.bar-content {
    margin-top: 15px;
}

    .bar-content .bar_title {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        position: relative;
        min-height: 3.5rem;
        overflow: hidden;
        z-index: 4;
    }

.paper .row {
    margin-top: 15px;
}

.paper .span_name {
    line-height: 36px;
}

.paper input.form-control {
    box-shadow: 0 0 0;
    border: 1px solid #ddd;
    font-size: 17px;
}

.task_titlehead {
    padding: 0;
    line-height: 2.5rem;
}

/* width scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.navProfileCenter {
    text-align: center;
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
    font-family: rsu_r;
    margin-top: 20px;
    border-radius: 12px;
}

.ProfileBlock {
    border-radius: 12px;
    background: #fff;
    width: 80%;
    margin: 0 auto;
}

    .ProfileBlock .profile-id {
        margin: 0;
        font-size: 1.8rem !important;
        color: #f9a97f;
        background-color: transparent;
        padding: 2px 30px;
        display: inline-block;
        border-radius: 3px;
        height: auto;
        padding-top: 0;
    }

    .ProfileBlock .profile-name {
        margin-top: 2.5rem;
        font-size: 1.8rem;
        color: #603913;
        font-family: rsu_b;
    }

    .ProfileBlock .BGProfileBlock {
        height: 150px;
        background: #cccccc;
        border-radius: 12px 12px 0 0;
    }

    .ProfileBlock .profile_img {
        margin-top: -100px;
        border: 6px solid #fff;
        box-shadow: 0px 0px 12px #8e8d8d;
        width: 180px !important;
        height: 180px !important;
        background: #fff !important;
    }

    .ProfileBlock .exman-res_titletable {
        color: #f9a97f !important;
        font-size: 1.3rem !important;
        font-family: rsu_r !important;
        margin-top: 5px !important;
    }

    .ProfileBlock .exman-res_detailtable {
        font-size: 1.3rem !important;
        /*font-family: rsu_r !important;*/
        margin-top: 5px !important;
    }

    .ProfileBlock .profile-img {
        box-shadow: 0 0 7px 2px rgba(0,0,0,.2);
        max-width: 200px;
        max-height: 200px;
        position: relative !important;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto;
        object-fit: cover;
        object-position: top;
    }

    .ProfileBlock .expandDetail_02 {
        padding-bottom: 30px;
    }

.announcement_block {
    border-top: 0 !important;
    border-radius: 12px;
    margin-bottom: 2rem;
}

    .announcement_block .itemlist .itemin_desc {
        color: #603913;
    }

        .announcement_block .itemlist .itemin_desc span {
            font-size: 1.4rem;
            line-height: 38px;
            white-space: pre-wrap;
            display: block;
            width: 100%;
            overflow: hidden;
        }

    .announcement_block .item-showimg img {
        width: 65%;
        height: auto;
        margin: 0 auto;
    }

.bar_title, .bar_expandlist .bar_expand-status, .panel-collapse .itemin_btn, .bar_bottom-status, .md-toolbar-tools, .ag-tabs .tab-header.active, .bar_left-icon.mo-duo, .travel_elm2 .bar_title {
    background-color: #603913 !important;
    border-radius: 12px 12px 0 0;
}

    .bar_bottom-status .bar_left-icon:active, .bar_bottom-status .bar_left-icon:hover, .bar_bottom-status .bar_right-icon:active, .bar_bottom-status .bar_right-icon:hover, .bar_expandlist .bar_expand-status .bar_left-icon:active, .bar_expandlist .bar_expand-status .bar_left-icon:hover, .bar_expandlist .bar_expand-status .bar_right-icon:active, .bar_expandlist .bar_expand-status .bar_right-icon:hover, .bar_bottom-expandlist .bar_right-icon.visible:hover, .bar_bottom-expandlist .bar_right-icon.visible:active, .bar_bottom-expandlist .bar_right-icon.visible {
        background-color: #603913 !important;
    }

.body_content .announcelist_block, .body_content .itemlist_block, .body_content .workcalendar_block {
    border: 0;
}


.bar_bottom_reasone {
    font-size: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: relative;
    overflow: hidden;
    z-index: 4;
    padding: 8px 15px;
    height: 41px;
    background: #603913;
    color: #fff;
}

#reasone_main_request {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    border-radius: 12px;
}

    #reasone_main_request .alert {
        background: #fff;
        border-radius: 0 0 12px 12px;
    }

        #reasone_main_request .alert textarea {
            border-color: #ebebeb !important;
        }

.contentBody {
    padding: 0 !important;
    margin-top: 0 !important;
}

.mainBlock .contentHead {
    margin-top: 15px;
    position: unset !important;
}

.organization_header {
    font-size: 2.2rem;
    font-family: rsu_b;
    color: #000;
}

.organization_block {
    padding: 15px 25px;
}

    .organization_block img {
        width: 155px;
        height: 155px;
        object-fit: cover;
        object-position: top;
        border: 5px solid #fff;
        border-radius: 100%;
    }

    .organization_block .card {
        background: #ebebeb;
        border-radius: 12px;
        padding: 15px;
        box-shadow: 0 0 0;
        margin: 0;
    }

    .organization_block .card-body {
        padding: 15px;
    }

        .organization_block .card-body h2 {
            color: #603913;
            font-family: rsu_b;
            margin: 0;
            font-size: 1.8rem;
            margin-bottom: 10px;
        }

        .organization_block .card-body span {
            margin: 0;
            color: #999999;
            font-size: 1.4rem;
            margin-top: 5px;
        }

        .organization_block .card-body p {
            margin: 0;
            color: #999999;
            font-size: 1.4rem;
        }

    .organization_block .col-lg-9 {
        margin-top: 28px;
    }

.bar_search {
    margin-top: -3.5rem;
    background-color: transparent;
    height: 3.5rem;
    overflow: hidden;
    box-shadow: 0 0 0;
}

.ViewContent_block {
}

    .ViewContent_block .line {
        width: 40%;
        border-top: 1px solid #ccc;
        margin: 5px 0;
    }

    .ViewContent_block .PositionName {
        color: #f9a97f;
        font-size: 1.4rem;
        font-family: rsu_b;
    }

    .ViewContent_block .itemin_nameid {
        color: #333 !important;
        font-size: 1.4rem;
        font-family: rsu_b;
        margin-top: 10px;
        display: block;
    }

    .ViewContent_block .itemin_nametask {
        color: #603913 !important;
        font-size: 1.6rem;
    }

    .ViewContent_block .date_time {
        color: #603913 !important;
        font-size: 1.6rem;
        text-align: right;
    }

    .ViewContent_block .itemlist .itemin_sortnum {
        border: 1px solid #000;
        padding: 0px 10px;
        border-radius: 3px;
        background: #603913;
        font-size: 1.4rem;
        color: #fff !important;
        border-radius: 8px;
    }

    .ViewContent_block .itemlist .itemin_desc {
        color: #999999 !important;
        font-size: 1.2rem;
        font-family: rsu_b;
    }

    .ViewContent_block .item-status .itemin_tabstatus {
        background-color: #66cc66;
        width: 12rem !important;
        height: 3rem;
        font-size: 1.4rem;
        padding: 12px 0 !important;
    }

        .ViewContent_block .item-status .itemin_tabstatus.cbtnDRAFT {
            background-color: #cccccc;
        }

        .ViewContent_block .item-status .itemin_tabstatus.cbtnWAITFORVERIFY {
            background-color: #fff568;
        }

        .ViewContent_block .item-status .itemin_tabstatus.cbtnCOMPLETED {
            background-color: #00bff3;
        }

        .ViewContent_block .item-status .itemin_tabstatus.cbtnCANCELLED {
            background-color: #ff3333;
        }

        .ViewContent_block .item-status .itemin_tabstatus.cbtnWAITFOREDIT {
            background-color: #f7941d;
        }

        .ViewContent_block .item-status .itemin_tabstatus.cbtnVIEW {
            background-color: #8d72ff;
        }

        .ViewContent_block .item-status .itemin_tabstatus.cbtnWAITFORPOSTDATA {
            background-color: #0054a6;
        }

.in-progress-tb-top {
    display: block;
    padding: 0px;
    background-image: none;
    background-size: cover;
    background-position-x: right;
    border: 0;
}

.in-progress-tb {
    display: block;
    padding: 0px;
    margin: 0px;
    border: 0;
    margin-bottom: 25px;
}

.in-progress-tb-top > label {
    font-size: 1.6rem;
    font-family: rsu_b;
}

.in-progress-tb-top > .inprogress-search {
    display: block;
    padding: 0;
    background: transparent;
    margin-right: 25px;
}

.inprogress-search .form-control {
    height: 50px;
    box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    border-radius: 10px 0 0 10px !important;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    border-width: 2px !important;
    font-size: 17px;
}

.inprogress-search .btn {
    height: 50px;
    border: 0;
    background: #603913;
    width: 65px;
    outline: none;
    border-radius: 0 10px 10px 0;
}

.inprogress-search .glyphicon {
    font-size: 1.5rem;
    color: #fff;
}

.item-flow {
    height: auto !important;
    padding: 5px 15px !important;
}

.box-content .itemlist_block {
    background: transparent !important;
    padding-top: 0 !important;
    margin-bottom: 0;
    padding: 0;
    min-height: 4rem;
}

    .box-content .itemlist_block .span_name {
        font-size: 18px;
        /*color: #333 !important;*/
        color: #603913 !important;
    }

.nav-control .profile-control .fordropshadow {
    box-shadow: 0 0 0 !important;
}

.bar_searchactive, .search_block input, .contentHead .bar_right:hover {
    background: rgba(96, 57, 19, 0.75) !important;
}

.bar_search .search_block .btn-default, .bar_search .search_block .form-control {
    background-color: #1283DE;
    border: 1px solid #fff;
    color: #fff;
}

.contentHead .bar_right {
    padding: 1rem 1.3rem;
    border-left: 1px solid rgba(255, 255, 255, 0.58);
    float: right;
}

.itemlist_block .itemin_btn {
    font-family: rsu_r;
    font-size: 18px;
    background-color: #603913;
    padding: 1.5%;
    color: #fff;
    border-radius: 2px;
}

.nav-control .control-sub, .nav-profileBar .itemlist {
    background-color: white;
    color: #603913;
    font-size: 1.6rem;
    line-height: 60px !important;
}


.item-btn .itemin_btn:active, .item-btn .itemin_btn:hover {
    opacity: 0.9;
    background-color: #867353;
}

.item-btn .itemin_btn {
    background-color: #867353;
    border-radius: 12px;
    padding: 14px;
    box-shadow: 2px 2px 5px rgba(96, 57, 19, 0.5215686274509804);
}

.task_inner ul:hover, .task_titlehead:hover {
    background-color: #e0ddd8;
    cursor: pointer;
    opacity: 0.8;
    color: #603913;
}

    .task_inner ul:hover .task-title, .task_titlehead:hover .task-title, .task_titlehead:hover .task-titletop {
        color: #603913;
    }

.TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 thead tr {
    background-color: #867353;
    border-bottom: 2px solid #603913;
}

    .TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 thead tr td {
        color: #FFF;
        padding: 18px 0;
        font-family: rsu_b;
        font-size: 1em;
    }

#menuSection .nav-panel {
    padding-left: 0;
}

.nav-control .profile-control {
    padding-left: 0;
}

.nav-control .control-sub:first-of-type {
    border-right: 6px solid #603913 !important;
}

.nav-control .control-sub a i {
    font-size: 22px;
}

.box-content {
    margin-top: 0;
}

.mainBlock .contentBlock {
    margin-top: 4rem;
}

.contentPagein li {
    display: inline-block;
    font-size: 22px;
    border: 1px solid;
    border-radius: 5px;
    padding: 0px 12px;
}

.contentPagein .pageactive {
    color: #fff;
    background: #603913;
}

.contentBodyin {
    overflow-y: auto;
    background: white;
    margin-top: 0 !important;
}

.box-content .list-box-item {
    box-shadow: 0 0 0;
    margin-bottom: 1rem;
    background: white;
    border: 1px solid #cccccc;
    border-radius: 12px;
    padding-top: 12px !important;
}

.ghost-menu-space-reserving {
    height: 20px;
}

.loginBlockin-ag {
    position: relative;
    width: 100%;
    max-width: 500px !important;
    height: 20px;
    margin-top: 8rem;
}

.nav-profileBar .cir-img-profile {
    height: 55px;
    width: 55px;
    border-radius: 100%;
    background: rgb(100,181,246);
    overflow: hidden;
    position: relative;
}

.taskBlock .task-titletop {
    font-family: rsu_r;
    padding-right: 2%;
    width: 68%;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

.taskBlock .task-icon {
    font-family: ptt_ess;
    display: inline-block;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    margin: 5px 0px;
    line-height: 45px;
    margin-right: 5px;
}

    .taskBlock .task-icon .fa-2x {
        font-size: 2em;
        width: 30px;
    }

.taskBlock .sub_menu {
    padding-left: 20px;
    background-color: #7b4b1e;
}

.taskBlock .-task-highlight .sub_menu {
    padding-left: 20px;
    background-color: #e0ddd8;
}

.taskBlock .-task-highlight .task-icon {
    color: #603913;
}

.itemlist .item-desc {
    padding-bottom: 0;
}

.action-flows {
    margin-bottom: 0;
}

.d-clame .topic-section {
    font-size: 24px;
    border-bottom: 2px solid #676767;
    width: 98%;
    margin-bottom: 0;
    margin-left: 5px;
}

.view_info_btn {
    float: right;
    overflow: unset !important;
}

.itemlist .itemin_nametask, .-txt-blue {
    color: #71451e !important;
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    /*min-height: 1200px;*/
}

.personal_family_Content md-ink-bar {
    display: none;
}

.personal_family_Content .md-active .md-ripple-container {
    /*border-bottom: 3px solid #603913;*/
}

.personal_family_Content .item-btn .itemin_btn {
    padding: 10px;
}

    .personal_family_Content .item-btn .itemin_btn span {
        font-size: 20px;
    }

.personal_family_Content .itemlist_block .row {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}


    .personal_family_Content .itemlist_block .row:nth-child(odd) {
        background: #eee;
    }


.personal_education_Content md-ink-bar {
    display: none;
}

.personal_education_Content .md-active .md-ripple-container {
    /*border-bottom: 3px solid #603913;*/
}

.personal_education_Content .item-btn .itemin_btn {
    padding: 10px;
}

    .personal_education_Content .item-btn .itemin_btn span {
        font-size: 20px;
    }

.personal_education_Content .itemlist_block .row {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.traveltableBlock .row.itemlist {
    padding: 0 !important;
}


.personal_education_Content .itemlist_block .row:nth-child(odd) {
    background: #eee;
}

.personalaccountcontent .itemlist_block .row {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}


    .personalaccountcontent .itemlist_block .row:nth-child(odd) {
        background: #eee;
    }


.information_other .itemlist_block .row {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}


    .information_other .itemlist_block .row:nth-child(odd) {
        background: #eee;
    }


input::placeholder {
    color: #777777 !important;
}

md-tabs-content-wrapper {
    margin-top: 10px;
}

md-tabs .md-tab {
    font-size: 1.2rem;
    text-align: center;
    line-height: 24px;
    padding: 12px 24px;
    -webkit-transition: background-color .35s cubic-bezier(.35,0,.25,1);
    transition: background-color .35s cubic-bezier(.35,0,.25,1);
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    text-transform: uppercase;
    float: left;
    font-weight: 500;
    box-sizing: border-box;
    overflow: inherit;
    text-overflow: ellipsis;
    color: #333;
    border: 1px solid #ddd;
    border-left: 0;
    border-radius: 0 12px 0 0;
    margin-left: -7px;
}

    md-tabs .md-tab:first-child {
        border-left: 1px solid #ddd;
        margin-left: 2px;
    }

    md-tabs .md-tab.md-active {
        color: #fff;
        background: #867353;
    }

.taskBlock .task-title {
    padding-right: 2%;
    width: 62%;
    display: inline-block;
    margin-bottom: 0;
    font-size: 16px;
    vertical-align: middle;
    line-height: 20px;
    margin-left: 3px;
}

.mini-menu {
    background: rgb(96, 57, 19);
}

.action-instead-of {
    background: none !important;
}

.btn-action-instead-of {
    padding-bottom: 25px;
    position: relative;
    right: 0;
    height: 55px;
    width: 100%;
}

    .btn-action-instead-of .btn {
        position: absolute;
        left: 0;
        background: #867353 !important;
        color: #fff !important;
        font-size: 1.2rem !important;
        padding: 10px 15px;
    }

.clickable:hover {
    cursor: default !important;
}

.action-instead-of .inprogress-search {
    width: 70%;
    margin: 0 auto;
    margin-top: 80px;
}

.action-instead-of .card {
    border: 1px solid #ddd;
    box-shadow: 0 0 0;
    font-size: 1.2rem;
    border-radius: 12px;
}

    .action-instead-of .card:nth-child(odd) {
        background: #f1f1f1;
    }

    .action-instead-of .card .card-body {
        padding: 12px;
    }

.action-instead-of .bar_statusword {
    color: #fff;
    cursor: default;
    margin: 0 0 0 0.7em;
    display: block;
    line-height: 43px;
}

.profile_position {
    padding: 5px;
    background: #fff !important;
    text-align: center;
    margin-bottom: 25px;
    border: 2px solid #603913;
    border-radius: 12px;
    width: 100%;
    margin: 15px auto;
}

    .profile_position p {
        color: #333;
        font-size: 1.4rem;
        line-height: initial;
        margin: 4px;
    }

    .profile_position img {
        width: 75px !important;
        height: 75px !important;
        border-radius: 100% !important;
        margin: 0 auto;
        object-fit: cover;
        object-position: top;
    }

.nav-profileBar img {
    max-width: 100px;
    object-fit: cover;
    object-position: top;
}


.form-control:focus {
    border-color: rgba(96, 57, 19, 0.85) !important;
}

.taskBlock .task-wait {
    font-size: 17px;
    display: inline-block;
    width: 13%;
    margin-right: 3%;
    color: red;
    vertical-align: middle;
    padding-left: 5%;
    text-align: center;
    margin: 0 auto;
}

.navCircle .inCircle, .navCircle_list .inCircle {
    font-family: rsu_r;
    font-size: 17px;
    display: block;
    float: none;
    padding: 45%;
    width: auto;
    height: auto;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    background: #fff;
    text-align: center;
    position: relative;
    border: 2px solid #787878;
    -webkit-tap-highlight-color: transparent;
}

.personalinformationcontent .itemlist_block .col-sm-3, .personalinformationcontent .itemlist_block .col-sm-9 {
    padding: 10px 5px;
}

.personalinformationcontent .itemlist_block .row {
    border-bottom: 1px solid #ddd;
}

.personalinformationcontent .itemlist_block .span_name {
    font-family: rsu_b;
}


.personalinformationcontent .itemlist_block .row:nth-child(odd) {
    background: #eee;
}


.document-attachment {
    padding: 10px;
}

    .document-attachment .panel-default {
        border-radius: 12px;
    }

        .document-attachment .panel-default > .panel-heading {
            color: #fff;
            background-color: #603913;
            border-color: #ddd;
            font-size: 20px;
            border-radius: 12px 12px 0 0;
        }

.leavedetail .document-attachment {
    padding: 0;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    border-radius: 12px;
}

._720kb-datepicker-calendar-header:nth-child(odd) {
    background: #603913;
}

._720kb-datepicker-calendar-day._720kb-datepicker-disabled, ._720kb-datepicker-calendar-day._720kb-datepicker-disabled:hover, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-active._720kb-datepicker-disabled, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-active._720kb-datepicker-disabled:hover, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-disabled, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-disabled:hover {
    color: rgba(0,0,0,.2) !important;
    background: rgba(25,2,0,.02) !important;
}

._720kb-datepicker-calendar-month span {
    font-size: 13px;
    color: #fff;
}

._720kb-datepicker-calendar-header a, ._720kb-datepicker-calendar-header a:hover {
    text-decoration: none;
    padding: 3% 9% 4%;
    font-size: 13.5px;
    color: #fff;
    font-weight: 700;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

._720kb-datepicker-calendar-day._720kb-datepicker-active, ._720kb-datepicker-calendar-day:hover {
    background: #c3a588 none repeat scroll 0 0;
    color: #fff;
}

._720kb-datepicker-calendar-days-header {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2%;
    background: rgba(96, 57, 19, 0.37);
    border-bottom: 1px solid rgba(0,0,0,.02);
}

    ._720kb-datepicker-calendar-days-header div {
        width: 14.2%;
        font-weight: 500;
        font-size: 11.5px;
        padding: 10px .5%;
        float: left;
        text-align: center;
        color: rgb(255, 255, 255);
    }

md-menu-item > .md-button span {
    margin-top: auto;
    margin-bottom: auto;
    margin: auto 6px;
    width: 65px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    display: inline-flex;
}

md-menu-item > .md-button {
    text-align: left;
    display: inline-block;
    border-radius: 0;
    margin: auto 0;
    font-size: 16px;
    text-transform: none;
    font-weight: 400;
    height: 100%;
    padding-left: 10px;
    padding-right: 20px;
    width: 100%;
}

.taxallowancecontent .itemlist_block .col-sm-3, .taxallowancecontent .itemlist_block .col-sm-9 {
    padding: 10px 5px;
}


.taxallowancecontent .itemlist_block .row {
    border-bottom: 1px solid #ddd;
}

    .taxallowancecontent .itemlist_block .row:nth-child(odd) {
        background: #eee;
    }

md-tabs-canvas {
    position: relative;
    overflow: hidden;
    display: block;
    height: 47px;
}

.TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 tbody tr {
    border-bottom: 0px solid #5a7b96;
}

.TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 tbody td,
.TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02.not-fix-width tbody td {
    color: #333;
    font-size: 1rem;
    text-align: left;
}


.TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 td, .TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02.not-fix-width td {
    width: auto;
    white-space: nowrap;
    padding: 20px;
    border-right: 1px solid #eee;
}

    .TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 td:last-child, .TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02.not-fix-width td:last-child {
        border-right: 0px solid #eee;
    }

.TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 tbody td {
    background: transparent;
}

.TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 tbody tr:nth-child(even) {
    background: #e7e7e7 !important;
}

.TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 tbody tr:nth-child(odd) {
    background: #fff !important;
}

.TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 thead td, .TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 thead tr {
    color: #fff;
    text-align: center !important;
}

.traveltableBlock {
    overflow: auto !important;
}

.leaveBlock_detail .col-md-12 {
    padding: 7px;
}

.personal_address_content .table > tbody > tr {
    border-bottom: 1px solid #e2e2e2;
}

    .personal_address_content .table > tbody > tr label {
        font-size: 1.1rem !important;
    }

.personal_address_content .table tbody tr:nth-child(odd) {
    background: #eee;
}

.personal_address_content md-ink-bar {
    display: none;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 10px;
}

.personal_address_content_edit .table > tbody > tr {
    border: none;
    padding: 5px;
}

.expense-attachment {
    box-shadow: none !important;
}

.table > tbody + tbody {
    border-top: none;
}

.table-bordered {
    border: 0px solid #ddd;
}

.taskBlock .sub_menu .task-icon {
    font-size: 10px;
}

.item-flow .image-item {
    background: #a3c4ea;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
    color: white;
    padding: 14px;
}

.vegetable {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #603913;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: .15s ease;
    transition: .15s ease;
}

.fast-button .fast-button-item.main {
    display: none;
}

.span_name {
    /*color: #000;*/
    color: #603913 !important;
    font-family: rsu_b !important;
    font-size: 18px;
}

.form-group {
    font-size: 16px;
}

md-pagination-wrapper {
    height: 48px;
    display: flex !important;
    transition: transform .5s cubic-bezier(.35,0,.25,1);
    position: absolute !important;
    left: 0;
    transform: translate3d(0,0,0);
    width: auto !important;
}

.nav-profileBar .logo-container img {
    max-width: 100px;
    /*margin-top: 8px;*/
}

.floting-set-button {
    position: fixed;
    top: 7px;
    right: 7px;
    z-index: 1000000 !important;
    display: flex;
}

.healthinsurance th {
    text-align: center;
    padding: 5px 10px;
}

.healthinsurance td {
    padding: 8px 10px;
}

.form-control {
    height: 38px;
    box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
}

tbody tr th {
    font-size: 1.1rem;
}

.alert-danger {
    height: auto;
    position: absolute;
    width: 100%;
    line-height: 30px;
    z-index: 1;
    top: unset;
    margin-bottom: 0px;
}

.loginBlockin-ag .alert-danger {
    height: auto;
    position: fixed;
    width: 36%;
    line-height: 30px;
    z-index: 999 !important;
    margin-bottom: 0px;
    bottom: unset;
    top: 0;
    left: 26vw;
}

md-select {
    /*position: absolute !important;
    content: url('../images/arrow-down.png');
    top: 8px !important;
    right: 2px;
    height: 20px !important;
    width: 20px !important;
    z-index: 9999;
    display: inline-block;*/
    opacity: 1 !important;
    height: 38px;
    width: 100% !important;
}

.md-select-value {
    border: none;
    border-bottom-color: transparent !important;
    border-bottom-width: 0 !important;
}

    .md-select-value .md-text {
        opacity: 0 !important;
    }

.table > tbody > tr {
    border-bottom: none;
}

.box-shadow {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    border-radius: 12px;
}

md-input-container textarea.md-input {
    min-height: 26px;
    -ms-flex-preferred-size: auto;
    background: #fff;
}

._720kb-datepicker-calendar {
    background: #fff;
    color: #333;
    position: absolute;
    z-index: 999;
    min-width: 315px;
    margin: 0 auto 0 -.5%;
    width: 101%;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
    visibility: hidden;
    overflow: hidden;
    padding: 0 0 2%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


.leavetableBlock_create label, .travelExBlock label {
    font-family: rsu_r;
    font-size: 17px !important;
    font-weight: 400;
}

.leavetableBlock_create input, .travelExBlock input {
    font-family: rsu_r;
    font-size: 17px !important;
}

.mainBlock {
    height: 100%;
    margin: 0 auto;
    width: 98.5%;
}

md-select.md-default-theme .md-select-icon, md-select .md-select-icon {
    color: #000;
}

._720kb-datepicker-calendar-header:nth-child(even) {
    background: #76491d;
}

.mainBlock .leaveBlock_detail .contentBodyin {
    padding-top: 0;
}


.mainBlock .contentPagination {
    position: fixed;
    bottom: 0;
    height: 2.7rem;
    background-color: #fff;
    box-shadow: 0 -2px 5px 0 rgba(0,0,0,.2);
    width: 98%;
}

.item-flow p {
    font-size: 18px;
    margin: 0;
}

.chart_view_provident {
    width: 70%;
    margin: 20px auto;
}

.bar-content-checkbox-appove {
    margin-left: 16px;
    font-size: 18px;
}

.d-clame md-input-container label {
    font-size: 18px;
}

@media only screen and (min-height : 920px) {
    /*กล่องเข้าสู่ระบบ*/
    .login-content {
        margin-top: 16vh;
    }
}


@media only screen and (max-width : 992px) {

    html, body {
        min-height: 100%;
        height: 100%;
    }

    .login-content {
        margin-top: 38vh;
        width: 100% !important;
        margin-right: 0;
        left: 0;
        position: fixed;
    }

    .organization_block {
        text-align: center;
        padding: 10px 0;
    }

    .login_texttop {
        margin-left: 0;
        margin-top: -150px;
        width: 100%;
        max-width: fit-content;
        padding-bottom: 0;
    }

    .announcement_block .item-showimg img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .nav-profileBar .logo-container img {
        max-width: 75px;
        margin-top: 8px;
    }

    .copyright_footer {
        position: fixed;
        margin: 0;
        left: 0;
        width: 100%;
    }

    .logo_left {
        position: absolute;
        left: 5px;
        top: 5px;
        z-index: 999;
    }

        .logo_left img {
            width: 100px;
        }

    .bg_onlogin {
        display: none;
    }

    .bg_onlogin {
        position: relative;
        right: 0;
        top: 0;
        background: rgba(255, 255, 255, 0.85);
        width: 100%;
        height: 100%;
    }

    .healthinsurance {
        overflow: auto;
    }

    .nav-profileBar .profile-text {
        font-size: 13px;
        padding-top: 10px;
    }

    .-desk_md-only {
        display: block !important;
    }

    .loginBlockin-ag .alert-danger {
        height: auto;
        position: fixed;
        width: 85%;
        line-height: 15px;
        z-index: 999 !important;
        margin-bottom: 0px;
        bottom: unset;
        top: 35px;
        left: 0;
        margin: 6px auto;
        font-size: 16px;
        background: rgba(255, 188, 188, 0.75) !important;
    }

    .login-content {
        margin-right: 0 !important;
    }

    .contentBodyin {
        width: auto !important;
        margin: 5px !important;
    }

    .body_content {
        margin: 0px;
        margin-bottom: 15px;
        overflow-y: hidden;
        overflow-x: auto;
    }

    .bar-content .bar_title {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        position: relative;
        min-height: 0;
        overflow: hidden;
        z-index: 4;
        margin: 0px;
        width: auto;
    }

    .action-instead-of .inprogress-search {
        width: 100%;
        margin: 0 auto;
        margin-top: 80px;
    }

        .action-instead-of .inprogress-search .input-group {
            width: 100%;
        }

    .box-content .list-box-item {
        padding-bottom: 60px;
    }

    .ViewContent_block .date_time {
        text-align: left;
        margin: 10px 0 0 0;
    }

    .in-progress-tb-top > .inprogress-search {
        float: left;
    }

    .ViewContent_block .itemin_nametask {
        font-size: 1.4rem;
    }

    .ViewContent_block .item-status .itemin_tabstatus {
        height: 2.4rem;
        font-size: 1.2rem;
        padding: 7px 0 !important;
    }

    .ViewContent_block .date_time {
        font-size: 1.2rem;
    }

    .ViewContent_block .itemin_nameid {
        font-size: 1.2rem;
    }

    .ViewContent_block .PositionName {
        font-size: 1.2rem;
    }

    .bar_left-title {
        margin-top: 0;
        margin-bottom: 8px;
        padding-right: 5px;
        font-size: 20px !important;
        line-height: 20px;
        word-wrap: break-word;
    }

    .bar-content .bar_title .bar_left {
        font-size: 20px;
        margin: .8rem auto 0;
        float: left;
    }

    h2 {
        font-size: 1.5em;
        margin: 0;
    }

    .item-flow p {
        margin: 0;
    }

    .item-flow .image-item {
        width: 35px !important;
        height: 35px !important;
    }

    .item-flow .item-detail {
        width: 100%;
        margin-top: 2px !important;
    }

    .datepicker-height-set {
        position: relative;
        height: 39px;
        width: 100% !important;
    }

    .-pad10 {
        padding: 0;
    }

    .contentBody {
        padding: 0 !important;
        margin-top: 0 !important;
        background: none;
    }

    .ghost-menu-space-reserving {
        height: 66px;
    }

    .search-years {
        width: 100%;
        margin: 20px auto;
        line-height: 2;
        font-size: 1.2rem;
        text-align: center;
    }

    .detail_item-name {
        width: 6rem;
        line-height: 22px !important;
        padding-right: 5px;
    }

    .detail_item-des {
        padding-left: 5px;
    }

    .personal_address_content .table > tbody > tr > td {
        padding: 0 15px;
        display: block;
    }

    .md-select-menu-container {
        max-width: 320px;
    }

        .md-select-menu-container .md-text {
            white-space: pre-line;
        }

    .item-flow {
        padding: 14px 12px !important;
        padding-top: 10px !important;
    }

    .chart_view_provident {
        width: 100%;
    }

    .providenfund_table_02 {
        width: 1140px;
    }

    .setting-body {
        background: #fff;
    }

    .box_login_right {
        position: absolute;
        right: unset;
        width: 100%;
        background: rgba(255, 255, 255, 0.75);
        height: 100%;
    }
    .hidefooter {
        display: none !important;
    }
}

@media only screen and (max-width : 320px) {



    .login-content {
        margin-top: 24vh;
        width: 100% !important;
    }

    .login_texttop {
        width: 100%;
        margin-top: -20px;
        padding-bottom: 15px;
    }

    .login_logo_header [alt="login logo"] {
        width: 100%
    }
}

@media only screen and (min-width: 992px) {
    .mini-menu .mini-menu-item a {
        color: #ffffff !important;
    }
}

@media only screen and (max-width: 720px) {
    .floting-set-button {
        top: 61px;
        padding: 1rem 0.5rem 0.5rem 0.5rem;
        right: 0;
        border-radius: 5px;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
        background: white;
    }
}

@media only screen and (min-width: 1600px) {
    .box_login_right {
        position: absolute;
        right: 3%;
    }
}

@media only screen and (min-width: 1900px) {
    .box_login_right {
        position: absolute;
        right: 7%;
    }
}

@media only screen and (max-height : 600px) and (max-width : 992px) {
    .box_login_right {
        position: absolute;
        right: 0;
    }

    .loginBlockin-ag {
        position: relative;
        width: 100%;
        max-width: 500px !important;
        height: 20px;
        margin-top: 0;
    }

    .loginPage {
        min-height: 550px;
    }

    .copyright_footer {
        position: absolute;
        margin: 0;
        left: 0;
        width: 100%;
        bottom: 0;
    }
}

@media only screen and (max-height : 1024px) {
    .login-content {
        margin-right: -8px;
    }
}

@media only screen and (min-height : 600px) and (max-height: 950px) {
    .login-content {
        margin-right: -3vw;
    }
}

@media only screen and (min-width: 2560px) {

    .copyright_footer {
        width: 23vw;
    }
}


.btn_COMPLETED {
    background-color: #19b916;
    color: #f3efe9;
    padding: 5px;
    border: 1px #12cc0f;
    border-style: solid;
    width: 122px;
}

.btn_CANCELLED {
    background-color: #f91313;
    color: #f3efe9;
    padding: 5px;
    border: 1px #d81a11;
    border-style: solid;
    width: 122px;
}

.btn_WAITFORVERIFY {
    background-color: #f9bd13;
    color: #f3efe9;
    padding: 5px;
    border: 1px #f9bd13;
    border-style: solid;
    width: 122px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .taskBlock .sub_menu {
        padding-left: 0px;
        background-color: #7b4b1e;
    }

    .taskBlock .-task-highlight .sub_menu {
        padding-left: 0;
        background-color: #e0ddd8;
    }

    .taskBlock .task-icon {
        width: 24px;
    }

        .taskBlock .task-icon .fa-2x {
            font-size: 18px;
            width: 30px;
        }

    .search-years {
        width: 85%;
        margin: 20px auto;
        line-height: 2;
        font-size: 1.2rem;
    }

    .organization_block {
        text-align: center;
    }
}

@media only screen and (max-height: 500px) and (max-width : 992px) {

    .login-content {
        margin-top: 38vh;
        width: 100% !important;
        margin-right: 0;
        left: 0;
        position: relative;
    }

    .login_texttop {
        margin-left: 0;
        margin-top: -88px;
        width: 80%;
        max-width: fit-content;
        padding-bottom: 0;
    }

    .box_login_right {
        position: relative;
        right: 0;
    }
}


@media only screen and (min-height : 0px) and (max-height : 500px) {
    .login-content {
        margin-right: -7.5vw;
    }

    .loginBlockin-ag {
        margin-top: 2rem;
    }

    .login_texttop {
        padding-bottom: 15px;
        width: 75%;
    }

    .copyright_footer {
        text-align: center;
        color: #606060;
        font-size: 16px;
        position: absolute;
        display: block;
        width: 308px;
        line-height: 8px;
        bottom: 0;
        margin: 0 auto;
        right: 0;
    }
}


@media only screen and (min-height : 501px) and (max-height : 600px) {
    .login-content {
        margin-right: -6vw;
    }

    .loginBlockin-ag {
        margin-top: 4rem;
    }

    .login_texttop {
        padding-bottom: 15px;
        width: 100%;
    }

    .copyright_footer {
        text-align: center;
        color: #606060;
        font-size: 16px;
        position: fixed;
        display: block;
        width: 408px;
        line-height: 8px;
        bottom: 15px;
        margin: 0 auto;
        right: 0;
    }
}


@media only screen and (max-width: 1024px) {
    .organization_block {
        text-align: center;
    }

    .block-scrollInMobile {
        max-height: 372px;
        overflow-y: auto;
        margin-bottom: 35px;
    }

    .calendar-gap {
        margin-bottom: 120px;
    }

    .ProfileBlock {
        border-radius: 12px;
        background: #fff;
        width: 98%;
        margin: 0 auto;
    }

        .ProfileBlock .profile-name {
            margin-top: 2.5rem;
            font-size: 1.4rem;
            color: #603913;
            font-family: rsu_b;
        }

        .ProfileBlock .profile-id {
            margin: 0;
            font-size: 1.5rem !important;
            color: #f9a97f;
            background-color: transparent;
            padding: 2px 30px;
            display: inline-block;
            border-radius: 3px;
            height: auto;
            padding-top: 0;
        }

        .ProfileBlock .exman-res_titletable {
            color: #f9a97f !important;
            font-size: 1.1rem !important;
            font-family: rsu_r !important;
            margin-top: 5px !important;
        }

        .ProfileBlock .exman-res_detailtable {
            font-size: 1rem !important;
            margin-top: 5px !important;
        }
}

@media only screen and (max-width: 1199px) {
    .organization_block .card-body {
        padding: 15px;
        text-align: center;
    }
}


md-dialog {
    max-width: 80%;
    width: 100%;
}