* {
    outline: 0
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 95%
    }
}

@media (min-width: 576px) {
    .modal-xl {
        max-width: 95%
    }
}

* {
    outline: 0
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 95%
    }
}

@media (min-width: 576px) {
    .modal-xl {
        max-width: 95%
    }
}

html, body {
    font-family: kanit;
    font-size: 16px;
    line-height: 1.5
}

.ess-topheader-wrap {
    background-color: #fff
}

.ess-header-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px 8px;
    border-bottom: 1px solid #d3d6da
}

.ess-primary-navigation {
    display: flex;
    align-items: center
}

    .ess-primary-navigation .ess-menu {
        padding: 20px 22px 10px 11px
    }

    .ess-primary-navigation .ess-logowrap {
        display: flex;
        align-items: center;
        border-left: 1px solid #666;
        padding: 0 0 4px 17px;
        margin-top: 4px
    }

.ess-content-header-panel {
    display: flex;
    align-items: center
}

    .ess-content-header-panel .ess-nav {
        align-items: center;
        display: flex;
        margin: 0;
        padding: 0 0 0 33px;
        justify-content: flex-end
    }

    .ess-content-header-panel .ess-nav-link {
        padding: 0;
        color: #7f7f7f
    }

    .ess-content-header-panel .font-size-smaller, .ess-content-header-panel .font-size-normal, .ess-content-header-panel .font-size-bigger {
        line-height: 12px;
        padding: 0 5px;
        color: #7f7f7f
    }

        .ess-content-header-panel .font-size-smaller a, .ess-content-header-panel .font-size-normal a, .ess-content-header-panel .font-size-bigger a {
            color: #7f7f7f
        }

        .ess-content-header-panel .font-size-smaller.active, .ess-content-header-panel .font-size-normal.active, .ess-content-header-panel .font-size-bigger.active {
            color: #000
        }

            .ess-content-header-panel .font-size-smaller.active a, .ess-content-header-panel .font-size-normal.active a, .ess-content-header-panel .font-size-bigger.active a {
                color: #000
            }

    .ess-content-header-panel .font-size-smaller {
        font-size: 15px
    }

    .ess-content-header-panel .font-size-normal {
        font-size: 18px
    }

    .ess-content-header-panel .font-size-bigger {
        font-size: 22px
    }

    .ess-content-header-panel .dropdown-toggle {
        font-size: 13px
    }

        .ess-content-header-panel .dropdown-toggle:after {
            border: none;
            background: url("../images/icons/select-arrow.svg") no-repeat center center;
            width: 19px;
            height: 19px;
            display: inline-block;
            vertical-align: inherit;
            background-size: cover;
            vertical-align: middle;
            margin-left: 10px;
            position: relative;
            bottom: 10px
        }

        .ess-content-header-panel .dropdown-toggle .ess-nav-link-user {
            padding-right: 15px
        }

    .ess-content-header-panel .mobile-menu .menu-settings {
        display: none
    }

.ess-nav-inbox {
    display: flex;
    margin: 0;
    padding: 0
}

.ess-nav-item-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: #8d8d8d;
    width: 100%
}

    .ess-nav-item-user .ess-userimg {
        width: 43px;
        height: 43px;
        display: block;
        border-radius: 100%
    }

        .ess-nav-item-user .ess-userimg img {
            border-radius: 100%;
            width: 100%;
            height: auto
        }

    .ess-nav-item-user .ess-nav-item-userimg {
        width: 43px
    }

    .ess-nav-item-user .ess-nav-item-userdata {
        width: calc( 100% - 43px );
        padding: 5px 9px 0 9px;
        margin-left: 8px
    }

        .ess-nav-item-user .ess-nav-item-userdata.show {
            background-color: #fff;
            position: relative;
            border-radius: 8px 8px 0 0;
            box-shadow: 0px -2px 12px -7px rgba(0,0,0,0.75)
        }

        .ess-nav-item-user .ess-nav-item-userdata .dropdown-menu.show {
            background: #fff;
            transform: none !important;
            left: 0 !important;
            right: 0 !important;
            top: unset !important;
            border-radius: 0 0 10px 10px;
            border: 0;
            margin: 0 !important;
            min-width: 154px;
            box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75)
        }

        .ess-nav-item-user .ess-nav-item-userdata .dropdown-item {
            color: #737373;
            padding: 5px 10px;
            display: flex;
            align-items: center
        }

            .ess-nav-item-user .ess-nav-item-userdata .dropdown-item .dropdown-icon {
                width: 22px;
                height: 22px;
                display: flex;
                align-items: center
            }

            /*.ess-nav-item-user .ess-nav-item-userdata .dropdown-item:hover, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:focus {
                color: #fff;
                text-decoration: none;
                background-color: #18baec
            }*/

                .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:hover .dropdown-icon .icon, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:focus .dropdown-icon .icon {
                    filter: brightness(300)
                }

            .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:first-child, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:last-child {
                border-radius: 0
            }

        .ess-nav-item-user .ess-nav-item-userdata .ess-nav-item-userdata-line {
            margin: 6px 0
        }

    .ess-nav-item-user .ess-nav-link-hello {
        font-size: 18px;
        line-height: 1.1;
        display: block;
        color: #8d8d8d
    }

    .ess-nav-item-user .ess-nav-link {
        display: flex;
        align-items: flex-end
    }

.ess-nav-item {
    color: #7f7f7f;
    min-height: 50px;
    display: flex;
    align-items: center
}

    .ess-nav-item.ess-user-topbar {
        justify-content: flex-end;
        padding: 0
    }

    .ess-nav-item.ess-nav-date .font-size-label {
        font-size: 15px
    }

    .ess-nav-item.ess-nav-cta-box {
        align-items: flex-end;
        min-height: 51px;
        padding: 0;
        position: relative
    }

    .ess-nav-item.ess-kvis-icon {
        margin-top: 7px;
        padding: 0 27px;
        border-left: 1px solid #666
    }

.ess-nav-cta {
    display: flex;
    justify-content: center;
    padding: 5px 5px 5px
}

    .ess-nav-cta .ess-nav-cta-icon {
        display: block;
        line-height: 0
    }

    .ess-nav-cta .ess-nav-approve-qty {
        position: absolute;
        right: 10px;
        top: 0;
        background-color: #ff1d25;
        display: inline-block;
        text-align: center;
        border-radius: 20px;
        color: #fff;
        font-weight: bold;
        font-size: 10px;
        line-height: 1.4;
        padding: 0 6px
    }

.ess .mainnavbar {
    position: absolute;
    width: 100%;
    top: 75px;
    z-index: 200;
    background: #f9f9f9;
    box-shadow: none
}

.ess .mainnavbar-close {
    position: absolute;
    top: -58px;
    left: 22px;
    background: #fff;
    padding: 10px
}

.ess .form-control:focus, .ess .ess-form-control:focus {
    box-shadow: unset
}

.ess .form-control, .ess .ess-form-control {
    border-radius: 0;
    font-size: 16px;
    font-family: kanit;
    color: #8d8d8d
}

.ess .select2-container--default .select2-selection--single {
    border-color: #9f9f9f;
    border-radius: 10px;
    line-height: 2;
    height: 30px;
    color: #7d7d7d
}

    .ess .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 2;
        color: #7d7d7d
    }

    .ess .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-width: 7px 5px 0 5px;
        left: 50%;
        margin-left: -7px;
        margin-top: -2px
    }

.ess .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0 5px 7px 5px
}

.ess .topnav-menu {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    box-shadow: 0 20px 10px 5px rgba(0,0,0,0.2);
    position: relative;
    padding: 0
}

    .ess .topnav-menu .topnav-menu-home-wrap {
        display: flex;
        background-color: #f7f7f7;
        box-shadow: 0 0 10px 3px rgba(0,0,0,0.1)
    }

        .ess .topnav-menu .topnav-menu-home-wrap .topnav-menu-home {
            padding: 19px 20px 0
        }

        .ess .topnav-menu .topnav-menu-home-wrap .topnav-menu-document .topnav-menu-list-inner {
            background-color: #f7f7f7
        }

    .ess .topnav-menu .topnav-menu-box.topnav-menu-home .topnav-menu-headerlink {
        padding: 0
    }

    .ess .topnav-menu .topnav-menu-document {
        border-left: 2px solid #eaeaea;
        width: 186px
    }

    .ess .topnav-menu .topnav-menu-homelink, .ess .topnav-menu .topnav-menu-switch {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        padding-bottom: 16px
    }

    .ess .topnav-menu .topnav-menu-homelink-label {
        padding-top: 10px;
        font-size: 12px
    }

    .ess .topnav-menu .topnav-menu-headerlink {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: normal;
        padding: 17px 5%;
        border-bottom: 0;
        text-align: center
    }

        .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link {
            margin-top: 16px;
            color: #4B4B4B
        }

            .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link.topnav-menu-homelink {
                margin-top: 0
            }

    .ess .topnav-menu .topnav-menu-linklist {
        list-style: none;
        padding: 0;
        margin: 0 0 20px;
        border-top: 2px dotted #ccc
    }

        .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem {
            font-size: 12px;
            padding: 0;
            line-height: 1.3;
            border-bottom: 2px dotted #ccc
        }

            .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link {
                padding: 7px 5px 7px 10px;
                display: flex;
                justify-content: space-between
            }

                /*.ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link:hover {*/
                    /*background-color: #592f91;*/
                    /*background-color: #56cbf2;
                    color: #fcfcfc;
                }*/

                .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link .topnav-menu-link-qty {
                    background-color: #ee4536;
                    padding: 0 3px;
                    text-align: center;
                    color: #fff;
                    border-radius: 20px;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 1.4;
                    padding: 0 3px;
                    min-width: 22px;
                    display: block
                }

    .ess .topnav-menu .topnav-menu-subheaderlink {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 10px 8px 15px
    }

    .ess .topnav-menu .topnav-menu-list-inner {
        margin: 0 3px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        height: 100%
    }

    .ess .topnav-menu .topnav-menu-box2 {
        width: 60%
    }

    .ess .topnav-menu .topnav-menu-list2 {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%
    }

        .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner {
            width: 25%
        }

            .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner .topnav-menu-link-icon {
                display: flex;
                height: 48px
            }

        .ess .topnav-menu .topnav-menu-list2 .topnav-menu-headerlink {
            background-color: #fff;
            margin: 0 10px 10px;
            height: calc(100% - 10px);
            justify-content: flex-start
        }

            .ess .topnav-menu .topnav-menu-list2 .topnav-menu-headerlink:hover {
                background-color: transparent
            }

    .ess .topnav-menu .topnav-menu-list-inner .collapse, .ess .topnav-menu .topnav-menu-list-inner .collapsing, .ess .topnav-menu .topnav-menu-list-inner .collapse:not(.show) {
        display: block;
        height: 100%
    }


.ess-breadcrumb {
    padding: 7px 76px;
    margin: 0;
    font-size: 12px
}

    .ess-breadcrumb a {
        color: rgba(83,83,83,0.7) !important
    }

.mainnavbar-collapse.collapsing .slick-slider {
    visibility: hidden
}

.mainnavbar-collapse.collapse.show .slick-slider {
    visibility: visible
}

.topnav-slide-wrap {
    width: calc( 100% - 400px );
    margin: 20px auto
}

.topnav-slide .slick-slide {
    margin: 0
}

.topnav-slide .slick-prev, .topnav-slide .slick-next {
    color: #fff;
    width: 30px;
    height: 30px
}

.topnav-slide .slick-next {
    right: -25px
}

    .topnav-slide .slick-next::before {
        content: "\e900";
        font-family: ess;
        font-size: 50px;
        color: #464646
    }

.topnav-slide .slick-prev {
    left: -40px
}

    .topnav-slide .slick-prev::before {
        content: "\e901";
        font-family: ess;
        font-size: 50px;
        color: #464646
    }

.topnav-slide .slick-active {
    opacity: 1
}


.topnav-slide-item {
    width: 200px;
}

@media (max-width: 1448px) {
    .ess-overall-nav .ess-overall-box-datagroup {
        width: auto;
        min-width: unset
    }
}

@media (max-width: 1140px) {
    .ess-tab .ess-tab-panel {
        width: 23%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: 100%
        }
}

@media (max-width: 1110px) {
    .ess .mainnavbar {
        top: 80px
    }

    .ess .mainnavbar-close {
        top: -64px;
        left: 23px
    }
}

@media (max-width: 1086px) {
    .ess-overall-nav .ess-overall-box {
        flex-direction: row;
        flex-wrap: nowrap
    }

    .ess-overall-nav .ess-overall-box-datagroup {
        padding: 5px 20px
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: 135px;
        padding: 0;
        text-align: right
    }

    .ess-overall-nav .ess-overall-box-datagroup-wrap {
        width: calc( 100% - 135px)
    }

    .ess-overall-nav .ess-overall-box-datagroup {
        width: 100%;
        min-width: unset;
        max-width: unset
    }
}

@media (max-width: 1024px) {
    .ess .mainnavbar-close {
        top: -64px;
        left: 8px
    }

    .ess-dropdown-hover:hover > .dropdown-menu {
        transform: translate3d(0, 27px, 0px);
        position: absolute;
        top: 0
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .ess .topnav-menu {
        padding: 18px 0 10px
    }

    .ess-content-header-panel .sp-user-topbar {
        flex-basis: unset;
        flex-grow: 0
    }

    .ess-row-wrap {
        padding-left: 5px;
        padding-right: 5px
    }

    .ess-header-wrap {
        padding: 8px 5px 17px
    }

    .ess-breadcrumb {
        padding: 6px 15px 7px
    }

    .ess-tab .ess-tab-panel {
        width: 23%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: auto;
            height: 100%
        }
}

@media (max-width: 826px) {
    .ess .mainnavbar {
        top: 90px
    }

    .ess .mainnavbar-close {
        top: -67px;
        left: 8px
    }

    .ess .topnav-menu .topnav-menu-box2 {
        width: 40%
    }

        .ess .topnav-menu .topnav-menu-box2 .topnav-menu-list2 {
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box2 .topnav-menu-list2 .topnav-menu-list2-inner {
                width: 50%
            }
}

@media (max-width: 767px) {
    .ess .mainnavbar {
        top: 52px
    }

    .ess .mainnavbar-close {
        top: -48px;
        left: 2px
    }

    .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link {
        min-height: unset
    }

    .ess .topnav-menu .topnav-menu-list-inner .collapse:not(.show) {
        display: none;
        height: 0
    }

    .ess .topnav-menu .topnav-menu-list-inner .collapsing {
        height: 0
    }

    .ess .topnav-slide-item {
        width: auto;
    }

    .ess .topnav-menu {
        padding-left: 0;
        display: block;
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc( 100vh - 54px);
        padding-right: 0
    }

        .ess .topnav-menu .topnav-menu-home-wrap {
            flex-direction: column
        }

        .ess .topnav-menu .topnav-menu-list-inner {
            margin: 0 5px
        }

        .ess .topnav-menu .topnav-menu-linklist {
            margin: 0 15px 20px
        }

        .ess .topnav-menu .topnav-slide-wrap {
            margin-top: 0
        }

        .ess .topnav-menu .topnav-menu-box {
            border-top: 0;
            padding-left: 0;
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box .topnav-menu-headerlink {
                border-bottom: 0;
                padding-left: 20px
            }

                .ess .topnav-menu .topnav-menu-box .topnav-menu-headerlink .topnav-menu-link {
                    margin-top: 0;
                    padding: 0 15px 15px
                }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-document {
                border-left: 0;
                border-top: 1px solid #eaeaea
            }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-home {
                border: 0;
                width: 100%;
                display: flex;
                justify-content: center
            }

                .ess .topnav-menu .topnav-menu-box.topnav-menu-home .topnav-menu-headerlink {
                    border: 0
                }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-list {
                margin: 0
            }

                .ess .topnav-menu .topnav-menu-box.topnav-menu-list .topnav-menu-list-inner {
                    margin: 0
                }

        .ess .topnav-menu .topnav-menu-box2 {
            margin-top: 10px;
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box2 .topnav-menu-headerlink {
                padding: 20px 5px
            }

                .ess .topnav-menu .topnav-menu-box2 .topnav-menu-headerlink .topnav-menu-link {
                    padding: 0 10px 0
                }

    .ess .topnav-menu-linklist {
        padding-left: 35px
    }

    .ess .mainnavbar-collapse .ess-header-wrap {
        padding: 10px 10px
    }

    .ess .topnav-slide-wrap {
        width: 100%
    }

    .ess-footer {
        margin-top: 0
    }

    .ess-top-header {
        display: none
    }

    .ess-primary-navigation {
        flex-basis: 40%;
        padding-top: 0
    }

        .ess-primary-navigation .ess-menu {
            padding: 0 20px 0 0
        }

    .ess-content-header-panel {
        margin-top: 0
    }

    .ess-content-header-panel {
        display: flex;
        justify-content: flex-end;
        width: 100%
    }

    .ess-content-header-panel {
        position: relative;
        flex-basis: 55%
    }

        .ess-content-header-panel .mobile-menu .menu-settings {
            display: flex;
            justify-content: flex-end
        }

        .ess-content-header-panel .ess-nav {
            position: absolute;
            z-index: 100;
            background-color: #fff;
            padding: 10px;
            display: none
        }

            .ess-content-header-panel .ess-nav .ess-nav-item {
                border: 0;
                width: 100%;
                order: 2;
                min-height: 35px
            }

                .ess-content-header-panel .ess-nav .ess-nav-item.ess-nav-cta-box {
                    width: 40%
                }

                .ess-content-header-panel .ess-nav .ess-nav-item.ess-user-topbar .ess-nav-item-userdata {
                    display: block;
                    padding-left: 10px
                }

                    .ess-content-header-panel .ess-nav .ess-nav-item.ess-user-topbar .ess-nav-item-userdata .dropdown-toggle {
                        margin-left: 0
                    }

        .ess-content-header-panel .collapsing.ess-nav {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            right: 0;
            width: 240px;
            box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
            top: 38px
        }

        .ess-content-header-panel .collapse.show.ess-nav {
            box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
            position: absolute;
            flex-direction: column;
            display: flex;
            right: 0;
            width: 300px;
            top: 38px
        }

    .ess-header-wrap {
        padding: 5px 10px 0
    }

    .ess-breadcrumb {
        padding: 5px 10px
    }

    .ess-page-header-panel {
        padding-bottom: 5px
    }

        .ess-page-header-panel .ess-page-header {
            padding: 0 0 10px
        }

        .ess-page-header-panel .ess-page-header-element {
            padding: 0
        }

    .ess-doc-num-box {
        padding: 0
    }

    .ess-tab-section-content {
        padding: 0
    }

    .ess-overall-nav .ess-overall-box {
        width: 100%;
        padding: 5px 0
    }

    .ess-overall-nav .ess-overall-box-datagroup-wrap {
        width: 100%
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: auto;
        white-space: nowrap
    }

    .ess-overall-nav .ess-overall-cta {
        text-align: center
    }

    .ess-tab .ess-tab-panel {
        width: auto;
        height: 100%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: auto;
            height: 100%
        }
}

@media (max-width: 575px) {
    .ess-page-header-panel .ess-page-header-element {
        justify-content: center
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: auto;
        white-space: nowrap
    }
}

@media (max-width: 542px) {
    .ess-tab .ess-tab-panel {
        margin: 0
    }
}

@media (max-width: 490px) {
    .ess-tab-evoluation-wrap {
        padding: 0 1px
    }

    .ess-tab .ess-tab-panel {
        width: 100%;
        margin: 0
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: 100%;
            margin-top: -5px;
            background-color: #fff
        }
}

@media (max-width: 459px) {
    .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner {
        width: 50%
    }

    .ess-primary-navigation .ess-logowrap {
        padding: 0 0 4px 0
    }

        .ess-primary-navigation .ess-logowrap .icon.ess-logo {
            width: 72px;
            height: 27px
        }

    .ess-primary-navigation .ess-menu {
        padding: 0 10px 0 0
    }
}

.ess-footer {
    text-align: center;
    padding: 50px 0 40px
}

* {
    outline: 0
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 95%
    }
}

@media (min-width: 576px) {
    .modal-xl {
        max-width: 95%
    }
}

* {
    outline: 0
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 95%
    }
}

@media (min-width: 576px) {
    .modal-xl {
        max-width: 95%
    }
}

.ess-topheader-wrap {
    background-color: #fff
}

.ess-header-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px 8px;
    border-bottom: 1px solid #d3d6da
}

.ess-primary-navigation {
    display: flex;
    align-items: center
}

    .ess-primary-navigation .ess-menu {
        padding: 20px 22px 10px 11px
    }

    .ess-primary-navigation .ess-logowrap {
        display: flex;
        align-items: center;
        border-left: 1px solid #666;
        padding: 0 0 4px 17px;
        margin-top: 4px
    }

.ess-content-header-panel {
    display: flex;
    align-items: center
}

    .ess-content-header-panel .ess-nav {
        align-items: center;
        display: flex;
        margin: 0;
        padding: 0 0 0 33px;
        justify-content: flex-end
    }

    .ess-content-header-panel .ess-nav-link {
        padding: 0;
        color: #7f7f7f
    }

    .ess-content-header-panel .font-size-smaller, .ess-content-header-panel .font-size-normal, .ess-content-header-panel .font-size-bigger {
        line-height: 12px;
        padding: 0 5px;
        color: #7f7f7f
    }

        .ess-content-header-panel .font-size-smaller a, .ess-content-header-panel .font-size-normal a, .ess-content-header-panel .font-size-bigger a {
            color: #7f7f7f
        }

        .ess-content-header-panel .font-size-smaller.active, .ess-content-header-panel .font-size-normal.active, .ess-content-header-panel .font-size-bigger.active {
            color: #000
        }

            .ess-content-header-panel .font-size-smaller.active a, .ess-content-header-panel .font-size-normal.active a, .ess-content-header-panel .font-size-bigger.active a {
                color: #000
            }

    .ess-content-header-panel .font-size-smaller {
        font-size: 15px
    }

    .ess-content-header-panel .font-size-normal {
        font-size: 18px
    }

    .ess-content-header-panel .font-size-bigger {
        font-size: 22px
    }

    .ess-content-header-panel .dropdown-toggle {
        font-size: 13px
    }

        .ess-content-header-panel .dropdown-toggle:after {
            border: none;
            background: url("../images/icons/select-arrow.svg") no-repeat center center;
            width: 19px;
            height: 19px;
            display: inline-block;
            vertical-align: inherit;
            background-size: cover;
            vertical-align: middle;
            margin-left: 10px;
            position: relative;
            bottom: 10px
        }

        .ess-content-header-panel .dropdown-toggle .ess-nav-link-user {
            padding-right: 15px
        }

    .ess-content-header-panel .mobile-menu .menu-settings {
        display: none
    }

.ess-nav-inbox {
    display: flex;
    margin: 0;
    padding: 0
}

.ess-nav-item-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: #8d8d8d;
    width: 100%
}

    .ess-nav-item-user .ess-userimg {
        width: 43px;
        height: 43px;
        display: block;
        border-radius: 100%
    }

        .ess-nav-item-user .ess-userimg img {
            border-radius: 100%;
            width: 100%;
            height: auto
        }

    .ess-nav-item-user .ess-nav-item-userimg {
        width: 43px
    }

    .ess-nav-item-user .ess-nav-item-userdata {
        width: calc( 100% - 43px );
        padding: 5px 9px 0 9px;
        margin-left: 8px
    }

        .ess-nav-item-user .ess-nav-item-userdata.show {
            background-color: #fff;
            position: relative;
            border-radius: 8px 8px 0 0;
            box-shadow: 0px -2px 12px -7px rgba(0,0,0,0.75)
        }

        .ess-nav-item-user .ess-nav-item-userdata .dropdown-menu.show {
            background: #fff;
            transform: none !important;
            left: 0 !important;
            right: 0 !important;
            top: unset !important;
            border-radius: 0 0 10px 10px;
            border: 0;
            margin: 0 !important;
            min-width: 154px;
            box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75)
        }

        .ess-nav-item-user .ess-nav-item-userdata .dropdown-item {
            color: #737373;
            padding: 5px 10px;
            display: flex;
            align-items: center
        }

            .ess-nav-item-user .ess-nav-item-userdata .dropdown-item .dropdown-icon {
                width: 22px;
                height: 22px;
                display: flex;
                align-items: center
            }

            /*.ess-nav-item-user .ess-nav-item-userdata .dropdown-item:hover, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:focus {
                color: #fff;
                text-decoration: none;
                background-color: #18baec
            }*/

                .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:hover .dropdown-icon .icon, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:focus .dropdown-icon .icon {
                    filter: brightness(300)
                }

            .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:first-child, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:last-child {
                border-radius: 0
            }

        .ess-nav-item-user .ess-nav-item-userdata .ess-nav-item-userdata-line {
            margin: 6px 0
        }

    .ess-nav-item-user .ess-nav-link-hello {
        font-size: 18px;
        line-height: 1.1;
        display: block;
        color: #8d8d8d
    }

    .ess-nav-item-user .ess-nav-link {
        display: flex;
        align-items: flex-end
    }

.ess-nav-item {
    color: #7f7f7f;
    min-height: 50px;
    display: flex;
    align-items: center
}

    .ess-nav-item.ess-user-topbar {
        justify-content: flex-end;
        padding: 0
    }

    .ess-nav-item.ess-nav-date .font-size-label {
        font-size: 15px
    }

    .ess-nav-item.ess-nav-cta-box {
        align-items: flex-end;
        min-height: 51px;
        padding: 0;
        position: relative
    }

    .ess-nav-item.ess-kvis-icon {
        margin-top: 7px;
        padding: 0 27px;
        border-left: 1px solid #666
    }

.ess-nav-cta {
    display: flex;
    justify-content: center;
    padding: 5px 5px 5px
}

    .ess-nav-cta .ess-nav-cta-icon {
        display: block;
        line-height: 0
    }

    .ess-nav-cta .ess-nav-approve-qty {
        position: absolute;
        right: 10px;
        top: 0;
        background-color: #ff1d25;
        display: inline-block;
        text-align: center;
        border-radius: 20px;
        color: #fff;
        font-weight: bold;
        font-size: 10px;
        line-height: 1.4;
        padding: 0 6px
    }

.ess .mainnavbar {
    position: absolute;
    width: 100%;
    top: 75px;
    z-index: 200;
    background: #f9f9f9;
    box-shadow: none
}

.ess .mainnavbar-close {
    position: absolute;
    top: -58px;
    left: 22px;
    background: #fff;
    padding: 10px
}

.ess .form-control:focus, .ess .ess-form-control:focus {
    box-shadow: unset
}

.ess .form-control, .ess .ess-form-control {
    border-radius: 0;
    font-size: 16px;
    font-family: kanit;
    color: #8d8d8d
}

.ess .select2-container--default .select2-selection--single {
    border-color: #9f9f9f;
    border-radius: 10px;
    line-height: 2;
    height: 30px;
    color: #7d7d7d
}

    .ess .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 2;
        color: #7d7d7d
    }

    .ess .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-width: 7px 5px 0 5px;
        left: 50%;
        margin-left: -7px;
        margin-top: -2px
    }

.ess .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0 5px 7px 5px
}

.ess .topnav-menu {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    box-shadow: 0 20px 10px 5px rgba(0,0,0,0.2);
    position: relative;
    padding: 0
}

    .ess .topnav-menu .topnav-menu-home-wrap {
        display: flex;
        background-color: #f7f7f7;
        box-shadow: 0 0 10px 3px rgba(0,0,0,0.1)
    }

        .ess .topnav-menu .topnav-menu-home-wrap .topnav-menu-home {
            padding: 19px 20px 0
        }

        .ess .topnav-menu .topnav-menu-home-wrap .topnav-menu-document .topnav-menu-list-inner {
            background-color: #f7f7f7
        }

    .ess .topnav-menu .topnav-menu-box.topnav-menu-home .topnav-menu-headerlink {
        padding: 0
    }

    .ess .topnav-menu .topnav-menu-document {
        border-left: 2px solid #eaeaea;
        width: 186px
    }

    .ess .topnav-menu .topnav-menu-homelink, .ess .topnav-menu .topnav-menu-switch {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        padding-bottom: 16px
    }

    .ess .topnav-menu .topnav-menu-homelink-label {
        padding-top: 10px;
        font-size: 12px
    }

    .ess .topnav-menu .topnav-menu-headerlink {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: normal;
        padding: 17px 5%;
        border-bottom: 0;
        text-align: center
    }

        .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link {
            margin-top: 16px;
            color: #4B4B4B
        }

            .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link.topnav-menu-homelink {
                margin-top: 0
            }

    .ess .topnav-menu .topnav-menu-linklist {
        list-style: none;
        padding: 0;
        margin: 0 0 20px;
        border-top: 2px dotted #ccc
    }

        .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem {
            font-size: 12px;
            padding: 0;
            line-height: 1.3;
            border-bottom: 2px dotted #ccc
        }

            .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link {
                padding: 7px 5px 7px 10px;
                display: flex;
                justify-content: space-between
            }

                /*.ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link:hover {*/
                    /*background-color: #592f91;*/
                    /*background-color: #56cbf2;
                    color: #290460
                }*/

                .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link .topnav-menu-link-qty {
                    background-color: #ee4536;
                    padding: 0 3px;
                    text-align: center;
                    color: #fff;
                    border-radius: 20px;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 1.4;
                    padding: 0 3px;
                    min-width: 22px;
                    display: block
                }

    .ess .topnav-menu .topnav-menu-subheaderlink {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 10px 8px 15px
    }

    .ess .topnav-menu .topnav-menu-list-inner {
        margin: 0 3px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        height: 100%
    }

    .ess .topnav-menu .topnav-menu-box2 {
        width: 60%
    }

    .ess .topnav-menu .topnav-menu-list2 {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%
    }

        .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner {
            width: 25%
        }

            .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner .topnav-menu-link-icon {
                display: flex;
                height: 48px
            }

        .ess .topnav-menu .topnav-menu-list2 .topnav-menu-headerlink {
            background-color: #fff;
            margin: 0 10px 10px;
            height: calc(100% - 10px);
            justify-content: flex-start
        }

            .ess .topnav-menu .topnav-menu-list2 .topnav-menu-headerlink:hover {
                background-color: transparent
            }

    .ess .topnav-menu .topnav-menu-list-inner .collapse, .ess .topnav-menu .topnav-menu-list-inner .collapsing, .ess .topnav-menu .topnav-menu-list-inner .collapse:not(.show) {
        display: block;
        height: 100%
    }

.ess-breadcrumb {
    padding: 7px 76px;
    margin: 0;
    font-size: 12px
}

    .ess-breadcrumb a {
        color: rgba(83,83,83,0.7) !important
    }

.mainnavbar-collapse.collapsing .slick-slider {
    visibility: hidden
}

.mainnavbar-collapse.collapse.show .slick-slider {
    visibility: visible
}

.topnav-slide-wrap {
    width: calc( 100% - 400px );
    margin: 20px auto
}

.topnav-slide .slick-slide {
    margin: 0
}

.topnav-slide .slick-prev, .topnav-slide .slick-next {
    color: #fff;
    width: 30px;
    height: 30px
}

.topnav-slide .slick-next {
    right: -25px
}

    .topnav-slide .slick-next::before {
        content: "\e900";
        font-family: ess;
        font-size: 50px;
        color: #464646
    }

.topnav-slide .slick-prev {
    left: -40px
}

    .topnav-slide .slick-prev::before {
        content: "\e901";
        font-family: ess;
        font-size: 50px;
        color: #464646
    }

.topnav-slide .slick-active {
    opacity: 1
}

@media (max-width: 1448px) {
    .ess-overall-nav .ess-overall-box-datagroup {
        width: auto;
        min-width: unset
    }
}

@media (max-width: 1140px) {
    .ess-tab .ess-tab-panel {
        width: 23%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: 100%
        }
}

@media (max-width: 1110px) {
    .ess .mainnavbar {
        top: 80px
    }

    .ess .mainnavbar-close {
        top: -64px;
        left: 23px
    }
}

@media (max-width: 1086px) {
    .ess-overall-nav .ess-overall-box {
        flex-direction: row;
        flex-wrap: nowrap
    }

    .ess-overall-nav .ess-overall-box-datagroup {
        padding: 5px 20px
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: 135px;
        padding: 0;
        text-align: right
    }

    .ess-overall-nav .ess-overall-box-datagroup-wrap {
        width: calc( 100% - 135px)
    }

    .ess-overall-nav .ess-overall-box-datagroup {
        width: 100%;
        min-width: unset;
        max-width: unset
    }
}

@media (max-width: 1024px) {
    .ess .mainnavbar-close {
        top: -64px;
        left: 8px
    }

    .ess-dropdown-hover:hover > .dropdown-menu {
        transform: translate3d(0, 27px, 0px);
        position: absolute;
        top: 0
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .ess .topnav-menu {
        padding: 18px 0 10px
    }

    .ess-content-header-panel .sp-user-topbar {
        flex-basis: unset;
        flex-grow: 0
    }

    .ess-row-wrap {
        padding-left: 5px;
        padding-right: 5px
    }

    .ess-header-wrap {
        padding: 8px 5px 17px
    }

    .ess-breadcrumb {
        padding: 6px 15px 7px
    }

    .ess-tab .ess-tab-panel {
        width: 23%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: auto;
            height: 100%
        }
}

@media (max-width: 826px) {
    .ess .mainnavbar {
        top: 90px
    }

    .ess .mainnavbar-close {
        top: -67px;
        left: 8px
    }

    .ess .topnav-menu .topnav-menu-box2 {
        width: 40%
    }

        .ess .topnav-menu .topnav-menu-box2 .topnav-menu-list2 {
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box2 .topnav-menu-list2 .topnav-menu-list2-inner {
                width: 50%
            }
}

@media (max-width: 767px) {
    .ess .mainnavbar {
        top: 52px
    }

    .ess .mainnavbar-close {
        top: -48px;
        left: 2px
    }

    .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link {
        min-height: unset
    }

    .ess .topnav-menu .topnav-menu-list-inner .collapse:not(.show) {
        display: none;
        height: 0
    }

    .ess .topnav-menu .topnav-menu-list-inner .collapsing {
        height: 0
    }

    .ess .topnav-menu {
        padding-left: 0;
        display: block;
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc( 100vh - 54px);
        padding-right: 0
    }

        .ess .topnav-menu .topnav-menu-home-wrap {
            flex-direction: column
        }

        .ess .topnav-menu .topnav-menu-list-inner {
            margin: 0 5px
        }

        .ess .topnav-menu .topnav-menu-linklist {
            margin: 0 15px 20px
        }

        .ess .topnav-menu .topnav-slide-wrap {
            margin-top: 0
        }

        .ess .topnav-menu .topnav-menu-box {
            border-top: 0;
            padding-left: 0;
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box .topnav-menu-headerlink {
                border-bottom: 0;
                padding-left: 20px
            }

                .ess .topnav-menu .topnav-menu-box .topnav-menu-headerlink .topnav-menu-link {
                    margin-top: 0;
                    padding: 0 15px 15px
                }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-document {
                border-left: 0;
                border-top: 1px solid #eaeaea
            }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-home {
                border: 0;
                width: 100%;
                display: flex;
                justify-content: center
            }

                .ess .topnav-menu .topnav-menu-box.topnav-menu-home .topnav-menu-headerlink {
                    border: 0
                }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-list {
                margin: 0
            }

                .ess .topnav-menu .topnav-menu-box.topnav-menu-list .topnav-menu-list-inner {
                    margin: 0
                }

        .ess .topnav-menu .topnav-menu-box2 {
            margin-top: 10px;
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box2 .topnav-menu-headerlink {
                padding: 20px 5px
            }

                .ess .topnav-menu .topnav-menu-box2 .topnav-menu-headerlink .topnav-menu-link {
                    padding: 0 10px 0
                }

    .ess .topnav-menu-linklist {
        padding-left: 35px
    }

    .ess .mainnavbar-collapse .ess-header-wrap {
        padding: 10px 10px
    }

    .ess .topnav-slide-wrap {
        width: 100%
    }

    .ess-footer {
        margin-top: 0
    }

    .ess-top-header {
        display: none
    }

    .ess-primary-navigation {
        flex-basis: 40%;
        padding-top: 0
    }

        .ess-primary-navigation .ess-menu {
            padding: 0 20px 0 0
        }

    .ess-content-header-panel {
        margin-top: 0
    }

    .ess-content-header-panel {
        display: flex;
        justify-content: flex-end;
        width: 100%
    }

    .ess-content-header-panel {
        position: relative;
        flex-basis: 55%
    }

        .ess-content-header-panel .mobile-menu .menu-settings {
            display: flex;
            justify-content: flex-end
        }

        .ess-content-header-panel .ess-nav {
            position: absolute;
            z-index: 100;
            background-color: #fff;
            padding: 10px;
            display: none
        }

            .ess-content-header-panel .ess-nav .ess-nav-item {
                border: 0;
                width: 100%;
                order: 2;
                min-height: 35px
            }

                .ess-content-header-panel .ess-nav .ess-nav-item.ess-nav-cta-box {
                    width: 40%
                }

                .ess-content-header-panel .ess-nav .ess-nav-item.ess-user-topbar .ess-nav-item-userdata {
                    display: block;
                    padding-left: 10px
                }

                    .ess-content-header-panel .ess-nav .ess-nav-item.ess-user-topbar .ess-nav-item-userdata .dropdown-toggle {
                        margin-left: 0
                    }

        .ess-content-header-panel .collapsing.ess-nav {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            right: 0;
            width: 240px;
            box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
            top: 38px
        }

        .ess-content-header-panel .collapse.show.ess-nav {
            box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
            position: absolute;
            flex-direction: column;
            display: flex;
            right: 0;
            width: 300px;
            top: 38px
        }

    .ess-header-wrap {
        padding: 5px 10px 0
    }

    .ess-breadcrumb {
        padding: 5px 10px
    }

    .ess-page-header-panel {
        padding-bottom: 5px
    }

        .ess-page-header-panel .ess-page-header {
            padding: 0 0 10px
        }

        .ess-page-header-panel .ess-page-header-element {
            padding: 0
        }

    .ess-doc-num-box {
        padding: 0
    }

    .ess-tab-section-content {
        padding: 0
    }

    .ess-overall-nav .ess-overall-box {
        width: 100%;
        padding: 5px 0
    }

    .ess-overall-nav .ess-overall-box-datagroup-wrap {
        width: 100%
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: auto;
        white-space: nowrap
    }

    .ess-overall-nav .ess-overall-cta {
        text-align: center
    }

    .ess-tab .ess-tab-panel {
        width: auto;
        height: 100%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: auto;
            height: 100%
        }
}

@media (max-width: 575px) {
    .ess-page-header-panel .ess-page-header-element {
        justify-content: center
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: auto;
        white-space: nowrap
    }
}

@media (max-width: 542px) {
    .ess-tab .ess-tab-panel {
        margin: 0
    }
}

@media (max-width: 490px) {
    .ess-tab-evoluation-wrap {
        padding: 0 1px
    }

    .ess-tab .ess-tab-panel {
        width: 100%;
        margin: 0
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: 100%;
            margin-top: -5px;
            background-color: #fff
        }
}

@media (max-width: 459px) {
    .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner {
        width: 50%
    }

    .ess-primary-navigation .ess-logowrap {
        padding: 0 0 4px 0
    }

        .ess-primary-navigation .ess-logowrap .icon.ess-logo {
            width: 72px;
            height: 27px
        }

    .ess-primary-navigation .ess-menu {
        padding: 0 10px 0 0
    }
}

.ess-footer {
    text-align: center;
    padding: 50px 0 40px
}

.ess {
    /*background: #fff url(../images/ess-bg.png)*/
}

    .ess .ess-form-group .ess-form-group-label {
        font-size: 16px
    }

    .ess .ess-form-group .ess-form-control {
        border: 1px solid #9f9f9f;
        border-radius: 10px;
        font-size: 16px;
        color: #4b4b4b
    }

    .ess .ess-form-group .ess-selectbox .select2-container {
        width: 100% !important
    }

    .ess .ess-form-group .ess-selectbox .select2-container--default .select2-selection--single {
        height: 38px
    }

        .ess .ess-form-group .ess-selectbox .select2-container--default .select2-selection--single .select2-selection__rendered {
            font-size: 16px;
            line-height: 2.3
        }

        .ess .ess-form-group .ess-selectbox .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 38px
        }

    .ess .ess-form-group .ess-formgroup-calendar {
        display: flex;
        align-items: center
    }

        .ess .ess-form-group .ess-formgroup-calendar .btn-icon {
            margin: 0 0 0 5px
        }

    .ess .ess-document-action-radio {
        margin-right: 20px
    }

    .ess .ess-form-help {
        color: #8f8f8f;
        line-height: 1.3;
        padding-top: 5px;
        font-size: 14px
    }

    .ess .datepicker .datepicker-days .table-condensed {
        border-collapse: separate;
        border-spacing: 14px
    }

        .ess .datepicker .datepicker-days .table-condensed th {
            width: 28px;
            height: 28px;
            font-size: 16px;
            font-weight: normal
        }

        .ess .datepicker .datepicker-days .table-condensed td {
            width: 30px;
            height: 30px;
            font-size: 18px;
            margin: 5px
        }

        .ess .datepicker .datepicker-days .table-condensed thead tr:nth-child(2) {
            position: relative
        }

            .ess .datepicker .datepicker-days .table-condensed thead tr:nth-child(2):after {
                content: '';
                height: 1px;
                background: #d5d5d5;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: -6px
            }

        .ess .datepicker .datepicker-days .table-condensed tr th.dow:nth-child(1), .ess .datepicker .datepicker-days .table-condensed tr td:nth-child(1) {
            color: #ee1c24
        }

            .ess .datepicker .datepicker-days .table-condensed tr th.dow:nth-child(1).old, .ess .datepicker .datepicker-days .table-condensed tr th.dow:nth-child(1).new, .ess .datepicker .datepicker-days .table-condensed tr td:nth-child(1).old, .ess .datepicker .datepicker-days .table-condensed tr td:nth-child(1).new {
                color: #999
            }

    .ess .datepicker .datepicker-months .table-condensed {
        border-collapse: separate;
        border-spacing: 14px
    }

        .ess .datepicker .datepicker-months .table-condensed th {
            font-size: 16px;
            font-weight: normal
        }

        .ess .datepicker .datepicker-months .table-condensed td {
            font-size: 16px;
            margin: 5px
        }

            .ess .datepicker .datepicker-months .table-condensed td .month {
                width: 48px;
                height: 48px;
                line-height: 48px
            }

    .ess .datepicker .datepicker-centuries .table-condensed, .ess .datepicker .datepicker-decades .table-condensed, .ess .datepicker .datepicker-years .table-condensed {
        border-collapse: separate;
        border-spacing: 14px
    }

        .ess .datepicker .datepicker-centuries .table-condensed th, .ess .datepicker .datepicker-decades .table-condensed th, .ess .datepicker .datepicker-years .table-condensed th {
            font-size: 16px;
            font-weight: normal
        }

        .ess .datepicker .datepicker-centuries .table-condensed td, .ess .datepicker .datepicker-decades .table-condensed td, .ess .datepicker .datepicker-years .table-condensed td {
            font-size: 16px;
            margin: 5px
        }

            .ess .datepicker .datepicker-centuries .table-condensed td .century, .ess .datepicker .datepicker-centuries .table-condensed td .decade, .ess .datepicker .datepicker-centuries .table-condensed td .year, .ess .datepicker .datepicker-decades .table-condensed td .century, .ess .datepicker .datepicker-decades .table-condensed td .decade, .ess .datepicker .datepicker-decades .table-condensed td .year, .ess .datepicker .datepicker-years .table-condensed td .century, .ess .datepicker .datepicker-years .table-condensed td .decade, .ess .datepicker .datepicker-years .table-condensed td .year {
                width: 48px;
                height: 48px;
                line-height: 48px
            }

/*    .ess .datepicker table tr td.active.active, .ess .datepicker table tr td.active.disabled, .ess .datepicker table tr td.active.disabled.active, .ess .datepicker table tr td.active.disabled.disabled, .ess .datepicker table tr td.active.disabled:active, .ess .datepicker table tr td.active.disabled:hover, .ess .datepicker table tr td.active.disabled:hover.active, .ess .datepicker table tr td.active.disabled:hover.disabled, .ess .datepicker table tr td.active.disabled:hover:active, .ess .datepicker table tr td.active.disabled:hover:hover, .ess .datepicker table tr td.active.disabled:hover[disabled], .ess .datepicker table tr td.active.disabled[disabled], .ess .datepicker table tr td.active:active, .ess .datepicker table tr td.active:hover, .ess .datepicker table tr td.active:hover.active, .ess .datepicker table tr td.active:hover.disabled, .ess .datepicker table tr td.active:hover:active, .ess .datepicker table tr td.active:hover:hover, .ess .datepicker table tr td.active:hover[disabled], .ess .datepicker table tr td.active[disabled] {
        background: #39b54a;
        border-radius: 100%;
        color: #fff
    }

    .ess .datepicker table tr td span.active.active, .ess .datepicker table tr td span.active.disabled, .ess .datepicker table tr td span.active.disabled.active, .ess .datepicker table tr td span.active.disabled.disabled, .ess .datepicker table tr td span.active.disabled:active, .ess .datepicker table tr td span.active.disabled:hover, .ess .datepicker table tr td span.active.disabled:hover.active, .ess .datepicker table tr td span.active.disabled:hover.disabled, .ess .datepicker table tr td span.active.disabled:hover:active, .ess .datepicker table tr td span.active.disabled:hover:hover, .ess .datepicker table tr td span.active.disabled:hover[disabled], .ess .datepicker table tr td span.active.disabled[disabled], .ess .datepicker table tr td span.active:active, .ess .datepicker table tr td span.active:hover, .ess .datepicker table tr td span.active:hover.active, .ess .datepicker table tr td span.active:hover.disabled, .ess .datepicker table tr td span.active:hover:active, .ess .datepicker table tr td span.active:hover:hover, .ess .datepicker table tr td span.active:hover[disabled], .ess .datepicker table tr td span.active[disabled] {
        background: #39b54a;
        border-radius: 100%;
        color: #fff
    }*/

    .ess .datepicker table tr td.day.focused, .ess .datepicker table tr td.day:hover, .ess .datepicker table tr td span.focused, .ess .datepicker table tr td span:hover {
        border-radius: 100%
    }


.ess-page-header2 {
    font-size: 30px;
    padding: 20px 50px 7px
}

.ess-wrapper {
    padding: 11px 30px
}

.ess-tab-document-wrap .ess-nav-link {
    display: flex;
    align-items: center;
    padding: 10px 20px 0px 10px;
    border-width: 1px 1px 0;
    border-color: #d6d7d8;
    border-style: solid;
    min-width: 150px;
    height: 100%;
    color: white;
    margin-right: 3px;
    border-bottom: 3px solid #895cbf;
}

.ess-tab-document-wrap .ess-nav-link-pa {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 10px;
    border-width: 1px 1px 0;
    border-style: solid;
    min-width: 150px;
    /*justify-content: center;*/
    height: 100%;
    color: white;
    border-bottom: 3px solid #895cbf;
}


.ess-tab-document-wrap .ess-nav-link:hover, .ess-tab-document-wrap .ess-nav-link:focus {
    background-color: #59308e;
    border-bottom: 3px solid #52f7a8;
}

.ess-tab-document-wrap .ess-nav-link-pa:hover, .ess-tab-document-wrap .ess-nav-link-pa:focus {
    background-color: #59308e;
    border-bottom: 3px solid #52f7a8;
}


.ess-tab-document-wrap .ess-nav-link .ess-tab-link-label {
    font-size: 16px
}

.ess-tab-document-wrap .ess-nav-link .ess-tab-link-icon {
    position: relative;
    padding: 0 14px
}

.ess-tab-document-wrap .ess-nav-link.active {
    background-color: #59308e;
    border-bottom: 3px solid #52f7a1;
    position: relative;
    color:#ffffff;
}

.ess-tab-document-wrap .ess-nav-link-pa.active {
    color:#ffffff;
    background-color: #59308e;
    border-bottom: 3px solid #52f7a1;
    position: relative
}

.ess-tab-document-wrap .ess-nav-link.active::after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px
}

.ess-tab-document-wrap .ess-nav-link-pa.active::after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px
}

.ess-tab-document-wrap .ess-badge {
    border-radius: 50px;
    padding: .25em .8em;
    position: absolute;
    right: 4px;
    top: -5px;
    font-size: 10px;
    font-weight: normal
}

.ess-note {
    color: #0884f4;
    display: flex;
    align-items: center;
    font-size: 14px
}

    .ess-note .icon {
        margin-right: 5px
    }



.ess-document-tab-content-search .ess-document-tab-content-filter {
    display: flex;
    padding-top: 2px
}

    .ess-document-tab-content-search .ess-document-tab-content-filter .ess-detail-data {
        width: 230px
    }

        .ess-document-tab-content-search .ess-document-tab-content-filter .ess-detail-data .select2-container {
            width: 100% !important
        }

        .ess-document-tab-content-search .ess-document-tab-content-filter .ess-detail-data .select2-container--default .select2-selection--single {
            width: 100%;
            height: 32px
        }

            .ess-document-tab-content-search .ess-document-tab-content-filter .ess-detail-data .select2-container--default .select2-selection--single .select2-selection__rendered {
                line-height: 2.35
            }

    .ess-document-tab-content-search .ess-document-tab-content-filter .form-inline .ess-label {
        color: #363636;
        font-size: 16px;
        padding-right: 16px
    }

.ess-login-detail {
    padding-top: 16px
}

    .ess-login-detail .ess-login-as {
        color: #636363;
        font-size: 16px
    }

    .ess-login-detail .ess-document-total {
        text-align: right;
        color: #636363;
        font-size: 16px
    }

.ess-document-tab-filter-total {
    font-size: 11px;
    color: #006dc1;
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.ess-document-tab-filter {
    padding-top: 19px
}

.ess-document-tab-filter-dropdown .ess-document-tab-filter-btn, .ess-document-tab-filter-dropdown .btn-secondary:not(:disabled):not(.disabled):active, .ess-document-tab-filter-dropdown .btn-secondary:not(:disabled):not(.disabled).active {
    border: 1px solid #c1c0c0;
    background-color: #faf9f9;
    color: #8d8d8d;
    padding: 0 12px
}

    .ess-document-tab-filter-dropdown .ess-document-tab-filter-btn .ess-document-tab-filter-btn-span, .ess-document-tab-filter-dropdown .btn-secondary:not(:disabled):not(.disabled):active .ess-document-tab-filter-btn-span, .ess-document-tab-filter-dropdown .btn-secondary:not(:disabled):not(.disabled).active .ess-document-tab-filter-btn-span {
        padding: 0 11px
    }

.ess-document-tab-filter-panel {
    display: flex
}

.ess-document-tab-filter-action-panel {
    margin-left: 5px
}

.ess-document-tab-filter-action {
    margin: 0 4px
}

.ess-document-tab-filter-action-item {
    display: inline-block;
    border: 1px solid #c1c0c0;
    background-color: #fff;
    border-radius: 6px;
    padding: 0 6px;
    line-height: 1.62
}

.ess .btn.show > .btn-secondary.dropdown-toggle:focus {
    background-color: #faf9f9;
    color: #8d8d8d;
    box-shadow: 0 0 0 1px rgba(130,138,145,0.5)
}

.ess .dropdown-menu {
    border-radius: 0 0 12px 12px;
    border: 0;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2)
}

    .ess .dropdown-menu a {
        color: #737373
    }

.ess .dropdown-item:hover, .ess .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #18baec
}

/*.ess-document-list {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin-top: 15px;
}

    .ess-document-list .ess-document-list-item {
        display: flex;
        padding-top: 16px;
        padding-bottom: 25px;
        margin-bottom: 5px
    }

    .ess-document-list .ess-document-list-item-type-wrap {
        display: flex;
        min-width: 223px;
        padding-top: 63px
    }

        .ess-document-list .ess-document-list-item-type-wrap .ess-document-list-item-num-wrap {
            margin: 18px
        }

        .ess-document-list .ess-document-list-item-type-wrap .ess-document-list-item-type {
            margin: 0 auto
        }

        .ess-document-list .ess-document-list-item-type-wrap .ess-document-list-item-num {
            padding: 7px 10px;
            border-radius: 10px;
            width: 80px
        }

    .ess-document-list .ess-document-list-label {
        display: flex;
        align-items: center
    }

        .ess-document-list .ess-document-list-label .icon {
            margin-right: 10px
        }

    .ess-document-list .ess-document-list-item-type-data {
        font-size: 18px;
        line-height: 1
    }

    .ess-document-list .ess-document-list-item-type-icon {
        padding-top: 9px
    }

    .ess-document-list .ess-document-list-item-detail-num {
        font-size: 30px;
        padding: 10px 0 11px
    }

    .ess-document-list .ess-document-list-item-detail-desc {
        font-size: 20px
    }

    .ess-document-list .ess-document-list-item-detail-wrap {
        width: calc( 60% - 224px );
        padding-top: 27px;
        padding-left: 2%;
        padding-right: 2%
    }

    .ess-document-list .ess-document-list-item-creator-wrap {
        width: 20%;
        border-left: 1px solid #e5e5e5;
        padding-top: 27px;
        padding-left: 2%;
        padding-right: 1%
    }

        .ess-document-list .ess-document-list-item-creator-wrap .ess-document-list-item-creator-num {
            font-size: 20px;
            padding: 10px 0 0px
        }

        .ess-document-list .ess-document-list-item-creator-wrap .ess-document-list-item-creator-name {
            font-size: 20px
        }

        .ess-document-list .ess-document-list-item-creator-wrap .ess-document-list-item-creator-position {
            font-size: 14px;
            padding-top: 2px
        }

    .ess-document-list .ess-document-list-item-status-wrap {
        width: 20%;
        border-left: 1px solid #e5e5e5;
        padding-top: 27px;
        padding-left: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status {
            display: flex;
            align-items: center;
            font-size: 30px;
            line-height: 1;
            padding-bottom: 12px;
            padding-top: 5px
        }

            .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status .icon {
                margin-right: 7px
            }

            .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status .ess-icon-caption {
                width: calc( 100% - 35px )
            }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-timestamp {
            display: flex;
            align-items: center;
            padding-top: 64px
        }

            .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-timestamp .icon {
                width: 13px;
                height: 16px;
                margin-right: 7px
            }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-complate {
            color: #39b54a
        }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-draft {
            color: #448ccb
        }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-pending-approve {
            color: #f7941d
        }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-cancelled {
            color: #ed1c24
        }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-wait {
            color: #a0410d
        }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-error {
            color: #9e0039
        }*/

.ess-tab-section-bar {
    display: flex;
    align-items: center;
    padding: 14px 29px
}

    .ess-tab-section-bar .icon {
        margin-right: 16px
    }

    .ess-tab-section-bar .ess-tab-section-bar-hdr {
        width: calc( 100% - 36px );
        font-size: 30px
    }

.ess-tab-section-bar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    text-align: right
}

.ess-collapse-data-panel {
    border-top: 1px solid #c2c2c2;
    padding: 13px 20px 20px 20px
}

    .ess-collapse-data-panel .ess-document-tab-content-search {
        padding-top: 0
    }

.ess-sub-hdr {
    font-size: 20px;
    padding: 9px 0
}

.ess-report-summary {
    background: #fff;
    border: 1px solid #e8e7e7;
    border-radius: 10px;
    padding: 21px 0 23px;
    margin: 5px 0 16px
}

.ess-report-summary-data {
    border-right: 1px solid #e8e7e7;
    padding-top: 31px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.ess-report-summary-hdr {
    display: flex;
    align-items: center;
    justify-content: center
}

.ess-report-summary-label {
    font-size: 30px;
    text-align: center;
    line-height: 1.2;
    padding-top: 5px
}

.ess-report-summary-value {
    font-size: 48px;
    text-align: center;
    padding: 11px 0 4px
}

    .ess-report-summary-value.ess-report-summary-value-gery {
        color: #b7b7b7
    }

    .ess-report-summary-value.ess-report-summary-value-green {
        color: #39b54a
    }

.ess-report-summary-value-red {
    color: #ee4536
}

.ess-report-summary-unit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px
}

    .ess-report-summary-unit .icon {
        margin: 0 5px
    }

    .ess-report-summary-unit .ess-report-summary-unit-caption {
        font-size: 12px
    }

.ess-table-style1.ess-report-table tbody {
    border: 1px solid #e3e0e0
}

    .ess-table-style1.ess-report-table tbody tr:nth-child(2n) {
        background-color: #fff
    }

.ess-table-style1.ess-report-table tr {
    border-bottom: 1px solid #999999
}

.ess-table-style1.ess-report-table td {
    /*padding: 21px 15px 27px;*/
    padding: 5px;
    vertical-align: top;
    white-space: nowrap;
    /*font-size: 20px*/ /*user font-size default html*/
}

.ess-table-style1.ess-report-table .ess-report-date {
    font-size: 30px
}

.ess-table-style1.ess-report-table .ess-report-timetype {
    font-size: 20px
}

.ess-table-style1.ess-report-table .ess-report-clockin {
    font-size: 30px
}

.ess-table-style1.ess-report-table .ess-report-clockout {
    font-size: 30px
}

.ess-table-style1.ess-report-table .ess-report-status {
    color: #39b54a;
    padding-top: 31px;
    font-size: 20px
}

.ess-table-style1.ess-report-table .ess-report-clockicon {
    padding-top: 36px
}

.ess-table-style1.ess-report-table .ess-report-check {
    padding-top: 36px
}

.ess-table-style1.ess-report-table .ess-report-remark, .ess-table-style1.ess-report-table .ess-report-timetype {
    padding-top: 33px
}

.ess-table-style1.ess-report-table .ess-report-redflag {
    color: #ee4536
}

    .ess-table-style1.ess-report-table .ess-report-redflag .icon {
        filter: hue-rotate(180deg) saturate(300)
    }

.ess-table-style1.ess-report-table .ess-report-data {
    padding: 0
}

.ess-table-style1.ess-report-table.ess-report-table2 tr.ess-time-card-hdr {
    border: 0
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-time-card, .ess-table-style1.ess-report-table.ess-report-table2 .ess-time-stamp {
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px 11px 60px
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-clockin, .ess-table-style1.ess-report-table.ess-report-table2 .ess-report-clockout {
    font-size: 20px;
    padding-top: 33px
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-data {
    border-left: 1px solid #999;
    padding-left: 40px
}

.ess-table-style1.ess-report-table.ess-report-table2 th.ess-report-data {
    padding-left: 55px
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-date {
    padding-left: 60px
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-acccept {
    background: #fff;
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-off {
    background: #f9fafa
}

.ess-table-style1.ess-report-table .ess-report-table2-inside {
    margin: 10px 0 10px
}

    .ess-table-style1.ess-report-table .ess-report-table2-inside tbody, .ess-table-style1.ess-report-table .ess-report-table2-inside tr {
        border: 0;
        background-color: transparent !important
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside td {
        padding: 0 15px 2px
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clocktime {
        font-size: 30px;
        width: 200px
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clockplace {
        padding-top: 12px;
        width: 250px
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clockstatus {
        padding-top: 12px;
        width: 300px;
        color: #39b54a
    }

.ess-table-style1.ess-report-table.ess-report-table-sum tbody {
    border: 0
}

    .ess-table-style1.ess-report-table.ess-report-table-sum tbody tr:last-child {
        border: 0
    }

.ess-leave-summary-box {
    border: 1px solid #e5e5e5;
    margin: 0 0 9px;
    background-color: #fff;
    padding-top: 14px
}

.ess-leave-summary-chart-box {
    padding-left: 4%;
    padding-right: 6%
}

.ess-report-summary-data-row {
    padding-top: 24px;
    padding-bottom: 24px
}

.ess-report-summary-data {
    padding-top: 0;
    border-left: 1px solid #e5e5e5;
    border-right: 0
}

.ess-report-summary-label {
    font-size: 20px
}

.ess-report-summary-value {
    font-size: 20px
}

.ess-leave-summary-hdr {
    font-size: 20px;
    line-height: 1.1;
    padding-top: 5px
}

.ess-leave-summary-chart-sum {
    align-items: baseline;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 5px
}

    .ess-leave-summary-chart-sum .ess-leave-summary-chart-sum-date {
        font-size: 16px
    }

    .ess-leave-summary-chart-sum .ess-leave-summary-chart-sum-data {
        font-size: 20px
    }

        .ess-leave-summary-chart-sum .ess-leave-summary-chart-sum-data .ess-data-progress {
            color: #7d7d7d
        }

.ess-leave-summary-chart {
    position: relative;
    min-height: 30px
}

    .ess-leave-summary-chart .ess-leave-summary-chart-line {
        position: absolute;
        height: 20px;
        border-radius: 50px
    }

    .ess-leave-summary-chart .ess-leave-summary-chart-total {
        width: 100%;
        background-color: #f0f0f0
    }

    .ess-leave-summary-chart .ess-leave-summary-chart-inprogress {
        background-color: #d7d7d7
    }

    .ess-leave-summary-chart .ess-leave-summary-chart-use {
        background-color: #1cbbb4
    }

.ess-leave-summary-vacation .ess-leave-summary-chart-used {
    background-color: #18baeb
}

.ess-leave-summary-vacation .ess-leave-summary-text {
    color: #18baeb
}

.ess-leave-summary-sickdoctor .ess-leave-summary-chart-used {
    background-color: #d71c24
}

.ess-leave-summary-sickdoctor .ess-leave-summary-text {
    color: #d71c24
}

.ess-leave-summary-sick .ess-leave-summary-chart-used {
    background-color: #f26522
}

.ess-leave-summary-sick .ess-leave-summary-text {
    color: #f26522
}

.ess-leave-summary-business .ess-leave-summary-chart-used {
    background-color: #0fd1d3
}

.ess-leave-summary-business .ess-leave-summary-text {
    color: #0fd1d3
}

.ess-leave-summary-pregnant .ess-leave-summary-chart-used {
    background-color: #f06eaa
}

.ess-leave-summary-pregnant .ess-leave-summary-text {
    color: #f06eaa
}

.ess-create-leave {
    border-top: 0px solid #c0c0c0;
    font-size: 20px;
    padding-top: 13px;
    margin-top: 4px
}
/*
.ess-collapse-leavereport {
    border-radius: 10px
}

    .ess-collapse-leavereport .ess-showhide-detail-button {
        border: 0;
        background: transparent
    }

    .ess-collapse-leavereport .ess-btn-showhide-detail {
        border-bottom: 1px solid #c2c2c2;
        background-color: #fff;
        border-radius: 10px 10px 0 0
    }

    .ess-collapse-leavereport .ess-showhide-detail-button .collapsed {
        border-radius: 10px;
        border: 0
    }*/

.ess-table-container.ess-report-table-border-radius {
    border-radius: 10px;
    border: 1px solid #ecebeb;
    padding-bottom: 10px;
    background-color: #fff
}

.ess-leave-summary .ess-tab-document-wrap .ess-nav-link .ess-tab-link-label {
    text-align: center;
    padding: 5px 10px
}


.ess-search-box {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

    .ess-search-box .ess-form-label {
        font-size: 16px;
        padding: 0 20px
    }

    .ess-search-box .ess-form-search {
        width: 230px;
        position: relative;
        border-radius: 10px;
        border: 1px solid #aaa;
        margin-bottom: 0;
        height: 34px
    }

        .ess-search-box .ess-form-search .form-control-search {
            border: 0;
            border-radius: 10px;
            padding: 0 .75rem;
            height: 32px
        }

        .ess-search-box .ess-form-search .btn-search {
            border: 0;
            line-height: 1;
            position: absolute;
            top: 0;
            right: 0
        }

.ess-btnicon {
    display: flex;
    align-items: center;
    font-size: 16px
}

    .ess-btnicon .icon {
        margin-right: 10px
    }

    .ess-btnicon.ess-btnicon-green {
        color: #009245
    }

    .ess-btnicon.ess-btnicon-right .icon {
        margin-right: 0;
        margin-left: 10px
    }

.ess-iconwrap {
    margin: 0 10px
}

.ess-uploader-container {
    text-align: center;
    background: #f1f1f1;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: center;
    margin: 0 0 25px
}


@media (max-width: 1024px) {
    .ess-wrapper {
        padding: 11px 15px;
        background-color: #e1e2e2;
    }

    .ess-document-list .ess-document-list-item {
        flex-wrap: wrap
    }

    .ess-document-list .ess-document-list-item-type-wrap {
        width: 100%;
        padding-top: 0;
        justify-content: space-between
    }

        .ess-document-list .ess-document-list-item-type-wrap .ess-document-list-item-type {
            margin: 0;
            display: flex;
            align-items: center
        }

        .ess-document-list .ess-document-list-item-type-wrap .ess-document-list-item-doctype-wrap {
            margin: 18px
        }

        .ess-document-list .ess-document-list-item-type-wrap .ess-document-list-item-num-wrap {
            margin: 18px 5px
        }

    .ess-document-list .ess-document-list-item-detail-wrap {
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 20px;
        margin-bottom: 20px
    }

    .ess-document-list .ess-document-list-item-creator-wrap {
        width: 50%;
        border-left: 0
    }

    .ess-document-list .ess-document-list-item-status-wrap {
        width: 50%;
        padding-left: 3%
    }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-timestamp {
            padding-top: 30px
        }

    .ess-tab-document-wrap .ess-nav-link {
        padding: 10px 0;
        min-width: unset
    }

    .ess-tab-document-wrap .ess-tab-panel {
        width: 25%
    }
}

@media (max-width: 767px) {
    .ess-wrapper {
        padding: 10px 5px;
        background-color: #e1e2e2;
    }

    .ess-leave-summary .ess-tab-content {
        padding: 0 10px 25px
    }

    .ess-document-list .ess-document-list-item-creator-wrap {
        width: 100%;
        padding-top: 5px
    }

    .ess-document-list .ess-document-list-item-status-wrap {
        width: 100%;
        border-left: 0;
        border-top: 1px solid #e5e5e5;
        margin-top: 20px;
        padding-top: 20px
    }

    .ess-tab-document-wrap .ess-nav-link {
        margin-right: 0
    }

    .ess-login-detail .ess-document-total {
        padding-top: 10px
    }

    .ess-report-summary-hdr {
        align-items: flex-start;
        padding-top: 31px
    }

    .ess-leave-summary-box .ess-report-summary-data:nth-child(odd) {
        border: 0
    }

    .ess-table-style1.ess-report-table .ess-report-date, .ess-table-style1.ess-report-table .ess-report-clockin, .ess-table-style1.ess-report-table .ess-report-clockout {
        font-size: 20px
    }

    .ess-table-style1.ess-report-table .ess-report-remark, .ess-table-style1.ess-report-table .ess-report-timetype {
        padding-top: 21px
    }

    .ess-table-style1.ess-report-table .ess-report-clockicon {
        padding-top: 25px
    }

    .ess-report-summary-data:nth-child(odd) {
        border: 0
    }

    .ess-table-style1.ess-report-table.ess-report-table2 .ess-report-date {
        padding-left: 12px
    }

    .ess-table-style1.ess-report-table.ess-report-table2 .ess-report-clockin, .ess-table-style1.ess-report-table.ess-report-table2 .ess-report-clockout {
        padding-top: 21px
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clocktime {
        font-size: 20px
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clockstatus, .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clockplace {
        padding-top: 0
    }

    .ess-table-style1.ess-report-table .ess-report-status {
        padding-top: 21px
    }

    .ess-table-style1.ess-report-table .ess-report-check {
        padding-top: 26px;
        padding-bottom: 0
    }
}

@media (max-width: 670px) {
    .ess-tab-document-wrap {
        flex-direction: column
    }

        .ess-tab-document-wrap .ess-nav-link.active {
            border-color: #d6d7d8
        }

            .ess-tab-document-wrap .ess-nav-link.active::after {
                background-color: transparent
            }

        .ess-tab-document-wrap .ess-tab-panel {
            width: 100%
        }
}

.ess-mainpage .ess-wrapper {
    padding: 40px 15px 0;
    background-color: #e1e2e2;
}

/*.ess-mainpage .ess-topheader-wrap {
    background: transparent
}*/

.ess-mainpage .ess-header-wrap {
    border-bottom: 0
}

.ess-mainpage-wrap {
    margin: 0
}

.ess-mainpage-slide {
    background-color: #ebebeb;
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.1)
}

    .ess-mainpage-slide.slick-dotted.slick-slider {
        margin: 0
    }

    .ess-mainpage-slide .slick-slide {
        margin: 0
    }

    .ess-mainpage-slide .slick-dots {
        bottom: 23px
    }

        .ess-mainpage-slide .slick-dots li button::before {
            font-size: 15px;
            opacity: 1;
            color: #d7d7d7
        }

        .ess-mainpage-slide .slick-dots li.slick-active button::before {
            color: #0eb846;
            opacity: 1
        }

    .ess-mainpage-slide .slick-active {
        opacity: 1
    }

    .ess-mainpage-slide .slick-dotted.slick-slider {
        margin: 0
    }

.ess-mainpage-slide-item-pict {
    position: relative;
    min-height: 400px
}

.ess-mainpage-slide-item-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 400px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.1)
}

    .ess-mainpage-slide-item-img img {
        width: 100%;
        height: auto
    }

.ess-mainpage-slide-item-img-caption {
    position: absolute;
    z-index: 2;
    width: 100%
}

.ess-mainpage-slide-item-hdr {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.25;
    color: #0094ae;
    padding: 27px 29px 6px
}

.ess-mainpage-slide-item-subhdr {
    font-size: 24px;
    line-height: 1.25;
    background-color: rgba(255,255,255,0.9);
    padding: 13px 29px
}

.ess-mainpage-slide-item-desc {
    width: 90%;
    margin: 14px auto 30px;
    font-size: 14px
}

    .ess-mainpage-slide-item-desc .ess-mainpage-slide-item-desc-hdr {
        font-weight: normal;
    }

.ess-mainpage-slide-item-desc-btn {
    text-align: right
}

    .ess-mainpage-slide-item-desc-btn .btn {
        background-color: #61ccff;
        font-size: 16px;
        color: #fff;
        border-radius: 50px;
        box-shadow: 0 0 5px 1px rgba(0,0,0,0.1)
    }

.ess-mainpage-wrap2 {
    /*background: #2c2c2c url(../images/ess-bg2.png)*/
    background: #2c2c2c;
}

.ess-clockin-out {
    color: rgba(255,255,255,0.5)
}

.ess-clockin-out-hdr {
    font-weight: bold;
    text-align: center;
    padding: 9px 0
}

.ess-clockin-out-tblhdr {
    color: rgba(247,148,29,0.5);
    text-align: center;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 12px
}

.ess-annoument-data-scoll {
    height: 300px;
    overflow-y: scroll;
    padding-right: 15px;
    word-break: break-word;
}

.ess-clockin-out-data {
    height: 500px;
    overflow-y: scroll;
    padding-right: 15px
}

.ess-clockin-out-row {
    margin: 0;
    border-top: 11px solid #1a1a1a;
    padding: 0 0 5px
}

    .ess-clockin-out-row .ess-clockin-out-date, .ess-clockin-out-row .ess-clockin-out-time {
        border-top: 1px solid #4f4f4f;
        padding-top: 16px;
        color: rgba(255,255,255,0.5);
        font-size: 14px
    }

    .ess-clockin-out-row .ess-clockin-out-time {
        padding-left: 0;
        padding-right: 0
    }

.ess-clockin-out-list {
    list-style: none;
    margin: 0;
    padding-right: 5px;
    padding-left: 20%;
    font-size: 14px
}

    .ess-clockin-out-list .icon-uni2022 {
        font-size: 10px
    }

    .ess-clockin-out-list .ess-clockin-out-list-item {
        padding-bottom: 9px
    }

    .ess-clockin-out-list .ess-clockin-list-item {
        color: #07fdaa
    }

        .ess-clockin-out-list .ess-clockin-list-item .icon-uni2022 {
            color: #15af00
        }

    .ess-clockin-out-list .ess-clockout-list-item {
        color: #09a7ff
    }

        .ess-clockin-out-list .ess-clockout-list-item .icon-uni2022 {
            color: #09a7ff
        }

.ess-employee-boxs {
    padding: 0 0 0 8px
}

.ess-employee-panel .ess-employee-qty {
    font-size: 24px;
    color: #fff;
    text-align: right
}

.ess-employee-panel {
    font-size: 18px;
    color: #fff;
    text-align: right;
    padding-right: 38px;
    padding-top: 45px;
    padding-bottom: 45px
}

.ess-employee-type-1 {
    background: #09d8d5;
    background: -moz-linear-gradient(left, #09d8d5 0%, #16cad0 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #09d8d5), color-stop(100%, #16cad0));
    background: -webkit-linear-gradient(left, #09d8d5 0%, #16cad0 100%);
    background: -o-linear-gradient(left, #09d8d5 0%, #16cad0 100%);
    background: -ms-linear-gradient(left, #09d8d5 0%, #16cad0 100%);
    background: linear-gradient(to right, #09d8d5 0%, #16cad0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09d8d5', endColorstr='#16cad0', GradientType=1 )
}

    .ess-employee-type-1::after {
        background: url("../images/icons/icon-employee3-w.png") no-repeat left 20px;
        background-size: 50% auto
    }

    .ess-employee-type-1 .ess-employee-panel {
        /*background: url(../images/ess-bg3.png) no-repeat left bottom*/
    }

.ess-employee-type-2 {
    background: #127edc;
    background: -moz-linear-gradient(left, #127edc 0%, #127edc 71%, #11ace5 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #127edc), color-stop(71%, #127edc), color-stop(100%, #11ace5));
    background: -webkit-linear-gradient(left, #127edc 0%, #127edc 71%, #11ace5 100%);
    background: -o-linear-gradient(left, #127edc 0%, #127edc 71%, #11ace5 100%);
    background: -ms-linear-gradient(left, #127edc 0%, #127edc 71%, #11ace5 100%);
    background: linear-gradient(to right, #127edc 0%, #127edc 71%, #11ace5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#127edc', endColorstr='#11ace5', GradientType=1 )
}

    .ess-employee-type-2 .ess-employee-panel {
        /*background: url(../images/ess-bg4.png) no-repeat left bottom*/
    }

.ess-employee-box-more {
    background-color: #fff;
    text-align: right;
    padding: 6px 20px 6px 0
}

    .ess-employee-box-more a {
        color: #c2c2c2;
        font-size: 12px
    }

.ess-survey {
    /*background: url(../images/ess-bg5.png) no-repeat left top;*/
    border: 1px solid #e3e2e2;
    box-shadow: 0 1px 10px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center
}

    .ess-survey .ess-survey-hdr {
        font-size: 18px
    }

.ess-survey-panel .ess-survey-data {
    text-align: center;
    font-size: 18px;
    background: #0eb846;
    padding: 6px 0;
    max-width: 93px;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    margin-top: 70px
}

.ess-survey-panel .ess-survey-percent {
    text-align: center;
    font-size: 20px;
    color: #000;
    margin-top: 8px
}

.ess-survey-panel .ess-survey-noreply .ess-survey-data {
    background: #ed1c24
}

.ess-calendar-panel {
    border: 1px solid #e3e2e2;
    margin-bottom: 19px;
    background-color: #f4f4f4
}

.ess-calendar {
    padding: 0;
    background-color: #fff
}

    .ess-calendar img {
        width: 100%;
        height: auto
    }

.ess-quota-panel {
    padding: 0
}

.ess-quota-panel-hdr {
    color: #7d7d7d;
    font-weight: bold;
    text-align: center;
    margin-top: 9px
}

.ess-quota-box {
    padding: 10px 20px
}

.ess-quota-row {
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 10px
}

.ess-quota-chart {
    position: relative
}

    .ess-quota-chart .ess-quota-total {
        width: 100%;
        height: 20px;
        border-radius: 20px;
        background-color: #eaeaea
    }

    .ess-quota-chart .ess-quota-value-chart {
        height: 20px;
        position: absolute;
        top: 0;
        border-radius: 20px;
        background-color: #ccc
    }

.ess-quota-wah .ess-quota-value-chart {
    background-color: #18baeb
}

.ess-quota-leave .ess-quota-value-chart {
    background-color: #e83c31
}

.ess-quota-benefit .ess-quota-value-chart {
    background-color: #0fd1d3
}

.ess-quota {
    margin-top: 25px
}

@media (max-width: 1200px) {
    .ess-mainpage-slide-item-img-caption {
        width: 80%
    }

    .ess-employee-panel {
        padding-right: 20px
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .ess-clockin-out-list {
        padding-left: 0
    }
}

@media (max-width: 991px) {
    .ess-mainpage-wrap3 {
        margin-top: 20px
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .ess-mainpage-slide-item-img-caption {
        width: 80%
    }

    .ess-mainpage-slide-item-img img {
        width: auto;
        height: 100%
    }

    .ess-survey, .ess-employee-boxs {
        flex: 0 0 100% !important;
        max-width: 100% !important
    }

    .ess-employee-boxs {
        padding: 0
    }

    .ess-survey {
        background-repeat: repeat
    }

    .ess-survey-wrap {
        padding: 40px 0
    }

    .ess-survey-panel .ess-survey-data {
        margin-top: 30px
    }
}

@media (max-width: 767px) {
    .ess-mainpage-slide-item-img img {
        width: auto;
        height: 100%
    }

    .ess-mainpage-slide-item-pict {
        min-height: 300px
    }

    .ess-mainpage-slide-item-img {
        min-height: 300px
    }

    .ess-mainpage-slide-item-hdr {
        font-size: 20px
    }

    .ess-mainpage-slide-item-subhdr {
        font-size: 18px
    }

    .ess-mainpage-slide-item-img-caption {
        width: 90%
    }

    .ess-mainpage-wrap1 {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 10px;
    }

    .ess-mainpage-announce {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 10px;
        background-color:red;
        
    }

    .ess-clockin-out-data {
        height: 300px
    }

    .ess-mainpage-wrap3 {
        margin-top: 10px;
        padding: 0
    }

    .ess-employee-boxs {
        padding: 0;
        margin-top: 10px
    }

    .ess-calendar-panel {
        margin-bottom: 10px
    }

    .ess-mainpage-slide-item-img img {
        width: 100%;
        height: auto
    }

    .ess-mainpage-slide-item-img-caption {
        width: 95%
    }
}


.ess-calendar-main {
    padding: 9px 10px;
    background-color: #fff;
}

    .ess-calendar-main .ess-calendar-hdr {
        text-align: center;
        font-weight: bold;
        color: #707070;
    }

    .ess-calendar-main .fc-button-group > .fc-button:not(:first-child),
    .ess-calendar-main .fc-button-group > .fc-button:not(:last-child) {
        border-radius: 50%;
    }

    .ess-calendar-main .fc-button-group > .fc-button {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 0;
        margin: 10px;
        background-color: #e2e2e2;
        color: #717171;
        border: 0;
    }

    .ess-calendar-main .fc-toolbar h2 {
        font-size: 14px;
        font-weight: normal;
        color: #4b4b4b;
        margin-left: 10px;
    }

    .ess-calendar-main .fc-toolbar.fc-header-toolbar {
        margin-bottom: 5px;
    }

    .ess-calendar-main .fc-day-header.fc-sun {
        color: #ff6261;
    }

    .ess-calendar-main .fc .fc-row .fc-content-skeleton table,
    .ess-calendar-main .fc .fc-row .fc-content-skeleton td,
    .ess-calendar-main .fc .fc-row .fc-mirror-skeleton td {
        text-align: center;
    }

    .ess-calendar-main .fc-event {
        border-radius: 30px;
        border: 0;
    }

    .ess-calendar-main .fc td,
    .ess-calendar-main .fc th {
        border-width: 0;
    }

    .ess-calendar-main .fc-head-container {
        padding-bottom: 20px;
    }

    .ess-calendar-main .fc-dayGrid-view .fc-body .fc-row {
        min-height: 35px;
    }

    .ess-calendar-main .fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
        float: none;
        padding: 0;
        position: absolute;
        z-index: 2;
        font-size: 14px;
        transform: translateX(-50%) translatey(3px);
        width: 30px;
        height: 30px;
        border-radius: 30px;
        line-height: 2;
    }

    .ess-calendar-main .fc-view-container .fc-event {
        opacity: 0.5;
    }

    .ess-calendar-main .fc-day-grid-event {
        height: 30px;
    }

    .ess-calendar-main .fc-sun .fc-day-number {
        color: #ff6261;
    }

    .ess-calendar-main .fc-today .fc-day-number {
        border-radius: 50px;
        background: rgba(235, 235, 235, 0.6);
    }

    .ess-calendar-main .fc-unthemed td.fc-today {
        background: transparent;
    }
