﻿* {
    outline: 0
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 95%
    }
}

@media (min-width: 576px) {
    .modal-xl {
        max-width: 95%
    }
}

* {
    outline: 0
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 95%
    }
}

@media (min-width: 576px) {
    .modal-xl {
        max-width: 95%
    }
}

/* color */
.text-green {
    color: #39b54a;
}

.text-purple {
    color: #8a5dc0;
}

.text-red {
    color: #ee4536;
}

.text-green-light {
    color: #77d484;
}

.text-purple-light {
    color: #bca3db;
}

.text-red-light {
    color: #f5938a;
}

.text-gold {
    color: #e7b80e;
}

.custom-warning-light {
    background-color: #f9f1ba;
    color: #c5740c;
    border: 1px solid #fcf37f;
}

.verticalText {
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

.disableInput {
    pointer-events: none;
    background-color: gray;
}

/* tooltips text custom */
/* arrow top */
.tooltip_top {
    position: relative;
    display: inline-block;
}

    .tooltip_top .tooltiptext_top {
        visibility: hidden;
        width: auto;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 3px 3px 3px;
        position: absolute;
        z-index: 1;
        bottom: 110%;
        left: 50%;
        margin-left: -60px;
    }

        .tooltip_top .tooltiptext_top::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }

    .tooltip_top:hover .tooltiptext_top {
        visibility: visible;
    }
/* end arrow top */

.tooltip-top {
    position: relative;
    display: inline-block;
}

    .tooltip-top .tooltiptext-top {
        visibility: hidden;
        width: 140px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 1px;
        position: absolute;
        z-index: 1;
        bottom: 110%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
    }

        .tooltip-top .tooltiptext-top::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tooltip-top:hover .tooltiptext-top {
        visibility: visible;
        opacity: 1;
    }

/* arrow rigth */
.tooltip_rigth {
    position: relative;
    display: inline-block;
}

    .tooltip_rigth .tooltiptext_rigth {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 3px 3px 3px;
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 65%;
    }

        .tooltip_rigth .tooltiptext_rigth::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent black transparent transparent;
        }

    .tooltip_rigth:hover .tooltiptext_rigth {
        visibility: visible;
    }
/* end arrow rigth */

/* arrow left */
.tooltip_left {
    position: relative;
    display: inline-block;
}

    .tooltip_left .tooltiptext_left {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 3px 3px 3px;
        position: absolute;
        z-index: 1;
        top: -5px;
        right: 102%;
    }

        .tooltip_left .tooltiptext_left::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent transparent black;
        }

    .tooltip_left:hover .tooltiptext_left {
        visibility: visible;
    }
/* end arrow left*/

/* select large custom */
.select-lg-custom {
    border: 2px solid #dce4ec;
    text-align-last: center;
}

/* border */
.border-radius-box-12 {
    border-radius: 12px;
}

.border-radius-light-10 {
    border: 1px solid #e8e7e7;
    border-radius: 10px;
}

.border-top-gray {
    border-bottom: 1px solid #e5e5e5;
}

.border-bottom-gray {
    border-bottom: 1px solid #e5e5e5;
}

.border-left-gray {
    border-left: 1px solid #e5e5e5;
}

.border-right-gray {
    border-right: 1px solid #e5e5e5;
}

/* tree view */
.tree-view-wrapper{
    list-style: none;
    padding-left: 0px;
}

.tree-view-wrapper ul {
    list-style: none;
    padding-left: 16px;
}

.show-hide, .edit {
    cursor: pointer;
}

.tree-checkbox {
    margin: 6px !important;
}

.edit {
    margin-right: 6px !important;
}

    .edit i {
        color: #D77105;
    }

.hide {
    display: none;
}

.show {
    display: block;
}

/* end tree view*/

.ess-topheader-wrap {
    background-color: #fff
}

.ess-header-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px 8px;
    border-bottom: 1px solid #d3d6da
}

.ess-primary-navigation {
    display: flex;
    align-items: center
}

    .ess-primary-navigation .ess-menu {
        padding: 20px 22px 10px 11px
    }

    .ess-primary-navigation .ess-logowrap {
        display: flex;
        align-items: center;
        border-left: 1px solid #666;
        padding: 0 0 4px 17px;
        margin-top: 4px
    }

.ess-content-header-panel {
    display: flex;
    align-items: center
}

    .ess-content-header-panel .ess-nav {
        align-items: center;
        display: flex;
        margin: 0;
        padding: 0 0 0 33px;
        justify-content: flex-end
    }

    .ess-content-header-panel .ess-nav-link {
        padding: 0;
        color: #7f7f7f
    }

    .ess-content-header-panel .font-size-smaller, .ess-content-header-panel .font-size-normal, .ess-content-header-panel .font-size-bigger {
        line-height: 12px;
        padding: 0 5px;
        color: #7f7f7f
    }

        .ess-content-header-panel .font-size-smaller a, .ess-content-header-panel .font-size-normal a, .ess-content-header-panel .font-size-bigger a {
            color: #7f7f7f
        }

        .ess-content-header-panel .font-size-smaller.active, .ess-content-header-panel .font-size-normal.active, .ess-content-header-panel .font-size-bigger.active {
            color: #000
        }

            .ess-content-header-panel .font-size-smaller.active a, .ess-content-header-panel .font-size-normal.active a, .ess-content-header-panel .font-size-bigger.active a {
                color: #000
            }

    .ess-content-header-panel .font-size-smaller {
        font-size: 15px
    }

    .ess-content-header-panel .font-size-normal {
        font-size: 18px
    }

    .ess-content-header-panel .font-size-bigger {
        font-size: 22px
    }

    .ess-content-header-panel .dropdown-toggle {
        font-size: 13px
    }

        .ess-content-header-panel .dropdown-toggle:after {
            border: none;
            background: url("../images/icons/select-arrow.svg") no-repeat center center;
            width: 19px;
            height: 19px;
            display: inline-block;
            vertical-align: inherit;
            background-size: cover;
            vertical-align: middle;
            margin-left: 10px;
            position: relative;
            bottom: 10px
        }

        .ess-content-header-panel .dropdown-toggle .ess-nav-link-user {
            padding-right: 15px
        }

    .ess-content-header-panel .mobile-menu .menu-settings {
        display: none
    }

.ess-nav-inbox {
    display: flex;
    margin: 0;
    padding: 0
}

.ess-nav-item-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: #8d8d8d;
    width: 100%
}

    .ess-nav-item-user .ess-userimg {
        width: 43px;
        height: 43px;
        display: block;
        border-radius: 100%
    }

        .ess-nav-item-user .ess-userimg img {
            border-radius: 100%;
            width: 100%;
            height: auto
        }

    .ess-nav-item-user .ess-nav-item-userimg {
        width: 43px
    }

    .ess-nav-item-user .ess-nav-item-userdata {
        width: calc( 100% - 43px );
        padding: 5px 9px 0 9px;
        margin-left: 8px
    }

        .ess-nav-item-user .ess-nav-item-userdata.show {
            background-color: #fff;
            position: relative;
            border-radius: 8px 8px 0 0;
            box-shadow: 0px -2px 12px -7px rgba(0,0,0,0.75)
        }

        .ess-nav-item-user .ess-nav-item-userdata .dropdown-menu.show {
            background: #fff;
            transform: none !important;
            left: 0 !important;
            right: 0 !important;
            top: unset !important;
            border-radius: 0 0 10px 10px;
            border: 0;
            margin: 0 !important;
            min-width: 154px;
            box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75)
        }

        .ess-nav-item-user .ess-nav-item-userdata .dropdown-item {
            color: #737373;
            padding: 5px 10px;
            display: flex;
            align-items: center
        }

            .ess-nav-item-user .ess-nav-item-userdata .dropdown-item .dropdown-icon {
                width: 22px;
                height: 22px;
                display: flex;
                align-items: center
            }

            .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:hover, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:focus {
                color: #fff;
                text-decoration: none;
                background-color: #18baec
            }

                .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:hover .dropdown-icon .icon, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:focus .dropdown-icon .icon {
                    filter: brightness(300)
                }

            .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:first-child, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:last-child {
                border-radius: 0
            }

        .ess-nav-item-user .ess-nav-item-userdata .ess-nav-item-userdata-line {
            margin: 6px 0
        }

    .ess-nav-item-user .ess-nav-link-hello {
        font-size: 18px;
        line-height: 1.1;
        display: block;
        color: #8d8d8d
    }

    .ess-nav-item-user .ess-nav-link {
        display: flex;
        align-items: flex-end
    }

.ess-nav-item {
    color: #7f7f7f;
    min-height: 50px;
    display: flex;
    align-items: center
}

    .ess-nav-item.ess-user-topbar {
        justify-content: flex-end;
        padding: 0
    }

    .ess-nav-item.ess-nav-date .font-size-label {
        font-size: 15px
    }

    .ess-nav-item.ess-nav-cta-box {
        align-items: flex-end;
        min-height: 51px;
        padding: 0;
        position: relative
    }

    .ess-nav-item.ess-kvis-icon {
        margin-top: 7px;
        padding: 0 27px;
        border-left: 1px solid #666
    }

.ess-nav-cta {
    display: flex;
    justify-content: center;
    padding: 5px 5px 5px
}

    .ess-nav-cta .ess-nav-cta-icon {
        display: block;
        line-height: 0
    }

    .ess-nav-cta .ess-nav-approve-qty {
        position: absolute;
        right: 10px;
        top: 0;
        background-color: #ff1d25;
        display: inline-block;
        text-align: center;
        border-radius: 20px;
        color: #fff;
        font-weight: bold;
        font-size: 10px;
        line-height: 1.4;
        padding: 0 6px
    }

.ess .mainnavbar {
    position: absolute;
    width: 100%;
    top: 75px;
    z-index: 200;
    background: #f9f9f9;
    box-shadow: none
}

.ess .mainnavbar-close {
    position: absolute;
    top: -58px;
    left: 22px;
    background: #fff;
    padding: 10px
}

.ess .form-control:focus, .ess .ess-form-control:focus {
    box-shadow: unset
}

.ess .form-control, .ess .ess-form-control {
    border-radius: 0;
    font-size: 16px;
    font-family: kanit;
    color: #8d8d8d
}

.ess .select2-container--default .select2-selection--single {
    border-color: #9f9f9f;
    border-radius: 10px;
    line-height: 2;
    height: 30px;
    color: #7d7d7d
}

    .ess .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 2;
        color: #7d7d7d
    }

    .ess .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-width: 7px 5px 0 5px;
        left: 50%;
        margin-left: -7px;
        margin-top: -2px
    }

.ess .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0 5px 7px 5px
}

.ess .topnav-menu {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    box-shadow: 0 20px 10px 5px rgba(0,0,0,0.2);
    position: relative;
    padding: 0
}

    .ess .topnav-menu .topnav-menu-home-wrap {
        display: flex;
        background-color: #f7f7f7;
        box-shadow: 0 0 10px 3px rgba(0,0,0,0.1)
    }

        .ess .topnav-menu .topnav-menu-home-wrap .topnav-menu-home {
            padding: 19px 20px 0
        }

        .ess .topnav-menu .topnav-menu-home-wrap .topnav-menu-document .topnav-menu-list-inner {
            background-color: #f7f7f7
        }

    .ess .topnav-menu .topnav-menu-box.topnav-menu-home .topnav-menu-headerlink {
        padding: 0
    }

    .ess .topnav-menu .topnav-menu-document {
        border-left: 2px solid #eaeaea;
        width: 186px
    }

    .ess .topnav-menu .topnav-menu-homelink, .ess .topnav-menu .topnav-menu-switch {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        padding-bottom: 16px
    }

    .ess .topnav-menu .topnav-menu-homelink-label {
        padding-top: 10px;
        font-size: 12px
    }

    .ess .topnav-menu .topnav-menu-headerlink {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: normal;
        padding: 17px 5%;
        border-bottom: 0;
        text-align: center
    }

        .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link {
            margin-top: 16px;
            color: #4B4B4B
        }

            .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link.topnav-menu-homelink {
                margin-top: 0
            }

    .ess .topnav-menu .topnav-menu-linklist {
        list-style: none;
        padding: 0;
        margin: 0 0 20px;
        border-top: 2px dotted #ccc
    }

        .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem {
            font-size: 12px;
            padding: 0;
            line-height: 1.3;
            border-bottom: 2px dotted #ccc
        }

            .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link {
                padding: 7px 5px 7px 10px;
                display: flex;
                justify-content: space-between
            }

                .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link:hover {
                 /*   background-color: #592f91;*/
                    background-color: #56cbf2;
                    color: #fff;
                }

                .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link .topnav-menu-link-qty {
                    background-color: #ee4536;
                    padding: 0 3px;
                    text-align: center;
                    color: #fff;
                    border-radius: 20px;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 1.4;
                    padding: 0 3px;
                    min-width: 22px;
                    display: block
                }

    .ess .topnav-menu .topnav-menu-subheaderlink {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 10px 8px 15px
    }

    .ess .topnav-menu .topnav-menu-list-inner {
        margin: 0 3px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        height: 100%
    }

    .ess .topnav-menu .topnav-menu-box2 {
        width: 60%
    }

    .ess .topnav-menu .topnav-menu-list2 {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%
    }

        .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner {
            width: 25%
        }

            .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner .topnav-menu-link-icon {
                display: flex;
                height: 48px
            }

        .ess .topnav-menu .topnav-menu-list2 .topnav-menu-headerlink {
            background-color: #fff;
            margin: 0 10px 10px;
            height: calc(100% - 10px);
            justify-content: flex-start
        }

            .ess .topnav-menu .topnav-menu-list2 .topnav-menu-headerlink:hover {
                background-color: transparent
            }

    .ess .topnav-menu .topnav-menu-list-inner .collapse, .ess .topnav-menu .topnav-menu-list-inner .collapsing, .ess .topnav-menu .topnav-menu-list-inner .collapse:not(.show) {
        display: block;
        height: 100%
    }

.ess-breadcrumb {
    padding: 7px 76px;
    margin: 0;
    font-size: 12px
}

    .ess-breadcrumb a {
        color: rgba(83,83,83,0.7) !important
    }

.mainnavbar-collapse.collapsing .slick-slider {
    visibility: hidden
}

.mainnavbar-collapse.collapse.show .slick-slider {
    visibility: visible
}

.topnav-slide-wrap {
    width: calc( 100% - 400px );
    margin: 20px auto
}

.topnav-slide .slick-slide {
    margin: 0
}

.topnav-slide .slick-prev, .topnav-slide .slick-next {
    color: #fff;
    width: 30px;
    height: 30px
}

.topnav-slide .slick-next {
    right: -25px
}

    .topnav-slide .slick-next::before {
        content: "\e900";
        font-family: kanit;
        font-size: 50px;
        color: #464646
    }

.topnav-slide .slick-prev {
    left: -40px
}

    .topnav-slide .slick-prev::before {
        content: "\e901";
        font-family: kanit;
        font-size: 50px;
        color: #464646
    }

.topnav-slide .slick-active {
    opacity: 1
}

@media (max-width: 1448px) {
    .ess-overall-nav .ess-overall-box-datagroup {
        width: auto;
        min-width: unset
    }
}

@media (max-width: 1140px) {
    .ess-tab .ess-tab-panel {
        width: 23%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: 100%
        }
}

@media (max-width: 1110px) {
    .ess .mainnavbar {
        top: 80px
    }

    .ess .mainnavbar-close {
        top: -64px;
        left: 23px
    }
}

@media (max-width: 1086px) {
    .ess-overall-nav .ess-overall-box {
        flex-direction: row;
        flex-wrap: nowrap
    }

    .ess-overall-nav .ess-overall-box-datagroup {
        padding: 5px 20px
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: 135px;
        padding: 0;
        text-align: right
    }

    .ess-overall-nav .ess-overall-box-datagroup-wrap {
        width: calc( 100% - 135px)
    }

    .ess-overall-nav .ess-overall-box-datagroup {
        width: 100%;
        min-width: unset;
        max-width: unset
    }
}

@media (max-width: 1024px) {
    .ess .mainnavbar-close {
        top: -64px;
        left: 8px
    }

    .ess-dropdown-hover:hover > .dropdown-menu {
        transform: translate3d(0, 27px, 0px);
        position: absolute;
        top: 0
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .ess .topnav-menu {
        padding: 18px 0 10px
    }

    .ess-content-header-panel .sp-user-topbar {
        flex-basis: unset;
        flex-grow: 0
    }

    .ess-row-wrap {
        padding-left: 5px;
        padding-right: 5px
    }

    .ess-header-wrap {
        padding: 8px 5px 17px
    }

    .ess-breadcrumb {
        padding: 6px 15px 7px
    }

    .ess-tab .ess-tab-panel {
        width: 23%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: auto;
            height: 100%
        }
}

@media (max-width: 826px) {
    .ess .mainnavbar {
        top: 90px
    }

    .ess .mainnavbar-close {
        top: -67px;
        left: 8px
    }

    .ess .topnav-menu .topnav-menu-box2 {
        width: 40%
    }

        .ess .topnav-menu .topnav-menu-box2 .topnav-menu-list2 {
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box2 .topnav-menu-list2 .topnav-menu-list2-inner {
                width: 50%
            }
}

@media (max-width: 767px) {
    .ess .mainnavbar {
        top: 52px
    }

    .ess .mainnavbar-close {
        top: -48px;
        left: 2px
    }

    .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link {
        min-height: unset
    }

    .ess .topnav-menu .topnav-menu-list-inner .collapse:not(.show) {
        display: none;
        height: 0
    }

    .ess .topnav-menu .topnav-menu-list-inner .collapsing {
        height: 0
    }

    .ess .topnav-menu {
        padding-left: 0;
        display: block;
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc( 100vh - 54px);
        padding-right: 0
    }

        .ess .topnav-menu .topnav-menu-home-wrap {
            flex-direction: column
        }

        .ess .topnav-menu .topnav-menu-list-inner {
            margin: 0 5px
        }

        .ess .topnav-menu .topnav-menu-linklist {
            margin: 0 15px 20px
        }

        .ess .topnav-menu .topnav-slide-wrap {
            margin-top: 0
        }

        .ess .topnav-menu .topnav-menu-box {
            border-top: 0;
            padding-left: 0;
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box .topnav-menu-headerlink {
                border-bottom: 0;
                padding-left: 20px
            }

                .ess .topnav-menu .topnav-menu-box .topnav-menu-headerlink .topnav-menu-link {
                    margin-top: 0;
                    padding: 0 15px 15px
                }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-document {
                border-left: 0;
                border-top: 1px solid #eaeaea
            }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-home {
                border: 0;
                width: 100%;
                display: flex;
                justify-content: center
            }

                .ess .topnav-menu .topnav-menu-box.topnav-menu-home .topnav-menu-headerlink {
                    border: 0
                }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-list {
                margin: 0
            }

                .ess .topnav-menu .topnav-menu-box.topnav-menu-list .topnav-menu-list-inner {
                    margin: 0
                }

        .ess .topnav-menu .topnav-menu-box2 {
            margin-top: 10px;
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box2 .topnav-menu-headerlink {
                padding: 20px 5px
            }

                .ess .topnav-menu .topnav-menu-box2 .topnav-menu-headerlink .topnav-menu-link {
                    padding: 0 10px 0
                }

    .ess .topnav-menu-linklist {
        padding-left: 35px
    }

    .ess .mainnavbar-collapse .ess-header-wrap {
        padding: 10px 10px
    }

    .ess .topnav-slide-wrap {
        width: 100%
    }

    .ess-footer {
        margin-top: 0
    }

    .ess-top-header {
        display: none
    }

    .ess-primary-navigation {
        flex-basis: 40%;
        padding-top: 0
    }

        .ess-primary-navigation .ess-menu {
            padding: 0 20px 0 0
        }

    .ess-content-header-panel {
        margin-top: 0
    }

    .ess-content-header-panel {
        display: flex;
        justify-content: flex-end;
        width: 100%
    }

    .ess-content-header-panel {
        position: relative;
        flex-basis: 55%
    }

        .ess-content-header-panel .mobile-menu .menu-settings {
            display: flex;
            justify-content: flex-end
        }

        .ess-content-header-panel .ess-nav {
            position: absolute;
            z-index: 100;
            background-color: #fff;
            padding: 10px;
            display: none
        }

            .ess-content-header-panel .ess-nav .ess-nav-item {
                border: 0;
                width: 100%;
                order: 2;
                min-height: 35px
            }

                .ess-content-header-panel .ess-nav .ess-nav-item.ess-nav-cta-box {
                    width: 40%
                }

                .ess-content-header-panel .ess-nav .ess-nav-item.ess-user-topbar .ess-nav-item-userdata {
                    display: block;
                    padding-left: 10px
                }

                    .ess-content-header-panel .ess-nav .ess-nav-item.ess-user-topbar .ess-nav-item-userdata .dropdown-toggle {
                        margin-left: 0
                    }

        .ess-content-header-panel .collapsing.ess-nav {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            right: 0;
            width: 240px;
            box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
            top: 38px
        }

        .ess-content-header-panel .collapse.show.ess-nav {
            box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
            position: absolute;
            flex-direction: column;
            display: flex;
            right: 0;
            width: 300px;
            top: 38px
        }

    .ess-header-wrap {
        padding: 5px 10px 0
    }

    .ess-breadcrumb {
        padding: 5px 10px
    }

    .ess-page-header-panel {
        padding-bottom: 5px
    }

        .ess-page-header-panel .ess-page-header {
            padding: 0 0 10px
        }

        .ess-page-header-panel .ess-page-header-element {
            padding: 0
        }

    .ess-doc-num-box {
        padding: 0
    }

    .ess-tab-section-content {
        padding: 0
    }

    .ess-overall-nav .ess-overall-box {
        width: 100%;
        padding: 5px 0
    }

    .ess-overall-nav .ess-overall-box-datagroup-wrap {
        width: 100%
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: auto;
        white-space: nowrap
    }

    .ess-overall-nav .ess-overall-cta {
        text-align: center
    }

    .ess-tab .ess-tab-panel {
        width: auto;
        height: 100%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: auto;
            height: 100%
        }
}

@media (max-width: 575px) {
    .ess-page-header-panel .ess-page-header-element {
        justify-content: center
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: auto;
        white-space: nowrap
    }
}

@media (max-width: 542px) {
    .ess-tab .ess-tab-panel {
        margin: 0
    }
}

@media (max-width: 490px) {
    .ess-tab-evoluation-wrap {
        padding: 0 1px
    }

    .ess-tab .ess-tab-panel {
        width: 100%;
        margin: 0
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: 100%;
            margin-top: -5px;
            background-color: #fff
        }
}

@media (max-width: 459px) {
    .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner {
        width: 50%
    }

    .ess-primary-navigation .ess-logowrap {
        padding: 0 0 4px 0
    }

        .ess-primary-navigation .ess-logowrap .icon.ess-logo {
            width: 72px;
            height: 27px
        }

    .ess-primary-navigation .ess-menu {
        padding: 0 10px 0 0
    }
}

.ess-footer {
    text-align: center;
    padding: 50px 0 40px
}

.ess {
    /*background: #fff url(../images/ess-bg.png)*/
}

    .ess .ess-form-group .ess-form-group-label {
        font-size: 16px
    }

    .ess .ess-form-group .ess-form-control {
        border: 1px solid #9f9f9f;
        border-radius: 10px;
        font-size: 16px;
        color: #4b4b4b
    }

    .ess .ess-form-group .ess-selectbox .select2-container {
        width: 100% !important
    }

    .ess .ess-form-group .ess-selectbox .select2-container--default .select2-selection--single {
        height: 38px
    }

        .ess .ess-form-group .ess-selectbox .select2-container--default .select2-selection--single .select2-selection__rendered {
            font-size: 16px;
            line-height: 2.3
        }

        .ess .ess-form-group .ess-selectbox .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 38px
        }

    .ess .ess-form-group .ess-formgroup-calendar {
        display: flex;
        align-items: center
    }

        .ess .ess-form-group .ess-formgroup-calendar .btn-icon {
            margin: 0 0 0 5px
        }

    .ess .ess-document-action-radio {
        margin-right: 20px
    }

    .ess .ess-form-help {
        color: #8f8f8f;
        line-height: 1.3;
        padding-top: 5px;
        font-size: 14px
    }

    .ess .datepicker .datepicker-days .table-condensed {
        border-collapse: separate;
        border-spacing: 14px
    }

        .ess .datepicker .datepicker-days .table-condensed th {
            width: 28px;
            height: 28px;
            font-size: 16px;
            font-weight: normal
        }

        .ess .datepicker .datepicker-days .table-condensed td {
            width: 30px;
            height: 30px;
            font-size: 18px;
            margin: 5px
        }

        .ess .datepicker .datepicker-days .table-condensed thead tr:nth-child(2) {
            position: relative
        }

            .ess .datepicker .datepicker-days .table-condensed thead tr:nth-child(2):after {
                content: '';
                height: 1px;
                background: #d5d5d5;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: -6px
            }

        .ess .datepicker .datepicker-days .table-condensed tr th.dow:nth-child(1), .ess .datepicker .datepicker-days .table-condensed tr td:nth-child(1) {
            color: #ee1c24
        }

            .ess .datepicker .datepicker-days .table-condensed tr th.dow:nth-child(1).old, .ess .datepicker .datepicker-days .table-condensed tr th.dow:nth-child(1).new, .ess .datepicker .datepicker-days .table-condensed tr td:nth-child(1).old, .ess .datepicker .datepicker-days .table-condensed tr td:nth-child(1).new {
                color: #999
            }

    .ess .datepicker .datepicker-months .table-condensed {
        border-collapse: separate;
        border-spacing: 14px
    }

        .ess .datepicker .datepicker-months .table-condensed th {
            font-size: 16px;
            font-weight: normal
        }

        .ess .datepicker .datepicker-months .table-condensed td {
            font-size: 16px;
            margin: 5px
        }

            .ess .datepicker .datepicker-months .table-condensed td .month {
                width: 48px;
                height: 48px;
                line-height: 48px
            }

    .ess .datepicker .datepicker-centuries .table-condensed, .ess .datepicker .datepicker-decades .table-condensed, .ess .datepicker .datepicker-years .table-condensed {
        border-collapse: separate;
        border-spacing: 14px
    }

        .ess .datepicker .datepicker-centuries .table-condensed th, .ess .datepicker .datepicker-decades .table-condensed th, .ess .datepicker .datepicker-years .table-condensed th {
            font-size: 16px;
            font-weight: normal
        }

        .ess .datepicker .datepicker-centuries .table-condensed td, .ess .datepicker .datepicker-decades .table-condensed td, .ess .datepicker .datepicker-years .table-condensed td {
            font-size: 16px;
            margin: 5px
        }

            .ess .datepicker .datepicker-centuries .table-condensed td .century, .ess .datepicker .datepicker-centuries .table-condensed td .decade, .ess .datepicker .datepicker-centuries .table-condensed td .year, .ess .datepicker .datepicker-decades .table-condensed td .century, .ess .datepicker .datepicker-decades .table-condensed td .decade, .ess .datepicker .datepicker-decades .table-condensed td .year, .ess .datepicker .datepicker-years .table-condensed td .century, .ess .datepicker .datepicker-years .table-condensed td .decade, .ess .datepicker .datepicker-years .table-condensed td .year {
                width: 48px;
                height: 48px;
                line-height: 48px
            }

    .ess .datepicker table tr td.active.active, .ess .datepicker table tr td.active.disabled, .ess .datepicker table tr td.active.disabled.active, .ess .datepicker table tr td.active.disabled.disabled, .ess .datepicker table tr td.active.disabled:active, .ess .datepicker table tr td.active.disabled:hover, .ess .datepicker table tr td.active.disabled:hover.active, .ess .datepicker table tr td.active.disabled:hover.disabled, .ess .datepicker table tr td.active.disabled:hover:active, .ess .datepicker table tr td.active.disabled:hover:hover, .ess .datepicker table tr td.active.disabled:hover[disabled], .ess .datepicker table tr td.active.disabled[disabled], .ess .datepicker table tr td.active:active, .ess .datepicker table tr td.active:hover, .ess .datepicker table tr td.active:hover.active, .ess .datepicker table tr td.active:hover.disabled, .ess .datepicker table tr td.active:hover:active, .ess .datepicker table tr td.active:hover:hover, .ess .datepicker table tr td.active:hover[disabled], .ess .datepicker table tr td.active[disabled] {
        /* background: #39b54a;*/
        background: #8d8d8d;
        border-radius: 100%;
        color: #fff
    }

    .ess .datepicker table tr td span.active.active, .ess .datepicker table tr td span.active.disabled, .ess .datepicker table tr td span.active.disabled.active, .ess .datepicker table tr td span.active.disabled.disabled, .ess .datepicker table tr td span.active.disabled:active, .ess .datepicker table tr td span.active.disabled:hover, .ess .datepicker table tr td span.active.disabled:hover.active, .ess .datepicker table tr td span.active.disabled:hover.disabled, .ess .datepicker table tr td span.active.disabled:hover:active, .ess .datepicker table tr td span.active.disabled:hover:hover, .ess .datepicker table tr td span.active.disabled:hover[disabled], .ess .datepicker table tr td span.active.disabled[disabled], .ess .datepicker table tr td span.active:active, .ess .datepicker table tr td span.active:hover, .ess .datepicker table tr td span.active:hover.active, .ess .datepicker table tr td span.active:hover.disabled, .ess .datepicker table tr td span.active:hover:active, .ess .datepicker table tr td span.active:hover:hover, .ess .datepicker table tr td span.active:hover[disabled], .ess .datepicker table tr td span.active[disabled] {
        /* background: #39b54a;*/
        background: #8d8d8d;
        border-radius: 100%;
        color: #fff
    }

    .ess .datepicker table tr td.day.focused, .ess .datepicker table tr td.day:hover, .ess .datepicker table tr td span.focused, .ess .datepicker table tr td span:hover {
        border-radius: 100%
    }

.ess-row-wrap {
    padding: 0 3.5%;
    margin: 0
}

.ess-page-header-panel {
    /*background: #186A3B;*/
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
    position: relative
}

    .ess-page-header-panel .ess-page-header {
        display: flex;
        align-items: center
    }

        .ess-page-header-panel .ess-page-header .ess-page-header1 {
            color: #fff;
            font-size: 26px;
            font-weight: normal;
            padding: 0 10px 0 13px;
            margin: 0;
            width: calc( 100% - 50px )
        }

    .ess-page-header-panel .ess-page-header-element {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start
    }

        .ess-page-header-panel .ess-page-header-element .ess-btn-icon:last-child {
            margin: 0 0 0 24px
        }

    .ess-page-header-panel .ess-page-subheader {
        display: flex;
        justify-content: flex-end;
        align-items: center
    }

        .ess-page-header-panel .ess-page-subheader .ess-text-icon {
            color: #fff
        }

.ess-page-header2 {
    font-size: 30px;
    padding: 20px 50px 7px
}

.ess-wrapper {
    padding: 0px 11px 0px 20px;
    background-color: #e1e2e1;
}

.ess-tab-document-wrap {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0
}

    .ess-tab-document-wrap .ess-nav-link:hover, .ess-tab-document-wrap .ess-nav-link:focus {
        background-color: #fff
    }

    .ess-tab-document-wrap .ess-nav-link .ess-tab-link-label {
        font-size: 16px
    }

    .ess-tab-document-wrap .ess-nav-link .ess-tab-link-icon {
        position: relative;
        padding: 0 14px
    }


    .ess-tab-document-wrap .ess-badge {
        border-radius: 50px;
        padding: .25em .8em;
        position: absolute;
        right: 4px;
        top: -5px;
        font-size: 10px;
        font-weight: normal
    }

.ess-note {
    color: #0884f4;
    display: flex;
    align-items: center;
    font-size: 14px
}

    .ess-note .icon {
        margin-right: 5px
    }

.ess-tab-content {
    background: #fbfbfb;
    border-top: 3px solid #fff;
    padding: 0 26px 25px
}

.ess-document-tab-content-search .ess-document-tab-content-filter {
    display: flex;
    padding-top: 2px
}

    .ess-document-tab-content-search .ess-document-tab-content-filter .ess-detail-data {
        width: 230px
    }

        .ess-document-tab-content-search .ess-document-tab-content-filter .ess-detail-data .select2-container {
            width: 100% !important
        }

        .ess-document-tab-content-search .ess-document-tab-content-filter .ess-detail-data .select2-container--default .select2-selection--single {
            width: 100%;
            height: 32px
        }

            .ess-document-tab-content-search .ess-document-tab-content-filter .ess-detail-data .select2-container--default .select2-selection--single .select2-selection__rendered {
                line-height: 2.35
            }

    .ess-document-tab-content-search .ess-document-tab-content-filter .form-inline .ess-label {
        color: #363636;
        font-size: 16px;
        padding-right: 16px
    }

.ess-login-detail {
    padding-top: 16px
}

    .ess-login-detail .ess-login-as {
        color: #636363;
        font-size: 16px
    }

    .ess-login-detail .ess-document-total {
        text-align: right;
        color: #636363;
        font-size: 16px
    }

.ess-document-tab-filter-total {
    font-size: 11px;
    color: #5a318f;
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.ess-document-tab-filter {
    padding-top: 19px
}

.ess-document-tab-filter-dropdown .ess-document-tab-filter-btn, .ess-document-tab-filter-dropdown .btn-secondary:not(:disabled):not(.disabled):active, .ess-document-tab-filter-dropdown .btn-secondary:not(:disabled):not(.disabled).active {
    border: 1px solid #c1c0c0;
    background-color: #faf9f9;
    color: #8d8d8d;
    padding: 0 12px
}

    .ess-document-tab-filter-dropdown .ess-document-tab-filter-btn .ess-document-tab-filter-btn-span, .ess-document-tab-filter-dropdown .btn-secondary:not(:disabled):not(.disabled):active .ess-document-tab-filter-btn-span, .ess-document-tab-filter-dropdown .btn-secondary:not(:disabled):not(.disabled).active .ess-document-tab-filter-btn-span {
        padding: 0 11px
    }

.ess-document-tab-filter-panel {
    display: flex
}

.ess-document-tab-filter-action-panel {
    margin-left: 5px
}

.ess-document-tab-filter-action {
    margin: 0 4px
}

.ess-document-tab-filter-action-item {
    display: inline-block;
    border: 1px solid #c1c0c0;
    background-color: #fff;
    border-radius: 6px;
    padding: 0 6px;
    line-height: 1.62
}

.ess .btn.show > .btn-secondary.dropdown-toggle:focus {
    background-color: #faf9f9;
    color: #8d8d8d;
    box-shadow: 0 0 0 1px rgba(130,138,145,0.5)
}

.ess .dropdown-menu {
    border-radius: 0 0 12px 12px;
    border: 0;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2)
}

    .ess .dropdown-menu a {
        color: #737373
    }

.ess .dropdown-item:hover, .ess .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #18baec
}

.ess-tab-section-bar {
    display: flex;
    align-items: center;
    padding: 14px 29px
}

    .ess-tab-section-bar .icon {
        margin-right: 16px
    }

    .ess-tab-section-bar .ess-tab-section-bar-hdr {
        width: calc( 100% - 36px );
        font-size: 30px
    }

.ess-tab-section-bar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    text-align: right
}

.ess-collapse-data-panel {
    border-top: 1px solid #c2c2c2;
    padding: 13px 20px 20px 20px
}

    .ess-collapse-data-panel .ess-document-tab-content-search {
        padding-top: 0
    }

.ess-sub-hdr {
    font-size: 20px;
    padding: 9px 0
}

.ess-report-summary {
    background: #fff;
    border: 1px solid #e8e7e7;
    border-radius: 10px;
    /*padding: 21px 0 23px;*/
    padding: 10px;
    margin: 5px 0 16px
}

.ess-report-summary-data {
    border-right: 1px solid #e8e7e7;
    padding-top: 31px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.ess-report-summary-hdr {
    display: flex;
    align-items: center;
    justify-content: center
}

.ess-report-summary-label {
    font-size: 30px;
    text-align: center;
    line-height: 1.2;
    padding-top: 5px
}

.ess-report-summary-value {
    font-size: 48px;
    text-align: center;
    padding: 11px 0 4px
}

    .ess-report-summary-value.ess-report-summary-value-gery {
        color: #b7b7b7
    }

    .ess-report-summary-value.ess-report-summary-value-green {
        color: #39b54a
    }

.ess-report-summary-value-red {
    color: #ee4536
}

.ess-report-summary-unit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px
}

    .ess-report-summary-unit .icon {
        margin: 0 5px
    }

    .ess-report-summary-unit .ess-report-summary-unit-caption {
        font-size: 12px
    }

.ess-table-style1.ess-report-table tbody {
    border: 1px solid #e3e0e0
}

    .ess-table-style1.ess-report-table tbody tr:nth-child(2n) {
        background-color: #fff
    }

.ess-table-style1.ess-report-table tr {
    border-bottom: 1px solid #999999
}

.ess-table-style1.ess-report-table td {
    /*padding: 21px 15px 27px;*/
    padding: 10px;
    vertical-align: top;
    white-space: nowrap;
    /*font-size: 20px*/ /*user font-size default html*/
}

.ess-table-style1.ess-report-table .ess-report-date {
    font-size: 30px
}

.ess-table-style1.ess-report-table .ess-report-timetype {
    font-size: 20px
}

.ess-table-style1.ess-report-table .ess-report-clockin {
    font-size: 30px
}

.ess-table-style1.ess-report-table .ess-report-clockout {
    font-size: 30px
}

.ess-table-style1.ess-report-table .ess-report-status {
    color: #39b54a;
    padding-top: 31px;
    font-size: 20px
}

.ess-table-style1.ess-report-table .ess-report-clockicon {
    padding-top: 36px
}

.ess-table-style1.ess-report-table .ess-report-check {
    padding-top: 36px
}

.ess-table-style1.ess-report-table .ess-report-remark, .ess-table-style1.ess-report-table .ess-report-timetype {
    padding-top: 33px
}

.ess-table-style1.ess-report-table .ess-report-redflag {
    color: #ee4536
}

    .ess-table-style1.ess-report-table .ess-report-redflag .icon {
        filter: hue-rotate(180deg) saturate(300)
    }

.ess-table-style1.ess-report-table .ess-report-data {
    padding: 0
}

.ess-table-style1.ess-report-table.ess-report-table2 tr.ess-time-card-hdr {
    border: 0
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-time-card, .ess-table-style1.ess-report-table.ess-report-table2 .ess-time-stamp {
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px 11px 60px
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-clockin, .ess-table-style1.ess-report-table.ess-report-table2 .ess-report-clockout {
    font-size: 20px;
    padding-top: 33px
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-data {
    border-left: 1px solid #999;
    padding-left: 40px
}

.ess-table-style1.ess-report-table.ess-report-table2 th.ess-report-data {
    padding-left: 55px
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-date {
    padding-left: 60px
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-acccept {
    /*background: #fff url(../images/ess-bg.png)*/
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-off {
    background: #f9fafa
}

.ess-table-style1.ess-report-table .ess-report-table2-inside {
    margin: 10px 0 10px;
    border-bottom: 1px solid #ddd;
}

    .ess-table-style1.ess-report-table .ess-report-table2-inside tbody, .ess-table-style1.ess-report-table .ess-report-table2-inside tr {
        border: 0;
        background-color: transparent !important
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside td {
        padding: 0 15px 2px
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clocktime {
        font-size: 30px;
        width: 200px
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clockplace {
        padding-top: 12px;
        width: 250px
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clockstatus {
        padding-top: 12px;
        width: 300px;
        color: #39b54a
    }

.ess-table-style1.ess-report-table.ess-report-table-sum tbody {
    border: 0
}

    .ess-table-style1.ess-report-table.ess-report-table-sum tbody tr:last-child {
        border: 0
    }

.ess-leave-summary-box {
    border: 1px solid #e5e5e5;
    margin: 0 0 9px;
    background-color: #fff;
    padding-top: 14px
}

.ess-leave-summary-chart-box {
    padding-left: 4%;
    padding-right: 6%
}

.ess-report-summary-data-row {
    padding-top: 24px;
    padding-bottom: 24px
}

.ess-report-summary-data {
    padding-top: 0;
    border-left: 1px solid #e5e5e5;
    border-right: 0
}

.ess-report-summary-label {
    font-size: 20px
}

.ess-report-summary-value {
    font-size: 20px
}

.ess-leave-summary-hdr {
    font-size: 20px;
    line-height: 1.1;
    padding-top: 5px
}

.ess-leave-summary-chart-sum {
    align-items: baseline;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 5px
}

    .ess-leave-summary-chart-sum .ess-leave-summary-chart-sum-date {
        font-size: 16px
    }

    .ess-leave-summary-chart-sum .ess-leave-summary-chart-sum-data {
        font-size: 20px
    }

        .ess-leave-summary-chart-sum .ess-leave-summary-chart-sum-data .ess-data-progress {
            color: #7d7d7d
        }

.ess-leave-summary-chart {
    position: relative;
    min-height: 30px
}

    .ess-leave-summary-chart .ess-leave-summary-chart-line {
        position: absolute;
        height: 20px;
        border-radius: 50px
    }

    .ess-leave-summary-chart .ess-leave-summary-chart-total {
        width: 100%;
        background-color: #f0f0f0
    }

    .ess-leave-summary-chart .ess-leave-summary-chart-inprogress {
        background-color: #d7d7d7
    }

    .ess-leave-summary-chart .ess-leave-summary-chart-use {
        background-color: #1cbbb4
    }

.ess-leave-summary-vacation .ess-leave-summary-chart-used {
    background-color: #18baeb
}

.ess-leave-summary-vacation .ess-leave-summary-text {
    color: #18baeb
}

.ess-leave-summary-sickdoctor .ess-leave-summary-chart-used {
    background-color: #d71c24
}

.ess-leave-summary-sickdoctor .ess-leave-summary-text {
    color: #d71c24
}

.ess-leave-summary-sick .ess-leave-summary-chart-used {
    background-color: #f26522
}

.ess-leave-summary-sick .ess-leave-summary-text {
    color: #f26522
}

.ess-leave-summary-business .ess-leave-summary-chart-used {
    background-color: #0fd1d3
}

.ess-leave-summary-business .ess-leave-summary-text {
    color: #0fd1d3
}

.ess-leave-summary-pregnant .ess-leave-summary-chart-used {
    background-color: #f06eaa
}

.ess-leave-summary-pregnant .ess-leave-summary-text {
    color: #f06eaa
}


.ess-table-container.ess-report-table-border-radius {
    border-radius: 10px;
    border: 1px solid #ecebeb;
    padding-bottom: 10px;
    background-color: #fff
}

.ess-leave-summary .ess-tab-document-wrap .ess-nav-link .ess-tab-link-label {
    text-align: center;
    padding: 5px 10px
}

.ess-search-box {
    display: flex;
    align-items: center;
}

    .ess-search-box .ess-form-label {
        font-size: 16px;
        padding: 0 20px;
    }

    .ess-search-box .ess-form-search {
        width: 230px;
        position: relative;
        border-radius: 10px;
        border: 1px solid #aaa;
        margin-bottom: 0;
        height: 34px;
    }

        .ess-search-box .ess-form-search .form-control-search {
            border: 0;
            border-radius: 10px;
            padding: 0 .75rem;
            height: 32px;
        }

        .ess-search-box .ess-form-search .btn-search {
            border: 0;
            line-height: 1;
            position: absolute;
            top: 0;
            right: 0;
        }

.ess-btnicon {
    display: flex;
    align-items: center;
    font-size: 16px
}

    .ess-btnicon .icon {
        margin-right: 10px
    }

    .ess-btnicon.ess-btnicon-green {
        color: #009245
    }

    .ess-btnicon.ess-btnicon-right .icon {
        margin-right: 0;
        margin-left: 10px
    }

.ess-iconwrap {
    margin: 0 10px
}

.ess-uploader-container {
    text-align: center;
    background: #f1f1f1;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: center;
    margin: 0 0 25px
}

.ess-page-header-panel .ess-milestone-nav {
    border-radius: 40px;
}


.ess-milestone-nav {
    background: rgb(255, 255, 255) repeat-y !important;
}

.ess-milestone {
    padding: 5px 0px 0px !important;
}

    .ess-milestone .ess-milestone-step .ess-milestone-step-label {
        color: #8c8c8c !important;
    }

    .ess-milestone .ess-milestone-step.done .ess-milestone-step-label {
        color: #127d05 !important;
    }

.pa-milestone-nav {
    background: #f6f7f7 repeat-y
}

.ess-milestone {
    display: flex;
    list-style: none;
    /*padding: 22px 0 18px;*/
    margin: 0 auto;
    justify-content: center
}

    .ess-milestone .ess-milestone-step {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        flex-basis: 25%;
        position: relative;
        margin: 10px 0
    }

        .ess-milestone .ess-milestone-step:after {
            content: '';
            width: 100%;
            height: 3px;
            background: #cecece;
            position: absolute;
            left: 50%;
            top: 14px
        }

        .ess-milestone .ess-milestone-step:last-child:after {
            left: 0;
            width: 50%
        }

        .ess-milestone .ess-milestone-step .milestone-num-label {
            width: 28px;
            height: 28px;
            background: #fff;
            z-index: 1;
            color: #cecece;
            border: 3px solid #cecece;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center
        }

        .ess-milestone .ess-milestone-step .milestone-num {
            font-size: 14px;
            font-size: .875rem;
            font-weight: bold;
            text-align: center;
            line-height: 1
        }

    .ess-milestone .pa-milestone-step .ess-milestone-step-label {
        color: #bebebf;
        font-size: 12px;
        font-size: .75rem;
        text-align: center;
        padding: 3px 0 0
    }

    .ess-milestone .ess-milestone-step.done .milestone-num-label {
        background: #39b54a;
        border-color: #39b54a
    }

    .ess-milestone .ess-milestone-step.done .milestone-num {
        color: #fff
    }

    .ess-milestone .ess-milestone-step.done:after {
        background: #39b54a
    }

    .ess-milestone .ess-milestone-step.done .ess-milestone-step-label {
        color: #838485
    }

    .ess-milestone .ess-milestone-step.active .milestone-num-label {
        color: #00c372;
        border-color: #00c372;
    }

    .ess-milestone .ess-milestone-step.active .ess-milestone-step-label {
        color: #838485
    }


@media (max-width: 1024px) {
    .ess-wrapper {
        padding: 10px 15px;
    }

    .ess-document-list .ess-document-list-item {
        flex-wrap: wrap
    }

    .ess-document-list .ess-document-list-item-type-wrap {
        width: 100%;
        padding-top: 0;
        justify-content: space-between
    }

        .ess-document-list .ess-document-list-item-type-wrap .ess-document-list-item-type {
            margin: 0;
            display: flex;
            align-items: center
        }

        .ess-document-list .ess-document-list-item-type-wrap .ess-document-list-item-doctype-wrap {
            margin: 18px
        }

        .ess-document-list .ess-document-list-item-type-wrap .ess-document-list-item-num-wrap {
            margin: 18px 5px
        }

    .ess-document-list .ess-document-list-item-detail-wrap {
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 20px;
        margin-bottom: 20px
    }

    .ess-document-list .ess-document-list-item-creator-wrap {
        width: 50%;
        border-left: 0
    }

    .ess-document-list .ess-document-list-item-status-wrap {
        width: 50%;
        padding-left: 3%
    }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-timestamp {
            padding-top: 10px
        }

    .ess-tab-document-wrap .ess-nav-link {
        padding: 10px 0;
        min-width: unset
    }

    .ess-tab-document-wrap .ess-tab-panel {
        width: 25%
    }
}

@media (max-width: 767px) {
    .ess-wrapper {
        padding: 10px 5px;
    }

    .ess-leave-summary .ess-tab-content {
        padding: 0 10px 25px
    }

    .ess-document-list .ess-document-list-item-creator-wrap {
        width: 100%;
        padding-top: 5px
    }

    .ess-document-list .ess-document-list-item-status-wrap {
        width: 100%;
        border-left: 0;
        border-top: 1px solid #e5e5e5;
        margin-top: 20px;
        padding-top: 10px
    }

    .ess-tab-document-wrap .ess-nav-link {
        margin-right: 0
    }

    .ess-login-detail .ess-document-total {
        padding-top: 10px
    }

    .ess-report-summary-hdr {
        align-items: flex-start;
        padding-top: 31px
    }

    .ess-leave-summary-box .ess-report-summary-data:nth-child(odd) {
        border: 0
    }

    .ess-table-style1.ess-report-table .ess-report-date, .ess-table-style1.ess-report-table .ess-report-clockin, .ess-table-style1.ess-report-table .ess-report-clockout {
        font-size: 20px
    }

    .ess-table-style1.ess-report-table .ess-report-remark, .ess-table-style1.ess-report-table .ess-report-timetype {
        padding-top: 21px
    }

    .ess-table-style1.ess-report-table .ess-report-clockicon {
        padding-top: 25px
    }

    .ess-report-summary-data:nth-child(odd) {
        border: 0
    }

    .ess-table-style1.ess-report-table.ess-report-table2 .ess-report-date {
        padding-left: 12px
    }

    .ess-table-style1.ess-report-table.ess-report-table2 .ess-report-clockin, .ess-table-style1.ess-report-table.ess-report-table2 .ess-report-clockout {
        padding-top: 21px
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clocktime {
        font-size: 20px
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clockstatus, .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clockplace {
        padding-top: 0
    }

    .ess-table-style1.ess-report-table .ess-report-status {
        padding-top: 21px
    }

    .ess-table-style1.ess-report-table .ess-report-check {
        padding-top: 26px;
        padding-bottom: 0
    }
}

@media (max-width: 670px) {
    .ess-tab-document-wrap {
        flex-direction: column
    }

        .ess-tab-document-wrap .ess-nav-link.active {
            border-color: #d6d7d8
        }

            .ess-tab-document-wrap .ess-nav-link.active::after {
                background-color: transparent
            }

        .ess-tab-document-wrap .ess-tab-panel {
            width: 100%
        }
}

.bar_bottom_reasone {
    font-size: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: relative;
    overflow: hidden;
    z-index: 4;
    padding: 8px 15px;
    height: 41px;
    background: #177cff;
    color: #fff;
}

#reasone_main_request {
    /*box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    border-radius: 12px;*/
}

    #reasone_main_request .alert {
        background: #fff;
        border-radius: 0 0 12px 12px;
    }

        #reasone_main_request .alert textarea {
            border-color: #ebebeb !important;
            border: 2px;
        }

/*
.freeze {
    width: 100%;
    overflow-y: scroll auto;
    overflow-x: auto;
    position: relative;
    max-height: calc(100vh /1.5);
}

    .freeze table {
        position: relative;
        border-collapse: collapse;
        width: 100%;
    }


        .freeze table tbody td {
            background-color: #ecf0f2;
        }

        .freeze table thead th {
            position: -webkit-sticky;
            position: sticky;
            top: -1px;
            z-index: 9;
            background-color: #00c379;
            color: #fff;
        }*/
/*
.freeze-leave {
    width: 100%;
    overflow-y: scroll auto;
    overflow-x: auto;
    position: relative;
    max-height: 700px;
}

    .freeze-leave table {
        position: relative;
        border-collapse: collapse;
        width: 100%;
    }


        .freeze-leave table tbody td {
            background-color: #ecf0f2;
        }

        .freeze-leave table thead th {
            position: -webkit-sticky;
            position: sticky;
            top: -1px;
            z-index: 9;
            background-color: #00c379;
            color: #fff;
        }*/

/*Theme Color*/
.ess-headersub-1 {
    background-color: #5a318f;
    height: 5px;
}

.ess-headersub-2 {
    background-color: #8a5dc0;
    height: 5px;
}

.ess-page-header-panel {
    background-color: #3F1E70;
    /*background-image: linear-gradient(to right,#004390,#004390);*/
}

.ess-tab-section-bar-leave {
    display: flex;
    align-items: center;
    padding: 1px 29px;
    color: white;
    background-color: #00c379;
}

.ess-personal-info-general-hdr {
    font-size: 30px;
    line-height: 1;
    text-shadow: 2px 1px #e1e2e1;
    color: #290460;
}


.ess-personal-info-general-subhdr {
    font-size: 26px;
    line-height: 1
}

.ess-tab-section-bar {
    background-color: #00c379;
}

.ess-tab-section-bar-right {
    background-color: #00c379;
}

.ess-tab-section-bar1 {
    background-color: #00c379;
}

.ess-table-container .ess-table-style1 .ess-table-header th {
    background-color: #00c379;
    text-align: center;
}

.ess-tab-section-bar:hover {
    background-color: #46a874;
    /*Tab Personal*/
}

.ess-tab-document-wrap .ess-nav-link {
    background-color: #8a5dc0;
    border-bottom: 2px solid #8a5dc0;
}

.ess-tab-document-wrap .ess-nav-link-pa {
    background-color: #8a5dc0;
    border-bottom: 2px solid #52f7a8;
}

/*
.ess-table-container .ess-table-style2 .ess-table-header-file th {
    background-color: #46a874;
    text-align: center;
}
*/
.ess-document-list .ess-document-list-item-type-wrap .ess-document-list-item-num {
    /*border: 2px solid #46a874;*/
    border-radius: 5px;
    background-color: #00c378;
    color: #fff;
}




.doc-flow-active-bar {
    /*background: linear-gradient(-45deg, #fafafa, #cde0fb, #b0d0fc, #72abfa);*/
    background: linear-gradient(-45deg,#e1e2e1,#ffffff);
    background-size: 400% 400%;
    -webkit-animation: Gradient 1s ease infinite;
    -moz-animation: Gradient 1s ease infinite;
    animation: Gradient 1s ease infinite;
}

.ess-collapse-data-conclusion .ess-document-step-row {
    border-bottom: 0;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    /*background-color: #2ECC71;*/
}

.ess-style-margin-top-10 {
    margin-top: 10px;
}

.ess-word-break {
    word-break: break-word;
}

.ess-uploader-container-tavi {
    text-align: center;
    background: #f1f1f1;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: center;
}

.attachment-tavi {
    display: flex;
    /*background-color: #e2e2e2;
    border: 1px #d2d2d2 solid;*/
    padding: 2px;
}

    .attachment-tavi .attachment-delete {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
    }

        .attachment-tavi .attachment-delete > a {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border: 1px solid #c2c2c2;
            padding: 5px 10px;
            border-radius: 10px;
            background-color: #fff;
            font-size: 14px;
            font-size: .875rem;
            margin-left: 10px;
            margin-right: 10px;
        }

            .attachment-tavi .attachment-delete > a.delete {
                color: #ff3237;
            }

            .attachment-tavi .attachment-delete > a.recovery {
                color: #6f6f6f;
            }

.min-width-100 {
    min-width: 100px;
}

.min-width-200 {
    min-width: 200px;
}

.min-width-300 {
    min-width: 300px;
}

.min-width-400 {
    min-width: 400px;
}

.min-width-500 {
    min-width: 500px;
}

.min-width-600 {
    min-width: 600px;
}

.ess-document-list {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin-top: 15px;
}

    .ess-document-list .ess-document-list-item {
        display: flex;
        /*padding-top: 16px;
        padding-bottom: 25px;
        margin-bottom: 5px;*/
    }

    .ess-document-list .ess-document-list-item-type-wrap {
        display: flex;
        min-width: 180px;
        padding-top: 40px;
        margin: auto;
    }

    .ess-document-list .ess-document-list-label {
        font-weight: 600;
        display: flex;
        align-items: center;
    }

        .ess-document-list .ess-document-list-label .icon {
            margin-right: 10px;
        }

    .ess-document-list .ess-document-list-item-type-data {
        font-size: 18px;
        line-height: 1;
    }

    .ess-document-list .ess-document-list-item-type-icon {
        padding-top: 9px;
    }

    .ess-document-list .ess-document-list-item-detail-num {
        /*font-size: 30px;*/
        padding: 10px 0 11px;
    }

    .ess-document-list .ess-document-list-item-detail-desc {
        /*font-size: 20px;*/
    }

    .ess-document-list .ess-document-list-item-detail-wrap {
        width: calc( 60% - 224px );
        padding-top: 10px;
        padding-left: 2%;
        padding-right: 2%;
    }

    .ess-document-list .ess-document-list-item-creator-wrap {
        width: 20%;
        border-left: 1px solid #e5e5e5;
        padding-top: 10px;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 1%;
    }

        .ess-document-list .ess-document-list-item-creator-wrap .ess-document-list-item-creator-num {
            /*font-size: 20px;*/
            padding: 10px 0 0px;
        }

        .ess-document-list .ess-document-list-item-creator-wrap .ess-document-list-item-creator-name {
            /*font-size: 20px;*/
        }

        .ess-document-list .ess-document-list-item-creator-wrap .ess-document-list-item-creator-position {
            /*font-size: 14px;*/
            padding-top: 2px;
        }

    .ess-document-list .ess-document-list-item-requestor-wrap {
        width: 20%;
        border-left: 1px solid #e5e5e5;
        padding-top: 10px;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 1%;
    }

        .ess-document-list .ess-document-list-item-requestor-wrap .ess-document-list-item-requestor-num {
            /*font-size: 20px;*/
            padding: 10px 0 0px;
        }

        .ess-document-list .ess-document-list-item-requestor-wrap .ess-document-list-item-requestor-name {
            /*font-size: 20px;*/
        }

        .ess-document-list .ess-document-list-item-requestor-wrap .ess-document-list-item-requestor-position {
            /*font-size: 14px;*/
            padding-top: 2px;
        }

    .ess-document-list .ess-document-list-item-status-wrap {
        width: 20%;
        border-left: 1px solid #e5e5e5;
        padding-top: 10px;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 1%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status {
            display: flex;
            align-items: center;
            /*font-size: 30px;*/
            line-height: 1;
            padding-bottom: 12px;
            padding-top: 5px;
        }

            .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status .icon {
                margin-right: 7px;
            }

            .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status .ess-icon-caption {
                width: calc( 100% - 35px );
            }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-timestamp {
            display: flex;
            align-items: center;
            /*padding-top: 64px;*/
        }

            .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-timestamp .icon {
                width: 13px;
                height: 16px;
                margin-right: 7px;
            }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-complate {
            color: #39b54a;
        }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-draft {
            color: #448ccb;
        }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-pending-approve {
            color: #f7941d;
        }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-cancelled {
            color: #ed1c24;
        }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-wait {
            color: #a0410d;
        }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-error {
            color: #9e0039;
        }


.ess-document-list-photo {
    margin-top: 16px;
}

    .ess-document-list-photo .ess-document-list-item {
        display: flex;
        padding-top: 16px;
        padding-bottom: 25px;
        margin-bottom: 5px;
    }

    .ess-document-list-photo .ess-document-list-item-type-wrap {
        display: flex;
        min-width: 223px;
    }

    .ess-document-list-photo .ess-document-list-label {
        display: flex;
        align-items: center;
    }

        .ess-document-list-photo .ess-document-list-label .icon {
            margin-right: 10px;
        }

    .ess-document-list-photo .ess-document-list-item-type-data {
        font-size: 18px;
        line-height: 1;
    }

    .ess-document-list-photo .ess-document-list-item-type-icon {
        padding-top: 9px;
    }

    .ess-document-list-photo .ess-document-list-item-detail-num {
        /* font-size: 30px;*/
        font-size: 18px;
        padding: 10px 0 11px;
    }

    .ess-document-list-photo .ess-document-list-item-detail-desc {
        /* font-size: 20px;*/
        font-size: 16px;
    }

    .ess-document-list-photo .ess-document-list-item-detail-wrap {
        width: calc( 60% - 224px );
        padding-top: 27px;
        padding-left: 2%;
        padding-right: 2%;
    }

    .ess-document-list-photo .ess-document-list-item-detail-wrap-none {
        padding-top: 27px;
        padding-left: 2%;
        padding-right: 2%;
    }

    .ess-document-list-photo .ess-document-list-item-creator-wrap {
        width: 20%;
        border-left: 1px solid #e5e5e5;
        padding-top: 10px;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 1%;
    }

        .ess-document-list-photo .ess-document-list-item-creator-wrap .ess-document-list-item-creator-num {
            font-size: 20px;
            padding: 10px 0 0px;
        }

        .ess-document-list-photo .ess-document-list-item-creator-wrap .ess-document-list-item-creator-name {
            font-size: 20px;
        }

        .ess-document-list-photo .ess-document-list-item-creator-wrap .ess-document-list-item-creator-position {
            font-size: 14px;
            padding-top: 2px;
        }

    .ess-document-list-photo .ess-document-list-item-status-wrap {
        width: 20%;
        border-left: 1px solid #e5e5e5;
        padding-top: 10px;
        padding-left: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .ess-document-list-photo .ess-document-list-item-status-wrap .ess-document-list-item-status {
            display: flex;
            align-items: center;
            font-size: 30px;
            line-height: 1;
            padding-bottom: 12px;
            padding-top: 5px;
        }

            .ess-document-list-photo .ess-document-list-item-status-wrap .ess-document-list-item-status .icon {
                margin-right: 7px;
            }

            .ess-document-list-photo .ess-document-list-item-status-wrap .ess-document-list-item-status .ess-icon-caption {
                width: calc( 100% - 35px );
            }

        .ess-document-list-photo .ess-document-list-item-status-wrap .ess-document-list-item-status-timestamp {
            display: flex;
            align-items: center;
            padding-top: 64px;
        }

            .ess-document-list-photo .ess-document-list-item-status-wrap .ess-document-list-item-status-timestamp .icon {
                width: 13px;
                height: 16px;
                margin-right: 7px;
            }

        .ess-document-list-photo .ess-document-list-item-status-wrap .ess-document-list-item-status-complate {
            color: #39b54a;
        }

        .ess-document-list-photo .ess-document-list-item-status-wrap .ess-document-list-item-status-draft {
            color: #448ccb;
        }

        .ess-document-list-photo .ess-document-list-item-status-wrap .ess-document-list-item-status-pending-approve {
            color: #f7941d;
        }

        .ess-document-list-photo .ess-document-list-item-status-wrap .ess-document-list-item-status-cancelled {
            color: #ed1c24;
        }

        .ess-document-list-photo .ess-document-list-item-status-wrap .ess-document-list-item-status-wait {
            color: #a0410d;
        }

        .ess-document-list-photo .ess-document-list-item-status-wrap .ess-document-list-item-status-error {
            color: #9e0039;
        }

.ess-modal-header {
    background-color: #46a874;
    color: #fff;
}

.ess-tab-section-bar {
    display: flex;
    align-items: center;
    padding: 1px 29px;
    color: white;
    background-color: #3498DB;
}

.ess-tab-section-bar1 {
    display: flex;
    align-items: center;
    padding: 1px 29px;
    color: white;
    border: 1px solid #cacaca;
    border-radius: 10px 10px 0 0;
}

.pa-page-header-element {
    padding: 10px !important;
}

.ess-button {
    font-size: 14px !important;
    display: inline-block;
    border-radius: 8px;
    color: #fff !important;
    text-align: center;
    padding: 7px 15px 7px 15px;
    transition: all 0.5s;
    cursor: pointer;
    vertical-align: text-bottom;
    margin: 4px;
}
    /*save,save2 = send,submit*/
    .ess-button.icon-save {
        background-color: #26bfbf;
    }

        .ess-button.icon-save:hover {
            background-color: #008e8f;
        }

    .ess-button.icon-save2 {
        background-color: #26bfbf;
    }

        .ess-button.icon-save2:hover {
            background-color: #008e8f;
        }

    .ess-button.icon-doc_plane_up {
        background-color: #26bfbf;
    }

        .ess-button.icon-doc_plane_up:hover {
            background-color: #008e8f;
        }

    .ess-button.icon-approve {
        background-color: #2BBBAD;
    }

        .ess-button.icon-approve:hover {
            background-color: #00695c;
        }

    /*wait = edit*/
    .ess-button.icon-wait {
        background-color: #ffbb33;
    }

        .ess-button.icon-wait:hover {
            background-color: #FF8800;
        }

    /*cancel2 = cancel = reject*/
    .ess-button.icon-cancel2 {
        background-color: #ff4444;
    }

        .ess-button.icon-cancel2:hover {
            background-color: #CC0000;
        }
    .ess-button.icon-back {
        background-color: #6c757d;
    }

        .ess-button.icon-back:hover {
            background-color: #CCC;
        }
    /*return doc*/
    .ess-button.icon-doc-return {
        background-color: #afb0af;
    }

        .ess-button.icon-doc-return :hover {
            background-color: #808180;
        }

    .ess-button.icon-recall {
        background-color: #afb0af;
    }

        .ess-button.icon-recall:hover {
            background-color: #808180;
        }

.ess-caption-icon {
    vertical-align: text-top !important;
}




.ess-caption-icon {
    vertical-align: text-top !important;
}

/* loader */
.cs-loader {
    position: fixed;
    /*position: fixed;*/
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(33, 33, 33, .7);
    z-index: 9999;
}

.cs-loader-inner {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    /*width: calc(100% - 200px);*/
    width: 100%;
    color: #0472CC;
    padding: 0 100px;
    text-align: center;
}

    .cs-loader-inner label {
        font-size: 26px;
        opacity: 0;
        display: inline-block;
    }


@keyframes lol {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    33% {
        opacity: 1;
        transform: translateX(0px);
    }

    66% {
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}

@-webkit-keyframes lol {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-300px);
    }

    33% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }

    66% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(300px);
    }
}

.cs-loader-inner label:nth-child(6) {
    -webkit-animation: lol 3s infinite ease-in-out;
    animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
    -webkit-animation: lol 3s 100ms infinite ease-in-out;
    animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
    -webkit-animation: lol 3s 200ms infinite ease-in-out;
    animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
    -webkit-animation: lol 3s 300ms infinite ease-in-out;
    animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
    -webkit-animation: lol 3s 400ms infinite ease-in-out;
    animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
    -webkit-animation: lol 3s 500ms infinite ease-in-out;
    animation: lol 3s 500ms infinite ease-in-out;
}
/* end loader */


/*loading*/
@keyframes lds-ripple {
    0% {
        top: 90px;
        left: 90px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -5px;
        left: -5px;
        width: 190px;
        height: 190px;
        opacity: 0;
    }
}

@-webkit-keyframes lds-ripple {
    0% {
        top: 90px;
        left: 90px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -5px;
        left: -5px;
        width: 190px;
        height: 190px;
        opacity: 0;
    }
}

.lds-ripple {
    position: relative;
}

    .lds-ripple div {
        box-sizing: content-box;
        position: absolute;
        border-width: 10px;
        border-style: solid;
        opacity: 1;
        border-radius: 50%;
        -webkit-animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

        .lds-ripple div:nth-child(1) {
            border-color: #93dbe9;
        }

        .lds-ripple div:nth-child(2) {
            border-color: #689cc5;
            -webkit-animation-delay: -0.75s;
            animation-delay: -0.75s;
        }

.lds-ripple {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

a[aria-expanded=true] .icon_arrow_down {
    display: none;
}

a[aria-expanded=false] .icon_arrow_up {
    display: none;
}

a[aria-expanded=true] .fa-chevron-circle-down {
    display: none;
}

a[aria-expanded=false] .fa-chevron-circle-up {
    display: none;
}

.ess-btn-showhide-detai[aria-expanded=true] .icon.icon_arrow_down {
    display: none;
}

.ess-btn-showhide-detai[aria-expanded=false] .icon.icon_arrow_up {
    display: none;
}

.ess-center {
    text-align: center !important
}

.ess-center {
    border: 1px solid #2995c8 !important
}

.ess-transparent, .ess-hover-none:hover {
    background-color: #61ccff !important
}

.ess-hover-none:hover {
    box-shadow: none !important
}

/*PA Module*/

.red_text {
    color: red;
}

.blue_text {
    color: #3368FF;
}
/*END PA Module*/

.item-btn .itemin_btn {
    background-color: #00c372;
    border-radius: 12px;
    padding: 14px;
    box-shadow: 2px 2px 5px rgba(96, 57, 19, 0.5215686274509804);
}

/*.ess-button {
    font-size: 14px !important;
    display: inline-block;
    border-radius: 8px;
    color: #fff !important;
    text-align: center;
    padding: 7px 10px 7px 10px;
    transition: all 0.5s;
    cursor: pointer;
    vertical-align: text-bottom;
    margin: 4px;
}*/

    .ess-button.addbtn {
        background-color: #00C851;
    }

        .ess-button.addbtn:hover {
            background-color: #007E33;
        }

    .ess-button.submitbtn {
        background-color: #2BBBAD;
    }

        .ess-button.submitbtn:hover {
            background-color: #00695c;
        }

    .ess-button.cancelbtn {
        background-color: #ff4444;
    }

        .ess-button.cancelbtn:hover {
            background-color: #CC0000;
        }

    .ess-button.editbtn {
        background-color: #ffbb33;
    }

        .ess-button.editbtn:hover {
            background-color: #FF8800;
        }

    .ess-button.viewbtn {
        background-color: #b0b0b0;
    }

        .ess-button.viewbtn:hover {
            background-color: #818181;
        }

    .ess-button.recallbtn {
        background-color: #b0b0b0;
    }

        .ess-button.recallbtn:hover {
            background-color: #818181;
        }

    .ess-button.infobtn {
        background-color: #33b5e5;
    }

        .ess-button.infobtn:hover {
            background-color: #0099CC;
        }

    .ess-button.insteadofbtn {
        background-color: #d4a996;
    }

        .ess-button.insteadofbtn:hover {
            background-color: #ffebcd;
        }

.ess-item status {
    position: absolute;
    bottom: 0;
    right: 3.5%;
}

.ess-status {
    font-size: 16px !important;
    display: inline-block;
    color: #fff !important;
    text-align: center;
    padding: 7px 15px 7px 15px;
    /*position: absolute;*/
    bottom: 0;
    border-radius: 8px;
    /*border-top-left-radius: 8px;
    border-top-right-radius: 8px;*/
    width: 180px;
    justify-content: center;
}

    .ess-status.draft {
        background-color: #ffd747;
    }

    .ess-status.completed {
        background-color: #007E33;
    }

    .ess-status.cancelled {
        background-color: #CC0000;
    }

    .ess-status.waitforpostdata {
        background-color: #FF8800;
    }

    .ess-status.waitforverify {
        background-color: #FF8800;
    }


.ess-document-list-item-status-timestamp {
    font-size: 14px !important;
}


/*comment box by nipon supap*/
.tip {
    width: 0px;
    height: 0px;
    position: absolute;
    background: transparent;
    border: 10px solid #ccc;
}

.tip-left {
    top: 10px;
    left: 4.5px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.message {
    margin-left: 10px;
    border: 1px solid;
    border-color: #ccc;
    border-radius: 10px;
}

.tip_error {
    width: 0px;
    height: 0px;
    position: absolute;
    background: transparent;
    border: 10px solid #ccc;
}

.tip_error-left {
    top: 10px;
    left: 4.5px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.message_error {
    /*min-height: 30px;
    border-radius: 3px;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
    color: #797979;*/
    margin-left: 10px;
    border: 1px solid;
    border-color: #ccc;
    border-radius: 10px;
}

/*Fix Button Action by Nipon Supap 14/05/2020 */
.view_info_btn .body_content .announcelist_block, .view_info_btn .body_content .itemlist_block, .view_info_btn .body_content .workcalendar_block {
    border-radius: 4px !important;
    padding: 14px 0 10px !important;
}

.view_info_btn {
    overflow-y: hidden;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 8;
    position: fixed;
    width: 100%;
    top: 66px;
}

    .view_info_btn .body_content {
        border-radius: 4px;
    }

    .view_info_btn .col-sm-4 {
        margin-bottom: 5px;
    }

    .view_info_btn .itemin_btn {
        vertical-align: top;
    }

        .view_info_btn .itemin_btn.longbtn {
            width: 100%;
            height: 3.3rem;
            padding: .8rem;
            margin-bottom: 5px;
        }

            .view_info_btn .itemin_btn.longbtn span {
                vertical-align: text-bottom;
            }

        .view_info_btn .itemin_btn p.itemin_btn_txt {
            display: inline-block;
            width: 80%;
            vertical-align: middle;
            margin: 0 0 0 8px;
            line-height: 17px;
        }

@media only screen and (max-width: 992px) {
    .auto-space-for-button {
        height: 60px;
    }
}

.moving-bar {
    position: fixed;
    width: 100%;
    top: 100px;
    transition-duration: 0.35s;
    transition-timing-function: ease-in;
}

    .moving-bar.on-scrolldown {
        transform: translate(0px, -100px);
        z-index: 5;
    }

.ess-item-expire {
    color: lightgray;
}

.ess-required-filed {
    color: red;
    font-size: 14px;
}

.ess-table-default, .ess-table-realtime, .ess-table-timescan {
    border-collapse: collapse;
    width: 100%;
}

    .ess-table-default td, .ess-table-default th {
        border: 1px solid #ddd;
        padding: 4px;
    }

    .ess-table-timescan td, .ess-table-timescan th {
        border: 1px solid #ddd;
        padding: 4px;
        font-size: 14px;
    }

.ess-table-note {
    border-collapse: collapse;
    width: 100%;
}

    .ess-table-note td, .ess-table-note th {
        border: 0px solid #ddd;
        padding: 3px;
    }

    .ess-table-default tr:nth-child(even), .ess-table-note tr:nth-child(even) {
        background-color: #f2f2f2;
    }

.ess-table-timescan tr:nth-child(even) {
    background-color: #eaeaea;
}

.ess-table-default tr:hover, .ess-table-note tr:hover {
    background-color: #eafff7;
}

.ess-table-timescan tr:hover {
    background-color: #eafff7;
}

.ess-table-default th, .ess-note-default th {
    background-color: #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

[data-md-tooltip] {
    position: relative;
}

    [data-md-tooltip]:before {
        content: attr(data-md-tooltip);
        position: absolute;
        top: -35px;
        bottom: auto;
        transform: translateX(-50%) scale(0);
        transform-origin: bottom center;
        /*left: 50%;*/
        padding: 8px;
        transition: transform 0.3s ease-in-out;
        transform-origin: top;
        background: #616161e6;
        color: white;
        border-radius: 2px;
        font-size: 12px;
    }

    [data-md-tooltip]:hover:before {
        transform: translateX(-50%) scale(1);
    }

.bg-holiday {
    color: #007bff;
    cursor: default;
    text-decoration: none;
    background-image: url("../images/new_icons/icon_holiday.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    background-size: 130%;
}

.bg-holiday-wsCalendar {
    cursor: default;
    text-decoration: none;
    background-image: url("../images/new_icons/icon_holiday.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 46px 46px;
}

.bg-holiday-main {
    color: #007bff;
    cursor: default;
    text-decoration: none;
    background-image: url("../images/new_icons/icon_holiday.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    background-size: 90%;
}


.ess-active-language {
    margin-right: 10px;
    color: #cbcbcb;
}

    .ess-active-language.current {
        color: navy;
        text-shadow: 4px 4px 8px #88fff3;
    }

.divCenterScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Dropdown Button */
.ddl-language-cng {
    background-color: transparent;
    /*    color: white;*/
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.icon-flag {
    height: 5px;
    width: 5px;
    background-size: cover;
    border-radius: 50%;
}

    .icon-flag.TH {
        background: url('../images/icons/btn-add.png') no-repeat center center;
    }
    .icon-flag.EN {
        background: url('../images/icons/btn-cancel.png') no-repeat center center;
    }

    /* Dropdown button on hover & focus */
    .ddl-language-cng:hover, .ddl-language-cng:focus {
        background-color: #2980B9;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999999;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd
        }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .dropdown-content.show {
        display: block;
    } 

