﻿html, div, span, input, select, textarea, p, a, li, button {
    font-family: rsu_r;
}

.etc-payment-page .bar_searchactive {
    overflow: visible;
}

.etc-payment-page .btn.active, .etc-payment-page .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*PA project css start custo*/

.profilebar-logo {
    display:none;
}
#main-menu .fa {
    font-size: 21px;
}

@media only screen and (max-width : 992px) {
    .hide-menu-btn{
        visibility:hidden;
    }
    .icon-achievement-type {
        left: 45px;
    }
    .mini-menu {
        display:none;
    }

}
@media only screen and (min-width : 992px) {


    .menu-left {
        min-width: 270px;
    }
    .hide-menu-btn {
        background: rgba(121, 121, 121, 0.34);
        color: white;
        cursor: pointer;
        outline: none;
        width: 42px;
        line-height: 37px;
        right: 0;
        position: absolute;
        top: 0;
        z-index: 1;
        height: 100%;
        padding-top: 13px;
        width: 70px;
    }
    .menu-left{
        position:fixed;
        z-index:10;
        top:0px;
        left:0px;
    }
    .menu-left.hide-left {
        transition:ease-in 0.3s;
        top:0px;
        width:200px;
        left:-178px
    }
        .menu-left.hide-left .nav-profileBar{
           
        }

    .mainBlock-hide {
        padding:0px;
        padding-left: 70px;
    }
    .mainBlock-hide > .menu-ghost-hide{
        width: 10px;
    }
    .mainBlock-hide > .contentBlock {
        width:100%;
    }
    .menu-blocking {
        display:none;
    }
    .mainBlock-hide > .menu-blocking{
        display: initial;
        background: transparent;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        width: 70px;
        z-index: 7;
    }
    .mini-menu{
        position: absolute;
        top: 0;
        right: 0;
        height: 0%;
        width: 0px;
        z-index: 4;
        overflow:hidden;
        visibility:hidden;
        padding-left: 0px;
        padding-top:0px;
        background:white;
        
    }
        .mainBlock-hide .mini-menu {
            height: 100%;
            width: 70px;
            visibility:visible;
        }
        .mainBlock-hide .menu-list-items {
            visibility:hidden;
            overflow:hidden;
            width:0;
            height:0px;
        }
    .mini-menu .mini-menu-item{
        cursor: pointer;
        height: 65px;
        background: #f2f2f2;
        padding-top: 22px;
        text-align: center;
        border: solid 1px #d5d5d5;
        color: #289efe;
    }
    .mini-menu-cir-num {
        width: 36px;
        background: red;
        border-radius: 50%;
        color: white;
        margin-right: 1rem;
        text-align:center;
    }
    
  
}


#ag-select-dialog {
    min-width:400px;
    min-height:500px;
}
.ag-expad-able-div {
    padding-left:1.5rem;
}
.ag-expad-able-div-box{
    color: #6b6b6b;
    width: 20px;
    height: 20px;
    margin: 0;
    line-height: 20px;
    font-size: 20px;
    display: -webkit-inline-box;
    display: -ms-inline-grid;
    display: -moz-inline-box;
    cursor: pointer;
    padding-top: 7.5px;
    outline:none;
}
#ag-select-dialog .md-dialog-content {
    min-height:500px;

    width:100%;
}
.ag-expad-able-div-container.hidden{
    height: 0px;
    overflow: hidden;
}

.icon-fn-doc{
   cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    text-align: center;
    font-size:20px;
    outline:none;

}
.icon-fn-doc.edit_color{
    color: #dc8a25;
}
.icon-fn-doc.view_color{
    color: #289efe;
}
.icon-fn-doc.add_color{
    color: #80ca80;
}
.summarize{
    font-size:20px;
    padding: 1rem 1rem 1rem 2rem;
}
.code-box-icon{
    width: 40px;
    height: 40px;
    background: white;
    text-align: center;
    line-height: 42px;
    font-size: 30px;
    border-radius: 50%;
    margin-right: 15px;
    border: solid 0.5px #e6e6e6;
}
.selected .code-box-icon{
    border: solid 1px #50c733;
}
.spirit__s{
    color: #1ab5ee;
}
.spirit__p{
    color: #f7e300;
}
.spirit__i{
    color: #ef9c00;
}
.spirit__r{
    color: #01ac37;
}
.spirit__ie{
    color: #205aa7;
}
.spirit__t{
    color: #df0227;
}
.icon-achievement-type {
    position: absolute;
    top: 4px;
    font-size: 20px;
}
.ag-textarea {
    min-width: 200px;
    width: 100%;
    background: white;
    border-radius: 5px;
    margin: 0px;
    min-height: 200px;
    resize: none;
    padding:1rem;
    outline:none;
}
.ag-tabs .tab-header {
    padding: 0px 5px 0px 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline:none;
    margin-right: 1px;
    background-color: #eaeaea;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #585858;
}
.ag-tabs .tab-header.active {
    border-bottom: solid 1px #289efe;
    background-color: #289efe;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-left: 5px solid #ffa501;
    color: #ffffff;
}
.ag-tabs .tab-headers-container {
    /*overflow-x:scroll; 
    overflow-y: hidden;*/
}
.ag-tabs .tab-headers {
    /*width:560px;
    height: 40px;*/
    border-bottom: solid 2px #289efe;
}
.ag-score-tag{
    width: 120px;
    height: 25px;
    line-height: 27px;
    border-radius: 5px;
}
.ag-score-tag .score{
  
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #289efe;
}
.input-dialog-text{    
    background: #eeeeee;
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
    border: solid 1px #d0d0d0;
    position:relative;
}

/*due table display start*/

    .due-table {
        padding:0px;
    }

    .due-table .icon_btn{
        position: absolute;
        right: 0px;
        bottom:0rem;
        background: #289efe;
        height: 27px;
        width: 27px;
        line-height: 33px;
        color: white;
        font-size: 20px;
        outline:none;
        padding-left: 6px;
     
    }
    .due-table  .table-column-name {
        height:65px;
    }
    .due-table .table-column-name span {
        font-family: rsu_r;
        font-size: 16px;
        border: none;
        color: #7F7F7F;
    }

    .due-table .table-column-name > div {
        border-bottom: solid 1px #a9a9a9;
        padding-bottom: 0.5rem;
    }
    .due-table .row-items > div {
        word-wrap: break-word;
        min-width:0px;
        padding: 5px;
        position: relative;
        cursor: pointer;
    }
    .row-items.border-left > div {
        border-right: solid 1px #dadada;
    }
    .input-text_ {
        padding: 0.25rem;
        font-size: 14px !important;
    }
    .mo-duo md-select, md-input-container {
        margin: 0;
    }
    .align-res-ctrl {
        text-align: center;
        font-size: 15px;
        justify-content: center;
    }
        .align-res-ctrl.left {
            text-align: left;
        }
    .bar_expand-status.mo-duo {
        background: #f7f7f7 !important;
        max-width: 486px;
    }
        .bar_expand-status.mo-duo span, .bar_expand-status.mo-duo a {
            color: black;
        }
    .bar_left-icon.mo-duo {
        background: #E5E5E5;
         border: solid 0.5px #cccccc;
    }
        .bar_left-icon.mo-duo:hover {
            background: #CBCBCB !important;
        }
    .copKPIEditor input {
        width: 100%;
    }
    /*not moblie */
    @media only screen and (min-width: 769px) {
        .bar_expand-expandDetail.mo-duo {
            background: #E5E5E5;
            display: block !important;
        }
        .auto-algin-in-table {
            margin-right: auto !important;
            margin-left: auto !important;
        }
         .copKPIEditor .border-bottom {
            /*min-width:2500px;*/
            padding-bottom: 15px;
            border-bottom: 1px solid #dddddd;
        }
    }
    /*moblie*/
    @media only screen and (max-width: 769px) {
         .due-table .row-items > div {
            width:100% !important;
        }
        .bar_expand-expandDetail.mo-duo {
            max-width: 486px;
        }

        .box-perdiem {
            background: white;
        }
        .bar_expand-expandDetail.mo-duo {
            max-width: 486px;
        }
        .row-items {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            flex-direction: column;
            box-sizing: border-box;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
        }
        .width-ctrl-xs {
            min-width:250px;
        }
        .align-res-ctrl {
            text-align: start;
            justify-content: flex-start;
        }
        .due-table {
            width: 100%;
        }
        .mo-duo.bar_expand-expandDetail {
            padding-left: 1rem;
            padding-bottom: 1rem;
        }
        .tab-headers-container .tab-header {
            font-size: 9px;
            padding: 0px;
            padding: 2.5px;
            overflow: hidden;
        }
        .due-table  .table-column-name {
            height:35px;
        }
    }
/*due table display end*/







label {
    font-weight:normal;
}

.checkbox label {
    cursor:default;
}

.loginPage .loginBlock .loginBlockin {
    margin:auto;
}
.contentBodyin {
    overflow-y:auto;
    background:white;
}
.mainBlock .contentBlock {
    height: auto;
}
.nav-panel_list.forscroll {
    height: auto;
    overflow: visible;
    position: relative;
}
div.menu a {
    display:block;
}
.clickable  {
    cursor:pointer;
}
.clickable:hover {
    cursor:pointer;
}
.unclickable {
    cursor:default;
}
.unclickable:hover {
    cursor:default;
}
.mainNav .navBlock .nav_b2 {
    height:auto;
}
.eventnone {
    pointer-events:auto!important;
}
.breadcrumb2 {
    background-color: #f5f5f5;
    border-radius: 4px;
    list-style: outside none none;
    margin-top:-20px;
    margin-bottom: 10px;
    padding: 8px 15px;
}
.profilebar-id {
    width:120px;
}
.btn-profile {
    display:block;
    padding:0 5px 5px 5px;
}
.text-center {
    text-align:center;
}
.text-right {
    text-align:right;
}
.text-center > img.img-profile {
    display: block;
    margin: auto;
}
/* loader */
.cs-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
    background: rgba(33, 33, 33, .7);
    z-index:9999;
    /*visibility:hidden;*/
    /*display:none;*/
}

.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  /*width: calc(100% - 200px);*/
  width:100%;
  color: #0472CC;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 26px;
  opacity: 0;
  display:inline-block;
}
/*over line warning message*/
/*.alert-warning, .alert-danger{
    color: rgb(251, 65, 19) !important;
    font-size:16px;
    font-weight: bold;
    background-color: #fcf8e3 !important;
    border-color: #faebcc !important;
}*/

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}
/* end loader */

.content-border-top {
    border-top:solid 1px #cbcbcb;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}

/* profile */
.navProfileCenter {
    text-align:center;
    background-color:white;
    padding-top:20px;
    padding-bottom:60px;
    font-family:rsu_r;
}


/* calendar datepicker */
._720kb-datepicker-calendar-day._720kb-datepicker-active, ._720kb-datepicker-calendar-day:hover {
    background: #138EFA none repeat scroll 0 0;
    color:#fff;
}
.datepick i._720kb-datepicker-calendar-header-closed-pagination,
.datepick i._720kb-datepicker-calendar-header-opened-pagination {
    color:rgba(0, 0, 0, 0.4);
    position:static;
}
.datepicker {
    cursor: pointer;
    z-index: 2;
}
._720kb-datepicker-calendar {
    top:38px;
}
input.datepicker[readonly] {
    background-color: #fff;
    opacity: 1;
}

.leaveitem-day_mod {
    width: 50% !important;
}

.task_inner {
    margin-bottom:0px
}

md-autocomplete input:not(.md-input) {
    font-size:17px !important;
}

/* fix ios safari mobile */
.forsearch,
.itemfyi-icon,
.bar_left-icon, 
.bar_right-icon,
.itemin_btn,
.item-editstatus,
.leaveitem-icon,
.leaveitem-icon span {
    cursor: pointer;
}

.forReload {
    font-size:20px; padding-top:5px;
}

.breadcrumb.clickable {
    margin-bottom: 10px;
    padding: 0;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

/* document flow */
.bar_bottom-expandDetail {
    display:none;
}
.bar_bottom-expandlist .bar_bottomlist .bar_bottom-status.active-bar {
    background-color:#0fcaa4;
}
.bar_bottom-expandlist .bar_bottomlist .bar_bottom-status.active-bar .bar_left-icon:hover,
.bar_bottom-expandlist .bar_bottomlist .bar_bottom-status.active-bar .bar_left-icon:active,
.bar_bottom-expandlist .bar_bottomlist .bar_bottom-status.active-bar .bar_right-icon:hover,
.bar_bottom-expandlist .bar_bottomlist .bar_bottom-status.active-bar .bar_right-icon:active {
    background-color: #09b895;
}
.bar_bottom-expandlist .bar_bottom-status.active-bar .bar_right-icon {
    display:block;
}
.bar_bottom-status.active-bar .bar_left-icon,
.bar_bottom-status.active-bar .bar_statusword,
.bar_bottom-status.active-bar .bar_right-icon {
    color:#fff;
    border-color:#fff;
}
.bar_bottom-expandlist .bar_bottom-expandDetail.active-bar {
    background-color: rgba(15, 202, 164, 0.1);
}
.bar_bottom-expandlist .bar_right-icon.visible {
    display:block;
    color:#fff;
    background-color: #0fcaa4;
    border-left: 1px solid #fff;
}
.bar_bottom-expandlist .bar_right-icon.visible:hover,
.bar_bottom-expandlist .bar_right-icon.visible:active {
    background-color: #09b895;
}

.body_content {
    /*margin-bottom:10px;*/ /*Pet edit*/
}

.body_content .itemlist_block {
    padding-bottom: 2.5%;
}

.bar_title .back-icon {
    padding-top:1px;
    float:left;
}
.bar_title .back-text {
    padding-left:10px;
    float:left;
}

/* Setting Page */
.setting-body {
    background-color:#fff;
    padding-bottom:20px;
}
.setting-body select {
    padding:5px 15px 5px 5px;
}
.setting-body blockquote {
    margin: 10px 20px 0 20px;
    padding: 10px 0 10px 15px;
    border: none;
}
.setting-body blockquote select,
.setting-body blockquote label,
.setting-body blockquote span {
    font-family: rsu_r;
    font-size: 22px;
    font-weight:normal;
}
.setting-body blockquote input,
.setting-body blockquote select {
    margin: 12px 0 12px 20px;
}

/* Request Form */
.mainBlock .leaveBlock_detail .contentBodyin {
    padding-top:40px;
}
.leaveBlock_detail .body_content .itemlist_block {
    min-height:inherit;
    padding: 15px 0 0 0;
}
.itemlist_block .itemin_btn {
    /*margin-right:5px;
    margin-bottom:10px;
    padding:10px 0 6px 0;
    float:left;
    text-align:center;
        */
    font-family: rsu_r;
    font-size: 18px;
    background-color: #289efe;
    padding: 1.5%;
    color: #fff;
    border-radius: 2px;
}
.itemlist_block p {
    margin:6px 0 0 0;
}
.leaveBlock_detail .col-md-12 {
    /*padding:0 7px;*/
}

/* action instead of */
.action-instead-of {
    background-color: #0fcaa4;
}
.action-instead-of .bar_statusword {
    font-size:16px;
    padding-right:0;
    margin-right:0;
}

.contentBodyin .bar_title .dropdown>.btn-default option{
    color: black;
}

/* fix background color on mobile screen */
@media only screen and (max-width : 992px) {
    .mainBlock {
        background-color:#fff;
    }
}
/*@media only screen and (max-width : 992px) {
    .fix-bg-mobile {
        background-color:#fff!important;
    }
}*/
/* fix background color on desktop screen */
/*@media only screen and (min-width : 992px) {
    .fix-bg-desktop {
        height:100vh!important;
    }
}*/



.styled-select {
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;
   }

.styled-select select {
    padding: 12px;
    border: 0 none;
    font-size: 16px;
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
    outline: none;
}
.styled-select select option {
    color:black;
}
.styled-select:after {
    font-family: 'Glyphicons Halflings';
    content: "";
    background-color: #289efe;
    color: white;
    padding: 15px 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    text-align: center;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
    border-left: 1px solid;
}
.absence_date{
    float:right;
}

.leavetableBlock{
    font-family: rsu_r;
}

.bar-content .bar_title .bar_left.bar_left_single_line {
    margin-top:4px;
}

.btn.dropdown-toggle,
.btn.dropdown-toggle:active {
    background-color:#fff;
}

/* menu */
.menu-head {
    color:#bbb;
}
.menu-head:hover {
    background-color:#fff;
}
.taskactive .menu-head {
    color:#289efe;
}

/* Timesheet */
.detail_item-tableBlock .detail_item-table tr td.normalday {
    background-color:#fff!important;
    color:#000!important;
}
.detail_item-tableBlock .detail_item-table tr td.sumcol,
.detail_item-tableBlock .detail_item-table tr th.sumcol {
    background-color:#E9F5FF!important;
    color:#289efe!important;
}
.detail_item-tableBlock .detail_item-table tfoot tr.itemtable-highlight td.normalday,
.detail_item-tableBlock .detail_item-table thead tr.itemtable-highlight th.normalday {
    background-color:transparent!important;
    color:#289efe!important;
}
.detail_item-tableBlock .detail_item-table tr td.normalday.row-abs {
    background-color:#F2F2F2!important;
    color:#000!important;
}
.detail_item-tableBlock .detail_item-table tr td.normalday.row-ts {
    background-color:#fff!important;
    color:#000!important;
}
.detail_item-tableBlock .detail_item-table tr td.normalday.row-pm {
    background-color:#C0F7EB!important;
    color:#000!important;
}
.detail_item-tableBlock .detail_item-table tr td.holiday {
    background-color:#FFECEB!important;
    color:#fbb03b!important;
}
.detail_item-tableBlock .detail_item-table tfoot tr.itemtable-highlight td.holiday,
.detail_item-tableBlock .detail_item-table thead tr.itemtable-highlight th.holiday {
    background-color:transparent!important;
    color:#fbb03b!important;
}
.row-abs {
    background-color:#F2F2F2!important;
}
.row-ts {
    background-color:#fff!important;
}
row-pm {
    background-color:#C0F7EB!important;
}

.contentBlock {
    min-height:100%;
}

.contentBodyin .bar_title .dropdown > .btn-default {
    color:#000;
    background-color:#fff;
    padding: 2px 10px 2px 2px;
}

.input-group-addon,
.input-group-addon span,
.itemlist .form-control,
.itemlist .btn {
    font-size:17px;
}

input.datepicker {
    font-family:rsu_r,sans-serif;
}

/* custom checkbox, radio button */
.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}
.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}
.checkbox-custom-label, .radio-custom-label {
    position: relative;
}
.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    margin-top:-3px;
    text-align: center;
}
.checkbox-custom:checked + .checkbox-custom-label:before {
    /*background: rebeccapurple;*/
    background-color:#FF9933;
    box-shadow: inset 0px 0px 0px 3px #fff;
}
.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}
.radio-custom:checked + .radio-custom-label:before {
    background: #ccc;
    box-shadow: inset 0px 0px 0px 4px #fff;
}
.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
    outline: none; /* focus style */
}

.mainNav {
    pointer-events: none;
}
div.navBlock {
    /*pointer-events: auto;*/
}

/* round image */
.profile_img {
    border-radius: 50%;
    /*
     max-height: 70px;
    max-width: 70px;   
     */
    overflow: hidden;
    position: relative;
    transform: translate(0px, -5%);
    margin:0 auto;
}

.profile_img img.profile-img {
    margin: 0px auto 0 auto;
}

.profile_position {
    min-height:40px;
    margin-top: -10px;
    margin-bottom: 5px;
}

/* datatables */
.dataTables_wrapper{
    padding:0.5rem 0;
}

/* white bg on mobile */
@media screen and (max-width: 768px) {
    .contentBody {
        background-color: #fff;
    }
}

.-marbtm5 {
    margin-bottom:5px;
}
.-marbtm10 {
    margin-bottom:10px;
}
.-marbtm20 {
    margin-bottom:20px;
}
.-padtb15{
    padding:15px 0 15px 0;
}
.btn-new{
    margin:0;
    padding:9px 12px 9px 10px;
    display:inline-block;
}
.btn-edit-mini{
    color:#289efe;
    background-color: rgba(40,158,255,.1);
    bottom: 0px;
    left:0px;
    padding:15px;
    position: absolute;
}
.btn-delete-mini{
    color:#FF443F;
    background-color: rgba(255,68,63,.1);
    bottom:0px;
    right:0px;
    padding:15px;
    position:absolute;
}
.font-table{
    font-size:16px;
}
.-bg-gray{
    background:#cccccc;
}
.font-editor label,.font-editor button{
    font-size:20px!important;
}

 .table-has-action {
     margin-bottom:0;
 }
 .no-border-right{
     border-right: 0px!important;
 }

.ui-select-toggle.btn-default[disabled],
.ui-select-toggle.btn-default[disabled]:hover,
.ui-select-toggle.btn-default[disabled]:focus {
     background-color:#EEE;
     opacity: 1
}
.ui-select-toggle.btn-default:hover,
.ui-select-toggle.btn-default:focus {
    background-color:#FFF;
}
.ui-select-toggle {
    overflow:hidden;
    text-overflow:ellipsis;
}



.ActionColorOrange {
    color: #82E0AA !important;
    font-weight: bold !important;
}

.-txt-orange{
font-size: 25px !important;
color: #1A5276 !important;
}

.bar_search{
   /*background-color: #1A5276 !important;*/
}

.forsearch_active{
    /*background-color: #1A5276 !important;*/
}



.MainDocPage .itemlist {
    width:100%;
}
.item-btn {
    white-space: normal;
}

.profile_position {
    padding: 12px 5px 3px 12px;
}
.profile_position .profile_position-detail {
    width:100%;
    font-size:17px;
}

@media screen and (min-width: 436px) {
    .menu-right-border {
        /*border-right:1px solid #CCC;*/
    }
}

.-txt-bold {
    font-weight: bold;
}

.-padtb10 {
    padding: 10px 0 10px 0;
}

table td.money {
    text-align: right;
}

.expense-attachment input[type="file"],
.document-attachment input[type="file"] {
    font-size:16px;
}

td.mix_datetime datepicker {
    width:100px;
}
td.mix_datetime input,
td.mix_datetime select,
td.mix_datetime input.form-control,
td.mix_datetime select.form-control,
td.mix_datetime datepicker {
    display:inline-block;
    /*float:left;*/
}

.disable-black[disabled],
input.disable-black[disabled] {
    color:#333;
    opacity: 1
}

.form-control.ui-select-toggle {
    padding-right:24px;
}
input.form-control.ui-select-search {
    width:100%!important;
}

.travelExBlock .sum-expend .head-label {
    font-size:22px;
}

.commonbtn button:hover, .commonsec-6 button:hover,
.btn-default.active, .btn-default:active,
.btn-default.focus, .btn-default:focus,
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover {
    background-color:#b2b2b2;
}

.profile-rank .form-control.ui-select-search {
    box-sizing:border-box ;
}

.common-labal {
    background-color: rgba(251,176,59,.1);
    color: #FBB03B;
    margin-top: 5px;
}

.common-labal {
    background-color: rgba(251,176,59,.1);
    color: #FBB03B;
    margin-top: 5px;
}
.common_nobill_elm2 .dropdown{
    display:block;
}
.common_nobill_elm2 .bar_left-title{
    color:white;
}

/* placehoder */
input::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#ebebeb;
}
input:-moz-placeholder,
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#ebebeb;
   opacity:  1;
}
input::-moz-placeholder,
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#ebebeb;
   opacity:  1;
}
input:-ms-input-placeholder,
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:#ebebeb;
}
.checkbox.checkbox-inline, .radio.radio-inline{
    margin-right:10px;
}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline{
    margin:0px;
}
.search_block .text-muted{
    color:lightblue;
}

.search_block .ui-select-toggle.btn-default:hover,.search_block .ui-select-toggle.btn-default:focus{
    background:#1283DE;
}
.datepicker-height-set{
    position: relative;
    height: 39px;
}
.itemin_btn.btn-big.btn-accept.-tab-red:hover{
    background-color: #EC403B !important;
}

.itemin_btn.btn-big.btn-accept.-tab-org:hover{
        background-color: #EBA12D !important;
}

/** date picker modify size  start **/
._720kb-datepicker-calendar-day {
    font-size: 17px!important;
}
._720kb-datepicker-calendar-days-header div {
    font-size: 17px!important;
}
._720kb-datepicker-calendar-header-middle._720kb-datepicker-calendar-month {
    font-size: 20px !important;
}
._720kb-datepicker-calendar-month span {
    font-size: 17px !important;
}
/** date picker modify size  end **/

.main-load{
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height:200px;
    /*background: rgba(0, 0, 0, 0.45);*/
    z-index: 10;
}
.loader-content-inner{
    width: 75px;
    height: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.checkbox label::after,.checkbox label::before {
    border-color: #289efe;
    color: #289efe;
}
.em-font {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 15px
}
.em-font-all >* {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 15px
}
.em-font-15 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 15px;
}
.em-font-15 >* {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 15px;
}
.em-font-17 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 17px;
}
input {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;

}
textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;

}
.em-blue {
    color:#289efe;
}
select.form-control {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.ui-select-container  div, .ui-select-container  a, .ui-select-container input, .ui-select-container span{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size:15px;
}
.datepicker[disabled], input[type="text"][readonly].form-control.text-right  {
    cursor:not-allowed;
}
select.form-control, input[type="checkbox"], input[type="file"] {
    cursor:pointer;
}

ul.ui-select-choices.ui-select-choices-content.ui-select-dropdown.dropdown-menu {
    overflow-x:scroll;
}

/* auto complete angular material modify*/
md-autocomplete-wrap{
    border-radius: 3px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    border: 1px solid rgb(204, 204, 204)  !important;
    box-shadow: none !important;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 0px 5px 2px inset  !important;
    background-image: none;
}
md-autocomplete-wrap span{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.ui-select-container input[type=search] {
    box-sizing: inherit !important;
}

md-autocomplete-parent-scope span {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
md-option .md-text.ng-binding {
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}


/*block close button of auto complete*/
.blocked-cross-btn md-autocomplete-wrap button{
    display: none;
}
.monitoring-page md-autocomplete-wrap button{
    display: none;
}


ul.ui-select-choices.ui-select-choices-content.ui-select-dropdown.dropdown-menu{
        border-radius: 1px;
}
md-autocomplete {
    border-radius:5px;
}
@media screen and (min-width: 0em) and (max-width: 47em) {

    .contentPagein li {
        padding: 0px 3px;
        font-size: 13px;
    }
}

md-pagination-wrapper {
    display: initial !important;
    position: static !important;
    width:240px !important;
}
md-ink-bar {
    width:101px;
}
md-tab-item span {
    font-size:20px;
}

@media screen and (max-width: 768px) {
    .xs-line-height-30 {
        line-height: 30px;
    }
}

.validation-failed {
    background: #ff443f;
}

.validation-passed {
    background:#0fcaa4;
}
.disable-btn-d {
    background: #cccccc !important;
}
/*overide css*/
md-autocomplete.md-default-theme[disabled]:not([md-floating-label]), md-autocomplete[disabled]:not([md-floating-label]) {
    background: rgb(238, 238, 238) !important;
}

.te-modify{
    margin: 0;
    min-height:85px;
    min-width: 350px;
    line-height: 20px;
    font-size: 17px;
    border: solid #d5d5d5 1px;
    background: #fefefe;
    border-radius: 3px;
    text-align: left;
    padding-left: 10px;
    box-shadow: inset 0 0 5px 2px rgba(0,0,0,.075);
    -webkit-box-shadow: inset 0 0 5px 2px rgba(0,0,0,.075);
}
    .te-modify md-select-value{
        border:none !important;
    }
.te-modify-op{
    padding-top: 10px;
    padding-bottom: 10px;
    min-height:90px;
    border-bottom: 1px solid gainsboro;

}

.red_text {
    color:red !important;
}

span.input_ {
    height: 36px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #eee;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 23px 17px rgba(0,0,0,.075);
    box-shadow: inset 0 3px 10px rgba(0,0,0,.075);
    ition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

md-dialog md-dialog-content p {
    font-size: 20px;
}
md-dialog{

    max-width: 700px;
    width:100%;
}

.action_btn .itemin_btn {
    height: 110px !important;
    width: 112px !important;
}
.overlinecss-text-color-blue input {
    color: #1283de !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.btn-console{
    font-size: 25px;
    color: #289efe;
    cursor:pointer;
}
.console-menu-multi-crop .line-row{
    display: flex !important;
}
.console-menu-multi-crop .list-doc {
    width: 100%; 
    text-align: right;
    margin-top: 7px;
}


.bar_search ::selection {
  background: #e69437; /* WebKit/Blink Browsers */
}
.bar_search ::-moz-selection {
  background: #e69437; /* Gecko Browsers */
}