﻿.smart-create-travel .button-search {
    height: 100%;
    background: #1461ad;
    color: white;
    text-align: center;
    padding-top: 12px;
    cursor: pointer;
    font-size: 20px;
}
.smart-create-travel .button-search :hover{
    background: #3677b8;
}
.smart-create-travel .floting-icon {
    position: absolute;
    z-index: 1;
    color: #636363;
    font-size: 30px;
    left: 10px;
    top: 5px;
}
.smart-create-travel {
    margin-top:4rem;
    background: #289efe;
    height: 60px;
    border-radius: 5px;
    border: solid 3px #289efe;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
}
.smart-create-travel .item-smart-travel{
    border-radius: 5px;
    border: solid 1px #289efe;
    height: 100%;
    background: white;
    padding:0px;
    position:relative;
}

.smart-create-travel .item-smart-travel md-autocomplete-wrap {
    height:100%;
    border: 0px !important;
}
.smart-create-travel .item-smart-travel input {
    height:100% !important;
    padding-left:4rem !important;
}
.smart-create-travel .item-smart-travel:hover{
    border-radius: 5px;
    border: solid 2px #289efe;
    height: 100%;
}
.smart-create-travel  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a5a5a5;
    opacity: 1; /* Firefox */
}

    .smart-create-travel   :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #a5a5a5;
}

.smart-create-travel  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #a5a5a5;
}
.col-md-12 {

}