



.custom__theme_dark_blue .___main-color {
    color: #1e325a;
}

    .custom__theme_dark_blue .___sub-color, .custom__theme_dark_blue .__btn_main__color {
        color: #00adee;
    }

    .custom__theme_dark_blue .___soft-color {
        color: #d9f5ff;
    }

    .custom__theme_dark_blue .___soft--text-color {
        color: #70c6e6;
    }

    .custom__theme_dark_blue .___linear-gradient_bgcolor {
        background: #053fb4;
        background: transparent linear-gradient(189deg, #00adee 0%, #00adee 14%, #053fb4 35%, #1e325a 63%, #1e325a 100%) 0% 0% no-repeat padding-box;
    }

    .custom__theme_dark_blue .____header_table_color {
        color: #1e325a;
    }

    .custom__theme_dark_blue .____header_table_bgcolor {
        background: #d8dbe8;
    }

    .custom__theme_dark_blue .____header_subtable_bgcolor {
        background: #f2f5ff;
    }

    .custom__theme_dark_blue .____footer_table_bgcolor {
        background: #d9f5ff;
    }

    .custom__theme_dark_blue .carousel-dots li button:before {
        color: #00adee;
    }

    .custom__theme_dark_blue .ayodia-menubar-2 {
        background-color: #d9f5ff;
        background: #d9f5ff;
    }

    .custom__theme_dark_blue .main-color-fill {
        fill: #1e325a !important;
    }

    .custom__theme_dark_blue #main_scroll {
        background: none !important;
    }

    .custom__theme_dark_blue .color-main, .custom__theme_dark_blue .alert-profile-content .dropdown-menu.alert .h-footer {
        color: #1e325a;
    }

    .custom__theme_dark_blue .mini-menu, .custom__theme_dark_blue .nav-panel_list {
        background: #053fb4;
        background: transparent linear-gradient(189deg, #00adee 0%, #00adee 14%, #053fb4 35%, #1e325a 63%, #1e325a 100%) 0% 0% no-repeat padding-box;
    }

    .custom__theme_dark_blue .taskBlock .sub_menu {
        background: none;
    }

    .custom__theme_dark_blue .taskBlock .task-wait {
        margin-right: 0%;
        padding-left: 15px;
        padding: 0px 10px;
    }

    .custom__theme_dark_blue .task_titlehead {
        border-bottom: 1px solid;
    }

        .custom__theme_dark_blue .taskactive .task_titlehead, .custom__theme_dark_blue .nav-control .control-sub, .custom__theme_dark_blue .nav-profileBar .itemlist, .custom__theme_dark_blue .task_inner ul:hover, .custom__theme_dark_blue .task_titlehead:hover {
            background: #d9f5ff;
            color: #1e325a;
        }

    .custom__theme_dark_blue .-task-highlight {
        border-left: 8px solid #00adee;
    }

    .custom__theme_dark_blue .-task-highlight, .custom__theme_dark_blue .taskBlock .-task-highlight .sub_menu {
        background: #d9f5ff;
        opacity: 1;
    }

        .custom__theme_dark_blue .taskactive .-task-highlight .fa, .custom__theme_dark_blue .taskactive .task_titlehead .task-titletop, .custom__theme_dark_blue .-task-highlight .task-title, .custom__theme_dark_blue .-task-highlight .task-titletop, .custom__theme_dark_blue .taskBlock .-task-highlight .task-icon, .custom__theme_dark_blue .task_inner ul:hover .task-title, .custom__theme_dark_blue .task_titlehead:hover .task-title, .custom__theme_dark_blue .task_titlehead:hover .task-titletop {
            color: #1e325a;
        }

    .custom__theme_dark_blue .nav-control .control-sub:first-of-type {
        border-right: 1px solid !important;
    }

    .custom__theme_dark_blue .mini-menu .mini-menu-item {
        border: solid 1px #1e325a;
        background-color: none;
        background: none;
        border-right: 1px;
        border-left: 0px;
        border-top: 0px;
        border-bottom: 0px;
        height: 55px;
    }

    .custom__theme_dark_blue .nav-control .control-sub, .custom__theme_dark_blue .nav-control .control-sub:first-of-type {
        border: 5px solid #1e325a !important;
    }

    .custom__theme_dark_blue .h-footer .pagination > li > a, .custom__theme_dark_blue .h-footer .pagination > li > span {
        color: #1e325a;
    }

    .custom__theme_dark_blue .-bg-lightred {
        background-color: #f2f5ff;
    }

    .custom__theme_dark_blue .i-main-menu::after {
        background-color: #00adee;
    }

    .custom__theme_dark_blue .content-by-ayodia .ayodia-header-content.news-page {
        background-color: white !important;
        border-bottom: 3px solid #e6e6e6 !important;
    }

    .custom__theme_dark_blue .content-by-ayodia .ayodia-header-content {
        background: #1e325a;
    }

    .custom__theme_dark_blue .ayodia-box-summary .ayodia-box-summary-title {
        background: #d8dbe8;
        color: black;
    }

    .custom__theme_dark_blue .ayodia-box-summary .ayodia-box-summary-item {
        border: #d8dbe8 1px solid;
    }

    .custom__theme_dark_blue .ayodia-progress-item .progress-bar.color-company {
        background-color: #00adee;
    }

    .custom__theme_dark_blue .chart-svg-pro.c9 .svg-progress-2 {
        stroke: #1e325a;
    }

    .custom__theme_dark_blue .chart-svg-detail.c9 .review-box.color-2 {
        background-color: #1e325a;
    }

    .custom__theme_dark_blue .font-basic-color {
        color: #1e325a;
    }

    .custom__theme_dark_blue .ayodia-remark-d svg path {
        fill: #00adee !important;
    }

    .custom__theme_dark_blue .item-x-3 .item-x {
        border: 1px solid #00adee;
        color: #1e325a;
        background: #d9f5ff;
    }

        .custom__theme_dark_blue .item-x-3 .item-x:first-child, .custom__theme_dark_blue .item-x-3 .item-x:last-child {
            border: 1px solid #00adee;
            background: #d9f5ff;
        }

        .custom__theme_dark_blue .item-x-3 .item-x.item-active {
            background: #00adee;
        }

        .custom__theme_dark_blue .input-group .form-control:focus, .custom__theme_dark_blue .inprogress-search .form-control, .custom__theme_dark_blue .item-x-3 .item-x.item-active, .custom__theme_dark_blue .h-footer .pagination > .active > a, .custom__theme_dark_blue .h-footer .pagination > .active > a:focus, .custom__theme_dark_blue .h-footer .pagination > .active > a:hover, .custom__theme_dark_blue .h-footer .pagination > .active > span, .custom__theme_dark_blue .h-footer .pagination > .active > span:focus, .custom__theme_dark_blue .h-footer .pagination > .active > span:hover {
            border-color: #00adee !important;
        }

    .custom__theme_dark_blue .ViewContent_block .itemlist .itemin_sortnum {
        border: 1px solid #1e325a;
        background: #1e325a;
        display: inline-block;
    }

    .custom__theme_dark_blue .BGProfileBlock {
        background: #1e325a !important;
    }

    .custom__theme_dark_blue .exman-res_titletable {
        color: #70c6e6 !important;
    }

    .custom__theme_dark_blue .ViewContent_block .PositionName, .custom__theme_dark_blue .-txt-org {
        color: #70c6e6 !important;
    }

    .custom__theme_dark_blue li.page-current {
        background-color: #00adee;
    }

    .custom__theme_dark_blue .checkbox input[type=checkbox]:focus + label::before, .custom__theme_dark_blue .checkbox input[type=radio]:focus + label::before, .custom__theme_dark_blue .btn-primary.focus, .custom__theme_dark_blue .btn-primary:focus {
        outline: none;
    }

    .custom__theme_dark_blue .inprogress-search .btn {
        background: #00adee;
        outline: none;
    }

    .custom__theme_dark_blue .itemlist .itemin_nametask, .custom__theme_dark_blue .-txt-blue, .custom__theme_dark_blue .span_name {
        color: #1e325a !important;
    }

    .custom__theme_dark_blue .bar_title, .custom__theme_dark_blue .bar_bottom_reasone, .custom__theme_dark_blue .bar_expandlist .bar_expand-status, .custom__theme_dark_blue .panel-collapse .itemin_btn, .custom__theme_dark_blue .bar_bottom-status, .custom__theme_dark_blue .md-toolbar-tools, .custom__theme_dark_blue .ag-tabs .tab-header.active, .custom__theme_dark_blue .bar_left-icon.mo-duo, .custom__theme_dark_blue .travel_elm2 .bar_title {
        background: #1e325a !important;
    }

    .custom__theme_dark_blue .filter-export-box {
        background-color: #f2f5ff;
        background: #f2f5ff 0% 0% no-repeat padding-box;
    }

    .custom__theme_dark_blue .btn-action-instead-of .btn, .custom__theme_dark_blue .item-btn .itemin_btn, .custom__theme_dark_blue .m-btn-c1, .custom__theme_dark_blue .m-btn-c2, .custom__theme_dark_blue .m-btn-c3, .custom__theme_dark_blue .m-btn-co {
        background: #00adee 0% 0% no-repeat padding-box !important;
        border: #00adee 1px solid !important;
    }

        .custom__theme_dark_blue .btn-action-instead-of .btn:hover, .custom__theme_dark_blue .item-btn .itemin_btn:hover, .custom__theme_dark_blue .m-btn-co:hover, .custom__theme_dark_blue .m-btn-c1:hover, .custom__theme_dark_blue .m-btn-c2:hover, .custom__theme_dark_blue .m-btn-c3:hover {
            background: #0058bd 0% 0% no-repeat padding-box !important;
        }

        .custom__theme_dark_blue .btn-action-instead-of .btn:focus, .custom__theme_dark_blue .item-btn .itemin_btn:focus, .custom__theme_dark_blue .m-btn-co:focus, .custom__theme_dark_blue .m-btn-c1:focus, .custom__theme_dark_blue .m-btn-c2:focus, .custom__theme_dark_blue .m-btn-c3:focus {
            background: #0058bd 0% 0% no-repeat padding-box !important;
        }

    .custom__theme_dark_blue .m-btn-orange {
        border: #00adee 1px solid;
    }

    .custom__theme_dark_blue .btn-primary {
        background-color: #00adee;
        border-color: #00adee;
        outline: none;
    }

    .custom__theme_dark_blue .bar_bottom-status .bar_left-icon:active, .custom__theme_dark_blue .bar_bottom-status .bar_left-icon:hover, .custom__theme_dark_blue .bar_bottom-status .bar_right-icon:active, .custom__theme_dark_blue .bar_bottom-status .bar_right-icon:hover, .custom__theme_dark_blue .bar_expandlist .bar_expand-status .bar_left-icon:active, .custom__theme_dark_blue .bar_expandlist .bar_expand-status .bar_left-icon:hover, .custom__theme_dark_blue .bar_expandlist .bar_expand-status .bar_right-icon:active, .custom__theme_dark_blue .bar_expandlist .bar_expand-status .bar_right-icon:hover, .custom__theme_dark_blue .bar_bottom-expandlist .bar_right-icon.visible:hover, .custom__theme_dark_blue .bar_bottom-expandlist .bar_right-icon.visible:active, .custom__theme_dark_blue .bar_bottom-expandlist .bar_right-icon.visible {
        background: #1e325a !important;
    }

    .custom__theme_dark_blue .document-attachment .panel-default > .panel-heading {
        background-color: #1e325a;
    }

    .custom__theme_dark_blue .ProfileBlock .BGProfileBlock {
        background: #1e325a;
    }

    .custom__theme_dark_blue .ProfileBlock .profile-id, .custom__theme_dark_blue .ProfileBlock .exman-res_titletable {
        color: #00adee !important;
    }

    .custom__theme_dark_blue .ProfileBlock .profile-name, .custom__theme_dark_blue .organization_block .card-body h2 {
        color: #1e325a;
    }

    .custom__theme_dark_blue .table-style-2 .t-header {
        background-color: #d8dbe8;
        background: #d8dbe8;
    }

        .custom__theme_dark_blue .table-style-2 .t-header th {
            color: black;
        }

    .custom__theme_dark_blue .table-style-1 .t-header {
        background-color: #d8dbe8;
        background: #d8dbe8;
    }

        .custom__theme_dark_blue .table-style-1 .t-header th {
            color: black;
        }

    .custom__theme_dark_blue md-tabs .md-tab.md-active {
        color: #fff;
        background: #1e325a;
    }

    .custom__theme_dark_blue ._720kb-datepicker-calendar-header:nth-child(odd) {
        background: #1e325a;
    }

    .custom__theme_dark_blue ._720kb-datepicker-calendar-header:nth-child(even) {
        background: #f2f5ff;
        color: black;
    }

    .custom__theme_dark_blue ._720kb-datepicker-calendar-header a, .custom__theme_dark_blue ._720kb-datepicker-calendar-header a:hover ._720kb-datepicker-calendar-header:nth-child(odd) {
        color: black;
    }

    .custom__theme_dark_blue ._720kb-datepicker-calendar-days-header {
        background: #5c719a;
        color: #5c719a;
    }

    .custom__theme_dark_blue .glyphicon-chevron-left:before {
        color: white;
    }

    .custom__theme_dark_blue .glyphicon-chevron-right:before {
        color: white;
    }

    .custom__theme_dark_blue .font-basic-color {
        color: #1e325a;
    }

    .custom__theme_dark_blue .span_name {
        color: #1e325a !important;
    }

    .custom__theme_dark_blue .-txt-org {
        color: #00adee !important;
    }

    .custom__theme_dark_blue ._720kb-datepicker-calendar-day._720kb-datepicker-active, .custom__theme_dark_blue ._720kb-datepicker-calendar-day:hover {
        background: #1e325a none repeat scroll 0 0;
    }

    .custom__theme_dark_blue .table-style-1 tr.t-body:nth-of-type(odd) {
        background-color: #f2f5ff;
    }

    .custom__theme_dark_blue .table-footer {
        background-color: #d9f5ff;
        font-weight: bold;
    }

    .custom__theme_dark_blue select.form-control {
        border: 1px solid #000 !important;
    }

    .custom__theme_dark_blue .tb-m-padding-d.t-summary {
        background-color: #d9f5ff !important;
        font-weight: bold !important;
    }

    .custom__theme_dark_blue .box-tooltip {
        background-color: #f2f5ff;
    }

    .custom__theme_dark_blue .table-style-3 .t-header {
        background-color: #fafafa !important;
        background: #fafafa !important;
    }

    .custom__theme_dark_blue .table-style-3 .t-body td {
        background-color: #fafafa !important;
        border-top: #b7b7b7 1px solid;
    }

    .custom__theme_dark_blue .taskBlock .sub_menu {
        background: none;
    }

    .custom__theme_dark_blue .ayodia-body-content .ag-expad-able-div-box {
        color: #1e325a !important;
    }

    .custom__theme_dark_blue .radio.style2 label::after {
        background-color: #1e325a !important;
    }

    .custom__theme_dark_blue .table-style-2-1 .t-header {
        background-color: #1e325a;
        background: #1e325a;
    }

    .custom__theme_dark_blue .scrollbar-2::-webkit-scrollbar-thumb {
        background-color: #1e325a;
    }

    .custom__theme_dark_blue .my-tab a.active {
        color: #1e325a;
        border-bottom: #00adee 7px solid;
    }

    .custom__theme_dark_blue .my-tab a:hover {
        border-bottom: #d9f5ff 7px solid;
    }

    .custom__theme_dark_blue .svg-active {
        fill: #1e325a !important;
    }

    .custom__theme_dark_blue .bg-12 {
        background: #1e325a;
    }

    .custom__theme_dark_blue .detail-bar::after {
        border-color: transparent transparent #1e325a transparent;
    }

    .custom__theme_dark_blue .text-bar-detail-center {
        background-color: #1e325a;
    }

    .custom__theme_dark_blue .i-menubar .ayodia-menubar-2 {
        background-color: #d9f5ff;
        background: #d9f5ff;
    }

    .custom__theme_dark_blue .i-menubar {
        border: #00adee 1px solid;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-top: 25px;
        padding-bottom: 0px;
    }

        .custom__theme_dark_blue .i-menubar .text-d {
            padding: 15px 5px 0px 5px;
        }

        .custom__theme_dark_blue .i-menubar.active {
            background-color: #00adee;
        }

        .custom__theme_dark_blue .i-menubar svg g {
            fill: #1e325a;
        }

    .custom__theme_dark_blue .alert-profile-content .dropdown-menu.alert .h-footer {
        color: #1e325a;
    }

    .custom__theme_dark_blue .loadmore {
        color: #1e325a;
    }

    .custom__theme_dark_blue ::-webkit-scrollbar-thumb {
        background: #1e325a;
    }

    .custom__theme_dark_blue .form-control:focus {
        border-color: #00adee !important;
    }

    .custom__theme_dark_blue .TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 thead tr {
        background-color: #d8dbe8;
        border-bottom: 2px solid #d8dbe8;
        color: black;
    }

    .custom__theme_dark_blue .TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 td, .custom__theme_dark_blue .TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02.not-fix-width td, .custom__theme_dark_blue .travelExBlock .sum-expend .head-label {
        color: #000;
    }

    .custom__theme_dark_blue .TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 tbody tr:nth-child(even) {
        background: #f2f5ff !important;
    }
