/*! normalize.css v1.0.1 | MIT License | git.io/normalize */
dl, h3, menu, ol, p, pre {
  margin: 1em 0; }

ul, li {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

button, html, input, select, textarea {
  font-family: sans-serif; }

body, figure, form {
  margin: 0; }

a:focus {
  outline: dotted thin; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

h2 {
  font-size: 1.5em;
  margin: .83em 0; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: .83em;
  margin: 1.67em 0; }

h6 {
  font-size: .75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:after, q:before {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

dd {
  margin: 0 0 0 40px; }

menu, ol {
  padding: 0 0 0 40px; }

nav ol, nav ul, li {
  list-style: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'rsu_b';
  src: url("fonts/rsu_bold-webfont.eot");
  src: url("fonts/rsu_bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/rsu_bold-webfont.woff2") format("woff2"), url("fonts/rsu_bold-webfont.woff") format("woff"), url("fonts/rsu_bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'rsu_l';
  src: url("fonts/rsu_light-webfont.eot");
  src: url("fonts/rsu_light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/rsu_light-webfont.woff2") format("woff2"), url("fonts/rsu_light-webfont.woff") format("woff"), url("fonts/rsu_light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'rsu_r';
  src: url("fonts/rsu_regular-webfont.eot");
  src: url("fonts/rsu_regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/rsu_regular-webfont.woff2") format("woff2"), url("fonts/rsu_regular-webfont.woff") format("woff"), url("fonts/rsu_regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ptt_ess';
  src: url("fonts/ptt_ess.eot?vdcr39");
  src: url("fonts/ptt_ess.eot?vdcr39#iefix") format("embedded-opentype"), url("fonts/ptt_ess.ttf?vdcr39") format("truetype"), url("fonts/ptt_ess.woff?vdcr39") format("woff"), url("fonts/ptt_ess.svg?vdcr39#ptt_ess") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ptt_ess' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 28px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-hamburger:before {
  content: "\e912"; }

.icon-arrow_line_right:before {
  content: "\e900"; }

.icon-arrow_line_up:before {
  content: "\e901"; }

.icon-arrow_solid_down:before {
  content: "\e902"; }

.icon-arrow_solid_left:before {
  content: "\e903"; }

.icon-arrow_solid_right:before {
  content: "\e904"; }

.icon-arrow_solid_up:before {
  content: "\e905"; }

.icon-bag_baht:before {
  content: "\e906"; }

.icon-bill_baht:before {
  content: "\e907"; }

.icon-doc_man:before {
  content: "\e908"; }

.icon-doc_time:before {
  content: "\e909"; }

.icon-home:before {
  content: "\e90a"; }

.icon-magnify_glass:before {
  content: "\e90b"; }

.icon-man_tie:before {
  content: "\e90c"; }

.icon-pencil_line:before {
  content: "\e90d"; }

.icon-arrow_line_down:before {
  content: "\e90e"; }

.icon-arrow_line_left:before {
  content: "\e90f"; }

.icon-arrow_line_long_left:before {
  content: "\e910"; }

.icon-arrow_line_long_right:before {
  content: "\e911"; }

/*
$sm: "screen and (min-width: 375px)";
$md-600: "screen and (min-width: 600px)";
$md: "screen and (min-width: 780px)";
$lg: "screen and (min-width: 960px)";
*/
html {
  background-color: #e6e6e6; }

body {
  background: none;
  height: 100%;
  width: 100%;
  position: absolute; }

a:focus,
a:hover {
  text-decoration: none !important;
  cursor: pointer; }

.wrapper {
  height: 100%; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.-desk-only {
  display: block !important; }
  @media screen and (max-width: 992px) {
    .-desk-only {
      display: none !important; } }

.-res-only {
  display: none !important; }
  @media screen and (max-width: 992px) {
    .-res-only {
      display: block !important; } }

.-col_centered {
  float: none;
  margin: 0 auto; }

.-center-xy, .navProfile .ProfileBlock, .loginPage .loginBlock {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.-widthfull {
  width: 100% !important; }

.-img_circle {
  border-radius: 50%; }

.-mrg_btn {
  margin-bottom: 15px !important; }

.-mrg_btn2 {
  margin-bottom: 14% !important; }

.-bg-blue {
  background-color: #289efe !important; }

.-txt-toptitle {
  font-size: 20px; }

.-txt-blue {
  color: #289efe !important; }

.-txt-gray {
  color: #787878 !important; }

.-txt-org {
  color: #FBB03B !important; }

.-txt-green {
  color: #0FCAA4 !important; }

.-txt-white {
  color: #fff !important; }

.-settxt-center {
  text-align: center !important; }

.-settxt-right {
  text-align: right !important; }

.-settxt-right {
  text-align: right !important; }

.-fixed {
  position: fixed; }

.-setz20 {
  z-index: 20; }

.-pad5 {
  padding: 5px; }

.-pad10 {
  padding: 10px; }

.-pad20 {
  padding: 20px; }

.-task-highlight {
  background: rgba(40, 158, 255, 0.1) !important; }

.-tab-org {
  background-color: #FBB03B !important; }

.-tab-green {
  background-color: #0FCAA4 !important; }

.-tab-red {
  background-color: #FF443F !important; }

.-scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.-spacetop {
  padding-top: 2.6rem !important; }

.eventnone {
  pointer-events: none; }

nav {
  position: relative;
  z-index: 7; }

a {
  color: inherit; }
  a:hover {
    color: inherit; }

.mainNav {
  padding: 0 0% 0 2%;
  position: fixed; }
  @media screen and (max-width: 992px) {
    .mainNav {
      padding: 0 0%; } }
  .mainNav .navBlock {
    padding: 0;
    height: inherit; }
    .mainNav .navBlock .col-md-11,
    .mainNav .navBlock .col-xs-11 {
      padding-right: 0; }
      @media screen and (max-width: 992px) {
        .mainNav .navBlock .col-md-11,
        .mainNav .navBlock .col-xs-11 {
          padding-left: 0; } }
    .mainNav .navBlock .nav_b2, .mainNav .navBlock .navProfile {
      position: absolute;
      top: 0;
      height: inherit;
      z-index: -1;
      -webkit-transition: ease all .2s;
      transition: ease all .2s; }
      @media screen and (max-width: 992px) {
        .mainNav .navBlock .nav_b2, .mainNav .navBlock .navProfile {
          max-width: 440px;
          left: -100%; } }
      @media screen and (max-width: 768px) {
        .mainNav .navBlock .nav_b2 .col-xs-11, .mainNav .navBlock .navProfile .col-xs-11 {
          width: 100%; } }

.navActive {
  left: 0 !important; }

.nav-panel {
  height: inherit; }
  @media screen and (max-width: 992px) {
    .nav-panel {
      padding-left: 0; } }
  .nav-panel .nav-panel_list {
    background-color: #fff;
    padding: 55px 0 60px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }
    @media screen and (max-width: 992px) {
      .nav-panel .nav-panel_list {
        padding: 36px 0 50px; } }

.navProfile {
  font-family: 'rsu_r';
  font-size: 18px;
  top: -3000% !important;
  -webkit-transition: ease all .3s !important;
  transition: ease all .3s !important; }
  @media screen and (max-width: 992px) {
    .navProfile {
      -webkit-transition: ease all .2s !important;
      transition: ease all .2s !important;
      left: inherit !important;
      top: -3000% !important;
      max-width: 100% !important; } }
  .navProfile .nav-panel_list {
    padding: 0;
    overflow: hidden; }
    @media screen and (max-width: 992px) {
      .navProfile .nav-panel_list {
        overflow-y: scroll; } }
  .navProfile .ProfileBlock {
    text-align: center;
    margin: 0 auto;
    width: 100%; }
    @media screen and (max-width: 992px) {
      .navProfile .ProfileBlock {
        padding: 10rem 0; } }
    @media screen and (max-width: 768px) {
      .navProfile .ProfileBlock {
        position: relative;
        top: inherit;
        left: inherit;
        -webkit-transform: inherit;
                transform: inherit;
        padding: 29% 0; } }
  .navProfile .nav-control .profile-control {
    max-width: 100%; }
  @media screen and (max-width: 992px) {
    .navProfile .col-xs-11 {
      width: 100% !important; } }
  .navProfile .nav-control {
    display: block; }
    @media screen and (max-width: 992px) {
      .navProfile .nav-control {
        display: none; } }

.navProfileActive {
  top: 0 !important; }

.ProfileBlock p {
  margin: 5px; }
.ProfileBlock .profile-img {
  max-width: 170px;
  box-shadow: 0 0px 7px 2px rgba(0, 0, 0, 0.2); }
.ProfileBlock .profile-name {
  margin-top: 2.5rem;
  font-size: 24px; }
  @media screen and (max-width: 550px) {
    .ProfileBlock .profile-name {
      margin-top: 2rem; } }
.ProfileBlock .profile-id {
  margin: 1rem;
  font-size: 20px;
  color: #fff;
  background-color: #289efe;
  padding: 2px 30px;
  display: inline-block;
  border-radius: 3px; }
.ProfileBlock .profile-rank, .ProfileBlock .profile-agency {
  color: #787878; }
  .ProfileBlock .profile-rank span, .ProfileBlock .profile-agency span {
    color: #000;
    padding-left: 5px; }

.nav-profileBar {
  font-family: 'rsu_r';
  font-size: 20px;
  z-index: 20;
  background-color: #fff;
  overflow: hidden;
  height: 3.5rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15); }
  @media screen and (max-width: 992px) {
    .nav-profileBar {
      height: 2.2rem;
      position: relative; } }
  .nav-profileBar ul {
    text-align: center; }
  .nav-profileBar li {
    display: inline-block; }
  .nav-profileBar .dropdown {
    display: table; }
  .nav-profileBar img {
    max-width: 75px; }
    @media screen and (max-width: 992px) {
      .nav-profileBar img {
        max-width: 60px; } }
  .nav-profileBar .profilebar-hamburger {
    position: relative;
    margin: 1rem auto 0;
    float: left;
    padding-left: 15px;
    z-index: 1; }
    @media screen and (max-width: 992px) {
      .nav-profileBar .profilebar-hamburger {
        margin: .4rem auto 0; } }
    @media screen and (max-width: 992px) {
      .nav-profileBar .profilebar-hamburger span {
        font-size: 22px; } }
    .nav-profileBar .profilebar-hamburger a {
      outline-style: none; }
  .nav-profileBar .profilebar-img {
    float: left;
    padding-left: 15px;
    -webkit-transition: ease margin .2s;
    transition: ease margin .2s; }
  .nav-profileBar .profilebar-id {
    position: absolute;
    left: 0;
    right: 0;
    margin: 1rem auto 0; }
    @media screen and (max-width: 992px) {
      .nav-profileBar .profilebar-id {
        margin: .4rem auto 0; } }
    .nav-profileBar .profilebar-id a {
      position: relative; }
  .nav-profileBar .profilebar-logo {
    margin-top: .35rem;
    float: right;
    text-align: right;
    padding-right: 15px; }
    @media screen and (max-width: 992px) {
      .nav-profileBar .profilebar-logo {
        margin-top: 0rem; } }
  .nav-profileBar .dropdown {
    display: inline-block; }
  .nav-profileBar .dropdown-menu li {
    display: block;
    text-align: left; }

.profilebar_img img {
  max-width: 80px;
  -webkit-transform: translate(0, -13%);
          transform: translate(0, -13%);
  vertical-align: middle; }

.profilebar_img-small {
  display: none; }
  .profilebar_img-small img {
    -webkit-transition: ease top .3s;
    transition: ease top .3s;
    position: absolute;
    left: -30px;
    top: 0;
    max-width: 25px;
    vertical-align: middle; }
  @media screen and (max-width: 992px) {
    .profilebar_img-small {
      display: inline-block; } }

.taskBlock {
  font-family: 'rsu_l';
  width: 100%;
  height: auto;
  color: #787878;
  margin-bottom: 5px; }
  .taskBlock .task-titletop {
    font-family: 'rsu_r';
    padding-right: 2%;
    width: 68%;
    display: inline-block;
    font-size: 20px; }
  .taskBlock .task-wait {
    font-size: 17px;
    display: inline-block;
    width: 13%;
    margin-right: 3%;
    color: red;
    vertical-align: middle;
    padding-left: 2%; }
  .taskBlock .task-icon {
    font-family: "ptt_ess";
    display: inline-block;
    width: 10%;
    margin-right: 3%;
    text-align: center;
    vertical-align: middle; }
  .taskBlock .task-title {
    padding-right: 2%;
    width: 68%;
    display: inline-block;
    margin-bottom: 14px;
    font-size: 18px;
    vertical-align: text-top; }
  .taskBlock:last-child {
    padding-bottom: 10px; }

.navCircle,
.navCircle_list {
  overflow: hidden;
  max-width: 50px; }

.navCircle_list {
  margin: 0 auto;
  max-width: 41px; }

.navCircle .inCircle,
.navCircle_list .inCircle {
  font-family: 'rsu_l';
  font-size: 19px;
  display: block;
  float: left;
  padding: 45%;
  width: auto;
  height: auto;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  background: #fff;
  text-align: center;
  position: relative;
  border: 2px solid #787878;
  -webkit-tap-highlight-color: transparent; }

.navCircle .inCircle span,
.navCircle_list .inCircle span {
  position: absolute;
  width: 100%;
  left: 0;
  top: 32%;
  line-height: 1em;
  height: 1em;
  overflow: hidden; }

.navCircle_list .inCircle {
  padding: 44%; }

.navCircle_list .inCircle span {
  top: 28%; }

.navCircle_list:before,
.navCircle_list:after {
  content: "\00a0";
  width: 2px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  height: 12px;
  background-color: #787878;
  left: 0;
  right: 0;
  margin: 0 auto; }

.task_titlehead {
  padding: .4rem 0; }
  .task_titlehead .inCircle {
    color: #fff;
    background: #787878; }
  .task_titlehead:hover {
    background-color: rgba(234, 246, 255, 0.5);
    cursor: pointer; }
  .task_titlehead .task-titletop {
    margin-bottom: 7px;
    margin-top: 7px; }
  .task_titlehead a {
    color: inherit; }
    .task_titlehead a:hover {
      color: inherit; }

.task_inner {
  margin-bottom: 5px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s; }
  .task_inner ul:hover {
    background-color: rgba(234, 246, 255, 0.5);
    cursor: pointer; }

.taskactive {
  color: #289efe; }
  .taskactive .task_titlehead .inCircle {
    color: #fff;
    background: #289EFF;
    border: 2px solid #289efe; }
  .taskactive .navCircle_list .inCircle {
    border: 2px solid #289efe; }
  .taskactive .navCircle_list:before,
  .taskactive .navCircle_list:after {
    background-color: #289efe; }

/*
.navCircle,
.navCircle_list {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.inCircle {
    background-color: #fff;
    color: #2095F2;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #2095F2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    transition: ease all .2s;
    outline-style: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
       
}
*/
.nav-control {
  position: absolute;
  bottom: 0;
  z-index: 3; }
  .nav-control .control-sub {
    padding: 12px;
    background-color: #cccccc;
    color: #fff; }
    .nav-control .control-sub:hover, .nav-control .control-sub:active {
      background-color: #656565; }
  .nav-control .profile-control {
    font-family: 'rsu_l';
    font-size: 20px; }
    .nav-control .profile-control .fordropshadow {
      box-shadow: 0px -2px 2px 0px #bfbfbf; }
    @media screen and (max-width: 992px) {
      .nav-control .profile-control {
        max-width: 450px; } }

.profile-control {
  text-align: center; }

.-sm_navCicle {
  width: 5px !important;
  height: 5px !important;
  margin: 0 auto; }

a:focus,
a:hover {
  text-decoration: none !important; }

.row {
  width: 100%;
  margin-left: 0px; }

.form-control {
  height: 38px;
  box-shadow: inset 0 0px 5px 2px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 0px 5px 2px rgba(0, 0, 0, 0.075); }

.span_name {
  font-family: 'rsu_l';
  font-size: 17px;
  color: #787878;
  display: inline-block !important; }

/* login *****************/
.img_loginlogo {
  width: 100%;
  height: auto; }

.loginPage .loginBlock {
  width: 100%;
  position: fixed; }
  .loginPage .loginBlock .loginBlockin {
    font-family: 'rsu_l';
    font-size: 18px;
    max-width: 400px;
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      .loginPage .loginBlock .loginBlockin {
        margin: 20% auto; } }
  @media screen and (max-width: 768px) {
    .loginPage .loginBlock {
      position: relative;
      top: inherit;
      left: inherit;
      -webkit-transform: inherit;
              transform: inherit; } }
.loginPage .btn_submit {
  width: 100%;
  padding: 0 0; }
  .loginPage .btn_submit [class^="icon-"],
  .loginPage .btn_submit [class*=" icon-"] {
    font-size: 55px; }
.loginPage .dropdown_login {
  width: 100%;
  text-align: left; }
.loginPage .caret {
  float: right;
  border-top: none;
  margin-top: -6px; }
  .loginPage .caret:before {
    content: "\e90e";
    font-size: 16px;
    margin: 0px -8px; }
.loginPage button#dropdownMenu1 {
  font-family: 'rsu_l';
  font-size: 18px; }
.loginPage ul.dropdown-menu a {
  font-size: 18px;
  padding-left: 5px;
  color: #444; }

/* MainDocPage *****************/
.mainBlock {
  padding: 0 3.1% 0 3%;
  height: 100%; }
  @media screen and (max-width: 992px) {
    .mainBlock {
      padding: 0 0%; } }
  .mainBlock .contentHead {
    z-index: 7;
    position: relative; }
    @media screen and (max-width: 992px) {
      .mainBlock .contentHead {
        z-index: 6; } }
  .mainBlock .contentBlock {
    height: 100%;
    background-color: #fff;
    height: 100%;
    padding: 0; }
  .mainBlock .contentBody .contentBodyin {
    padding-top: 1.5rem;
    margin-top: -25px; }
  .mainBlock .contentPagination {
    position: fixed;
    bottom: 0;
    height: 2.7rem;
    background-color: #fff;
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.2); }

.bar-content {
  color: #fff; }
  .bar-content .bar_title {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    background-color: #289efe;
    height: 3.5rem;
    overflow: hidden;
    z-index: 5; }
    @media screen and (max-width: 550px) {
      .bar-content .bar_title {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px; } }
    .bar-content .bar_title .col-md-12 {
      padding-right: 0; }
    .bar-content .bar_title .bar_left {
      font-family: 'rsu_l';
      font-size: 24px;
      margin: .8rem auto 0;
      float: left; }
    .bar-content .bar_title .bar_right {
      padding: 1rem 1.3rem;
      float: right; }
      .bar-content .bar_title .bar_right:hover {
        cursor: pointer; }
      .bar-content .bar_title .bar_right .dropdown-menu {
        left: inherit;
        right: 0;
        text-align: right; }
    .bar-content .bar_title input[type="checkbox"]#checkbox0 + label::before {
      background-color: transparent !important;
      border-color: #fff; }
    .bar-content .bar_title input[type="checkbox"]#checkbox0:checked + label::after {
      color: #fff; }

.contentHead .bar_title {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); }
  @media screen and (max-width: 992px) {
    .contentHead .bar_title {
      padding-top: 2rem;
      height: 5.5rem; } }
.contentHead .bar_right {
  padding: 1rem 1.3rem;
  border-left: 1px solid rgba(76, 215, 222, 0.58);
  float: right; }
  .contentHead .bar_right:hover {
    cursor: pointer;
    background-color: #1C90ED; }

.bar_search {
  margin-top: -3.5rem;
  background-color: #1C90ED;
  height: 3.5rem;
  overflow: hidden;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); }
  .bar_search .search_block {
    margin: .7rem auto 0; }
    .bar_search .search_block .form-control {
      background-color: #1283DE;
      border: 1px solid #279DFF;
      color: #fff; }
    .bar_search .search_block .btn {
      font-family: 'rsu_l';
      font-size: 18px;
      padding: 5.5px 20px; }
    .bar_search .search_block .btn-default {
      background-color: #1283DE;
      border: 1px solid #279DFF;
      border-left-color: #ccc;
      border-color: #279DFF;
      color: #fff; }
  .bar_search input {
    font-family: 'rsu_l';
    font-size: 18px; }

.bar_searchactive {
  margin-top: 0; }

.contentBodyin {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  .contentBodyin .bar_title {
    overflow: visible; }
    .contentBodyin .bar_title .bar_left {
      margin: .6rem auto 0;
      font-size: 18px; }
    .contentBodyin .bar_title .bar_right.barright_icon {
      margin: 0 auto;
      padding: 1rem 1rem;
      border-left: 1px solid rgba(76, 215, 222, 0.58);
      float: right; }
      .contentBodyin .bar_title .bar_right.barright_icon:hover, .contentBodyin .bar_title .bar_right.barright_icon:active {
        cursor: pointer;
        background-color: #1C90ED; }
      .contentBodyin .bar_title .bar_right.barright_icon span {
        font-size: 20px; }
    .contentBodyin .bar_title .bar_right.barright_dropdown {
      padding: .2rem 2rem;
      margin: .6rem auto 0;
      background-color: transparent;
      font-family: 'rsu_l'; }
      @media screen and (max-width: 550px) {
        .contentBodyin .bar_title .bar_right.barright_dropdown {
          padding: .2rem .7rem; } }
    .contentBodyin .bar_title .dropdown > .btn-default {
      font-family: 'rsu_l';
      font-size: 16px;
      background-color: transparent;
      color: #fff; }
    .contentBodyin .bar_title .btn .caret {
      margin-left: 60px; }
      @media screen and (max-width: 550px) {
        .contentBodyin .bar_title .btn .caret {
          margin-left: 25px; } }

.MainDocPage .contentHead .bar_title {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); }

.body_content {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 30px; }
  @media screen and (max-width: 550px) {
    .body_content {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px; } }
  .body_content .itemlist_block, .body_content .announcelist_block {
    position: relative;
    padding: 2.5% 0 0;
    min-height: 7rem;
    border: 1px solid #CBCBCB; }
    @media screen and (max-width: 550px) {
      .body_content .itemlist_block, .body_content .announcelist_block {
        min-height: 11rem; } }
    .body_content .itemlist_block .checkbox, .body_content .announcelist_block .checkbox {
      margin-top: 0px;
      display: inline-block;
      vertical-align: top; }
    .body_content .itemlist_block .itemlist, .body_content .announcelist_block .itemlist {
      display: inline-block; }

.MainDocPage .body_content .itemlist_block, .MainDocPage .body_content .announcelist_block {
  border-top-style: none; }
  .MainDocPage .body_content .itemlist_block:last-child, .MainDocPage .body_content .announcelist_block:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }

.itemlist {
  display: inline-block;
  width: 80%; }
  @media screen and (max-width: 550px) {
    .itemlist {
      width: 88%; } }
  .itemlist .item-title {
    font-family: 'rsu_l';
    font-size: 16px;
    margin-bottom: 2px; }
  .itemlist .item-name {
    font-family: 'rsu_r';
    font-size: 18px; }
  .itemlist .item-desc {
    padding-bottom: 30px; }
  .itemlist .itemin_sortnum {
    font-family: 'rsu_l';
    border: 1px solid #000;
    padding: 0px 7px;
    border-radius: 3px; }
  .itemlist .itemin_nametask {
    margin: 0 0 0 6px;
    display: inline-block;
    color: #289efe; }
  .itemlist .itemin_name {
    font-size: 16px; }
    @media screen and (max-width: 550px) {
      .itemlist .itemin_name {
        font-size: 15px; } }
  .itemlist .itemin_desc {
    color: #7F7F7F; }

.item-editstatus {
  font-family: 'rsu_l';
  font-size: 15px;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 2.5%;
  right: 3.5%; }
  @media screen and (max-width: 768px) {
    .item-editstatus {
      right: 4%; } }
  @media screen and (max-width: 550px) {
    .item-editstatus {
      top: inherit;
      right: inherit;
      left: 0;
      bottom: 0;
      padding-left: 2rem; } }

.item-status {
  position: absolute;
  bottom: 0;
  right: 3.5%; }
  @media screen and (max-width: 768px) {
    .item-status {
      right: 4%; } }
  @media screen and (max-width: 550px) {
    .item-status {
      font-size: 12px;
      right: 5%; } }
  .item-status .itemin_tabstatus,
  .item-status .itemin_step {
    font-family: 'rsu_l';
    font-size: 16px;
    display: inline-block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    padding: 4px 0;
    color: #fff; }
  .item-status .itemin_tabstatus {
    background-color: #B2B2B2;
    width: 7rem; }
    @media screen and (max-width: 550px) {
      .item-status .itemin_tabstatus {
        width: 6.5rem; } }
  .item-status .itemin_step {
    background-color: #323232;
    width: 4.5rem; }
    @media screen and (max-width: 550px) {
      .item-status .itemin_step {
        width: 3rem; } }

.ico_edit {
  padding: 0 5px;
  font-size: 11px; }

.contentPagein {
  text-align: center;
  margin: 0.5rem auto 0;
  color: #B2B2B2; }
  .contentPagein .page-prev {
    display: inline-block;
    vertical-align: middle;
    float: left; }
  .contentPagein .page-pagenum {
    vertical-align: sub;
    display: inline-block; }
  .contentPagein .page-next {
    display: inline-block;
    vertical-align: middle;
    float: right; }
  .contentPagein li {
    display: inline-block;
    padding: 0 10px;
    font-size: 16px; }
  .contentPagein .pageactive {
    color: #289efe; }
  .contentPagein a {
    color: #B2B2B2; }
    .contentPagein a:hover {
      color: #289efe; }

/* AnnouncePage *****************/
.body_content .announcelist_block {
  padding: 0;
  border-top-style: solid;
  height: auto;
  margin-bottom: 15px;
  border-radius: 4px; }
  @media screen and (max-width: 550px) {
    .body_content .announcelist_block {
      border-radius: 4px; } }

.announcelist_block .itemin_name {
  font-family: 'rsu_r';
  font-size: 22px;
  margin: 1em 0 .5rem;
  line-height: 20px; }
.announcelist_block .item-desc {
  padding-bottom: 20px; }
  .announcelist_block .item-desc p {
    margin: 0rem 0 1.5rem; }
.announcelist_block .item-publish_date {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #B2B2B2; }
  .announcelist_block .item-publish_date span {
    color: #fff;
    padding: 2px 15px;
    font-family: rsu_l;
    font-size: 16px; }

.item-showimg img {
  width: 100%;
  height: auto; }

/* 
by Chanala Wilangka
*/
