/* overwrite section*/

.common_nobill_elm2 .dropdown .btn {
    width: 100%;
    height: 41px;
    line-height: 27px;
}

.bar_expandlist .bar_expand-status .bar_statusword {
    max-width: 70%;
}

.bar_expandlist {
    position: relative;
}


/**/

ul.itemlist_table-res.-detailright .exman-res_detailtable.text-aligh-left {
    display: block;
    width: 100%;
    text-align: left;
}

ul.itemlist_table-res.-detailright .exman-res_detailtable.only-text-aligh-left {
    text-align: left;
}

label.label-under-input {
    padding-top: 5px;
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.travelExBlock label.black-color {
    color: #000000;
}

.travelExBlock label.red-color-small {
    color: #FF0000;
    font-size: 13px;
}

.travelExBlock label.normal-font {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.common_nobill_elm2 .input-group-addon:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}


/*
.dropdown-toggle span.caret {
    position: absolute;
    right: 10px;
}
*/

.travelExBlock .plus-button {
    background-color: rgba(15, 202, 164, 0.1);
    font-family: rsu_l;
    font-size: 17px;
    font-weight: 400;
    color: #0FCAA4;
}

.travelExBlock .plus-button .icon-plus_large {
    font-size: 17px;
}

.travelExBlock .list-expend {
    color: #289efe;
    background-color: #f7f7f7;
    font-family: rsu_l;
    font-size: 17px;
    font-weight: 400;
    color: #289efe;
    padding: 10px;
    margin-top: 10px;
}

.travelExBlock .list-expend .input-group-addon {
    background-color: #FFFFFF;
}

.list-expend .itemlist>div>label {
    margin-top: 10px;
    color: #B2B2B2;
}

.travelExBlock .sum-expend {
    color: #289efe;
    background-color: rgba(40, 158, 255, .1);
    font-family: rsu_l;
    font-size: 17px;
    font-weight: 400;
    color: #289efe;
    padding: 10px 10px 4px 10px;
    margin-top: 10px;
}

.travelExBlock .sum-expend.white-bg {
    color: #289efe;
    background-color: #ffffff;
    font-family: rsu_l;
    font-size: 17px;
    font-weight: 400;
    color: #289efe;
    padding: 0px;
    margin-top: 10px;
}

.travelExBlock .sum-expend .head-label {
    color: #289efe;
    padding-left: 10px;
    margin-bottom: 0px;
}

.travelExBlock .sum-expend .sum-label {
    color: #289efe;
    margin-left: 50px;
    margin-bottom: 0px;
    font-size: 22px;
}

.etc-payment-page label.head {
    font-family: rsu_l;
    font-size: 20px;
    font-weight: 500;
    color: #289efe;
    line-height: 16px;
    margin-bottom: 7px;
}


/*.etc-payment-page .body_content {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.38);
}*/

.etc-payment-page .body_content {
    border-radius: 4px;
}

.etc-payment-page .body_content .itemlist_block {
    padding: 2% 0 .5% 0;
}

.etc-payment-page .item-btn .itemin_btn {
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
}

.etc-payment-page .item-btn .itemin_btn i {
    font-size: 20px;
}

.etc-payment-page .ico_datestart {
    font-size: 20px;
    color: #B1ABAB;
}

.etc-payment-page .calendar {
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
}

.etc-payment-page .item-name .text-head {
    font-family: rsu_r;
    font-size: 18px;
    color: #7F7F7F;
}

.etc-payment-page .item-desc {
    padding-bottom: 5px;
}

.etc-payment-page .item-desc .text-desc {
    font-size: 0.9rem;
    font-weight: 500;
}

.etc-payment-page .item-desc .text-desc.status {
    color: #FBB03B;
}

.etc-payment-page .item-desc .text-desc.sum {
    color: #289efe;
}

.etc-payment-page .item-check-doc {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #289efe;
    background-color: rgba(40, 158, 255, .1);
    font-size: 24px;
    padding: .4rem 0.6rem;
    border-radius: 0px;
}

.etc-payment-page .item-check-doc .icon-doc {
    font-size: 24px;
}

.etc-payment-page .body_content .itemlist_block.no-padding,
.etc-payment-page .body_content .itemlist>.col-sm-12,
.travel_Ex_Man_41322 .body_content .traveltableBlock table.travelEx_tablesec02 tbody td.no-padding,
.travel_Ex_Man_41324 .ico_lightaction span,
.travel_Ex_Man_41322 .ico_lightaction span {
    padding: 0px;
}

.etc-payment-page .bar_searchactive {
    height: auto;
    /*padding-bottom: 20px;*/
}

.etc-payment-page .bar_searchactive .dropdown-toggle span.caret {
    position: absolute;
    right: 10px;
}

.etc-payment-page .bar_search .search_block {
    margin: .6em auto 0;
}

.etc-payment-page .bar_search .search_block label {
    color: #03eeff;
    font-family: rsu_r;
    font-size: 18px;
    font-weight: 500;
}

.etc-payment-page .bar_search .search_block .ico_datestart {
    font-size: 20px;
    color: #04efff;
}

.etc-payment-page .bar_search .search_block .ico_dateend {
    font-size: 20px;
    color: #04efff;
}

.etc-payment-page .bar_search .search_block input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #279fff;
}

.etc-payment-page .bar_search .search_block input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #279fff;
    opacity: 1;
}

.etc-payment-page .bar_search .search_block input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #279fff;
    opacity: 1;
}

.etc-payment-page .bar_search .search_block input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #279fff;
}

.etc-payment-page .bar_search .search_block .input-group-addon {
    background-color: #1283DE;
    border: 1px solid #279DFF;
    color: #04efff;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    cursor: pointer;
}

.etc-payment-page .bar_search .search_block .input-group-addon .icon-magnify_glass {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
}

.etc-payment-page .bar_search .search_block .btn-default.btn-white {
    color: #31a4ff;
    background-color: #fff;
    width: 100%;
    padding-top: 8px;
    margin-top: 4px;
    border-radius: 4px;
}

.TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02.not-fix-width td:nth-child(1),
.TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02.not-fix-width td:nth-child(2),
.TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 td {
    width: auto;
    white-space: nowrap;
}

.TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02.not-fix-width {
    table-layout: auto;
}


/* Travel_Ex_Man_41322 page*/

.travel_Ex_Man_41322 .body_content .traveltableBlock table.travelEx_tablesec02 tbody td .action-del {
    float: right;
}

.travel_Ex_Man_41322 .travelExMan_content-res.-xs_sm-only .plus-button {
    margin-top: 10px;
}


/*end Travel_Ex_Man_41322 page*/


/* Travel_Ex_Man_41324 page*/

.travel_Ex_Man_41324 .traveltableBlock td span {
    color: #CBCBCB;
    font-size: 20px;
    vertical-align: text-bottom;
    padding-right: 5px;
}

.travel_Ex_Man_41324 .travelExMan_content-res span {
    color: #CBCBCB;
    font-size: 17px;
    vertical-align: text-bottom;
    padding-right: 0px;
}

.travelEx_tablesec02 .checkbox .black-color {
    line-height: 20px;
}

.travel_Ex_Man_41324 .allowance span {
    color: #CBCBCB;
    font-size: 17px;
}

.travel_Ex_Man_41324 .allowance .bar_right-icon span {
    color: #fff;
    font-size: 18px;
}

.travel_Ex_Man_41324 .travelExMan_content-res.travelEx_tablesec02 .expandDetail_01,
.travel_Ex_Man_41324 .travelExMan_content-res.travelEx_tablesec02 .expandDetail_02 {
    padding: 0px 0px 0px 0px;
    border-radius: 0px;
}

.travel_Ex_Man_41324 ul.itemlist_table-res {
    padding: 10px 0px 10px 5px;
}

.travel_Ex_Man_41324 .exman-res_titletable {
    width: 20%;
}

.travel_Ex_Man_41324 .exman-res_detailtable {
    width: 75%;
}

.travel_Ex_Man_41324 .allowance .date-div {
    color: #f1b020;
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.travel_Ex_Man_41324 .refund .date-div {
    color: #000000;
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.travel_Ex_Man_41324 .allowance .checkbox label {
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.travel_Ex_Man_41324 .allowance .checkbox,
.travelExBlock .sum-expend.no-top-margin {
    margin-top: 0px;
}

.travel_Ex_Man_41324 .allowance .sum label {
    color: #289efe;
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.travel_Ex_Man_41324 .allowance-footer .footer-head {
    color: #B2B2B2;
    font-size: 17px;
}

.travel_Ex_Man_41324 .allowance-footer {
    margin-top: 7px;
}

.travel_Ex_Man_41324 .allowance-footer .footer-desc {
    color: #B2B2B2;
    font-size: 17px;
    text-align: right;
    width: 100%;
}

.travel_Ex_Man_41324 .allowance-footer .footer-desc .normal-font {
    color: #000000;
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.travel_Ex_Man_41324 .allowance .itemlist {
    margin-bottom: -6px;
}

.travelExBlock input.no-bot-margin {
    margin-bottom: 0px;
}

.travel_Ex_Man_41324 .travelExBlock .sum-expend .sum-label {
    margin-left: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
}

.travel_Ex_Man_41324 .travelExBlock .sum-expend .sum-label-head {
    margin-left: 0px;
    color: #289efe;
    margin-bottom: 0px;
    font-size: 22px;
}

.travel_Ex_Man_41324 .travelExBlock .sum-expend .sum-label-head-17px {
    margin-left: 0px;
    color: #289efe;
    margin-bottom: 0px;
    font-size: 17px;
}

.travel_Ex_Man_41324 .allowance .col-xs-4 .sum-label-head-desc,
.travel_Ex_Man_41324 .allowance .col-xs-3 .sum-label-head-desc,
.travel_Ex_Man_41324 .allowance .col-xs-5 .sum-label-head-desc {
    color: #B2B2B2;
    display: none;
}

.vat-bill .forscroll-x table {
    width: 1200px;
}

.travel_Ex_Man_41324 .refund .date-div span {
    color: #CBCBCB;
    font-size: 17px;
}

.travel_Ex_Man_41324 .refund .ico_lightaction {
    float: right;
    margin-right: 0px;
}

.travel_Ex_Man_41324 .refund .item-check-doc {
    color: #289efe;
    background-color: rgba(40, 158, 255, .1);
    font-size: 14px;
    border-radius: 0px;
    padding: 6px 7px;
}

.travel_Ex_Man_41324 .refund .item-check-doc span {
    color: #289efe;
    font-size: 18px;
}

.travel_Ex_Man_41324 .refund .text label {
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.travel_Ex_Man_41324 .refund .list-expend {
    background-color: #ffffff;
}

.travel_Ex_Man_41324 .refund .itemlist {
    background-color: #f7f7f7;
    margin-bottom: -5px;
}

.travel_Ex_Man_41324 .refund .itemlist.white-bg {
    background-color: #ffffff;
}

.travel_Ex_Man_41324 .refund .itemlist.tran-bg {
    background-color: transparent;
}

.travel_Ex_Man_41324 .refund .col-xs-4 .sum-label-head-desc {
    display: none;
}

.some-margin-top-5px {
    margin-top: 5px;
}

.travel_Ex_Man_41324 .refun-header .refun-head {
    color: #B2B2B2;
    font-size: 17px;
}

.travel_Ex_Man_41324 .refun-header .refun-desc {
    color: #B2B2B2;
    font-size: 17px;
    text-align: right;
    width: 100%;
}

.travel_Ex_Man_41324 .refun-header .refun-desc .normal-font {
    color: #000000;
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.travel_Ex_Man_41324 .refun-footer .footer-head {
    color: #f1b020;
    font-size: 17px;
}

.travel_Ex_Man_41324 .refun-footer .footer-desc {
    color: #f1b020;
    font-size: 17px;
    text-align: right;
    width: 100%;
}

.travel_Ex_Man_41324 .refun-footer .footer-desc .normal-font {
    color: #f1b020;
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.travel_Ex_Man_41324 .refun-footer2 .footer-head {
    color: #f1b020;
    font-size: 17px;
}

.travel_Ex_Man_41324 .refun-footer2 .footer-desc {
    color: #f1b020;
    font-size: 17px;
    text-align: right;
    width: 100%;
}

.travel_Ex_Man_41324 .refun-footer2 .footer-desc .normal-font {
    color: #f1b020;
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.travel_Ex_Man_41324 .refund .list-expend .itemlist .button-group {
    padding-right: 0px;
}

.desktop-text-right {
    text-align: right;
}

.TravelPage .btn.no-radius,
.travel_Ex_Man_41324 ul.itemlist_table-res,
.travel_Ex_Man_41322 ul.itemlist_table-res {
    border-radius: 0px;
    margin-left: 1px;
}

.travel_Ex_Man_41324 .ico_lightaction,
.travel_Ex_Man_41322 .ico_lightaction {
    padding: 6px 9px;
}


/*end Travel_Ex_Man_41324 page*/

.travel_Ex_Man_41322 .travelExMan_content-res .bar_left-icon,
.travel_Ex_Man_41324 .travelExMan_content-res .bar_left-icon {
    padding: 8px 10px;
}

.travel_Ex_Man_41322 .bar_expandlist .bar_expand-status,
.travel_Ex_Man_41324 .bar_expandlist .bar_expand-status {
    height: 2.4rem;
}

.travel_Ex_Man_41322 .body_content,
.travel_Ex_Man_41324 .body_content {
    border-radius: 4px 4px 4px 4px;
}

.travel_Ex_Man_41324 .bar_expand-status,
.travel_Ex_Man_41322 .bar_expand-status {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.travel_Ex_Man_41322 .travelExMan_content-res .dummy span,
.travel_Ex_Man_41324 .travelExMan_content-res .dummy span {
    color: #CBCBCB;
    font-size: 20px;
    vertical-align: text-bottom;
    padding: 0px;
}

.travelExBlock .plus-button span {
    color: #0FCAA4;
}

@media screen and (max-width: 768px) {
    .etc-payment-page .bar_search .search_block .btn-default.btn-white {
        text-align: center;
        width: 50%;
        margin-top: 9px;
    }
    .travel_Ex_Man_41322 .travelExBlock .dropdown,
    .travel_Ex_Man_41324 .travelExBlock .dropdown,
    .travel_Ex_Man_41322 .travelExBlock textarea,
    .travel_Ex_Man_41324 .travelExBlock textarea {
        margin-bottom: 7px
    }
    .travel_elm2 .itemlist {
        margin-bottom: 15px
    }
}

.etc-payment-page .bar_search .search_block .btn-default.btn-light-blue {
    color: #fff;
    background-color: #1d90ed;
    width: 100%;
    border: 2px solid #279DFF;
}

.etc-payment-page .bar_search .search_block .btn-default.high-lvl-search {
    color: #05f0ff;
    background-color: transparent;
    width: 100%;
    border: 0px solid #279DFF;
}

.etc-payment-page .search-visible-xs {
    display: none;
}

@media screen and (min-width: 771px) {
    .desktop-margin-10px {
        margin-top: 10px;
    }
    .common_nobill_elm2 label.label-float-right {
        float: right;
        padding-top: 6px;
    }
    .common_nobill_elm2 .ico_inputordie.change-pos-v1 {
        float: right;
        margin-top: 3px;
        margin-right: -7px;
    }
    .travelExBlock .del-expend-button {
        float: right;
        color: #FF443F;
        background-color: rgba(255, 68, 63, .1);
        margin: auto 0px auto 0px;
        border-radius: 0px;
    }
    .travelExBlock .del-expend-button .icon-x_large {
        font-size: 15px;
    }
    .list-expend .itemlist>div>label {
        display: none;
    }
    .list-expend .itemlist:first-child>div>label {
        display: block;
    }
    .etc-payment-page .itemlist .item-name .date {
        font-size: 20px;
        height: 20px;
        display: block;
    }
}

@media screen and (max-width: 769px) {
    .common_nobill_elm2 label.label-float-right {
        float: right;
        padding-top: 6px;
    }
    .common_nobill_elm2 .ico_inputordie.change-pos-v1 {
        float: right;
        margin-top: 3px;
        margin-right: -7px;
    }
    .travelExBlock .del-expend-button {
        float: right;
        color: #FF443F;
        background-color: rgba(255, 68, 63, .1);
        margin: auto 0px auto 0px;
        border-radius: 0px;
    }
    .list-expend .itemlist>div>label {
        display: none;
    }
    .list-expend .itemlist:first-child>div>label {
        display: block;
    }
    .etc-payment-page .itemlist .item-name .date {
        font-size: 20px;
        height: 20px;
        display: block;
    }
    .etc-payment-page .item-name .text-head {
        font-size: 14px;
    }
    .etc-payment-page .col-md-4 .item-btn {
        margin-bottom: 5px;
    }
    .travelExBlock .del-expend-button .icon-x_large {
        font-size: 15px;
    }
}

.etc-payment-page .calendar-block {
    background-color: #f7f7f7;
    padding: 8px 0px 6px 0px;
}

.etc-payment-page .calendar-block>div.calendar {
    display: inline-block;
    width: auto;
    margin-left: 20px;
}

.etc-payment-page .calendar-block>div.itemlist {
    display: inline-block;
    width: auto;
    margin-left: 5px;
    padding: 0px;
}

.etc-payment-page .body_content.mobile-padding>.itemlist_block {
    padding-top: 0px;
    margin-top: 0px;
}

.etc-payment-page .inner-block-padding {
    padding: 10px 0px 0px 0px;
}

.etc-payment-page .itemlist .item-name .date {
    font-size: 17px;
    height: 20px;
    display: inline;
}

.etc-payment-page .itemlist .item-name .date {
    font-size: 17px;
    height: 20px;
    display: inline;
}

.etc-payment-page .calendar-block span.itemin_nameid {
    color: #289efe;
    padding-left: 15px;
    font-family: 'rsu_l';
    font-size: 17px;
}

.etc-payment-page .-padl30 {
    padding-left: 30px;
}

.etc-payment-page .body_content .itemlist_block.view_info_btn {
    padding: 14px 0 15px 0;
    border-radius: 4px;
}

@media screen and (max-width: 738px) {
    .etc-payment-page .body_content .itemlist_block {
        min-height: inherit;
    }
    .etc-payment-page .calendar-block span.itemin_nameid {
        display: block;
        padding-left: 20px;
        font-size: 18px;
    }
    .etc-payment-page .-padl30 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .itemlist {
        position: relative;
    }
    .common_nobill_elm2 label.label-float-right {
        float: left;
    }
    .common_nobill_elm2 .ico_inputordie.change-pos-v1 {
        float: right;
        margin-top: 3px;
        margin-right: -7px;
    }
    .common_nobill_elm2 .hide-xs {
        display: none;
    }
    .common_nobill_elm2 .checkbox.some-padding-top {
        padding-top: 10px;
    }
    .travelExBlock .list-expend {
        color: #289efe;
        background-color: #ffffff;
        font-family: rsu_l;
        font-size: 17px;
        font-weight: 400;
        color: #289efe;
        padding: 0px;
        margin-top: 10px;
    }
    .travelExBlock .del-expend-button {
        float: right;
        color: #FF443F;
        background-color: rgba(255, 68, 63, .1);
        border-radius: 0px;
    }
    .list-expend .itemlist:first-child>div.col-md-1>label {
        display: none;
    }
    .list-expend .itemlist>div>label {
        display: block;
    }
    .list-expend .itemlist>.col-md-1>label {
        display: none;
    }
    .list-expend .itemlist>.col-md-1>.btn {
        padding: 6px 9px;
    }
    .travelExBlock .del-expend-button .icon-x_large {
        font-size: 15px;
    }
    .list-expend .itemlist {
        background-color: #f7f7f7;
        padding-top: 5px;
    }
    .list-expend .itemlist>.col-md-1 {
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 0px;
    }
    .etc-payment-page .itemlist .item-name .date {
        font-size: 19px;
        height: 20px;
        display: inline;
    }
    .etc-payment-page .item-name .visible-xs {
        font-size: 20px;
        height: 20px;
        display: inline!important;
    }
    .etc-payment-page .item-name .text-head {
        font-size: 17px;
    }
    .travel_Ex_Man_41324 .bar_expandlist .bar_expand-status .bar_statusword span {
        font-size: 19px;
    }
    .etc-payment-page .col-md-4 .item-btn {
        margin-bottom: 5px;
    }
    .etc-payment-page .itemlist_block {
        margin-top: 20px;
    }
    .etc-payment-page .itemlist_block .itemlist {
        padding: 0px 3% 0px 3%;
    }
    .etc-payment-page .itemlist_block .itemlist.sum {
        background-color: rgba(40, 158, 255, .1);
    }
    .etc-payment-page .item-desc.col-xs-6 .text-desc {
        font-size: 15px;
        float: right;
        vertical-align: middle;
    }
    .etc-payment-page .item-desc .text-desc.status {
        font-size: 15px;
        vertical-align: middle;
    }
    .etc-payment-page .body_content .itemlist_block {
        padding: 0px 0% 0px 0%;
        border-radius: 4px;
        /*box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.38)*/
    }
    .etc-payment-page .body_content .itemlist_block.mobile-padding-top,
    {
        padding: 15px 0% 0px 0%;
    }
    .etc-payment-page .body_content.mobile-padding {
        padding: 5% 5% 5% 5%;
    }
    .etc-payment-page .itemlist>.col-xs-6,
    .etc-payment-page .itemlist>.col-xs-3,
    .etc-payment-page .itemlist>.col-xs-9 {
        padding: 10px 0px 0px 0px;
    }
    .etc-payment-page .search-visible-xs {
        display: block;
    }
    .etc-payment-page .search-hide-xs {
        display: none;
    }
    .etc-payment-page .bar_search .search_block label {
        padding-top: 15px;
    }
    .dropdown.some-padding-bottom {
        padding-bottom: 6px;
    }
    .itemlist.some-padding-bottom {
        padding-bottom: 12px;
    }
    .itemlist.some-padding-top-bottom {
        padding-bottom: 12px;
        padding-top: 12px;
    }
    .itemlist.some-padding-bottom.margin-bot-3px {
        margin-bottom: 3px;
    }
    .mobile-text-center {
        text-align: center;
    }
    .travel_Ex_Man_41324 .allowance .head-date {
        display: none!important;
    }
    .travel_Ex_Man_41324 .allowance .date-div {
        color: #f1b020;
        font-size: 14px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .travel_Ex_Man_41324 .allowance .col-xs-4,
    .travel_Ex_Man_41324 .allowance .col-xs-12,
    .travel_Ex_Man_41324 .allowance .col-xs-8,
    .travel_Ex_Man_41324 .allowance .col-xs-6,
    .travel_Ex_Man_41324 .allowance .col-xs-5,
    .travel_Ex_Man_41324 .allowance .col-xs-3 {
        font-size: 16px;
        padding: 0px 0px 0px 5px;
    }
    .travel_Ex_Man_41324 .allowance .sum-expend .col-xs-4 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
    }
    .travel_Ex_Man_41324 .travelExBlock .sum-expend .sum-label-head {
        margin-left: 0px;
        color: #289efe;
        margin-bottom: 0px;
        font-size: 18px;
    }
    .travel_Ex_Man_41324 .travelExBlock .sum-expend .sum-label-head-14px {
        margin-left: 0px;
        color: #289efe;
        margin-bottom: 0px;
        font-size: 17px;
    }
    .travel_Ex_Man_41324 .travelExBlock .sum-expend .sum-label {
        margin-left: 0px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 17px;
    }
    .travel_Ex_Man_41324 .allowance .col-xs-4 .sum-label-head-desc,
    .travel_Ex_Man_41324 .allowance .col-xs-3 .sum-label-head-desc,
    .travel_Ex_Man_41324 .allowance .col-xs-5 .sum-label-head-desc {
        color: #B2B2B2;
        display: block;
    }
    .travel_Ex_Man_41324 .allowance .col-xs-4 .some-padding-top,
    .travel_Ex_Man_41324 .allowance .col-xs-5 .some-padding-top,
    .travel_Ex_Man_41324 .allowance .col-xs-3 .some-padding-top {
        padding-top: 0px;
    }
    .travel_Ex_Man_41324 .allowance .col-xs-4 .sum {
        font-size: 14px;
        padding-top: 2px;
    }
    .travel_Ex_Man_41324 .allowance .allowance-footer .col-xs-6 {
        padding-right: 0px;
    }
    .travel_Ex_Man_41324 .allowance .allowance-footer .some-padding-bottom {
        padding-bottom: 0px;
    }
    .travel_Ex_Man_41324 .refun-footer .col-xs-8,
    .travel_Ex_Man_41324 .refun-footer .col-xs-4,
    .travel_Ex_Man_41324 .refund .itemlist.no-padding,
    .travel_Ex_Man_41324 .refund .mobile-no-padding,
    .travel_Ex_Man_41324 .allowance .sum-expend .col-xs-12,
    .sum-expend .col-xs-6 {
        padding: 0px
    }
    .travel_Ex_Man_41324 .refund .refun-header .refun-head,
    .travel_Ex_Man_41324 .allowance .allowance-footer .footer-desc,
    .travel_Ex_Man_41324 .allowance .allowance-footer .footer-head,
    .travel_Ex_Man_41324 .allowance-footer .footer-desc .normal-font,
    .travel_Ex_Man_41324 .refun-footer .footer-desc,
    .travel_Ex_Man_41324 .refund .refun-header .refun-desc,
    .travel_Ex_Man_41324 .refund .refun-header .refun-desc .normal-font,
    .travel_Ex_Man_41324 .refund label,
    .travel_Ex_Man_41324 .refund .date-div,
    .travel_Ex_Man_41324 .refund .text label,
    .travel_Ex_Man_41324 .allowance .col-xs-4 label,
    .travel_Ex_Man_41324 .allowance .col-xs-3 label,
    .travel_Ex_Man_41324 .allowance .col-xs-5 label,
    .etc-payment-page .item-desc .text-desc {
        font-size: 15px;
    }
    .travel_Ex_Man_41324 .refund .list-expend .itemlist:first-child {
        display: none;
    }
    .travel_Ex_Man_41324 .refund .list-expend .itemlist .button-group {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 0px;
    }
    .travel_Ex_Man_41324 .refund .list-expend .itemlist .button-group label {
        display: none;
    }
    .mobile-text-right {
        text-align: right;
    }
    .mobile-padding-top {
        padding-top: 15px;
    }
    .travel_Ex_Man_41322 .bar_expand-status,
    .travel_Ex_Man_41324 .bar_expand-status {
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
    }
    .travel_Ex_Man_41324 .body_content.radius,
    .travel_Ex_Man_41322 .body_content.radius {
        border-radius: 2px 2px 2px 2px;
    }
    .travel_Ex_Man_41322 .ico_lightaction.max-block,
    .travel_Ex_Man_41324 .ico_lightaction.max-block {
        padding: 8px 10px;
    }
    .travel_Ex_Man_41322 .ico_lightaction.max-block span,
    .travel_Ex_Man_41324 .ico_lightaction.max-block span {
        font-size: 18px;
    }
    .travel_Ex_Man_41322 .body_content,
    .travel_Ex_Man_41324 .body_content {
        border-radius: 4px 4px 4px 4px;
        margin-bottom: 10px;
    }
    .travel_Ex_Man_41324 .travelExMan_content-res span.icon-clock,
    .travel_Ex_Man_41324 .allowance span.icon-clock {
        color: #CBCBCB;
        font-size: 15px;
    }
    .no-padding-right,
    .travelExBlock .list-expend.no-margin-top {
        margin-top: 0px;
    }
    .mobile-margin-top-10px {
        margin-top: 10px;
    }
    .travel_Ex_Man_41324 .refund .itemlist {
        padding-bottom: 10px;
    }
}

.no-padding {
    padding: 0px;
}

.no-padding-right,
.travelExBlock .list-expend.no-padding-right {
    padding-right: 0px;
}
