/* class "custom__theme_dark_blue" -----------theme 1 by Ayodiacompany  {override css}*/
/* ------------------------- start theme1 ---------------------------------------------------*/
.___main-color {
    color: #1E325A;
}

.___sub-color, .__btn_main__color {
    color: #00ADEE;
}

.___soft-color {
    color: #D9F5FF;
}

.___soft--text-color {
    color: #70c6e6;
}

.___linear-gradient_bgcolor {
    background: #053FB4;
    background: transparent linear-gradient(189deg, #00ADEE 0%, #00ADEE 14%, #053FB4 35%, #1E325A 63%, #1E325A 100%) 0% 0% no-repeat padding-box;
}

.____header_table_color {
    color: #1E325A;
}

.____header_table_bgcolor {
    background: #D8DBE8;
}

.____header_subtable_bgcolor {
    background: #F2F5FF;
}

.____footer_table_bgcolor {
    background: #D9F5FF;
}


/* >>>>  other <<<<*/
.carousel-dots li button:before {
    color: #00ADEE;
}
.ayodia-menubar-2 {
    background-color: #D9F5FF;
    background: #D9F5FF;
}

.main-color-fill {
    fill: #1E325A !important;
}

#main_scroll {
    background: none!important;
}
.color-main,
.alert-profile-content .dropdown-menu.alert .h-footer {
    color: #1E325A;
}
/* >>>> end other <<<<*/
/* >>>> menu -aside <<<<*/
.mini-menu, .nav-panel_list {
    background: #053FB4;
    background: transparent linear-gradient(189deg, #00ADEE 0%, #00ADEE 14%, #053FB4 35%, #1E325A 63%, #1E325A 100%) 0% 0% no-repeat padding-box;
}
.taskBlock .sub_menu {
    background: none;
}

.taskBlock .task-wait {
    margin-right: 0%;
    padding-left: 15px;
    padding: 0px 10px;
}
.task_titlehead {
    border-bottom: 1px solid;
}
    .taskactive .task_titlehead,
    .nav-control .control-sub,
    .nav-profileBar .itemlist,
    .task_inner ul:hover,
    .task_titlehead:hover {
        background: #D9F5FF;
        color: #1e325a;
    }

.-task-highlight {
    border-left: 8px solid #00ADEE;
}

.-task-highlight,
.taskBlock .-task-highlight .sub_menu {
    background: #D9F5FF;
    opacity: 1;
}

    .taskactive .-task-highlight .fa,
    .taskactive .task_titlehead .task-titletop,
    .-task-highlight .task-title,
    .-task-highlight .task-titletop,
    .taskBlock .-task-highlight .task-icon,
    .task_inner ul:hover .task-title,
    .task_titlehead:hover .task-title,
    .task_titlehead:hover .task-titletop {
        color: #1E325A;
    }
.nav-control .control-sub:first-of-type {
    border-right: 1px solid !important;
}
.mini-menu .mini-menu-item {
    border: solid 1px #1E325A;
    background-color: none;
    background: none;
    border-right: 1px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    height: 55px;
}

.nav-control .control-sub,
.nav-control .control-sub:first-of-type {
    border: 5px solid #1e325a !important;
}
.h-footer .pagination > li > a, .h-footer .pagination > li > span {
    color: #1E325A;
}
/* >>>> end menu -aside <<<<*/

/* >>>> index <<<<*/
.-bg-lightred {
    background-color: #F2F5FF;
}
.i-main-menu::after {
    background-color: #00ADEE;
}
.content-by-ayodia .ayodia-header-content.news-page {
    background-color: white !important;
    border-bottom: 3px solid #e6e6e6 !important;
}
/* >>>> index <<<<*/


.content-by-ayodia .ayodia-header-content {
    background: #1E325A;
}
.ayodia-box-summary .ayodia-box-summary-title {
    background: #D8DBE8;
    color:black;
}
.ayodia-box-summary .ayodia-box-summary-item {
    border: #D8DBE8 1px solid;
}

.ayodia-progress-item .progress-bar.color-company {
    background-color : #00ADEE;
}
.chart-svg-pro.c9 .svg-progress-2 {
    stroke: #1E325A;
}
.chart-svg-detail.c9 .review-box.color-2 {
    background-color: #1E325A;
}
.font-basic-color {
    color: #1E325A;
}
.ayodia-remark-d svg path {
    fill: #00ADEE !important;
}


.item-x-3 .item-x {
    border: 1px solid #00ADEE;
    color: #1E325A;
    background: #D9F5FF;
}

    .item-x-3 .item-x:first-child,
    .item-x-3 .item-x:last-child {
        border: 1px solid #00ADEE;
        background: #D9F5FF;
    }

    .item-x-3 .item-x.item-active {
        background: #00ADEE;
    }



.input-group .form-control:focus,
.inprogress-search .form-control,
.item-x-3 .item-x.item-active,
.h-footer .pagination > .active > a,
.h-footer .pagination > .active > a:focus,
.h-footer .pagination > .active > a:hover,
.h-footer .pagination > .active > span,
.h-footer .pagination > .active > span:focus,
.h-footer .pagination > .active > span:hover {
    border-color: #00ADEE!important;
}

.ViewContent_block .itemlist .itemin_sortnum {
    border: 1px solid #1E325A;
    background: #1E325A;
    display: inline-block;
}
.BGProfileBlock {
    background: #1E325A!important;
}
.exman-res_titletable {
    color: #70c6e6 !important;
}
.ViewContent_block .PositionName,
.-txt-org {
    color: #70c6e6 !important;
}
li.page-current {
    background-color: #00adee;
}
.checkbox input[type=checkbox]:focus + label::before, .checkbox input[type=radio]:focus + label::before,
.btn-primary.focus, .btn-primary:focus {
    outline: none;
}
.inprogress-search .btn {
    background: #00ADEE;
    outline: none;
}


.itemlist .itemin_nametask, .-txt-blue, .span_name {
    color: #1E325A !important;
}


.bar_title,
.bar_bottom_reasone,
.bar_expandlist .bar_expand-status,
.panel-collapse .itemin_btn,
.bar_bottom-status,
.md-toolbar-tools,
.ag-tabs .tab-header.active,
.bar_left-icon.mo-duo,
.travel_elm2 .bar_title {
    background: #1E325A !important;
}

.filter-export-box {
    background-color: #F2F5FF;
    background: #F2F5FF 0% 0% no-repeat padding-box;
}


.btn-action-instead-of .btn,
.item-btn .itemin_btn,
.m-btn-c1,
.m-btn-c2,
.m-btn-c3,
.m-btn-co {
    background: #00ADEE 0% 0% no-repeat padding-box !important;
    border: #00ADEE 1px solid !important
}
    .btn-action-instead-of .btn:hover,
    .item-btn .itemin_btn:hover,
    .m-btn-co:hover,
    .m-btn-c1:hover,
    .m-btn-c2:hover,
    .m-btn-c3:hover {
        background: #0058bd 0% 0% no-repeat padding-box !important
    }
    .btn-action-instead-of .btn:focus,
    .item-btn .itemin_btn:focus,
    .m-btn-co:focus,
    .m-btn-c1:focus,
    .m-btn-c2:focus,
    .m-btn-c3:focus {
        background: #0058bd 0% 0% no-repeat padding-box !important
    }

.m-btn-orange {
    border: #00ADEE 1px solid;
}

.btn-primary {
    background-color: #00ADEE;
    border-color: #00ADEE;
    outline: none;
}

.bar_bottom-status .bar_left-icon:active, .bar_bottom-status .bar_left-icon:hover, .bar_bottom-status .bar_right-icon:active, .bar_bottom-status .bar_right-icon:hover, .bar_expandlist .bar_expand-status .bar_left-icon:active, .bar_expandlist .bar_expand-status .bar_left-icon:hover, .bar_expandlist .bar_expand-status .bar_right-icon:active, .bar_expandlist .bar_expand-status .bar_right-icon:hover, .bar_bottom-expandlist .bar_right-icon.visible:hover, .bar_bottom-expandlist .bar_right-icon.visible:active, .bar_bottom-expandlist .bar_right-icon.visible {
    background: #1E325A !important;
}


.document-attachment .panel-default > .panel-heading {
    background-color: #1E325A;
}

.ProfileBlock .BGProfileBlock {
    background: #1E325A;
}
.ProfileBlock .profile-id, .ProfileBlock .exman-res_titletable {
    color: #00ADEE!important;
}
.ProfileBlock .profile-name, .organization_block .card-body h2 {
    color: #1E325A;
}
.table-style-2 .t-header {
    background-color: #D8DBE8;
    background: #D8DBE8;
}
.table-style-2 .t-header th {
    color: black;
}
.table-style-1 .t-header {
    background-color: #D8DBE8;
    background: #D8DBE8;
}
    .table-style-1 .t-header th {
        color: black;
    }
md-tabs .md-tab.md-active {
    color: #fff;
    background: #1E325A;
}

._720kb-datepicker-calendar-header:nth-child(odd) {
    background: #1E325A;
}


._720kb-datepicker-calendar-header:nth-child(even) {
    background: #F2F5FF;
    color: black;
}
._720kb-datepicker-calendar-header a, ._720kb-datepicker-calendar-header a:hover ._720kb-datepicker-calendar-header:nth-child(odd) {
    color: black;
}

._720kb-datepicker-calendar-days-header {
    background: #5c719a;
    color: #5c719a;
}
.glyphicon-chevron-left:before {
    color: white;
}
.glyphicon-chevron-right:before {
    color: white;
}

.font-basic-color {
    color: #1E325A;
}

.span_name {
    color: #1E325A !important;
}

.-txt-org {
    color: #00ADEE !important;
}

._720kb-datepicker-calendar-day._720kb-datepicker-active, ._720kb-datepicker-calendar-day:hover {
    background: #1e325a none repeat scroll 0 0;
}
.table-style-1 tr.t-body:nth-of-type(odd) {
    background-color: #F2F5FF;
}
.table-footer {
    background-color: #D9F5FF;
    font-weight: bold;
}

select.form-control {
    border: 1px solid rgb(30 50 90) !important;
}


.tb-m-padding-d.t-summary {
    background-color: #D9F5FF !important;
    font-weight: bold !important;
}
.box-tooltip {
    background-color: #F2F5FF;
}
.table-style-3 .t-header {
    background-color: #FAFAFA !important;
    background: #FAFAFA !important;
}
.table-style-3 .t-body td {
    background-color: #FAFAFA !important;
    border-top: #B7B7B7 1px solid;
}






.taskBlock .sub_menu {
    background: none;
}










.ayodia-body-content .ag-expad-able-div-box {
    color: #1E325A !important;
}

.radio.style2 label::after {
    background-color: #1E325A !important;
}


.table-style-2-1 .t-header {
    background-color: #1E325A;
    background: #1E325A;
}

.scrollbar-2::-webkit-scrollbar-thumb {
    background-color: #1E325A;
}

.my-tab a.active {
    color: #1E325A;
    border-bottom: #00adee 7px solid;
}

.my-tab a:hover {
    border-bottom: #d9f5ff 7px solid;
}

.svg-active {
    fill: #1E325A !important;
}

.bg-12 {
    background: #1E325A;
}



.detail-bar::after {
    border-color: transparent transparent #1E325A transparent;
}

.text-bar-detail-center {
    background-color: #1E325A;
}




.i-menubar .ayodia-menubar-2 {
    background-color: #D9F5FF;
    background: #D9F5FF;
}


.i-menubar {
    border: #00ADEE 1px solid;

    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 25px;
    padding-bottom: 0px;
}
    .i-menubar .text-d {
        padding: 15px 5px 0px 5px;
    }
    
    .i-menubar.active {
        background-color: #00ADEE;
    }

    .i-menubar svg g {
        fill: #1E325A;
    }

.alert-profile-content .dropdown-menu.alert .h-footer {
    color: #1E325A;
}

.loadmore {
    color: #1E325A;
}

::-webkit-scrollbar-thumb {
    background: #1E325A;
}


.form-control:focus {
    border-color: #00ADEE !important;
}

.TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 thead tr {
    background-color: #D8DBE8;
    border-bottom: 2px solid #D8DBE8;
    color: black;
}

.TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 td, .TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02.not-fix-width td, .travelExBlock .sum-expend .head-label {
    color: #000;
}

.TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 tbody tr:nth-child(even) {
    background: #F2F5FF !important;
}
/* ------------------------- end  theme1-----------------------------------------------------
