.ayodia-style {
    font-family: rsu_r;
}

.error p {
    color: red;
}

.font-basic-color {
    color: #00ADEE;
}

.margin-r-5 {
    margin-right: 5px !important;
}

.color-w {
    color: white !important;
}

.p-tb-s {
    padding: 10px 20px !important
}

.p-th-s {
    padding: 10px 5px !important
}

.font-12 {
    font-size: 12px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-b {
    font-weight: bold;
}

.input-error-rq {
    border-color: red !important;
    border-width: 1px !important;
}

.text-error-rq {
    color: red;
    line-height: 14px;
    padding-top: 10px;
    display: block;
    font-size: 16px;
}

.title-top-page {
    font-size: 20px;
    font-weight: bold;
    color: #343434;
    margin: 5px 0px;
}

.ayodia-body-content .ag-expad-able-div-box {
    color: #00ADEE !important;
    font-family: rsu_r;
}

.ayodia-body-content md-checkbox.md-default-theme.md-checked .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple {
    color: rgb(96, 57, 19);
}

.ayodia-body-content md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
    background-color: rgb(96, 57, 19);
}

.ayodia-body-content .ag-expad-able-div-box {
    color: #6b6b6b;
    width: 20px;
    height: 22px;
    margin: 0;
    line-height: 20px;
    font-size: 20px;
    display: inline-block;
    padding: 2px 0px;
    display: -ms-inline-grid;
    display: -moz-inline-box;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
}

.radio.style2 label::after {
    background-color: #00ADEE !important;
}


.text-t-d {
    /*color: #343434;*/
    font-size: 16px;
    margin: 0px;
}

.text-t-1 {
    color: #603912;
    font-size: 8px;
    margin: 0px;
}

.text-t-2 {
    color: #343434;
    font-size: 12px;
    margin: 0px;
}

.text-t-3 {
    color: #9B9B9B;
    font-size: 10px;
    margin: 0px;
}

.text-t-4 {
    color: #603912;
    font-size: 8px;
    margin: 0px;
}

.m-auto {
    margin: auto;
}

.w100px-desktop {
    width: 100px;
}

.w240px-desktop {
    width: 240px;
}

.lr-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.bg-none {
    background-color: #ffffff00 !important;
}

.drop-tb {
    width: 13px;
    border: 1px solid;
    height: 13px;
    line-height: 13px;
    margin: 0px 0px 0px 20px;
}

.w110px {
    width: 110px !important;
}

.w110px-desktop {
    width: 110px;
}

.w150px {
    width: 150px !important;
}

.w150px-desktop {
    width: 150px;
}

.margin-none {
    margin: 0px !important;
}

.v-top {
    vertical-align: top;
}

.margin-b20 {
    margin-bottom: 20px;
}

.margin-b10 {
    margin-bottom: 10px;
}

.margin-t10 {
    margin-top: 10px;
}

.desktop-tb {
    display: table-cell;
}

.line-under {
    width: 100%;
    height: 2px;
    background: #e6e6e6;
}

.color-main {
    color: #603912;
    font-weight:bold;
}

.color-danger {
    color: red;
}

.color-basic {
    color: #343434;
}

.title-header-mini {
    font-size: 14px;
    margin: 0px;
    font-weight: bolder;
}

.text-basic-md {
    font-size: 16px;
    margin: 3px 0px 14px 0px;
}

.text-basic-md-center-input {
    font-size: 16px;
    margin: 10px 0px;
}

.font-16 {
    font-family: rsu_r;
    font-size: 16px !important;
}

.font-18 {
    font-family: rsu_r;
    font-size: 18px !important;
}

.padding-t-none {
    padding-top: 0px !important;
}

.input-box {
    border: 1px solid #D1D1D1;
    border-radius: 3px;
    opacity: 1;
    padding: 6px 14px;
    margin-bottom: 10px;
}

.color-gray {
    color: #888888;
}

.detail-s-line {
    display: table-cell;
    vertical-align: middle;
}

.icon-s-line i {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}







.ayodia-timeline-item {
    position: relative;
    padding: 13px 15px 13px 70px;
    margin-bottom: 15px;
    min-height: 70px;
    display: table;
    width: 100%;
    display: table;
}

    .ayodia-timeline-item.state-2 {
        background: #F5F5F5;
    }

        .ayodia-timeline-item.state-2 .icon-s-line {
            color: #9B9B9B;
            background-color: #D5D5D5;
        }

        .ayodia-timeline-item.state-2 .detail-s-line .s-title {
            color: #9B9B9B;
        }


    .ayodia-timeline-item.state-1 {
        background: #EBF5FF;
    }

        .ayodia-timeline-item.state-1 .icon-s-line {
            color: #257DE0;
            background-color: #BADBFF;
        }

        .ayodia-timeline-item.state-1 .detail-s-line .s-title {
            color: #257DE0;
        }



        .ayodia-timeline-item.state-1::after {
            content: '';
            width: 1px;
            height: 15px;
            border-left: solid 2px #257DE0;
            position: absolute;
            left: 0;
            bottom: 100%;
            z-index: 1;
            left: 30px;
        }

    .ayodia-timeline-item.state-2::after {
        content: '';
        width: 1px;
        height: 15px;
        border-left: dotted 3px #9B9B9B;
        position: absolute;
        left: 0;
        bottom: 100%;
        z-index: 1;
        left: 30px;
    }


    .ayodia-timeline-item:first-child::after {
        content: '';
        width: 1px;
        height: 0px;
        border-left: solid 2px #257DE0;
        position: absolute;
        left: 0;
        bottom: 100%;
        z-index: 1;
        left: 30px;
    }



.icon-s-line {
    position: absolute;
    left: 7px;
    top: 8px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    padding: 14px 16px;
    border-radius: 100%;
}

.detail-s-line .s-title {
    font-size: 16px;
    font-weight: bold;
}

.detail-s-line .s-detail {
    font-size: 16px;
}



.box-remark-danger {
    font-size: 12px;
    color: red;
}

    .box-remark-danger p {
        margin: 0px;
    }

.input-icon-right {
    position: relative;
}

    .input-icon-right input {
        padding-right: 40px;
    }

    .input-icon-right span {
        display: block;
        width: 40px;
        height: 37px;
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: red;
        border: 1px solid #D1D1D1;
        background: #E6E6E6 0% 0% no-repeat padding-box;
        padding: 10px 12px;
        cursor: pointer;
    }

/***************************content-by-ayodia*********************/
.content-by-ayodia {
}

    .content-by-ayodia .ayodia-header-content {
        background-color: #603912;
        background: #603912 0% 0% no-repeat padding-box;
        padding: 17px 24px;
        border-radius: 10px 10px 0px 0px;
        opacity: 1;
    }

        .content-by-ayodia .ayodia-header-content .ayodia-title {
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
        }

    .content-by-ayodia .ayodia-body-content {
        padding: 34px 22px;
        background-color: #FFFFFF;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 6px #00000029;
        border-radius: 0px 0px 10px 10px;
        opacity: 1;
        min-height: 100px;
    }

    .content-by-ayodia .ayodia-body-content-section-1 {
        padding: 34px 22px;
        background-color: #FFFFFF;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-bottom: #D8D6D5 1px solid;
        opacity: 1;
        min-height: 100px;
    }

.sub-title {
    font-size: 18px;
    font-weight: bold;
    margin: 17px 0px;
}

.sub-title-2 {
    font-size: 16px;
    font-weight: 500;
    margin: 17px 0px;
}

/***************************filter box*********************/
.filter-export-box {
    font-size: 16px;
    background-color: #E5C59A60;
    background: #E5C59A60 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 22px 20px;
}

    .filter-export-box.w {
        font-size: 16px;
        background-color: none !important;
        background: none !important;
        opacity: 1;
        padding: 0px !important;
    }

.filter-items-l {
    float: left;
}

.filter-items-r {
    float: right;
}

    .filter-items-r .f-item:last-child {
        margin-right: 16px;
    }

    .filter-items-r .f-item {
        float: right;
    }

.filter-items-l .f-item:not(:last-child) {
    margin-right: 16px;
}

.filter-items-l .f-item {
    float: left;
}

    .filter-items-l .f-item label {
        float: left;
        margin: 10px 7px;
    }

    .filter-items-l .f-item select {
        float: left;
    }

.textarea-s1 {
    border: 1px solid #D1D1D1;
    border-radius: 3px;
}
/**********************btn****************************/

.cursor-pointer-table tr {
    cursor: pointer;
}

.btn-s-sm {
    padding: 2px;
    font-size: 16px;
    display: block;
    width: 80px;
    line-height: 15px;
}

.btn-s-md {
    padding: 9px 18px 7px 18px;
    font-size: 16px;
    display: block;
}

.m-btn-chart1 {
    background: #54B6F4 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    color: white;
}

    .m-btn-chart1:hover {
        background: #2B91D1 0% 0% no-repeat padding-box;
        border-radius: 3px;
        opacity: 1;
        color: white;
    }

.m-btn-chart2 {
    background: #EA8242 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    color: white;
}

    .m-btn-chart2:hover {
        background: #CC5B15 0% 0% no-repeat padding-box;
        border-radius: 3px;
        opacity: 1;
        color: white;
    }

.m-btn-chart3 {
    background: #61D1C9 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    color: white;
}

    .m-btn-chart3:hover {
        background: #3A918B 0% 0% no-repeat padding-box;
        border-radius: 3px;
        opacity: 1;
        color: white;
    }

.m-btn-chart4 {
    background: #EB9DAF 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    color: white;
}

    .m-btn-chart4:hover {
        background: #D05672 0% 0% no-repeat padding-box;
        border-radius: 3px;
        opacity: 1;
        color: white;
    }


.m-btn-c1 {
    background: #00ADEE 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    color: white;
}

    .m-btn-c1:hover {
        background: #603912 0% 0% no-repeat padding-box;
        border-radius: 3px;
        opacity: 1;
        color: white;
    }

.m-btn-cw {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 3px;
    border: #484848 1px solid;
    opacity: 1;
    color: #484848;
}

    .m-btn-cw:hover {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 3px;
        border: #484848 1px solid;
        opacity: 1;
        color: #484848;
    }

.m-btn-co {
    background: #00ADEE 0% 0% no-repeat padding-box;
    border-radius: 3px;
    border: #00ADEE 1px solid;
    opacity: 1;
    color: white;
}

    .m-btn-co:hover {
        background: #603912 0% 0% no-repeat padding-box;
        border-radius: 3px;
        border: #603912 1px solid;
        opacity: 1;
        color: white;
    }

.m-btn-c2 {
    background: #603912 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    color: white;
}

    .m-btn-c2:hover {
        background: #3a220b 0% 0% no-repeat padding-box;
        border-radius: 3px;
        opacity: 1;
        color: white;
    }


.m-btn-c-blue {
    background: #E0EFFF 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    color: #4D4D4D;
}

    .m-btn-c-blue:hover {
        background: #aacff8 0% 0% no-repeat padding-box;
        border-radius: 3px;
        opacity: 1;
        color: #4D4D4D;
    }

.m-btn-c-red {
    background: #EB9D9D 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    color: #4D4D4D;
}

    .m-btn-c-red:hover {
        background: #ef8e8e 0% 0% no-repeat padding-box;
        border-radius: 3px;
        opacity: 1;
        color: #4D4D4D;
    }

.m-btn-dis {
    background: #C1C1C1 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    color: white;
}

    .m-btn-dis:hover {
        background: #868686 0% 0% no-repeat padding-box;
        border-radius: 3px;
        opacity: 1;
        color: white;
    }

.m-btn-orange {
    background-color: white;
    border: #00ADEE 1px solid;
    border-radius: 3px;
    opacity: 1;
    color: #D57706;
}

    .m-btn-orange:hover {
        background-color: white;
        border-radius: 3px;
        border: #D57706 1px solid;
        opacity: 1;
        color: #D57706;
    }

.m-btn-green {
    background-color: white;
    border: #4BCD15 1px solid;
    border-radius: 3px;
    opacity: 1;
    color: #4BCD15;
}

    .m-btn-green:hover {
        background-color: white;
        border-radius: 3px;
        border: #4BCD15 1px solid;
        opacity: 1;
        color: #4BCD15;
    }

.m-btn-green2 {
    background-color: #4BCD15;
    border: #4BCD15 1px solid;
    border-radius: 3px;
    opacity: 1;
    color: white;
}

    .m-btn-green2:hover {
        background-color: #4BCD15;
        border-radius: 3px;
        border: #4BCD15 1px solid;
        opacity: 1;
        color: white;
    }

.m-btn-red {
    background-color: white;
    border: red 1px solid;
    border-radius: 3px;
    opacity: 1;
    color: red;
}

    .m-btn-red:hover {
        background-color: white;
        border-radius: 3px;
        border: red 1px solid;
        opacity: 1;
        color: red;
    }

.m-btn-blue {
    background-color: white;
    border: #33D1DE 1px solid;
    border-radius: 3px;
    opacity: 1;
    color: #33D1DE;
}

    .m-btn-blue:hover {
        background-color: white;
        border-radius: 3px;
        border: #33D1DE 1px solid;
        opacity: 1;
        color: #33D1DE;
    }


/**********************btn****************************/
.table-style-4 {
}

    .table-style-4 .t-header {
        background-color: #FAFAFA !important;
        background: #FAFAFA !important;
        font-size: 16px !important;
    }

        .table-style-4 .t-header th {
            padding: 9px 26px;
            font-size: 16px;
            color: #4D4D4D !important;
            font-weight: bold !important;
        }

    .table-style-4 .t-body td {
        font-size: 14px;
        background-color: #FAFAFA !important;
        padding: 15px 5px;
        border-top: #B7B7B7 1px solid;
    }

    .table-style-4 tr.t-body:nth-of-type(odd) {
        background-color: #FAFAFA !important;
    }



.table-style-3 {
}

    .table-style-3 .t-header {
        background-color: #FAFAFA !important;
        background: #F0F7FF !important;
        font-size: 16px !important;
    }

        .table-style-3 .t-header th {
            padding: 9px 26px;
            font-size: 16px;
            color: #4D4D4D !important;
            font-weight: bold !important;
        }

    .table-style-3 .t-body td {
        font-size: 14px;
        background-color: #F0F7FF !important;
        padding: 15px 5px;
        border-top: #B7B7B7 1px solid;
    }

    .table-style-3 tr.t-body:nth-of-type(odd) {
        background-color: #F0F7FF !important;
    }

.table-style-1 {
}

.table-style-responsive{
    overflow:auto;
}

.t-body-title tr td {
    padding: 7px 5px 7px 5px !important;
}

.table-style-1 .t-header {
    background-color: #00ADEE;
    background: #00ADEE;
    font-size: 16px;
}

    .table-style-1 .t-header th {
        padding: 9px 26px;
        font-size: 16px;
        color: white;
        font-weight: 500;
    }

.table-style-1 .t-body td {
    font-size: 14px;
    padding: 15px 5px;
}

.table-style-1 .t-body-title td {
    font-size: 14px;
    padding: 15px 5px;
}

.table-style-1 tr.t-body:nth-of-type(odd) {
    background-color: #F5EAD9;
}

.table-style-1 tbody.t-body-title:nth-of-type(odd) {
    background-color: #F5EAD9;
}

.table-style-2-1 {
}

    .table-style-2-1 .t-header {
        background-color: #00ADEE;
        background: #00ADEE;
        font-size: 16px;
    }

        .table-style-2-1 .t-header th {
            padding: 9px 26px;
            font-size: 16px;
            color: white;
            border: #D8D6D5 1px solid;
            border: #D8D6D5 1px solid;
        }

    .table-style-2-1 .t-body td {
        font-size: 16px;
        padding: 10px 5px;
        border: #D8D6D5 1px solid;
    }

    .table-style-2-1 tr.t-body.active {
        background-color: #E0EFFF;
    }

    .table-style-2-1 tr.t-body.state-error {
        color: red;
    }

.tb-m-padding-d.state-error {
    color: red;
}

.tb-m-padding-d.active {
    background-color: #E0EFFF;
}

.tb-m-padding-d.t-summary {
    background-color: #FDF4C3 !important;
    font-weight: bold !important;
}

    .tb-m-padding-d.t-summary td {
        padding: 10px 2px !important;
    }

.table-style-2-1 tr.t-body.t-summary {
    background-color: #FDF4C3 !important;
    font-weight: bold !important;
}

.table-style-2 {
}

    .table-style-2 .t-header {
        background-color: #F2F2F2;
        background: #F2F2F2;
        font-size: 16px;
    }

        .table-style-2 .t-header th {
            padding: 9px 26px;
            font-size: 16px;
            color: #343434;
            border: #D8D6D5 1px solid;
            border: #D8D6D5 1px solid;
        }

    .table-style-2 .t-body td {
        font-size: 16px;
        padding: 10px 5px;
        border: #D8D6D5 1px solid;
    }

    .table-style-2 tr.t-body.active {
        background-color: #E0EFFF;
    }

    .table-style-2 tr.t-body.edit {
        background-color: #ffe9c8;
    }

    .table-style-2 tr.t-body.state-error {
        color: red;
    }

    .table-style-2 tr.t-body.t-summary {
        background-color: #FDF4C3;
        font-weight: bold;
    }



.table-style-9 {
}

.t-body-title tr td {
    padding: 7px 5px 7px 5px !important;
}

.table-style-9 .t-header {
    background-color: #00ADEE;
    background: #00ADEE;
    font-size: 16px;
}

    .table-style-9 .t-header th {
        padding: 9px 26px;
        font-size: 16px;
        color: white;
        font-weight: 500;
    }

.table-style-9 .t-body td {
    font-size: 14px;
    padding: 15px 5px;
    border: #B7B7B7 1px solid;
}

.table-style-9 .t-body-title td {
    font-size: 14px;
    padding: 15px 5px;
}

.table-style-9 tr.t-body.t-summary {
    background-color: #FDF4C3;
    font-weight: bold;
}

.padding-10 {
    padding: 10px !important;
}

.padding-none {
    padding: 0px !important;
}

.t-summary {
    /*background-color: #FDF4C3;*/
    font-weight: bold;
}

.table-style-2-1.sp-scroll thead, .table-style-2-1 tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.popup-scroll {
    height: 450px;
    overflow: auto;
}



.table-style-2-1.sp-scroll tbody {
    display: block;
    overflow: auto;
}


.table-style-2.sp-scroll thead, .table-style-2 tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table-style-2.sp-scroll tbody {
    display: block;
    overflow: auto;
}
/*.table-style-2 tr.t-body:nth-of-type(odd) {
        background-color: #F5EAD9;
    }*/
.result-table-box {
    width: 480px;
    font-size: 16px;
}

    .result-table-box.l50 {
        margin-left: 50px;
    }

    .result-table-box .result-item {
        display: table;
        width: 100%;
        margin-bottom: 3px;
    }

        .result-table-box .result-item div {
            width: 50%;
            display: table-cell;
        }

.result-item .s-text {
    padding: 12px 29px;
    text-align: left;
    font-weight: bold;
    color: white;
}

.result-item .s-result {
    background: #F8F8F8;
    padding: 12px 20px;
    text-align: right;
    font-weight: bold;
}

.background-1 {
    background: #1e325a;
}

.background-2 {
    background: #1e325a;
}

.show-tablet {
    display: none;
}

.show-pc {
    display: block;
}

.scrollbar-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 0px;
    background-color: #F5F5F5;
}

.scrollbar-2::-webkit-scrollbar {
    width: 7px;
    height: 10px;
    background-color: #F5F5F5;
}

.scrollbar-2::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
    background-color: #00ADEE;
    border-radius: 0px;
}

.h-500px {
    overflow: auto;
    height: 500px;
}

.max-h-500px {
    overflow: auto;
    max-height: 500px;
}

.w-area {
    background-color: #FDF4C3;
}

a.link-blue {
    color: #112EA7 !important;
    font-weight: bold;
    text-decoration: underline;
}




.text-un {
    line-height: 14px;
    display: block;
    font-size: 14px;
}

.modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 0px solid #e5e5e5;
    justify-content: center;
}

.modal-title.custom {
    font-size: 16px;
    color: #343434;
}

.close.custom {
    padding: 0px 20px;
    font-size: 38px;
    font-weight: 100;
    line-height: 26px;
    color: #343434;
}

.modal-body.alert1 {
    padding: 33px 40px 18px 40px !important;
}

.modal-body.alert2 {
    padding: 18px 12px 18px 12px !important;
}

.flex-end {
    justify-content: flex-end !important;
}

@media (min-width: 768px) {
    .modal-sp {
        width: 450px;
        max-width: 450px;
    }
}

@media (min-width: 1200px) {
    .modal-spp {
        width: 1200px;
        max-width: 1200px;
    }
}

.ui-select-container.custom-ui-select div, .ui-select-container a, .ui-select-container input, .ui-select-container span {
    font-family: rsu_r !important;
    font-size: 16px;
}

.selectize-control.single .selectize-input:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    right: 7px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3px 3px 3px;
    border-color: #555555 transparent transparent transparent;
}

.my-tab {
    min-width: 100%;
}

    .my-tab a {
        padding: 15px;
        font-weight: bold;
        color: #B7B7B7;
        font-size: 16px;
        background: white;
        display: block;
        width: 25%;
        float: left;
        text-align: center;
    }

    .my-tab a {
        border-right: #D8D6D5 1px solid;
    }

        .my-tab a:hover {
            border-bottom: #bca48c 7px solid;
        }

        .my-tab a.active {
            color: #00ADEE;
            border-bottom: #00ADEE 7px solid;
        }


.chart-svg-pro.c1 .svg-text-m-chart {
    fill: #54B6F4;
}

.chart-svg-pro.c2 .svg-text-m-chart {
    fill: #54B6F4;
}

.chart-svg-pro.c3 .svg-text-m-chart {
    fill: #AEE0F9;
}

.chart-svg-pro.c4 .svg-text-m-chart {
    fill: #2B91D1;
}


.chart-svg-pro.c1 .svg-progress-1 {
    stroke: #E0E0E0;
}

.chart-svg-pro.c1 .svg-progress-2 {
    stroke: #54B6F4;
}

.chart-svg-pro.c1 .svg-progress-3 {
    stroke: #AEE0F9;
}

.chart-svg-pro.c1 .svg-progress-4 {
    stroke: #2B91D1;
}

.chart-svg-detail.c1 .review-box.color-1 {
    background-color: #54B6F4;
}

.text-color-1 {
    color: #54B6F4;
}

.chart-svg-detail.c1 .review-box.color-2 {
    background-color: #AEE0F9;
}

.text-color-2 {
    color: #EA8242;
}

.chart-svg-detail.c1 .review-box.color-3 {
    background-color: #2B91D1;
}

.text-color-3 {
    color: #61D1C9;
}

.chart-svg-detail.c1 .review-box.color-4 {
    background-color: #E0E0E0;
}


.chart-svg-detail.c9 .review-box.color-1 {
    background-color: #CE4116;
}

.chart-svg-detail.c9 .review-box.color-2 {
    background-color: #E0E0E0;
}

.chart-svg-detail.c9 .review-box.color-3 {
    background-color: red;
}

.text-color-4 {
    color: #EB9DAF;
}

.chart-svg-pro.c2 .svg-progress-1 {
    stroke: #E0E0E0;
}

.chart-svg-pro.c2 .svg-progress-2 {
    stroke: #EA8242;
}

.chart-svg-pro.c2 .svg-progress-3 {
    stroke: #F89456;
}

.chart-svg-pro.c2 .svg-progress-4 {
    stroke: #CC5B15;
}

.chart-svg-detail.c2 .review-box.color-1 {
    background-color: #EA8242;
}

.chart-svg-detail.c2 .review-box.color-2 {
    background-color: #F89456;
}

.chart-svg-detail.c2 .review-box.color-3 {
    background-color: #CC5B15;
}

.chart-svg-detail.c2 .review-box.color-4 {
    background-color: #E0E0E0;
}



.chart-svg-pro.c3 .svg-progress-1 {
    stroke: #E0E0E0;
}

.chart-svg-pro.c3 .svg-progress-2 {
    stroke: #61D1C9;
}

.chart-svg-pro.c3 .svg-progress-3 {
    stroke: #9BEDE7;
}

.chart-svg-pro.c3 .svg-progress-4 {
    stroke: #3A918B;
}

.chart-svg-detail.c3 .review-box.color-1 {
    background-color: #61D1C9;
}

.chart-svg-detail.c3 .review-box.color-2 {
    background-color: #9BEDE7;
}

.chart-svg-detail.c3 .review-box.color-3 {
    background-color: #3A918B;
}

.chart-svg-detail.c3 .review-box.color-4 {
    background-color: #E0E0E0;
}


.chart-svg-pro.c4 .svg-progress-1 {
    stroke: #E0E0E0;
}

.chart-svg-pro.c4 .svg-progress-2 {
    stroke: #EB9DAF;
}

.chart-svg-pro.c4 .svg-progress-3 {
    stroke: #E2758E;
}

.chart-svg-pro.c4 .svg-progress-4 {
    stroke: #D05672
}

.chart-svg-detail.c4 .review-box.color-1 {
    background-color: #EB9DAF;
}

.chart-svg-detail.c4 .review-box.color-2 {
    background-color: #E2758E;
}

.chart-svg-detail.c4 .review-box.color-3 {
    background-color: #D05672;
}

.chart-svg-detail.c4 .review-box.color-4 {
    background-color: #E0E0E0;
}


.chart-svg-pro.c9 .svg-progress-1 {
    stroke: #E0E0E0;
}

.chart-svg-pro.c9 .svg-progress-2 {
    stroke: #CE4116;
}

.chart-svg-pro.c9 .svg-progress-3 {
    stroke: white;
}

.chart-svg-detail.c9 .review-box.color-1 {
    background-color: #E0E0E0;
}

.chart-svg-detail.c9 .review-box.color-2 {
    background-color: #CE4116;
}


.chart-svg-pro.c1 .svg-sum-number, .chart-svg-pro.c1 .svg-sum-text {
    fill: #54B6F4;
}

.chart-svg-pro.c2 .svg-sum-number, .chart-svg-pro.c2 .svg-sum-text {
    fill: #EA8242;
}

.chart-svg-pro.c3 .svg-sum-number, .chart-svg-pro.c3 .svg-sum-text {
    fill: #61D1C9;
}

.chart-svg-pro.c4 .svg-sum-number, .chart-svg-pro.c4 .svg-sum-text {
    fill: #EB9DAF;
}

.chart-svg-pro.c9 .svg-header, .chart-svg-pro.c9 .svg-sum-text {
    fill: #333333;
}


.review-box {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: gray;
    margin-right: 5px;
}


.svg-text-m-chart {
    -moz-transform: translateY(0.25em);
    -ms-transform: translateY(0.25em);
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.25em);
}

.svg-header {
    font-size: 0.19em;
    line-height: 1;
    text-anchor: middle;
    -moz-transform: translateY(-2.3em);
    -ms-transform: translateY(-2.3em);
    -webkit-transform: translateY(-2.3em);
    transform: translateY(-2.3em);
}

.svg-sum-number {
    font-size: 0.3em;
    line-height: 1;
    text-anchor: middle;
    -moz-transform: translateY(-0.5em);
    -ms-transform: translateY(-0.5em);
    -webkit-transform: translateY(-0.5em);
    transform: translateY(-0.5em);
}

.svg-sum-text {
    font-size: 0.19em;
    line-height: 1;
    text-anchor: middle;
    -moz-transform: translateY(0.4em);
    -ms-transform: translateY(0.4em);
    -webkit-transform: translateY(0.4em);
    transform: translateY(0.4em);
}


.my-chart-box {
    padding: 18px 24px;
    border: #AFAFAF 1px solid;
    border-radius: 7px;
}

.box-tooltip {
    padding: 10px 50px;
    background-color: #FFEADE;
    line-height: 30px;
    position: relative;
}

.box-tooltip-error {
    padding: 10px 50px;
    background-color: #FFEDED;
    line-height: 30px;
    position: relative;
    color: #CE4545;
    font-size: 24px;
    font-weight: bold;
}

.my-date-time-picker {
    width: 40%;
    float: left;
    margin-right: 10px;
}


.my-date-time-picker-title {
    width: 16%;
    float: left;
    margin-top: 10px;
}

.my-date-time-picker-float {
    width: 40%;
    float: left;
    margin-right: 2%;
}

.my-date-time-picker-float2 {
    width: 18%;
    float: left;
    margin-right: 2%;
}

.tb-pad-1 {
    border: white 1px solid;
    padding: 9px 5px !important;
}

.tb-m-padding-d td {
    padding: 3px 1px;
}

.tb-m-padding-d-2 td {
    padding: 10px 1px;
}

.font-14 {
    font-size: 14px !important;
}

.tb-style-m-1 {
    border-bottom: #e6e6e6 1px solid;
}

.float-l {
    float: left;
}

.m-5-10 {
    margin-top: 5px;
    margin-left: 10px;
}

.inline-block {
    display: inline-block;
}

.svg-active {
    fill: #00ADEE !important;
}

.line-h-14 {
    line-height: 14px;
}

.padding-b-5 {
    padding-bottom: 5px;
}

.lr-3 {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.bg-12 {
    background: #00ADEE;
}

.bg-13 {
    background: #F8F8F8;
}

.margin-b-5 {
    margin-bottom: 5px;
}

.t-body-title.state-blue {
    background-color: #E0EFFF !important;
}

.t-body-title.state-red {
    background-color: #EB9D9D !important;
}

.font-white {
    color: white !important;
}

.r-0 ._720kb-datepicker-calendar {
    right: 0px !important;
}


.top-to-menu {
    position: fixed;
    top: 64px;
    background-color: white;
    padding: 10px;
    left: 0px;
    z-index: 6;
}

.ico_datestart {
    z-index: 5 !important;
}

.c-lock-date {
    display: none !important;
}

.c-lock-date-show {
    display: inline-block !important;
}

.c-lock-date-w100 {
    width: 100% !important;
}

.-show {
    display: none !important;
}
/**************progress bar*****************/
.ayodia-progress-item {
    height: 12px;
    width: 100%;
    background-color: #e6e6e6;
    position: relative;
}

    .ayodia-progress-item .progress-bar.color-company {
        background-color: #00ADEE;
    }

.ayodia-progressbar-title {
    padding: 5px 0px 10px 5px;
    /* display: block; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

    .ayodia-progressbar-title .pb-l {
        float: left;
        /* display: inline-block; */
        width: 60%;
        text-align: left;
        line-height: 18px;
    }

    .ayodia-progressbar-title .pb-r {
        display: inline-block;
        /* float: right; */
        text-align: right;
        width: 40%;
    }

.row-flex-end {
    display: flex;
    align-items: flex-end;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-50-pc {
    margin-bottom: 50px;
}

.ayodia-box-summary .ayodia-box-summary-title {
    padding: 12px 20px;
    color: white;
    background-color: #00ADEE;
    border-radius: 5px 5px 0px 0px;
    line-height: 15px;
}

.ayodia-box-summary .ayodia-box-summary-item {
    padding: 12px 20px;
    background-color: white;
    border: #00ADEE 1px solid;
    border-radius: 0px 0px 5px 5px;
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
}

.detail-bar {
    padding: 3px 7px 0px 7px;
    line-height: 20px;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    margin-top: 10px;
    color: white;
    top: 13px;
    text-align: center;
    width: 80px;
    position: absolute;
    right: calc(0% - 40px);
}

.ayodia-progress-item .progress-bar {
    position: relative;
}

.detail-bar::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #00ADEE transparent;
    border-style: solid;
    position: absolute;
    top: -7px;
    right: calc(50% - 5px);
}

.text-bar-detail-center {
    background-color: #00ADEE;
    padding: 3px 7px 0px 7px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -3px);
}

.fcc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ayodia-menubar-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E5C59A60;
    height: 100px;
    max-height: 100px;
}

.i-menubar {
    padding: 15px 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: #00ADEE 1px solid;
    height: 100px;
    max-height: 100px;
    cursor: pointer;
}

    .i-menubar.active {
        background-color: #00ADEE;
    }

    .i-menubar .text-d {
        padding: 10px 5px 0px 5px;
        line-height: 15px;
    }

.ayodia-menubar-2 .i-menubar:first-child {
    border-radius: 10px 0px 0px 10px;
}

.ayodia-menubar-2 .i-menubar:last-child {
    border-radius: 0px 10px 10px 0px;
}

.i-menubar svg g {
    fill: #00ADEE;
}

.i-menubar.active svg g:first-child {
    fill: white !important;
}

.i-menubar.active .text-d {
    color: white;
}

.underline {
    text-decoration: underline;
}

.ayodia-ez-accordion .ez-accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    font-weight: bold;
}

.ayodia-ez-accordion {
    border: #eee 1px solid;
}

.active, .ez-accordion:hover {
    background-color: #ccc;
}

.ez-accordion-panel {
    display: none;
    padding: 18px 18px;
    background-color: white;
}

    .ez-accordion-panel.active {
        display: block;
    }

.ez-accordion .i-2 {
    display: none;
    position: absolute;
    right: 30px;
}

.ez-accordion .i-1 {
    display: inline-block;
    position: absolute;
    right: 30px;
}

.ez-accordion.active .i-2 {
    display: inline-block;
    position: absolute;
    right: 30px;
}

.ez-accordion.active .i-1 {
    display: none;
    position: absolute;
    right: 30px;
}


.ayodia-ez-accordion .ez-accordion.accordion-sm {
    padding: 10px 18px;
    font-size: 16px;
}

.ez-accordion.accordion-sm.accordion-style-1 {
    background-color: #F5EAD9;
}

.ez-accordion.accordion-sm.accordion-style-1-active {
    background-color: #E0EFFF;
}

.mock-box {
    background-color: #fffded;
    border: 2px dashed #FFEB3B;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    margin: 40px 0px;
}

.ayodia-main-menu-1 {
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.i-main-menu {
    width: 190px;
    height: 150px;
    display: inline-block;
    background-color: white;
    margin: 20px 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #343434;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

    .i-main-menu .main-menu-d {
        padding: 30px 5px 0px 5px;
        line-height: 15px;
    }

    .i-main-menu::after {
        content: "";
        height: 6px;
        width: 170px;
        background-color: #D2612D;
        bottom: -7px;
        position: absolute;
        border-radius: 0px 0px 10px 10px;
    }

.content-by-ayodia .ayodia-header-content.news-page {
    background-color: white !important;
    border-bottom: 3px solid #e6e6e6 !important;
}

    .content-by-ayodia .ayodia-header-content.news-page .ayodia-title {
        color: #343434;
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        padding: 10px 0px;
    }

.carousel-ayodia {
    margin-left: 140px;
    margin-right: 140px;
}

    .carousel-ayodia .carousel-prev {
        position: absolute;
        top: 0;
        left: -90px;
        cursor: pointer;
        top: calc(50% - 43px);
    }

    .carousel-ayodia .carousel-next {
        position: absolute;
        top: 0;
        right: -90px;
        cursor: pointer;
        top: calc(50% - 43px);
    }

    .carousel-ayodia .carousel-dots {
        position: absolute;
        bottom: -30px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
    }

.f-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ay-alert-number {
    position: absolute;
    top: -5px;
    right: -5px;
}

.alert-profile-content {
    outline: none;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    position: relative;
}


    .alert-profile-content .dropdown-menu {
        display: none;
        position: absolute;
        top: 53px;
        width: 360px;
        padding: 0px;
    }

    .alert-profile-content:hover .dropdown-menu {
        display: block !important;
    }

    .alert-profile-content .dropdown-menu .h-card {
        padding: 5px 30px 5px 60px;
        position: relative;
        border-bottom: #ededed 1px solid;
        min-height: 60px;
        display: flex;
        align-items: center;
    }

        .alert-profile-content .dropdown-menu .h-card .item-name {
            font-size: 14px;
            font-weight: bold;
            margin: 0px;
            line-height: 14px;
        }

        .alert-profile-content .dropdown-menu .h-card .item-time {
            font-size: 14px;
            font-weight: bold;
            margin: 0px;
            line-height: 14px;
            color: #dddddd;
            margin-top: 4px;
        }

    .alert-profile-content .dropdown-menu.alert .h-card .h-img {
        width: 40px;
        position: absolute;
        background-color: #e6e6e6;
        height: 40px;
        left: 10px;
        top: 11px;
        border-radius: 5px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .alert-profile-content .dropdown-menu.alert .h-footer {
        padding: 15px 15px 10px 15px;
        text-align: center;
        font-size: 16px;
        color: #00ADEE;
    }


    .alert-profile-content .dropdown-menu.alert .item-alert {
        height: 300px;
        overflow-x: auto;
    }



.table-img-ayodia .h-card:first-child {
    padding: 0px 0px 30px 0px;
}

.table-img-ayodia .h-card {
    border-bottom: #D8D6D5 1px solid;
    padding: 30px 0px;
    display: flex;
}

    .table-img-ayodia .h-card .h-img {
        width: 110px;
        height: 110px;
        min-width: 110px;
        min-height: 110px;
        border-radius: 5px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 30px;
    }

.table-img-ayodia .item-alert .h-card .item-date {
    font-size: 18px;
    color: #9B9B9B;
}

.table-img-ayodia .item-alert .h-card .item-title {
    font-size: 20px;
    font-weight: bold;
}

.table-img-ayodia .item-alert .h-card .item-detail {
    font-size: 20px;
}

.table-img-ayodia .h-footer {
    display: flex;
    font-size: 18px;
    align-items: center;
    padding: 10px 0px;
    justify-content: space-between;
}

.loadmore {
    color: #00ADEE;
}

.ay-alert-header {
    right: 15px;
    position: absolute;
    top: 13px;
}

::-webkit-scrollbar-thumb {
    background: #1e325a;
    border-radius: 8px;
}


.header-fx-custom {
    display: flex;
    justify-content: flex-start;
}
/************************************************media*/
@media screen and (max-width: 1024px) {
    .nav-profileBar .logo-container img {
        margin-left: 10px;
        margin-top: 5px;
    }


    .nav-profileBar .logo-container {
        border-right: #eaeaea 0px solid !important;
    }

    .nav-profileBar .cir-img-profile {
        height: 50px;
        width: 50px;
    }

    .alert-profile-content {
        padding: 0px 20px 0px 0px;
    }

        .alert-profile-content:hover .dropdown-menu {
            display: block;
            position: fixed;
            width: 99% !important;
            left: 5px;
            top: 65px;
            padding: 0px;
        }

        .alert-profile-content .dropdown-menu.alert .item-alert {
            height: 200px;
            overflow-x: auto;
        }

    .header-fx-custom {
        justify-content: flex-end;
    }

    .mb-50-pc {
        margin-bottom: 0px !important;
    }

    .ghost-menu-space-reserving {
        height: 20px !important;
    }

    .media-padding-col {
        padding: 0px 20px;
    }

    .show-tablet {
        display: block;
    }

    .show-pc {
        display: none;
    }

    .btn-s-md {
        text-align: center;
    }

    .desktop-tb {
        display: none;
    }

    .row-flex-end {
        display: block !important;
    }

    .fcc {
        display: block !important;
    }
    /*content-by-ayodia*/
    .content-by-ayodia .ayodia-header-content {
        padding: 15px 13px;
    }

    .content-by-ayodia .ayodia-body-content {
        padding: 15px 0px;
    }

    .i-main-menu {
        width: 42% !important;
        max-width: 145px !important;
        height: 110px !important;
        margin: 0px 12px 20px 12px !important;
    }

        .i-main-menu svg:first-child {
            width: 40px !important;
            height: 32px !important;
        }

        .i-main-menu .main-menu-d {
            padding: 20px 5px 0px 5px !important;
            line-height: 15px;
            font-size: 16px !important;
        }

        .i-main-menu::after {
            height: 5px !important;
            width: 106px !important;
        }

    .carousel-ayodia {
        margin-left: 12px !important;
        margin-right: 12px !important;
    }

        .carousel-ayodia .carousel-dots {
            bottom: -25px !important;
        }

            .carousel-ayodia .carousel-dots li button:before {
                font-size: 9px !important;
            }

        .carousel-ayodia .carousel-prev {
            display: none !important;
        }

        .carousel-ayodia .carousel-next {
            display: none !important;
        }

    .ayodia-ez-accordion .ez-accordion {
        padding: 18px 40px 18px 18px !important;
        font-size: 14px !important;
        display: flex;
        align-items: center;
    }




    .table-img-ayodia .h-card:first-child {
        padding: 0px 0px 30px 0px;
    }

    .table-img-ayodia .h-card {
        border-bottom: #D8D6D5 1px solid;
        padding: 30px 0px;
        display: flex;
        flex-direction: column;
    }

        .table-img-ayodia .h-card .h-img {
            width: 60px;
            height: 60px;
            min-width: 60px;
            min-height: 60px;
        }

    .table-img-ayodia .item-alert .h-card .item-date {
        font-size: 12px;
    }

    .table-img-ayodia .item-alert .h-card .item-title {
        font-size: 14px;
    }

    .table-img-ayodia .item-alert .h-card .item-detail {
        font-size: 14px;
    }

    .table-img-ayodia .h-footer {
        flex-direction: column !important;
        align-items: flex-start !important;
    }
    /***************************filter box*********************/
    .filter-export-box {
        font-size: 16px;
        padding: 16px 12px;
    }

    .filter-items-r, .filter-items-l {
        float: none;
    }

        .filter-items-l .f-item {
            margin-right: 0px;
            margin-bottom: 10px;
        }

        .filter-items-l .f-item {
            float: left;
            width: 100%;
        }

    .f-item label {
        width: 30%;
    }

    .f-item select {
        width: 65%;
    }

    .filter-items-l .f-item label {
        float: left;
        margin: 7px;
    }

    .filter-items-l .f-item select {
        float: left;
    }


    .result-table-box {
        width: 100%;
        font-size: 16px;
    }

        .result-table-box.l50.pull-right {
            float: none;
            margin: 0px 0px 20px 0px;
            width: 100%;
        }
}

.item-x-3 {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 50px;
}

    .item-x-3 .item-x {
        text-align: center;
        width: 100%;
        height: 50px;
        background: #F5E9D9 0% 0% no-repeat padding-box;
        border: 1px solid #00ADEE;
        opacity: 1;
        justify-content: center;
        align-items: center;
        color: #00ADEE;
        display: flex;
        font-weight: bold;
        cursor: pointer;
        line-height: 15px;
    }

        .item-x-3 .item-x:first-child {
            text-align: center;
            width: 100%;
            height: 50px;
            background: #F5E9D9 0% 0% no-repeat padding-box;
            border: 1px solid #00ADEE;
            opacity: 1;
            border-radius: 10px 0px 0px 10px;
        }

        .item-x-3 .item-x:last-child {
            text-align: center;
            width: 100%;
            height: 50px;
            background: #F5E9D9 0% 0% no-repeat padding-box;
            border: 1px solid #00ADEE;
            opacity: 1;
            border-radius: 0px 10px 10px 0px;
        }

        .item-x-3 .item-x.item-active {
            border-color: #00ADEE;
            background-color: #00ADEE;
            color: #FFFFFF;
        }

@media screen and (max-width: 992px) {
    .row.mainBlock {
        background-color: none !important;
    }
}

@media screen and (max-width: 600px) {
    .font-16 {
        font-family: rsu_r;
        font-size: 16px !important;
    }

    .font-18 {
        font-family: rsu_r;
        font-size: 18px !important;
    }
}

@media screen and (max-width: 350px) {
    .ayodia-main-menu-1 {
        align-items: center;
        justify-content: center;
    }
}

.h-footer .pagination > li > a, .h-footer .pagination > li > span {
    color: #00ADEE;
    margin: 0px 3px;
    border-radius: 5px;
    font-size: 14px;
}

.h-footer .pagination > li > a, .h-footer .pagination > li > span {
    color: #00ADEE;
}

.h-footer .pagination > .active > a,
.h-footer .pagination > .active > a:focus,
.h-footer .pagination > .active > a:hover,
.h-footer .pagination > .active > span,
.h-footer .pagination > .active > span:focus,
.h-footer .pagination > .active > span:hover {
    background-color: #ffffff;
    border-color: #00ADEE;
}



.mainBlock .contentBlock {
    background-color: #e6e6e6;
}

.request-background {
    background: none;
}

.pointnews {
    background-color: dodgerblue;
    height: 10px;
    width: 10px;
    border-radius: 100px;
    position: absolute;
    text-align: right;
    right: 10px;
}
.i-main-menu .main-menu-d {
    padding: 10px 5px 0px 5px;
    line-height: 15px;
}

.text-birthday-card {
    position: absolute;
    top: 50%;
    font-size: 1.8em;
    left: 7%;
    width: 52%;
    height: 15%;
    padding: 0px 26px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;
    color: #A87324;
}

/* .mainBlock .contentBlock {
    background:none;
}
#main_scroll{
    background: url(../images/dasboard-bg.png);
    background-position: top;
    background-repeat: repeat;
    overflow: hidden;
    background-size: cover;
} */

