﻿.TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 thead tr {
    background-color: #172f4b;
    border-bottom: 2px solid #5a7b96;
}

    .TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 thead tr td {
        color: #FFF;
        font-weight: bold;
        padding: 8px;
        padding-bottom: 5px;
    }

.TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 tfoot tr {
    background-color: #172f4b;
    border-top: 1px solid #5a7b96;
}

    .TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 tfoot tr td {
        color: #FFF;
    }

.TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 tbody tr, .TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 tbody td {
    background-color: #41586a;
    color: #fff;
}

.TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 tbody tr {
    border-bottom: 2px solid #5a7b96;
}


table.travelEx_tablesec02 a.action-edit {
    background-color: #FAFAFA;
    color: #172f4b;
    text-align: center !important; 
}

    table.travelEx_tablesec02 a.action-edit > i.icon-doc {
        font-size: 17px;
        font-weight: bold;
    }

.TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02 td, .TravelExManPage .body_content .traveltableBlock table.travelEx_tablesec02.not-fix-width td, .travelExBlock .sum-expend .head-label {
    color: #FFF;
}
.span_name {
    color:#000;
}
.travelExBlock .sum-expend .head-label {
    color: lightskyblue;
}


.travelExBlock .sum-expend {
    background-color: #172f4b;
    border-color: #5a7b96;
    color: #fff;
}


    .travelExBlock .sum-expend .sum-label {
        color: lightskyblue;
    }



div.topic-section > .sum-expend {
    background-color: #fff;
}

    div.topic-section > .sum-expend > label {
        color: #172f4b;
    }

        div.topic-section > .sum-expend > label.sum-label {
            font-weight: bold;
            color: #4772a4;
        }




@media only screen and (max-width: 764px) {
    .ico_lightaction {
        padding: 4px 4px;
        min-width: 30px;
        height: 30px;
        margin-top: 2px;
        position: relative;
        text-align: center !important;
    }

        .ico_lightaction > i {
            position: absolute;
            left: 6px;
            top: 7px;
        }
}
