﻿<div class="TravelExManPage delegation-page" ng-controller="editEmployeeWelfareOtherController" ng-init="init();">

    <div class="row margin-b10">
        <div class="col-sm-10">
            <h1>{{Text['APPLICATION']['AdminAnnouncement_EditEmployeeWelfareOther']}}</h1>
        </div>
        <div class="col-sm-2">
            <a class="m-btn-c2 btn-s-md text-center" style="margin-top:10px;" ng-click="back()">
                <span>
                    {{Text['AdminAnnouncement_EditEmployeeWelfareOther']['Back']}}
                </span>
            </a>
        </div>
    </div>

    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['APPLICATION']['AdminAnnouncement_EditEmployeeWelfareOther']}}
            </div>
        </div>
        <div class="ayodia-body-content" style="min-height:600px;">
            <!-- ไทย -->
            <div class="row margin-b10" ng-hide="isHideMultiCompany">
                <div class="col-sm-2">
                    <div class="sub-title">{{Text['SYSTEM']['COMPANY']}}</div>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="ddlCompany" ng-change="changeCompany(ddlCompany)" disabled>
                        <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                    </select>
                </div>
            </div>

            <div class="row margin-b10">
                <div class="col-sm-12">
                    <div class="sub-title">{{Text['AdminAnnouncement_EditEmployeeWelfareOther']['Data_TH']}}</div>
                </div>
            </div>
            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['AdminAnnouncement_EditEmployeeWelfareOther']['Subject_TH']}}
                        &nbsp;&nbsp;
                        <span style="color:red; font-weight:bold;">*</span>
                    </div>
                </div>
                <div class="col-sm-10">
                    <input class="form-control" type="text" placeholder="Plase Enter Data" ng-model="model.Title_TH" />
                </div>
            </div>
            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncement_EditEmployeeWelfareOther']['Description']}}</div>
                </div>
                <div class="col-sm-10">
                    <div ckeditor="options" ng-model="model.Description_TH" value="HtmlEditor"></div>
                </div>
            </div>
            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncement_EditEmployeeWelfareOther']['Remark']}}</div>
                </div>
                <div class="col-sm-10">
                    <input class="form-control" type="text" placeholder="Plase Enter Data" ng-model="model.Remark_TH" />
                </div>
            </div>

            <!-- รุป TH 1 -->
            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncement_EditEmployeeWelfareOther']['FileAttach']}}</div>
                </div>
                <div class="col-sm-3">
                    <input type="file" name="file0" ngf-select="uploadFile($file,0,'TH')" ngf-max-size="20MB" class="form-control">
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_TH[0].FileName != ''">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncement_EditEmployeeWelfareOther']['SequenceFile']}}</div>
                </div>
                <div class="col-sm-2" ng-show="model.ListPicture_TH[0].FileName != ''">
                    <input type="number" class="form-control text-right" ng-model="model.ListPicture_TH[0].FileSequence" />
                </div>
                <div class="col-sm-3" ng-show="model.ListPicture_TH[0].FileName != ''">
                    <div class="margin-t10">
                        <a href="/Uploads/EmployeeWelfare/{{model.ListPicture_TH[0].FileName}}" target="_blank" style="color:blue; font-weight:bold;">
                            {{model.ListPicture_TH[0].FileName}}
                        </a>
                    </div>
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_TH[0].FileName != ''">
                    <div class="margin-t10"><a ng-click="deleteFile(0,'TH')"><i class="fas fa-trash-alt"></i></a></div>
                </div>
            </div>

            <!-- รุป TH 2 -->
            <div class="row margin-b10">
                <div class="col-sm-offset-2 col-sm-3">
                    <input type="file" name="file0" ngf-select="uploadFile($file,1,'TH')" ngf-max-size="20MB" class="form-control">
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_TH[1].FileName != ''">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncement_EditEmployeeWelfareOther']['SequenceFile']}}</div>
                </div>
                <div class="col-sm-2" ng-show="model.ListPicture_TH[1].FileName != ''">
                    <input type="number" class="form-control text-right" ng-model="model.ListPicture_TH[1].FileSequence" />
                </div>
                <div class="col-sm-3" ng-show="model.ListPicture_TH[1].FileName != ''">
                    <div class="margin-t10">
                        <a href="/Uploads/EmployeeWelfare/{{model.ListPicture_TH[1].FileName}}" target="_blank" style="color:blue; font-weight:bold;">
                            {{model.ListPicture_TH[1].FileName}}
                        </a>
                    </div>
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_TH[1].FileName != ''">
                    <div class="margin-t10"><a ng-click="deleteFile(1,'TH')"><i class="fas fa-trash-alt"></i></a></div>
                </div>
            </div>

            <!-- รุป TH 3 -->
            <div class="row margin-b10">
                <div class="col-sm-offset-2 col-sm-3">
                    <input type="file" name="file0" ngf-select="uploadFile($file,2,'TH')" ngf-max-size="20MB" class="form-control">
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_TH[2].FileName != ''">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncement_EditEmployeeWelfareOther']['SequenceFile']}}</div>
                </div>
                <div class="col-sm-2" ng-show="model.ListPicture_TH[2].FileName != ''">
                    <input type="number" class="form-control text-right" ng-model="model.ListPicture_TH[2].FileSequence" />
                </div>
                <div class="col-sm-3" ng-show="model.ListPicture_TH[2].FileName != ''">
                    <div class="margin-t10">
                        <a href="/Uploads/EmployeeWelfare/{{model.ListPicture_TH[2].FileName}}" target="_blank" style="color:blue; font-weight:bold;">
                            {{model.ListPicture_TH[2].FileName}}
                        </a>
                    </div>
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_TH[2].FileName != ''">
                    <div class="margin-t10"><a ng-click="deleteFile(2,'TH')"><i class="fas fa-trash-alt"></i></a></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <!--EN-->
            <div class="row margin-b10">
                <div class="col-sm-12">
                    <div class="sub-title">{{Text['AdminAnnouncement_EditEmployeeWelfareOther']['Data_EN']}}</div>
                </div>
            </div>
            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">
                        {{Text['AdminAnnouncement_EditEmployeeWelfareOther']['Subject_EN']}}
                        &nbsp;&nbsp;
                        <span style="color:red; font-weight:bold;">*</span>
                    </div>
                </div>
                <div class="col-sm-10">
                    <input class="form-control" type="text" placeholder="Plase Enter Data" ng-model="model.Title_EN" />
                </div>
            </div>
            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncement_EditEmployeeWelfareOther']['Description']}}</div>
                </div>
                <div class="col-sm-10">
                    <div ckeditor="options" ng-model="model.Description_EN" value="HtmlEditor2"></div>
                </div>
            </div>

            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncement_EditEmployeeWelfareOther']['Remark']}}</div>
                </div>
                <div class="col-sm-10">
                    <input class="form-control" type="text" placeholder="Plase Enter Data" ng-model="model.Remark_EN" />
                </div>
            </div>

            <!-- รุป EN 1 -->
            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncement_EditEmployeeWelfareOther']['FileAttach']}}</div>
                </div>
                <div class="col-sm-3">
                    <input type="file" name="file0" ngf-select="uploadFile($file,0,'EN')" ngf-max-size="20MB" class="form-control">
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_EN[0].FileName != ''">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncement_EditEmployeeWelfareOther']['SequenceFile']}}</div>
                </div>
                <div class="col-sm-2" ng-show="model.ListPicture_EN[0].FileName != ''">
                    <input type="number" class="form-control text-right" ng-model="model.ListPicture_EN[0].FileSequence" />
                </div>
                <div class="col-sm-3" ng-show="model.ListPicture_EN[0].FileName != ''">
                    <div class="margin-t10">
                        <a href="/Uploads/EmployeeWelfare/{{model.ListPicture_EN[0].FileName}}" target="_blank" style="color:blue; font-weight:bold;">
                            {{model.ListPicture_EN[0].FileName}}
                        </a>
                    </div>
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_EN[0].FileName != ''">
                    <div class="margin-t10"><a ng-click="deleteFile(0,'EN')"><i class="fas fa-trash-alt"></i></a></div>
                </div>
            </div>

            <!-- รุป EN 2 -->
            <div class="row margin-b10">
                <div class="col-sm-offset-2 col-sm-3">
                    <input type="file" name="file0" ngf-select="uploadFile($file,1,'EN')" ngf-max-size="20MB" class="form-control">
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_EN[1].FileName != ''">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncement_EditEmployeeWelfareOther']['SequenceFile']}}</div>
                </div>
                <div class="col-sm-2" ng-show="model.ListPicture_EN[1].FileName != ''">
                    <input type="number" class="form-control text-right" ng-model="model.ListPicture_EN[1].FileSequence" />
                </div>
                <div class="col-sm-3" ng-show="model.ListPicture_EN[1].FileName != ''">
                    <div class="margin-t10">
                        <a href="/Uploads/EmployeeWelfare/{{model.ListPicture_EN[1].FileName}}" target="_blank" style="color:blue; font-weight:bold;">
                            {{model.ListPicture_EN[1].FileName}}
                        </a>
                    </div>
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_EN[1].FileName != ''">
                    <div class="margin-t10"><a ng-click="deleteFile(1,'EN')"><i class="fas fa-trash-alt"></i></a></div>
                </div>
            </div>

            <!-- รุป EN 3 -->
            <div class="row margin-b10">
                <div class="col-sm-offset-2 col-sm-3">
                    <input type="file" name="file0" ngf-select="uploadFile($file,2,'EN')" ngf-max-size="20MB" class="form-control">
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_EN[2].FileName != ''">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncement_EditEmployeeWelfareOther']['SequenceFile']}}</div>
                </div>
                <div class="col-sm-2" ng-show="model.ListPicture_EN[2].FileName != ''">
                    <input type="number" class="form-control text-right" ng-model="model.ListPicture_EN[2].FileSequence" />
                </div>
                <div class="col-sm-3" ng-show="model.ListPicture_EN[2].FileName != ''">
                    <div class="margin-t10">
                        <a href="/Uploads/EmployeeWelfare/{{model.ListPicture_EN[2].FileName}}" target="_blank" style="color:blue; font-weight:bold;">
                            {{model.ListPicture_EN[2].FileName}}
                        </a>
                    </div>
                </div>
                <div class="col-sm-1" ng-show="model.ListPicture_EN[2].FileName != ''">
                    <div class="margin-t10"><a ng-click="deleteFile(2,'EN')"><i class="fas fa-trash-alt"></i></a></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <div class="row margin-b10" ng-hide="is_option.Hide">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncement_EditEmployeeWelfareOther']['EffectiveDate']}}</div>
                </div>
                <div class="col-sm-3">
                    <div class="datepicker-height-set" style="position:relative;height:40px;">
                        <datepicker callback-on-change="setEffectiveDate(newDate)" date-format="d/M/yyyy" date-set="{{model.EffectiveDate}}">
                            <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                        </datepicker>
                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncement_EditEmployeeWelfareOther']['ExpireDate']}}</div>
                </div>
                <div class="col-sm-3">
                    <div class="datepicker-height-set" style="position:relative;height:40px;">
                        <datepicker callback-on-change="setExpireDate(newDate)" date-min-limit-for-range="{{model.EffectiveDate}}" date-format="d/M/yyyy" date-set="{{model.ExpireDate}}">
                            <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                        </datepicker>
                        <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="margin-t10"><md-checkbox ng-model="model.IsUnlimitedExpire">{{Text['AdminAnnouncement_EditEmployeeWelfareOther']['IsUnlimitTimeAnnouncement']}}</md-checkbox></div>
                </div>
            </div>

            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncement_EditEmployeeWelfareOther']['Sequence']}}</div>
                </div>
                <div class="col-sm-3">
                    <input type="number" class="form-control" ng-model="model.Sequence" />
                </div>
            </div>

            <div class="row margin-b10">
                <div class="col-sm-2">
                    <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncement_EditEmployeeWelfareOther']['Status']}}</div>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="model.AnnouncementStatusId">
                        <option ng-repeat="item in list_status" ng-value="item.AnnouncementStatusId"> {{item.Name}}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="line-under margin-b20 "></div>
                </div>
            </div>

            <div class="row margin-b20">
                <div class="col-sm-offset-2 col-sm-2">
                    <a class="m-btn-c2 btn-s-md text-center" ng-click="editAnnouncementEmployeeWelfare()">
                        <span>
                            {{Text['AdminAnnouncement_EditEmployeeWelfareOther']['Edit']}}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--<pre>{{model | json}}</pre>-->
</div>
