﻿<div class="TravelExManPage delegation-page" ng-controller="editPublicRelationsController" ng-init="init();">
    <div class="row margin-b10">
        <div class="col-sm-10">
            <h1>{{Text['APPLICATION']['AdminAnnouncementPublicRelations_Edit']}}</h1>
        </div>
        <div class="col-sm-2">
            <a class="m-btn-c2 btn-s-md text-center" style="margin-top:10px;" ng-click="back()">
                <span>
                    {{Text['AdminAnnouncementPublicRelations_Edit']['Back']}}
                </span>
            </a>
        </div>
    </div>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100" style="color:white;">
                {{Text['APPLICATION']['AdminAnnouncementPublicRelations_Edit']}}
            </div>
        </div>
        <div class="ayodia-body-content" style="min-height:600px;">
            <div>
                <div class="row margin-b10" ng-hide="isHideMultiCompany">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">
                            {{Text['SYSTEM']['COMPANY']}}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="ddlCompany" ng-change="changeCompany(ddlCompany)" disabled>
                            <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                        </select>
                    </div>
                </div>

                <div class="row margin-b10">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">
                            {{Text['AdminAnnouncementPublicRelations_Edit']['Title_TH']}}
                            &nbsp;
                            <span style="color:red; font-weight:bold;">*</span>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" placeholder="Plase Enter Data" ng-model="model.Title_TH" />
                    </div>
                </div>
                <div class="row margin-b10">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">
                            {{Text['AdminAnnouncementPublicRelations_Edit']['Title_EN']}}
                            &nbsp;
                            <span style="color:red; font-weight:bold;">*</span>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" placeholder="Plase Enter Data" ng-model="model.Title_EN" />
                    </div>
                </div>
                <div class="row margin-b10">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncementPublicRelations_Edit']['Link']}}</div>
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" placeholder="Plase Enter Data" ng-model="model.TextLink" />
                        <span class="text-error-rq">{{Text['AdminAnnouncementPublicRelations_Edit']['LinkRemark']}}</span>
                    </div>
                </div>

                <div class="row margin-b10">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">
                            {{Text['AdminAnnouncementPublicRelations_Edit']['FileAttach']}} (TH)
                            &nbsp;
                            <span style="color:red; font-weight:bold;">*</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <input type="file" ngf-select="uploadFile($file,'TH')" name="file1" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" class="form-control">
                    </div>
                    <div class="col-sm-1" ng-show="model.File_TH">
                        <div class="text-basic-md-center-input color-main">รูปภาพ</div>
                    </div>
                    <div class="col-sm-2" ng-show="model.File_TH">
                        <a href="/Uploads/AnnouncementPublicRelations/{{model.File_TH}}" target="_blank">
                            <img src="/Uploads/AnnouncementPublicRelations/{{model.File_TH}}" width="40" height="35" />
                        </a>
                    </div>
                    <div class="col-sm-1" ng-show="model.File_TH">
                        <div class="margin-t10"><a ng-click="deleteFile('TH')"><i class="fas fa-trash-alt"></i></a></div>
                    </div>
                </div>

                <div class="row margin-b10">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">
                            {{Text['AdminAnnouncementPublicRelations_Edit']['FileAttach']}} (EN)
                            &nbsp;
                            <span style="color:red; font-weight:bold;">*</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <input type="file" ngf-select="uploadFile($file,'EN')" name="file2" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" class="form-control">
                    </div>
                    <div class="col-sm-1" ng-show="model.File_EN">
                        <div class="text-basic-md-center-input color-main">รูปภาพ</div>
                    </div>
                    <div class="col-sm-2" ng-show="model.File_EN">
                        <a href="/Uploads/AnnouncementPublicRelations/{{model.File_EN}}" target="_blank">
                            <img src="/Uploads/AnnouncementPublicRelations/{{model.File_EN}}" width="40" height="35" />
                        </a>
                    </div>
                    <div class="col-sm-1" ng-show="model.File_EN">
                        <div class="margin-t10"><a ng-click="deleteFile('EN')"><i class="fas fa-trash-alt"></i></a></div>
                    </div>
                </div>

                <div class="row margin-b20">
                    <div class="col-sm-offset-2 col-sm-10">
                        <span class="text-error-rq">{{Text['AdminAnnouncementPublicRelations_Create']['SizePicture']}}</span>
                    </div>
                </div>

                <div class="row margin-b10">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncementPublicRelations_Edit']['EffectiveDate']}}</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="datepicker-height-set" style="position:relative;height:40px;">
                            <datepicker callback-on-change="setEffectiveDate(newDate)" date-format="d/M/yyyy" date-set="{{model.EffectiveDate}}">
                                <input name="DOB" class="form-control clickable datepicker" type="text" />
                            </datepicker>
                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncementPublicRelations_Edit']['ExpireDate']}}</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="datepicker-height-set" style="position:relative;height:40px;">
                            <datepicker callback-on-change="setExpireDate(newDate)" date-min-limit-for-range="{{model.EffectiveDate}}" date-format="d/M/yyyy" date-set="{{model.ExpireDate}}">
                                <input name="DOB" class="form-control clickable datepicker" type="text" ng-disabled="model.IsUnlimitedExpire" />
                            </datepicker>
                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="margin-t10"><md-checkbox ng-model="model.IsUnlimitedExpire">{{Text['AdminAnnouncementPublicRelations_Edit']['UnlimitAnnouncement']}}</md-checkbox></div>
                    </div>
                </div>
                <div class="row margin-b10">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncementPublicRelations_Edit']['Sequence']}}</div>
                    </div>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" ng-model="model.Sequence" />
                    </div>
                </div>
                <div class="row margin-b10">
                    <div class="col-sm-2">
                        <div class="text-basic-md-center-input color-main">{{Text['AdminAnnouncementPublicRelationsText_Edit']['Status']}}</div>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="model.AnnouncementStatusId">
                            <option ng-repeat="item in list_status" ng-value="item.AnnouncementStatusId"> {{item.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row margin-b20">
                    <div class="col-sm-offset-2 col-sm-2">
                        <a class="m-btn-c2 btn-s-md text-center" ng-click="editAnnouncementPublicRelations()">
                            <span>
                                {{Text['AdminAnnouncementPublicRelations_Edit']['Save']}}
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<pre>{{model | json}}</pre>-->
</div>