﻿<div class="TravelExManPage delegation-page" ng-controller="listPublicRelationsController" ng-init="init();">
    <div class="row margin-b10">
        <div class="col-sm-10">
            <h1>{{Text['AdminAnnouncementPublicRelations']['Transaction']}}</h1>
        </div>
        <div class="col-sm-2">
            <a class="m-btn-c2 btn-s-md text-center" style="margin-top:10px;" ng-click="back()">
                <span>
                    {{Text['SYSTEM']['BACK']}}
                </span>
            </a>
        </div>
    </div>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100" style="color:white;">
                {{Text['AdminAnnouncementPublicRelations']['Transaction']}}
            </div>
        </div>
        <div class="ayodia-body-content">

            <div class="row margin-b20" ng-hide="isHideMultiCompany">
                <div class="col-sm-12">
                    <div class="col-sm-1 text-center font-18 font-weight-bold">{{Text['SYSTEM']['COMPANY']}} :</div>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="ddlCompany" ng-change="changeCompany(ddlCompany)">
                            <option value="{{item.CompanyCode}}" ng-repeat="item in CompanyList">{{item.Name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="filter-export-box clearfix margin-b20">
                        <div class="filter-items-l margin-b-5">
                            <a class="m-btn-c2 btn-s-md" ng-click="editSequenceAnnouncement();">
                                <span class="">
                                    <i class="fa fa-bars" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{Text['AdminAnnouncementPublicRelations'].EditSequence}}
                                </span>
                            </a>
                        </div>
                        <div class="filter-items-r">
                            <a class="m-btn-c2 btn-s-md" ng-click="CreateNews();">
                                <span class="">
                                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;{{Text['AdminAnnouncementPublicRelations'].Create}}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-style-responsive">
                        <table class="w-100 table-style-1 margin-b10 ">
                            <tr class="t-header">
                                <th width="3%" class="text-center">
                                    <input type="checkbox" ng-model="check_all" ng-click="check_data_all(check_all)" />
                                </th>
                                <th class="text-center" width="3%">{{Text['AdminAnnouncementPublicRelations']['Sequence']}}</th>
                                <th class="text-center" width="33%">{{Text['AdminAnnouncementPublicRelations'].Title_TH}}</th>
                                <th class="text-center" width="33%">{{Text['AdminAnnouncementPublicRelations'].Title_EN}}</th>
                                <th class="text-center" width="5%">{{Text['AdminAnnouncementPublicRelations'].EffectiveDate}}</th>
                                <th class="text-center" width="5%">{{Text['AdminAnnouncementPublicRelations'].ExpireDate}}</th>
                                <th class="text-center" width="8%">{{Text['AdminAnnouncementPublicRelations'].Status}}</th>
                                <!--<th class="text-center" width="15%">{{Text['AdminAnnouncementPublicRelations'].IsUnlimitAnnouncement}}</th>-->
                                <th class="text-center" width="7%"></th>
                            </tr>
                            <tr class="t-body" ng-if="list_announcement.length > 0" ng-repeat="item in list_announcement">
                                <td class="text-center">
                                    <input type="checkbox" ng-model="item.IsChecked" />
                                </td>
                                <td>
                                    <input class="form-control" style="text-align:center;" type="number" ng-model="item.Sequence" ng-disabled="!item.IsChecked" />
                                </td>
                                <td class="text-left">{{item.Title_TH}}</td>
                                <td class="text-left">{{item.Title_EN}}</td>
                                <td class="text-center">{{item.EffectiveDate | date:'d/M/yyyy'}}</td>
                                <td class="text-center">
                                    <span ng-if="item.IsUnlimitedExpire">31/12/9999</span>
                                    <span ng-if="!item.IsUnlimitedExpire">{{item.ExpireDate | date:'d/M/yyyy'}}</span>
                                </td>
                                <td>
                                    <div class="m-btn-green btn-s-sm text-center m-auto w110px" ng-show="item.AnnouncementStatusId == 1">
                                        <span class="">{{Text['STATUS']['DisPlay_Announcement']}}</span>
                                    </div>
                                    <div class="m-btn-red btn-s-sm text-center m-auto w110px" ng-show="item.AnnouncementStatusId == 2">
                                        <span class="">{{Text['STATUS']['Hide_Announcement']}}</span>
                                    </div>
                                </td>
                                <!--<td class="text-center">
                                    <img src="./images/icon_correct.png" width="30" ng-if="item.IsUnlimitedExpire" />
                                </td>-->
                                <td class="text-center">
                                    <a ng-click="deleteAnnouncement(item.AnnouncementId)"><i class="fas fa-trash-alt"></i></a>
                                    &nbsp;
                                    <a ng-click="editAnnouncement(item.AnnouncementId)"><i class="fas fa-edit"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<pre>{{list_announcement | json}}</pre>-->
</div>