﻿<div class="TravelExManPage delegation-page" ng-controller="OTSummaryByAdminAndSupervisorController" ng-init="init();">

    <h1>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['Subject']}}</h1>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['DASHBOARD_OTLOG_BY_ADMIN']['Subject']}}
            </div>
        </div>
        <div class="my-tab clearfix">
            <a class="" style="width:33.33%" ng-class="demo == '1'?'active':''" ng-click="change_tab('1')">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['Now']}}</a>
            <a class="" style="width:33.33%" ng-class="demo == '2'?'active':''" ng-click="change_tab('2')">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['Month']}}</a>
            <a class="" style="width:33.33%" ng-class="demo == '3'?'active':''" ng-click="change_tab('3')">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['Year']}}</a>
        </div>

        <!-- แสดงรายการปัจจุบัน -->
        <div class="ayodia-body-content" ng-if="demo == 1">

            <div class="ayodia-body-content-section-1 show-tablet">
                <div class="row">
                    <div class="col-lg-12 col-md-11 col-sm-12 col-12">
                        <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['Unit']}}</label>
                        <select class="form-control w240px-desktop" ng-model="now_unit" ng-change="loadDashbaordTab1(now_unit);">
                            <option value="0" ng-show="profile.Language == 'TH'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                            <option value="0" ng-show="profile.Language == 'EN'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                            <option ng-repeat="item in list_unit_all" value="{{item.OrgUnit}}">
                                {{item.OrgPath}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="filter-export-box w clearfix margin-b20">
                        <div class="filter-items-l clearfix sub-title font-18">
                            YTD Overtime and Salary
                        </div>
                        <div class="filter-items-r show-pc">
                            <div class="f-item">
                                <!--<select class="form-control w240px-desktop" ng-model="now_unit" ng-change="loadDashbaordTab1(now_unit);">
                                    <option value="0" ng-show="profile.Language == 'TH'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                                    <option value="0" ng-show="profile.Language == 'EN'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                                    <option ng-repeat="item in list_unit_all" value="{{item.OrgUnit}}">
                                        {{item.OrgDisplay}}
                                    </option>
                                </select>-->
                                <div style="position:relative;">
                                    <md-autocomplete class="blocked-cross-btn"
                                                     ng-click="tryToSelect(searchText)"
                                                     ng-blur="checkText(searchText)"
                                                     md-require-match="true"
                                                     theme="bootstrap"
                                                     ng-disabled="false"
                                                     md-no-cache="true"
                                                     md-selected-item="autocomplete.selectedItem"
                                                     md-search-text-change="searchTextChange(searchText)"
                                                     md-search-text="searchText"
                                                     md-selected-item-change="selectedItemChange(autocomplete.selectedItem)"
                                                     md-items="item in querySearchOrgUnit(searchText)"
                                                     md-item-text="item.OrgDisplay"
                                                     md-min-length="0"
                                                     required
                                                     md-autoselect="true"
                                                     placeholder="Select OrgUnit">
                                        <md-item-template>
                                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.OrgDisplay}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No states matching "{{searchText}}" was found.
                                        </md-not-found>
                                    </md-autocomplete>
                                    <i class="caret pull-right" style=" position: absolute; right: 10px; top: 20px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row margin-b20">
                <div class="col-sm-offset-3 col-sm-4 col-md-offset-3 col-md-4 margin-b20">
                    <div class="text-center">
                        <div style="width:100%;max-width:600px; margin:auto">
                            <canvas id="doughnut" class="chart chart-doughnut" chart-options="chartData.options"
                                    chart-data="chartData.data" chart-labels="chartData.labels" chart-colors="chartData.colours"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-offset-3 col-sm-5 col-md-offset-3 col-md-4 margin-b20">
                    <div class="text-center">
                        <div class="col-md-12  text-center margin-b10 clearfix chart-svg-detail c9">
                            <div class="sub-title-2 margin-none pull-left">
                                <i class="review-box color-2"></i>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['Overtime']}}
                            </div>
                            <div class="sub-title-2 margin-none pull-right">{{overtime| number:2}}&nbsp;{{Text['DASHBOARD_OTLOG_BY_ADMIN']['Bath']}}</div>
                        </div>
                        <div class="col-md-12 text-center margin-b10 clearfix chart-svg-detail c9">
                            <div class="sub-title-2 margin-none pull-left">
                                <i class="review-box color-1"></i>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['Salary']}}
                            </div>
                            <div class="sub-title-2 margin-none pull-right">{{salary| number:2}}&nbsp;{{Text['DASHBOARD_OTLOG_BY_ADMIN']['Bath']}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<pre>{{list_unit_all | json}}</pre>-->
        </div>

        <!-- แสดงรายเดือน -->
        <div class="ayodia-body-content" ng-if="demo == 2">

            <div class="row margin-b20">
                <div class="col-md-12 media-padding-col">
                    <div class="item-x-3 show-pc  mb-50">
                        <div class="item-x" ng-click="change_sub_tab2('1')" ng-class="demo2_1 == '1'?'item-active':''">Overtime (BU & OT Reasons)</div>
                        <div class="item-x" ng-click="change_sub_tab2('2')" ng-class="demo2_1 == '2'?'item-active':''"> Overtime & Salary by Month </div>
                        <div class="item-x" ng-click="change_sub_tab2('3')" ng-class="demo2_1 == '3'?'item-active':''">Summary OT & Salary (Month)</div>
                    </div>
                </div>
            </div>

            <!-- Overtime (BU & OT Reasons) -->
            <div class="row margin-b10" ng-if="demo2_1 == 1">
                <div class="ayodia-body-content-section-1 show-tablet" style="padding-top: 0px;">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12 margin-b20">
                            <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['SelectYear']}}</label>
                            <select class="form-control" ng-model="select_year_tab2" ng-change="loadAllDashbaordTab2(now_unit,select_year_tab2,select_month_tab2);">
                                <option ng-if="list_year_tab2.length > 0" ng-repeat="year in list_year_tab2" value="{{year}}">
                                    {{year}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12 margin-b20">
                            <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['SelectMonth']}}</label>
                            <select class="form-control" ng-model="select_month_tab2" ng-change="loadAllDashbaordTab2(now_unit,select_year_tab2,select_month_tab2);">
                                <option ng-if="dashboard_month.length > 0" ng-repeat="month in dashboard_month" value="{{month}}">
                                    {{Text['MONTH'][month]}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-11 col-sm-12 col-12">
                            <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['Unit']}}</label>
                            <select class="form-control" ng-model="now_unit" ng-change="loadAllDashbaordTab2(now_unit,select_year_tab2,select_month_tab2);">
                                <option value="0" ng-show="profile.Language == 'TH'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                                <option value="0" ng-show="profile.Language == 'EN'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                                <option ng-repeat="item in list_unit_all" value="{{item.OrgUnit}}">
                                    {{item.OrgNameTH}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row show-pc">
                    <div class="col-sm-12">
                        <div class="filter-export-box w clearfix margin-b20">
                            <div class="filter-items-l clearfix">
                                <div class="f-item">
                                    <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN'][SelectYear]}}</label>
                                    <select class="form-control w240px-desktop" ng-model="select_year_tab2" ng-change="reloadOrgUnit(2,select_year_tab2,select_year_tab2,select_month_tab2,now_unit);">
                                        <option ng-if="list_year_tab2.length > 0" ng-repeat="year in list_year_tab2" value="{{year}}">
                                            {{year}}
                                        </option>
                                    </select>
                                </div>
                                <div class="f-item">
                                    <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN'][SelectMonth]}}</label>
                                    <select class="form-control w240px-desktop" ng-model="select_month_tab2" ng-change="loadAllDashbaordTab2(now_unit,select_year_tab2,select_month_tab2);">
                                        <option ng-if="dashboard_month.length > 0" ng-repeat="month in dashboard_month" value="{{month}}">
                                            {{Text['MONTH'][month]}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="filter-items-r">
                                <div class="f-item">
                                    <!--<select class="form-control w240px-desktop" ng-model="now_unit" ng-change="loadAllDashbaordTab2(now_unit,select_year_tab2,select_month_tab2);">
                                        <option value="0" ng-show="profile.Language == 'TH'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                                        <option value="0" ng-show="profile.Language == 'EN'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                                        <option ng-repeat="item in list_unit_all" value="{{item.OrgUnit}}">
                                            {{item.OrgDisplay}}
                                        </option>
                                    </select>-->
                                    <div style="position:relative;">
                                        <md-autocomplete class="blocked-cross-btn"
                                                         ng-click="tryToSelect(searchText)"
                                                         ng-blur="checkText(searchText)"
                                                         md-require-match="true"
                                                         theme="bootstrap"
                                                         ng-disabled="false"
                                                         md-no-cache="true"
                                                         md-selected-item="autocomplete.selectedItem"
                                                         md-search-text-change="searchTextChange(searchText)"
                                                         md-search-text="searchText"
                                                         md-selected-item-change="selectedItemChange(item)"
                                                         md-items="item in querySearchOrgUnit(searchText)"
                                                         md-item-text="item.OrgDisplay"
                                                         md-min-length="0"
                                                         required
                                                         md-autoselect="true"
                                                         placeholder="Select OrgUnit">
                                            <md-item-template>
                                                <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.OrgDisplay}}</span>
                                            </md-item-template>
                                            <md-not-found>
                                                No states matching "{{searchText}}" was found.
                                            </md-not-found>
                                        </md-autocomplete>
                                        <i class="caret pull-right" style=" position: absolute; right: 10px; top: 20px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Overtime by Business Unit in this month -->
                <div class="ayodia-body-content-section-1 ">
                    <div class="row sub-title font-18">
                        <div class="col-sm-12">
                            Overtime by Business Unit in this month
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 margin-b20 ">
                            <div class="row fcc">
                                <div class="col-md-11 text-center margin-b10">
                                    <div class=" text-center">
                                        <div style="width:100%; margin:auto">
                                            <canvas id="bar" class="chart chart-bar" chart-options="overtimeBusiness.options"
                                                    chart-data="overtimeBusiness.data" chart-labels="overtimeBusiness.labels" chart-colors="overtimeBusiness.colours"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--TOP OT Reasons-->
                <div class="ayodia-body-content-section-1 " style="border-bottom:0px">
                    <div class="row sub-title font-18">
                        <div class="col-sm-12">
                            TOP OT Reasons
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 margin-b20 ">
                            <div class="row fcc">
                                <div class="col-md-11 text-center margin-b10">
                                    <div class=" text-center">
                                        <div style="width:100%; margin:auto">
                                            <canvas id="horizontalBar" class="chart chart-horizontalBar" chart-options="overtimeReasons.options"
                                                    chart-data="overtimeReasons.data" chart-labels="overtimeReasons.labels" chart-colors="overtimeReasons.colours"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Overtime & Salary by Month -->
            <div class="row margin-b10" ng-if="demo2_1 == 2">

                <div class="ayodia-body-content-section-1 show-tablet" style="padding-top: 0px;">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12 margin-b20">
                            <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['SelectYear']}}</label>
                            <select class="form-control w240px-desktop" ng-model="select_year_tab2" ng-change="load_grap2_2(now_unit,select_year_tab2);">
                                <option ng-if="list_year_tab2.length > 0" ng-repeat="year in list_year_tab2" value="{{year}}">
                                    {{year}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-11 col-sm-12 col-12">
                            <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['Unit']}}</label>
                            <select class="form-control" ng-model="now_unit" ng-change="load_grap2_2(now_unit,select_year_tab2);">
                                <option value="0" ng-show="profile.Language == 'TH'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                                <option value="0" ng-show="profile.Language == 'EN'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                                <option ng-repeat="item in list_unit_all" value="{{item.OrgUnit}}">
                                    {{item.OrgDisplay}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row show-pc">
                    <div class="col-sm-12">
                        <div class="filter-export-box w clearfix margin-b20">
                            <div class="filter-items-l clearfix">
                                <div class="f-item">
                                    <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['SelectYear']}}</label>
                                    <!--<select class="form-control w240px-desktop" ng-model="select_year_tab2" ng-change="load_grap2_2(now_unit,select_year_tab2);">-->
                                    <select class="form-control w240px-desktop" ng-model="select_year_tab2" ng-change="reloadOrgUnit(3,select_year_tab2,select_year_tab2,0,now_unit);">
                                        <option ng-if="list_year_tab2.length > 0" ng-repeat="year in list_year_tab2" value="{{year}}">
                                            {{year}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="filter-items-r">
                                <div class="f-item">
                                    <!--<select class="form-control w240px-desktop" ng-model="now_unit" ng-change="load_grap2_2(now_unit,select_year_tab2);">
                                        <option value="0" ng-show="profile.Language == 'TH'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                                        <option value="0" ng-show="profile.Language == 'EN'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                                        <option ng-repeat="item in list_unit_all" value="{{item.OrgUnit}}">
                                            {{item.OrgDisplay}}
                                        </option>
                                    </select>-->
                                    <div style="position:relative;">
                                        <md-autocomplete class="blocked-cross-btn"
                                                         ng-click="tryToSelect(searchText)"
                                                         ng-blur="checkText(searchText)"
                                                         md-require-match="true"
                                                         theme="bootstrap"
                                                         ng-disabled="false"
                                                         md-no-cache="true"
                                                         md-selected-item="autocomplete.selectedItem"
                                                         md-search-text-change="searchTextChange(searchText)"
                                                         md-search-text="searchText"
                                                         md-selected-item-change="selectedItemChange(item)"
                                                         md-items="item in querySearchOrgUnit(searchText)"
                                                         md-item-text="item.OrgDisplay"
                                                         md-min-length="0"
                                                         required
                                                         md-autoselect="true"
                                                         placeholder="Select OrgUnit">
                                            <md-item-template>
                                                <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.OrgDisplay}}</span>
                                            </md-item-template>
                                            <md-not-found>
                                                No states matching "{{searchText}}" was found.
                                            </md-not-found>
                                        </md-autocomplete>
                                        <i class="caret pull-right" style=" position: absolute; right: 10px; top: 20px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 margin-b20 ">
                        <div class="row sub-title font-18">
                            <div class="col-sm-12">
                                Overtime and Salary in Year {{select_year_tab2}}
                            </div>
                        </div>
                        <div class="row fcc">
                            <div class="col-md-12 text-center margin-b10">
                                <div class=" text-center">
                                    <div style="max-width:600px;width:100%; margin:auto">
                                        <canvas id="bar" class="chart chart-bar" chart-options="overtimeInYear.options"
                                                chart-data="overtimeInYear.data" chart-labels="overtimeInYear.labels" chart-series="overtimeInYear.series"
                                                chart-colors="overtimeInYear.colours" chart-dataset-override="overtimeInYear.datasetOverride"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Summary OT & Salary (Month) -->
            <div class="row margin-b10" ng-if="demo2_1 == 3">

                <div class="show-tablet">
                    <div class="ayodia-body-content-section-1" style="padding-top: 0px;">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 margin-b20">
                                <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['SelectYear']}}</label>
                                <!--<select class="form-control" ng-model="select_year_tab2" ng-change="loadDashboardTabl2_3(now_unit,select_year_tab2,select_month_tab2);">-->
                                <select class="form-control" ng-model="select_year_tab2" ng-change="reloadOrgUnit(4,select_year_tab2,select_year_tab2,select_month_tab2,now_unit);">
                                    <option ng-if="list_year_tab2.length > 0" ng-repeat="year in list_year_tab2" value="{{year}}">
                                        {{year}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 margin-b20">
                                <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['SelectMonth']}}</label>
                                <select class="form-control" ng-model="select_month_tab2" ng-change="loadDashboardTabl2_3(now_unit,select_year_tab2,select_month_tab2);">
                                    <option ng-if="dashboard_month.length > 0" ng-repeat="month in dashboard_month" value="{{month}}">
                                        {{Text['MONTH'][month]}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-11 col-sm-12 col-12">
                                <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['Unit']}}</label>
                                <!--<select class="form-control" ng-model="now_unit" ng-change="loadDashboardTabl2_3(now_unit,select_year_tab2,select_month_tab2);">
                                    <option value="0" ng-show="profile.Language == 'TH'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                                    <option value="0" ng-show="profile.Language == 'EN'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                                    <option ng-repeat="item in list_unit_all" value="{{item.OrgUnit}}">
                                        {{item.OrgName}}
                                    </option>
                                </select>-->
                                <div style="position:relative;">
                                    <md-autocomplete class="blocked-cross-btn"
                                                     ng-click="tryToSelect(searchText)"
                                                     ng-blur="checkText(searchText)"
                                                     md-require-match="true"
                                                     theme="bootstrap"
                                                     ng-disabled="false"
                                                     md-no-cache="true"
                                                     md-selected-item="autocomplete.selectedItem"
                                                     md-search-text-change="searchTextChange(searchText)"
                                                     md-search-text="searchText"
                                                     md-selected-item-change="selectedItemChange(item)"
                                                     md-items="item in querySearchOrgUnit(searchText)"
                                                     md-item-text="item.OrgDisplay"
                                                     md-min-length="0"
                                                     required
                                                     md-autoselect="true"
                                                     placeholder="Select OrgUnit">
                                        <md-item-template>
                                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.OrgDisplay}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No states matching "{{searchText}}" was found.
                                        </md-not-found>
                                    </md-autocomplete>
                                    <i class="caret pull-right" style=" position: absolute; right: 10px; top: 20px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row show-pc">
                    <div class="col-sm-12">
                        <div class="filter-export-box w clearfix margin-b20">
                            <div class="filter-items-l clearfix">
                                <div class="f-item">
                                    <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['SelectYear']}}</label>
                                    <select class="form-control w240px-desktop" ng-model="select_year_tab2" ng-change="loadDashboardTabl2_3(now_unit,select_year_tab2,select_month_tab2);">
                                        <option ng-if="list_year_tab2.length > 0" ng-repeat="year in list_year_tab2" value="{{year}}">
                                            {{year}}
                                        </option>
                                    </select>
                                </div>
                                <div class="f-item">
                                    <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['SelectMonth']}}</label>
                                    <select class="form-control w240px-desktop" ng-model="select_month_tab2" ng-change="loadDashboardTabl2_3(now_unit,select_year_tab2,select_month_tab2);">
                                        <option ng-if="dashboard_month.length > 0" ng-repeat="month in dashboard_month" value="{{month}}">
                                            {{Text['MONTH'][month]}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="filter-items-r">
                                <div class="f-item">
                                    <!--<select class="form-control w240px-desktop" ng-model="now_unit" ng-change="loadDashboardTabl2_3(now_unit,select_year_tab2,select_month_tab2);">
                                        <option value="0" ng-show="profile.Language == 'TH'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                                        <option value="0" ng-show="profile.Language == 'EN'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                                        <option ng-repeat="item in list_unit_all" value="{{item.OrgUnit}}">
                                            {{item.OrgDisplay}}
                                        </option>
                                    </select>-->
                                    <div style="position:relative;">
                                        <md-autocomplete class="blocked-cross-btn"
                                                         ng-click="tryToSelect(searchText)"
                                                         ng-blur="checkText(searchText)"
                                                         md-require-match="true"
                                                         theme="bootstrap"
                                                         ng-disabled="false"
                                                         md-no-cache="true"
                                                         md-selected-item="autocomplete.selectedItem"
                                                         md-search-text-change="searchTextChange(searchText)"
                                                         md-search-text="searchText"
                                                         md-selected-item-change="selectedItemChange(item)"
                                                         md-items="item in querySearchOrgUnit(searchText)"
                                                         md-item-text="item.OrgDisplay"
                                                         md-min-length="0"
                                                         required
                                                         md-autoselect="true"
                                                         placeholder="Select OrgUnit">
                                            <md-item-template>
                                                <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.OrgDisplay}}</span>
                                            </md-item-template>
                                            <md-not-found>
                                                No states matching "{{searchText}}" was found.
                                            </md-not-found>
                                        </md-autocomplete>
                                        <i class="caret pull-right" style=" position: absolute; right: 10px; top: 20px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ayodia-body-content-section-1 ">
                    <div class="row sub-title font-18">
                        <div class="col-sm-12">
                            OT : Salary (6 Months)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 margin-b20 ">
                            <div class="row fcc">
                                <div class="col-md-11 text-center margin-b10">
                                    <div class=" text-center">
                                        <div style="width:100%; margin:auto">
                                            <canvas id="bar" class="chart chart-bar" chart-options="overtimeSalaryInMonths.options"
                                                    chart-data="overtimeSalaryInMonths.data" chart-labels="overtimeSalaryInMonths.labels"
                                                    chart-colors="overtimeSalaryInMonths.colours" chart-dataset-override="overtimeSalaryInMonths.datasetOverride"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ayodia-body-content-section-1" style="border-bottom: 0px">
                    <div class="row sub-title font-18">
                        <div class="col-sm-12">
                            OT Hours (6 Months)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 margin-b20 ">
                            <div class="row fcc">
                                <div class="col-md-11 text-center margin-b10">
                                    <div class=" text-center">
                                        <div style="width:100%; margin:auto">
                                            <canvas id="bar" class="chart chart-bar" chart-options="overtimeHoursInMonths.options"
                                                    chart-data="overtimeHoursInMonths.data" chart-labels="overtimeHoursInMonths.labels"
                                                    chart-colors="overtimeHoursInMonths.colours" chart-dataset-override="overtimeHoursInMonths.datasetOverride"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- แสดงรายปี-->
        <div class="ayodia-body-content" ng-if="demo == 3">

            <div class="row margin-b20">
                <div class="col-md-12 media-padding-col">
                    <div class="item-x-3 show-pc mb-50">
                        <div class="item-x" ng-click="change_sub_tab3('1')" ng-class="demo3_1 == '1'?'item-active':''">Summary OT & Salary (Year)</div>
                        <div class="item-x" ng-click="change_sub_tab3('2')" ng-class="demo3_1 == '2'?'item-active':''">Overtime data analysis report</div>
                    </div>
                </div>
            </div>

            <div class="row margin-b10" ng-if="demo3_1 == 1">

                <div class="show-tablet">
                    <div class="ayodia-body-content-section-1" style="padding-top: 0px;">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 margin-b20">
                                <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['SelectYear']}}</label>
                                <select class="form-control" ng-model="begin_year_tab3" ng-change="loadDashboardTabl3_1(now_unit,begin_year_tab3,end_year_tab3);">
                                    <option ng-if="list_year_tab3.length > 0" ng-repeat="year in list_year_tab3" value="{{year}}">
                                        {{year}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 margin-b20">
                                <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['ToYear']}}</label>
                                <select class="form-control" ng-model="end_year_tab3" ng-change="loadDashboardTabl3_1(now_unit,begin_year_tab3,end_year_tab3);">
                                    <option ng-if="list_year_tab3.length > 0" ng-repeat="year in list_year_tab3" value="{{year}}">
                                        {{year}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-11 col-sm-12 col-12">
                                <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['Unit']}}</label>
                                <div style="position:relative;">
                                    <md-autocomplete class="blocked-cross-btn"
                                                     ng-click="tryToSelect(searchText)"
                                                     ng-blur="checkText(searchText)"
                                                     md-require-match="true"
                                                     theme="bootstrap"
                                                     ng-disabled="false"
                                                     md-no-cache="true"
                                                     md-selected-item="autocomplete.selectedItem"
                                                     md-search-text-change="searchTextChange(searchText)"
                                                     md-search-text="searchText"
                                                     md-selected-item-change="selectedItemChange(item)"
                                                     md-items="item in querySearchOrgUnit(searchText)"
                                                     md-item-text="item.OrgDisplay"
                                                     md-min-length="0"
                                                     required
                                                     md-autoselect="true"
                                                     placeholder="Select OrgUnit">
                                        <md-item-template>
                                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.OrgDisplay}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No states matching "{{searchText}}" was found.
                                        </md-not-found>
                                    </md-autocomplete>
                                    <i class="caret pull-right" style=" position: absolute; right: 10px; top: 20px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row show-pc">
                    <div class="col-sm-12">
                        <div class="filter-export-box w clearfix margin-b20">
                            <div class="filter-items-l clearfix">
                                <div class="f-item">
                                    <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['SelectYear']}}</label>
                                    <select class="form-control w240px-desktop" ng-model="begin_year_tab3" ng-change="loadDashboardTabl3_1(now_unit,begin_year_tab3,end_year_tab3);">
                                        <option ng-if="list_year_tab3.length > 0" ng-repeat="year in list_year_tab3" value="{{year}}">
                                            {{year}}
                                        </option>
                                    </select>
                                </div>
                                <div class="f-item">
                                    <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['ToYear']}}</label>
                                    <select class="form-control w240px-desktop" ng-model="end_year_tab3" ng-change="loadDashboardTabl3_1(now_unit,begin_year_tab3,end_year_tab3);">
                                        <option ng-if="list_year_tab3.length > 0" ng-repeat="year in list_year_tab3" value="{{year}}">
                                            {{year}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="filter-items-r">
                                <div class="f-item">
                                    <!--<select class="form-control w240px-desktop" ng-model="now_unit" ng-change="loadDashboardTabl3_1(now_unit,begin_year_tab3,end_year_tab3);">
                                        <option value="0" ng-show="profile.Language == 'TH'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                                        <option value="0" ng-show="profile.Language == 'EN'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                                        <option ng-repeat="item in list_unit_all" value="{{item.OrgUnit}}">
                                            {{item.OrgDisplay}}
                                        </option>
                                    </select>-->
                                    <div style="position:relative;">
                                        <md-autocomplete class="blocked-cross-btn"
                                                         ng-click="tryToSelect(searchText)"
                                                         ng-blur="checkText(searchText)"
                                                         md-require-match="true"
                                                         theme="bootstrap"
                                                         ng-disabled="false"
                                                         md-no-cache="true"
                                                         md-selected-item="autocomplete.selectedItem"
                                                         md-search-text-change="searchTextChange(searchText)"
                                                         md-search-text="searchText"
                                                         md-selected-item-change="selectedItemChange(item)"
                                                         md-items="item in querySearchOrgUnit(searchText)"
                                                         md-item-text="item.OrgDisplay"
                                                         md-min-length="0"
                                                         required
                                                         md-autoselect="true"
                                                         placeholder="Select OrgUnit">
                                            <md-item-template>
                                                <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.OrgDisplay}}</span>
                                            </md-item-template>
                                            <md-not-found>
                                                No states matching "{{searchText}}" was found.
                                            </md-not-found>
                                        </md-autocomplete>
                                        <i class="caret pull-right" style=" position: absolute; right: 10px; top: 20px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ayodia-body-content-section-1">
                    <div class="row sub-title font-18">
                        <div class="col-sm-12">
                            OT : Salary ({{begin_year_tab3}} - {{end_year_tab3}})
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12 margin-b20 ">
                            <div class="row fcc">
                                <div class="col-md-11 text-center margin-b10">
                                    <div class=" text-center">
                                        <div style="width:100%; margin:auto">
                                            <canvas id="bar" class="chart chart-bar" chart-options="overtimeSalaryInYear.options"
                                                    chart-data="overtimeSalaryInYear.data" chart-labels="overtimeSalaryInYear.labels"
                                                    chart-colors="overtimeSalaryInYear.colours" chart-dataset-override="overtimeSalaryInYear.datasetOverride"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ayodia-body-content-section-1" style="border-bottom: 0px">
                    <div class="row sub-title font-18">
                        <div class="col-sm-12">
                            OT : Hours ({{begin_year_tab3}} - {{end_year_tab3}})
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 margin-b20 ">
                            <div class="row fcc">
                                <div class="col-md-11 text-center margin-b10">
                                    <div class=" text-center">
                                        <div style="width:100%; margin:auto">
                                            <canvas id="bar" class="chart chart-bar" chart-options="overtimeHoursInYear.options"
                                                    chart-data="overtimeHoursInYear.data" chart-labels="overtimeHoursInYear.labels"
                                                    chart-colors="overtimeHoursInYear.colours" chart-dataset-override="overtimeHoursInYear.datasetOverride"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row margin-b10" ng-if="demo3_1 == 2">

                <div class="show-tablet">
                    <div class="ayodia-body-content-section-1" style="padding-top: 0px;">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 margin-b20">
                                <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['SelectYear']}}</label>
                                <select class="form-control" ng-model="begin_year_tab3" ng-change="loadDashboardTabl3_2(now_unit,begin_year_tab3,end_year_tab3);">
                                    <option ng-if="list_year_tab3.length > 0" ng-repeat="year in list_year_tab3" value="{{year}}">
                                        {{year}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 margin-b20">
                                <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['ToYear']}}</label>
                                <select class="form-control w240px-desktop" ng-model="end_year_tab3" ng-change="loadDashboardTabl3_2(now_unit,begin_year_tab3,end_year_tab3);">
                                    <option ng-if="list_year_tab3.length > 0" ng-repeat="year in list_year_tab3" value="{{year}}">
                                        {{year}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-11 col-sm-12 col-12">
                                <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['Unit']}}</label>
                                <!--<select class="form-control" ng-model="now_unit" ng-change="loadDashboardTabl3_2(now_unit,begin_year_tab3,end_year_tab3);">
                                    <option value="0" ng-show="profile.Language == 'TH'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                                    <option value="0" ng-show="profile.Language == 'EN'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                                    <option ng-repeat="item in list_unit_all" value="{{item.OrgUnit}}">
                                        {{item.OrgNameTH}}
                                    </option>
                                </select>-->
                                <div style="position:relative;">
                                    <md-autocomplete class="blocked-cross-btn"
                                                     ng-click="tryToSelect(searchText)"
                                                     ng-blur="checkText(searchText)"
                                                     md-require-match="true"
                                                     theme="bootstrap"
                                                     ng-disabled="false"
                                                     md-no-cache="true"
                                                     md-selected-item="autocomplete.selectedItem"
                                                     md-search-text-change="searchTextChange(searchText)"
                                                     md-search-text="searchText"
                                                     md-selected-item-change="selectedItemChange(item)"
                                                     md-items="item in querySearchOrgUnit(searchText)"
                                                     md-item-text="item.OrgDisplay"
                                                     md-min-length="0"
                                                     required
                                                     md-autoselect="true"
                                                     placeholder="Select OrgUnit">
                                        <md-item-template>
                                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.OrgDisplay}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No states matching "{{searchText}}" was found.
                                        </md-not-found>
                                    </md-autocomplete>
                                    <i class="caret pull-right" style=" position: absolute; right: 10px; top: 20px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row show-pc">
                    <div class="col-sm-12">
                        <div class="filter-export-box w clearfix margin-b20">
                            <div class="filter-items-l clearfix">
                                <div class="f-item">
                                    <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['SelectYear']}}</label>
                                    <select class="form-control w240px-desktop" ng-model="begin_year_tab3" ng-change="loadDashboardTabl3_2(now_unit,begin_year_tab3,end_year_tab3);">
                                        <option ng-if="list_year_tab3.length > 0" ng-repeat="year in list_year_tab3" value="{{year}}">
                                            {{year}}
                                        </option>
                                    </select>
                                </div>
                                <div class="f-item">
                                    <label>{{Text['DASHBOARD_OTLOG_BY_ADMIN']['ToYear']}}</label>
                                    <select class="form-control w240px-desktop" ng-model="end_year_tab3" ng-change="loadDashboardTabl3_2(now_unit,begin_year_tab3,end_year_tab3);">
                                        <option ng-if="list_year_tab3.length > 0" ng-repeat="year in list_year_tab3" value="{{year}}">
                                            {{year}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="filter-items-r">
                                <div class="f-item">
                                    <!--<select class="form-control w240px-desktop" ng-model="now_unit" ng-change="loadDashboardTabl3_2(now_unit,begin_year_tab3,end_year_tab3);">
                                        <option value="0" ng-show="profile.Language == 'TH'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                                        <option value="0" ng-show="profile.Language == 'EN'">{{Text['DASHBOARD_OTLOG_BY_ADMIN']['All']}}</option>
                                        <option ng-repeat="item in list_unit_all" value="{{item.OrgUnit}}">
                                            {{item.OrgDisplay}}
                                        </option>
                                    </select>-->
                                    <div style="position:relative;">
                                        <md-autocomplete class="blocked-cross-btn"
                                                         ng-click="tryToSelect(searchText)"
                                                         ng-blur="checkText(searchText)"
                                                         md-require-match="true"
                                                         theme="bootstrap"
                                                         ng-disabled="false"
                                                         md-no-cache="true"
                                                         md-selected-item="autocomplete.selectedItem"
                                                         md-search-text-change="searchTextChange(searchText)"
                                                         md-search-text="searchText"
                                                         md-selected-item-change="selectedItemChange(item)"
                                                         md-items="item in querySearchOrgUnit(searchText)"
                                                         md-item-text="item.OrgDisplay"
                                                         md-min-length="0"
                                                         required
                                                         md-autoselect="true"
                                                         placeholder="Select OrgUnit">
                                            <md-item-template>
                                                <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.OrgDisplay}}</span>
                                            </md-item-template>
                                            <md-not-found>
                                                No states matching "{{searchText}}" was found.
                                            </md-not-found>
                                        </md-autocomplete>
                                        <i class="caret pull-right" style=" position: absolute; right: 10px; top: 20px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ayodia-body-content-section-1">
                    <div class="row sub-title font-18">
                        <div class="col-sm-12">
                            OT : No. of Employee by Level ({{begin_year_tab3}} - {{end_year_tab3}})
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 margin-b20 ">
                            <div class="row fcc">
                                <div class="col-md-11 text-center margin-b10">
                                    <div class=" text-center">
                                        <div style="width:100%; margin:auto">
                                            <canvas id="bar" class="chart chart-bar" chart-options="employeeByLevel.options"
                                                    chart-data="employeeByLevel.data" chart-labels="employeeByLevel.labels"
                                                    chart-colors="employeeByLevel.colours" chart-dataset-override="employeeByLevel.datasetOverride"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ayodia-body-content-section-1" style="border-bottom: 0px">
                    <div class="row sub-title font-18">
                        <div class="col-sm-12">
                            OT Baht by Level ({{begin_year_tab3}} - {{end_year_tab3}})
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 margin-b20 ">
                            <div class="row fcc">
                                <div class="col-md-11 text-center margin-b10">
                                    <div class=" text-center">
                                        <div style="width:100%; margin:auto">
                                            <canvas id="bar" class="chart chart-bar" chart-options="bahtByLevel.options"
                                                    chart-data="bahtByLevel.data" chart-labels="bahtByLevel.labels"
                                                    chart-colors="bahtByLevel.colours" chart-dataset-override="bahtByLevel.datasetOverride"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
