﻿<div class="wrapper LeaveModulePage longPage" ng-controller="AbsAttManagementViewerController">
    <div class="row mainBlock">
        <div class="col-sm-12 col-md-12 col-xs-12 contentBlock">
            <div class="row contentBody forheight">
                <div class="col-sm-12 col-md-12 col-xs-12 -col_centered contentBodyin forheight_sub forscroll">
                    <div class="bar-content" style="margin-top:40px">
                        
                                    <!--<div class="dropdown">
                                    <button class="btn btnd btn-default dropdown-toggle dropdown_login" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
                                    <ul class="dropdown-menu -widthfull" aria-labelledby="dropdownMenu1">
                                        <li ng-model="template" ng-repeat="template in templates" ng-click="getRequestViewerTemplate(template.url);"><a>{{template.name}}</a></li>
                                    </ul>
                                </div>-->
                        
                            <div class="styled-select bar_title">
                                <select ng-model="template" ng-options="t.name for t in templates" class="bar_left" style="margin:0;"></select>
                            
                        </div>  
                    </div>
                    <div class="body_content">
                        <div ng-if="template" ng-include="getRequestViewerTemplate(template.url)" onload='myFunction()'></div>
                        <!-- leavetableBlock -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
