﻿<div class="row leavedetail_item grayscale" ng-controller="ChangeAbsenceEditorController">

    <div class="bar-content">
        <div class="row bar_title bar_title-small">
            <div class="col-md-12">
                <div class="bar_left">
                    <div class="bar_left-title">
                        {{Text['HRTMABSENCE']['ABSENCEDETAIL']}}&nbsp;<span style="color:red;">**{{Text['HRTMABSENCE']['CANCELLED_STAMP']}}**</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body_content itemlist_block" style="padding:0px;">
        <div class="-pad5"></div>
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-5">
                <span class="span_name detail_item-name">{{Text['HRTMABSENCE']['ABSENCETYPE']}}</span>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-10 col-xs-7">
                <span class="detail_item-des">{{absenceTypeName}}</span>
            </div>
        </div>
        <div>
            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-5">
                <span class="span_name detail_item-name">{{Text['HRTMABSENCE']['ABSENCEDATE']}}</span>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-10 col-xs-7">
                <span class="detail_item-des">
                    <label ng-if="document.Additional.INFOTYPE2001[0].BeginDate == document.Additional.INFOTYPE2001[0].EndDate">{{document.Additional.INFOTYPE2001[0].BeginDate | date:'d/M/yyyy'}}</label>
                    <label ng-if="!(document.Additional.INFOTYPE2001[0].BeginDate == document.Additional.INFOTYPE2001[0].EndDate)">{{document.Additional.INFOTYPE2001[0].BeginDate | date:'d/M/yyyy'}} - {{document.Additional.INFOTYPE2001[0].EndDate | date:'d/M/yyyy'}}</label>
                </span>
            </div>
        </div>

        <div class="row" ng-if="document && absenceTypeIsHalfDay">
            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-5">
                <span class="span_name detail_item-name">{{Text['HRTMABSENCE']['ABSENCETIME']}}</span>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-10 col-xs-7">
                <span class="detail_item-des">
                    <span class="icon-calendar spanicon -txt-gray"></span> {{document.Additional.INFOTYPE2001[0].BeginTime}} - {{document.Additional.INFOTYPE2001[0].EndTime}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-5">
                <span class="span_name detail_item-name">{{Text['HRTMABSENCE']['ABSENCEDAYSAMOUNT']}} </span>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-10 col-xs-7">
                <span class="detail_item-des">{{document.Additional.INFOTYPE2001[0].AbsenceDays | number:2}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-5">
                <span class="span_name detail_item-name">{{Text['HRTMABSENCE']['ABSENCEDAYS']}}</span>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-10 col-xs-7">
                <span class="detail_item-des">{{document.Additional.INFOTYPE2001[0].PayrollDays | number:2}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-5">
                <span class="span_name detail_item-name">{{Text['HRTMABSENCE']['REMARK']}}</span>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-10 col-xs-7">
                <span class="detail_item-des">{{document.Additional.INFOTYPE2001[0].Remark}}</span>
            </div>
        </div>
        <div class="-pad5"></div>
    </div>
</div>
