﻿<div class="TravelExManPage delegation-page" ng-controller="ChangeWorkingTimeTypeController" ng-init="init();">

    <script type="text/ng-template" id="modalListEmployeeDataSubstitute.ng-popup.html">
        <div class="modal-header">
            <h3 class="modal-title custom font-b font-18">เลือกรายการ</h3>
            <button type="button" class="close custom" ng-click="closeModel()">&times;</button>
        </div>


        <div class="modal-body alert2 scrollbar-2 popup-scroll">
            <div class="row">
                <div class="col-sm-8">
                    <input type="text" class="w-50 input-box font-16" placeholder="ค้นหาพนักงาน"
                           ng-model="modelTextSearch.TextData"
                           ng-model-options="{ debounce: 1000 }"
                           ng-change="searchEmployee(modelTextSearch.TextData);">
                </div>
            </div>
            <div class="row">
                <div class="row margin-b10 show-pc lr-0">
                    <div class="col-sm-12">
                        <table class="w-100 table-style-1 margin-b10 ">
                            <tr class="t-header">
                                <th class="text-center">{{text_db['ACCOUNT_SETTING']['EMPLOYEE_ID']}}</th>
                                <th class="text-center">{{text_db['BE_EDUCATIONALLOWANCE']['FULL_NAME']}}</th>
                                <th class="text-center">{{text_db['HRTMABSENCE']['DELEGATE_POSITION']}}</th>
                                <th class="text-center">{{text_db['HRTMABSENCE']['DELEGATE_ORGANIZE']}}</th>
                                <th class="text-center">{{text_db['PAYROLLREPORTFORADMIN']['EMPLOYEE']}}</th>
                            </tr>

                            <tr class="t-body" ng-if="list_emp.length > 0" ng-repeat="employeeData in list_emp">
                                <td class="font-16 v-top">
                                    <p class="margin-none">{{employeeData.EmployeeID}}</p>
                                </td>
                                <td class="font-16 v-top">
                                    <p class="margin-none">{{employeeData.EmployeeName}}</p>
                                </td>
                                <td class="font-16 text-center v-top">
                                    {{employeeData.PositionName}}
                                </td>
                                <td class="font-16 text-center v-top">
                                    {{employeeData.OrgUnitName}}
                                </td>
                                <td class="font-16 text-center v-top">
                                    <button class="btn btn-primary btn-sm" ng-click="selectEmployee(employeeData);">{{text_db['PAYROLLREPORTFORADMIN']['SELECT']}}</button>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="row margin-b10 show-tablet lr-0">
                    <div class="col-sm-12">
                        <table class="w-100 table-style-1 margin-b10 ">

                            <tr class="t-header">
                                <th class="text-center" colspan="2">{{text_db['ACCOUNT_SETTING']['DETAIL']}}</th>
                            </tr>

                            <tr class="t-body" ng-repeat="employeeData in list_emp">
                                <td class="font-14 v-top">
                                    <p class="margin-none"> {{employeeData.EmployeeID}} {{employeeData.EmployeeName}}</p>
                                    <p class="margin-none"> {{employeeData.PositionName}}</p>
                                    <p class="margin-none"> {{employeeData.OrgUnitName}} </p>
                                </td>
                                <td class="font-14 lr-0 v-top text-center">
                                    <button class="btn btn-primary btn-sm" ng-click="selectEmployee(employeeData);">{{text_db['PAYROLLREPORTFORADMIN']['SELECT']}}</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="selectStartDate.ng-popup.html">
        <div class="modal-header">
            <h3 class="modal-title custom font-b font-18">เพิ่มรายการ</h3>
            <button type="button" class="close custom" ng-click="closeModel()">&times;</button>
        </div>
        <div class="modal-body alert2 scrollbar-2">
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main"> วันที่เริ่มต้นใช้งาน :  </div>
                    </div>
                    <div class="col-sm-8 margin-b20">
                        <div class="datepicker-height-set" style="position:relative;height:40px;">
                            <datepicker callback-on-change="setdatefrom(newDate)" date-format="d/M/yyyy" date-set="{{date}}">
                                <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                            </datepicker>
                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="clearfix margin-b20">
                    <div class="filter-items-r clearfix">
                        <div class="f-item">
                            <a class="m-btn-c2 btn-s-md" ng-click="save()">
                                <span class="">
                                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;{{Text['ACTION']['SAVENEXT']}}
                                </span>
                            </a>
                        </div>
                        <div class="f-item">
                            <a class="m-btn-c2 btn-s-md" ng-click="closeModel()">
                                <span class="">
                                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;{{Text['ACTION']['CANCEL']}}
                                </span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="selectDateEmployeeMobile.ng-popup.html">
        <div class="modal-header">
            <h3 class="modal-title custom font-b font-18">เพิ่มรายการ</h3>
            <button type="button" class="close custom" ng-click="closeModel()">&times;</button>
        </div>
        <div class="modal-body alert2 scrollbar-2">
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main"> วันที่เริ่มต้นใช้งาน :  </div>
                    </div>
                    <div class="col-sm-8 margin-b20">
                        <div class="datepicker-height-set" style="position:relative;height:40px;">
                            <datepicker callback-on-change="setdatefrom(newDate)" date-format="d/M/yyyy" date-set="{{date}}">
                                <input name="DOB" class="form-control clickable datepicker" type="text" readonly required />
                            </datepicker>
                            <i class="icon-calendar ico_datestart -txt-blue" style="z-index:3;pointer-events: none;position:absolute;top:6px;right:8px;font-size:20px;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 lr-0">
                    <div class="col-sm-4">
                        <div class="text-basic-md-center-input color-main">ประเภทเวลาการทำงาน :  </div>
                    </div>
                    <div class="col-sm-8 margin-b20">
                        <select class="form-control w-100" ng-model="item.AreaWorkScheduleId" ng-change="changeTextCode(item)" placeholder="ที่">
                            <option ng-repeat="itemArea in dataAreaWorkSchedule" ng-value="itemArea.AreaWorkscheduleID">{{itemArea.TextCode}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="clearfix margin-b20">
                    <div class="filter-items-r clearfix">
                        <div class="f-item">
                            <a class="m-btn-c2 btn-s-md" ng-click="save()">
                                <span class="">
                                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;{{Text['ACTION']['SAVENEXT']}}
                                </span>
                            </a>
                        </div>
                        <div class="f-item">
                            <a class="m-btn-c2 btn-s-md" ng-click="closeModel()">
                                <span class="">
                                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;{{Text['ACTION']['CANCEL']}}
                                </span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </script>

    <h1>{{Text['APPLICATION']['CHANGE_WORKING_TIME_TYPE']}}</h1>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['HRTMOT']['WSCODE']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="filter-export-box clearfix margin-b20">
                        <div class="filter-items-l clearfix">
                            <div class="f-item">
                                <label>{{Text['HRTMABSENCE']['SELECT_YEAR']}} : </label>
                                <select class="form-control w240px-desktop" ng-model="objSelectYear.YearSelect" ng-change="loadContentByYear(objSelectYear.YearSelect)">
                                    <option ng-if="listYear.length > 0" ng-repeat="year in listYear" value="{{year}}">
                                        {{year}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-items-r">
                            <a class="m-btn-c2 btn-s-md" ng-click="CreateNew('42','')" ng-show="subGroup >= 11 || IsCheckUserRole">
                                <span class="">
                                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;{{Text['HRTMSUBSTITUTION']['CREATENEW_SUBSTITUTION']}}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row show-pc">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center" style="width:30px"></th>
                            <th class="text-center" style="width:30%;">วันที่ทำรายการ</th>
                            <th class="text-center" style="width:15%"></th>
                            <th class="text-center" style="width:15%;"></th>
                            <th></th>
                        </tr>
                        <tr class="t-body" ng-init="item.select = false;" ng-if="listContentChangeWorking.length > 0" ng-repeat-start="item in listContentChangeWorking">
                            <td class="font-16 text-center">
                                <div class="drop-tb" ng-show="item.select" ng-click="item.select = false">-</div>
                                <div class="drop-tb" ng-show="!item.select" ng-click="item.select = true">+</div>
                            </td>
                            <td class="font-16 text-center">{{item.CreateDate | date:'dd/MM/yyyy'}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="" ng-show="item.select">
                            <td class=""></td>
                            <td colspan="4" class="">
                                <table class="w-100 table-style-3 ">
                                    <tr class="t-header">
                                        <th class="text-center" style="width:30%;">{{Text['BE_CREMATION']['T_NAME']}}</th>
                                        <th class="text-center" style="width:15%;">ตารางการทำงานเดิม</th>
                                        <th class="text-center" style="width:15%;">{{Text['HRTMOT']['WSCODE']}}</th>
                                        <th class="text-center" style="width:15%;">{{Text['FLEXIBLEBENEFIT']['STARTDATE']}}</th>
                                        <th class="text-center" style="width:15%;">{{Text['HRTMABSENCE']['ABSENCESTATUS']}}</th>
                                        <th></th>
                                    </tr>
                                    <tr class="t-body" ng-repeat="data_detail in item.List_AreaWorkscheduleLog">
                                        <td class="font-16">{{data_detail.EmployeeID}}&nbsp;{{data_detail.EmployeeName}}</td>
                                        <td class="text-center font-16">{{data_detail.BeforeTextName}}</td>
                                        <td class="text-center font-16">{{data_detail.TextName}}</td>
                                        <td class="text-center font-16">{{data_detail.EffectiveDate | date:'dd/MM/yyyy'}}</td>
                                        <td class="text-center font-16">
                                            <div class="m-btn-blue btn-s-sm text-center m-auto w150px " ng-if="data_detail.Status == 'DRAFT'">
                                                <span class="">{{Text['STATUS']['DRAFT']}}</span>
                                            </div>
                                            <div class="m-btn-blue btn-s-sm text-center m-auto w150px " ng-if="data_detail.Status == 'WAITFOREDIT'">
                                                <span class="">{{Text['STATUS']['WAITFOREDIT']}}</span>
                                            </div>
                                            <div class="m-btn-orange btn-s-sm text-center m-auto w150px " ng-if="data_detail.Status == 'WAITFORVERIFY'">
                                                <span class="">{{Text['STATUS']['WAITFORVERIFY']}}</span>
                                            </div>
                                            <div class="m-btn-red btn-s-sm text-center m-auto w150px " ng-if="data_detail.Status == 'WAITFORAPPROVE'">
                                                <span class="">{{Text['STATUS']['WAITFORAPPROVE']}}</span>
                                            </div>
                                            <div class="m-btn-red btn-s-sm text-center m-auto w150px " ng-if="data_detail.Status == 'CANCELLED'">
                                                <span class="">{{Text['STATUS']['CANCELLED']}}</span>
                                            </div>
                                            <div class="m-btn-green btn-s-sm text-center m-auto w150px " ng-if="data_detail.Status == 'COMPLETED'">
                                                <span class="">{{Text['STATUS']['COMPLETED']}}</span>
                                            </div>
                                        </td>
                                        <td class="text-center font-16">
                                            <a ng-click="viewDocument(data_detail.RequestNo);"><i class="fas fa-search"></i></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="t-body" ng-repeat-end></tr>
                    </table>
                </div>
            </div>

            <div class="row show-tablet">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10">
                        <tr class="t-header">
                            <th style="width:5%;"></th>
                            <th class="text-center" style="width:95%">วันที่ทำรายการ</th>
                        </tr>
                        <tr class="t-body" ng-init="item.select = false;" ng-repeat-start="item in listContentChangeWorking">
                            <td class="font-16 text-center">
                                <div class="drop-tb" ng-show="item.select" ng-click="item.select = false">-</div>
                                <div class="drop-tb" ng-show="!item.select" ng-click="item.select = true">+</div>
                            </td>
                            <td class="font-16 text-center">{{item.CreateDate | date:'dd/MM/yyyy'}}</td>
                        </tr>
                        <tr class="" ng-show="item.select">
                            <td class=""></td>
                            <td colspan="3" class="">
                                <table class="table-style-3" style="width:100%;">
                                    <tr class="t-body" ng-repeat="data_detail in item.List_AreaWorkscheduleLog">
                                        <td class="font-16" style="width:80%;">
                                            {{data_detail.EmployeeID}}
                                            <br />
                                            {{data_detail.EmployeeName}}
                                            <br />
                                            <span ng-if="data_detail.BeforeTextName != ''">{{data_detail.BeforeTextName}}&nbsp;(เดิม)</span>
                                            <br ng-if="data_detail.BeforeTextName != ''" />
                                            {{data_detail.TextName}}&nbsp;(ใหม่)
                                            <br />
                                            {{data_detail.EffectiveDate | date:'dd/MM/yyyy'}}
                                            <div class="m-btn-blue btn-s-sm text-center w150px" ng-if="data_detail.Status == 'DRAFT'">
                                                <span class="">{{Text['STATUS']['DRAFT']}}</span>
                                            </div>
                                            <div class="m-btn-blue btn-s-sm text-center w150px " ng-if="data_detail.Status == 'WAITFOREDIT'">
                                                <span class="">{{Text['STATUS']['WAITFOREDIT']}}</span>
                                            </div>
                                            <div class="m-btn-orange btn-s-sm text-center w150px " ng-if="data_detail.Status == 'WAITFORVERIFY'">
                                                <span class="">{{Text['STATUS']['WAITFORVERIFY']}}</span>
                                            </div>
                                            <div class="m-btn-red btn-s-sm text-center w150px " ng-if="data_detail.Status == 'WAITFORAPPROVE'">
                                                <span class="">{{Text['STATUS']['WAITFORAPPROVE']}}</span>
                                            </div>
                                            <div class="m-btn-red btn-s-sm text-center w150px " ng-if="data_detail.Status == 'CANCELLED'">
                                                <span class="">{{Text['STATUS']['CANCELLED']}}</span>
                                            </div>
                                            <div class="m-btn-green btn-s-sm text-center w150px " ng-if="data_detail.Status == 'COMPLETED'">
                                                <span class="">{{Text['STATUS']['COMPLETED']}}</span>
                                            </div>
                                        </td>
                                        <td class="text-center font-16" style="width:20%;">
                                            <a ng-click="viewDocument(data_detail.RequestNo);"><i class="fas fa-search"></i></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="t-body" ng-repeat-end></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--<pre>{{listContentChangeWorking | json}}</pre>-->
</div>
