﻿<div class="TravelExManPage delegation-page" ng-controller="DutyPaymentContentController" ng-init="init();">

    <h1>{{Text['APPLICATION']['DUTYPAYMENT']}}</h1>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['APPLICATION']['DUTYPAYMENT']}}
            </div>
        </div>
        <div class="ayodia-body-content ">
            <div class="row">
                <div class="col-sm-12">
                    <div class="filter-export-box clearfix margin-b20">
                        <div class="filter-items-l clearfix">
                            <div class="f-item">
                                <label>{{Text['HRTMABSENCE']['SELECT_YEAR']}} : </label>
                                <select class="form-control w240px-desktop" ng-if="period_data.length > 0" ng-model="modelPeriod.selectPeriod" ng-change="loadDataPeriod(modelPeriod.selectPeriod);">
                                    <option ng-repeat="item in period_data"
                                            value="{{item.PeriodValue}}" ng-model="modelPeriod.selectPeriod">
                                        {{item.PeriodText}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-items-r">
                            <a class="m-btn-c2 btn-s-md" ng-show="period_data.length > 0"  ng-click="CreateNew('56',modelPeriod.selectPeriod)">
                                <span class="">
                                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;{{Text['ACTION']['CREATE']}}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row show-pc">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center">{{Text['DP']['DUTYDATE']}}</th>
                            <th class="text-center">{{Text['DP']['DUTYTIME']}}</th>
                            <th class="text-center">{{Text['DP']['DAYTYPE']}}</th>
                            <th class="text-center">{{Text['HRTMOT']['STATUS']}}</th>
                            <th style="width:60px"></th>
                        </tr>
                        <tr class="t-body" ng-if="list_dataDutyPayment.length > 0" ng-repeat="item in list_dataDutyPayment">
                            <td class="font-16 text-center">{{item.__dutyDate | date:'dd/MM/yyyy'}}</td>
                            <td class="font-16 text-center">
                                {{item.__beginDate | date:'HH:mm'}} - {{item.__endDate | date:'HH:mm'}}
                            </td>
                            <td class="font-16 text-center">
                                {{obj_dailyWs[item.__dutyDate].DailyWorkscheduleCode}}
                            </td>
                            <td class="font-16 text-center">
                                <div class="m-btn-red btn-s-sm text-center m-auto w150px " ng-if="item.__status == 'WAITFORAPPROVE'">
                                    <span class="">{{Text['STATUS']['WAITFORAPPROVE']}}</span>
                                </div>
                                <div class="m-btn-green btn-s-sm text-center m-auto w150px " ng-if="item.__status == 'COMPLETED'">
                                    <span class="">{{Text['STATUS']['COMPLETED']}}</span>
                                </div>
                                <div class="m-btn-blue btn-s-sm text-center m-auto w150px " ng-if="item.__status == 'DRAFT'">
                                    <span class="">{{Text['STATUS']['DRAFT']}}</span>
                                </div>
                                <div class="m-btn-orange btn-s-sm text-center m-auto w150px " ng-if="item.__status == 'WAITFOREDIT'">
                                    <span class="">{{Text['STATUS']['WAITFOREDIT']}}</span>
                                </div>
                                <div class="m-btn-cw btn-s-sm text-center m-auto w150px " ng-if="item.__status == 'WAITFORVERIFY'">
                                    <span class="">{{Text['STATUS']['WAITFORVERIFY']}}</span>
                                </div>
                            </td>
                            <td class="text-center"><a ng-click="view_duty_payment(item.__requestNo);"><i class="fas fa-search"></i></a></td>
                        </tr>

                        <!--<tr class="t-body" ng-if="list_dataDutyPayment.length > 0" ng-repeat-start="item in [{name:'29/01/2020',status:1,list:[10,20,30,40]},{name:'30/01/2020',status:2,list:[]},{name:'01/02/2020',status:3,list:[]}]">
                            <td class="font-16 text-center">
                                <div class="drop-tb" ng-show="item.select" ng-click="item.select = false">+</div>
                                <div class="drop-tb" ng-show="!item.select" ng-click="item.select = true">-</div>
                            </td>
                            <td class="font-16">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.name}}</td>
                            <td class="font-16 text-center">7</td>
                            <td class="font-16 text-center">
                                <div class="m-btn-blue btn-s-sm text-center m-auto w150px bg-none">
                                    <span class="">อยู่ระหว่างการดำเนินการ</span>
                                </div>

                            </td>
                            <td class="text-center font-16">
                                <a><i class="fas fa-search" ng-if="$index != 1"></i></a>
                                <a><i class="fas fa-trash-alt" ng-if="$index  == 1"></i></a>
                            </td>
                            <td class="font-16"></td>
                        </tr>
                        <tr class="" ng-show="item.select">
                            <td class=""></td>
                            <td colspan="4" class="">
                                <table class="w-100 table-style-4">
                                    <tr class="t-header">
                                        <th class="text-center" style="width:30%;">วันที่ปฏิบัติงาน</th>
                                        <th class="text-center" style="width:25%;">ช่วงเวลาอยู่เวร</th>
                                        <th class="text-center" style="width:25%;">ประเภทของวัน</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr class="t-body" ng-repeat="xxx in item.list" ng-if="item.list">
                                        <td class="text-center font-16">02/01/2020 - 03/01/2020</td>
                                        <td class="text-center font-16">17:00 - 08:00</td>
                                        <td class="text-center font-16">
                                            FLX1
                                        </td>
                                        <td class="text-center font-16">
                                            <a><i class="fas fa-search" ng-if="xxx != 10"></i></a>
                                            <a><i class="fas fa-trash-alt" ng-if="xxx == 10"></i></a>
                                        </td>
                                        <td class="text-center font-16"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="t-body" ng-repeat-end></tr>-->
                    </table>
                </div>
            </div>
            <div class="row show-tablet">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">

                            <th class="text-center" style="width:20px;"></th>
                            <th class="text-center" style="padding: 10px 5px;">
                                <div class="fa-pull-left">
                                    {{Text['DP']['DUTYDATE']}}
                                </div>
                                <div class="fa-pull-right">
                                    {{Text['DP']['CREATE']}}
                                </div>
                            </th>
                            <th style="width:30px"></th>
                        </tr>
                        <tr class="t-body" ng-repeat="item in list_dataDutyPayment">
                            <td class="font-16 text-center">
                            </td>
                            <td class="font-16">
                                <div class="w-100 clearfix">
                                    <div class="fa-pull-left">
                                        {{item.__dutyDate | date:'dd/MM/yyyy'}} ( {{item.__beginDate | date:'HH:mm'}} - {{item.__endDate | date:'HH:mm'}} )
                                    </div>
                                    <div class="fa-pull-right">
                                        {{obj_dailyWs[item.__dutyDate].DailyWorkscheduleCode}}
                                    </div>
                                </div>
                                <!--<div class="m-btn-blue btn-s-sm text-center  w150px bg-none">
                                    <span class="">อยู่ระหว่างการดำเนินการ</span>
                                </div>-->
                                <div class="m-btn-red btn-s-sm text-center  w150px " ng-if="item.__status == 'WAITFORAPPROVE'">
                                    <span class="">{{Text['STATUS']['WAITFORAPPROVE']}}</span>
                                </div>
                                <div class="m-btn-green btn-s-sm text-center  w150px " ng-if="item.__status == 'COMPLETED'">
                                    <span class="">{{Text['STATUS']['COMPLETED']}}</span>
                                </div>
                                <div class="m-btn-blue btn-s-sm text-center  w150px" ng-if="item.__status == 'DRAFT'">
                                    <span class="">{{Text['STATUS']['DRAFT']}}</span>
                                </div>
                                <div class="m-btn-orange btn-s-sm text-center  w150px " ng-if="item.__status == 'WAITFOREDIT'">
                                    <span class="">{{Text['STATUS']['WAITFOREDIT']}}</span>
                                </div>
                                <div class="m-btn-cw btn-s-sm text-center w150px " ng-if="item.__status == 'WAITFORVERIFY'">
                                    <span class="">{{Text['STATUS']['WAITFORVERIFY']}}</span>
                                </div>
                            </td>
                            <td class="text-center font-16">
                                <a ng-click="view_duty_payment(item.__requestNo);"><i class="fas fa-search"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--<pre>{{modelPeriod|json}}</pre>
    <pre>{{list_dataDutyPayment|json}}</pre>
    <pre>{{period_data|json}}</pre>
    <pre>{{employeeData|json}}</pre>-->
</div>