﻿<div class="TravelExManPage delegation-page" ng-controller="LeaveTimeManagementSystemController" ng-init="init();">

    <h1>{{Text['APPLICATION']['LEAVE_TIME_MANAGEMENT_SYSTEM']}}</h1>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['APPLICATION']['LEAVE_TIME_MANAGEMENT_SYSTEM']}}
            </div>
        </div>
        <div ng-show="!isMenuSubstitute" class="my-tab clearfix" ng-init="demo = 1">
            <a class="" style="width:33.33%" ng-class="demo == 1?'active':''" ng-click="demo = 1">{{Text['HRTMABSENCE']['ABSENCEQUOTA']}}</a>
            <a class="" style="width:33.33%" ng-class="demo == 2?'active':''" ng-click="demo = 2">{{Text['TIMEMANAGEMENT']['ABSENCELIST']}}</a>
            <a class="" style="width:33.33%" ng-class="demo == 3?'active':''" ng-click="demo = 3">{{Text['TIMEMANAGEMENT']['ATTENDANCELIST']}}</a>
        </div>
        <div ng-show="isMenuSubstitute" class="my-tab clearfix" ng-init="demo = 1">
            <a class="" ng-class="demo == 1?'active':''" ng-click="demo = 1">{{Text['HRTMABSENCE']['ABSENCEQUOTA']}}</a>
            <a class="" ng-class="demo == 2?'active':''" ng-click="demo = 2">{{Text['TIMEMANAGEMENT']['ABSENCELIST']}}</a>
            <a class="" ng-class="demo == 3?'active':''" ng-click="demo = 3">{{Text['TIMEMANAGEMENT']['ATTENDANCELIST']}}</a>
            <a class="" ng-class="demo == 4?'active':''" ng-click="demo = 4">{{Text['TIMEMANAGEMENT']['SUBSTITUTELIST']}}</a>
        </div>

        <!-- Dashboard การลา -->
        <div class="ayodia-body-content" ng-if="demo == 1">
            <div class="row">
                <!--<div class="col-sm-3 margin-b20 ">
                    <div class="my-chart-box">
                        <div class="row">
                            <div class="col-md-12 text-center margin-b10">
                                <div class="sub-title margin-none">{{Text['ABSENCEQUOTATYPE']['20']}}</div>
                                <div class="sub-title-2 margin-none">
                                    <span ng-if="sick_leave.length > 0">
                                        {{sick_leave[0].DeductionStart |  date:'dd/MM/yyyy'}} - {{sick_leave[0].DeductionEnd |  date:'dd/MM/yyyy'}}
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-12 text-center margin-b10">
                                <div class=" text-center">
                                    <svg width="80%" height="80%" viewBox="0 0 46 46" class="chart-svg-pro c1">

                                        <circle class="my-donut-ring" cx="23" cy="23" r="20.2" fill="transparent" stroke="#E0E0E0" stroke-width="2"></circle>
                                        <circle class="my-donut-hole" cx="23" cy="23" r="15.91549430918954" fill="none"></circle>

                                        <circle class="my-donut-ring    svg-progress-1" cx="23" cy="23" r="15.91549430918954" fill="transparent"
                                                stroke="gray"
                                                stroke-width="4"></circle>

                                        <circle class="my-donut-segment svg-progress-2" cx="23" cy="23" r="15.91549430918954" fill="transparent"
                                                stroke-width="4" stroke-dasharray="100 0"
                                                stroke="gray"
                                                stroke-dashoffset="-90"></circle>

                                        <circle class="my-donut-segment svg-progress-3" cx="23" cy="23" r="15.91549430918954" fill="transparent"
                                                stroke="gray"
                                                stroke-width="4" stroke-dasharray="{{(sick_leave[0].UsedAmount * 100) / sick_leave[0].QuotaAmount}} {{100-((sick_leave[0].UsedAmount * 100) / sick_leave[0].QuotaAmount)}}"
                                                stroke-dashoffset="-90"></circle>

                                        <circle class="my-donut-segment svg-progress-4" cx="23" cy="23" r="15.91549430918954" fill="transparent"
                                                stroke-width="4" stroke-dasharray="{{(sick_leave[0].InprocessAmount * 100) / sick_leave[0].QuotaAmount}} {{100-((sick_leave[0].InprocessAmount * 100) / sick_leave[0].QuotaAmount)}}"
                                                stroke="gray"
                                                stroke-dashoffset="{{-90+ - ((sick_leave[0].UsedAmount * 100) / sick_leave[0].QuotaAmount) }}"></circle>
                                        <g class="svg-text-m-chart">
                                            <text x="50%" y="50%" class="svg-sum-number">
                                                {{sick_leave[0].QuotaAmount - (sick_leave[0].UsedAmount + sick_leave[0].InprocessAmount)}} วัน
                                            </text>
                                            <text x="50%" y="50%" class="svg-sum-text">
                                                ที่ใช้งานได้
                                            </text>
                                        </g>
                                    </svg>
                                </div>
                            </div>

                            <div class="col-md-12 text-center margin-b10 clearfix chart-svg-detail c1">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-4"></i>{{Text['HRTMABSENCE']['QUOTAHAVE']}}
                                </div>
                                <div class="sub-title-2 margin-none pull-right"> {{ sick_leave[0].QuotaAmount}} วัน</div>
                            </div>

                            <div class="col-md-12 text-center margin-b10 clearfix chart-svg-detail c1">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-2"></i>{{Text['HRTMABSENCE']['USEDAMOUNT']}}
                                </div>
                                <div class="sub-title-2 margin-none pull-right">  {{ sick_leave[0].UsedAmount}} วัน</div>
                            </div>

                            <div class="col-md-12 text-center margin-b10 clearfix chart-svg-detail c1">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-1"></i> {{Text['HRTMABSENCE']['REMAININGAMOUNT']}}
                                </div>
                                <div class="sub-title-2 margin-none pull-right">  {{ sick_leave[0].QuotaAmount - (sick_leave[0].UsedAmount + sick_leave[0].InprocessAmount)}} วัน</div>
                            </div>

                            <div class="col-md-12 text-center margin-b20 clearfix chart-svg-detail c1">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-3"></i>{{Text['HRTMABSENCE']['INPROCESS']}}
                                </div>
                                <div class="sub-title-2 margin-none pull-right">  {{ sick_leave[0].InprocessAmount}} วัน</div>
                            </div>

                            <div class="col-md-12 text-center margin-b10 clearfix">
                                <a class="m-btn-chart1 btn-s-md" ng-click="CreateNew('1',sick_leave[0].DefaultAbsenceType)">
                                    <span class="">{{Text['HRTMABSENCE']['SENDLEAVEREQUEST']}}</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-3 margin-b20 ">
                    <div class="my-chart-box">
                        <div class="row">
                            <div class="col-md-12 text-center margin-b10">
                                <div class="sub-title margin-none">{{Text['ABSENCEQUOTATYPE']['01']}}</div>
                                <div class="sub-title-2 margin-none">
                                    {{vacation_leave[0].DeductionStart |  date:'dd/MM/yyyy'}} - {{vacation_leave[0].DeductionEnd |  date:'dd/MM/yyyy'}}
                                </div>
                            </div>
                            <div class="col-md-12 text-center margin-b10">
                                <div class=" text-center">
                                    <svg width="80%" height="80%" viewBox="0 0 46 46" class="chart-svg-pro c2">
                                        <circle class="my-donut-ring" cx="23" cy="23" r="20.2" fill="transparent" stroke="#E0E0E0" stroke-width="2"></circle>
                                        <circle class="my-donut-hole" cx="23" cy="23" r="15.91549430918954" fill="none"></circle>

                                        <circle class="my-donut-ring    svg-progress-1" cx="23" cy="23" r="15.91549430918954" fill="transparent"
                                                stroke="gray"
                                                stroke-width="4"></circle>

                                        <circle class="my-donut-segment svg-progress-2" cx="23" cy="23" r="15.91549430918954" fill="transparent"
                                                stroke-width="4" stroke-dasharray="100 0"
                                                stroke="gray"
                                                stroke-dashoffset="-90"></circle>

                                        <circle class="my-donut-segment svg-progress-3" cx="23" cy="23" r="15.91549430918954" fill="transparent"
                                                stroke="gray"
                                                stroke-width="4" stroke-dasharray="{{(vacation_leave[0].UsedAmount * 100) / vacation_leave[0].QuotaAmount}} {{100-((vacation_leave[0].UsedAmount * 100) / vacation_leave[0].QuotaAmount)}}"
                                                stroke-dashoffset="-90"></circle>

                                        <circle class="my-donut-segment svg-progress-4" cx="23" cy="23" r="15.91549430918954" fill="transparent"
                                                stroke-width="4" stroke-dasharray="{{(vacation_leave[0].InprocessAmount * 100) / vacation_leave[0].QuotaAmount}} {{100-((vacation_leave[0].InprocessAmount * 100) / vacation_leave[0].QuotaAmount)}}"
                                                stroke="gray"
                                                stroke-dashoffset="{{-90+ - ((vacation_leave[0].UsedAmount * 100) / vacation_leave[0].QuotaAmount) }}"></circle>
                                        <g class="svg-text-m-chart">
                                            <text x="50%" y="50%" class="svg-sum-number">
                                                {{vacation_leave[0].QuotaAmount - (vacation_leave[0].UsedAmount + vacation_leave[0].InprocessAmount)}} วัน

                                            </text>
                                            <text x="50%" y="50%" class="svg-sum-text">
                                                ที่ใช้งานได้
                                            </text>
                                        </g>
                                    </svg>

                                </div>
                            </div>
                            <div class="col-md-12 text-center margin-b10 clearfix chart-svg-detail c2">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-4"></i>{{Text['HRTMABSENCE']['QUOTAHAVE']}}
                                </div>
                                <div class="sub-title-2 margin-none pull-right"> {{ vacation_leave[0].QuotaAmount}} วัน</div>
                            </div>
                            <div class="col-md-12 text-center margin-b10 clearfix chart-svg-detail c2">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-2"></i>{{Text['HRTMABSENCE']['USEDAMOUNT']}}
                                </div>
                                <div class="sub-title-2 margin-none pull-right">  {{ vacation_leave[0].UsedAmount}} วัน</div>
                            </div>
                            <div class="col-md-12 text-center margin-b10 clearfix chart-svg-detail c2">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-1"></i>{{Text['HRTMABSENCE']['REMAININGAMOUNT']}}
                                </div>
                                <div class="sub-title-2 margin-none pull-right">  {{vacation_leave[0].QuotaAmount - (vacation_leave[0].UsedAmount + vacation_leave[0].InprocessAmount)}} วัน</div>
                            </div>

                            <div class="col-md-12 text-center margin-b20 clearfix chart-svg-detail c2">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-3"></i>{{Text['HRTMABSENCE']['INPROCESS']}}
                                </div>
                                <div class="sub-title-2 margin-none pull-right">  {{ vacation_leave[0].InprocessAmount}} วัน</div>
                            </div>


                            <div class="col-md-12 text-center margin-b10 clearfix">
                                <a class="m-btn-chart2 btn-s-md" ng-click="CreateNew('1',vacation_leave[0].DefaultAbsenceType)">
                                    <span class="">{{Text['HRTMABSENCE']['SENDLEAVEREQUEST']}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 margin-b20 " ng-show="vacation_leave_continuous[0].IsShowDashboard && vacation_leave_continuous[0].QuotaAmount > 0">
                    <div class="my-chart-box" ng-init="chart3 = {all : 10 , w_appove: 1 , use:5}">
                        <div class="row">
                            <div class="col-md-12 text-center margin-b10">
                                <div class="sub-title margin-none">{{Text['ABSENCEQUOTATYPE']['11']}}</div>
                                <div class="sub-title-2 margin-none">
                                    {{vacation_leave_continuous[0].DeductionStart |  date:'dd/MM/yyyy'}} - {{vacation_leave_continuous[0].DeductionEnd |  date:'dd/MM/yyyy'}}
                                </div>
                            </div>
                            <div class="col-md-12 text-center margin-b10">
                                <div class=" text-center">
                                    <svg width="80%" height="80%" viewBox="0 0 46 46" class="chart-svg-pro c3">
                                        <circle class="my-donut-ring" cx="23" cy="23" r="20.2" fill="transparent" stroke="#E0E0E0" stroke-width="2"></circle>
                                        <circle class="my-donut-hole" cx="23" cy="23" r="15.91549430918954" fill="none"></circle>

                                        <circle class="my-donut-ring    svg-progress-1" cx="23" cy="23" r="15.91549430918954" fill="transparent"
                                                stroke="gray"
                                                stroke-width="4"></circle>

                                        <circle class="my-donut-segment svg-progress-2" cx="23" cy="23" r="15.91549430918954" fill="transparent"
                                                stroke-width="4" stroke-dasharray="100 0"
                                                stroke="gray"
                                                stroke-dashoffset="-90"></circle>

                                        <circle class="my-donut-segment svg-progress-3" cx="23" cy="23" r="15.91549430918954" fill="transparent"
                                                stroke="gray"
                                                stroke-width="4" stroke-dasharray="{{(vacation_leave_continuous[0].UsedAmount * 100) / vacation_leave_continuous[0].QuotaAmount}} {{100-((vacation_leave_continuous[0].UsedAmount * 100) / vacation_leave_continuous[0].QuotaAmount)}}"
                                                stroke-dashoffset="-90"></circle>

                                        <circle class="my-donut-segment svg-progress-4" cx="23" cy="23" r="15.91549430918954" fill="transparent"
                                                stroke-width="4" stroke-dasharray="{{(vacation_leave_continuous[0].InprocessAmount * 100) / vacation_leave_continuous[0].QuotaAmount}} {{100-((vacation_leave_continuous[0].InprocessAmount * 100) / vacation_leave_continuous[0].QuotaAmount)}}"
                                                stroke="gray"
                                                stroke-dashoffset="{{-90+ - ((vacation_leave_continuous[0].UsedAmount * 100) / vacation_leave_continuous[0].QuotaAmount) }}"></circle>
                                        <g class="svg-text-m-chart">
                                            <text x="50%" y="50%" class="svg-sum-number">
                                                {{ vacation_leave_continuous[0].QuotaAmount - (vacation_leave_continuous[0].UsedAmount + vacation_leave_continuous[0].InprocessAmount)}} วัน
                                            </text>
                                            <text x="50%" y="50%" class="svg-sum-text">
                                                ที่ใช้งานได้
                                            </text>
                                        </g>
                                    </svg>
                                </div>
                            </div>

                            <div class="col-md-12 text-center margin-b10 clearfix chart-svg-detail c3">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-4"></i>{{Text['HRTMABSENCE']['QUOTAHAVE']}}
                                </div>
                                <div class="sub-title-2 margin-none pull-right"> {{vacation_leave_continuous[0].QuotaAmount}} วัน</div>
                            </div>
                            <div class="col-md-12 text-center margin-b10 clearfix chart-svg-detail c3">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-2"></i>{{Text['HRTMABSENCE']['USEDAMOUNT']}}
                                </div>
                                <div class="sub-title-2 margin-none pull-right">  {{ vacation_leave_continuous[0].UsedAmount}} วัน</div>
                            </div>
                            <div class="col-md-12 text-center margin-b10 clearfix chart-svg-detail c3">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-1"></i> {{Text['HRTMABSENCE']['REMAININGAMOUNT']}}
                                </div>
                                <div class="sub-title-2 margin-none pull-right">  {{ vacation_leave_continuous[0].QuotaAmount - (vacation_leave_continuous[0].UsedAmount + vacation_leave_continuous[0].InprocessAmount)}} วัน</div>
                            </div>
                            <div class="col-md-12 text-center margin-b20 clearfix chart-svg-detail c3">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-3"></i>{{Text['HRTMABSENCE']['INPROCESS']}}
                                </div>
                                <div class="sub-title-2 margin-none pull-right"> {{ vacation_leave_continuous[0].InprocessAmount}} วัน</div>
                            </div>
                            <div class="col-md-12 text-center margin-b10 clearfix">
                                <a class="m-btn-chart3 btn-s-md" ng-click="CreateNew('1',vacation_leave_continuous[0].DefaultAbsenceType)">
                                    <span class="">{{Text['HRTMABSENCE']['SENDLEAVEREQUEST']}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 margin-b20 ">
                    <div class="my-chart-box" ng-init="chart4 = {all : 7 , w_appove: 1 , use:1}">
                        <div class="row">
                            <div class="col-md-12 text-center margin-b10">
                                <div class="sub-title margin-none">ลากิจ</div>
                                <div class="sub-title-2 margin-none">01/01/2019 - 31/12/2019</div>
                            </div>
                            <div class="col-md-12 text-center margin-b10">
                                <div class=" text-center">
                                    <svg width="80%" height="80%" viewBox="0 0 46 46" class="chart-svg-pro c4">
                                        <circle class="my-donut-ring" cx="23" cy="23" r="20.2" fill="transparent" stroke="#E0E0E0" stroke-width="2"></circle>
                                        <circle class="my-donut-hole" cx="23" cy="23" r="15.91549430918954" fill="none"></circle>

                                        <circle class="my-donut-ring    svg-progress-1" cx="23" cy="23" r="15.91549430918954" fill="transparent"
                                                stroke="gray"
                                                stroke-width="4"></circle>

                                        <circle class="my-donut-segment svg-progress-2" cx="23" cy="23" r="15.91549430918954" fill="transparent"
                                                stroke-width="4" stroke-dasharray="100 0"
                                                stroke="gray"
                                                stroke-dashoffset="-90"></circle>

                                        <circle class="my-donut-segment svg-progress-3" cx="23" cy="23" r="15.91549430918954" fill="transparent"
                                                stroke="gray"
                                                stroke-width="4" stroke-dasharray="{{(leaves[0].UsedAmount * 100) / leaves[0].QuotaAmount}} {{100-((leaves[0].UsedAmount * 100) / leaves[0].QuotaAmount)}}"
                                                stroke-dashoffset="-90"></circle>

                                        <circle class="my-donut-segment svg-progress-4" cx="23" cy="23" r="15.91549430918954" fill="transparent"
                                                stroke-width="4" stroke-dasharray="{{(leaves[0].InprocessAmount * 100) / leaves[0].QuotaAmount}} {{100-((leaves[0].InprocessAmount * 100) / leaves[0].QuotaAmount)}}"
                                                stroke="gray"
                                                stroke-dashoffset="{{-90+ - ((leaves[0].UsedAmount * 100) / leaves[0].QuotaAmount) }}"></circle>
                                        <g class="svg-text-m-chart">
                                            <text x="50%" y="50%" class="svg-sum-number">
                                                {{ leaves[0].QuotaAmount - (leaves[0].UsedAmount + leaves[0].InprocessAmount)}} วัน
                                            </text>
                                            <text x="50%" y="50%" class="svg-sum-text">
                                                ที่ใช้งานได้
                                            </text>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-md-12 text-center margin-b10 clearfix chart-svg-detail c4">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-4"></i>{{Text['HRTMABSENCE']['QUOTAHAVE']}}
                                </div>
                                <div class="sub-title-2 margin-none pull-right"> {{ leaves[0].QuotaAmount}} วัน</div>
                            </div>
                            <div class="col-md-12 text-center margin-b10 clearfix chart-svg-detail c4">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-2"></i>{{Text['HRTMABSENCE']['USEDAMOUNT']}}
                                </div>
                                <div class="sub-title-2 margin-none pull-right">  {{ leaves[0].UsedAmount}}วัน</div>
                            </div>
                            <div class="col-md-12 text-center margin-b10 clearfix chart-svg-detail c4">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-1"></i> {{Text['HRTMABSENCE']['REMAININGAMOUNT']}}
                                </div>
                                <div class="sub-title-2 margin-none pull-right">  {{ leaves[0].QuotaAmount - (leaves[0].UsedAmount + leaves[0].InprocessAmount)}} วัน</div>
                            </div>
                            <div class="col-md-12 text-center margin-b20 clearfix chart-svg-detail c4">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-3"></i>{{Text['HRTMABSENCE']['INPROCESS']}}
                                </div>
                                <div class="sub-title-2 margin-none pull-right">  {{ leaves[0].InprocessAmount}} วัน</div>
                            </div>

                            <div class="col-md-12 text-center margin-b10 clearfix">
                                <a class="m-btn-chart4 btn-s-md" ng-click="CreateNew('1',leaves[0].DefaultAbsenceType)">
                                    <span class="">{{Text['HRTMABSENCE']['SENDLEAVEREQUEST']}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="col-sm-3 margin-b20 " ng-if="absenceListData.length > 0" ng-repeat="absence in absenceListData" ng-show="absence.IsShowDashboard">
                    <div class="my-chart-box">
                        <div class="row">
                            <div class="col-md-12 text-center margin-b10">
                                <div class="sub-title margin-none">
                                    {{Text['ABSENCEQUOTATYPE'][absence.AbsenceType]}}
                                </div>
                                <div class="sub-title-2 margin-none">
                                    {{absence.DeductionStart |  date:'dd/MM/yyyy'}} - {{absence.DeductionEnd |  date:'dd/MM/yyyy'}}
                                </div>
                            </div>
                            <div class="col-md-12 text-center margin-b10">
                                <div class=" text-center">
                                    <svg width="80%" height="80%" viewBox="0 0 46 46" class="chart-svg-pro c3">
                                        <circle class="my-donut-ring" cx="23" cy="23" r="20.2" fill="transparent" stroke="#E0E0E0" stroke-width="2"></circle>
                                        <circle class="my-donut-hole" cx="23" cy="23" r="15.91549430918954" fill="none"></circle>
                                        <!--สิทธิ์การลาทั้งหมด-->
                                        <circle class="my-donut-ring    svg-progress-1" cx="23" cy="23" r="15.91549430918954" fill="transparent"
                                                stroke="gray"
                                                stroke-width="4"></circle>
                                        <!--//สามารถใช้งานได้-->
                                        <circle class="my-donut-segment svg-progress-2" cx="23" cy="23" r="15.91549430918954" fill="transparent"
                                                stroke-width="4" stroke-dasharray="100 0"
                                                stroke="gray"
                                                stroke-dashoffset="-90"></circle>
                                        <!--ใช้ไปแล้ว-->
                                        <circle class="my-donut-segment svg-progress-3" cx="23" cy="23" r="15.91549430918954" fill="transparent"
                                                stroke="gray"
                                                stroke-width="4" stroke-dasharray="{{(absence.UsedAmount * 100) / absence.QuotaAmount}} {{100-((absence.UsedAmount * 100) / absence.QuotaAmount)}}"
                                                stroke-dashoffset="-90"></circle>
                                        <!--รอการอนุมัติ-->
                                        <circle class="my-donut-segment svg-progress-4" cx="23" cy="23" r="15.91549430918954" fill="transparent"
                                                stroke-width="4" stroke-dasharray="{{(absence.InprocessAmount * 100) / absence.QuotaAmount}} {{100-((absence.InprocessAmount * 100) / absence.QuotaAmount)}}"
                                                stroke="gray"
                                                stroke-dashoffset="{{-90+ - ((absence.UsedAmount * 100) / absence.QuotaAmount) }}"></circle>
                                        <g class="svg-text-m-chart">
                                            <text x="50%" y="50%" class="svg-sum-number">
                                                {{ absence.QuotaAmount - (absence.UsedAmount + absence.InprocessAmount)}} {{Text['HRTMABSENCE']['DAYS']}}
                                            </text>
                                            <text x="50%" y="50%" class="svg-sum-text">
                                                {{Text['HRTMABSENCE']['CANUSE']}}
                                            </text>
                                        </g>
                                    </svg>
                                </div>
                            </div>

                            <div class="col-md-12 text-center margin-b10 clearfix chart-svg-detail c3">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-4"></i>{{Text['HRTMABSENCE']['QUOTAHAVE']}}
                                </div>
                                <div class="sub-title-2 margin-none pull-right"> {{absence.QuotaAmount}} {{Text['HRTMABSENCE']['DAYS']}}</div>
                            </div>
                            <div class="col-md-12 text-center margin-b10 clearfix chart-svg-detail c3">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-2"></i>{{Text['HRTMABSENCE']['USEDAMOUNT']}}
                                </div>
                                <div class="sub-title-2 margin-none pull-right">  {{ absence.UsedAmount}} {{Text['HRTMABSENCE']['DAYS']}}</div>
                            </div>
                            <div class="col-md-12 text-center margin-b10 clearfix chart-svg-detail c3">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-1"></i>{{Text['HRTMABSENCE']['REMAININGAMOUNT']}}
                                </div>
                                <div class="sub-title-2 margin-none pull-right">  {{ absence.QuotaAmount - (absence.UsedAmount + absence.InprocessAmount)}} {{Text['HRTMABSENCE']['DAYS']}}</div>
                            </div>
                            <div class="col-md-12 text-center margin-b20 clearfix chart-svg-detail c3">
                                <div class="sub-title-2 margin-none pull-left">
                                    <i class="review-box color-3"></i>{{Text['HRTMABSENCE']['INPROCESS']}}
                                </div>
                                <div class="sub-title-2 margin-none pull-right"> {{ absence.InprocessAmount}} {{Text['HRTMABSENCE']['DAYS']}}</div>
                            </div>
                            <div class="col-md-12 text-center margin-b10 clearfix">
                                <a class="m-btn-chart3 btn-s-md" ng-click="CreateNew('1',absence.DefaultAbsenceType)">
                                    <span class="">{{Text['HRTMABSENCE']['SENDLEAVEREQUEST']}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 media-padding-col" ng-show="absenceOther_row1.length > 0">
                <div class="sub-title">{{Text['HRTMABSENCE']['ABSENCE_OTHERTYPE']}}</div>
            </div>

            <div class="row show-tablet margin-b10">
                <!--<div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header tb-m-padding-d tb-pad-1">
                            <th class="text-center" colspan="4" style="width:200px;">{{Text['HRTMABSENCE']['ABSENCETYPE']}}</th>
                        </tr>
                        <tr class="t-header">
                            <th class="text-center tb-pad-1">{{Text['HRTMABSENCE']['QUOTAHAVE']}}</th>
                            <th class="text-center tb-pad-1">{{Text['HRTMABSENCE']['USEDAMOUNT']}}</th>
                            <th class="text-center tb-pad-1">{{Text['HRTMABSENCE']['INPROCESS']}}</th>
                            <th class="text-center tb-pad-1">{{Text['BE_EDUCATIONALLOWANCE']['QUOTA_REMAIN']}}</th>
                        </tr>
                        <tbody class="t-body-title" ng-repeat="item in absenceOther">
                            <tr>
                                <td class="font-16 text-left" colspan="4">
                                    {{Text['ABSENCEQUOTATYPE'][item.AbsenceType]}}
                                </td>
                            </tr>
                            <tr class="t-body">
                                <td class="font-16 text-center v-top">
                                    {{item.QuotaAmount}}
                                </td>
                                <td class="font-16 text-center v-top">
                                    {{item.UsedAmount}}
                                </td>
                                <td class="font-16 text-center v-top">
                                    {{item.InprocessAmount}}
                                </td>
                                <td class="font-16 text-center v-top">
                                    {{item.Remaining}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>-->

                <div class="col-xs-12 mb-30" ng-if="absenceOther_row1.length > 0" ng-repeat="item in absenceOther_row1">
                    <div class="ayodia-progressbar">
                        <div class="ayodia-progressbar-title clearfix">
                            <div class="font-16 pb-l">{{Text['ABSENCEQUOTATYPE'][item.AbsenceType]}}</div>
                            <div class="font-16 pb-r">{{item.InProcessAbsence}} / {{item.UseAbsence }} / {{item.QuotaAbsence}}  </div>
                        </div>
                        <div class="ayodia-progress-item">
                            <div class="progress-bar color-company" ng-style="{width : item.PercentageUse + '%' }"> </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 mb-30" ng-if="absenceOther_row2.length > 0" ng-repeat="item in absenceOther_row2">
                    <div class="ayodia-progressbar">
                        <div class="ayodia-progressbar-title clearfix">
                            <div class="font-16 pb-l">{{Text['ABSENCEQUOTATYPE'][item.AbsenceType]}}</div>
                            <div class="font-16 pb-r">{{item.InProcessAbsence}} / {{item.UseAbsence }} / {{item.QuotaAbsence}}  </div>
                        </div>
                        <div class="ayodia-progress-item">
                            <div class="progress-bar color-company" ng-style="{width : item.PercentageUse + '%' }"> </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 mb-30" ng-if="absenceOther_row3.length > 0" ng-repeat="item in absenceOther_row3">
                    <div class="ayodia-progressbar">
                        <div class="ayodia-progressbar-title clearfix">
                            <div class="font-16 pb-l">{{Text['ABSENCEQUOTATYPE'][item.AbsenceType]}}</div>
                            <div class="font-16 pb-r">{{item.InProcessAbsence}} / {{item.UseAbsence }} / {{item.QuotaAbsence}}  </div>
                        </div>
                        <div class="ayodia-progress-item">
                            <div class="progress-bar color-company" ng-style="{width : item.PercentageUse + '%' }"> </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 mb-30" ng-if="absenceOther_row4.length > 0" ng-repeat="item in absenceOther_row4">
                    <div class="ayodia-progressbar">
                        <div class="ayodia-progressbar-title clearfix">
                            <div class="font-16 pb-l">{{Text['ABSENCEQUOTATYPE'][item.AbsenceType]}}</div>
                            <div class="font-16 pb-r">{{item.InProcessAbsence}} / {{item.UseAbsence }} / {{item.QuotaAbsence}}  </div>
                        </div>
                        <div class="ayodia-progress-item">
                            <div class="progress-bar color-company" ng-style="{width : item.PercentageUse + '%' }"> </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 mb-30" ng-if="absenceOther_row4.length > 0" ng-repeat="item in absenceOther_row5">
                    <div class="ayodia-progressbar">
                        <div class="ayodia-progressbar-title clearfix">
                            <div class="font-16 pb-l">{{Text['ABSENCEQUOTATYPE'][item.AbsenceType]}}</div>
                            <div class="font-16 pb-r">{{item.InProcessAbsence}} / {{item.UseAbsence }} / {{item.QuotaAbsence}}  </div>
                        </div>
                        <div class="ayodia-progress-item">
                            <div class="progress-bar color-company" ng-style="{width : item.PercentageUse + '%' }"> </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row show-pc margin-b10">

                <div class="col-sm-12 col-md-6 mb-30" ng-if="absenceOther_row1.length > 0" ng-repeat="item in absenceOther_row1">
                    <div class="ayodia-progressbar">
                        <div class="ayodia-progressbar-title clearfix">
                            <div class="font-16 pb-l">{{Text['ABSENCEQUOTATYPE'][item.AbsenceType]}}</div>
                            <div class="font-16 pb-r">{{item.InProcessAbsence}} / {{item.UseAbsence }} / {{item.QuotaAbsence}}  </div>
                        </div>
                        <div class="ayodia-progress-item">
                            <div class="progress-bar color-company" ng-style="{width : item.PercentageUse + '%' }"> </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 mb-30" ng-if="absenceOther_row2.length > 0" ng-repeat="item in absenceOther_row2">
                    <div class="ayodia-progressbar">
                        <div class="ayodia-progressbar-title clearfix">
                            <div class="font-16 pb-l">{{Text['ABSENCEQUOTATYPE'][item.AbsenceType]}}</div>
                            <div class="font-16 pb-r">{{item.InProcessAbsence}} / {{item.UseAbsence }} / {{item.QuotaAbsence}}  </div>
                        </div>
                        <div class="ayodia-progress-item">
                            <div class="progress-bar color-company" ng-style="{width : item.PercentageUse + '%' }"> </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 mb-30" ng-if="absenceOther_row3.length > 0" ng-repeat="item in absenceOther_row3">
                    <div class="ayodia-progressbar">
                        <div class="ayodia-progressbar-title clearfix">
                            <div class="font-16 pb-l">{{Text['ABSENCEQUOTATYPE'][item.AbsenceType]}}</div>
                            <div class="font-16 pb-r">{{item.InProcessAbsence}} / {{item.UseAbsence }} / {{item.QuotaAbsence}}  </div>
                        </div>
                        <div class="ayodia-progress-item">
                            <div class="progress-bar color-company" ng-style="{width : item.PercentageUse + '%' }"> </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 mb-30" ng-if="absenceOther_row4.length > 0" ng-repeat="item in absenceOther_row4">
                    <div class="ayodia-progressbar">
                        <div class="ayodia-progressbar-title clearfix">
                            <div class="font-16 pb-l">{{Text['ABSENCEQUOTATYPE'][item.AbsenceType]}}</div>
                            <div class="font-16 pb-r">{{item.InProcessAbsence}} / {{item.UseAbsence }} / {{item.QuotaAbsence}}  </div>
                        </div>
                        <div class="ayodia-progress-item">
                            <div class="progress-bar color-company" ng-style="{width : item.PercentageUse + '%' }"> </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 mb-30" ng-if="absenceOther_row5.length > 0" ng-repeat="item in absenceOther_row5">
                    <div class="ayodia-progressbar">
                        <div class="ayodia-progressbar-title clearfix">
                            <div class="font-16 pb-l">{{Text['ABSENCEQUOTATYPE'][item.AbsenceType]}}</div>
                            <div class="font-16 pb-r">{{item.InProcessAbsence}} / {{item.UseAbsence }} / {{item.QuotaAbsence}}  </div>
                        </div>
                        <div class="ayodia-progress-item">
                            <div class="progress-bar color-company" ng-style="{width : item.PercentageUse + '%' }"> </div>
                        </div>
                    </div>
                </div>

                <!--<table class="w-100 table-style-1 margin-b10 ">
                    <tr class="t-header">
                        <th class="text-center" style="width:200px;">{{Text['HRTMABSENCE']['ABSENCETYPE']}}</th>
                        <th class="text-center">{{Text['HRTMABSENCE']['QUOTAHAVE']}}</th>
                        <th class="text-center">{{Text['HRTMABSENCE']['USEDAMOUNT']}}</th>
                        <th class="text-center">{{Text['HRTMABSENCE']['INPROCESS']}}</th>
                        <th class="text-center">{{Text['BE_EDUCATIONALLOWANCE']['QUOTA_REMAIN']}}</th>
                    </tr>
                    <tr class="t-body" ng-repeat="item in absenceOther">
                        <td class="font-16 text-center v-top">
                            {{Text['ABSENCEQUOTATYPE'][item.AbsenceType]}}
                        </td>
                        <td class="font-16 text-center v-top">
                            {{item.QuotaAmount}}
                        </td>
                        <td class="font-16 text-center v-top">
                            {{item.UsedAmount}}
                        </td>
                        <td class="font-16 text-center v-top">
                            {{item.InprocessAmount}}
                        </td>
                        <td class="font-16 text-center v-top">
                            {{item.Remaining}}
                        </td>
                    </tr>
                </table>-->
            </div>

            <div class="row margin-b10" ng-show="absenceOther_row1.length > 0">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <span class="color-danger font-16">{{Text['Dashboard_Employee_Welfare']['Note_Absence']}}</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="box-tooltip">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="float: left;margin-right: 10px;position: absolute;left: 15px;">
                            <rect style="opacity: 0;fill: #484848;" width="24" height="24" transform="translate(24 24) rotate(180)" />
                            <path style="fill: #484848;" d="M12,7a5,5,0,0,0-3,9v4a2,2,0,0,0,2,2h2a2,2,0,0,0,2-2V16a5,5,0,0,0-3-9Zm1.5,7.59a1,1,0,0,0-.5.87V20H11V15.46a1,1,0,0,0-.5-.87,3,3,0,1,1,3,0Z" />
                            <path class="b" d="M12,6a1,1,0,0,0,1-1V3a1,1,0,1,0-2,0V5A1,1,0,0,0,12,6Z" />
                            <path class="b" d="M21,11H19a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z" />
                            <path class="b" d="M5,11H3a1,1,0,0,0,0,2H5a1,1,0,0,0,0-2Z" />
                            <path class="b" d="M7.66,6.42,6.22,5A1.012,1.012,0,0,0,4.83,6.47L6.27,7.86A1,1,0,1,0,7.66,6.42Z" />
                            <path class="b" d="M19.19,5.05a1,1,0,0,0-1.41,0L16.34,6.42a1.008,1.008,0,0,0,1.41,1.44l1.44-1.39a1,1,0,0,0,0-1.42Z" />
                        </svg>
                        {{Text['HRTM_EXCEPTION']['TM_ANNOUCMENT']}}
                    </div>
                </div>
            </div>
        </div>

        <!-- Absence -->
        <div class="ayodia-body-content" ng-if="demo == 2">
            <div class="row">
                <div class="col-sm-12">
                    <div class="filter-export-box clearfix margin-b20">
                        <div class="filter-items-l clearfix">
                            <div class="f-item">
                                <label>{{Text['HRTMABSENCE']['SELECT_YEAR']}} : </label>
                                <select class="form-control w240px-desktop" ng-model="selectYearLeaveRequest" ng-change="getListAbsense(selectYearLeaveRequest);">
                                    <option ng-if="listYearLeaveRequest.length > 0" ng-repeat="year in listYearLeaveRequest" value="{{year}}">
                                        {{year}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-items-r">
                            <a class="m-btn-c2 btn-s-md" ng-click="CreateNew('1','')">
                                <span class="">
                                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;{{Text['HRTMSUBSTITUTION']['CREATENEW_SUBSTITUTION']}}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row show-pc">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center" style="width:30px"></th>
                            <th class="text-center" style="width:30%;">{{Text['HRTMABSENCE']['ABSENCETYPE']}}</th>
                            <th class="text-center" style="width:15%">{{Text['HRTMABSENCE']['LISTAMOUNT']}}</th>
                            <th class="text-center" style="width:15%;">{{Text['HRTMABSENCE']['ABSENCEAMOUNT']}}</th>
                            <th></th>
                        </tr>
                        <tr class="t-body" ng-if="listAbsenseMain.length > 0" ng-init="item.select = false;" ng-repeat-start="item in listAbsenseMain">
                            <td class="font-16 text-center">
                                <div class="drop-tb" ng-show="item.select" ng-click="item.select = false">-</div>
                                <div class="drop-tb" ng-show="!item.select" ng-click="item.select = true">+</div>
                            </td>
                            <td class="font-16">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Text['ABSENCETYPE'][item.name]}}</td>
                            <td class="font-16 text-center">{{item.count}}</td>
                            <td class="font-16 text-center">{{item.leavTotal}} </td>
                            <td class="font-16"></td>
                        </tr>
                        <tr class="" ng-if="listAbsenseMain.length > 0" ng-show="item.select">
                            <td class=""></td>
                            <td colspan="4" class="">
                                <table class="w-100 table-style-3 ">
                                    <tr class="t-header">
                                        <th class="text-center" style="width:30%;">{{Text['HRTMABSENCE']['ABSENCEDATE']}}</th>
                                        <th class="text-center" style="width:15%;">{{Text['HRTMABSENCE']['ABSENCEAMOUNT']}}</th>
                                        <th class="text-center" style="width:15%;">{{Text['HRTMABSENCE']['ABSENCESTATUS']}}</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr class="t-body" ng-if="item.list.length > 0" ng-repeat="detail in item.list">
                                        <td class="text-center font-16">{{detail.__beginDate| date:'dd/MM/yyyy'}} - {{detail.__endDate| date:'dd/MM/yyyy'}}</td>
                                        <td class="text-center font-16">{{detail.__payrollDays}}</td>
                                        <td class="text-center font-16">
                                            <div class="m-btn-green btn-s-sm text-center m-auto w150px" ng-if="detail.__status == 'RECORDED'">
                                                <span class="">{{Text['HRTMABSENCE']['RECORDED']}}</span>
                                            </div>
                                            <div class="m-btn-blue btn-s-sm text-center m-auto w150px" ng-if="detail.__status == 'INPROCESS'">
                                                <span class="">{{Text['HRTMABSENCE']['INPROCESS']}}</span>
                                            </div>
                                        </td>
                                        <td class="text-center font-16">
                                            <a ng-click="viewDataAbsence(detail.__requestNo,detail.DefaultAbsenceType)"><i class="fas fa-search" ng-if="detail.__status == 'INPROCESS'"></i></a>
                                            <a ng-click="CreateNew('12',detail.__absenceConcat)"><i class="fas fa-trash-alt" ng-if="detail.__status == 'RECORDED'"></i></a>
                                        </td>
                                        <td class="text-center font-16"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="t-body" ng-repeat-end></tr>
                    </table>
                </div>
            </div>

            <div class="row show-tablet">

                <div class="col-xs-12">
                    <div class="table-style-responsive">
                        <table class="w-100 table-style-1 margin-b10 ">
                            <tr class="t-header">
                                <th style="width:30px;"></th>
                                <th class="text-center">{{Text['HRTMABSENCE']['ABSENCETYPE']}}</th>
                                <th class="text-center" style="width:15%">{{Text['HRTMABSENCE']['LISTAMOUNT']}}</th>
                                <th class="text-center" style="width:15%;">{{Text['HRTMABSENCE']['ABSENCEAMOUNT']}}</th>
                            </tr>
                            <tr class="t-body" ng-init="item.select = false;" ng-repeat-start="item in listAbsenseMain">
                                <td class="font-16 text-center">
                                    <div class="drop-tb" ng-show="item.select" ng-click="item.select = false">+</div>
                                    <div class="drop-tb" ng-show="!item.select" ng-click="item.select = true">-</div>
                                </td>
                                <td class="font-16">{{Text['ABSENCETYPE'][item.name]}}</td>
                                <td class="font-16 text-center">{{item.count}}</td>
                                <td class="font-16 text-center">{{item.leavTotal}}</td>
                            </tr>
                            <tr class="" ng-show="item.select">
                                <td class=""></td>
                                <td colspan="3" class="">
                                    <table class="w-100 table-style-3 ">
                                        <tr class="t-header">
                                            <th class="text-center">{{Text['HRTMABSENCE']['ABSENCEDATE']}}</th>
                                            <th class="text-center" style="width:150px;">{{Text['HRTMABSENCE']['ABSENCEAMOUNT']}}</th>
                                            <th style="width:60px;"></th>
                                        </tr>
                                        <tr class="t-body" ng-repeat="detail in item.list" ng-if="item.list">
                                            <td class="p-tb-s font-16">
                                                {{detail.__beginDate| date:'dd/MM/yyyy'}} - {{detail.__endDate| date:'dd/MM/yyyy'}}
                                                <div class="m-btn-green btn-s-sm  text-center  w150px " ng-if="detail.__status == 'RECORDED'">
                                                    <span class="">{{Text['HRTMABSENCE']['RECORDED']}}</span>
                                                </div>

                                                <div class="m-btn-blue btn-s-sm text-center  w150px " ng-if="detail.__status == 'INPROCESS'">
                                                    <span class="">{{Text['HRTMABSENCE']['INPROCESS']}}</span>
                                                </div>
                                            </td>
                                            <td class="text-center font-16">{{detail.__payrollDays}}</td>

                                            <td class="text-center font-16">
                                                <a ng-click="viewDataAbsence(detail.__requestNo,detail.DefaultAbsenceType)"><i class="fas fa-search" ng-if="detail.__status == 'INPROCESS'"></i></a>
                                                <a ng-click="CreateNew('12',detail.__absenceConcat)"><i class="fas fa-trash-alt" ng-if="detail.__status == 'RECORDED'"></i></a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr class="t-body" ng-repeat-end></tr>
                        </table>
                    </div>
                </div>

            </div>



            <!--<pre>{{listAbsenseMain|json}}</pre>-->
        </div>
        <!--End Absence-->
        <!--Start Attendance-->
        <div class="ayodia-body-content" ng-if="demo == 3">
            <div class="row">
                <div class="col-sm-12">
                    <div class="filter-export-box clearfix margin-b20">
                        <div class="filter-items-l clearfix">
                            <div class="f-item">
                                <label>{{Text['HRTMABSENCE']['SELECT_YEAR']}} : </label>
                                <select class="form-control w240px-desktop" ng-model="selectedYearAttendances">
                                    <option ng-repeat="item in yearAttendances" value="{{item}}">{{item}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-items-r">
                            <a class="m-btn-c2 btn-s-md" ng-click="CreateNew('7','')">
                                <span class="">
                                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp; {{Text['HRTMABSENCE']['CREATE']}}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row show-pc">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center" style="width:30px"></th>
                            <th class="text-center" style="width:30%;">{{Text['HRTMABSENCE']['ATTENDANCETYPE']}}</th>
                            <th class="text-center" style="width:15%">{{Text['HRTMABSENCE']['LISTAMOUNT']}}</th>
                            <th class="text-center" style="width:15%">{{Text['HRTMABSENCE']['ABSENCEAMOUNT']}}</th>
                            <th></th>
                        </tr>
                        <tr class="t-body" ng-init="item.select = false;" ng-repeat-start="item in iNFOTYPE2002Data">
                            <td class="font-16 text-center">
                                <div class="drop-tb" ng-show="item.select" ng-click="item.select = false">-</div>
                                <div class="drop-tb" ng-show="!item.select" ng-click="item.select = true">+</div>
                            </td>
                            <td class="font-16">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{getTypeName(item.key)}}</td>
                            <td class="font-16 text-center">{{item.list.length}}</td>
                            <td class="font-16 text-center">{{item.list|sumByKey:'payrollDays'}} </td>
                            <td class="font-16"></td>
                        </tr>
                        <tr class="" ng-show="item.select">
                            <td class=""></td>
                            <td colspan="4" class="">
                                <table class="w-100 table-style-3 ">
                                    <tr class="t-header">
                                        <th class="text-center" style="width:30%;">{{Text['HRTMABSENCE']['DAY']}}</th>
                                        <th class="text-center" style="width:15%;">{{Text['HRTMABSENCE']['ABSENCEAMOUNT']}}</th>
                                        <th class="text-center" style="width:15%;">{{Text['HRTMABSENCE']['ABSENCESTATUS']}}</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr class="t-body" ng-repeat="x in item.list" ng-if="item">
                                        <td class="text-center font-16">{{x.beginDate | date:'d/M/yyyy'}} - {{x.endDate | date:'d/M/yyyy'}}</td>
                                        <td class="text-center font-16">{{x.payrollDays}}</td>
                                        <td class="text-center font-16">
                                            <div class="m-btn-blue btn-s-sm text-center m-auto w150px" ng-if="x.status == 'INPROCESS'">
                                                <span class="">{{Text['HRTMABSENCE']['INPROCESS']}}</span>
                                            </div>
                                            <div class="m-btn-green btn-s-sm text-center m-auto w150px" ng-if="x.status == 'RECORDED'">
                                                <span class="">{{Text['HRTMABSENCE']['RECORDED']}}</span>
                                            </div>
                                        </td>
                                        <td class="text-center font-16">
                                            <a><i class="fas fa-search" ng-if="x.status == 'INPROCESS'" ng-click="ViewAtt(x.requestNo)"></i></a>
                                            <a><i class="fas fa-trash-alt" ng-if="x.status == 'RECORDED'" ng-click="CreateNew('30',x.attendanceConcat)"></i></a>
                                        </td>
                                        <td class="text-center font-16"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="t-body" ng-repeat-end></tr>
                    </table>
                </div>
            </div>
            <div class="row show-tablet">
                <div class="col-xs-12">
                    <div class="table-style-responsive">
                        <table class="w-100 table-style-1 margin-b10 ">
                            <tr class="t-header">
                                <th style="width:30px;"></th>
                                <th class="text-center">{{Text['HRTMABSENCE']['ATTENDANCETYPE']}}</th>
                                <th class="text-center" style="width:15%">{{Text['HRTMABSENCE']['LISTAMOUNT']}}</th>
                                <th class="text-center" style="width:15%;">{{Text['HRTMABSENCE']['ABSENCEAMOUNT']}}</th>
                            </tr>
                            <tr class="t-body" ng-init="item.select = false;" ng-repeat-start="item in iNFOTYPE2002Data">
                                <td class="font-16 text-center">
                                    <div class="drop-tb" ng-show="item.select" ng-click="item.select = false">+</div>
                                    <div class="drop-tb" ng-show="!item.select" ng-click="item.select = true">-</div>
                                </td>
                                <td class="font-16">{{getTypeName(item.key)}}</td>
                                <td class="font-16 text-center">{{item.list.length}}</td>
                                <td class="font-16 text-center">{{item.list|sumByKey:'payrollDays'}}</td>
                            </tr>
                            <tr class="" ng-show="item.select">
                                <td class=""></td>
                                <td colspan="3" class="">
                                    <table class="w-100 table-style-3 ">
                                        <tr class="t-header">
                                            <th class="text-center">{{Text['HRTMABSENCE']['DAY']}}</th>
                                            <th class="text-center" style="width:150px;">{{Text['HRTMABSENCE']['ABSENCEAMOUNT']}}</th>
                                            <th style="width:60px;"></th>
                                        </tr>
                                        <tr class="t-body" ng-repeat="x in item.list" ng-if="item.list">
                                            <td class="p-tb-s font-16">
                                                {{x.beginDate | date:'d/M/yyyy'}} - {{x.endDate | date:'d/M/yyyy'}}
                                                <div class="m-btn-green btn-s-sm text-center  w150px " ng-if="x.status == 'RECORDED'">
                                                    <span class="">{{Text['HRTMABSENCE']['RECORDED']}}</span>
                                                </div>
                                                <div class="m-btn-blue btn-s-sm text-center  w150px " ng-if="x.status == 'INPROCESS'">
                                                    <span class="">{{Text['HRTMABSENCE']['INPROCESS']}}</span>
                                                </div>
                                            </td>
                                            <td class="text-center font-16">{{x.payrollDays}}</td>

                                            <td class="text-center font-16">
                                                <a><i class="fas fa-search" ng-if="x.status == 'INPROCESS'" ng-click="ViewAtt(x.requestNo)"></i></a>
                                                <a><i class="fas fa-trash-alt" ng-if="x.status == 'RECORDED'" ng-click="CreateNew('30',x.attendanceConcat)"></i></a>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr class="t-body" ng-repeat-end></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--End Attendance-->
        <!-- Start แลกเปลี่ยนกะ -->
        <div class="ayodia-body-content" ng-if="demo == 4">

            <div class="row">
                <div class="col-sm-12">
                    <div class="filter-export-box clearfix margin-b20">
                        <div class="filter-items-l clearfix">
                            <div class="f-item">
                                <label>{{Text['HRTMABSENCE']['SELECT_YEAR']}} : </label>
                                <select class="form-control w240px-desktop" ng-if="listPeriodChangeWorking.length > 0"
                                        ng-model="periodChangeWorking.PeriodValue" ng-change="loadListDataChangeWorking(periodChangeWorking.PeriodValue);">
                                    <option value="{{item.PeriodValue}}" ng-repeat="item in listPeriodChangeWorking">
                                        {{item.PeriodText}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-items-r">
                            <a class="m-btn-c2 btn-s-md" ng-click="CreateNew('10','')">
                                <span class="">
                                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;{{Text['HRTMABSENCE']['CREATE']}}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row show-pc">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center">{{Text['HRTMSUBSTITUTION']['SUBSTITUTIONDATE']}}</th>
                            <th class="text-center">แลกกะกับ</th>
                            <th class="text-center">{{Text['DS']['SUBSTITUTE_TIME_FROM']}}</th>
                            <th class="text-center">{{Text['DS']['SUBSTITUTE_TIME_TO']}}</th>
                            <th class="text-center">{{Text['HRTMABSENCE']['ABSENCESTATUS']}}</th>
                            <th class="text-center"></th>
                            <th></th>
                        </tr>
                        <tr class="t-body" ng-repeat="item in listDataChangeWorking | orderBy: 'BeginDate'">
                            <td class="font-16 text-center">
                                {{item.BeginDate | date:'d/M/yyyy'}}
                            </td>
                            <td class="font-16">
                                <div class="s-detail font-16"> ผู้ขอแลก : {{item.EmployeeID}}&nbsp;{{item.NameEmoloyee}}</div>
                                <div class="s-detail font-16">  คนแทน : {{item.Substitute}}&nbsp;{{item.NameSubstitute}}</div>
                            </td>
                            <td class="font-16">
                                <div class="s-detail font-16"> ผู้ขอแลก : {{item.EmpDWSCodeOld}}&nbsp;<span ng-if="item.WorkingEmpDWSCodeOld">({{item.WorkingEmpDWSCodeOld}})</span></div>
                                <div class="s-detail font-16">  คนแทน : {{item.SubDWSCodeOld}}&nbsp;<span ng-if="item.WorkingSubDWSCodeOld">({{item.WorkingSubDWSCodeOld}})</span></div>
                            </td>
                            <td class="font-16">
                                <div class="s-detail font-16"> ผู้ขอแลก : {{item.EmpDWSCodeNew}}&nbsp;<span ng-if="item.WorkingEmpDWSCodeNew">({{item.WorkingEmpDWSCodeNew}})</span></div>
                                <div class="s-detail font-16">  คนแทน : {{item.SubDWSCodeNew}}&nbsp;<span ng-if="item.WorkingSubDWSCodeNew">({{item.WorkingSubDWSCodeNew}})</span></div>
                            </td>
                            <td class="font-16 text-center">
                                <div class="m-btn-orange btn-s-sm text-center m-auto w150px bg-none" ng-if="item.Status == 'VIEW'">
                                    <span class="">{{Text['HRLE']['VIEW']}}</span>
                                </div>
                                <div class="m-btn-blue btn-s-sm text-center m-auto w150px bg-none" ng-if="item.Status == 'DRAFT'">
                                    <span class="">{{Text['STATUS']['DRAFT']}}</span>
                                </div>
                                <div class="m-btn-orange btn-s-sm text-center m-auto w150px bg-none" ng-if="item.Status == 'WAITFORACCEPT'">
                                    <span class="">{{Text['STATUS']['WAITFORACCEPT']}}</span>
                                </div>
                                <div class="m-btn-blue btn-s-sm text-center m-auto w150px bg-none" ng-if="item.Status == 'WAITFORAPPROVE'">
                                    <span class="">{{Text['STATUS']['WAITFORAPPROVE']}}</span>
                                </div>
                                <div class="m-btn-red btn-s-sm text-center m-auto w150px bg-none" ng-if="item.Status == 'CANCELLED'">
                                    <span class="">{{Text['STATUS']['CANCELLED']}}</span>
                                </div>
                                <div class="m-btn-green btn-s-sm text-center m-auto w150px bg-none" ng-if="item.Status == 'COMPLETED'">
                                    <span class="">{{Text['STATUS']['COMPLETED']}}</span>
                                </div>
                            </td>
                            <td class="font-16 text-center">
                                <a ng-if="!item.RequestNo.startsWith('DS')" ng-click="view_Substitute(item.RequestNo);"><i class="fas fa-search"></i></a>
                                <a ng-if="item.Status == 'COMPLETED'" ng-click="CreateNew('35',item.RequestNo)"><i class="fas fa-trash-alt"></i></a>
                            </td>
                            <td class="font-16 text-center"></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row show-tablet">
                <div class="col-xs-12">
                    <div class="table-style-responsive">
                        <table class="w-100 table-style-1 margin-b10 ">
                            <tr class="t-header">
                                <th class="">{{Text['HRTMSUBSTITUTION']['SUBSTITUTIONDATE']}}</th>
                            </tr>
                            <tr class="t-body" ng-if="listPeriodChangeWorking.length > 0" ng-repeat="item in listDataChangeWorking | orderBy: 'BeginDate'">
                                <td class="font-16">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            {{item.BeginDate | date:'d/M/yyyy'}}
                                        </div>
                                        <div class="col-xs-8 text-right">
                                            <a ng-if="!item.RequestNo.startsWith('DS')" ng-click="view_Substitute(item.RequestNo);"><i class="fas fa-search"></i></a>
                                            <a ng-if="item.Status == 'COMPLETED'" ng-click="CreateNew('35',item.RequestNo)"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            {{Text['HRTMSUBSTITUTION']['NORMAL']}}
                                        </div>
                                        <div class="col-xs-8 text-left">
                                            <div class="s-detail font-16"> ผู้ขอแลก : {{item.EmpDWSCodeOld}}&nbsp;<span ng-if="item.WorkingEmpDWSCodeOld">({{item.WorkingEmpDWSCodeOld}})</span></div>
                                            <div class="s-detail font-16"> คนแทน  : {{item.SubDWSCodeOld}}&nbsp;<span ng-if="item.WorkingSubDWSCodeOld">({{item.WorkingSubDWSCodeOld}})</span></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            {{Text['HRTMSUBSTITUTION']['AFTER']}}
                                        </div>
                                        <div class="col-xs-8 text-left">
                                            <div class="s-detail font-16"> ผู้ขอแลก : {{item.EmpDWSCodeNew}}&nbsp;<span ng-if="item.WorkingEmpDWSCodeNew">({{item.WorkingEmpDWSCodeNew}})</span></div>
                                            <div class="s-detail font-16">  คนแทน : {{item.SubDWSCodeNew}}&nbsp;<span ng-if="item.WorkingSubDWSCodeNew">({{item.WorkingSubDWSCodeNew}})</span></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="m-btn-orange btn-s-sm text-center w150px bg-none" ng-if="item.Status == 'VIEW'">
                                                <span class="">{{Text['HRLE']['VIEW']}}</span>
                                            </div>
                                            <div class="m-btn-c-blue btn-s-sm text-center w150px bg-none" ng-if="item.Status == 'DRAFT'">
                                                <span class="">{{Text['STATUS']['DRAFT']}}</span>
                                            </div>
                                            <div class="m-btn-orange btn-s-sm text-center w150px bg-none" ng-if="item.Status == 'WAITFORACCEPT'">
                                                <span class="">{{Text['STATUS']['WAITFORACCEPT']}}</span>
                                            </div>
                                            <div class="m-btn-blue btn-s-sm text-center w150px bg-none" ng-if="item.Status == 'WAITFORAPPROVE'">
                                                <span class="">{{Text['STATUS']['WAITFORAPPROVE']}}</span>
                                            </div>

                                            <div class="m-btn-red btn-s-sm text-center w150px bg-none" ng-if="item.Status == 'CANCELLED'">
                                                <span class="">{{Text['STATUS']['CANCELLED']}}</span>
                                            </div>
                                            <div class="m-btn-green btn-s-sm text-center w150px bg-none" ng-if="item.Status == 'COMPLETED'">
                                                <span class="">{{Text['STATUS']['COMPLETED']}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!--<pre>{{listDataChangeWorking | json}}</pre>-->
        </div>
        <!-- End แลกเปลี่ยนกะ -->

    </div>
</div>



