﻿<div class="TravelExManPage delegation-page" ng-controller="OvertimeManagementSystemController" ng-init="init();">
    <h1>{{Text['APPLICATION']['OVERTIME_MANAGEMENT_SYSTEM']}} </h1>

    <div class="content-by-ayodia margin-b20 " ng-if="subGroup<11">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['TIMEMANAGEMENT']['OVERTIMELIST']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="filter-export-box clearfix margin-b20">
                        <div class="filter-items-l clearfix">
                            <div class="f-item">
                                <label>{{Text['HRTMABSENCE']['SELECT_YEAR']}}: </label>
                                <select class="form-control w240px-desktop" ng-change="changePeriod(selectedPeriod)" ng-model="selectedPeriod">
                                    <option ng-repeat="item in periods" value="{{item.PeriodValue}}">{{item.PeriodText}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-items-r">
                            <a class="m-btn-c2 btn-s-md" ng-click="CreateNew('2',selectedPeriod)">
                                <span class="">
                                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;{{Text['HRTMSUBSTITUTION']['CREATENEW_SUBSTITUTION']}}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row show-pc">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center" style="width:150px">{{Text['HRTMOT']['OTDATE']}}</th>
                            <th class="text-center" style="width:150px">{{Text['HRTMOT']['OTTIME']}}</th>
                            <th class="text-center" style="width:200px;">{{Text['HRTMOT']['OTWORKTYPE']}}</th>
                            <th class="text-center" style="width:200px;">{{Text['ACCOUNT_SETTING']['DETAIL']}}</th>
                            <th class="text-center" style="width:100px;">x1.0</th>
                            <th class="text-center" style="width:100px;">x1.5</th>
                            <th class="text-center" style="width:100px;">x3.0</th>
                            <th class="text-center" style="width:150px;">{{Text['HRTMOT']['STATUS']}}</th>
                            <th style="width:60px;"></th>
                        </tr>
                        <tr class="t-body" ng-repeat="item in dailyOTs">
                            <td class="font-16 text-center v-top">
                                {{item._BeginDate | date:'d/M/yyyy'}}
                            </td>
                            <td class="font-16 text-center">
                                {{item._BeginDate | date:'HH:mm:ss'}} - {{item._EndDate | date:'HH:mm:ss'}}
                            </td>
                            <td class="font-16 text-left">
                                {{getTypeName(item._OTWorkTypeID);}}
                            </td>
                            <td class="font-16 text-left">
                                {{item._Description}}
                            </td>
                            <td class="font-16 text-center">
                                {{calH(item._RequestOTHour10)}}
                            </td>
                            <td class="font-16 text-center">
                                {{calH(item._RequestOTHour15)}}
                            </td>
                            <td class="font-16 text-center">
                                {{calH(item._RequestOTHour30)}}
                            </td>
                            <td class="font-16 text-center">
                                <div class="m-btn-green btn-s-sm m-auto text-center w150px " ng-if="item._Status == 2">
                                    <span class="">{{Text['HRTMOT']['WAITFORMAKESUMMARY']}}</span>
                                </div>
                                <div class="m-btn-red btn-s-sm text-center  m-auto  w150px " ng-if="item._Status == 1">
                                    <span class="">{{Text['HRTMOT']['WAITFORAPPROVE']}}</span>
                                </div>
                                <div class="m-btn-blue btn-s-sm text-center  m-auto  w150px " ng-if="item._Status == 0">
                                    <span class="">{{Text['HRTMOT']['DRAFT']}}</span>
                                </div>
                                <div class="m-btn-green btn-s-sm m-auto text-center w150px" ng-if="item._Status == 3">
                                    <span class="">{{Text['HRTMOT']['SENTSUMMARY']}}</span>
                                </div>
                                <div class="m-btn-green btn-s-sm m-auto text-center w150px " ng-if="item._Status == 4">
                                    <span class="">{{Text['HRTMOT']['WAITFORCANCEL']}}</span>
                                </div>
                                <div class="m-btn-green btn-s-sm m-auto text-center w150px" ng-if="item._Status == 5">
                                    <span class="">{{Text['HRTMOT']['CANCELLED']}}</span>
                                </div>
                                <div class="m-btn-orange btn-s-sm m-auto text-center w150px" ng-if="item._Status == 6">
                                    <span class="">{{Text['HRTMOT']['WAITFOREDIT']}}</span>
                                </div>
                                <div class="m-btn-green btn-s-sm m-auto text-center w150px" ng-if="item._Status == 7">
                                    <span class="">{{Text['HRTMOT']['CANCELSUMMARY']}}</span>
                                </div>
                                <div class="m-btn-green btn-s-sm m-auto text-center w150px" ng-if="item._Status == 8">
                                    <span class="">{{Text['HRTMOT']['MAKESUMMARY']}}</span>
                                </div>
                                <div class="m-btn-green btn-s-sm m-auto text-center w150px" ng-if="item._Status == 9">
                                    <span class="">{{Text['HRTMOT']['SUMMARYDRAFT']}}</span>
                                </div>
                            </td>
                            <td class="font-16 text-center">
                                <a ng-if="item._IsView" ng-click="View(item._RequestNo);"><i class="fas fa-search"></i></a>
                                <a ng-click="CreateNew('13',item._Concat)"><i class="fas fa-trash-alt" ng-if="item._Status == 2"></i></a>
                            </td>
                        </tr>
                        <tr class="tb-m-padding-d t-summary">
                            <td class="text-center" colspan="4">{{Text['HRTMOT']['COLNUMBERTOTAL']}}</td>
                            <td class="text-center">{{sumRequestOTHour10(dailyOTs)}}</td>
                            <td class="text-center">{{sumRequestOTHour15(dailyOTs)}}</td>
                            <td class="text-center">{{sumRequestOTHour30(dailyOTs)}}</td>
                            <td class="text-center" colspan="2"></td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="row show-tablet">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10">
                        <tr class="t-header padding">
                            <th class="text-center p-th-s">{{Text['HRTMOT']['OTDATE']}}</th>
                            <th class="text-center p-th-s" style="width:30px;">{{Text['HRTMOT']['TOTALOTHOUR']}}</th>
                            <th class="text-center p-th-s" style="width:30px;">จำนวนเท่า</th>
                            <th style="width:30px; "></th>
                        </tr>
                        <tr class="t-body" ng-repeat="item in dailyOTs">
                            <td class="font-16 v-top">
                                <div class="s-detail font-16"> {{item._BeginDate | date:'d/M/yyyy'}}  {{item._BeginDate | date:'HH:mm:ss'}} - {{item._EndDate | date:'HH:mm:ss'}} </div>
                                <div class="s-detail font-16"> {{getTypeName(item._OTWorkTypeID);}}</div>
                                <div class="s-detail font-16 ">{{item._Description}}</div>
                                <div class="m-btn-green btn-s-sm m-auto text-center w150px" ng-if="item._Status == 2">
                                    <span class="">{{Text['HRTMOT']['WAITFORMAKESUMMARY']}}</span>
                                </div>
                                <div class="m-btn-red btn-s-sm text-center  m-auto  w150px" ng-if="item._Status == 1">
                                    <span class="">{{Text['HRTMOT']['WAITFORAPPROVE']}}</span>
                                </div>
                                <div class="m-btn-blue btn-s-sm text-center  m-auto  w150px" ng-if="item._Status == 0">
                                    <span class="">{{Text['HRTMOT']['DRAFT']}}</span>
                                </div>
                                <div class="m-btn-green btn-s-sm m-auto text-center w150px" ng-if="item._Status == 3">
                                    <span class="">{{Text['HRTMOT']['SENTSUMMARY']}}</span>
                                </div>
                                <div class="m-btn-green btn-s-sm m-auto text-center w150px" ng-if="item._Status == 4">
                                    <span class="">{{Text['HRTMOT']['WAITFORCANCEL']}}</span>
                                </div>
                                <div class="m-btn-green btn-s-sm m-auto text-center w150px" ng-if="item._Status == 5">
                                    <span class="">{{Text['HRTMOT']['CANCELLED']}}</span>
                                </div>
                                <div class="m-btn-orange btn-s-sm m-auto text-center w150px" ng-if="item._Status == 6">
                                    <span class="">{{Text['HRTMOT']['WAITFOREDIT']}}</span>
                                </div>
                                <div class="m-btn-green btn-s-sm m-auto text-center w150px" ng-if="item._Status == 7">
                                    <span class="">{{Text['HRTMOT']['CANCELSUMMARY']}}</span>
                                </div>
                                <div class="m-btn-green btn-s-sm m-auto text-center w150px" ng-if="item._Status == 8">
                                    <span class="">{{Text['HRTMOT']['MAKESUMMARY']}}</span>
                                </div>
                                <div class="m-btn-green btn-s-sm m-auto text-center w150px" ng-if="item._Status == 9">
                                    <span class="">{{Text['HRTMOT']['SUMMARYDRAFT']}}</span>
                                </div>
                            </td>
                            <td class="font-16 text-center v-top">
                                <div class="s-detail font-16"> {{calH(item._RequestOTHour10)}}</div>
                                <div class="s-detail font-16"> {{calH(item._RequestOTHour15)}} </div>
                                <div class="s-detail font-16"> {{calH(item._RequestOTHour30)}} </div>
                            </td>
                            <td class="font-16 text-center v-top">
                                <div class="s-detail font-16"> 1.0</div>
                                <div class="s-detail font-16"> 1.5</div>
                                <div class="s-detail font-16"> 3.0</div>
                            </td>

                            <td class="font-16 text-center v-top">
                                <a ng-if="item._IsView" ng-click="View(item._RequestNo);"><i class="fas fa-search"></i></a>
                                <a ng-click="CreateNew('13',item._Concat)"><i class="fas fa-trash-alt" ng-if="item._Status == 2"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="content-by-ayodia margin-b20 " ng-if="subGroup>=11">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['HRTMOT']['SUMMARYOTLIST']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="filter-export-box clearfix margin-b20">
                        <div class="filter-items-l clearfix">
                            <div class="f-item">
                                <label>{{Text['HRTMABSENCE']['SELECT_YEAR']}}: </label>
                                <select class="form-control w240px-desktop" ng-change="changePeriodSummaryOT(selectedPeriodSummaryOT)" ng-model="selectedPeriodSummaryOT">
                                    <option ng-repeat="item in periodSummaryOTs" value="{{item.PeriodValue}}">{{item.PeriodText}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-items-r">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row show-tablet margin-b10">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">

                        <tr class="t-header">
                            <th class="text-center tb-pad-1">{{Text['HRTMOT']['EMPLOYEE']}}</th>
                            <th class="text-center tb-pad-1">{{Text['HRTMOT']['APPROVEOTRECORD']}}</th>
                            <th class="text-center tb-pad-1">{{Text['HRTMOT']['PAYROLLOTRECORD']}}</th>
                            <th class="text-center tb-pad-1"></th>
                        </tr>

                        <tr class="t-body" ng-repeat="item in empResponsibles">
                            <td class="font-16 v-top">
                                <p class="margin-none"> {{item.EmployeeId}} </p>
                                <p class="margin-none">  {{item.EmployeeName}} </p>
                            </td>
                            <td class="font-16 text-center v-top">
                                {{item.SumRequest}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{item.SumPayroll}}
                            </td>
                            <td class="font-16 text-center v-top">
                                <a ng-if="item.SumPayroll>0 && IsShowCreateSummaryOT" ng-click="CreateNew('28',item.EmployeeId+'|'+selectedPeriodSummaryOT)"><i class="fa fa-file-text"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="row show-pc margin-b10">
                <div class="col-sm-12">
                    <table class="w-100 table-style-1 margin-b10 ">
                        <tr class="t-header">
                            <th class="text-center tb-pad-1">{{Text['HRTMOT']['EMPLOYEE']}}</th>
                            <th class="text-center tb-pad-1">{{Text['HRTMOT']['APPROVEOTRECORD']}}</th>
                            <th class="text-center tb-pad-1">{{Text['HRTMOT']['PAYROLLOTRECORD']}}</th>
                            <th class="text-center tb-pad-1">{{Text['HRTMOT']['CREATE_SUMMARYOT']}}</th>
                        </tr>
                        <tr class="t-body" ng-repeat="item in empResponsibles">
                            <td class="font-16 v-top">
                                {{item.EmployeeId}}  {{item.EmployeeName}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{item.SumRequest}}
                            </td>
                            <td class="font-16 text-center v-top">
                                {{item.SumPayroll}}
                            </td>
                            <td class="font-16 text-center v-top">
                                <a ng-if="item.SumPayroll>0 && IsShowCreateSummaryOT" ng-click="CreateNew('28',item.EmployeeId+'|'+selectedPeriodSummaryOT)"><i class="fa fa-file-text"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <!--<pre>{{dailyOTs | json}}</pre>-->
</div>


