﻿<div class="TravelExManPage delegation-page" ng-controller="ReportAdminController" ng-init="init();">

    <h1>{{Text['ReportForAdmin']['Report']}}</h1>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['ReportForAdmin']['Report']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" style="overflow-wrap:break-word;" ng-if="leftReport.length > 0" ng-repeat="item in leftReport" ng-click="next(item);">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{Text['APPLICATION'][item.SubjectCode]}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" style="overflow-wrap:break-word;" ng-if="leftReport.length > 0" ng-repeat="item in rightReport" ng-click="next(item);">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{Text['APPLICATION'][item.SubjectCode]}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<pre>{{rightReport | json}}</pre>-->
</div>