﻿<div class="TravelExManPage delegation-page" ng-controller="TimeSheetController" ng-init="init();">
    <h1>{{Text['APPGROUP']['TIMEREPORT']}} </h1>
    <div class="content-by-ayodia margin-b20 ">
        <div class="ayodia-header-content">
            <div class="ayodia-title w-100">
                {{Text['APPGROUP']['TIMEREPORT']}}
            </div>
        </div>
        <div class="ayodia-body-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="filter-export-box clearfix margin-b20">
                        <div class="filter-items-l clearfix">
                            <div class="f-item">
                                <label>{{Text['HRTMOT']['PERIOD']}} : </label>
                                <select class="form-control w240px-desktop" ng-model="selectedPeriodTimesheet">
                                    <option ng-repeat="item in periodTimesheets" value="{{item.PeriodValue}}">{{item.PeriodText}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-items-r">
                            <a class="m-btn-c2 btn-s-md" ng-click="CreateNew('9',selectedPeriodTimesheet)">
                                <span class="">
                                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp; {{Text['REQUESTTYPE']['TIMESHEETMANAGETIME']}}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-7 lr-0 show-tablet">
                    <div class="row">
                        <div class="col-md-12 media-padding-col">
                            <div class="sub-title">{{Text['APPGROUP']['TIMEREPORT']}}</div>
                        </div>
                        <div class="col-sm-12">
                            <table class="w-100 table-style-2 margin-b10 ">
                                <tr class="t-header">
                                    <th class="text-center">{{Text['HRTMABSENCE']['WORKDATE']}}</th>
                                    <th class="text-center">{{Text['HRTMABSENCE']['TIMEIN']}}</th>
                                    <th class="text-center">{{Text['HRTMABSENCE']['TIMEOUT']}}</th>

                                    <!--<th class="text-center">{{Text['HRTMABSENCE']['CLOCKINLATE']}}</th>
                                    <th class="text-center">{{Text['HRTMABSENCE']['CLOCKOUTEARLY']}}</th>
                                    <th class="text-center">{{Text['HRTMABSENCE']['CLOCKABNORMAL']}}</th>-->
                                </tr>
                                <tr class="t-body" ng-class="GetStatusClass(timesheet)" ng-repeat="timesheet in _timesheet.TimeSheets">
                                    <td style="vertical-align:top; word-wrap:break-word;">
                                        <p class="text-t-d"> {{timesheet.Date | date:'d/M/yyyy'}}</p>
                                        <p class="text-t-d"> {{timesheet.Type }}</p>
                                    </td>
                                    <td class="text-center" style="word-wrap:break-word;">
                                        <p class="text-t-d">{{timesheet.ClockIn | date:'HH:mm:ss'}}</p>
                                    </td>
                                    <td class="text-center" style="word-wrap:break-word;">
                                        <p class="text-t-d">{{timesheet.ClockOut | date:'HH:mm:ss'}}</p>
                                    </td>
                                    <!--<td class="text-center"><i ng-if="timesheet.ClockInLate" class="fas fa-check"></i></td>
                                    <td class="text-center"><i ng-if="timesheet.ClockoutEarly" class="fas fa-check"></i></td>
                                    <td class="text-center"><i ng-if="timesheet.ClockNoneWork" class="fas fa-check"></i></td>-->
                                </tr>
                                <!--<tr class="tb-m-padding-d t-summary">
                                    <td class="text-center" colspan="3">{{Text['HRTMOT']['COLNUMBERTOTAL']}}</td>
                                    <td class="text-center">{{sumCLOCKINLATE(_timesheet.TimeSheets);}}</td>
                                    <td class="text-center">{{sumCLOCKOUTEARLY(_timesheet.TimeSheets);}}</td>
                                    <td class="text-center">{{sumCLOCKABNORMAL(_timesheet.TimeSheets);}}</td>
                                </tr>-->
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 lr-0 show-pc">
                    <div class="row">
                        <div class="col-md-12 media-padding-col">
                            <div class="sub-title">{{Text['APPGROUP']['TIMEREPORT']}}</div>
                        </div>
                        <div class="col-sm-12">
                            <table class="w-100 table-style-2 margin-b10">
                                <tr class="t-header">
                                    <th class="text-center" style="padding:9px 10px;width:14%;">{{Text['HRTMABSENCE']['WORKDATE']}}</th>
                                    <th class="text-center" style="padding:9px 10px;width:20%;">{{Text['HRTMABSENCE']['WORKSCHEDULE']}}</th>
                                    <th class="text-center" style="padding:9px 10px;width:14%;">{{Text['HRTMABSENCE']['TIMEIN']}}</th>
                                    <th class="text-center" style="padding:9px 10px;width:14%;">{{Text['HRTMABSENCE']['TIMEOUT']}}</th>

                                    <th class="text-center" style="padding:9px 10px;width:7%;">{{Text['HRTMABSENCE']['CLOCKINLATE']}}</th>
                                    <th class="text-center" style="padding:9px 10px;width:7%;">{{Text['HRTMABSENCE']['CLOCKOUTEARLY']}}</th>
                                    <th class="text-center" style="padding:9px 10px;width:7%;">{{Text['HRTMABSENCE']['CLOCKABNORMAL']}}</th>

                                    <th class="text-center" style="padding:9px 10px;width:17%;">{{Text['HRTMABSENCE']['DESCRIPTION']}}</th>
                                </tr>
                                <tr class="t-body" ng-class="GetStatusClass(timesheet)" ng-repeat="timesheet in _timesheet.TimeSheets">
                                    <td class="text-center" style="width:14%; word-wrap:break-word;">{{timesheet.Date | date:'d/M/yyyy'}}</td>
                                    <td class="text-center" style="width:20%; word-wrap:break-word;">{{timesheet.Type }}</td>
                                    <td class="text-center" style="width:14%; word-wrap:break-word;">{{timesheet.ClockIn | date:'HH:mm:ss'}}</td>
                                    <td class="text-center" style="width:14%; word-wrap:break-word;">{{timesheet.ClockOut | date:'HH:mm:ss'}}</td>

                                    <td class="text-center" style="width:7%; word-wrap:break-word;"><i ng-if="timesheet.ClockInLate" class="fas fa-check"></i></td>
                                    <td class="text-center" style="width:7%; word-wrap:break-word;"><i ng-if="timesheet.ClockoutEarly" class="fas fa-check"></i></td>
                                    <td class="text-center" style="width:7%; word-wrap:break-word;"><i ng-if="timesheet.ClockNoneWork" class="fas fa-check"></i></td>

                                    <td style="width:17%; word-wrap:break-word;">{{timesheet.TextDescription }}</td>
                                </tr>
                                <!--<tr class="t-body t-summary">
                                    <td class="text-center" colspan="4">{{Text['HRTMOT']['COLNUMBERTOTAL']}}</td>
                                    <td style="width:7%;"class="text-center">{{sumCLOCKINLATE(_timesheet.TimeSheets);}}</td>
                                    <td style="width:7%;"class="text-center">{{sumCLOCKOUTEARLY(_timesheet.TimeSheets);}}</td>
                                    <td style="width:7%;"class="text-center">{{sumCLOCKABNORMAL(_timesheet.TimeSheets);}}</td>
                                    <td style="width:30%;" class="text-center"></td>
                                </tr>-->
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 lr-0">
                    <div class="row">
                        <div class="col-md-12 media-padding-col">
                            <div class="sub-title">{{Text['HRTMABSENCE']['TIMEELEMENT']}}</div>
                        </div>
                        <div class="col-sm-12">
                            <!--<table class="w-100 table-style-2 sp-scroll margin-b10 ">
                                <thead>
                                    <tr class="t-header">
                                        <th class="text-center">{{Text['HRTMABSENCE']['WORKDATE']}}-{{Text['HRTMABSENCE']['TIMEELEMENT']}}</th>
                                        <th class="text-center">{{Text['HRTMABSENCE']['CLOCKLOCATION']}}</th>
                                        <th class="text-center" style="width: 146px;">{{Text['HRTMABSENCE']['ABSENCESTATUS']}}</th>
                                    </tr>
                                </thead>
                                <tbody class="scrollbar-2 h-500px">
                                    <tr class="t-body" ng-repeat="timeElement in _timesheet.TimeElements">
                                        <td class="text-center">{{timeElement.EventTime | date:'d/M/yyyy HH:mm:ss'}}</td>
                                        <td class="text-center">{{timeElement.Location}}</td>
                                        <td class="text-center" style="width: 146px;"><span ng-if="timeElement.__type==0">ACCEPT</span><span ng-if="timeElement.__type==1">REAL TIME</span></td>
                                    </tr>
                                </tbody>
                            </table>-->
                            <table class="w-100 table-style-2 margin-b10 ">
                                <tr class="t-header"  style="word-wrap:break-word;">
                                    <th class="text-center">{{Text['HRTMABSENCE']['WORKDATE']}}-{{Text['HRTMABSENCE']['TIMEELEMENT']}}</th>
                                    <th class="text-center">{{Text['HRTMABSENCE']['CLOCKLOCATION']}}</th>
                                    <th class="text-center" style="width: 146px;">{{Text['HRTMABSENCE']['ABSENCESTATUS']}}</th>
                                </tr>
                                <tr class="t-body" ng-repeat="timeElement in _timesheet.TimeElements" style="word-wrap:break-word;">
                                    <td class="text-center">{{timeElement.EventTime | date:'d/M/yyyy HH:mm:ss'}}</td>
                                    <td class="text-center">{{timeElement.Location}}</td>
                                    <td class="text-center" style="width: 146px;"><span ng-if="timeElement.ItemType==0">ACCEPT</span><span ng-if="timeElement.ItemType==1">REAL TIME</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

      <!--<pre>{{_timesheet.TimeSheets|json}}</pre>-->
</div>









