﻿<div class="TravelExManPage delegation-page" ng-controller="FlexibleBenefitManagementViewerController" ng-init="init();">

    <div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{Text['FLEXIBLEBENEFIT'].FLEXIBLEBENEFIT}}</div> <!--ข้อมูลสวัสดิการทางเลือก-->
                </div>
            </div>
        </div>
    </div>


    <div class="body_content" style="margin-bottom:0px;">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll" style="overflow-x:hidden; padding-bottom:4rem;">
            <div class="-pad10"></div>
            <div class="body_content">
                <div class="bar_bottom layout-padding-md">
                    <md-tabs class="personal_education_Content" md-stretch-tabs="always" md-swipe-content="false" md-no-pagination="false" md-border-bottom="true" md-dynamic-height="true">

                        <!-- ระเบียบ -->
                        <md-tab class="mt-1" label="{{Text['FLEXIBLEBENEFIT'].REGULARITY}}">
                            <div class="body_content" style="background:white;">
                                <div ng-repeat="item in TEXTDetail" ng-show="TEXTDetail.length > 0 ">
                                    <!--<div ng-bind-html="item.Value"></div>-->
                                    <div ng-bind-html="renderHtml(item.Value)"></div>
                                </div>
                            </div>
                        </md-tab>

                        <!-- การลงทะเบียน -->
                        <md-tab class="mt-2" label="{{Text['FLEXIBLEBENEFIT'].REGISTRATION}}">

                            <!--ADD USER-->
                            <div class="in-progress-tb" ng-if="RoleAdmin == 0 && employeeData.EmpGroup == 'A'">
                                <div class="in-progress-tb-top">
                                    <div class="row">
                                        <div class="col-md-12 p-0 mt-2">
                                            <div class="item-btn mobile-text-center">
                                                <!--Add-->
                                                <a ng-click="CreateNew('511',keyYear_select)"  ng-show="CheckPeriod.length > 0">
                                                <!--<a ng-click="CreateNew('511',keyYear_select)" ng-if="IsShowTimeAwareLink">-->
                                                    <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                                                        <span class="icon-doc_plus" aria-hidden="true"></span>  {{Text['FLEXIBLEBENEFIT'].ADD}}
                                                    </div>
                                                    <md-tooltip md-direction="buttom" class="em-font-17">
                                                        {{Text['FLEXIBLEBENEFIT'].ADD}}
                                                    </md-tooltip>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--ADD ADMIN-->
                            <div class="in-progress-tb" ng-if="RoleAdmin == 1 && employeeData.EmpGroup == 'A'">
                                <div class="in-progress-tb-top">
                                    <div class="row">
                                        <div class="col-md-12 p-0 mt-2">
                                            <div class="item-btn mobile-text-center">
                                                <!--Add-->
                                                <a ng-click="CreateNew('511',keyYear_select)">
                                                    <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                                                        <span class="icon-doc_plus" aria-hidden="true"></span>  {{Text['FLEXIBLEBENEFIT'].ADD}}
                                                    </div>
                                                    <md-tooltip md-direction="buttom" class="em-font-17">
                                                        {{Text['FLEXIBLEBENEFIT'].ADD}}
                                                    </md-tooltip>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--SEARCH-->
                            <div class="in-progress-tb">
                                <div class="in-progress-tb-top">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div>
                                                <select class="form-control" ng-change="filterYear(prop.value)" ng-model="prop.value" ng-options="v for v in prop.values" style="box-shadow: 0 0 0;height: 3rem;border: 2px solid #603913;"></select>
                                            </div>
                                        </div>

                                        <div class="col-md-9 p-0 mt-2">
                                            <div class="row ">
                                                <div style="font-size: 18px;">
                                                    <span ng-show="EnrollmentData.length > 0" ng-repeat="Item in EnrollmentData | limitTo:1">
                                                        <span ng-if="Item.RequestNo && Item.RequestNo != '//System Import' && Item.RequestNo != 'NOTSELECT'" ng-show="$index == 0" ng-click="openRequest(Item.RequestNo,Item.RequestorCompanyCode, Item.KeyMaster, 'false','false', '0')">{{Text['FLEXIBLEBENEFIT'].TEXT_NO_REGISTER}} <span style="color: #337ab7 !important;">{{Item.RequestNo}}</span></span>
                                                        <span ng-if="Item.RequestNo == 'NOTSELECT'">{{Text['FLEXIBLEBENEFIT'].TEXT_REGISTER}}</span>
                                                        <span ng-if="Item.RequestNo != 'NOTSELECT' && Item.RequestNo == '//System Import'" ng-show="$index == 0">{{Text['FLEXIBLEBENEFIT'].TEXT_NO_REGISTER}} -</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="body_content" style="background:white;">
                                <div class="leavetableBlock leavetableBlock_create">
                                    <div class="row itemlist_block">
                                        <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                            <div class="row itemlist">
                                                <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                                    <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                        <thead>
                                                            <tr style="vertical-align:middle; text-align:center;">
                                                                <td>{{Text['FLEXIBLEBENEFIT'].TOPIC}}</td> <!-- หัวข้อสวัสดิการ -->
                                                                <td>{{Text['FLEXIBLEBENEFIT'].SELECTED}}</td> <!-- เลือกรับ -->
                                                                <td>{{Text['FLEXIBLEBENEFIT'].AMOUNT}}</td> <!-- วงเงิน (บาท) -->
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="Item in EnrollmentData track by $index" ng-show="EnrollmentData.length != 0">
                                                                <td>{{Item.SelectionItemText}}</td>
                                                                <td ng-if="Item.isMainBenefit && Item.RequestNo != 'NOTSELECT'">{{Text['SelectionItemID'][Item.SelectionItemID + '_1']}}</td> <!--เลือกสวัสดิการหลัก-->
                                                                <td ng-if="!Item.isMainBenefit && Item.RequestNo != 'NOTSELECT'">{{Text['SelectionItemID'][Item.SelectionItemID + '_0']}}</td> <!--เลือกสวัสดิการทางเลือก (รอง)-->
                                                                <td ng-if="Item.RequestNo == 'NOTSELECT'">{{Text['SelectionItemID'][Item.SelectionItemID + '_1']}}</td> <!--เลือกสวัสดิการหลัก-->
                                                                <td>{{Item.MainBenefitSelected | currency : "": 2}}</td>
                                                            </tr>

                                                            <tr ng-show="EnrollmentData.length != 0">
                                                                <td colspan="2"><span style="float: right;">{{Text['FLEXIBLEBENEFIT'].AMOUNT_ALL}}</span></td>
                                                                <td colspan="1">{{getTotal() | currency : "": 2}}</td>
                                                            </tr>

                                                            <tr ng-show="EnrollmentData.length == 0">
                                                                <td colspan="3" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </md-tab>

                        <!-- รายการเบิก -->
                        <md-tab class="mt-3" label="{{Text['FLEXIBLEBENEFIT'].LIST}}">

                            <!--SEARCH-->
                            <div class="in-progress-tb">
                                <div class="in-progress-tb-top">
                                    <div class="row">

                                        <div class="col-md-6 p-0 mt-2">
                                            <!--<div class="item-btn mobile-text-center" ng-show="keyYear_select < yearsnext && CheckPeriod.length == 0">-->
                                            <div class="item-btn mobile-text-center" ng-show="keyYear_select < yearsnext">
                                                <!--ADD-->
                                                <a ng-click="CreateNew('521',keyYear_select)" ng-if="(getTotal()- check_quota_balance) > 0 && employeeData.EmpGroup == 'A'">
                                                    <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                                                        <span class="icon-doc_plus" aria-hidden="true"></span>  {{Text['FLEXIBLEBENEFIT'].ADD}}
                                                    </div>
                                                    <md-tooltip md-direction="buttom" class="em-font-17">
                                                        {{Text['FLEXIBLEBENEFIT'].ADD}}
                                                    </md-tooltip>
                                                </a>

                                                <a ng-click="showAlertReimburse()" ng-if="(getTotal()- check_quota_balance) <= 0 && employeeData.EmpGroup == 'A'">
                                                    <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                                                        <span class="icon-doc_plus" aria-hidden="true"></span> {{Text['FLEXIBLEBENEFIT'].ADD}}
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-md-6 p-0 mt-2">
                                            <div class="row ">
                                                <div class="col-xs-3 float-right p-0">
                                                    <select class="form-control" ng-change="filterYear(prop.value)" ng-model="prop.value" ng-options="v for v in prop.values" style="box-shadow: 0 0 0;height: 3rem;border: 2px solid #603913;"></select>
                                                </div>

                                                <div class="col-xs-9 float-right">
                                                    <div class="inprogress-search">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" placeholder="{{Text['BE_EDUCATIONALLOWANCE'].SEARCH_DATA}} . . ." ng-model="filtered" style="border-width: 2px !important;border: 2px solid;">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="body_content" style="background:white;">
                                <md-tabs class="personal_education_Content" md-stretch-tabs="always" md-swipe-content="false" md-no-pagination="false" md-border-bottom="true" md-dynamic-height="true">

                                    <md-tab class="mt-1" label="{{Text['FLEXIBLEBENEFIT'].QUOTA}}">
                                        <div class="body_content" style="background:white;">
                                            <div class="leavetableBlock leavetableBlock_create">
                                                <div class="row itemlist_block">
                                                    <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                                        <div class="row itemlist">
                                                            <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                                                <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                                    <thead>
                                                                        <tr style="vertical-align:middle; text-align:center;">
                                                                            <td>{{Text['FLEXIBLEBENEFIT'].QUOTA_AMOUNT}}</td> <!-- โควต้า (บาท) -->
                                                                            <td>{{Text['FLEXIBLEBENEFIT'].TOTAL_AMOUNT}}</td> <!-- จำนวนเงินที่เบิก (บาท)-->
                                                                            <td>{{Text['FLEXIBLEBENEFIT'].BALANCE_AMOUNT}}</td> <!-- คงเหลือ (บาท) -->
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="Item in ReimburseQuota track by $index" ng-show="ReimburseQuota.length != 0">
                                                                            <td>{{getTotal() | currency : "": 2}}</td>
                                                                            <td>{{Item.AmountReimburse | currency : "": 2}}</td>
                                                                            <td>{{(getTotal() - Item.AmountReimburse)  | currency : "": 2}}</td>
                                                                        </tr>

                                                                        <tr ng-show="ReimburseQuota.length == 0">
                                                                            <td colspan="3" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </md-tab>

                                    <md-tab class="mt-2" label="{{Text['FLEXIBLEBENEFIT'].HISTORY}}">
                                        <div class="leavetableBlock leavetableBlock_create">
                                            <div class="row itemlist_block">
                                                <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                                    <div class="row itemlist">
                                                        <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide p-0" style="overflow: visible;">
                                                            <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                                <thead>
                                                                    <tr style="vertical-align:middle; text-align:center;">
                                                                        <td>{{Text['FLEXIBLEBENEFIT'].SEQUENCE}}</td> <!--ลำดับที่-->
                                                                        <td>{{Text['FLEXIBLEBENEFIT'].REQUESTNO}}</td> <!-- เลขที่เอกสาร -->
                                                                        <td>{{Text['FLEXIBLEBENEFIT'].F_CATEGORY}}</td> <!-- หมวดการเบิก -->
                                                                        <td>{{Text['FLEXIBLEBENEFIT'].F_DAYAMOUNT}}</td> <!--วันที่เบิก-->
                                                                        <td>{{Text['FLEXIBLEBENEFIT'].F_AMOUNT}}</td> <!--จำนวนเงิน (บาท)-->
                                                                        <td>{{Text['FLEXIBLEBENEFIT'].F_PAYMENTAMOUNT}}</td> <!--ยอดเงินที่เบิกได้จริง (บาท)-->
                                                                        <td>{{Text['FLEXIBLEBENEFIT'].F_STATUS}}</td> <!--สถานะ-->
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <!--กรณีมีข้อมูล History-->
                                                                    <tr ng-show="data.length > 0"
                                                                        ng-repeat="item in genDatas(filtered)">
                                                                        <td>{{ (pagin.currentPage-1) * pagin.itemPerPage + ($index + 1)}}</td>
                                                                        <!---------------------- กรณีมี RequestNo ------------------------>
                                                                        <td ng-if="item.RequestNo && !item.RequestNo.includes('#SystemImport')">
                                                                            <a style="color: #337ab7 !important;"
                                                                               ng-click="openRequest(item.RequestNo,item.RequestorCompanyCode, item.KeyMaster, 'false','false', '0')">
                                                                                {{item.RequestNo}}
                                                                            </a>
                                                                        </td>
                                                                        <!---------------------- กรณีไม่มี RequestNo ------------------------>
                                                                        <td ng-if="!item.RequestNo || item.RequestNo.includes('#SystemImport')">-</td>
                                                                        <td>{{item.FSAText}}<p> - {{item.FSASubText}}</p></td>
                                                                        <td>{{item.CreatedDate | date:"dd/MM/yyyy"}}</td>
                                                                        <td>{{item.Amount | currency : "": 2}}</td>
                                                                        <td>{{item.AmountReimburse | currency : "": 2}}</td>
                                                                        <td>
                                                                            <button ng-if="item.ReimburseStatus == 'COMPLETED' || item.ReimburseStatus == 'POSTED'" class="btn_COMPLETED">{{ Text['STATUS'][item.ReimburseStatus] }}</button>
                                                                            <button ng-if="item.ReimburseStatus == 'CANCELLED'" class="btn_CANCELLED">{{ Text['STATUS'][item.ReimburseStatus] }}</button>
                                                                            <button ng-if="item.ReimburseStatus != 'COMPLETED' && item.ReimburseStatus != 'CANCELLED' && item.ReimburseStatus != 'POSTED'" class="btn_WAITFORVERIFY">{{ Text['STATUS'][item.ReimburseStatus] }}</button>
                                                                        </td>
                                                                    </tr>

                                                                    <!--กรณีไม่มีข้อมูล History-->
                                                                    <tr ng-show="data.length <= 0 || genDatas(filtered).length == 0">
                                                                        <td colspan="7" style="text-align: center;">{{ Text['SYSTEM']['NO_DATA'] }}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </md-tab>
                                </md-tabs>
                            </div>
                        </md-tab>
                    </md-tabs>

                    <div class="row" style="padding-top: 15px;">
                        <div class="col-sm-12">
                            <ul>
                                <li>
                                    <i ng-if="Text['FLEXIBLEBENEFIT'].USERMANUALSUB1" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                    <a ng-href={{Text['FLEXIBLEBENEFIT'].LINKUSERMANUAL1}} target="_blank" style="text-decoration:underline">{{Text['FLEXIBLEBENEFIT'].USERMANUALSUB1 }}</a>
                                </li>
                                <li>
                                    <i ng-if="Text['FLEXIBLEBENEFIT'].USERMANUALSUB2" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                    <a ng-href={{Text['FLEXIBLEBENEFIT'].LINKUSERMANUAL2}} target="_blank" style="text-decoration:underline">{{Text['FLEXIBLEBENEFIT'].USERMANUALSUB2 }}</a>
                                </li>
                                <li>
                                    <i ng-if="Text['FLEXIBLEBENEFIT'].USERMANUALSUB3" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                    <a ng-href={{Text['FLEXIBLEBENEFIT'].LINKUSERMANUAL3}} target="_blank" style="text-decoration:underline">{{Text['FLEXIBLEBENEFIT'].USERMANUALSUB3 }}</a>
                                </li>
                                <li>
                                    <i ng-if="Text['FLEXIBLEBENEFIT'].USERMANUALSUB4" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                    <a ng-href={{Text['FLEXIBLEBENEFIT'].LINKUSERMANUAL4}} target="_blank" style="text-decoration:underline">{{Text['FLEXIBLEBENEFIT'].USERMANUALSUB4 }}</a>
                                </li>
                                <li>
                                    <i ng-if="Text['FLEXIBLEBENEFIT'].USERMANUALSUB5" class="fal fa-file-pdf" aria-hidden="true" style=" color: #289efe; margin-right: 14px; font-size: 25px;"></i>
                                    <a ng-href={{Text['FLEXIBLEBENEFIT'].LINKUSERMANUAL5}} target="_blank" style="text-decoration:underline">{{Text['FLEXIBLEBENEFIT'].USERMANUALSUB5 }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>