﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CreditCardReport.aspx.cs" Inherits="iSSWS.WebForms.CreditCardReport" %>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>รายงานบัตรเครดิตรายเดือน</title>
     <style>
        @media screen and (-webkit-min-device-pixel-ratio:0) { 
            html, body {
                overflow-x: hidden;
                overflow-y: hidden;
            }
        }
    </style>
</head>
<body>
     <input type="button" id="btnClose" value="Close" onclick="window.close();" />
    <form id="form1" runat="server">
        <div>
            <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
            <rsweb:ReportViewer ID="ReportViewer1" runat="server" Width="100%" Height="100%"></rsweb:ReportViewer>
        </div>
    </form>
</body>
</html>
