﻿<div ng-controller="ReportOMViewerController">

    <div class="row contentBody forheight">
        <!--<div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll wrapper longPage  d-clame paper ">-->

        <div class="itemlist">
            <form class="row" name="main_form">
                <div class="row itemlist">
                    <div class="col-md-12" id="request_box_5">
                        <div class="bar-content">
                            <div class="row bar_title">
                                <div class="col-md-12">
                                    <div class="bar_left bar_left_single_line">
                                        <div class="bar_left-title ng-binding">
                                            {{Text[Textcategory].REMARK}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <md-input-container class="md-block">
                            <textarea ng-model="document.Additional.Remark" name="Remark" rows="3" readonly></textarea>
                        </md-input-container>
                    </div>
                </div>
            </form>
        </div>

        <!-- itemlist_block -->
        <div class="bar_bottom">
            <div class="organization_block" ng-repeat="org in document.Additional.OrgStructureSnapshot">
                <div class="card">
                    <div class="card-body">
                        <div class="row ag-align-center m-0">
                            <div class="col-lg-3 text-center">
                                <img src="{{org.ImageUrl}}" />
                            </div>
                            <div class="col-lg-9">
                                <h2>{{org.Manager_ID}} {{org.Manager_Name}}</h2>
                                <div class="row p-0 m-0  ag-align-center">
                                    <div class="col-lg-2 p-0 m-0">
                                        <span>{{Text['SYSTEM']['ACTIONPOSITION']}} : </span>
                                    </div>
                                    <div class="col-lg-10 p-0 m-0">
                                        <p>{{org.Manager_PositionName}}</p>
                                    </div>
                                </div>
                                <div class="row p-0 m-0  ag-align-center">
                                    <div class="col-lg-2 p-0 m-0">
                                        <span>{{Text['SYSTEM']['ORGANIZATION']}} : </span>
                                    </div>
                                    <div class="col-lg-10 p-0 m-0">
                                        <p>{{org.OrgUnitName}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="-pad10"></div>
        <!--</div>-->
    </div>

</div>