﻿<div ng-controller="ReportOMEditorController" class="padding-breadcrumb" style="background:#e6e6e6;">
    <div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">สายบังคับบัญชา</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row contentBody forheight leaveBlock_detail leavedetail" aria-hidden="false" style="padding: 0px 10px 10px 10px;">
        <div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">
            <div class="row contentBody forheight">
                <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll wrapper longPage  d-clame " style="padding-top:10px !important">

                <div class="itemlist">
                    <form class="row" name="main_form">
                        <div class="row itemlist">
                            <div class="col-md-12" id="request_box_5">
                                    <md-input-container class="md-block" style="margin:0 !important">
                                    <label>{{Text[Textcategory].REMARK}}</label>
                                    <textarea ng-model="document.Additional.Remark" name="Remark" rows="5" md-select-on-focus required></textarea>
                                    <div ng-messages="main_form.Remark.$error">
                                        <div ng-message="required">{{Text[Textcategory].Required_Remark}}</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- itemlist_block -->
                <div class="bar_bottom">
                    <!-- bar_bottom-expandlist -->
                    <!--<div ng-repeat="org in document.Additional.OrgStructureSnapshot">
                        <div class="bar_bottomlist">
                            <div class="bar_bottom-status">
                                <div class="bar_statusword">
                                    <a style="cursor:default;" ng-class="{'add-padding':$index==0}"><span ng-class="{'icon-arrow_tail_up':$index!=0}" ng-hide="org.IsMaximum"></span>{{org.Manager_ID}}:{{org.Manager_Name}}</a>
                                </div>
                            </div>
                            <div>
                                <div class="ag-flex-row ag-align-center" style="    padding-top: 1rem; padding-bottom: 1rem;">
                                    <div style="border-radius: 50%; height: 60px; width: 60px; overflow: hidden; border-radius: 50%;">
                                        <img src="{{org.ImageUrl}}" style=" height: 100%;  width: 100%;" />
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-12 ">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-5">
                                                <span class="span_name">
                                                    {{Text['SYSTEM']['ACTIONBY']}}
                                                </span>
                                            </div>
                                            <div class="col-lg-10 col-md-9 col-sm-10 col-xs-7">{{org.Manager_ID}}:{{org.Manager_Name}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-5">
                                                <span class="span_name">
                                                    {{Text['SYSTEM']['ACTIONPOSITION']}}
                                                </span>
                                            </div>
                                            <div class="col-lg-10 col-md-9 col-sm-10 col-xs-7">{{org.Manager_PositionID}}:{{org.Manager_PositionName}}</div>
                                        </div>
                                        <div class="row" ng-if="employeeData.IsViewEmployeeLevel">
                                            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-5">
                                                <span class="span_name">
                                                    {{Text['SYSTEM']['BRANDNO']}}
                                                </span>
                                            </div>
                                            <div class="col-lg-10 col-md-9 col-sm-10 col-xs-7">
                                                {{org.Manager_EmpSubgroup}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="organization_block" ng-repeat="org in document.Additional.OrgStructureSnapshot">
                        <div class="card">
                            <div class="card-body">
                                <div class="row ag-align-center m-0">
                                    <div class="col-lg-3 text-center">
                                        <img src="{{org.ImageUrl}}" />
                                    </div>
                                    <div class="col-lg-9">
                                        <h2>{{org.Manager_ID}} {{org.Manager_Name}}</h2>
                                        <div class="row p-0 m-0  ag-align-center">
                                            <div class="col-lg-2 p-0 m-0">
                                                <span>{{Text['SYSTEM']['ACTIONPOSITION']}} : </span>
                                            </div>
                                            <div class="col-lg-10 p-0 m-0">
                                                <p>{{org.Manager_PositionName}}</p>
                                            </div>
                                        </div>
                                        <div class="row p-0 m-0  ag-align-center">
                                            <div class="col-lg-2 p-0 m-0">
                                                <span>{{Text['SYSTEM']['ORGANIZATION']}} : </span>
                                            </div>
                                            <div class="col-lg-10 p-0 m-0">
                                                <p>{{org.OrgUnitName}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- bar_bottomlist -->
                </div>
                <div class="-pad10"></div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .add-padding {
            padding-left: 35px !important;
        }

        .mainBlock .contentBody .contentBodyin {
            padding-top: 1.5rem;
            margin-top: 25px;
        }
    </style>
</div>